[2021-03-31 08:48] #2397 closed

[2021-03-31 08:53] wuwangben commented on #2397
tks

[2021-04-01 00:54] junsionzhang commented on #2357
@pvary  thank you so much and I will try again.

[2021-04-01 05:53] zhangwcoder opened #2404 "Too many small files when use flink stream writer to Iceberg"
### There are too many  small files in my flink steam job to iceberg with hive table ,  and most of them are empty  .
I set the checkpoint interval to 3 seconds ,  this means  empty files will created every 3 seconds, even no data is writen.

`StreamExecutionEnvironment env = StreamExecutionEnvironment.getExecutionEnvironment();
        env.getConfig().setGlobalJobParameters(parameterTool);

[2021-04-01 09:55] chenjunjiedada opened #2405 "NPE when reading metadata for manifests."
When using Spark3SQL to read manifests, it throws NPE exception. The stack is：
Caused by: java.lang.NullPointerException
	at org.apache.iceberg.spark.source.StructInternalRow.getBoolean(StructInternalRow.java:109)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$SpecificUnsafeProjection.apply(Unknown Source)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflec

[2021-04-01 11:38] dixingxing0 commented on #2404
There is a PR for fixing the empty commits as you met: https://github.com/apache/iceberg/pull/2042

[2021-04-01 23:39] jackye1995 commented on #2168
This is a part of the effort to move to AWS SDK v2.

There are users who only need individual AWS dependencies to minimize dependency size, that's why we chose this approach. If you don't care about the jar size, you can just use the aws bundle. More details are described in the PR I created.

[2021-04-02 03:40] silvermissile commented on #2277
yeah , I meet the same situation:

[code]

[2021-04-02 07:09] zhangwcoder opened #2409 "Flink cdc events with update or delete doesn't work in 0.11.0 branch"
Hi ,  i really need the  feature which could  write  CDC event to the iceberg table。 I see the feature has completed in the branch 0.11.0 ，and i try this today ， but this feature dos not works 。

First insert a record that Id = 1， and then use sql ”update tableA set xx = xxx where id = 1“ to update the record in mysql .

This CDC event is fetched by my flink stream job and transform it to a RowDat

[2021-04-02 10:02] openinx commented on #2409
@zhangwcoder ,  you may want to read this document here : https://github.com/apache/iceberg/pull/2410

[2021-04-03 15:22] RussellSpitzer commented on #2405
Do you have any more info on the repo for this?

[2021-04-04 17:37] chenjunjiedada commented on #2405
Thanks @RussellSpitzer to take care! It happens at the customer's table. I opened the issue to remind myself as I was busy. Let me inspect what's happened!

[2021-04-05 15:14] sebbASF opened #2413 "Please tidy up Incubator resources"
The following Incubator resources should now be removed please:

https://dist.apache.org/repos/dist/dev/incubator/iceberg/
https://dist.apache.org/repos/dist/release/incubator/iceberg/

[2021-04-05 15:19] sebbASF opened #2414 "Please remove old releases"
To reduce the load on the ASF mirrors, projects are required to delete old releases [1]

Please can you remove all non-current releases?

i.e.
https://dist.apache.org/repos/dist/release/iceberg/apache-iceberg-0.9.1/
https://dist.apache.org/repos/dist/release/iceberg/apache-iceberg-0.10.0/
https://dist.apache.org/repos/dist/release/iceberg/apache-iceberg-0.11.0/

It's unfair to expect the 3rd party

[2021-04-05 22:33] SreeramGarlapati commented on #644
@aokolnychyi @rdblue @rdsr - would you folks know - if there is a plan or any ongoing discussion on natively support Views in [Iceberg Table Spec](https://iceberg.apache.org/spec/)?

[2021-04-06 00:35] flyrain commented on #2382
Hit the same issue. Hi @pan3793, are we going to revert #2331 anytime soon?

[2021-04-06 00:39] flyrain commented on #2382
Or use the unshaded version of `CharStreams` in the following code if we keep shading Antlr4
[code]

[2021-04-06 01:46] pan3793 commented on #2382
@flyrain Are you planning to write IT for runtime jar modules? I thought that some Committer or PMC will revert the bad commit. Should I raise a revert PR?

[2021-04-06 01:47] flyrain commented on #2382
I think we should copy class `UpperCaseCharStream` from Spark to Iceberg rather than reverting #2331. In that way, we can still shade antlr4 runtime, which isolates antlr4 dependency for Iceberg. Using the same version of antlr4 from Spark may cause problem in the future.

[2021-04-06 01:54] pan3793 commented on #2382
It's not such a simple thing. `UpperCaseCharStream` is one of the issues I hit, and after a fast glance, I found another one. It like a Whac-a-Mole game.

So the safe solution I think is build a IT for the runtime jar modules rather than do manual test again and again.

[2021-04-06 02:05] junsionzhang opened #2422 "errors when creating catalog and tables"
I. versions:
 hadoop(cluster): 2.9.2
 hive:2.3.6
 flink(standalone cluster): 1.12.2
II.steps
1.add jars to flink and hive
apache-hive-2.3.6-bin/lib/iceberg-hive-runtime-0.11.1.jar
flink-1.12.2/lib/iceberg-flink-runtime-0.11.1.jar

add variables to bin/config.sh
export HADOOP_CLASSPATH=$(/opt/hadoop/bin/hadoop classpath)
export HADOOP_CONF_DIR=/opt/hadoop/etc/hadoop

2.run ./bin/sql-client.sh embed

[2021-04-06 02:49] RussellSpitzer commented on #2382
So is the issue here that because we extend Spark's Parser we end up shading Spark's internal references to Antlr Runtime code which causes our issues.

If this is the case I think we should drop the runtime reference altogether, although I really dislike it when library code depends on a transitive of another library.

Another option is to mark the Antlr-runtime version as "Strictly" so that we a

[2021-04-06 03:41] pan3793 commented on #2382
agree with that. but we need IT(or something else, maybe gradle has such plugins) to enforce it rather than manual check.

Spark 3.1.1 upgraded antlr4

[2021-04-06 03:52] aokolnychyi opened #2423 "Why createParquetAsIceberg is true in IcebergSource?"
I am wondering why `parquet-enabled` is true when we set up a default Iceberg catalog in `IcebergSource`. That's a different default value than what we usually use. Any particular reason?

[2021-04-06 03:52] aokolnychyi commented on #2423
cc @rdblue @rymurr

[2021-04-06 04:05] aokolnychyi opened #2424 "Consider deprecating updating table state through ALTER TABLE ... SET TBLPROPERTIES"
I'd consider deprecating and then removing support for changing the table location, current snapshot id, etc through ALTER TABLE ... SET TBLPROPERTIES. We have procedures/commands for most operations now. If missing, let's add more.

[2021-04-06 06:32] openinx commented on #2422
This is because we are using the jar that was compiled in flink 1.11.x to run in flink 1.12 cluster.  I will suggest building a new  iceberg-flink-runtime jar from apache iceberg master branch to submit your flink jobs (Because we've upgraded the flink version in iceberg master branch, pls see [here](https://github.com/apache/iceberg/pull/1956/files#diff-0ae3022739b9b55183c9aa972fadb7cdb9cb3956468

[2021-04-06 06:33] #2422 closed

[2021-04-06 07:17] junsionzhang commented on #2422
hey，@openinx  thank you ,I will try it now.

[2021-04-06 12:03] rymurr commented on #2423
Hey @aokolnychyi, from my reading that is an oversight/copy-paste error. I personally think it should be removed.

It appears that the parameter goes unused by default correct? The `IcebergSource` sets up the default_iceberg catalog as a `SparkCatalog` with that parameter set and `SparkCatalog` doesn't use it. It could have strange effects if the default catalog was switched to a session catalog t

[2021-04-06 14:23] junsionzhang commented on #2357
the hive-site.xml is as follows:
<property>
    <name>iceberg.mr.catalog</name>
    <value>hive</value>
  </property>
  <property>
    <name>iceberg.engine.hive.enabled</name>
    <value>true</value>
  </property>
when  both iceberg.mr.catalog and iceberg.engine.hive.enabled  can be confirm  in the hive command shell. but it still does not work, the formatted values are still not right:

# Storage

[2021-04-06 15:16] junsionzhang commented on #2357
by the way , I am really puzzled by the offical website https://iceberg.apache.org/flink/#create-table,
can I use the ordinary sql to  create the iceberg table ? how can i verify it ?

[2021-04-06 16:43] flyrain commented on #2382
Yeah, by looking at more code, reverting it is more practical. I like the fail-fast approach, but checking the antlr-runtime version is not feasible since we want a unified iceberg runtime version for all Spark 3.x, and Spark3.1.1 has changed antlr4 as @pan3793 mentioned.

Yes, integration test or something similar is necessary. This issue should be considered as a blocker since every customized i

[2021-04-06 16:44] RussellSpitzer opened #2425 "Migrate table's "Rename to backup" may cause datafile movement"
In Spark3 we've observed that doing a table rename can also move files if the table is a "managed" table. This means a migrated table will have all its files moved to the backup directory before the new migrated table is created.

I'm not sure we can avoid this while still keeping the same logic we have in the migrate code. Something to think about or possibly warn users about?

Example

[code]

T

[2021-04-06 21:21] aokolnychyi commented on #2423
I don't think it causes any issues right now but I think we should remove it to avoid any surprises in the future.

[2021-04-06 21:21] aokolnychyi commented on #2414
cc @rdblue @danielcweeks @omalley

[2021-04-06 21:22] aokolnychyi commented on #2413
cc @rdblue @danielcweeks @omalley

[2021-04-06 21:29] rdblue commented on #2413
I'll take a look at this.

[2021-04-06 21:31] aokolnychyi commented on #2413
Thanks, @rdblue!

[2021-04-06 22:36] rdblue commented on #2413
Removed. Thanks for letting us know about this, @sebbASF.

[2021-04-06 22:39] sebbASF commented on #2413
Thanks for dealing with this so promptly.

[2021-04-06 22:39] #2413 closed

[2021-04-06 22:43] rdblue commented on #2414
I removed the old releases. I'll leave this open to track updating the old download locations to reference http://archive.apache.org/dist/iceberg/ and to update our docs to keep the releases clean.

[2021-04-06 22:51] sebbASF commented on #2414
Thanks for the prompt attention to this.

[2021-04-06 22:52] aokolnychyi commented on #2382
I took a look as well. The only place we interact with antlr4 from Spark is in `IcebergSparkSqlExtensionsParser#parse`.

Our `IcebergSqlExtensionsPostProcessor` is actually a copy of `PostProcessor` in Spark. We thought that is sufficient but it looks like not if we are shading. If I am correct and that's the only place we interact with antlr4 from Spark, the number of classes we should copy shoul

[2021-04-06 22:53] aokolnychyi commented on #2382
If it is a matter of copying a few classes to make shading work, I think we should do that. If not, let's revert the shading PR.

[2021-04-06 23:51] aokolnychyi commented on #2425
What are our options here? Shall we prohibit migrating managed tables?

[2021-04-07 02:26] pan3793 commented on #2382
Agreed with @aokolnychyi analysis, we should redefine `UpperCaseCharStream`, `ParseErrorListener`, `ParseException` in Iceberg. And if we done that, the shading should work, it's better to do it after #2428 get in.

[2021-04-07 03:12] chenjunjiedada opened #2429 "update build.gradle to support gradle 7.0"
`compile` `runtime` `testCompile` and `testRuntime` are deprecated since gradle 4.1.0.  These will be finally removed in gradle 7.0.  We need to replace them with `implementation`, `runtimeOnly`, `testImplemenetion`, and `testRuntimeOnly`.

@aokolnychyi @RussellSpitzer. Gradle start to support Apple M1 from 7.0. Do you guys use Mac Pro m1? :)

[2021-04-07 03:13] RussellSpitzer commented on #2429
I can neither confirm nor deny the existence of Apple computers.

[2021-04-07 03:20] chenjunjiedada commented on #2429
I got one and are running `gradle builld` now.

[2021-04-07 03:21] RussellSpitzer commented on #2429
I think it's a great idea to update, I find compile and runtime a bit confusing about really describing what's going on

[2021-04-07 04:02] aokolnychyi commented on #2316
Fixed by #2421.

[2021-04-07 04:02] #2316 closed

[2021-04-07 07:51] pvary commented on #2357
I think your issue is more Flink related than Hive related. Somehow we should find out how to enable this property when the table is created throuh Flink.

As for your second question: Yes, you can create Hive tables backed by an Iceberg table using Hive sql DDL. There are some examples on the url above.

[2021-04-07 08:13] dixingxing0 commented on #2359
I've met the similar error before, may be https://github.com/apache/iceberg/pull/2075 could help you.

[2021-04-07 10:07] szehon-ho commented on #2424
Is there any procedure to change table location (pretty useful)?  Could not find it so far in spark-procedure.md doc: https://github.com/apache/iceberg/blob/90225d6c9413016d611e2ce5eff37db1bc1b4fc5/site/docs/spark-procedures.md

[2021-04-07 11:38] NageshB82 commented on #2302
@RussellSpitzer We have tried this same steps on High end machine where its 16 core machine, here as well are not seeing much time difference bit 1 0r 2 seconds less than previous setup, Like you are pointing perhaps spark provide the parallelism but with iceberg its not, so we tried created one 1 file in iceberg table and tried to fetch it though thrift service so its just taking 2-3 seconds but

[2021-04-07 12:03] RussellSpitzer commented on #2302
It's not the processors, but the file system I'm worried about. Getting a speed of about 1-10 seconds per megabyte on read is quite slow. The test with The parquet reader was for us to see how fast a non Iceberg reader could access the filesystem and parallelism aside, the access was still quite slow basically at the same speed as iceberg.

[2021-04-07 14:51] szehon-ho opened #2435 "RepairManifestsAction"
A while ago @aokolnychyi had suggested a new action "RepairManifestsAction", and I wanted to discuss prior to starting to look at it.

The initial idea is an action that reads DataFiles and uses it to repair Iceberg table manifests.  An example usage would be after a metadata bug fix, such as   #1980 (file size incorrect in manifest file)

So one proposal is to have a RepairManifestsAction with th

[2021-04-07 15:15] RussellSpitzer commented on #2435
The last one there "removeDeletedFiles" is the most dangerous imho, but I think this is a pretty good setup.

Although with the new Action API it probably just makes sense to have all the "withX" as "options" defaulted to true except for removeDeletedFiles. I'm also not sure if fixing rowcount and metrics seperately really needs to be a thing.

[2021-04-07 15:37] szehon-ho commented on #2435
Thanks Russell for looking, yea I have not yet looked at the Actions API, that sounds great then.  Yea I agree, maybe rowcount can be just treated along with metrics as both require opening the file anyway, something like 'fullMode(boolean)'.

[2021-04-07 15:58] szehon-ho commented on #2424
Looked through the latest code and didn't find it unless I missed it.  If nobody is working on it, I can take a look to add 'update_location' procedure (and maybe update_properties) to familiar myself with this code?

[2021-04-07 17:47] #2423 closed

[2021-04-07 21:25] RussellSpitzer opened #2436 "Multitiple Partitions Transforms derived from the same Field No Longer Supported"
I believe #2061 while attempting to reject Identity partitions which are derived from the same column, also rejects other transforms based on the same field.

For example

[code]

[code]

 The issue being that
 https://github.com/apache/iceberg/blob/c0e5ec6943de0835f119d1d06ea732709328f1cd/api/src/main/java/org/apache/iceberg/PartitionSpec.java#L359-L363

 Adds all fields to "dedupe" keys instead

[2021-04-07 21:37] RussellSpitzer commented on #2436
I think I misunderstood the history here ... I'm going to think on this some more

[2021-04-07 21:37] #2436 closed

[2021-04-08 00:05] RussellSpitzer opened #2439 "Report Manifest/Metadata Files created During Migrate/Snapshot"
As discussed
https://github.com/apache/iceberg/pull/2437/files#r609137045

@flyrain

[2021-04-08 00:13] flyrain commented on #2439
Thanks @RussellSpitzer. I'll take a look.

[2021-04-08 03:07] RussellSpitzer commented on #2425
I think we could do that, or at least warn? Say if you would like to make this an iceberg table, please set a distinct location first. I'm not sure if you can do that though, I'll have to test in Spark3 to see

[2021-04-08 03:11] RussellSpitzer commented on #2435
https://github.com/apache/iceberg/blob/27eaa796530f56eb99d111e6110be3e1a6eb99e7/api/src/main/java/org/apache/iceberg/actions/Action.java#L30

This is the new api so it has a built in "option" and "options" that you can use for seldom changed or rarely changed things. I think in this case most of the time users will want to repair metrics and files-sizes (if they are broken) and deleted files in ex

[2021-04-08 03:13] RussellSpitzer commented on #2435
Another thing, I wonder if this fits into "rewrite manifests" as an action? I should think that through a bit more but maybe this works as an option for rewriting manfiests since that action already will be rewriting this information. Currently it just does so blindly though without checking if the underlying files are still there or if the metadata is correct ... I believe :)

[2021-04-08 03:53] duydb81 opened #2440 "TableProperties 'write.format.default' not correct."
Hi,

I'm new to Iceberg and when I'm testing it I got this error when inserting into Iceberg table from Hue/Hive:

![image](https://user-images.githubusercontent.com/82132798/113965481-a6073900-9857-11eb-892f-7a2d92fb64ac.png)

I think there is a mistake here, because if I do not specify 'write.format.default' then it cannot get the default format, should it be 'PARQUET' (in capital letters) inste

[2021-04-08 05:44] pvary commented on #2440
Hmm.. we might only need to capitalize the config values.
We should check how it is done in other places...

[2021-04-08 09:08] marton-bod commented on #2440
Thanks @duybd81 for flagging this! I think capitalization of the default value should solve this. I also think it would be logical to capitalize it given that it's transformed into a `FileFormat` in almost all cases and therefore has to be capitalized throughout most of the codebase anyway prior to passing it in.

I've run the whole test suite with the change and the only test that failed was `org

[2021-04-08 15:28] szehon-ho commented on #2435
Yea I can see how it is similar.  Yea for sure the rewrite manifest does not do any reading of the data-files to check if they are write, so I guess these could be kind of a pre-processing step to make a correct manifest file before rewriting them.

There might be some confusing configs if we put the two together, for instance RewriteManifests has predicates <ManifestFile>  whereas RepairManifests

[2021-04-08 17:20] rdblue commented on #644
I think it would be great to support views of some kind in Iceberg catalogs. We do that in our internal branch. That said, it is a bit tangental to the goals of the Iceberg project itself so I'd want to make sure the broader community is interested.

Also, @jzhuge is leading the way to add a `ViewCatalog` interface to Spark to support this sort of thing. We'd need that in order to use these from S

[2021-04-08 18:40] jzhuge commented on #644
Yeah, we have an internal "common view" design that supports both Spark and Presto. The common view metadata format and implementation borrow heavily from Iceberg, including schema, data type, manifest, snapshot, isolation, etc. If the community is interested, we will be happy to contribute it to the Iceberg project.

In Spark, our Iceberg catalog serves as TableCatalog, ViewCatalog ([Spark SPIP](

[2021-04-08 22:10] yeshvant-bhavnasi commented on #2373
We can use the `RewriteManifest` api on spark which will use the rotated kms master key.

[2021-04-09 02:09] junsionzhang opened #2442 "cannot insert value in hive command shell"
After creating  iceberg in hive command shell successfully , there are errors when I try to insert values in hive shell. it seems the yarn lacks jar. what is the jar name and where should it be put?
[code]

[2021-04-09 02:47] RussellSpitzer commented on #2442
From the docs

[code]

https://iceberg.apache.org/hive/

Runtime jars can be pulled from [maven](https://mvnrepository.com/artifact/org.apache.iceberg/iceberg-hive-runtime/0.11.1) if you like or built locally

[2021-04-09 03:08] junsionzhang commented on #2442
I have already add the jar in directory  $HIVE_HOME/lib ,but question still exist.

[2021-04-09 03:17] wg1026688210 opened #2445 "What is the meaning of `delete_rows_count` and `delete_data_count_file ` at manifest"
I am  confused about `delete_rows_count` and `delete_data_count_file` . It seem not associated with `table format v2`  when I write a unit to test my guess .
[code]

I found it work when  merge and remove snapshot , and it is added together when ManifestEntry status id deleted at ```ManifestWriter``` .
What 's the real semantics  of `delete_rows_count` and `delete_data_count_file` in design .
And

[2021-04-09 03:18] RussellSpitzer commented on #2442
So you added the runtime jar to your hive home lib dir? Are you sure you added the jar there correctly and it is the same checksum as in the link I pasted? If so you could always turn on debugging in your Hive bin script by adding "set -x" to the beginning of it and see what Classpath it's building to make sure.

[2021-04-09 03:22] RussellSpitzer commented on #2442
You also may want to add the jar to "auxlib", from the hive script it says serdes should be place there although It is just append to the classpath so I think the lib directory should also work unless there is runtime classloader magic.

[2021-04-09 03:32] junsionzhang commented on #2442
thank you @RussellSpitzer,
when  I create table XXX in flink client and run "describe formatted XXX" in hive shell, I can see the table XXX there but the information  is  wrong :
# Storage Information
SerDe Library:      	org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe
InputFormat:        	org.apache.hadoop.mapred.FileInputFormat
OutputFormat:       	org.apache.hadoop.mapred.FileOutputFormat

[2021-04-09 03:40] junsionzhang commented on #2442
I can see it :
/opt/jdk/bin/java -Xmx256m -Djava.net.preferIPv4Stack=true -Dhadoop.log.dir=/opt/hadoop-2.9.2/logs -Dhadoop.log.file=hadoop.log -Dhadoop.home.dir=/opt/hadoop-2.9.2 -Dhadoop.id.str=root -Dhadoop.root.logger=INFO,console -Djava.library.path=/opt/hadoop-2.9.2/lib/native -Dhadoop.policy.file=hadoop-policy.xml -Djava.net.preferIPv4Stack=true -Dproc_hivecli -Dlog4j.configurationFile=hive-

[2021-04-09 03:49] RussellSpitzer commented on #2442
Tables created by other systems as "hive" and not "hadoop" tables have a bit more setup

[code]

[2021-04-09 05:09] pvary commented on #2442
As a first try I would stick to the `add jar ...` solution. Hive has plenty of moving parts and it could be painful to add jars on other ways. OTOH `add jar ...`  should be working so I would stick to that and when that works then I would move forward and try the classpath stuff which is usually deployment dependent.

The other issue, where the table created through Flink does not have the correct

[2021-04-09 07:17] aokolnychyi opened #2446 "Move site-related things to a separate repo"
We should move site-related things to a separate repo to avoid indexing all those files in our IDEs as discussed in #2426.

cc @openinx @rdblue @RussellSpitzer @rymurr

[2021-04-09 09:49] szehon-ho commented on #2424
Talked offline, i guess its more to do with snapshot, already supported by procedure.  location can be changed via ALTER TABLE SET LOCATION

[2021-04-09 10:18] ddsr-ops opened #2447 "Spark: can not read rows inserted by flink-sql in spark-sql"
# environment:
hadoop version: Hadoop 3.0.0-cdh6.2.1
hive version: 2.3.7
spark version: spark 3.0.1
flink version: flink 1.11.3
iceberg: 0.11.0

# steps:

1. create a iceberg in spark-sql

`./spark-sql --packages org.apache.iceberg:iceberg-spark3-runtime:0.11.0     --conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions     --conf spark.sql.catalog.hadoop_cata

[2021-04-09 11:27] rymurr commented on #2446
I am happy to take a look at this.

I guess the approach would be:

- [ ]  get ASF to make a new repo for us, say `iceberg-site` , copying from https://github.com/apache/arrow-site
- [ ] move the `site` subdirectory there
- [ ] build and publish to `asf-site` branch
- [ ]  get ASF to point to new repo for main site?
- [ ] celebrate

[2021-04-09 12:08] RussellSpitzer commented on #2447
Spark uses a caching catalog to prevent the client from using the same table multiple times in the same query and getting different results. The catalog only updates the pointer when Spark is the framework that modifies the table. If you want the latest data as changed by another framework you can use 'refresh table' to update the table reference.

[2021-04-09 22:37] RussellSpitzer opened #2453 "[Spark] Dropping Partition Field Breaks Describe Table"
[code]
    Builds the following partition Specs

![image](https://user-images.githubusercontent.com/413025/114247079-de8f3b80-9959-11eb-933f-36da18b679ee.png)

  The void transforms are not compatible with our describe code and throws an UnsupportedOperationException

Because we describe using this transformer https://github.com/apache/iceberg/blob/ab6a5e9ebf2f580fb7be21fb00f1f543726f43eb/api/src/

[2021-04-09 22:39] aokolnychyi commented on #2453
Dropping a partition field just makes it use `void` transforms?

[2021-04-09 22:43] RussellSpitzer commented on #2453
@jun-he Could you please take a look? Just trying to figure out what the right fix is here.

[2021-04-10 20:04] jun-he commented on #2453
@RussellSpitzer  I will take a look. BTW, is this v1 or v2 table?

[2021-04-10 20:15] RussellSpitzer commented on #2453
I believe so, I didn't do anything special I actually just was going through our Doc's as I was writing general integration tests, so it's just a bunch of Spark SQL run in sequence.

[2021-04-10 21:16] jun-he commented on #2453
👌  the void partition field is used as a placeholder to reserve the partition field id for the dropped partition so that future spec evolutions won't reuse it. A quick fix is to skip void transform at https://github.com/apache/iceberg/blob/ab6a5e9ebf2f580fb7be21fb00f1f543726f43eb/api/src/main/java/org/apache/iceberg/transforms/PartitionSpecVisitor.java#L120

[2021-04-10 21:56] ashwini-tgam opened #2455 "Class not found error when use sink"
While building in local I am trying to build sink data from kinesis to iceberg table till the stream is working fine while sink I see this error as class not found in scala flink job:

Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/flink/table/runtime/typeutils/RowDataTypeInfo
	at io.sophi.platform.realtime.snowplow.enrich.bad.archiver.Job$.main(Job.scala:129)
	at io.sophi.p

[2021-04-11 13:58] ddsr-ops commented on #2447
@RussellSpitzer it works, thank you.

[2021-04-11 13:58] #2447 closed

[2021-04-11 15:32] bgt-cdedels opened #2456 "Cannot write nullable values to non-null column"
In my spark jobs I am reading from JSON and merging to iceberg.  In my iceberg tables I would like to have NOT NULL constraints.  However, when loading data from JSON, spark doesn't enforce the schema nullability constraints.  To work around this I have discovered two alternatives:

[code]
or
[code]

The first option is very slow, adding 40-60 minutes to the processing time of my spark application

[2021-04-12 07:16] openinx commented on #2455
@ashwini-tgam   The `RowDataTypeInfo` is a class that comes from flink 1.11,  in flink 1.12 the class was refactored to `InternalTypeInfo` (See https://github.com/apache/iceberg/pull/1956/files#diff-752b41f006e879a05750f3723df689214cdd629d8d9f48af76ed9f99c38d49b2R38).  So I think you are using flink-runtime jar that was compiled from flink 1.11 and then run the flink streaming job under flink 1.12

[2021-04-12 07:31] openinx commented on #2446
@rymurr , that's the exactly approach to address this issue !

[2021-04-12 08:15] openinx opened #2457 "Failed to build the apache iceberg master branch."
When I build the latest master branch,  I encountered the following error:

[code]

Looks like this was introduced from this PR (https://github.com/apache/iceberg/pull/2129/files#diff-c183ea3aa154c2a5012f87d7a06dba3cff3f27975384e9fb4040fe6850a98bd6R194).

[2021-04-12 09:39] rymurr commented on #2457
FYI @lcspinter @pvary

[2021-04-12 10:15] openinx commented on #2404
Closed this via https://github.com/apache/iceberg/pull/2042

[2021-04-12 10:16] #2404 closed

[2021-04-12 16:34] snazy opened #2462 "Build fails due to inaccessible palantir dependencies"
Build is failing with this message:
[code]

Just changing `http` to `https` doesn't change anything.

Bumping to `com.palantir.baseline:gradle-baseline-java:3.76.0` helps a little, but unfortunately, there's still one dependency missing:
[code]
(Note: it seems, that the `repositories` block in `build.gradle` can be safely removed.)

Seems that all Palantir artifacts are only published to bintray a

[2021-04-12 16:39] snazy commented on #2462
Hum - trying to build `palantir-java-format` locally fails with similar errors due to bintray returning HTTP/403 for everything.

[2021-04-12 16:58] rdblue commented on #2462
Long term, we should probably remove the baseline plugins and not rely on Palantir. Hopefully we can get something working without doing all that work to unblock commits, though.

[2021-04-13 05:06] aokolnychyi commented on #2446
Sounds like a solid plan!

[2021-04-13 07:23] qq564567484 opened #2468 "master branch - flink sql create hive catalog error"
I build a jar file from master branch.
when i create a hive catalog on flink sql client ,it comes a problem.

**the SQL is :**
[code]

**error info:**
[code]

but  when i'm using  iceberg-flink-runtime-0.11.1.jar . it‘s  seems ok.
could you tell me how to fix this.

[2021-04-13 07:38] dijiekstra opened #2469 "How do I fetch the latest ROADMAP"
I want to know the latest ROADMAP, where can I get it

[2021-04-13 08:17] openinx commented on #2468
That sounds unreasonable because apparently the `org.apache.iceberg.hive.HiveCatalog` has implemented the `org.apache.iceberg.catalog.Catalog` interface in master branch, see https://github.com/apache/iceberg/blob/988a33cb58981c3fabb221f6b49ed9dd176c9abd/hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java#L60.

Is there any thing wrong ?

[2021-04-13 08:38] rymurr commented on #2462
It looks like this was an intentional outage to test if everyone is moving off bintray: https://status.bintray.com/incidents/4mzph0y8l6hk?u=sqw9s2pztxql

I suppose we can close #2463 for now and we have until the 26th of April to find a permanent solution?

Anyone have any idea of when Palantir will be moving their packages to gradle plugins (some are already there) or should we try and remove bas

[2021-04-13 10:29] dixingxing0 opened #2470 "NPE while closing OrcFileAppender"
We've met a NullPointerException in our flink job, has anyone met this before?

It seems like `rawWriter` is null which means `close` method was already invoked:
https://github.com/apache/orc/blob/22828f79a526069d9629719c9476b7addad91ae6/java/core/src/java/org/apache/orc/impl/PhysicalFsWriter.java#L416

https://github.com/apache/orc/blob/22828f79a526069d9629719c9476b7addad91ae6/java/core/src/java/

[2021-04-13 11:03] snazy commented on #2462
Def. need a new HTTP 5xx status code "Intentional Brownout"

[2021-04-13 12:07] openinx commented on #2470
In this line, we will reset the `currentWriter` to be null after closed the `currentWriter`.  So in theory we won't close the `currentWriter` in apache iceberg layer.  Is possible that the Orc writer did some logics to close the writer ?  Or are there any approached to reproduce this bug ?

[2021-04-13 13:13] dixingxing0 opened #2471 "NPE while processing data in flink job"
I've met this error while writing record in flink job ( `writer.write(element.getValue());` )
and my logs show `element.getValue()` is literally not null.

[code]

[2021-04-13 13:16] dixingxing0 commented on #2470
We can't reproduce this bug now, we've already switched the data format to `parquet`.

[2021-04-14 05:15] wypoon commented on #2462
The bintray temporary outage was to raise awareness that bintray is sunsetting for good. While the outage is over now and builds succeed again, I don't think this issue should be closed unless a new one is opened to find a permanent solution (I haven't seen a new issue for that).

[2021-04-14 07:33] pvary opened #2474 "Hive: Check the increased usage of HMSClients in TestHiveIcebergStorageHandlerWithEngine tests"
In #2448 we found that the number of the used HMSClients are increased above 5, and we exhaust the Metastore threadpool.

We should check if the increase is valid, or we have a leak somewhere.

I have 2 ideas:
- Maybe this was caused by the #2129 where we start to handle / cache the catalogs differently
- Or we added some more queries and Hive creates / caches HMSClients and we might ended up usin

[2021-04-14 08:06] snazy opened #2475 "CI `run-tests (8)` sometimes times out after 6 hours"
From the CI run below, it might be that the JDK8 test runs has issues when the tasks `:iceberg-hive3:test` and `:iceberg-mr:test` run in parallel. Only JDK8 Gradle runs do include `:iceberg-hive3`, which explains why only the JDK8 CI test runs are affected (seen only the JDK8 test runs timing out).

I don't know about the inner workings of both project tests, but I suspect those two projects someh

[2021-04-14 08:13] snazy commented on #2462
I don't mind reopening this issue until the problem's fully solved.

[2021-04-14 08:13] pvary commented on #2475
@snazy: Could it be that it is the same as #2448

[2021-04-14 08:17] snazy commented on #2475
I doubt. 2448 "just" adds timeouts to tests, so they can "fail earlier" instead of running infinitely. But I think, the underlying problem's the same.

[2021-04-14 09:02] pvary commented on #2475
There is a minimal [change](https://github.com/apache/iceberg/pull/2448/files#diff-2da837fbcd9c1789e9c32826e7638ff55c1d8ffb5779017759f51561f35d807cR82) hidden there which might solve the issue:
[code]

The timeout helped to identify why are the tests are waiting.

[2021-04-14 12:18] qidaye opened #2476 "[Site][Doc]Performance pdf url is inaccessible"
https://iceberg.apache.org/performance/

`10x performance improvement` pdf url link is inaccessible.

[2021-04-14 15:56] snazy commented on #2475
Some update on this one:
* #2448 didn't help :(
* Adding `mustRunAfter()` to `build.gradle` for the two suspect `test` tasks mentioned in the description didn't help :(
* Adding `mustRunAfter()` to `build.gradle` for every `test` task (so that at most one `test` task runs at a time) didn't help :(

[2021-04-14 16:10] rymurr commented on #2446
@aokolnychyi could you request the new repo `iceberg-site`? Only PMC can request new repositories.

[2021-04-14 16:11] pvary commented on #2475
Do you have links to runs with #2448?

I would love to see the `test logs` for the tests, and #2448 aims to timeout the test themselves before the github timeout comes. So github can collect the logs for the run.

Thanks,
Peter

[2021-04-14 16:12] snazy commented on #2475
It's on the [commit](https://github.com/apache/iceberg/commit/c3640afadc5af759bee531368c8be16e2a2b7f5d) in master

[2021-04-14 16:16] pvary commented on #2475
So we have to add timeout to the `TestHiveIcebergStorageHandlerWithMultipleCatalogs` as well

[2021-04-14 16:16] snazy commented on #2475
The last run I've seen it got stuck in `:iceberg-hive3:test`

[2021-04-14 16:21] snazy commented on #2475
I'm currently trying to reduce that maxHeapSize setting [here](https://github.com/apache/iceberg/blob/master/build.gradle#L950-L951). Maybe it's hitting the instance limits (2 vCPUs, 6GB vRAM) - I'm just poking around.

[2021-04-14 16:24] pvary commented on #2475
Maybe we should add timeout for all of the `TestHiveIcebergStorageHandler*` tests. The failure on the commit was about the failing `TestHiveIcebergStorageHandlerWithMultipleCatalogs`. For the others I do not see which test is stuck.

Also I have noticed that the annotation based timeout does not override the rule base timeout. So this will still mean that the timeout will happen after 40 sec.
[cod

[2021-04-14 17:14] snazy commented on #2475
[Another run](https://github.com/apache/iceberg/pull/2450/checks?check_run_id=2345407451) with the GitHub-Ubuntu-runner workaround mentioned in #2451

[2021-04-14 18:28] snazy commented on #2475
Aha! So it seems that [this commit](https://github.com/apache/iceberg/pull/2450/commits/2cda7cdc7c4579963becbe6b7c2bb74e5055fc2d) fixed it. I'll setup a PR with just that change.

[2021-04-14 19:34] snazy commented on #2475
Thanks to @lhotari for pointing out the GH-runner issue

[2021-04-14 19:51] #2475 closed

[2021-04-15 11:29] #2476 closed

[2021-04-15 15:14] szehon-ho opened #2481 "Allow snapshotting iceberg table (create new table based on certain Iceberg snapshot)"
Had a use case to experiment on the side with a certain table snapshot (do some modifications), but didn't want to alter the table's history.

I think 'snapshot' command will be very useful here.  We can quickly generate a separate table metadata pointing to the snapshot, instead of copying all the data into a side table for the experiments.

If Iceberg table is source, snapshot procedure can use

[2021-04-15 15:16] szehon-ho commented on #2481
cc @aokolnychyi  for any thoughts, potential issues

[2021-04-15 15:52] szehon-ho commented on #2481
Actually taking a look through the code, this use case can be solved by SnapshotUpdate.stageOnly() flag.

[2021-04-16 02:17] coolderli opened #2482 "Error in writing CDC data with Flink"
I'm using Flink to write CDC data to iceberg， and I'm using the master branch.I came across the following problem.
`
Caused by: org.apache.iceberg.exceptions.ValidationException: Cannot determine history between starting snapshot null and current 8203201752131271868
	at org.apache.iceberg.exceptions.ValidationException.check(ValidationException.java:46)
	at org.apache.iceberg.MergingSnapshotProduc

[2021-04-16 08:20] davseitsev commented on #2122
Related issues: https://github.com/apache/iceberg/issues/2388 and https://github.com/apache/iceberg/issues/2244

[2021-04-16 15:22] mayursrivastava opened #2483 "Add support for type promotion in the ArrowReader"
For reference, the ArrowReader was added in https://github.com/apache/iceberg/pull/2286.
In case of type promotion, the Arrow vector corresponding to the data type in the parquet file, e.g. int32, is returned instead of the promoted data type in the latest schema, e.g. int64. The fix should return the Arrow vector corresponding to the latest data type.
After fixing it, update the expected data typ

[2021-04-16 15:23] mayursrivastava opened #2484 "Fix ArrowReader to return Arrow vectors with logical Iceberg data type instead of physical"
For reference, the ArrowReader was added in https://github.com/apache/iceberg/pull/2286.
Columns with constant values are physically encoded as a dictionary. During reads, the Arrow vector type is int32 instead of the type as per the Iceberg table schema. Fix the ArrowReader and related code to return the Arrow vector corresponding to the logical data type.
After fixing it, remove ignore annotatio

[2021-04-16 15:26] mayursrivastava opened #2485 "Add support for TimeType, ListType, MapType and StructType in the ArrowReader"
For reference, the ArrowReader was added in https://github.com/apache/iceberg/pull/2286.
After adding support, add test cases in the ArrowReaderTest.

[2021-04-16 15:26] mayursrivastava opened #2486 "Add support and test cases in ArrowReader for UUIDType, FixedType and DecimalType data types"
For reference, the ArrowReader was added in https://github.com/apache/iceberg/pull/2286.
The test cases should be added in ArrowReaderTest.

[2021-04-16 15:32] mayursrivastava opened #2487 "Add support for Iceberg v2 spec in the ArrowReader"
For reference, the ArrowReader was added in https://github.com/apache/iceberg/pull/2286.
Currently, the delete files are not handled.

[2021-04-16 15:39] RussellSpitzer opened #2488 "Forbid setting "uri" for SparkSessionCatalog when Hive is used."
**The workaround for this issue is to just set hive.metastore.uris when using the "spark_catalog" do not set the "uri" parameter when using an Iceberg Hive based SparkSessionCatalog**

Our current configuration of the Spark3 Spark session catalog allows you to set the value of the metastore either by inheriting it from the Hadoop Configuration

[code]

or by specifying it for the catalog itself

[

[2021-04-17 07:45] huadongliu opened #2490 "Table SortOrder not being respected in Spark write"
The table is created with `SortOrder.builderFor(schema).withOrderId(1).asc("userId", NULLS_LAST).build()` and populated with `df.write().format("iceberg").mode("append").save(tableLocation)`. The table has below schema and partition spec. I am trying to improve `userId` join and query by sorting them in parquet partitions.

[code]

userId is not sorted in parquet data files. Is Spark iceberg write

[2021-04-17 16:21] RussellSpitzer opened #2492 "NullPointerException on containsNan()"
ContainsNan is a primitive boolean in ManifestFileUtil
https://github.com/apache/iceberg/blob/6c6096d44cd1315c40e1e718c3186ba8927c3219/core/src/main/java/org/apache/iceberg/util/ManifestFileUtil.java#L45
But a boxed Boolean in GenericPartitionFieldSummary
https://github.com/apache/iceberg/blob/6c6096d44cd1315c40e1e718c3186ba8927c3219/core/src/main/java/org/apache/iceberg/GenericPartitionFieldSumma

[2021-04-17 16:26] RussellSpitzer commented on #2492
@yyanyy I think i understand this one and we really just need to force contains NaN to true (i guess) if it is missing in the Manifest file read. This is I believe a backwards compatibility issue?

[2021-04-17 23:19] huadongliu opened #2493 "expireSnapshots excepts with V2 when delete-after-commit.enabled=true and previous-versions-max=1"
Metadata file missing exception was seen when expiring snapshots with deleting metadata enabled. The test ran fine without upgrading to V2.

[code]

[2021-04-19 19:52] aokolnychyi commented on #2492
It looks like @RussellSpitzer's analysis is correct.

[2021-04-19 21:00] RussellSpitzer commented on #2492
@yyanyy NP I put a PR up ^ so you could just check that if you like :) Let me know if we have to handle NAN in min/max but I think that's ok since comparisons with nan are valid

[2021-04-19 21:55] yyanyy commented on #2492
@RussellSpitzer Thank you for the quick fix! Regarding handling NaN in min/max, I think you are right that they seem fine today if they are created by iceberg library:
- `compare(NaN, xxx) = 1`; `compare(xxx, NaN) = -1`
- when we [create them before handling NaN](https://github.com/apache/iceberg/blob/469f6c3f640293df6c629a693450736350aa6fab/core/src/main/java/org/apache/iceberg/PartitionSummary.j

[2021-04-19 22:05] RussellSpitzer commented on #2492
I'm a little confused. Are you saying that lowerBound could be NaN? If that's the case then that should mean that no values are less than NaN, which is only true if all values are NaN. Since NaN > all values. If NaN is set as the lower bound and there are values which are non NaN then the lower bound has been set incorrectly I think,

[2021-04-19 22:27] yyanyy commented on #2492
Sorry let me make it more clear: I think it could happen if people have their custom implementation for summary info, and I'm not sure if it would be a bug on their side if they assign the lower bound in some way similar to the following:
[code]
I guess the code seems unnatural, but an additional check on lower bound may not be that expensive to account for this?

[2021-04-19 22:28] RussellSpitzer commented on #2492
Fair enough, i'll add that in tonight! Thanks for reviewing

[2021-04-19 22:30] RussellSpitzer commented on #2492
Actually i'm not sure how we safely check this, are we saying that if the lower bound is NaN then we can't trust the lower bound check? Seems like we are doing unnecessary reads of files that are all NaN then?

[2021-04-19 22:37] yyanyy commented on #2492
Yeah I was thinking to include the file if lower bound is NaN, and you are right we will do unnecessary reads for files only contain NaN for the given column. Do you think it's unlikely/unnecessary?

[2021-04-19 22:40] RussellSpitzer commented on #2492
Do you think if lower and upper bounds are NaN, then we are probably safe right? We could just add in a bail out if (lowerBounds == upperBounds && value < lowerBounds ) return False ?

[2021-04-19 22:56] yyanyy commented on #2492
Sorry to make sure I understand, are you suggesting if both upper/lower bounds are NaN, the column will only contain NaN so that we can return false? I think it's possible that a column may contain a mix of NaN and normal values but still report min/max as both NaN, which is what ORC files metric collection does today: https://github.com/apache/iceberg/blob/master/core/src/test/java/org/apache/ice

[2021-04-20 00:56] RussellSpitzer commented on #2492
That makes me more cautious about adding in the check anyway, I'm not sure we want defensive coding against things that are outside of spec. If the lower_bound is NaN then isn't the file invalid compared to the spec?

[2021-04-20 02:20] yyanyy commented on #2492
You are right, the only caveat is that I think this requirement of not including NaN is only introduced not long ago. But yeah, I think we probably shouldn't alter the current behavior.

[2021-04-20 02:29] RussellSpitzer commented on #2492
@yyanyy we can always patch it later if it causes an issue, but it least it won't be a regression i'm introducing in this pr :P

[2021-04-20 12:02] timmylicheng opened #2498 "Iceberg supports Tencent COS"
Like the way in https://github.com/apache/iceberg/pull/2230/files, it would also benefit iceberg to support Tencent COS api.
@chenjunjiedada

[2021-04-20 16:30] szehon-ho commented on #2435
@aokolnychyi @karuppayya  as we discussed a little offline, also if you guys have any more thoughts (from our sync, the idea is to not focus necessarily first on filters, but just implement the logic for a table scan).

[2021-04-21 19:05] alec-heif commented on #2194
+1 for this, it seems to have been available for quite a while now so hopefully is out of the pure "development only" stage?

[2021-04-22 06:04] ayush-san opened #2504 "Flink CDC | OOM during initial snapshot"
I am using flink CDC to stream CDC changes in an iceberg table. When I first run the flink job for a topic with all the data for a table, it gets out of heap memory as flink tries to load all the data during my 15mins checkpointing interval. Right now, the only solution I have is to pass `-ytm 8192 -yjm 2048m -p 2` for a table with 10M rows and then reduce it after the flink has consumed all the d

[2021-04-22 06:40] openinx commented on #2504
@ayush-san ,  I think that's because we've maintained all the keys that come from the same checkpoint in a __in-memory__  HashMap, it mainly used to locate the `<file_id, pos>` for the rows that was written in the current checkpoint before.  In the long run, we need to change this HashMap to a Map that can spill to disk or replace it with an embedded KV lib, so that we can take on a larger number

[2021-04-22 07:37] ayush-san commented on #2504
@openinx What should be the immediate solution for now? I can think of two ways
* Increase the job and task manager memory and keep the checkpoint the same
* During the initial few hours, reduce the checkpoint to 1/2 mins

[2021-04-23 03:15] chenjunjiedada commented on #2405
I thought it is caused by the `ManifestFileUtil` bug. But we had fixed that issue internally.  After digging more, we found this is caused by our internal flink iceberg sink which appends manifest without partition summary.

[2021-04-23 10:00] maker-dong opened #2507 "Stack map does not match the one at exception handler"
flink version: v1.11.3
hive version: v2.1.1_cdh6.3.1

run sql-client
[code]

execute:
[code]

exception:
[code]

#2057 can not solve the problem,

[2021-04-23 15:37] szehon-ho commented on #2435
Hi guys, looking through the code there doesn't seem any good way other than making a new kind of FileScan, that not only has Files but also the ManifestFile it came from (so that during the spark job, it can identify the manifestFile as updated).

If you guys have time to see, is it in line with your thoughts and if there are any clean way to do it?  Putting it in BaseFileScanTask is acceptable?

[2021-04-23 15:42] RussellSpitzer commented on #2435
@szehon-ho I'm not sure I understand what you are asking?

[2021-04-25 08:23] chenjunjiedada commented on #2405
Still hit this problem.  Now I know how to reproduce this.

1. Write the iceberg table with the 0.10.0 version.
2. Read the iceberg table manifests with the 0.11.1 version.

The following code could fix the issue:
[code]

@RussellSpitzer @yyanyy, We may need to re-consider this with #2492 again.

[2021-04-25 17:27] RussellSpitzer commented on #2405
I think I have this fixed in #2495

Sent from my iPhone

[2021-04-25 22:12] yyanyy commented on #2405
I think it's expected that `summary.containsNaN()` could return null? looking from the code it seems that `StaticDataTask.Row` should also be able to handle null? when does the issue occur?

[2021-04-25 22:46] chenjunjiedada commented on #2405
@RussellSpitzer, `summary.containsNaN()` is called in two places, #2495 fixes one place. Another place is in #2509.

@yyanyy , I thought return boxed value in `summary.containsNaN()` may fix the problem for all places, while I don't want to break the original assumption. There is also a unit test for the null value. This issue happens when reading manifests as a table.

[2021-04-25 22:52] chenjunjiedada commented on #2405
@yyanyy Looks like `StaticDataTask.Row` doesn't handle the null case. Do you think we should fix in that?

[2021-04-26 02:41] openinx commented on #2482
I checked the [place](https://github.com/apache/iceberg/blob/aba898b1a2ea15fd091228626b6887a5a72800c0/core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java#L258) that throw the ValidationException.    The reason that we encountered this because we've expired the several latest snapshots, then there must be a snapshot whose parent snapshot is not null but we could not find the snapshot

[2021-04-26 07:56] ggershinsky opened #2513 "Partitioning on sensitive (encrypted) columns"
Initially, we will use one key for flat encryption of metadata files. Later, when we'll add an option to encrypt column stats with column keys, there will be a requirement for a reader to have access to these columns/keys in this  mode (or for the writer not to partition on sensitive columns).

[2021-04-26 09:25] szehon-ho commented on #2435
Ah sorry I was not clear, I was looking through the code brainstorming about the implementation and the problem was this:

-Currently ManifestGroup::planFiles() returns iterable of FileScanTask (actual class BaseFileScanTask)
-But FileScanTask has only list of DataFiles.

So if for RepairManifest, we launch a Spark job on FileScanTasks like for normal scans, we will lose track of the ManifestFile

[2021-04-26 10:49] nvitucci opened #2517 "Predicate pushdown not visible in Spark plan"
I have looked into Spark plans to make sure that a partition filter is actually being pushed down to Iceberg, but the plan does not explicitly show any such information. The table is created like this:

[code]

with `local` being a Hive catalog added to Spark configuration as such:

[code]

The table is populated from a 1.6GB, 15M-row `orders` table file generated with the [TPCH kit](https://githu

[2021-04-26 13:59] RussellSpitzer commented on #2435
Ah yeah, I think we usually do new custom Scan's, See
https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java#L96-L140
For example. I would hesitate to touch anything around "planFiles" for this and would instead op for reading the manifest files directly

[2021-04-26 14:02] RussellSpitzer commented on #2405
@chenjunjiedada Good catch, we should definitely fix that, I also was a little worried about keeping the boxed boolean as the return value in containsNaN since we usually treat the parameter as a primitive, but I'm ok with just fixing the other occurrence for now, wdyt?

[2021-04-26 14:58] RussellSpitzer commented on #2405
I think if we make the changes @chenjunjiedada suggests (which I think are a good idea too), we should probably just change the signature to be a primitive and not the Boxed bool.

[2021-04-26 15:24] RussellSpitzer commented on #2405
I think for the StaticDataRow error we should be changing the Schema of Manifests table to mark containsNan as Optional

[2021-04-26 20:00] RussellSpitzer commented on #2517
The pushdown information is in the BatchScan info ```[filters=orderpriority IS NOT NULL, orderpriority = '1-URGENT']``` which shows the filters as presented to the Iceberg Table.

See
https://github.com/apache/iceberg/blob/master/spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java#L210-L214

Which get's put into DSV2 ScanExec (Spark)
[code]

Node name is the physical plan node

[2021-04-26 21:48] nvitucci commented on #2517
Thanks for your reply. I was expecting some more information in the Iceberg node, a bit like you would see if you were to run the same query on the original table:

[code]

or like in #1483, where `iceberg` is clearly visible in the nodes it is related to along with path information (although I now realize that it is probably a Spark 2-only behaviour).

Since a filter on a non-partition column res

[2021-04-26 21:53] RussellSpitzer commented on #2517
I think we could definitely add some more details there to the description, pull requests are welcome :) We basically have full control over everything that gets printed after the Spark "BatchScan Info"

I think currently the only way to really tell is to check the partitions being created for the read, the (Spark) partition information should have listings of all the files required to load that p

[2021-04-26 21:57] yyanyy commented on #2405
I think the `required` keyword in manifests table @RussellSpitzer pointed out is the culprit, I think `StaticDataTask.Row` should be able to handle null but since we marked `containsNan` as required in manifests table, it then throws the exception. And I agree with Russell that at least for showing manifest table, we probably don't want to mark `containsNan` as true if originally it's null/missing

[2021-04-26 21:59] RussellSpitzer commented on #2405
@yyanyy np :) It's a team effort. I think i'm pro just changing required -> Optional and in the future i'm going to be very strict about anyone using boxed primitives :P

[2021-04-26 22:13] nvitucci commented on #2517
Thanks for the pointers, I'll take a look and report back.

[2021-04-27 00:22] yyanyy commented on #2405
Apologies for the delay, #2521 contains the two changes I planned to include as mentioned earlier, please take a look when you have time @RussellSpitzer @chenjunjiedada Thank you!

[2021-04-27 06:29] jccsjtu opened #2524 "use removeField, and then cannot get desc"
if use removeField for a table, and then we cannot get desc command result
table.updateSpec()
    .removeField("category")
    .commit();

spark-sql> desc iceberg_catalog.dlf_test.iceberg_part_test;
21/04/27 10:39:06 ERROR SparkSQLDriver: Failed in [desc iceberg_catalog.dlf_test.iceberg_part_test]
java.lang.UnsupportedOperationException: Void transform is not supported
        at org.apache.iceber

[2021-04-27 07:11] openinx opened #2525 "The spark's remove_orphan_files procedure cannot expire the orphan files that located in remote object storage services"
[code]

[2021-04-27 07:19] openinx commented on #2525
Looks like the current `remove_orphan_files` procedure are depending on the [hadoop fs](https://github.com/apache/iceberg/blob/1f77257fc24891f3e66a6c162ac239afd6ae8d72/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRemoveOrphanFilesSparkAction.java#L178) to get all the files,  while if we did not add the `oss` hadoop fs implementation, then the spark could not remove those orphan files.

[2021-04-27 08:09] jccsjtu opened #2526 "Spark3Util.java may have bug"
in this file, I find this code.
I'm not sure if it is a bug, function list return map
`public String list(Types.ListType list, String elementResult) {
      return "map<" + elementResult + ">";
    }`
@rdblue

[2021-04-27 08:11] openinx commented on #2525
The expire snapshots procedure also need hadoop fs:

[code]

[2021-04-27 12:00] RussellSpitzer commented on #2526
Looks like a typo to me

[2021-04-27 12:02] RussellSpitzer commented on #2524
#2453 I think

[2021-04-27 12:14] cccs-jc opened #2527 "Spark Dynamic Partition Pruning"
I'm unable to use Spark dynamic Partition Pruning with Iceberg table. Is this a known limitation of Iceberg?

It seems that Iceberg does not have statistics which Spark relies on.

`describe extended table1 column1`

Describing columns is not supported for v2 tables.

[2021-04-27 12:27] dixingxing0 opened #2528 "Add `freshIdentifierFieldIds` in TableMetadata"
Follow-up for https://github.com/apache/iceberg/pull/2465
I've tested PR-2465, i found that we should add `freshIdentifierFieldIds` like what `freshSortOrder` did.
@jackye1995  @openinx

[2021-04-27 14:36] RussellSpitzer commented on #2527
I don't think that it's incompatible with Iceberg from the source

If i'm reading this correctly:

https://github.com/apache/spark/blob/19c7d2f3d8cda8d9bc5dfc1a0bf5d46845b1bc2f/sql/core/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/PartitionPruning.scala#L130-L132

There are basically two ways of estimating the filtering effectiveness
   * a stats based one which you are correct we

[2021-04-27 15:28] RussellSpitzer opened #2530 "Spark: Cannot create expression literals from Instant"
Summary:
Literals.from doesn't have support for creating literals from java.time.Instant which can be passed in Spark 3.1.1

Cannot create expression literal from java.time.Instant: 2021-04-25T19:00:00Z
    at org.apache.iceberg.expressions.Literals.from(Literals.java:85)
    at org.apache.iceberg.expressions.UnboundPredicate.<init>(UnboundPredicate.java:40)

-----

Long story

Reports from some u

[2021-04-27 16:08] cccs-jc commented on #2527
Ha okay, I'm now setting the filter ratio

`.config("spark.sql.optimizer.dynamicPartitionPruning.fallbackFilterRatio", 0.001)`
or
` .config("spark.sql.optimizer.dynamicPartitionPruning.fallbackFilterRatio", 100)`

Trying to determine if filters will be pushed down. Should I see them pushed down in the BatchScan for the probing table. My explain plan does not show any pushed down filters

`BatchSca

[2021-04-27 16:22] rymurr commented on #644
@jzhuge We would be interested in views. I would be happy to help where I can to get your impl into iceberg.

[2021-04-27 16:49] jackye1995 commented on #2528
I thought about that, I think the situations are a bit different between the 2 cases.

For sort order and partition spec, it has an internal reference of the updated schema which is defined only locally by the caller. So new columns can be assigned any ID. When building the replacement based on the last schema, the `assignFreshIds` is called to assign the correct ID to each new column. Then the sp

[2021-04-27 17:12] cccs-jc commented on #2527
I was able to reproduce my issue with just parquet files (no iceberg). I saw the sizes in the plan.

So looks like it's an issue in Spark or a miss-configuration on my part. I've reported my example to Spark.

https://issues.apache.org/jira/browse/SPARK-35245

[2021-04-27 22:01] nvitucci commented on #2327
Same for me, although I applied an `ADD` first and a `DROP` on the same field afterwards.

[2021-04-28 01:13] RussellSpitzer commented on #2530
https://issues.apache.org/jira/browse/SPARK-26902 Makes me think we will probably have to support local date as well

[2021-04-28 01:45] jackye1995 opened #2532 "Add metadata tables tests to make sure they don't break when reading different versions of tables"
based on discussion in #2521

[2021-04-28 01:53] 221770490011111 opened #2533 "spark sql MERGE INTO There is an error Error: Error running query: java.lang.IllegalArgumentException: Can't zip RDDs with unequal numbers of partitions: List(1, 0) (state=,code=0)"
[code]

this is table test_merge_002:
![image](https://user-images.githubusercontent.com/39689341/116333155-969b6000-a805-11eb-8c5a-7dca05b4e4b8.png)

this is table test_merge_001:
![image](https://user-images.githubusercontent.com/39689341/116333259-baf73c80-a805-11eb-9b17-f3fe96bb7dbd.png)

but  run this sql，appear error
![image](https://user-images.githubusercontent.com/39689341/116334288-84bab

[2021-04-28 02:07] jackye1995 commented on #2528
Sorry I think I misunderstood what you meant a bit. So I agree that the identifier should be recreated after a new struct is created in `TypeUtil#assignFreshIds`. I thought you were talking about refreshing the identifier at the same place as sort order in `TableMetadat#buildReplacement`, sorry for the misunderstanidng.

The new `Schema` created in that method should instead use the constructor `n

[2021-04-28 02:13] dixingxing0 commented on #2528
Yes, i've changed the comment to avoid misleading, i'm looking forward to see the subsequent PR.

[2021-04-28 08:47] zhangjun0x01 opened #2534 "Flink: add vectorized read for flink"
like spark, I think we can add  vectorized  read for flink to improve query speed

[2021-04-28 08:48] openinx opened #2535 "Cannot create external hive table to map to the table located in customized catalog and OSS FileIO"
When I tried to create hive external table to read the iceberg table that hosted in aliyun oss and catalog (aliyun dlf) services in the following SQL,   I will encounter an exception as the following:

[code]

The stacktrace:

[code]

Sounds like we are trying to load the customized catalog table by using `HadoopTable` ( which will always needs the `version-hint.txt` file).

[2021-04-28 08:53] zhangjun0x01 opened #2536 "Flink : Data skew when we use RewriteDataFilesAction of flink to do rewrite"
there is a data skew problem when we use RewriteDataFilesAction of flink to do rewrite

[2021-04-28 08:57] zhangjun0x01 opened #2537 "Flink : add filters to project for flink IcebergTableSource"
I think we should add the `filters` to projectSchema for  flink IcebergTableSource

[2021-04-28 10:10] openinx commented on #2535
Okay, sounds like the correct way to query external table in hive is:

[code]

@jackye1995 ,  I would suggest to add a document for the hive+aws glue + aws s3 integration work,  I mean add a section to describe how to use HIVE to query tables located in aws glue and aws s3, :-).

[2021-04-28 10:15] #2535 closed

[2021-04-28 17:32] jackye1995 commented on #2535
Yeah I do have a plan to add that documentation, was waiting for that catalog loading work to be done. Let me do it now.

[2021-04-28 19:06] RussellSpitzer opened #2540 "Hive: Lock Issues with multithreaded commits"
When trying to commit to the same Iceberg table from multiple threads in the same application, the meta-store ends up building expensive and large lock chains on the HMS side. This can end up overloading the underlying RDBMS and we have done several fixes (#2263, #1873) to try to reduce this thrashing but I would like to have a better solution if possible.

Since the HiveTableOperations knows that

[2021-04-28 19:07] RussellSpitzer commented on #2540
@raptond + @marton-bod Wdyt?

[2021-04-28 20:08] marton-bod commented on #2540
@RussellSpitzer From the Hive side we haven't noticed this issue as much, but I think this makes a lot of sense. Did you mean adding a JVM level lock per table? We should only be blocking threads which would like to commit to the same table simultaneously, not to any Iceberg table in general (since the HMS locks are also on the table level). I'm happy to take a crack at it tomorrow, but also happy

[2021-04-28 20:38] pvary commented on #2540
HMS locks are fair. If we have multiple HS2 instances doing the commits then we lose this fairness. We can use fair locks inside a JVM, but cross JVM fairness would be lost. We either share the HMS lock between threads then we risk starving the threads on another JVM, or we release the HMS lock, in this case the commits will happen in a Round Robin fashion between the JVMs.

Also for MR, or TezAM

[2021-04-28 20:56] tprelle opened #2541 "Hive: insert into from hive tez it's not working for Map Only insert query"
insert into from hive tez it's not working for simple insert query because we do not have forcommit file because it's only created for reduce task
https://github.com/apache/iceberg/blob/master/mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java#L82
Just an insert into export_table select * from import_table; reproduce the bug.
[code]

[2021-04-28 21:02] raptond commented on #2540
The problem we face internally with several customers is, after a while, the Iceberg table cannot be added any more data. When I say "any more data", I mean, data files are created, snapshot is created but the commit can never be successful. At this point, a manual intervention of clearing the locks for the given iceberg table is required.

Some cases that we investigated had
1. several jobs
2. an

[2021-04-28 21:05] raptond commented on #2540
Want to also call out - for issue (1), we will need to find a way to clear up the expired locks which are still blocking the lock chain.

In this problem space of (1), I believe https://github.com/apache/iceberg/pull/2263 would solve a majority of cases, leaving just the `driver-crashing-after-acquiring-the-lock` cases. May be a case for HMS cleanup service.

[2021-04-28 21:09] RussellSpitzer commented on #2540
@pvary I wish we could :) But we have tons of users with their own HMS code and I don't think it would be trivial for us to get them all on the same page.

@marton-bod That's exactly what I was thinking about. I wanted to make sure there wasn't anything I was missing that would have this be slower or cause side effects that everyone trying to acquire the lock at once might have.

Basically one JVM

[2021-04-28 21:17] marton-bod commented on #2541
@tprelle Hive writes using Tez are currently unsupported and may contain several problems. Our current [hive docs](https://github.com/apache/iceberg/blob/master/site/docs/hive.md#hive-query-engines) mention support for both mr and tez, but it's misleading because that's currently only for hive reads, not writes - we'll make changes to make that clearer.

Which version of Hive are you using? In the

[2021-04-28 21:27] pvary commented on #2540
I think you could use the https://github.com/apache/hive/blob/rel/release-3.1.2/standalone-metastore/src/main/java/org/apache/hadoop/hive/metastore/txn/AcidHouseKeeperService.java

This is an existing service in HMS to remove stale locks.

[2021-04-28 21:32] #2405 closed

[2021-04-28 21:41] raptond commented on #2540
Thanks @pvary. I didn't realize we need this flag to turn it on - `hive.compactor.initiator.on`.
This should take care of the stale locks.

[2021-04-28 21:44] yyanyy opened #2542 "Improve backward compatibility tests for spec changes introduced in all table versions"
Stem from this comment: https://github.com/apache/iceberg/pull/2521#issuecomment-828793923

We had a NPE bug (#2405) caused by reading a newly introduced field as  `boolean`, which assigns null to this `boolean` field when reading old tables. While Iceberg has backward compatibility tests to test reading V1 tables, this field is introduced for all specs, and thus when creating V1 table for testing

[2021-04-29 03:34] #836 closed

[2021-04-29 13:14] tprelle commented on #2541
Hi @marton-bod,
Ok i was just want to test if the patch or hive and tez was working.
It's a custom hive 3.1 version based on HDP 3.1.5 that we have multiple patches for different issue and tez 0.10 with https://issues.apache.org/jira/browse/TEZ-4248 and https://issues.apache.org/jira/browse/TEZ-4264. So no MR.
I will check if i found where are the issue and how to fix it.
I was just checking if i

[2021-04-29 13:27] taherk77 commented on #2532
I would like to work on this issue. Can someone please guide a little and give more context?

[2021-04-29 14:16] RussellSpitzer commented on #2532
@taherk77 That would be awesome!

https://github.com/apache/iceberg/issues/2542#issue-870411640 Here are @yyanyy 's notes on the problem. Basically we want to make sure that whether you have a v1 table or a v2 table, the metadata table code reads correctly. Our previous tests cover converting manifests but don't make sure that manifests from both versions can be accessed by the same metadata table

[2021-04-29 14:58] tprelle commented on #2541
It's maybe comming of my version of hive because in theory the code look good

[2021-04-29 15:10] marton-bod commented on #2541
Hi @tprelle, Most likely the issue you observed is because in Hive 3.1, task commits for Tez are not yet implemented. It was recently added as a feature: https://issues.apache.org/jira/browse/HIVE-24629, but not yet released. So quite simply, while the `commitTask` logic is there in the `HiveIcebergOutputCommitter`, it's not actually invoked by Hive or Tez at any point. Although it's no consolatio

[2021-04-29 18:05] tprelle commented on #2541
Hi i already fix this by merge Hive-24629 but i think i found a lead.
I have a log _CommitTask found no writer for specific table: _table_, attemptID: attempt_16196747818930_9685_r_000000_3_ do no yet why.

[2021-04-29 18:18] #2492 closed

[2021-04-29 19:01] jackye1995 opened #2545 "Reduce errorprone warnings for Iceberg build"
I recently noticed an increasing number of warnings from errorprone when building Iceberg. Currently Iceberg does not fail the build for these warnings, but I think errorprone provides a lot of valuable insights and we should not just let the warning list grow. The long list of warnings also make it very hard to find the actual errors when debugging locally. We should either fix those warnings, or

[2021-04-29 19:20] tprelle commented on #2541
I think it's more comming for my hive or and tez version than from iceberg it's seems that the taskAttemptID creating the writer in HiveIcebergRecordWriter are not the same as the one in the output commiter so the lookup it's not working

[2021-04-29 19:25] marton-bod commented on #2541
Yeah, there are some unreleased Tez patches that are also necessary to make it work, such as https://issues.apache.org/jira/browse/TEZ-4264, which helps append the missing vertex id to the job id in the committer. But there might be other missing pieces too. The bottom line is that Tez writes are unsupported at the moment and are fully expected to not work, but of course, feel free to keep tinkeri

[2021-04-29 19:45] tprelle commented on #2541
@marton-bod i may miss this PR https://github.com/apache/hive/pull/2161 on my hive.

[2021-04-29 21:12] marton-bod commented on #2545
+1 - I've had similar thoughts as well just the other day, would be happy to reduce/eliminate these warnings on the mr/hive side.

[2021-04-30 01:08] yyanyy commented on #2490
I think currently sort order support is only implemented on API level, but no engine integration is completed yet; I think the situation doesn't change much from the email thread here, in case you need more information: https://lists.apache.org/thread.html/r4d41a78b722af230738e597203d42e524f5f09738fcf041ba78f613a%40%3Cdev.iceberg.apache.org%3E

[2021-04-30 06:06] flyrain commented on #2488
+1 for the approach. Make sense to me if Spark build-in session catalog doesn't support Iceberg "Hadoop" type catalog.

[2021-04-30 08:38] gszadovszky opened #2546 "Dictionary filter for Parquet does not handle FIXED_LEN_BYTE_ARRAY"
If a Parquet file contains dictionary encoded `FIXED_LEN_BYTE_ARRAY` values (e.g. `DECIMAL`s) the related filtering throws an `IllegalArgumentException: Cannot decode dictionary of type: FIXED_LEN_BYTE_ARRAY`. I guess the library is not prepared for dictionary encoded `FIXED_LEN_BYTE_ARRAY` values because parquet-mr does not write such encoding for these values (for V1 at least) but it is not a sp

[2021-05-01 18:36] cccs-jc commented on #2527
I created a mock fact table and a mock dimension table using a traditional Hive catalog. I was able to activate the dynamic partition pruning optimization. It's quite easy to identify in the spark UI. The query runs very fast then dpp is used.

I then used the same mock data generator functions to create tables using iceberg. I partition the fact table in the same was as with traditional Hive. I r

[2021-05-02 22:00] #2530 closed

[2021-05-03 22:04] jzhuge commented on #644
Great! The first step is to get ViewCatalog API into Spark.

[2021-05-04 00:26] flyrain commented on #2311
Currently, partition related ops like `Alter table add partition` and `Show partitions` fail due to Hive doesn't think an Iceberg table is partitioned even though it is. This probably can be resolved in Spark 3.1.
Spark 3.1 introduces interface SupportsPartitionManagement. We can let SparkTable extends it so that partition related ops can be supported for Iceberg table.

[2021-05-04 05:05] rajendrapa1 commented on #1804
Hi
Even I am having the same issue. ASF needs apache email. The gitter lobby does not seem to be active, so I am really clueless on how to get help.

[2021-05-04 11:02] tprelle commented on #2541
Hi @marton-bod,
I found my issue it's coming from hive not from iceberg.
For map only job, i need to put hive.compute.splits.in.am=false in order to have the right number in getNumMapTasks.
I do not know if it's comming from my version of hive than is derivated from HDP version so not directly from Apache version.
But with this, and others Tez and Hive patches it's working.
Thanks for the help

[2021-05-04 11:02] #2541 closed

[2021-05-04 11:07] marton-bod commented on #2541
Thanks for the feedback @tprelle! Glad you managed to make it work :)
Can I ask which iceberg-related patches you ended up applying on top of your vanilla Hive 3.1 installation, which made Tez writes work eventually?

[2021-05-04 12:01] tprelle commented on #2541
@marton-bod  sure :
For tez from apache 0.10.0 tag i add
-  https://issues.apache.org/jira/projects/TEZ/issues/TEZ-4238
- https://issues.apache.org/jira/projects/TEZ/issues/TEZ-4264

For hive it was a bit complex from HDP 3.1.5-2-4 versions i add :
 - https://issues.apache.org/jira/browse/HIVE-23190 for be able to got to tez 0.10
 - https://issues.apache.org/jira/browse/HIVE-24629 for output commi

[2021-05-04 12:06] marton-bod commented on #2541
I see, thanks a lot for the detailed description!

[2021-05-04 12:47] RussellSpitzer commented on #1804
If you send me you email I can add you, it does not need to be asf

Sent from my iPhone

[2021-05-05 20:50] thesquelched opened #2553 "Spark filters do not work on int96 timestamp columns"
Spark filter operations don't work on int96 timestamp columns, raising a `ClassCastException`. I've reproduced this live with both spark 2 and 3, and it can be reproduced in unit tests with the following diff off of 9edb1fabc0a4ad4c3f10625c4a15918bf5790f8b:

[code]

From the logs...

[code]

[2021-05-05 20:51] thesquelched commented on #2553
Note that this happens regardless of whether metrics for this column are set to `none` or not.

[2021-05-05 21:11] aokolnychyi commented on #1617
@flyrain, could you take a look at what can be done here?

[2021-05-05 21:15] RussellSpitzer opened #2554 "Cannot Drop Table Created with HiveIcebergStorageHandler Enabled but Metadata.json is Missing"
If a user is working with the HiveIcebergStorageHandler then they can get into a bit of a tricky situation. Say perhaps, that they delete their metadata.json or alter that property such that it no longer points to a valid file. Any subsequent DDL or operations will fail because for Hive to modify the table it must first load metadata.json. So if the file is dropped the the table is undroppable. Th

[2021-05-05 21:15] RussellSpitzer commented on #2554
@marton-bod + @pvary Just in case you had some thoughts

[2021-05-05 21:18] aokolnychyi commented on #2446
Sorry, missed the last messages. Any tips on how to do that, @rymurr?

cc @rdblue

[2021-05-05 21:21] aokolnychyi commented on #2481
I remember @rdblue @danielcweeks @Parth-Brahmbhatt mentioning similar attempts and that there were some issues but I don't recall any details.

[2021-05-05 23:33] SreeramGarlapati commented on #644
@jzhuge - we are interested & am happy to help too.

[2021-05-06 04:14] coolderli opened #2555 "Failed to snapshot iceberg table"
I'm testing to snapshot an iceberg table following the [doc](http://iceberg.apache.org/spark-procedures/#snapshot).
But I got the following errors, I was using `SparkSessionCatalog `.
[code]

When I changed to `SparkCatalog`, it can't work either.
[code]

Is there something wrong with my case?

[2021-05-06 04:21] RussellSpitzer commented on #2555
Snapshot does not currently work with Iceberg tables, it is only for Hive and File Based tables in Spark at the moment. There are Issues for making it compatible with Iceberg tables as well

[2021-05-06 05:00] coolderli commented on #2555
@RussellSpitzer  Thanks a lot.

[2021-05-06 05:00] #2555 closed

[2021-05-06 06:00] RussellSpitzer commented on #2555
#2481

[2021-05-06 06:45] kbendick opened #2557 "Consider suppressing INFO level io.quarkus.http.access-log logs in tests"
When running `./gradlew clean build` and the associated test suites, there are a lot of INFO level logs coming from `io.quarkus.http.access-log`.

When running `build`, there's a pretty large number of logs like this that come out that we should potentially suppress.

Here's a sample. They all seem to be coming from Task :iceberg-nessie:test.

[code]

If nobody has any objections, I think we shoul

[2021-05-06 06:49] kbendick commented on #2557
For reference, the `iceberg-spark3` tests only have two spark logs.

[code]

[code]

[2021-05-06 07:23] rymurr commented on #2557
Cc @snazy

[2021-05-06 08:43] zhangjun0x01 opened #2558 "Flink : Is it necessary to upgrade to flink 1.13 ?"
Apache Flink 1.13.0 has released, Is it necessary to upgrade to flink 1.13 ?

[2021-05-06 08:44] zhangjun0x01 commented on #2558
@stevenzwu  @openinx

[2021-05-06 11:29] marton-bod commented on #2554
This is a good point, and I think we can and should guard against that. The table currently becomes undroppable only because we try to load the Iceberg table prior to dropping the HMS table. We do this because Hive2 and Hive3 do not clean up the metadata folder completely so we need to cache the io to perform the deletion later.

What we can do instead is try to load the Iceberg table as it is, bu

[2021-05-06 11:56] openinx commented on #2558
I did few tests to verify whether the iceberg-flink-runtime jar (compiled in flink 1.12 ) could work in flink 1.13,  sounds like the only one issue is [CatalogDescriptorValidator](https://github.com/apache/iceberg/blob/master/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java#L31),  it's an `Internal` API but has been removed in flink 1.13.   I think we could remove the usage ab

[2021-05-06 11:59] openinx commented on #2558
Attached the build error message here:

[code]

[2021-05-06 15:02] Reo-LEI commented on #2533
I was encounter the same error when I use MERGE INTO clause. And I found if the target table not match any data, the IllegalArgumentException will be throw.

For example, I have some log in source table, and I need to aggregate logs into events and write to destination table.

src(user_logs) table:
|log_time|log_type|user_name|
|---|---|---|
|2021-05-06 12:01:00|heartbeat|Bob
|2021-05-06 12:03:00|

[2021-05-06 17:00] anuragmantri commented on #1617
@flyrain, in my latest comment to Ryan's comment in the [design doc](https://docs.google.com/document/d/1RDEjJAVEXg1csRzyzTuM634L88vvI0iDHNQQK3kOVR0/edit#), I proposed starting with "supporting relative paths in metadata" which does not need changes to the spec. We can then look at refactoring the fields of metadata.json file. This will make it easier to implement and review the change. What are y

[2021-05-06 17:40] rdblue commented on #2553
The metrics setting is for Iceberg metrics and this is happening when filtering row groups in Parquet. That's why the metrics setting doesn't help. We just need to update Iceberg's [ParquetMetricsRowGroupFilter](https://github.com/apache/iceberg/blob/master/parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java#L97) to ignore INT96 stats. I thought that Parquet would no

[2021-05-06 18:11] rymurr commented on #2446
I believe you can request on gitbox

On Wed, 5 May 2021, 23:18 Anton Okolnychyi, ***@***.***>
wrote:

[2021-05-06 18:19] thesquelched commented on #2553
I'm hoping to have one up today or tomorrow.

[2021-05-06 20:39] kbendick commented on #2557
For the record, these logs are not a big deal if you guys find them helpful. I don't typically work over there, so I don't know.

If we did want to do clean up, I'd be happy to open another issue for Flink. Or if this is not something that's relatively simple to update in Gradle for test suites, then it's likely not worth the effort as mostly what I look for in test logs is just failure related is

[2021-05-07 00:03] karuppayya opened #2559 "Create a utility to get the misc metadata locations"
@karuppayya, I think we can combine the new logic with the existing one. What about creating a utility class in a separate PR?

We could do something like

[code]

_Originally posted by @aokolnychyi in https://github.com/apache/iceberg/pull/2415#discussion_r627834645_

[2021-05-07 01:48] zhangjun0x01 commented on #2558
I tested that , when we remove `CatalogDescriptorValidator` ,  we can build succeed, but when run the test case, it is failed.  I think we may need to do some extra work to be compatible with 1.12 and 1.13

[2021-05-07 06:59] jccsjtu commented on #2524
same issue, thank you! I will close this one.

[2021-05-07 06:59] #2524 closed

[2021-05-07 08:37] wulei0302 opened #2561 "Web 404 Not Found, Many page jump links cannot be opened"
On the iceberg official website, I found that the jump path cannot be opened in many pages.
for example,
button '_FlinkSource#Builder_' on page [flink](https://iceberg.apache.org/flink/#writing-with-sql).
And what makes me wonder is that there is no flink html folder in [master](https://github.com/apache/iceberg/tree/master/site/docs/javadoc/master)

[2021-05-07 08:50] smallx opened #2562 "Spark on iceberg table is slower than spark on hive parquet table"
Through test and comparison, we find that spark on iceberg table is slower than spark on hive parquet table, and its performance is reduced by about half. After optimizing some parameters, iceberg's performance is improved, but it is still slower than simple parquet. The optimized parameters are as follows.

[code]

It seems that iceberg's vectorization reading performance is not as good as spark'

[2021-05-07 22:19] karuppayya commented on #2559
PR: https://github.com/apache/iceberg/pull/2564

[2021-05-07 23:51] RussellSpitzer commented on #2533
Looks like there is a special casing for empty RDD's

https://github.com/apache/spark/blob/d378dc5f6db6fe37426728bea714f44b94a94861/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala#L362-L371

Which generates a single partition rdd from a 0 partition rdd.

[2021-05-07 23:55] RussellSpitzer commented on #2533
My guess is that something in our code is invoking a ZippedRDD (probably a broadcast join?) which ends up having 0 data in it. This is a ZippedRDD with 0 partitions, but there is an assertion error that you can't have such an RDD when we call .partitions

https://github.com/apache/spark/blob/v3.0.2/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala#

[2021-05-08 00:50] RussellSpitzer commented on #2533
OK So here is what happens,

We build up this plan which has a sort merge join

The sort merge join implements as a zippartitions rdd
[code]

   This is because of SortMergeJoinExec

   https://github.com/apache/spark/blob/94cac5978cf33f99a9f28180c9c909d5c884c152/sql/core/src/main/scala/org/apache/spark/sql/execution/joins/SortMergeJoinExec.scala#L132

   Which does the zip partitions, but this co

[2021-05-08 01:34] RussellSpitzer commented on #2533
Spark normally just won't plan a join when one side is empty, quick demonstration

[code]

[2021-05-08 02:40] openinx commented on #2561
I think that's because we've changed the page to [here](https://iceberg.apache.org/javadoc/0.11.1/),  would you like to prepare a PR for those broken link ?

[2021-05-08 07:43] liubo1022126 opened #2567 "Hive: cannot find field xxx at Map operator initialization failed when iceberg table join hive table"
Hi

I have two table, table A is iceberg format and table B is simple textfile format .

hive : 2.3.8
iceberg : 0.11.0
hadoop : 2.3.7

table A like:

  'org.apache.iceberg.mr.hive.HiveIcebergSerDe'
STORED BY
  'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler'

table B like:

  'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'field.delim'='',
  'line.delim'='\n',

[2021-05-08 07:46] liubo1022126 commented on #2567
#2198

[2021-05-08 09:35] wulei0302 commented on #2561
I'm very happy to do it, but I want to confirm the repair plan with you:
1. Do I need to point the ‘javadoc/html’ links of all modules to the latest version, which is 0.11.1? Such as hive, flink, spark
2. If it points to the latest version, then we need to modify the version every time we release a new version later.
tks~

[2021-05-09 06:40] jun-he commented on #2526
Agree, seems affecting the result of describe command.

[2021-05-09 07:08] jun-he opened #2569 "Error when dropping partition fields for the same source field more than once."
[code]
will throw an error
[code]
When doing `indexSpecByTransform` within `BaseUpdatePartitionSpec`, `VoidTransform` probably should be skipped.

[2021-05-09 07:57] somayaj commented on #2309
Can this be worked?

[2021-05-09 17:53] flyrain commented on #2309
Hi @somayaj , the PR #2330 has been merged into the master branch. Please have a try.

[2021-05-09 22:08] aokolnychyi commented on #2309
Closing this one as it has been fixed.

[2021-05-09 22:08] #2309 closed

[2021-05-10 00:54] openinx opened #2571 "Flink batch job cannot read the iceberg table that writing few chang-log events in format v2."
I tried to add few lines code to read the iceberg table after writing few equality delete records in format v2 as following,  It will encounter an NullPointerException.  I think it's worth to take some time to dig in what's the cause.

[code]

[code]

[2021-05-10 01:08] openinx opened #2572 "Support creating flink table without creating an explicit hive/hadoop catalog"
After collecting some feedback from our flink users,  now we have to create a `catalog` firstly,  then switch to the `catalog` and `database` ,  finally we could create the apache iceberg table under the `catalog`.  ( see https://iceberg.apache.org/flink/).

In fact, for most of the flink sql users,  the [straightforward way](https://ci.apache.org/projects/flink/flink-docs-release-1.13/docs/connec

[2021-05-10 01:46] chenjunjiedada commented on #2571
Did you write positional delete as well? From the code path, it looks like the `posDeletes` is not equal to null.  The `fileProjection` only project `_pos` when `posDeletes` is not empty.

[2021-05-10 04:08] openinx commented on #2561
Okay,  I think I misunderstood the javadoc issue,  the iceberg master branch haven't updated the javadoc since 2 years ago, so we could not see the correct  `FlinkSource#Builder`.

[2021-05-10 04:09] openinx commented on #2561
Linked to this [issue](https://github.com/apache/iceberg/issues/2446).

[2021-05-10 06:48] openinx opened #2575 "Flakey flink unit tests TestFlinkTableSink#testHashDistributeMode"
I encountered the flakey unit tests several times:

[code]

[2021-05-10 08:15] liubo1022126 opened #2576 "Hive: insert overwrite table xxx partition (pt='xxx') on iceberg table"
I migrate tables from hive to iceberg use spark3,  so partition info in ddl is hidden.

When I run

 on flink or spark sql-shell, it’s ok, but when I run it on hive sql-shell, I get a error like below:

So what can I do for it, specify the partition in ddl ?

[2021-05-10 11:53] pvary commented on #2554
@RussellSpitzer: How likely is this situation based on your experience?

In Hive we faced similar situation a few times before, for example:
- Dropping the table and failing to remove the files

Sadly we still do not have a way in Hive to return a warning message along with reporting the success of the drop table operation. What we did in these cases:
- Log a warn message in the logs, and silently

[2021-05-10 12:08] RussellSpitzer commented on #2554
So far this has never cropped up intentionally but I had a user who saw the hive.engine.enabled property and set it on a large number of multiuser tables.

This caused a bit of havoc, the deletion issue then happened first since they were used to standard hive tables and removed the data files from some tables before the catalog.

The next issue we kept hitting is that there was no iceberg jars on

[2021-05-10 13:12] marton-bod commented on #2554
We do have the post-drop hook available though to convey information to the user after-the-fact, so for example we can throw an exception to draw the user's attention to this anomaly, despite the success of the core DROP operation.

So, I see two options:

- we try to load the Iceberg table in the pre-drop hook, save in a boolean whether it succeeded, DROP the table as per Hive, and if the load fa

[2021-05-10 14:42] marton-bod commented on #2554
This is a good point! Let's go with the first idea then - I'll put together a PR soon.

[2021-05-10 15:03] RussellSpitzer opened #2578 "Cannot unset hive.engine.enabled once enabled if Iceberg Jars are not on the HMS Classpath"
It is always possible to enable the hive engine property regardless of whether or not the storage handler is on the HMS classpath, but if it is not on the HMS classpath then it becomes impossible to read or alter the table in the future.

All references to the table which go through the HMS require loading the IcebergStorageHandler before actually doing something, this makes it impossible to alter

[2021-05-10 15:04] RussellSpitzer commented on #2554
Made #2578 for the engine enabled issue no jars on CP @pvary, Thanks ya'll for helping out with this

[2021-05-10 15:08] RussellSpitzer commented on #2576
Copying @marton-bod 's Email from the Dev Mailing list for future lookup

[2021-05-10 15:29] #2526 closed

[2021-05-10 15:34] pvary commented on #2567
@liubo1022126: To be honest, I am a bit confused. Did @dixingxing0 solution worked for you?
When @dixingxing0 closed #2198 I was not sure how he fixed it, and I assumed that it was somewhere in his own code. If not then we might want to find a general solution.

@dixingxing0: Could you please help us out here?

Thanks,
Peter

[2021-05-10 21:44] RussellSpitzer commented on #2562
Do you have a reproducible benchmark? That would be helpful but I try not to guess on root causes of performance differences without benchmarks and instrumented code.

[2021-05-10 22:54] szehon-ho commented on #2481
Yea , snapshotting an Iceberg table would be a great usability feature for sharing a certain snapshot of a table to others.

The stageOnly() API probably works for this but is not well known, and hard to expose through Spark/Hive to be shareable to other users.

One risk would be a user running snapshot on an Iceberg table, then dropping it thinking they are only dropping the snapshot.
 If I'm not

[2021-05-11 00:28] indranildey-sfdc opened #2580 "Allow SchemaToType class to be public so we can extends and override `record` method"
GOAL

We like to store Custom Avro Properties as JSONIFIED String to Iceberg Schema `doc` by using subclass of SchemaToType class and override `record` method.

However `SchemaToType` is too restrictive and does not allow us to override the same.

[2021-05-11 00:35] indranildey-sfdc commented on #2580
Besically `SchemaToType` class should be

- Public
- It should have protected Constructor
- `Schema root` should protected final
- `int nextId` should be protected.

These only allow us to override the `record` method in the Iceberg.

[2021-05-11 02:23] butaozhang commented on #2576
Hi @RussellSpitzer @marton-bod . I have test "Hive-iceberg-handler" module of  Hive master branch. Here are the test steps:
1, **Create the ice table using hive beelin:**
  CREATE EXTERNAL TABLE ice_tbl (i int) STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler';
2**, Make a insert DDL:**
  set hive.execution.engine=mr;
  insert overwrite table ice_tbl values(1);
3,**Make a select sta

[2021-05-11 02:28] butaozhang commented on #2576
Here append ice_tbl table structure:

[code]

[2021-05-11 07:42] marton-bod commented on #2576
@butaozhang Thanks for getting back to us. All the features developed in the `hive-iceberg-handler` module are tested only with the Tez execution engine, since MR has been officially deprecated for Hive4, so we're focusing only on Tez. (It's the opposite situation from the iceberg-hive-runtime, where only MR writes are currently working due to limitations of the Tez/Hive versions depended on by Ic

[2021-05-11 08:14] butaozhang commented on #2576
@marton-bod Thanks for giving guidance. I test and it works!  Here is the correct config:
[code]

By the way, can SparkSQL(version3.0)  read hive_Ice tables? I try to add jar hive-iceberg-handler-4.0.0-SNAPSHOT.jar to sparkSQL classpath and make ddl query of the hive_ice table, but didn't succeed. Error like the following:
[code]

[2021-05-11 20:30] aokolnychyi commented on #2533
I think @RussellSpitzer got it correctly and will submit a fix.

[2021-05-12 02:40] x-malet opened #2586 "Add geometry type to iceberg"
Hi everyone,

I was playing with Trino and Spark to store and manipulate geospatial data and store them in an Iceberg table but the geometry type is not supported yet. Is there a plan to add or support it?

I store the geometries as binary for now but, even if it's fast, it should be easier to store it as a geometry type and not having to translate it in every geospatial operations ( intersections

[2021-05-12 07:33] wulei0302 commented on #2571
I think this may be a problem with FlinkAvroReader. When reading the avro data file, FlinkAvroReader did not return the position information of the record, which caused the NEP problem later. Can we refer to FlinkParquetReaders ?

[2021-05-12 18:47] indranildey-sfdc commented on #2580
any update on this issue,

[2021-05-13 06:54] kbendick commented on #2586
I'm not necessarily opposed to the idea, but support for geospatial types seems like something that would need to be added to the various query engines (Trino, spark, etc).

If they supported geospatial data structures, or if they even had the geospatial functions like postgres-gis does, then I think it would definitely make sense to add support for them into Iceberg.

However, Iceberg is simply a

[2021-05-13 07:06] kbendick opened #2587 "[Site] Use mkdocs-redirects to handle deprecation of redirects for making site"
I was testing out creating the site locally, and I noticed that the `redirects` section of the site configuration file is deprecated and will be removed in version 1.0 of mkdocs

Here's the relevant error message
[code]

Checking out the website linked, it seems we need to install `mkdocs-redirects` and configure the mkdocs.yml according to this website here https://github.com/datarobot/mkdocs-red

[2021-05-13 07:08] snazy commented on #2557
I think, it's fine to "hide" these logs by default. Will try to write something that hides the HTTP-access-logs by default.

[2021-05-13 11:24] PiyushHurpadeDremio opened #2589 "Partition Spec Evolution"
I am trying to do Partition Spec update on V1 table. but commit is failing.
So in code snippet below third operation fails. when we are adding "data" field back. This steps seems to be valid. and also it fails in commit stage so I think its valid operation to do. we must have way to update "nullTransform" with updated one for previously delete field, when we are adding it back to partition spec.

[2021-05-13 14:19] x-malet commented on #2586
Hi @kbendick, thanks for your answer.  Yeah there is support for geospatial data in Trino ( [trino geospartial func](https://trino.io/docs/current/functions/geospatial.html) ) and spark have now a major projet supported by apache ( [Apache Sedona](http://sedona.apache.org/) )  and the problem is that, ever time you want to process a massive dataset stored in binary, you have to translate it from b

[2021-05-13 19:14] kbendick opened #2590 "Add JMH tests for spark 3 to compare Iceberg source and sink with native Spark source and sink"
We currently have JMH tests for spark2 (which requires JDK 8).

However, in the course of my work, I want to benchmark spark3 performance as well.

We should make the spark2 JMH benchmarks shareable between the two, so that the existing JMH benchmarks can be run on either Spark 2 or Spark 3 (and then additional ones can be added for Spark 3 specific features).

I am working on a PR to repurpose th

[2021-05-14 09:09] pvary commented on #2567
Thanks @dixingxing0!

[2021-05-14 09:49] dixingxing0 commented on #2567
Hi @pvary, after i did more testing, i found my solution not working as expected.

I've return an dummy field with `Integer` type when IcebergRecordObjectInspector#getStructFieldRef  raise 'cannot find field xxx_guid', but `Integer` type can not working with all SQL functions, e.g. CONCAT_WS(xxx_guid, '###') will raise an exception:
[code]

So, I think we still need another general solution.

[2021-05-14 10:43] pvary commented on #2567
@dixingxing0: By any chance, could you create a failing unit test for it?

[2021-05-14 14:12] MariusCostin opened #2593 "MERGE INTO TABLE is not supported temporarily"
Hello,

So, i'm trying to execute a Merge operation between 2 iceberg tables and it seems i get the following error:

**java.lang.UnsupportedOperationException: MERGE INTO TABLE is not supported temporarily.**

The setup is the following:
- **Amazon EMR** with **Spark 3.1.0** and also tried it on **EMR** with **Spark 3.0.1**
- Launching the shell with: **spark-shell --packages org.apache.iceberg:i

[2021-05-14 14:48] RussellSpitzer commented on #2593
This means 1 of two things,
Either the target of the table is not an Iceberg table, or the Spark Extensions was not set when the session was created.

In your case I believe it's number 2, since Spark-Shell already starts up a SparkContext I believe you will in the above code just be deriving a new session from that context, so some of your config options will be treated as runtime rather than as

[2021-05-14 16:17] MariusCostin commented on #2593
Thanks Russell for the help. Both tables are iceberg tables as I can read from them and they are saved in S3 with the proper metadata. I might not be doing something correctly or something is not set properly.

I tried to create the app like you suggested:

spark-shell --packages org.apache.iceberg:iceberg-spark3-runtime:0.11.1,software.amazon.awssdk:bundle:2.15.40,software.amazon.awssdk:url-conne

[2021-05-14 16:58] RussellSpitzer opened #2594 "Allow Type Promotion to String"
Was talking with some users, they often find they have to convert numeric columns to strings because someone didn't realize that their numeric data was actually alpha-numeric. I haven't looked into this but would it be feasible to allow type promotion of any primitive type to string?

[2021-05-14 17:02] RussellSpitzer commented on #2593
Sorry I copied the typo, it's
spark.sql.extensions not spark.sql.extensions

[2021-05-14 19:07] MariusCostin commented on #2593
Thanks Russell, that was it!

[2021-05-14 19:07] #2593 closed

[2021-05-16 01:23] moon-fall commented on #2308
I encountering this data error problem when i start a flink job to write data and another to RewriteFiles，I also think the rewritten files should use the old seqNum，I don't find PR for this issue .Has the plan been decided on? I think it's necessary to solve this problem.

[2021-05-16 13:56] MINCWANG commented on #2357
@junsionzhang Hi, zhangjun.  How did you solve the problem that create iceberg table in the hive ?

[2021-05-17 18:26] kbendick opened #2599 "Provide better error message when users try to run incremental scans on a history table"
It's not possible to run an incremental scan on a `history` metadata table.

Occasionally, users will swap back and forth between doing an incremental scan and querying the history table and will forget to unset the incremental versions, and the error message is not very helpful.

Here's an example:

[code]

 The error message
[code]

It would likely be much more helpful if it said something like

[2021-05-17 18:27] kbendick commented on #2599
This probably only comes up in the MetadataTable class, so not sure if it would be easier to update the base class or just that one place. I will take a look and submit a patch.

[2021-05-18 03:52] jackye1995 commented on #2481
Yeah this is a common case that I also see many people trying to achieve through Iceberg.

For exposing to Spark and Hive, would view help? We can create "snapshot view" for people to query, for example:

[code]

Then dropping the view would not affect anything of the underlying snapshot.

[2021-05-18 03:53] rakeshsayini opened #2601 "Hive aggregate query iceberg tables is failing with ArrayIndexOutOfBound exception using Hive Catalog"
Added this property in beeline: hive.vectorized.execution.enabled=false

The query  "select date_time,count(*) from db.tablename a group by date_time" is failing with below error. Same query works fine from spark.sql. If we select all columns it would work fine.

**Error:**
Caused by: java.lang.ArrayIndexOutOfBoundsException: 3
        at org.apache.iceberg.data.GenericRecord.get(GenericRecord.jav

[2021-05-18 03:56] jshmchenxi commented on #2482
@openinx Hi, we have also run into this problem.
Do you think it a good idea when expiring a snapshot, we should set the `parentId` of its children to `null`?
In this way the validation can succeed and since parent snapshot is expired, setting `parentId` to `null` might be reasonable.

[2021-05-18 04:14] coolderli opened #2602 "metadata.json not found"
I was running a Flink job ， there is the problem:
[code]
I found there was a commit failure:
[code]

I think it was because the commit was successful in the hive-metastore after the failure.

[2021-05-18 04:26] RussellSpitzer commented on #2602
Probably https://github.com/apache/iceberg/issues/2317
Will be fixed in the next major release (0.12), but you can always backport the fix now or do your own local release.

You can also recover (somewhat) by altering the table's metadata.json property to point towards an older metadata.json file

[2021-05-18 04:29] jzhuge commented on #2481
If Iceberg's TableCatalog also supports ViewCatalog, we may be able to create this "snapshot" view on the fly.

[2021-05-18 06:29] openinx commented on #2482
I think setting the parentId to be null could be one of the solution, but I'd like to check what's the specific PR if you have one.

[2021-05-18 06:29] coolderli commented on #2602
@RussellSpitzer  I have merged  #2317 and #2328. In my case, It will return FAILURE status not UNKNOWN status. I think it can be solved by more retries, In #2596, I tried to put check-status in TableProperties.
Maybe It could always return UNKNOWN when committed failed, or return FAILURE but not delete files.

[2021-05-18 06:37] coolderli commented on #2456
I have the same problem. Is this check too strict？Can we provide a configuration to turn off this check？

[2021-05-18 07:38] jshmchenxi commented on #2482
@openinx I have created a PR and will test it in our environment.

[2021-05-18 10:23] pvary commented on #2601
@rakeshsayini: Which version of Hive, Iceberg are you using?
Also, are you using MR or Tez as the execution engine?

The issue seems like #2171 which should be fixed by TEZ-4248.

CC: @marton-bod

Thanks,
Peter

[2021-05-18 10:43] pvary commented on #2481
@jackye1995: In Hive currently there is no way to parse `my_table@1234567890`. I suspect that in Spark this would mean something like `my_table` with snapshotId=`1234567890`. Am I right?

@jzhuge: What is `ViewCatalog`? Is it a Spark interface we should implement?

[2021-05-18 10:54] liuzx8888 opened #2604 "MERGE INTO TABLE is not supported temporarily."
i'm trying to execute a Merge operation between 2 iceberg tables and it seems i get the following error:
![image](https://user-images.githubusercontent.com/10862577/118638326-50845b80-b809-11eb-9fb4-c4fa76cba820.png)

The setup is the following:
[code]

[code]

now  i can   execute following sql susseccful  only merge failed

    spark.sql("create database if not exists hive_prod.ods2")
    spark.

[2021-05-18 13:24] rakeshsayini commented on #2601
@pvary : Thanks @pvary . Following are the versions we had and seems there is no other work arounds till TEZ issue is fixed.
Hive 3.1
Spark 3.0.2
IceBerg 0.11.1

[2021-05-18 13:45] rakeshsayini opened #2605 "Feature Request: To query iceberg tables from BI tools(like tableau,DBVisualizer) using jdbc/odbc connectors"
As there are no jdbc/odbc connectors to query iceberg tables , we tried to use Hive external tables  which were created by using HiveCatalog , but we are getting below error from Tableau and DBVisualizer while reading the schema information of Iceberg tables.

Iceberg version: 0.11.1
Spark Version: 3.0
Hive Vesion: 3.1

An error occurred while executing the database request for:
Apache Hive
3.1.0.

[2021-05-18 13:59] 221770490011111 commented on #2533
@Reo-LEI This patch can not  pass my test case，i think It's my configuration that's wrong。Can I get your contact information？email or QQ  Or other？Thank you very much

[2021-05-18 14:07] 221770490011111 commented on #2533
--jars   /opt/spark/jars/iceberg-spark3-runtime-30ec9b5.jar
 --conf
     spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions
--conf
      spark.sql.catalog.spark_catalog=org.apache.iceberg.spark.SparkSessionCatalog

I used the decompiler tool to make sure the code was correct,i use my test case or @Reo-LEI  test case ,It didn't work。Can I talk to you for a minute

[2021-05-18 14:08] 221770490011111 commented on #2533
@Reo-LEI

[2021-05-18 14:19] RussellSpitzer commented on #2604
I wrote this on another issue recently, I think usually you have two places where this could break.

Target table is not iceberg
Extensions are not loaded

In this case I'm guessing you are possibly making the session before setting the extensions property. This could happen in a notebook or shell which creates the session in an init script. Could you try moving the extensions config into a comman

[2021-05-18 15:31] liuzx8888 commented on #2604
@RussellSpitzer yes,it happened in my notebook idea, i can execute merge susseccful in ${SPARK_HOME}/bin/spark-sql
           use like

`./spark-sql --packages org.apache.iceberg:iceberg-spark3-runtime:0.11.1 \
    --conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions \
    --conf spark.sql.catalog.spark_catalog=org.apache.iceberg.spark.SparkSessionCatalog \

[2021-05-18 15:41] RussellSpitzer commented on #2604
The issue here is that SparkSession.getOrCreate will use any session that already exists if one does. In this case the extensions are not applied. You cannot modify the SparkConf after it has been made which is why you get the "can't modify" spark conf error. So in your case you have basically 2 options I think ...

1. find the original session creation in your code and add the property there, if

[2021-05-18 16:08] liuzx8888 commented on #2604
@RussellSpitzer  Thanks Russell, that was it ! Now it can run normally, thank you very, very, very much, you are such a great person

[2021-05-18 16:08] RussellSpitzer commented on #2604
Ha no problem

[2021-05-18 16:13] #2604 closed

[2021-05-18 16:53] karuppayya commented on #2559
The change is merged, closing this issue.

[2021-05-18 16:53] #2559 closed

[2021-05-18 17:24] kbendick opened #2607 "Allow pass through of catalog options to the Hadoop configuration"
We have users who are trying to use multiple catalogs, but because Spark treats the session catalog differently (and we pull the Hadoop configuration off of the active spark session), users cannot pass things like different kerberos principals (even though we do allow for some catalog overrides that users can

If users wanted to access data from one HDFS cluster to another that had a different aut

[2021-05-18 17:26] kbendick commented on #2607
cc @RussellSpitzer

[2021-05-18 19:19] RussellSpitzer commented on #2607
@marton-bod or @pvary have you run into this? My thought was we could just propagate Catalog Options into the Hadoop configuration. We currently just move through the URIS and ClientConnections

[2021-05-19 04:28] ayush-san opened #2610 "Flink CDC iceberg table have duplicate rows"
I am using flink CDC to stream CDC changes in an iceberg table. For some rows, I am getting duplicate rows in the table even though while writing I have passed equalityFieldColumns

[code]
I have verified at both debezium and flink end that they are not producing duplicate rows. PFA the flink datastream output

[code]

Here's the query result for same ID in spark-sql
![image](https://user-images.g

[2021-05-19 04:48] openinx commented on #2610
What's your iceberg table schema?   Is it possible that the rows with the same primary key located in two different partitions/buckets ?   If sure,  then we may encounter the duplicated rows that from two different partitions/buckets because we won't dedup the same rows from different partitions , it is high cost to accomplish that.

Another thing,  all those change log events come from MYSQLbinlo

[2021-05-19 05:18] Reo-LEI commented on #2533
sure, you can contact me via leinuowen@gmail.com

[2021-05-19 06:15] 221770490011111 commented on #2533
Thank you for your help

[2021-05-19 07:32] pvary commented on #2601
You may want to try out upgrading the tez jar to a newer version. Tez 0.9.3 supposed to have this fix. Since it is only a minor version change from the Tez 0.9.1 originally contained in Hive 3.1.2, upgrading might be possible.

[2021-05-19 07:58] pvary commented on #2607
@RussellSpitzer: Do I understand correctly that the proposed solution would be to copy the catalog specific configurations to the HiveConf when trying to access the underlying Iceberg table?

So for example:
[code]

Should be pushed to the HiveConf used to connect to metastore, like:
[code]

[2021-05-19 08:46] 221770490011111 commented on #2533
@RussellSpitzer
[code]

Thank you for your help，I want to confirm whether this parameter is required，Because my current Spark architecture is Spark-ThriftServer & Aluxio & OSS，There is no hive. Metastore. Uri; Does your piece of logic have to be configured with this class(org.apache.iceberg.spark.SparkCatalog) to execute? I'm just configuration
[code]

[2021-05-19 11:12] 221770490011111 commented on #2533
I think I've found the problem，Thank you very much for your follow-up!! @RussellSpitzer @aokolnychyi @Reo-LEI

[2021-05-19 11:12] #2533 closed

[2021-05-19 12:50] szlta opened #2612 "Vectorized ORC reads for Hive"
Currently Hive relies on org.apache.iceberg.mr.mapreduce.IcebergInputFormat for reading data from Iceberg. This in turn relies on the internal reader implementations for the various file formats, such as GenericOrcReader(s). Unfortunately for Hive, the whole read pipeline is record based, whereas GenericRecord instances hold the information on which Hive has to use the Iceberg object inspectors to

[2021-05-19 12:52] ayush-san commented on #2610
@openinx All my tables are unpartitioned and not bucketed.

The changelog I have shared is the output of the flink aggregated data stream, but rowkind is set by debezium deserializer class. Only some updates are coming as duplicates, most of the updates are handled correctly as I am using v2 spec for the tables

[code]

[2021-05-19 13:17] RussellSpitzer commented on #2607
That's why I was thinking at the moment unless we have another way of doing so or there is another solution I haven't imagine

[2021-05-19 14:05] pvary commented on #2607
Seems reasonable to me, and I do not know about other possibilities ATM

[2021-05-19 15:23] rakeshsayini commented on #2601
Thanks @pvary : Tez did not officially release 0.9.3 yet. They released  0.10.1,but it did not have the fix related to TEZ-4248 by that time.

[2021-05-19 15:39] marton-bod commented on #2607
I like this. Maybe a simplification could be to collect all the key-value pairs we want to push under a single key? That way we wouldn't need to iterate through the whole conf object to find these.

Based on the previous example:
`iceberg.catalog.other_catalog.configs_to_push=hive.metastore.sasl.enabled=true,hive.metastore.kerberos.principal=aaa,hive.metastore.sasl.enabled=true`

Then if we know o

[2021-05-19 16:30] pvary commented on #2607
I personally prefer to avoid concatenation because this would lead to parsing problems down the line which I would like to avoid.

Another option could the to add a key which contains the list of keys we want to push. Parsing a list of keys is more straightforward, but then it is more complicated to configure...
[code]

[2021-05-19 16:36] RussellSpitzer commented on #2607
Since this is spark specific, I think i would just want it to be like the SparkConf and just have anything set as hadoop.* propagated (without hadoop)

[2021-05-19 17:30] rdblue commented on #2308
@openinx, I'm just back from parental leave so I'm catching up on this now. Thanks for your patience here.

[2021-05-19 18:13] rdblue commented on #2308
I just read through this so I think I'm caught up. Sounds like we are discussing two problems, one short term and one long term.

The short term issue is that we have a correctness problem when a row delete is committed while a rewrite is happening. I think we should fix this problem right away using the approach that @stevenzwu suggested: rewrite should validate that there are no new delete files

[2021-05-19 20:38] kbendick commented on #2607
When looking at this, I too was thinking that it would be anything from `hadoop.*`, as Russell mentioned. This way it's in line with the SparkConf.

So `iceberg.catalog.other_catalog.hadoop.hive.metastore.connect.retries` -> parsed out per catalog and mapped to `hive.metastore.connect.retries` in Spark.

I'm much less familiar with the Hive codebase, but I imagine the same issue would also come up

[2021-05-19 21:08] #2540 closed

[2021-05-20 00:47] openinx commented on #2610
Did you have multiple parallelism in flink job to write the same keys to unpartitioned table ?   Assume there's two operations:

[code]

As we have 2 parallelism to write those rows ( without shuffling by primary key),  then it's possible that:  The first parallelism  accept the event2 ( DELETE key1 value1) and write to the iceberg table,  the second parallelism accept the event1 and event3 and wr

[2021-05-20 02:05] coolderli opened #2618 "Does Spark sql support time-travel?"
I tried to set `snapshot-id` in TableProperties when I use spark SQL to use time-travel, but it didn't work.
I have tried that it can be used in [DataFrames Api](http://iceberg.apache.org/spark-queries/#spark-24-with-sql), but SQL is easier.
I'd like to use SQL hint syntax to set the options just like [Flink ](https://ci.apache.org/projects/flink/flink-docs-release-1.13/docs/dev/table/sql/queries/

[2021-05-20 02:07] coolderli commented on #2618
I wonder if we can add a dynamic table option to spark SQL.
eg: [Coalesce Hints for SQL Queries](https://spark.apache.org/docs/latest/sql-performance-tuning.html#coalesce-hints-for-sql-queries)

[2021-05-20 06:40] maxingui opened #2619 "trino iceberg planning time so long"
we use trino iceberg with huawei OBS,the planning time is more than 20 s，while the total SCHEDULE and RUNNING time is only 2 s ,I do not what worry with it;

the debug log is like that:
2021-05-20T06:06:01.039Z        DEBUG   Query-20210520_060537_00323_gbd7b-4734  io.trino.plugin.hive.metastore.thrift.ThriftHiveMetastoreClient Invocation of get_table_req(req=GetTableRequest(dbName:icebergsf1_02,

[2021-05-20 07:07] pvary commented on #2601
That is sad 😢
Is it possible for you to create and try out a patched build?

[2021-05-20 07:11] pvary commented on #2607
Yes this will be definitely a problem for Hive as well.

That would look quite awkward for a Hive user. It would be strange that a config starting with hadoop will be put to the HiveConf.

[2021-05-20 07:46] tiborkiss commented on #2558
I get stuck with this. I must use Flink 1.12 or 1.13.
I am new to this codebase. I did some research in the flink repository, but I couldn't figure out why it was removed, or to find what is the solution.

The tests fails, because there are tests which assumes this FlinkCatalogFactory based code exists. It cannot be removed without removing the associated tests also.

First, I would have to unders

[2021-05-20 08:05] dixingxing0 commented on #2619
It seems that your log is incomplete, i think it's better to have more log.

Since you created this issue in iceberg project, i assume you are more inclined to think it is related to iceberg, do you have more clues about it?

Did you have tried with other engine like spark sql, if spark sql also planned slow, then maybe it is irrelevant to trino.

BTW, i've tried trino356 (with PR https://github.c

[2021-05-20 11:02] Poncirus commented on #2530
Probably they forgot fixing this in 3.1. See https://issues.apache.org/jira/browse/SPARK-33867. Patch was only merged to 3.0 and master branch.

[2021-05-20 11:34] Poncirus commented on #2530
Is this the same issue? https://issues.apache.org/jira/browse/SPARK-33867

[2021-05-20 12:58] RussellSpitzer commented on #2530
Looks like the same core issue but for the JDBC Connector/Dialect code

On Thu, May 20, 2021 at 6:34 AM Liao Hanwen ***@***.***>
wrote:

[2021-05-20 19:30] #2546 closed

[2021-05-20 19:50] kbendick commented on #2607
Ok. I somewhat pictured that. Given that this will be a problem for several people, another idea that I've had floating around in my head (that might not be a good one so feel free to say so) would be to have possibly multiple hive-site.xml / whatever hive conf files and have THOSE be pointed to as table properties?

Admittedly even just typing it out, I don't love it. But I'd be curious to hear w

[2021-05-21 03:00] openinx commented on #2558
Because the `CatalogDescriptorValidator` is a public API which was marked as `Internal`,  the `Internal` API don't guarantee the compatibility when upgrading from flink 1.12 to flink1.13,  so in theory we apache iceberg shouldn't use any of the `Internal` public API from apache flink unless we have to ( actually we've already followed the rule but still have few depended classes).

Firstly,  we ap

[2021-05-21 07:42] xianhaohihi commented on #2455
hi, i've met the same problem with flink 1.12 when trying sink data to iceberg, have you already solve the problem?

[2021-05-21 09:30] pvary commented on #2607
In hive you very rarely want to touch the local FS or even the remote FS directly. Not that it is not possible, but again something that would be strange.

Currently I still would prefer the `...catalog_in_different_authority.config_to_push.hive...` solution, but I also admit it is not perfect (adding secrets to the public config and making sure everything is hidden correctly seems like a wish for

[2021-05-21 09:43] jshmchenxi commented on #2482
I found that setting parentId to null will cause some tests to fail because it loses relationship between child and parent snapshots. I tried another approach in the PR : https://github.com/apache/iceberg/pull/2603#issue-646494574

[2021-05-21 09:45] Poncirus commented on #2530
I may find the reason.
See https://issues.apache.org/jira/browse/SPARK-31910 and https://github.com/apache/spark/pull/28729. Configure spark.sql.datetime.java8API.enabled is set to true in thrift SQL CLI, whose default setting is false.
I work around this issue by adding "set spark.sql.datetime.java8API.enabled=false;" in my spark SQL temporarily. Looking forward to new release of iceberg.

[2021-05-21 12:10] ayush-san commented on #2610
@openinx Earlier I had task parallelism of 2 in the Source Kafka table, now I have reduced it to 1. Will monitor the job if it is working fine or not
![image](https://user-images.githubusercontent.com/57655135/119134765-2e821780-ba5b-11eb-9d77-76df0957357b.png)

I have one question though, Will it be solved by your primary key PR? For some big tables, I need we will need parallelism of more than 1

[2021-05-21 13:09] ashwini-tgam commented on #2455
I am using flink 1.11 in production which did not solve my issue

[2021-05-21 13:09] ashwini-tgam commented on #2455
No I am not able to solve it but in production server it worked but never worked on my local

[2021-05-21 13:12] RussellSpitzer commented on #2530
Ah ha! Thanks for tracking that down! I knew there had to be something floating around that caused the issue

Sent from my iPhone

[2021-05-21 22:43] jackye1995 commented on #2481
@pvary yeah sorry I am making up this syntax because something similar to this exists in delta lake. So it is definitely doable in Spark, but for Hive yes it is going to be hard to add extensions like this.

[2021-05-21 22:52] rdblue commented on #2481
For this use case, we may want to consider adding git-like branches and tags instead. I think it would be cleaner to branch and then update the branch. Then you'd be able to stay within a table and reuse data files more cleanly. Sharing files across independent tables has a lot of problems.

That would also have a cleaner syntax: `catalog.db.table.branch`. That would prevent us from using some bra

[2021-05-22 01:59] jackye1995 commented on #2481
@rdblue yes that would be ideal, but Nessie is trying to achieve this git-like experience. Currently it seems like people do want to continue using their catalog and also have that experience. Was there any discussion about this conflict of interest?

[2021-05-22 13:45] maxingui commented on #2619
thinks for you reply，my trino version is 356 too； the issue does not appear in hdfs+hadoop environment,but trino iceberg with huawei OBS accurs
log as below：
[22.log](https://github.com/apache/iceberg/files/6526494/22.log)

[2021-05-23 23:25] rdblue commented on #2481
I've talked with @rymurr about the way that Nessie currently works and I think we generally agree that we would want to change it to use Iceberg-native branching and tagging.

The problem with Nessie's current model is that it keeps references to multiple metadata files instead of tracking everything in one place. That means:
* We have to coordinate across metadata file versions even though Iceber

[2021-05-24 03:37] xwmr-max opened #2626 "Iceberg Upsert: Iceberg 通过Kafka一次性插入多条主键值相同的数据，数据查询不了"
java.lang.IllegalArgumentException: Row arity: 3, but serializer arity: 2
        at
org.apache.flink.table.runtime.typeutils.RowDataSerializer.copy(RowDataSerializer.java:117)
        at
org.apache.flink.table.runtime.typeutils.RowDataSerializer.copy(RowDataSerializer.java:50)
        at
org.apache.flink.streaming.runtime.tasks.OperatorChain$CopyingChainingOutput.pushToOperator(OperatorChain.java

[2021-05-24 03:38] #2626 closed

[2021-05-24 07:10] ayush-san commented on #2610
Even after setting parallelism 1, I am getting duplicate rows.

![image](https://user-images.githubusercontent.com/57655135/119309215-a46cc580-bc8b-11eb-9732-84899bf40971.png)

[2021-05-24 07:11] xwmr-max opened #2627 "Using Kafka to insert multiple pieces of data with the same primary key value in Iceberg at one time, the data cannot be queried"
When multiple pieces of data with the same primary key value are inserted in the same batch in iceberg, query through flink sql, the data cannot be queried, and the following error will be reported:
java.lang.IllegalArgumentException: Row arity: 3, but serializer arity: 2
Caused by: java.lang.IllegalArgumentException: Row arity: 3, but serializer
arity: 2
        at
org.apache.flink.table.runtime.

[2021-05-24 08:23] ayush-san commented on #2610
@openinx Can this be the reason behind duplicate data https://github.com/apache/iceberg/issues/2308?

[2021-05-24 08:56] kbendick opened #2628 "Possible malformed log or NPE in BaseMetastoreTableOperations#checkCommitStatus for Nessie tables."
`BaseMetastoreTableOperations#checkCommitStatus` will either throw an NPE when called on a table backed by the Nessie Catalog, or will log the table name as `null` even though it is known.

`checkCommitStatus` uses `BaseMetastoreTableOperations#tableName` for logging, which is not declared as abstract and by default returns `null`.

`GlueTableOperations` and `HiveTableOperations` both override thi

[2021-05-24 09:55] zhangjun0x01 commented on #2558
I tested that, if we upgrade to flink 1.13 ，and all UT have passed, some methods of `FlinkCatalogFactory` need to be modified, because `org.apache.flink.table.factories.CatalogFactory` interface of flink has changed, the specific code refers to this branch: https://github.com/zhangjun0x01/iceberg/ tree/flink1.13  。 I think it is difficult to be compatible with flink 1.12 and 1.13 at the same time

[2021-05-24 10:14] kbendick commented on #2628
I have a PR for this, which I will push in the morning.

[2021-05-24 12:55] rymurr commented on #644
From what I can tell the last discussion about the above SPIP on the spark community was >6 months ago. Any idea of when that will land in Spark? Can we move forward on this proposal in parallel? I am happy to put a straw man document together,

[2021-05-24 14:21] #2628 closed

[2021-05-24 20:41] dubeme opened #2631 "UnsupportedOperationException: Byte-buffer read unsupported by input stream"
Hi,

Please can someone help me with this issue. I successfully wrote an iceberg table called `cat.table`. But when I try querying I get this errors `UnsupportedOperationException: Byte-buffer read unsupported by input stream`. Here is more details:

### Setup

* Databricks - Runtime 7.6 ML
* Spark - Version 3.0.1
* Iceberg - Iceberg-spark3-runtime_0.11.1
* HDFS - Azure Data Lake

### Schema
Colum

[2021-05-25 12:16] szehon-ho commented on #2481
Seems like a nice way to expose staged-snapshots.  We could expose metadata of this branch as well, like catalog.db.table.branch.files?

And I suppose Hive can support this easily as well then, if it's already able to parse metadata tables.

[2021-05-25 12:24] coolderli opened #2632 "Flink CDC has duplicated data"
I was trying to write binlog to an iceberg table with Flink SQL.

This is my iceberg table with a primary key `id`.
spark-sql> desc extended goods_info_backend_v2;
**id	bigint	主键**
gid	bigint	商品ID
pid	bigint	商品型号ID
cid1	int	旧一级分类
cid2	int	旧二级分类
cid3	int	旧三级分类
cid4	int	旧四级分类
...
Table Properties	[current-snapshot-id=4044922955807923122,**equality.field.columns=id,format=iceberg/parquet,format.versi

[2021-05-25 12:40] caseylucas commented on #2632
@coolderli I noticed you closed this issue. Was there no problem? Do you mind sharing what you found?

[2021-05-25 12:53] coolderli commented on #2632
[files.zip](https://github.com/apache/iceberg/files/6539351/files.zip)

There are 11 files in this zip.

**1 snapshot files:**
snap-4839740852915438766-1-1f06a123-f35f-4ed4-9cfe-65324b98549d.avro
2 manifests
1f06a123-f35f-4ed4-9cfe-65324b98549d-m0.avro   -- data
1f06a123-f35f-4ed4-9cfe-65324b98549d-m1.avro   --delete

**2  data files:**
data/id_bucket=5/00000-3-5b132013-2f36-4a79-9993-3fed0077e5d2

[2021-05-25 13:00] coolderli commented on #2632
This is my flink DAG , the parallelism is 1.
![image](https://user-images.githubusercontent.com/38486782/119502068-1a605200-bd9c-11eb-9e39-315f22851461.png)

And my table is a partitioned by bucket(`id`, 8), and there are no errors in snapshots 4839740852915438766.

[2021-05-25 13:05] coolderli commented on #2632
@openinx  Could you help me take a look at this problem, please? Thanks.

[2021-05-25 13:07] coolderli commented on #2632
@caseylucas I have finished the report, and reopen it. Can you take a look at it for me？ Thanks.

[2021-05-25 13:26] pvary commented on #2481
I also like the idea of branching / tagging  tables.

AFAIK we do not have a way to expose table metadata ATM. I am still not sure what would be the best way to allow searching for snapshots etc.

If I remember correctly then Expedia had a way to create specific Hive tables where the schema was the `SNAPSHOT_SCHEMA` and the content was the list of the snapshots, but that required the user to creat

[2021-05-25 15:03] lizu18xz opened #2633 "Does spark integrated iceberg support concurrent insert overwrite"
Does spark integrated iceberg support concurrent insert overwrite？

[2021-05-26 00:25] kbendick opened #2635 "Bug in emitted ScanEvent in BaseAllMetadataTableScan"
BaseAllMetadataTableScan emits a `ScanEvent` during its `planFiles` phase.

However, the `ScanEvent` uses the `tableName` of the table to which the metadata corresponds, and not the actual metadata table.

For example, for a table `foo`, if one does a query on the table `foo.all_data_files`, the `ScanEvent` is going to be emitted with `foo` as the table name.

This is likely causing incorrect data

[2021-05-26 08:58] rymurr commented on #2481
Hey all, sorry for being late to the party.

Ive asked @rdblue if we can discuss this in more detail at the next sync up, hopefully everyone can join for a brainstorm session. Would be great to make branches and tags first class citizens in Iceberg!

One thing I would like to solve is how to efficiently sync branches/tags across multiple tables. The git-like model in nessie makes this trivial as a

[2021-05-26 11:57] tiborkiss opened #2636 "[AWS] AssumeRoleAwsClientFactory with Flink"
We have assume role based AWS setup and I would like to try Iceberg with Flink 1.11 . Unfortunately I cannot figure out the setup in case of Flink.

In the [documentation](https://iceberg.apache.org/aws) there is a section **Cross-Account and Cross-Region Access**. That in case of Spark gives an example how to pass
[code]
I cannot figure out how to apply that for Flink.
Under flink there is a `con

[2021-05-27 02:03] zhangjun0x01 commented on #2558
During our testing, I found some minor issues that may be flink 1.12, but flink 1.13 fixed these issues, so I upgraded iceberg's flink version to flink 1.13.

[2021-05-27 08:03] sfiend opened #2644 "Flink: The primary key name of the same iceberg table should be same during different queries"
I think this is a bug in [#2410](https://github.com/apache/iceberg/pull/2410)

When I run alter properties with flink sql on a table with a specified primary key, i got an error:"Altering schema is not supported yet.". I checked the code logic in FlinkSchemaUtil, it called Flink TableSchema.Builder.primaryKey(String... columns) to build primary key, and this function will use UUID.randomUUID() to

[2021-05-27 08:51] sfiend commented on #2627
I had met the same problem before. When multiple pieces of data with the same primary key value are inserted in the same batch, besides equality delete files, iceberg will also write position delete files. A fter that during your query, when FlinkInputFormat initialize the RowDataIterator and read next, the iterator will initialize the FlinkDeleteFilter, in this initialization, the FlinkDeleteFilt

[2021-05-27 09:22] #2602 closed

[2021-05-27 11:35] sfiend opened #2645 "Shoud Flink Iceberg table source implement the LookupTableSource to support temporal table join for flink streaming task?"
In many scenarios, flink streaming source table will consume kafka topics and join with a dimension table like hive, due to flink hive table source will cache all hive partitions and then look up the match rows from cache for now, the performance of hive is not good  enough if the hive table is large. Iceberg table has metadata and support primary key now, and also can push down the filters when s

[2021-05-27 20:18] #1980 closed

[2021-05-27 23:58] RussellSpitzer commented on #2040
I'm not sure why the INSERT INTO behavior has changed, but from what I know the command by default only uses positional information not name resolution when doing inserts. My assumption is that it assumes that since no columns were specified, the insert will be looking for 3 input columns to match the 3 columns in the target.

I am pretty sure that to do an insert of specific columns it is suppose

[2021-05-28 02:05] hashmapybx opened #2647 "flink+iceberg start on flink sql client , there are some error."
Flink SQL> CREATE CATALOG hive_catalog WITH (

2021-05-27 21:59:18,940 INFO  org.apache.hadoop.hive.conf.HiveConf                         [] - Found configuration file null
[INFO] Catalog has been created.

Flink SQL> use catalog hive_catalog;

Flink SQL> show tables;
[INFO] Result was empty.

Flink SQL> show databases;
default
iceberg_db

Flink SQL> use iceberg_db;

Flink SQL> show tables;
iceber

[2021-05-28 02:06] hashmapybx commented on #2647
my development environment is:
apache-hive-2.3.6-bin
flink-1.11.3
iceberg-flink-runtime-0.11.1.jar
flink-sql-connector-hive-2.3.6_2.11-1.11.0.jar

[2021-05-28 08:42] zyb1229 opened #2650 "flink cdc 2 iceberg0.11.1"
Hello. have a error when I write data to Iceberg
val catalogLoader = CatalogLoader.hadoop(HIVE_CATALOG, conf, properties)
CatalogLoader. LoadCatalog ().

Error:
java.lang.NoClassDefFoundError: org/apache/thrift/TBase
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
        at java.security.SecureClassLoader.defineClass(

[2021-05-28 21:24] snazy commented on #2557
As discussed on #2588, the iceberg-nessie tests fail against Nessie 0.6.1, because Nessie's Quarkus-server is already built for Java 11 (Quarkus 2 will drop support for Java 8 anyways). We've opted to change the Gradle + Maven plugins to pull the uber-jar  and launch that one in a separate Java 11 VM. It has the nice "side effect", that both environment-variables and system-properties can be set v

[2021-05-31 03:30] kbendick commented on #2607
Thanks for helping me understand better. I've never had much practical experience with Hive (other than for small scale stuff or for some simple stuff where it was easier for whatever reason, e.g. queries against small datasets in the Airflow UI).

Yeah. I can see your point with respect to the secrets in the public config. That does seem like a headache.

I also don't necessarily have an idea for

[2021-05-31 03:33] kbendick commented on #2607
When I do that, I'll also try to check out the feasibility of the approaches mentioned by both of you, @pvary @marton-bod 👍.

Thanks for your input thus far.

[2021-05-31 11:57] ashoksri0 opened #2652 "Spark sql Create DDL not wokring"
**spark version: 3.1.1**
**iceberg version: 0.11.1**

**Source Code:**

`
object IcebergIngestionDDLTest {
  def main(args: Array[String]): Unit = {
    val spark = SparkSession
      .builder()
      .master("spark://ASH:7077")
      .appName("SparkByExample")
      .appName("Spark Hive Example")
      .config("packages","org.apache.iceberg:iceberg-spark3-runtime:0.11.1")
      .config("spark.sql

[2021-05-31 12:06] rymurr commented on #2652
Hi @ashoksri0

Can you try with Spark `3.0.2`? The `0.11.x` release isn't compatible with Spark `3.1.x`.

[2021-05-31 13:37] liubo1022126 commented on #2647
me too

[2021-05-31 14:06] sfiend commented on #2644
Hi bro @openinx, could you help me to take a look? Thanks.

[2021-05-31 14:28] liubo1022126 opened #2653 "Flink: Can not see hive udf in Flink when use iceberg hive catalog"
Flink: **flink-1.11.1-bin-scala_2.12**
Jar: ./bin/sql-client.sh embedded -j /app/flink-1.11.1/lib/**iceberg-flink-runtime-0.11.0.jar** -j /app/flink-1.11.1/**flink-sql-connector-hive-2.3.6_2.11-1.11.0.jar** shell
Hive: **2.3.8**
JDK: **1.8.0_202**

As [Flink doc](https://ci.apache.org/projects/flink/flink-docs-release-1.11/dev/table/hive/hive_functions.html#hive-user-defined-functions) say, Hive’s

[2021-05-31 14:51] StefanXiepj commented on #2653
@liubo1022126 I'll try to support this feature.

[2021-06-01 03:23] liubo1022126 commented on #2653
thanks for @StefanXiepj ,is there any PR for this? We urgently need this function, or is there any other way to achieve this requirement ?

[2021-06-01 03:30] liubo1022126 commented on #2219
fix as https://github.com/apache/iceberg/pull/2343

[2021-06-01 06:16] ayush-san commented on #2610
@stevenzwu @rdblue  Can you help here?

[2021-06-01 07:28] ashoksri0 commented on #2652
@rymurr  thanks, now its working with 3.0.2

[2021-06-01 07:28] #2652 closed

[2021-06-01 08:32] miaowenting commented on #2647
open your sql-client.sh , add  -noverify  after  $JVM_ARGS at two places to skip bytecode check .  you can try .

[2021-06-01 08:51] openinx commented on #2610
You mean you have did any compaction when the flink job were upsert rows into apache iceberg table ?   We have also other Asia users encountered this issue,   If they don't do any compaction then we will never encounter any duplicated rows  but once we enable the compaction service then duplicated rows happen.  Yes, that's indeed a bug ( #2308) that we will need to fixed.

If you don't do any comp

[2021-06-01 09:01] openinx commented on #2647
I think the  root cause is :  we did not use the correct version for apache iceberg,  apache flink, apache hive.    For example,  if you choose to use hive-2.3.6  & flink 1.11.3,  then we will need to build our own iceberg-flink-runtime-xx jar based on the hive-2.3.6 & flink-1.11.3,  and finally we use this generated jar to run the flink jobs.

[2021-06-01 09:05] #2647 closed

[2021-06-01 09:29] miaowenting commented on #2209
#2572

[2021-06-01 09:30] miaowenting commented on #2209
#2572

[2021-06-01 09:31] miaowenting commented on #2209
#2572

DDL may like this：

CREATE TABLE iceberg_sample(
     id BIGINT,
     data STRING
) WITH (
     'connector'='iceberg',
     'catalog-type'='hadoop',
     'warehouse'='hdfs://nn:8020/warehouse/path'
);

[2021-06-01 23:24] flyrain commented on #1617
Thanks @anuragmantri for filing the PR and updating the design doc. It is great that there is no spec change in the latest design.

[2021-06-02 01:32] StefanXiepj commented on #2653
Someone think it’s like this：Iceberg catalog for hive just support loaded tables from a hive metastore, in other words, iceberg is a table format, so it only focus on the meta data about tables.

But I think we should support this feature, which is the standard defined by the Catalog interface.

@rymurr cc

[2021-06-02 13:23] malloy-J commented on #2647
how do you fix this issue?I get same error, please give me some advice

[2021-06-03 01:22] kbendick commented on #2632
If you have partitioning by 8 buckets, then every snapshot will produce 8 data files (at most... assuming there's data for each output partition / bucket).

So if you took a snapshot, the snapshot would commit the data. And so therefore, your files will be less than 512 mb if the job needs to commit and you don't have 512 * 8 mb (as Flink jobs always commit data on snapshot iirc for correctness gu

[2021-06-03 08:40] silvermissile commented on #2063
So this means that  table created though hive_catalog   con't schema evoulution  for now

[2021-06-03 09:05] pvary commented on #2063
I think using Spark/Flink or whatever API we can evolve the schema (we have not checked yet if the resulting table could be read or not by Hive), but we can not do schema evolution from Hive or Impala - there are ongoing efforts but nothing available ATM

[2021-06-03 09:26] Aload opened #2669 "An error occurred when I started running Iceberg"
sql-client.sh embedded -j lib/iceberg-flink-runtime-0.11.1.jar -j lib/flink-sql-connector-hive-2.3.6_2.12-1.11.3.jar shell

Flink SQL> CREATE CATALOG h_catalog WITH (

Exception in thread "main" org.apache.flink.table.client.SqlClientException: Unexpected exception. This is a bug. Please consider filing an issue.
        at org.apache.flink.table.client.SqlClient.main(SqlClient.java:213)
Caused by

[2021-06-03 09:55] silvermissile opened #2670 "The table schema given by Hive metastore is different from the schema when this table was created by Spark SQL We have to fall back to the table schema from Hive metastore"
I use hive sql to alter  iceberg table  createed by flinkSQL's iceberg-type catalog, but  meet thie [Could Hive alter iceberg table? #2063](https://github.com/apache/iceberg/issues/2063)

So I verify  schema evolution though spark , but not work either.
My attempt is as follows
## 1. create table by spark
[code]

## 2. alter talbe by hive
[code]

## 3. alter table by sparkSQL shell client
`[spark-

[2021-06-03 10:06] silvermissile commented on #2669
`Caused by: java.lang.IllegalArgumentException: Unrecognized Hadoop major version number: 3.0.0-cdh6.3.2`  .
this link shows  support hadoop version
https://github.com/apache/iceberg/blob/11562e38255e968079a6f5c8f6a0ce14b06825af/versions.props#L5

[2021-06-03 10:39] #2090 closed

[2021-06-04 04:03] silvermissile opened #2673 "hive create table on existing iceberg table faild"
I test create external table using hive  on an Exiting iceberg table  ,but happen to  `MetaException(message:org.apache.hadoop.hive.serde2.SerDeException Please provide an existing table or a valid schema)`

same as here https://github.com/apache/iceberg/issues/1884

I'm not sure whether  I  understand this doc correctly  http://iceberg.apache.org/hive/ .

My attempt  is as follows:

###  1. creat

[2021-06-04 06:43] ayush-san commented on #2610
Yes, I have done compaction when the flink CDC job was still running.

Before running the compaction job
![image](https://user-images.githubusercontent.com/57655135/120757110-bcff9a00-c52d-11eb-93d0-c637be447608.png)

After running compaction and manifest rewrite action
![image](https://user-images.githubusercontent.com/57655135/120757221-e28ca380-c52d-11eb-838a-895afa3d17e9.png)

@openinx Here as

[2021-06-04 08:04] pvary commented on #2673
@silvermissile: Have you tried to use the full URI for the table, like "hdfs://{NameNodeHost}:8020/"?

[2021-06-04 08:25] silvermissile commented on #2673
thank you.  I try set location hdfs:///xxxx  or  hdfs://namesevice:8020/xxx ,  get same Error

[2021-06-04 08:26] silvermissile commented on #2673
@pvary  thank you. I try set location hdfs:///xxxx or hdfs://namesevice:8020/xxx , get same Error

[2021-06-04 08:30] silvermissile commented on #2670
It works to alt a hadoop_catalog iceberg table ,  but not for hive_catalog

[2021-06-04 08:46] tiborkiss commented on #2636
I close because we had a non-standard aws client configuration, which caused the problem.

[2021-06-04 08:46] #2636 closed

[2021-06-04 08:54] pvary commented on #2673
@silvermissile: Do you have more logs around this code? I would be especially interested in the full stack trace.

Thanks,
Peter

[2021-06-04 08:55] pvary commented on #2673
Maybe it is in the HS2 logs

[2021-06-04 08:58] silvermissile commented on #2670
spark-sql   needs   `  --confextensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions `  , sorry to not have notice the document change

[2021-06-04 08:58] #2670 closed

[2021-06-04 09:23] silvermissile commented on #2673
the detail log is shown  above from beeline console.

change `hive-log4j2.properties` , hs2 log only show one line
[code]

[2021-06-04 10:25] kbendick opened #2676 "Create a docker based demo environment for user testing and community onboarding"
We currently lack any kind of docker based demo environment.

We have some sample notebooks, and some JMH tests, but we don't have a playground to provide to potential users to easily download and evaluate Iceberg.

Having a docker demo or testing environment has become somewhat the standard for many open source projects. Especially given how many parts are involved with using Iceberg (at least on

[2021-06-04 10:32] kbendick commented on #2676
@rymurr and I had some initial discussion in this ticket https://github.com/apache/iceberg/pull/2674, where there are also links to some of the stuff that he and some of the Nessie folks have put together that runs a notebook for the basics.

So there will likely be some overlap, but at least from a first pass, there's less overlap than one might think. Mine runs entirely locally via docker-compos

[2021-06-04 10:33] kbendick commented on #2676
Also cc @raptond and @holdenk who might have some interest as well 🙂.

[2021-06-04 10:35] rymurr commented on #2676
Thanks for starting this @kbendick! Super useful! you can find a short description of what we do in this comment: https://github.com/apache/iceberg/pull/2674#issuecomment-854568624

Our goal w/ our demos was to have zero extra set-up. So a notebook is hosted on google colab and it locally starts spark and needed infra. Admittedly its not distributed and it wouldn't be easy to get Hive started in t

[2021-06-04 18:22] kbendick commented on #2676
I agree. When myself and @rdblue were discussing this a while back, we wanted to keep things as simple as possible, particularly for the demo. So ideally just the bare mininum.

I know there are issues when using derby in memory (though possibly those have been corrected).

The setup I have is definitely more of a dev environment in that sense (3 or 4 images), but I'll see what I can do about gett

[2021-06-05 13:56] moon-fall opened #2679 "error when run flink-sql with iceberg table that has identifierFieldIds"
error like this
Exception in thread "main" org.apache.flink.table.api.ValidationException: Could not create a PRIMARY KEY '17bb7db3-e030-4639-ba8a-ff74f78649f6'. Column 'id' is nullable.
	at org.apache.flink.table.api.TableSchema.validatePrimaryKey(TableSchema.java:468)
	at org.apache.flink.table.api.TableSchema.access$200(TableSchema.java:59)
	at org.apache.flink.table.api.TableSchema$Builder.bui

[2021-06-07 11:02] #2612 closed

[2021-06-07 17:38] jackye1995 commented on #2679
I think this is because the Iceberg identifier field can be null, but Flink does not allow null primary key column. Is it the case for you? What is the type of `id` column in your Iceberg schema?

[2021-06-07 21:37] jackye1995 opened #2681 "Improve hidden partition support for Hive CREATE TABLE"
Currently user can only create table with identity transforms through the standard Hive CREATE TABLE syntax, or specify the json text of the partition spec as table parameter using key `iceberg.mr.table.partition.spec`. This is very hard to use for users writing SQL manually using in an interactive console or notebook.

We would like to contribute a more user friendly way to specify the values, so

[2021-06-08 02:41] xwmr-max commented on #2308
Luckily, we streaming update/upsert job won't produce any position delete files that delete the old data files, so that should be OK.

I think this is possible. When you insert multiple data with the same primary key very quickly and perform upsert, a lot of position delete files will be generated.

[2021-06-08 02:43] xwmr-max commented on #2308
@stevenzwu I think this is possible. When you insert multiple data with the same primary key very quickly and perform upsert, a lot of position delete files will be generated.

[2021-06-08 03:01] xwmr-max commented on #2308
Isn’t this position delete files mixed with the equality delete files to filter data files? You mean that position delete files can filter data files directly, instead of first filtering equality delete files through position delete files, and then filtering through equality delete files after filtering data files?

[2021-06-08 05:03] ayush-san commented on #1949
@mehtaashish23 We are also doing something similar, were you able to contribute this feature?

[2021-06-08 05:21] aimenglin opened #2682 "Hadoop tables: how to view history, and snapshots."
Hi All,

When I created Iceberg table by Hadoop tables, how can I view the history, snapshots?
If I created by Hive Catalog, it's very easy to use spark.read.format("iceberg").load("db.table.history").show(truncate = false).
What should be the cl in Hadoop tables?

Thanks in advance.

[2021-06-08 05:24] pvary commented on #2681
Hi @jackye1995,

We definitely think that having the ability to create partitioned Iceberg tables with all of the supported transformation is important. @lcspinter is working on the feature in hive codebase: https://issues.apache.org/jira/browse/HIVE-25179

The main goal there is to support the same syntax that is supported by Spark.

[2021-06-08 05:27] jackye1995 commented on #2681
@pvary thanks for the quick reply!

I saw the JIRA, the major concern I have is that organizations might not be able to switch to a new syntax given the complexity of Hive upgrade, so this proposal is really to allow people to use hidden partition without the need to upgrade Hive.

[2021-06-08 05:52] pvary commented on #2681
I agree with you about the complexity of the switch, especially as Hive 4.0 is not released.

Parsing a string could be a way to enable the the users to archive something, but I would definitely try to avoid it as a long term solution.

[2021-06-08 08:47] gaborgsomogyi commented on #2558
+1 on skipping 1.12. @zhangjun0x01 where have you upgraded to 1.13 since I still see 1.12.1 in [versions.props](https://github.com/apache/iceberg/blob/282b6f9f1cae8d4fd5ff7c73de513ca91f01fddc/versions.props#L4) on master?

[2021-06-08 08:54] rymurr commented on #2682
Hi @aimenglin I believe you would use `spark.read.format("iceberg").load("/path/to/table#history").show(truncate=false)`

[2021-06-08 16:22] aimenglin commented on #2682
@rymurr Thanks so much!

[2021-06-08 16:25] aimenglin opened #2685 "How to realize Write Iceberg Tables via Hive? (Ideas share)"
Right now, we can read the Iceberg table via Hive, but the overlay table is an external table, so we cannot write the table via Hive.
I'm thinking about whether we can directly write a managed table via Hive. Any ideas?

[2021-06-08 16:30] aimenglin opened #2686 "Read Iceberg Table via Hive: Hadoop Tables Succeed. Hive Catalog Failed. Anyone met the errors before?"
[code]

[2021-06-08 16:50] jackye1995 commented on #2679
Sorry when I say type I was trying to ask if you have set your `id` column to be optional or not in Iceberg schema. If your `id` column is optional, I think this is expected behavior.

[2021-06-08 21:42] aimenglin commented on #2685
What if we write the table as iceberg format via Hive?

[2021-06-09 05:22] aimenglin commented on #2686
<friendly ping> Appreciate your help!

[2021-06-09 05:32] aimenglin opened #2687 "Could Hive use Time Travel if the overlay iceberg table is created as a Hadoop Table?"
Hi Iceberg experts,

I am wondering about if we could enjoy the gourmet of the Iceberg when we are using Hive (shell) when the underlying Iceberg Table was created as a *Hadoop Table*.

According to the documentation ([page](https://iceberg.apache.org/hive/#hive-read-support)) we could create a overlay table directly in Hive by the support from StorageHandler like:
[code]
But I am not sure after t

[2021-06-09 08:31] #2682 closed

[2021-06-09 08:58] gaborgsomogyi commented on #2558
Ah I see it now, testing it...

[2021-06-09 12:45] moon-fall commented on #2679
I do set the `id` column  to be optional，and I set it to required  then it runs no error any more，thanks for your  response.

[2021-06-09 12:45] #2679 closed

[2021-06-09 17:06] ayushchauhan0811 opened #2690 "[Incremental Scan] [Spark] Support overwrite snapshots too"
Currently spark incremental scan supports only appends operation. We need to support other data operations too.

[2021-06-09 19:04] marton-bod commented on #2685
Hi @aimenglin , you should be able to write to overlay tables as well from Hive. Please refer to our documentation: https://github.com/apache/iceberg/blob/master/site/docs/hive.md. Hope this helps resolve your issue. In case not, please send the exact steps you tried and the error message you encountered, so we may be able to help further.

[2021-06-09 19:07] marton-bod commented on #2686
This looks like the table is missing the right storage handler and serde. My assumption would be that the "iceberg.hive.engine.enabled=true" property was missing from the config when the table was created - please check this section: https://github.com/apache/iceberg/blob/master/site/docs/hive.md#enabling-support. Can you send the `describe formatted testhive` output for this table to double check

[2021-06-09 20:33] aimenglin commented on #2686
@marton-bod Thanks for the response! Below are the queries and results:
[code]

[2021-06-09 20:35] aimenglin commented on #2687
@marton-bod Thank you for the guide. I'll look into it.

[2021-06-09 20:38] aimenglin commented on #2685
@marton-bod
The result I got is that I found the data was stored in the bucket, but no metadata generated. Also, if I read the table via Spark and Hive, the data was not updated and shown. Maybe I missed something when I created the external table, so I'll look at the resource you given. Thanks so much!

[2021-06-09 21:40] aimenglin commented on #2686
Update the queries and errors:
[code]

[2021-06-10 00:04] aimenglin commented on #2685
1. Created a Iceberg Table using Hadoop Table on Spark:
// Create a Iceberg Table
[code]
// Insert a 4 rows
[code]
// Query 4 rows on Spark
[code]
// Add another column
[code]
// Add another 2 rows
[code]
// We have the data and the right set of metadata generated including snapshots, manifests in the bucket.

2.Created an external table on Hive
[code]

3. Read is fine, and then I insert a new row

[2021-06-10 11:31] marton-bod commented on #2686
Can you please append the `engine.hive.enabled=true` to the table properties, via:
`ALTER TABLE tbl_name SET TBLPROPERTIES ('engine.hive.enabled'='true');`
Afterwards, the read queries should work fine.

[2021-06-10 11:47] marton-bod commented on #2685
Thanks for the detailed steps! As you mentioned too, it seems that Hive generated the data files but something went wrong during the job commit (hence the lack of metadata generated). Can you share any logs from the execution side that we could take a look at?

[2021-06-10 11:59] marton-bod commented on #2685
Also, can you please share:
- version of Iceberg and Hive that you use
- the explain plan of the insert query
- the contents of the tableLocation/temp/ directory (this is where Hive stores the write commit related temporary files)

[2021-06-10 15:57] aimenglin commented on #2686
@marton-bod I'm following your instruction when I created the table on Spark. But when I **inserted data on Hive**, it still cannot be read. Do I misunderstand anything here?

[2021-06-10 16:22] aimenglin commented on #2686
@marton-bod Solved the problem! Thank you so much!

[2021-06-10 19:04] aimenglin commented on #2685
@marton-bod Thanks for your patience and time for helping me debug.
1. Log
[code]
2. Version
![image](https://user-images.githubusercontent.com/84943281/121573545-3c7fe400-c9da-11eb-9bad-5b20e070302b.png)

3. Explain Plan
[code]
4. Everytime when I insert the data, there'll be a _tmp file, but it's empty.
[code]
![image](https://user-images.githubusercontent.com/84943281/121574915-98973800-c9db-11

[2021-06-10 19:26] RussellSpitzer opened #2692 "[Spark] NullPointerException error when attempting to do vectorized read of Parquet file with unsupported encoding"
When parquet vectorized reading is on, if the file has DELTA_BYTE_ARRAY encoding that we throw a null pointer exception.

[code]

This can occur when Parquet files are added through non-spark frameworks like Trino or by manually adding files to a table using the java api.

Spark's Vectorized reader also does not support this encoding but throws a clearer error.

[code]

Here is the metadata for on

[2021-06-10 20:21] marton-bod commented on #2685
Thanks for details! Sorry, I wasn't clear on which temp folder I'd like to see the contents of. Can you check this one:
`gs://gcs-bucket-shenme-test-service-7f1dbd01-5cc9-4393-a54a-e9c2b9c9/hive-warehouse/test1/temp`?

As for the logs, they are from the HS2 side, but is there a chance to get the logs from the Hadoop cluster where the MR job was executing? Unfortunately the job commit happens on th

[2021-06-10 20:33] aimenglin commented on #2685
@marton-bod I didn't find anything under this directory. There's a hidden file on test1, but still nothing inside.
[code]

[2021-06-11 06:05] WenfengJ opened #2693 "flink sink to iceberg with different data"
Hi,
I use  Flinksink to iceberg table,if data are offline data,the table is ok, but if data is realtime ,for example .
kafka,mysql cdc.....,the table created ,but data not commit .

![微信截图_20210611135925](https://user-images.githubusercontent.com/34698232/121638628-dc626e00-cabd-11eb-821f-ec7f5f5786d3.png)

![2](https://user-images.githubusercontent.com/34698232/121638623-da001400-cabd-11eb-9fff-5

[2021-06-11 07:54] pvary commented on #2686
@aimenglin: Could you please help us by describing how the problem was solved, so we can help others in the same situation?

Thanks,
Peter

[2021-06-11 16:35] aimenglin commented on #2686
@pvary I add ```table.updateProperties().set("engine.hive.enabled", "true").commit()``` when I created the table on Spark.

[2021-06-12 23:18] rdblue commented on #2607
The idea of using `hadoop.*` properties from the catalog config to set Hadoop conf properties makes sense to me. Sounds like the argument against this is that it would be weird in Hive, but isn't this proposed for Spark where it has a precedent? We could find some other prefix for Hive, like `override.*` maybe? Or just live with `hadoop.*`. I don't think it would be that odd.

[2021-06-14 08:44] iQiuyu-0821 commented on #2468
I have the same problem.

**runtime env**
flink: 1.12.1
iceberg-flink-runtime: 0.12.0 builder from master
**catalog info**
`
catalogs:
    - name: iceberg
      type: iceberg
      catalog-type: hadoop
      warehouse: hdfs://localhost:9000/flink-iceberg/warehouse
      property-version: 1
      clients: 5
`

**execute sql**
`
Flink SQL> set execution.type = streaming;
[INFO] Session property has

[2021-06-14 18:05] flyrain commented on #2676
Hi Kyle, thanks for bringing this up. It would be super helpful for beginners and anyone who want to try Iceberg for the first time. Agreed to start with a simple one. Just to brainstorm ideas:
1. Even just a runtime without any catalog still be helpful for people who run Iceberg first time.
2. The runtime with catalog would be closer to the real use case.
3. The runtime with catalog and notebook.

[2021-06-14 19:59] WesternStar opened #2696 "Can't seem to read from glue iceberg table in EMR Hive"
After following the setup steps on this page [AWS Integration](https://github.com/apache/iceberg/blob/master/site/docs/aws.md)

This setup uses AWS Glue as the hive metastore for EMR 6.3.0 and iceberg libraries built from a recent master

So I've been starting with creating the table in Spark
[code]
And then attempting to query from HIVE

[code]
Any advice on where I'm missing the object inspector

[2021-06-15 07:48] kbendick commented on #2692
As a starting point, for the Spark vectorized parquet reader, I think we should explicitly throw when we either
- (1) encounter an encoding that’s not supported
- (2) explicitly throw when we encounter a Parquet v2 file at read time.

I think that approach 2 would potentially be simpler and more in line with the code from Spark, which has an explicit V1 path and V2 path for data pages, footers, et

[2021-06-15 16:20] WesternStar commented on #2696
I was using java 11 and only java 8 was correct to use on emr
However still having a couple of issues here that I'm working through.
[code]

[2021-06-16 02:56] zorrofox opened #2700 "Does the Spark 2.4 support catalog?"
Hi,

I want to confirm that is the meaning for the `Icberg Catalog` from [the Doc](https://iceberg.apache.org/spark-configuration/#catalogs-in-spark-24), because I just want to confirm that if Spark 2.4 support using catalog.
![image](https://user-images.githubusercontent.com/1528417/122150951-4188db80-ce91-11eb-91aa-aaaee7961841.png)

Another [Doc piece](https://iceberg.apache.org/spark/#spark-24

[2021-06-16 07:48] silvermissile commented on #2558
Thanks to this pr , I 'm able to use flink sql 's  `TO_TIMESTAMP_LTZ()`  function  when insert data into iceberg table .

[2021-06-16 08:48] liubo1022126 opened #2702 "Flink: Streaming read without startSnapshotId set will get all data first time."
when I have a new streaming read without startSnapshotId set, like below:

[code]

when job submit, it return all data which like a batch select on current snapshot, and then, it will listen to the new snapshot data.

I wonder if this is necessary because streaming reading focuses on the reading of new data, and with batch and stream unified, the data on current snapshot maybe huge, If really need

[2021-06-16 13:39] nautilus28 commented on #2351
We also experience poor performance on `count(*)` query

iceberg 0.11.0
trino 357

trino worker*3
32CORE 150GB RAM

[code]

The table `iceberg.raw.user` is partitioned by `day(created_date)`

[2021-06-16 13:45] ckdarby commented on #2351
@nautilus28 Are you writing each user as a new snapshot?

[2021-06-16 13:47] nautilus28 commented on #2351
@ckdarby no, we updated rows, so new snapshot will contain new rows and some existing rows.

[2021-06-16 14:57] ckdarby commented on #2351
@nautilus28 Do you do this for every user? My understanding is that you'd have the latest manifest but the latest manifest would point to all these individual manifest lists created for every user, no?

Asking also from the perspective of that would explain why it had nearly 200k splits.

[2021-06-16 15:00] nautilus28 commented on #2351
@ckdarby you might be right. What information I could check to confirm your assumption?

[2021-06-16 15:04] ckdarby commented on #2351
@nautilus28 I think you're on Trino slack. I sent a message there and we can discuss more. If not, send over an email to ckdarby [at] gmail.com

[2021-06-16 21:53] WesternStar commented on #2696
So I was able to get this down to removing the aws glue metastore global catalog from EMR and seeing if everything else worked. That in fact did work. It appears that due to the naming conflict between these two. I'm not sure what the fix here will be.

[2021-06-17 16:52] TGooch44 opened #2708 "Docs: README.md still points to https://travis-ci.org/github/apache/iceberg"
Base README.md is pointing to https://travis-ci.org/github/apache/iceberg but should be pointing to https://travis-ci.com/github/apache/iceberg.  Per the mesage on https://travis-ci.org that all builds have ceased on there since 6/15/2021

[2021-06-17 22:32] jhsenjaliya commented on #2686
@aimenglin , once you add engine.hive.enabled to table properties ( as @marton-bod suggested) it works for me, i was having same issue before. ( I also had to disable vectorized execution as suggested by the iceberg docs, or u can follow the warning. ) - good luck.

[2021-06-18 00:21] jhsenjaliya commented on #2335
Hi @flyrain, build from master still throws the same error, do we have any patch that fixes this ? Thanks

[2021-06-18 04:26] openinx opened #2710 "Encounter UnsupportedOperationException when describing the spark table schema after we dropped the partitioned fields"
There's an original iceberg table in my aliyun cloud:

[code]

After we dropped the partitioned fields `ss_sold_date_sk` by the following SQL:

[code]

And we are trying to describe the iceberg table schema we will encounter the exception:

[code]

I think it's a critial bug that we should fixed in our apache iceberg (still not dig into this bug), will publish a PR to fix this if it's true.

[2021-06-18 04:28] openinx commented on #2710
The current table metadata json file for this testing table is:

[code]

[2021-06-18 04:39] openinx commented on #2710
Okay,  we apache master branch had a fixed for  this https://github.com/apache/iceberg/pull/2454.  Close this issue now.

[2021-06-18 04:39] #2710 closed

[2021-06-18 05:53] flyrain commented on #2335
Hi @jhsenjaliya, please check https://github.com/apache/iceberg/pull/2460 and https://github.com/apache/iceberg/pull/2430.

[2021-06-18 16:33] TGooch44 commented on #2708
Merged #2709 to address this

[2021-06-18 16:33] #2708 closed

[2021-06-19 15:27] aakashnand opened #2715 "Hive documentation not updated on website"
Hello Iceberg team,
When going through this site https://iceberg.apache.org/hive/ I found out that the documentation written in this file [hive.md](https://github.com/apache/iceberg/blob/master/site/docs/hive.md) is not getting reflected on the actual site here https://iceberg.apache.org/hive/. This can be confusing to the users as the site mentions that Iceberg currently only supports hive2.X ver

[2021-06-19 21:06] jhsenjaliya commented on #2335
Thanks @flyrain , #2460 made it work with spark 3.1.1
btw, it would be nice to release 0.12 soon, as dataproc 2.0 cluster comes with spark 3.1.1

[2021-06-20 02:54] flyrain commented on #2335
The community is working on it.

[2021-06-21 09:51] kbendick opened #2718 "Remove site docs from showing up in IntelliJ search and causing very long index times in IntelliJ"
In the last dev sync, we discussed pain points around all of the versions of the site docs showing up when searching through the repo.

IIRC, we discussed possibly even moving the `site` docs to their own repo as a last resort.

For me, the biggest pain point is when using IntelliJ and several javadoc files (from various versions) show up.

 I found a solution for this in IntelliJ, which also redu

[2021-06-21 10:16] pvary commented on #2607
@rdblue: The specific examples above are for HiveConf configuration values and they have nothing to do with `hadoop` from the user point of view. Also there are plenty of other configuration values which might be good to set for a catalogs, so I think it would be good to find a general solution. Also we try to keep the same syntax for spark/hive/impala so the users could move seamlessly between th

[2021-06-21 11:19] pvary commented on #2686
Thanks for the info @aimenglin  and @jhsenjaliya! Hope this will help the next users facing the issue.

I will close this issue as we have a solution.

Peter

[2021-06-21 11:19] #2686 closed

[2021-06-21 12:00] marton-bod commented on #2687
I'm closing this issue. Thanks for reaching out. Feel free to post questions though, if any.

[2021-06-21 12:03] #2687 closed

[2021-06-21 16:34] jackye1995 commented on #1468
For anyone new to this issue, I think we have summarized all information in https://iceberg.apache.org/aws/, and we can close this issue. @Lindayangyy

[2021-06-21 20:36] #2590 closed

[2021-06-21 21:48] #1634 closed

[2021-06-22 07:53] chenjunjiedada commented on #1488
It doesn't happen recently.

[2021-06-22 07:53] #1488 closed

[2021-06-22 15:47] #2599 closed

[2021-06-22 19:14] SreeramGarlapati opened #2723 "Support for low latency writes to iceberg table"
Am trying to understand how to configure an iceberg table for `low-latency` writes. Here are my thoughts - Truly appreciate any inputs.

### Supporting low latency writes to iceberg table entails the below sub-problems:

1. **Optimizing the data payload:** optimizing the data payload to be written to the table.
    - **There is an Optimization that is specific to the write pattern**
        1. **A

[2021-06-22 19:52] jackye1995 opened #2724 "Spark SQL extension syntax for identifier field update"
continuing the discussion in #2560

Currently I introduced the following syntax for identifier fields:

[code]

In the end I had a thought that the above syntax is trying to mimic the Hive standard, but we are not really using that standard in Spark extensions anyway. It might be better to make it consistent with sort order update syntax, with something like:

[code]

And we do not support add/dro

[2021-06-22 19:52] jackye1995 commented on #2724
Also @yyanyy @RussellSpitzer

[2021-06-22 22:50] flyrain commented on #2700
I believe the second page needs to be updated. cc @rdblue @RussellSpitzer

[2021-06-23 02:21] zorrofox commented on #2700
@flyrain You are right, I have successfully run the Catalog in Spark 2.4.

[2021-06-23 02:26] coolderli commented on #1698
@stevenzwu @openinx Is there a patch to fix this problem ？

[2021-06-23 03:06] coolderli commented on #2632
`set execution.checkpointing.tolerable-failed-checkpoints=0;` works.
Maybe this should be fixed later.  @openinx

[2021-06-23 03:06] #2632 closed

[2021-06-23 09:50] jhsenjaliya opened #2725 "lost table columns while making iceberg table accessible via hive by adding table property"
[code]

At this point the table created looks like this if you "show create table jay_db.example",
[code]

this is not queriable though , if you try "select * from jay_db.example" then it throws the error "java.io.IOException: Cannot create an instance of InputFormat class org.apache.hadoop.mapred.FileInputFormat as specified in mapredWork!"

To make it readable via Hive, as per the iceberg docs,

[2021-06-23 14:52] pvary commented on #2725
Maybe this is the `table.updateProperties()`.

Could you please try to set this property when the table is created?

Thanks,
Peter

[2021-06-23 16:45] rdblue commented on #2700
I think the second page is the old `spark.md` that was refactored into several pages in the current layout. I thought that references to that page were mostly gone, but I left it so that we didn't have broken links (at least until we could provide JS-based redirects). Since it is causing confusion, I think we should just remove the page.

[2021-06-23 20:22] jackye1995 commented on #2723
Adding responses from mailing list:

@flyrain
For 3, it may not be worth adding extra complexity by introducing a "change set", unless we get solid data that shows writing a "change set" is faster than a complete rewrite.

@jackye1995
I think the summary looks mostly correct, where we already can do "low latency" append and delete by primary key, or delete with any predicate that resolves to finit

[2021-06-23 20:24] jackye1995 commented on #2723
Adding responses from Slack:

@SreeramGarlapati
in our streaming write tests - we are seeing that metadata.json file grows to 3mb - with in couple of hours of streaming writes (at 100 events per sec rate). At this point - each write is taking several seconds

@jackye1995
I think I replied in the dev mailing list about this, please let me know if that is missing anything. For streaming, my understa

[2021-06-23 21:12] jackye1995 opened #2728 "Refactoring table and format doc contents"
I have been thinking about doing a refactoring of the website doc contents before 0.12.0 release. Currently we have 2 tabs `Tables` and `Format` that holds most of the Iceberg concepts. It has 3 major problems:
1. contents are duplicated across the 2 places, and it's hard to keep both up to date.
2. the spec page is growing too long, to the point that UI cannot even show all the section tabs in th

[2021-06-23 21:34] yyanyy commented on #2724
Sorry I didn't follow the rest of the discussion in the PR/it's been a while since I looked last time, I thought UNSET/DROP removes all identifier fields from the table. Now it seems that we can selectively drop some fields but not the others. Is this the case? I'm not sure if I like the idea of dropping some but not all fields since the user has to know what the original list was.

I think `WRITE

[2021-06-23 23:54] jhsenjaliya commented on #2725
Yes, I actually tried that as well, as following
[code]

I also noticed that the on Spark 3.1.1 the table created has serde is LazySimpleSerDe whereas on spark 3.0.2 the serde is HiveIcebergSerDe so it looks like the problem with #2460 , the way the compatibility for spark 3.1.1 is added, which is not in merged yet.

[2021-06-24 00:40] RussellSpitzer commented on #1804
Here is a link to get added so I don't have to add everyone manually :) Please let me know if it doesn't work

https://s.apache.org/slack-invite

[2021-06-24 01:56] #2457 closed

[2021-06-24 02:03] #2049 closed

[2021-06-24 02:12] openinx commented on #2504
@ayush-san  I think you may want to try this PR so that we could get ride of OOM when ingest the whole snapshots from the upstream mysql databases: https://github.com/apache/iceberg/pull/2680

[2021-06-24 02:47] openinx opened #2730 "Encounter exceptions when query the iceberg table filled with change logs by using flink SQL"
Saying if we write few change log records ( INSERT,  DELETE, UPDATE_BEFORE, UPDATE_AFTER ) into apache iceberg table and then query it by using flink SQL, then we will encounter the exception:

[code]

The way to reproduce this bug is quite easy ,  please just apply the following patch, and then run the unit tests  `org.apache.iceberg.flink.TestChangeLogTable.testSqlChangeLogOnIdKey`

[code]

I gu

[2021-06-24 02:48] openinx commented on #2730
There's a similar issue from the apache flink user mail list: http://apache-flink.147419.n8.nabble.com/Iceberg-Upsert-Iceberg-Kafka-td11912.html#a11929

[2021-06-24 02:49] openinx commented on #2730
The similar issue from apache iceberg issues: https://github.com/apache/iceberg/issues/2627

[2021-06-24 08:17] pvary commented on #2723
I am really interested everyone's thoughts on this.
My main concern with Iceberg is that we have an inherent bottleneck for writes, and as it is mentioned before it contains 2 steps:
1. Write the snapshot json - the size increases with every commit
2. Commit the write using the catalog

Even though the we can write the snapshot json-s concurrently, if there are concurrent writes we still have to t

[2021-06-24 15:54] ayush-san opened #2734 "Getting - java.lang.IllegalArgumentException: Can't zip RDDs with unequal numbers of partitions: List(1, 0) on MERGE INTO"
Hi,

While running `MERGE INTO`, I am getting the following exception
[code]

My query

[code]

Both source and target tables are iceberg tables, temp table has increment data between two runs. I am running this for iceberg 0.11.0 version

My spark conf
[code]

[2021-06-24 15:58] RussellSpitzer commented on #2734
This is an error with partitioning, and is fixed with

https://github.com/apache/iceberg/pull/2584

On Thu, Jun 24, 2021 at 10:54 AM Ayush Chauhan ***@***.***>
wrote:

[2021-06-24 15:59] RussellSpitzer commented on #2734
See also https://github.com/apache/iceberg/issues/2533

[2021-06-24 17:55] szehon-ho opened #2735 "Add file duplicate file check"
For 'add_files' procedure, if you run it twice on the same Spark table partition you get another set of manifests pointing to same files, doubling the data.

Would it make sense by default to skip, (or fail), if file already exists?  And if so, should this be flag based?

[2021-06-24 17:56] szehon-ho commented on #2735
@RussellSpitzer  any thoughts on this, and if it would be a good addition?

[2021-06-24 17:57] RussellSpitzer commented on #2735
I think that's fine to add, Iceberg really is not setup to handle multiple references to the same file anyway. I'd be fine if we just broke if you try to add a file that is already part of the table. :+1:
If you wanted to be more special I think an option to "ignoreDuplicates" would be good but should default to false and throw an error.

[2021-06-24 17:59] szehon-ho commented on #2735
@RussellSpitzer makes sense, thanks

[2021-06-25 08:40] jhsenjaliya opened #2737 "merge error is back on iceberg master + spark 3.1.1 : MERGE INTO TABLE is not supported temporarily."
the table in context is created using iceberg APIs and it looks good (has all required setup)
- insert query works
- insert overwrite also works
- merge into throws below error
[code]

spark-sql is created with following configs
[code]

[2021-06-25 08:43] openinx opened #2738 "What's the correct semantic when projecting a required nested field from an optional struct ?"
Let's say we have an iceberg schema:

[code]

And if someone want to do the nested projection by using the project schema:

[code]

If the data row is :

[code]

Then what's the expected projected value for the project schema `latOnly`  ?    Should we set the `location.lat` to be null although its field are defined `required`  in `Types.NestedField.required(1, "lat", Types.FloatType.get())` ?

I t

[2021-06-25 09:04] openinx commented on #2738
I had a test in spark3:

[code]

So it will get a `NULL` value when projecting the required `location.lat` from optional `location` struct.

[2021-06-25 13:28] RussellSpitzer commented on #2737
Are you sure your target table is in hive_prod or hadoop_prod catalogs?

[2021-06-25 18:14] thomaschow opened #2741 "Support hive metastore client retries"
Currently, the hive metastore client used in the iceberg HiveClientPool and HiveCatalog is [`HiveMetastoreClient`](https://github.com/apache/iceberg/blob/c3ac4c6ca74a0013b4705d5bd5d17fade8e6f499/hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java#L32). This client implementation doesn't support retry on failure as stated in: https://github.com/apache/hive/blob/6246c47b95f6cab7

[2021-06-25 19:40] flyrain commented on #2700
Removed the file spark.md in PR #2727.

[2021-06-25 23:01] #2700 closed

[2021-06-26 01:12] rdblue commented on #1617
I looked through the design doc. It seems to be much better than the last version, so thank you for the update.

Overall, I think it is still incorrect on a few points and is quite a bit longer than it will need to be in the end. The main confusion seems to be where the table location comes from. Iceberg [table metadata tracks a location](https://iceberg.apache.org/spec/#table-metadata-fields) str

[2021-06-26 01:13] rdblue commented on #1617
@flyrain and @anuragmantri, see my comment above. Thanks for working on this!

[2021-06-26 02:15] haormj opened #2744 "JdbcCatalog can not work on mysql and postgresql"
hi all:
thanks for your job on https://github.com/apache/iceberg/pull/1870

1. environment
    - flink 1.12.4
    - iceberg 98da9749edee574b8ed673d69e0ef80ce7ae0272
2. use JdbcCatalog by mysql 5.6
    - engine: innodb
    - error: `Specified key was too long; max key length is 767 bytes`
    - cause by:   `PRIMARY KEY (catalog_name, table_namespace, table_name)`
    - how should we fix it?
3. use

[2021-06-26 15:41] pvary commented on #1617
@rdblue: We would like to use relative path for replication of the Iceberg tables between on-prem Hive instances, or moving on-prem Iceberg tables to the cloud and sometimes even moving data from the cloud to on-prem.

While we can do this by rewriting the manifest and snapshot files, it would be much easier to synchronize only the files themselves and update the metadata_location / previous_metad

[2021-06-28 03:02] lltcatl commented on #2693
Have you turned on the checkpoint?

[2021-06-28 12:54] openinx commented on #2693
Yeah, I think you need to enable the flink checkpoint. if you are submitting the flink by datastream job, then you will need to follow this [document](https://ci.apache.org/projects/flink/flink-docs-master/docs/dev/datastream/fault-tolerance/checkpointing/) to enable your checkpoint.   If you want to use flink sql to write data to iceberg, then you will need to add the following configurations in

[2021-06-28 12:55] #2693 closed

[2021-06-28 17:37] rdblue commented on #1617
@pvary, we can explore that, but it is fairly easy to write a new metadata file and use that for a table. At least that's a small operation, compared to rewriting all metadata and position delete files. My main point is that we need to have a well-documented plan for tracking the table location.

[2021-06-28 23:31] anuragmantri commented on #1617
Thanks @rdblue for explaining how locations are tracked in Iceberg tables. Based on your and @pvary's comments, I updated the design doc to include

- For HadoopTables
   - The location passed to `HadoopTableOperations` will be used as base table location.
   - If metadata.json file contains a different `location`, we will ignore it. (Do you see any issues?)

- For metastore tables
   -  For `Hive

[2021-06-29 00:28] jhsenjaliya commented on #2737
u r right, it was probably not created using hive_prod catalog even though the structure looks exactly same,  recreating using hive_prod catalog worked.
I did had to manually add `engine.hive.enabled` property to table property to make it readable via hive. Thanks for checking on this.

[2021-06-29 00:28] #2737 closed

[2021-06-29 00:34] hankfanchiu opened #2751 ""ICEBERG" vs. "iceberg" for "table_type" parameter"
Is the uppercase `"ICEBERG"` the official value for the `table_type` parameter? If so, would it be useful to add a "Catalog" subsection under [Specification](https://iceberg.apache.org/spec/#specification) in the documentation?

Within this project, I believe that all existing setters of `table_type` use the uppercase `"ICEBERG"`:

Hive:
 https://github.com/apache/iceberg/blob/90225d6c9413016d611e

[2021-06-29 00:38] hankfanchiu commented on #2751
Trino's Iceberg connector currently sets the Hive table type parameter as the lowercase `"iceberg"`:

https://github.com/trinodb/trino/blob/e07325b501e7658e42579742182406ecd0a5fa62/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/HiveTableOperations.java#L181

https://github.com/trinodb/trino/issues/1592#issuecomment-536049023 suggested documenting the official `table_type` parameter val

[2021-06-29 06:14] jshmchenxi opened #2753 "Token expiration issued when using WORKER_POOL with Spark Thrift Server"
We are using a Spark Thrift Server ([Kyuubi](https://github.com/NetEase/kyuubi)) to provide adhoc query service for Iceberg.
The global [WORKER_POOL](https://github.com/apache/iceberg/blob/apache-iceberg-0.11.1/core/src/main/java/org/apache/iceberg/util/ThreadPools.java#L41) is enabled by default.
We found that after several days of running,  some queries like `update test_table set data = 'abcd'

[2021-06-29 07:34] bambrow commented on #2676
Hello everyone, do we have an update or a working branch on this? I'm currently trying to dockerize this, and would like to know if there's already a docker demo in progress. Thanks.

[2021-06-29 08:54] nastra opened #2755 "Support TIME_MILLIS in Arrow code"
Arrow knows how to interpret Time in millis via `TimeMilliVector`, but currently the problem is rather that in `ArrowReaderTest` we write a Parquet file based on the **Iceberg schema**, where the `TimeType` is always interpretet as micros.

We would probably need to write our own `ArrowParquetWriter` & `ArrowParquetReader` (similar to `SparkParquetWriters` / `SparkParquetReaders`) in order to be a

[2021-06-29 09:37] jerryshao commented on #2753
Is this a problem of using wrong UGI, which caused access control problem, or just the token is expired?

PS. I'm not familiar with Kyuubi. Does kyuubi support using kerberos to renew tgt periodically?

[2021-06-29 15:09] jshmchenxi commented on #2753
It's a problem using wrong UGI. The UGI is correct outside the WORKER_POOL.
We also ran into the following situration:

1. Restart Kyuubi service
2. User A submits several queries to Kyuubi
3. After days of running, user B submits a query which triggers accessing HDFS via WORKER_POOL
4. Exception thrown complaining about token of user A is expired
[code]

Obviously the UGI that WORKER_POOL is usin

[2021-06-29 15:20] nautilus28 commented on #2517
Have you made any progress with this @nvitucci? We are also interested to see if the filter is actually being used for partition pruning.

[2021-06-29 19:32] rdblue commented on #1025
Done in #2654.

[2021-06-29 19:32] #1025 closed

[2021-06-29 20:14] holdenk commented on #2019
I've been meaning to get familiar with the iceberg Python stuff so if your open to having me work on this one let me know :)

[2021-06-30 00:34] jhsenjaliya commented on #2741
this is fairly easy but due to the usage of `DynConstructors` in `HiveClientPool`, the constructor of `RetryingMetaStoreClient` can not be spinned up.

we may not need the `DynConstructors` here. if it sounds ok, I can create PR.

[2021-06-30 10:00] skandasa23 opened #2764 "Deduplication support in RewriteDataFilesAction"
RewriteDataFilesAction helps to compact the smaller files into bigger files by configuring the targetSizeInBytes. If we take the example of compacting all the files post the day closure, it is possible that duplicate events could have arrived at different point of time over the day duration. Compaction with deduplication will be useful.
Deduplicate could be an additional method in RewriteDataFiles

[2021-06-30 10:02] skandasa23 commented on #2764
@jerryshao @rdblue @aokolnychyi Can you please share your thoughts?

[2021-06-30 11:55] canhduong28 opened #2765 "Does MERGE INTO operations support hidden partition on timestamp columns?"
Hello,

We have noticed that transforming expressions on `timestamp` column in `MERGE INTO` queries don't get pushed down to table scan filter.

Query (`published` column is `timestamp`)
[code]
Physical Plan
[code]

But the same query works when the `published` column is `date`
[code]
Physical Plan
[code]

Is this expected behaviour from Iceberg?

[2021-06-30 14:26] RussellSpitzer commented on #2764
In the new rewriteDataFIles, we could add this as a new strategy ...

[2021-06-30 15:48] skandasa23 commented on #2764
Thanks @RussellSpitzer for getting back on this. Can you please point me to any doc/pr describing about this new rewriteDataFiles? Thanks!

[2021-06-30 15:52] RussellSpitzer commented on #2764
#2501 - #2585 - #2591 - #2379

[2021-06-30 18:13] holdenk opened #2768 "Support fan-out reads in PyIceberg"
For the Python Iceberg implementation it would be good to support fanning out the reads of the manifest files & maybe other files too.

[2021-06-30 18:13] holdenk opened #2769 "Support fan-out reads in PyIceberg"
For the Python Iceberg implementation it would be good to support fanning out the reads of the manifest files & maybe other files too.

[2021-07-01 04:09] jhsenjaliya commented on #2769
duplicate of #2768, pls close it

[2021-07-01 06:18] openinx commented on #2335
Closed this issue via https://github.com/apache/iceberg/pull/2512.

[2021-07-01 06:18] #2335 closed

[2021-07-01 06:20] openinx commented on #2306
Closed via https://github.com/apache/iceberg/pull/2512

[2021-07-01 06:20] #2306 closed

[2021-07-01 10:33] wg1026688210 opened #2773 "The job of writing iceberg v2 table threw a validException when testing the merge of iceberg v2 table"
We test the merge of iceberg v2 table.
step 1.start a flink job writing iceberg v2 table
step 2.start a scheduler job  to merge and expire snapshot for flink

MergingSnapshotProducer#validateDataFilesExist  method throw ValidException after the merging and expiring snapshot operation of  iceberg v2 table remain only one snapshot.

[code]
and the metadata file
[code]

[2021-07-01 17:02] #2692 closed

[2021-07-01 17:17] ismailsimsek commented on #2744
Thank you @haormj for testing the new feature,

tested your suggestion with Mysql, Postgresql, MsSQL databases and its working, please feel free to open PR

for 2. Error  it seems like we should use reasonable VARCHAR size current size is too big,
following column sizes are working with MySQL 5.6 and other databases and i believe they should be sufficient

[code]

[2021-07-01 20:36] #2587 closed

[2021-07-01 20:51] jzhuge opened #2774 "Avro inferred mapping issues with nested struct"
When `nameMapping` is null, projected schema is automatically inferred from read schema. We discovered issues when there is extra nested struct.

1. When there are two extra nested structs: projected schema can not be serialized to json because 2 types in the nested struct have the same name `rnull`
2. When there is one extra nested struct: json serialization is fine but schema type name `rnull` s

[2021-07-02 02:18] haormj commented on #2744
@ismailsimsek thanks for you reply :-)

1. about MySQL: I will create table by myself with your suggestion, and choose a reasonable length in our scene
2. about table name: I have corrected it and pr [here](https://github.com/apache/iceberg/pull/2778)

[2021-07-02 08:54] #2227 closed

[2021-07-02 15:36] nvitucci commented on #2517
I have created [a draft PR](https://github.com/apache/iceberg/pull/2780) to start discussing a potential solution. Please can you take a look too?

[2021-07-02 23:31] kbendick commented on #2765
Can you please provide the Spark and Iceberg versions you're using, as well as the table settings (such as file format)?

I think this might be due to a way that Spark pushes down filters, but without version info it's hard to say.

[2021-07-04 13:09] nautilus28 commented on #2765
@kbendick

We are using Spark 3.0.1 and Iceberg 0.11.1 and Parquet files.

Full query plain

[code]

[2021-07-05 05:52] pan3793 commented on #2348
Hi, @RussellSpitzer, before finding the final solution to support generic expressions as call args, could you please list the supported expressions now?

The examples in documents still not work now (iceberg master branch with spark 3.1).

[code]

[2021-07-05 07:17] szehon-ho opened #2783 "Metadata Table Empty Projection -Unknown type for int field. Type name: java.lang.String"
In Spark 3, projecting 'data_file' fields in any metadata tables that has them (like 'entries'), leads to following NPE:

[code]

[2021-07-05 07:20] szehon-ho commented on #2783
Adding a reproduction test (can run in spark3-extensions test case, for example):
[code]

[2021-07-05 07:30] szehon-ho commented on #2783
Preliminary analysis:  The BaseDataFile class has some pruning logic, keeping a mapping called 'fromProjectionPos' that maps indexes in a projection (a subset of its columns) to real indexes in its column list.

Ie, if the projected array has two elements which are fields 1,2, and 10 respectively, this becomes {1, 2, 10}.

This is fine but the Spark generated code in Spark 3 uses the original inde

[2021-07-05 07:47] szehon-ho commented on #2783
@rdblue @RussellSpitzer  fyi, if you have any ideas about this.

My first thought is in this method:  https://github.com/apache/iceberg/blob/master/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java#L78. , if the struct's schema does not match the type, then set a flag on this struct to skip projection.

We would need to add the method (StructLike.useProjection(boolean)) to

[2021-07-05 08:46] #2382 closed

[2021-07-05 12:58] canhduong28 opened #2784 "Drop table doesn't clean up metadata and data files"
Hello,

We have noticed that `DROP TABLE` doesn't clean up metadata and data files stored in GCS.

Is this by design choice or a bug?

Iceberg 0.11.1, Spark 3.0.1
Data files are in Parquet format.

[2021-07-05 21:26] rdblue commented on #2764
I think that we would need to be careful about this. Deduplication makes sense, but it is an overwrite and not a replace operation because it modifies the data in the table. Compaction is a pure replace that does not modify the table data. We should keep the two separate because replace operations can be safely ignored when looking for change to the table data.

[2021-07-06 04:11] liudi1184 commented on #2277
I also encountered this problem. Have you solved it?

[2021-07-06 13:05] be-rock opened #2786 "Dead link found on the home page / time travel"
Hi,

Thanks for the great project. Found a dead link here:

https://iceberg.apache.org/spark#time-travel

[code]

Thanks again!

[2021-07-06 16:17] szehon-ho commented on #2783
One more note: this issue happens only after upgrade to Spark 3.1.

[2021-07-06 17:28] SreeramGarlapati opened #2788 "Spark3 DSv2: Handle Snapshots of Type OVERWRITE - while reading Stream from Iceberg table"
## Background / context
This is a continuation of work done in PR #2660: reading from iceberg table as an incremental streaming source in spark.

To read a stream out of Iceberg table - the above PR iterates thru all the Iceberg Snapshots (the table history) starting from the very FIRST Snapshot and grabs the `list of added files` in all these snapshot one-by-one and hands off the rows in them to

[2021-07-06 17:56] SreeramGarlapati opened #2789 "Implement rate limiting while reading stream from Iceberg table as Spark3 DSv2 source"
This is a continuation of work done in PR #2660: reading from iceberg table as an incremental streaming source in spark.

Here's an [idea proposal](https://github.com/apache/iceberg/pull/2660#discussion_r650153016) by @aokolnychyi - to use limit API once we move to 3.1.

[Please refer to the Concepts section to fully understand the issue]

## The Problem
Current implementation of Iceberg DSv2 micr

[2021-07-06 19:02] jzhuge commented on #2774
@rdblue @rdsr Could you take a look?

[2021-07-06 21:05] rdblue commented on #2786
Where was this linked from?

[2021-07-06 22:25] flyrain commented on #1617
Hi @rdblue, we might leave metadata_location and previous_metadata_location as is, they are table properties in Metastore like HMS, are not affected when we just move files from the source table to the target. They are absolute path, but they still point to the right place without any change.

[2021-07-07 06:36] jshmchenxi commented on #1804
@RussellSpitzer Hi, I tried the link but it didn't work. I encountered the same problem as jackye1995 described above, not able to join without an apache email.

[2021-07-07 09:13] himanshpal commented on #2789
@SreeramGarlapati - Can the rate-limiting be also be extended to be used in batch usecases ?

[2021-07-07 19:22] RussellSpitzer commented on #1804
https://communityinviter.com/apps/apache-iceberg/apache-iceberg-website -- The new slack community is not part of Apache so it should be much easier to access

[2021-07-07 20:28] fcomuniz opened #2791 "Alter table to generic types"
Hi, this project is very awesome, we are starting to use it now for saving our data using iceberg and it is working very well.

One issue we have encountered is when we want to change the data type from an int to a string, just so we can have a more generic data type to store the given information. This happens when there is a schema change from the source and we don't want to lose the data that w

[2021-07-08 00:58] dmgcodevil opened #2793 "Does 'expireSnapshots' also remove data files ?"
[code]

so, I executed `expireSnapshots` did it also automatically marked my data files as deleted?
after `expireSnapshots` I executed `removeOrphanFiles` and some folders in s3 became empty.
I thought that `expireSnapshots ` only removes *.metadata.json and corresponding `manifest-list` files, but not the actual data.

I used both `ExpireSnapshotsAction` and `RemoveOrphanFilesAction`

Please help

[2021-07-08 01:01] thomaschow commented on #2741
@jhsenjaliya  do you have a PR available? I also have cycles to author if needed.

[2021-07-08 02:03] RussellSpitzer commented on #2793
The ExpireSnapshots action removes all data files and manifests which are no longer reachable once the expired snapshots have been removed￼.

RemoveOrphanFiles compares the current reachable set of files with all the files in the table's location and removes any that are not referenced by the Iceberg table.

So expire snapshots should never remove any files unless they were once part of an Iceberg

[2021-07-08 02:12] dmgcodevil commented on #2793
@RussellSpitzer what should I run after combining small files:

[code]

RemoveOrphans  ?

[2021-07-08 03:33] RussellSpitzer commented on #2793
ExpireSnapshots is what you want to run. If you want to combine small files and then remove the old small files physically you would perform a Rewrite followed by an ExpireSnapshots expiring all snapshots except for the most recent one you created.

Remove orphan files is more for when you have failed commits that have left files in the directory. It is much more expensive because it requires doin

[2021-07-08 03:45] dmgcodevil commented on #2793
that's exactly what I did. first I combined small files using `RewriteDataFilesAction`
then I executed `ExpireSnapshotsAction`  using a timestamp of a snapshot before the one created by `RewriteDataFilesAction` (i.e. latest)
I noticed that only a small number of files got removed.

Then I've fond the following statement in docs:

[code]

And decided to run `RemoveOrphanFilesAction`. Unfortunately,

[2021-07-08 04:16] RussellSpitzer commented on #2793
ExpireSnapshotActions will always only remove files that were previously part of the Iceberg Table.
RemoveOrphanFiles will remove those files and any other files that are not explicitly part of the table.

Let's take an example

I have a Directory /myTable/

I have preformed several commits

[code]

But lets say we had a bit of an error and we also wrote BrokenFile in a run that got canceled, it w

[2021-07-08 05:01] dmgcodevil commented on #2793
Understood, let's say we have the following snapshots:

snapshot_1 (ts=1) contains files A,B
snapshot_2 (ts=2) contains files C,D

ts - timestamp

If I expire snapshot_1, would I be able to query data from files A and B? Based on your explanation, I should because snapshot_2's  manifest list includes A and B. thus only snapshot_1 metadata can be removed (.metadata.json, snap-*.avro) but not data f

[2021-07-08 07:32] openinx commented on #2744
Closed via https://github.com/apache/iceberg/pull/2778

[2021-07-08 07:32] #2744 closed

[2021-07-08 12:03] RussellSpitzer commented on #2793
You can never expire the current snapshot, so there is never a way that expire snapshots can remove files that are needed to read the current state of the table. It can only remove your ability to query previous versions of the tables.

[2021-07-08 15:01] RussellSpitzer opened #2794 "Build: Support M1 Processors"
Currently the integration tests fail on M1 Processor based machines because the Spark version we specify for running integration tests lacks a Snappy with a compatible native-lib (and proper fallback.)

We can fix this by upgrading to a Spark version which has the updated Snappy.
https://issues.apache.org/jira/browse/SPARK-33725
2.4.8 and 3.0.2 (3.1.0 should already be ok)

[2021-07-08 23:06] lykwan opened #2796 "Sporadic `Resetting to invalid mark` Error"
We're trying to use S3FileIO and we're running into the following exception on uploads:

[code]

This occurs sporadically and can succeed on retries, but it happens consistently.

I was wondering if anyone else has seen this? I was wondering if the RequestBody.fromInputStream could be setting a mark at 128kB, then start reading past it, hit some sort of exception, and try to reset back to the begi