[2018-11-26 20:12] rdblue opened #8 "Update iceberg-spark to use Hive tables"
The Spark integration currently uses path-based tables and the `HadoopTables` implementation. Now that iceberg-hive is available, Spark should support named tables loaded with `HiveTables`.

[2018-11-26 20:47] rdblue opened #9 "Vectorize reads and deserialize to Arrow"
Iceberg does not use vectorized reads to produce data for Spark. For cases where Spark can use its vectorized read path (flat schemas, no evolution) Spark will be faster. Iceberg should solve this problem by adding a vectorized read path that deserializes to Arrow RowBatch. Spark already has support for Arrow data from PySpark.

[2018-11-27 01:25] mccheah opened #12 "File I/O Submodule for TableOperations"
In https://github.com/Netflix/iceberg/issues/107 it was discussed that `InputFile` and `OutputFile` instances should be pluggable. We discussed the fact that provision of `InputFile` and `OutputFile` instances should be handled by the `TableOperations` API. However, the Spark data source in particular only uses `HadoopInputFile#fromPath` for reading and `HadoopOutputFile#fromPath` for writing. Usi

[2018-11-27 01:36] mccheah opened #13 "Allow overriding provision of FileSystem instances to HadoopTableOperations"
`Util.getFS` forces the `FileSystem` objects to be cached at the JVM level using `FileSystem.get`. In specific situations, sometimes one would prefer finer-grained control over the caching of these objects.

We propose the following:
* Add `protected FileSystem getFS(Path path, Configuration configuration)` in `HadoopTableOperations`. Default implementation calls `Util#getFS`.
* Make `HadoopTableO

[2018-11-27 02:16] mccheah opened #16 "Custom metadata in data files"
(Migrated from https://github.com/Netflix/iceberg/issues/106 with some extra details added)

It would be useful for consumers of Iceberg tables to be able to specify additional metadata in data files that enable them to know how to read the files. Some examples of custom metadata include:

* Encryption keys required to read the file,
* Compression codecs specified on the file without needing to ha

[2018-11-27 17:54] hiteshs commented on #16
If iceberg itself does not plan to parse or understand the map, would a json blob be considered instead?

For CSV and compression codecs, instead of putting such info into a custom map, I think having these be recognized as first-class known entities will help iceberg data to be consistently/correctly readable by various systems (spark, etc.).

[2018-11-27 18:09] rdsr commented on #16
+1 to this.

I wonder would there ever be a case where a json blob or a map with custom properties is required, which would be specific to a single platform. If a property/setting is required to correctly read the file, then why not just make it a first class entity?

[2018-11-27 18:44] mccheah commented on #16
We're planning to use Iceberg as an ephemeral table storage format so that we can take advantage of Iceberg's Data Source V2 implementation to read Parquet files. However, we intend to customize the way files are read and written that is specific to our representation of data (see https://github.com/apache/incubator-iceberg/issues/12). In such a case we need multiple metadata fields that we know w

[2018-11-27 19:22] #13 closed

[2018-11-28 22:45] mccheah opened #18 "Avro files in tests should be generated under the build folder"

[2018-11-29 21:16] mccheah commented on #16
@rdblue, @rdsr @hiteshs, just wanted to check in to see if this is still an acceptable proposal.

[2018-11-29 21:17] mccheah commented on #18
I can't reproduce this anymore... I'll re-open if I see it again. Maybe it was fixed inadvertently somehow?

[2018-11-29 21:17] #18 closed

[2018-11-29 21:59] rdblue commented on #16
Where do you guys store this information now? Where would it be stored in Iceberg? Table metadata or file metadata?

[2018-11-29 22:09] mccheah commented on #16
We store the information in our internal system as per-file metadata. We want to be able to batch-fetch this information from our system and load it into the Iceberg table, before invoking the Iceberg data source reader. We would store the information per file in the `DataFile` object in Iceberg.

[2018-11-30 21:49] mccheah opened #20 "Encryption in Data Files"
We want to support encrypting and decrypting data that is recorded in Iceberg tables. There are several API extensions that we can consider to make this work:

- Define a `KeyReference` field, which is a byte blob in the `DataFile` object. A `KeyReference` is a pointer to a key.
- Define an `EncryptionKey` which is a composition of the key bytes, the iv, and the key algorithm (see e.g. [here](http

[2018-11-30 22:05] omalley commented on #20
You certainly want to use a KeyManager/Provider. I'd suggest that you take a look at the API that I made for ORC.

https://github.com/apache/orc/blob/280cb5a6a6122ad79d04dc5ca9c76b2281f6153a/java/shims/src/java/org/apache/orc/impl/HadoopShims.java#L129

You are going to want to support the cloud Key Management Servers (KMS) and thus you need to be compatible with their APIs.

Given that you have a

[2018-11-30 22:07] omalley commented on #20
I should also mention that ORC's KeyProvider API is a subset of Hadoop's and the default implementation will use the Hadoop implementation. On the cloud providers, we'll need to create an implementation for each service.

[2018-11-30 22:19] mccheah commented on #20
I was considering using Palantir's [hadoop-crypto library](https://github.com/palantir/hadoop-crypto) to do the actual encryption portion of things. What do you think about this package?

Column encryption is interesting; on our side we haven't explored this yet, and thus would not really be able to handle per-column encryption, and need to, in the meantime, only encrypt at the top file layer. Tha

[2018-11-30 22:48] omalley commented on #20
I understand that column encryption take file format support and that isn't available yet, although it will be available for ORC soon.

I haven't looked at the details of Palantir's hadoop-crypto library, but the approach looks good. For per-file encryption, I would:
* Define the key name in the Iceberg table metadata.
* When writing, call the KMS to generate a random local key and the correspondi

[2018-11-30 23:10] omalley commented on #20
Looking a little deeper at hadoop-crypto, they are doing the key management themselves. I think most users would be better served by using a KMS. Amazon's KMS is [here](https://aws.amazon.com/kms/?sc_channel=PS&sc_campaign=acquisition_US&sc_publisher=google&sc_medium=ACQ-P%7CPS-GO%7CBrand%7CDesktop%7CSU%7CSecurity%7CKMS%7CUS%7CEN%7CText&sc_content=aws_kms_e&sc_detail=aws%20kms&sc_category=Security

[2018-11-30 23:30] mccheah commented on #20
I think we can build a top level interface that, when implemented with KMS, could accomplish those goals, but, could also be implemented by other means to support other key storage strategies. More precisely I _really_ don't want to tie us to KMS as the key storage backend for all Iceberg users. Here's a rough sketch of a design that I think could have that flexibility:

- Define an `EncryptionMet

[2018-12-01 00:42] mccheah commented on #20
I'm actually going to go ahead and put this into a prototype - we can add further discussion there.

[2018-12-01 00:55] omalley commented on #20
Ok, I'd separate out the key information from the encryption data:

[code]

Now resolveEncryption

[2018-12-01 01:02] omalley commented on #20
And of course, you could add `List<FileKey> createFileKeys(String keyName, int keys);`

[2018-12-01 01:04] mccheah commented on #20
For creation it would be helpful to pass in the file path, and in fact I'm wondering if the name should always be the URI of the file. Thoughts? We rely on path-based lookup for our key storage system.

[2018-12-01 16:47] omalley commented on #20
You typically don't want a new master key per a file, just a local file key. So the KMS shouldn't know or care about file or table paths. So for example, you could have an entire set of tables protected with the "pii" key.

1. The "user" table property has encrypt with "pii" key.
2. Each file has a unique file key that the KeyManager encrypts with the "pii" master key.

So to write, the job needs

[2018-12-03 17:31] mccheah commented on #20
Let me also explain in more detail. In our system we don't have a mapping from file paths to encryption key names. We can't store that without changing the way our storage solution reasons about encryption. We are using Iceberg as an ephemeral representation of the data that will be read by Spark and written via Spark. On the write side specifically, our `KeyManager` plugin will need the file path

[2018-12-03 21:32] mccheah commented on #20
One other way we could solve for both use cases would be as follows:

[code]

What this allows is for implementations that want to write their own key name derivation to do so. So for example the name could be derived from the path, but by default for the traditional KMS use case it is completely random. The key name generator could also be its own module / interface.

[2018-12-03 22:05] omalley commented on #20
Ok, thanks for explaining. I can at least see at least some disconnect now, which helps.

So from the hadoop-crypto point of view, the keys are the "file keys" in the way that I was thinking about it. They are writing the file key out as a side file and encrypting with a public/private key. That is relatively expensive and doubles the number of s3 objects. So their model would fit into my proposal

[2018-12-03 22:07] mccheah commented on #20
We would generate the name of the key using the path, but the bytes of the key given that name are generated securely. Additionally the built-in encryption solution that stores the key alongside the file is a default implementation, but one can choose to implement `KeyStorageStrategy` with another backend.

[2018-12-03 22:10] omalley commented on #20
I'd also argue that Iceberg can't assume paths are immutable. So using the hash of the path to reconstruct the secret key won't work.

[2018-12-03 22:14] mccheah commented on #20
Sure, and the default implementation doesn't have to. I think the default implementation shouldn't actually assume the file path has any association with the key. The idea is that it doesn't hurt to have the API include the file URI somewhere when generating keys, because the key manager can thus know what it is encrypting, and that can influence how it wants to make the key name and the storage m

[2018-12-05 22:11] mccheah opened #23 "DataFile External Identifier Field"
A URI locating a file may not be enough for file I/O implementations to construct `InputFile` and `OutputFile` instances, as proposed in https://github.com/apache/incubator-iceberg/issues/12. More specifically, consider a system where a file has some path, but that same path can be namespaced in different contexts. For example, the metadata for that same file can evolve over time, as we discussed

[2018-12-05 22:47] mccheah commented on #23
@vganesh @yifeih

[2018-12-05 23:04] mccheah opened #24 "Run checkstyle in CI"
I noticed that it's possible to make a formatting error, such as disorganize imports or change indentation, without `./gradlew check` noticing. This issue proposes adding more rigorous checkstyle and code linting integration to this project.

An idea is to use the [baseline](https://github.com/palantir/gradle-baseline) toolkit, but we can also write the linting configuration by hand.

[2018-12-05 23:08] mccheah commented on #16
Closing in favor of #20 and #23.

[2018-12-06 01:07] rdblue commented on #23
The examples on that issue were compression codec, which is stored in the Avro and Parquet formats (and I assume ORC) and CSV delimiter. I don't think either of those is a compelling reason to add custom metadata.

This adds the idea of a path "namespaced" differently in multiple contexts. I don't get that. What do you mean?

[2018-12-06 01:32] rdblue commented on #16
Did you mean to close this? It's still open.

[2018-12-06 01:32] #16 closed

[2018-12-06 01:33] rdblue commented on #16
Funny, I accidentally closed it as I commented. Feel free to re-open if you intended to leave it open.

[2018-12-06 04:53] rdsr opened #26 "[Minor] com.netflix.iceberg.avro.Avro.WriteBuilder returns (package private) AvroFileAppender when build() is called"
**com.netflix.iceberg.avro.AvroFileAppender** is package private.  **Avro.WriteBuilder#build()** should not return  that as part of its public API. Either we make AvroFileAppender public or have Avro.WriteBuilder#build() return FileAppender. I'm inclined to use the latter approach to fix this.

[2018-12-06 17:49] #26 closed

[2018-12-06 23:20] rdblue commented on #20
We should also loop in @ggershinsky, who is working on the Parquet encryption spec.

[2018-12-07 18:00] rdblue opened #31 "Add startsWith predicate"
Some users have requested prefix matching or startsWith.

This issue was migrated from https://github.com/Netflix/iceberg/issues/49.

[2018-12-07 18:02] rdblue opened #32 "Ignore unsupported partition fields"
Iceberg may add new transforms to the partition spec. When a transform is not recognized, Iceberg should ignore the field so that the format is forward-compatible with new transforms.

Iceberg should also ignore fields with multiple source columns, in case transforms on multiple columns are added.

[2018-12-07 18:04] rdblue opened #33 "Add Avro support to Pig reader"
The initial implementation for pig only supports parquet. We need an avro read path.

This issue was migrated from https://github.com/Netflix/iceberg/issues/51

[2018-12-07 18:05] rdblue opened #34 "Add operation details to snapshots"
Snapshots that are append-only can be aged off more aggressively than deletes because all data files must be tracked in the next snapshot. Adding an operation type and a summary to snapshot metadata would enable improvements to metadata cleanup operations.

Another idea from @julienledem:

[2018-12-07 18:06] rdblue opened #35 "Implement strict projection in more transforms"
Strict projection isn't required and wasn't implemented for several of the partitioning transformations. When strict projection isn't implemented (the `projectStrict` method returns `null`) Iceberg will fall back to a safe implementation. For example, residual evaluation will not remove predicates because they cannot be guaranteed to be true, and deletes can't determine that all values in a file m

[2018-12-07 18:08] rdblue opened #36 "Split files when planning scan tasks"
When building a scan, the TableScan API can plan the files to read (`planFiles`) or group the files into combined splits (`planTasks`). Split planning should also split files at the target split size before bin packing to create the final splits.

This relates to adding split locations to the manifest file (row group or stripe offsets). The simple version of this issue is to split at the target sp

[2018-12-07 18:09] rdblue opened #37 "Add split offsets to manifest files"
Instead of storing a single HDFS block size for each data file, Iceberg should store a list of split offsets. That will allow split planning to be more precise by using row group or stripe offsets, without reading file footers.

[2018-12-07 18:10] rdblue opened #38 "Add column comments to Iceberg schemas"
Iceberg schemas should allow storing comments as documentation for struct fields.

[2018-12-08 00:23] rdblue opened #39 "Add in and notIn predicates"
Currently, set inclusion is implemented using a tree of `equals` predicates joined with `or` predicates. It would be much more efficient to add support for `in` and `notIn` predicates.

[2018-12-08 00:25] rdblue opened #40 "Add external schema mappings for files written with name-based schemas"
Files written by Iceberg writers contain Iceberg field IDs that are used for column projection. Iceberg doesn't currently support tracking data files that were written by other systems and added to Iceberg tables with the API because the field IDs are missing. To support files written by non-Iceberg writers, Iceberg could support a table-level mapping from a source schema to Iceberg IDs.

For exam

[2018-12-08 00:29] rdblue opened #41 "Add an API to maintain external schema mappings"
Once Iceberg supports external schema mappings (#40), it should also support an easy way to maintain those mappings by notifying Iceberg when an external schema changes. Iceberg would update its mapping when notified.

For example, starting with this mapping:

[code]

Consider a new Avro schema registered that changes the name `id` to `obj_id` and adds a `ts` field. Iceberg would add an un-mapped

[2018-12-08 00:30] rdblue commented on #31
The Netflix repository had an incomplete PR that is a good starting point: https://github.com/Netflix/iceberg/pull/78

[2018-12-08 00:32] rdblue opened #42 "Add an action to cherry-pick changes in a snapshot and apply them on another snapshot"
In an audit workflow, new data is written to an orphan snapshot that is not committed as the table's current state until it is audited. After auditing a change, it may need to be applied or cherry-picked on top of the latest snapshot instead of the one that was current when the audited changes were created.

Iceberg needs to support cherry-picking the changes from an orphan snapshot by applying th

[2018-12-08 00:34] rdblue commented on #9
There's more context and discussion on the issue in the old Netflix project: https://github.com/Netflix/iceberg/issues/90

[2018-12-08 00:36] rdblue opened #43 "Support snapshot selection in Spark read options"
Spark passes query options from `DataFrameReader` to the Iceberg source. Iceberg should support selecting a specific snapshot ID or the table state at some time from these options.

This is is needed to read a table snapshot to audit its contents while it is not the current snapshot (write, audit, then publish).

[2018-12-08 00:38] rdblue opened #44 "Support cryptographic integrity"
Parquet encryption protects integrity of individual data files. However, in an untrusted storage, removal of one or more data file in a table might go unnoticed. Replacement of one file contents with another will go unnoticed, unless a user has provided a unique Parquet AAD prefix for each file.

The snapshot integrity mechanism implements cryptographic protection of integrity of data sets compris

[2018-12-09 12:12] ggershinsky commented on #20
Parquet encryption has additional metadata parameters (such as per-file aadPrefix's, column keys, etc) - but, since this is basically a column encryption format, it might be too early to factor this in. In any case, whenever needed feel free to ping me, I'd be glad to assist with the Parquet part.

[2018-12-11 17:14] #12 closed

[2018-12-11 17:21] rdblue opened #47 "Use the correct FileIO for all file interaction"
#14 split the file-related methods from `TableOperations` into a separate `FileIO` class. The new class is serializable so that it can be sent to other JVMs where tasks run. The Spark integration needs to be updated to send a `FileIO` instance and use it when [opening data files](https://github.com/apache/incubator-iceberg/blob/master/spark/src/main/java/com/netflix/iceberg/spark/source/Reader.jav

[2018-12-11 17:22] rdblue commented on #47
@mccheah, I think this is needed for you to hook into all file reads.

[2018-12-11 23:37] mccheah commented on #20
@rdblue @omalley I moved the architecture to https://docs.google.com/document/d/1LptmFB7az2rLnou27QK_KKHgjcA5vKza0dWj4h8fkno/edit?usp=sharing. Please take a look and comment, and then we can continue with implementation.

[2018-12-12 18:21] rdblue commented on #20
@mccheah, can you also start a thread on the dev list to point out this spec? I think other people will probably be interested that aren't necessarily following the github issues.

[2018-12-12 21:54] vinooganesh commented on #23
Hey @rdblue  - quickly jumping in here. I think the mentality is that a file path as the sole identifier of a file may not suffice for every use case. Having an additional file identifier (independent of the physical path itself) would allow consumers of the system to both logically similar files and run operations on them. Specifically, let's say that I have something of a "source system" notion

[2018-12-12 22:20] rdblue commented on #23
@vinooganesh, I don't really understand the use case. How would you use the identifier?

[2018-12-13 17:44] vinooganesh commented on #23
So I see 2 uses for this:
(1) Identifier shared across files - let's say that I have a bunch of files that make up a RDD that come from different systems (for example, let's say we're a bank and we have a bunch of customers from M&A, wealth management, etc..) and they each give us a list of their customers that we union together to make up the RDD. Let's say one of them is corrupt / doesn't work,

[2018-12-14 17:23] vrozov opened #53 "Use "org.apache.iceberg" package name"

[2018-12-14 18:46] rdsr commented on #40
@YuvalItzchakov are you still working on this? If not I can take this up.

[2018-12-14 20:02] rdblue commented on #23
Sorry, but I'm still not getting why this is necessary.

For example #1, why wouldn't you just add a "source" column to the data? That way you could do something like `DELETE FROM table WHERE source = "bad_source_id"`

For example 2, why is a secondary identity required? Can the external system not identify files by path? What would happen to this metadata when data files are merged? I'm reluctant

[2018-12-18 18:39] mccheah opened #55 "API for path generation in Iceberg frameworks"
In the integrations that Iceberg supports out of the box (Spark, Pig), the frameworks decide how to generate paths for written files. However, some sources would prefer to pick their own paths for new files. Some questions for designing such an API include:

- Should this be bundled with the `FileIO` API?
- Should such a path generation API be concerned about the file's partition values? Partition

[2018-12-18 18:40] mccheah commented on #55
@vinooganesh @yifeih @rdblue

[2018-12-18 19:16] rdblue commented on #55
I think this API should pass in the partition tuple. Now that I think about it, the metadata location is determined by the `TableOperations` implementation, not by `FileIO`. I think it would make sense to keep those in the same place. So `TableOperations` would be responsible for determining where to place both metadata and data files, while `FileIO` would just handle low-level file tasks.

[2018-12-18 19:17] rdblue commented on #53
Thanks for opening this. I agree, we need to switch over to org.apache package names before the first Apache release.

[2018-12-18 19:18] rdblue opened #56 "Complete podling name search"

[2018-12-18 23:20] rdblue opened #58 "Add LICENSE and NOTICE to binary artifacts"
For an ASF release to include binary artifacts, those artifacts need correct LICENSE and NOTICE files. The source LICENSE and NOTICE are correct for Jars built from Iceberg source, but shaded Jars like `iceberg-runtime` need license documentation that reflect the shaded contents.

[2018-12-20 11:54] prakharjain09 opened #60 "overwrite SaveMode support for Spark write API"
Currently overwrite SaveMode fails with "Save mode overwrite is not supported".

Overwrite is a very common use case for ETLs and it is also needed to implement compaction with iceberg.

[2018-12-20 20:05] #38 closed

[2018-12-25 10:58] aokolnychyi opened #64 "Use a pool of metastore clients in HiveTableOperations"
I think it would be great to support a pool of metastore clients in `HiveTableOperations`.

There are a few reasons for that:

**Resource Utilization**

Currently, we create a new metastore client each time we load a table. This happens because we create a new instance of `HiveTableOperations`. If we keep producing new clients, our metastore might stop replying. For example, existing Hive tests wi

[2018-12-27 08:51] itsvikramagr commented on #60
We can have small files committed as part of ETL/Streaming operations. An obvious next step is to create a job which can over-write files to create more compacted files. Spark module currently only supports "Append" while creating a writer. For over-writing files, there is a need to extend the writer to support other modes as well.  We already have [overWrite](https://github.com/apache/incubator-i

[2018-12-27 16:23] omervk opened #65 "Publish to Maven Central (or Equivalent)"
Now that the project is an Apache project, I'd love to see its artifacts published to a central repository, rather than relying on jitpack.io.

Whether the `iceberg-runtime` and `iceberg-presto-runtime` artifacts should be published too is debatable (as they're uber/fat-jars).

[2018-12-31 18:08] rdblue commented on #60
@prakharjain09, Spark is removing SaveMode because it has unreliable behavior. Instead, Spark is introducing overwrite APIs that match some of the APIs that Iceberg supports. See `SupportsDynamicOverwrite` and `SupportsOverwrite` in the latest [Spark DSv2 design doc](https://docs.google.com/document/d/1vI26UEuDpVuOjWw4WPoH2T6y8WAekwtI7qoowhOFnI4/edit#).

When Spark supports those, Iceberg will be

[2019-01-08 23:45] mccheah commented on #55
Ok I'll start taking a look at this now!

[2019-01-09 18:47] rdblue commented on #55
@mccheah, in that case is this something that we should add to the `FileIO` interface? It wouldn't be that much of a stretch to do path selection as well. What do you think?

[2019-01-09 19:55] mccheah commented on #55
Yup I don't have a strong opinion here, so let's bundle it with the FileIO interface. I'll propose a diff but I anticipate wanting to fine tune the exact method signatures as part of the PR review.

[2019-01-11 19:10] vrozov commented on #65
For apache projects, artifacts should be published to the apache maven repository (they will be automatically available on the central repository as well).

[2019-01-13 19:25] eyaltrabelsi opened #76 "Additional Metrics and Statistics"
I think iceberg can benefit a lot from the metrics in the data_file like the deprecated distinct_countsmetricand additional metrics like mean, standard deviation, skewness etc.

This will allow smarter guarding when iterating over partition spec to avoid committing problematic data_file to the new snapshot which is not on par with expectations.

[2019-01-13 19:33] rdblue commented on #23
After talking with @vinooganesh, @yifeih, and @mccheah, we decided that the use case was to be able to hook into the logic that creates file paths. The partition information stored for each DataFile is the "logical" path for a file so the need is just to set the physical path. This generalizes the object storage vs folder storage feature, so it makes sense to allow `TableOperations` or `FileIO` to

[2019-01-13 19:33] #23 closed

[2019-01-14 13:36] aokolnychyi opened #77 "Include the cost to open a file during split planning"
We need to take into account the cost to open a file to avoid straggler tasks. As an example, see how `spark.sql.files.openCostInBytes` is handled in Spark.

Let's consider a case when we have 500 files with 10 records and 50 files that contain 1000000 entries. Today, Iceberg will group all small files into one task. Consequently, opening those files will become a bottleneck. Locally, Iceberg was

[2019-01-14 13:40] aokolnychyi opened #78 "Collect lower and upper bounds for nested struct fields in ParquetMetrics"
Today, `ParquetMetrics$fromMetadata` collects min/max value statistics only for top-level fields. As a consequence, queries with predicates on nested fields cannot exclude irrelevant files during planning.

[2019-01-17 21:47] mccheah opened #81 "Encryption KeyManager implementation that is backed by KMS"
KMS seems to be a reasonable key management service to support out of the box following the introduction of the encryption API from #20.

[2019-01-17 23:35] xabriel opened #83 "Make Iceberg support case insensitivity"
Iceberg's current implementation has column case sensitivity, which hinders usability, as most sql users expect case insensitivity by default. While a query like the following will succeed in other Spark Readers, it will fail on Iceberg:

[code]

This will fail with a stack trace similar to:
[code]

PR to solve this issue at `iceberg-api` level: https://github.com/apache/incubator-iceberg/pull/82

[2019-01-23 18:30] xabriel commented on #83
PR #82 solves this issue at `iceberg-api` level.

We still need follow up PRs to:

1) Expose this new `caseSensitive` flag as a configuration, perhaps by introducing the use of `org.apache.hadoop.conf.Configuration`.
2) Also need to address a comment from @rdblue on #83:

[2019-01-25 16:54] rdblue commented on #77
Good idea. Any suggestion for the default open cost?

[2019-01-25 17:11] aokolnychyi commented on #77
It seems it is better to overestimate a bit. By default, Spark sets it to 4MB. I think we can try some numbers below and above and see what performs better.

[2019-01-25 18:08] rdblue commented on #77
Okay, let's start with 4 MB. We can update it when we have better data.

[2019-02-05 23:44] rdblue commented on #56
Opened [PODLINGNAMESEARCH-163](https://issues.apache.org/jira/browse/PODLINGNAMESEARCH-163).

[2019-02-06 22:17] rdsr commented on #40
@rdblue, I spent some time today looking into it. I have a few questions
-  Is this feature only meant for Avro datasets/files?
-  Why do we need to store a table level mapping when the table's [Iceberg] schema may already have field ids mapped to names?

[2019-02-06 22:21] rdblue commented on #40
This is for mapping external schemas into Iceberg. Basically adding Iceberg's IDs during conversion. This could be done for any format. There's code for "fallback" in Parquet that does this using the column ordinal, which is how we read old Parquet data.

This particular issue is to add a mapping for Avro, which uses names to resolve columns. This is useful for data coming from an external writer

[2019-02-07 00:12] rdblue commented on #40
Iceberg names are not necessarily the names used by the writer. Avro coming from Kafka, for example, allows renaming a column. You can still read older data because Avro contains an Alias for it. If we only used Iceberg's current name for a column, a change like this would cause Iceberg to start ignoring records.

[2019-02-11 07:54] fbocse opened #92 "Just me or Gradle tests fail for `iceberg-hive` when env variable `HIVE_HOME` is present?"
[code]

So when running `./gradlew test` it starts yielding errors
[code]

Workaround:
Just set `HIVE_HOME` env var to empty string (fix in shell or just override it in code maybe [setup method](hive/src/test/java/com/netflix/iceberg/hive/HiveTableBaseTest.java) ?)

[2019-02-13 18:18] rdblue opened #96 "ORC does not use InputFile and OutputFile abstractions"
ORC doesn't create input and output streams using `InputFile` and `OutputFile` methods. It creates a path from the file location:

[code]

This breaks the IO abstraction and ORC will not work without Hadoop.

[2019-02-15 12:29] prodeezy opened #99 "Iceberg fails to return results when filtered on complex columns"
# Sample JSON Data
[code]

# Json Table Schema
[code]

# Predicate on  Map type column works on Parquet format with Vanilla spark reader

[code]

# Sample data in Iceberg format
[code]

# Filter on Complex (map) column fails to return result [This is the issue]
[code]

[2019-02-15 12:32] prodeezy commented on #99
I'm still trying to find root cause but at the outset this behavior seems incorrect. Will loop back with more findings.  Iceberg should at least let client handle the filtering (and not fail) or better still push down the predicate.

If folks feel this is indeed a valid issue, will work on a proposal to fix this.

[2019-02-16 07:12] kbendick commented on #92
@fbocse I just attempted to reproduce this issue on my macbook with no success. I never experienced this issue.

TLDR: You might have already tried this, but have you tried `./gradlew clean`?

I had hive 2.x installed locally, but HIVE_HOME was not set. I ran `./gradlew test` and everything succeeded. I then `brew upgrade hive` to ensure I was on the same version as you and then set HIVE_HOME to a

[2019-02-16 08:35] kbendick commented on #92
Is it possible that you've edited your hive-site.xml? I know that there are some datanucleus configurations in hive-site.xml.

For completeness sake, I've verified also that my local hive installation is working. I'm using a local mysql as my metastore backend (as configured in hadoop's hive-site.xml)

[code]

[2019-02-18 11:39] aokolnychyi commented on #77
Once I implemented this locally, I started to wonder if we should add the opening cost to every file.

For example, we might have two Parquet files 62MB each. Rigth now, Iceberg will pack them into one bin, which is the right thing to do. If we simply add 4MB to the weight of each file, those files will be placed into separate bins. I am not sure it is a big deal, but I think having one bin is bet

[2019-02-18 16:50] rdblue commented on #77
I'm okay with either option. I think it is hard to know which one is going to be better, so I would opt for a simple solution.

I think a simple one is much like the threshold you proposed. Could we implement a minimum weight for a file? That would be easy.

[2019-02-18 17:59] aokolnychyi opened #104 "ManifestReader is not properly closed in BaseTableScan"
It seems `ManifestReader` is not closed properly in some cases. `ManifestReader` is `CloseableGroup` and we add `AvroIterable` to the list of closeables. However, `ManifestReader$close` is not called.

One way to reproduce this is to run `TestParquetWrite`.

[code]

My suspicion is that we have a problem in `BaseTableScan$planFiles`. Specifically, this piece:
[code]

The closure that adds `Manifes

[2019-02-18 20:01] rdblue commented on #56
Name was approved.

[2019-02-18 20:01] #56 closed

[2019-02-18 22:26] rdblue commented on #104
The tasks and the closeable iterable should maintain a reference to that queue, so I don't think that is the problem. Any open file should go into that queue and get cleaned up when close is eventually called because close happens later, although this isn't guaranteed because they are called in separate threads so there is a race condition.

[2019-02-19 08:00] prodeezy commented on #99
# Vanilla Spark Parquet reader plan
== Physical Plan ==
*(1) Project [age#428, name#429, friends#430, location#431]
+- *(1) Filter (isnotnull(friends#430) && (friends#430[Josh] = 10))
   +- *(1) FileScan parquet [age#428,name#429,friends#430,location#431] Batched: false, Format: Parquet, Location: InMemoryFileIndex[file:/usr/local/spark/test/parquet-people-complex], PartitionFilters: [], PushedFil

[2019-02-19 18:51] rdblue commented on #99
@prodeezy, can you wrap the fixed-width sections with 3 back-ticks so they display properly? It's hard to read this.

[2019-02-20 06:38] prodeezy commented on #99
@rdblue Sorry bout that. Done.

[2019-02-20 07:07] rdsr commented on #40
Thanks @rdblue  for that information. Here's a rough spec of what we can do :-
1. Update `Avro.ReadBuilder` to take in a `Map` of field names to fields ids which is passed on to `ProjectionDatumReader`.
1. In `ProjectionDatumReader` if the passed in `fileSchema` does not have any field ids, we use a modified `SchemaToType` class to assign ids to fields with the help of the mapping.
1. We'll need t

[2019-02-21 09:30] prodeezy commented on #99
Gist with the example : https://gist.github.com/prodeezy/072dfbc69774652640e36b9ad5f17c68

[2019-02-22 09:56] aokolnychyi commented on #77
Exactly, it is hard to estimate what would perform better as it would highly depend on a particular use case. Let's go for the min file weight. It is simple, it will prevent Iceberg from putting a huge number of files into one bin and the bin size will be closer to the target size in case of average files.

Let me submit a PR.

[2019-02-22 14:45] prodeezy commented on #99
Put up a PR and tested that it fixes the issue : https://github.com/apache/incubator-iceberg/pull/110

[2019-02-25 06:12] rdsr commented on #104
I also see this warning logged countless times in `com.netflix.iceberg.spark.source.TestFilteredScan`

[2019-02-25 06:45] rdsr commented on #40
Hey @rdblue, do you have any feedback regarding either of the above approaches?

[2019-02-25 23:51] rdblue commented on #40
@rdsr, sorry for the delay.

I was thinking about a solution more like the alternative you proposed, but I was thinking that this would work using just Avro schemas, so no need to convert from Iceberg to Avro.

Iceberg already has field IDs, the question is how to match those up with the Avro schema in a data file. We also don't want to change the schema from the file too much because it is requir

[2019-02-26 14:05] aokolnychyi commented on #78
@rdblue I see a comment in `ParquetMetrics$fromMetadata`, which says `TODO: allow struct nesting, but not maps or arrays`.

Could you describe why we need to exclude maps and arrays? We have proper statistics for keys/values in maps as well as for elements in lists, don't we? For example, we might support predicates on elements of lists at some point.

I am asking because the simplest option to en

[2019-02-26 16:54] rdblue commented on #78
The reason for now is that this is how the stats and dictionary filters work. If a column has stats, then it is assumed to be at the top level. Structs are logical groupings and don't affect the meaning of a filter, so they are okay.

If we want to collect stats from maps and lists, then we need to have a plan for how to use them. That means implementing more filters like `contains`, `containsKey`

[2019-02-26 16:56] rdblue opened #113 "Truncate stats from Parquet files"
Lower and upper bound values from Parquet files are not currently truncated, which takes more space than necessary in manifests. Truncating strings and binary values will probably improve performance for large tables.

[2019-02-26 16:57] rdblue commented on #113
@aokolnychyi, #78 reminded me about this item as well.

[2019-02-26 17:16] jun-he commented on #35
I am working on this issue now and will send a PR soon.

[2019-02-26 19:59] mccheah commented on #55
Looks like this is done! I'll close it.

[2019-02-26 19:59] #55 closed

[2019-02-26 20:57] xabriel commented on #55
(For completeness, linking this issue to PR that made it to master: https://github.com/apache/incubator-iceberg/pull/87)

[2019-02-27 19:32] aokolnychyi opened #114 "Modify PackingIterator to return the biggest bin"
As discussed in [this email thread](https://lists.apache.org/thread.html/5855b3f6ebff65d3f2a4826aeb93984729f3b6ec569c3eb4abea47eb@%3Cdev.iceberg.apache.org%3E), we should modify `PackingIterator` to return the biggest bin instead of the first one when the number of bins exceeds `lookback`.

[2019-03-01 17:21] aokolnychyi commented on #99
Can we close this issue as the PR was merged?

[2019-03-01 17:30] rdblue commented on #99
Yes, this was fixed by #110. Thank you @prodeezy!

[2019-03-01 17:30] #99 closed

[2019-03-01 20:41] manishmalhotrawork opened #116 "Spark based functional test-cases"
On the google groups, saw many users ask about the usage of Iceberg. ( Datasource , Table API etc.)
So think this would be useful for us to test and new users to understand how to use Iceberg for different scenarios.
So, wrote few functional test-cases to test using spark and iceberg data-source and Table API's.

In general flow is like this:
1. read local resources/<data> file.
2. convert it to R

[2019-03-01 23:51] mccheah commented on #20
This is done. Thanks everyone!

[2019-03-01 23:51] #20 closed

[2019-03-02 00:16] rominparekh commented on #114
I'll attempt a crack at this!

[2019-03-02 02:00] mccheah opened #118 "Support plaintext Data (CSV, TSV, etc.) in Iceberg Tables"
In addition to ORC and Parquet, we propose to add support for plaintext data in Iceberg. There's always a lot of questions to ask in this space - hopefully we can leverage some existing work in Spark and other places.

[2019-03-03 23:37] rominparekh commented on #53
I'll attempt a crack at this!

[2019-03-04 01:07] feng-tao commented on #113
@rdblue is it an issue good for n00b? if yes, I am interested to take this one :)

[2019-03-04 05:09] rdsr commented on #40
@rdblue . Thanks for the input. I see your point. Converting from Avro to Iceberg and then to Avro again may end up possibly losing some information.  In that case, I think we cannot even use `SchemaToType` as described in the first approach.

I'll see if I can use my second approach but only using Avro to Avro transformations.

[2019-03-04 21:57] rdblue commented on #118
Some of the guarantees made by Iceberg can't be satisfied by plain-text formats like CSV and JSON. The intent was for Iceberg tables to work the same way no matter what format is used to store the data. Here are a few problems:

* These formats can't support the required schema evolution rules. Delimited formats (CSV, etc.) have no schema, so column resolution must be done by position, which break

[2019-03-05 06:26] manishmalhotrawork opened #121 "IcebergSource cannot load data from hiveTable"
While testing HiveTable read using Iceberg DataSource API, looks like, its not possible.

read like this:
`sparkSession.read().format("iceberg").load("db.tbl")`

as the findTable(...) method in IcebergSource uses HadoopTables:

[code]
May be Im missing something and didnt understand the flow.

[2019-03-05 09:12] prodeezy commented on #78
Based on the discussion above we could add support for struct metrics and struct-based filtering. Filtering on structs would be a good incremental feature to add for complex schemas where often logical grouping can really help. Especially since there is a [PR available](https://github.com/apache/spark/pull/22573) in Spark now that one can cherry pick to push down struct-based filters. If we agree

[2019-03-05 17:50] rdblue commented on #113
@feng-tao, I think this could be a good first issue. Let us know if you need any help or context.

[2019-03-05 18:05] feng-tao commented on #113
@rdblue ,  I am still reading the code base. It would be great if you could guide me a little bit on the context or the related code path. Thanks a lot :)

[2019-03-05 18:10] eskrm commented on #121
Hi @manishmalhotrawork,

You're not missing anything. This is tracked by https://github.com/apache/incubator-iceberg/issues/8.

@rdblue How should different table implementations be supported by the Spark module? I'd like to contribute a DynamoDB-based implementation, if it's wanted, and be able to switch to that implementation in the Iceberg data source. Since the module only depends on the Table

[2019-03-05 18:40] rdblue commented on #78
@prodeezy, sounds good to me! I'll review the PRs.

[2019-03-05 18:52] aokolnychyi commented on #121
I will leave the actual answer to @rdblue. I believe I had a similar question as @eskrm.

For now, one can extend `IcebergSource` and override `findTable` to use `HiveTables`. However, there might be version conflicts as `iceberg-hive` uses Hive 3.1.0 and it includes Hadoop 3.1.0 as its dependency. Spark 2.4 still relies on Hadoop 2.x.

[2019-03-05 19:26] rdblue commented on #113
`DataFile` and `Metrics` are the classes that contain metrics and are good candidates for where truncation could happen. I think we would want truncation to be configurable using settings in `TableProperties`. Metrics are scraped from Parquet metadata in `ParquetMetrics`, which is called by `ParquetWriter`.

You might want to explore passing a truncate length option to `ParquetWriter`. The writer

[2019-03-05 19:31] rdblue commented on #121
@aokolnychyi is right. The version conflict is something we need to take care of as part of #8. The right way to plug in your own metastore implementation for Spark is to extend `IcebergSource` and override `findTable`.

No need to do this for Hive tables, since we want to add support for using the Hive metastore as the default for named tables in `IcebergSource` (path-based tables would continue

[2019-03-05 19:40] manishmalhotrawork commented on #121
thanks @eskrm @aokolnychyi @rdblue
yes, I extended `IcebergSource` to test it.

@rdblue so for HiveTables we should not extend,
If Im not missing, then `HiveTables`, `HiveTableOperations` depends on the the ThriftClient of HiveMetastore, so internally its using Metastore.
So, we still changes to use the metastore in `IcebergDatasource`.

[2019-03-05 20:55] rdblue commented on #78
Also, I'm updating the summary of this issue to lower/upper bounds instead of min/max. The spec makes no guarantee that these are min/max values so that variable-length types can truncate and save space.

[2019-03-06 01:09] feng-tao commented on #113
thanks @rdblue , will take a look

[2019-03-06 09:08] prodeezy opened #122 "Add support for nested struct field based filter expressions in Iceberg"
I tried testing struct filter pushdowns in Iceberg by applying these dependent code changes viz.

1) [Spark pr for struct pushdown](https://github.com/apache/spark/pull/22573)
2) [Iceberg writers for Parquet](https://github.com/apache/incubator-iceberg/pull/63)
3) [Changes to Metrics collection to add struct metrics in Iceberg](https://github.com/apache/incubator-iceberg/issues/78#issuecomment-467

[2019-03-07 01:24] eskrm commented on #121
@manishmalhotrawork I believe @rdblue simply meant that once https://github.com/apache/incubator-iceberg/issues/8 is closed you will no longer have to extend `IcebergSource` to get it working with `HiveTables`.

[2019-03-07 23:12] aokolnychyi commented on #78
@rdblue am I right that `valueCounts` and `nullValueCounts`, which are persisted for keys/values in maps as well as for elements in lists, are not used later on? Shall we keep storing them?

[2019-03-08 00:14] rdblue commented on #78
You're right that they aren't used right now. But let's keep them because we will probably want to add more predicates.

[2019-03-08 06:12] rdsr opened #124 "Apply license gradle plugin"
We should add the license gradle plugin - https://github.com/hierynomus/license-gradle-plugin , which would automatically check that all files have license headers

[2019-03-08 12:29] aokolnychyi opened #125 "ParquetMetrics computes wrong lower/upper bounds for small decimals"
It seems `ParquetMetrics` computes wrong lower/upper bounds for decimals that are represented as int64 in Parquet. Consequently, Iceberg can filter out data files that contain relevant data for a query.

Create a Parquet file with one row:
[code]

Explore this file using parquet-tools (min/max values are correct):
[code]
Create an Iceberg table:
[code]

Append the Parquet file to the table:
[code]

[2019-03-08 12:34] aokolnychyi commented on #125
@rdblue while testing a fix for #78, I saw that lower/upper bound for small decimals are not computed correctly. Did I miss smth in my analysis above?

[2019-03-08 16:23] rdblue commented on #125
@aokolnychyi, looks correct to me. Do you have time to submit a fix? Sounds like you're already familiar with what is broken.

[2019-03-08 18:45] aokolnychyi commented on #125
Due to the open source approval within my company, the fix will be upstream by the end of next week. If it is an acceptable timeframe for this bug, I'll go ahead and fix it. If we need it earlier, someone else will have to do it and I can help to review.

[2019-03-08 20:05] rdblue commented on #125
Sounds good to me!

[2019-03-09 23:29] aokolnychyi opened #126 "com.netflix.iceberg.types.Conversions should use big-endian byte order for UUIDs"
`Conversions` should use big-endian byte order for UUIDs according to [the Iceberg spec](https://docs.google.com/document/d/1Q-zL5lSCle6NEEdyfiYsXYzX_Q8Qf0ctMyGBKslOswA/edit#heading=h.vga9bjlv1x2e).

[2019-03-09 23:29] aokolnychyi commented on #126
I'll fix it together with #125

[2019-03-11 20:30] rdsr opened #127 "ORC does not support Iceberg generics"
If we see ORC's read and write APIs, they are not parameterized on the record type. Both these API use a concrete record API of `VectorizedRowBatch`, as such we cannot directly read/write ORC through `iceberg-data` .
We will need a way to parameterized the ORC reader and writer API on the record type similar to how we have done in Parquet and Avro.

[2019-03-11 23:37] mccheah commented on #118
Is there a place for Iceberg to support CSV datasets if the metadata is frozen? e.g. no schema evolution, metadata about delimiters and such has to remain static?

[2019-03-11 23:39] mccheah commented on #124
We propose this as a subset of gradle-baseline in https://github.com/apache/incubator-iceberg/pull/28. I don't see why we would need a separate license Gradle plugin if we can satisfy the same requirements using Checkstyle as Baseline does - thoughts?

[2019-03-12 00:13] mccheah commented on #118
Mainly because it would be nice to not branch off how we read our data based on file format - if text to use a Spark text file source, if Parquet / ORC to use Iceberg temp tables. We could do it - probably would decide how to choose the implementation at the DSv2 TableCatalog level? But it would be ideal if we could unify everything.

[2019-03-12 12:10] prodeezy opened #128 "Iceberg Table snapshots/manifests using relative path fails to read data"
Iceberg api seems to always assumes $CWD at time of creation as root path when reading manifest-list from metadata.

This happens coz when creating the iceberg data the snapshot manifests are created and kept with the path as per the time of creation. If this table is read from a different $CWD then it will fail to find the snapshots.

Example :
[code]

Gist : https://gist.github.com/prodeezy/cd82

[2019-03-13 04:00] rdsr commented on #124
@mccheah makes sense. I should have looked into the previous ticket more thoroughly. I'll close this

[2019-03-13 04:00] #124 closed

[2019-03-15 17:58] aokolnychyi commented on #78
@prodeezy @rdblue I'll submit a PR for this issue after [PR#131](https://github.com/apache/incubator-iceberg/pull/131/files), which introduces a new test suite that will be extended to cover nested struct fields once this issue is solved.

[2019-03-16 15:56] aokolnychyi opened #132 "Add a test for ParquetMetrics with multiple row groups"
We need to add a test to verify that `ParquetMetrics` correctly merges metrics for multiple row groups.

[2019-03-18 21:09] Parth-Brahmbhatt opened #133 "Add rename and drop APIs to Tables interface"

[2019-03-18 22:20] #77 closed

[2019-03-18 22:26] #125 closed

[2019-03-18 23:38] rdblue commented on #118
Some people have suggested adding a mode for iceberg tables where there is no schema to store unstructured data. I think that would help here. We could start by considering the data unstructured.

[2019-03-19 01:06] xabriel commented on #83
PR #89, just merged, solves this problem all the way to the Spark Reader.

Jotting here some minor follow up items so that we don't forget:

Need to address comments:
https://github.com/apache/incubator-iceberg/pull/89#discussion_r266684786
and
https://github.com/apache/incubator-iceberg/pull/89#discussion_r266685152

[2019-03-20 16:20] rdblue commented on #104
I have a fix for this. I'll post it today.

[2019-03-20 20:48] #78 closed

[2019-03-20 23:25] #53 closed

[2019-03-22 20:53] manishmalhotrawork commented on #121
@eskrm thanks, sure.
At our place also, we would love to contribute for #8 as well.

[2019-03-24 22:46] #104 closed

[2019-03-25 01:31] rominparekh commented on #114
@aokolnychyi : I'm unable to close this issue. Can you help close it given the corresponding is merged? Thank you.

[2019-03-25 15:46] rdblue opened #145 "Filterable does not support case insensitivity"
#89 added methods to set case sensitivity to several classes, but missed `Filterable`. This makes it awkward to use `ManifestReader` because `caseSensitive` must be set before calling `filter` or `select`.

[2019-03-25 15:46] rdblue commented on #145
@xabriel, this relates to #89.

[2019-03-25 20:28] xabriel commented on #83
There's another issue with `Filterable`s described in #145 .

[2019-03-28 11:05] aokolnychyi commented on #114
@rominparekh sorry, I was away for a few days. Thanks for working on this!

[2019-03-28 11:05] #114 closed

[2019-04-02 05:30] prodeezy commented on #104
I'm still seeing this exception when running the two tests mentioned i.e. TestFilteredScan and TestParquetWrite .. also when running integration tests. Has anyone else verified this works?

[code]

[2019-04-02 08:07] aokolnychyi commented on #104
I also see this exception from time to time in `TestParquetWrite`.

[code]

[2019-04-02 21:36] #126 closed

[2019-04-03 20:06] rdblue commented on #104
@aokolnychyi, @prodeezy, I found the problem. Thanks for the tips that TestParquetWrite can reproduce. By adding a gc to the end of that test, I was able to reliably reproduce the problem.

The problem was caused by `CloseableIterable.combine`. That method copied the list of closeables immediately, instead of referencing the original queue where the closeables were added as the scan progressed. I'

[2019-04-10 16:23] mccheah opened #154 "[Baseline] Apply baseline to iceberg-core"
Use the Baseline plugin to add linting for iceberg-core. Part of the greater effort to apply Baseline across the project. (Issues are being created individually so that contributors can claim assignment for each of these).

[2019-04-10 16:24] mccheah opened #155 "[Baseline] Apply baseline to iceberg-parquet"
Use the Baseline plugin to add linting for iceberg-parquet. Part of the greater effort to apply Baseline across the project. (Issues are being created individually so that contributors can claim assignment for each of these).

[2019-04-10 16:25] mccheah opened #156 "[Baseline] Apply Baseline to iceberg-data"
Use the Baseline plugin to add linting for iceberg-data. Part of the greater effort to apply Baseline across the project. (Issues are being created individually so that contributors can claim assignment for each of these).

[2019-04-10 16:25] mccheah opened #157 "[Baseline] Apply Baseline to iceberg-hive"
Use the Baseline plugin to add linting for iceberg-hive. Part of the greater effort to apply Baseline across the project. (Issues are being created individually so that contributors can claim assignment for each of these).

[2019-04-10 16:26] mccheah opened #158 "[Baseline] Apply Baseline to iceberg-orc"
Use the Baseline plugin to add linting for iceberg-orc. Part of the greater effort to apply Baseline across the project. (Issues are being created individually so that contributors can claim assignment for each of these).

[2019-04-10 16:26] mccheah opened #159 "[Baseline] Apply Baseline to iceberg-pig"
Use the Baseline plugin to add linting for iceberg-pig. Part of the greater effort to apply Baseline across the project. (Issues are being created individually so that contributors can claim assignment for each of these).

[2019-04-10 16:27] mccheah opened #160 "[Baseline] Apply Baseline to iceberg-presto-runtime"
Use the Baseline plugin to add linting for iceberg-presto-runtime. Part of the greater effort to apply Baseline across the project. (Issues are being created individually so that contributors can claim assignment for each of these).

[2019-04-10 16:27] mccheah opened #161 "[Baseline] Apply Baseline to iceberg-spark"
Use the Baseline plugin to add linting for iceberg-spark. Part of the greater effort to apply Baseline across the project. (Issues are being created individually so that contributors can claim assignment for each of these).

[2019-04-10 16:28] mccheah commented on #154
I have a PR for this - https://github.com/apache/incubator-iceberg/pull/153.

[2019-04-10 16:36] aokolnychyi commented on #161
I would be glad to work on this.

[2019-04-10 16:50] aokolnychyi commented on #157
I've spent quite some time on this module as well, so I can cover it pretty quickly in addition to spark.

[2019-04-11 17:44] rdsr commented on #156
I can cover this. Thanks @mccheah

[2019-04-16 00:50] mccheah opened #162 "Upgrade Guava and don't use deprecated methods like Objects#ToStringHelper"
Our Guava dependency is pretty old right now. When we bring in Iceberg as a dependency, we hit `NoSuchMethodError`s when calling the `Objects#toStringHelper` method, which was removed in later versions of Guava. It's been replaced by `MoreObjects#toStringHelper`.

There's two matters to consider here:
- Should we bump Guava? We're using 23.6.1: https://github.com/palantir/incubator-iceberg/pull/8

[2019-04-16 18:27] Parth-Brahmbhatt opened #164 "Create catalog APIs for iceberg."

[2019-04-18 00:53] vrozov opened #167 "Update gradle version in README.md"
README.md states that Iceberg is built with Gradle 4.4, while the actual gradle version is 5.2.1.

[2019-04-18 15:52] vrozov opened #168 "Large number of external java packages are not relocated in iceberg-runtime.jar and iceberg-presto-runtime.jar"

[2019-04-19 03:18] mccheah opened #169 "ByteBuffer encryption key metadata in GenericDataFile is not serializable"
This will be problematic for the Spark data source in particular because `GenericDataFile` objects are serialized and sent back to the driver as task results.

[2019-04-21 20:29] rdblue commented on #164
Closing this issue because it is done.

[2019-04-21 20:29] #164 closed

[2019-04-23 18:02] rdsr opened #170 "Add support for Iceberg MR / InputFormat and OutputFormat APIs"
It would be great if we added support for `InputFormat` and `OutputFormat` APIs. There's already an `InputFormat` written but it is specific to Pig and under the `iceberg-pig` module. @rdblue  what's your take if we make the necessary changes in that InputFormat and maybe implement an OutputFormat and have these as part of an `iceberg-mr` module ?

[2019-04-23 18:49] rdblue commented on #170
I'd be up for reviewing this.

[2019-05-01 15:53] #169 closed

[2019-05-02 04:19] aokolnychyi commented on #161
I will start working on this in 2 days

[2019-05-02 04:38] aokolnychyi opened #173 "Make collection of lower/upper bounds configurable"
Storing lower/upper bounds might significantly increase the size of metadata for datasets with a big number of columns, which can degrade the performance of metadata operations. In most cases, users cluster/sort their data by a subset of data columns to have fast queries with predicates on those columns. In my view, it is reasonable to have a list of columns for which we want to collect stats and

[2019-05-03 06:08] manishmalhotrawork opened #174 "commons-io dependency is not shipped with icerberg-parquet"
Presto uses iceberg-parquet module, and failed at runtime.

presto:default> insert into iceberg.default.sample4 values (1, 'foo');

[code]

and looks like, this is because of commons-io is not pulled by iceberg-parquet module.

Added this to the presto-iceberg to resolve it.

[code]

Presto server side error is like this:
org.apache.iceberg.parquet.ParquetConversions uses it.

`java.lang.NoClassDe

[2019-05-03 15:16] vrozov opened #175 "All compile scope dependencies should be explicitly declared"

[2019-05-03 15:18] vrozov commented on #175
iceberg-parquet uses classes from `commons-io` without declaring `commons-io` as a compile-time dependency relying on transitive dependency from `hadoop-common`.

[2019-05-03 17:15] manishmalhotrawork commented on #175
@vrozov
[https://github.com/apache/incubator-iceberg/issues/174](174)

[2019-05-07 08:12] aokolnychyi opened #178 "Use Iceberg tables as sinks for Spark Structured Streaming"
Users should be able to use Iceberg tables as sinks for Spark structured streaming.

Spark provides `queryId` and `epochId` to all sinks, which must ensure that all writes are idempotent. Spark might try to commit the same batch multiple times. So, we need to know the latest committed `epochId` for every query. One way to do so is by persisting `queryId` and `epochId` in the snapshot summary. On w

[2019-05-07 08:15] aokolnychyi opened #179 "Use Iceberg tables as sources for Spark Structured Streaming"
We can use snapshot history to support reading from an Iceberg table as a streaming source.

[2019-05-07 08:16] aokolnychyi commented on #178
I'll plan to work on this in the near future

[2019-05-07 23:47] #154 closed

[2019-05-08 16:08] aokolnychyi commented on #178
@rdblue what would be the best way to store smth in the snapshot summary? How do you do this for Flink? For example, we interact only with `AppendFiles` API while appending new files.

[2019-05-08 16:24] rdblue commented on #178
We added a `set` method, looks like I forgot to open a PR for it. I'll do that shortly.

[2019-05-08 16:53] aokolnychyi commented on #178
@rdblue great, I'll try to use it for this effort.

[2019-05-08 16:57] rdblue commented on #178
See #180.

[2019-05-08 17:17] arina-ielchiieva opened #181 "Add mechanism to expire old metadata versions"
Based on the discussion on dev mailing list:

Ryan Blue

I think we can probably build a way to expire old metadata versions by looking for a naming pattern, like v(num)-(uuid).metadata.json[.gz].

[2019-05-08 18:41] aokolnychyi commented on #178
@rdblue close to what I had locally, worked for me!

It would be also helpful to have access to `TableMetadata` for SS. `Table$snapshots` returns snapshots starting from the first one. To find the latest committed `epochId`, it would make sense to iterate the snapshot lineage backwards starting from the most recent one. In most cases, we would stop after a couple of iterations. `TableMetadata` has

[2019-05-08 18:47] rdblue commented on #178
We should be able to use the Table API to traverse all of the snapshots. You can get all the snapshots with `table.snapshots` then index by the ID, and traverse using `current.parentId()`.

[2019-05-08 18:55] aokolnychyi commented on #178
Yeah, that's what I actually did, was worried about redoing the same work twice. I hope iterating through snapshots won't become a bottleneck in the commit phase.

[2019-05-08 19:45] rdblue commented on #178
We could expose the lookup function directly so we don't have to index.

[2019-05-09 06:42] ryanrupp opened #182 "Parquet writer doesn't consider configuration properties in some cases (rowGroupSize, pageSize, dictionarySize)"
I was writing a test case for https://github.com/apache/incubator-iceberg/issues/132 and noticed the code path [here](https://github.com/apache/incubator-iceberg/blob/master/parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java#L191) looks like it's expecting the values to be read via `Configuration` as bootstrapped from Iceberg to Parquet names [here](https://github.com/apache/incubator-i

[2019-05-09 13:13] ryanrupp commented on #182
Looks like in the first code path maybe just making `ParquetProperties` configurable instead of hardcoded and then for the second code path using the various builder methods to page size/dictionary size. I'll submit a PR.

[2019-05-09 13:14] aokolnychyi commented on #162
I am +1 on this. @rdblue what do you think?

[2019-05-09 15:51] rdblue commented on #162
I definitely agree about minimizing the use of deprecated APIs that we know will be a problem for people that upgrade.

My concern about upgrading the version we use is that it could cause problems downstream. Do we expect everyone to shade guava? Also, now that we are using Caffeine, should we consider moving off of Guava?

I think we mainly use Guava for 4 things:
* Caches - replaced by Caffeine

[2019-05-10 00:21] rdsr commented on #162
Could we shade our Guava dependency in our artifacts?  We'd have to make sure that guava is bundled in our artifacts and shaded and is not fetched transitively, whereas the rest of the dependencies can be fetched transitively.  Shadow plugins allows us to do this. This could be some work and could change how our artifacts are fetched . Users would have to rely on the different classifier or config

[2019-05-10 01:03] prodeezy commented on #179
Sounds like something we might be interested in as well. Can you add more detail as to how you envision this will be used?

[2019-05-10 14:07] aokolnychyi commented on #178
I have a working prototype. How do we want to handle `OutputMode.Complete()` in Structured Streaming? Right now, I am using `OverwriteFiles` to remove all existing files and append new ones.

[2019-05-10 15:44] rdblue commented on #162
We could do something similar to what Avro and Parquet do -- build a shaded Jar and rewrite everything to depend on that. I'd rather not do that if we can cleanly move off of Guava, though. Does anyone agree with the idea of trying to move off?

[2019-05-10 15:57] rdblue commented on #178
`OutputMode.Complete` should replace all rows in the table using `OverwriteByExpression` with `true`.

[2019-05-10 22:45] #182 closed

[2019-05-11 11:37] aokolnychyi commented on #178
I am using `OverwriteFiles$overwriteByRowFilter` with `Expressions.alwaysTrue()`. Is it what you meant?

[2019-05-11 13:16] aokolnychyi commented on #162
Do you mean building alternatives ourselves?

[2019-05-11 21:56] aokolnychyi commented on #179
I think it is possible to leverage the snapshot log in Iceberg to use Iceberg tables as streaming sources for Structured Streaming. This would mean streaming out data from all of the files present in the table as well as from new files that arrive after the stream is started.

There are some things to think about:
- What should happen if we detect deleted files while we are streaming data out?
- W

[2019-05-11 21:57] aokolnychyi commented on #179
@prodeezy would you be interested to work on this?

[2019-05-13 14:28] vrozov commented on #175
@manishmalhotrawork The issue is more generic than just adding the dependency on `commons-io`. It is necessary to enable check during the build that all modules declare used dependencies and do not rely on transitive dependencies.

[2019-05-15 18:00] rdblue commented on #162
For preconditions and iterators/iterables, we would probably build alternatives. A lot of those are already implemented in `CloseableIterables`. Preconditions are easy to add, too.

The main annoyance is the container types, including immutable variants. Is there an alternative for those?

[2019-05-15 18:03] mccheah commented on #162
To be clear I think it's appropriate to use Guava's APIs that are marked as stable, not deprecated, and not experimental / beta. Guava should be committed to API stability and thus it shouldn't be a problem if the Guava dependency is swapped from under the hood.

The issue is that we were using deprecated methods that were removed.

I wonder if we can add a linting check for this.

[2019-05-15 18:05] rdblue commented on #178
@aokolnychyi, sorry for the late reply. Yes, that's what I think it should do.

[2019-05-15 22:03] prodeezy commented on #179
Looks interesting to me to work on! I'm currently discussing this internally for approval.

[2019-05-16 23:55] rdblue commented on #162
After a little searching, I don't see good alternatives for the immutable collections. I think we should move forward with upgrading Guava and not using deprecated methods.

[2019-05-17 00:08] rdsr opened #189 "Allow reading non-optional unions as struct of optional fields"
We have many datasets in our org which have non optional unions. Though unions are not supported by any compute engine, we can probably convert those union data types into struct of optional fields.

@rdblue  mentions that Parquet allows this out of the box. We should try to see if we can incorporate the same behavior in Avro and ORC

[2019-05-19 16:55] aokolnychyi commented on #179
@prodeezy sure, let me know the outcome.

[2019-05-20 15:51] aokolnychyi commented on #179
Another point to consider is how we compute diffs between snapshots. This operation should be efficient. For example, we consumed all of the data at a given point in time and then a new batch came in. We should be able to identify new files easily.

[2019-05-21 13:31] rdsr opened #191 "Store split offsets for ORC files"
Similar to #186

[2019-05-21 21:09] prodeezy commented on #9
@rdblue .. I ran some benchmarks on production sized data and we'r seeing a large enough gap in scan performance between Spark's core reader impl (with vectorization) and Iceberg's `Reader`.  (I can share them but I guess the difference is expected).

I'd be glad to work on this effort. If you have thoughts around this from previous discussions and general approach/challenges please let me know. M

[2019-05-21 21:18] aokolnychyi commented on #9
I would totally support this effort. The benchmarks in [this PR](https://github.com/apache/incubator-iceberg/pull/105) also confirm that vectorized execution is important.

[2019-05-21 21:33] mccheah commented on #9
I would certainly review and collaborate on this!

@aokolnychyi Spark disables vectorized read on nested data, which would then indicate that Iceberg without vectorized read is faster than Spark without vectorized read.

[2019-05-21 21:41] aokolnychyi commented on #9
@mccheah you are right that we don't have vectorized reads on nested data in Spark. The benchmarks in the PR above test vectorized and non-vectorized reads on flat and nested data. On flat data, Iceberg is slightly faster. The real difference is seen on nested data.

[2019-05-21 21:42] aokolnychyi commented on #9
@mccheah you are right that we don't have vectorized reads on nested data in Spark. The benchmarks in the PR above test vectorized and non-vectorized reads on flat and nested data. On flat data, Iceberg is slightly faster. The real difference is seen on nested data.

As I also said in that PR, Iceberg DS is V2 and the file source is still V1, which complicates the comparison. I am working on bench

[2019-05-22 03:45] rdblue commented on #9
It would be great to have people working on this! Feel free to pick it up and I'll help review it. I think there are good tests that we can copy that are used to validate the row-based readers and writers.

@julienledem may also be interested. He has given talks on how to efficiently deserialize Parquet to Arrow and can hopefully help answer questions.

[2019-05-22 12:22] aokolnychyi opened #193 "Support Page Skipping in Iceberg Parquet Reader"
I think we should evaluate the feasibility of page skipping in Iceberg Parquet reader.

See [here](https://github.com/apache/parquet-format/blob/master/PageIndex.md) for more details.

[2019-05-22 16:56] danielcweeks commented on #9
For anyone interested, Spark already has a good reference implementation in Scala here: https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/arrow/ArrowWriter.scala

One thing to note is that there isn't an implementation for map type.  I think Arrow was planning on using list<struct<key,value>, but engines may need something closer to struct<keys:list

[2019-05-22 22:23] danielcweeks commented on #9
@aokolnychyi I just made a pull request for a schema converter between iceberg and arrow, which is the first step in getting setup for building vectors: https://github.com/apache/incubator-iceberg/pull/194

[2019-05-23 17:11] prodeezy commented on #9
Thanks @danielcweeks ! I also found https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/arrow/ArrowConverters.scala that has some nice plumbing for Batch to `Iterator[InternalRow]` and vice versa.  This is used by Spark's `Dataset` to convert partition/split data into Arrow Batch Rdds.

[2019-05-24 22:19] aokolnychyi commented on #9
Another point about the current reader is that we first construct `GenericInternalRow`s and then have an unsafe projection to get `UnsafeRow`s.

Here are benchmark results for readers/writers alone (without Spark):

[code]

[2019-05-25 02:57] rdsr opened #195 "`SparkOrcReader#read()` can potentially be optimized"
In  `SparkOrcReader#read` we build a DAG of converters everytime we  call the `read` method.  This  DAG converts an ORC row to Spark InternalRow. This seems like an expensive operation as it traverse the whole row structure. It seems that building of the converters can be taken out of the read method, and done only once. Ideally all it should require is the structure of the row (schema) to figure

[2019-05-25 14:02] aokolnychyi commented on #161
I've completed the Java part locally. What do we do with Scala?
@rdblue @mccheah Which `scalastyle_config.xml` do we want to use? Spark?

[2019-05-25 19:07] mccheah commented on #161
Baseline has a `scalastyle` plugin: `com.palantir.baseline-scalastyle`. Can we apply that plugin and see how it lints the existing code?

[2019-05-25 23:07] aokolnychyi commented on #161
@mccheah Baseline uses `org.github.ngbinh.scalastyle` and sets the config location to `project/scalastyle_config.xml`. I think having the config under `.baseline/scalastyle` would be better.

How do I overwrite this in Baseline? I've tried multiple approaches but they didn't work for me.
I could configure `org.github.ngbinh.scalastyle` if applied directly.

[2019-05-28 04:50] edgarRd commented on #195
Yeah, I was aware this part of the code could be optimized. Originally I was thinking to refactor those converters to a set of visitors to convert the ORC row to InternalRow and avoid this building of the DAG of converters. Pretty much this is what is done in the Parquet reader as well.

What did you have in mind?

[2019-05-28 05:26] rdsr opened #197 "Capture lower and upper bound stats for ORC"
For specific columns (long, double etc) ORC exposes lower and upper bounds as part of the `ColumnStatistics` API (e.g see `org.apache.orc.DoubleColumnStatistics`)

[2019-05-28 18:16] mccheah commented on #161
Unfortunately I don't think there is such a way, looking at the Baseline source code. I think putting the configuration under `project/scalastyle_config.xml` is fine.

[2019-05-29 00:52] rdsr commented on #195
@edgarRd, here's some rough code which passes the tests. https://github.com/rdsr/incubator-iceberg/commit/0b9bb24add8b25acb526e7179c4d02acef9fdf34 . I still have to verify whether the underlying approach is correct, given that the way I use `UnsafeWriter` in the code is very much different from yours

[2019-05-29 23:59] #122 closed

[2019-06-01 13:03] aokolnychyi commented on #157
This one is done and is awaiting an open source approval.

[2019-06-02 11:33] aokolnychyi commented on #173
I am wondering about the best way to implement this feature.

A few ideas that came to my mind are below.

**Option 1 (TableProperties)**

We will have to add multiple new properties.
For example, we might use something like this:

[code]

Instead of storing a list of columns, we can store a regular expression.

Then we will be able to construct a `MetricsSpec` based on those properties and pass i

[2019-06-02 22:33] rdblue commented on #173
I'd prefer the simpler table property approach because it can be configured using existing SQL DDL (`SET TBLPROPERTIES`). Here's what I would do to keep the configuration small:

1. Define modes: `full`, `counts`, and `none` to express all metrics, just null/value counts, and no metrics
2. Allow setting a column default: `metadata.metrics.default=full`
3. Add column-level config: `metadata.metrics

[2019-06-02 23:17] aokolnychyi commented on #173
That's a clean way to control it! Let me go ahead and implement this.

[2019-06-06 18:56] goldentriangle commented on #178
Any ETA for this feature?

[2019-06-06 19:03] rdsr commented on #191
This is completed

[2019-06-06 19:03] #191 closed

[2019-06-06 19:21] aokolnychyi commented on #178
It is done and awaiting an open source approval. I hope to get it public in early next week.

[2019-06-07 00:18] edgarRd commented on #197
Isn't this addressed by https://github.com/apache/incubator-iceberg/pull/199?

[2019-06-07 00:29] edgarRd commented on #195
@rdsr I think this looks reasonable, essentially these changes avoid storing the `UnsafeWriter` in the converters which allows to create the converters only once. I think this makes sense.
Would you mind sending a PR for this?

Thanks!

[2019-06-07 00:35] edgarRd commented on #133
@rdblue should this issue be closed in favor of the Catalog API?

[2019-06-07 01:45] rdsr commented on #195
Will do @edgarRd!

[2019-06-07 03:12] rdsr commented on #197
Yes!

[2019-06-07 16:32] SurenNihalani commented on #65
+1 for this.

I would be down to do the steps for this (https://github.com/osmlab/atlas/wiki/Gradle,-Travis-CI-and-Maven-Central) but there are two blockers here:
1. proving authorization to sonatype for this project (since I am not a member and they have a human approval process)
2. How would I give back the credentials to project for future amendments? (I am down to maintain them personally too

[2019-06-07 19:14] rdblue commented on #133
Yes, thanks for pointing it out!

[2019-06-07 19:14] #133 closed

[2019-06-07 21:53] prodeezy commented on #128
Benefit of being able to use relative paths in snapshots and manifests is that tables can be migrated to different FS / namespaces without having to re-write iceberg metadata.

[2019-06-10 07:42] aokolnychyi opened #212 "Don't use 'iceberg' prefix for data source options in iceberg-spark"
Instead of `iceberg.write.format` we should use `write-format` option in Spark data source.

[2019-06-10 07:43] aokolnychyi commented on #212
See more in #61.

[2019-06-10 12:28] aokolnychyi commented on #212
I'll submit a PR soon

[2019-06-11 08:01] aokolnychyi commented on #173
@rdblue in light of recent changes, am I correct that this PR is about `value_counts`, `null_value_counts`, `lower_bounds`, `upper_bounds` only?

[2019-06-11 16:01] #195 closed

[2019-06-11 17:07] rdblue commented on #173
@aokolnychyi, I think that sounds good.

[2019-06-11 22:28] edgarRd opened #213 "Incomplete Iceberg to ORC column mapping"
Current implementation of ORC does not support mapping of Iceberg schemas fully to ORC schema. ORC assigns indices to [columns based on the a pre-order traversal of the type tree](https://orc.apache.org/specification/ORCv1/), while in Iceberg IDs are more flexible.
Specifically, the roundtrip conversion of Iceberg and ORC schemas is not correct, the following test case fails:
[code]

This issue ma

[2019-06-12 00:10] rdblue commented on #213
@omalley FYI

[2019-06-12 19:45] rdsr opened #214 "651029"

[2019-06-12 19:49] #214 closed

[2019-06-14 22:56] rdsr opened #216 "PartitionData cannot handle nested field names in PartitionSpec schema"
The following test will throw an exception when parsing the partition's Iceberg schema to Avro schema

Test: https://github.com/rdsr/incubator-iceberg/commit/95b95b0eed3b7fa074a65422aa26ab70c7e22444

The problem is that the Avro parser cannot handle dots in the field name and throws an exception

[code]

AFAICT from the spec nested fields are allowed for partitioning

[2019-06-14 23:06] rdsr commented on #216
@rdblue ,  as per the spec

So we can possibly have 2 ways to address this.
1. Automatically replace the dot with underscore
2. Allow user to specify the target column name in the partition field

[2019-06-14 23:12] rdsr opened #217 "iceberg-runtime should not bundle hadoop dependencies"
The dep chain is
iceberg-runtime -> iceberg-spark -> iceberg-orc -> orc -> hadoop-hdfs

ORC is bringing in an old version (2.2) of hadoop-hdfs

[2019-06-14 23:14] rdblue commented on #216
Iceberg supports special characters in names, looks like the failure is in Avro. I think Iceberg should sanitize special characters from the names when creating an Avro schema.

[2019-06-14 23:19] rdsr commented on #216
Today the special char can only be DOT though right?

[2019-06-14 23:24] rdblue commented on #216
I think it could be anything since we allow users to pass strings into `UpdateSchema`. We should probably sanitize any character that isn't allowed by Avro, assuming that they might creep in.

By the way, because we project based on ID and not by name, the names used in Avro files don't really matter. So this should be safe to change.

[2019-06-15 00:36] edgarRd commented on #213
I have a preliminary fix for this issue in branch: https://github.com/apache/incubator-iceberg/compare/master...edgarRd:orc-column-map-fix

[2019-06-18 16:33] rominparekh commented on #128
Thanks for logging this @prodeezy . I will work on this and raise a PR for it.

[2019-06-18 22:14] #212 closed

[2019-06-20 08:12] aokolnychyi commented on #158
@rdsr @mccheah @rdblue Shall we close this one?

[2019-06-20 08:12] aokolnychyi commented on #156
@rdsr @mccheah @rdblue Shall we close this one?

[2019-06-20 20:37] SurenNihalani commented on #162
+1.

I'll get a PR going for this (the intellij support for iceberg is buggy for this project. It picks up an older version of guava and doesn't find symbol for toStringHelper)

[2019-06-21 12:07] aokolnychyi commented on #8
@rdblue How do you see it in 2.4? I understand that `HiveTables` will be used when no path is given but how will we fetch the table identifier? As another data source property?

Also, how will it look like when we have support for `CREATE TABLE` statements, where `LOCATION` says if it is a managed or external table?

[2019-06-21 16:09] rdblue commented on #8
I was planning on adding support by inspecting the path. If it contains `/`, then it is a path and should use HadoopTables. If it doesn't, then use it as a table identifier with HiveTables.

[2019-06-21 16:50] rdblue commented on #162
Thank you @SurenNihalani!

[2019-06-21 16:51] #162 closed

[2019-06-22 23:02] #178 closed

[2019-06-23 16:12] #216 closed

[2019-06-24 02:42] rdsr commented on #158
+1

[2019-06-24 15:57] #161 closed

[2019-06-24 16:00] rdblue commented on #158
Closing because it's done. Thanks @rdsr!

[2019-06-24 16:00] #158 closed

[2019-06-24 16:11] rdblue commented on #217
I agree, we should exclude all org.apache.hadoop dependencies in the runtime bundle.

[2019-06-24 17:36] rdsr commented on #217
Update description to reflect all hadoop dependencies

[2019-06-26 18:31] mccheah opened #235 "Ensure dependencies are consistent and reviewable via gradle-consistent-versions"
Currently, dependencies are managed via Gradle's native support. We have a section in the top level `build.gradle` that defines the versions for our direct dependencies.

There are several issues with managing dependencies this way:

- We don't set `failOnVersionConflict` as the resolution strategy, so we don't know if a transitive dependency is being pulled in with two conflicting versions and we

[2019-06-26 18:31] mccheah commented on #235
@rdblue @rdsr thoughts on the above proposal?

[2019-06-27 02:09] SurenNihalani commented on #217
I'll grab this

[2019-06-27 02:47] SurenNihalani commented on #174
This should be fixed in #230?

[2019-06-27 13:28] aokolnychyi commented on #8
@rdblue Have you already started working on this? If not, we can contribute this part if it doesn't depend on the catalog effort.

[2019-06-28 04:53] #157 closed

[2019-06-28 16:47] rdblue commented on #235
I'm +1 for this, as long as it does not change expectations of the published artifacts. I don't want custom resolution in Iceberg to cause problems when including Iceberg in Presto, for example.

@electrum, any thoughts here?

[2019-06-28 18:20] electrum commented on #235
I'm new to Gradle, but I read through the docs for `gradle-consistent-versions` and it seems quite reasonable. It has some nice features that I'd like to have in Maven. This appears to be a strict improvement over the current situation.

One problem this doesn't seem to solve is requiring dependency declarations for everything that is used directly. For example, before 37f6a20f324b23c26773b24259ee

[2019-07-01 16:56] HelloHorizon opened #245 "java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;)V"
While creating Iceberg table using PartitionSpec.builderFor, I faced the `java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;)V` error.

I use the Iceberg-master and Spark 2.4.0.

[code]

[code]

I appreciate if anyone can help me with this problem.

[2019-07-01 23:03] HelloHorizon commented on #245
Solved by adding relocate 'com.google.common', 'com.google.common.version28' in build.gradle.

[2019-07-01 23:03] #245 closed

[2019-07-02 15:39] #8 closed

[2019-07-02 16:38] chris-alphonso commented on #245
@HelloHorizon Where did you add this and were there any other steps? I'm facing the same issue. Thanks

[2019-07-02 17:43] HelloHorizon commented on #245
@chris-alphonso For me, it is because of Guava version conflict. Since Spark v2.4.0 use 14.0.1 while iceberg use 28.0, you only need to add relocation for shardowjar in `build.gradle`. Add `relocate 'com.google.common', 'com.google.common.version28'` at line 415.

[2019-07-03 13:59] chenjunjiedada opened #249 "Convert from Spark table to Iceberg table"
Currently, Iceberg-spark doesn't have API to convert from a Spark table to iceberg table. User may want to migrate Spark or Hive tables to iceberg tables directly.

[2019-07-03 17:35] aokolnychyi commented on #249
[Here](https://lists.apache.org/thread.html/0f55e50fe48c15a55b31277b48e70500c642ea50cf8d6a3f12dfafe4@%3Cdev.iceberg.apache.org%3E) is a relevant email thread on the dev list.

[2019-07-03 18:16] goldentriangle commented on #179
@prodeezy is there an ETA for this feature to be completed?

[2019-07-03 20:43] aokolnychyi opened #251 "Register existing tables in Iceberg HiveCatalog"
Right now, we can keep metadata and data files while dropping tables from Iceberg `HiveCatalog`. However, there is no way to register those tables back even though the metadata and data files can be still there. So, we need to extend `HiveCatalog` with another method that will accept a location to the valid metadata file and would register a table in HMS.

This will allow us to properly support ex

[2019-07-04 21:32] aokolnychyi opened #255 "Control metadata compression via table properties"
Right now, we control metadata compression by reading Hadoop config. Instead, I think it should be controlled by table properties. This would mean that `refresh` in `HadoopTableOperations` has to be updated to check for both compressed and uncompressed metadata files while loading tables.

[2019-07-05 16:12] rdsr opened #256 "Cleanup Presto runtime artifact"
Similar to #250, we need to remove usage and redefinition of `shadow configuration` in `presto-runtime` module. There's  probably some relocation/shading rules that also need to be added.

[2019-07-05 16:49] prodeezy commented on #179
Haven't really looked much into this. I'v been off this past week and
otherwise busy with vectorization work. So don't have an plan or ETA as
yet.

On Wed, Jul 3, 2019 at 8:16 AM Kai <notifications@github.com> wrote:

[2019-07-05 17:18] rdsr opened #257 "Have tests which test against the shaded runtime artifacts"
Currently our unit tests do not test shaded runtime Spark and Presto artifacts. Changing any relocation/shading rule is tricky and could lead to runtime failures. We should have some sanity tests to guard against those failures and also to have some confidence that things we change will work.

[2019-07-05 21:50] #217 closed

[2019-07-06 12:41] aokolnychyi opened #259 "Fix hadoop data source options in Spark"
Hadoop configs passed as data source options in Spark are not propagated correctly as `DataSourceOptions` convert all configs to lower case. So, properties such as `fs.defaultFS` are not set correctly.

[2019-07-06 12:43] aokolnychyi commented on #259
@mccheah @rdblue do we actually need `hadoop.` data source options? Won't be enough to pick Hadoop configs from table properties?

[2019-07-06 15:42] rdsr opened #260 "iceberg-spark-runtime should not shade Hive classes it does not include in its shaded jar"
I see the following exception when using spark-runtime jar.
[code]

It seems that we are shading Metastore classes even though we are not bundling them in the shaded jar.

I have a patch working for this which I'll post later in the day.

[2019-07-06 18:49] rdblue opened #261 "Support create and replace transactions in Catalog"
Catalog should support staging create and replace table operations to implement CTAS and RTAS in engines.

[2019-07-06 18:51] rdblue commented on #259
There is a fix for this in Spark 3.0 that allows you to get the original options map. Let's just keep this as a known issue until we can use that.

[2019-07-06 18:51] rdblue commented on #235
I merged the PR for this so I'm going to close this issue.

[2019-07-06 18:51] #235 closed

[2019-07-06 18:53] rdblue opened #262 "Add check for format version"
Iceberg should fail if the table format version in metadata is higher than the supported version to ensure Iceberg produces a good error message when attempting to read tables with format incompatibilities.

[2019-07-06 18:55] rdblue commented on #175
We recently cleaned up dependencies in #250 and #230 fixed the commons-io problem. Feel free to reopen this if there are more changes to be done.

[2019-07-06 18:55] #175 closed

[2019-07-06 18:56] rdblue commented on #260
Thanks for working on this!

[2019-07-06 19:01] #113 closed

[2019-07-06 19:06] rdblue commented on #174
Yes, this should be fixed.

[2019-07-06 19:06] #174 closed

[2019-07-06 19:10] rdblue commented on #121
Fixed by #239.

[2019-07-06 19:10] #121 closed

[2019-07-06 19:11] rdblue commented on #92
Thanks for trying to reproduce, @kbendick. I'm going to close this, but feel free to reopen if it turns out to be a problem.

[2019-07-06 19:11] #92 closed

[2019-07-06 19:13] rdblue commented on #83
I'm going to close this because #89 and #141 fixed the original problem. #145 would be nice to fix, but the code works as it is right now.

[2019-07-06 19:13] #83 closed

[2019-07-06 19:15] rdblue commented on #64
This was fixed in #166.

[2019-07-06 19:15] #64 closed

[2019-07-06 19:18] rdblue commented on #60
I went ahead and added this recently in #246 to support overwrite in Spark 2.4 since it is taking a while to get 3.0 out. It should work the same way in 3.0, but we will no longer recommend using this API because it doesn't state the behavior sources should implement (overwrite, truncate, replace table are all allowed).

See the [overwrite docs](https://iceberg.apache.org/spark/#overwriting-data)

[2019-07-06 19:18] #60 closed

[2019-07-06 19:21] rdblue commented on #43
Fixed in #61.

[2019-07-06 19:21] #43 closed

[2019-07-06 19:22] rdblue commented on #36
Fixed in #111.

[2019-07-06 19:22] #36 closed

[2019-07-06 19:22] rdblue commented on #37
Fixed in #188.

[2019-07-06 19:22] #37 closed

[2019-07-06 19:24] rdblue commented on #96
@omalley, is it possible to update ORC so that we can pass in a `SeekableInputStream` for reads and a `PositionOutputStream` for writes?

[2019-07-06 19:26] rdblue commented on #261
Atomic CTAS and RTAS in Spark: https://github.com/apache/spark/pull/24798

[2019-07-06 21:08] rdblue commented on #262
Looks like this is already done: https://github.com/apache/incubator-iceberg/blob/master/core/src/main/java/org/apache/iceberg/TableMetadataParser.java#L161-L162

[2019-07-06 21:08] #262 closed

[2019-07-06 21:11] rdblue commented on #256
@electrum, does Presto use this shaded artifact?

[2019-07-06 23:50] electrum commented on #256
No, it can be removed.

[2019-07-07 08:19] chenjunjiedada opened #266 "Fix building error caused by encoding issue"
The latest build (dc160c6964da829f64f0) failed on my dev machine which has `LANG` set to `en`.

[code]

We should use UTF8 encoding for all projects.

[code]

[2019-07-07 18:36] #260 closed

[2019-07-07 21:40] vrozov commented on #175
@rdblue Please reopen as the issue is not fixed by #250 and/or #230. To confirm, please use `checkImplicitDependencies` task:
[code]

[2019-07-08 14:35] aokolnychyi opened #269 "Fix BaseTableScan to include column_sizes in stats columns"
Right now, `table.newScan().includeColumnStats()` doesn't not include `column_sizes`.

[2019-07-08 16:18] rdblue commented on #175
@vrozov, where are these used? I'm not aware of anything that would require Netty.

[2019-07-08 20:39] rdblue commented on #34
This was implemented in #74.

[2019-07-08 20:39] #34 closed

[2019-07-08 21:02] vrozov commented on #175
@rdblue See https://github.com/apache/incubator-iceberg/blob/master/core/src/main/java/org/apache/iceberg/RemoveSnapshots.java#L25. It is exactly the problem that #175 supposed to address: accidental usage of transitive dependencies. It also looks that dependency on hadoop-client is excessive and dependency on hadoop-common will be sufficient.

[2019-07-08 21:34] vrozov commented on #175
Please note that due to https://github.com/palantir/gradle-baseline/issues/567 `com.palantir.baseline-exact-dependencies` can't be used to check for implicit dependencies.

[2019-07-08 21:51] mccheah commented on #9
Is there a plan for how we're going to tackle this? So far I've only seen concrete work in #194. Is there a plan to build out the entire Arrow integration? Perhaps it's appropriate to break down this issue into multiple sub-issues so that PRs can target the sub-issues - then we can merge everything knowing that each piece will be part of a known complete picture?

[2019-07-08 22:47] danielcweeks commented on #9
@mccheah We have started working on a more complete integration with arrow and we'll be following up incrementally as things progress.  @anjalinorwood and @samarthjain are working on this here at Netflix.  There are still some things that will need to be proved out, but plan to try to chunk the work into smaller pieces for better review and comment.

[2019-07-09 03:02] chenjunjiedada commented on #266
Close this via 37e33ce2b10d76d45c689641c1882bcf6e72829f

[2019-07-09 03:02] #266 closed

[2019-07-09 16:39] omalley commented on #96
I can't make ORC depend on Avro, Parquet, or Iceberg, so I don't see what you are asking for.

If the ask is to make a version of ORC's Java library that can run without Hadoop, it would be a bit touchy. In particular, our main API uses FileSystem, Configuration, and Path from Hadoop. We've talked about making a no-Hadoop set of shims, but is that what you are asking for?

[2019-07-10 23:13] moulimukherjee opened #274 "Error while using bucket partitions"
Seeing following error while using the bucket partition

[code]

The relevant code looks like
[code]

Sorting by the column does not help as its bucketted using hash.

[2019-07-11 17:38] rdblue commented on #274
Yeah, you need to get the bucket function to Spark and sort by that. Here's how to create a Spark UDF with the function:

[code]

Then you can use it like this:

[code]

[2019-07-11 17:42] moulimukherjee commented on #274
@rdblue Thanks, let me try it out

[2019-07-11 20:00] #160 closed

[2019-07-11 20:00] #256 closed

[2019-07-11 22:46] rdsr opened #278 "Remove BaseMetastoreTables and HiveTables"
It seems to me that these are replaced by their `Catalog` counterparts. Should we delete these then?

[2019-07-12 18:02] #255 closed

[2019-07-13 19:14] rdblue opened #279 "Transforming timestamp to date should produce date"
The output type of transforming a timestamp to a date `Transforms.day(Types.TimestampType.withZone()` is an integer, but should be a date. That way, it will be formatted as a date in metadata tables.

When this is updated, we need to validate backward compatibility with existing tables.

[2019-07-13 19:27] rdblue opened #280 "Add persistent IDs to partition fields"
Partition fields are assigned IDs for when they are stored in manifest files. ID assignment is done in [`PartitionSpec#partitionType()`](https://github.com/apache/incubator-iceberg/blob/master/api/src/main/java/org/apache/iceberg/PartitionSpec.java#L104-L117). That assigns IDs for each field starting at 1000.

This assignment scheme reuses IDs across partition specs. Because a manifest file is wri

[2019-07-13 19:32] rdblue opened #281 "Add partition spec evolution to Table API"
Tables currently support schema evolution using [`updateSchema()`](http://iceberg.apache.org/javadoc/master/index.html?org/apache/iceberg/UpdateSchema.html):

[code]

Iceberg should support a similar API for evolving a partition spec, which is currently a manual operation.

[2019-07-13 19:33] rdblue commented on #278
+1

[2019-07-14 05:30] melin opened #286 "add build documents from source code"
add build documents from source code to help users quickly use

[2019-07-14 19:09] #278 closed

[2019-07-15 16:54] manishmalhotrawork commented on #269
@aokolnychyi I can take this up.

[2019-07-15 17:43] #173 closed

[2019-07-15 17:48] manishmalhotrawork commented on #269
if its ok with you, and believe would be good for n00b :)

[2019-07-15 18:02] rdblue commented on #96
Yeah, I think a set of no-Hadoop shims is the right thing. Maybe we can move FileIO, InputFile, and OutputFile to a separate library? It would be great to standardize this.

[2019-07-15 19:52] rdblue commented on #286
Do you mean how to invoke the build? If so, you can run this to build and run tests:

[code]

If you want to skip tests, run:

[code]

[2019-07-15 19:52] rdblue commented on #286
Would you like to open a PR to add those to the README?

[2019-07-15 19:54] aokolnychyi commented on #269
@manishmalhotrawork, sure, go ahead!

[2019-07-15 22:48] chenjunjiedada opened #288 "Replace Murmur3 x86_32 hash with XXH64"
Since [XXH64 ](http://www.xxhash.com/) is faster and architecture independent, so we may want to consider to replace the current x86 version Murmur3Hash with the XXH64.

[2019-07-16 09:50] chenjunjiedada opened #289 "Update scala style MultipleStringLiteralsChecker or remove it"
With the current checker setting of ignoreRegex `^""$` (which is the default), it cannot use the string interpolation variables more than three times. Please see a related issue [here](https://github.com/scalastyle/scalastyle/issues/100). I can resolve this by setting ignoreRegex to `^""?$` as listed in the above link.

Besides, I found it is not convenient to use the checker, for example, when co

[2019-07-16 14:36] chenjunjiedada opened #290 "Add parameter checks for HadoopTables#create"
The `HadoopTables#create` doesn't check whether the spec is null which may lead to NullPointerExeception.  For example, a user may use `specForTables` to get partition spec for a table and then pass it to `HadoopTables#create`, it throws NullPointerExeception if the table doesn't have partition column.

IIUC we should support creating the table which has no partition. So what is the default behavi

[2019-07-16 15:17] chenjunjiedada commented on #249
Hi @aokolnychyi,

I see you mentioned to use a spark job to implement the API, do you mean to use a SparkSession?  I tried some commands in spark-shell and summarized [here](https://github.com/chenjunjiedada/incubator-iceberg/commit/0d607d7f2c1ae0a7630e98e81491359a2c44414c#diff-872bad13b0ca263b20c64cd36768ddc2R284)(Note that it is just a list of commands).

[2019-07-16 16:27] rdblue commented on #290
Unpartitioned tables use `PartitionSpec.unpartitioned()`.

[2019-07-16 16:29] rdblue commented on #289
What does the rule catch when it isn't misbehaving?

[2019-07-16 16:30] rdblue commented on #274
@moulimukherjee, did that solve the problem?

[2019-07-16 16:44] #145 closed

[2019-07-16 20:19] moulimukherjee commented on #274
@rdblue Yes, it did. Thanks!

[2019-07-16 22:45] chenjunjiedada commented on #289
The rule limits the reference of same literal string up to specific times, which is set to 2 now. String literals like ",", "/", "=" and etc are commonly used and easily hit the rule.

[2019-07-16 22:49] chenjunjiedada commented on #290
So it should return PartitionSpec.unpartitioned() for specForTables when it found no partition column.

[2019-07-16 23:56] electrum opened #293 "Truncate transform on strings with Unicode characters"
The specification for truncate says

but does not define what it is counting. I assume the intention is for it to be Unicode code points, since the specification says that

However, the Java reference implementation uses `java.lang.CharSequence#subSequence`, thus the length is in terms of 16-bit code units, and thus is different for code points for characters outside of the Basic Multilingual Plan

[2019-07-17 17:27] electrum commented on #279
Should `day` also not support the `date` type, since that would be an identity transform?

[2019-07-17 19:17] rdblue commented on #293
We should update the spec and the transform to use [`UnicodeUtil`](https://github.com/apache/incubator-iceberg/blob/master/api/src/main/java/org/apache/iceberg/util/UnicodeUtil.java#L42-L54)

[2019-07-17 22:21] electrum opened #295 "Normalize NaN values for bucketing"
We should use `doubleToLongBits` rather than `doubleToRawLongBits`. This allows pushdown of expressions like `is_nan(x)` that check if a value is NaN (compared to normal equality as  NaN values are never equal).

[2019-07-17 23:54] rdblue commented on #290
Thanks for fixing #292! Do you plan to add more checks for this issue was well?

[2019-07-17 23:55] rdblue commented on #289
Is this across files, or just within a single file?

[2019-07-17 23:56] chenjunjiedada commented on #290
Yes, I will spend some time on this.

[2019-07-17 23:57] rdblue commented on #279
You're probably right, although there shouldn't be a difference between the two in practice, once strict projection for dates is added.

[2019-07-18 00:04] chenjunjiedada commented on #249
I spent some time to try this on spark-shell, and now I 'm converting them to code, @rdblue are you working on this as well? I saw you mentioned in another thread.

[2019-07-18 03:35] chenjunjiedada commented on #289
From the tip from IntelliJ, it is from a single file.  What 's your preference? Remove it or fix it?

[2019-07-18 17:46] rdblue commented on #249
I haven't yet, feel free to submit a PR!

[2019-07-22 07:32] timmylicheng commented on #295
A quick PR https://github.com/apache/incubator-iceberg/pull/303

[2019-07-22 11:58] timmylicheng commented on #286
Just started to get into iceberg. I figured to do a PR for this: https://github.com/apache/incubator-iceberg/pull/304

[2019-07-22 12:00] timmylicheng commented on #279
What are suggested ways to validate backward compatibility?

[2019-07-22 12:11] timmylicheng commented on #281
I'm still new to this and trying to pick up some fixes to get deeper into the code base. Could you say more about the manual operation here? Is it happening in PartitionData?

[2019-07-22 17:45] prabcs commented on #179
👋, I'm going through iceberg and it seems quite interesting. I have couple of questions on this issue.

With Spark's Structured Streaming, need to consider the size of a microbatch as well. The size of a microbatch can be defined at the query level. Typically, that would mean reading that number of records from the stream (FileStream) in this case. The [File Source](https://github.com/apache/spark

[2019-07-23 00:01] electrum opened #305 "Publish source jars for JitPack"
We're currently using [JitPack](https://jitpack.io/#apache/incubator-iceberg) in Presto for the Iceberg dependency until there is an official release in Maven Central. Unlike a traditional Maven `SNAPSHOT` build, this is reasonably safe, as the artifacts should be effectively immutable as they are based on a commit ID.

One problem is that the source jars are not published. This seems to be caused

[2019-07-23 09:09] timmylicheng commented on #280
Is this still an issue?
Does https://github.com/apache/incubator-iceberg/blob/master/core/src/main/java/org/apache/iceberg/TableMetadata.java#L304 solve this?

[2019-07-23 09:33] electrum commented on #295
I just noticed that bucketing by float or double is not actually allowed by the specification, nor does the Iceberg library implement. However, the specification mentions how to hash these types, for seemingly no purpose. Would it be better to remove the hash specification to avoid confusion?

FWIW, I agree with the decision to not include bucketing on floating point numbers, since this will almos

[2019-07-23 18:32] aokolnychyi opened #307 "Respect commit.manifest.target-size-bytes in MergeAppend and FastAppend"
`MergeAppend` and `FastAppend` are writing all added files to a new manifest. `MergeAppend` also has logic to merge small manifests into bigger ones. However, there is no logic to prevent writing large manifests if the number of new files is big.

We can respect `commit.manifest.target-size-bytes` in `MergeAppend` and `FastAppend` and split new files into multiple manifests.

[2019-07-23 18:35] aokolnychyi commented on #307
@rdblue @danielcweeks what do you think? I am not sure we need this logic in `FastAppend` but it seems reasonable in `MergeAppend`. Alternatively, this can be done by a separate process that will leverage `RewriteManifests`.

[2019-07-23 23:24] prodeezy commented on #9
I'v added a WIP branch with a working POC for vectorization for primitive types in Iceberg
 https://github.com/prodeezy/incubator-iceberg/tree/issue-9-support-arrow-based-reading-WIP

**Implementation Notes:**
 - Iceberg's Reader adds a `SupportsScanColumnarBatch` mixin to instruct the DataSourceV2ScanExec to use `planBatchPartitions()` instead of the usual `planInputPartitions()`. It returns inst

[2019-07-23 23:36] rdblue commented on #307
This sounds good to me, but I'm concerned about the number of files that would be required in a single commit to read the target manifest size. How many files are you committing at once? Are those files reasonably sized?

[2019-07-24 00:30] aokolnychyi commented on #307
I saw one table with a wrong partitioning that caused a commit of ± 2 million files and ±500 MB manifest size. Of course, that was a configuration error.

Manifest size can be around 8MB if you commit ±10000 files. Let's actually keep this open and not address it now. Even if we write a couple of TB in one batch, it shouldn't be a big problem to have a slightly bigger manifest. Might not be worth

[2019-07-24 03:50] timmylicheng commented on #295
There is a short description in spec.md on this "2. Float hash values are the result of hashing the float cast to double to ensure that schema evolution does not change hash values if float types are promoted. Note that floating point types are not valid source values for partitioning."

But I agree with you. Having the comments saying bucketing by float or double is not allowed, the actual implem

[2019-07-24 08:18] timmylicheng commented on #280
@rdblue Now every manifest only has one partitionSpecId. Do this mean if a table had multiple partition specs, there would be multiple manifest for it?

[2019-07-24 16:50] rdblue commented on #280
Yes. If a table has multiple partition specs, it will probably have multiple manifests, each written with one of those specs.

[2019-07-24 17:37] rdblue commented on #307
I agree. There may be use cases that require this, but we don't usually expect this to happen without a configuration problem like your case.

[2019-07-24 18:59] rdblue commented on #295
I forgot that I had already thought about bucketing with floating point numbers and decided it was a bad idea. I'm glad you guys caught that in the spec (and that we wrote it down!).

The reason to define a hash function for floating point numbers is that we may need it for other uses, and we need to be careful with hashing and schema evolution.

The hash spec produces the same result for a value

[2019-07-24 22:35] danielcweeks commented on #9
A few of us met with @prodeezy to discuss the poc implementation (great work btw) and look at the future work we all hope to be contributing to.  I've captured some of the discussion and ideas of where we going and considerations here: https://docs.google.com/document/d/1qVcowrYP6xBoB9C4htwEA0QvbHpdstzieNsX26SMG2k/edit#heading=h.yun6jblu7cfi

Feel free to add comments.  I think with a little clean

[2019-07-25 06:54] timmylicheng commented on #295
@rdblue Getcha.
@electrum Shall I leave the codes there and just update the spec.md with wording like "float(double) is not supported. Be careful."?

[2019-07-25 07:01] timmylicheng commented on #295
PR #303 is merged btw. @electrum

[2019-07-25 07:13] electrum commented on #295
@timmylicheng thanks!

[2019-07-25 07:13] #295 closed

[2019-07-25 07:15] electrum commented on #295
I'd prefer to remove it from the specification (maybe just comment it out in the specification source for easy restoration) to avoid confusion, but that's @rdblue's call.

[2019-07-25 11:54] timmylicheng commented on #280
@rdblue So that for every current() TableMetadata, the spec() should return the one with the last assigned ID instead of the defaultSpecId?

[2019-07-25 15:43] rdblue commented on #280
@timmylicheng, sorry for the confusion. The partition spec ID and the IDs I'm talking about here aren't the same thing. Partition specs are assigned IDs so that we can write manifest files that reference those specs, I think you're talking about those IDs.

The IDs I'm talking about here are schema field IDs that are used to write the record of partition data in the manifest file. Right now, those

[2019-07-25 18:07] prodeezy opened #311 "Refactor Vectorization specific code into iceberg-arrow module"
currently this is all in iceberg-spark module. To be able to iterate on arrow/vectorization related work I'l move the feature specific impl code into it's own module.

[2019-07-25 18:36] prodeezy opened #312 "Add batch sizing by num rows as config for Vectorized reads"
Currently the POC on vectorization assumes batch size to be the rowgroup size. Should add ability to set num rows as batch size. If rowgroup ends before the vector batch is done, continue reading the next rowgroup.

[2019-07-25 21:30] #305 closed

[2019-07-26 01:53] timmylicheng commented on #280
@rdblue Ah that makes more sense. Thanks for the clarification!

[2019-07-26 07:52] aokolnychyi opened #316 "Provide an API to modify records within files"
We need an API to atomically remove some existing files and add new ones to perform "eager" updates and deletes. While `RewriteFiles` is doing exactly this, it seems to be designed for cases like compaction, where a set of files is replaced but the content does not change.

`RewriteFiles` cannot be used for updates and deletes because of its logic on retries: it will succeed if all files it tries

[2019-07-26 07:57] aokolnychyi opened #317 "Extend Iceberg metadata with SortOrder"
Here is a short summary of the [discussion](https://lists.apache.org/thread.html/7692ce3c1714f1733fa11aa632da2f8c0696b4ae64d04c6563f17e50@%3Cdev.iceberg.apache.org%3E) on the dev list:
- Iceberg should allow users to define a sort order in its metadata that applies to partitions.
- We should never assume the sort order is actually applied to all files in the table, as that would require rewriting

[2019-07-26 11:54] chenjunjiedada commented on #290
close via https://github.com/apache/incubator-iceberg/pull/298

[2019-07-26 11:54] #290 closed

[2019-07-26 17:37] rdblue commented on #295
What about adding a note that points out that the hash function is defined, but bucketing by floating point values is not allowed?

[2019-07-26 20:39] samarthjain opened #320 "test"
issue

[2019-07-26 20:39] #320 closed

[2019-07-26 22:16] prodeezy commented on #9
Will be using https://github.com/apache/incubator-iceberg/tree/vectorized-read going forward to iterate on this feature.

[2019-07-27 22:22] jbapple opened #323 "Python README should include build and test instructions"
The README in the top-level `python` directory has no build and test instructions. There is a `setup.py`, but the usage is not fully clear to me. Various combinations of python2, python3, dependencies, command orders, and sudo or not produce a variety of errors.

As an example, `sudo python setup.py install` warns about `setuptools` being too old (version 0.0.0, according to the filename), even af

[2019-07-28 01:42] johnclara commented on #316
Hi!

I'm curious about the update condition in:
[code]

It looks like this `ReplaceFiles.rewriteFiles` in a set of DataFiles. Do you mean the condition used to construct this set?

[2019-07-29 17:53] aokolnychyi commented on #317
I'll submit a PR soon

[2019-07-29 20:07] ikosyanenko opened #328 "Getting java.nio.charset.MalformedInputException: Input length = 1 while converting parquets to Iceberg"
Hello,

I get java.nio.charset.MalformedInputException: Input length = 1 while converting parquets to Iceberg, especially for value 'wa😂😂😂😂💪😂😂😂😂😂😂😂😂�
I use latest commit 1596d61d5aee12cb089affa7b9113ece74025e8d
Can anybody help me with that?
<img width="390" alt="Screen Shot 2019-07-29 at 23 07 02" src="https://user-images.githubusercontent.com/1084953/62078591-a3b4a500-b255-11e9-8734-c095c592b4bf

[2019-07-30 04:03] timmylicheng commented on #286
#304 is merged in.

[2019-07-30 19:41] arina-ielchiieva opened #330 "Orphan manifest file when performing delete in transaction"
Steps to reproduce:

1. Create Iceberg table and add two files:
[code]
Each append operation produces snapshot and corresponding manifest files:
[code]
2. Delete one file in transaction:
[code]
After delete operation, new snapshot is created with two manifest files:
[code]
When listing manifest files from the snapshot, it shows only one manifest file:
[code]
Result:
[code]

If delete operation is

[2019-07-30 21:01] rdblue commented on #330
Here's my response from the dev list:

I suspect that this has something to do with PR #218 that introduced special handling for files that are deleted in transactions. The problem that PR fixed was that a manifest was created, merged, and then deleted. Then the transaction failed to commit and retried. The manifest that was created was reused, but in the retry it didn’t get merged and was still a

[2019-07-30 21:02] rdblue commented on #330
@arina-ielchiieva, could you test whether that solution fixes the problem?

[2019-07-30 21:14] rdblue commented on #330
Another option for the fix is to avoid clearing the `deletedFiles` object that tracks deleted files in `BaseTransaction`. Instead, that could keep track of all files that were deleted in any attempt and avoid deleting any manifest or manifest list that is in any of the transaction's snapshots. That's a bit more complicated since there are multiple snapshots being committed, but it would probably b

[2019-07-31 15:53] arina-ielchiieva commented on #330
@rdblue thanks for the details. Looks like you have identify root cause correctly.
When I have commented out `filteredManifests.remove(manifest);` line:
[code]
Delete operation in transaction produced only one manifest file.
Is what need to be fixed (to tell the truth I did not completely explore the code,  just tried out the suggested fix)?

[2019-07-31 16:20] rdblue commented on #330
Great, thanks for testing it out. I think that the second fix I suggested is probably the way to go. That's basically what the other operations already do, we would just need to union the set of committed metadata files together and delete whatever isn't in that set.

[2019-07-31 16:21] rdblue commented on #289
If this is in a single file, then let's remove it. I think the real value is across multiple files so we don't repeat constants.

[2019-07-31 16:22] #286 closed

[2019-07-31 16:24] rdblue commented on #281
@timmylicheng, #280 should be done first so that metadata tables can handle schema evolution.

Updating a schema works fine, I'm referencing it so that we have a guide for building partition spec evolution. I think the two APIs should be similar.

Updating a partition spec is currently a manual operation because there is no API for making the change. You can build a replacement spec and add it to

[2019-07-31 16:27] rdblue commented on #316
@aokolnychyi, updating the API to support eager rewrites sounds good to me! I think this should probably be a variant of overwrite, though. `RewriteFiles` produces a `replace` commit, which signals that the data did not change. Is it possible to update overwrite instead.

[2019-07-31 16:31] aokolnychyi commented on #316
@rdblue I am flexible there, let's clarify what's best during review. I've summarized the approach we were taking in [this](https://github.com/apache/incubator-iceberg/pull/324#issuecomment-516129948) comment.

@johnclara Sorry for the delay, I'll submit what we have by the end of week.

[2019-07-31 16:32] rdblue commented on #323
@TGooch44, could you add this?

[2019-07-31 16:38] TGooch44 commented on #323
Will check it out

On Wed, Jul 31, 2019, 9:32 AM Ryan Blue <notifications@github.com> wrote:

[2019-07-31 18:43] TGooch44 commented on #323
@jbapple I'm going to submit a PR on this, but can you try doing a pip install -e . from the python directory?  Note that the iceberg client requires python >= 3.4

[2019-07-31 19:15] rdsr opened #337 "Can BaseSnapshot#cacheChanges() be optimized ?"
@shardulm94 and me were discussing this yesterday.

In `org.apache.iceberg.BaseSnapshot#cacheChanges()` we are only accumulating manifest entries which were added or deleted by current snapshot. Since the manifest file  also contains the snapshot id of the snapshot which created it, it seems we can filter manifests by the current snapshot before we traverse their manifest entries.

My understandin

[2019-07-31 20:32] SurenNihalani commented on #65
could utilize https://github.com/1Password/1password-teams-open-source for storing the credentials here. (h/t: @shardulm94 )

[2019-07-31 22:02] #289 closed

[2019-07-31 22:03] rdblue commented on #288
We can possibly add XXH64 later, but the Iceberg spec requires Murmur3. We would need to deprecate Murmur3 and I'm not convinced that it is worth the change just yet.

[2019-07-31 22:03] #288 closed

[2019-07-31 22:04] rdblue commented on #288
I'm closing this, but we can reopen it if we decide to add XXH64 support in the future.

[2019-07-31 22:05] rdblue commented on #307
I'm going to close this. We can reopen it if we hit cases where manifests are too large and the reason for the number of files is reasonable.

[2019-07-31 22:05] #307 closed

[2019-07-31 22:36] #293 closed

[2019-08-01 00:44] jbapple commented on #323
Didn't work without `sudo`. With it:

[code]

[2019-08-01 07:36] arina-ielchiieva commented on #330
@rdblue since you know the internals of this problem better, I think its more reasonable for your to prepare the fix. Thanks for looking into this!

[2019-08-01 20:50] #328 closed

[2019-08-01 22:58] prodeezy commented on #9
After running benchmarks met with @samarthjain , @anjalinorwood and @rdblue  to go over some possible improvements :

Vectorization Perf Meeting notes (Aug 1):

Possible low hanging fruit to reap with perf :
  - Remove virtual calls in vector reader, make concrete classes (Anjali)
  - Remove hasNext() calls and currentDefinitionLevels() checks and tighten the VectorReader.read() loop (Anjali)
  -

[2019-08-02 01:24] prodeezy opened #345 "[Vectorization] Improve variable length type decoding in Iceberg for Strings and Decimal"
Slowness seen in time spent in FieldVector.setSafe() calls Improve Decimal / String (for starters) variable byte reading. Make this fixed length based or using binary reading.

[2019-08-02 19:13] #337 closed

[2019-08-04 21:51] aokolnychyi commented on #251
Won't address now (see the PR for details). We can reopen if needed later.

[2019-08-04 21:51] #251 closed

[2019-08-05 21:19] aokolnychyi commented on #261
Anyone working on this already?

[2019-08-05 22:20] aokolnychyi commented on #179
I am thinking to pick this up in the near future. Let me know if there is anybody already working on this.

[2019-08-05 23:02] rdblue commented on #261
I don't think so. Feel free to pick it up!

[2019-08-05 23:03] rdblue commented on #261
Here are the original implementations from BaseMetastoreTables, if it helps: https://github.com/apache/incubator-iceberg/blob/58c71e899c4c5814794c2fda74872a3fff87261a/core/src/main/java/org/apache/iceberg/BaseMetastoreTables.java#L70-L106

[2019-08-05 23:06] rdblue commented on #24
How are we doing on this? Most modules are running checkstyle, right?

[2019-08-05 23:12] mccheah commented on #24
This can probably be superceded by all the individual tasks for Baseline integration.

[2019-08-06 06:46] timmylicheng commented on #179
We at Tencent are also looking in it.

On Tue, Aug 6, 2019 at 6:20 AM Anton Okolnychyi <notifications@github.com>
wrote:

--

[NIV]  Corinthians 13:8

 Love never fails. But where there are prophecies, they will cease; where
there are tongues,they will be stilled; where there is knowledge, it will
pass away.

Li Cheng
SDE in Amazon Web Service/ Simple Storage Solution (S3)
Electrical & System Engi

[2019-08-06 08:07] shawnding commented on #39
Taking a stab at this , If no one follows, I will do this.

[2019-08-06 12:06] aokolnychyi commented on #179
@timmylicheng do you already have a prototype? Want to submit a PR?

[2019-08-06 12:09] aokolnychyi commented on #179
@prabcs, yeah, I also raised a similar question. I believe the micro-batch size should be configurable.

[2019-08-06 12:11] aokolnychyi commented on #261
Will submit a PR then

[2019-08-06 12:41] aokolnychyi opened #353 "Remove dependency on Hadoop Configuration in BaseMetastoreTableOperations"
As a follow-up to #347, we should consider removing the dependency on Hadoop `Configuration` in `BaseMetastoreTableOperations`.

[2019-08-06 16:26] rdblue commented on #312
@prodeezy, this is completed, right? I'm going to close it. Please reopen if I'm wrong.

[2019-08-06 16:26] #312 closed

[2019-08-06 16:28] rdblue commented on #24
Thanks! I'll close this.

[2019-08-06 16:28] #24 closed

[2019-08-07 00:54] #330 closed

[2019-08-07 06:58] prodeezy commented on #312
yes. thank you @rdblue

[2019-08-07 11:57] timmylicheng commented on #179
No work done yet. Feel free to take this up if you already have something
done. Just keep us posted. :)

On Tue, Aug 6, 2019 at 8:06 PM Anton Okolnychyi <notifications@github.com>
wrote:

--

[NIV]  Corinthians 13:8

 Love never fails. But where there are prophecies, they will cease; where
there are tongues,they will be stilled; where there is knowledge, it will
pass away.

Li Cheng
SDE in Amazon

[2019-08-07 12:26] prabcs commented on #179
Ok, take it up. Thanks

On Wed, Aug 7, 2019 at 5:27 PM Li Cheng <notifications@github.com> wrote:

--
---------------------------------------------------------
"There are only 10 types of people in the world: Those who understand
binary, and those who don't"

[2019-08-07 16:28] rdblue opened #358 "Add sequence numbers to metadata"
Row-level deletes require a way to determine whether a given delete file applies to a data file.

The scope of a delete file will be limited in 2 ways: by time and by partition. Sequence numbers will be used to implement the first. All data and delete files will be added with a sequence number and deletes apply to any data file with a sequence number less than or equal to the delete's sequence num

[2019-08-07 16:30] rdblue opened #359 "Spec: Add file and position delete files"
One option for encoding row-level deletes is to track rows by file and row position in the file. This format should be documented in the spec.

[2019-08-07 16:36] rdblue opened #360 "Spec: Add column equality delete files"
One option for encoding row-level deletes is to track a tuple of values that indicate a row is deleted. The delete file will contain a subset of data columns and each row will be used to match data rows using equality.

For example, a delete file may contain a single `2: id` column with 2 rows, `18` and `19`. This indicates the any row with ID 18 or 19 is deleted in all files to which the delete i

[2019-08-07 16:39] rdblue opened #361 "Spec: Add delete file partition and sequence number scope rules"

[2019-08-07 19:32] guilload commented on #170
Hey,

I started working on an MR InputFormat for Iceberg since there’s some overlap with the InputFormat I’m working on for Hive. I have a few questions:

– Thoughts on using `GenericRecord` as data container for both the Input and Output formats?

– `IcebergPigInputFormat` declares a public constructor `IcebergPigInputFormat(Table table)` but I don’t think that’s an option for MR since the `JobSu

[2019-08-07 20:34] rdblue commented on #170
I don't think a generic InputFormat should rely on Pig, so using Java serialization where necessary is a better choice.

Also, there are some situations where you'd want to use other options:
* Classes that have JSON parsers, like Schema and PartitionSpec should serialize to/from JSON because that produces a human-readable string
* Classes with a serialization requirement from MR should use that.

[2019-08-07 20:50] rdsr commented on #170
All good points.

For this I think it should be possible to parameterize [using generics] the container and provide a default implementation for Iceberg's `Record` type.   Users may want to directly read Avro data or their in their own container, they shouldn't have to re-convert from Iceberg's `Record` to, say, `Avro.

[2019-08-07 21:26] rdblue opened #363 "Python: Add Quickstart doc to iceberg.apache.org"

[2019-08-08 02:50] guilload commented on #170
Ok, thanks for the pointers. That's helpful. I'll start with `HiveCatalogs` and we can revisit later.

One last question regarding generic container. Let's assume a user wants to user a custom container: `FooRecord`. For each file format, the user will have to provide a "value reader function", for instance a `Schema -> OrcValueReader<FooRecord>` and a `MessageType -> ParquetValueReader<FooRecord>

[2019-08-08 10:51] waterlx commented on #279
Hi @rdblue, I am new to iceberg, really appreciate your guidance in advance!
Regarding "The output type of transforming a timestamp to a date Transforms.day(Types.TimestampType.withZone() is an integer, but should be a date", when you say "date", do you refer to "java.util.Date"?
Do you expect Transforms.day(Types.TimestampType.withZone()) returns Transform<T, Date> instead of Transform<T, Integer

[2019-08-08 11:50] waterlx commented on #279
Hi @rdblue please correct me if I am wrong:
I am not sure if Transforms.day() is the function to transfer timestamps to date, it is to produce Dates.DAY or Timestamp.DAY (either is Transform) from Types.DateType or Types.TimestampType. By this issue, are you proposing a new method in Transforms which returns Transform<T, java.util.Date> from Types.DateType or Types.TimestampType?

[2019-08-08 15:39] electrum commented on #279
Use `java.time.LocalDate`. The older `java.util.Date` actually represents an instant.

[2019-08-08 17:48] rdblue commented on #279
@waterlx, the day transform reports that its return type is `IntegerType.get()`, but it should be `DateType.get()`. Both are stored as integers but the transform actually produces the internal value that represents a date: the number of days from the unix epoch.

Changing the return type to date should be safe and would cause engines that support the metadata tables to format the values correctly

[2019-08-08 18:19] rdsr opened #366 "Concurrent appends to the same table using HiveCatalog lead to deadlock in the Metastore"
I've noticed that, appending files to the same table from multiple threads takes a very large amount of time. The problem is more evident if the number of threads are more. From the logs it seems there's deadlock in the Metastore.

Below is the log I'm pasting from the test case.

The testcase is published here: https://github.com/apache/incubator-iceberg/compare/master...rdsr:hivecatalog_deadlock

[2019-08-08 19:39] rdblue commented on #170
@guilload, good points about the reader functions. This is an area where we haven't invested more time because we are currently only supporting a small set of in-memory representations. What I would like is to eventually make a way to plug in representations for struct, map, and list and have a generic way to support those across data formats.

Consider struct, for example. Iceberg uses an interfa

[2019-08-09 09:23] jerryshao opened #370 "Iceberg failed to work with embedded metastore, which is by default in Spark"
Current iceberg cannot work against Spark local mode with embedded metastore, it will throw an exceptions shows as below. The issue seems like missing HIVE_LOCKS table in derby. We should figure out a way to either inject HIVE_LOCKS when starting Spark, or disable lock when using embedded metastore.

at org.apache.derby.impl.jdbc.SQLExceptionFactory.getSQLException(Unknown Source)
at org.apache.de

[2019-08-12 18:11] #58 closed

[2019-08-12 19:27] manishmalhotrawork commented on #279
@rdblue if Im not missing, in this case
`org.apache.iceberg.transforms.Timestamps` will implement `Transform<Long, Date>` and `org.apache.iceberg.transforms.Dates` will implement `Transform<Integer, Date>`.
and internally these classes will use Date object for various transformation like `apply` , `toHumanString`.

@waterlx are you working on this issue ?

[2019-08-12 19:32] rdblue commented on #279
@manishmalhotrawork, only the `day` transform should return a date. Years, months, and hours should continue returning ordinals like before.

[2019-08-12 19:43] rdblue commented on #366
I'm not sure this is a deadlock. It might be that the concurrent appends keep failing and retrying and one is always holding the lock attempting to commit.

[2019-08-14 03:15] waterlx commented on #279
@rdblue

so you mean that we are supposed to keep `org.apache.iceberg.transforms.Timestamps` as it is (as `Transform<Long, Integer>`) and keep `org.apache.iceberg.transforms.Dates` as it is (as `Transform<Integer, Integer>`, but only change the output of Transforms.day() to `Transform<T, Date>`? Do I get it right?

@manishmalhotrawork yes, I am working on this issue. But please feel free to go ahe

[2019-08-14 16:38] rdblue commented on #279
Sorry for the confusion. I'm talking about the Iceberg date type, `Types.DateType.get()`. The transform implementation is still going to return a Java `Integer` because that's how dates are represented in Iceberg metadata: the number of days from the Unix epoch.

This change would primarily just update `getResultType` and return `DateType.get()` when the granularity is `ChronoUnit.DAYS`. That will

[2019-08-15 11:48] jerryshao commented on #370
Working on it, will submit a PR.

[2019-08-16 03:14] waterlx opened #394 "Re-deploy web page to fix #333"
On the page of https://iceberg.incubator.apache.org/spark/,  in "Spark 2.4 is limited to reading and writing existing Iceberg tables. Use the Iceberg API to create Iceberg tables", URL of "Iceberg API" is pointing to "https://iceberg.incubator.apache.org/spark/api", which does not exist

[2019-08-16 06:40] waterlx commented on #394
@rdblue I am not sure if the website is not deployed after [issue 333](https://github.com/apache/incubator-iceberg/pull/333) is merged. Would you please have a check at your convenience?

[2019-08-16 07:35] jerryshao commented on #370
After spending a bit time on this issue, seems this problem is more complicated than I thought, it is not just "HIVE_LOCKS" table doesn't exist. A more severe problem is that embedded metastore only allows one Hive client, if Spark HiveExternalCatalog created hive client, then Iceberg cannot create another, vice versa.

A simple fix would be to reject using Iceberg datasource when Spark is configu

[2019-08-16 13:28] aokolnychyi commented on #132
Closing this one as it was resolved by #365

[2019-08-16 13:28] #132 closed

[2019-08-16 14:56] aokolnychyi commented on #366
HMS has an internal mechanism for recovering in such cases, which might be slow in highly concurrent environments. One point that concerns me a bit is that we constantly send check lock requests without any time between requests, which puts quite some pressure on HMS (see `HiveTablesOperations$acquireLock`).

The following succeeds in 2-20 seconds after adding a sleep between check lock requests (

[2019-08-16 14:57] aokolnychyi commented on #366
Below is the part in `HiveTableOperations` I was talking about:
[code]

[2019-08-16 15:43] manishmalhotrawork commented on #279
@rdblue

this is bit more clear now. thanks  !

so this will change ( if granularity is Days)
1. ` Dates.getResultType `

[code]

and what about `Timestamps.getResultType` , does it also needs to return `Types.DateType.get()` , as that can also be needed to print datetime in metadata table. ?

[2019-08-16 18:12] rdblue commented on #279
Yes, I think both should return `DateType`

[2019-08-17 02:58] waterlx commented on #279
Thanks for the clarification, Ryan! I am drafting the patch.

[2019-08-18 18:55] manishmalhotrawork commented on #279
@rdblue thanks for the answer.
Just saw messages, before that I also drafted the patch, waiting for internal approval.
@waterlx I can push, and then you can also review? Or otherwise please let me know.

[2019-08-19 23:57] manishmalhotrawork commented on #279
@rdblue quick questions.

1. while validating my changes,  didn't see that transfor.getResultType is being used apart from `PartitionSpec.partitionType()`.
can you point me to any other test-case or code path, where its being used can be verified.

( though Im adding test-cases to validate `Days.getResultType()` and `Timestamps.getResultType()`)

2. If we are returning DateType.get for Days why no

[2019-08-20 00:08] rdblue commented on #279
There might not be one. Thanks for adding tests!

The values for those aren't stored as dates. For example, 1990 is stored as 20.

Existing tests should cover it. The change should automatically update the Spark representation as well. Just fix any test failures, if there are any.

[2019-08-20 00:13] manishmalhotrawork commented on #193
@aokolnychyi this is interesting. is this still valid ?

[2019-08-20 00:35] #269 closed

[2019-08-20 18:03] aokolnychyi opened #397 "Push down StringStartsWith in Spark IcebergSource"
Apart from changes in `SparkFilters`, we will need to extend `InclusiveMetricsEvaluator`, `ParquetDictionaryRowGroupFilter`, `ParquetMetricsRowGroupFilter` with the logic that checks lower/upper bounds in `startsWith`.

One way to implement this is to take the same number of bytes from prefix and bounds (e.g. slice) and then rely on `UnsignedByteBufComparator` for unsigned lexicographical comparis

[2019-08-21 23:12] aokolnychyi commented on #366
@rdblue @rdsr what do you guys think about adding a timeout between check lock requests?

[2019-08-21 23:23] rdblue commented on #366
Yeah, definitely. Good catch.

[2019-08-21 23:23] rdblue commented on #366
Sounds like a blocker to me.

[2019-08-21 23:25] aokolnychyi commented on #366
I'll follow up with a PR then

[2019-08-22 08:17] aokolnychyi opened #399 "Add timeout for acquiring locks in HiveTableOperations"
We need to add a timeout in `HiveTableOperations$acquireLock`.

[2019-08-22 18:21] kings129 opened #400 "Build failure with NPE in non standard git checkout"
Build script use gitVersion(), it will throw NullPointerException when no .git directory exists.
This is an issue when I try to build iceberg in our CI system which uses git worktree checkout.

My fix was adding a wrapper on gitVersion() to catch NPE and use a default version. Does this worth contributing back?

[2019-08-22 18:35] rdblue commented on #370
I think the simple solution makes sense -- if we can provide an error message that states what's happening that would be really helpful.

[2019-08-22 18:35] rdblue commented on #370
Maybe we should also give an example of starting up a docker container with a hive metastore service?

[2019-08-23 03:10] jerryshao commented on #370
Yes, that seems useful.

[2019-08-23 03:35] waterlx opened #403 "Error message too heavy when table type is not iceberg"
when trying to load a table whose type is not iceberg, the error message is too heavy with all meta info printed. Only db name and table name is needed here. The current error message is like:
[code]

[2019-08-23 03:49] waterlx opened #404 "Provide a way to show metadata for a Hadoop table"
https://iceberg.incubator.apache.org/spark/#inspecting-tables shows the way to inspect metadata for an iceberg table in HiveMetaStore. But when it comes to an iceberg table which is identified by a HDFS patch, I did not see a way (or guide) to access its metadata, like history, snapshot, manifest or files.

[2019-08-23 05:05] waterlx commented on #403
@rdblue could you review this small change --> https://github.com/apache/incubator-iceberg/pull/405? Thanks!

[2019-08-23 18:28] #403 closed

[2019-08-23 19:19] aokolnychyi opened #408 "Use null counts in metrics evaluators"
`InclusiveMetricsEvaluator` and `StrictMetricsEvaluator` should take into account null counts while evaluating such predicates as `gt`, `lt`, etc.

[2019-08-24 01:11] waterlx commented on #394
Hi @rdblue could you please have a check if the web page needs to be re-deployed to fix #333?

[2019-08-24 05:08] manishmalhotrawork commented on #280
@rdblue thanks for the explanation !

Please If I understood it correctly:

We are talking about this [constant](https://github.com/apache/incubator-iceberg/blob/master/api/src/main/java/org/apache/iceberg/PartitionSpec.java#L51)
which is used [here](https://github.com/apache/incubator-iceberg/blob/master/api/src/main/java/org/apache/iceberg/PartitionSpec.java#L113)?

So, we can keep `PARTITION_DA

[2019-08-24 17:24] aokolnychyi commented on #408
I'll submit a PR

[2019-08-24 19:01] rdblue commented on #394
I just redeployed. Looks like it works to me.

[2019-08-24 19:01] #394 closed

[2019-08-24 19:56] aokolnychyi opened #409 "Optimize StreamingDelete"
We should use optimized deletes in `StreamingDelete` from #387.

[2019-08-24 20:45] #366 closed

[2019-08-24 20:59] rdblue commented on #280
@manishmalhotrawork, we need to keep track of IDs that have been assigned to partition fields in a table and reuse them when partition specs change. They should probably continue to start at 1,000.

@timmylicheng, Schema field IDs are the integers passed in when creating struct fields, maps, and lists. See http://iceberg.apache.org/api/#nested-types

[2019-08-24 21:03] aokolnychyi opened #410 "Refactor AssertHelpers and TestHelpers"
We should refactor `TestHelpers` in iceberg-api and `AssertHelpers` in iceberg-core as they share a lot of code.

[2019-08-25 12:08] aokolnychyi opened #413 "Support case-sensitivity in all operations with metrics evaluators"
We respect case-sensitivity in a couple of places such as `FilteredManifest`. However, `MergingSnapshotProducer` and `OverwriteData` use `StrictMetricsEvaluator` with `caseSensitive` always set to true. We need to properly support case-sensitivity in all operations with metrics evaluators.

[2019-08-26 03:59] waterlx commented on #394
The web page is updated, thanks!

[2019-08-26 06:26] manishmalhotrawork commented on #280
@rdblue thanks for the answer.
Curios on the flow and as how fieldId are maintained in PartitionSpec vs Table Schema.

Here [PartitionSpec is initialized](https://github.com/apache/incubator-iceberg/blob/master/api/src/main/java/org/apache/iceberg/PartitionSpec.java#L63)
And fields are copied to partition spec, which also included original IDs assigned to fields.

and in [partitionType method](htt

[2019-08-26 12:52] chenjunjiedada opened #415 "supports unpartitioned table in partitionDF"
partitionDF throws exception when executing on unpartitioned table, please see following exception:
[code]

[2019-08-26 22:47] shardulm94 opened #417 "Adding support for time-based partitioning on long column type"
We have datasets which store milliseconds since epoch as a long column type. This column is currently being used for time-based partitioning. However Iceberg only supports time-based partitioning on timestamp and date column types with microsecond precision. Also, the transforms are all internal to Iceberg and not something that can be provided externally. How can we go about adding support for su

[2019-08-27 06:25] chenjunjiedada commented on #415
Close this first, will add some doc to `partitionDF` to address it.

[2019-08-27 06:25] #415 closed

[2019-08-28 08:10] aokolnychyi opened #422 "Consider building a HadoopCatalog"
I think we should consider building a `Catalog` implementation that relies on renames for committing metadata. That way, users will be able to avoid using HMS if they don't have one yet.

One of the challenges is `renameTable` as Iceberg uses absolute paths in the metadata.

[2019-08-28 08:13] aokolnychyi opened #423 "Optimize ParquetMetricsRowGroupFilter by using ByteBuffer"
See [this link](https://github.com/apache/incubator-iceberg/pull/398#discussion_r318196009) for details.

[2019-08-29 04:20] shardulm94 commented on #417
@rdblue Any thoughts here? I think the issue is that for long types, we cannot assume the granularity of the source data. This makes it harder to fit the long-based time partitioning into the current model where the source data granularity does not really matter.

[2019-08-29 22:24] rdblue commented on #417
@shardulm94, do you intend to use this for tables with existing data?

If you do intend to use this with existing tables, then I'm not sure that you want to use the time-based hidden partitioning transforms. The problem is that changing the partitioning for existing tables that use identity partitioning is that your queries may start fail because you're no longer producing the old partition column

[2019-08-30 00:38] aokolnychyi opened #428 "Handle dates in Conversions$fromPartitionString"
See [here](https://github.com/apache/incubator-iceberg/pull/374/files#r318675192) for details.

[2019-08-30 02:49] waterlx commented on #404
@xabriel yes, I would like to work on this but not start it yet.
But I am not sure if this issue makes sense and its priority. Would you please share your insights about those?

[2019-08-30 02:52] manishmalhotrawork commented on #279
@rdblue , wondering if this issue is resolved by the #424 ?

[2019-08-30 06:04] waterlx opened #429 "Remove the private field of "name" from Dates and Timestamps"
The proposal is not about any logic change, but about code implementation.
In org.apache.iceberg.transforms.Dates and Timestamps, A private field called "name" is included as a String.
It seems that it is only used in `toString()` and could be substituted by `ChronoUnit.toString()` (although there are slight differences, like "year" (current name) vs. "Years" (`ChronoUnit.YEARS.toString()`)

This

[2019-08-30 06:20] waterlx commented on #429
Make any sense to you ? @rdblue

[2019-08-30 08:28] jerryshao opened #430 "Support bucket table for Iceberg"
Current Iceberg doesn't support "bucket" semantics both in read and write, so we cannot leverage this to do bucketed join. We should add such support in Iceberg.

[2019-08-30 14:01] sujithjay commented on #423
Hi @aokolnychyi , are you already working on this story? If not, I would like to give this a try.

[2019-08-30 14:04] aokolnychyi commented on #423
Hi, @sujithjay. Sure, go ahead!

[2019-08-30 15:57] xabriel commented on #404
This issue makes sense to me @waterlx . We should be able to study the metadata from an Iceberg table without having a dependency on Hive. I think its important for feature parity.

We should agree on the interface. For Hive tables, @rdblue chose to extend the namespace:
[code]

where `db.table` is the Hive object, and `.history` is the namespace extension to access the "history" metadata.

Proble

[2019-08-30 16:29] rdblue commented on #404
I think @xabriel did a good job summarizing the problem. We can support this for path-based tables, but we need to come up with a way to identify that we want to read a metadata table in the URI. What about adding anchors, like `adl://bucket/path/to/table#history`?

[2019-08-30 16:37] xabriel commented on #404
Anchors sound good to me.

[2019-08-30 16:53] manishmalhotrawork commented on #280
@rdblue thanks.

### Update:
I did changes in local where `PartitionSpec` has builder.property for `initPartitionFieldId` which will be 1000 for new partitionSpec. And partitionSpec will also maintain the `lastPartitionFieldId`.
When new PartitionSpec is added the first field's `partitionFieldId` will be last added `partitionSpec.lastPartitionFieldId` + 1. Irrespective of the field name.

wonderin

[2019-08-30 17:09] rdblue commented on #429
I understand what you intend here, but I don't think there is much value to making this change. The memory required is negligible and I think it is more explicit to use a name field instead of relying on behavior of some third-party class that is not guaranteed. Iceberg shouldn't depend on ChronoUnit's toString to write its metadata correctly.

[2019-08-30 18:34] rdblue commented on #280
@manishmalhotrawork, one strange thing about your test is that `data_bucket` has a different ID. It should continue to use id 1000 because it hasn't changed. Either the assignment logic or the evolution logic (like how `SchemaUpdate` works) should detect that the column has not changed and not assign a different ID.

Without seeing more of what's happening, I'm not really able to tell why you're g

[2019-08-30 21:01] manishmalhotrawork commented on #280
@rdblue yeah going to do.

[2019-08-30 21:18] rdblue commented on #279
Yep. Thank you!

[2019-08-30 21:18] #279 closed

[2019-08-31 02:32] waterlx commented on #429
I agree @rdblue and will close this issue, thanks for sharing your idea patiently.

[2019-08-31 02:32] #429 closed

[2019-08-31 18:16] aokolnychyi commented on #430
This would be a great feature to have. I think Spark might have to be adapted as well.

[2019-09-01 16:43] waterlx commented on #404
Cool @xabriel ! I am trying to draft the patch

[2019-09-02 06:34] waterlx opened #436 "Add guide about how to set hive.metastore.warehouse.dir"
The page of [API quick start](http://iceberg.apache.org/api-quickstart/) shows the example to use Spark's Hadoop configuration to get a Hive catalog. If `hive.metastore.warehouse.dir` is not set properly, the example code will fail with exception. See `HiveCatalog#defaultWarehouseLocation()`.
We might need to add more guide about how to set `hive.metastore.warehouse.dir`, which makes it more frien

[2019-09-02 19:51] vvysotskyi opened #439 "Optimize ExpressionVisitors.visit method to traverse minimum nodes number required for determining the result"
`ExpressionVisitors.visit` method may be optimized for `AND` and `OR` operations to return `visitor.alwaysFalse()` or `visitor.alwaysTrue()` for the case when the result of the first operand determines full expression result.

[2019-09-03 02:27] chenjunjiedada commented on #193
I 'm also interested in this. Currently, the page indexes feature has not released yet. See [PARQUET-1434](https://issues.apache.org/jira/browse/PARQUET-1434).

[2019-09-03 05:28] waterlx commented on #436
PR #437 is closed by mistake. Re-open a new PR as #440 to address Ryan's comment in PR #436.

[2019-09-03 06:18] chenjunjiedada commented on #422
This is interesting, I'd like to spend some effort on this if you haven't started it yet.

Regarding the `renameTable` challenge, The `renameTable`  requires to rename the location of the table, for example, `hdfs://tableA -> hdfs://tableB`, which means to rename the directory and update the JSON file in both file version and location value of its content as well.  The challenge is to do them atom

[2019-09-03 09:31] aokolnychyi commented on #422
@chenjunjiedada it would be great if you could work on this!

One of the ideas was to use smth like this: `hdfs://nn:8020/iceberg/warehouse/(DB).db/(TABLE)`.

I think the challenge with `renameTable` is that Iceberg keeps absolute paths in the metadata. So, we might need to keep data files somewhere else (controlled by `write.folder-storage.path`). Also, we need to avoid rewriting manifests while

[2019-09-03 16:10] waterlx commented on #279
Hi @rdblue , I am not sure if the table of "partition transforms" on the [doc](https://iceberg.apache.org/spec/#partition-transforms) needs to update to reflect this change. The row of "day" of the table. Would you please advice? Thanks!

[2019-09-03 16:18] rdblue commented on #353
I think this is done. I'm going to close it.

[2019-09-03 16:18] #353 closed

[2019-09-03 16:20] rdblue commented on #279
@waterlx, I think you're right. We should update that line. Do you want to open a PR?

[2019-09-03 16:22] rdblue commented on #422
I think adding a HadoopCatalog sounds good, but we should plan on continuing to support tables identified by full paths.

For rename, I would probably just throw an exception and disallow rename.

[2019-09-04 05:31] shardulm94 commented on #417
@rdblue Let's consider new tables first
Most of the source data that we ingest has an event time which is millisSinceUTCEpoch of long type. It is not feasible to change it at the source. One option here I can think of is to transform the source event time column to a datatype that Iceberg supports partitioning on in a layer above Iceberg and then provide it to Iceberg via a new column. I would lik

[2019-09-04 05:48] shardulm94 opened #446 "KryoException when writing Iceberg tables in Spark"
Say we have a table `test (col1: string)`.
[code]
[code]

Hitting this when writing Parquet data in Spark 2.4 using the latest master. I believe this is because in 549da809490976b53a13b14596dd240ed74bce5e an immutable copy of the split offsets are stored in GenericDataFile. The serialization is successful, but when deserializing, Kryo will try to instantiate an ImmutableList first and then add ele

[2019-09-04 07:27] waterlx commented on #279
Hi @rdblue , would you please review PR #447 at your most convenience?

[2019-09-04 07:55] waterlx opened #449 "PARTITION_DATA_ID_START is hard-coded"
The partition field ID is generated from 1000, in [PartitionSpec#partitionType()](https://github.com/waterlx/incubator-iceberg/blob/92b5b450bbf3c392785b45b97446f88ed2d5b6c5/api/src/main/java/org/apache/iceberg/PartitionSpec.java#L113). It is currently hard-coded as 1000. Although it is large number, it seems that we are not able to stop the user from adding more than 1000 data fields.
May we need

[2019-09-04 20:50] bsannicolas opened #451 "Encryption not working"
I don't know if I'm doing something wrong but I haven't been able to get encryption to work with Iceberg. I've created an implementation of the EncryptionManager that uses AES encryption with static keys and stores some dummy data in the EncryptionKeyMetadata. I specified my encryption manager in a subclass of TableOperations.

In my test table, the encrypt/decrypt methods are being called (the ou

[2019-09-05 07:35] #370 closed

[2019-09-05 09:04] jerryshao commented on #430
@rdblue @aokolnychyi I wrote a simple design doc about bucketing support in Iceberg, would you please help to review, appreciate your time.

[2019-09-05 16:36] rdsr commented on #417
Seems like for existing tables which rely on identity partitioning it may be best to not change it.  Both Spark and Pig seems to be reading identity partition value from the `DataFile` instead of from records, so it should work for both existing data written with Hive - which does not add the partition data in the file and new data/partitions written with Iceberg which does add partition data in t

[2019-09-05 23:07] rdblue commented on #451
@bsannicolas, I think what's happening is that scan planning doesn't project the encryption metadata column. You can see the columns it uses here: https://github.com/apache/incubator-iceberg/blob/master/core/src/main/java/org/apache/iceberg/DataTableScan.java#L41-L44

I think if you add encryption metadata to that list, you'd be able to read the files.

[2019-09-05 23:13] rdblue commented on #446
I would rather add the Kryo serializers for immutable collections. I think it makes sense for Iceberg to use ImmutableList because the data returned should not be mutable and that minimizes the cost of later copies.

[2019-09-05 23:15] rdblue commented on #430
@jerryshao, thanks for posting this! I'll take a look as soon as I can, but I'm going to be at a conference next week so it may not be quick.

[2019-09-05 23:18] rdblue commented on #417
Iceberg stores identity partition data in both data files and metadata files because the values are the same. Engines are free to use either one, but for backward compatibility with existing data, Spark and other readers will use the metadata values when reading.

[2019-09-05 23:19] rdblue commented on #409
What do you mean? The changes in #387 already apply to `StreamingDelete` because it extends `MergingSnapshotProducer`.

[2019-09-05 23:22] rdblue commented on #400
I think we will need to fix this so that our source releases can be built without a .git directory. Thanks for reporting this!

[2019-09-06 04:50] waterlx commented on #404
Hi @xabriel sorry that I do not have enough bandwidth to work this out within a week or two. Please feel free to pick this up if you have time.

[2019-09-06 05:07] waterlx opened #457 "DataFrame generated by Seq() might have schema conflict with Iceberg"
Suppose that we have a DataFrame like:
[code]
and when I trying to write it into Iceberg table with the following schema,
[code]
it is rejected by the following error message:
[code]

[2019-09-06 06:18] waterlx commented on #457
String in Spark has default nullable setting as "true", and Iceberg has the following code to decide required or optional with respect to nullable()
[code]
When in Iceberg, we add a " required" field as StringType, the error message is reported.
This issue could be resolved by explicitly specifying "nullable" for schema in Spark, like:
[code]

[2019-09-06 07:24] jerryshao commented on #430
Sure, no problem, take your time :).

[2019-09-06 10:50] aokolnychyi commented on #409
As I understand, `StreamingDelete` uses `delete(CharSequence)` instead of `delete(DataFile)`. So, `deleteFilePartitions` is not set.

[2019-09-06 10:52] aokolnychyi commented on #446
We ended up with `kryo.register(Class.forName("org.apache.iceberg.GenericDataFile"), new JavaSerializer());` to make Kryo work with Iceberg. `GenericDataFile` has custom serialization logic.

[2019-09-06 15:56] bsannicolas commented on #451
Yeah that seems to have fixed the problem. Thanks!

[2019-09-06 20:31] rdblue commented on #249
Fixed by #374

[2019-09-06 20:31] #249 closed

[2019-09-06 22:52] #439 closed

[2019-09-07 00:11] lxynov opened #459 "Consider replacing TableOperations parameter in TableMetadataParser::read"
When using `TableMetadataParser::read` to get a `TableMetadata` instance, we have to pass a `TableOperations` instance as an argument. I think it might make sense to refactor and replace the `TableOperations` parameter with `FileIO`.

The rationale behind not using `TableOperations` is:
1. It saves the need to construct a `TableOperations` instance when all you want to is to get a table's metadata

[2019-09-07 03:26] dushyanthbn opened #460 "df.write.format("iceberg").mode(SaveMode.Append).save is resulting in com.esotericsoftware.kryo.KryoException: java.lang.UnsupportedOperationException"
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Exception while getting task result: com.esotericsoftware.kryo.KryoException: java.lang.UnsupportedOperationException
Serialization trace:
splitOffsets (org.apache.iceberg.GenericDataFile)
files (org.apache.iceberg.spark.source.Writer$TaskCommit)
  at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAG

[2019-09-07 03:51] #460 closed

[2019-09-07 03:51] dushyanthbn commented on #460
resolved

[2019-09-09 07:39] aokolnychyi commented on #459
I like the idea but I am curious to know how we plan to replace `ops$current` and other calls.

[2019-09-09 11:39] XiaokunDing opened #463 "Write a dataFrame to a table while after add an 'optional longtype' column , then get some dirty data from the new column"
import org.apache.spark.sql.SparkSession
 import org.apache.iceberg.hive.HiveCatalog
 import org.apache.iceberg.Schema
 import org.apache.iceberg.types.Types._
 import org.apache.iceberg.PartitionSpec
 import org.apache.iceberg.catalog.TableIdentifier
 import org.apache.log4j.Logger
 import java.sql.Timestamp

val schema = new Schema(
         NestedField.optional(1, "id", LongType.get())
)

val s

[2019-09-09 11:40] shawnding commented on #463
i will fix this issue

[2019-09-09 11:40] XiaokunDing opened #464 "add optional stringType column after a new long type column ,when write data get an exception"
**step1:**  use the  api '_table.updateSchema.addColumn()_'  , add a new column

     import org.apache.spark.sql.SparkSession
     import org.apache.iceberg.hive.HiveCatalog
     import org.apache.iceberg.Schema
     import org.apache.iceberg.types.Types._
     import org.apache.iceberg.PartitionSpec
     import org.apache.iceberg.catalog.TableIdentifier
     import org.apache.log4j.Logger
     i

[2019-09-09 11:41] shawnding commented on #464
i will fix this issue

[2019-09-09 17:14] linxingyuan1102 commented on #459
@aokolnychyi Thanks for the comment. As per my inspection, `ops$current` is called when `Snapshot::addedFiles`/`Snapshot::deletedFiles` is called. Essentially, it is used to get a `specLookup` function, which is essentially a mapping from spec ID to partition spec. I think it should be okay to store such a mapping in `BaseSnapshot`, i.e., to replace the `TableOperations` field with `Map<Integer, P

[2019-09-09 19:44] aokolnychyi commented on #459
I wondered myself whether we can decouple `TableMetadataParser` from `TableOperations` at some point. It looked a substantial change to me and I didn't have time to investigate more. In my case, I had to provide `TableOperations` to read metadata from a file in order to register an existing table back. Personally, I would support this effort.

[2019-09-10 21:12] rdblue commented on #451
@bsannicolas, do you want to open a PR to fix this in master?

[2019-09-10 21:14] rdblue commented on #409
Okay, I see. Yeah, we should expose the DataFile method as well.

[2019-09-10 22:28] linxingyuan1102 commented on #459
I think the work can follow these steps:
1. Change the method signature of `ManifestReader::read` to let it accept a map from spec ID to partition spec.
2. Decouple `ManifestGroup` and `BaseSnapshot` from `TableOperations`. We'll need to include a `specsById` (a map from spec ID to partition spec) as their fields.
3. Decouple `TableMetadataParser` and `TableMetadata` from `TableOperations`.

So I'

[2019-09-11 21:51] bsannicolas commented on #451
@rdblue https://github.com/apache/incubator-iceberg/pull/469

[2019-09-11 23:23] Parth-Brahmbhatt opened #471 "Create table as select operations fails with current transaction implementation."
Currently if we try to create a table and append files to it in the same transaction with HiveCatalog it fails with NPE at `core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java`. This is due to a bug in the `BaseTransaction` class. Will post a PR with fix soon.

[2019-09-12 00:30] rdblue commented on #451
Fixed by #469. Thanks, @bsannicolas!

[2019-09-12 00:30] #451 closed

[2019-09-14 00:53] #423 closed

[2019-09-16 20:58] ashleycoxley opened #475 "TimestampWriter isn't being used"
When trying to write to a field with type `Types.TimestampType.withoutZone()`, I'm getting the exception
`java.time.LocalDateTime cannot be cast to java.time.OffsetDateTime`. This appears to be due to a case match miss in the `GenericParquetWriter` - for all primitives of type `TIMESTAMP_MICROS`, the `TimestamptzWriter` is returned. I believe it should only be returned when `shouldAdjustToUTC` is

[2019-09-17 03:06] melin opened #476 "support maven build"
Maven is more widely used, such as spark and hive, which use maven builds and want to support maven builds

[2019-09-17 05:53] rdsr commented on #446
@shardulm94 do u plan to submit a PR for this?

[2019-09-17 06:24] shardulm94 commented on #446
@aokolnychyi Did you have to modify Spark to add that line ([here](https://github.com/apache/spark/blob/master/core/src/main/scala/org/apache/spark/serializer/KryoSerializer.scala#L210)) or is there a way to get the Kryo instance used so that we can somehow fix this inside Iceberg?

[2019-09-17 08:01] aokolnychyi commented on #446
@shardulm94 @rdsr it is possible to set this via the public API:
[code]

[2019-09-17 08:01] aokolnychyi commented on #446
If the above logic works for you, it would be great to add this to our docs.

[2019-09-17 10:39] waterlx opened #479 "Conversions#fromPartitionString() does not support DateType"
1. DateType is not supported
Suppose that I have a partition spec using day transform, like:
[code]
Then I use DeleteFiles.builder to build a DeleteFile, like
[code]
The request is rejected by `Unsupported type for fromPartitionString: date`, because TypeID.DATE is not any "case" in the clause of "switch...case"
#279 changes day transform to return DateType instead of IntegerType

[2019-09-17 11:32] aokolnychyi commented on #479
@waterlx is it the same as [this issue](https://github.com/apache/incubator-iceberg/issues/428)?

[2019-09-17 12:29] aokolnychyi opened #480 "Don't group files with different partition specs in BaseRewriteManifests"
I think we should not combine files with potentially different partition specs into the same manifest in `BaseRewriteManifests` as we in do in `MergingSnapshotProducer`.

[2019-09-17 12:30] aokolnychyi commented on #480
@bryanck @rdblue what do you think?

[2019-09-17 13:30] bryanck commented on #480
The downside is that this could potentially result in many small manifests. For example, we have a bucketed table with 10k buckets, which is additionally partitioned by date and hour. So for a week of data we'd have 10k * 24 * 7 = 1.68 million manifests. What we do with RewriteManifests today is combine files into groups of four buckets and ignore date and hour, which results in 10k/4 = 2.5k manif

[2019-09-17 13:41] aokolnychyi opened #481 "Consider adding sort key in RewriteManifests"
In one of our use cases, we write to many partitions within every batch. As a result, each manifest covers a lot of partitions, which slows down the job planning.

We decided to use `RewriteManifests` to optimize the layout of the metadata. Our idea was to group files based on their partition values. However, there is a problem. Let's say we have a table with 3 partition columns. If I cluster meta

[2019-09-17 13:42] aokolnychyi commented on #481
@bryanck @rdblue what are your thoughts?

[2019-09-17 13:50] aokolnychyi commented on #480
@bryanck I mean a partitioning strategy in general by partition spec, which seems to be the same in your case. What will happen in case of [partition schema evolution](http://iceberg.incubator.apache.org/evolution/#partition-evolution)? Manifests are supposed to have files written with the same partition spec:

[2019-09-17 13:52] aokolnychyi commented on #480
I also raised a question similar to what you describe in #481.

[2019-09-17 14:24] bryanck commented on #480
Right, I was thinking partition, not partition spec. In that case, then I agree it makes sense.

[2019-09-17 14:33] bryanck commented on #481
Would clustering by a range work instead of sorting? E.g. cluster by the first partition column and ranges of the 2nd? You could make one pass through the files to determine the ranges if they aren't evenly distributed.

[2019-09-17 16:53] Voltir commented on #245
We ran into this issue as well, should the workaround land on master?

[2019-09-17 17:26] ashleycoxley opened #482 "TIME_MICROS not supported for reading (Parquet)"
In attempting to read some `TIME_MICROS` (Iceberg `TIME` type) data with `GenericParquetReaders`, I'm running into the following error message. I wonder if this is intended, or an oversight in handling read types:

[code]

[2019-09-18 00:26] ZhijieWang commented on #464
Wrote a basic test case for this on my local machine. Pulled the latest master branch. It failed immediately after the first time adding the column then tried to write. Not sure how yours get past the first column change.

[code]

[2019-09-18 06:40] waterlx commented on #479
@aokolnychyi , yes, they are the same. Thanks for checking that. I will close this issue as a duplication of #428

[2019-09-18 06:40] #479 closed

[2019-09-18 06:51] waterlx opened #483 "Conversions#fromPartitionString() could not convert String of timestamp-like format to Integer"
Suppose that I have a partition spec using "hour" transform, like:
[code]
Then I use DeleteFiles.builder to build a DeleteFile, like
[code]
The request is rejected by
[code]
Integer.valueOf() could not handle “2020-01-01-01". See https://github.com/apache/incubator-iceberg/blob/433f169e9d0b10688d395abde64c4b6461d35ca9/api/src/main/java/org/apache/iceberg/types/Conversions.java#L50
ParitionSpec.Bui

[2019-09-18 07:36] waterlx commented on #483
@aokolnychyi @rdblue does it make any sense to you?

[2019-09-18 16:58] rdblue commented on #483
@waterlx, `withPartitionPath` is only public to support importing existing Hive table files. Iceberg considers building a partition path string a one-way conversion. If you want to parse partition paths, you should use your own parsing logic and pass a `StructLike` to the builder.

[2019-09-19 02:54] jerryshao commented on #430
I'm roughly dividing this issue into 3 ongoing PRs:

1. Add Bucket Spec support in Iceberg API and metadata.
2. Support bucketing write in Iceberg Spark data source.
3. Support bucketing read in Iceberg Spark data source.

[2019-09-19 10:06] chenjunjiedada commented on #193
@aokolnychyi @rdblue IIUC, we don't need to do extra work to support this as long as the predicate pushdown works well. The read property `parquet.filter.columnindex.enabled` defaults set to true and column indexes are built by default as well.  Please correct me if I 'm wrong.

[2019-09-19 13:15] chenjunjiedada commented on #428
@aokolnychyi Do you have the plan to implement this? Or any further consideration?

BTW, do we want to support TimeStamp type as well?

[2019-09-19 13:17] chenjunjiedada commented on #483
@waterlx, Do you why we get an Integer type from the TimeStamp type partition? Also why you using a date value for timestamp type?

[2019-09-19 17:51] rdblue commented on #483
@chenjunjiedada, the format here is what Iceberg produces for an hour partition value. Iceberg internally stores the values as the number of hours from 1970-01-01 hour 0, but that's not user-friendly. So it gets converted to YYYY-MM-DD-HH in the partition path.

The problem is that Iceberg does not _parse_ these values because creating a file path is a one-way conversion. To delete these files, yo

[2019-09-19 19:55] rdblue commented on #193
We would need to implement something to take advantage of the column indexes in some engines. Any client using an Iceberg table uses its own readers for Parquet data. Spark readers are in the iceberg-spark module and use a different read path to construct records than the one built into Parquet, so we would need to add support for page indexes there.

In the long term, we want this optimization to

[2019-09-19 20:05] rdblue commented on #481
How does sorting help? I don't think there is anything that understands that a manifest may be sorted, so the cost of planning would be the same for sorted and unsorted.

I agree with Bryan that it probably makes the most sense to come up with partition ranges that give you the right size of manifest files for the table.

[2019-09-19 20:06] rdblue commented on #480
I agree with this. A manifest can only be written for one partition spec, so this is definitely a bug!

[2019-09-19 21:54] #404 closed

[2019-09-19 23:53] #409 closed

[2019-09-20 00:15] rdblue commented on #436
Closing this as well. Feel free to reopen if it turns out to be an issue.

[2019-09-20 00:15] #436 closed

[2019-09-20 00:28] #410 closed

[2019-09-20 00:47] rdblue commented on #430
Thanks @jerryshao! I had a look at the doc and made some comments.

The main thing is that Iceberg already supports bucketing and has solved many of the challenges you identified, like schema evolution. There are two remaining problems:
1. Writing requires users to [cluster data into buckets using a UDF](https://github.com/apache/incubator-iceberg/issues/274).
2. Bucketed joins can't take advantag

[2019-09-20 00:54] rdblue commented on #482
Looks like something that should be supported. Would you like to open a PR to fix it?

I think this just needs to be added here: https://github.com/apache/incubator-iceberg/blob/master/data/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java#L216-L231

[2019-09-20 00:55] rdblue commented on #476
We do plan to publish maven-compatible artifacts. We just haven't done the first Apache release yet.

[2019-09-20 03:11] chenjunjiedada commented on #483
@rdblue, Thanks for the elaboration.

So if we want to use an `hour` partition filed of `YYYY-MM-DD-HH` format in PartitionSpec.  Either we need to transform the string to a timestamp value at first, for example, `event_time_hour=1568892724618` to `withPartitionPath`.  Or we can add a function which produces a `PartitionData`  from the string. Am I correct?

[2019-09-20 16:42] rdblue commented on #483
@chenjunjiedada, you should not parse strings into partition data. Parsing partition strings is an anti-pattern because there are many cases that will cause you to get corrupted data, like not handling escaping correctly.

Instead of parsing partition strings, you can delete by path or you can get a `DataFile` instance from the table using `FindFiles`.

[2019-09-20 20:04] aokolnychyi commented on #481
Let’s consider a specific example: we have a table partitioned by col1 and further bucketed into 20 buckets by col2. On one hand, clustering by both columns is too granular and yields small manifests. Alternatively, clustering only by col1 would mean producing let’s say 5 manifests of the needed size for each top level partition. The problem is that each of those 5 manifests can contain files for

[2019-09-20 20:35] sujithjay commented on #457
You should define your iceberg schema as:
[code]

[2019-09-20 22:18] rdblue commented on #400
Merged the fix. Thanks @kings129!

[2019-09-20 22:18] #400 closed

[2019-09-20 22:29] ashleycoxley commented on #482
Done! Thanks :)

[2019-09-21 05:37] chenjunjiedada commented on #483
Understood now. Thanks again.

[2019-09-21 21:27] #483 closed

[2019-09-21 21:27] rdblue commented on #483
Great, I'm going to close this then. Thanks!

[2019-09-23 14:38] aokolnychyi opened #490 "Respect commit.manifest.min-count-to-merge while appending manifests"
I think we should respect `commit.manifest.min-count-to-merge` while appending new manifests via `appendManifests`. Right now, `cachedNewManifest` in `MergingSnapshotProducer` remains null if we append manifests directly that triggers merging of manifests.

[2019-09-23 17:40] #482 closed

[2019-09-23 18:09] rdblue commented on #481
Okay, I understand the motivation for sorting now. I think sorting is still a difficult way to solve this problem because you'd need to keep so many files in memory. Tables that need metadata rewrites usually have lots of data files.

The approach we took is to look at the metadata tables to get the number of entries and the current size of all manifests, and then use that to estimate how many buc

[2019-09-24 03:09] jerryshao commented on #430
Thanks a lot @rdblue and sorry for late response. I see from your point that you want to reuse bucket transform, and the key thing is that current Spark doesn't aware of child distribution regarding to #274 , let me revamp the whole design. Thanks again for your comments.

[2019-09-24 04:07] jerryshao commented on #430
Also for #274, IIUC most of the partition transformations requires data sorted by this transformation functions, otherwise data cannot be grouped together, and will throw exceptions in partitioned writer, am I right? @rdblue

[2019-09-24 07:08] waterlx opened #492 "Should issue an error/warning message when no data file to delete"
I used the following API, trying to delete a data file
[code]
And got the following message: INFO SnapshotProducer: `Committed snapshot xxxxx (StreamingDelete)`
I thought the deletion succeeded, but actually it did not, because the data file is "file:/path1", not "file:///path1".
While [file URI scheme](https://en.wikipedia.org/wiki/File_URI_scheme) is another topic, but it would be better to issu

[2019-09-24 07:17] waterlx commented on #492
I used the following API, trying to delete a data file
[code]
And got the following message: INFO SnapshotProducer: `Committed snapshot xxxxx (StreamingDelete)`
I thought the deletion succeeded, but actually it did not, because the data file is "file:/path1", not "file:///path1".
While [file URI scheme](https://en.wikipedia.org/wiki/File_URI_scheme) is another topic, but it would be better to issu

[2019-09-24 09:06] waterlx opened #493 "Concurrently delete a data file"
I have a multi-threading (2 threads) Spark App to concurrently delete a data file, using
[code]
1. I am expecting a commit failure was reported but it seems no related messages issued. Should I?
2. Looking into the metadata folder, I see 2 manifests, 2 manifest list, and 2 metadata json files (with the same prefix number) generated. Expected behavior?
3. Comparing the 2 metadata json file, I found

[2019-09-24 09:50] waterlx commented on #457
@sujithjay , thanks for taking care of this!
I see your point by changing the Iceberg schema, but what if I do not want to make that field as "optional", and keep it as "required"?

[2019-09-24 16:53] rdblue commented on #493
This doesn't fail because deletes are idempotent. You tell Iceberg to delete with a filter or to delete a specific file, and that data will not be in the table after the delete commits.

That's also why you see multiple delete operations. You ran 2 successful deletes on the table.

The two metadata files you posted are two attempts to delete at the same time. That's why they use the same parent sn

[2019-09-24 17:03] rdblue commented on #492
We could add an option to StreamingDelete to validate that some data is deleted, if you wanted a failure instead of an idempotent delete. Other operations configure validations that are exposed by the base class, MergingSnapshotProducer. We could add a validation method here as well.

[2019-09-24 17:06] rdblue commented on #430
@jerryshao, yes that's correct.

That's why we need to expose the transformation functions to Spark via FunctionCatalog, and add the ability for DSv2 sources to set distribution and ordering requirements with those functions.

[2019-09-24 20:04] holdenk opened #494 "TestScanSummary appears to be flaky"
I was building Apache Icerberg for the first time and I ran into a test failure with `TestScanSummary`. Re-running the test with debugging information on, or by its self it started passing. Looking at the fix of waiting for the system clock to change by at least 1 tick I think there maybe needs to be more separation for the test not to be flaky.

More generally I'm getting really confusing informa

[2019-09-25 05:01] aokolnychyi commented on #430
@dbtsai, FYI

[2019-09-25 06:42] waterlx commented on #493
@rdblue Thanks very much for the detailed explanation!
Some follow-up questions:
1. Regarding

After those 2 delete operations, I found one metadata json pasted above is "metadata_location" in metastore while the other metadata json is "previous_metadata_location". Does that indicate that each of them was committed successfully as "current" metadata location in metastore sometime?

2. Regarding

A

[2019-09-25 07:35] aokolnychyi commented on #430
I am preparing a few optimizations for metadata compaction and will work on sort spec next.

[2019-09-25 12:08] chenjunjiedada commented on #428
@aokolnychyi, would you please take a look on this?

[2019-09-25 12:20] chenjunjiedada commented on #360
Hi @rdblue @aokolnychyi,

May I know whether we are working on implementing updates/deletes/upserts feature? Is [this](https://docs.google.com/document/d/1Pk34C3diOfVCRc-sfxfhXZfzvxwum1Odo-6Jj9mwK38/edit#heading=h.e4k1puljgg7w) the design doc we are following?

[2019-09-25 16:43] rdblue commented on #360
@chenjunjiedada, that's an early doc that outlines options, but I wouldn't say it captures the current design. The best design doc we have right now is the one @erikwright wrote: https://docs.google.com/document/d/1FMKh_SQ6xSUUmoCA8LerTkzIxDUN5JbStQp5Hzot4eo/edit#

[2019-09-25 16:47] rdblue commented on #494
Which test cases were flaky? We added a fix for this a little while ago: https://github.com/apache/incubator-iceberg/commit/029313ec60b48b00c28db1820a8a63a6e9b1964d#diff-e631e40a3e4d7247bae10d3de37d0df1

[2019-09-25 16:51] rdblue commented on #493
Yes. The metadata_location always replaces previous_metadata_location.

Yes, retries are logged.

Commits always form a linear history. A commit may not have needed to retry, which could be why you don't see the warning. Concurrent operations are hard to predict, which is why we test concurrent changes by running lots of them in a loop. You can't guarantee a conflict.

[2019-09-25 16:53] rdblue commented on #481
@aokolnychyi, I don't think sorting is the right solution. Would you mind if we closed this issue?

[2019-09-25 16:53] rdblue commented on #490
Sounds good to me.

[2019-09-25 16:53] #476 closed

[2019-09-25 16:59] rdblue commented on #475
You're right. The reason why this is a problem is that Parquet 1.10.1 doesn't have the `shouldAdjustToUTC` flag, and `GenericParquetWriter` uses only the Parquet schema to construct the writer. So there's no way to know whether the timestamp is with time zone or without time zone.

I think we could fix this by also passing in the Iceberg schema, which has the correct type. I think this would be fa

[2019-09-25 17:03] aokolnychyi commented on #481
Yeah, I went for option 1 as described in my previous reply. Let's close this one and I will create a few others based on what we discussed.

[2019-09-25 17:03] #481 closed

[2019-09-25 17:11] rdblue commented on #464
@shawnding, I think your reproduction case is missing how you are filling in data for the new columns in Spark. All of the Records you store only have one field, `i`. (I think this is why @ZhijieWang could not reproduce the problem.)

The problem here is that the value Iceberg is attempting to store is invalid. The `UTF8String` has a field, `numBytes`, that is negative and causing the exception. F

[2019-09-25 17:12] rdblue commented on #463
I'm not sure where this data is coming from because your dataframe has only one column, `id`.

[2019-09-25 18:38] holdenk commented on #494
I know (that’s why I included the git hash I was on when I noticed this) but it still seems like it flakes. The only reason I could guess that it might flake is multi-threaded time reporting not moving consistently forward. There totally could be something else (maybe I had an NTP event during the test and time moved backwards?) but I’m not really sure.

I can run the test in a loop with a shell s

[2019-09-25 18:39] holdenk commented on #494
Oh oops I didn’t include the git hash, I thought I did let me add that.

[2019-09-25 18:47] holdenk commented on #494
I was at f7bc07d58957d088c766cba845a630594c99f0c8 which already includes 029313ec60b48b00c28db1820a8a63a6e9b1964d

This came from my first setting up & testing of iceberg which I streamed ( https://www.youtube.com/watch?v=axzknSKHzWY&feature=youtu.be )

[2019-09-25 18:51] aokolnychyi commented on #494
I also saw a failure in our CI pipelines after the fix above.

[2019-09-25 20:21] prodeezy opened #495 "Add back ability to set custom name on transformed field"
https://github.com/apache/incubator-iceberg/pull/411/files Took out public access to `Builder add(int sourceId, String name, String transform) `. Currently there's no other way to add a custom name on a transformed field. Sample usecase is doing  `day(timestamp)` needs to be set to something custom like `c_date`.

[2019-09-26 07:05] prodeezy commented on #495
cc @rominparekh  @rdblue @xabriel  please review : https://github.com/apache/incubator-iceberg/pull/498

[2019-09-26 16:45] aokolnychyi commented on #446
@shardulm94 did the suggested approach work for you?

[2019-09-27 02:11] rdsr opened #500 "Support External name mapping in Iceberg generic single message encoder"
#207 adds external schema mapping support in Avro file reader. this issue tracks adding support for name mapping for Iceberg generic single-message encoder

[2019-09-27 07:12] waterlx commented on #493
Thanks very much! I am closing this issue.

[2019-09-27 07:12] #493 closed

[2019-09-27 08:15] waterlx commented on #492
May I add a warning to the log but not exit the app to keep the delete as idempotent?  @rdblue

[2019-09-27 09:05] waterlx opened #501 "NPE in FindFiles when there is no snapshot"
Though it seems not a valid use case(where I'm trying to get data files when there is no snapshot, that is, the Iceberg table just get created), NPE is not quite friendly...
https://github.com/apache/incubator-iceberg/blob/bd9f8c0b544a82293262e5eb924b9e081b28a1ba/core/src/main/java/org/apache/iceberg/FindFiles.java#L194
`snapshot` could be null when the table just gets created. `currentSnapshotId`

[2019-09-27 14:16] chenjunjiedada commented on #193
The column index feature provides a help function`ParquetFileReader.readNextFilteredRowGroup` which should contain column index filtering logic. Does that mean we can just replace the `readNextRowGroup` In  ParquetReader to utilize the column index filtering?

[2019-09-27 16:27] rdblue commented on #492
@waterlx, if the validation is configurable then callers can choose whether to ignore the failure or throw an exception. I don't think we should produce warnings for expected behavior, and when this is an idempotent operation I would consider not deleting anything expected behavior.

[2019-09-27 16:58] rdblue commented on #193
@chenjunjiedada, probably not. That may read just the required pages, but Iceberg doesn't use Parquet filtering, so it wouldn't be correct without converting and pushing those filters. Record construction also needs to change to reconstruct rows correctly because the filtered pages start at different row offsets.

[2019-09-27 20:58] aokolnychyi commented on #428
@chenjunjiedada Sorry for the delay. I was out for a week. I haven't started working on this. Would you be interested to pick this up?

[2019-09-27 21:04] aokolnychyi commented on #428
As discussed in #483, this has very limited applicability (i.e. only for importing existing Spark tables).

[2019-09-27 22:19] aokolnychyi opened #502 "Add TIME_MILLIS support to GenericParquetReaders"
As a follow-up to #487, we need to handle `TIME_MILLIS` in `GenericParquetReaders`.

[2019-09-28 08:55] aokolnychyi opened #504 "Consider making snapshot ids inheritable"
Right now, we have to rewrite manifests to update entries' snapshot ids while appending manifests to a table. We should consider using the approach we planned for sequence numbers to make snapshot ids inheritable. That way, we won't have to rewrite manifests.

[2019-09-30 08:37] prodeezy opened #505 "[Bug] Timestamp based day transformed partitions fails on read"
Changes were made in https://github.com/apache/incubator-iceberg/pull/424 to have Timestamp day() to return Date type instead of Integer ordinal. This is causing partition interpretation to fail during append/read. Here's an example ..

[code]

`org.apache.iceberg.types.Conversions` class doesn't support `Date` type handling. The impact this has is when one has PartitionSpec containing day() trans

[2019-09-30 08:39] prodeezy commented on #505
cc @rdblue

[2019-09-30 09:18] prodeezy commented on #505
Gist to reproduce : https://gist.github.com/prodeezy/459422d1b7d388a0d225292a62817b19

[2019-09-30 09:52] aokolnychyi commented on #505
@prodeezy will resolving #428 fix this?

[2019-09-30 13:11] prodeezy commented on #505
@aokolnychyi  yes seems like it. I put up a PR with a potential fix, maybe you can review it? I'm handling it in `Conversions` by returning an epochday ordinal which is in a Integer.  https://github.com/apache/incubator-iceberg/pull/506

[2019-09-30 16:14] rdblue commented on #505
Doesn't PR #506 fix #428? That's basically what it does.

I'm fine adding that commit if it unblocks you, but this type of bug is going to keep happening to you if you continue to use this pattern where you write files and then use paths to build partition data when appending to a table. The `withPartitionPath` method is only intended for use with Hive partitions, and even then it is a best effort

[2019-09-30 16:17] rdblue opened #507 "Remove withPartitionPath from the public API"
Several issues (#428, #505) have been opened where people are using `DataFiles.Builder#withPartitionPath` to parse partition key strings. This is an anti-pattern and Iceberg should not support serialization to and from string. Conversion to a partition key is a one-way conversion.

Having the `withPartitionPath` method in the public API encourages using this anti-pattern. I think we should remove

[2019-09-30 16:18] rdblue commented on #507
@aokolnychyi, @prodeezy, what do you think about this issue and possibly targeting this for the release?

[2019-09-30 16:20] aokolnychyi commented on #507
We used that only for importing existing tables to Iceberg. We tests but I haven't seen a real use case that required it.

[2019-09-30 17:14] rdblue commented on #507
Yeah, for importing, I'm wondering if we shouldn't require going through an import API call, like the one in `SparkTableUtil`. That would make imports still work, but avoid a misleading call in the API.

[2019-09-30 17:15] rdblue commented on #494
Which test case was the problem? Was it the same, or did I miss one?

[2019-09-30 17:16] rdblue commented on #501
I agree, this shouldn't throw a `NullPointerException`. Would you like to open a PR to fix this when there is no current snapshot?

[2019-09-30 17:42] aokolnychyi commented on #507
That would work for us. We developed our version of migration before we had it in `SparkTableUtil`.

[2019-09-30 17:46] prodeezy commented on #505
There's some internal code that builds `DataFile` objects and augments the commit process. We need to re-think that code a bit. Until we work around that we need this issue fixed.

[2019-09-30 17:56] aokolnychyi commented on #494
It was the same as before. I cannot reproduce it locally but it failed frequently in CI.

[2019-09-30 18:07] rdblue commented on #505
Sounds good to me, I just want to make sure you don't hit this again in a few weeks for a similar use case, like hourly partitions. We should be able to get the fix in today.

[2019-09-30 18:19] holdenk commented on #494
I think maybe requiring a minimum time unit to pass might be better than just not having the times be equal. But I'm not sure if that is a gaurantee in iceberg we should be testing for or not @rdblue ?

[2019-09-30 18:25] rdblue commented on #494
Yeah, we can update that logic to be a bit more paranoid about values we get from System.currentTimeMillis instead of using equality. @holdenk, would you like to open a PR for that? If not, I can fix it sometime today.

[2019-09-30 18:26] holdenk commented on #494
If you don't mind a bit of a wait it would be a fun first PR for me to do, I've just meetings most of the day so I'd probably do it tomorrow.

[2019-09-30 20:32] mykolasmith opened #508 "java.lang.IllegalStateException: Already closed file for partition"
Hi, I am trying to write a Spark DataFrame to Iceberg that contains rows that cross an hourly partition threshold (i.e. the DataFrame contains rows in >1 hour). The expected result would be to commit a different file for each partition. However, I am receiving this error:

[code]

Any idea what could be happening here? Do I need to group the DataFrame by hour in order to get two DFs that only cont

[2019-09-30 23:03] #505 closed

[2019-09-30 23:04] rdblue commented on #428
Fixed by #506.

[2019-09-30 23:04] #428 closed

[2019-10-01 01:07] aokolnychyi commented on #508
I think these entries on the dev list are relevant:
- [Avoiding sort when writing 1TB+ of data](https://lists.apache.org/thread.html/e54d90b11d94e1bf93f1c750939271f79a96dfa94ef9c2c10f586546@%3Cdev.iceberg.apache.org%3E)
- [Iceberg Spark PartitionedWriter with Kafka source](https://lists.apache.org/thread.html/3ff76cd88e03eec1919fceb244177587953d2d5eef58fcb293832be4@%3Cdev.iceberg.apache.org%3E)

[2019-10-01 15:11] mykolasmith commented on #508
Thanks, solved.

[2019-10-01 15:11] #508 closed

[2019-10-03 15:00] andrei-ionescu opened #510 "Cannot update an Iceberg dataset from a Parquet file due to "field should be required, but is optional""
Given an Iceberg dataset found at `targetPath` with the following schema named `icebergSchema`:
[code]
And given an Parquet file found at `sourcePath` with the following schema:
[code]
Please note that both have the same schema.

When I do:
[code]
It fails with:
[code]

I did debug it and found that at https://github.com/apache/incubator-iceberg/blob/master/api/src/main/java/org/apache/iceberg/typ

[2019-10-03 17:05] rdblue commented on #510
The problem is that these do not have the same schema. If the Parquet schema does not have field IDs, then the IDs are assigned using the fallback logic. The fallback logic matches columns by position, not by name.

If you want to read this file, you need to create a name-to-id schema mapping. Those were added in #338. You'd also need to update the fallback strategy in Parquet to use the schema ma

[2019-10-03 17:30] rdblue commented on #510
Sorry, I was wrong about that in the comment above. Since this is validating the write schema, the Parquet schema handling has nothing to do with it. I made an assumption because Parquet was mentioned in the summary. I'll take a closer look at this.

[2019-10-03 19:53] andrei-ionescu commented on #510
Thanks @rdblue.

[2019-10-04 17:12] rdsr opened #515 "Update ORC version in Iceberg"
Tracker ticket to upgrade ORC version when a new ORC artifact is released with the following fixes

1. https://issues.apache.org/jira/browse/ORC-555
1. https://issues.apache.org/jira/browse/ORC-556

[2019-10-08 13:26] waterlx commented on #501
Sure, will submit a PR to fix that.

[2019-10-08 14:17] prodeezy commented on #507
We unfortunately depend on this currently but we will work on taking this out.
cc @fbocse @rominparekh

[2019-10-08 15:46] rdblue commented on #358
Yes, a delete should not be applied to a file with the same sequence number. An upsert would add a delete file and a data file with the same sequence number, one containing the row-level delete and one containing the upserted row content. Not applying deletes with the same sequence number ensures that the upsert doesn't delete itself.

[2019-10-08 16:32] anjalinorwood opened #518 "Iceberg Vectorized code path to support dictionary encoded data"
String data type is very frequently dictionary encoded. Categorical data expressed using other data types is also frequently dictionary encoded. This milestone is to support vectorized read of such dictionary encoded data by copying (the whole or skinnied down) dictionary into arrow buffer. Not paying the penalty to deserialize and serialize the data and being able to apply predicates on the dicti

[2019-10-08 16:39] anjalinorwood opened #519 "Optimize reading of String data type in vectorized Iceberg code path"
Vectorized Iceberg read of all primitive data types except 'string' data type is at parity with Spark data source V1 vectorized path. Reads of string data type are 5-10% slower compared to the Spark Vectorized code path.
This issue is for closing that performance gap.

[2019-10-08 16:48] anjalinorwood opened #520 "Support row based, vectorized and hybrid reads of Iceberg data"
It would be desirable to support following three types of reads of Iceberg data and be able to switch among the three methods as necessary.
1) Row iterator based reads of data (as it exists today).
2) Vectorized reads of Iceberg data: Currently, Spark can exploit vectorized reads only for primitive data type. In the first version of vectorized reads, only primitive data types are supported. If a c

[2019-10-08 16:49] anjalinorwood opened #521 "Vectorize read of complex/nested data types"
Iceberg vectorized reads needs to be extended to batched, vectorized reads of nested data types (list, map and structs).

[2019-10-08 17:12] rdblue commented on #507
@prodeezy, we'll leave it in for now. Just let us know when you've moved away from it.

[2019-10-08 17:22] anjalinorwood opened #522 "Separate Arrow work into its own sub-module in Iceberg"
A few Arrow related changes (outlined below) were needed to get better performance with Vectorized Iceberg Reads. It would be good to get these issues fixed in Arrow, but meanwhile these Arrow-related fixes in Iceberg should be separated out in its own sub-module.
The changes are:
1) Iceberg Vectorized Read code path maintains a separate validity vector (as array of booleans) on heap and consults

[2019-10-09 01:30] xabriel commented on #31
#327 was merged. Should we close this?

[2019-10-09 05:38] prodeezy commented on #522
@anjalinorwood  isn't this same as https://github.com/apache/incubator-iceberg/issues/311 ?

[2019-10-09 13:34] chenjunjiedada commented on #504
Hi @aokolnychyi,
One question about inheriting the snpahostId, If the new manifests inherit the snapshot id, does that means the time travel feature broken since one snaphost may has different dataset at different time?

[2019-10-09 15:58] #31 closed

[2019-10-09 15:59] rdblue commented on #31
Feel free to close issues like this. It's easy to reopen them if we need to.

[2019-10-09 16:28] xabriel commented on #31
I only have comment privileges :)

[2019-10-09 16:37] rdblue commented on #31
I didn't realize that was locked down. Good to know, thanks!

[2019-10-09 20:03] rdblue commented on #510
@andrei-ionescu, sorry for the delay, I had fallen behind with reviews.

I agree with your assessment of the problem. Spark is producing a schema that marks all fields nullable, which breaks because Iceberg validation is strict so that errors are caught at job planning time, rather than at runtime.

While you could fix this with a UDF that returns a type is not nullable, that's not a great solutio

[2019-10-09 20:18] Fokko commented on #156
@rdsr @mccheah @rdblue I think we can close this one: https://github.com/apache/incubator-iceberg/blob/master/build.gradle#L167

[2019-10-09 20:19] Fokko commented on #33
I can pick this up

[2019-10-09 20:21] rdblue commented on #156
Fixed by #198.

[2019-10-09 20:21] #156 closed

[2019-10-09 20:38] #167 closed

[2019-10-09 21:19] rdsr opened #528 "Infer name mapping from expected schema"
For Avro, we can infer name mapping in the following scenario.  As per @rdblue

[2019-10-10 07:26] chenjunjiedada commented on #457
Found more discussion in #510

[2019-10-11 19:50] andrei-ionescu commented on #510
Thank you @rdblue, I’ll add the changes soon on the https://github.com/apache/incubator-iceberg/pull/514 PR.

[2019-10-13 14:09] rdsr opened #540 "Iceberg tables should optionally allow for automatic schema evolution"
Related to #244 .  We should allow for automatic schema evolution when writing to an Iceberg table. This feature should be controlled by a flag, since it may not always be desirable to automatically evolve a table's schema .

Today I don't think we throw a good error message when the schema being written to a table is evolved. If we decide to control the schema evolution as an optional feature, we

[2019-10-13 17:49] rdblue commented on #540
What do you mean by automatic schema evolution? When you write to a table, any new columns are automatically added?

[2019-10-13 18:04] rdsr commented on #540
Yes, if the columns are valid as per the schema evolution rules
We've seen use-cases of it where users want their jobs to automatically evolve their private tables when the upstream datasets evolve.

[2019-10-13 18:06] rdblue commented on #540
Yeah, I think that could be a good idea. We'd want to document some of the risks, though. It's easy to add columns with the wrong type when you're doing that.

[2019-10-13 18:08] rdsr commented on #540
Wouldn't `UpdateSchema` catch invalid schema evolutions?

[2019-10-13 18:33] rdsr opened #541 "Iceberg Pig reader should support all catalogs"
In `IcebergStorage` we are currently only using the `Tables` api which is the filesystem or Hadoop catalog. We should support both. Or better yet, have a common interface for the Catalogs [hadoop, Hive] and choose one based on configuration and/or table identifier

[2019-10-13 18:35] rdsr opened #542 "Support other data formats in Iceberg Pig reader"
Today `IcebergRecordReader` only supports Parquet

[2019-10-13 18:47] rdblue commented on #540
Yes, it will. But we would want to fail earlier than that. The case I'm thinking about is when you're developing a change that adds a column and everything looks fine in the data, so you deploy it. But what if you accidentally used a string instead of an int? You'll quickly catch that when people start using the new column, but you won't be able to simply update the type and write because string t

[2019-10-13 19:25] rdblue commented on #181
From discussion on #309, I think the right way to expire old metadata is to keep a list of the N previous metadata files in each metadata file, then regularly clean up the old files after each commit. Both the number of old versions and whether to delete the oldest file after each commit should be configured by a table properties.

We can also add additional checking in the snapshot expiration cod

[2019-10-13 19:26] rdblue commented on #181
Adding this to the 0.8.0 release milestone.

[2019-10-14 14:38] rdsr commented on #510
Wouldn't this option allow writing fields which are really optional in the parquet file as **required** fields in the table.  This could fail reads from the said table as a record could have a required field missing.

Is it an option to instead of reading using parquet source, we register those files as Iceberg table and then read from them?

[2019-10-14 15:21] andrei-ionescu commented on #510
@rdsr Can you provide a gist of this in a Spark distributed manner?

Writing data once more to disk is not a viable solution because it will double the space for storage and/or maybe additional processes to clean up.

[2019-10-14 16:45] rdsr commented on #510
@andrei-ionescu I don't think we have to rewrite the data, we could just register the parquet files we want to read with a table. I think `SparkTableUtil` may help us do that but I haven't explored that api

[2019-10-14 18:44] arina-ielchiieva opened #545 "Turn on release signatures only if `-Prelease` is set"
To following error happens happens when Iceberg project is build using JitPack:
[code]
Issue is introduced after "Update build for Apache releases" commit: https://github.com/apache/incubator-iceberg/commit/2219c86ec6dc5512b2e581f500125841b1b56226

To fix this in master, release signatures should be turned on only if `-Prelease` is set, similar to how the Apache releases repository are selected.

[2019-10-14 19:18] andrei-ionescu commented on #510
So... given a parquet file, let me put the steps you are proposing and correct me if I’m wrong:

1. Get schema (load the data which leads to memory consumption)
2. Create new table (need write permissions and space is taken for metadata to be added plus cleanup)
3. Read data using Iceberg data frame reader (once more memory consumption)
4. Write that to the other iceberg dataset with data frame wr