[2021-01-07 11:56] kbendick commented on #2028
Do you know if anybody else encountered this issue? Additionally, is there any more stacktrace that was left off? It seems like there might be something after the `Caused by: java.lang.UnsupportedOperationException`. As an example, I found this in the twitter `Chill` issues:

Example stack trace with helpful info after the UnsupportedOperationException: https://github.com/EsotericSoftware/kryo/iss

[2021-01-07 12:00] kbendick opened #2044 "Remove calls to the deprecated Metrics constructors"
There are a couple of constructors for `org.apache.iceberg.Metrics` that are marked as deprecated (and to be removed in the Iceberg 0.12 release). I encountered these when working on an issue for supporting not starts with functionality.

It seems easy enough to clean up. If nobody picks up this task, I'll take it after I complete the NOT_STARTS_WITH functionality. I should have a PR for that by F

[2021-01-07 12:01] kbendick commented on #1952
I should have a PR open for this by Friday EOD. I've been a little under the weather this week but I believe I have everything working now.

[2021-01-07 12:01] kbendick commented on #2044
For reference, here's the issue I'm working on before I can pick this one up: https://github.com/apache/iceberg/issues/1952

If anybody would like to take this issue, please just comment on this ticket and let me know and I'd be happy to hand it off to you. 👍

[2021-01-07 12:04] kbendick commented on #2028
Also, can you please verify what version of Iceberg you are using?

[2021-01-07 12:14] #1924 closed

[2021-01-07 12:17] waterlx commented on #1029
The same as #1508

[2021-01-07 12:59] dixingxing0 opened #2045 "Hive: query failed when iceberg table has upper case column"
When iceberg table has upper case column, query in hive will cause an error, I can reproduce this error after i change iceberg schema from 'first_name' to 'First_name' in TestHiveIcebergStorageHandler, i try to add this code but still can not work.

[code]
Is this a bug? If it's a bug, i would look into it ,and try to fix it.

This is the exception info:
[code]

[2021-01-07 16:27] pvary commented on #2045
@dixingxing0: Thanks for reporting this!
We definitely want to make this work.

One thing to consider is that for Hive the uppercase and the lowercase names should mean the same, so we have to find a way to ignore the case for these tables.

[2021-01-08 01:39] rdblue commented on #1482
@samidalouche, sorry for the late reply. I didn't see this until today.

Right now, we have a fixed set of transforms because we want to have consistent support across engines. To do that, we want a small set of transforms that are well-defined so that there isn't a huge cost to implementing support. Otherwise, we'd end up with inconsistent features across processing engines, which we really want

[2021-01-08 02:10] simonsssu opened #2049 "What's the purpose of Position2Accessor and Position3Accesor?"
Currently I'm doing some type convert by using Iceberg Accessor. I found some tricky codes in Accessor like this:
![image](https://user-images.githubusercontent.com/12323514/103965699-48e8e200-5199-11eb-8e22-b1c9e8e5f3cd.png)
In my understanding, we only need a WrappedPositionAccessor and a PositionAccessor, It makes me quite confused why we need a position2accessor and position3accessor here . Al

[2021-01-08 02:42] dixingxing0 commented on #2045
I would like to have a try and make a pr

[2021-01-08 04:16] openinx commented on #2049
@simonsssu  It's an optimization for accessing nested field.   For example,  we have the schema:

[code]

We could just use the `Position3Accessor` to access the nested field `c` (Because it just access the nested field straightforward :  `row.get(p0, StructLike.class).get(p1, StructLike.class).get(p2, javaClass);`  ).

Of course,  it won't break the correctness if we remove that optimization, the

[2021-01-08 06:12] simonsssu commented on #2049
@openinx I think what we need is to add some comments here.

[2021-01-08 06:56] openinx commented on #2049
@simonsssu  It's indeed a bit hard to understand,  would you like to add comments for that ?

[2021-01-08 08:06] simonsssu commented on #2049
OK, I will add comments and make a pr

[2021-01-08 08:16] pvary commented on #1826
After #1924 we decided that we will do not need this for a while at least

[2021-01-08 08:16] #1826 closed

[2021-01-08 08:35] pvary commented on #852
Checking Hive related issues I have found this. Can we close this now as the implementation is committed?

[2021-01-08 08:35] pvary commented on #846
Checking Hive related issues I have found this. Can we close this now as the implementation is committed?

[2021-01-08 08:44] pvary commented on #771
With the current code I tried to repro the case by changing the TestHiveIcebergStorageHandlerNoScan tests and got the following exception:
[code]

I think this is helpful.

Could someone please check that the error message in spark is also changed for good?
If so, then I think we could close this issue.

Thanks,
Peter

[2021-01-08 08:48] pvary commented on #798
Most probably EMR uses Hive where the HIVE_LOCK table schema not synched with the code. Most probably this not causes problems for EMR because it does not uses DBLockManager or Locking at all.
On the other hand Iceberg uses locks and tries to use the tables. Since the schema is not correct. It fails.

Could you please try it with a more recent version of EMR and check if the issues still exists?

[2021-01-08 08:50] pvary commented on #791
I think this issue is a duplicate of #798
@figo10203: Could you please check my comment there?

Thanks,
Peter

[2021-01-08 08:53] pvary commented on #170
Is this an issue we could close as the read path is already committed and the work on write path is also on the way under different issues/PRs?

Thanks,
Peter

[2021-01-08 10:32] pvary commented on #2045
@dixingxing0: Ping me to review! Thanks for taking care of this!

[2021-01-08 11:36] dixingxing0 commented on #2045
Thanks, i'll

https://github.com/apache/iceberg/pull/2053

[2021-01-08 13:30] rdsr commented on #846
+1

[2021-01-08 13:30] #846 closed

[2021-01-08 13:34] #852 closed

[2021-01-09 00:18] rdblue commented on #2043
`DataFiles.fillFromPath` is only available as a convenience for importing Hive data files. It does not parse values from Iceberg paths on purpose because paths should not be parsed in Iceberg. Iceberg metadata contains the actual values that should be used instead of parsing from a String. Converting a partition data tuple to a path component is considered one-way.

[2021-01-09 01:26] rdblue commented on #170
I agree, this is mostly done now and this is also not very specific. We should open more specific issues for any other gaps where we intend to add features, like a non-Hive OutputFormat.

[2021-01-09 01:26] #170 closed

[2021-01-09 01:27] rdblue commented on #1832
I think I agree that the two features are separate. We probably won't use the same format for partition-level data and file-level indexes. Sorry I haven't had a chance to take a look at these proposals in detail yet. I should have some time once the MERGE INTO support is about finished, as that's a high priority for the community.

[2021-01-09 10:21] zhengqiangtan opened #2057 "Meet an error when create hive catalog using flink sql client"
when i using flink sql client to create hive catalog is failed ,reason as follows,what should i do ?
flink version: v1.11.2
hive version: v2.1.1
java version:openjdk version "1.8.0_252"

I'm using flink standalone to open the shell client like this:

[code]

[code]

[2021-01-09 11:33] zhangjun0x01 commented on #2057
I think maybe jar conflict，could you describe your environment  more detail? For example,  the flink cluster is yarn session or standalone? Have you put iceberg-flink-runtime-xxx.jar and flink-sql-connector-hive-xxx.jar on the classpath? Currently the hive version integrated by iceberg is 2.3.6. Can you test whether there is a problem with this version?

[2021-01-10 07:05] kbendick opened #2059 "String representation of startsWith often has too many quotes around the string value"
I've been working on adding support for not starts with, https://github.com/apache/iceberg/issues/1952, and I've noticed that the string representation of many startsWith Expressions has too many quotes.

An example would be
[code]

I would expect the above code to print `The expression is ref(name="data") startsWith "ab"`, however what's printing for me is  `ref(name="data") startsWith ""ab""`.

[2021-01-10 07:17] ggershinsky opened #2060 "Authenticated encryption stream"
To protect integrity of Iceberg tables, the data and metadata files can be encrypted with an authenticated cipher (like AES GCM). Parquet encryption already uses such cipher, and provide tools to prevent file contents tampering or file replacement (https://github.com/apache/iceberg/issues/44). Parquet uses a built-in mechanism that leverages the internal columnar structure of parquet files, and ap

[2021-01-11 00:40] HeartSaVioR commented on #1912
@borislitvak
I'd suggest closing the issue, as the answer is already provided and no further discussion is expected.

[2021-01-11 00:41] HeartSaVioR commented on #1931
@cccs-jc
Could you please close the issue explicitly? Thanks in advance!

[2021-01-11 01:24] dixingxing0 commented on #2057
Maybe you can check your JDK version, we use HotSpot 1.8.0_202 which works fine.

[2021-01-11 06:08] #1912 closed

[2021-01-11 06:43] pvary commented on #2057
I see: `org/apache/hadoop/hive/metastore/api/NoSuchObjectException` in the logs. Is it possible that the db is not created?

[2021-01-11 06:49] a49a opened #2063 "Could Hive alter iceberg table?"
I'm not found in offical document. I only found that Spark SQL 3.0 can alter iceberg table? Could Hive do this?

[2021-01-11 07:30] pvary commented on #2063
@deadwind4: If your question is about having a Hive SQL command which could alter an EXTERNAL Hive table which is backed by an Iceberg table then sadly the answer is no. With some further development we can make it possible with the use the Hive 3.1.2 API to update the table properties, but with the current API I do not see a way for schema evolution.

[2021-01-11 07:37] deadwind4 commented on #2063
So, it is not supported to add a column to INTERNAL Hive table with hive current API, right?

[2021-01-11 10:04] changquanyou opened #2065 "java.lang.IllegalArgumentException: Truncate length should be positive"
Env:
- spark3.0
- Iceberg0.10.0
- `./bin/spark-sql --packages org.apache.iceberg:iceberg-spark3-runtime:0.10.0 \
--conf spark.sql.catalog.hadoop_prod=org.apache.iceberg.spark.SparkCatalog \
--conf spark.sql.catalog.hadoop_prod.type=hadoop \
--conf spark.sql.catalog.hadoop_prod.warehouse=hdfs://bfd-wfj-67p121:8020/iceberg/warehouse \
--master spark://bfd-wfj-67p123:7077`
Issue: Using Spark Sql:  se

[2021-01-11 11:02] kbendick commented on #2065
You know I was actually just working on this PR https://github.com/apache/iceberg/pull/2062 where I encountered this and was debating whether or not I should fix it when it came up (but I didn't want to pack too much into an admittedly large PR already).

I have a fix stashed away that I can push if you'd like. 👍

[2021-01-11 11:04] kbendick commented on #2065
Though if you'd like to submit a patch, by all means let me know 🙂 . Otherwise, I can take this.

[2021-01-11 11:18] boroknagyz commented on #2043
Thanks for your reply, @rdblue.
In Impala we also use Builder.withPartitionPath, because we generate the partition path already in our C++ backend, so this was the easiest way to transfer partition data from C++ to Java.

I see that Iceberg  unit test code also uses withPartitionPath to conveniently create partition data, so for Iceberg this conversion could be useful for unit tests at least.

Wit

[2021-01-11 12:36] Jecarm commented on #1994
Sorry for replying so late @pvary .
Running the liveliness test on every established HMS Client is a solution.
I will try to implement it and submit a PR.

[2021-01-11 13:47] pvary commented on #1994
Thanks @Jecarm!

[2021-01-11 14:36] #1931 closed

[2021-01-11 22:56] kbendick commented on #2065
@changquanyou Is it possible that you could share the individual row where this occurred, as well as the table's partition spec?

As I mentioned, I have a patch for it, but I'd like to be sure that I understand the situation under which it occurred.

For example, I imagine we want to be sure that we aren't allowing people to create partition specs for columns with `truncate[0]` (which I'd have to

[2021-01-11 23:04] RussellSpitzer opened #2068 "Procedure for adding files to a Table"
Internally we have a command "Import Data" which allows a user to associate a directory of files with a given Iceberg table. This is generally used when someone wants to add a number of files directly to an Iceberg table without rewriting all the data, they just want the existing files (usually from a a Hive table or another format) to just be added to the existing table.

I was thinking of adding

[2021-01-11 23:07] rdblue commented on #2043
Conversion to and from string for partition data has caused a lot of bugs in Hive and other projects that use Hive tables. I do not think that it is a good idea to do it in general. Avoiding those bugs is the reason why Iceberg always keeps track of the partition values as a struct or row and serializes it as data. I think it is a bad idea to add this to the Iceberg library because it would encour

[2021-01-12 03:31] dixingxing0 opened #2070 "Hive：Hive configuration was reset to defaut value after create HiveConf instance"
I found hive confiurations was override to default value in HiveClientPool, in my case `hive.metastore.sasl.enabled` was reset to `false` after HiveConf instance created, which is unexpected and will cause an exception.

`hive.metastore.sasl.enabled` in `conf` is `true`:
![image](https://user-images.githubusercontent.com/1303530/104264162-0e978180-54c6-11eb-985c-08f942cdff54.png)

`hive.metastore.

[2021-01-12 03:37] changquanyou commented on #2065
@kbendick  thanks for your reply, I will explain in detail：

- Table Schema:
  `CREATE TABLE mf_data (
    urlHash STRING,
    titleSimHash STRING,
    docId STRING,
    title STRING,
    content STRING,
    pubTime LONG,
    pubDayStr STRING
    ) using iceberg **PARTITIONED BY** (pubDayStr);`
   The Service assurance that  partition key  is not empty. the title may be empty.
- Data Source：
  Con

[2021-01-12 04:07] deadwind4 opened #2071 "Iceberg + Flink + Hive NoSuchMethodError"
following is POM and error message.

` <flink.version>1.11.3</flink.version>
    <scala.version>2.12</scala.version>
    <hive.version>2.3.6</hive.version>
    <iceberg.version>0.10.0</iceberg.version>

     <dependency>
            <groupId>org.apache.flink</groupId>
            <artifactId>flink-sql-connector-hive-${hive.version}_${scala.version}</artifactId>
            <version>${flink.version

[2021-01-12 05:40] pvary commented on #2071
Little bit afraid that I am stating the obvious, but seems like a problem with the parquet library version to me. What version or versions of parquet is on your classparh?

Thanks, Peter

[2021-01-12 06:32] zhengqiangtan commented on #2057
thanks a lot, there is have two jars（iceberg-flink-runtime-0.10.0.jar，iceberg-hive-0.9.1.jar） in the flink lib directory，when i move  the iceberg-hive-0.9.1.jar  out and run `bin/sql-client.sh embedded shell` that is ok for me , hive catalog can be created success as follow :
[code]

[2021-01-12 06:35] zhengqiangtan commented on #2057
thanks~，The reason is JAR conflict, as described above

[2021-01-12 06:35] #2057 closed

[2021-01-12 06:40] ggershinsky opened #2073 "Integrity of Iceberg tables"
Encryption allows to hide sensitive data and metadata of Iceberg tables from an attacker that breaches the storage. However, such attacker can also tamper with the tables (lose recent updates; replace with an old version; ingest wrong files; modify existing files; remove data or metadata files). This mechanism will make Iceberg tables not only encrypted, but also tamper-proof.
Depends on #44 and #

[2021-01-12 07:14] kbendick commented on #2065
Oh thank you so much. This is wonderful information. And I completely understand that the table could be too large to determine any single row that would cause this issue.

I've discussed with @RussellSpitzer on this and I'm not going to include this in my current open PR that I mentioned where I first encountered this issue, as that PR is already large enough and I don't want to block it from get

[2021-01-12 07:37] deadwind4 commented on #2071
After I import flink-parquet_${scala.version}, this happen a new problem.

`java.lang.NoClassDefFoundError: org/apache/parquet/schema/LogicalTypeAnnotation
	at org.apache.iceberg.parquet.ParquetSchemaUtil.convert(ParquetSchemaUtil.java:43) ~[iceberg-parquet-0.10.0.jar:na]
Caused by: java.lang.ClassNotFoundException: org.apache.parquet.schema.LogicalTypeAnnotation
	at java.net.URLClassLoader.findCl

[2021-01-12 08:15] deadwind4 commented on #2071
![image](https://user-images.githubusercontent.com/12015546/104287423-64cdea00-54f1-11eb-85bc-88237abe9dae.png)
my parquet version

[2021-01-12 08:24] zhangjun0x01 commented on #2071
I think maybe version conflict

[2021-01-12 08:39] deadwind4 commented on #2071
I resolved this problem. This reason is the conflict between iceberg-parquet and flink-sql-connector-hive-${hive.version}_${scala.version}.

[2021-01-12 08:39] #2071 closed

[2021-01-12 08:46] zhengqiangtan opened #2076 "Can not write data to hive catalog iceberg table, why ?"
Hi ,I'm using sql-client to test create hive catalog as follow:

[code]

#### Flink web ui exceptions:
[code]

[2021-01-12 09:48] kbendick commented on #2033
I have been thinking about this, and I have some questions related to the bucket being used for versioning.

It's not an uncommon situation to have a versioned s3 bucket which does not have a policy which removes expired object deletion markers or a policy to expire non-current versions. By default, versioned buckets do not hav this. In such a situation, it's not uncommon to either have a very lar

[2021-01-12 10:00] kbendick commented on #2033
Sorry for the large wall of text, but I've personally dealt with some weird issues on versioned S3 buckets, and I thought I'd share what information I have. I try not to use them if possible due to performance issues, but with strong bucket policies in place they're manageable.

@openinx As you've assigned this issue to yourself, and since I've written a small essay already in this issue, feel fre

[2021-01-12 10:09] kbendick commented on #2068
This sounds particularly important to users on S3, especially users with older data that do not necessarily want to commit to migrating all of their older files (and having to copy them, which can get quite expensive). And given that there are no renames without copying on S3, many users are hesitant to move large parts of their data lake around.

I think this could help drive adoption of Iceberg

[2021-01-12 11:06] aokolnychyi commented on #2068
I think it is particularly interesting with CREATE TABLE LIKE or similar commands. It is kind of close to IMPORT of Hive partitions. We can follow that and support appending or overriding all files in a path. If we want, we can make this procedure to accept a single file too.

@RussellSpitzer, could you suggest how this procedure should look like? What input and output params will it have?

[2021-01-12 11:44] dixingxing0 commented on #2015
It looks like same as this:
https://github.com/apache/iceberg/issues/2057

[2021-01-12 14:47] RussellSpitzer commented on #2068
I was thinking something like

**add_files**.(**table** => "db.sample", **directory** => "/some/dir/files/", **reader** => "parquet")

**Table **= "The iceberg table we are adding files to"
**Directory** = "The source directory where the files are located"
**Format** = "The reader used with these files (parquet, orc, avro ...)

I believe the output should be something like

| Partition | Files Add

[2021-01-12 15:30] aokolnychyi commented on #2068
I agree with most of your points, @RussellSpitzer.

I'd probably consider naming it `import_files` or `import_data` or `load_data` and add a flag whether it should overwrite the existing data or not.

[code]

Then `path` can be either a root table location, a partition path or a path to an individual file (if we want to support that).

[2021-01-12 15:32] aokolnychyi commented on #2068
Thoughts on this one, @kbendick @rdblue @raptond @RussellSpitzer @holdenk @rymurr @shardulm94?

[2021-01-12 15:34] aokolnychyi commented on #2068
I'd be also curious to hear thoughts from people who work on other query engines as well.

cc @openinx @Parth-Brahmbhatt @electrum @jackye1995

[2021-01-12 15:37] RussellSpitzer commented on #2068
I was wondering around overwrite, I feel like it would be safer to do that in two user operations rather than having this operation delete information. Since a user may not know which partitions will be touched in a given import

[2021-01-12 15:40] aokolnychyi commented on #2068
I can go either way. I was coming more from `LOAD DATA INPATH ... INTO TABLE t` perspective that is supported by Spark for Hive tables.

[2021-01-12 17:50] rdblue commented on #2068
I like the idea of importing data files using a stored procedure. We would need to be careful about partition specs because we do not parse values from path strings in most cases. We do it for importing from Hive tables, but we should not allow it for importing from another Iceberg table.

I'm also not sure what `overwrite` would do. Dynamic partition overwrite?

[2021-01-12 18:27] aokolnychyi commented on #2068
Yeah, the use case for this may be as follows: the user imports a partition and then more files are added to that partition through a non-Iceberg path. So he/she may want to reimport the partition overriding the current set of files in that partition.

[2021-01-12 18:28] RussellSpitzer commented on #2068
IMHO, I think you should do an explicit delete or drop partition if you want that to happen but I don't have strong feelings about that. I'm not a big fan of the INSERT OVERWRITE behavior

[2021-01-12 18:30] aokolnychyi commented on #2068
Don't feel strongly here but we will need a solution like that internally. Offering a separate procedure for that is also fine.

[2021-01-12 18:32] aokolnychyi commented on #2068
There is some sense in offering `add_files` and `replace_partitions` too.

[2021-01-12 18:40] rdblue commented on #2068
+1 for separate operations to remove files. There is no need for an atomic swap when you're working with file lists, so it should be sufficient to delete the data and re-append the files.

[2021-01-12 18:47] aokolnychyi commented on #2068
We may not need a separate procedure. Just use DELETE FROM with a partition predicate.

[2021-01-12 19:10] holdenk opened #2079 "Rewrite metrics during schema transformation"
See discussion @ https://github.com/apache/iceberg/pull/2048#discussion_r555831963

[2021-01-12 21:36] elkhand commented on #2033
@openinx Thanks for clarifying the Flink specific manifest file - being different from Iceberg manifest file.

**Correction on the issue based on observations:**
- this is not related to S3 bucket versioning.
- this is not related to the S3 bucket policy setup.

Unfortunately, there is nothing in logs, and no failover has happened, Job continues running normally, and producing data files and Flink

[2021-01-12 23:42] kbendick commented on #2068
I'm in support of this. I have several Airflow DAGs that write parquet files with python etc that need to be added to tables, like @aokolnychyi mentioned.

I do somewhat worry about not having the ability to perform checks on the files to ensure that they have the correct columns and abide by the partition spec. Particularly I would worry about people importing data that is partitioned by say `dat

[2021-01-12 23:47] kbendick commented on #2068
Actually, thinking about it further, reading just the footers wouldn't handle the case for partition spec updates if the table has several partition specs. So it does seem that users would either need to ensure on their own, or that we'd have to parse the values from path strings to at least ensure that the paths appear to be partitioned in a similar manner and then leaving it up to the user to be

[2021-01-13 00:23] kbendick opened #2080 "CI tests continue to run even after a user pushes to the branch"
I've noticed that when we open PRs, that the CI suite is run for all commits that are pushed after it's opened.

It would be beneficial to add an action to cancel previous workflow runs when a new run begins. This would greatly reduce the burden on CI resources.

There are actions that can be added, such as this one: https://github.com/marketplace/actions/cancel-previous-workflow-runs. This action

[2021-01-13 00:29] kbendick commented on #2080
I'm including a screenshot that I took of the issue in action.

Here, you can see that I pushed twice to the same branch, but the CI tests continued to run for the older commit. In this screenshot, the popup showing the checks that are running is for the older commit.
![image](https://user-images.githubusercontent.com/9833362/104390496-b460e580-54f2-11eb-8efd-08ef0fde8086.png)

In this screenshot,

[2021-01-13 02:38] electrum commented on #2068
This feature sounds troublesome, as it seems to mix two requirements:

* Import existing files without **rewriting** them, because writing and storing multiple copies is expensive.
* Import existing files without **reading** them, because reading is expensive.

Users constantly run into issues due to metadata/schema in the Hive world, due to a combination of the Hive metadata model and because the

[2021-01-13 02:53] electrum commented on #2068
Another concern is that the migrated files will violate the Iceberg specification, since they won't have the required Iceberg column IDs, and may also be missing the identity partitioning columns. If migrated files are officially supported in Iceberg, then exactly what is allowed and how to read them should be covered by the specification.

We have this problem today for Hive migrated tables. They

[2021-01-13 04:28] kbendick commented on #2080
I'm investigating various Github actions that handle this situation. In particular, any that gracefully handle the case of a PR coming from a forked branch would be benificial as that's how all of the Apache repos work.

Some interesting options I've found so far:
- https://github.com/marketplace/actions/skip-duplicate-actions
- https://github.com/styfle/cancel-workflow-action

[2021-01-13 04:48] kbendick commented on #2080
This one appears to have a large number of options for PRs that come from forked repos: https://github.com/potiuk/cancel-workflow-runs#repositories-that-use-pull-requests-from-forks

If anybody has any input or knows of any Apache repo or other OSS repo currently doing this with Github Actions, please feel free to comment on this ticket.

[2021-01-13 05:04] jackye1995 commented on #2068
+1 for the comment. Internally we have an operation called bootstrap that serves this purpose, and it is always only done by a very small set of people who know exactly what is going on. The data quality guaranteed by Iceberg is a very valuable aspect. But it is always tempting to have these features that are very fast and useful by taking a shortcut.

On the other hand, I do see the value of this

[2021-01-13 06:16] pvary commented on #2076
No too familiar with Flink error messages, but could this be similar to #2057?

[2021-01-13 09:07] kbendick commented on #2080
Due to my lack of write access, I'm not exactly the best person to take this on. However, I'll be researching it and can give it a shot as I've handled a few of our other github actions. But by all means, please feel free to get involved with this issue. 👍

[2021-01-13 11:56] XuQianJin-Stars opened #2085 "StreamingOffset Of Structured streaming read for Iceberg"
An implementation of Spark Structured Streaming Offset, to track the current processed files of Iceberg table, This issue is a split of the [PR-796](https://github.com/apache/iceberg/pull/796) of Structured streaming read for Iceberg.

[2021-01-13 13:02] lcspinter commented on #1922
The NotNullConstraines are stored separately from the HMS Table. To get a list of not null columns we would need to call the HMS API from the HiveIcebergMetaHook, which is not straight forward.

[2021-01-13 13:59] rymurr commented on #2068
I agree with @electrum that a huge strength of iceberg is its strong specification, I would be reluctant to do anything that could weaken that or give users a footgun wrt to metadata strength. Likewise I agree that reading the files is probably required to do this safely.

However, we are currently working on our own version of the 'make these files an iceberg table' function. It sounds like sever

[2021-01-13 17:55] RussellSpitzer commented on #2068
I think one thing to note is that it is always possible for files to not match the Iceberg spec which makes the checking for validity of added files a bit difficult. I definitely do think we should end up doing at least a footer read for getting metadata but I'm not sure we can/should require that the schemas match exactly. For example if a file has additional columns not in the spec should it be

[2021-01-13 18:16] RussellSpitzer commented on #2068
I should also note a workaround that i've given for users trying to do something similar to this is to create a Hive External Table referring to the files, then to migrate that into an iceberg table.

[2021-01-13 18:48] jackye1995 commented on #2068
Thanks for the explanation, this makes sense to me now. In this case, I think it is also valuable to expose this option to specify a specific partition in this procedure.

[2021-01-13 21:28] #1908 closed

[2021-01-14 00:15] elkhand commented on #2033
@openinx tried with Apache iceberg build from the master(`01fca3d0`), this issue still occurs.

Basically, when the job is suspended - savepoint is created. Then the job is started from that saved savepoint.
Flink Iceberg connector will only create Flink specific manifest file (`.avro`), and none of the Iceberg specific files will be created for every checkpoint going forward.

[2021-01-14 09:16] rymurr opened #2090 "Switch Nessie to use CatalogProperties constants"
As `CatalogProperties` is now less coupled to Hive (since #2088 ) it would be good to standardize Nessie config to use these names as well. Specifically changing `url` to `uri` in nessie config

[2021-01-14 16:20] sabyasachinandy commented on #1533
Same issue with spark 2.4.5 and hive-metastore 3.1.2, any soln for this?

[2021-01-15 01:19] masonone commented on #2015
OK , thanks

[2021-01-15 01:19] #2015 closed

[2021-01-15 01:38] #1718 closed

[2021-01-15 03:43] qphien opened #2093 "How to get table/partition create time/update time from Iceberg"
With building data warehouse on iceberg, it is necessary to get table/partition create time/update time.
Based on current iceberg realization,  we may get table create time from `version.metasata.json` earlist snapshot timestamp-ms, update time from latest snapshot timestamp-ms. However, there's no way to get partition create time/update time.

[2021-01-15 22:11] yyanyy opened #2094 "Spec: add metadata-log and metadata-file to spec"
Just noticed that the attributes `metadata-log` and `metadata-file` that are introduced to table metadata in [this pr](https://github.com/apache/iceberg/commit/c4cc4dcc427ddd62b8ae88b4120d6783d787b09e) for expiring old metadata versions is not mentioned in spec, that we may want to add the description.

[2021-01-16 13:22] zhangjun0x01 opened #2098 "Spark : The iceberg-spark3-extensions module CI test failed"
I found that ,the iceberg-spark3-extensions module CI test often failed.

the exception like this
[code]

[2021-01-16 19:49] #2065 closed

[2021-01-16 21:30] #2045 closed

[2021-01-16 23:22] rdblue opened #2100 "Remove non-test uses of commons-lang3"
Iceberg should avoid unnecessary dependencies, like commons-*. A few dependencies on commons have snuck in:

[code]

We should remove those and move the dependency to testCompile.

[2021-01-18 00:33] kbendick commented on #2059
There are also instances of this occuring in `Spark3Util`. When we merge in `NOT_STARTS_WITH` operator, we'll also need to consider that (which will be nearby in this function): https://github.com/apache/iceberg/blob/6731211eaf746c6a4abfe71386ef53172a3fc137/spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java#L581-L582

[2021-01-18 00:36] kbendick commented on #2059
Here's another reference mentioned in my PR above that needs to be considered (along with the NOT_STARTS_WITH case once that's merged in): https://github.com/apache/iceberg/blob/78e80d2a35c4c93e68776c31c24cc8ccb06fed4b/api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java#L92-L93

[2021-01-18 02:36] kbendick commented on #2098
I too have found that this test fails. However, it does not appear to be deterministic. I'm guessing it's possible that the tests are run in such an order that the table gets dropped during one of the other tests.

There's also multiple levels of inheritance used for this test suite, but I don't necessarily think that's the issue. However, it does offer some clues, as the non-abstract test suites

[2021-01-18 02:39] kbendick commented on #2098
Additionally, another option seems to be that we could use `TestSparkTableUtilWithInMemoryCatalog`, or essentially update the test suite to not use the Hive metastore for all of these tests given that its prone to connection leaks at times.

[2021-01-18 02:51] pan3793 commented on #2098
+1 I also can reproduce in local with `./gradlew :iceberg-spark3-extensions:test`, but passed in IDEA.

[2021-01-18 03:04] zhangjun0x01 commented on #2098
I found it is random, there are many times the test passed on my computer, but CI test failed

[2021-01-18 03:29] HeartSaVioR commented on #2041
Could you please describe the full context here? Spark version and Iceberg version (exact version including bugfix numbers) are required to let others look into it.

[2021-01-18 03:34] RussellSpitzer commented on #2041
This is actually Spark's defined behavior for insert into.

https://github.com/apache/spark/blob/271c4f6e00b7bc7c47d84a8e59018e84a19c9822/sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala#L442-L450

[code]

Which I know is confusing, but you'll have to take it up with the Spark folks.

The fix here is to make sure your "INSERT" query matches the column ordering as your base table.

[2021-01-18 04:44] HeartSaVioR commented on #2041
Yeah, I think @RussellSpitzer is correct on this. (Actually Spark doesn't seem to support INSERT INTO ... SELECT ... natively.) And my quick google says matching by column name during INSERT INTO ... SELECT isn't something other RDBMS would also support.

The safest way to do this is providing explicit column list for both source and target, but Spark doesn't support providing explicit column list

[2021-01-18 04:52] kbendick commented on #2098
I've also been able to get CI to pass recently (as in today), but it's sporadic & non-deterministic.

[2021-01-18 07:27] kbendick commented on #2041
If `target` is registered in the catalog, fields that need reordering can be determined via a `DESCRIBE` command or via `spark.catalog.listColumns(tableName).select("name").as[String].collect()`

We do this occasionally at my work. I can try and take a look to see if there's a cleaner approach that we might use.

[code]

[2021-01-18 07:31] kbendick commented on #2098
Locally, when I increase the catalog config value for `clients` from 1 to 2 or higher, this has passed on the past 3 times I've tried it. This is obviously kind of a hack, and having a value for `clients` that is > 1 won't necessarily work for catalogs backed by derby. However, it would be helpful if other people can try upping these values and see if that helps.

[2021-01-18 07:52] kbendick commented on #2093
You might be able to do this via the various metadata tables, though it would be somewhat complex.

[2021-01-18 08:00] kbendick commented on #2093
Alternatively, it's possible that Nessie integration might be what you're looking for. Nessie provides a git-like experience for managing your data lake and is integrated with iceberg: https://projectnessie.org/tables/iceberg/

[2021-01-18 11:34] qphien commented on #2093
Thanks @kbendick for your reply. Yeah, we can join `manifest` with `snapshot` and `history` to get partition create/update time, but this join query is inefficient when there are large number of snapshots, we have to scan all snapshots and manifests.

Could we add an additional `create-time` field to `manifest.data_file`? In this case, only latest snapshot and related manifests are needed to scan.

[2021-01-18 16:46] dixingxing0 opened #2108 "Flink: store watermark as iceberg table's property."
We need an flag to measure the progress of data writing in some case, i think it‘s a reasonable way to store `watermark` as Iceberg table's property.

One of our scenario is that Flink writes data into Iceberg table in real-time, then we use this Iceberg table to support batch computation,  so we need a flag to evaluate whether it's partition data is completed.

For example, job1 is scheduled for

[2021-01-18 19:06] stevenzwu commented on #2098
I started a thread titled as "test flakiness with SocketException of broken pipe in HiveMetaStoreClient" [1]  in the dev mailing list two weeks ago. People have offered some insights there. Main suspicious is connection leak problem.

[1] https://www.mail-archive.com/dev@iceberg.apache.org/msg01789.html

[2021-01-19 00:46] kbendick commented on #2098
Cool thank you @stevenzwu. Connection leak would potentially explain why I’m much less able to reproduce when I increase the hive catalog’s `clients` value. Also, knowing that it is (was?) happening in the flink tests helps with determining how much time to put into investigating from the POV of a potential test inheritance pattern issue.

This is very helpful. I should be more active on the dev l

[2021-01-19 02:48] kbendick commented on #2093
I agree that such a query with several joins is likely not practical to be performing regularly.

Can you detail more how you intend to use this partition creation / update time info? Is this possibly as a trigger for a batch job - for example, a common pattern would be to continuously write to a table that is partitioned by hour from a streaming job (say, using Apache Flink as the query engine),

[2021-01-19 08:12] txdong-sz commented on #1951
we use flink 1.12 now  . but iceberg cannot supoort flink 1.12 now .
this is a major version of flink 1.12  (stream and batch can written in one code )   so iceberg with flink 1.12  need to be merge  soon
![image](https://user-images.githubusercontent.com/5066512/105005522-660e9200-5a70-11eb-90a3-404bfae22bc6.png)

[2021-01-19 08:49] zhangjun0x01 commented on #1951
you can merged the [pr 1956](https://github.com/apache/iceberg/pull/1956) into master

[2021-01-19 09:24] pan3793 commented on #1951
@txdong-sz Currently, this patch can not work with both Flink 1.11 & 1.12. As previous discussion, community will work on it after Iceberg 0.11 released. So now, you need to merge it manually.

[2021-01-19 19:39] yyanyy commented on #2044
Thanks for creating this task! Just to give some context, I originally added the new constructors and marked the old one as deprecated, as I was implementing NaN counter across different writers, which is still in progress/under review.

[2021-01-20 10:27] pvary opened #2120 "Hive: Vectorization is not working"
Current Hive reads and writes are working on the non-vectorized path. The vectorization could disabled by different rules but if we force it to be enabled we will have failures.

The current way of working:
- Read records by `HiveIcebergSerDe.deserialize()` and return a `Record` object where the schema contains only the projected columns
- Write records by `HiveIcebergSerDe.serialize()` and return

[2021-01-20 12:22] sshkvar opened #2122 "Spark can't read Iceberg table created from Presto"
Spark can't read table which was created in Presto

[code]
In Spark
[code]

Fails with exception `java.lang.UnsupportedOperationException: Spark does not support timestamp without time zone fields`

Please add support of `Timestamp without timezone` type into Iceberg Spark runtime, because Iceberg supports this type

[2021-01-20 14:19] steveloughran opened #2124 "Improve HadoopCatalog performance/scalability"
By moving HadoopCatalog onto `listStatusIterator()` list API calls, filesystem clients which do paged listings (hdfs, webhdfs, s3a, and soon abfs) can mix prefetching of the next page of results while HadoopCatalog examines the current entries. This makes a difference on object stores. (Not that you should be using HadoopCatalog on S3; ABFS is a different matter)

[2021-01-20 17:03] #1761 closed

[2021-01-21 06:24] zanmeipaul opened #2128 "MySQL binlog is synchronized to iceberg through CDC"
Does the community have a plan to synchronize data to iceberg through MySQL binlog CDC, and DDL statements can be synchronized at the same time, or does the community plan to solve it

[2021-01-21 17:08] davidwilcox opened #2130 "Ways To Alleviate Load For Tables With Many Snapshots"
I have a process that reads Tables stored in Iceberg and processes them, many at a time. Lately, we've had problems with the scalability of our process due to the number of Hadoop Filesystem objects created inside Iceberg for Tables with many snapshots. These tables could have tens of thousands of snapshots inside, but I only want to read the latest snapshot. Inside the Hadoop Filesystem creation

[2021-01-21 17:55] thesquelched opened #2131 "ExpireSnapshots deletes active files"
Version:`0.10.0`
Spark version: `2.4.5`

It's possible to use the API to construct snapshots in such a way that expiring snapshots (with file deletion enabled) causes active data files to be deleted. This happens with an iceberg table that's manually managed over raw parquet files written by spark (doesn't really bear going into why). The basic steps are:

1. Create a partitioned iceberg table
2.

[2021-01-21 17:58] RussellSpitzer commented on #2131
Have you tried the ExpireSnapshotsAction it has a slightly different internal implementation so I think it actually will preserve the file even with the procedure. But I think your concerns are all very valid.

[2021-01-21 18:06] thesquelched commented on #2131
Negative, I wasn't aware that was a thing. Is that API public?

[2021-01-21 18:09] RussellSpitzer commented on #2131
https://iceberg.apache.org/maintenance/ Yep Check out the second code
sample under ExpireSnapshots

On Thu, Jan 21, 2021 at 12:06 PM Scott Kruger <notifications@github.com>
wrote:

[2021-01-21 18:26] thesquelched commented on #2131
I noticed that there's no equivalent in `ExpireSnapshotsAction` to `ExpireSnapshots.cleanExpiredFiles()`; does that mean that the former always cleans expired files?

[2021-01-21 18:32] RussellSpitzer commented on #2131
There is an method "expire" which just returns the dataset of files that would be removed without removing files if you like, but if you just want to remove snapshots without cleaning files it should be essentially the same as the table API. The big difference in Table and Action implementations is in identifying which files need to be cleaned.

  /**
   * Expires snapshots and commits the changes

[2021-01-21 18:40] anuragmantri commented on #1617
Here is a design doc for this proposal: https://docs.google.com/document/d/1RDEjJAVEXg1csRzyzTuM634L88vvI0iDHNQQK3kOVR0/edit?usp=sharing

[2021-01-21 20:13] aokolnychyi commented on #2079
@RussellSpitzer @holdenk, will you have time to work on this one? I think it is quite important since our schema evolution will break if someone renames or drops a column that is referenced by the metrics config.

[2021-01-21 20:20] holdenk commented on #2079
Yeah I'm happy to do the follow on task :)

[2021-01-21 20:21] aokolnychyi commented on #2079
Thanks, @holdenk!

[2021-01-21 20:55] jackye1995 commented on #1617
Thanks for the design doc! I wonder if this can be done through changes in Catalog and FileIO without touching the Iceberg specification, which can be much simpler to ship without conflicting with already quite a few changes for the format v2 specifications.

The key difficulty I see is that table property is a part of the table metadata file. Therefore we cannot know if a table should use any spe

[2021-01-22 01:14] #1680 closed

[2021-01-22 01:22] #2100 closed

[2021-01-22 03:29] gaojun2048 commented on #1973
Is event one can help me?

[2021-01-22 04:00] HeartSaVioR commented on #1973
I'm not sure that is supported, as you see in the Iceberg document. At least the case requires Iceberg to support partition value "range" for a specific data file (as your data file will be no longer bound to the single partition), which I'm not sure that is something Iceberg community would like to solve in near future. (DISCLAIMER: I'm just a contributor and the direction is made by Iceberg comm

[2021-01-22 04:17] HeartSaVioR commented on #2130
If your workload doesn't need to have full history of snapshots, why not doing some maintenance work in the background?
Specifically expiring snapshots: https://iceberg.apache.org/maintenance/#expire-snapshots

IMHO the idea looks feasible, but it adds the complexity and makes it harder to debug so sounds like a trade-off. I'm just a contributor and others may have different opinions. It might be

[2021-01-22 04:23] davidwilcox commented on #2130
Thanks @HeartSaVioR! I already sent an email on the mailing list.

[2021-01-22 04:29] HeartSaVioR commented on #2122
That's a fundamental issue on "Spark" side, not "Iceberg" side. Spark only has the type "timestamp" which is used as "timestamp with timezone". Iceberg can't add the support of "timestamp without timezone" arbitrarily on Spark. Spark's "user defined type" is not a public API so Iceberg can't even expose the column of the type as UDT as well.

There still has a possibility to expose it under "long"

[2021-01-22 04:41] davidwilcox commented on #2130
Looking at this a bit more, I think that this was actually fixed about six months ago in this commit: a5d105d20a1ad816d9a662901780195da7a450fb

Notice that the call to `io.newInputFile` got moved into a lazy call instead of an eager call. I must still be using an old version of Iceberg.

[2021-01-22 04:42] #2130 closed

[2021-01-22 08:06] openinx opened #2133 "Flink: it will throw exception when executing 'CREATE TABLE IF NOT EXITS'"
[code]

[2021-01-22 08:28] zhangjun0x01 commented on #2133
Currently flink syntax does not support `CREATE TABLE IF NOT EXISTS` ([doc](https://ci.apache.org/projects/flink/flink-docs-stable/dev/table/sql/create.html#create-table)), I think it should be a flink issue, we should create a flink issue to impove it.

[2021-01-22 10:03] openinx commented on #2133
@zhangjun0x01 ,  we flink 1.11.x does not support `CREATE TABLE IF NOT EXISTS` (see: [here](https://github.com/apache/flink/blob/release-1.11/flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl#L723) ),  but flink 1.12.x starts to support it ( see:  [here](https://github.com/apache/flink/blob/release-1.12/flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl#L80

[2021-01-22 10:16] ismailsimsek commented on #2128
@zanmeipaul i have [ debezium-server-iceberg ](https://github.com/memiiso/debezium-server-iceberg) doing that, using debezium-server.
using this project you can append CDC data/events to iceberg table. without spark or kafka in between.

i was planing to add it to iceberg reference list, if it fits to iceberg project Im happy to create pull request. @rdblue

[2021-01-22 11:36] openinx opened #2136 "Improve the flink document page for iceberg release 0.11.0"
Since we've merged those major features for flink module,  it's necessary to update the flink document so that flink users could get start to use those features quickly.

The major features are:
1.  Flink Streaming reader ;
2.  Iceberg's `write.distribution-mode` to reduce small files when starting flink streaming job to write data to iceberg.
3.  Flink's batch rewrite actions.

[2021-01-22 14:32] openinx opened #2137 "Another hive connection leak issue from spark"
After committed the #1936,  the travis ci report a hive connection leak issue from spark module:

[code]

[2021-01-22 17:06] elkhand commented on #2033
This can be reproduced locally too(running in local Flink cluster):
- start the job, let few checkpoints succeed
- stop the job with the final savepoint
[code]
- restart the job from the savepoint
[code]
The result:
- only Flink specific manifest files are created, and Iceberg specific files are NOT created.

[2021-01-22 17:56] pan3793 commented on #2137
This issue exists for sometimes, see #2098

[2021-01-22 18:08] rdblue commented on #2128
@ismailsimsek, sounds like an interesting use case! If you write up a blog post or anything, please let us know. I don't think that we want to include projects that specific in Iceberg itself, but I would definitely want to highlight your work in the community to let others know about it. Maybe send an email to the dev list?

[2021-01-22 19:31] anuragmantri commented on #1617
Thanks for your comments @jackye1995. We discussed your proposal and here are our thoughts.

- Making no changes to the file paths and relying on `FileIO` implementations to internally interpret them differently can cause confusion since the same path could mean totally different locations based on the underlying implementation.

With our approach,
- The path we see in metadata files is the path t

[2021-01-22 20:21] ismailsimsek commented on #2128
agree that makes sense, i will share on dev list, and put link to blog page after its created

[2021-01-22 20:32] rdblue commented on #1617
Hi Anurag,

I read the doc through the Proposal and Approach sections and I am quite
confused about what your proposal is. Could you clarify it a bit? It may be
obvious from the following example sections what the changes are and why
they are needed, but I think that information should be in the
proposal/approach.

rb

On Fri, Jan 22, 2021 at 11:31 AM Anurag Mantripragada <
notifications@github.co

[2021-01-22 21:24] rdblue commented on #2133
Merged #2135.

[2021-01-22 21:24] #2133 closed

[2021-01-22 23:10] RussellSpitzer commented on #2068
I'm going to finish up a conversion of our internal method and post it up for review, we can talk more about safety checks and utility once it's sketched up a bit more I think.

[2021-01-23 00:53] holdenk commented on #2079
So I'm thinking that rather than rewrite the metrics during schema transformation, when the schema is loaded we convert the from column names to references. What do folks think?

[2021-01-23 04:23] elkhand commented on #2033
The root cause of the issue is related to this part of the code in `IcebergFilesCommitter` class:

[code]

When **savepoint** is created, in `metadata.json` file `flink.max-committed-checkpoint-id` is set to the very big number `9223372036854775807`:
[code]

This condition `if (checkpointId > maxCommittedCheckpointId)` always evaluates to fase, thus the transaction is not committed., thus Iceberg

[2021-01-23 15:30] kezhuw commented on #2033
@sunhaibotb @zhijiangW @rkhachatryan  @pnowojski @kl0u @zentol @aljoscha

I think it is a bug of Flink and was introduced in [FLINK-14228]()(apache/flink#9854, apache/flink#10151). The changes for [FLINK-14228]() relay on `StreamTask.afterInvoke`  and `OperatorChain.closeOperators` will only be invoked after **end of input**. But that is not true after [FLIP-34]() long before. Task could enter a *

[2021-01-23 17:16] aokolnychyi commented on #2079
@holdenk, could you elaborate a bit more on the idea? I am not sure I fully understood.

[2021-01-24 19:53] ismailsimsek opened #2144 "Hadoop catalog missing no-arg constructor"
Hadoop catalog missing no-arg constructor, CatalogUtil.loadCatalog code giving following error meesage

[code]

[code]

[2021-01-24 20:09] ismailsimsek commented on #2144
my bad,

i wasn't using it right, `catalogImpl` should be class name instead of `hadoop`

[code]

[2021-01-24 20:09] #2144 closed

[2021-01-24 21:13] Fokko commented on #578
This is more or less covered :)

[2021-01-24 21:13] #578 closed

[2021-01-24 21:14] #1402 closed

[2021-01-25 04:11] dongjoon-hyun commented on #2041
As @HeartSaVioR mentioned, this is not a bug. Instead, it's the standard SQL behavior when there is no explicit column list.
[code]

Apache Spark 3.1.1 will start to support the explicit column list in `INSERT INTO` statement.
- https://issues.apache.org/jira/browse/SPARK-32976

Although Spark 3.1.1 is still RC1 and Iceberg 0.11.0 RC0 is not compatible with it yet, I believe this issue will be res

[2021-01-25 05:35] HeartSaVioR commented on #2041
Oh great to know it is addressed in Spark via SPARK-32976 and will be available. Thanks for the info!

[2021-01-25 09:23] rymurr opened #2145 "CatalogUtil.loadCatalog error message unclear"
When instantiating a catalog with its no-arg constructor the [error message](https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/CatalogUtil.java#L157) is confusing.

The exception is always raised as 'missing no-arg constructor' even if there is an exception in the constructor or the class can't be found. The thrown exception should be clarified to better reflect t

[2021-01-25 13:36] saurabhagas opened #2148 "Make ParquetConversions class and its method publicly accessible"
`ParquetConversions` is a utility class which converts parquet types to Iceberg literals. The class and its methods are package-private, which make them unavailable for public use. The intent behind this is likely to restrict the use and make users use the `ParquetUtil` class.

Dremio cannot call `ParquetUtil::footerMetrics` to get Iceberg `Metrics` directly because of our own needs (e.g. differen

[2021-01-25 13:43] saurabhagas commented on #2148
Raised a PR at: https://github.com/apache/iceberg/pull/2149. Please let me know if the change is acceptable.

[2021-01-25 15:35] kezhuw commented on #2033
Hi @elkhand, I have reported your investigation and my speculation in https://issues.apache.org/jira/browse/FLINK-21132. Hopefully, there will be response in next few days.

[2021-01-25 18:27] pnowojski commented on #2033
Is it possible for you to verify, if the problem goes away if you disable operator chaining for the `IcebergFilesCommitter` operator? If `IceberFilesCommiter` is an operator, you could override the default `AbstractStreamOperator#chainingStrategy` field. If it's a sink function I think you could [use `startNewChain()` call](https://ci.apache.org/projects/flink/flink-docs-stable/dev/stream/operator

[2021-01-25 19:28] elkhand commented on #2033
Thank you @kezhuw @pnowojski

This is the call order of `endInput()`:
![image](https://user-images.githubusercontent.com/4366998/105750587-c9c60e80-5ef9-11eb-9d27-0b54e0f10b80.png)

New findings:
This issue occurs when you take savepoint which also terminates the job:
[code]
But if you just take savepoint, and **NOT** terminate the job, the `flink.max-committed-checkpoint-id` is set to expected va

[2021-01-25 19:45] elkhand commented on #2033
Tried this:
https://flink.apache.org/news/2019/08/22/release-1.9.0.html#stop-with-savepoint-flip-34
Stop-with-Savepoint (FLIP-34)
`Cancelling with a savepoint`
[code]
This **did not** work, seems `endInput()` was still called and `flink.max-committed-checkpoint-id` set to `Long.MAX_VALUE`.

The deprecated method `bin/flink cancel -s [:targetDirectory] :jobId` **works correctly** though:
https://ci

[2021-01-25 20:09] pnowojski commented on #2033
@elkhand and what happens if you disable chaining for the whole job?

[2021-01-25 20:35] tweise commented on #2033
@pnowojski can you share how chaining interacts with job termination? What we want is `suspend`, we don't want any form of drain or final watermark processing.

[2021-01-25 20:44] tweise commented on #2033
The difference we observe is that between "SUSPEND" and "TERMINATE" on
https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=103090212

[2021-01-25 21:44] elkhand commented on #2033
@pnowojski after disabling operator chaining (via `StreamExecutionEnvironment.disableOperatorChaining()`) for the whole job level, still facing the same issue:

`bin/flink stop -p /tmp/flink-savepoints 20ec3ed84657bbf43ec746bb771ae4fb` this cmd still has the same wird issue - `flink.max-committed-checkpoint-id` set to `Long.MAX_VALUE` (which is set in `endInput()`)

`./bin/flink stop --savepointPa

[2021-01-25 22:32] stevenzwu commented on #2033
I think one of the problem is how `IcebergFilesCommitter` use `maxCommittedCheckpointId` to de-dup committed manifests upon recovery. That is why it checkpoint and restore the checkpointId, which was impacted by the `Long.MAX_VALUE` with `endInput()`.

In our internal implementation, we are storing a hash value for each of the committing manifest file path. Upon recovery, we use that metadata in s

[2021-01-25 22:33] anuragmantri commented on #1617
Thanks for the initial feedback @rdblue. I rephrased the proposal and approach sections. Could you please take another look at the doc?

Thanks,
Anurag

[2021-01-26 00:13] HeartSaVioR commented on #717
fanout writer will enable you to do this without repartition/sort. There's no doc yet (as I guess the functionality will be available in 0.11) so please refer https://github.com/apache/iceberg/pull/1929 to let yourself preview the functionality.

[2021-01-26 02:45] kezhuw commented on #2033
@pnowojski I think changing chaining strategy does not help. Synchronous savepoint causes successful job termination(!isCanceledOrFailed), which causes finish of partition writer of legacy source. Downstream operator will receive EndOfPartitionEvent finally.

[2021-01-26 05:13] qphien commented on #2093
Sorry for my late reply.

In my use case, partition creation time is used to remove expired partition.  A few jobs may be used to write to the same partition at different times. With partition update time, i can track related jobs which update the table partition.

I searched related issues on github and dev mails:
https://github.com/apache/iceberg/issues/1597: remove expired snapshot with snapsho

[2021-01-26 10:14] davseitsev commented on #2122
According to Spark docs `TimestampType` represents values comprising values of fields year, month, day, hour, minute, and second, with the session local time-zone. The timestamp value represents an absolute point in time.  So it's more like `LocalDateTime`. Why can't  Iceberg expose `timestamp without timezone` as Spark `timestamp`?

As far as I understand the problem is that Spark has only one ti

[2021-01-26 21:08] rdblue commented on #2136
Merged #2147.

Docs aren't included in the releases, we just update the site afterwards. So there is no need to get these done before the release in the future. We can always fix the site after.

[2021-01-26 21:08] #2136 closed

[2021-01-26 21:09] WilliamWhispell commented on #1766
Hi @jackye1995 - I see 0.11.0 was released today on Github - Any update on Athena support?

[2021-01-27 04:57] zhangjun0x01 opened #2161 "Spark : list Avro format partition error in SparkTableUtil"
In method `org.apache.iceberg.spark.SparkTableUtil#listAvroPartition` ,when we list the file to structure `DataFile`，the  `recordCount` is missing, the `recordCount` of `Metrics` is -1, and also not be set by `DataFiles.builder(spec).withRecordCount()`,but the recordCount is required.

`org.apache.iceberg.DataFiles.Builder#build` method will check the recordCount
[code]

[2021-01-27 05:57] HeartSaVioR commented on #2122
(DISCLAIMER: I'm just a contributor of the project, but familiar with ASF projects.)

Why not initiating discussion thread in dev@ mailing list? Basically ASF project is community driven and making consensus is the core culture. Discussion thread in dev@ mailing list would provide better traction and also would help making progress.

[2021-01-27 08:32] zhangjun0x01 opened #2162 "Flink : migrate existing hive table to iceberg table"
Currently, for flink users, if we want to migrate an existing hive table to an iceberg table, we may need to create an iceberg table first, and then use a  SQL  like ` insert into iceberg_table select * from hive_table ` to complete this work. There are two disadvantages to using this method, one is that it takes too long time, and the other is that it causes data duplication. Therefore, we need a

[2021-01-28 03:00] simuhunluo opened #2168 "Flink: [doc] Is there a full example for Iceberg+Flink+S3 ?"
Just found this, but only spark example supported
https://github.com/apache/iceberg/blob/master/site/docs/aws.md

It would be better if there is a complete FlinkSQL+s3 example.

[2021-01-28 03:04] wypoon opened #2169 "Lookup of data file by path string is not robust to non-normalized paths"
Impala has been adding support for Iceberg in the Impala project.
We have been doing some interop testing of this support in progress.
We have found that an Iceberg table written by Impala fails to be read by Spark.
On investigation, we found that in the manifest written by Impala, the file path has an extraneous '/':
[code]
Note the extraneous '/' before the filename.
This causes the `InputFile`

[2021-01-28 03:11] wypoon commented on #2169
I created a [PR](https://github.com/apache/iceberg/pull/2170) with a fix.

[2021-01-28 04:15] simuhunluo commented on #2168
In this scene, where to configure aws_access_key_id ,aws_secret_access_key .  In hive-site.xml ?

[2021-01-28 04:32] simuhunluo commented on #2168
In addition, if you want to use the open source minio as a poc verification, how to configure access_key, secret_access_key , endpoint, DynamoDb ?

[2021-01-28 04:33] simuhunluo commented on #2168
In addition, if want to use the open source minio as a poc verification, how to configure access_key, secret_access_key , endpoint, DynamoDb ?

[2021-01-28 04:33] simuhunluo commented on #2168
In addition, if want to use the open source [minio ](https://github.com/minio/minio/)as a poc verification, how to configure access_key, secret_access_key , endpoint, DynamoDb ?

[2021-01-28 07:35] aokolnychyi commented on #2168
cc @jackye1995

[2021-01-28 07:55] bkahloon opened #2172 "Flink SQL Error when trying to write a Flink changelog table to an Iceberg table"
I'm facing some issues with writing a Flink changelog table to an Icberg table (maybe my query is wrong).

My Flink CDC query

[code]

Creation of Iceberg table after I switch the catalog to my Iceberg catalog (catalog implementation is AWS Glue, confirmed that I'm able to connect to Glue Catalog).

[code]

Then I tried to insert the changelog table into the Iceberg table

[code]

[2021-01-28 07:56] jackye1995 commented on #2168
In general, each compute engine has its own page to explain loading custom catalog, that's why only spark example is given in AWS page. Probably good to add this note in the AWS page. I am gathering the small fixes for the 0.11 website right now, I will update them all at once, thanks for the suggestion.

To answer your question around Flink, use the guide here: https://iceberg.apache.org/flink/#c

[2021-01-28 08:02] bkahloon commented on #2168
I was able to use the following changes in the `sql-client-defaults.yaml` file to get an integration between Flink SQL Client, Iceberg and AWS Glue

[code]

I also added the Iceberg Flink runtime jar to Flink's lib directory as well as the AWS SDK and HTTP client jars as well.

[2021-01-28 08:13] kkishoreyadav opened #2173 "Iceberg newbie questions"
Hello Community,
I am solving the problem of handling late arrived data in one of our systems. Currently, we wait for 8 hours for the late data to arrive before starting processing the current hour data.

We have three stages in our pipeline A -> B -> C where B waits for 8 hours for A's hourly data to complete, C waits for 8 hours for B's data to be complete as well.

A writes Avro data in GCS (in

[2021-01-28 08:14] kkishoreyadav opened #2174 "Iceberg is not working when writing AVRO from spark"
1) We are encountering the following error when appending AVRO files from GCS to table. The avro files are valid but we use deflated avro, is that a concern?

Exception in thread "streaming-job-executor-0" java.lang.NoClassDefFoundError: org/apache/avro/InvalidAvroMagicException at org.apache.iceberg.avro.AvroIterable.newFileReader(AvroIterable.java:101) at org.apache.iceberg.avro.AvroIterable.ite

[2021-01-28 09:28] wjxiz1992 opened #2175 "MERGE INTO statement cannot run with Spark SQL"
I'm trying to test the merge into statement in Spark SQL with Iceberg extension:

[code]

Here's my test:

[code]

for the environment:

[code]

not 100% sure if the extension has been loaded correctly because it seems to be a parser issue that it doesn't recognize "set".

[2021-01-28 09:42] HeartSaVioR commented on #2175
Iceberg parser extension doesn't add `MERGE INTO`. Spark does have it.

According to Spark parser rule, I guess you missed `UPDATE`, so `UPDATE set t.id = t.id + s.id`.

[2021-01-28 09:43] dilipbiswal commented on #2175
Hello,

Here is the grammar  for matched clause and matched action.

matchedClause
    : WHEN MATCHED (AND matchedCond=booleanExpression)? THEN matchedAction
    ;

matchedAction
    : DELETE
    | UPDATE SET ASTERISK
    | UPDATE SET assignmentList
    ;

You are missing the :"UPDATE" keyword ?

Regards
-- Dilip
On Thu, Jan 28, 2021 at 1:28 AM wjxiz <notifications@github.com> wrote:

[2021-01-28 09:47] simuhunluo commented on #2168
👍👍 Thanks for your answer.

[2021-01-28 09:50] wjxiz1992 commented on #2175
Thanks a lot for the very quick response!
Yes, I missed the "update" keyword here, the query works after I added it.
Should we update the [doc here](https://iceberg.apache.org/getting-started/#writing) as it's under the section of "Spark"?

[2021-01-28 09:52] simuhunluo commented on #2168
@bkahloon  where the metadata store, Together with data in s3?

[2021-01-28 09:59] HeartSaVioR commented on #2175
Ah yes didn't realize you're trying to follow the doc. Would you mind if I ask to submit a PR for the fix? I'll take it up if you mind. Thanks in advance!

[2021-01-28 10:18] wjxiz1992 commented on #2175
@HeartSaVioR Glad to submit a PR for it, but I couldn't find the corresponding file that contains related content.
The only file I can find is a MkDoc generated html: https://github.com/apache/iceberg/blob/asf-site/getting-started/index.html#L464 but I don't think I should make any change to that directly. The [getting-started.md](https://github.com/apache/iceberg/blob/064f4f565b892f6bae462ada8203

[2021-01-28 16:33] bkahloon commented on #2168
Are you asking about Iceberg metadata files?

[2021-01-28 16:53] simuhunluo commented on #2168
@bkahloon  Yeah.

[2021-01-28 17:05] bkahloon commented on #2168
@simuhunluo I have not able to write to an Iceberg table yet, so I'm not sure what will happen in regards to the metadata files (I haven't looked through all the source code for the Glue Catalog as well). I had some issues with writing to the Iceberg table and have opened #2172

[2021-01-28 17:08] adnanhb opened #2176 "Running iceberg with spark 3 in local mode"
Hi,
I am running into an exception when writing to an iceberg table using spark 3 in local mode.
Code is roughly:

[code]

The above code results in the following exception:
`Exception in thread "main" org.apache.iceberg.hive.RuntimeMetaException: Failed to connect to Hive Metastore
        at org.apache.iceberg.hive.HiveClientPool.newClient(HiveClientPool.java:63)
        at org.apache.iceberg.hi

[2021-01-28 17:17] rdblue commented on #2175
Fixed in the docs. Thanks, everyone for finding the problem!

[2021-01-28 17:17] #2175 closed

[2021-01-28 17:45] RussellSpitzer commented on #2176
It is possible but you have specified connecting to a Hive Metastore instance, and the connection is failing, If you don't have one I would switch your catalog settings to

[code]

[2021-01-28 17:50] bkahloon commented on #2172
@openinx could you please point me in the right direction

[2021-01-28 18:37] aokolnychyi commented on #2124
Thanks for submitting a fix for this, @steveloughran. Seems like this issue is resolved but I am wondering whether we should add this functionality to other places like `RemoveOrphanFilesAction` that do lists as well.

[2021-01-28 19:54] #2145 closed

[2021-01-29 04:01] openinx commented on #2172
@bkahloon ,   in this iceberg 0.11.0 release,  we still don't support exporting cdc events to iceberg by using flink SQL, but data stream is supported.  Here is PR: https://github.com/apache/iceberg/commit/1b66bdfc084ac73fe999299d041aa2e5677f43c9.

Supporting the flink SQL will be the exact goal in 0.12.0 .  For more details, you mean interested in this presentation:
![image](https://user-images.g

[2021-01-29 04:23] Simmyo opened #2181 "Flink: Can't use flink sql to create hive catalog"
I tried to use flink sql to create hive catalog, but an error was reported, Can you give me some advice?

**My environment:** flink1.11.2, iceberg0.11.0,hive2.3.6
**Sql**:
[code]
**error message:**
[code]
**My dependences:**
[code]

[2021-01-29 04:27] bkahloon commented on #2172
Thanks a lot for the info @openinx

[2021-01-29 04:27] #2172 closed

[2021-01-29 06:58] simuhunluo commented on #2181
Have you try execute sql with command in sql-shell?

[2021-01-29 07:03] zhangjun0x01 commented on #2181
`iceberg-flink` and `iceberg-hive-metastore` is unnecessary，you can remove it from pom, we only need `iceberg-flink-runtime-xxx.jar` and `flink-sql-connector-hive-2.3.6_2.11-1.11.0.jar`,see [doc](https://iceberg.apache.org/flink/)

[2021-01-29 07:18] simuhunluo commented on #2168
@bkahloon   ok, be glad to share.

In fact , I am trying to use hive metastore service  but not aws glue table.
+ After creating catalog with flink sql client(using minio as s3 service poc verification),
[code]
+ When try to create the database, some error occurred
[code]
+ error content:
[code]

It is easy to understand why this error occurs. `minioadmin` is my local minio servicekey, It does not

[2021-01-29 07:29] yutaoChina opened #2183 "now it can delete"

[2021-01-29 07:52] jackye1995 commented on #2168
Iceberg table metadata (table version metadata, snapshot, manifest), are always stored in the storage, because itself can become "big metadata". For GlueCatalog, it is stored under the path configured under `warehouse`. For Hive, it uses Hive's metastore config key `hive.metastore.warehouse.dir. ([link](https://github.com/apache/iceberg/blob/master/hive-metastore/src/main/java/org/apache/iceberg/h

[2021-01-29 08:23] simuhunluo commented on #2168
Thanks for your answer. I have gained a lot. Metadata must store with data. This issue will be closed.

[2021-01-29 08:26] jackye1995 commented on #2168
Metadata does not need to be in the same storage as the data. But it is stored in a storage.

[2021-01-29 08:30] simuhunluo commented on #2168
The storage should be a filesystem?

[2021-01-29 08:37] jackye1995 commented on #2168
No, S3 is not a file system for example. It completely depends on your implementation of `org.apache.iceberg.io.FileIO`. When you use `HiveCatalog` and `HadoopCatalog`, it by default uses `HadoopFileIO` which treats `s3://` as a file system. But if you use `ClueCatalog`, it uses `S3FileIO` which does not have file system assumptions (which also means better performance).

So when I say "storage",

[2021-01-29 08:48] simuhunluo commented on #2168
In other words, I can implement MysqlIO to store metadata , and S3FileIO/HadoopFileIO(iceberg has supported) to store data.  Will this cause performance problems?

[2021-01-29 08:55] jackye1995 commented on #2168
The interface only allows defining a single FileIO for both operations. However, if you read the interface, you will realize that you can check the file path to see if it is metadata file or not, and then choose to write metadata and data differently. It is a very flexible interface.

In fact, the `HadoopFileIO` is doing such a thing right now for `HiveCatalog`. If you define a s3 path for your `w

[2021-01-29 10:38] Simmyo commented on #2181
I was able to do this successfully with sql-shell

[2021-01-29 10:52] Simmyo commented on #2181
I still get the same error after I remove it.

[2021-01-29 11:02] Simmyo commented on #2181
remove `iceberg-hive-metastore` , unable to connect hive metastore.
[code]

[2021-01-29 13:40] openinx commented on #2181
@Simmyo ,  Yeah,  I guess it's true that we need the iceberg-hive-metastore  to load iceberg table inside the task managers if you are running flink data streaming job.

[2021-01-29 14:54] Simmyo commented on #2181
I think the official website document should be more detailed, I can't get much information

[2021-01-29 16:01] stevenzwu opened #2184 "Flink: move away from InternalSerializers for cloning RowData"
Right now, Flink code needs to use `InternalSerializers` to clone RowData. We should just avoid using `@Internal` classes as Flink is free to break the compatibility in minor releases.

We can clone a RowData into a newly created GenericRowData, that means we don't have to use the complex TypeSerializer ( that is used for copying binary data for BinaryRowData).

Ideally, Flink should provide a pub

[2021-01-29 17:50] elkhand commented on #2033
Anyone facing the same issue, to bypass the issue until this bug is fixed on the Flink side:
You do not need to fix corrupted metadata files where `flink.max-committed-checkpoint-id` is set to `Long.MAX_VALUE`.

Just follow this workflow for stateful upgrades going forward - this flow works as expected and you do not get corrupted metadata file anymore:
- take manual savepoint, no job stopping or

[2021-01-29 18:17] jackye1995 commented on #2176
You are using hive catalog for your `spark_catalog` catalog, and hadoop catalog for your `local` catalog.

For hive catalog, you need to also specify the `uri` config, and you also need `warehouse` config:

[code]

Combine with Russell's answer, the complete config should be:

[code]

[2021-01-29 18:18] wypoon commented on #2169
A [fix](https://github.com/apache/iceberg/pull/2170) has been merged.

[2021-01-29 18:18] #2169 closed

[2021-01-29 21:46] elkhand commented on #2033
Verified with @RussellSpitzer (thanks!):

You do not need to fix values of `flink.max-committed-checkpoint-id` in existing Iceberg metadata files either. You should be safe going forward: Flink/Presto/HMS/ Spark/Other engine should not be impacted by the wrong value (`Long.MAX_VALUE`) of `flink.max-committed-checkpoint-id` field.

If you follow the above mentioned alternative flow, Flink will also

[2021-01-29 22:25] ismailsimsek commented on #1439
@it-sceptic this is now possible with [MERGE INTO](https://iceberg.apache.org/spark-writes/#merge-into) feature (iceberg release 0.11.0)

you can find [scd2 example here](https://github.com/ismailsimsek/iceberg-examples/blob/master/src/main/java/IcebergSCD2.java)

[2021-01-30 03:27] tweise commented on #1626
https://github.com/apache/iceberg/pull/2105

[2021-02-01 02:25] #2168 closed

[2021-02-01 05:57] medb commented on #1078
@asheeshgarg Did you resolve this issue? Maybe you just need to increase number of records that are written in each parquet files? (if slowness come from the fact that persisting sparse data in Parquet produces many small files)

[2021-02-01 07:50] #2093 closed

[2021-02-01 12:52] openinx opened #2190 "Provide full unit tests for flink savepoints workflow"
In this issue https://github.com/apache/iceberg/issues/2033,  @elkhand have debugged a hard bug in real production environ about the flink savepoint.  I think we'd better to have fully covered unit tests about the savepoint of flink+iceberg integration work.

Let's address the UT in this PR.

[2021-02-01 12:53] openinx commented on #2033
Thanks @elkhand for your patient debugging, it's really impressive,  your suggested workflow looks great before we resolve this bug in flink.  and thanks @kezhuw for reporting this bug to apache flink.   I think this issue exposes a problem with the current integration of flink and iceberg:  we did not have unit tests to address the flink savepoint issue,  so I  opened an issue to address this : h

[2021-02-01 14:02] pvary commented on #1927
@lcspinter: Could we close this?

Thanks,
Peter

[2021-02-01 14:02] pvary commented on #1926
@lcspinter: Could we close this?

Thanks,
Peter

[2021-02-01 14:03] pvary commented on #1925
@lcspinter: Could we close this?

Thanks,
Peter

[2021-02-01 14:04] pvary commented on #1923
@lcspinter checked the possibilities and the `ObjectInspectors` are in the mr module and the schema conversion is in the hive-metastore module. If we want to keep them separated there is no easy way to merge the logic. We can skip this task in the hopes that the supported data types are fairly constant

[2021-02-01 14:04] #1923 closed

[2021-02-01 14:06] pvary commented on #1921
Fixed by @lcspinter  in #2086

[2021-02-01 14:06] #1921 closed

[2021-02-01 14:07] #1927 closed

[2021-02-01 14:07] #1925 closed

[2021-02-01 14:08] #1926 closed

[2021-02-01 14:08] #1898 closed

[2021-02-01 14:12] pvary commented on #1155
I think we can close this issue, as the catalog configuration is already there.
What do you think @rdsr?

Thanks,
Peter

[2021-02-01 14:13] pvary commented on #798
@figo10203: Could we close this issue as abandoned? Or is this problem still exists?

Thanks,
Peter

[2021-02-01 17:01] rdsr commented on #1155
I think so too, I haven't been following the code changes, but I do see in the `hive.md` that we can use `HiveCatalog`

[2021-02-01 17:10] #1155 closed

[2021-02-01 21:26] adnanhb opened #2192 "Cannot write incompatible dataset to table with schema error for list types"
Hello,
I have a spark application which writes parquet files and then reads them into an iceberg table using spark. This spark job fails with this error: elements should be required, but are optional.

The schema I am using has 2 primitive fields and one array containing a record of a single primitive type.

After a little searching, i came across a past issue which is very similar: [https://githu

[2021-02-02 02:13] bkahloon commented on #2172
@openinx just a follow up question. I ingested the data using the datastream Flink CDC api. I then used the FlinkSink in Iceberg to write to the Iceberg table. However, I can't seem to figure out this behaviour.

The application reads all the rows in the source db, but then doesn't write to the Iceberg table until I cancel the job (it's as if the data gets committed and shows up in S3 once I cance

[2021-02-02 03:22] openinx commented on #2172
Yes, the flink sink will commit those files for every checkpoint interval actually. If you can not see the newly committed data files in S3,  then I guess it should have some problems.   Did you recover the flink job from a savepoint ?  There's a bug that will cause the similar issue, you might want to read the issue: https://github.com/apache/iceberg/issues/2033#issue-779721770, and the current s

[2021-02-02 05:40] bkahloon commented on #2172
@openinx Sorry, it was just an issue with how I implemented a custom debezium deserializer (wrong RowKind for some rows). After I fixed that everything works fine.

Could maybe help me understand this scenario. Lets say in the source db we only get like 10 rows inserted in the last 1 hour and we set our Flink checkpoint interval to 1 hr. Will FlinkSink just just commit a new parquet file with thes

[2021-02-02 05:57] CodingCat opened #2194 "release python pkg to pypi?"
Hi, all

is there any recent plan to release python pkg to pypi?

Thanks

Nan

[2021-02-02 06:37] Stephen-Robin opened #2195 "Core: Data loss after compaction"
There is a high probability of data loss after compaction through some rewrite data files test. After compacting a table ,some  rows will be lost.

The reproduction process is as follows:
1)    create a new iceberg table
     create table test (id int, age int) using iceberg;
2)    Write initial data, Keep writing data until the generated file size is more than 10M(splitTargetSize when compaction)

[2021-02-02 11:45] dixingxing0 opened #2198 "Hive: got error while joining iceberg table and hive table"
I got an error while join iceberg table and hive table at same time, most of mappers succeed, but some mappers got an `cannot find field` error:

[code]
Environment:
[code]
 I found some clues:

[code]

The split file is for `hive_table1`(which is an empty table for test), but still the mapper using `org.apache.iceberg.mr.hive.HiveIcebergSerDe`, the table properties is also from `iceberg_table1`.

[2021-02-02 13:31] pvary commented on #2198
@dixingxing0: I have tried this in the unit tests where the customers table is an iceberg table and have 3 rows:
[code]

The queries were successfully executed on my env (Hive 2.3.7/3.1.2, Iceberg master branch)

To repro the case there are several things that would be really helpful:
- `SHOW CREATE TABLE` output for both source tables
- Could you please check if the `empty` file actually in the `

[2021-02-02 14:28] RussellSpitzer commented on #2195
That does seem pretty dangerous although I haven't seen this happen before.

Do you have the snapshot summary for the compaction operation? It should
hopefully also provide some hints as to what is going on
It would also be great if you had a programmatic reproduction of the issue.

On Tue, Feb 2, 2021 at 12:38 AM Stephen-Robin <notifications@github.com>
wrote:

[2021-02-02 15:11] Stephen-Robin commented on #2195
Thanks for your reply.  I have described how to reproduce in the issue. 

First create a new iceberg table, and insert initial values. The compaction params like splitTargetSize are 10M and other parameters such as splitOpenFileCost(4M) are default values.
Then insert data continuously through `insert into table select * from table`, until the size of the most recently generated parquet file is mo

[2021-02-02 15:13] Stephen-Robin commented on #2195
Thanks for your reply.  I have described how to reproduce in the issue. 

First create a new iceberg table, and insert initial values. The compaction params like splitTargetSize are 10M and other parameters such as splitOpenFileCost(4M) are default values.
Then insert data continuously through `insert into table select * from table`, until the size of the most recently generated parquet file is mo

[2021-02-02 15:18] Stephen-Robin commented on #2195
Thank you for your reply.I have described how to reproduce in the issue. 

First create a new iceberg table, and insert initial values. The compaction params like splitTargetSize are 10M and other parameters such as splitOpenFileCost(4M) are default values.
Then insert data continuously through `insert into table select * from table`, until the size of the most recently generated parquet file is m

[2021-02-02 15:23] Stephen-Robin commented on #2195
@RussellSpitzer Thank you for your reply.I have described how to reproduce in the issue. 

First create a new iceberg table, and insert initial values. The compaction params like splitTargetSize are 10M and other parameters such as splitOpenFileCost(4M) are default values.
Then insert data continuously through `insert into table select * from table`, until the size of the most recently generated p

[2021-02-02 15:41] Stephen-Robin commented on #2195
Thanks for your reply.
When we have a 'large file' that size is larger than 'targetSizeInBytes'. Some part of this 'large file' that occupy whole bin pack will not be rewrite. But the whole 'large file' will be deleted because it is in the currentDataFiles.

Using the example mentioned in the issue, file part A (10M) is not in currentFile,  file part B (1M) is in currentFile, but file A (10M) is n

[2021-02-02 16:50] Stephen-Robin commented on #2195
@RussellSpitzer Thanks for your reply
I just ran my previous experiment again and  will introduce my reproduction process in detail below.
Creating tables and inserting data have been mentioned above, Then
![image](https://user-images.githubusercontent.com/77377842/106631262-8cc3e100-65b7-11eb-87a8-dc99ac4fb786.png)
![image](https://user-images.githubusercontent.com/77377842/106631285-92212b80-65b

[2021-02-02 17:20] RussellSpitzer commented on #2195
I wrote a programmatic repo which fits into TestRewriteDataFilesAction, (although I would like to shrink the test file size)

[code]
  This code occasionally drops all of the records from the first write.

[code]

[2021-02-02 17:35] Stephen-Robin commented on #2195
During my test, I did not modify TableProperties.SPLIT_SIZE. The default value was used, but the splitTargetSize was set to 10M during compaction.

[2021-02-02 17:40] Stephen-Robin commented on #2195
I think you may insert a breakpoint at line 232 of the BaseRewriteDataFilesAction file to see if the file written for the first time is filtered out, similar to the screenshot above.

[2021-02-02 18:50] RussellSpitzer commented on #2195
I tried a slightly different fix were we just check in the filter command whether there is more than 1 file OR if there is a single file but it is a partial scan, Scan Length < File sizeInBytes and that seems to work as well without building up the fileName set which may be an issue with very large numbers of files.

[code]

[code]

[2021-02-03 00:16] #2094 closed

[2021-02-03 06:03] bkahloon opened #2202 "Unable to query Iceberg data from Spark on EMR"
I seem to be having some difficulties with integrating AWS Glue catalog and Flink. If I try to register an Iceberg catalog, databases or tables from the Flink SQL client the appropriate names show up in Glue catalog but the location field is not updated (preventing me from querying it using some other query engine).

To provide some more details this was my workflow:

1. create an iceberg catalog,

[2021-02-03 07:16] Stephen-Robin commented on #2195
Great, I will resubmit it with reference to your changes.

[2021-02-03 08:02] txdong-sz commented on #1951
@zhangjun0x01  thanks very much
i merge into my code and can run very smoothly  and find a bug in flink 1.12

https://issues.apache.org/jira/browse/FLINK-21247

https://github.com/apache/flink/pull/14845/files

[2021-02-03 13:39] RussellSpitzer commented on #2195
I have a pr with a small test, just need approval and I’ll put it up. Should be this morning

Sent from my iPhone

[2021-02-03 14:23] pnowojski commented on #2033
Thanks for your patience and help in investigating/discovering this issue. We will be merging fix today. I don't have a timeline when the respective bug fix releases will prepared and published, but the 1.12.2 release should be the first one containing bug fix for this issue hopefully somewhere next week.

[2021-02-03 14:49] Stephen-Robin commented on #2195
@RussellSpitzer Thanks for your help, I have tried to fix the problem, and added some unit tests in [PR](https://github.com/Stephen-Robin/iceberg/commit/e04d45626977e9082be706789221552a6ef18f43), welcome to ask questions

[2021-02-03 15:09] RussellSpitzer commented on #2195
Left some comments, Looks good! Do you have a PR? or just the commit. If you need help setting up a PR please let me know

[2021-02-03 15:23] Stephen-Robin commented on #2195
@RussellSpitzer Thank you very much!
I immediately followed the comment to make changes.
I do have a lot of PR, mainly refer to delta for Spark delete/update/merge function development, while supporting the snowflake multi-table operation syntax, I found that the community has not started to do these functions, we have completed the development 3 months ago And went online, but I only recently dis

[2021-02-03 15:36] RussellSpitzer commented on #2195
I mean to start on porting our internal versions of Datafile compaction tasks to OSS this week. I'm going to put off the issue of delete files atm as future work.

[2021-02-03 16:34] Stephen-Robin commented on #2195
Great, I am waiting for the OSS update, if there is related work that needs to be added, I hope to participate in the development of this part.
Thanks

[2021-02-03 19:47] bkahloon commented on #2202
@jackye1995 would you maybe have any ideas ?

[2021-02-03 20:37] jackye1995 commented on #2202
We see there are some issues with the Glue UI for displaying Iceberg tables, can you first check through AWS CLI to see if the table information is actually updated properly?

[code]

[2021-02-03 21:29] kkishoreyadav commented on #2174
The following two things have fixed my problem

- Ensured that I provided the correct path name for the iceberg table ( with gs:// prefix in my case)

- Resolved the apache.avro dependency version conflict

[2021-02-03 21:29] #2174 closed

[2021-02-03 21:41] bkahloon commented on #2202
This was the output I got
[code]

[2021-02-03 21:43] bkahloon commented on #2202
attempt at a hive query:

[code]

[2021-02-03 21:44] rdblue commented on #2173
This was also sent to the dev list: https://lists.apache.org/thread.html/rd15bf1db711b1a31f39d4b98776f29753b544fa3a496111d3460e11e%40%3Cdev.iceberg.apache.org%3E

Let's use the discussion there, since this isn't really a focused issue. Thanks!

[2021-02-03 21:44] #2173 closed

[2021-02-03 22:29] jackye1995 commented on #2202
[code]
This looks correct to me. In the title you said "table location not updated", is this the updated location or not?

For the schema issue, yes Glue UI currently does not support displaying Iceberg table schema, it is expected behavior, the shcema is stored in Iceberg's table metadata in S3.

For Hive, AWS module is not tested and added to Hive runtime jar yet, I do not know if Hive supports

[2021-02-03 22:32] bkahloon commented on #2202
Ahh I see, thanks a lot @jackye1995.

Yea, that's the updated location. I think the problem I was facing was just a UI issue.

[2021-02-03 23:53] ashajyothi828 opened #2208 "Flink: IcebergTableSink to write data into multiple iceberg tables"
Hi Team,

I have a flink job that read tranasctions data from a single source and creates iceberg tables. I need to create multiple datasets for each account in the list of transactions. The IcebergTableSink accepts the TableLoader on the constructor, but my table name is based on the account Id on each transaction and the account Ids is not a predefined list. This means I have to decide which tab

[2021-02-04 00:02] ashajyothi828 opened #2209 "Need help inserting data into hadoop table with flink sql in java"
Hi Team,

I am new to flink and iceberg. I am trying to add rows to an existing iceberg table from a flink job with flink sql. I'm able to do that using flink sql in command line, but when I try it in java, I'm getting some errors. Its looking for connector and I couldnt figure out the iceberg connector details that I can pass in from java code from the documentation. Can you please help me with t

[2021-02-04 01:19] #2195 closed

[2021-02-04 02:08] zhangjun0x01 commented on #2208
Why do you want to create multiple tables? I think it might be more reasonable to use dynamic partition

[2021-02-04 03:27] ashajyothi828 commented on #2208
Because the incoming data belongs to different datasets. The transaction that I'm trying to insert here is a very simple schema, but our main aim is to implement this job for a larger usecase where the incoming data can belong to multiple datasets. I'm doing some groundwork for some design options we are considering and this is where I got stuck.

[2021-02-04 04:05] stevenzwu commented on #2208
Currently, Flink Iceberg sink can only write to one table with exactly-once semantic.

If the table partition doesn't fit your requirements, maybe you can use filter or side output to split the stream into multiple sub streams. then attach a separate Iceberg sink to each sub DataStream. This probably won't work if the number of tables/datasets is really high (like hundreds). In that case, maybe sp

[2021-02-04 04:15] RussellSpitzer commented on #2068
Pull request added in case anyone want's an example to think about

[2021-02-04 08:39] figo10203 opened #2211 "how to fix org.apache.spark.shuffle.FetchFailedException:"
The error happen when use spark 2.3.0 write with Overwrite, below is the trace: The spark conf is as below:
![image](https://user-images.githubusercontent.com/12635964/106865841-afb0db00-6706-11eb-9b04-655ec714980b.png)

spark.yarn.maxAppAttempts=1;spark.sql.shuffle.partitions=10000;spark.default.parallelism=10000;spark.yarn.max.executor.failures=200;spark.driver.maxResultSize=0;spark.shuffle.io.m

[2021-02-04 12:30] txdong-sz commented on #1951
i donnot know how to run a daily report by flink 1.12 iceberg sql table

i write code like this but get a error

could u please help me ? thanks.

bsEnv.setRuntimeMode(RuntimeExecutionMode.BATCH);

String querySql = "SELECT ftime,extinfo,country,province,operator,apn,gw,src_ip_head,info_str,product_id,app_version,sdk_id,sdk_version,hardware_os,qua,upload_ip,client_ip,upload_apn,event_code,event_re

[2021-02-04 15:08] tracycarley commented on #2202
@jackye1995 Any idea on when will the support be added for Glue (AWS) and Hive?

[2021-02-04 17:31] jackye1995 commented on #2202
I don't have an ETA for Glue side UI change yet, will reply when I have it.
For Hive, it is probably worth trying to add the AWS module in Hive runtime, let me have a try in the next few days.

[2021-02-04 23:06] rdblue commented on #2068
Just catching up on this thread.

I agree with everything that @electrum said. Strong expectations help us. But we also need to have a way to handle existing data. That comes up all the time. Most existing data is tracked by name.

To support existing data files, we built name mappings so that you can take table data that previously identified columns by name and attach IDs. As long as the files t

[2021-02-05 03:11] zhangjun0x01 commented on #1951
your flink source is streaming source(UNBOUNDED),but you set the exectioin mode is BATCH.

[2021-02-05 03:11] #1951 closed

[2021-02-05 11:47] liubo1022126 opened #2219 "RewriteDataFiles & DataStream streaming read error when row level delete by equal"
I try to test flink cdc and flink rewriteDataFiles on iceberg 0.11, when I write the msg append (msg is +I,1,aaa,20210128), everything is ok, but when i write a row level delete by id (-D,1,20210128), rewriteDataFiles has an error, the same to DataStream streaming read.

Serialization trace:
nullValueCounts (org.apache.iceberg.GenericDataFile)
file (org.apache.iceberg.BaseFileScanTask)
fileScanTas

[2021-02-05 13:02] caseylucas commented on #2208
I work with Asha, so chiming in (and seeking guidance):

Assumptions:
1. There will N destination Iceberg tables that have *different schemas*.
2. N will grow over time and may be large - probably unreasonable to have a growing number of Kafka topics.

So the scenario looks like:
[code]

In step 3 & 4, I assume there would need to be some demultiplexing - selecting the
appropriate Iceberg table dy

[2021-02-05 17:36] stevenzwu commented on #2208
Yeah, a single Kafka producer/sink supports writing to multiple Kafka topics as long as they are all on the same Kafka cluster. However, it is not without penalty though, as it will affect data batching and impact disk I/O on the broker side.

It is very expensive for a single Iceberg sink to support growing and large number tables. The writers would need to keep many open files. That could lead t

[2021-02-05 18:29] aokolnychyi commented on #2068
I finally found time to get through recent comments. I believe the discussion is moving in the right direction.

+1. We have tested how name mappings behave when a schema is evolved (e.g. simple cases like adding columns in the middle). That seems to work fine even when the imported files don't have column ids.

I think we are already doing it in the snapshot and migrate procedures for Spark. If w

[2021-02-05 18:32] aokolnychyi commented on #2068
Also, I'd probably limit `add_files` to importing only existing files, not something one should do with files written through Iceberg. The primary use case is probably CREATE TABLE LIKE and then calling `add_files` for a couple of partitions to try reads/writes or migrating partition by partition if a table has too many partitions to migrate them at once.

[2021-02-05 19:30] aokolnychyi commented on #2068
I think @RussellSpitzer's implementation in PR #2210 is a pretty reasonable example of what we can do. We need to improve the code in `SparkTableUtil` to also perform extra checks while reading the footer, but it seems independent from the PR.

There is one point we should discuss on this thread. Should we allow importing a path which forces us to infer partitioning or should we always assume we i

[2021-02-05 20:26] nchammas commented on #1894
I'm getting a similar exception on Spark 3.0.1 / Iceberg 0.11, though I don't understand the title of this issue, so perhaps my problem is unrelated.

I was just trying to rewrite some Parquet data as an Iceberg table:

[code]

Here's the stack trace:

[code]

[2021-02-05 20:38] RussellSpitzer commented on #1894
Already Close File tends to be that the data was not actually partitioned on the correct columns

[2021-02-05 20:56] nchammas commented on #1894
Hmm, I guess my mental model of how Iceberg works is incorrect.

What does it mean for the `partitionBy()` columns to "not match the table"? I thought that `partitionBy()` was an output directive, allowing me to read in a table partitioned one way and write it out partitioned a different way.

I'm not using any catalogs here. The `partition_balanced_data` DataFrame was read directly from an S3 pat

[2021-02-05 21:41] RussellSpitzer commented on #1894
All Iceberg tables exist in the context of a Catalog. If you haven't specified one and just provided a path it is using the implied "HadoopCatalog". The table will have It's own Metadata.json file which will specify the schema of the table and partition spec. Once created, that is the schema and partition spec until it is specifically altered.

So in your example "./data-iceberg" will be treated a

[2021-02-05 21:45] RussellSpitzer commented on #1894
https://iceberg.apache.org/spark-writes/#writing-to-partitioned-tables - Docs on this issue

[2021-02-05 21:51] RussellSpitzer commented on #1894
And here is a example

[code]

[2021-02-05 22:05] nchammas commented on #1894
Thank you for the detailed examples. I think I understand now. I guess this issue becomes transparent to the user once [SPARK-23889](https://issues.apache.org/jira/browse/SPARK-23889) is resolved, as called out in the docs you linked to.

There is one thing you said I am still confused about though:

For some reason, I am able to save to previously non-existent Iceberg locations just fine:

[code]

[2021-02-06 00:56] aokolnychyi opened #2221 "Spark: Extend expire_snapshots procedure with an optional arg for snapshot ids"
I think we should extend our `expire_snapshots` procedure to also accept an optional list of snapshots ids. That way we match the behavior in the `Table` API. It may be useful when someone generated a lot of compaction snapshots and wants to expire them even though they are recent.

[code]

[2021-02-06 00:56] aokolnychyi commented on #2221
@RussellSpitzer @rdblue, thoughts?

[2021-02-06 00:58] RussellSpitzer commented on #2221
I think that's reasonable, better than full subquery support :) One thing I worry about is we have a bunch of code which relies on the snapshot chain being fully connected. So if we have Snapshots A, B, C and remove B, will we have issues?

Also this means we will have to extend the parser to also handle Array types I think

[2021-02-06 02:53] rdblue commented on #2221
Hm, I'm not sure it's a good idea to age off individual snapshots. It is safe for the parallel operation, but it can cause issues with incremental snapshot expiration because of assumptions that snapshots are expired linearly. Maybe that's okay since the deletes happen using the reachability set?

[2021-02-06 02:58] aokolnychyi commented on #2221
@RussellSpitzer @rdblue, isn't it a use case we allow in the Table and Actions APIs?

[2021-02-06 03:03] aokolnychyi commented on #2221
I think expiring B in A, B, C should be fine as we will have a union of all files referenced by A and C as our reachability set.

[2021-02-06 03:04] aokolnychyi commented on #2221
Plus, expiring by ids may be useful if a snapshot was rolled back, for example.

[2021-02-06 09:41] rlcyf opened #2223 "the table created by flink sql is not visible in trino"
- Hdfs: 3.0.0
- Hive: 3.1.2+2.3.6
- Flink: 1.11.3
- Iceberg: 0.11.0
- trino: 351

Flink SQL Create table
---------------
1.use Flink SQL to create a table <sample>
[code]

2.when show tables in trino there's nothing
[code]

3.but the query can be normal use trino,flink can also!
[code]
[code]

Trino create table Flink SQL insert value
---------------
[code]

[code]

use Flink SQL insert value
[cod

[2021-02-07 11:03] zhangjun0x01 commented on #2219
I think it may be a flink serialization problem. Variables in flink operators (such as map and flatmap etc) need to be serializabled, and some variables do not meet the serialization requirements of flink.

https://ci.apache.org/projects/flink/flink-docs-stable/dev/types_serialization.html

[2021-02-08 06:52] capkurmagati commented on #2221
I did something like the below to expire selected snapshots via Java API
[code]
I don't if it's a common use case but our use case is:
1. We have a CDC pipeline for an online RDBMS table. The writer consumes the CDC log and writes to Iceberg every 15min.
2. The users can query/time travel hot data via 15-min snapshots.
3. Once the data became cold. (usually after 2 weeks in our environment). We wa

[2021-02-08 08:00] txdong-sz opened #2225 "flink 1.12.0 cannot run iceberg batch mode"
my code is like this:
		TableLoader tableLoader = TableLoader.fromHadoopTable("cosn://txdongbf-1258344701/hdfs/iceberg_db/play3_data");

		List<org.apache.iceberg.expressions.Expression> filters = new ArrayList<>();

		LocalDate tody = LocalDate.now();
		LocalTime time = LocalTime.of(0, 0);

		LocalDateTime ldt1 = LocalDateTime.of(tody,time);

		ZonedDateTime zdt1 = ldt1.atZone(OffsetDateTime.now(

[2021-02-08 18:57] rdblue commented on #2221
Yes, but this is in the API from back when we didn't keep parent information for snapshots. I'm not sure how good of an idea it was for me to add it back then.

[2021-02-08 19:05] RussellSpitzer commented on #2221
I was mentioning the sequence thing because our current plans for doing the Streaming source basically rely on our ability to successfully crawl from the "begin snapshot" to the "end snapshot". If a user removed internal snapshot "b", is it still possible to do an incremental scan? What does it mean in that case?

[2021-02-08 19:09] szehon-ho opened #2226 "Add Python Create Table support to documentation?"
It seems while python is in development, create-table does work as per:  https://github.com/apache/iceberg/pull/1216. I was able to get it to work in our setup.

I think python users will be very interested, as many believe today that it is not supported to documentation.

Should we add this to :

https://github.com/apache/iceberg/blob/master/site/docs/python-feature-support.md
https://github.com/

[2021-02-08 19:10] szehon-ho commented on #2226
I am happy to add to the doc, unless there are concerns at its stability?

[2021-02-08 19:13] szehon-ho opened #2227 "Drop table support in python"
After create-table is supported in: https://github.com/apache/iceberg/pull/1216, it makes sense to implement drop table.

Unless I missed it somwhere, it doesn't seem it's supported now as per:  https://github.com/apache/iceberg/blob/master/python/iceberg/hive/hive_tables.py#L37

[2021-02-08 19:15] szehon-ho commented on #2227
I would be happy to give this a stab,  but wanted to check if anyone is working on it?  @rdblue @rymurr  thanks

[2021-02-08 21:58] caseylucas commented on #2208
@stevenzwu Thanks for the advice. We're now looking at using the approach (as you mentioned) of doing the demux before the sink. Based on my understanding, we may need to implement our own sink similar to the existing IcebergTableSink but instead of knowing the table name at construction time, we'll lazily determine the table. We'll use the KeyBy transformation in flink so that we end up with one

[2021-02-09 00:01] stevenzwu commented on #2208
@caseylucas keyBy can help address some of the problems. not sure about your datasets. just watch out the traffic imbalance for the keyBy shuffle.

[2021-02-09 08:54] rymurr commented on #2227
Hey @szehon-ho no one that I am aware of is working on it and your contributions would be very welcome! Shout if you have any questions.

[2021-02-09 08:55] rymurr commented on #2226
this has been on my list for some time. We should definitely update and publish the docs.

[2021-02-09 13:06] liubo1022126 commented on #2219
thanks zhangjun0x01

yes, it seems that there are something wrong with kryo serialization, it use flink default serialization(kryo), I think https://github.com/EsotericSoftware/kryo/issues/693 is useful but not sure

for test, if i declare the var with transient, it is ok, but i'm not sure the var is need at the next operation in flink DAG

**transient var like**

  private transient Map<Integer,

[2021-02-09 13:12] liubo1022126 commented on #2028
I also meet this problem, we can discuss it here https://github.com/apache/iceberg/issues/2219

[2021-02-09 17:34] ashajyothi828 commented on #2208
@stevenzwu Thanks for your response. We actually tried implementing a custom sink that can determine the table name at runtime, but I faced trouble when trying to generate the table name based on the key. I was not able to get the key in the sink based on which I want to name my table. I see that there's a `getCurrentKey()` function in the KeyedProcessFunction, but that was not available in the si

[2021-02-09 17:41] stevenzwu commented on #2208
I probably missed sth here. can't you get the key from payload/record?

[2021-02-09 17:49] pan3793 commented on #2221
It coincides with my idea, I am also planing to manage snapshots in such way:
1. keep hourly snapshot in current day;
2. keep daily snapshots in current week;
3. keep weekly snapshots in current month;
4. etc.

[2021-02-09 18:11] rdblue commented on #2221
@pan3793 and @capkurmagati, thanks for your comments. I think there is definitely a use case here to keep fewer snapshots in table metadata. The only problem is that we need to understand what it will do to snapshot expiration for users that don't run the version that uses reachability sets.

Maybe what we could do is add a property to disable incremental expiration before some snapshot when there

[2021-02-09 18:18] pan3793 opened #2231 "Can snapshot has an optional name?"
Currently, we build ETL workflows based on Hive tables, and to achieve version control ability of data, we add a top level partition which named `ts` to all tables. And assign `ts` a specific value when trigger the workflow, then we can get the expected version of data of all tables with one `ts`.

I know I can use `snapshot_id` which is auto generated to fetch the specific version of data in iceb

[2021-02-09 18:33] ashajyothi828 commented on #2208
Cant get the key from a record in the stream, the sink takes the stream as input and couldnt figure out how to get the key that applies to that stream. Basically tried to implement the below method in the sink and was not able to get the key value present in  RowData.

public DataStreamSink<?> consumeDataStream(DataStream<RowData> dataStream) {}

[2021-02-10 02:54] yyanyy opened #2233 "Replace table shouldn't clear table history"
I think currently when replacing a table, earlier history entries/snapshotLog will be reset to empty. This is because previously there is no compatibility across schemas (IDs were completely reassigned, so time travel would be incorrect). After #2096 that supports schema id and schema list is merged in, we can retain table histories.

[2021-02-10 14:08] pPanda-beta commented on #370
I would recommend to use schematool or any other in-memory db than derby.

More at:
https://issues.apache.org/jira/browse/HIVE-21302

[2021-02-10 17:15] holdenk commented on #2079
So when we resolve we'd transform the table properties to point to column references. This would mean the table properties would sort of change underneath folks which might not be desirable, but it would simplify the logic for handling updates.

[2021-02-13 17:15] elkhand opened #2235 "Flink schema validation always has checkNullability and checkOrdering set true. Any particular reason ?"
Hi,

Flink schema validation (`TypeUtil.validateWriteSchema(schema, writeSchema, true, true);`) always has `checkNullability` and `checkOrdering` set true.

Any particular reason for this, @openinx ?

In `org.apache.iceberg.flink.sink.FlinkSink` class:

[code]

In Spark, both are read from specified options `checkNullability` and `checkOrdering`:

In `org.apache.iceberg.spark.source.SparkWriteBuil

[2021-02-13 17:49] aokolnychyi opened #2236 "Parquet: Vectorized reads should support reading INT96 timestamps"
Our vectorized path does not support reading INT96 timestamps. To test this, run `testImportTableWithInt96Timestamp` with enabled vectorization.

cc @rdblue @samarthjain

[2021-02-16 17:36] holdenk commented on #2079
So @aokolnychyi WDYT?

[2021-02-16 21:43] RussellSpitzer opened #2244 "Missing handling of Timestamp Without Timezone type"
Spark currently possess no readers for the Timestamp.withoutZone() type but is able to create tables with this schema. These tables if you attempt to read them from Spark will error out.

Currently in master the only reader for this type that I can see is for the generic case
https://github.com/apache/iceberg/blob/631efec2f9ce1f0526d6613c81ac8fd0ccb95b5e/data/src/main/java/org/apache/iceberg/data/

[2021-02-16 22:03] RussellSpitzer opened #2245 "Migration of ORC Backed Timestamp Without Zone Tables yields Timestamp With Zone columns"
A user was attempting to convert an ORC backed external table in hive to a Iceberg table using the migrate command but was immediately met with a "Can not promote TIMESTAMP to TIMESTAMP" error. This occurs because our Spark -> Iceberg conversion code always converts to a Timestamp.withZone.

This is pretty easy to reproduce with
[code]

[code]

I attempted to to just modify the Iceberg table so th

[2021-02-17 19:54] aokolnychyi commented on #2079
Oops, I missed the last comment.

[2021-02-17 20:03] aokolnychyi commented on #2079
So, @holdenk, are you saying instead of modifying the table properties during schema evolution, try to resolve them correctly during writes?

Let's take an example. Suppose we have a metrics config for `sort_col_1` as `full`. Then we rename `sort_col_1` into `sort_col_2`. What should happen with metrics? I am afraid it will fail now as there is no `sort_col_1` anymore.

[2021-02-17 20:07] aokolnychyi commented on #2221
@rdblue, you mean users that rely on the Table API for expiring snapshots? That probably does not rely on reachability set.

[2021-02-17 20:22] aokolnychyi commented on #2221
@RussellSpitzer's comment on supporting streaming reads is a good one. Expiring snapshots in the middle will probably break that.

[2021-02-17 20:22] rdblue commented on #2221
@aokolnychyi, yes I am talking about the table API for expiring snapshots. That uses an incremental approach. We would need to either convert that to a reachability-based implementation (which would be slower, but good to have) or disable it.

[2021-02-17 20:23] holdenk commented on #2079
So what I'm saying is when we write out table properties we resolve the current column name to the column index and write out the column index.

[2021-02-17 20:27] aokolnychyi commented on #2221
Well, I think we should delay adding new params to the procedure for now given the points that were raised.

[2021-02-17 20:29] aokolnychyi commented on #2079
Essentially migrate the metrics config to use column ids instead of column names?

[2021-02-17 20:47] aokolnychyi commented on #2079
Let me summarize how I got it.

The idea is to interpret table properties like `write.metadata.metrics.col1` as `write.metadata.metrics.10` (where 10 is the column id of `col1`). That way, we don't have to do anything when a column is renamed as the id stays same. We will also need to add some logic to convert column ids back into column names when showing table properties to the user.

 When we d

[2021-02-17 20:55] holdenk commented on #2079
That's the idea, however now that I'm looking at the code again that would require changing the (public) API of `MetricsConfig.java` so it's maybe not ideal.

[2021-02-17 21:00] aokolnychyi commented on #2079
We have been discussing using column ids in the metrics config for a while. I'd support the migration now.

@RussellSpitzer @rdblue @shardulm94 @danielcweeks @pvary @openinx, thoughts?

[2021-02-17 21:12] aokolnychyi commented on #2079
We will have to be careful with existing tables as they may be accessed by different versions of Iceberg but I feel we can figure that out.

[2021-02-17 21:17] holdenk commented on #2079
Ah, that's a good point, how about I start with the rewriting for now and we can figure out what we want to do with the translation later?

[2021-02-17 21:57] aokolnychyi opened #2247 "Support vectorized reads with delete files"
I think we should check how hard it will be to add support for vectorized reads with delete files.

[2021-02-17 23:45] aokolnychyi opened #2249 "Unset no longer present table props while propagating props to HMS"
I think `HiveTableOperations` does not unset table props that no longer there while propagating props to HMS.

[2021-02-17 23:45] aokolnychyi commented on #2249
@pvary, what do you think? I think if we drop table properties, they will be still in HMS, leaving props out of sync.

[2021-02-18 02:15] rdblue commented on #2068
I think that we should only infer partitioning when we know that we are converting from a Hive table with identity-partition columns. Since that is a "well-known" format, it should be somewhat reliable. Random paths in a file system are more risky to parse for table data. I could be convinced otherwise, but it seems like a stretch to match an Iceberg table's partitioning to paths.

+1 to checking

[2021-02-18 04:25] electrum commented on #2068
One more thing to add to the spec is that identity columns don’t need to be present in the data file, since that is the case for Hive files. We support this in Trino, but I don’t think it or any other migration scenario is tested.

[2021-02-18 10:57] pvary commented on #2249
When we will have the full sync, we definitely want to do this.
OTOH we have to be careful with Hive related props like stats etc.

Tagged @marton-bod, as he has the property sync on his agenda

[2021-02-18 12:30] pvary commented on #2079
What happens if we have missing metrics? Could we still read the data, or we error out?

Anyway, I would suggest to have a different prefix for the new properties, so we do not accidentally try to read column names as column ids or column names as ids.

[2021-02-18 13:25] marton-bod commented on #2249
Hi Anton,
Good point. I agree that we should try to keep the Iceberg and HMS table props in sync (perhaps with some additional props present only in HMS, as needed by Hive). There are 2 directions here:
- Iceberg -> HMS: New and updated Iceberg properties are already pushed to HMS. As for deleted props, I can work on unsetting any HMS properties that are no longer present in the Iceberg table prop

[2021-02-18 18:00] aokolnychyi commented on #2079
Seems like old writers would still need us to rewrite, yeah.

I *think* we just use the default value and never fail writes. If that is not the case, we should fix it.

Maybe we can have some prefix for internal properties we don't want to show to the user? Thoughts, @holdenk @pvary @rdblue @RussellSpitzer?

[2021-02-18 23:06] tjdean opened #2253 "Residuals cannot be applied to dates/times/timestamps read by BaseParquetReaders"
## Issue
`BaseParquetReaders` reads dates/times/timestamps into memory as `Temporals`, but their types map to `Numbers`. When residuals are evaluated on those types, the accessor tries to cast the temporal to a number and fails with an illegal state.

https://github.com/apache/iceberg/blob/6bf58e5037c22e4c6255c4bf01109fb45651ce6b/parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetRea

[2021-02-19 03:40] liudi1184 commented on #2219
I also follow your method, but I think there may be problems. When tracing the source code, we found that these fields were serialized as UnmodifiableMap, and then put elements into it, so an exception occurred.

[2021-02-19 15:00] rymurr commented on #2090
The relevant change on the nessie side is done here: https://github.com/projectnessie/nessie/pull/835 so this can be addressed after the next Nessie release.

[2021-02-19 20:49] kbendick commented on #2019
If somebody else wants to take over this, I'm still waiting on my NOT_STARTS_WITH pr to be finished getting reviewed. It's possible I'll have time for this soon, but putting that out there in case this is blocking anybody somehow.

[2021-02-19 20:49] #1575 closed

[2021-02-20 07:32] zhangjun0x01 commented on #2219
I submit a PR (#2258 ) to fix this

[2021-02-21 14:44] rlcyf opened #2260 "Couldn't find corresponding Hive SerDe for data source provider iceberg"
iceberg：0.11
spark:3.0.1

bin/spark-sql \
--conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions \
--conf spark.sql.catalog.test=org.apache.iceberg.spark.SparkSessionCatalog \
--conf spark.sql.catalog.test.type=hive
[code]
2021-02-21 05:30:06,902 WARN hive.HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider iceberg. Persisting

[2021-02-21 22:51] sebbASF opened #2261 "Please tidy up the incubator release directories"
Are the incubator release directories still needed?

If not, please remove the following directory trees:

https://dist.apache.org/repos/dist/release/incubator/iceberg/
https://dist.apache.org/repos/dist/dev/incubator/iceberg/

[2021-02-22 01:53] #2006 closed

[2021-02-22 02:31] zhangjun0x01 opened #2262 "Flink : add Computed Column support for iceberg"
the doc is here :
https://cwiki.apache.org/confluence/display/FLINK/FLIP-70%3A+Flink+SQL+Computed+Column+Design

[2021-02-22 08:18] zhangjun0x01 opened #2264 "Flink : add watermark support for streaming read"
in order to support flink eventtime,I think we should add watermark support for flink streaming read.

[2021-02-22 17:27] rymurr commented on #1808
@rdblue any preference for where this component would live?I have an initial impl done for create tag/branch in with the rest of the sql extensions currently but not sure if its best there. I can create a nessie extensions module if you prefer but there will be some duplication w/ the existing extensions module.

[2021-02-22 17:53] pvary commented on #2260
@rlcyf: Could you try out this with SparkCatalog instead of SparkSessionCatalog?
I have seen some problems with the SparkSessionCatalog implementation using internal Hive Catalog instead of the provided Iceberg one. The consensus was that Spark should and will fix this in their catalog implementation.

The tests were running correctly with this config:
[code]
Thanks,
Peter

[2021-02-23 02:58] rlcyf commented on #2260
I have tested both SparkCatalog and SparkSessionCatalog,still can not!
use java api work fine!

[2021-02-23 02:58] rlcyf commented on #2260
I have tested both SparkCatalog and SparkSessionCatalog,still can not!
use java api work fine!

[2021-02-23 02:59] rlcyf commented on #2260
how to use this config! can u give a full example?

[2021-02-23 12:05] kezhuw commented on #2033
@stevenzwu I think you are right, at least partially, it is a Flink bug anyway. Before [FLIP-147(Support Checkpoints After Tasks Finished)](https://cwiki.apache.org/confluence/x/mw-ZCQ) , sink writers sit in dilemma situation that there is no reliable way to commit final result to external system. `endInput` was not designed to commit final result, but actually has been used for a workaround/last-

[2021-02-23 12:18] pvary commented on #2260
I am not too familiar with spark, but I expect that this should be something like this:

[code]

[2021-02-23 12:30] chong0929 commented on #2076
Is your problem solved? I have the same error.

[2021-02-23 15:19] rlcyf commented on #2260
ths!
I configured it like this！Still report that warning.

[2021-02-24 01:18] rdblue commented on #1994
Looks like #2119 is in so I'll close this. Thanks, @Jecarm!

[2021-02-24 11:16] szehon-ho commented on #2227
Hi @rymurr i pushed my implementation (tested manually on real Iceberg table and verified all the files are gone if purge=true, if you had time to take a look.

The 3.7 tox test failures were broken before my change actually.

[2021-02-24 22:37] pvary commented on #2260
@rlcyf: Does this prevent you from reading the data? Or it is just a warning? Does adding the iceberg-hive-runtime.jar to the classpath help?

Thanks,
Peter

[2021-02-25 00:23] karuppayya opened #2270 "Spark: Session level Iceberg table config defaults"
An organization may want all iceberg tables created to have certain TBLPROPERTIES.
Currently, such properties have to be specified in every CREATE command. There is high possibilty of it getting missed
There is no way to specify such properties, such that it gets applied to all table creation.
Couple of questions.
1. Should we introduce a mechanism to add some default properties that affects all t

[2021-02-25 05:35] #2148 closed

[2021-02-25 21:31] aokolnychyi opened #2274 "Hive: Support identifiers with catalog"
Hive 3 offers support for identifiers like `catalog_name.db_name.tbl_name`. I wanted to discuss whether we want this as it is not currently supported by our `HiveCatalog`.

One problem we will face is that v1 and v2 client APIs don't have a way to pass a catalog. It is purely a v3 feature. We could use reflection, as we do in other places, to call it, though. We can also default it in the same way

[2021-02-25 21:32] aokolnychyi commented on #2274
@rdblue @RussellSpitzer @pvary @marton-bod, what do you think?

[2021-02-25 21:58] aokolnychyi commented on #2270
I think it will be useful. For example, I've frequently seen projects where folks create a number of tables and want to use more or less the same properties across tables within that project. Instead of specifying the same props over and over again, they could set them in their session config template. In another project, they may have a set of different props.

I believe Spark has does that in so

[2021-02-25 22:01] RussellSpitzer commented on #2270
I know we implemented something like this within the Spark Cassandra Connector, where we allowed a user to set any property that the underlying SCC could use at the Catalog level and therefor set it for all operations carried out by that Catalog.

In our use case I didn't have any hope of doing this in Spark itself so we just implemented it in the "Initialize" method of the catalog but it might be

[2021-02-25 22:11] aokolnychyi commented on #2270
@holdenk @dongjoon-hyun @viirya @rdblue @sunchao, do you think it is worth trying in Spark? Seems all catalog implementations would benefit from this.

[2021-02-25 23:29] bkahloon commented on #2202
I see in the docs that currently Iceberg only supports Hive 2.x. So I tried querying the table from Spark. Here is the stack trace I got. Which is similar to the trace I got for Hive (attached in thread above).

I can however, query the table just fine from Flink SQL.

I'd also like to point out that all of this testing was done from a different EMR cluster than the one that wrote out the original

[2021-02-26 00:02] RussellSpitzer commented on #757
I was just reminded of this yesterday when I saw someone attempting to count all the rows in their partitions using a full table scan, we should really do these, I probably will if I have some time but this would be a GREAT ticket for anyone who wants to do a first time contribution :)

[2021-02-26 01:10] rdblue commented on #2270
This sounds useful, kind of like the `site` configuration in Hadoop. I like Russell's idea to do this at the catalog level, but I'm already a little worried that catalog configuration is going to end up being quite large and difficult to maintain across Flink, Spark, Hive, and others since each has a separate way to configure catalogs.

Would we actually set these values in tables or would we just

[2021-02-26 01:24] aokolnychyi commented on #2270
In the [example](https://github.com/apache/iceberg/issues/2270#issuecomment-786255694) above, I'd imagine Spark would load defaults from the session config, combine it with properties provided in the create table statement and pass to the catalog implementation. In the considered example, we would get a map with `k1 -> v1` (comes from the session conf) and `k2 -> custom_value` (comes from the stat

[2021-02-26 03:03] RussellSpitzer commented on #2244
We decided in the last Sync that a reasonable solution here would be for Spark to read both timezone types as timestamp with timezone with a flag disabling this behavior by default. If the flag is disabled an error message would alert the user that Spark cannot handle the two different types and will always display the local timezone, but the underlying data would be correct.

[2021-02-26 03:07] bkahloon commented on #2202
@RussellSpitzer was able to help me resolve this.  I was issuing the spark sql query incorrectly.

[code]

[2021-02-26 03:07] #2202 closed

[2021-02-26 03:08] RussellSpitzer commented on #2202
For future users, the issue here was that the spark catalog was configured as "my_catalog" but the tables were being referred to in the session catalog which was not replaced with the Iceberg Spark SessionCatalog class.

There are two solutions

using the tripart identifier "catalogname.namespace.table"

or telling spark to use your catalog (whatever it's name is) by default

"use my_catalog"

[2021-02-26 06:29] pvary commented on #2274
AFAIK Hive queries does not support HMS catalogs so I have only seen unit tests for them.

Shall I check the current status? What are the features we are looking for? Just one more level in the namespace hierarchy, or we are looking for sonething more?

Thanks, Peter

[2021-02-26 09:08] allenzhg opened #2277 "hive create external table for iceberg have error."
env:
flink version:  1.11.3
hive version:  3.1.1
hadoop version: 3.1.2

The following is the hive table building statement ：

CREATE EXTERNAL TABLE sample2
STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler'
LOCATION 'hdfs://xxx/usr/hive/warehouse/iceberg.db/sample1'
TBLPROPERTIES (
  'iceberg.mr.catalog'='hadoop_catalog',
  'iceberg.mr.catalog.hadoop.warehouse.location'='hdfs://xxx/u

[2021-02-26 13:11] pvary commented on #2277
@allenzhg: What catalog do you try to do?
The valid values are:
- `hive` - HiveCatalog
- `hadoop` - HadoopCatalog

Where do you issue the table building statement? (Hive/Flink/Spark?)

Thanks,
Peter

[2021-02-26 14:51] marton-bod commented on #2274
Hi Anton,
I just checked the Hive master code and found no query language support for catalogs, only HMS API support. I tried from our iceberg-mr unit tests and got compilation errors when using `catalog_name.db_name.tbl_name` in create table or select statements. This might limit the utility of including this into the `HiveCatalog`, at least from the Hive side - not sure if it'd add more benefit

[2021-02-26 16:25] marton-bod commented on #2277
@allenzhg Did you create the Iceberg table from Flink and then try to create a Hive table on top of it?
You might want to reference this documentation: https://iceberg.apache.org/hive/, under the `Using Hadoop Catalog` section. A couple of things stand out:
- `'iceberg.mr.catalog'='hadoop_catalog'` is not a valid catalog value, as Peter pointed out. Can you retry with `'iceberg.mr.catalog'='hadoop

[2021-02-26 17:20] aokolnychyi commented on #2274
Thanks for checking the Hive side, @pvary @marton-bod. Yeah, I was primarily looking for adding an extra level of namespacing.

We have an internal metastore that implements the v3 protocol. That's why I was wondering if we ever plan to support catalogs in our `HiveCatalog` or we need to look for an alternative.

[2021-02-26 17:21] aokolnychyi commented on #2274
FYI @raptond @karuppayya

[2021-02-26 17:24] #1206 closed

[2021-02-28 14:54] rlcyf commented on #2260
put iceberg-hive-runtime.jar and iceberg-spark3-runtime.jar to spark/jars
all can be executed normally!
thanks!

[2021-02-28 14:54] #2260 closed

[2021-03-01 03:42] allenzhg commented on #2277
the table building statement in hive. i wanted from hive read iceberg table content.
thanks.

[2021-03-01 04:30] allenzhg commented on #2277
1. hadoop_catalog does me created.
building statement is :
CREATE CATALOG hadoop_catalog WITH (
  'type'='iceberg',
  'catalog-type'='hadoop',
  'warehouse'='hdfs://usr/hive/warehouse/',
  'property-version'='1'
);

CREATE CATALOG hive_catalog WITH (
  'type'='iceberg',
  'catalog-type'='hive',
  'uri'='thrift://172.24.xxx:xxx'
  'clients'='20',
  'property-version'='1',
  'warehouse'='hdfs://usr/

[2021-03-01 12:20] pvary commented on #2277
@allenzhg: Could you please explain what are you trying to archive here?

The table should be either in HiveCatalog, or in HadoopCatalog. The exact commands are described in  https://iceberg.apache.org/hive/. If the documentation is not clear then please help us highlighting the issues, so we can fix them.

Thanks,
Peter

[2021-03-02 09:16] rymurr opened #2288 "Catalog Migration transaction"
Hi All,

As we have been adding more types of catalogs I have been thinking of how to move tables between catalogs. This could be to test a new catalog type on an existing iceberg table or to perform larger scale migrations.

The technical aspect of this seems relatively straightforward:
1) Create a `TableOperations` in target catalog
2) call `TableOperations.commit(null, metadataFromSourceCatalog

[2021-03-02 13:38] openinx commented on #2277
@allenzhg , You mean you want to writing data by flink streaming job into apache iceberg table, then read it by using Hive sql query ?

[2021-03-02 17:57] rlcyf opened #2289 "data is not updated in spark-shell"
spark 3.0.1
iceberg 0.11

[code]

[code]

when I execute a query in spark-shell
[code]

[code]
[code]
in trino, the correct results can be queried in real time
when I close spark-shell, restart it
[code]
the result is correct

there is another situation，after inserting the data, a period of time has passed (i don't know how long it takes,spark-shell Not closed) query again！ the result of the query

[2021-03-03 03:56] zhangdove commented on #2289
1.The `CachingCatalog` cache is used by default for SQL queries, which can be turned off by adding the following parameter when launching Spark-shell
[code]

2.The other way is to refresh the current table before querying the Iceberg table:
[code]

[2021-03-03 06:15] rlcyf commented on #2289
ths!

[2021-03-03 06:15] #2289 closed

[2021-03-03 06:17] rlcyf commented on #2223
fixed
https://github.com/trinodb/trino/issues/6982#event-4365772616

[2021-03-03 06:17] #2223 closed

[2021-03-04 00:48] rdblue commented on #1808
I'm thinking that the SQL extensions should live in Spark, but that we can hopefully define an interface so that they are not specific to Nessie? It would be great to be able to enable these for any catalog that has a similar way of tracking branches. I'm not sure that others necessarily would, but it seems like a good idea not to have Nessie-specific code in the Spark extensions module.

[2021-03-04 01:08] #2226 closed

[2021-03-04 03:34] BACtaki commented on #757
@RussellSpitzer I am working on this

[2021-03-04 09:34] rymurr commented on #1808
Very much agree. Definitely the thing I like least about #2269

I was thinking about a `BranchingCatalog` or `BranchSupport` or something interface which would add CRUD operations for references to a `Catalog`. The only current implementer would be the `NessieCatalog` but then the spark extensions don't need to know about Nessie and #2269 would be simplified by being able to call Catalog methods d

[2021-03-05 06:49] openinx commented on #1026
@chenjunjiedada has proposed a PoC patch for this issue.

[2021-03-05 06:51] openinx commented on #1026
I also prepared an PR to extend the RewriteFiles API to support rewriting both data files and delete files. #2294

[2021-03-05 07:13] openinx opened #2298 "Consider both delete file size and data file size when planing tasks"
Currently, TableScanUtil#splitFiles and TableScanUtil#planTasks only consider data file size,  that's reasonable when we plan tasks for data in iceberg table format v1.  While as we will produces lots of delete files after enabled the row-level delete,  the split policy and plan task policy need to consider both data file size and delete file size, so that the data size of each task would be balan

[2021-03-05 17:20] javsanbel2 commented on #2122
Did the discussion thread started in the dev mailing list? How it went? I am interested in this issue too, as am having the same problem.

[2021-03-05 20:07] aokolnychyi opened #2300 "Build a utility to infer partitions at a given path"
We need to infer partitions to migrate path-based tables to Iceberg. While we can leverage some internal code in query engines like `InMemoryFileIndex` in Spark, it is better to build our own utility and use it in Spark, Flink, etc modules.

[2021-03-05 20:08] aokolnychyi commented on #2300
I'll give it a try.

FYI, @RussellSpitzer @pvary @openinx @rdblue

[2021-03-06 11:00] pPanda-beta opened #2301 "Lock remains in HMS if HiveTableOperations gets killed (direct process shutdown - no signals) after lock is acquired"
Although unlock is kept inside the finally block,

https://github.com/apache/iceberg/blob/a7901992c252bb28d10686ef24c1de788c90d663/hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java#L220

### YET INFINITE LOCK MAY HAPPEN

Steps to reproduce :

1. Start a new commit
2. Let icberg acquire the lock
3. Kill the job (signal 9 / 19 ) or disconnect network. (See below to know m

[2021-03-08 08:27] pvary commented on #2300
We are also thinking about migrating Hive tables to Iceberg tables by creating the appropriate metadata files.

For us it  would be better to have an API what the engines can implement. In Hive it is possible to set the location on partition level, so we might be better off using HMS to get the partition information than parsing the path. So I think some API that will return Pair<Map<PARTITION_KEY

[2021-03-08 09:01] pvary commented on #2301
Quick question: Hive removes the locks by the `AcidHouseKeeperService` which should run on the HMS side. Shouldn't that remove the "forever" from the problem statement?

The commits should be fairly quick so having a small timeout could be acceptable if HMS is only used as a HiveCatalog for Iceberg.

[2021-03-08 11:02] marton-bod commented on #2301
What's the value of `metastore.txn.timeout` on your HMS instance? As @pvary suggested, the `AcidHouseKeeperService` should clean up any locks without that haven't heartbeated within the timeout period (which is 300 seconds by default), preventing the forever-blockage. The housekeeper service itself will run every 60 seconds by default to purge these timed-out locks (configured by `metastore.acid.h

[2021-03-08 11:34] pPanda-beta commented on #2301
@pvary @marton-bod
Thanks for the suggestion.
I've gone through their implementation.

This does cleanup via:
1. https://github.com/apache/hive/blob/8190d2be7b7165effa62bd21b7d60ef81fb0e4af/standalone-metastore/src/main/java/org/apache/hadoop/hive/metastore/txn/AcidHouseKeeperService.java#L60

2. https://github.com/apache/hive/blob/8190d2be7b7165effa62bd21b7d60ef81fb0e4af/standalone-metastore/src/

[2021-03-08 11:36] pPanda-beta commented on #2301
While dealing with independent locks we have to implement with the following columns only,
[code]

[2021-03-08 11:43] marton-bod commented on #2301
Hi @pPanda-beta
Transaction-less locks (where transaction id is 0) should be cleaned up the same way, once the timeout period expires.
They are cleaned at this point: https://github.com/apache/hive/blob/8190d2be7b7165effa62bd21b7d60ef81fb0e4af/standalone-metastore/src/main/java/org/apache/hadoop/hive/metastore/txn/TxnHandler.java#L4400
even one step before the timed-out transactions are cleaned up

[2021-03-08 11:46] NageshB82 opened #2302 "Reading from iceberg table through spark thrift server using jdbc taking larger time"
Environment
 - Spark 3.0.1
 - Apache hive v2.3.*. - Hive server using Derby DB internally for metastore
 - Hadoop v3.2.*
 - Minio docker

Recreation Steps :
- Started hiveserver metastore
- Using Scala code created tables in Iceberg.
   - CREATE TABLE if not exists Account(accountId string , name string,  description  string) USING iceberg TBLPROPERTIES('engine.hive.enabled'='true', 'write.parquet

[2021-03-08 12:10] pPanda-beta commented on #2301
@marton-bod Thanks for pointing it out.
Theoretically this should work.

I've the value of `metastore.task.threads.remote` as `org.apache.hadoop.hive.metastore.txn.AcidHouseKeeperService,org.apache.hadoop.hive.metastore.txn.AcidOpenTxnsCounterService,org.apache.hadoop.hive.metastore.txn.AcidCompactionHistoryService,org.apache.hadoop.hive.metastore.txn.AcidWriteSetService,org.apache.hadoop.hive.met

[2021-03-08 13:38] RussellSpitzer commented on #2302
Could you add a few more details? Like How much data is in each file? Does your query end up looking in every file? How were the tables loaded?

[2021-03-08 14:45] pPanda-beta commented on #2301
@marton-bod Found it in an integration test powered by embed hive metastore.
We need
```metastore.compactor.initiator.on=true```
At least on embedded HMS, this is `false` by default, which was not running those threads.

[2021-03-08 15:24] marton-bod commented on #2301
You're correct, it needs to be turned on for the house keeper to be launched.

[2021-03-08 21:04] roderickyao opened #2306 "Support Spark 3.1.1+"
Many changes happened in Spark 3.1.1+, Iceberg should start to plan for support.

one example is, in Spark 3.1.1+, there is a change in `org.apache.spark.sql.catalyst.util.DateTimeUtils`, renaming `toMillis` method to `microsToMillis`. It prevents compiling against Spark 3.1.1

https://github.com/apache/iceberg/blob/master/spark3/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesP

[2021-03-09 05:59] NageshB82 commented on #2302
We have loaded the tables using below spark scala code

  val accountDF = spark.read.schema(accschema).parquet("/Users/data/Account/*.parquet")
    accountDF.writeTo("Account")
      .overwritePartitions()

  There are almost 12 parquet files and each parquet file contains around 33k json records

[2021-03-09 10:40] javsanbel2 commented on #2244
Hello @RussellSpitzer! I am having a similar issue and I agree to your solution as well. Did you continue working on this? I would like to know more about your approach. How would this work in practice?

[2021-03-09 12:41] openinx opened #2308 "Handle the case that RewriteFiles and RowDelta commit the transaction at the same time"
Since we've introduced row-level delete in format v2, so we will encounter the problem that RewriteFiles and RowDelta commit the transaction at the same time.

Assume that we have an iceberg table `test`, and has the following events:

[code]

At the timestamp `t1`,  someone start a rewrite action to rewrite the whole table.

At the timestamp `t2`,  someone start another transaction to update the

[2021-03-09 22:54] RussellSpitzer opened #2309 "Display Table Location in Spark SQL Properties"
I realized today that while you are able to set the location of an Iceberg Table in Spark3, you cannot then view that location using the standard SQL commands.

Maybe we should considering populating this in table properties?

[2021-03-09 23:15] RussellSpitzer commented on #2309
I would also tag this as "good first ticket" but I do not know how to add labels

[2021-03-10 01:43] aokolnychyi commented on #2300
@pvary, I think this logic would only apply to path-based tables that are not tracked in a metastore. It is pretty popular at least in Spark. Whenever we have a metastore, we should talk to it for figure out the list of partitions and their locations.

[2021-03-10 01:56] aokolnychyi commented on #2309
I feel it will be useful.

[2021-03-10 02:29] aokolnychyi commented on #2309
@flyrain, would you be interested in working on this?

[2021-03-10 02:34] aokolnychyi commented on #2309
We need to check if this will have any possible implications.

[2021-03-10 02:39] aokolnychyi commented on #2309
As far as I see, Spark passes the location as a table property. I think we can fake it in `SparkTable` like we fake the provider and the current snapshot id.

[2021-03-10 02:41] aokolnychyi commented on #2309
I think we can simply adapt `SparkTable$properties`.

[2021-03-10 02:41] RussellSpitzer commented on #2309
Totally agree, I was worried about it being mis used somewhere, but I think this is the right thing to do

[2021-03-10 02:45] aokolnychyi opened #2311 "Investigate new DS V2 interfaces in Spark 3.1"
We need to take a look at new interfaces in DS V2 in Spark 3.1 and see if we can support them.

[2021-03-10 02:45] aokolnychyi commented on #2311
@flyrain, could you take a look at this one?

[2021-03-10 08:26] openinx opened #2312 "Flink: Support nested projection in iceberg table source"
After we upgraded the flink version from 1.11 to 1.12,  the flink API starts to support nested projection now.   It's neccessary to support nested projection in `IcebergTableSource` now.

[2021-03-10 08:32] openinx opened #2313 "Flink: Provide the fully covered SQL integration test cases to verify the data correctness."
As we are refactoring the FlinkTableFactory to implement `DynamicTableSinkFactory` and `DynamicTableSourceFactory` interfaces from flink 1.12,   we will need to provide a SQL integration test to verify the CDC/Upsert data correctness as following:

1.   Create a streaming source table by flink DDL;
2.  Run SQL to submit flink streaming job to write CDC/Upsert events from source table to iceberg si

[2021-03-10 23:01] aokolnychyi opened #2316 "Display SortOrder as a table property in Spark"
Display the current `SortOrder` as a property in Spark 3.

I think we can show the current sort order alongside things like `provider` and `current-snapshot-id`.

[2021-03-10 23:01] aokolnychyi commented on #2316
@flyrain, could you take a look at this one too?

Also cc @RussellSpitzer and @rdblue

[2021-03-10 23:03] RussellSpitzer opened #2317 "Corrupted Metadata when Catalog Fails During Commit"
The current logic for doing a commit is at a high level as follows

1. Write all files including a new-metadata.json for the operation
2. Acquiring a lock
3. Swapping the pointer from old-metadata.json to new-metadata.json
4. Releasing the lock

If we fail during 3 we will always attempt to cleanup the files we created in step 1. This is a problem when step 3 (the swap) has been successful server

[2021-03-10 23:33] aokolnychyi commented on #2317
@RussellSpitzer, will you submit a PR for this? I'll help reviewing.

cc @pvary @rymurr @shardulm94 too

[2021-03-10 23:37] johnclara opened #2318 "Basemetastore Name StackOverflow"
Catalog's default name() calls toString:
https://github.com/apache/iceberg/blob/master/api/src/main/java/org/apache/iceberg/catalog/Catalog.java#L44

BaseMetastoreCatalog's toString calls name:
https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java#L149

Without overrides, results in:
[code]

Is this expected?

[2021-03-11 00:25] aokolnychyi commented on #2306
I'll look into that soon.

[2021-03-11 01:05] edgarRd opened #2319 "Caching Tables in SparkCatalog via CachingCatalog by default leads to stale data"
I've been experiencing a few issues with refreshing table metadata in Iceberg. I think caching in Iceberg is a bit flawed in the sense that if we use spark3 via `SparkCatalog` with `cache-enable=true` leading to wrap the Iceberg Catalog with `CachingCatalog` - which is the default - those tables will pretty much stay stale until:
1. They are evicted, or
2. There's a commit, which will trigger a re

[2021-03-11 01:25] RussellSpitzer commented on #2317
Yeah I can start digging into this soon, but I only am confident enough to handle the HMS use case here, I would suggest all the other catalog creators do a similar check to see if they have the same issue.

[2021-03-11 01:30] shardulm94 commented on #2317
Thanks @RussellSpitzer for filing this. We hit this issue at LinkedIn recently with HiveCatalog and were investigating the issue. Your analysis seems to line up with what we too observed.

[2021-03-11 02:51] zhangdove commented on #2317
We are using the Spark computing engine to read MySQL data and overwrite Iceberg (used by HadoopCatalog). When the timeout with MySQL is too long, the data file is cleaned up, while the file new-metadata.json still exists.

I'm not sure if it's the same as this ISSUE, but it looks a bit like @RussellSpitzer 's analysis.

[2021-03-11 03:29] zhangdove commented on #2319
I also agree that the default 'cache-enable' is set to false and it is up to the user to turn this parameter on or not.

In particular, some long lived Spark Sessions may have exceptions due to default caching. There are two kinds of situations that we encounter:

1. Asynchronous job clears old snapshots and data files (the higher the frequency of triggering, the more likely it is to occur)
2. Asy

[2021-03-11 06:58] openinx commented on #2235
@elkhand , Sorry for the delay,  there's no other reason that we did not provide the `checkNullability` and `checkOrdering` option.  We flink could provide that options if we really need.  I think that could be a TODO issue for iceberg flink connector.

[2021-03-11 07:07] aokolnychyi commented on #2319
None of the solutions is ideal. I wish Spark had a bit more control over that. My only worry about setting it as false is breaking self joins. Maybe, we can delegate that concern to Spark rather than to the caching catalog in Iceberg? I would not mind changing the default if there is enough consensus.

I'd like to hear from @rdblue @Parth-Brahmbhatt @danielcweeks as folks seem to rely on the curre

[2021-03-11 08:40] pvary commented on #2317
As a Hive user I would hate if I have to handle Type 2 errors. Is this rare enough to leave unhandled?

Just brainstorming:
- If we want to avoid this situation we can acquire a shared lock for getting the snapshot as well. This would mean that during the swap operation we should wait until the write operation is either finished successfully or failed. Since ideally both swap and getting the snaps

[2021-03-11 08:58] pvary commented on #2319
I found the same issue and tried to start a discussion on the dev list [discussion](https://mail-archives.apache.org/mod_mbox/iceberg-dev/202102.mbox/%3c3113F592-08A2-4EEA-9F76-F3DB32870DEE@cloudera.com%3e) about it.
The main points are:
- Stale data
- Table object is not thread safe

Also chatted a little bit about it with @rdblue, and he mentioned that in Spark the CachingCatalog is also used fo

[2021-03-11 09:34] QuintinTao opened #2322 "how to set Catalogs in structured streaming local model"
**I used structured streaming got data from kafka and write into iceberg (0.11.0)table. I got a exception**
Exception in thread "main" java.lang.IllegalArgumentException: Cannot initialize Catalog, missing no-arg constructor: org.apache.iceberg.hive.HiveCatalog
	at org.apache.iceberg.CatalogUtil.loadCatalog(CatalogUtil.java:157)
	at org.apache.iceberg.CatalogUtil.buildIcebergCatalog(CatalogUtil.ja

[2021-03-11 09:49] openinx commented on #2318
@johnclara  Thanks for reporting this,  I think it's a bug need to be fixed.  Would you like to prepare a PR for this ?  Thanks.

[2021-03-11 10:31] marton-bod commented on #2317
When running into a Type 2 error,  I think our retry logic would need to be changed. When retrying for a Type 2, we shouldn't cleanup the files prematurely, but instead should first attempt to reconnect to the catalog to double-check if the earlier operation succeeded.

- If we get an answer, and our snapshot is in the history of the table, then we're essentially done and no need to do anything.
-

[2021-03-11 12:01] rymurr commented on #2317
Re Hive: @marton-bod's logic sounds correct to me, including the case of multiple commiters. I guess its a matter of accurately identifying type 2 vs type 1

Re other catalogs. Nessie is susceptible to this issue as well. I think the fix is straightforward - certain exceptions don't delete metadata. Retrying the commit again is safe as it will create an empty commit. Polluting the commit log is an

[2021-03-11 13:06] RussellSpitzer commented on #2317
@pvary If we do not handle them we basically corrupt the iceberg table when they happen and require manual restoration/

I agree with @marton-bod, we can really do any amount of retries and reconnects but eventually we have to give up and at that point we must not clean up.

[2021-03-11 13:29] pvary commented on #2317
Is @marton-bod's assumption is correct, that if we give up and the commit was not successful then the dangling files will be cleaned up by the Cleaner eventually?

[2021-03-11 13:31] RussellSpitzer commented on #2317
Eventually the end user will need to run "remove orphan files" or something like the case of Type 2 Failure that is actually a failure and not just a network issue.

[2021-03-11 13:37] pvary commented on #2317
Thanks for the info!
So the tools are there, but manual intervention is needed.

The number of these manual interventions could be minimized with @marton-bod's suggestion by checking the table status after a Type 2 failure and running cleanup automatically if the connection is available again and the commit was not successful.

[2021-03-11 15:59] szehon-ho opened #2326 "Partition Table Performance"
I was struggling the other day with listing partitions of a table with 4000 manifest files, it takes ~10 minutes on S3, which is a bit of a shock for people used to the speed of querying Hive metastore.  While it is possible to optimize the metadata, was chatting a bit with @RussellSpitzer about this issue, and seems the way to go is making the reading of PartitionTable a proper Spark job with pre

[2021-03-11 16:01] RussellSpitzer commented on #2326
I think the predicate pushdown approach is probably the simplest solution at the moment, if you look in the Partition table code it creates a Scan which can have predicates applied to it, these should be filtered in the same way a normal scan would be.

[2021-03-11 16:04] szehon-ho commented on #2326
Yea I was thinking that, I can take a quick look at this.  Wondering about adding Partition boundaries to API based min/max  based on the current snapshot's manifest-list, I guess it's a bit too internal to V1 spec?  Even though it'd be a bit useful for a super quick response.

[2021-03-11 16:06] RussellSpitzer commented on #2326
I think if you wanted to go the spark route you could do the same conversion we already do for Spark Filters -> Iceberg Expressions and just apply them directly? I would think we could just expose "PartitionTable(Expressions)"

[2021-03-11 16:33] szehon-ho commented on #2326
Yea sorry if I missed your point, I think pushing down expression to PartitionTable can either be Spark or current route (for Spark can wait until you PR is done).

But min/max is not an expression (rather an aggregate)?  Which I guess is not pushed down by Spark for now?

[2021-03-11 16:50] ayush-san opened #2327 "Error while evolving partition column of a table"
env:
spar version: 3.0.1
hive version: 3.1.2
hadoop version: 3.2.1-amzn-2

I was trying to do a small POC of the iceberg table partition evolution. Here the following set of commands I ran in spark-sql

[code]

[code]
![image](https://user-images.githubusercontent.com/57655135/110821938-93303180-82b6-11eb-8757-1e87811da7c6.png)

[code]

![image](https://user-images.githubusercontent.com/57655135/1

[2021-03-11 18:32] RussellSpitzer commented on #2317
Posted a WIP ^ for feedback while I work on tests

[2021-03-11 22:53] edgarRd commented on #2319
I think caching tables indefinitely in sessions (until garbage collect or a change happens) returning stale results is unintuitive (non-obvious) and inconsistent to be set enabled by default. Seems like multiple people have brought up this behavior in the past -  at least @aokolnychyi and @pvary; signaling how unintuitive returning stale results by default is. Also, it's inconsistent with how Hive

[2021-03-12 06:51] pvary commented on #2319
Hive also should use the same snapshot of the table on query level, but the refresh is expected between sessions and transactions (currently queries). Since Hive query execution spans multiple JVMs, we have to find our own way for snapshotting tables. We have already started working on this (See BaseTable serialization)

I think the current CachingCatalog is too specific for general use but still

[2021-03-12 10:59] ayush-san commented on #508
I think for someone getting this error, these entries in documentation will help

* For batch job - [Writing against partitioned table](https://iceberg.apache.org/spark/#writing-against-partitioned-table)
* For streaming job - [Writing against partitioned table](https://iceberg.apache.org/spark-structured-streaming/)

PR - https://github.com/apache/iceberg/pull/1929

[2021-03-12 15:20] springle commented on #1502
Hi - I'm not sure if this should be a separate issue,  but I still see this error with some frequency while using Spark 2.4.4 and writing to an existing Iceberg table. It's non-deterministic, but it only seems to happen for longer writes (30+ minutes). I also see this TODO which seems related (https://github.com/apache/iceberg/blob/master/hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCa

[2021-03-12 16:30] springle commented on #1502
From what I can understand, the child `Table` object is created with the catalog before [initializing the Spark writer](https://github.com/apache/iceberg/blob/master/spark2/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java#L93), and then the reference to the catalog is lost (and sometimes GC'd, closing the connection pool in Hive's case). Who should own this reference - the `Iceberg

[2021-03-12 19:41] aokolnychyi commented on #2326
Well, it was expected the partitions table would not perform that well when a lot of metadata is present. I had [this](https://github.com/apache/iceberg/pull/655#discussion_r347950984) comment on the original PR.

Doing an aggregate on top of the files metadata table in Spark would be way faster but not instant. Have you tried that as a temp solution, @szehon-ho? I just wonder the difference in te

[2021-03-12 19:43] aokolnychyi commented on #2326
I definitely agree knowing a list of partitions in a table is a very common scenario and it should be quick.

[2021-03-12 19:56] Parth-Brahmbhatt commented on #2326
In presto , we basically implemented the partitions implementation as a view on top of files table and even for large table the performance is acceptable. We could do the same for spark and implement partitions as a view on top of files so the users don't really have to craft a query manually

[2021-03-12 20:08] sunchao commented on #2326
FWIW aggregation pushdown is being worked on in Spark at the moment ([PR](https://github.com/apache/spark/pull/29695)). It targets JDBC datasources right now but @huaxingao is extending that to Parquet/Iceberg.

[2021-03-12 21:35] aokolnychyi commented on #2326
@Parth-Brahmbhatt, yeah, that would be great to do that when Spark has the view catalog.

[2021-03-12 23:36] aokolnychyi commented on #2326
@szehon-ho, could you please try the equivalent query using the files table?

[2021-03-12 23:37] aokolnychyi commented on #2326
@sunchao, it is great to see progress on that one!

[2021-03-13 01:13] flyrain commented on #2309
Looking at this.

[2021-03-13 22:43] szehon-ho commented on #2326
Nice, I think with aggregate pushdown it could potentially open many faster queries in Iceberg overall, given how much metadata we have, if we are ok to answer queries with them.

I think #2182 is interesting, but it might be true that it's not worth the cost if it adds a ton more time for each commit.

@aokolnychyi  I gave a try today for doing equivalent query on files table, it's much faster (~

[2021-03-15 05:20] stevenzwu commented on #2308
Is this a typo: t1 -> t4?

In this case shouldn't the rewrite action commit fail due to conflict in opportunistic concurrency control?

If the rewrite action took longer than the streaming write commit interval, there is a chance that rewrite action can stuck in the conflict-and-retry loop. It have to re-apply all the expensive rewrite computation based on the latest snapshot.

[2021-03-15 07:22] openinx commented on #2308
Yeah,  thanks @stevenzwu.  It's a typo, sorry for that.

Re-do the expensive rewrite process is not the solution that people want because if the streaming job is checkpointing for every 1min and the rewrite action take 4min to complete , then there is probability that the expensive rewrite action will be always retrying.

Besides the expensive resource cost from retrying,  there is a data semantic

[2021-03-15 07:43] openinx opened #2334 "Test: Add row-level API for TestTable to make the unit test more easy."
Currently,  we only provide the file-level API to execute the row-level delete/update/insert for `TestTable`,  that means we have to write few deletes by operating low-level API like the following:

[code]

I think there will be many row-level delete unit tests in future development.  It will be more friendly if we could provide a row-level delete API in `TestTable` such as:

[code]

That will be

[2021-03-15 08:07] chinaboyll commented on #2327
I have the same problem。

[2021-03-15 09:56] jjtjiang opened #2335 "spark 3.1.1 compatible problem"
When i use  spark 3.1.1 , use namespace ,it don't work. it's ok  on spark 3.0.0
logs are below:
`java.lang.NoSuchMethodError: org.apache.spark.sql.internal.VariableSubstitution.<init>(Lorg/apache/spark/sql/internal/SQLConf;)V
	at org.apache.spark.sql.catalyst.parser.extensions.IcebergSparkSqlExtensionsParser.substitutor$lzycompute(IcebergSparkSqlExtensionsParser.scala:39)
	at org.apache.spark.sql.

[2021-03-15 12:52] RussellSpitzer commented on #2308
I don't think I see the data semantic issue, since the rewrite operation should fail as @stevenzwu has said, because it violates the constraint imposed by the delete.

I can understand how this is a practical problem if the rewrite can never complete because the row level delete files are being added too quickly, but I don't see how this can cause different data.

[2021-03-15 14:36] stevenzwu commented on #2308
If we can avoid the complete re-computation during retry, it might solve the practical problem of stuck in conflict-retry loop. Can the rewrite action reuse most/part of computation result from the previous try so that we can shorten the duration in the retry.

[2021-03-15 19:58] rdblue commented on #2319
Originally, we only cached tables for a short period of time, since the expectation is that we want to have fresh data if it is available, but have a reasonable window where results don't just change (i.e., while planning a self-join). The problem with this was that tables that were referenced by Spark plans would not get refreshed properly because the table would become an orphaned object and no

[2021-03-15 22:26] aokolnychyi commented on #2319
@rdblue, I am afraid the changes done in Spark and whatever we have in our actions invalidate only cached data. I don't think we invalidate plans. For example, if someone creates a view that references a V2 table, Spark won't invalidate it.

In our `SparkTable`, we have `refreshEagerly` flag, which is set as true whenever the caching catalog is not used. Using the caching catalog without expiry, e

[2021-03-15 23:52] flyrain opened #2337 "Fix the doc mismatch after PR#2220"
https://iceberg.apache.org/configuration/ still shows default value of write.target-file-size-bytes is Long.MAX_VALUE, which has been changed to 512M after the change "Core: Change default write.target-file-size-bytes to 512 MB (#2220)".

[2021-03-16 03:41] shangxinli commented on #1413
Sounds good @ggershinsky! Look forward to reviewing your changes!

[2021-03-16 06:55] flyrain commented on #2335
Which Iceberg version did you use? The master branch with Spark 3.1.1 works for me.

[2021-03-16 07:25] openinx commented on #2308
@RussellSpitzer  If we just fail the rewrite operation as @stevenzwu said,  Yes it should be no data semantic issue.  The failure  could be acceptable for batch jobs, I mean we could just fail the rewrite operation if someone write few new update/deletes into the base iceberg table, the batch update/deletes job is a rare operation, the probability of conflict between rewrite operation and update o

[2021-03-16 07:46] ggershinsky commented on #1413
Cool, I'll send them in a pr (after the parquet-mr-1.12 artifact is released; CI checks won't pass otherwise).

[2021-03-16 08:50] pan3793 commented on #2335
I can't compile master code against spark 3.1.1

[2021-03-16 10:03] jjtjiang commented on #2335
Iceberg version is 0.11.0

[2021-03-16 18:48] flyrain commented on #2335
I can reproduce the issue with 0.11.0 release @jjtjiang.

[2021-03-17 04:22] yyanyy commented on #2308
My understanding of what @stevenzwu referred to is that, if the operation fails due new RowDelta commits coming in, the rewrite operation could potentially  takes whatever changes introduced in the new RowDelta commits and make them part of the rewrite commit along with the old job output originally produced, so that we don't have to go through the expensive recompute while ensure data correctness

[2021-03-17 07:00] openinx commented on #2308
I think we are thinking the similar apporach to fix the semantic issue caused by commit order. You are trying to increase the seqNum of delete files that were written in the previous RowDelta when doing the rewrite action commit, I'm trying to commit the rewrite action with the stale seqNum that the table wrote before start the rewrite action. The key point is: Let the RowDelta's equality deletion

[2021-03-17 07:08] openinx commented on #2308
If we plan to maintain sequence number like that, then the semantic of sequence number will be:  if there are some real update/insert/delete in the table data set then we should increase the sequence number, otherwise we should keep the same sequence number for the rewrite action.  The previous semantic is:  if there is any txn that committed to iceberg table, then the sequence number should be in

[2021-03-17 07:27] hereTac opened #2341 "spark-procedures Metadata management expire_snapshots is not worked"
env:
Spark 3.0.2
Iceberg 0.11.0
SparkThriftserver-SparkSQL-Beeline

Steps to reproduce：
`
0: jdbc:hive2://172.25.52.34:50033> drop table hive.dc.tmp_1;
+---------+
| Result  |
+---------+
+---------+
No rows selected (0.188 seconds)
0: jdbc:hive2://172.25.52.34:50033> CREATE TABLE hive.dc.tmp_1( day_id string , visitor_user_id string )
. . . . . . . . . . . . . . . . . > USING iceberg
. . . . . .

[2021-03-17 08:56] ankitkpandey opened #2342 "Control on the number of data files created"
Hi, I'm trying to use Spark along with Iceberg to capture differential data, using Spark SQL's MERGE INTO command.
But I see around 200 files each with roughly 1mb size. Is there a configuration var which I can use to reduce the number of files?

Also, my current use-case doesn't require time-travel and old snapshots, so is there a way to automatically delete them while merging the new data. Maybe

[2021-03-17 10:24] chinaboyll opened #2344 "Merge into is Error。Error：java.lang.NoSuchMethodError"
spark version :3.0
iceberg version:0.11.0
-------------------------------------------------------
Start Spark-sql:
spark3-sql --master yarn --packages org.apache.iceberg:iceberg-spark3-runtime:0.11.0 \
    --conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions \
    --conf spark.sql.catalog.zdm=org.apache.iceberg.spark.SparkCatalog \
    --conf spark.sql.cata

[2021-03-17 13:05] #1437 closed

[2021-03-17 13:11] openinx opened #2346 "Add flink unit test to validate that ManifestFile could be serialize/deserialize by flink kryo serializers"
We spark's kryo serializers have registered some serializers,  which could serialize/deserialize the UnmodificableList by default, so it's OK to serialize/deserialize the `ManifestFile`.  But we flink don't have those registers,  we will need to provide a   unit test to validate that the ManifestFile could be serialized/deserialized by flink's kryo serializer,  similiar to the [TestManifestFileSer

[2021-03-17 14:15] RussellSpitzer commented on #2344
That looks like an actual Spark Class is not missing, are you sure your deployment is setup correctly?

The method is introduced here
https://github.com/apache/spark/commit/7cfd589868b8430bc79e28e4d547008b222781a5 - Which is in 3.0.0

https://github.com/apache/spark/blob/v3.0.2/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala#L356

So unless v2Commands's gen

[2021-03-17 14:18] RussellSpitzer commented on #2341
Unfortunately, because we use a parser extension, the procedures do not allow arbitrary expressions  to be passed to them. This is why "now()" is throwing an error.

Currently we support only constants and stringMaps,

https://github.com/apache/iceberg/blob/master/spark3-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4#L113-L116

[2021-03-17 17:06] grantatspothero commented on #104
I'm seeing this as well with iceberg 0.11.0 in trino when trying to query a table:
[code]

[2021-03-17 17:42] stevenzwu commented on #2308
@openinx can you elaborate on the seqNum behavior in your original example. My understanding is that rewrite action commit have to re-increment the sequence number after the successful delta commit.

Is this correct with even with the new proposed seq number behavior?

[2021-03-17 18:55] yyanyy commented on #2308
I think there are two seqNum concepts here: seqNum for the table/commit and seqNum for the file. I think it's a reasonable approach to mark the rewritten files with the old seqNum, but I'm not sure if we necessarily need to use an old sequence number for the commit since they are stored as part of the snapshot, and suddenly have an old seqNum within the snapshot could be confusing even if there's

[2021-03-17 19:16] Sealina opened #2347 "Type Equality Check"
Hello,

I'm using iceberg 0.10.0 and Junit 5 for unit testing my app based on iceberg. I noticed something out of expectation as the following

[code]
Output:
[code]

It looks like the iceberg types are using the default Java Object way of equality check (pointer equality instead of value equality). I want to know if this is by design, or if there's other ways of checking equality for iceberg type

[2021-03-18 02:50] openinx commented on #2308
@stevenzwu  I will publish the PR about seqNum changes today, it's a very simple change.

@yyanyy

Yeah,  it will write the manifest/data/delete files with the old seqNum, but the newly created snapshot will use an increased seqNum because we have the validation that seqNum MUST be increasing for snapshots.

For the rewrite action that converting equality to position deletes,  we could still use t

[2021-03-18 02:54] hereTac commented on #2341
If it is as your description shows, then the document should be wrong, and it will make people use it incorrectly.

[https://iceberg.apache.org/spark-procedures/#expire_snapshots](url)

date_sub(current_date(), 10)

[2021-03-18 02:56] RussellSpitzer commented on #2341
ah that is true, I copied that from our internal branch which allows all expressions because it uses the standard parser ... We should probably figure out a way to allow arbitrary expressions here as well

[2021-03-18 03:15] #2341 closed

[2021-03-18 03:35] chinaboyll commented on #2344
i don't think Spark libraries is  conflict，and demo is from http://iceberg.apache.org/spark-writes/#merge-into

I have already run : use zdm to V2 , and i can use insert/overwrite, but merge and call is error.

I thought SQL Extensions was wrong,It didn't load successfully, but i look yarn-ui-application-Environment- Spark Properties-spark.sql.extensions is org.apache.iceberg.spark.extensions.Iceb

[2021-03-18 03:57] RussellSpitzer opened #2348 "Iceberg Extensions Parser Should Allow Generic Expressions as Call Args"
As noted in #2341, we currently only support a very limited set of Spark expressions as call arguments. While internally we overcome this by manually modifying the spark parser code itself, I realize this isn't possible for most extension users.

Ideally I think we should do something like importing a copy of Spark Grammar or some other scheme for delegation of call argument parsing. I'm not sure

[2021-03-18 07:03] #2070 closed

[2021-03-18 07:46] openinx commented on #2347
For `IntegerType`,  we'd better to use the `typeId` to accomplish the assertion like:

[code]

[2021-03-18 07:46] #2347 closed

[2021-03-18 15:26] ys610zz opened #2351 "trion very slow"
iceberg 0.11.0
trino 351

trino worker*3
16CORE 32G RAM

[code]

[2021-03-18 23:52] grantatspothero commented on #1654
Confirmed this issue is still a problem and causes iceberg task planning to hang forever.

Upgrading to avro 1.10.1 resolves the hanging problem, but as @mickjermsurawong-stripe mentioned there might be other side effects of upgrading that require testing.

This bug also affects trino's iceberg plugin:
https://github.com/trinodb/trino/blame/master/plugin/trino-iceberg/pom.xml#L135-L145

They exclu

[2021-03-19 05:38] NageshB82 commented on #2302
@RussellSpitzer Did you get a chance to look at it ?

[2021-03-19 06:35] openinx commented on #2351
@yyanyy @jackye1995 Did you encounter the similar issue ?

[2021-03-19 08:13] #2342 closed

[2021-03-19 13:23] RussellSpitzer commented on #2302
I have some thoughts but we still really need more info, if you have a chance could you capture the Spark UI for the job? In particular the stage in which the table is read? My main guess is the actually time spent is related to something like such as scheduling delay or some other Spark level thing. It really doesn't make any sense that it would be reading the files if changing the compression ha

[2021-03-19 20:46] yyanyy commented on #2351
I don't think I have, but we are mostly using our internal repository based on glue catalog and S3FileIO so our experiences wouldn't be the same. @jackye1995 did you encounter this before?

I think this performance problem could be associated with other factors as well; how is the data/table look like, did you try the same query in sparksql or other engines? Is this a customized trino server, sinc

[2021-03-19 20:53] aokolnychyi commented on #2348
I am afraid this will be hard to achieve as we need to be able to parse all expressions in our extension parser.

[2021-03-19 20:55] RussellSpitzer commented on #2348
Something I considered would be if we just copied the Spark grammer, and then "import it", then our parser would get all the Spark things from that and we could still fail back to the delegate when we don't succeed.

[2021-03-19 21:07] aokolnychyi commented on #2348
How would we handle changes in the Spark grammar from version to version?

[2021-03-19 21:51] RussellSpitzer commented on #2348
I think the only conflicts are when the Spark Grammar invalidates something that was previously allowed, because otherwise we just accept .. maybe I'm missing something there ... extensions could be built to be spark version specific ?

[2021-03-19 21:52] jackye1995 commented on #2351
I think this is too little information, there are many conditions of the cluster that can cause this in rare situations, could you at least rerun the query many times and see if it can be reproduced?

Also could you also describe information around the table itself, its partition scheme, size, etc.?

[2021-03-21 14:31] springle commented on #1502
Hi @rdblue - this is with Iceberg 11 and Spark 2.4, and I think the catalog in the link above ends up getting loaded from [here](https://github.com/apache/iceberg/blob/629f7ad7c5fbc16da1e0752f5d170889d4e761b4/spark2/src/main/java/org/apache/iceberg/spark/source/CustomCatalogs.java#L89). I see what you're saying about the catalog cache being tied to a Spark session, but maybe using `softValues` let

[2021-03-22 05:37] stayrascal commented on #1766
Hi, just given an example here follow the [document](https://iceberg.apache.org/aws/), and meet a 'unknown' classification issue in Glue data catalog.

1. Start Spark SQL
[code]

2. Create table and insert data:
[code]

3. When Query table from AWS glue data catalog console, it look like missed the `storageDescriptor` filed about the table schema. didn't see where the [GuleCatalog](https://github.

[2021-03-22 06:01] jackye1995 commented on #1766
@stayrascal Hi, this is expected behavior. Glue is only used as a storage service to store Iceberg related table information in parameters, which are the ones you see in `parameters` section. `storageDescriptor` is not set intentionally because we plan to support a different read & write mechanism.

[2021-03-22 06:03] jackye1995 commented on #1766
@WilliamWhispell I somehow missed your comment, sorry for the late reply.

And for anyone else who is also interested in Athena support, please ping me directly (through LinkedIn or Slack) to discuss more details.

[2021-03-22 07:18] stayrascal commented on #1766
@jackye1995 thanks a lot for your quick response.
so is that the icebreg table cannot be read by Athena/Presto, because if the `storageDescriptor`(which include the table schema, input/output format) is not set, Glue catalog cannot recognize this table, and cannot be queried by Athena.

is there other approach that support the Athean query icebreg table?

[2021-03-22 07:28] jackye1995 commented on #1766
@stayrascal storage descriptor is needed if the table is intended to be read through Hive. Even in open source Trino today, this is technically not needed (although the Trino iceberg connector basically depends on the hive connector so there might be some checks for it, I have not verified)

And as I said in the other comment, please contact me directly through LinkedIn or Slack if you are interes

[2021-03-22 07:46] stayrascal commented on #1766
@jackye1995 Thanks. could you please share your Slack ID or link?

[2021-03-22 09:24] NageshB82 commented on #2302
@RussellSpitzer  Here I am attaching the spark UI job and stages output when we are querying data from Account table from iceberg using simple jdbc program

// get connection
        Connection con = DriverManager.getConnection("jdbc:hive2://<sparkthrift_server_ip>:10000/default", "", "");
        // create statement
        Statement stmt = con.createStatement();
        // execute statements
Res

[2021-03-22 11:28] XuQianJin-Stars opened #2356 "TimeZone‘s ERROR on testInsertSupportedTypes"
Hi everyone, I found the following errors when running UT:
![image](https://user-images.githubusercontent.com/10494131/111982702-406f3900-8b44-11eb-80dc-1b685579aab0.png)

[2021-03-22 11:50] pvary commented on #2356
@XuQianJin-Stars: Could you please share some details how did you run these tests?
For example: Which version, which timezone?

Thanks,
Peter

[2021-03-22 14:03] junsionzhang opened #2357 "hive cannot get data from iceberg table"
I have setup the hive ,flink and iceberg
1)create iceberg table using flink
CREATE CATALOG hive_catalog WITH (
  'type'='iceberg',
  'catalog-type'='hive',
  'uri'='thrift://192.168.100.101:9083',
  'clients'='5',
  'property-version'='1',
  'warehouse'='hdfs://192.168.100.101:9000/hive/warehouse/iceberg'
);
CREATE TABLE hive_catalog.iceberg.sample (
    id BIGINT COMMENT 'unique id',
    data STR

[2021-03-22 14:34] pvary commented on #2357
@junsionzhang:
- Is the catalog type set correctly? Could you please run `set iceberg.mr.catalog`?
- What is the output of the `DESCRIBE FORMATTED sample` from Hive?

Thanks,
Peter

[2021-03-22 14:36] RussellSpitzer commented on #2302
From that it looks like it's doing a single file read for these jobs, I was hoping you could also share the actual stage details for a job. You get this by clicking on the link in the stage description, it should give a query plan and runtime breakdown.

That said I would be very surprised by these runtimes on any system for reading approximately 40 mbs of data.

[2021-03-22 14:39] RussellSpitzer commented on #2302
It may be helpful to benchmark the IO limits of your device, is there a possibility within your configuration storage is being throttled? While it could be cpu bound on the decopression both scenarios are very strange since the read here is trivial

[2021-03-22 16:47] Sealina commented on #2347
Thank you. On top of that, I also detected that this statement will fail:

[code]
because NestedField equality relies on equality of type object (not typeId): https://github.com/apache/iceberg/blob/master/api/src/main/java/org/apache/iceberg/types/Types.java#L520

Given that in a unit test, we may not have explicit control over what actual NestedField object we get when we do assertEquals, is ther

[2021-03-22 18:42] grantatspothero commented on #1654
Ended up doing the same thing @mickjermsurawong-stripe described above, forking iceberg and copying the static method from avro into iceberg:
https://github.com/apache/iceberg/compare/apache-iceberg-0.11.0...grantatspothero:0.11.0-avro-patch?expand=1

This resolves the issue without having to upgrade avro and hope that interops well with trino/spark.

[2021-03-23 03:28] junsionzhang commented on #2357
1) "set iceberg.mr.catalog=true;" works fine in hive
2) the `DESCRIBE FORMATTED sample` result is as follow

Database:           	iceberg
Owner:              	root
CreateTime:         	Mon Mar 22 18:08:46 CST 2021
LastAccessTime:     	Sun Jan 18 16:40:22 CST 1970
Retention:          	2147483647
Location:           	hdfs://192.168.100.101:9000/hive/warehouse/iceberg/iceberg.db/sample
Table Type:

[2021-03-23 05:28] NageshB82 commented on #2302
@RussellSpitzer Here is details of one of the stage

![image](https://user-images.githubusercontent.com/80257736/112097813-b1efcb80-8bc6-11eb-86e7-de56fb511b5a.png)

[2021-03-23 06:27] aokolnychyi commented on #2068
Fixed by #2210.

[2021-03-23 06:27] #2068 closed

[2021-03-23 08:36] pvary commented on #2357
Sorry @junsionzhang, I was not clear enough:
- Please provide the output for `set iceberg.mr.catalog` - I suspect the catalog is not set in your Hive environment.

Base on the output of the `DESCRIBE` I see that when the table is created the `hive.engine.enabled` was not set to true, so the `SerDe`, `InputFormat`, `OutputFormat` is not set correctly.

Please check the https://iceberg.apache.org/hi

[2021-03-23 10:56] coolderli opened #2359 "spark3 can't query iceberg: failed to connect to Hive Metastore"
I have some problems using spark3 to operate iceberg according to the tutorial.
`show tables` and `show databases` can be executed normally.
But when I used spark3 to query iceberg , I encountered the following exception：

0: jdbc:hive2://xxx> select count(*) from binlog_test;
Error: org.apache.hive.service.cli.HiveSQLException: Error running query: org.apache.iceberg.hive.RuntimeMetaException: Fa

[2021-03-23 13:43] RussellSpitzer commented on #2302
Could you please include the event timeline and Dag Visualization?

In addition if you haven't started benchmarking your storage yet, try doing a non iceberg read and write just using the parquet datasource of the same data. Just to check whether it is a storage issue (remember to use the same compression)

[2021-03-23 15:06] RussellSpitzer commented on #2359
I see
```Caused by: MetaException(message:Could not connect to meta store using any of the URIs provided. Most recent failure: org.apache.thrift.transport.TTransportException: GSS initiate failed```

Which usually means a configuration issue with Kerberos, are you sure you have configured the Iceberg catalog with the same configuration as your session catalog? If you share your session configurati

[2021-03-23 15:07] RussellSpitzer commented on #2344
I believe it is a Spark Version error because the extensions library is calling on a specific Spark internal function which is missing, but I don't see how that could be unless multiple Spark versions were on the classpath at the same time,

[2021-03-23 15:11] RussellSpitzer opened #2360 "Internal Tests Cannot us ORC or Avro Datasource Writers"
While working on the addFiles procedure I found that it is currently impossible to use Spark's Avro or ORC writers in our test code because of classpath issues.

See

https://github.com/apache/iceberg/blob/f0a6b717dbf662caa9c762e72c47715a12625647/spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java#L90-L128

which are created and written using the Spark So

[2021-03-23 16:08] pvary commented on #2360
We have faced the same issue when moved the mr module to the Hive repo. CC: @marton-bod
First random idea: create a bundled-orc / bundled-avro / bundled-parquet(?) modules like we did with guava?

[2021-03-23 16:25] marton-bod commented on #2360
Yes, we faced the same issue that Hive exec uses a different `orc-core` version than `iceberg-core`, therefore we were not able to pull both of them in and run unit tests that can write to Hive ORC tables and Iceberg ORC tables at the same time. In a real cluster, this problem goes away, because we shade the `orc-core` dep used by iceberg-orc and include that into the runtime jar. As @pvary mentio

[2021-03-23 20:24] rdblue commented on #2351
It's also suspicious that there were 78 splits, but only 9 rows. I'd be interested to see the contents of the files metadata table for this.

[2021-03-23 20:28] rdblue commented on #1654
I think we should plan on upgrading to Avro in #1648. That should fix this in the next release, 0.12.0.

[2021-03-23 20:47] #2317 closed

[2021-03-24 00:21] rdblue commented on #1502
Yeah, I think you're right. In 2.4, Spark doesn't maintain the catalogs. The cache assumes that Spark is maintaining the references. We should use `softValues` for Spark 3 and later, but not for 2.4. Would you like to open a PR to fix this?

[2021-03-24 03:57] NageshB82 commented on #2302
@RussellSpitzer  Added more details , as below

DAG Visualization
![image](https://user-images.githubusercontent.com/80257736/112252217-b24d9c80-8c82-11eb-8ef8-776c9dca311c.png)

Event timeline
![image](https://user-images.githubusercontent.com/80257736/112252284-d0b39800-8c82-11eb-9335-c270460eb11e.png)

Summary mertics
![image](https://user-images.githubusercontent.com/80257736/112252389-0822448

[2021-03-24 04:29] aokolnychyi opened #2366 "Respect gc.enabled property while dropping tables"
I think we should respect `gc.enabled` property while dropping tables. I am afraid we can create a table through `snapshot` and dropping it will actually delete files in the original table.

[2021-03-24 04:30] aokolnychyi commented on #2366
Thoughts, @RussellSpitzer @rdblue @pvary @rymurr @shardulm94?

[2021-03-24 04:51] rlcyf commented on #2351
[code]

[code]

[2021-03-24 04:57] aokolnychyi commented on #2366
The unfortunate part is that our docs advise to call DROP on snapshot tables, potentially messing the original table.

[2021-03-24 04:58] aokolnychyi commented on #2366
Let me submit a PR.

[2021-03-24 05:10] aokolnychyi commented on #1994
I think the issue has been fixed. Closing.

[2021-03-24 05:10] #1994 closed

[2021-03-24 08:52] NageshB82 commented on #2302
@RussellSpitzer As you suggested, We tried creating External table in spark (not iceberg table) as below and tried query on that

`CREATE EXTERNAL TABLE Account(name  string,dn  string, accountCreationDate  string, disabled  long, forceChangePwd long, pwdLife long, numberLoginError long, lastChangePwd  string,  lastLogin  string, lastWrongLogin  string, state long, expire  string,  lastCertTime  s

[2021-03-24 09:02] openinx commented on #2308
@rdblue  What's your opinion about this issue ?

[2021-03-24 09:20] wynjauu opened #2369 "Flink : the construction method of the class DataIterator<T> can be optimized"
![image](https://user-images.githubusercontent.com/32868128/112283764-72f37000-8cc3-11eb-8fa0-c6cbaa3e6d97.png)

In the code block marked in the above figure, the implementation process of the code block for the initialization value of the **inputFiles** variable can be further optimized, streamlined, and reduce multiple loops.At the same time, the code will be more elegant.

I optimized the code

[2021-03-24 09:22] zhuxiaoshang commented on #2369
Good Job!

[2021-03-24 11:24] yuzhaojing opened #2371 "RowDelta validate data file exist should start from recent rewrite snapshot"
Currently, MergingSnapshotProducer#validateDataFilesExist will validate all snapshots, but it doesn't consider rewrite and expire action. If we rewrite a snapshot, and then expire any snapshot with `cleanExpiredFiles(true)` before rewrite, this check will throw Execption.
`ValidationException.check(currentSnapshot != null,
          "Cannot determine history between starting snapshot %s and curren

[2021-03-24 12:08] ggershinsky opened #2373 "Rotation of encryption keys"
The envelope encryption practice requires periodic (or on-demand) re-wrapping of DEKs (data encryption keys) with new versions of master keys. KMS (key management service) generates the new master keys and keeps their history. The re-wrapped DEKs need to be updated in Iceberg metadata. In a case of double envelope encryption, the KEKs (key encryption keys) are either re-wrapped with new master key

[2021-03-24 15:26] RussellSpitzer commented on #2302
Ok so that speed differences looks to be entirely due to the parallelization difference there, 8 files vs 1. The overall speed seems to be in line. My guess would be it's just a slow setup of hardware and IO. Probably IO based on how long even those tiny tasks took, over a second to read 2.6 mb's of data and deserialize it? Seems not great, results serialization time is also incredibly long on som

[2021-03-24 16:12] RussellSpitzer opened #2374 "SparkSessionCatalog Drop Issues"
Talking with @szehon-ho we found a few issues with the drop pathway for SparkSessionCatalog

**Main problem:
Drop is delegated to the original session catalog in Spark SQL when using the SparkSessionCatalog class**

Normally when a drop table statement is parsed it goes through the following steps
[code]

 The problem with the pathway here is that the spark.sessionState.catalog will always invoke

[2021-03-24 16:49] aokolnychyi commented on #2374
Yeah, that's unfortunate. I've noticed this some time but did not have time to look into this.

@rdblue, any ideas why we delegate the drop to the v1 session catalog?

[2021-03-24 17:01] dmgcodevil opened #2375 "How to update number of buckets in partition spec ?"
I have a partition spec that looks like that:

[code]

I used `table.updateSpec()`

[code]

I thought it will just update the existing partition but instead, it created another partition:

[code]
which resulted in the following structure in S3:

[code]

Actually, it should have failed b/c I used the same name for the partition, at least I thought so, but bucket(FieldNames.SECURITY_ID, 1000) append

[2021-03-24 17:13] RussellSpitzer commented on #2374
@sunchao Pointed out that this issue is most likely resolved in Spark 3.1.1 which only handle V1Tables via the old catalog.

https://github.com/apache/spark/pull/27550

The code now only will apply to V1 Tables

https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala#L327-L328

We should verify this, and if so we can cl

[2021-03-24 18:48] rdblue commented on #2369
I'm closing this because I don't think the refactor is a good idea. More details are on the PR.

[2021-03-24 18:48] #2369 closed

[2021-03-24 20:01] PM200 opened #2377 "How to use credential in Apache iceberg?"

[2021-03-24 20:02] PM200 opened #2378 "Is Apache Iceberg table support spatial data? How to store spatial data in iceberg tables?"

[2021-03-25 00:25] #2366 closed

[2021-03-25 05:40] pan3793 opened #2382 "Lack test on runtime jar"
#2331 relocated the antlr4 classes in spark3 runtime module jar, but it cause several issues.

For example,
[code]
will cause
[code]

This is because spark `UpperCaseCharStream` refer the original antlr4 `CharStream`, but Iceberg invoke with the relocated one.

And I think the root cause here is we just build a runtime jar with relocation, but has none test on it.

Temporarily, I think we should r

[2021-03-25 11:41] szehon-ho commented on #2374
Just a note if anyone hits this on Spark 3.0.x, for the cache issue (2 above) a workaround is:

`spark.sessionState.catalogManager.catalog(catalogName).asInstanceOf[SparkSessionCatalog].dropTable(db, table)`

Otherwise you are stuck, there are no way to 'refresh table' as Spark does a tableExists check.

It doesn't fix the other issues though.

[2021-03-25 13:04] hseagle opened #2383 "CodePointCharStream not found while using the latest snapshot version"
Failed to call any procedure defined in spark3-extension during the related antlr class not found.  I'm using the latest dev version.

Here is the detail error messages
[code]

[2021-03-25 18:36] #2346 closed

[2021-03-26 01:57] junsionzhang commented on #2357
Thank you so much.
1)when I run 'SET iceberg.mr.catalog;' for the first time after luanching hive comannd ,it says ''iceberg.mr.catalog is undefined'
but after  running 'SET iceberg.mr.catalog=hive' ,the command  'SET iceberg.mr.catalog;'  works fine and the ouput is 'iceberg.mr.catalog=hive'
2) I do put the iceberg-hive-runtime-0.11.0.jar under $HIVE_HOME/lib
3) what the SerDe, InputFormat, Outpu

[2021-03-26 02:25] rlcyf commented on #2351
halo

sure_date range 2018-2021

[code]

[2021-03-26 03:49] pan3793 commented on #2383
Temporary solution is revert #2331, see #2382

[2021-03-26 07:00] junsionzhang commented on #1684
I have the same question now.

[2021-03-26 07:27] openinx opened #2384 "Flaky unit test: TestFlinkTableSink#testHashDistributeMode"
I encountered several failures when running the TestFlinkTableSink#testHashDistributeMode,  I think it worth to take some time to dig what's reason that causing this UT to be flaky. (see https://github.com/apache/iceberg/runs/2198897493)

[code]

[2021-03-26 07:38] openinx commented on #2384
Checked the code path ( https://github.com/apache/iceberg/blob/master/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java#L290),  If the flink job did a failover, then it will produce some data files under the partition directories,  which has not been committed to apache iceberg table, so actually those files should not be visible to iceberg users.  I think we'd better to change

[2021-03-26 07:48] junsionzhang commented on #1684
hi, have you figured out the reason now ?  @JingsongLi  said 'Hive reader only supports read a existed Hadoop table...' ,but I think the link(https://iceberg.apache.org/hive/) does not say it clearly .

[2021-03-26 07:48] junsionzhang commented on #1684
hi, have you figured out the reason now ?  @JingsongLi  said 'Hive reader only supports read a existed Hadoop table...' ,but I think the link(https://iceberg.apache.org/hive/) does not say it clearly .

[2021-03-26 07:56] junsionzhang commented on #2357
It seems the same question as  openinx. same steps ,same result. hadoop works but hive cannot  https://github.com/apache/iceberg/issues/1684#issuecomment-720339705

[2021-03-26 10:30] pvary commented on #2357
The issue you have linked is for older version of Iceberg. It should be possible to read the table from Hive with 0.11.0 version of Iceberg.

Based on your answers I see two problems:
1. When you are trying to read a table stored in HiveCatalog, you should set the catalog to hive. This could be set in the hive-site.xml, or before issuing the query you could issue the following command:
[code]
2. W

[2021-03-26 21:17] rdblue commented on #2231
We've considered naming snapshots as a "tagging" feature (to borrow a term from git). I'm also interested in named branches as well, since I think you may want to actually maintain data that has been tagged. I don't have current plans to build this yet, though.

[2021-03-26 22:24] flyrain opened #2387 "Commit failed due to Internal error processing lock in metastore DB"
I hit this issue, and got it resolved. It should only happen when you connect a postgres Hive metastore DB. Open this issue in case somebody else hit it. It is similar to issue #798, the root case should be different though.
Here is the client side stack.
[code]
Server side stack
[code]
To fix it, we need to reindex hl_txnid_index. Here is a command example.
[code]

[2021-03-27 11:37] ayush-san commented on #2168
@jackye1995 I am passing `io-impl` to hive catalog in flink to save data in s3. But I am getting the following error

[code]

[2021-03-27 12:10] ayush-san commented on #2168
Please ignore my above message, as I was testing my job in the local environment it didn't have s3 library. I fixed it by adding software.amazon.awssdk.s3 library in my local.

[2021-03-27 13:30] openinx commented on #2384
Close this via https://github.com/apache/iceberg/pull/2385

[2021-03-27 14:59] wynjauu opened #2388 "Spark：spark need support timestamp time zone fileds"
When using spark to query iceberg, because it is the binlog data synchronized by flink, there are some fields with timestamp without time zone, so the parsing error, and then use the presto iceberg connector to solve the problem. Need support at iceberg's source code. I think data types without time zone are often seen in daily production.

![image](https://user-images.githubusercontent.com/328681

[2021-03-27 15:15] RussellSpitzer commented on #2388
This is covered by #2244 which is currently in review

[2021-03-27 15:17] RussellSpitzer commented on #2388
Pr at #2282

[2021-03-28 18:45] shangxinli opened #2390 "Upgrade Parquet version to 1.12.0"
Parquet 1.12.0 is about to release(https://issues.apache.org/jira/browse/PARQUET-1898) in a few days. Once it is available, we can upgrade the version to 1.12.0, which has great features like column encryption for Iceberg to integrate.

[2021-03-28 18:55] shangxinli opened #2391 "Integrate Parquet bloomfilter feature"
Parquet bloom filter(https://github.com/apache/parquet-format/blob/master/BloomFilter.md) will be available once parquet 1.12.0 is released.

This issue is created to integrate parquet bloom filter after Iceberg upgrades the parquet version to 1.12.0 (https://github.com/apache/iceberg/issues/2390), and Parquet has the "column resolution by ID" feature https://issues.apache.org/jira/browse/PARQUET-

[2021-03-28 18:55] shangxinli commented on #2391
cc @chenjunjiedada

[2021-03-28 19:31] RussellSpitzer commented on #2390
We are already testing with builds of this, so the bump should be safe

[2021-03-29 01:49] pan3793 commented on #2382
cc @RussellSpitzer

[2021-03-29 02:15] openinx commented on #2382
We may need to provide several integration tests to validate that the spark-runtime jar & flink-runtime jar. Those tests will set up  a spark/flink mini cluster, and then load generated the spark/flink runtime jar, and finally run the sql script to do the validation.  In this way,  we could avoid the broken case when merging patches.

[2021-03-29 03:11] #1028 closed

[2021-03-29 03:27] chinaboyll commented on #2344
thanks a lot

[2021-03-29 05:37] RussellSpitzer commented on #2382
For Spark we could just run in local mode, no need to setup a full cluster. The classpath issues would be the same.

[2021-03-29 09:10] #2388 closed

[2021-03-29 09:13] wynjauu commented on #2388
Thanks, I closed this and will continue to follow https://github.com/apache/iceberg/pull/2282

[2021-03-29 14:56] chenjunjiedada commented on #2391
Thanks for ping me, @shangxinli ! Let me try locally first, will post PR once it works well.

[2021-03-29 17:05] jackye1995 commented on #2168
Cool, sorry I was out during the weekend. It seems worth adding a section describing these details about Flink in the documentation since there have been multiple people asking the same question, let me just do that.

[2021-03-30 09:27] dixingxing0 commented on #2198
Sorry for the late reply, i found that this exception only occurs in the initializeMapOperator phase, org.apache.iceberg.mr.hive.HiveIcebergSerDe will not be used to deserialize data from hive table, so i just simply caught this exception and logged it, then everything works fine.

[2021-03-30 16:09] RussellSpitzer commented on #1378
#1744 I have a ongoing fix for this, @rdblue and I were in dialog about the proper way to fix this and had some disagreements. I do want to get back to it and fix this properly

[2021-03-30 18:17] #2318 closed

[2021-03-31 05:15] ayush-san commented on #2168
I moved to HadoopFileIO instead of S3FileIO as S3FileIO was asking for many aws services like dynamodb/glue/kms and we have to add them individually. My code didn't require these libraries but I think S3FileIO is only integrated with glue(Not sure).

None of these aws sdk jars were on EMR also

[2021-03-31 05:33] wuwangben opened #2397 "When querying data by using the Flink DataStream API , the result is not correct.Is it a bug or is my usage wrong?"
### env:
flink version:1.12.2
iceberg commit:21e1922a8ddb93a82388ea86a5f500d9f23885b3
### code:

PartitionSpec spec = PartitionSpec.builderFor(schemaIceberg).identity("bucketCity").identity("partDay").identity("partHour").build();

    public static void query(String baseHdfsPath,StreamExecutionEnvironment bsEnv) throws Exception {
        Map<String, String> catalogProperties = Maps.newHashMap();

[2021-03-31 08:48] openinx commented on #2397
@wuwangben  In this lines:

[code]

The `filters` are used to push down filters to data files, then we don't have read all the data files from iceberg table.  But those filters won't be applied in row-level,  that means  we may still read more rows from the filtered data files. In you case,  I think we will still need to filter the unexpected rows in `DataStream` by:

[code]