[2020-06-21 15:19] GrigorievNick commented on #1131
Look like I find an answer. But in very [another place]( https://iceberg.apache.org/api-quickstart/),
[code]
So`Concurrent writes operations` only supported with Hive metadata catalog.

[2020-06-21 21:14] edgarRd commented on #1131
Since Hive Catalog requires Locking support from the Hive Metastore, you could implement your own Catalog based on https://iceberg.apache.org/custom-catalog/ and implement your own distributed locking mechanism.

[2020-06-22 08:32] yiguolei commented on #1114
Do you use spark-3 branch?

[2020-06-22 17:53] #518 closed

[2020-06-22 17:54] rdblue commented on #519
@samarthjain, any update on this?

[2020-06-22 17:54] #646 closed

[2020-06-22 17:54] rdblue commented on #648
I think this is done, so I'm closing it.

[2020-06-22 17:54] #648 closed

[2020-06-22 17:55] rdblue commented on #691
This is done.

[2020-06-22 17:55] #691 closed

[2020-06-22 17:55] rdblue commented on #835
@samarthjain, what is the status of this one?

[2020-06-22 17:56] rdblue commented on #838
Specifically, this requires support for creating an Arrow vector filled with a constant value, and adding those to the readers.

[2020-06-22 17:57] rdblue commented on #661
@samarthjain, is this still needed?

[2020-06-22 17:58] rdblue commented on #9
Since #828 was merged, I'm going to close this. Let's track the remaining work in the [vectorized read milestone](https://github.com/apache/iceberg/milestone/2).

[2020-06-22 17:58] #9 closed

[2020-06-22 20:52] samarthjain commented on #519
For non dictionary encoded Strings, Iceberg vectorized reads are still slower:
[code]

For dictionary encoded Strings, Iceberg vectorized reads are faster:
[code]

[2020-06-22 20:55] rdblue commented on #519
Okay, so we should leave this open for non-dictionary strings. Thanks!

[2020-06-23 08:06] hk-lrzy opened #1134 "Question: Does Expressions enable with partition spec?"
[code]

[2020-06-23 09:21] #1134 closed

[2020-06-25 18:57] thesquelched opened #1138 "int96 support in parquet"
When writing parquet, Spark wants to write timestamps as `int96` for compatibility with hive/presto/impala/etc. Iceberg writes timestamps as the parquet timestamp logical type over int64. While this is less than ideal, the real problem is that int96 data is not supported at all, making it impossible to use iceberg with existing parquet data files without first rewriting the data.

Ideally, iceberg

[2020-06-25 22:34] gustavoatt commented on #1138
It seems like the [current spec](https://iceberg.apache.org/spec/#parquet) does require timestamps to be stored as epoch microseconds in an `int64`.

However I do think that supporting `int96` timestamps on the read path would be really handy when migrating tables to iceberg to avoid having to rewrite data.

[2020-06-26 12:20] massdosage commented on #1113
This is still failing on master:

TestLocalScan. testFilterWithDateAndTimestamp[1]
[code]

And now an additional test is failing:

TestMetricsRowGroupFilterTypes. testEq[20]

[code]

[2020-06-27 00:59] rdblue commented on #1131
That's right, concurrent writes are supported through the Hive catalog implementation. You can customize this as @edgarRd pointed out.

[2020-06-27 01:11] rdblue commented on #1138
To be clear, when you use Iceberg with Spark, Iceberg's timestamp type works just fine. So this is only necessary when working with other systems. And I believe Spark can already write the INT64 timestamps that Iceberg uses.

Iceberg is strict about the files that it writes and uses the timestamps specified in Parquet. The INT96 timestamps have a ton of problems, so it's really unlikely that it wo

[2020-06-27 01:13] rdblue commented on #1117
Do you have a test case that reproduces the problem?

[2020-06-27 01:14] rdblue commented on #1114
This support is coming with the 0.9.0 release for Spark 3.

[2020-06-27 01:15] rdblue commented on #1093
This was added in #1095. I'll close the issue.

[2020-06-27 01:15] #1093 closed

[2020-06-27 01:34] rdblue commented on #360
@openinx, sorry I haven't had a chance to reply before now. We missed you at the last sync up, where we talked about this. I added this to the notes, but I wanted to follow up here as well.

Sounds like there are 2 main reasons to use a dynamic schema. The first is that you might want to delete with different filters, like dropping a user by first/last name, or dropping by user id. I think it's re

[2020-06-28 04:39] openinx commented on #360
Well, seems  I thought differently with yours.

For my understanding, your solution will divide the deletes into two parts:  1. equality-deletion ; 2. positional-deletion.   The equality-deletion will only be applied to data files with sequence_number < current delete file, the positional-deletion will only be applied to data files with the same sequence number.

There're several problems in my th

[2020-06-28 11:23] yiguolei commented on #1114
@rdblue when will 0.9.0 be released?

[2020-06-29 17:49] rdblue commented on #360
Sounds like there is a slight difference in how we are framing the problem. I have been thinking of an upsert case, where we get an entire replacement row but not the previous row values. From your comments, it sounds like you are thinking of a case where we have both the previous row and the replacement row. It's good to think through that case because it does change what we might do here.

Witho

[2020-06-29 18:29] rdblue commented on #1114
I'm aiming to get it out in the next few weeks, now that Spark 3 has been released.

[2020-06-29 22:12] gustavoatt commented on #1138
Thanks @rdblue! We would most likely need this to migrate some of our biggest tables to Iceberg since we were writing timestamps using `int96`.

I can take this on as only read-support, do you have any pointers where the change would need to be made? I'm looking at `/parquet/ColumnIterator` and `/parquet/PageIterator` since that is where we have parquet read support.

[2020-06-29 22:56] aokolnychyi opened #1142 "Spark: use newHadoopConf() in SessionState to get Hadoop conf"
We need to use `newHadoopConf()` in `SessionState` to pick full Hadoop conf.

[2020-06-29 23:01] aokolnychyi commented on #1138
Is the INT96 timestamp representation in query engines like Hive and Spark identical?

[2020-06-29 23:39] rdblue commented on #1138
Off the top of my head, we'd need to support:

1. A value reader for INT96 that converts values to micros
2. Type conversion from Parquet schemas to Iceberg (timestamp or timestamptz?)

We would not need to modify any of the Parquet filter classes because INT96 timestamps have broken min/max stats. We would probably want to ignore them entirely in the Parquet metrics code as well.

[2020-06-30 03:27] hzfanxinxin commented on #1117
OK, let me commit a PR to add a test case. Thanks.

[2020-06-30 04:47] openinx commented on #360
The `upsert` without the previous row values depends on the primary key specification, otherwise an `UPSERT(1,2)` don't know which row should it change. The primary key will also introduce other questions:
1.   whether the primary key columns should include the partition column and bucket column ? if not, then a table with (a,b) columns, a is the primary key and b is the partition key. for an `UPS

[2020-06-30 12:12] yiguolei opened #1144 "【Spark3】 Could not run "select * from db1.tab2.history" to get table history."
When I run "select * from db1.tab2.history", it throws exception.
java.lang.AssertionError: assertion failed
	at scala.Predef$.assert(Predef.scala:208)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.org$apache$spark$sql$catalyst$analysis$Analyzer$ResolveRelations$$lookupRelation(Analyzer.scala:877)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.resolve

[2020-06-30 15:49] GrigorievNick opened #1146 "Does it possible to use spark 2.4 with icbq version 2?"
Hi, I have some questions regarding the compatibility of spark 2.x and icbq v1 and v2.
Does it possible to use spark 2.4 with icbq version 2?
Will `delete feature` be supported in the feature when icbq v2 will be released?

[2020-06-30 16:53] rdblue commented on #1138
Also, we should find out more about differences between engines so we can document how our implementation works. I think there were some bugs there. Thanks for pointing it out, @aokolnychyi.

[2020-06-30 18:13] gustavoatt commented on #1138
Here is the [spark code](https://github.com/apache/spark/blob/d66a4e82eceb89a274edeb22c2fb4384bed5078b/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetWriteSupport.scala#L171-L178) that writes int96 timestamps.

There is some discussion on [SPARK-12297](https://issues.apache.org/jira/browse/SPARK-12297) about having Spark int96 timestamps to work correctly with Hi

[2020-07-01 01:56] stevenzwu opened #1148 "TypeUtil didn't push field name into the fieldNames deque"
as a result, fieldNames and fieldIds have different size. We were trying to zip the fieldNames and fieldIds collections. when assert on size match, got this error as a result.

java.lang.IllegalArgumentException: different size: names = [map], ids = [4, 3]

[2020-07-01 03:11] #1148 closed

[2020-07-01 03:11] stevenzwu commented on #1148
this is obsoleted by https://github.com/apache/iceberg/pull/840/files

[2020-07-01 06:35] zhangdove opened #1150 "Add Inspecting tables example by HDFS path in the Iceberg User docs"
In the docs of Spark(http://iceberg.apache.org/spark/#inspecting-tables ).Should we add some sample code for how to inspect tables by HDFS path?

For exmaple:
[code]

[2020-07-01 06:41] openinx commented on #1150
Well, seems we only have `hive catalog` examples. Sure, I think it will be helpful for users if we provide the hadoop catalogs example.
If you'd like to prepare a pull request, then please go ahead.
Thanks.

[2020-07-01 07:45] zhangdove commented on #1150
Thanks for quick response. I have add a PR [1151](https://github.com/apache/iceberg/pull/1151).

[2020-07-01 09:26] openinx opened #1152 "Why do we need two avro record readers & writers ?"
When I implement the flink avro reader & writer,  I implemented the FlinkAvroReader and FlinkAvroWriter by extending the GenericAvroWriter & GenericAvroReader class. But when I run the unit test, it says  the data generated by `org.apache.iceberg.flink.data.RandomData` could not be written into the avro file. because  the following:

[code]

I take a closer to the code, and found that the `Generic

[2020-07-01 17:28] rdsr opened #1155 "Support custom catalog for Iceberg StorageHandler"
@massdosage, @rdblue  .  Is anyone workin on this? I wanted to take this up and we are only using HiveCatalog.

[2020-07-01 19:13] guilload commented on #1155
I have some thoughts regarding this. Now that the SerDe has been merged, there are two pieces of code that do essentially the same thing:
- [IcebergInputFormat.findTable(...)](https://github.com/apache/iceberg/blob/master/mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java#L357)
- [TableResolver.resolveTableFromConfiguration(...)](https://github.com/apache/iceberg/blob/master/

[2020-07-01 19:21] rdsr commented on #1155
I had something similar in mind.

[2020-07-02 04:29] JingsongLi opened #1159 "Avoid rewriting big files in RewriteDataFilesAction"
I try to use `RewriteDataFilesAction` to avoid too many small files.
But every time will rewrite all files even just have few small files. It is very expensive and slow.

So:
- can `RewriteDataFilesAction` provides a `Predicate<FileScanTask>` like `RewriteManifestsAction` for giving a way to avoid rewriting big files.

[2020-07-02 06:44] edgarRd commented on #1113
Can we close this issue if fixed?

[2020-07-02 06:45] edgarRd commented on #1116
Can we close this issue? Fix has been merged.

[2020-07-02 07:19] massdosage commented on #1113
Yes, I merged master into the forks/branches where we saw these issues and the tests now pass.

[2020-07-02 07:19] #1113 closed

[2020-07-02 07:46] massdosage commented on #1155
This is on our TODO list but we were only going to start looking at it properly after the `mapred` InputFormat is merged. The above suggestion to merge the code and the logic outlined above looks good. If someone else wants to start working on this now that's fine by me.

[2020-07-02 07:52] zhangdove opened #1160 "NoSuchTableException: Table does not exist"
I have some test code use the function of `removeOrphanFiles`, throw NoSuchTableException.

[code]
The expected result is normal exit and delete some orphan files. However, I get some error:
[code]
I had checked my hadoop file.
[code]
Iceberg table is created successed and write some data successed.

[2020-07-02 08:14] zhangdove commented on #1160
I have add a PR [1161](https://github.com/apache/iceberg/pull/1161).
Who can review the issue at a convenient time?

[2020-07-02 19:24] edgarRd commented on #1055
I think we can close this issue. Thanks!

[2020-07-02 19:32] rdblue commented on #1152
Readers and writers are specific to an in-memory representation, which I'll inter-changeably refer to as an object model. The Avro readers and writers you're using here are for different object models: Iceberg generics and Avro.

The `data.avro.DataReader` and `data.avro.DataWriter` classes were written for the Iceberg generics data model. That uses Iceberg's generic record class, Java 8 date/time

[2020-07-02 19:35] rdsr commented on #1055
Thanks @edgarRd !

[2020-07-02 19:35] #1055 closed

[2020-07-02 21:12] allenfan2 opened #1163 "Error when creating table 'is not a directory or unable to create one'"
So I'm just following the [Getting Started](https://iceberg.apache.org/getting-started/)

All of this is being tested in spark-shell 2.3.0 with the iceberg-spark-runtime-0.8.0.jar

And when I run the step:
`val table = catalog.createTable(name, schema)`

This error occurs

[code]

Thing is I launched spark-shell while i was in `/home/username/iceberg-test` and it seems that it automatically create

[2020-07-03 01:18] rdblue commented on #360
I think we're in agreement on a few points for moving forward:

* We will use a static schema for equality deletes
* We need to be able to reconstruct an equivalent stream of changes for streaming CDC pipelines
* We should add a way to encode all of the columns for an equality delete and identify the subset used for deletion (for efficiency)
* We should add a way to encode all columns into positio

[2020-07-03 01:43] #1116 closed

[2020-07-03 03:03] chenjunjiedada commented on #1152
Thanks @openinx to bring this out. I will try to work on this.

[2020-07-03 11:28] JingsongLi commented on #360
Thanks for your discussion and summary. Sorry for joining this discussion lately. Here is my thinking, correct me if I am wrong:
IIUC, there can be two user oriented modes for equality delete:

## Mode1
Iceberg as a database: Users can using SQLs to query this iceberg table: "insert into", "update ... where x=a”, "delete from where x=a“. For equality delete, with high performance, iceberg should j

[2020-07-03 12:48] openinx commented on #360
@rdblue, our team also had another discussion about the user cases and solutions. For the user cases, we have three cases:

* Case.1: the table has a primary key(the unique ID as you said), and all CDC events are INSERT/UPDATE/DELETE operations(the UPDATE event has both old values and new values). Such as the classic MySQL binlog events (assuming that t have (id, data) columns and id is the primar

[2020-07-03 15:45] rdblue commented on #1152
@chenjunjiedada, what do you plan to change?

[2020-07-03 16:25] #1150 closed

[2020-07-03 16:44] rdsr commented on #1152
I think there's some confusion in how we name things. Reader/writer funcs in IcebergGenerics for ORC and Parquet are called `OrcGeneric[Reader|Writer]` and `GenericParquet[Reader|Writer]`, whereas for Avro they are called `Data[Reader|Writer]` . On top of that `GenericAvro[Reader|Writer] classes are for internal and not used by IcebergGenerics

[2020-07-03 16:50] rdblue commented on #1160
To summarize the fix from the PR, the issue is that a table loaded by HadoopCatalog reports a table name rather than a location. When we try to use the table name to load a metadata table from the Spark 2.4 IcebergSource, it uses the HiveCatalog instead of a HadoopCatalog (because the HiveCatalog is configured, HadoopCatalog is not). The fix is to convert tables loaded by a Hadoop catalog (name st

[2020-07-03 16:52] rdblue commented on #1152
@rdsr, I agree. The naming should definitely be fixed because we're inconsistent. At least the `ParquetAvroWriter` makes sense.

[2020-07-04 00:58] chenjunjiedada commented on #1152
@openinx and I had a discussion yesterday. Basically, we think it needs to refactor two Avro readers/writers into one base Avro reader/writer, and then has two different versions on iceberg-core and iceberg-generic just like what #1162 does. Also, the `DataReader/Writer` are in iceberg-core, I 'm thinking whether we could move that into iceberg-data module.

Another thing is to build a reader uses

[2020-07-04 01:29] rdblue commented on #1088
This was completed in #1126. Thanks @raptond!

[2020-07-04 01:29] #1088 closed

[2020-07-04 21:57] rdblue commented on #360
@openinx, I agree with the guarantees that you propose for the reconstructed CDC stream. It sounds like the first solution, with mixed equality and position deletes is probably the design we should use since it will have good read performance and good write performance, with the cost being the ID to position map we need while a data file is open.

For `UPSERT`, I think the main difference is that

[2020-07-05 14:38] chenjunjiedada commented on #1152
I just think about this again, since the `DataReader` and `DataWriter` are used by downstream, it is necessary to consider how to remove them from public API and not impact downstream clients. How about we copy the DataReader and DataWriter to iceberg-data and rename them to AvroGenericReader/Writer then add `deprecated` annotation to `DataWriter` and `DataReader` at first? @openinx @rdblue , what

[2020-07-05 20:38] #1160 closed

[2020-07-06 03:18] openinx commented on #1152
@chenjunjiedada , Thanks you for following up on this issue.   `deprecated` the existed `DataWriter` and `DataReader`  looks good to me, I guess we don't need to copy all the codes from `DataWriter` to `AvroGenericWriter` because we can abstract the common logic, for example  putting the common logic in a `BaseAvroWriter` then  the `DataWriter` and `AvroGeneircWriter` will extend from it, similar

[2020-07-06 07:50] JingsongLi opened #1170 "Integrate Iceberg catalog to Flink catalog"
Like Spark 3, Flink also has `Catalog` interface, we can integrate Iceberg catalog to Flink catalog, iceberg as a Flink catalog, users can use Flink DDLs to manipulate iceberg metadata. And query iceberg tables directly.
But Flink catalog just like Spark catalog v1.

## Database and namespace

The biggest incompatible thing is the database and namespace.
- In Flink: like Hive, the identifier of a

[2020-07-06 15:55] #1117 closed

[2020-07-06 18:16] rdblue commented on #1170
Another option to consider is supplying a base namespace for a given catalog. So if I have a catalog that supports a 2-level namespace, I would supply the first level in the catalog configuration and the second level would be exposed as Flink databases.

That's what we were going to do in Spark, before there was a push for arbitrary nesting. The nesting is nice because we can reference metadata ta

[2020-07-06 18:20] rdblue commented on #1170
For partitioning, are you talking about DDL support or working with tables?

When reading a table, the engine works with only the table columns. When writing, the engine needs to partition data into files correctly, but that configuration comes from Iceberg and it is not exposed through SQL. The purpose is to maintain a separation between the logical data and the physical layout.

The only limitat

[2020-07-07 01:34] JingsongLi commented on #1170
Thanks @rdblue for your responding. Very useful. Agree with you.
- Database and namespace: base namespace for a given catalog, looks good to me.
- Partitions: I mean DDL support. Only support identity partitions is too limited, so we don't need to use Flink DDL to express iceberg partition.

[2020-07-07 02:07] JingsongLi commented on #1170
BTW, Empty `Namespace` is not legal namespace, right?

[2020-07-07 12:05] JingsongLi opened #1176 "scala version of dependencies.lock is incorrect in iceberg-flink"
It should depend on flink with 2.12, but is flink with 2.11 in dependencies.lock.

[2020-07-07 12:05] JingsongLi commented on #1176
CC: @openinx

[2020-07-07 12:43] openinx commented on #1176
I think I made this mistake in PR 20651b1c,  I used the flink with scala 2.11 version firstly  and then we discussed to better to support scala 2.12, so I changed the flink module from scala 2.11 to scala 2.12 but forgot to re-generate the `dependencies.lock`.

IMO, we'd better to remove those `dependencies.lock` from git and change to re-generate them when building the iceberg modules, because:
1

[2020-07-07 14:52] #1131 closed

[2020-07-07 20:23] fbocse opened #1178 "Parallelize metadata and data file removal on snapshot expiration?"
Any particular reason for which metadata and data file removal tasks aren't parallelized using thread pool? https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/RemoveSnapshots.java#L319-L341

[2020-07-07 21:18] rdblue commented on #1178
It's probably safe to parallelize this, but I think we didn't do it originally because we don't want to get "slow down" responses from services like S3. Seems like adding an option to the API here would be a good idea. Maybe allow passing in a thread pool for deletes?

[2020-07-07 21:25] rdblue commented on #1170
This is fine in the Hadoop catalog, since it is just a directory structure.

I'm not sure I'm following what you mean. If identity partitioning is too limited, would you support partition expressions? Or just not allow partitioning in DDL at all?

[2020-07-07 23:46] rdblue commented on #1163
What Hive Metastore are you using? The error is that HMS couldn't create the path, so it is probably attempting to create the path locally because the table URI is `file:/home/...`.

[2020-07-08 02:02] openinx commented on #1176
Let me prepare a pull request for it.

[2020-07-08 02:03] JingsongLi commented on #1170
Got it, I was misled by `HadoopCatalog.listTables(Namespace)`. `FlinkCatalog` can not support empty namespace at first.

Not allow partitioning using Flink `partitioned by` DDL, I think we provide an option key `partitioning` to define iceberg partitioning. (This require string parser for `PartitionSpec`).

I'll create a PR soon.

[2020-07-08 02:20] JingsongLi opened #1179 "Bump Flink to 1.11"
https://flink.apache.org/news/2020/07/06/release-1.11.0.html

[2020-07-08 15:35] prodeezy commented on #617
Posting the conversation from last sync..

So seems like we want to stick to registering listeners. If one wants they can use a codahale metrics client to bubble up any metrics. does this sound good @raptond ? In that regard, we need some additional metrics that need to be bubbled up in the snapshot summary/scan events etc. I'l create an issue for that.

[2020-07-08 16:26] fbocse commented on #1178
Oh I see, so throttling may occur if we parallelize these delete operations. How about looking at other `fs` functions to delete maybe like [fs.deleteOnExit] (https://hadoop.apache.org/docs/r2.8.2/api/org/apache/hadoop/fs/FileSystem.html#deleteOnExit(org.apache.hadoop.fs.Path))?
Sounds like it's some sort of lazy delete file API that may work around throttling issues? I could look into what it's i

[2020-07-08 17:06] rdblue commented on #1178
I don't think we want to use `deleteOnExit`. That just queues the delete to happen in a shutdown hook, but I don't think there are many guarantees about reliability. That would make it so we no longer retry failed operations and might affect recovery when some, but not all of them fail. It also wouldn't help with parallelism because it would happen in a single shutdown hook thread.

I think the be

[2020-07-08 18:30] fbocse commented on #1178
You're right, lack of consistency guarantees would make things complicated and eventually flawed.
Your suggestion on allowing user to pass in a configurable thread pool should help w/ parallelizing this effort.

[2020-07-08 19:17] gustavoatt commented on #1138
Sent a PR to add int96 timestamp support in https://github.com/apache/iceberg/pull/1184. I was able to verify the behavior for spark.

I _think_ Hive writes them in the exact same way, would need to verify that to be sure.

[2020-07-10 00:02] shardulm94 commented on #1021
I was planning to work on this, but I am unsure of some of the details.
- How does the ORC reader know that it has to project metadata columns? Will it be part of the expected Iceberg schema provided to the readers? If yes, will these columns have reserved field ids which helps the readers identify the metadata columns or do they have specific names?
- I was thinking of passing starting position o

[2020-07-10 00:45] rdblue commented on #1021
Yes. Iceberg will pass in a schema that has the metadata column. We have an example implementation in our current branch with [the column definitions](https://github.com/Netflix/iceberg/blob/netflix-spark-2.4/spark/src/main/java/org/apache/iceberg/spark/source/MetadataColumns.java) and an [implementation for `_file`](https://github.com/Netflix/iceberg/blob/netflix-spark-2.4/spark/src/main/java/org

[2020-07-10 07:17] GrigorievNick commented on #1146
I just read 0.9-rc5  and find that ICBQ is different from delata-lake. And will support both spark 2 and 2 in 0.9 version at least.

[2020-07-10 07:17] #1146 closed

[2020-07-10 08:05] jerryshao commented on #1159
I think you can specify filter expressions to rewrite files you wanted. For example, you can only rewrite data under newly added partition, not the whole data. I'm not sure if that is enough for you.

[2020-07-10 08:19] #1061 closed

[2020-07-10 08:24] shardulm94 commented on #1021
Since open source Spark does not support metadata columns, is it okay for these columns be included in the readSchema returned to Spark, maybe enabled through an option? That way we can return data/rows with `_file` and `_pos` to Spark without having to apply a projection to filter them out, similar to how we handle extra columns required for filters.

[2020-07-10 13:49] hzfanxinxin opened #1193 "How to use `iceberg.mr.filter.expression` in the IcebergInputFormat?"
[code]

[2020-07-10 13:58] rdsr commented on #1061
@jerryshao is this done?

[2020-07-10 15:45] zhangdove commented on #1061
If understood correctly, I think this issue has been solved by  [1083](https://github.com/apache/iceberg/pull/1083). I also did some local testing of the module. @rdsr

[2020-07-10 18:34] rdblue commented on #1021
Yes, we can do that. Is the use case to be able to build a job that deletes rows in Spark?

I don't think we would need to expose the columns to Spark just for merging in position delete files. We can project those columns in the read builder if they are needed.

[2020-07-10 23:54] shardulm94 commented on #1021
I was trying to wrap my head around how it would all fit in together. I was also thinking of possibly using Spark to write test cases for this, but I guess we can test using `ORC.read()` directly.

[2020-07-11 00:05] #1056 closed

[2020-07-11 00:07] rdblue commented on #1021
Yeah. Given how long Spark tests take to run, we should keep the number of them down and try to write as many tests as possible without it.

[2020-07-11 13:44] rymurr commented on #771
I saw this issue as well while testing today. It ended up that I forgot to create the database `logging`. Executing `CREATE DATABASE logging;` on the hive repl got it working for me.

I guess we should probably add a clearer error message for this?

[2020-07-13 06:44] JingsongLi commented on #1159
Thanks for reply. Yes, using partition just rewrite once is OK.
I think we optimize further, if the partition is "day_time + type", some type has enough records in its files, but some others may have less records so leads to small files, so I rewrite the all newly partitions for reduce files but can skip big files in some partitions.

[2020-07-13 22:25] shardulm94 opened #1198 "Travis builds timing out due to module tests running > 10 mins"
Travis kills a build when there is no output received from the build for 10 mins. As we grow our test cases (especially Spark), we will hit this timeout limit as Gradle by default does not produce an output if tests are working as intended.

I hit this issue in #1189 when I updated read tests to also test the vectorized codepaths. https://travis-ci.org/github/apache/iceberg/jobs/707083672#L1408. T

[2020-07-13 22:33] rdblue commented on #1198
I've been thinking about reducing the number of test classes to make tests run faster. When I run tests locally, the Spark start-up phase seems to take a long time, and we start a new session in lots of different tests. By merging some of those tests together, we could avoid that cost, making tests faster and not hitting this timeout issue.

[2020-07-13 22:34] rdblue commented on #1179
Should we do this before merging #1182? Then we could use [`SHOW TABLES`](https://github.com/apache/iceberg/pull/1182#discussion_r453429303).

[2020-07-13 22:35] rdblue commented on #1176
We've removed dependency locking, so I'll close this.

[2020-07-13 22:35] #1176 closed

[2020-07-14 03:06] rdsr commented on #1198
I don't mind too much if tests take a little long to run, especially on travis. It doesn't hamper my dev cycle where mostly run specific tests while testing my changes. For travis to not time out can we simply print standard error and standard out on the console through Gradle? This will dump the logs when running the tests. The configuration for enabling that is

[code]

[2020-07-14 03:46] JingsongLi commented on #1179
Yes, we should

[2020-07-14 04:35] shardulm94 commented on #1198
Enabling stdout and stderr will produce way too much noise in the Jenkins log. If we have to go by the approach of making Gradle print something, printing the test name it ran (suggestion #4 from the original post) is pretty straightforward. If a single test method is taking > 10 mins, it is not an ideal test case.

[2020-07-14 10:46] GrigorievNick opened #1202 "[Question] Do Spark Iceberg module implement Copy On Write Delete and Update?"
Hi,
I have a question >
Do Spark Iceberg Implement Copy On Write Delete and Update?
* I find [this MR](https://github.com/apache/iceberg/pull/351), so Iceberg itself supports it.
  But what about implementation in spark?
  Looking on [this code](https://github.com/apache/iceberg/blob/master/spark3/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java#L87) I can say that at least Spa

[2020-07-14 10:52] GrigorievNick commented on #1114
@vvysotskyi It's here.

[2020-07-14 19:31] RussellSpitzer commented on #1144
Based on the location of your error it seems you are running Spark 3.0.0-preview2 (or another pre 3.0.0) release.

https://github.com/apache/spark/blob/v3.0.0-preview2/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala#L877

 Those versions did not fully support and had some bugs with the multi-part identifiers. In particular you hit an assertion that was trying to e

[2020-07-14 20:49] RussellSpitzer commented on #1111
In TypeToSparkType it may also make sense to either throw an error when an empty Struct in Spark is about to be created (since this will most likely break catalyst) or just replace an empty Struct with a dummy one. Something like

[code]

I did a quick test and this would clean up the error message but not inform the user that something impossible was tried

[2020-07-14 23:07] edgarRd opened #1204 "ORC does not support Name Mapping of schemas with no Iceberg IDs"
In order to be able to import existing ORC data to Iceberg tables, we need to support name mapping of schemas to existing ORC data files.

At the moment, only Parquet and Avro have the support for this feature, but not ORC.

[2020-07-14 23:19] edgarRd commented on #1204
I'm currently working on a PR for this.

[2020-07-15 00:09] rdsr commented on #1204
Thanks @edgarRd! We need this feature :)

[2020-07-15 00:51] edgarRd opened #1206 "Column statistics are not stored in DataFile when imported via `SparkTableUtil#listPartitions` if no Iceberg IDs are present"
When migrating a table to Iceberg and importing existing files, e.g. ORC files, via `SparkTableUtil#listPartitions` the files imported most likely do not have Iceberg IDs stored - at least this is the case for ORC. Therefore, column statistics for these files are skipped entirely.

We could use NameMapping to match the destination table Schema in Iceberg to the column names in the existing files.

[2020-07-15 18:05] rdblue commented on #1198
I opened a PR with option 4: https://github.com/apache/iceberg/pull/1210

[2020-07-15 19:00] rdblue commented on #1198
Fixed by #1210. Thanks for finding all of the options to fix this, @shardulm94!

[2020-07-15 19:00] #1198 closed

[2020-07-15 21:18] rdblue commented on #1202
Both Spark 2.4 and Spark 3.0 support dynamic partition overwrite. Spark 3.0 also supports overwrite by expression, although the expression must match all rows in a data file or no rows of a data file, or else it will cause an exception because the granularity of a delete is a whole data file.

[2020-07-16 09:58] GrigorievNick commented on #1202
But Overwrite that implemented in delete is match smarter then overwrite all data in the partition.
it will change only files that contain changes, while simple overwrite will update all partition.
So of course I can read data all data from partition -> manipulate -> overwrite.
But I can do it with any code. What I am looking for is to update only files that match changes.
So as I understand, ther

[2020-07-19 09:07] chenjunjiedada opened #1215 "FlinkParquetWriter should build writer with schema visitor"
Currently, the `FlinkParquetWriters` extends the `BaseParquetWriters` which is used for the generic records, while the Flink app can't ensure the types in `Row` can be transformed to Iceberg types like what `RandomDataGenerator` does. According to Flink [doc](https://ci.apache.org/projects/flink/flink-docs-release-1.11/dev/table/types.html) the types in `Row` is not compatible with Iceberg types.

[2020-07-20 02:39] JingsongLi commented on #1215
+1, We should deal with these differences and we can consider rewriting some `ParquetValueWriter`s.
The same is true for reader and Avro, including ORC.

This workload is not small. I wonder if we can only implement Flink internal data structure conversions, and just provide a converter to convert Flink `Row` to `RowData`.

Here is a Flink table/SQL data structure table, the internal data structur

[2020-07-20 03:14] openinx commented on #1215
@chenjunjiedada   +1,  the flink data type is not strickly mapping to one kinds of java data type, it's better to create a separate readers and writers to handle the differences. Supporting both `Row` and `RowData` in flink data stream is also necessary (as @JingsongLi  said) because flink 1.11 have turned its table row data type to `RowData`, I've prepared a patch in my own repo to abstract a `Ic

[2020-07-20 20:25] sudssf opened #1220 "add option to disable compute statistics for spark2 and spark3"
more context on thread:
https://lists.apache.org/thread.html/r477483ead7c7be7346bebcaab75b405dce67607457ac3f7cf682b999%40%3Cdev.iceberg.apache.org%3E

in spark2 , any operation such as join or union will end up scanning full table manifest ( without performing push down predicate) which can be really slow for large tables.

in spark3, predicate pushdown is performed before calling `estimateStatist

[2020-07-20 20:36] sudssf commented on #1220
submitted PR https://github.com/apache/iceberg/pull/1221/files

[2020-07-20 21:42] rdblue commented on #1021
This was implemented in #1207.

[2020-07-20 21:42] #1021 closed

[2020-07-21 03:43] #1179 closed

[2020-07-21 03:43] #1170 closed

[2020-07-21 17:20] rdblue commented on #1215
Thanks for the clarification on the types that Flink uses.

I agree that we should create readers and writers that work directly with these types, instead of trying to make the Iceberg generics work.

This is what we do for Spark. We try to only work with `InternalRow`, and have conversions where we need to for testing the public `Row` we get back from some interfaces.

I would prefer to have just

[2020-07-21 19:46] RussellSpitzer opened #1224 "Importing a Spark table with Whitespace in Partition URI Results in FileNotFound Exception"
Because SparkPartition stores partition URI's as a String, there is an issue when reconverting the URI into a Hadoop path if the String contains URI encoded characters (like a space -> %20). This ends up causing FNF errors when attempting the import into iceberg.

Example Test Case

[code]

Which throws

[code]

I am currently working on a PR to fix this (and add a failing test case) and will have

[2020-07-21 20:55] aokolnychyi commented on #1224
Is it because `URI.toString` that we are using does not decode the URI correctly? We later create `Path` from `String`? Spark has `CatalogUtils` that handles `URI` to `String` conversion through Hadoop `Path` but we should be ok with just using `URI` to construct `Path`?

[2020-07-21 21:17] RussellSpitzer commented on #1224
Yes. Basically the constructor `public Path(String pathString) throws IllegalArgumentException` is just take apart string as is and attempts to break it into the correct parts.

While the constructor `public Path(URI)` just takes the URI as is and sets it to the internal representation of the path so it handles the encoding properly

[2020-07-21 21:21] RussellSpitzer commented on #1224
[code]

[2020-07-21 21:34] skambha opened #1225 "Test TestHiveTableConcurrency.testConcurrentConnections test fails with a timeout assertion error"
In my local env, this test testConcurrentConnections fails with a timeout.

[code]
Increasing the timeout to 3 min fixes this.

I will submit a pr to fix this.

[2020-07-21 22:04] raptond commented on #1224
👍  to keep the paths as `URI` objects and not convert to` String`s. I thought perhaps we should `unescape`, but it seems a better idea to delegate that to `Path`.

[2020-07-21 22:13] aokolnychyi commented on #1224
We would need to check the remove orphan files action in a follow-up too to make sure we are safe.

[2020-07-22 01:53] JingsongLi commented on #1215
Yes, Flink `DataStructureConverters.getConverter(DataType)` can be used, although it is not public API in Flink.

[2020-07-22 15:42] #1225 closed

[2020-07-22 21:00] #1224 closed

[2020-07-22 21:47] guilload commented on #1155
Has anybody started working on this issue? Happy to get this going otherwise.

[2020-07-22 21:56] rdsr commented on #1155
@guilload I might be able to get to this this week. So I'm cool if you'd like to finish this up. Happy to review the code!

[2020-07-23 01:34] guilload commented on #1155
Ok, I'll take a stab at it!

[2020-07-23 03:54] zhangdove opened #1230 "How to read/write iceberg in Spark Structed Streaming"
I did some test consume kafka message, write to iceberg table by Spark structed streaming. I'm having some trouble.

1.My environment
[code]

2.Create Iceberg table
[code]

3.The pseudocode is as follows
[code]
4.Kafka Message
[code]
5.Result
case one : read table by spark.table("prod.db.table").
Result : Read iceberg table is error(table is empty) when the second batch .
[code]
case two : read ta

[2020-07-23 03:55] JingsongLi opened #1231 "Flink: Using RowData to avro reader and writer"
There was problems with the previous row conversion. For example, array type should be `T[]` instead `List`.
According to discussion from https://github.com/apache/iceberg/issues/1215 , We can try to only work with `RowData`, and have conversions between `RowData` and `Row`.

The works can be:
- Extract `ValueReaders.decimalBytesReader` for reusing code. #1233
- Extract `DecoderResolver` to provid

[2020-07-23 04:19] JingsongLi commented on #1231
CC: @rdblue @openinx @chenjunjiedada

[2020-07-23 07:52] openinx opened #1236 "Refactor the SparkOrcWriter by using OrcSchemaWithTypeVisitor for sharing writers from GenericOrcWriters"
Currently, the SparkOrcWriter  defined `Converter` for all kinds of ORC data type, and write the converted row value into the VectorizedRowBatch.  Actually,  after https://github.com/apache/iceberg/pull/1197,  we could refactor the class by similar way to reuse parts of the writers.

I will prepare a patch for this issue.

[2020-07-23 13:35] pvary commented on #954
@lcaaaat: How did you created the table, and how did you check the location of the DB?
With the current version I see a test which checks the location of the db is in the default warehouse dir:
[code]
And also see checks for the default table location which seems inline how Hive uses them.

Thanks,
Peter

[2020-07-23 21:18] #1019 closed

[2020-07-24 02:27] HeartSaVioR commented on #1230
Document is missing, but micro-batch sink is available for Spark structured streaming so you can just write directly without overwriting table (which means you're rewriting all records per batch).

This is the python code I'm experimenting with Iceberg. I've just written it to python to avoid long compilation - there's nothing specific to python/pyspark, so you can simply do the same with Scala as

[2020-07-24 02:32] rdblue commented on #1231
Thank you for the pull requests! I'll try to get them reviewed this weekend.

[2020-07-24 02:50] lcaaaat commented on #954
@pvary  Thanks for your reply!

For some reason, I don't want to write data into **/user/hive/warehouse**, so, I create the database by sql:

[code]

As the result, we can see that:

[code]

Then I create a table in hive format and describe it:

[code]

We can see that the location of table is **hdfs://dev4/user/data_transform/iceberg_test/hive_table**, a subdirectory under **iceberg_test**'s loca

[2020-07-24 03:33] zhangdove commented on #1230
@HeartSaVioR Thansks for your reply.Maybe there's something wrong with the description of my issue name.

I have tested some differences between `spark.table("prod.db.table")` and `spark.read.format("iceberg").load("hdfs://nn:8020/path/to/table")`(Spark Structed Streaming), I wonder why

[2020-07-24 05:13] HeartSaVioR commented on #1230
Sorry for that case I have no idea. I'm also starting to explore the project.

[2020-07-24 06:39] HeartSaVioR commented on #1144
I've also encountered this issue, and found the reason - Spark's default catalog still has same limitation in different code path, so if users decide to override default Spark catalog with Iceberg the limitation comes out.

[code]

Using custom catalog would work, like `iceberg_catalog`.

I'm not sure whether it's expect or not - in other words, may need to decide whether it is a doc issue in Iceb

[2020-07-24 10:04] yiguolei commented on #1144
@RussellSpitzer Does iceberg already support spark 3.0.0 ?

[2020-07-24 10:13] HeartSaVioR commented on #1144
Yes. Use the artifacts as dependencies (either `--packages` or deps of your app):
`org.apache.iceberg:iceberg-core:0.9.0,org.apache.iceberg:iceberg-spark3-runtime:0.9.0`

[2020-07-24 10:15] pvary commented on #954
I have yet to learn how to work with pull requests, and github issues :)
Created a new pull request but it is only linked to this issue :(

Could you please check, if this fix solves your problem?

[2020-07-24 15:56] rdblue commented on #1144
This is a known bug in Spark. The catalog rule should not be validating the namespace, the catalog should be.

It works fine if you use an Iceberg catalog directly that doesn't wrap `spark_catalog`. We're considering a fix with table names like `db.table__history`, but it would be great if Spark fixed this bug.

[2020-07-24 15:57] rdblue commented on #1144
@yiguolei, check out the [getting started guide](http://iceberg.apache.org/getting-started/). That is written for Spark 3.

[2020-07-24 18:42] moulimukherjee opened #1242 "Have a way to pass custom metadata for iceberg snapshots via write options"
At Stripe we make use of airflow to run spark jobs, and want to pass a separate external ID and some versioning information linking an airflow run to each iceberg snapshot created. Currently to do this, we have to fork the Writer just to override the commitOperation (which changed significantly in the last release). Having a way to automatically pass custom metadata would be great.

[2020-07-24 20:50] rdblue commented on #1114
This was released in 0.9.0.

[2020-07-24 20:50] #1114 closed

[2020-07-24 20:52] #1138 closed

[2020-07-24 22:21] #1242 closed

[2020-07-25 03:22] kbendick opened #1248 "Some compiler warnings about methods missing the @Override tag"
When building the project from a clean download using `./gradlew build`, there are several warnings about class methods that are missing `@Override` tag. While these don't necessarily cause any issues and are only warnings, they violate the google style guide.

An example would be
[code]

Some of these warnings are possibly false positives, which could be suppressed using `@SuppressWarnings("Missi

[2020-07-25 05:09] kbendick commented on #1248
I opened a PR to fix the issues from one class only, in case this work isn't wanted (e.g. in case the Overrides are intentionally not present in this class). I can fix the other warnings in a larger PR later or in this PR if this looks good to any of the committers.

[2020-07-25 09:02] vvysotskyi commented on #1114
Great, thanks!

[2020-07-25 22:14] kbendick commented on #1248
I received an approval on this first PR from @rdsr. If somebody wants to assign this to me, I can keep going on the rest of the warnings for `MissingOverride`.

There's also some equality check warnings, e.g. using `==` vs. something like `Object.equals` that I'd be interested in taking a look at, though that is a more complicated process and definitely its own issue.

cc @JingsongLi @rdblue @rdsr

[2020-07-25 22:31] kbendick opened #1250 "[ErrorProne] Fix outstanding error prone warnings of type ReferenceEquality."
When building the project from a clean download using `./gradlew build`, there are several warnings about class methods that are using reference equality (e.g. `==`) for comparison instead of value equality.

There are almost certainly places where reference equality is intended. It's also possible that hidden bugs exist or could come into existence later during some refactor. The `Error Prone` li

[2020-07-25 23:49] rdblue commented on #1248
@kbendick, we don't really assign issues, especially if there is clear interest from someone that wants to work on it -- that's just as good.

We rarely have cases where people decide to work on the same thing that would be avoided by assigning issues, but I've often seen people claim an issue and then not work on it.

[2020-07-26 20:55] kbendick commented on #1248
Thanks @rdblue for letting me know. I plan on fixing the remaining missing Override annotations and then taking on this issue as I continue to familiarize myself with the codebase.

My eventual hope is to contribute to the project in a more meaningful way, whether that be through further automation, additions to the Flink or Spark integration (these are the technologies I work with regularly at wo

[2020-07-26 23:04] rdblue commented on #1250
It would be great to start suppressing the warnings. Most (hopefully all) of the places where we do this are intended to catch the original object, as in the `TypeUtil` example you pasted that is checking whether projecting fields returned the whole original schema.

[2020-07-26 23:31] rdblue commented on #1159
We do this a bit differently: instead of rewriting everything that matches a filter, we configure the rewrite to primarily look for small files. Any file already near the target size is ignored, and then we bin pack the rest of the files in each partition and rewrite. That ensures that we don't rewrite large amounts of data that are already reasonably sized. We don't care about files that are too

[2020-07-27 04:44] aokolnychyi commented on #1159
I am working on a doc that will propose multiple compaction strategies depending on a use case. I want to map [SQL extensions](https://docs.google.com/document/d/1Nf8c16R2hj4lSc-4sQg4oiUUV_F4XqZKth1woEo6TN8/edit) into that. We have been running those for a while and they proved to work even on large tables and already covers what @rdblue mentioned.

[2020-07-27 12:08] HeartSaVioR commented on #1144
Just submitted a patch for #1253 to indicate an issue for end users and take a workaround. I see the fix for Spark is non-trivial as well, given there's also v1 table format to handle.

[2020-07-27 16:17] rdblue commented on #1144
I merged @HeartSaVioR's patch to the docs.

[2020-07-27 16:25] rdblue commented on #954
Closing this because #1240 was merged. Thanks for the fix @pvary!

[2020-07-27 16:25] #954 closed

[2020-07-27 16:31] rdblue commented on #1248
I'm closing this because both #1249 and #1252 are merged. Thanks for fixing this, @kbendick!

[2020-07-27 16:31] #1248 closed

[2020-07-27 16:34] aokolnychyi opened #1257 "Support vectorized reads with identity transforms"
Currently, we don't support vectorized reads if there is an identity transform. Since it is a very common scenario, I think we should try to address that.

[2020-07-27 16:39] aokolnychyi commented on #1257
@samarthjain @rdblue could you provide some insights on the best way to fix this?

cc @RussellSpitzer

[2020-07-27 16:44] rdblue commented on #1257
We need to return the `ColumnarBatch` with constant columns. There are two options.

First, we could use [`ConstantColumnVector`](https://github.com/apache/iceberg/blob/master/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ConstantColumnVector.java) that was added for ORC. That is an implementation of Spark's columnar vector interface that always returns a constant.

The second optio

[2020-07-27 17:06] RussellSpitzer opened #1258 "Create an Action for Importing Tables to Iceberg"
Currently the only way to import a table from Spark to Iceberg is via an internal SparkTableUtil function.  While this works, we were wondering if we should create another Action API to encompass this functionality.

Having an action wrapper would make it more clear that this is a User facing API. In addition, when we start working on the SQL Extensions there will be a more clear mapping between n

[2020-07-27 18:12] samarthjain commented on #1257
To add to Ryan's point, the place where we currently disable vectorized
reads for identity projections is here
<https://github.com/apache/iceberg/blob/master/spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java#L311>
.
<https://github.com/apache/iceberg/blob/master/spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java#L311>

On Mon, Jul 27, 2020 at 9:44 AM Ryan Blue <notific

[2020-07-28 00:19] aokolnychyi commented on #1258
One of the things such action should do is to assign name mapping so that we have reliable nested schema pruning for imported tables. Such tables will not have column ids in data files.

[2020-07-28 00:21] aokolnychyi opened #1260 "Expose time travelling using multi-part identifiers"
Until we have proper SQL support for time travelling in Spark, we should expose it using multi-part identifiers.

Background [here](https://docs.google.com/document/d/1Nf8c16R2hj4lSc-4sQg4oiUUV_F4XqZKth1woEo6TN8/edit?disco=AAAAGvqh7BA).

[2020-07-28 08:54] chenjunjiedada opened #1262 "Cleanup TestLocalScan in IcebergGenerics"
As mentioned in [here](https://github.com/apache/iceberg/pull/1239#discussion_r461400750), the test data in TestLocalScan becomes a bit hard to read. We could clean them up by using constants.

[2020-07-28 17:48] RussellSpitzer commented on #1257
I'll take a look at this, should be pretty straight forwards 🤞

[2020-07-28 19:34] #1220 closed

[2020-07-29 05:10] rdsr commented on #1260
I believe this ticket to address time travel by both `snapshot-id` and `as-of-timestamp`?

[2020-07-29 16:09] RussellSpitzer commented on #1257
I don't believe there are any current tests checking that this path is exercised, I removed the boolean and no tests failed. I'll be sure to add some back in

[2020-07-29 20:25] shardulm94 commented on #1257
@RussellSpitzer I believe `TestIdentityPartitionData` is supposed to exercise it but what is probably happening here is that the identity partitioned data columns are read from the data file itself rather than the metadata. We may need to add a test where we intentionally modify the metadata so that identity values from metadata do not match the ones written in the data file so we know where the v

[2020-07-29 20:34] RussellSpitzer commented on #1257
Could you give me an example? I've been staring at this a while trying to figure out what's going wrong. I would have hoped disabling the boolean would have broken that test suite (or others) but it doesn't. I've just been running through it with a debugger and it does correctly build a reader and return rows but you are probably right that it's reading from the data file.

[2020-07-29 21:16] rdblue commented on #1257
I think @shardulm94 is right. Iceberg will write all data columns into every file, unlike Hive that will leave partition columns out of the data. The reason why we write the columns is that we may want to move the files to a different partition spec later (e.g., drop a categorical column, move the files, then compact).

So this is probably working because the data files in the tests actually do co

[2020-07-29 21:31] aokolnychyi opened #1268 "Respect MetricsConfig while importing ORC data"
We should respect `MetricsConfig` in `SparkTableUtil`.

[code]

[2020-07-29 21:32] aokolnychyi commented on #1268
@shardulm94 @rdsr, FYI

[2020-07-29 22:36] RussellSpitzer commented on #1257
This seems like the right analysis to me, I tried just having the current
test code make the tables in Hive and then import them for reading and I
ran into a bunch of other errors (with and without vectorizing) so I'm sure
I didn't do that right ...

On Wed, Jul 29, 2020 at 4:16 PM Ryan Blue <notifications@github.com> wrote:

[2020-07-30 00:20] aokolnychyi commented on #360
Is [this](https://docs.google.com/document/d/1bBKDD4l-pQFXaMb4nOyVK-Sl3N2NTTG37uOCQx8rKVc/edit#) document up-to-date and discusses how to solve open questions?

[2020-07-30 07:38] openinx opened #1269 "The records are not aligned between spark orc reader/writer and generic orc reader/writer."
I tried to write an unit test: it generate few generic `Record` firstly, then write to an orc file1.  Another spark reader will open this file and read it , finally write to another orc file2.

There seems be some bugs there because the spark reader failed to get the same result with the record reader.  It will throw an exception like this:

[code]

After checking the iceberg code,  I found that t

[2020-07-30 12:58] JingsongLi opened #1275 "Flink: Implement Flink InputFormat and integrate it to FlinkCatalog"
The final user case can be:
[code]

The implementations can be:
- Implement `FlinkInputFormat`: implement `SplitGenerator` and `RowDataReader`.
- Integrate it to Catalog: Implement `FlinkTableFactory` and `FlinkTableSource`.

[2020-07-30 13:50] chenjunjiedada commented on #1121
This was addressed by #1128.

[2020-07-30 13:50] #1121 closed

[2020-07-30 14:32] RussellSpitzer commented on #1257
I can get the test to fail if I import from a Hive Table with parquet files and then attempt to use that as the basis for the IdenetityPartition test. So thanks for steering me in the right direction @shardulm94  + @rdblue, I'll try to figure out where to add tests because I can't quite do that same strategy of creating a Spark table and then importing it for Avro (and orc just does something stra

[2020-07-30 16:20] rdblue commented on #1257
You should be able to just write a data file directly with a schema that doesn't include those columns, then append it to the table.

Here's an example that does it for Parquet: https://github.com/apache/iceberg/blob/master/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java

[2020-07-30 18:45] RussellSpitzer commented on #1257
How do you append the file to the correct partition if it doesn't have those columns? Sorry I have a lot of beginner questions.

[2020-07-30 22:45] kbendick opened #1277 "Add a github action to label PRs with the relevant subprojects that are affected"
As the number of subprojects grows and as the number of committers and contributors grows, it will likely become more and more difficult to find PRs that are associated with certain subproject (e.g., if I wanted to look at PRs proposing changes for `iceberg-core` or for `flink`).

It would be entirely possible to use a github action to place labels on each PR automatically that mentions the releva

[2020-07-30 23:43] HeartSaVioR commented on #1277
That sounds exactly same as what Apache Spark project adopted recently, and I see much benefits on auto-labeling so big +1. I think marking PR title is a bit orthogonal though, as it would still help to construct commit title.

[2020-07-31 04:34] HeartSaVioR opened #1279 "Spark: Kyro throws exception on deserializing BaseCombinedScanTask"
I've encountered the issue against Spark 3 with Iceberg master branch (aad99b5f7954678193ee6c3fa69f68392b8b81dd) + custom patches (to change Hadoop/Hive/Spark versions).

Ran below code on spark-shell:

[code]

Stack trace follows:

[code]

As I mentioned, I'm using custom version of Iceberg where Hadoop/Hive/Spark versions are different with Iceberg's dependency, but the issue seems to be known o

[2020-07-31 04:38] HeartSaVioR commented on #1279
Unlike RewriteDataFilesAction, RewriteManifestsAction and RemoveOrphanFilesAction worked.

[2020-07-31 05:04] aokolnychyi commented on #1277
I am +1. We try to prefix commits while merging but having actions to mark sounds like a good idea.

I think we may also consider adding a template for PR descriptions as the project grows (it is totally separate).

[2020-07-31 05:09] aokolnychyi commented on #1260
@rsdr, ideally, yes. We will need to distinguish them, though. I think `as-of-timestamp` should be a properly formatted timestamp and not the number of seconds since the epoch.

[2020-07-31 05:14] HeartSaVioR commented on #1279
Looks like widely used approach is leveraging https://github.com/magro/kryo-serializers , but Iceberg's Guava version is too far, and we even shade the class. My guess is that we need to implement our own KryoRegistrator, but this means we require end users to add the class to their Spark config.

[2020-07-31 05:19] aokolnychyi commented on #1279
We have considered building a custom registrator but decided not to do that for exactly the same reason you describe: users will have to set it and Kryo will not work out of the box. Instead, we got rid of Guava in places that were exposed to Spark.

I think `RewriteDataFilesAction` is relatively new so we haven't caught it.

[2020-07-31 05:23] HeartSaVioR commented on #1279
From the stack trace it feels me that we may need to fix BaseCombinedScanTask to not store ImmutableList "instance", though fixing core module due to the issue of Spark doesn't feel cool. I'll try out and see whether it fixes the issue.

[2020-07-31 05:27] aokolnychyi commented on #1279
Here are a few examples of what we did:
- https://github.com/apache/iceberg/pull/560
- https://github.com/apache/iceberg/pull/775

[2020-07-31 05:30] aokolnychyi commented on #1279
We would probably want to think how to test this better too to avoid such things in the future.

[2020-07-31 05:45] #1144 closed

[2020-07-31 06:13] HeartSaVioR commented on #1279
Yeah it's ideal to have some way to run E2E tests against "non-local mode" of Spark (as these issues are runtime issues and we wouldn't be able to find them unless we give a shot), but not an easy thing to do. If there's a way to force serializing and deserializing tasks even in local mode in Spark (for testing), that would be pretty much helpful.

[2020-07-31 06:16] chenjunjiedada commented on #1279
I also encountered this when building Flink table source, the `ImmutableList.copy()` produces `ImmutableSingletonList` instance which cannot be serialized even when I register the ImmutableList serializer with `de.javakaffee.kryo-serializers`. So I have to change it to `Lists.newArrayLists(tasks)`.

[2020-07-31 06:24] HeartSaVioR commented on #1279
OK, I confirmed my patch fixed the Spark case and I believe it will address Flink case as well. I didn't write test code for faster POC test. I'll write test code and submit a PR. Thanks all for inputs!

[2020-07-31 14:55] RussellSpitzer opened #1281 "Iceberg Datasource Writer Should Automatically Prune Identity Transform Partition Columns"
While writing the vectorized reader for Identity transforms in parquet I ran into the detail that when you write to a Parquet backed Iceberg table it will write columns for all data present even if those rows are already defined by the partitioning. I think it probably makes sense to strip out these columns on write to save space and time when writing. Any thoughts?

[2020-08-01 00:55] kbendick commented on #1250
Yes. For this one I imagine that most of them, if not all, will be suppressions. I will open a PR for this sometime this weekend or early next week. And then hopefully we can add a github action that blocks PRs on certain ErrorProne cases if people are open to it (at least for important things like ReferenceEquality).

The @override thing wasn't really a big deal, but over time the Suppress Warnin

[2020-08-01 00:59] kbendick commented on #1277
Ok great. I will try to open a PR for this either this weekend or early next week. I have some experience with github actions, and thanks to @HeartSaVioR for the idea to search for inspiration from Spark.

I agree that marking PR title is a bit orthogonal, and nothing will stop people from continuing to mention projects in the commit title. If we also add a template, we can consider instructing pe

[2020-08-03 02:42] openinx commented on #360
Thanks @aokolnychyi for bringing this up.  Part of the document is out-of-date now, I will update those parts in next days. Thanks.

[2020-08-03 12:39] davseitsev opened #1286 "Slow parallel operations fail to commit"
I have a situation when two parallel processes modify single table.

First process is Spark Structured Streaming query which reads from Kafka and continuously appends the table with trigger period 10s.

Another process is continuous compaction which works in a following way:
1. List files in the latest partition and take **N** GB of data. Small files have bigger priority.
2. Run Spark job which re

[2020-08-03 13:18] openinx commented on #1286
You mean the spark streaming job will commit to iceberg table for every 10 seconds ?  If sure, then it seems  we committed iceberg too frequently and it's easy to cause transaction conflicts.
Or just write to the data file without committing the transaction and after some another interval to commit the transaction.

[2020-08-03 13:22] openinx commented on #1269
Ping @rdsr @rdblue @shardulm94 , I think it's a critical bug which's worth to take a look.

[2020-08-03 13:26] HeartSaVioR commented on #1286
This is pretty much similar with what I posted in dev@ mailing list.

https://lists.apache.org/thread.html/rf6c800ee3ea580a6c4dce377c292e9bc47a74ff5b27ccb79323e6426%40%3Cdev.iceberg.apache.org%3E

There's a reasonable answer from @rdblue so you'd like to read through it.

https://lists.apache.org/thread.html/r6d321b83baebe33e07f1632b176316aeb354c5a4f0d6397f056460ba%40%3Cdev.iceberg.apache.org%3E

[2020-08-03 13:44] HeartSaVioR commented on #1286
Btw, there's RewriteDataFilesAction in Spark action which does data file compaction, though there're some points to improve (https://github.com/apache/iceberg/issues/1159), like you do prioritize small files, and only pick N gb of files.

Probably restricting the size is a valid strategy to restrict the time to compact - if we can control this as fairly reasonable time, like couple of minutes, thi

[2020-08-03 15:01] davseitsev commented on #1286
Because of specific of Spark Structured Streaming in micro batch mode rare triggering (let's say once every 5m) will cause spikes in resource usage. I'd like to keep small batches if it's posible.

I'm not sure how to implement this with Spark Streaming. I would appriciate if you can point me to the pice of documentation or source code where I can read about it.

[2020-08-03 15:14] davseitsev commented on #1286
Thanks @HeartSaVioR for the answer. I've looked through the mailing list. I understand all the concerns which @rdblue describes. I configured metadata and manifest files compaction to keep acceptable number of files. It should not be an issue. Also I apply snapshots expiration to keep only a few latest snapshots and cleanup old files.
In my opinion the cause of slow commit operation is that I keep

[2020-08-03 17:24] edgarRd commented on #1268
I was planning on working in metrics on importing data, so I can take this one.

[2020-08-03 18:12] rdblue commented on #1269
I agree, this is something we need to fix. I'll take a look right away.

[2020-08-03 20:50] shardulm94 commented on #1269
Sorry for the delay. I will take a look at this today.

[2020-08-04 03:27] HeartSaVioR commented on #1286
If I understand correctly, this is already the thing we do while rewriting data files (at least Spark action is, but the custom implementation would be similar). The latter is a thing Iceberg already cares about during retrying commit.

The problem occurs when the commit can't be done between micro-batch interval - in this case it always lose the race. Increasing the max number of retrial or inter

[2020-08-04 06:56] kbendick opened #1290 "[ErrorProne] Fix outstanding error prone warnings of type NarrowingCompoundAssignment."
There are a few outstanding Error Prone provided warnings which I would like to fix, either via suppression or making some other change.

I'm tracking them individually in separate issues as some of them will be much more difficult for me to work on than others and might take more time / require more input from other devs to ensure correctness.

I'd then like to add a (possibly blocking?) github a

[2020-08-04 07:01] kbendick commented on #1290
Here's an example of such an issue. There's only 2 or 3. I'll submit a patch by the end of the week to fix them.

[code]

[2020-08-04 07:08] kbendick opened #1291 "[ErrorProne] Fix outstanding error prone warnings of type UnusedVariable."
There are currently a number of warnings emitted by the error prone linter when building etc.

One of them is `UnusedVariable`. There's only a few of these, and they should likely either be fixed or suppressed (in the case that they're needed for serialization concerns or other reasons).

As with the others, I'm tracking this as a separate issue so that they can be worked on over time, as some wil

[2020-08-04 07:13] kbendick opened #1292 "[ErrorProne] Fix outstanding error prone warnings of type ByteBufferBackingArray"
There are currently a number of warnings emitted by the error prone linter when building etc.

One of them is ByteBufferBackingArray. There's only a few of these, and my guess is that they're simply missing suppression tags, but it's possible that they are hiding bugs. Even if they're just missing Suppression tags, my opinion is that the Suppression tag serves as a form of documentation and also m

[2020-08-04 07:18] kbendick commented on #1292
I can submit a patch for this by end of the week. I'm using these fixes to further familiarize myself with the code base as I work my way up to making non-trivial commits 😉 .

[2020-08-04 14:16] chenjunjiedada opened #1294 "Refactor ReadBuilder and WriteBuilder for Spark/Flink readers and writers"
As discussed in https://github.com/apache/iceberg/pull/1266#discussion_r464870237, it would be better to refactor builders among spark and Flink readers and writers

[2020-08-04 14:47] davseitsev commented on #1286
I looked through the RewriteDataFilesAction from latest release. It's really awesome that Iceberg has built-in compaction process, didn't see it in previous release. But when I ran it a few times, I got the same issue like here #1159.

[2020-08-04 15:20] davseitsev commented on #1159
@rdblue logic that you described doesn't work for me. I have Spark Structured Streaming job which writes daily partitioned table and produce files of different size, primarily small ones. I ran `RewriteDataFilesAction` a few times on a single partition.
First run produced 86 files with size up to 128Mb as I configured. Second run took all these files and compacted them again merging them with very

[2020-08-04 17:02] rdblue commented on #1159
What I was saying is that the service we built to do this chooses what to rewrite differently. The behavior of the rewrite action is as you describe: it will rewrite more than is necessary so we should add more configuration to provide more control.

[2020-08-04 20:39] aokolnychyi commented on #1159
The doc for data compaction is almost ready. It should cover what @davseitsev experiences.

[2020-08-05 02:12] aokolnychyi commented on #1159
The proposal is [here](https://docs.google.com/document/d/1aXo1VzuXxSuqcTzMLSQdnivMVgtLExgDWUFMvWeXRxc/edit#). I'll keep editing it in the following days.

[2020-08-05 04:01] JingsongLi commented on #1294
BTW, they are `ReadBuilder` and `WriteBuilder`.

[2020-08-05 20:46] #1231 closed

[2020-08-05 22:09] rdblue commented on #1020
Implemented in #1254. Thanks @chenjunjiedada!

[2020-08-05 23:16] kbendick opened #1300 "Should we consider adding a github action to lint YAML files for correctness / proper style?"
The project continues to add more and more .yaml / .yml files. I have been working on one myself for autolabeling PRs.

It might be worth it to add a linter that will check that our YAML files are (1) syntactically correct and (2) meet our required style guide. Such examples of _possible_ style guides for YAML files would be to disallow trailing spaces, require that lists are indented by two space

[2020-08-06 03:13] openinx opened #1302 "Missing Types.UUIDType in SUPPORTED_PRIMITIVES"
I found that we did not put uuid type in `org.apache.iceberg.data.DataTest`, and after added it in the `SUPPORTED_PRIMITIVES` (using the following patch),  it would break many unit tests.

[code]

The broken unit tests:

![image](https://user-images.githubusercontent.com/5028729/89486370-80f88d00-d7d5-11ea-9bc2-f998851265e8.png)

We should add the uuid type in the tests and fix those broken cases.

[2020-08-06 03:26] chenjunjiedada commented on #1302
I met this as well.  This is due to we don't visit with the accompanying Iceberg schema so `GenericParquetWriter` cannot convert the  UUID value before writing to parquet binary.

[2020-08-06 03:43] edgarRd commented on #1258
Issue #1206 is related to what @aokolnychyi mentioned.

[2020-08-06 03:58] openinx commented on #1302
I think we may need to pass both parquet schema and iceberg schema to the visitor so that we could write the UUID value to binary correctly.

[2020-08-06 04:06] JingsongLi commented on #1302
Although Spark does not inherit this test, but looks like Spark Avro writer also has bug too.

[2020-08-06 04:24] openinx commented on #1302
Yes, spark writer also have this bug.  I saw we [commented](https://github.com/apache/iceberg/commit/270bb8f353866b9e4b55b1e9c51504442192598d) the uuid type in spark test case.

[2020-08-06 07:16] JingsongLi opened #1303 "Flink: Introduce IcebergCatalogLoader for loading table at runtime"
Unlike Spark (Table is only required on the client/driver side), Flink needs obtain `Table` object in Job Manager or Task.
- For writer (https://github.com/apache/iceberg/pull/1185): Flink needs obtain `Table` in committer task for appending files.
- For reader (https://github.com/apache/iceberg/pull/1293): Flink needs obtain `Table` in Job Manager for planing tasks.

So we can introduce a `Iceber

[2020-08-06 08:48] JingsongLi opened #1304 "`select` will overwrite `project` whatever the order in TableScan"
`select` will overwrite `project` whatever the order.
-> table.newScan().select("id").project(SCHEMA.select("data"))
Expected: "data"
Actual: "id"

Should we fix this? Invalid `select` when `project`?

[2020-08-07 02:17] HeartSaVioR commented on #1279
Resolved via https://github.com/apache/iceberg/commit/e682ca59129ab668f163924b030280c3787db8f6

[2020-08-07 02:17] #1279 closed

[2020-08-07 07:44] openinx opened #1305 "Flink: Refactor to replace Row type with RowData type in write path."
We have upgraded the flink version to 1.11, and flink 1.11 have turned its Row data type to `RowData`. While the previous parquet/avro readers writers we developed were based on `Row` type,  now @JingsongLi have contributed the `RowData`  avro reader and writer (https://github.com/apache/iceberg/pull/1232),  @chenjunjiedada  is helping to contribute the `RowData` parquet reader(https://github.com/

[2020-08-07 07:45] #1236 closed

[2020-08-07 15:58] rdblue commented on #1269
Merged #1271.

[2020-08-07 15:58] #1269 closed

[2020-08-07 16:00] rdblue commented on #1304
The two methods are alternatives to one another, so I would not expect users to call both of them. I'd be okay with fixing this (open to suggestions on behavior) or simply throwing an exception if both methods are used to configure the same table scan.

[2020-08-07 16:13] rdblue commented on #1286
I want to clarify here that the amount of data rewritten during a compaction should not matter very much. In many cases, the initial commit will fail because an operation can take a long time. What matters is how long a retry takes because retries are metadata-only operations.

For operations like compaction, Iceberg needs to rewrite existing manifests to remove files that were compacted. Any filt

[2020-08-07 17:06] #1020 closed

[2020-08-07 17:07] rdblue commented on #1022
Added in #1301. We may want to also add an in-memory filter that is based on a set, but it should be simple when we are ready to add the optimization.

[2020-08-07 17:07] #1022 closed

[2020-08-07 18:23] aokolnychyi opened #1306 "Spark 3: Consider providing better support for path-based tables"
In Spark 3, support for path-based tables is limited. In particular, I don't see a way to create a Hadoop table at a given location through Spark. Users have to use the Iceberg API for that as we use `HadoopTables` only for reading.

I see a lot of use cases with no metastore where tables are persisted in a location. Usually, these are HDFS use cases. While we can leverage `HadoopCatalog` for such

[2020-08-07 18:29] aokolnychyi commented on #1306
We will have to figure out caching and a few other things but I want to discuss whether this makes sense or not.

@rdblue @rdsr @prodeezy @RussellSpitzer @jerryshao any thoughts on this?

[2020-08-07 18:40] RussellSpitzer commented on #1306
Couldn't we use the existing Create table to do something like

`CREATE TABLE "name" USING iceberg OPTIONS (path = "x")`

Or are we trying to keep from ever naming the table representing the directory?

As for the select, I think that sounds reasonable as long as those kind of strings with slashes can be passed through easily. I'm assuming we would just branch off in the Catalog load table method?

[2020-08-07 18:55] shangxinli commented on #193
I don't see any progress on this feature for a year! Anybody is still actively working on it? If not, I am interested in working on it.

I look at the Icerberg code briefly. Yes, although the flag parquet.filter.columnindex.enabled is enabled by default, but Iceberg is not using that reading path. It seems we can borrow something in org.apache.parquet.internal.filter2.columnindex.ColumnIndexFilter

[2020-08-07 19:37] aokolnychyi commented on #193
I think this work was blocked by the vectorization work. Since we merged it into master, I think we should be good to go.

[2020-08-07 19:38] aokolnychyi commented on #193
I don't know anyone working on this.

[2020-08-07 19:44] shangxinli commented on #193
Thanks Anton! I will have a look when I get time.

[2020-08-07 21:17] thesquelched commented on #1138
I think there's a little bit more work to be done. I get the following when using `org.apache.iceberg.parquet.ParquetUtil.fileMetrics`:

[code]

[2020-08-07 22:00] aokolnychyi commented on #1138
I think we will need a test when we create a Parquet table with int96 timestamps, migrate it to Iceberg, and read back to make sure this works end-to-end.

[2020-08-07 23:27] gustavoatt commented on #1138
Agreed! I'll add a test for that and make sure that end to end icerberg-parquet can read tables with int96 timestamps.

Current tests only verifies that we can read the parquet file but not whether it can be read once it is migrated to Iceberg.

[2020-08-07 23:29] aokolnychyi commented on #1138
We will have to be careful with stats as well. I think Parquet does not keep stats for int96, though.

[2020-08-07 23:59] rdblue commented on #1138
Yeah, looks like a problem with import. @aokolnychyi is right that stats for int96 columns are unreliable. That makes the fix easy: we just ignore int96 columns in the import path.

[2020-08-08 03:27] HeartSaVioR commented on #1286
At a glance of codebase, looks like applying the changes into current base snapshot is executed per retrial. The way to build manifests/snapshot looks to be always based on the operation, even Iceberg can also leverage the information about the delta of previous base snapshot vs new base snapshot when retrying.

We could do differently when snapshots after base snapshots all came from "fast append

[2020-08-08 13:26] tooptoop4 opened #1311 "release notes link"
where can I see release notes of each version? cc @rdblue

[2020-08-08 20:38] rdblue commented on #1306
I was also thinking about adding support for identifiers with a path. We could use that to delegate from `IcebergSource` to a catalog, which would the bring support for all of the `SaveMode` options in the v1 `DataFrameWriter`. Since that write path is very confusing and often broken, I think adding that is a very minor benefit.

I think there may already be support for tables that are identified

[2020-08-08 20:55] rdblue commented on #1286
Yes, but work that has already been done is reused. If a table has 2 manifests, A and B, when a rewrite starts and another commit adds manifest C, then the retry won't need to filter A and B a second time. It will only filter C, and it will use metadata to determine if C needs to be rewritten. By reusing this work, reattempts should only require writing the manifest list and root metadata file.

R

[2020-08-08 21:24] rdblue commented on #193
@shangxinli, it would be great to have your help implementing this!

You're right that Iceberg doesn't use the read path from Parquet. Iceberg has its own set of readers to reconstruct Parquet rows, and it also has its own set of expressions that are used directly in row group and record filters.

We're here to help out with questions if you have them.

[2020-08-10 03:55] shardulm94 commented on #1302
I recently read @rdblue's comment on Iceberg Slack suggesting future removal of UUID type from the spec. Would be great to hear Ryan's opinion if this is worth fixing or if we should rather remove the type.

Hi @rdblue  The Iceberg Presto connector doesn't currently support the UUID type.  David Phillips and I were wondering if you thought it was worthwhile to provide that support. (edited)
Ryan B

[2020-08-10 16:18] rdblue commented on #1302
This wouldn't be too difficult to fix. The problem before was that Parquet didn't have a UUID type annotation so there was no way to encode that a fixed was a UUID and correctly infer the schema. Now that this has been fixed, we could start using it. The larger issue now is that no processing engines can create a UUID type.

I'm still leaning toward removing it from the spec because there is no su

[2020-08-10 18:39] samarthjain opened #1315 "[python-iceberg] Scan plan files not working correctly when filters are present"
For example - for an iceberg table partitioned by dateint, the following call returns all the files in the current snapshot as opposed to returning only those files that have `dateint=20200805`

[code]

To workaround this, I had to directly create the `DataTableScan` object passing in the filter.
[code]

[2020-08-10 21:03] aokolnychyi commented on #1306
@RussellSpitzer, create table statements are delegated to either `HadoopCatalog` or `HiveCatalog` in Iceberg. The example above can be processed only by `HiveCatalog` as we cannot set a table location in `HadoopCatalog`. While `HiveCatalog` allows arbitrary table locations, it requires HMS. While `HadoopCatalog` doesn't need HMS, it requires a special layout and does list operations to load tables

[2020-08-10 21:37] #1111 closed

[2020-08-10 22:21] rdblue commented on #1018
#1316 has a writer for Avro files.

[2020-08-10 22:22] rdblue commented on #1017
#1316 has a writer implementation for Avro files.

[2020-08-10 22:23] rdblue commented on #1023
#1309 has a set-based implementation of the equality delete filter.

[2020-08-10 22:28] rdblue commented on #1024
#1301 added utility methods to support this, and a [merge-based filter for position deletes](https://github.com/apache/iceberg/blob/48360064447f2c93194b366240a044a353840e6e/core/src/main/java/org/apache/iceberg/deletes/Deletes.java#L115-L132):

* [`FilterIterator`](https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/util/FilterIterator.java) is an iterator implement

[2020-08-10 22:49] rdblue commented on #1306
That sounds dangerous. I would really rather not provide an easy way to have tables that work most of the time, but fail in ways that are hard to track down. I think it would be fine to build a catalog that supports this, but I don't think that we should make a recommended way to interact with Iceberg.

[2020-08-11 00:54] aokolnychyi opened #1319 "Spark3: Iceberg catalog lits non-Iceberg tables"
I find it a bit confusing that Iceberg tables show up in non-Iceberg catalogs and vice versa. For example, if a user does SHOW TABLES in the default session catalog, we will see both Iceberg and non-Iceberg tables. If we decide to query one of the Iceberg tables, we will end up with a runtime exception. The same is true for non-Iceberg tables that show up in the Iceberg catalogs.

I know users can

[2020-08-11 01:06] aokolnychyi commented on #1306
I was referring to a catalog as one option. Shouldn't it use `HadoopTables` API internally, though?

Then we can support the following use cases:

[code]

[2020-08-11 02:22] JingsongLi commented on #1302
+1 to remove UUID Type now.
Users can choose to use FIX_BYTES or STRING.

[2020-08-11 11:15] HeartSaVioR commented on #1286
So I added debug log messages - not fully understanding the details, so I roughly added time check for entry point, as well as log message on opening file for read or write.

https://github.com/apache/iceberg/commit/5a0a131a76c98d417c8d6cb70947219010171420

Here's the log I got with making the rewrite data action retried and finally failed.

https://drive.google.com/file/d/1BEgSY2xbYMgmQBgL7SYCLe2

[2020-08-11 21:06] HeartSaVioR commented on #1286
https://drive.google.com/file/d/1BEgSY2xbYMgmQBgL7SYCLe2pW-gkOPq3/view?usp=drivesdk

Sorry, please retry with this link for the log.

[2020-08-12 00:47] #1023 closed

[2020-08-12 07:16] skambha opened #1324 "Schema is not updated with the required property when adding a required column using Alter table DDL"
The SQL command to add the new required column succeeds, but the metadata still shows the column as not required.

Spark3:
[code]

[2020-08-12 22:24] RussellSpitzer opened #1328 "Checkstyle Improvements"
Ok so I've spent possibly to much time looking into this today, the reason some the checks don't work is basically just bugs in earlier versions of checkstyle. Since we get Checkstyle through Palantir's baseline-java we can upgrade basline-java and in doing so upgrade our Checkstyle. Doing this requires disabling a large number of warnings and checks that we don't currently care about as well as h

[2020-08-13 03:52] #1262 closed

[2020-08-13 04:42] chenjunjiedada opened #1331 "Refactor ReusableMapData in Spark and Flink parquet readers"
This is a follow-up for https://github.com/apache/iceberg/pull/1266#discussion_r469438023

[2020-08-13 13:01] kbendick commented on #1328
Forgive my ignorance, but this is for a separate linter that we use vs. Error Prone? I noticed we used the Palantir version of both.

I'm currently on a crusade to fix all of the Error Prone warnings, and potential bring it up on the dev@ list to add a blocking check.

Is there a way to autofix these things very easily in the later version?

[2020-08-13 13:04] kbendick commented on #1328
Oh and while we're on the subject, here's my open PR on the ByteBuffers class of warnings from Error Prone. https://github.com/apache/iceberg/pull/1334

There's one area, writing ByteBuffers to Orc files, that I can't tell if I can be sure if the buffer was allocated on or off heap. The working example I have is a spark application writing to orc-files that has off-heap enabled memory.

I would lo

[2020-08-13 13:25] bigheadzen commented on #1028
@rdblue Is this rewrite process mutually exclusive with other UPDATE/DELETE operations in partition level, if not table level? IIUC, we cannot generate delete files for a base file while it's being rewritten to a new base file.

[2020-08-13 14:06] RussellSpitzer commented on #1328
Yep we use this runtime called baseline

https://github.com/apache/iceberg/blob/a6a511a98a6c679a7ac27c33832960ef8a4e88f1/build.gradle#L31

Which has a ton of different checkstyle/findbug/linter things inside of it. They are only enabled on particular modules

https://github.com/apache/iceberg/blob/a6a511a98a6c679a7ac27c33832960ef8a4e88f1/baseline.gradle#L34-L43

Then we disable a bunch of the chec

[2020-08-13 19:29] aokolnychyi opened #1337 "Investigate classes that use Guava and may be exposed to serialization by Spark"
We need to scan through classes that are exposed to serialization (including task serialization) in Spark and make sure we don't use Guava to avoid conflicts with Kryo.

[2020-08-13 20:58] aokolnychyi commented on #1337
One example is `MappedFields`.

[2020-08-14 01:44] kbendick commented on #1328
Thank you so much @RussellSpitzer. This is super informative for me and others I'm sure. I really appreciate it. I don't want to threadjack you so I'll keep my commentary and questions over on my PR if you don't mind, but I wanted to +1 the idea of your version bumps. And also possibly discuss getting the ability to use a `github_token` in legitimate github actions (which I'll keep the discussion

[2020-08-14 07:59] zhangdove opened #1341 "Use overwrite API and throw ValidationException"
1.My environment
[code]
2.My use case
[code]
3. Throw Exception
[code]

When writing the second data, why would iceberg delete the file in the partition where the first record is located?

I'm not sure if I'm using it the wrong way, I would appreciate it if someone could tell me the right way.

https://github.com/apache/iceberg/blob/master/site/docs/spark.md#overwriting-data

[2020-08-14 16:26] #1324 closed

[2020-08-14 18:27] RussellSpitzer commented on #1328
Thanks for your support, I'll try doing that

[2020-08-15 01:43] aokolnychyi opened #1345 "Spark: Follow name mapping while importing ORC tables"
If we add support for name mapping in ORC, we should follow it while importing tables through `SparkTableUtil`.

[2020-08-17 09:37] bergkvist opened #1347 "Documentation/FAQ: How does time travel work?"
Assumption: a snapshot is a complete copy of a table

Is time travel based entirely on snapshots?

Is it possible to time travel to a point in time between two snapshots?

Is time travel efficient, only needing to keep track of what has changed - like git/[bup](https://github.com/bup/bup)? (Doesn't have to store the same data multiple times)

How does this compare to [attic-labs/noms](https://gith

[2020-08-17 13:31] waterlx opened #1349 "HadoopTableOperations might swallow IOException when doing commit"
We met a condition that it failed to update version-hint.text when doing commit due to IOException, but the exception is swallowed.

The table is created by HadoopCatalog, by a user with proper permissions to access the directory, so the initial v1.metadata.json and version-hint.text are generated correctly.
After that, another job tries to update the table, with another user but without proper pe

[2020-08-17 13:52] waterlx commented on #1349
The following code catches the IOException and only does the logging:
https://github.com/apache/iceberg/blob/3990daae506822dc6b85c7b6d8461be28ca5362e/core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java#L275

[2020-08-17 13:58] waterlx commented on #1349
@rdblue that code is brought in by the initial commit and never changed after that.
Would you please share your idea why you perfer to swallow the exception here?
Although the correct v#.metadata.json are generated, they are not considered if version-hint.text is not updated, as a result, the readers could not see that new data.

[2020-08-17 14:01] RussellSpitzer commented on #1349
@waterlx

Just to clarify,
User 1 Has write and read permissions on the directory as well as unique status User2 doesn't have
User 2 Has write and read permissions on the directory but lacks authority to read files created by User1

User 1 Writes and Creates VersionHint + MetadataFile
User 2 Writes and Creates only Metadata file because they have permissions to do so but fails to write Version Hin

[2020-08-17 20:26] aokolnychyi commented on #1138
@gustavoatt @rdblue quick question on int96 representation in different query engines.

Here is what I see in Spark:

[code]

I remember there were changes/plans on Impala side. Does anybody know the current state?

[2020-08-17 20:35] RussellSpitzer commented on #1328
This is an incomplete upgrade but enough to compile the new code and expose the new warnings.

**Version Bumps**
baseline 0.55 -> 3.36.2
git-version 0.9 -> 0.12.3

**Checkstyle Changes Require for Compile**
 - LineLength no longer is a Treewalker so it needs to be moved
 - MissingJavaDocMethod is now it's own module, allowMissingThrows is now validate throws
 - MinLineCount was owned by MissingJav

[2020-08-17 20:36] RussellSpitzer commented on #1328
@rdblue ^ I'll have a PR available without fixing any of this for other's reproduction in a bit

[2020-08-17 21:58] RussellSpitzer commented on #1328
#1350 An example if anyone wants to see the new slew of warnings and such. I'll try to figure out the RightCurly Checkstyle thing as well since front he docs It doesn't make sense to me why it's failing ...

[2020-08-17 22:00] rdblue commented on #1349
The version hint file is just that -- a hint. It is not guaranteed to be correct because we cannot guarantee that two different FS operations complete successfully (the rename to commit, and the version hint update).

To handle cases where the version hint is missing or incorrect, Iceberg should look for newer versions. If the version hint says the current version is 3, but v4.metadata.json exists

[2020-08-17 22:09] rdblue commented on #1138
I think that the first option, int96 as timestamp, isn't very useful. I'm not aware of any system that writes int96 data that is not a timestamp. If such a system exists, we can figure out how to support it later.

For the second option, it appears that there are some adjustments made to for tables written by other systems. I think that we can do better than a global runtime flag by adding a table

[2020-08-17 22:13] aokolnychyi commented on #1138
I think we already cover points 1 & 2 except potentially some systems like Impala. My question is whether the current fallback scenario we have for INT96 will lead to incorrect results while reading Impala data? I tested Spark/Hive only and that works.

[2020-08-17 22:49] rdblue commented on #1138
Currently, there is no adjustment to int96 timestamp values. And I believe that any adjustment Spark makes is based on the current session time zone. If there needs to be an adjustment to imported int96 timestamps for Impala or any other writer that was incorrect, then I think it makes sense to add a static offset for all int96 values, assuming that all of them were written the same way.

I'm happ

[2020-08-17 22:57] gustavoatt commented on #1138
Yes, Spark makes the adjustment based on the current session timezone:

[code]

On our end we don't really need to add this offset since we only have to deal with int96 written by either Spark or Hive

[2020-08-18 02:29] JingsongLi commented on #1304
Thank you for your reply, I think simply throwing an exception is good.

[2020-08-18 07:57] zhangdove opened #1354 "Non-greenway time zone, data loss with day partition"
My Local time zone is Asia/Shanghai(CTT).
I create an iceberg table and use the `day()` function to use the timestamp column as the partition column.

The code to build the table and write the data is as follows:
[code]

The test sample: When writing data using a non-Greenway time zone, a day's data is written to both partitions
[code]
The directory structure is as follows
[code]
This causes the `

[2020-08-18 14:05] waterlx commented on #1349
@RussellSpitzer , yes, it is. But I realized that Iceberg is still able to read the correct data even with the wrong version-hint.

[2020-08-18 14:13] waterlx commented on #1349
@rdblue got your idea and I found the those logic in HadoopTableOperations#refresh().
So the version hint being out of date is not the root cause of incorrect read.

[2020-08-18 20:36] #1204 closed

[2020-08-18 21:40] aokolnychyi commented on #1345
FYI, @rdsr @edgarRd

[2020-08-18 21:59] edgarRd commented on #1345
Thanks for creating this, @aokolnychyi - I think I had a similar issue in https://github.com/apache/iceberg/issues/1206. The name mapping support for ORC has been merged https://github.com/apache/iceberg/pull/1208, so I'm planning on working on this issue this week.

[2020-08-19 02:16] aokolnychyi commented on #1349
It seems correct to me to ignore exceptions that occur while writing the hint as that hint is optional.

@waterlx, how did you notice you read incorrect data? How did you load/write to the table? Did you cache the table instance?

[2020-08-19 08:33] Heltman opened #1359 "java.lang.IllegalArgumentException: no location provided for warehouse"
I use spark-3.0.0 and iceberg-0.9.0 make some test. I follow this doc:
    https://iceberg.apache.org/getting-started/#creating-a-table

But I get a exception like the title:
    java.lang.IllegalArgumentException: no location provided for warehouse

My code like below:

    --master yarn \
    --jars iceberg-spark3-runtime-0.9.0.jar \
    --executor-memory 2G \
    --num-executors 20 \
    --conf

[2020-08-19 09:30] HeartSaVioR commented on #1359
[code]

Once we group configs by catalog then configs for `local` catalog are following:

[code]

`uri` is for hive-type catalog. hadoop-type catalog requires `warehouse`.

Please refer https://iceberg.apache.org/spark/#configuring-catalogs to check required configurations.

[2020-08-19 09:44] Heltman commented on #1359
![image](https://user-images.githubusercontent.com/44333070/90619273-9fce3900-e243-11ea-8842-ead3c91e5cac.png)

this mistake me...

[2020-08-19 09:51] HeartSaVioR commented on #1359
Ah OK that looks a bug on doc, but could you please confirm changing `uri` to `warehouse` fixes your issue? Once you've confirmed, you are welcome to submit a PR to fix it (or if you mind I can do it). Thanks in advance!

[2020-08-19 09:53] Heltman commented on #1359
It' s work! Thanks!

[2020-08-19 09:56] Heltman commented on #1359
But a new problem:

20/08/19 17:50:28 WARN BaseMetastoreTableOperations: Could not find the table during refresh, setting current metadata to null
org.apache.iceberg.exceptions.NoSuchIcebergTableException: Not an iceberg table: spark_catalog.default.big_table (type=null)
...

java.lang.NoClassDefFoundError: org/apache/commons/compress/utils/Lists
  at org.apache.iceberg.hadoop.HadoopInputFile.getB

[2020-08-19 10:02] Heltman commented on #1359
Thanks! for all.The doc may need you to fix, I will close this issue!

[2020-08-19 10:02] #1359 closed

[2020-08-19 10:41] HeartSaVioR commented on #1359
OK I'll provide the fix.

Btw, when you use "custom" catalog, you'll need to provide full table identifier like `catalog_name.db_name.table_name` - in your case, `local.default.iceberg_test1`.

[2020-08-19 10:51] HeartSaVioR commented on #1359
Looks like it's already fixed via #1259 but the site hasn't been updated yet.

[2020-08-19 14:41] waterlx commented on #1349
@aokolnychyi I used a Spark job to count the record after writing into the Iceberg table and it did not show the expected the number. By accident, I found that the version nuber in version-hint was not the same as the latest metadata json.
A Flink job is used to write into Iceberg and I use MergeAppend and Transaction.commitTransaction() to do the commit. The table instance is not cached.

Sorry t

[2020-08-20 03:02] zhangdove commented on #1341
Somehow it seems to be working now. I'll finish this question.

[2020-08-20 03:02] #1341 closed

[2020-08-20 05:23] waterlx commented on #1349
ready to close this issue. Thanks for taking care of this.  @rdblue @RussellSpitzer @aokolnychyi

[2020-08-20 05:23] #1349 closed

[2020-08-20 05:44] #1354 closed

[2020-08-20 11:47] NJordan72 commented on #104
FWIW, I'm seeing this again.

[code]

It happens when calling `Actions.forTable(table).removeOrphanFiles().execute()`

[2020-08-20 16:37] rdblue commented on #104
Thanks for letting us know, @NJordan72. What version of Iceberg are you using? 0.9.1?

[2020-08-20 19:01] NJordan72 commented on #104
I was somewhere between 0.9.0 and 0.9.1, but I just confirmed it on 0.9.1.  Updated stack trace reflecting that here:

[code]

[2020-08-21 06:18] jerryshao commented on #1319
From my understanding, the current implementation of `HiveCatalog` will list all tables under specific db, that's why we will see non-iceberg table in iceberg catalog. I think it is doable to filter out non-iceberg table, but it requires to get the properties of each table, which may bring in extra cost for just table listing.

[2020-08-21 22:11] shardulm94 opened #1365 "Missing docs for Entries metadata table"
I see that the docs do not mention the entries metadata table http://iceberg.incubator.apache.org/spark/#inspecting-tables I have found them useful to see the list of files added in a given snapshot.
Was this left out on purpose from the documentation? If not I can open a PR to add these.

[2020-08-22 15:52] rdsr opened #1366 "Rename iceberg-hive module to iceberg-hive-metastore"
See detailed discussion on Iceberg mailing [list](https://lists.apache.org/thread.html/r32d74ad9674f5603884e933868006e13a465d744ce2fa249717742a2%40%3Cdev.iceberg.apache.org%3E)

[2020-08-24 07:22] zhangdove commented on #1341
I've done some more local tests and debug, and this phenomenon has to do with time zones.

[2020-08-24 09:06] Simon0806 opened #1370 "commit transaction failed when numSnapshots in retainLast function >= actual num of snapshot."
My Test Code is :
[code]

When executing this test， it raises error like this:

[code]

This is because the commit method in RemoveSnapshots.java only commit the operation when num of snapshots are different , like this:
[code]
 When num in retainLast is larger than or equal with current num of snapshots, it will skip operation commit. So when doing transaction's commitTransaction, lastBase always

[2020-08-24 11:12] marton-bod opened #1371 "Run iceberg-mr and iceberg-hive tests on Hive 3.1.2 as well"
Currently, the iceberg-mr and iceberg-hive tests are run using Hive version 2.3.7. In order to make sure that any existing/future Iceberg code can play well with more up-to-date Hive versions as well, and catch any incompatibility early, our proposal with @pvary is to add logic in Gradle in some form to run the test suites on both Hive 2.3.7 and 3.1.2 (the latest release), thereby testing compatib

[2020-08-24 11:45] massdosage commented on #1371
Some of the Hive integration-style tests use HiveRunner but this doesn't currently support Hive 3.x, I looked into it a while ago and I don't think it's too much work to add this, see https://github.com/klarna/HiveRunner/issues/120. If we could get that merged into HiveRunner and released then we could support testing of both Hive 2 and 3.

[2020-08-24 21:23] jiegzhan opened #1372 "Can not create table with Spark 2.4 DataFrame"
Started spark-shell on EMR (Spark 2.4) with this command:
[code]

Create table script failed:
[code]

On [iceberg document website](https://iceberg.apache.org/spark/#writing-with-dataframes), there's appending and overwriting data with Spark 2.4 DataFrame, but there's no creating table with Spark 2.4 DataFrame.
![Screen Shot 2020-08-24 at 2 19 42 PM](https://user-images.githubusercontent.com/10664

[2020-08-24 23:33] edgarRd commented on #1345
While working on this I noticed that we only compute the `NameMapping` when it is set in the table properties in: https://github.com/apache/iceberg/blob/master/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java#L577 otherwise we get `null`. As per https://github.com/apache/iceberg/pull/1167/files/eadac8d5da4f7911e4734f101c8756ee12f2aea9#diff-ea7008dc637345e7a36b5e1b5a579e13 - this wi

[2020-08-25 00:24] rdblue commented on #193
@shangxinli, `idToAlias` is correct. That accesses the full Parquet name for the field in the a schema converted from a Parquet file. There is no guarantee that Iceberg field names correspond to the names used by Parquet when the file was written, which is why we maintain the alias map when converting from Parquet.

[2020-08-25 00:36] #1268 closed

[2020-08-25 05:34] shardulm94 opened #1378 "Spark dataframe count on entries metadata table throws an IllegalArgumentException for partitioned tables"
I have created a test case to demonstrate this issue at https://github.com/shardulm94/incubator-iceberg/commit/6e0d0c2368539d1accc9c3f75c3624a96fbd4103

The failing test can be run using `./gradlew :iceberg-spark2:test --tests="*TestIcebergSourceHiveTables24*"`

[code]

[2020-08-25 06:45] aokolnychyi commented on #1378
Can be related to how we handle projections? Reading records works fine.

[2020-08-25 06:56] shardulm94 commented on #1378
Yes, reading records is fine. It has to do with Spark requesting empty projections for count queries and how we handle those in our Avro readers. A similar issue was fixed in https://github.com/apache/iceberg/pull/1077 but it only addressed unpartitioned tables.

[2020-08-25 08:56] marton-bod commented on #1371
Thanks @massdosage. I'm working on fixing the test failures/warn logs in HiveRunner (hive-3.x) and will post a PR so we can push this forward

[2020-08-25 10:30] zhangdove commented on #1372
If I understand correctly, Spark 2.4 does not support creating tables in SQL [spark guide](https://iceberg.apache.org/spark/#spark).

Maybe you can use the Iceberg API to build table and then write data [createTable](https://iceberg.apache.org/java-api-quickstart/#create-a-table).

[2020-08-25 14:49] marton-bod commented on #1371
@massdosage I've created the PR: https://github.com/klarna/HiveRunner/pull/125

[2020-08-26 07:33] JingsongLi opened #1383 "Flink: Support Flink streaming reading"
Flink is famous for its streaming computation.
- Iceberg has this capability as a message bus for stream computing. Even in near real time, it can meet many requirements.
- Compared with Kafka, iceberg can save all the historical data, while Kafka can only save the data of recent days. The ad-hoc can query all the historical data. Moreover, iceberg has efficient query performance and storage effic

[2020-08-27 05:38] JingsongLi opened #1392 "Flink: Support creating table and altering table in Flink SQL"
Create table and Alter table can improve ease of use Flink on Iceberg, Even if there are only identity partition definitions (Enough to cover Hive), users can easily operate iceberg tables with Flink SQL.

[2020-08-27 19:52] rdblue opened #1396 "Cannot read Parquet maps with NameMapping"
When we try to read a Parquet file with a map using `NameMapping`, it fails because the schema generated has a different name for the key/value pair struct:

[code]

The names generated when applying the name mapping do not match the original schema. The name mapping code should be updated to add field IDs and not change anything else in the file schema.

[2020-08-28 08:04] chenjunjiedada commented on #1396
I don't see current name mapping logic about updating the field name.  Neither `map` nor `primitive`. Could you help to construct a unit test to reproduce it?

[code]

[2020-08-28 12:06] davseitsev opened #1398 "No retries on snapshot commit on eventual consistent file system"
I'm building Spark structured streaming application which writes data to Amazon S3 in Iceberg format. Sometimes the query fails without reties dues to S3 eventual consistency.
[code]
As far as I understand it happens in `SnapshotProducer` during commit operation. `FastAppend` tries to read manifest list in `apply()` method and get `java.io.FileNotFoundException` in `S3AFileSystem.getFileStatus(S3A

[2020-08-28 16:09] aokolnychyi commented on #1398
I remember we had this issue earlier. [Here](https://github.com/apache/iceberg/pull/779) is the PR with some discussion. The idea suggested there was either contribute a custom `FileIO` implementation in Iceberg or use Hadoop FS that handles it already.

[2020-08-28 16:09] aokolnychyi commented on #1398
cc @rdblue

[2020-08-28 16:11] aokolnychyi commented on #1398
I feel like we need to agree on the best solution and document it.

[2020-08-28 16:14] aokolnychyi commented on #1398
Here is the snippet from `create` in `S3AfileSystem`:

[code]

Looks like `getFileStatus` is what breaks this logic and even setting the overwrite flag does not help. At least, in the case of `S3AFileSystem`.

[2020-08-28 16:29] rdblue commented on #1398
Our S3 file system doesn't do the `getFileStatus` check when overwriting, which is how we avoid this. I think the best way to handle this is to add a certain amount of retries at the `FileIO` layer.

We already have retries for `table.refresh()` (in `BaseMetastoreTableOperations`) that take care of most of these issues for the root metadata. The reason why we added the retries there was to avoid a

[2020-08-28 16:30] rdblue commented on #1396
@chenjunjiedada, that code constructs a new map type using the Parquet builder. There is no guarantee that the field names match the data file's field names.

[2020-08-30 07:53] Fokko opened #1402 "Implement MetricsConfig for parquet RowData writer."
MetricsConfig will be used for building parquet RowData writer: https://github.com/apache/iceberg/pull/1385/files#r477339694

[2020-08-30 20:57] rdblue commented on #1311
We should add release notes to the releases page on the ASF site: http://iceberg.apache.org/releases/

Looks like we've been neglecting copying them from the release announcements. I can move some over to that page this week. Thanks for pointing this out.

[2020-08-31 03:07] openinx opened #1403 "Flink: Improvements for iceberg sink connector."
In this [patch](https://github.com/apache/iceberg/pull/1185), we have several minor issues to follow up for flink sink connector:

* Support multiple iceberg sinks in the same flink job. [discussion](https://github.com/apache/iceberg/pull/1185/files#r479448928).
* provide a method to set user-provided write parallelism in FlinkSink#Builder.
* The netflix team have improved their flink sink by buff

[2020-08-31 11:36] #1305 closed

[2020-08-31 11:37] #1215 closed

[2020-08-31 12:21] chenjunjiedada commented on #1396
So the name mapping is created from a custom schema which converted from custom parquet schema, and some of the field names do not match the data file's field names.  Correct?

IIUC, we could detect whether data files' field names exist in `typeWithIds`. Does that sound reasonable to you?

[code]

[2020-08-31 18:29] aokolnychyi commented on #1345
Internally, we started assigning a default name mapping when migrating existing tables to Iceberg. I am not sure a name mapping makes sense when we create a fresh Iceberg table. My assumption was that we would need to assign a name mapping in the import/snapshot commands.

Also, we ignore Parquet metrics for columns we could not determine ids for in `SparkTableUtil`. Should we do the same for ORC?

[2020-09-01 06:21] yiguolei opened #1405 "When will time travel will be supported in SparkSQL?"

[2020-09-01 10:50] hk-lrzy opened #1406 "[Question] Add row level index for data"

[2020-09-01 10:50] #1406 closed

[2020-09-01 13:27] hk-lrzy commented on #1396
I see current master branch will use data file's schema replace field name if path not found in nameMapping?
[code]
So i still not aware clearly, could you tell more about detail？

[2020-09-01 13:58] chenjunjiedada commented on #1396
@hk-lrzy , `ApplyNameMapping` is used to assign IDs for data file's schema, so here we return the data file's type with IDs parsed from name mapping.

[2020-09-01 16:26] stevenzwu commented on #1403
just want to add another [unaddressed comment](https://github.com/apache/iceberg/pull/1185#discussion_r479589663) regarding distinguishing DataFile from different Flink checkpoints.

[2020-09-01 17:03] aokolnychyi opened #1410 "Document REPLACE and CREATE OR REPLACE behavior in Spark SQL"
I think we need to highlight that the existing table properties are merged with new ones in replace transactions.

[2020-09-01 17:11] aokolnychyi opened #1411 "Consider defaulting PartitionSpec and SortOrder if they are null"
See [here](https://github.com/apache/iceberg/pull/1373/files#r479575823) for details.

[2020-09-01 17:15] aokolnychyi opened #1412 "Consider a builder in TableMetadata"
The number of attributes in TableMetadata is huge and each time we add a new one, we have to touch a lot of places.

[2020-09-01 21:42] aokolnychyi opened #1413 "Support Parquet modular encryption"
We would need to design an API for users to put their logic for managing keys to support [modular encryption](https://github.com/apache/parquet-format/blob/master/Encryption.md) in Parquet. Also, we would need to propagate the encryption config to Parquet read and write options in `Parquet`.

[2020-09-01 22:22] aokolnychyi commented on #1413
Actually, we may not need anything. One moment.

[2020-09-01 22:25] aokolnychyi commented on #1413
I think we can try to leverage [this](https://github.com/apache/parquet-mr/blob/3d45fd5480b1b58074c5b53d0738774cf355d11e/parquet-hadoop/src/main/java/org/apache/parquet/crypto/DecryptionPropertiesFactory.java#L45) in Parquet.

[2020-09-02 03:12] xmuyoo opened #1414 "Is there anyway to deploy Iceberg with Flink instead of Spark 3 now?"
Hi, guys!

Since there is already a Flink cluster in my company, I want to try to deploy Iceberg with it to write/read data instead of Spark.

But I can't find any documents about how to do it. Is there anyway to deploy it?

If not, is there a roadmap with Iceberg-Flink?

Thanks a lot!

[2020-09-02 03:17] Muyoo commented on #1414
I've noticed that there is a module named `iceberg-flink`. It seems that Iceberg can work with Flink instead of Spark.

But I don't know how it go now.

[2020-09-02 06:26] hk-lrzy commented on #1396
@chenjunjiedada, i understand, you actually means data file schema not equals with row group schema？

[2020-09-02 07:12] chenjunjiedada commented on #1396
@hk-lrzy , Yes, the original problem happens because the file schema that used to generate name mapping not equals to (some names are not matched) the file schema in the actual parquet file.

[2020-09-02 22:18] #1392 closed

[2020-09-03 00:20] edgarRd commented on #1345
Yeah, I don't think a name mapping makes sense for Iceberg tables that won't import any data. For migrated tables, a default name mapping equivalent to the columns of the target table should be fine. That's what I did, but programmatically in https://github.com/apache/iceberg/pull/1399/files#diff-531684170cfef0f1493ced85a0c8dbfcR544

I think the common case would be that when importing a table, us

[2020-09-03 03:28] Simon0806 opened #1416 "TestHiveIcebergFilterFactory.testDateType run failed."
![image](https://user-images.githubusercontent.com/12323514/92067997-4e43b380-edd8-11ea-8e74-23b29586cae2.png)

As shown in pic, I run ut in my local env and it throws UT failed, is this caused by my environment ? or it's UT bug ?

[2020-09-03 06:44] zhangdove commented on #1416
The problem relates to time zones, where `Timestamp` is used in function calls.

@rdblue Do you have any good ways to avoid this problem?

[2020-09-03 16:19] #1370 closed

[2020-09-03 18:46] aokolnychyi opened #1419 "Add checks to TableMetadataParser to ensure sort order and spec lists are present in v2"
See [here](https://github.com/apache/iceberg/pull/1373/files#r482619671).

[2020-09-03 21:13] RussellSpitzer opened #1422 "Distributing Job Planning on Spark"
**Background**:
  One issue we’ve seen come up frequently with our larger table scans in Spark is the amount of time required for job planning. Spark reads have a long startup phase waiting to plan all read tasks before any progress can be made. This phase represents a large amount of time where resources are held but no progress is made on the job. In our workloads we see the the majority of time

[2020-09-04 02:13] yiguolei commented on #1422
If it costs a lot of time to read manifest file, why not merge the data files or merge manifests under a manifest list file?

[2020-09-04 05:23] aokolnychyi commented on #1422
To give a bit more background, job planning is fast even on huge tables if we have a partition predicate and end up processing 10-15 partitions in a single job. We have `RewriteManifestsAction` to rewrite metadata and align it with partitions on demand. That covers all common use cases.

At the same time, Iceberg supports file filtering within partitions and opens the opportunity for efficient *fu

[2020-09-04 05:25] aokolnychyi commented on #1422
In the future, I see the possibility to load and leverage secondary indexes using this approach too.

[2020-09-04 05:33] aokolnychyi commented on #1178
Seems like this can be resolved?

[2020-09-04 05:38] aokolnychyi commented on #317
PR: https://github.com/apache/iceberg/pull/1373

[2020-09-04 05:53] aokolnychyi opened #1424 "Investigate case-sensitivity during partition spec and sort order binding"
I am not sure we handle case-sensitivity correctly while binding fields in `PartitionSpec` and `SortOrder`.

[2020-09-04 08:02] QiAnXinCodeSafe opened #1426 "Unused Field"
https://github.com/apache/iceberg/blob/454101c3573acb9cd94d6d9a306ed99a5a324ed9/data/src/main/java/org/apache/iceberg/data/orc/GenericOrcReaders.java#L54

This field is never used.

[2020-09-04 15:19] RussellSpitzer commented on #1422
@yiguolei In the use cases we are thinking about the

The issue is that that approach also does not scale with very large amounts of metadata. We would I really like a solution that allows us to do TableScan style queries even when the underlying table has hundreds of megs if not gigabytes of metadata.

[2020-09-04 16:02] RussellSpitzer commented on #1426
I think we actually have a large number of other unused things, our current warning level is quite high. We should probably go through and clean them up. I have some time this morning so I think I'll grab all the obvious ones.

[2020-09-04 23:26] aokolnychyi commented on #1422
I haven't formed an opinion on what approach is more promising right now. Here are my thoughts after a quick look:

**Option 1 (extension to the `TableScan` API)**

Pros:
- Reuses the existing filtering logic.
- API could be reused by other query engines.
- Seems to require less code?

Cons:
- Is a substantial change to the core planning logic that requires thorough testing (both performance and c

[2020-09-07 02:20] HeartSaVioR opened #1428 "Misleading warning message is logged for Spark Session Catalog with Hive type when end users query to non-Iceberg table"
[code]

If you only look at the output then the behavior is correct, but the warning message logged from Iceberg can be misleading, especially what the log level says. That exception is "expected" for such case, hence shouldn't be logged as warn message.

[2020-09-07 02:20] HeartSaVioR commented on #1428
Working on this. Will submit a PR soon.

[2020-09-08 05:14] HeartSaVioR opened #1431 "Invalidate metadata tables in CachingCatalog when the base table is updated"
In the Spark page doc (https://iceberg.apache.org/spark/), there's a note regarding querying/writing with DataFrame that it initializes an isolated table reference which will not be updated automatically when other query updates the table. That said, other use cases would share the table reference which will be updated automatically.

That is great, but it doesn't hold true for metadata tables, es

[2020-09-08 05:14] HeartSaVioR commented on #1431
Will submit a PR soon.

[2020-09-08 12:53] skambha commented on #1410
I can take a look into this.

I ran a simple test and the current behavior of replace is we are merging the existing properties with the new ones and updating any existing properties with the new values.

What is the reason we are merging the table properties instead of doing a replace?

[2020-09-08 17:16] #1178 closed

[2020-09-08 20:36] #1304 closed

[2020-09-08 20:40] rdblue commented on #1416
I think we need to address this. Tests should not be timezone dependent. I'll try to take a look.

[2020-09-09 03:01] openinx opened #1434 "Listing tables will crash the flink sql client after creating a new hadoop catalog"
When I test the `flink-runtime` module from this pull request https://github.com/apache/iceberg/pull/1423/files ,  I got this crash stacktrace.

[code]

[2020-09-09 04:19] openinx commented on #1434
The patch #1435 fixed the crash issue, here is the verification.

[code]

[2020-09-09 08:36] openinx opened #1437 "FlinkCatalog will need to load hive's configuration files."
Currently, we will load the hadoop configuration by using flink's [HadoopUtils.getHadoopConfiguration(..)](https://github.com/apache/iceberg/blob/master/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java#L122),  this method will only load `core-site.xml` and `hdfs-site.xml`,   it won't load the `hive-site.xml` when using hive catalog.

We'd better to support load hive configurat

[2020-09-09 23:49] #1428 closed

[2020-09-10 03:36] chenjunjiedada opened #1438 "Flink: consider add serialVersionUID for serializable classes used by operator"
We met a serialization issue when using new Iceberg datastream sink on the flink cluster with old iceberg datastream sink:

Caused by: java.io.InvalidClassException: org.apache.iceberg.PartitionSpec; local class incompatible: stream classdesc serialVersionUID = -4610029347110790711, local class serialVersionUID = -2608482762645185351

@openinx @JingsongLi @rdblue, Do you think we should add serial

[2020-09-10 07:00] it-sceptic opened #1439 "Support for Row level column values update"
I think to support SCD type-2 it would be very helpful

Supplier_Key	  Supplier_Code	Supplier_Name	Supplier_State	                   Start_Date	                      End_Date
123	                  ABC	                Acme Supply Co	CA	                            2000-01-01T00:00:00	      2004-12-22T00:00:00
124	                 ABC	               Acme Supply Co	IL	                            2004-

[2020-09-10 18:26] rdblue commented on #1438
Table should not be serializable. That would leak the requirement to external connectors.

This is happening when restoring from checkpoint state written by a different version, right? If that's the case, can we serialize checkpoint state with something more reliable than Java serialization?

[2020-09-10 21:26] shangxinli commented on #193
@rdblue, idToAlias could be null. In that case, how do we find the field name which is required by the following Parquet API(FilterApi)?

BTW, how do you resolve the imports of 'relocated' in Intellij? I am able to Gradle build in the terminal but Intellij keeps complaining those relocated imports like below. This blocks me to run unit test in Intellij.

import org.apache.iceberg.relocated.com.goo

[2020-09-10 21:54] rdblue commented on #193
`idToAlias` is not null when the schema was converted from a Parquet schema. So you just have to ensure that the schema you're using was converted from the schema of the file you're working with.

Try building the gradle bundle through IntelliJ's gradle plugin. That usually fixes it for me.

[2020-09-10 21:58] #1434 closed

[2020-09-10 22:01] #1431 closed

[2020-09-10 22:15] shangxinli commented on #193
It shows null to me when I do a simple writing/reading as below.
Dataset<Row> df = ....
df.write().format("iceberg").mode("overwrite").save(path_name);
spark.read().format("iceberg").load(path_name);

It is null because the 2nd constructor public Schema(List<NestedField> columns) () is called from https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/SchemaParser.java

[2020-09-10 22:20] shangxinli opened #1441 "Upgrade Parquet to 1.11.1"
There are several bug fixes in Parquest 1.11.1. We might want to upgrade to this version. Here is the list of changes in 1.11.1 https://github.com/apache/parquet-mr/blob/apache-parquet-1.11.1/CHANGES.md

[2020-09-11 03:06] zixi0825 commented on #1414
+1

[2020-09-11 03:12] chenjunjiedada commented on #1414
@Muyoo @zixi0825 , I guess you guys may be interested in this PR: https://github.com/apache/iceberg/pull/1423.

[2020-09-11 08:20] simonsssu opened #1442 "make Flink iceberg sink work without checkpoint enabled."
Current Flink Iceberg Sink depends on checkpoint to do commit. If we don't enable checkpoint, the data will not be commit into iceberg. so we have to do an improvement.

[2020-09-11 20:33] HotSushi opened #1445 "Uppercased schemas are not readable in Iceberg-mr/ hive"
I wrote a simple test for reading uppercased schema in iceberg-mr, but it fails.

The schema is as follows
[code]
If you run simple `Select * from table` query with hiverunner, it fails because of following error:
[code]

The reason for this is that ObjectInspectorUtils.getStandardStructFieldRef forcibly checks with a lowercased fieldname (i.e data) whereas IcebergRecordObjectInspector has upperca

[2020-09-11 22:17] omalley commented on #1445
I thought Hive only lowercases the top level column names. Does it also lowercase the fields in structs?

[2020-09-12 05:38] pvary commented on #1445
Maybe this is because we use the lowercase config when we start the TableScan, and this config might lowercase the struct fields too?

[2020-09-13 20:53] kbendick opened #1447 "Fix autolabeler config to match any file with gradle in it for the build tag"
As noticed in this PR, https://github.com/apache/iceberg/pull/1423, the autolabeler did not pick up on a change to the build.gradle file, which should have been labeled as `build`.

I will submit a patch for this and test it in my local repo before merging.

[2020-09-13 21:06] kbendick opened #1448 "Add upcoming flink-runtime to the autolabeler config"
There's an open PR from @openinx to add a `flink-runtime` module. We should be labeling this new top level directory under the `flink` label, just like we bundle all of the various top level `spark` directories under one `spark` tag.

Here's the PR in question that adds the `flink-runtime` directory: https://github.com/apache/iceberg/pull/1423

[2020-09-13 23:29] kbendick commented on #1448
Closing this issue as the PR has been merged. I believe once another push happens against #1423 that the autolabeler _might_ run again, though it's possible it only runs on PR creation.

[2020-09-13 23:29] #1448 closed

[2020-09-13 23:39] kbendick commented on #1447
Closing this issue as the PR has been merged and I tested it in my local repo.

[2020-09-13 23:39] #1447 closed

[2020-09-13 23:45] kbendick opened #1451 "Add not null Preconditions check to varargs constructor for BaseCombinedTask"
I was looking at another PR and checking for nullability concerns, when I noticed that there are two constructors for `BaseCombineTask`. There's one constructor that takes in a `List<FileScanTask>` and one that uses varargs `FileScanTask...`. The List constructor specifically checks for null, however, the varargs one does not.

However, because arrays are objects in java, the `FileScanTask...` whe

[2020-09-14 03:46] chenjunjiedada commented on #1438
This can happen when restoring from checkpoint/savepoint state. This can also happen when Flink cluster upgraded with existing user applications as pointed out by @JingsongLi [here](https://github.com/apache/iceberg/pull/1346#discussion_r476981455) and might happen when user wants to try out newly released iceberg-flink-runtime on the Flink cluster.

Flink is using Kryo for state serialization acc

[2020-09-14 06:17] kbendick opened #1453 "Add a gitattributes file with export-ignore to be used for generating excludes in the release script"
After some back and forth between myself and @rdblue on this PR for improving the release script to detect the archive list automatically, https://github.com/apache/iceberg/pull/1227, we've come up with some working solutons.

However, in my opinion, the working solutions that I've offered are potentially a little too cute (read: hacky).

Having looked into it further, the proper way to exclude ce

[2020-09-14 08:22] kbendick opened #1458 "Update dev/source-release.sh to utilize the standard .gitattributes file"
Myself, @rdblue, and @waterlx have been working for a while off-and-on at hardening the release script. In particular, we've been working  to make it so that excluded files are not added, but that the list of folders and files to include is _not_ hardcoded, as we have encountered issues where releases were created that did not have the most up to date list of files and directories to include (for

[2020-09-14 18:51] HotSushi commented on #1445
@pvary This error occurs even before InputSplits are formed, so TableScan is not yet configured. This error seems to occur during query compile time when it's trying to construct Select operator for Column[Data]

@omalley I think it's the other way round. If I run "select Data.Case1 from table", Hive tries to create select operator for "Column[Data].case1". So top lower columns are proper-cased bu

[2020-09-15 00:24] rdblue commented on #1438
@openinx, @JingsongLi, I think that this is an important problem to address before the next release. I'm concerned about trying to maintain compatibility across Iceberg versions using Java serialization, especially if serialization is automatic. We discussed this in the Iceberg sync and most people there tended to agree that Java serialization is not a good candidate for serialization across libra

[2020-09-15 00:35] rdblue commented on #193
@shangxinli, I wouldn't expect an alias map when getting a schema from that path. If you're parsing the schema from Iceberg metadata, then there are no aliases. We only set them when the schema is created by converting a Parquet MessageType to Iceberg Schema.

When converting to the Parquet FilterApi, the aliases must come from a Schema instance that was created from the MessageType of the file yo

[2020-09-15 00:43] #1453 closed

[2020-09-15 00:46] #1458 closed

[2020-09-15 02:33] JingsongLi commented on #1438
Hi, I think there are two cases:
1. Restoring Flink job from checkpoint/savepoint state.
2. Flink cluster upgraded with existing user applications.

In Flink, for serializing checkpoint state:
- For known objects, such as POJO, List, etc., Flink uses handwritten serializers.
- For unknown objects, Flink uses Kryo serializer. [1]

So actually, Flink not use Java serialization to serialize checkpoin

[2020-09-15 03:32] pan3793 commented on #1416
`java.util.Date` and any class derived from it include `java.sql.Date` always keep epoch and timezone internal.

`java.sql.Date.valueOf("2015-11-12")` actually return a "offset date" at system default zone offset, but hive `SearchArgument` is build by it's epoch, this is equivalent to convert it to GMT date, then the test case should be failed in any GMT+x timezone. I think the solution is constru

[2020-09-15 10:40] liujinhui1994 opened #1461 "How to compile iceberg in windows？"
![09E01D57-276F-454b-914D-0F76C8946786](https://user-images.githubusercontent.com/25769285/93200733-c4ee9280-f782-11ea-8413-4ccd1509dffd.png)

![02B92950-B4B9-48ac-B733-A565572A1EC1](https://user-images.githubusercontent.com/25769285/93200782-dcc61680-f782-11ea-8324-603d128696c6.png)

[2020-09-15 10:41] liujinhui1994 commented on #1461
I want to compile iceberg in the windows environment, but I find that I cannot recognize that iceberg is a gradle project，please help me

[2020-09-15 11:02] liujinhui1994 commented on #1461
![image](https://user-images.githubusercontent.com/25769285/93202849-fa48af80-f785-11ea-8ee9-5682f95b156e.png)

[2020-09-15 12:44] #1461 closed

[2020-09-15 17:10] #1416 closed

[2020-09-15 17:58] rdblue commented on #1438
My understanding is that Kryo has the same general compatibility problems as Java serialization, it is just a bit faster. According to the Kryo docs, [compatibility is not guaranteed and varies across serializers](https://github.com/EsotericSoftware/kryo#compatibility). And the serializer that this would use, `FieldSerializer`, has guarantees similar to Java serialization:

That's why I think that

[2020-09-15 21:37] HotSushi commented on #1445
@edgarRd @guilload @cmathiesen  Any thoughts?

Seems like [StructField](https://github.com/apache/hive/blob/master/serde/src/java/org/apache/hadoop/hive/serde2/objectinspector/StructField.java#L33) implementation requires getFieldName() to return lowercase name (unlike what we are doing [here](https://github.com/apache/iceberg/blob/master/mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectins

[2020-09-15 22:16] stevenzwu commented on #1438
@rdblue  Flink jobmanager (driver) serializes the tasks and ships them to taskmanagers (workers) to execute the tasks. Any final member of operator class needs to be serializable.

It is actually unclear to me what kind of serializable guarantee that Flink provides. Does it guarantee compatibility with different binary versions in the same Flink cluster (like in rolling upgrade case)? @JingsongLi

[2020-09-15 22:32] rdblue commented on #1438
@stevenzwu, I meant across versions, not within a running application. I'm concerned about cases where Iceberg is upgraded and can no longer read older state. I thought that was limited to checkpoint state, but there appears to be a second case.

[2020-09-15 22:34] rdblue commented on #1438
`FileAppenderFactory` should not be `Serializable` because that requirement is for Flink but not other engines.

[2020-09-16 03:13] JingsongLi commented on #1438
## State compatibility
Let's focus @rdblue 's concern first: where Iceberg is upgraded and can no longer read older state.
Currently, as @stevenzwu said, only the `DataFile` is in Flink state. And it is serialized by Kryo.
Although Kryo can avoid `serialVersionUID`, adding or reducing fields will also cause compatibility problems.

Here I suggest that we need to implement Flink serializer for `Dat

[2020-09-16 03:26] kbendick opened #1462 "Possible need to use flink's shaded classes in place of org.apache.flink.runtime.util.HadoopUtils"
When looking through issues, I noticed from @openinx's issue https://github.com/apache/iceberg/issues/1437 that we are using `org.apache.flink.runtime.util.HadoopUtils`.

However, it appears that a hotfix has been applied in Flink by @JingsongLi  which shades ` org.apache.flink.runtime.util` to  `org.apache.flink.hive.shaded.util` in this PR https://github.com/apache/flink/pull/12646/files (which

[2020-09-16 03:44] JingsongLi commented on #1437
Yes, we should consider `hive-site.xml` too. `HadoopUtils` only consider `core-site.xml` and `hdfs-site.xml` for file system accessing.
Spark also respect `hive-site.xml`: https://issues.apache.org/jira/browse/SPARK-31170
Maybe we can expose a `hive-conf-dir` like Flink Hive integration doing: https://ci.apache.org/projects/flink/flink-docs-master/dev/table/hive/hive_catalog.html#step-2-configure-

[2020-09-16 03:49] JingsongLi commented on #1462
Thanks @kbendick for start this discussion.
I think we don't need change this to shaded class.
Actually, Flink-iceberg is not relevant to Flink-hive, they just reuse some hive dependencies. We don't have to tie them up.
And Flink cluster already contains `org.apache.flink.runtime.util.HadoopUtils` in lib.

[2020-09-16 04:17] kbendick commented on #1462
Cool. Thanks for letting me know. I wasn't sure if the flink cluster would contain the shaded or non-shaded library based on what I saw. I figured I could either spend a good amount of time looking into it or simply tag you since you were the one that added shading @JingsongLi.

I appreciate you taking the time to let me know and for getting back to me so promptly. I'll close this issue now.

[2020-09-16 04:17] #1462 closed

[2020-09-16 06:09] lordk911 opened #1463 "Time travel not work"
I'm testing with spark3.0.1 and cdh5.14 ,iceberg0.9.1.  and spark-shell
catalog config is :
[code]

I tried to create a table :
`scala> spark.sql("CREATE TABLE hadoop_prod.ice.icetest (id bigint, data string)  USING iceberg PARTITIONED BY (id) ")`

insert some value:
[code]
delete a partion:
[code]

insert some value:
[code]

show snapshots:
[code]

but every snapshot I read ,show the same last st

[2020-09-16 15:21] RussellSpitzer commented on #1463
Repo'd this, running checking to see what the issue is

[2020-09-16 15:56] RussellSpitzer commented on #1463
Ok unfortunate thing here.

If you use "table" in your read command it will ignore all other options passed to the builder.
So
`spark.read.option("snapshot-id", 628886310322778010L).table("hadoop_prod.ice.icetest")` is equivalent to
`spark.table("hadoop_prod.ice.icetest")`

See
https://github.com/apache/spark/blob/v3.0.1/sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala#L795-L798

[2020-09-16 16:04] RussellSpitzer commented on #1463
@rdblue we'll need to modify the docs https://iceberg.apache.org/spark/#time-travel
Here since the examples given will not work. Also something I was mentioning internally, it would be great if we had unit tests for all pieces of example code  in the docs to catch things like this.

[2020-09-16 16:27] stevenzwu commented on #1438
Regarding `DataFile`, in addition to the TypeSerializer (for state) we also need to implement the custom Kryo Serializers for the network transfer btw writer and committer, since the network buffer can be included in the checkpoints due to unaligned checkpoints.

Once @chenjunjiedada confirmed that it is a rolling upgrade case, maybe we should bring this to the Flink community and see if Flink pro

[2020-09-16 18:20] rdblue commented on #1463
Yeah, we should update this to use `load` instead of `table`. It's too bad because that goes through the `IcebergSource` rather than a catalog.

[2020-09-16 18:38] RussellSpitzer commented on #1463
Spark 3.1 :) Although honestly I could see the case for back porting that. Discarding user input should at the very least warn, but probably should have been an exception.

[2020-09-16 18:51] RussellSpitzer commented on #1463
Doc PR Up

[2020-09-16 19:00] Lindayangyy opened #1468 "any plan for Iceberg Table on S3?"
New to Apache Iceberg, We are looking for Iceberg Table or warehouse (catalog) implementation upon S3,  if without any reference to Hive and HDFS (hadoop) is possible? The current implementation seems tightly coupled with Hive and hadoop.

[2020-09-16 19:05] RussellSpitzer commented on #1468
You can use it with S3 with Hadoop client libraries only, you don't actually need a Hadoop cluster or HDFS.

[2020-09-16 20:40] rdblue commented on #1438
While we are considering the state problem, why not go ahead and update the sink to store all the `DataFile` objects in a `ManifestFile` and use @stevenzwu's code to serialize the manifests? Then we have more confidence because we've been running this in prod for a long time now. That avoids breaking state later to move to storing manifest files, fixes the current problem, and should make storing

[2020-09-16 20:42] rdblue commented on #1463
I merged the PR and deployed docs. Thanks, @RussellSpitzer!

@lordk911, it looks like the problem is in Spark. Can you try with the new examples? If those work, then we can close this issue.

[2020-09-16 22:28] HeartSaVioR commented on #1468
Supporting S3 requires Hive, because of S3's characteristic, eventual consistency. I see OSP version of Delta Lake solved it in different way, but pretty much limited. (It assumes concurrent writes for S3 only happen in "a" Spark driver. https://github.com/delta-io/delta/blob/master/src/main/scala/org/apache/spark/sql/delta/storage/S3SingleDriverLogStore.scala)

[2020-09-16 22:47] aokolnychyi commented on #1468
Iceberg works reliably with s3 even if the same table is accessed via multiple clusters and query engines. Using Iceberg requires a catalog that can swap a pointer to the metadata file atomically. This can be done using a compare and swap or lock/unlock API. Iceberg contains a built-in implementation that uses Hive metastore to work with s3 reliably (lock/unlock). Anyone could [easily build](http:

[2020-09-16 22:51] jacques-n commented on #1468
We've been working on a non-Hive way to provide this functionality and plan on contributing it to the project within the next two weeks.

[2020-09-16 22:53] Lindayangyy commented on #1468
That will be awesome, can't wait to see it. Thank you - jacques-n!

[2020-09-16 22:54] Lindayangyy commented on #1468
Thanks for all the responses as alternatives. All answers are great!

[2020-09-16 22:58] HeartSaVioR commented on #1468
That sounds great! Assuming it still needs to do CAS with external storage (I'd be really curious if it doesn't rely on the external storage) which is that? Is it one of AWS services? If then even better, as there's no external dependency outside of AWS. Given we assume to use S3, which is already locked-in.

[2020-09-17 00:02] jacques-n commented on #1468
We're doing something pluggable but the default implementation is on top of DynamoDB.

[2020-09-17 01:11] lordk911 commented on #1463
**ok , test passed by use load method**:

[code]

Thank you !

[2020-09-17 02:57] JingsongLi commented on #1438
We can use Flink `DataFileTypeSerializer` to network too.

+1 to store all the DataFile objects in a `ManifestFile`.

But I think it is good to introduce `SimpleVersionedSerializer`s[1] for `DataFile` and `ManifestFile` too, we may need `FlinkDataFile` and `FlinkManifestFile`. The `SimpleVersionedSerializer` is a simpler design than `state-serializers-and-schema-evolution`, it is completely intern

[2020-09-17 03:29] JingsongLi opened #1470 "Make HiveCatalog inheritable for custom IMetaStoreClient"
Our internal has a custom meta store which implements Hive `IMetaStoreClient`, I think it is good to reuse Iceberg `HiveCatalog`:
- Change `HiveMetaStoreClient` to `IMetaStoreClient`. (Actually depends on `IMetaStoreClient` is enough in Iceberg?)
- Make `HiveClientPool` pluggable in `HiveCatalog`, maybe a new constructor like: `public HiveCatalog(String name, HiveClientPool clients, Configuration

[2020-09-17 07:26] lordk911 opened #1472 "iceberg table write by Spark Structured Streaming can't read new data in one sparksession by sql"
I'm testing with spark3.0.1 and cdh5.14 ,iceberg0.9.1. and spark-shell
catalog config is :

spark.sql.catalog.hadoop_prod               org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.hadoop_prod.type          hadoop
spark.sql.catalog.hadoop_prod.warehouse     hdfs://hdfsnamespace/user/hive/warehouse

I use Spark Structured Streaming to write kafka data to a iceberg table , and I try to co

[2020-09-17 07:50] chenjunjiedada commented on #1438
@stevenzwu ， The issue didn't happen when doing the rolling upgrade. As I mentioned at the beginning, the issue happens when I submit a new application with new Iceberg version to a Flink cluster which deployed an old version iceberg. After digging deeper, we found it is because the job manager and task manager still deserialize the old version iceberg classes from Flink dependency but Flink clien

[2020-09-17 07:55] pvary commented on #1470
IMetaStoreClient definitely should be enough for Iceberg.
We still have to keep the HMS for testing though (or need a replacement implementation)

[2020-09-17 08:08] JingsongLi commented on #1438
Hi @chenjunjiedada , got it, I think this should be a problem of cluster deployment.

This is because there are two versions of iceberg dependency in your cluster (`flink/lib/*` and user jar), and the class resolution order mechanism of Flink is inconsistent between client and runtime (of course, this can be solved by `yarn.per-job-cluster.include-user-jar`).
- If your cluster is for DataStream us

[2020-09-17 09:02] HeartSaVioR commented on #1472
You'll need to use `REFRESH TABLE` instead as you're referencing Iceberg table as table identifier.

http://spark.apache.org/docs/latest/sql-ref-syntax-aux-cache-refresh-table.html

I guess `REFRESH resource` doesn't trigger Iceberg catalog to invalidate cache.

[2020-09-17 09:25] lordk911 commented on #1472
@HeartSaVioR  Thank you ,your are right.

[2020-09-17 09:25] #1472 closed

[2020-09-17 09:27] #1463 closed

[2020-09-17 17:39] rdblue commented on #1463
Thank you for confirming that this works!

[2020-09-17 18:38] skambha commented on #1410
@aokolnychyi , @rdblue,  can you please share your thoughts. For replace -  why do we merge the table properties instead of doing a replace.  Thanks.

[2020-09-17 19:01] rdblue commented on #1410
@skambha, the reason is that some of the table properties control behavior that should be preserved. I think that this makes sense with the `REPLACE ... AS SELECT` use case. The purpose is to atomically overwrite an entire table, possibly with a different schema.

Users asked for a way to maintain a report table that is replaced daily. Because all of the data is replaced, it made little sense to v

[2020-09-18 02:43] lordk911 opened #1476 "when will Data files be delete after snapshot Expired"
I'm testing with spark3.0.1 and cdh5.14 ,iceberg0.9.1. and spark-shell
catalog config is :

spark.sql.catalog.hadoop_prod               org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.hadoop_prod.type          hadoop
spark.sql.catalog.hadoop_prod.warehouse     hdfs://hdfsnamespace/user/hive/warehouse

[code]

after expireSnapshots there is only one history, but the snapshots can also be qu

[2020-09-18 04:31] HeartSaVioR commented on #1476
While it seems a bit odd expired snapshots are still shown (Have you run "refresh table hadoop_prod.ice.recmd_feedback_tb.snapshots" and "refresh table hadoop_prod.ice.recmd_feedback_tb.history"?), it's expected behavior for all data files to be on HDFS.

You looks to be confused the behavior of expiring snapshots - it doesn't mean the operations done with these snapshots will be reverted. Data re

[2020-09-18 04:53] lordk911 commented on #1476
sorry , In another spark session ,when I query the snapshots, It shows the latest one. But I the data file still on hdfs , it's that mean I shoud delete them which not used by any snapshot manually?

[2020-09-18 04:57] Simon0806 commented on #1476
The expired snapshots will have a deleteFile list and addFileList, can you make sure that the file you see is the delete File in current snapshots ? you can find the manifest file referenced by current snapshot and see the file status is 1 (added) or 2 (deleted) referenced by these manifests.

[2020-09-18 05:28] lordk911 commented on #1476
some thing I missed to mention, befor I do snapshot expired, I do the rewriteDataFiles operation to rewrite all the small data file to one big file , it generate the latest snapshot , then I try to expired all other snapshot , I think the all small data files should be deleted.

[code]

[2020-09-18 07:05] Simon0806 commented on #1476
Actually I think the old files will not be deleted at this point of time. because it still reference by manifests in your current snapshots. you can see the old files list are still reference in one of the manifest file in your current snapshot with status 2 (deleted) , you can try to generate a new snapshot and make current to be the old one, then expire it.

[2020-09-18 07:50] lordk911 commented on #1476
" you can try to generate a new snapshot and make current to be the old one, then expire it."
@Simon0806 you are right , I misunderstand iceberg's behavior.

[2020-09-18 07:50] #1476 closed

[2020-09-18 16:57] stevenzwu commented on #1438
There is a also a broader discussion in Flink community regarding a new unified (stream and batch) sink interface, which can really help the Flink Iceberg sink: (1) simplify committer code (including the ManifestFile discussion here) (2) run committer in jobmanager which can avoid the current limitation of invalidate embarrassingly parallel DAG. If we migrate to the new sink interface, it will lik

[2020-09-18 21:15] aokolnychyi opened #1479 "Reconsider handling of spaces in PartitionSpec$partitionToPath"
If we migrate existing tables to Iceberg and then continue writing to them, file locations are not consistent because of how we handle spaces in `PartitionSpec$partitionToPath`.

For example, we have the following locations:

[code]

[2020-09-18 22:03] RussellSpitzer commented on #1479
Should we just be not escaping?
[code]

[2020-09-19 03:09] manishmalhotrawork commented on #1479
@RussellSpitzer @aokolnychyi

yeah, looks like this change can fix the issue.
as `URLEncoder` converts space to `+`

Or it has to do decoding as encoded?

tested column_name field with spaces it works ( in case we create table using Iceberg internal API's) with Spark, it has to use back ticks `

I tested with no `escape` and it seems to be good for this test-case.

[2020-09-20 01:54] rdsr commented on #1366
I believe this is done as part of #1418

[2020-09-20 01:54] #1366 closed

[2020-09-20 20:19] ismailsimsek commented on #1468
is it possible to write JDBC based catalog? that could unlock many catalog option

[2020-09-21 16:12] samidalouche opened #1482 "Custom partition functions"
The `PartitionSpec` class is protected in a way that prevents the user from creating custom partitioning functions besides the built-in `bucket`, `identity`, `year`, `month`, `day` and `truncate` ones.

1. Am I right to assume that the code is written this way because it takes much more than the partitioning function to generate the execution plan/optimize the queries, etc?
2. Is there any plan to

[2020-09-21 16:18] samidalouche opened #1483 "Iceberg query plan does not include all pushdown filters"
Example query plan

[code]

More specifically

[code]

The line does not include all the filters that are being pushed to Iceberg. Is there a way to force iceberg to display all the filters? (`spark.debug.maxToStringFields` does not have any effect on the output).

Thanks.

[2020-09-22 16:00] aokolnychyi opened #1485 "Reconsider caching behavior in Spark 3"
I think we need to discuss the following three cases.

**Case 1 (refresh of cached relations during inserts or procedure calls)**

[code]

Currently, Spark does not invalidate cached relations that contain a V2 table we just wrote to. I think that's a bug and Spark must match `InsertIntoDataSourceCommand` that refreshes the cache for V1 tables.

**Case 2 (stored tables in view definitions)**

[cod

[2020-09-22 16:02] aokolnychyi commented on #1485
@rdblue @RussellSpitzer @HeartSaVioR what do you think guys?

[2020-09-22 16:03] aokolnychyi commented on #1485
Here is the code I used to refresh the cache in procedures:

[code]

[2020-09-22 16:34] RussellSpitzer commented on #1485
I actually would have assumed it was a bug if a "Cache" command was invalidated by another table operation, in my mind it should snapshot the table state at that moment. I know because the behavior is lazy in Spark your guarantees on "when" are a bit more iffy, but I think the Spark cache shouldn't be automatically invalidated.

 One of my main motivators here is that you could modify this table i

[2020-09-22 18:51] aokolnychyi commented on #1485
That depends on how we interpret the cache in Spark. I don't see a description how it is supposed to work so I rely on the current behavior as the correct way of doing things. I interpret cache as something specific to Spark, even more, specific to a Spark application. Internally, `CacheManager` stores a full logical plan and if a table that is part of that plan is refreshed, the cache is invalida

[2020-09-22 18:57] rdblue commented on #1485
@danielcweeks, it would be great to hear your thoughts on what Spark _should_ do in some of these cases.

[2020-09-22 19:08] aokolnychyi commented on #1485
cc @holdenk as well

[2020-09-22 19:10] aokolnychyi commented on #1485
Here is what I see in `CacheManager`:

[code]

Here, `DataSourceV2Relation` for `FileTable` was already added.

[2020-09-22 19:27] aokolnychyi commented on #1485
I added one more case to consider.

[2020-09-22 20:22] RussellSpitzer commented on #1485
I guess my thoughts were related to the programmatic api. I guess in the table/catalog world we can have many more interpretations on what "cache" should do

[2020-09-23 03:04] naishu opened #1486 "How to use VectorizedRowBatchIterator"
Hi , I need to use Orc Iterator which is renamed to VectorizedRowBatchIterator in another package outside iceberg as an Java Iterator . so I had installed iceberg-orc.

But i' unable to use it because VectorizedRowBatchIterator constructor is private. So How do i use VectorizedRowBatchIterator as adapter for iterator?

[2020-09-23 05:10] HeartSaVioR commented on #1486
You can do the hack on package private access - create a new class extending VectorizedRowBatchIterator in the same package in your application.

But I'm not sure Iceberg project intends to provide utilities other than Iceberg API as public API. I wonder that is not encouraged to be used outside of Iceberg.

[2020-09-23 05:32] HeartSaVioR commented on #1483
I guess you're using Spark 2.4 - the abbreviation is done in Spark, not Iceberg.

https://github.com/apache/spark/blob/e1e94ed4ef45ef81814f1b920bac0afa52ae06a2/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2StringFormat.scala#L61-L86

So that's not only about the issue of Iceberg, but an issue of Spark.

From Spark 3 the description looks to be provided from data

[2020-09-23 05:45] aokolnychyi commented on #1422
I tend to think that Option 2 would require less substantial changes. We anyway want to have predicate pushdown in metadata tables, fix spec id in `SparkDataFile`, propagate spec id in the `files` metadata table. That being said, I would be interested to know whether any other query engines plan to leverage this too. I know planning in Presto is very different, though.

[2020-09-23 06:16] chenjunjiedada opened #1488 "Occasional unit test failure from CI"
I met following exceptions occasionally in our internal CI system. Do we have any fix about this recently?
[code]

[2020-09-23 12:42] pvary opened #1496 "Update version-hint.txt atomically"
We discussed in #1465 that it would be good to find a way to update the version-hint.txt atomically

Checked a few things and here is what I have found (https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-common/filesystem/filesystem.html#boolean_rename.28Path_src.2C_Path_d.29)

[code]

Based on this I think our best solution would be:
1. Create a new file
2. Delete old version-hint.

[2020-09-23 15:26] chenjunjiedada opened #1498 "Spark3: Add SQL extension for import/convert table"
Currently, we have helper functions in `SparkTableUtil` to import Spark/Hive tables. It would be great if Iceberg provides the SQL extension to the end-user. For example, Delta lake has `CONVERT TO` syntax.

This would depend on Anton's first PR for SQL extension.

[2020-09-23 16:06] aokolnychyi commented on #1498
We've planned [SNAPSHOT and MIGRATE commands ](https://docs.google.com/document/d/1Nf8c16R2hj4lSc-4sQg4oiUUV_F4XqZKth1woEo6TN8/)and @RussellSpitzer is already working on that.

[2020-09-23 16:07] RussellSpitzer commented on #1498
Yep I should have a PR up soon for the backing "spark actions" which we'll
be able to plug into our new Extensions very easily

On Wed, Sep 23, 2020 at 11:07 AM Anton Okolnychyi <notifications@github.com>
wrote:

[2020-09-23 19:54] thomaschow opened #1500 "Read custom metadata on iceberg snapshots via spark options"
Similar to https://github.com/apache/iceberg/issues/1242 we'd like to allow accessing snapshot properties via spark read options. Our use case at Stripe is we'd like to query for a particular snapshot version given an externally provided id that is persisted with the snapshot.

[2020-09-23 20:42] shardulm94 commented on #1422
@aokolnychyi We have this use case too

where distributed job planning can be helpful. I think one reason why partition predicates are faster is because we have partition upper and lower bounds aggregated at a manifest file level. If we aggregate these metrics for other fields as well do you think that helps your case here?

[2020-09-23 21:04] wypoon opened #1501 "Reading snapshot of table uses current schema"
I am new to Iceberg. When I do
[code]
where ```spark``` is a ```SparkSession```,  ```df``` has the current schema of the table, as can be seen when an action is performed that causes ```df``` to be evaluated, such as
[code]
Is this the expected behavior?
In my case, I tried altering the table, either adding a column or removing a column, and then trying to read an old snapshot before the table was

[2020-09-23 23:10] rdblue commented on #1496
I think deleting the version hint and renaming a new one in its place is a good idea. I don't think that there is an atomic operation that could do this. If there was, we would use it to maintain a pointer to the version instead of just a hint. We have to delete the file, but at least a rename would ensure that readers don't use the file when it is half written. And if the rename fails, it's okay

[2020-09-24 01:33] waterlx opened #1502 "HiveClientPool closed by HiveCatalog blocks table operations"
Considering the following scenario:
1. catalog = new HiveCatalog(...)
2. table = catalog.createTable(...)
3. HiveCatalog object is garbage-collected somehow
4. table.updateSchema()....commt() fails with the following exception:
[code]

The root cause is: When new HiveCatalog, HiveClientPool is created and it is refereneced by BaseTable through HiveTableOperations. When HiveCatalog is garbage-colle

[2020-09-24 01:44] chenjunjiedada commented on #1498
Thanks @aokolnychyi and @RussellSpitzer , Looking forward to this.

[2020-09-24 07:19] zhangjun0x01 opened #1504 "Spark reads the table created by flink throws an exception"
I create iceberg table by flink, then insert data to the table , but when read the iceberg table by spark, throws a exception:
`
Caused by: java.lang.ClassCastException: org.apache.orc.TypeDescription cannot be cast to org.apache.iceberg.shaded.org.apache.orc.TypeDescription
`

[2020-09-24 07:41] openinx commented on #1504
Thanks for reporting this issue, mind to provide the full stacktrace ? I would love to take a look.

[2020-09-24 08:00] zhangjun0x01 commented on #1504
hi, openinx :

my spark code is

`spark.read().format("iceberg").load("iceberg_db.iceberg_001").show();`

but I can read the data by presto fine ,so I think the data is ok

the full stacktrace is

`Caused by: java.lang.ClassCastException: org.apache.orc.TypeDescription cannot be cast to org.apache.iceberg.shaded.org.apache.orc.TypeDescription
	at org.apache.iceberg.orc.OrcIterable.iterator(OrcIter

[2020-09-24 11:40] openinx commented on #1504
I checked the case under my host , seems I did not encounter the problem you described:

[code]

[2020-09-24 11:54] HeartSaVioR commented on #1504
Describing all versions would be pretty much helpful. In this case, Spark version, Flink version, Iceberg version(s) if you used different version for Spark and Flink.

It would be even better if you don't mind sharing the table schema and how to create Iceberg table, and insert rows.

[2020-09-24 13:15] zhangjun0x01 commented on #1437
I have meet the same issue, for the modification of this issue, I have a few thoughts:
 1. Specify the hive conf dir like flink, and then construct HiveConf through the hive-site.xml in this dir, but in this case, if flink is started in application mode, the cluster will can not load the  hive configuration on the jobmanager of flink, There is maybe no hive-site.xml file on yarn cluster
 2. We con

[2020-09-24 13:44] zhangjun0x01 commented on #1504
my spark version is 2.4.5 ,and flink version is 1.11.0, but my hive version is 3.1.2 ,the hive-metastore version of iceberg is 2.3.6,if I use this version ,it will result in jar conflict。

So I modified the hive version of iceberg to 3.1.2, and re-compile the jar using the master branch. I don't know if it is caused by this problem. But in the same spark program, there is no problem reading the ic

[2020-09-24 13:50] waterlx commented on #1502
@rdblue Could you please share your idea about that? if I understand that correctly, you would like to make HiveClientPool (created by HiveCatalog) unavailable to use right after HiveCatalog object is closed or garbage-collected. So HiveClientPool is supposed to have the same life cycle as HiveCatalog?

[2020-09-24 15:08] danielcweeks commented on #1485
I would tend to agree with @RussellSpitzer's original point.  I don't feel like cache should be invalidated.  Keep in mind that `createOrReplaceTempView()` is a Dataset operation and though in these examples we are referring to a single table, the query can be arbitrarily complex.  Expiring the caches to reflect the source tables in the more complicated case would result in the cache being more li

[2020-09-24 15:34] aokolnychyi commented on #1485
I see merits in both approaches but the biggest concern for me is that we deviate from the way Spark handles cache for built-in tables. I am afraid this will cause a lot of confusion for the users. Moreover, our `SparkSessionCatalog` is not consistent now. It will invalidate cache for non-Iceberg tables only.

How Hive or Presto handle temp views? My understanding was that views provide a way to r

[2020-09-24 15:37] aokolnychyi commented on #1485
@dbtsai @dongjoon-hyun @viirya is there a description of how Spark should behave in the cases outlined above? Or is it up to catalogs to interpret that?

[2020-09-24 15:41] aokolnychyi commented on #1485
@danielcweeks, I think I misunderstood your comment after reading it once more. You were referring to case 1 only, right?

[2020-09-24 16:00] danielcweeks commented on #1485
It feels like the biggest issue here is that behavior of cache is not consistent or well-defined (as far as I can tell).  I believe the operation originated from RDDs which were intended to be immutable.  So that would imply that the cache would not change regardless of what happens externally.  The intent was that a cache is fault tolerant and will be reconstituted from the original transforms.

[2020-09-24 16:39] aokolnychyi commented on #1485
That's what I think as well. Previously, `InsertIntoDataSourceCommand` always invalidated the cache and data sources did not have an option to change that behavior. Right now, Spark does not do anything automatically for custom catalogs (but does match the old behavior in its catalog) so I am not sure whether the interpretation is now up to the catalog or not.

Also, caching of V2 tables is not su

[2020-09-24 22:13] #1441 closed

[2020-09-24 22:30] aokolnychyi commented on #1485
@omalley, I'd be curious to know how Hive handles case 1.

[2020-09-24 23:16] rdblue commented on #1502
Yeah, I think that the lifecycle of the client pool should be the same as the catalog. We want to reuse a client pool to avoid opening too many connections to the Hive MetaStore the catalog is configured to use. The most reasonable place to do that is with the catalog.

We could separate them, so the catalog is passed a client pool, but it isn't clear to me what that would accomplish: why would we

[2020-09-25 00:55] wypoon commented on #1501
I created a PR: https://github.com/apache/iceberg/pull/1508
but I didn't know how to link it to this issue.

[2020-09-25 02:30] openinx commented on #1437
This should not be a problem,  because we would load the hive configuration files at the client side and then construct the `IcebergStreamWriter` and `IcebergFilesCommitter`, those classes will serialize the configurations and send them to job manager,  finally the job manager would deserialize to get the `Configuration`.

Making the property-value pairs as arguments  sounds reasonable for testing

[2020-09-25 04:08] zhangjun0x01 commented on #1437
hi,@openinx

For example, I have a flink jar program, which consumes data from Kafka and writes it to iecberg table. If the jar package contains the local configuration path of hive, I upload the jar to the hdfs directory, and my startup command is as follows:

`/home/work/software/flink/bin/flink run-application -p 5 -d -t yarn-application  \
-yD yarn.provided.lib.dirs="hdfs://hadoopcluster/data/

[2020-09-25 08:30] zhangjun0x01 opened #1510 "The iceberg-flink jar in the maven repository is incomplete"
The iceberg-flink jar I downloaded from the maven repository is incomplete (https://repo.maven.apache.org/maven2/org/apache/iceberg/iceberg-flink/0.9.1/iceberg-flink-0.9.1.jar), the lack of some class files and other configuration files, such as org.apache.flink.table.factories.TableFactory, leads to an error when using maven project development.

I decompressed the jar downloaded from the maven r

[2020-09-25 19:34] mehtaashish23 opened #1511 "Read errors out with multiple DeleteFile entries after UPSERT"
Getting below exception, while using UPSERT. The scenario below, which tries to reproduce that read table fails, when we are accumulating the delete files multiple times, referred by different ScanTask.

1. Create a table with schema say `f1,f2`
2. Add a row into it.
3. Delete the above row from it.
4. Add the same row again (3 & 4 are going UPSERT)
5. Delete the above row again (this is doing DEL

[2020-09-25 19:35] mehtaashish23 commented on #1511
Working on the fix. Looks trivial!

[2020-09-25 19:46] rdblue commented on #1437
I think it's a good idea to load `hive-site.xml` and respect its defaults. But for cases like a missing warehouse directory for a catalog, I think we should prefer configuring the warehouse on the catalog itself. It doesn't make sense for multiple catalogs to use the same `hive-site.xml` setting for warehouse directory.

[2020-09-25 22:55] #1345 closed

[2020-09-26 00:31] rdblue commented on #1485
I agree with most of what's been said about case 1. I would expect the behavior to be a point in time, but that doesn't fit with what Spark actually does for existing tables. And I think it is right to be concerned about a behavior change.

But I don't think that case 1 is an area where Iceberg should make a choice. Caching datasets and invalidating those datasets is implemented above the source i

[2020-09-26 00:46] stevenzwu opened #1513 "BaseMetastoreTableOperations shouldn't disable refresh upon NoSuchTableException"
Otherwise it might cause unfriendly NPE for callers that don't check null return value from current() method.

`TableOperations#current()` can return null `TableMetadata`. E.g. `BaseMetastoreTableOperations` returns null when encountered `NoSuchTableException`.

[code]

Callers handle the null in inconsistent way. Should `TableOperations#current()` just throw more friendly `NoSuchTableException` o

[2020-09-26 15:32] ericsun2 commented on #417
How about providing fine control of timestamp conversion in the year/month/day/hour `Transforms` as a secondary optional parameter?

`.hour(timestampValue)`  // current syntax
`.hour(longValue)`  // default to EPOCH_MILLIS
`.hour(longValue, EPOCH_MILLIS)`
`.hour(longValue, EPOCH)`  // seconds since epoch, this option should also be popular, the community can make it default
`.hour(longValue, EPOCH

[2020-09-26 15:42] ericsun2 commented on #1281
So you are suggesting the Hive-style Virtual Partition Column which only stored in metadata but no the data files?
Then that is probably against the original design of Iceberg.
The space waste for such repetitive values of `Identity()` Transform in Parquet/ORC should be close to nothing.

[2020-09-27 00:57] kbendick commented on #1485
@RussellSpitzer  I'd like to point out that as of Spark 3.0, the behavior of `CACHE TABLE` is eager, unless the DDL is `CACHE LAZY TABLE` as documented here: https://spark.apache.org/docs/3.0.0/sql-ref-syntax-aux-cache-cache-table.html#syntax.

I understand that the behavior is different depending on whether or not the cached data is a `VIEW` or a `TABLE`.

So I should say that I originally agreed

[2020-09-27 01:17] kbendick commented on #1485
I'd also like to point out that, according to what little documentation I could find, the cached query plan _might_ not be invalidated if its using a hadoop / file based Catalog. Specifically, the documentation implies that there's a need to call `REFRESH` to actually invalidate path based data. The [documentation on `REFRESH`](https://spark.apache.org/docs/latest/sql-ref-syntax-aux-cache-refresh.

[2020-09-27 01:40] simonsssu commented on #1442
relate to PR: [https://github.com/apache/iceberg/pull/1515]

[2020-09-27 01:52] zhangjun0x01 commented on #1437
I tested it and found that there is indeed a problem with configuring the local directory to load hive-site.xml in flink application mode.
So my idea is to configure a hive conf dir to load hive-site.xml. This directory can be a local path or an hdfs path to be compatible with flink application mode. If it is a local directory, load it directly, if it is an hdfs directory , download it to the loca

[2020-09-27 02:09] zhangjun0x01 commented on #1437
My idea is that the configuration of hive is obtained by loading hive-site.xml, but we also support users to configure warehouse.

- If the user configures warehouse, the value in hive-site.xml will be overwritten, just like when we create hive table the location can be specified.
- the user does not configure a warehouse, the default value in hive-site.xml is used.
- the user does not specify a w

[2020-09-27 03:38] openinx commented on #1437
In this case,  I think we'd better to include hadoop & hive configurations in the `flink-kafka-iceberg.jar`, so that even if loading jar at job manager side,  we could parse the correct expected configurations. right ?

[2020-09-27 21:51] kbendick commented on #1292
Oops forgot to close this but this has been handled and it does not appear that there are any `ByteBufferBackingArray` errors in the current master.

[2020-09-27 21:51] #1292 closed

[2020-09-28 01:21] zhangjun0x01 commented on #1437
hi ,@openinx

No matter which mode is used to submit flink jobs (sql client,standalone,yarn session, flink per job, application mode), flink will use FlinkCatalogFactory#createCatalog to create catalogs, so the difficulty lies in making FlinkCatalogFactory compatible with various submission modes. If hive file is included in the user jar  , Then FlinkCatalogFactory needs to parse the user jar  to

[2020-09-28 01:34] zhangjun0x01 commented on #1510
hi,@openinx

I am not sure if this is an issue, but in my program I did introduce the jar of the maven warehouse, and some exceptions that the factory class could not be loaded would be reported. I finally found the reason is that the jar does not have the SPI configuration file.
`org.apache.flink.table.factories.TableFactory`

[2020-09-28 02:03] openinx commented on #1510
@zhangjun0x01  the flink sink connector in 0.9.1 is not complete,  the real available release version would be iceberg 0.10.0,   I guess the time point would be Oct.  Also,   the flink users won't depend on this `flink-iceberg.jar` directly,  instead they would use `flink-iceberg-runtime.jar`  which have shaded the common dependency jars such as guava etc.

For now, if you want to test this featur

[2020-09-28 02:07] zhangjun0x01 commented on #1510
ok,I will close it

[2020-09-28 02:07] #1510 closed

[2020-09-28 05:10] HeartSaVioR opened #1520 "Necessary information on writing data against partitioned table with Spark is missing"
This issue is a follow-up of discussion thread in mailing list: https://lists.apache.org/thread.html/r01789ddce8b596b9f7793c881263fc01c4665d750476f8c1b283ee9b%40%3Cdev.iceberg.apache.org%3E

The ideal resolution is putting efforts on SPARK-23889 to be merged in Spark, but seems like that would take time, and even we deal with it right now, it'll be available in Spark 3.1.0, which won't help previo

[2020-09-28 08:58] lordk911 opened #1524 "The document can't perfectly display on mac 13 inch"
document ：http://iceberg.apache.org/spark/  it's left sidebar can't perfectly display:

![image](https://user-images.githubusercontent.com/19989300/94411752-84900b00-01ab-11eb-9c7b-34950cca57a6.png)

some thing missed.

[2020-09-28 09:50] SteNicholas commented on #1513
@stevenzwu I agree with you for the point that the return behavior of `TableOperations#current()` should be unified, which could be confused for users when `TableOperations#current()` returns null.

[2020-09-28 13:36] #1498 closed

[2020-09-28 18:27] rdblue commented on #1513
`current` will return `null` only after refreshing the table throws `NoSuchTableException`. I think this is minor because callers would have ignored that exception to fail when current returns null.

That said, I think we can throw the exception and set `shouldRefresh = true`. That way, any call to get table metadata will trigger a refresh and either get the table back to a consistent state, or fa

[2020-09-29 05:54] JingsongLi commented on #1442
Hi @simonsssu , can you explain more about the user cases?
Without checkpointing, it seems that consistency is not guaranteed at all. What are the disadvantages of opening checkpointing?

[2020-09-29 10:02] zhangjun0x01 commented on #1504
I read it with a program, there are some jar conflicts, after modify the reference, it's fine

I close it

[2020-09-29 10:02] #1504 closed

[2020-09-29 14:46] RussellSpitzer commented on #1422
So it's been a while and we've gotten a bit of feedback on the PR's  - Thanks @kbendick , @aokolnychyi , and @rdblue

Since I think at the moment it seems like the safer path is the MetadataTables based approach I'm going to start cleaning up and moving forward with that PR.

For me the big benefits of the other approach were mainly around code re-use and the possibility of other systems to use th

[2020-09-29 17:14] #1520 closed

[2020-09-29 17:55] holdenk commented on #741
Was this resolved in https://github.com/apache/iceberg/pull/745 ?

[2020-09-29 18:39] rdblue commented on #417
@ericsun2, what do you think about allowing type promotion from long to timestamp instead? Then you'd be able to use the field as a timestamp and be able to partition by it.

[2020-09-29 18:53] ericsun2 commented on #417
"type promotion" is only 50% of the case/problem. For a given numeric value, it can represent various precision and hence different rollup/truncate logic.

If we limit the API to only take TIMESTAMP or EPOCH_MILLIS as input, then "type promotion" will be probably OK (except for time_zone override at partition spec level: do we only honor `spark.sql.session.timeZone` or `user.timezone`?). But users

[2020-09-29 19:01] rdblue commented on #1422
I think that I agree with the metadata table approach. Because Presto can run tasks and planning at the same time, this is less of an issue. And the work done for Spark in option 2 could translate into a parallel scan on a Presto metadata table as well (converting partition predicates to filters on metadata table columns). Flink is much more likely to consume tables incrementally, so I think it wo

[2020-09-29 19:36] rdblue commented on #417
Type promotion is already supported for some formats, like `TIMESTAMP_MILLIS` in Parquet. Iceberg will convert those values to microseconds when reading and can interact with them like normal timestamps. For type promotion on a long column, we would need to store metadata somewhere for how to interpret the long value and do the conversion to micros on read. Everything would then work like a normal

[2020-09-29 20:05] aokolnychyi commented on #1422
Sounds like we have the initial plan then. Excited to see progress on this.

[2020-09-29 20:12] ericsun2 commented on #417
I am not trying to change how Iceberg serialize TIMESTAMP type. I am hoping that Iceberg can maximize the expressiveness and CBO/planner efficiency with clearer and more straightforward partition spec.

For example,

1. express the epoch offset precision in partition spec **without** adding an extra derived physical field in the data file
2. convert value to epoch millisecond during ETL as an extr

[2020-09-29 20:28] aokolnychyi commented on #1485
This is a great discussion, thanks to everyone for taking a look at this!

I completely agree with @rdblue and @bryanck that it is up to Spark to invalidate the cached relations just like it did for V1 tables. The only case where we would have to match it in Iceberg is in our stored procedures that may rollback table state or produce new snapshots (we will review this case by case).

Then I'll sum

[2020-09-29 20:38] rdblue commented on #1485
What would this be based on? The table identifier or path?

Yes, I think this is a good idea. We will need to make sure we have a good plan for how to pass paths through `Identifier` though.

[2020-09-29 21:47] aokolnychyi commented on #1485
I think `SparkTable` can delegate to `equals` and `hashCode` of the underlying Iceberg `Table`. That, in turn, can use either its name (contains catalog name + full table name) or table location. If we use table names (i.e. identifiers), the same table loaded through different catalogs will NOT be considered the same. So it seems the table location is more promising.

@rdblue, thoughts?

[2020-09-29 22:35] rdblue commented on #1485
I think equality should be by full table name table for metastore tables or by location for Hadoop tables.

Tables can share the same location, so it wouldn't be safe to assume that two tables are the same based on the backing location. And I also don't think we need to solve the case where the same table is loaded by two different catalogs. That's not going to come up very often and it is entirel

[2020-09-29 23:41] aokolnychyi commented on #1485
Actually, you are right. We probably even should cache them separately. Let me submit a PR for this.

[2020-09-30 04:16] kbendick commented on #1524
Thanks for bringing this up. As mentioned in the really large footer, we use [MkDocs](https://www.mkdocs.org/) for generating the documentation.

I'm not incredibly familiar with the MkDocs system and how we configure it (especially the UI theme), but this feels like an issue that might be brought up to them.

I'll let anybody with more experience in how the docs are generated chime in if they can

[2020-09-30 04:21] kbendick commented on #1468
That's a good idea. I know that AWS Glue is backed by DynamoDB, so if you can make a catalog using Dynamo, then possibly the AWS team can implement the atomic swap in Glue. If I'm not mistaken, you'd need to use either read / write consistency or possibly a DynamoDB versioned object.

Looking forward to seeing the DynamoDB catalog as I assume many companies looking to write to S3 are also likely u

[2020-09-30 04:22] kbendick commented on #1300
Given that our docs are developed from markdown in YAML files, I might go ahead and add this in.

[2020-09-30 08:14] chenjunjiedada commented on #1090
I haven't seen this happen recently.

[2020-09-30 08:14] #1090 closed

[2020-09-30 14:17] akkinenivijay opened #1533 "Error when creating a table `InvalidObjectException`"
Hi,

    I am new to iceberg and trying to follow get started section. But running into an error while creating a table using iceberg.  Below is my environment setup. Any help is appreciated.

Hive - 2.3.7 using Postgres as metastore.
Spark - 3.0.1 with hadoop 2.7.4 with S3A
spark.sql.warehouse.dir ('s3a://testbucket')

./spark-sql \
--conf spark.sql.catalog.spark_catalog=org.apache.iceberg.spark.

[2020-09-30 15:56] marton-bod opened #1534 "TestCatalogs temporary folder created in wrong location and not cleaned up"
`TestCatalogs.testCreateDropTableToLocation` creates a temporary folder in the wrong location and fails to clean it up in the end. That's because `tmp.toString()` is used in a couple of places:
https://github.com/apache/iceberg/blob/master/mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java#L110
https://github.com/apache/iceberg/blob/master/mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.

[2020-09-30 18:52] holdenk commented on #1142
Should this issue be resolved? Looking in the code it seems that we do now use `newHadoopConf` since 4bb2b0893a5de0b0452cb9db32401729c098ca8b ?

[2020-09-30 21:58] aokolnychyi commented on #658
I'll submit a PR for this.

[2020-10-01 02:21] jackye1995 opened #1538 "Dynamically load LocationProvider implementation"
Currently the `LocationProviders` class only load either `DefaultLocationProvider` which follows the Hive standard or the `ObjectStoreLocationProvider` that is optimized for cloud storage use case. Use cases like #1531 will become increasingly common, and we should allow users to load their custom location providers without the need to change core package.

Therefore, I propose dynamically loading

[2020-10-01 02:35] jackye1995 commented on #1468
Hi @jacques-n this is Jack from AWS. We are planning to introduce a new `iceberg-aws` module, and we do have plan to offer a Glue + DynamoDB implementation for `Catalog` and `TableOperations`. Since you say you already have something working, let's have a sync after you have a PR and see what is the best way to have this shipped all together 😃

[2020-10-01 05:00] kbendick opened #1540 "Add in support for vectorized parquet reads on data files with row position (_pos) in the metadata column"
Updating parameterized tests to have names in this PR https://github.com/apache/iceberg/pull/1539, I noticed that `TestSparkParquetReadMetadataColumns` had a `vectorized` parameter that is currently only tested with `false`. It is commented out for `true` and fails for all three of the tests as reading parquet files that have row position (_pos) in the metadata column using the vectorized reader h

[2020-10-01 05:26] mickjermsurawong-stripe commented on #1538
This PR https://github.com/apache/iceberg/issues/1538 was re-purposed from solving specific problem of data localization to address this more general use case.

[2020-10-01 05:33] kbendick opened #1541 "Update FlinkCatalog to use Namespace for baseNamespace field for cleaner output"
The FlinkCatalog currently has a `String[] baseNamespace` field. However, when adding in names to the parameterized tests in this PR: https://github.com/apache/iceberg/pull/1539, I noticed that the output for the `baseNamespaces` parameters came out as `(new String[]{"a", "b"}).toString()`.

In order to make the tests more human readable, we're going to accept that a baseNamespace is simply a pref

[2020-10-01 05:47] kbendick commented on #1540
If this is implemented, the parameter group for `vectorized` should be updated to include `true` here: https://github.com/apache/iceberg/blob/44c1d00b37f0d7fc2e978baad4f7a861a8335cf0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java#L109

[2020-10-01 05:59] kbendick opened #1542 "Capture the template parameter in the tests for TestIcebergInputFormat#Factory<T>"
When going through and adding name format strings to our parameterized tests, I noticed a few parameters that came out looking wonky as the Parameters name substitution simply calls the objects `toString` method.

I added a simple `toString` method on the `Factory<T>` class that's defined in `TestIcebergInputFormat`, but the type T is different amongst different parameter groups for the run.

We s

[2020-10-01 06:06] kbendick commented on #1541
Currently, the test output for the parameterized name looks like the following when the tests are run (for reference)
[code]

[2020-10-01 13:22] gaborkaszab opened #1543 "numBuckets can cause division by zero"
The numBuckets member in Bucket class is not verified and I managed to create a table with a Bucket partition with zero buckets. This later could cause an exception due to modulo by zero here:
https://github.com/apache/iceberg/blob/c28d1c8ba6322af07f0206c4cf3fdad875f37ac1/api/src/main/java/org/apache/iceberg/transforms/Bucket.java#L87

[2020-10-01 15:03] RussellSpitzer commented on #1533
I believe this is caused by an incompatibility between the hive client
being used and the hive metastore being used. The Inner error is

Caused by: InvalidObjectException(message:db)
at
org.apache.hadoop.hive.metastore.api.ThriftHiveMetastore$create_table_with_environment_context_result$create_table_with_environment_context_resultStandardScheme.read(ThriftHiveMetastore.java:42216)

Which should be

[2020-10-01 15:12] akkinenivijay commented on #1533
Hive metastore version is 2.3.7 and i am using spark 3.0.1 with hadoop 2.7. Spark has the same version of hive metastore jars 2.3.7. One difference i noticed is hive by default comes with libthrift 0.9.3 and spark has 0.12.0.

[2020-10-01 15:19] akkinenivijay commented on #1533
I am sorry i just noticed that i had a hive version typo in the original question, its actually 2.3.7

[2020-10-01 15:43] RussellSpitzer commented on #1533
Could you try making a normal Hive table with Spark SQL? See if there is a
similar error and we can eliminate Iceberg from being a part of  the
problem?

On Thu, Oct 1, 2020 at 10:19 AM Vijay Akkineni <notifications@github.com>
wrote:

[2020-10-01 16:29] akkinenivijay commented on #1533
Yes i am able to create normal hive tables with spark sql.

[2020-10-01 18:30] holdenk commented on #1331
I'm starting to work on this to get familiar with the parquet reading code paths :)

[2020-10-01 20:16] #658 closed

[2020-10-01 21:31] rdblue commented on #417
I don't think I understand why you prefer extending partition specs instead of promoting from a long to a timestamp. To be clear, I'm not suggesting a solution that requires adding a new field set in ETL, or an additional derived field, or changing the way data is stored. I'm suggesting that you can convert an existing long field into a timestamp. New data would be written as a regular timestamp,

[2020-10-01 21:34] jacques-n commented on #1468
Hey guys, we just posted more information on the new stuff we've been building for Iceberg + DynamoDB. You can check it out here: https://projectnessie.org/

We'll have a PR up against Iceberg shortly to contribute the Iceberg integrations:
https://github.com/projectnessie/nessie/tree/main/clients/iceberg

[2020-10-01 21:37] #865 closed

[2020-10-01 21:38] RussellSpitzer commented on #1468
Very cool!

On Thu, Oct 1, 2020 at 4:34 PM Jacques Nadeau <notifications@github.com>
wrote:

[2020-10-01 23:01] ericsun2 commented on #417
Thank you so much for this great question. In Li***n, epoch millisecond (bigint/long) is the standard way to store time. And in the foreseeable future that might still be the case. The reason behind it is really related to Avro.

Before I can push TIMESTAMP data type into the standard data model, neither can I create a new field with TIMESTAMP as type, nor replace the bigint epoch_millis with TIME

[2020-10-01 23:45] aokolnychyi opened #1544 "Switch to using table.name() instead of toString() where it makes sense"
We should consider updating places that use `table.toString()` and migrate them to `table.name()` where it makes sense.

[2020-10-02 00:03] rdblue commented on #417
Thanks for the response, @ericsun2! I think it makes sense now.

I think that it would be reasonable in that case to extend the partition spec to handle this rather than promoting a long. But I'll have to think more about whether it's a good idea to do that in Iceberg or not. While I see the utility if you have lots of code that expects this, I'm not sure I'd make it easy to do this for new use ca

[2020-10-02 21:01] aokolnychyi opened #1547 "Ignore rewrite commits while validating copy-on-write deletes in OverwriteFiles"
It should be safe to ignore files added by rewrite operations in `BaseOverwriteFiles` while checking whether concurrent appends may contain matching data (i.e. `conflictDetectionFilter`).

[2020-10-02 21:08] aokolnychyi opened #1548 "Consider adding extra validation for metrics config when creating a table"
What I see frequently is that people clone some examples but miss to update the metrics config. As a result, it points to fields that don't exist. I think we should consider doing some checks while creating a table to ensure metrics config references columns in our schema. It is important to get the metrics config right while creating a table.

[2020-10-02 21:12] aokolnychyi opened #1549 "Create an action to clean up tables"
I think we need an action to clean up tables that would use metadata tables to figure out which files must be removed. Then we can construct a table using `StaticTableOperations` and leverage the action to clean up locations in DROP TABLES and while aborting creation of staged tables. The logic to find out what files must be deleted is already available in `BaseAction`.

[2020-10-02 21:13] aokolnychyi commented on #1549
This should replace the existing logic that finds out what files must be removed on the driver.

[2020-10-05 04:42] HeartSaVioR commented on #1534
Looks like the PR got merged - mind closing the issue? Thanks!

[2020-10-05 07:34] marton-bod commented on #1534
Sure, thanks for the reminder!

[2020-10-05 07:34] #1534 closed

[2020-10-06 02:38] #1538 closed

[2020-10-06 14:07] RussellSpitzer opened #1552 "Spark Predicate Pushdown for Metadata Table Scans"
As is there is no way to scan and return only partial results from a MetadataTable Scan. There are some use cases, like distributed planning, which would benefit from pushing down predicates to the Manifest reading itself to save time and bits over the wire.

The goal here is that we should be able to pass in Metric or Partition predicates all the way down to the manifest scanning itself to preven

[2020-10-06 16:09] stevenzwu commented on #1513
@rdblue your suggestion makes sense to me. I created a PR for that: https://github.com/apache/iceberg/pull/1553

[2020-10-06 16:34] #1511 closed

[2020-10-06 16:56] stevenzwu opened #1554 "Introduce a serializable table class"
Iceberg's `Table` interface is not serializable. There are benefits of holding some of the `Table` fields inside a serializable holder object, as it can simplify the writer like Flink `RowDataTaskWriterFactory`. We can consolidate a lot of constructor args into one.

[code]

Here is what we have internally.
[code]

@openinx @JingsongLi @rdblue what do you think? if you think this is useful, I can

[2020-10-06 16:59] stevenzwu opened #1555 "Add AvroRecordTaskWriterFactory for Flink sink"
For stream writer, incoming data can come in as Avro record as Avro schema is pretty popular with streaming source (like Kafka). Instead of inefficiently converting Avro Record to Flink Row, we can implement a native writer support for Avro Record.

[2020-10-06 17:00] stevenzwu commented on #1555
@openinx @JingsongLi @rdblue I am thinking about pushing our Avro writer upstream. this is the tracking issue.

[2020-10-06 17:04] rdblue commented on #1555
I would rather not use the Avro object model upstream, since it has some serious problems:
* No support for date/time types
* No support for decimal
* No support for non-string map keys

And, accepting Avro records introduces issues when users have records with unsupported union types.

How about using the Iceberg generic records upstream instead?

[2020-10-06 17:35] stevenzwu commented on #1555
@rdblue that is fair. we will keep the Avro writer locally then. We can revisit the decision if there are more askings.

I definitely see a need for Iceberg GenericRecord upstream. E.g. we have a user asking for non-string Map key.

But since we are using Avro for Kafka data, I would rather avoid the type conversion btw Avro GenericRecord and Iceberg GenericRecord. In a nutshell, internally we pro

[2020-10-06 18:18] rdblue commented on #1555
I agree, we probably need both. We should be able to use Iceberg generics directly for most internal uses. It is easier the more we move toward Iceberg schemas for streams, too.

[2020-10-06 19:36] #1513 closed

[2020-10-06 20:14] elkhand opened #1556 "[Flink] dropTable(...) does not remove all parquet files while the table is dropped"
While using `dropTable()` with the purge flag set to true in Flink, does not completely remove parquet files when the table is dropped.

How to proceed so that when the table is dropped all data is purged and removed?

I’m using Apache Iceberg `96959ec` build from the master branch.

The table is created via HiveCatalog, the data is stored on S3.
[code]
While using `catalog.dropTable(tableIdentifi

[2020-10-06 21:51] #1555 closed

[2020-10-07 15:20] cccs-dm opened #1560 "Problem inserting data into a table with structs (iceberg-spark)"
Hello!

It seems there's a bug trying to insert data into a table containing a Spark StructField.
I can create a table without any issues:

[code]

But when I try to insert more data in this table, I get an exception:

`df.write.mode("overwrite").insertInto(tableName)`

Here's a full example to reproduce the issue:

[code]

--------------------------------------------------------------------------

[2020-10-07 18:48] #1202 closed

[2020-10-08 01:19] HeartSaVioR commented on #1560
Spark version and Iceberg version, and the table schema, please?

[2020-10-08 06:50] aokolnychyi commented on #1485
I think we've done all we could on Iceberg side. Now we need to fix Spark and @sunchao will try to look into that.

[2020-10-08 06:59] ericsun2 commented on #417
IMHO, there are always 1.5 solutions:
* 1.0 rich built-in Transform(s) which are hardened and provide great out-of-box logic + efficient pruning.
* 0.5 custom Transform(s) which address niche patterns.

Some of the popular custom Transform(s) can graduate into built-in category, and even reshape the built-in API over time.

If the long term vision of Iceberg also includes query optimization and fi

[2020-10-08 15:52] cccs-dm commented on #1560
I am using Spark 3.0.0 and Iceberg 0.9.0.

Here's the table schema:
[code]

Thanks.

[2020-10-08 21:43] stevenzwu commented on #1383
@JingsongLi we should use the new FLIP-27 source interface, right?
* enumerator/monitor runs in jobmanager
* enumerator tracks discovered splits
* enumerator assigns a split when a readers requests for one

We probably don't want enumerator statically assign all discovered splits up front. Dynamic assignment is better for load balancing with straggler/outlier reader nodes.

[2020-10-09 01:44] JingsongLi commented on #1383
Hi @stevenzwu , yes, The advantage is that the assignment will be more dynamic balanced.
It depends on the progress of FLIP-27.
We are trying to implement Filesystem/Hive source on FLIP-27 in FLINK 1.12. And in order to achieve this goal, we are modifying the interfaces of FLIP-27 too. (FLIP-27 in Flink 1.11 is not ready)
If the time is not urgent, we can wait for FLINK 1.12.

[2020-10-09 02:26] openinx commented on #1383
@stevenzwu ,  we have implemented an internal version for flink streaming reader, which is not built on top of FLIP-27 now. Here is the pull request https://github.com/generic-datalake/iceberg-poc/pull/3/files for our own branch.  As  Jingsong described, once FLIP-27 is ready, we'd happy to switch the current implementation to FLIP-27.

[2020-10-09 03:04] JingsongLi commented on #1437
+1 to try.
Maybe that's enough, because in iceberg, the dependency on hive is very light, just configure warehouse may be works.

[2020-10-09 06:04] simonsssu opened #1567 "remove guava minimize option in iceberg-bundled-guava"
Currently we have minimize() option in ceberg-bundled-guava, which only include minimal classes in Guava, when we want to use TreeBasedTable, HashBasedTable or some other classes in guava, we should include other guava dependency, which may easily cause class conflict.

[2020-10-09 06:22] zhangdove commented on #1543
We can do some validation on the input parameters when creating the bucket partition.

[2020-10-09 06:32] zhangdove commented on #1543
It seems that some time has passed and there is no reply. I would provide a relevant PR to fix this small problem.

[2020-10-09 10:17] openinx commented on #1555
If we write records by using avro writer directly and there are data types that we iceberg don't support, then other compute engine readers could not read the avro record correctly, that sounds a big risk ?   Did your internal users write any iceberg unsupported avro types ?

Accepting the GenericRecords  sounds good to me.

[2020-10-09 15:07] RussellSpitzer commented on #1567
I'm confused why we want to do this? Isn't the point that an end user should include their own un-shaded version of guava if they want to access other classes?

[2020-10-09 20:26] rdblue commented on #1555
We would just have to fail if an Avro record used a union schema. I don't think we've hit this case internally. We did hit the case where users wanted to write maps with numeric keys, though.

[2020-10-09 20:51] stevenzwu commented on #1555
@openinx I don't think there is risk. if Avro schema is incompatible (like non-optional union usage) with Iceberg schema, I would think write will fail. On the other hand, for the streaming path we do internally limit the Avro schema features that are compatible with Iceberg schema.

[2020-10-09 21:16] stevenzwu commented on #1383
@JingsongLi  @openinx thx. We are currently implementing an Iceberg source based on FLIP-27 interface. Our initial goal is for backfill purpose. it is bounded but with streaming behavior. Meaning app code stayed with DataStream API, just switching source from Kafka to Iceberg. We are also very interested in streaming/continuous read pattern. It is not urgent. we can probably collaborate. Would lov

[2020-10-10 05:20] kbendick opened #1574 "Add labels for the new hive modules"
The autolabeler is currently based off of just top level directories. As such, since there have been new modules introduced for hive, we need to add them.

Should we also consider adding a separate tag for `METASTORE` to place `/hive-metastore` underneath?

[2020-10-10 05:23] kbendick opened #1575 "Add METASTORE label for /hive-metastore code"
In my view, it would make more sense to use a label of `METASTORE` for this code rather than `HIVE`, given that the hive metastore is so commonly used and is relevant to so many other stakeholders.

However, I do recognize that it's the "hive" metastore and we currently only name based off of the top level directory structure (which I'd like to consider moving beyond so we can capture things like

[2020-10-10 13:22] openinx opened #1578 "The AvroSchemaUtil will convert iceberg's optional map into confusing union."
When I write few unit tests for https://github.com/apache/iceberg/pull/1477/files, I found that the encode/decode test would not pass because of the AvroSchemaUtil conversion issue.

The test is easy to understand:

[code]

After digging into this issue, I found that the cause is [here](https://github.com/apache/iceberg/commit/d8cecc411daf16955963766fa6336d4260e7c797#diff-192650b1711edcd50a73986ec

[2020-10-10 13:39] openinx commented on #1578
Let's take an example to show why would this break the encode/decode unit tests.  For example, we have the schema:
[code]

And we have an original record :

[code]

Firstly we encode the record0 by using the converted avro schema , then decode the record0 (using avro schema), we will get the unexpected record:

[code]

The assertion fail because `record0 != record1` .

[2020-10-10 20:44] rdblue commented on #1567
@simonsssu, if we want additional Guava classes, then we add them to [`GuavaClasses`](https://github.com/apache/iceberg/blob/425b10cea34eef11cca9cf0d237e02274f6dc958/bundled-guava/src/main/java/org/apache/iceberg/GuavaClasses.java) so that they aren't removed when the Jar is minimized.

Also, we are trying to avoid depending more on Guava because it causes so many runtime issues.

I think that the

[2020-10-10 22:30] rdblue commented on #1578
Maps with non-string keys are not allowed in Avro, but they are valid in Iceberg. That means we need to serialize `m: map<long, string>` differently. The approach we take is to store a map as a list of key/value pairs, just like you would get by calling `entrySet`. The list is needed because the map can have any number of key/value pairs. Omitting it would be equivalent to `m: struct<key: long, va

[2020-10-10 23:53] #1574 closed

[2020-10-11 02:02] kbendick commented on #1544
I am opening a PR for a few of these that I found. Most likely there are more of these, but figured I'd grab some where possible.

[2020-10-11 02:14] openinx commented on #1578
OK, got it, thanks for the explanation.  Let me think how to make this unit test work.

[2020-10-11 02:18] kbendick commented on #1556
Thanks for bringing up this issue @elkhand! When you were running the Flink pipeline that was writing to these tables, was it the only writer? Additionally, were there any restarts of the job (due to task manager fail over, etc)?

[2020-10-11 02:40] kbendick commented on #1488
I have found some flakey tests under some of the hive tests. I opened a PR for one that fails on my local (but doesn't fail on CI).

I also have this one that fails occasionally on my local

[code]

[2020-10-11 02:40] kbendick commented on #1488
Here's the PR for the flakey test that fails on my local: https://github.com/apache/iceberg/pull/1579

[2020-10-11 02:42] kbendick commented on #1544
Ok. I grepped through the code base for `table.toString`, `Table.toString`, `table().to`, `Table().toString`, etc. and replaced the ones that I could find in the above PR. Not sure if it's exhaustive by any means but it's a start.