[2022-01-04 16:50] Kyo91 commented on #3709
Anyone have an idea on mitigation strategies or potential codepaths to look into here? This may sound silly but this bug is blocking us from updating off of 0.11.X

[2022-01-04 17:58] puchengy opened #3843 "Python library feature request: check_for_partition api"
I am requesting for a `check_for_partition` api in the python library.

We currently use apache airflow's HiveParitionSensor heavily to monitor the arrival of a partition for an upstream table. When migrating these tables to Iceberg, the existing way no longer works.

It will be great if we can have capabilities for python library to check whether a partition/ multi-partition exist. This will open

[2022-01-04 18:11] stevenzwu commented on #3582
@szehon-ho +1 for the bulk deletion. It can improve the throughput without causing throttling.

[2022-01-04 18:26] szehon-ho commented on #3582
Thanks.  @RussellSpitzer is anyone working on the parallelism part?  (i couldnt find the ticket you mentioned).  If not, I was chatting with @dramaticlly about this and he could help submit a PR

[2022-01-04 18:48] RussellSpitzer commented on #3582
@szehon-ho This was added to the ExpireSnapshots procedure here https://github.com/apache/iceberg/blob/master/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java#L129-L137

In the action it's always been possible by just passing through the Executor Service, for RemoveOrphans it doesn't exist (I don't think there is a api in the action for passing throu

[2022-01-04 19:27] szehon-ho commented on #3582
Yep, cool, so if there's no ticket, ill assign the issue for now to @dramaticlly

[2022-01-04 19:33] huaxingao commented on #3709
I actually tried a PR for this. Will submit it in a few minutes.

[2022-01-04 20:01] huaxingao commented on #3709
Here is the PR https://github.com/apache/iceberg/pull/3845

[2022-01-05 00:04] flyrain commented on #3835
It'd be better to provide more details to get help. Something like a full stack trace, what did you do to trigger the issue.

[2022-01-05 00:12] flyrain commented on #3792
As a workaround, you can uses the the metastore APIs to drop the table? For HMS, you can fire a hive cli or a Hive Java API to do that.

[2022-01-05 00:21] flyrain commented on #3783
@liangyouze. FYI. Table property sync between HMS and metadata.json files are going to be tricky. Other than the command "alter table", the other action can change the table property, for example, the table property need to be updated if you time travel the a previous version.

[2022-01-05 00:55] zhaobangcai opened #3846 "循环插入数据时，随机丢失插入的数据"
版本：iceberg 0.13 ；flink 1.13.2 ；
calalog:hadoop、hive均会出现此情况；
无明显的报错信息；
代码如下：
EnvironmentSettings settings = null;
    TableEnvironment tableEnv = null;
    String dbName = "test_ods_preview_read_db";
    String tableName = "test_ods_preview_read_data";
    String warehouse="hdfs://cdh2:8020/user/hive/warehouse/zbc";
    @Before
    public  void init() {

        settings = EnvironmentSettings.newIn

[2022-01-05 02:25] Initial-neko commented on #3846
文件系统那边，你会发现metadata中版本号是冲突的。原因就是提交冲突了，平常的checkpoint提交不会这么频繁，所以在实际场景基本不会有这样的情况，sleep之后冲突的概率就变小了

[2022-01-05 03:53] Reo-LEI commented on #3551
OK, I think I figure it out this problem. In #2898  of [EqualityFieldKeySelector](https://github.com/apache/iceberg/blob/14af007c7e6fa206cc44dbfde7546feb33718277/flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/EqualityFieldKeySelector.java#L73) return the `RowDataWrapper` as key directly. When we use RocksDB as flink state backend and distribute record through network, flink `StreamT

[2022-01-05 07:15] rpchen opened #3847 "release "apache-iceberg-0.12.1" does not contain the commit "Flink: Upgrade to flink 1.13.2 (#3116)""

[2022-01-05 07:40] zhaobangcai opened #3848 "Flink: upgrade to Flink 1.13.2"

[2022-01-05 07:44] #3536 closed

[2022-01-05 08:11] #3847 closed

[2022-01-05 08:32] #3848 closed

[2022-01-05 08:32] zhaobangcai commented on #3848
question is commited!

[2022-01-05 17:14] naveenkrdremio opened #3849 "expire snapshot is deleting schema mapping from snapshots v0.12.1"
From 0.12.1.
After running expireSnapshot(snapshotid) . It deleted schema details corresponding to snapshots from metadata file.
v23 is before expire. v24 is after expire snapshot.
V23 ->
[code]

V24 after expire
[code]

[2022-01-05 17:47] ajantha-bhat opened #3850 "Snapshot Reference : Snapshot history for branches and tags."
Currently we cannot know what happened in a branch/tag as the snapshot history is mixed up.
So, we can support a proper snapshot history.

I see two ways of doing it,

a) without spec change:
For each operation when table metadata is used/called, patch up the current branch's history by forming snapshot history. Currently metadata has each branch's current snapshot id. we can traverse parent id ti

[2022-01-05 17:50] nssalian commented on #3665
@huaxingao , following up on this. Any update if this might be on the roadmap for Spark to add it part of the Dataframe,etc API?

[2022-01-05 18:07] RussellSpitzer commented on #3665
I think we could add some implicits in Iceberg's Scala Modules outside of Spark as well. That might be a good path forward

[2022-01-05 18:15] huaxingao commented on #3665
Sorry I didn't have a chance to check with the Spark SQL folks yet. Will do and get back to you this week.

[2022-01-05 20:06] RussellSpitzer commented on #3849
I'm not sure I see what schema is missing or being changed, can you narrow down your example? You can also use
[code]
 (ignore the _) to wrap json code blocks

[2022-01-05 21:37] gustavoatt commented on #2976
I'm seeing something similar only with Spark 3.1.x (it works fine on Spark 2.4.x and Spark 3.2.x) from my tests. Here is a repro I was able to create:

[code]

[2022-01-06 00:27] flyrain commented on #3846
Agree with @Initial-neko. Some "insert" might fail.
To verify it, you can execute the following command to get all snapshots after the execution. There are going to be 10 snapshots if all "insert" succeed.
[code]

[2022-01-06 00:38] flyrain commented on #3833
You probably miss some scala lib in your job classpath. Here are a list of scala libs in my Spark job classpath for your reference.
[code]

[2022-01-06 01:41] nssalian commented on #3783
@pvary do you know if there's a clean way to set the PartitionSpec into the Metastore while creating a table using the Hive Catalog? I see your code setting properties but would setting partition spec be
For the Hive Catalog, I see that the partition spec column names (`PKEY_NAME`) aren’t stored in the Hive Metastore in the `PARTITION_KEYS`. I don’t see the code doing anything for Partition spec.

[2022-01-06 04:57] kbendick commented on #2976
Which version(s) of Iceberg have people tried this with, and have _any_ been successful?

[2022-01-06 05:00] ajantha-bhat commented on #3849
@naveenkrdremio
I tried in 0.12.1 with my own testcase. I didn't face the issue. My testcase:

[code]

Few observations:

From your description, In V24 optional schema-id in the snapshots field is missing. But In V23 also I can see it is missing for the first snapshot. So, V23 also undergone expire snapshots ?
As Russell said better to narrow down further.

[2022-01-06 06:49] ajantha-bhat commented on #3849
@naveenkrdremio : I see only possibility of this issue happening is when we use iceberg version older than 0.12.1.
By any chance are you having two iceberg versions (which are not same)
one for spark create tables and one for java expire snapshot ?

So, basically no issue here, you might be using older iceberg version (which doesn't have schema id writing code)

[2022-01-06 06:53] naveenkrdremio commented on #3849
Thanks @ajantha-bhat .  Yes I was on two diff versions.

[2022-01-06 06:53] #3849 closed

[2022-01-06 07:51] pvary commented on #3783
@nssalian: With Hive 2.x and 3.x you can chose from the following possibilities:
- For identity partitions:
[code]
- For other partitioning schemas one can use the json formatted schema and partition specification - this is very hard to use, and we do not really recommend it:
[code]

In Hive master @lcspinter created a PR which changes the Hive syntax and one can create tables with Iceberg partiti

[2022-01-06 12:05] flyxu1991 opened #3853 "Structed Streaming read iceberg use yarn resources overhead"
use spark3.0 Structed Streaming to read iceberg table, i just allocated 2 executors, one per core, but the application actually using yarn 181 cores when executing per-batch task, and when per-batch task finished it falls down 2 cores.
Here is my code:
spark.readStream()
                .format("iceberg")
                .load("/test_a")
                .repartition(1)
                .selectExpr(

[2022-01-06 14:39] krisdas commented on #3843
We encountered same problem and couldn't find a good solution. So we wrote some hacky code, which needs to be called by the client repeatedly after specific interval (essentially pull model). In the hacky code, we simply check, whether the asked partition exists or not, by running a query like "select count(*) where partition=input partition" and checking if the count is > 0.

This hacky code was

[2022-01-06 15:10] gustavoatt commented on #2976
@kbendick so far this is failing on Iceberg 0.12.x and on current master (as of yesterday). Let me test it out on 0.11 to verify whether it also happens on that version.

[2022-01-06 16:02] edgarRd commented on #2976
I don't think Iceberg `0.11` was compatible with `3.1.x` but it may be worth checking if `3.0.x` also works with `0.11` as it does with `0.12`.

[2022-01-06 16:15] gustavoatt commented on #2976
That's correct, iceberg `0.11` doesn't have support for Spark `3.1.x`. I'v tested iceberg `0.11` with Spark `3.0.x` and it works correctly.

I also tested with plain Spark and there are no issues. I can only reproduce the error with Spark `3.1.x`  from Iceberg `>= 0.12`.

Here is a test I ran from within the Iceberg repo that reproduces the issue:

[code]

[2022-01-06 17:30] samredai opened #3854 "Docs: Add an example of CTAS with PARTITIONED BY"
The docs should include an example of using PARTITIONED BY in a CTAS statement (such as in [this ](https://github.com/apache/iceberg/blob/master/spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java#L45-L46)test). It may not be clear to a user that they can do this and would be useful to highlight in the docs that describe CTAS.

[2022-01-06 23:08] huaxingao commented on #3665
Yes, it is possible to add the `Merge` API into `DataFrameWriterV2`.

[2022-01-07 02:18] flyxu1991 commented on #3853
@RussellSpitzer may you help me to have a look at this issue

[2022-01-07 05:24] dev-lpq commented on #2976
@gustavoatt I have solved this issue. please check the jira, I think the case can solve the issue.
https://issues.apache.org/jira/browse/SPARK-37621
And suggest you can update the spark version to 3.2.0
https://issues.apache.org/jira/browse/SPARK-35287

[2022-01-07 07:18] wangxujin1221 opened #3858 "How do I quickly traverse a very large table？"
Hi team,

I'm new to iceberg, and i have a question about query big table.

We have a Hive table with a total of 3.6 million records and 120 fields per record. and we want to transfer all the records in this table to other databases, such as pg, kafak, etc.

Currently we do like this:
`
Dataset<Row> dataset = connection.client.read().format("iceberg").load("default.table");
            // here wil

[2022-01-07 07:29] #3853 closed

[2022-01-07 09:45] flyxu1991 opened #3859 "A bug for Structed Streaming micro_batch read iceberg table"
Structed Streaming read iceberg table will report NullPointerException when iceberg table was expired snapshot.
public StreamingOffset initialOffset() {
    InputFile inputFile = this.io.newInputFile(this.initialOffsetLocation);
    if (inputFile.exists()) {
        return this.readOffset(inputFile);
    } else {
        this.table.refresh();
        StreamingOffset offset = this.table.currentSnap

[2022-01-07 11:28] ajantha-bhat opened #3860 "Support time travel with the partition evolution"
Currently snapshot spec is having only schema-id and it is used for the time travel.
Similarly we need a spec change for partition-spec-id inside snapshot and then use that for time travel.

I want to work on this in my free time. Please assign this issue to me.

cc: @rdblue , @jackye1995 , @openinx

[2022-01-07 17:36] gustavoatt commented on #2976
That's great @dev-lpq, thank you! Will try upgrading to Spark 3.2.0

[2022-01-07 17:50] nssalian commented on #3783
Thanks for the response @pvary. I think identity partitions might suffice my use case.
I should have added this in the initial note but I wanted to check if using
```hiveCatalog.createTable(tableIdentifier, icebergSchema, icebergPSpec)``` to create a table makes an entry into the PARTITION_KEY. I checked the Metastore Db and I couldn't find it. Do you think we need to change the implementation to

[2022-01-08 06:32] pvary commented on #3783
@nssalian: Hive tables will be unpartitioned by design. See: https://iceberg.apache.org/#hive/

[2022-01-10 14:31] ZhangChaoming commented on #3788
@moon-fall Perhaps you can try to set HADOOP_CONF_DIR to specify hadoop conf in your flink runtime.

[2022-01-10 20:08] kbendick commented on #3814
It seems that this has been solved. I'm going to close this issue. Please feel free to open a new issue if you have any more questions!

And thank you @ZhangChaoming for providing support!

[2022-01-10 20:08] #3814 closed

[2022-01-10 21:34] #3762 closed

[2022-01-10 21:52] puchengy opened #3874 "[BUG] convert_string_to_expr() from python_legacy module did not remove the quotes when the value is a string"
[code]
cc: @jun-he @TGooch44

[2022-01-10 21:54] puchengy commented on #3874
I can try to fix it.

[2022-01-11 03:17] yittg commented on #3776
@openinx Would you help to check this issue?

[2022-01-11 03:20] stevenzwu commented on #3065
close stale issue.

[2022-01-11 03:20] #3065 closed

[2022-01-11 07:19] lidroider commented on #3585
+1
Same problem too
Any idea?
Thanks

[2022-01-11 07:30] KnightChess commented on #3585
There is no release version support spark3.2
You can use the master branch build to support spark3.2. #3335

[2022-01-11 07:31] lidroider commented on #3585
I try using spark version 3.1.2 and it's worked, thanks a lot

[2022-01-11 07:32] KnightChess commented on #3585
https://github.com/apache/iceberg#compatibility

[2022-01-11 14:22] hililiwei commented on #3854
Doc seems to have been added here: https://iceberg.apache.org/#spark-ddl/#partitioned-by

[2022-01-11 18:58] kbendick opened #3881 "[SITE] Update Flink docs to show supported versions"
The Flink section of the website currently shows that only Flink version 1.11 is supported. https://iceberg.apache.org/#flink/

In the upcoming 0.13.0, Flink 1.12 / 1.13 / 1.14 will all be supported. I believe Iceberg 0.12.x also supports Flink 1.12, though possibly not Flink 1.13.

Now that we're explicitly tracking version compatibility in the source code, we should update the docs to reflect th

[2022-01-12 06:34] #3859 closed

[2022-01-12 07:24] yeezychao commented on #2645
@sfiend I come across the same scenarios.Next I will develop this features on flink iceberg connector.

[2022-01-12 08:15] wuwangben commented on #3776
I have the same problem

[2022-01-12 08:16] wuwangben commented on #3776
MetaSpace OOM

[2022-01-12 12:50] powerzhangquan commented on #3858
hi wangxujin1221，I have a similar scenario, do you have a good way

[2022-01-12 13:41] wangxujin1221 commented on #3858
@powerzhangquan I think the key is your table  has too many small files, so it is very slowly to scan it. You can check you partition rule or user `df.repartition()` to decrease the spark partitions.

[2022-01-12 14:30] felixYyu opened #3885 "[OOM] MERGE INTO table with Spark Structured Streaming"
spark 3.0.1
iceberg-spark3-runtime 0.12.1

MySQL binlog with Maxwell tool to Kafka
[code]

when the job is runing several hours , oom error happen and this job failed.

[code]

[2022-01-12 14:36] felixYyu commented on #3885
I think each batch DataFrame didn't unpersist(), I don't know the real reason of runtime exception ,how to MERGE INTO table with Structured Streaming writeStream foreachBatch?

[2022-01-12 17:36] sgedward opened #3886 "question on using iceberg with KMS through IAM role"
Hi everyone,

I am new to iceberg,  we are trying to use iceberg to replace our current storage format. We encrypt customer data at rest with a customer-provided key using AWS KMS service in S3 using SSE-KMS custom key. One of the challenges is we assume customers' KMS permission through the IAM role in order to access data in S3. Our role and KMS key is 1 to 1 mapping. Thus, every time we access

[2022-01-13 06:00] #3750 closed

[2022-01-13 08:51] KnightChess opened #3889 "PersistTable error lead to task startup failure"
spark3.2,   iceberg 0.12.0,    hiveCatalog
[phenomenon]
hive metastore table paramar `metadata.location` point to v3.metadata.json, but there are only `v1.metadata.json` and  `v2.metadata.json` in the storage system.

[log]
s3a:
[code]
iceberg:
[code]
metastore log:
[code]

simple:
2022-01-11 17:46:13,291           Upload complete v3.metadata.json
2022-01-11 17:46:13.416          metastore begin a

[2022-01-13 11:01] findinpath opened #3891 "`org.apache.iceberg.util.SnapshotUtil#snapshotIdAsOfTime` could make use of binary search if `org.apache.iceberg.Table#history` is guaranteed to be ordered"
Currently the `SnapshotUtil` is going over all the history entries of a table (with O(n) complexity).
[code]

In case that the `org.apache.iceberg.Table#history` would be guaranteed to be ordered, a binary search algorithm could be used instead (O(log n) complexity).

[2022-01-13 16:32] RussellSpitzer commented on #3891
Unfortunately I do not believe we are guaranteed that History is ordered (WAP commits) or Complete (History has a max length) so I do not believe we can rely on it. The only true way to view the lineage is the recursive approach being used.

[2022-01-13 16:40] RussellSpitzer commented on #3889
This could be another case of our CommitStateUnknown states. When the status cannot be checked we need to keep the files created. I believe this was very recently patched [here](https://github.com/apache/iceberg/pull/3717)

[2022-01-13 16:51] RussellSpitzer commented on #3885
OOM's can happen for a lot of reasons, did you see a memory leak? Or monotonically increasing heap size? I would make sure it isn't one particular merge causing the issue before diagnosing.

The Error there looks like an Operating System kill, so it's not explicitly a JVM thing either. It could just be that the container is too small for the heap + offheap usage configured in spark.

[2022-01-13 16:53] RussellSpitzer commented on #3858
I would look at the Spark Connectors for those other systems, it should be much more efficient than writing your own sinks in the foreach. For example

spark.read.format("iceberg")....write.format("jdbc) ....

[2022-01-13 18:23] Anando304 opened #3894 "Row arity exception when executing row-level deletes from the top of an Iceberg table"
# Background
I am running Iceberg 0.12.1 (with iceberg table V2) with Flink 1.12.1
I have a Flink-connector-cdc hooked up to a postgres table. This CDC detects changes and pushes them to the sink which is a Hadoop Iceberg table.

When I insert new rows to postgres, they propagate correctly to Iceberg.
When I try to execute row-level deletes on those newly inserted rows, it propagates correctly.
Wh

[2022-01-13 18:50] jackye1995 opened #3895 "Clarify usage of ValidationException vs IllegalArgumentException"
based on https://github.com/apache/iceberg/pull/3104#discussion_r780844208

I did not have a good way to distinguish what exception to use for what case, the definition provided by Ryan was clear. I think we should add that in the javadoc of `ValidationException` class about when to use it and when to use `Preconditions` to throw illegal argument exception.

This will give more clarity to both imp

[2022-01-13 18:53] jackye1995 opened #3896 "Support Iceberg branching for all the snapshot producer operations"
With the introduction of branching, we can produce snapshots to a specific branch like the following:

[code]

[2022-01-13 18:56] jackye1995 opened #3897 "Support tagging and branching retention policy during snapshot expiration"
Snapshot expiration logic should be updated to respect retention policies set in tagging and branching, based on the workflow described in https://github.com/apache/iceberg/blob/master/site/docs/spec.md?plain=1#L586-L600

[2022-01-13 19:17] jackye1995 opened #3898 "Support Spark micro batch streaming of a specific branch"
After the introduction of branching, `SparkMicroBatchStream` can be used against not just the main branch but also a specific branch.

[2022-01-13 19:19] jackye1995 opened #3899 "Support Spark time travel against a branch"
Time-based time travel can be performed against a specific branch instead of the main branch

[2022-01-13 19:20] flyrain commented on #3896
I guess people can use branches for testing some things without impact the trunk. The trunk should still be there for any read in that case. Would you mind share any solid use cases? Like in which scenario this would be pretty useful?

[2022-01-13 19:41] jackye1995 opened #3900 "Deprecate TableMetadata.removeSnapshotsIf in favor of metadata builder"
based on https://github.com/apache/iceberg/pull/3104/files/7fe760e534bd34a1affe6e8f989f6b31b59e71aa#r780846388

[2022-01-13 19:58] jackye1995 commented on #3897
Thanks, assigned!

[2022-01-13 20:26] jackye1995 commented on #3896
yes that is one primary use case. Another one is for a separated branch that maintains a historical snapshot. A compacted version could be updated to the branch for optimized read performance.

[2022-01-13 20:30] jackye1995 opened #3901 "Support time travel to a snapshot by ref name"
Allow users to specify a snapshot name instead of ID to time travel to. For example, if a process produces daily snapshot and tag it with the date, then I can time travel back to the snapshot by specifying the date name instead of a timestamp/snapshot ID. By doing so I can optimize the specific snapshot (e.g. compaction) and just update the tag to improve performance, and the query does not need t

[2022-01-13 21:46] flyrain commented on #3896
Do you mean "a compact version could be updated to the **trunk** for optimized read"? Make sense to me.

[2022-01-13 23:06] RussellSpitzer commented on #3896
Are we going to allow merging a branch back into the main line? I was thinking about this for transaction support.

Sent from my iPhone

[2022-01-14 00:14] flyrain commented on #3896
IIRC, we got a discussion on this, the verdict is not to support merging a branch into the trunk.

[2022-01-14 01:38] hililiwei commented on #3899
I'd like to try it. Could you please assign it to me?

[2022-01-14 02:31] #3889 closed

[2022-01-14 06:15] hililiwei commented on #2981
The community is pushing it forward, infer: https://github.com/apache/iceberg-docs

[2022-01-14 06:15] #2981 closed

[2022-01-14 09:07] timothy-khom opened #3903 "Make retry number and backoff policy configurable"
Hi colleagues,
Could the hard-coded value of numRetries at https://github.com/apache/iceberg/blob/0.12.x/core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java#L160 and backoff policy at https://github.com/apache/iceberg/blob/0.12.x/core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java#L175 be specified via configuration somehow? When there is an intermittent net

[2022-01-14 09:23] mohitgargk opened #3904 "Spark SQL shell broken with Spark 3.2.0 and Iceberg 0.12.1"
**How to reproduce**
Just follow - https://iceberg.apache.org/#getting-started/

**Command**
`./bin/spark-sql --packages org.apache.iceberg:iceberg-spark3-runtime:0.12.0    --conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions     --conf spark.sql.catalog.spark_catalog=org.apache.iceberg.spark.SparkSessionCatalog     --conf spark.sql.catalog.spark_catalog.ty

[2022-01-14 09:51] hbgstc123 opened #3905 "how to consume historical iceberg data with flink?"
Does anyone else have the need to reprocess historical iceberg data with flink?
e.g. say I have a table partition by date, like '2022-01-13', '2022-01-12', and I want to reprocess historical data between partition '2022-01-01' and '2022-01-06', is this operation supported in current flink source implementation.
The reason why use flink to do this is that there is already an online flink applicatio

[2022-01-14 18:09] szehon-ho commented on #3903
Hi,I think this is solved by https://github.com/apache/iceberg/pull/3099, (you can pass the relevant configs now  supported by RetryingHiveMetaStoreClient) can you check?

[2022-01-14 18:21] #3582 closed

[2022-01-14 21:14] lgo commented on #193
Hey folks, I saw this was still open and @shangxinli's PR unmerged. I was recently exploring options to optimize point lookup reader performance for a sorted column on parquet Iceberg tables.

Is this a task that should still be done to add support for it?

[2022-01-14 21:33] shangxinli commented on #193
This PR is blocked because we need [ID-based resolution](https://issues.apache.org/jira/browse/PARQUET-2006) support in Parquet.

[2022-01-15 20:00] sanyud24 commented on #3881
May I work on this issue @kbendick ?

[2022-01-17 02:25] Initial-neko commented on #3905
According to the description, this is a time partition table, that is, you want to know the incremental data between XX and XX.

The incremental consumption of flick can meet your requirements. The consumption of overwrite snapshot is not supported now.

Detailed guidance can be observed https://iceberg.apache.org/#flink/ Streaming read

[2022-01-17 06:58] hbgstc123 commented on #3905
@Initial-neko thanks for reply, if i use the current incremental consumption, I will have the following problem:
1.I need to keep snapshots for a long time, which is costly and not necessary;
2.There must not be delete or overwrite snapshots in between, as you mentioned; if delete or overwrite snapshots present, the result will be incorrect. Event if delete and overwrite snapshots are supported in

[2022-01-17 07:26] kbendick commented on #3881
So this is already done @sanyud24. I didn't realize we just need to deploy. But this is templated.

However, I'm going to keep this open or open a new ticket for needing to update the Flink docs to not be templated on the latest version anymore.

We are migrating to docs that will be by version, so this might not be an issue. I'll find out and tag you on a new ticket @sanyud24 👍

[2022-01-17 07:28] kbendick commented on #3881
I'm going to close this and take it offline.

Will reopen if the versioned docs don't already handle the templated version properly for the jar etc, but I think they do. We'le just waiting on the next version which should be out soon.

[2022-01-17 07:28] #3881 closed

[2022-01-17 07:49] vanliu-tx opened #3907 "HiveCatalog listTables takes minutes if there are thousands tables in namespace"
when we update iceberg 0.9.0 to 0.12.1, we found an issue that HiveCatalog#listTables(Namespace) takes minutes in 0.12.1 in our production env, compared to ~0.1s in 0.9.0.

In our production, this method takes 28s for one namespace contains 517 tables, 75s for one namespace contains 1301 tables, more than half an hour for one namespace with 27000+ tables.

In this issue(apache#1835), client.getTab

[2022-01-17 09:35] fengsen-neu opened #3909 "When we use spark action rewriteDataFiles, how to limit equality_delete file compations memory."
When we use spark action rewriteDataFiles on v2 table, we will also merge equality_delete file with data file.  The equality_delete file will merge with all data file that sequence num less than it, this will cause spark executor memory GC frequently, and cause 'connection reset by peer' , ' hearbeat timeout' error during rewriteDataFiles.
How could we limit the jvm using memory when rewriteDataFi

[2022-01-17 09:41] hililiwei commented on #3905
Are you just trying to get the latest data between partition '2022-01-01' and '2022-01-06'?

[2022-01-17 11:44] hbgstc123 commented on #3905
@hililiwei yes

[2022-01-17 13:25] sanyud24 commented on #3881
Sure!! Thanks a lot!!

[2022-01-17 13:26] sanyud24 commented on #3895
May I work on this issue @jackye1995

[2022-01-17 13:55] pan3793 commented on #1894
I think #3461 should address this issue, but it's only for Spark 3.2, does the community have a plan(or at least accept backport PR) for Spark 3.1? cc @RussellSpitzer @aokolnychyi

[2022-01-18 02:39] jqysn opened #3913 "Not able to query partitioned iceberg table in Hive (EMR: emr-5.29.0)"
Hadoop: 2.8.5-amzn-5
Hive: 2.3.6-amzn-1
Tez: 0.9.2
iceberg: 0.12.1

When query the partitioned table in hive, it returns `java.lang.ArrayIndexOutOfBoundsException`. But the same query works for hive engine MR and spark sql.

I have followed the suggestion in https://github.com/apache/iceberg/issues/2601, and patched tez with the fix, but it didn't work.

And also if the table is not partitioned, i

[2022-01-18 06:04] timothy-khom commented on #3903
Hi @szehon-ho,
Thank you for suggestion. However it seems it will be available in 0.13.x won't it ?

[2022-01-18 07:19] #3629 closed

[2022-01-18 08:04] liubo1022126 opened #3916 "Core: Orc data file not support to shouldRollToNewFile"
@openinx @rdblue

I sort data within partitions by columns to gain performance, like `insert overwrite tableA partition(pt='20220118') select id,name,age from tableA where pt='20220118' order by id;`, and table's write.format.default=orc and 'write.target-file-size-bytes'='134217728'.

But the data file within partitions is only one file with a large size. and I find that [ORC file now not support

[2022-01-18 08:22] kbendick commented on #3885
`unpersist` is by default a non-blocking operation. You might consider passing `blocking=true` (I believe that's the argument) to ensure that the dataframe is truly unpersisted when you make that call. This can add time of course, as it's blocking, but will lower the likelihood of OOMs if that's where you think they are coming from.

A small adjustment to see how it's working. But I would go with

[2022-01-18 09:45] pvary commented on #3913
@jqysn: Have you set `tez.mrreader.config.update.properties` to `hive.io.file.readcolumn.names,hive.io.file.readcolumn.ids`?

[2022-01-18 17:36] rdblue commented on #3741
It sounds like this just wants to move the `transform` call in `ManifestGroup` into the tasks that execute in parallel. That sounds reasonable to me. I'll went to take a look at this PR, but there were changes that were unrelated. Once those are removed, I'll have another look.

Thanks for working on this, @yohengyang!

[2022-01-19 00:07] rdblue commented on #3776
I merged #3906. Ping me on the next one and I'll review that as well.

[2022-01-19 00:08] rdblue commented on #3916
There's a PR to add this that I just started reviewing yesterday: https://github.com/apache/iceberg/pull/3784

[2022-01-19 05:43] jqysn commented on #3913
@pvary Thanks for your help. It works with above settings.
However on tez side, the latest release version is 0.10.0, which should have come compatible issue on guava if using hive 2.3.6. And I tried to find out what happened when running on tez with partition col:

`Caused by: java.lang.RuntimeException: **Record: Record(d1)**, StructField: org.apache.iceberg.mr.hive.serde.objectinspector.Iceberg

[2022-01-19 05:57] humengyu2012 opened #3920 "Create iceberg table in hive does not support 'identifier-field-ids'"
identifier-field-ids is an important property for iceberg table schema, we could set it by primary key in flink, but how to set it in hive?

[2022-01-19 05:57] humengyu2012 commented on #3920
https://github.com/apache/iceberg/pulls

[2022-01-19 07:04] wangxujin1221 opened #3921 "A BaseDataReader error always occurs when traversing a partitioned table"
We have an iceberg table partioned by day(time) and has 200 k records.

the table infomation:
[code]
This table was write by below code:
[code]

When i tranverse the table like below, it always failed.
[code]
The error log :
[code]

This error always occurs when i tranversing this table and i don't know why. Some kind help will be appreciate!

[2022-01-19 07:11] wangxujin1221 commented on #3921
By the way, when i create a table partioned by hour using same data as above, i got the below error. The write method is same as above.

[code]

[2022-01-19 07:17] George-zqq opened #3922 "Required context of factory 'org.apache.flink.table.catalog.hive.factories.HiveCatalogFactory' must not be null."
When i run bin/sql-client.sh , cause a exception :

Setting HBASE_CONF_DIR=/etc/hbase/conf because no HBASE_CONF_DIR was set.
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/opt/flink-1.13.5/lib/log4j-slf4j-impl-2.16.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/opt/cloudera/parcels/CDH-6.3.1-1.cdh6.3.1.p0.1470567/jars/slf

[2022-01-19 07:40] liubo1022126 commented on #3916
That's great, This ability is necessary.

[2022-01-19 07:42] liubo1022126 commented on #3916
That's great and necessary ^^

[2022-01-19 08:32] #3922 closed

[2022-01-19 09:00] pvary commented on #3913
The issue is that the column projection is not working in this case. We do not need the other (non referenced) columns in the Records, so reading the unnecessary columns from the source table could cause serious performance degradation.

[2022-01-19 10:48] jqysn commented on #3913
Sorry for bothering - but I think the fix here is not to read the unnecessary columns? It's just using the field name to get the correct position in Record, rather than using the position in struct field?

[2022-01-19 10:54] pvary commented on #3913
The problem is that the unnecessary columns has already been read at this point. We have read 3 columns instead of the required 1, and the created records already contains all of the 3 columns ('id', 'data', 'dept'), but we expect only 1 ('dept'). If we use the position we fail, but if we use the `name` of the column we can still find the column. Which means that the query is running, but it has r

[2022-01-19 11:23] jqysn commented on #3913
Thank you for your explanation - it's very helpful!
Btw, I think we need to document this down for the tez fix in the documentation page, and it will be also useful for others to solve the issue.
I can create a PR to update the documentation on this, but would like to hear your comment.

[2022-01-19 11:48] pvary commented on #3913
Do I understand correctly that for running Iceberg with Tez one need to do the following:
- Patch the Tez version with TEZ-4248
- Set `tez.mrreader.config.update.properties` to `hive.io.file.readcolumn.names,hive.io.file.readcolumn.ids`

I think this worth a section in the docs.

[2022-01-19 12:17] cccs-eric opened #3924 "(python_legacy) Wrong encoding for lower/upper bounds boolean value"
According to the [Iceberg spec (Appendix D)](https://iceberg.apache.org/#spec/#appendix-d-single-value-serialization), a boolean should be serialized as 1-byte field.  When I try to parse booleans, I always get the following error:
`Arguments: (error('unpack requires a buffer of 2 bytes'),)`

The error message is in contradiction with the spec.  It is caused by the following line:
`TypeID.BOOLEAN:

[2022-01-19 12:51] moon-fall commented on #3788
@ZhangChaoming
A major problem is that when create a table through the flick SQL client, if you do not set Hadoop_ CONF_ Dir in the environment variable, but  use  hive as a catalog  point to HDFS with dfs.nameservices , will report an error unknownhostexception. In flink, hivecatalog supports Hadoop conf dir option to configure the configuration file of each catalog separately.
https://nightlies.

[2022-01-19 13:44] ggershinsky opened #3928 "Encryption via RewriteFiles"
Take a regular (unencrypted) table, and convert it to an encrypted table, via rewriting (encrypting) the data files and updating the manifest files with the new data file details (including key_metadata field). In a way, similar to compaction, and can be combined with it.

[2022-01-19 16:00] RussellSpitzer commented on #3921
Is the purpose here to accumulate all the records into an on Executor linked queue? I'm a little nervous around the direct manipulation of the iterators here as well as the building of Executor specific memory constructs.

I think if I was debugging this the first thing I would try is just doing a full collect of the dataframe. Make sure the normal pathway works fine.

[code]

 Then after that I w

[2022-01-19 16:38] stevenzwu commented on #3905
@hililiwei this can be achieved by setting the filters in `ScanContext` when constructing the `FlinkSource`

[2022-01-19 17:39] szehon-ho commented on #3903
Yea i think in current versions there is no good way I could find, unfortunately.

[2022-01-19 22:01] #1639 closed

[2022-01-19 23:21] #3874 closed

[2022-01-19 23:45] huaxingao opened #3932 "support timestamp in partition path"
When using `add_files` stored procedure to import files that are partitioned by timestamp, I found that timestamp is not supported in partition path.
https://github.com/apache/iceberg/blob/master/api/src/main/java/org/apache/iceberg/types/Conversions.java#L74
It seems to me that timestamp in partition path should be supported. I will try a PR.

[2022-01-19 23:46] huaxingao commented on #3932
Here is the [PR](https://github.com/apache/iceberg/pull/3933)

[2022-01-19 23:46] huaxingao commented on #3932
cc @RussellSpitzer

[2022-01-20 01:25] emkornfield opened #3934 "PEP8/Blacken for python?"
I might have been looking in the wrong places but I couldn't fine anything that validates/lints pep8 or other issues (or potentially auto-formats code) in python (blacken).  Is this something of interest in python?

[2022-01-20 01:28] emkornfield commented on #3934
I assume if it was present it would be in tox.ini (perhaps I missed it)?

[2022-01-20 01:30] emkornfield commented on #3934
Actually it looks like flake8 should probably be run so maybe this isn't an issue

[2022-01-20 01:31] #3924 closed

[2022-01-20 01:32] emkornfield commented on #3934
I think the question around blacken still might be worth considering to avoid nit-picking on slight formatting.

[2022-01-20 01:36] emkornfield commented on #3934
Found black also after looking further.

[2022-01-20 01:36] #3934 closed

[2022-01-20 01:41] wangxujin1221 commented on #3921
Hi @RussellSpitzer ， thanks for your reply. Actually when i use year or month as the partion rules, it worked and without error above. And i also tried with code like:
[code]
But i still got this error. I don't know whether this error relatted to the total number of files of the hive table. Tables partioned by year or bucket only have 0.5k where table partioned by day has 73k.

[2022-01-20 02:37] moon-fall commented on #3909
A large amount of memory is used because each datafile will read all the data of the deletefile which seqNum is bigger than datafile in a hashSet for filtering, In the optimized version of my company , I use a Datafile bloom filter to filter out unnecessary eq-deletefile keys (datafile hashset also works, but using hashset usually consumes more memory) , if the datafile support storage Bloom filte

[2022-01-20 04:29] KnightChess opened #3936 "[QUESTION] Why not support conversion long to string when update column type?"
[https://github.com/apache/iceberg/blob/master/api/src/main/java/org/apache/iceberg/types/TypeUtil.java#L291-L309](https://github.com/apache/iceberg/blob/master/api/src/main/java/org/apache/iceberg/types/TypeUtil.java#L291-L309)

[2022-01-20 06:44] amogh-jahagirdar commented on #3900
After https://github.com/apache/iceberg/pull/3883 gets closed, I'll raise a PR for this that I have ready. I am planning on deprecating the existing TableMetadata#removeSnapshotsIf and adding the a new removeSnapshots method which simply accepts a set of snapshot ids to remove. It will do validation that the set of snapshot ids passed in does not contain the latest snapshot id. Something like the

[2022-01-20 12:27] shaobo322 opened #3937 "Task :iceberg-aliyun:compileTestJava"
help???
![image](https://user-images.githubusercontent.com/37969177/150338557-85846594-0f2b-4916-98c1-9f73cb0d02ef.png)

[2022-01-20 16:16] cccs-eric opened #3939 "[Python legacy] partition_spec returning class instead of proper Type"
When reading a manifest using python_legacy and listing its entries,  we [project the schema ](https://github.com/apache/iceberg/blob/b6ce66112bea752513d5317c0813c77ea980643a/python_legacy/iceberg/core/manifest_reader.py#L143)using `partition_type()`.  When building the `partition_type` struct, we [return the class type instead of the instance type](https://github.com/apache/iceberg/blob/b6ce66112

[2022-01-20 17:29] amogh-jahagirdar commented on #3900
As a follow up, I think in the scope of the API we should also make sure we are cleaning up any references as well, as to prevent a "corrupt" state of TableMetadata. So if snapshot 2 is to be removed and there are references to snapshot 2, within this API we should also remove those references. This way we don't have any dangling references. We could also filter and not remove any snapshots which

[2022-01-21 01:21] NOD507 opened #3941 "[Feature Request] Support for change data capture"
A change data feed option like the one on delta lake is very usefull for incremental syncs between tables or systems.

CDC is one feature thats not on open source delta lake or iceberg. I dont think theres a format that supports CDC on spark open source at this moment.

Hidden partitioning is currently a plus for iceberg vs delta lake, and CDC could be another one.

https://docs.databricks.com/del

[2022-01-21 06:55] fengsen-neu commented on #3909
![image](https://user-images.githubusercontent.com/58256617/150480410-dffc1c5f-66db-41ab-ac7f-199e8f65542b.png)
![image](https://user-images.githubusercontent.com/58256617/150480438-bb672d08-94de-4f1e-86f0-1ee203dc9306.png)
The DeleteFilter object that include deletefile is using much more memory when compaction. As you said 'each datafile will read all the data of the deletefile which seqNum is b

[2022-01-21 07:22] jackye1995 commented on #3900
Overall there are 3 use cases:
1. filter snapshots with ref and skip removal of those
2. throw exception if a snapshot to remove has ref
3. directly remove snapshot and its associated refs

Consider the use case if this method, it is basically used for snapshot expiration and nothing else. The logic is:

[code]

When we add branching and tagging, we will have a much more complex if statement to fi

[2022-01-21 09:00] jqysn commented on #3913
Yes. That's correct. I have created a PR for the doc.
https://github.com/apache/iceberg/pull/3944

[2022-01-21 20:01] cipriangerea opened #3950 "ParquetWriter leaks memory"
The constructor for ParquetWriter is allocating a compressor at https://github.com/linkedin/iceberg/blob/master/parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java#L92

The compressor needs to be released once the writer is closed. If this doesn't happen we are leaking the native memory associated with the compressor.

[2022-01-21 21:13] findinpath opened #3951 "<docs> Getting started with Iceberg & Spark"
As a newbie on Apache Iceberg universe, I am eager to try out the functionality exposed by the framework.

It is not quite straightforward to get to setup an Icerberg environment on Spark.
After downloading the spark 3.1.2 distribution, I configured spark-defaults.conf

[code]

Afterwards I did setup postgres to run on a docker container

[code]

While trying out the scenarios exposed on the page

[2022-01-21 21:18] RussellSpitzer commented on #3951
We actually have a helper for getting the underlying table see
https://github.com/apache/iceberg/blob/master/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java#L644

But I believe we would probably recommend using the procedure api
https://iceberg.apache.org/spark-procedures/#_top

From spark.

That said it would be great if we could have some better samples and such and a mor

[2022-01-21 21:41] findinpath commented on #3951
@RussellSpitzer indeed. I came across by `loadTable` method of `Spark3Util`, but being at the moment of trying stuff out on spark 3.1.2 (AFAIK iceberg 0.12.1 doesn't work fully atm with spark 3.2) I didn't have this method available in the `spark-shell`.

In any case, simple examples that just work (this comes obviously with a maintenance cost) would be a definite win to grow the community around

[2022-01-23 14:09] #3904 closed

[2022-01-23 23:48] flyrain commented on #3951
Cannot agree more. The community is working on the docker image. It will be released pretty soon. Cc @samredai and @kbendick for more details.

[2022-01-24 01:08] #3921 closed

[2022-01-24 03:17] flyrain commented on #3941
I'm working on a Iceberg CDC design doc. It will be like the CDF(change data feed) in the proprietary Delta. Will keep you posted. It'd be helpful if you can share your CDC use case.

[2022-01-24 10:38] ubyyj opened #3957 "presto support v2 format"
according to doc [1], presto currently only supports v1 format, not v2 format. Should we support v2?

[1] https://trino.io/docs/current/connector/iceberg.html

[2022-01-24 10:50] ubyyj commented on #3957
filed to presto [here](https://github.com/trinodb/trino/issues/10758) close this one

[2022-01-24 10:50] #3957 closed

[2022-01-24 18:46] szehon-ho commented on #2161
This issue fixed by linked PR

[2022-01-24 18:46] #2161 closed

[2022-01-24 19:37] igorcalabria commented on #2796
I can confirm that this happens pretty consistently when running `rewrite_manifests` action on a streaming table. Subsequent retries always seems to work

[2022-01-24 19:44] sfc-gh-pbennes opened #3958 "Linkage errors in published jars"
Greetings,

I run the [Google Linkage Checker](https://github.com/GoogleCloudPlatform/cloud-opensource-java/wiki/Linkage-Checker-Enforcer-Rule) to look for [linkage errors](https://jlbp.dev/glossary.html#linkage-error) as part of my Java builds and noticed that iceberg has some when adding iceberg-api, iceberg-core, iceberg-hive-metastore to a project:

[code]

How to reproduce:
Create this pom.xm

[2022-01-24 20:26] nreich commented on #3585
Using spark 3.2.0 and iceberg-spark-runtime-3.2_2.12 (0.13.0-SNAPSHOT, built locally from master today), I still see this issue (did try adding .config("spark.sql.sources.partitionOverwriteMode", "dynamic") with no luck). Is this issue still present in current master or is there more configuration required to resolve the issue or possibly an issue with my local build?

[2022-01-24 20:46] RussellSpitzer opened #3960 "Utility Class for Implementing Byte Transformations and ZOrder Byte Interlacing"

[2022-01-24 20:46] RussellSpitzer opened #3961 "Spark Implementation of ZOrder Rewrite Strategy"

[2022-01-24 20:47] RussellSpitzer opened #3962 "Allowing ZOrder Distribution for normal Spark Writes"

[2022-01-24 20:47] RussellSpitzer opened #3963 "Creating ZOrder Sort Orders"

[2022-01-25 01:24] Bryanquan opened #3968 "Is there a full example for Iceberg+Flink+Minio"

[2022-01-25 01:39] vanliu-tx commented on #3907
done

[2022-01-25 01:39] #3907 closed

[2022-01-25 02:17] vanliu-tx opened #3969 "Got exception if overwrite partitions with empty dataset by spark"
In 0.12.1, write empty dataset by Spark append mode will result in an empty snapshot created, write empty dataset by Spark overwrite mode will result in an exception below:

[code]

Overwrite partitions with emtpy dataset is the same as these lines of code:
[code]

In the commit method, it calls down to https://github.com/apache/iceberg/blob/a1bd63d56751999ecee89b871992d7bac395fd52/core/src/main/j

[2022-01-25 03:48] fengsen-neu commented on #3909
It's easier to read bloom filters directly from a datafile. maybe I can pull a request if need. --- Could you please provide the PR for my reference?

[2022-01-25 09:57] singhpk234 opened #3978 "[Spark] Handle caseSensitivity of runtimeFilters in runtimeFiltering Spark"
Presently a query like this :

[code]
fails with

AFAIK this happens because while creating inclusiveExpr from RuntimeFilters passed from Spark, it doesn't takes cares of case sensitivity : [CodePointer](https://github.com/apache/iceberg/blob/master/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java#L171)

[code]
As per my understanding we should pass ``Project

[2022-01-25 18:09] SreeramGarlapati commented on #3941
@flyrain - we [started this design doc, which scopes the problem down to the tables that are written with MoR](https://docs.google.com/document/d/1A2oXgzMOhldSdpxhVnuRNYKozAaTAn3zWfE1LIeFLVs/edit?usp=sharing), a while back - after a community sync up. pl. see if you wanna adapt it or even change the same doc.

[2022-01-25 21:23] aokolnychyi commented on #3585
@nreich, could you, please, provide the full stack trace on 3.2.0 and master? Like others said, Iceberg 0.12 extensions are not compatible with Spark 3.2 but the master and upcoming 0.13 should be.

[2022-01-25 22:09] nreich commented on #3585
@aokolnychyi I tested again today with spark 3.2.0 and iceberg 0.13.0 release candidate (downloaded jars from repository.apache.org/content/repositories/orgapacheiceberg-1079/org/apache/iceberg/iceberg-spark3-runtime/0.13.0/). Tried to run through the "getting started" guide for spark-sql.
My spark-sql startup command (also tried with `spark.sql.sources.partitionOverwriteMode=dynamic`):
[code]
Run

[2022-01-25 23:23] rdblue commented on #3585
@nreich, can you check the Jar you used? For Spark 3.2, you should be using the [`iceberg-spark-runtime-3.2_2.12` Jar](https://repository.apache.org/content/repositories/orgapacheiceberg-1079/org/apache/iceberg/iceberg-spark-runtime-3.2_2.12/) but the link you posted was to the `iceberg-spark3-runtime` Jar. That's one works with 3.0 and 3.1, but we're moving to separate Jars for each Iceberg versi

[2022-01-25 23:58] kbendick commented on #3585
**_As of Iceberg 0.13.0, the `iceberg-spark-runtime` jars have changed to reflect the Spark (and Scala) versions_**:

You can test the 0.13.0-rc1, fetching it from the staging maven repository, with the following command line flags for Spark 3.2: `--packages 'org.apache.iceberg:iceberg-spark-runtime-3.2_2.12:0.13.0' --repositories https://repository.apache.org/content/repositories/orgapacheiceberg

[2022-01-26 00:01] nreich commented on #3585
@rdblue @kbendick  I had tried that jar first, actually: had the same exact result, so I looked to the docs in master for getting started and found they still referred to the old jar (I must have missed the correct location to look for the changed getting started instructions?).

I cleared dependency caches (just in case), and ran again with:
[code]
but still got the exact same stacktrace as befor

[2022-01-26 00:29] kbendick commented on #3585
Thank you for testing this @nreich 🙏 .

I have tested with Spark 3.1.2 and Spark 3.2.0, both built for Hadoop 3.2., and I don't seem to get this problem. At least on the `CREATE TABLE` statement.

[code]

I also tried with Spark 3.1.2, as well as with a partitioned table and I did not encounter any exceptions.

[2022-01-26 00:40] kbendick commented on #3585
From Spark 3.2, I also used a partitioned table to test dynamic partition overwrite in Spark 3.2

Bash start up script from spark-3.2.0-bin-hadoop3.2:
[code]

Spark Shell:
[code]

[2022-01-26 00:41] nreich commented on #3585
Tried the spark-shell just in case (following exactly what you did) and get the same error. Looks like I have a different hadoop version:
from the spark shell I ran `println("Hadoop version: " + org.apache.hadoop.util.VersionInfo.getVersion())`
with response of `Hadoop version: 3.3.1`

[2022-01-26 00:43] kbendick commented on #3585
No, I have the same output. That's what's used for hadoop 3.2 surprisingly enough and is expected.
[code]

[2022-01-26 00:44] kbendick commented on #3585
Just as a sanity check, does your `spark-shell` ASCII art print version 3.2.0?
[code]

[2022-01-26 00:48] nreich commented on #3585
[code]

Other possibly relevant info:
running on MacOS Catalina (10.15.7)
spark 3.2.0 was installed through brew

[2022-01-26 00:50] rdblue commented on #3585
@nreich, maybe additional Jars are sneaking into your classpath. Can you dump the classpath in the Spark UI and share it? Or check for more than one Iceberg Jar?

[2022-01-26 00:57] nreich commented on #3585
Downloaded a fresh copy of spark 3.2.0 (https://www.apache.org/dyn/closer.lua/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz): everything now works as expected

[2022-01-26 01:06] nreich commented on #3585
That was the issue @rdblue: I had an errant copy of the old `iceberg-spark3-runtime-0.12.1.jar` on the classpath. After removing it, my original installation of spark 3.2.0 now functions as expected with iceberg 0.13.0.

[2022-01-26 01:07] rdblue commented on #3585
Glad to hear it's working! Thanks for working with us to debug!

[2022-01-26 01:15] nreich commented on #3585
Thanks for all your help!

[2022-01-26 01:16] kbendick commented on #3585
Thank you so much @nreich for working with us to debug this. This is a very important part of the release process and it really helps to have community members testing things out.

I'm going to close this issue in a bit if there are no more comments. Anybody please feel free to open a new issue referencing this one if need be!

**TLDR** - Be sure to have the correct Iceberg artifact based on the S

[2022-01-26 01:38] flyrain commented on #3941
Thanks for sharing, @SreeramGarlapati! That is a good start and I'm glad you guys have started working on it. Can we have a discuss when my design doc is ready?

[2022-01-26 01:58] coolderli commented on #3909
This is also a headache for us. We use RocksDBSet (reference #2680) but it is hard to tune the rocksdb, @moon-fall Could you please provide your PR? It matters to us.

[2022-01-26 09:16] felixYyu commented on #3885
thanks @RussellSpitzer @kbendick , I will test this case in higher version.

[2022-01-26 09:16] #3885 closed

[2022-01-27 03:40] ubyyj commented on #2277
same here. I already have an iceberg table store in s3, registered in a hive metastore. Now I want to access the table from another hive, so I wanted to create table on top of existing data.

[2022-01-27 04:47] mohitgargk commented on #3941
+1

@flyrain We are looking into two possible approaches here.
1.  Materialised where, like DeltaLake Change Data Feed that is generated in the write path.
2. Change Data Feed is evaluated at the read path by consumers.

At this point of time, we are grokking and spiking on approach #2. Would love to know your early thoughts on this.

[2022-01-27 06:32] pvary commented on #2277
@ubyyj: A few questions for future development:
- Is the 2nd HiveServer2/TezAM able to access the 1st HMS?
- Do you plan to change the tables from both Hive installations?

Thanks, Peter

[2022-01-27 17:26] SinghAsDev opened #3994 "Allow table properties defaults to be configured at catalog level"
Pushing the need to set platform recommended default behaviors to users hurts usability and not all users actually remember to follow it either. For example, we would like to keep zstd as default for parquet compression. However, to do so we have to rely on all users creating tables to set this through a table property. We have similar use-cases for some other properties as well. Maybe we can move

[2022-01-27 17:38] SinghAsDev opened #3995 "Enable data and delete files for a table to be in different formats"
Data and delete files could be in different formats right now, however, table scans don't support reading different formats for data and delete files.

[2022-01-27 17:56] jackye1995 commented on #3994
we actually have a similar use case that EMR clusters would benefit from some cluster level configs that could be applied to all CREATE TABLE operations, and it’s not hard to achieve.

I would imagine that a Spark cluster admin could do something like the following (I use CLI example, but this could be in the Spark default config file):

[code]

And everything under `table.create.default` are init

[2022-01-27 18:54] anuragmantri commented on #3994
+1 to this request. We also have some properties that we want to set as admins like `write.object-storage.enabled` that we don't want users to set or worry about. As @jackye1995 mentioned we could have three levels
- default - users can override
- required - users cannot override
- Another category for anything that can be added to defaults. (In spark we do that for properties like `spark.executor

[2022-01-27 19:18] SinghAsDev commented on #3994
Great, I agree with `default` and `required` configs. We are working on a PR on this, will tag you both on reviews.

[2022-01-27 19:20] anuragmantri commented on #3994
Great. Thanks for working on this @SinghAsDev.

[2022-01-27 20:38] flyrain commented on #3995
It should work by checking the code. Did you test it out? For example, data file is parquet, delete file is avro.
Here is the delete read path, which is different from data file read path. https://github.com/apache/iceberg/blob/7fd7ccbcc5493b98aba3d5a26117e87d299bdbcf/data/src/main/java/org/apache/iceberg/data/DeleteFilter.java#L241

[2022-01-27 21:42] dramaticlly commented on #2435
+1, I am curious to know if there's any existing way to reconcile the manifest based on current status quo of the underlying file system.

Example scenario we ran into is that, the parquet data file is accidentally deleted outside the knowledge of the iceberg but manifest file still keep track of it. Is there any viable way to repair the given manifest? Any suggestion would be helpful

[2022-01-28 01:14] szehon-ho commented on #2435
Hi guys, in my experience running 'delete from table where part=error_part' works, can you give a try?  I'm actually not sure why it says fail for @KarlManong , if its using the iceberg catalog from spark-sql then that query should be removing only metadata and not try to access the missing data file.

Of course this change can fix it but its still waiting review

[2022-01-28 02:11] flyrain commented on #3941
Hi @mohitgargk, we had multiple discussions internally and are working on a doc. Will share it later. Generally speaking, CDC on MOR is in a better position, we should target it first. CDC on COW is almost impossible without additional metadata column or extra logging.

[2022-01-28 06:00] mohitgargk commented on #3941
@flyrain Agree on that. With CoW, without any row-identifier, it is not possible to establish link with the new state and old state of the records without ambiguities.

For the CDF record structure, we grokked a bit on the design and came up with [this](https://docs.google.com/document/d/14ZRQc1anvXN52HGoNpSbKy7Ua6_7IIkr6mlXe_gHrJA/edit?usp=sharing).

Above proposal is based on our use case where

[2022-01-28 09:25] melin opened #3997 "Support Iceberg Metadata storage in a variety of engines"
Most of Iceberg metadata is stored in the file system and is limited by NameNode performance. Storage engines such as RDBMS, Cassandra and mongodb can be supported through pluggable storage

[2022-01-28 11:58] NOD507 commented on #3941
We are interested in CDC to be able to incrementally sync changes from a datalake to a datawarehouse. To be able to do ETL in the datalake and use the dwh for end user consumption.

[2022-01-28 12:00] NOD507 commented on #3941
This design would work great for our use case, is exactly what we need. Thanks for sharing

[2022-01-28 13:16] peay commented on #3088
@alex-shchetkov I had the same issue on Spark 3.1.2, and noticed it worked in Scala but not with `pyspark`.

I believe that the root cause is https://github.com/apache/spark/commit/33deeb35f1c994328b577970d4577e6d9288bfc2, fixed in `pyspark` 3.1.3 and other patches releases.

[2022-01-28 13:52] smaspe commented on #3607
Hi @RussellSpitzer , sorry to jump on this thread, but I have a question regarding your last message, if you could elaborate, as I think I'm missing a step:

Surely, `purchase_ts` being a timestamp, has all sorts of values that are not a round day, so to have a predicate transformed into `day(purchase_ts) = day(timestampOf(2021-01-01)`, how would you write it?

- `on target.purchase_ts = timestamp

[2022-01-28 16:54] RussellSpitzer commented on #3607
I think I may have misled you by oversimplifying. The user here still only writes queries using their exact restrictions, Iceberg then uses this restriction to create restrictions which match the partitioning. For example, Iceberg knows a specific timestamp can only occur in a certain day and it can use that information to limit the files read. Iceberg doesn't disregard the original predicate, tha

[2022-01-28 17:14] jackye1995 opened #4000 "Infra: breakdown the release script"
Hi, while doing the release, I find it not very helpful to put all the steps in a single script `dev/source-release.sh`. The script is doing quite a few things at the same time with things that might go wrong:
1. add `version.txt`, commit, tag, push tag remotely (permission might go wrong)
2. create tarball, signature, checksum (signing might fail)
3. add tarball, signature, checksum to svn (svn p

[2022-01-28 19:49] #3978 closed

[2022-01-28 22:41] kbendick commented on #4000
100% agreed, once it's working one file is nice, but I will admit that i had to clean up from failing midway through (the `version.txt` commit which I moved to be further down at some point, but obviously not far enough).

I agree that if we're looking to have more people involved in the release process, it might be better to break it up more.

I feel it makes sense if possible to have a separate

[2022-01-29 00:54] rdblue opened #4001 "Spec: Add 403 to all routes"
We need to add 403 to all routes. 401 => not authenticated, 403 => not authorized.

[2022-01-29 00:56] rdblue opened #4002 "Spec: Convert REST catalog string maps to a type"

[2022-01-29 09:34] hililiwei commented on #3905
cc @hbgstc123  https://github.com/apache/iceberg/blob/c1ca6c536a0248ea752334889ab1c5fcc935f26f/flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java#L95

[2022-01-30 03:02] hililiwei commented on #3960
it's realy cool for introduce  z-order.

[2022-01-30 05:29] kbendick opened #4007 "Document `max_concurrent_deletes` parameter for the Spark procedures `remove_orphan_files` and `expire_snapshots`"
As of Iceberg 0.13.0, the Spark stored procedures `remove_orphan_files` and `expire_snapshots` both support controlling the parallelism of deletes via a parameter `max_concurrent_deletes`.

 By default, without this, the files of each action are deleted serially in the current thread.

This parameter is used to instantiate a thread pool of the given size, which is passed to the method `executeDele

[2022-01-30 05:29] kbendick commented on #4007
I'm working on a PR for this right now. 🙂

[2022-01-30 05:30] kbendick commented on #4007
Here's a link to the parameters of the RemoveOrphanFilesProcedure action: https://github.com/apache/iceberg/blob/7249d67c5b5215bd04d51d446de12934d2efcbae/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java#L52-L58

[2022-01-30 23:40] rdblue commented on #4001
Fixed by #4003.

[2022-01-30 23:40] #4001 closed

[2022-01-31 02:02] amogh-jahagirdar opened #4012 "Support S3 Batch Removal of objects as part of snapshot expiration and removing orphan files"
Mentioned in https://github.com/apache/iceberg/issues/3582 as well.

In the current spark procedures for snapshot expiration and removing orphan files, we delete s3 objects using the DeleteObject API which accepts 1 object. We currently parallelize these calls within the spark driver based on a max concurrent deletes configuration. Another improvement we maybe could do is make S3#DeleteObjects cal

[2022-01-31 15:48] elferherrera opened #4015 "Implementor of Transform"
Im trying to use `createTable` from `SparkCatalog` and it needs an array of objects that implement the interface `org.apache.spark.sql.connector.expressions.Transform`. But I couldnt find any in the documentation.
Can anyone point me to a constructor for these objects?

[2022-01-31 23:55] #4007 closed

[2022-02-01 09:17] rajarshisarkar commented on #4015
Hi @elferherrera,

I think you are referring to `Spark3Util.toTransforms` which creates an array of `Transform`: [Code Link](https://github.com/apache/iceberg/blob/master/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java#L255-L311)

You can refer `SparkTable` class to understand the caller.

[2022-02-01 20:13] #3759 closed

[2022-02-01 21:14] kbendick opened #4026 "REST Catalog OpenAPI Spec - Fix Some Responose Schema Components Showing As Strings When Validating"
We don't currently have a canonical openapi document validator, so we've been relying on a combination of tools while searching for one.

**TLDR** - Some of the places where we're showing more detailed spec output, we've been using `schema` components when `response` components are needed and vice verse. Namely, in some areas we drop down to a more details response body to be able to show examples

[2022-02-01 21:15] kbendick commented on #4026
I'll make a separate ticket for the Github action.

[2022-02-02 16:49] #4026 closed

[2022-02-02 18:11] szehon-ho opened #4031 "TestCopyOnWriteUpdate::testUpdateWithoutCondition is flaky"
https://github.com/apache/iceberg/blob/master/spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java#L222

Example failure : https://github.com/apache/iceberg/runs/5030269431?check_suite_focus=true

[code]

It seems the hash function is not deterministic and sometimes two rows does hash into same file with low probability.

Not familiar if any deterministic w

[2022-02-02 23:52] atronchi commented on #732
For a more realistic use case, consider swapping the partition name `identity` in @waterlx case above for `date`, and a backfill which needs to overwrite the partitions running many days in parallel. I found this thread from exactly this use case, which triggered a deluge of Spark job failures failing on the `CommitFailedException`. Probably Spark should retry the commit in such cases instead of h

[2022-02-03 00:17] rdblue commented on #732
@atronchi, Spark will actually retry. You can bump up the number of retries by setting the `commit.retry.num-retries` in [table properties](https://iceberg.apache.org/configuration/#table-behavior-properties). There are other settings for retries, like the wait time and max timeout as well.

With several commits happening at the same time, you probably just need to bump up the number of retries. T

[2022-02-03 08:19] flyrain commented on #3997
With the new RestAPI design, we should be able to use RDBMS or key-value store to replace the metadata.json files. The new APIs is WIP, the client will be provided in Iceberg repo, but user needs to implement the server side once the APIs are ready. However, I believe the open source server will be there eventually, it is probably another project.
Other than metadata.json file, it needs a major ov

[2022-02-03 13:42] melin commented on #3997
Bytedance has implemented Hudi MetaStore Server，https://cwiki.apache.org/confluence/display/HUDI/RFC-36%3A+HUDI+Metastore+Server

[2022-02-03 17:12] akghbti opened #4035 "Writing a Spark Repartition-ed Dataframe into Iceberg Table goes into infinite loop"
Spark Version 3.0
Iceberg Version 0.12.1

Sample Code-Snippet
"
sparkSession.sql("CREATE TABLE local.db.sampleTable(_c0 string, _c1 string, _c2 string) USING iceberg");
Dataset<Row> ds = sparkSession.read().format("csv").load("C:\\STUDY\\SPARK_ICEBERG\\Data\\input.csv);
ds = ds.repartition(functions.col("_c2"));
ds.write().option("write-format", "parquet").insertInto("local.db.sampleTable");

"

I

[2022-02-03 17:44] akghbti commented on #4035
No its not getting completed...Its actually stuck in writing the last file (deleting and recreating it) in the data folder..
video attached.

https://user-images.githubusercontent.com/64609106/152398681-7e1272d6-7bea-4d04-9237-5ae58739c5d6.mp4

[2022-02-03 17:45] RussellSpitzer commented on #4035
Your video shows it creating a different file every single time. You can watch the number increase

[2022-02-03 17:48] akghbti commented on #4035
I will wait for a bit long and then report here..

[2022-02-03 23:48] amogh-jahagirdar commented on #3896
There is also some more clarity with what it could look like based on the discussion in https://github.com/apache/iceberg/pull/3883 (in particular https://github.com/apache/iceberg/pull/3883#discussion_r795274832). @jackye1995 I am happy to take this issue if possible!

[2022-02-04 11:00] sauliusvl opened #4038 "UUID type support in Spark is incomplete?"
Consider a table created in Trino (it has a native UUID type that maps to UUID in Iceberg):

[code]

Everything looks good, I can query the table, running `parquet meta` on the resulting file in HDFS suggests it's written correctly according to the parquet specification (byte array of length 16 with logical type `UUID`):

[code]

now I try to read it in Spark:

[code]
Same thing when trying to ins

[2022-02-04 15:14] cccs-br commented on #3585
FYI, since the official release of 0.13, the artifact is availbe with these coordinates...

Spark: 3.2.0
Iceberg: 0.13

sbt:
[code]

maven
[code]

[2022-02-04 17:42] cccs-br commented on #2934
I confirm that this is now fixed with:

Spark: 3.2.0
Iceberg: 0.13

I've updated [spark-iceberg-issue](https://github.com/cccs-br/spark-iceberg-issue) repo with these latest artifacts and now all tests are passing.

Thanks everyone who worked on solving this!

Cheers.

[2022-02-04 17:42] #2934 closed

[2022-02-04 22:10] kbendick opened #4040 "Find a Good OpenAPI Spec Validator CLI Tool and Add Github Action to Validate REST Catalog Spec in CI"
Right now, we rely on a variety of tools to inspect and validate the REST Catalogs OpenAPI specification.

None standout as particularly amazing, so I've personally been using a smattering of tools from https://openapi.tools/ as well as copying / importing the YAML directly into editor.swaggger.io

We should find a canonical OpenAPI YAML document validator and then add a Github Action to validate

[2022-02-04 23:32] aokolnychyi opened #4042 "Reconsider update method in PositionDeltaWriter"
See [here](https://github.com/apache/iceberg/pull/3984#discussion_r792165316) for details.

cc @szehon-ho @RussellSpitzer @jackye1995 @openinx @rdblue

[2022-02-05 00:53] huaxingao opened #4046 "push down aggregation (min/max/count) to iceberg scan"
Currently, when doing SELECT max/min/count FROM table, all the files will be scanned and then the max/min/count will be calculated. Ideally, we should avoid doing a full scan and just use the metrics statistics for max/min/count.

[2022-02-05 00:53] huaxingao commented on #4046
cc @RussellSpitzer @flyrain

[2022-02-05 01:11] aokolnychyi commented on #3630
Resolved by #3984.

[2022-02-05 01:11] #3630 closed

[2022-02-05 01:29] szehon-ho commented on #4012
@amogh-jahagirdar  @jackye1995  are you guys working on it?  I chatted with @dramaticlly , maybe we can give it a try if you haven't started it yet?

Was thinking we can have a new FileIO method like delete(Iterator<File>) , and default it to calling delete one by one, but in S3FileIO case can call S3#DeleteObjects like you say?  It does get a bit messier with the the user-facing API BaseDeleteOrp

[2022-02-05 02:06] amogh-jahagirdar commented on #4012
I have started it and have some changes on a local branch (still some more implementation and testing needed).  Will push it up so you can take a look. I am happy to continue working on it if that works for you @szehon-ho @dramaticlly ?

[2022-02-05 02:23] szehon-ho commented on #4012
Sounds good, thanks!  Let us know if we can help any part

[2022-02-06 04:20] dubeme opened #4051 "How do I make Iceberg ignore corrupt (parquet, ORC, avro) file?"
In our datalake, it is posible to corrupt files to exists in the same directory of a hive table. We've been using the Iceber `add_files` procedure to migrate those tables to Iceberg. Unfortunately, Iceberg will fail when it encounters a corrupt (_a file that doesn't match the file type Iceberg is looking for_) file. Below is a sample exception. **So, is it possible to tell Iceberg to ignore those

[2022-02-06 15:29] hbgstc123 commented on #3905
@stevenzwu @hililiwei flink source skip delete or overwrite snapshot, if a table contain these kind of snapshot, wouldn't the result be incorrect?

[2022-02-06 17:22] stevenzwu commented on #3905
When incremental read was initially implemented in FlinkSource. There is no row-level deletes (V2 spec) in Iceberg. Agree that it should support deletes if that is not the case.

For overwrite, I see two scenarios
1. rewrite without new data (like compaction). Here incremental should ignore overwrite snapshots
2. overwrite due to backfill. In this case, technically we should include (delete all ro

[2022-02-06 20:15] rdblue commented on #4031
What hash function is not deterministic? That seems odd to me. Are we generating random data or something?

[2022-02-07 13:59] RussellSpitzer commented on #4051
No, at the moment that isn't possible and I don't think we would want to add this capability. I think if you have records you are sure can be removed safely you should use the Iceberg Java API to delete those files so they are officially removed from the table.

One thing we could do is add some filters in `addFiles` to skip invalid files or something like that?

[2022-02-07 14:00] RussellSpitzer commented on #4051
Ah I misread you are looking for such an option. That we could do, I think it wouldn't be that hard to put a try catch in add-files that is only used if a flag "skip-corrupt-files" or something is set.

[2022-02-07 16:47] samredai commented on #3245
Here are some additional notes/details/questions to guide this issue. I've also included a diagram of the java implementation.

- Catalog abstraction
  - Operations
    - List tables
    - Create a table
    - Drop a table
    - Replace table
    - Load table (returns an instance of the main table class that users will interact with)
    - Rename a table
    - Check that a table exists (or maybe t

[2022-02-07 16:58] cccs-eric commented on #3245
@samredai Is there a plan to support a filesystem-based catalog?  Local filesystem, AWS S3 buckets or Azure datalake?  Or that use case would be cover by `Table.load(locationUri)` assuming you know the location URI?

[2022-02-07 18:30] szehon-ho commented on #4031
Yea , I meant there looks like some randomness of Spark shuffle assigning the row to same/different Spark partition..  I'll have to investigate if I have some time

[2022-02-07 19:12] dubeme commented on #4051
I see you read things like I do 😂 Yes, I want to Ignore corrupt files during Table import via _add_files_. Ideally controlled with a flag.

I've been looking at the code path, and it seems `TableMigrationUtil.listPartition` (https://github.com/apache/iceberg/blob/2208b24617f2c64bb02f1a7aec79f3bbaabdc1cc/data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java#L106) is the place to start?

[2022-02-07 19:39] RussellSpitzer commented on #4051
Yes, Take a look at the Tasks API and you should see we have the option to put a flag on "Suppress Exceptions", I think we also have a "handleException" method. I would basically just use one of those

[2022-02-07 22:02] dubeme commented on #4051
Ah, that makes it easier... BTW, I want to add breakpoints to the code sections and inspect executions, but haven't figured out how to setup my environment to do so. Do you have any recomendations?

[2022-02-08 00:00] RussellSpitzer commented on #4051
I use IntelliJ idea and the iceberg project works for me out of the box. The only additional config is for check style which has config notes in our docs

Sent from my iPhone

[2022-02-08 02:00] kaijiezhang0319 opened #4058 "Relationship between 2 snapshot id during data transform."
Hello Iceberg folks,  I have a blew scenario and want to get some ideas on how to solve it.

I have 2 iceberg table, 1st named "source_table" and 2nd named "target_table". I am doing some data transform job among these 2 iceberg table (load data from "source_table", then apply a SQL, final write to "target_table") and this job is run periodically(eg: 1 hr).   is there any way that i can maintain t

[2022-02-08 02:46] hbgstc123 commented on #3905
@stevenzwu Yes, incremental read is inefficient, so if we have a source that read directly from the last snapshot is much better for scenarios like backfill.

[2022-02-08 03:27] zjffdu opened #4059 "Add navigation on the spec page"
The spec page is very long, it is hard to navigate to the right content quickly without navigation. It is better to have navigation on the right side like other pages.

https://iceberg.apache.org/spec/

[2022-02-08 06:42] naushadahamad786 opened #4063 "Delete files are not getting generate by using format-version 1 and 2"
Spark Version 3.0.1
Iceberg Version 0.12.1

-SQL Query
MERGE INTO local.db.Mergetable1 t USING (SELECT * FROM local.db.Mergetable2) u ON t.id = u.id WHEN MATCHED AND t.id=1 THEN UPDATE SET t.data='z'

We are expecting '"total-delete-files" attribute value should be 1, but it's show '0'.

"summary" : {
      "operation" : "overwrite",
      "spark.app.id" : "local-1644210838923",
      "deleted-dat

[2022-02-08 12:01] hililiwei commented on #3905
@hbgstc123

[code]
This example will read all current records from table.

[code]
This example will read incremental records which start from current snapshot.

[2022-02-08 12:27] zhongyujiang commented on #4063
@naushadahamad786  0.12.1 only supports copy-on-write MERGE INTO, matching data files will be replaced with new data files immediately, so it won't produce delete files.

[2022-02-08 12:27] zhangminglei commented on #3901
@jackye1995  Is there any progress on this so far ?

[2022-02-08 12:56] zhongyujiang opened #4065 "Class conflict in ORC benchmark"
I  ran [ORC data benchmark](https://github.com/zhongyujiang/iceberg/actions/runs/1812237626) (master & spark3.2) and got this error:

Seems like class conflict, cause iceberg-orc uses orc-core-nohive and Spark uses orc-core.

[2022-02-08 13:40] hbgstc123 commented on #3905
@hililiwei thanks, i didn't noticed the branch of code after setting streaming to false before, it seems like this config can backfill data quite efficiently.
But when setting .streaming(false), the SourceFunction produced by the createInput interface of StreamExecutionEnvironment doesn't seem to have checkpoint functions, so in the case of a failover after a checkpoint success, will the source st

[2022-02-08 17:05] aokolnychyi commented on #4031
@szehon-ho @rdblue, I think the problem is that we request a hash distribution by `_file` and sometimes records for multiple files end up in a single output task. That leads to an inconsistent number of output files. It used to happen frequently when we had only 4 shuffle partitions but then I changed it to 200. Looks like this is still not enough and we should come up with a more reliable fix.

[

[2022-02-08 17:42] aokolnychyi commented on #4031
I commented on the PR.

[2022-02-08 17:45] rdblue commented on #4031
Got it. So the problem is that Spark's sampling isn't deterministic. That makes sense to me.

[2022-02-08 19:57] #3372 closed

[2022-02-08 21:22] kbendick opened #4068 "Link REST request/response class Javadocs to OpenAPI Spec definitions"
As part of the REST catalog, we have to implement several request / response classes.

It would be nice to link the classes themselves to the OpenAPI document in the class javadoc (or some other way if that's not possible), similar to `{@link ...}` annotations in javadoc comments.

Opening this issue to follow up on this comment thread: https://github.com/apache/iceberg/pull/4037#discussion_r80091

[2022-02-09 01:30] haizhou-zhao opened #4072 "Losing "element-id" after calling BuildAvroProjection"
Hello,

We are using iceberg 0.11.x, and we had an issue with assembling an iceberg schema from the result of `AvroSchemaUtil.buildAvroProjection`.

First, couple words on the overall architecture of our operation: we manage iceberg tables for our customers and accept schema evolution requests from them in the format of Avro. This is our schema compatibility check:

[code]

Recently, one of our cu

[2022-02-09 03:00] wuwenchi opened #4074 "flink: after rewrite, the two small files are rewritten into the same two small files as before"
Here is a table without partitions with two data files in parquet format:
- a.parquet 200M
- b.parquet 250M

I started a task of flink's rewriteDataFiles, targetSize is set to 300M.
After waiting for the rewrite to complete, two new files are generated.
These two new files are exactly the same as the previous two old files.
This situation should not generate new data again. A bit of a waste of per

[2022-02-09 03:26] #4058 closed

[2022-02-09 04:50] aokolnychyi commented on #4031
Resolving as it was fixed in PR #4033.

[2022-02-09 04:50] #4031 closed

[2022-02-09 07:26] rajarshisarkar commented on #3941
Hi @flyrain Please let us know once the design doc is ready.

[2022-02-09 15:40] RussellSpitzer commented on #4072
Have you tried this in the most recent release (0.13) ? There have been several pruning fixes.

#2952
#2877

[2022-02-09 15:48] RussellSpitzer commented on #4074
This is something that will be fixed a little in the latest release, one of our issues is that the algorithm basically could not handle compacting files which were not of the correct size, but when combined would be too large. Now Files are combined at the offset level so more efficient compaction should be possible. Additionally I believe we have other work that goes through and checks to see if

[2022-02-09 17:30] akghbti commented on #4063
Even 0.13 is not producing delete files with Spar 3.2 . Any config needs to be set for the same ??

[2022-02-09 17:56] ekin4l opened #4079 "create table writeTo() operation doesn't support "partitionedBy“ method"
hi

  I followed the documentation example and encountered an error when writing a DataFrame to a table

  for example : shopDF is a dataframe contains some shop infos,  when write  to an iceberg table, it throw an error:

 shopDF.writeTo("hive_prod.icedb.t_shop").tableProperty("write.format.default","parquet").partitionBy($"city").createOrReplace()

<console>:24: error: value partitionBy is not a

[2022-02-09 18:47] amogh-jahagirdar commented on #3206
I am happy to look into raising a PR for support ZSTD Compression for Avro. We should define a sane default compression level and should allow configurable compression level options as well. What are your thoughts?

@jackye1995 @rdblue @kekwan

[2022-02-09 19:36] flyrain commented on #3941
We've discussed the solution we are working on in today's community sync-up. The solution can support both COW and MOR. We think it is the good first step to approach CDC. Will post the design doc soon.

[2022-02-09 21:22] haizhou-zhao commented on #4072
Hello Russell,

Thanks for your reply. We can definitely try out the pruning fixes you mentioned. However, we lost the id information after we call `AvroSchemaUtil.buildAvroProjection`, not the pruning. Specifically, we lost the list level id when we extract element schema but leave out all the list level properties. [Reference](https://github.com/apache/iceberg/blob/0.11.x/core/src/main/java/org/

[2022-02-10 06:24] wuwenchi commented on #4074
@RussellSpitzer  Thank you for your answer. I incorporated the pr you mentioned, but the phenomenon persists.
I followed the process and the problem seems to be in the **isPartialFileScan** function.
This function is fine if using avro format data files.
However, when using data files in parquet format, since the initial state of the parquet file itself has a 4-byte offset, the judgment here is wr

[2022-02-10 09:08] hililiwei commented on #3951
try this:   [Docker, Spark, and Iceberg: The Fastest Way to Try Iceberg!](https://tabular.io/blog/docker-spark-and-iceberg/)

[2022-02-10 14:24] lordk911 opened #4086 "Compact data files faild : org.apache.spark.sql.AnalysisException: spark_catalog requires a single-part namespace, but got [hive, test]"
--------vesion infomation----
spark : 3.2.1
iceberg : org.apache.iceberg:iceberg-spark-runtime-3.2_2.12:0.13.0
java : 1.8

[code]
<img width="1477" alt="image" src="https://user-images.githubusercontent.com/19989300/153427177-6836a58e-0d7a-42fa-8ed7-d061873e6f89.png">

[2022-02-10 16:06] rdblue commented on #3206
Yes, Zstd for Avro would be great if Avro supports it. I'd go with whatever the default is in the Zstd library.

[2022-02-10 16:15] Zhangg7723 commented on #4046
Iceberg has provided the metric api of data files, I think the pushdown should be implemented in the SQL engine, maybe build a  plan with a datasource that collect the statistics。

[2022-02-10 17:20] RussellSpitzer commented on #4086
@lordk911 the issue here is that the "HiveCatalog" you are creating in the code does not have information required for Spark to actually locate the table. Instead get the table reference through Spark by using

https://github.com/apache/iceberg/blob/4d7837093bd19a42237446a9b656a248e106b789/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java#L634-L649

[2022-02-10 17:29] szehon-ho commented on #4086
Yea I hit this too , maybe we should update the docs.. existing docs seem to indicate you can load the Table from a new HiveCatalog and expect it to work with SparkActions, which seems pretty logical.

https://iceberg.apache.org/docs/latest/maintenance/
https://iceberg.apache.org/docs/latest/java-api-quickstart/#create-a-table

Also just wondering, there's no way to strip the catalog before loadin

[2022-02-10 17:36] RussellSpitzer commented on #4086
Yeah unfortunately the way we have it set up now is that we work directly on the "table" object passed in and if it is missing catalog information there is no way to get it back.

Then we we actually do our read we are using the Spark API which means we need the catalog so we can actually have all the Spark machinery work correctly. We could probably re-implement this read so that we pass in a man

[2022-02-11 03:04] KarlManong opened #4090 "failed on spark 3.2 TestMergeOnReadDelete.testDeleteWithSerializableIsolation[catalogName = testhive, implementation = org.apache.iceberg.spark.SparkCatalog, config = {type=hive, default-namespace=default}, format = orc, vectorized = true, distributionMode = none]"
related to #3763

[code]

[2022-02-11 04:17] jackye1995 commented on #4090
The CI run seems to pass though: https://github.com/apache/iceberg/runs/5148752010?check_suite_focus=true

[2022-02-11 06:07] KarlManong commented on #4090
I doubt this is a racing between deleteFuture and appendFuture.
Somehow I need more help to dig in

[2022-02-11 10:04] gcnote opened #4092 "Not an iceberg table Error use hive catalog-type"
test flink-1.13.5 sql cdc mysql to iceberg with zeppelin-0.11.0

jars in flink lib:
flink-sql-connector-hive-3.1.2_2.11-1.13.5.jar
flink-sql-connector-mysql-cdc-2.1.1.jar
hadoop-mapreduce-client-core-3.1.3.jar
iceberg-flink-runtime-1.13-0.13.0.jar

step1:
%flink.conf
execution.checkpointing.interval 3000
execution.checkpointing.externalized-checkpoint-retention RETAIN_ON_CANCELLATION
state.backend

[2022-02-11 13:24] akghbti opened #4093 "Merge (CopyOnWrite) Not Efficient as compared to equivalent Delete/Update Operation"
Spark Version - 3.2.0
Iceberg Version - 0.13

There is table 'table1' partitioned by _c1

+----------+---+---+
| _c0|_c1|_c2|
+----------+---+---+
|1225526400| 1| a|
|1228118400| 10| j|
|1228377600| 11| k|
|1228809600| 12| l|
|1228982400| 13| m|
|1229673600| 14| n|
|1230019200| 15| o|
|1230278400| 16| p|
|1230451200| 17| q|
|1230624000| 18| r|
|1230710400| 19| s|
|1225699200| 2| b|
|1225785600| 3|

[2022-02-11 13:34] naushadahamad786 commented on #4063
I have used also below version but We are not able to find any delete files-

Spark Version 3.2.0
Iceberg Version 0.13.1
and
iceberg-spark-runtime-3.2_2.12

[2022-02-11 16:40] RussellSpitzer commented on #4093
Metadata deletes are always going to be faster than a MERGE command (or any row level operation). Are you asking for the MERGE Command to be automatically converted into the equivalent metadata delete? That seems like it may be difficult.

[2022-02-11 17:53] RussellSpitzer opened #4095 "Docs: Search Preview Window is Very Small"
The search preview window is sized to the same size as the search bar itself which is quite small with tiny text. I think the preview portion should probably much larger than the original search bar

![image](https://user-images.githubusercontent.com/413025/153643385-4259f7b7-e345-4670-83ed-d54bcf46b48b.png)

[2022-02-11 22:51] flyrain commented on #3941
The design doc is here, https://docs.google.com/document/d/1bN6rdLNcYOHnT3xVBfB33BoiPO06aKBo56SZmuU9pnY/edit?usp=sharing.

[2022-02-12 06:43] zhongyujiang commented on #4063
@akghbti @naushadahamad786 0.13 supports merge-on-read delete: [0.13.0 Release Notes](https://iceberg.apache.org/releases/), and merge-on-read merge is still in progress, you can track progress [here](https://github.com/apache/iceberg/projects/11).

[2022-02-12 15:23] RussellSpitzer commented on #4063
Did you set ```TableProperties.UPDATE_MODE, "merge-on-read"```

[2022-02-14 03:02] #3816 closed

[2022-02-14 04:30] akghbti commented on #4093
@RussellSpitzer  My point is why the Merge command (as shown in the case in this Issue) is overwriting 3 input part files when the search clause " t._c1='13' " (part of the merge clause) only satisfies 1 input part file. The search clause (on the input table) is not being pushed.

[2022-02-14 08:59] cbwn123 opened #4113 "hive query iceberg partition table throw exception：ArrayIndexOutOfBoundsException"
Iceberg 0.13
Hive 3.1.2
hive on spark
Hive sql : select count(1) from table where event_day = '20220213'
event_day is partition column.

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:16
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1649)
	at org.apac

[2022-02-14 09:03] pvary commented on #4113
@cbwn123: What execution engine are you using?
If you are using Tez you might want to take a look at this: https://iceberg.apache.org/docs/latest/hive/#hive-on-tez-configuration

Thanks,
Peter

[2022-02-14 09:04] felixYyu opened #4114 "Spark: select * from table.partitions Exception"
spark 3.2.1
iceberg 0.13.0

1.create table partitioned by hours(ts), after insert overwrite data and drop partition field hours(ts), then `select * from table.partitions` with spark sql, but exception occurred
[code]

2.create table partitioned by bucket(5, id), after insert overwrite data and drop partition field bucket(5, id), then `select * from table.partitions` with spark sql, but exception o

[2022-02-14 09:09] pvary commented on #4113
I am afraid that HoS is not supported at all. At least we haven't tested it at all.

[2022-02-14 09:48] Reo-LEI commented on #3941
I drafted a [design document](https://docs.google.com/document/d/1zEpNYcA5Tf5ysdoj3jO425A1QRI-3OMb_Fy8EG_9DD4/edit?usp=sharing) for case 1 base on write-time logging.

But as @flyrain mentioned in email, the approach based on write-time logging would require changing the table spec and changing all engines to fit the new table spec. Therefore, I would tend to take the approach of @flyrain and try

[2022-02-14 10:28] 0xffmeta opened #4116 "ANTLR compatibility issue with spark 3.2 + iceberg 0.13.0"
Spark: 3.2
iceberg: 0.13.0

Maven dependency:
`<dependency>
    <groupId>org.apache.iceberg</groupId>
    <artifactId>iceberg-spark-runtime-3.2_2.12</artifactId>
    <version>0.13.0</version>
</dependency>`

I was trying to run the `expire_snapshot` procedure to delete the historical snapshots, but seems the spark just returned
`ANTLR Runtime version 4.8 used for parser compilation does not match

[2022-02-14 20:12] szehon-ho commented on #4090
I have an idea for this, it seems like from your log, the expected exception is still a validationException from the given line, just not from the distributed Spark delta-writer job as is expected.  Ref:

[code]

That's from here (the non-distributed version):
https://github.com/apache/iceberg/blob/master/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java#L271

Although

[2022-02-14 22:54] RussellSpitzer commented on #4114
Tried to repo this, but didn't seem to have the issue. Are you sure your classpath doesn't have entries from previous iceberg versions? Seems like it may be from the older partition metadata code.

[code]

[2022-02-14 23:12] mbabic commented on #3374
Hey everyone, just commenting to say we’re running into this issue on `0.13.0`. It unfortunately prevents us from using Spark actions for maintenance tasks (e.g. snapshot expiration) on tables for which we’ve removed a partition field.

If there’s any more work that needs to be done on https://github.com/apache/iceberg/pull/3411 or if there's any more info I can provide I’m happy to do it. :slight

[2022-02-15 00:00] szehon-ho opened #4127 "Delete files not eventually removed if RewriteDataFile run right after delete (when using 'use-starting-sequence-number' default)"
This RewriteDataFile flag value 'use-starting-sequence-number' (added and default true in #3480) seems to prevent delete files from getting cleaned up if these operations are run:

``` Delete from my_table where =  ```
=> new delete_file has sequence number = n
``` CALL %s.system.rewrite_data_files(table => my_table, options => map ('delete-file-threshold','1')```
=> new data files have sequence_n

[2022-02-15 00:09] szehon-ho commented on #4127
Not sure how common this will be in real life, but I think it is a bit of surprise to users trying to play with feature the first time.

Is the case that the flag solves (equality delete while rewrite-data-file happens) more common that default should be true?  If so, maybe the only solution here is to implement the RemoveDanglingDeleteFiles Spark job in the design doc.

[2022-02-15 03:59] FocalChord opened #4129 "Partitioning by Year/Month/Day"
[code]

Hi I would think that you would be able to create a table that is partitioned by y/m/d, when I go to create this table I get this error:

`Cannot add redundant partition: 1001: eventtime_year: year(2) conflicts with 1002: eventtime_month: month(2)`

Is this intentional/expected?

[2022-02-15 06:12] yaooqinn commented on #4129
Seems intentional, see https://github.com/apache/iceberg/pull/2061#discussion_r559051327

[2022-02-15 08:15] cwh2008 opened #4131 "FlinkSQL Client execute insert SQL error"
Hi，
   When  I set  up  iceber-flink enviroment,using  Flink1.14.3,Iceberg0.13.0;I can run create hive catalog,database,table sucessfuly,but I can't  insert  rows to the created table ;The error message is below,Any advice would be a pleasure for me.
Catalog:
Flink SQL> create catalog iceberg with(

[INFO] Execute statement succeed.

Database and Table:
create database iceberg.test;
create table i

[2022-02-15 10:19] vanliu-tx commented on #3969
closed by https://github.com/apache/iceberg/pull/2960

[2022-02-15 10:19] #3969 closed

[2022-02-15 14:08] RussellSpitzer commented on #4129
This is a design choice to prevent adding a partitioning which wouldn't change the data layout

[2022-02-15 22:34] rdblue commented on #3631
#4047 was just merged!

[2022-02-15 22:34] #3631 closed

[2022-02-15 22:37] rdblue commented on #4042
I think this works well. Since there are no other comments, I'm going to close this. Thanks!

[2022-02-15 22:37] #4042 closed

[2022-02-15 23:34] RussellSpitzer opened #4134 "Docs: Broken JavaDoc Links on Spark Procedures Page"
![image](https://user-images.githubusercontent.com/413025/154167813-9b0fd444-6c4e-44dd-82f9-569b640f78f5.png)
https://iceberg.apache.org/docs/latest/spark-procedures/

[2022-02-16 01:44] kelvin9314 commented on #4134
could i work on this if its available?

[2022-02-16 03:07] #4129 closed

[2022-02-16 05:47] coolderli opened #4137 "Flink Job failed to restore because of downstream table changed"
My Flink Job Failed to restore from the checkpoint, and throw the exception as below:

[code]

After the verification, I found the downstream table has changed. In the current implementation, we query the history of snapshots to find the max committed checkpoint-id: https://github.com/apache/iceberg/blob/master/flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.jav

[2022-02-16 05:53] coolderli commented on #4127
I have a PR to solve this problem：https://github.com/apache/iceberg/pull/3990

[2022-02-16 09:23] szehon-ho opened #4139 "Add Delete Files To Files metadata table"
I am thinking current "files" table suffices to add "delete file" information.

Today, "entries" table already shows some delete file information, though in struct form.
Example entries table "row" for positional delete file:
[code]

I think the current "files" table has an adequate schema to capture delete files metadata.

[code]

[2022-02-16 15:19] RussellSpitzer commented on #4134
@kelvin9314 go for it

[2022-02-16 18:39] #4134 closed

[2022-02-16 21:54] puchengy opened #4144 "Improve snapshot rollback failure when snapshots produced too frequent."
Hi all, I am seeing the error below.
[code]

Does it mean we shouldn’t write the new snapshot too frequent (within a minute)? I wonder should an improvement be added to the writer side to prevent such error happen? https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/TableMetadata.java#L310

The check is introduced from #1110 #1109

[2022-02-16 21:57] flyrain commented on #3997
Thanks for sharing. The Hudi metadata server makes sense generally. However, Iceberg doesn’t have the some of issues in Hudi, for example, file listing issue in Hudi metadata.

I list some benefits of an Iceberg metadata server.
1. Multiple-table transaction
2. Performance improvement
        1. Avoid send the full metadata json file from client to server
        2. Queuing multiple commits, other

[2022-02-17 01:47] felixYyu commented on #4114
thanks @RussellSpitzer , I try test again and close this issues.

[2022-02-17 01:47] #4114 closed

[2022-02-17 02:03] aokolnychyi commented on #4090
I think @szehon-ho is right. It looks like a race condition between the first delete (which may be attempted as a metadata delete) and the first insert into the table. Let me see the PR.

[2022-02-17 02:57] haizhou-zhao commented on #4072
To summarize, the issue is incurred because ID properties are not preserved when projecting list schema. (We also found the same issue for map schema). It should be fixed by https://github.com/apache/iceberg/pull/4120.

Thanks @RussellSpitzer for helping out with the issue. I'm closing this as the PR mentioned above is fixed.

Also thanks to @rdblue @szehon-ho for reviewing the PR.

[2022-02-17 02:57] #4072 closed

[2022-02-17 03:48] yittg opened #4145 "Table operations support planning with provided thread pool"
For some processing engines, it will cause exception using static common Thread pool to access manifests and plan, like #3776 in Flink.

This issue try to provide a way to support providing thread pool from processing engine.

* [x] table scan #4146
* [x] snapshot update #4147
* [x] snapshot remove #4148

[2022-02-17 04:04] yittg commented on #4145
cc @rdblue

[2022-02-17 04:24] szehon-ho commented on #4072
Nice work!

[2022-02-17 05:46] rajarshisarkar commented on #3898
I'd like to try it. Could you please assign it to me?

[2022-02-17 07:39] happyprg opened #4150 "Docs: update python-api-intro.md"
- I found wrong variable name `partition` in [python-api-intro.md](https://github.com/apache/iceberg/blob/master/docs/versioned/api/python-api-intro.md)
![스크린샷 2022-02-17 오후 4 38 24](https://user-images.githubusercontent.com/779556/154427933-4aece146-4f87-48cf-9726-61e8806ed7f3.png)
I think it should be `partition_spec`
Would you please check it?
If you are ok, I wish I could open PR for f

[2022-02-17 16:08] melin commented on #3997
" file listing issue in Hudi metadata." => RFC - 15: HUDI Metadata Table and Cloud/DFS File Listing Improvements

[2022-02-18 06:07] aokolnychyi opened #4159 "Define behavior of gc.enabled and location ownership"
The question about location ownership and file removal comes up in a lot of discussions. See [here](https://github.com/apache/iceberg/pull/3056#discussion_r804826159) for an example.

Right now, our interpretation of `gc.enabled` is not consistent.
- `HadoopTables` ignores it while purging files.
- `CatalogUtil` keeps data files if `gc.enabled` is true while purging files and removes all metadata

[2022-02-18 09:39] felixYyu opened #4161 "Spark:CALL [rewrite_manifests] error Manifest is missing"
spark 3.2.1
iceberg 0.13.0
How to deal with this case? thanks.
[code]

error message:
`Current hadoop_prod.wmsb.wms_do table CALL [rewrite_manifests] error Manifest is missing: hdfs://jybigdata/iceberg/warehouse/wmsb/wms_do/metadata/ab8d63b7-4d8c-450c-8cf5-e89eb257ba71-m0.avro`

[2022-02-18 10:03] felixYyu commented on #4161
BaseRewriteManifests check method:
[code]

[2022-02-18 11:22] otayel commented on #2796
I am also seeing this problem on our side. Any insights how we can solve it?

[2022-02-18 12:03] peay opened #4164 "Vectorized Parquet reader spends a lot of time in `getVectorAccessor`"
I have observed the vectorized Parquet reader to be quite slow on a simple benchmark reading with Spark a table with Parquet objects of size about 512MB with a dozen of dictionary encoded numerical and string columns.

- With default settings (Spark's reader uses batches of 4096 records, and Iceberg's reader uses batches to 10000 records, Iceberg's vectorized reader appears 10x slower than Spark's

[2022-02-18 19:12] krisdas opened #4168 "Flink S3Fileio incorrect commit"
Flink version : 1.13.2
Iceberg version : 0.12
We were trying S3Fileio instead of default hadoop fileio, to ingest data into iceberg on S3.

While commit/saving checkpoint, we see below call stack while uploading data file. So looks datafile (for example : s3/bucket/.../iceberg_db.db/iceberg_table/data/file.parquet) upload fails.

[code]

But on the iceberg manifest file, that data file (s3/bucket/

[2022-02-18 19:23] dramaticlly commented on #4168
So essentially what we observed is that the Flink S3 FileIO failed to upload the data files due to file not exist, but the missing data file is incorrectly tracked in iceberg manifest. So the subsequent query against the partition will fail as the claimed data file cannot be found.

Our iceberg was setup on AWS S3 with versioned bucket and we can confirm that the
- data file never get uploaded, no

[2022-02-18 19:50] szehon-ho commented on #4139
@jackye1995 @rdblue @chenjunjiedada  (or sorry if missed someone also involved) wanted to check, has there been some  discussion of the whether this is a good way to go (re-use existing data_files table), versus making a new metadata table for delete files?  Thanks

I am thinking that the obstacle would be the naming, ie 'files' indicates data+delete files , and its current counterpart 'all_data_f

[2022-02-18 23:56] rdblue commented on #4139
The `all_data_files` metadata table was added after we were planning to add delete files, which is why we fixed the name. I'd prefer to add a separate `delete_files` metadata table since they're reasonably separate. I'm not sure whether we should add deletes to `files` or not, but I like the ability to read separate metadata tables.

What do you think, @szehon-ho?

[2022-02-19 00:11] szehon-ho commented on #4139
Got it, thanks for the background/reply, then it seems all_data_files was designed to only have data files and thus we need all_delete_files.

Was initially thinking the content field in 'files' should be enough to filter out data vs deletes, but I think a delete_files table is also reasonable too to keep it symmetric (content is still useful to distinguish between kinds of deletes).

[2022-02-19 00:40] aokolnychyi commented on #4159
I agree with that but I'd phrase it slightly differently. It see it more like a consequence. I'd say `gc.enabled` should control whether we can delete data and delete files (i.e. expire snapshots). Metadata files are considered always owned and can be deleted during table purge. A list of owned locations indicate what locations can be scanned for orphan files and what locations can be deleted duri

[2022-02-19 02:34] KarlManong commented on #4090
Thank you @szehon-ho  @aokolnychyi !

[2022-02-19 11:41] felixYyu commented on #4161
cc @racevedoo，@ajantha-bhat
the expire_snapshots->rewrite_data_files->rewrite_manifests->remove_orphan_files of processing in a transaction is it correct?

[2022-02-19 15:21] ajantha-bhat commented on #4161
regarding the order I guess `expire_snapshots` should be called after `rewrite_data_files` files to clean up old data files which are compacted into the new files.

No need to call  `remove_orphan_files` every time (as having orphan files is rare scenario)

And regarding the error on `rewrite_manifests`,
a. Is it a sequential operation or concurrent with other operations here?
b. Is this problem o

[2022-02-19 23:22] vikrambohra commented on #2456
@rdblue
I am seeing the same issue when writing a dataframe with df.write.format("orc").save(path) and then reading it back with df.read.format("orc").load(path) even when setting the check-nullability to false when writing the dataframe to iceberg.

[2022-02-19 23:22] vikrambohra commented on #2456
@bgt-cdedels @coolderli Did you find a way to overcome this problem?

[2022-02-20 00:58] rdblue commented on #2456
@vikrambohra, I was just working on a similar problem and to fix it, I'm adding a table property that allows you to disable Spark's checks and use Iceberg's instead. Take a look at the changes in #4154.

[2022-02-20 01:33] vikrambohra commented on #2456
Thanks for the reply @rdblue. We are on spark 2.3 at the moment. Will this change be back-ported to spark 2.3?

[2022-02-20 04:11] amogh-jahagirdar commented on #4159
For expire snapshots, I think it's possible that we do not delete any manifest or data files in the case that those files are still referenced by later snapshots. If we don't allow expiring snapshots when gc.enabled is false, we would prevent them from performing the metadata update to remove snapshots which may be limiting.

Should we differentiate between performing the metadata operation to exp

[2022-02-20 06:26] jackye1995 commented on #4159
Thanks for raising this thread! I was also planning to raise the same discussion but had some thoughts to finalize. I have been thinking about this question quite a lot recently, here are my current thoughts:

## 1. gc.enabled

I think as of today almost all the Iceberg users that tune this parameter are interpreting `gc.enabled=false` as "disallow removal of data and delete files" as @aokolnychyi

[2022-02-20 16:23] rdblue commented on #2456
@vikrambohra, Spark 2.3 doesn't hit this issue because this is caused by Spark adding schema validation in 3.0 and later. If you're using 2.x, then you should already be using Iceberg schema checking and you can turn off the nullability check directly.

[2022-02-20 17:08] #4116 closed

[2022-02-21 01:47] felixYyu commented on #4161
thanks @ajantha-bhat .
a.it is sequential operation, order of expire_snapshots->rewrite_data_files->rewrite_manifests->remove_orphan_files.
b.I only test for table in hadoop catalog.

[2022-02-21 02:52] coolderli opened #4176 "Change column set not null failed"
I want to change the columns and set it not null, but got the exceptions:
[code]

I found the [doc](https://iceberg.apache.org/docs/latest/spark-ddl/#alter-table--alter-column), and the syntax should be supported. But I also found the exception is in line with expectations: https://github.com/apache/iceberg/blob/master/spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java

[2022-02-21 02:54] coolderli commented on #4176
@rdblue @RussellSpitzer Can you take a look, thanks.

[2022-02-21 03:15] flyrain commented on #4046
As @RussellSpitzer mentioned in https://apache-iceberg.slack.com/archives/C025PH0G1D4/p1645289087247769, the MOR deletes make the metrics unreliable. In that case, we still need to read data files.

[2022-02-21 03:18] qq240035000 commented on #3968
I want it too

[2022-02-21 04:43] pan3793 commented on #4176
The restriction comes from Spark, Spark does not allow change a nullable column to not nullable.

[2022-02-21 05:17] coolderli commented on #4176
Do we need to modify the document to explain it?
![image](https://user-images.githubusercontent.com/38486782/154893741-fa9727d1-1999-4a05-af4e-b8a801d47e44.png)
https://iceberg.apache.org/docs/latest/spark-ddl/#alter-table--alter-column

[2022-02-21 08:44] yittg commented on #2575
I encountered this failed test case twice, and i think i reproduced it locally.

Before diving it deeply, i think it's better to share the log here,
and at first glance it looks like it is different from [the conclusion](https://github.com/apache/iceberg/pull/4117#issuecomment-1042701849).

The following is the detail:

[code]

The result as expected
[code]

[2022-02-21 09:39] openinx commented on #2575
Thanks for the detailed log message,  Did you find the way to reproduce this failure in you local host?  ( I still can not reproduce).

I read the log message carefully, it's quite strange that producing 4 data files in a single checkpoint.

[code]

Only the partition 'aaa' produces two orc data files.

[2022-02-21 10:11] yittg commented on #2575
@openinx i can not reproduce it stably for now,
I think you can just repeat it multiple times, for example, by generating thousands of `parameters`, or script.
And i think decreasing the checkpoint interval can help reproducing it, for example, to 100ms.

[2022-02-21 12:14] otayel commented on #2796
Adding some update from my side. So this was happening to me consistently when I am trying to run a sql query from spark to delete some entries.  reading more online, usually this exception is tied when s3 fails to upload a file due to network issue and retries again using the data from buffer but if the data was too bigger than buffer size (default 128kb) then it throws the above exception. Looki

[2022-02-21 12:52] openinx commented on #2575
Here we have only 1 parallelism in this unit test to write records in this stream flow:

[code]

And we have the following records that need to write into the partitioned table (partition field is `data`):

[code]

Then:

**Step#1**  we write the following records into orc files:

[code]

**Step#2**  checkpoint barrier was encountered, so the IcebergStreamWriter emits the `1.orc`, `2.orc`, `3.orc`

[2022-02-21 17:54] donatobarone commented on #3941
+1 we have started to investigate iceberg internally and we realised that the CDC available today was just for append operations, which is definitely not ideal as processes will have to be built around the point in time functionalities to be able to get the changes.
Great that the community is looking into this

[2022-02-21 18:54] #4145 closed

[2022-02-21 18:54] rdblue commented on #4145
Thanks for getting these in!

[2022-02-21 19:11] jackye1995 commented on #4168
cc @danielcweeks do you see similar issues in your environment for S3FileIO? Sounds like we might be swallowing some exceptions in the progress multi-part upload logic

[2022-02-21 22:22] #4150 closed

[2022-02-22 05:13] yittg commented on #2575
The following test can easily failed, i think it is equivalent to the original IIUC. It will lead to different kinds of error:
1. Committing with more than one files in one snapshot;
2. Committing with one file in each snapshot, but failed on the final assert.

Hope it can help, @openinx.

[code]

[2022-02-22 05:46] yittg commented on #2575
This can be fixed by the following change:

[code]

[2022-02-22 07:14] singhpk234 opened #4188 "[Spark] Support Runtime Filtering on Data Columns"
At present Iceberg only supports runtime Filtering on partition columns with **Apache Spark**, this issue proposes how we can achieve the runtime Filtering in data columns. Let’s say a runtime filter on data column is injected by spark to Iceberg at present we will simply evaluate it against partition columns and since the filter was present in data column level, hence a TrueLiteral will be return

[2022-02-22 07:16] yittg commented on #2575
For part-1, i think the following log is more detailed by adding some flag log,
It's mostly like because `EndInput` comes before `notifyCheckpointComplete`. With the following timeline:
_W is for IcebergStreamWriter, C is for IcebergFilesCommitter_
* [W]file-1 created;
* [W]checkpoint-1 prepared;
* [W]result with file-1 emitted;
* [W]file-2 created;
* **[C]checkpoint-1 notified, snapshot-1 with fi

[2022-02-22 08:01] openinx commented on #2575
@yittg  I think the #4189 & #4187 can still fix the all case you described.  Would you mind to check & verify this again after apply those two PR ?

[2022-02-22 08:30] yittg commented on #2575
@openinx sure, i'll check it later

[2022-02-22 09:12] naisongwen opened #4190 "flink:FlinkSink support dynamically changed schema"
Now,FlinkSink requires developers to transfer the schema parameter to build DataStream, which means once the schema given,then the TableSchema will be determinded, canot be changed for ever ,but in practical scenarios,some data format,for example ,JSON,the tranformed schema is unfixed with field added,deleted or renamed and so on,so we want to change the mapped TableSchema while the DataStream is

[2022-02-22 09:15] KarlManong opened #4191 "Can't alter database set new location when using hive metastore 2.3.x"
accoding https://issues.apache.org/jira/browse/HIVE-22229,   '[[alter databse location](https://spark.apache.org/docs/latest/sql-ref-syntax-ddl-alter-database.html)](https://spark.apache.org/docs/latest/sql-ref-syntax-ddl-alter-database.html#alter-location)' statement will not work. While hive 3.1.2 has patched https://issues.apache.org/jira/browse/HIVE-8472
Will you update the doc or change hive'

[2022-02-22 09:56] KarlManong commented on #4191
Also see https://issues.apache.org/jira/browse/SPARK-29260

[2022-02-22 09:56] Initial-neko opened #4192 "Remove Orphan Files error..."
when I call SparkAction
`SparkActions
                .get()
                .deleteOrphanFiles(table)
                .olderThan(System.currentTimeMillis() - 1000000)
                .execute();`
it throws

`Exception in thread "main" java.lang.IllegalArgumentException: Cannot find the metadata table for xxxx of type ALL_MANIFESTS
	at org.apache.iceberg.spark.actions.BaseSparkAction.loadMetadataT

[2022-02-22 12:56] RussellSpitzer commented on #4192
The issue is probably that the table object you are using is not from the configured Spark Catalog.  Try loading the table instance without Spark3Util.loadIcebergTable.

The error is because Spark needs the catalog name to match the one in the Spark conf. Otherwise it does not know where to find the table. When instantiating a new table using the Java api it will have the default catalog name whic

[2022-02-22 13:57] #4191 closed

[2022-02-22 13:57] KarlManong commented on #4191
ALTER DATABASE SET LOCATION statement changes the default parent-directory where new tables will be added for a database. Please note that it does not move the contents of the database’s current directory to the newly specified location or change the locations associated with any tables/partitions under the specified database (available since Spark 3.0.0 with the Hive metastore version 3.0.0 and l

[2022-02-22 14:09] jotarada opened #4194 "Delete Orphan Files makes metadata inconsistent and table unusable"
After run the deleteOrphanFiles task on a table it dropped several files.
After that we could't use the table anymore:
[code]

And i can see from the deleteOrphanFiles task logs that is one of the files that were deleted.

Some how the table metadata is inconsistent withe the real files. Is there a way to fix it?

[2022-02-22 17:50] szehon-ho commented on #4139
also fyi @RussellSpitzer @aokolnychyi @flyrain

[2022-02-22 23:37] SreeramGarlapati commented on #3859
@flyxu1991 - I see that you closed this issue - did any discussion happen on this? pl. let me know how you are handling this case?

[2022-02-23 00:43] aokolnychyi opened #4200 "Support vectorized Parquet reads with INT96"
We should support INT96 timestamps in imported files with vectorized reads.

[2022-02-23 00:45] aokolnychyi commented on #4200
cc @gustavoatt @edgarRd as you expressed interest in INT96 timestamps before

[2022-02-23 01:24] aokolnychyi commented on #4159
Sorry, was distracted. Let me catch up.

[2022-02-23 03:05] Initial-neko commented on #4192
Our tables are loaded through hivecatalog. There will be no such problems in expiresnapshot and rewrite operations. I will confirm it; Thanks for your reply~

[2022-02-23 03:21] stevenzwu commented on #4137
@coolderli is my understanding below correct?

Regarding `getMaxCommittedCheckpointId`, I guess you are saying that the snapshot containing the last commited checkpointId expired and hence `getMaxCommittedCheckpointId` returns -1. I agree that in this case we shouldn't try to execute `getMaxCommittedCheckpointId`. It will result in duplicates in this case.  Because the checkpointed manifest file w

[2022-02-23 04:30] aokolnychyi commented on #4159
That's generally true but there is a valid use case for keeping data files: you may use SNAPSHOT command in Spark that would create an Iceberg table pointing to non-Iceberg files. Those referenced data files may belong to other prod Hive tables. We allow to create Iceberg metadata to play with that data but we can't remove the imported data files. It may corrupt original tables.

I hear your point

[2022-02-23 04:43] #2456 closed

[2022-02-23 06:54] kevinliu-stripe opened #4204 "Snapshot Id as LongType in metadata tables"
#### Ask
Metadata tables (defined in #252) defines `snapshot_id` and `parent_id` a `LongType` value. Can this be defined as string value instead? As far as I know, there's no arithmetic operations on snapshot it, nor should there be.

#### Problem
In our setup of Iceberg + Trino, we use an internal frontend to display the metadata table from Trino. The `snapshot_id` field is represented in `LongTy

[2022-02-23 08:38] ConeyLiu commented on #4159
As @aokolnychyi suggested in [3056](https://github.com/apache/iceberg/pull/3056), we use `DeleteReachableFiles ` to purge table data which could provide much more scalability and performance. While there still some drawbacks that need to consider:

1. Different catalog has a different implementation for drop table. For example, `HadoopCatalog`/`HadoopTables` delete the whole warehouse directly and

[2022-02-23 16:23] rdblue commented on #4194
@jotarada, do you have any information about the run that deleted the file? Were there concurrent writes? And what length of time did you use for `older_than`?

The interval you use is important if you have jobs that run for a long time. What usually is the case when this happens is that the `older_than` timestamp allows removing files that haven't been committed yet. For example, if you have `old

[2022-02-23 17:23] yegangy0718 opened #4209 "delete field in a referred schema causes redefine schema issue after applying schema projection"
We have a schema called RequestContextEvent. Inside the schema, it defines a record named RecognitionMetrics.  RecognitionMetrics is referred by another record called FailedRecord in the schema.
[code]
We use this schema to create the iceberg table. And later, we want to delete the optionalLongField in RecognitionMetrics. So the new schema becomes

[code]
Our iceberg evolution code never drops col

[2022-02-23 21:27] vikrambohra commented on #2456
@rdblue
I am using spark version: 2.3.0 and iceberg-spark: 0.11.0.14
The code for nullability check during write is in IcebergSource
specifically here:
  public Optional<DataSourceWriter> createWriter(String jobId, StructType dsStruct, SaveMode mode, DataSourceOptions options) {
...
    Schema writeSchema = SparkSchemaUtil.convert(table.schema(), dsStruct);
    TypeUtil.validateWriteSchema(table.s

[2022-02-23 21:58] itaise opened #4212 "Field comments are not written for timestamp field"
We are trying to write field comments using spark, and comments are not written for timestamp (without tz) fields.
For timestamp with timezone fields comments are written.

Here is a minimal example that reproduces the issue:
[code]

When the config (use-timestamp-without...) is set to true, the data type is Timestamp, but without the field comments.
When it is set to False - The timestamp is with

[2022-02-23 22:09] rdblue commented on #2456
What was the error that you hit?

[2022-02-23 22:27] vikrambohra commented on #2456
java.lang.IllegalArgumentException: Cannot write incompatible dataset to table with schema:
table {
  1: header: required struct<11: memberId: required int (The LinkedIn member ID of the user initiating the action.  LinkedIn member IDs are integers greater than zero.  Guests are represented either as zero or a negative number.), 12: viewerUrn: optional string (The LinkedIn URN of the user initiati

[2022-02-23 23:00] RussellSpitzer commented on #3374
Took another look at #3411, sorry for the delay. I was a little confused on the issue but now I see the problem and have a workaround to try for folks dealing with this now.

From what I can tell, the issues is primarily with V1 Iceberg tables where a column has a transform applied to it that changes its type, and then is dropped.

For example `bucket(10, stringColumn)` has a type "int" but when d

[2022-02-24 10:04] andrey-mindrin opened #4217 "Slow performance on TPC-DS tests"
We’ve tested Iceberg performance vs Hive format by using Spark TPC-DS performance tests (scale factor 1000) from Databricks and found 50% less performance in Iceberg tables.

Environment:
1. On premises cluster which runs Spark 3.1.2 with Iceberg 0.13.0 with the same number executors, cores, memory, etc.
2. Parquet codec snappy
3. Tables were partitioned like in original Hive tables
4. Tables were

[2022-02-24 13:44] zihaochen68 opened #4219 "where is comment info for column or table in iceberg"
i can not find comment info in {version}.metadata.json

[2022-02-24 15:49] RussellSpitzer commented on #4217
Could you add some more details? Like what particular tests were slower? How did you configure the Iceberg Table? What kind of storage did you use?

It may be helpful to see the exact commands run to replicate the test.

[2022-02-24 16:35] andrey-mindrin commented on #4217
Used https://github.com/databricks/spark-sql-perf, tested on HDFS. Try for example q7-v2.4.

[2022-02-24 20:19] vikrambohra commented on #2456
@rdblue
I hope I did not confuse you with all this info. LMK if the above is unclear

[2022-02-25 03:12] openinx commented on #2575
Plan to close this issue now because we've merged a final fix.  Feel free to reopen this if there is any other issue.

[2022-02-25 03:12] #2575 closed

[2022-02-25 04:30] itaise commented on #4219
Can you give details on how you wrote the comments on the fields?

[2022-02-25 04:35] itaise commented on #4212
@rdblue mentioned that field comments are supported for timestamps. Might be an issue with this config?

[2022-02-25 04:53] huzk8 opened #4222 "[BUG] flinkcdc to Iceberg Error when appear delete event"
## desc
when i delete data in mysql，flink job will error.

## env dependence
flink version :1.13.5-2.11
Iceberg  version  0.13.1

## flinksql  info
[code]

## error msg
[code]

[2022-02-25 06:04] AlexLY123 opened #4224 "Modify the individual field values instead of overwriting the entire row"
Currently, datas are modified by overwriting the entire row when we upsert the datas in the inceberg table. For example, there's a table that called  Table_A with three fields（Field_1、Field_2、Field_3). When we only upsert the Filed_1 value  by primary key， there will be a new row that Field_2 is null and Field_3 is null. I think  it is necessary to develop the new upsert model that modifying the i

[2022-02-25 06:06] AlexLY123 opened #4225 "Compact the iceberg table of V2 to delete two kinds of deleting file and merge the some small datafile"

[2022-02-25 06:17] zihaochen68 commented on #4219
i'm create a table in flink SQL
Here is my catalog:
[code]
Then
[code]

where can i find my comments for table or column.
There are not in hive or {version}.metadata.json

thnx

[2022-02-25 06:30] AlexLY123 commented on #4225
Now there are two kinds of deleting file that are position delete file an d enqulity delete file in the model of MOR. In our practical application, it produced a large number of deleted files. And the more serious problem is that we can't merge data files as there are some errors. These problems will result in very slow queries and adding cluster stress with a large number of small files.  So I do

[2022-02-25 06:57] AlexLY123 commented on #4225
We need to make different compression mechanisms based on execution time and resource costs.  For example， we can make the minor compaction and major compaction just like hbase. The minor compact will be executed frequently with very low resource consumption and short time consumption， for example, only merging postition delete files generated by the latest snapshot at a time.  The major compact w

[2022-02-25 07:37] ajantha-bhat commented on #4225
@AlexLY123 :

compaction already handles merging the delete files. but by default it is disabled. Need to configure the
`delete-file-threshold` to enable it.
https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java#L87-L88

Also regarding major and minor compaction. Even though we don't have similar to hbase, we can run compaction based on th

[2022-02-25 07:38] dylzlt commented on #4222
The default format-version of iceberg table is 1. You should set the format-version of iceberg table to 2.
You should change the DDL:
CREATE TABLE `hadoop_catalog`.`default`.`t_products`(
 id INT ,
  name STRING,
  description STRING,
  weight float,
  PRIMARY KEY (id) NOT ENFORCED
) WITH ('format-version'='2');

[2022-02-25 07:50] whbing opened #4226 "[Spark] Preserves the original table format when migrating from hive to Iceberg"
Run the following command to migrate the Hive table. The default table format is `parquet` even if the original table format is `orc`. This patch will preserves the format of the original hive table if no table format is specified.
[code]

[2022-02-25 08:31] andrey-mindrin commented on #4217
Additional information. Total size of data is about 300 Gb in parquet, tried different options for iceberg tables including vectorization, distributed by hash and range. Iceberg tables created with a query like

`create table ice_table using iceberg partition by (column) location ‘hdfs://location’ tblproperties(‘vectorization-enabled’=true,’write.parquet.compression-codec’=’snappy’,’ write.distrib

[2022-02-25 08:43] huzk8 commented on #4222
useful for me.

[2022-02-25 08:44] huzk8 commented on #4222
useful for me .

[2022-02-25 10:38] Ranjith-AR commented on #1894
I tried replicating the dual partition example provided in the docs
https://iceberg.apache.org/docs/latest/spark-writes/

![image](https://user-images.githubusercontent.com/98068359/155699118-af66b0e6-67cd-43d0-9588-ad6610849873.png)

Created the below table:
-------
"CREATE TABLE nyc.green_taxis_by_days_vendorid (
    VendorID string,
    lpep_pickup_datetime timestamp,
    lpep_dropoff_datetime

[2022-02-25 12:23] apatrida commented on #761
Looks like no atomic rename:

https://github.com/minio/minio-js/issues/787
https://docs.min.io/docs/disaggregated-spark-and-hadoop-hive-with-minio.html

[2022-02-25 13:19] felixYyu opened #4230 "Spark:rename table column name from lower(data) to upper(DATA)?"
`ALTER TABLE prod.db.sample RENAME COLUMN data TO DATA`

[2022-02-25 13:20] felixYyu commented on #4230
cc @rdblue @RussellSpitzer @jackye1995

[2022-02-25 21:12] RussellSpitzer commented on #4230
Are you asking about the case insensitivity of SQL?

[2022-02-26 00:56] felixYyu commented on #4230
yes

[2022-02-26 03:10] zihaochen68 commented on #4219
It works when I use the Java API, There seems to be something wrong with Flink API

[2022-02-26 03:10] #4219 closed

[2022-02-28 06:46] #2918 closed

[2022-02-28 06:46] #3551 closed

[2022-02-28 07:15] singhpk234 commented on #4188
ping !!

---

Happy to take this up if the community thinks it adds value.

[2022-02-28 09:30] Initial-neko opened #4238 "TTL plan"
table needs TTL, so a new parameter table.ttl is needed

The table needs to have an explicit time field DT. Get the table through catalog,

[code]

[2022-03-01 03:41] felixYyu commented on #4230
MySQL table column name is Upper，execute function of `from_json(col("data"), icebergSchema)`, so Iceberg table column name shoud case consistency. then I traverse the iceberg schema structType and modify field to Upper. thanks @RussellSpitzer and close it.

[2022-03-01 03:41] #4230 closed

[2022-03-01 09:27] luohaifang commented on #3968
i also want to

[2022-03-01 10:51] aokolnychyi commented on #4159
Well, I'd also love to see consistent behavior. However, path-based tables are quite special: there is no table pointer in the catalog. Any thoughts on what drop without purge may mean for them? Maybe we should only allow drop with purge = true for path-based tables? That way, we will have consistent behavior across catalogs but path-based tables won't support some functionality?

[2022-03-01 17:10] shiyuhang0 commented on #1756
I am new to use spark and I would like to know how to  `override the session catalog with the iceberg V2 session catalog`

[2022-03-01 18:47] szehon-ho commented on #1756
I think this will be done when you follow the steps in the Spark Getting Started Guide:  https://iceberg.apache.org/docs/latest/getting-started/

[2022-03-01 19:07] kbendick opened #4249 "Allow disabling `HiddenPathFilter` from `RemoveOrphanFiles`"
There's a `PathFilter`, `HiddenPathFilter`, that is used during the `RemoveOrphanFiles` Spark actions (amongst other places).

Hadoop filtering will remove anything with an underscore or a dot in a path, so if a partition filter is created that has a leading underscore, then remove orphan files will fail to remove these files.

We should update `RemoveOrphanFiles` to handle cases where directories

[2022-03-01 20:04] jun-he opened #4250 "[Python] support iceberg literal classes"
Literals are wrapper classes to be used in expressions, which return unbound predicates.
Here is the current python implementation, https://github.com/apache/iceberg/blob/master/python_legacy/iceberg/api/expressions/literals.py
and the Java implementation:
https://github.com/apache/iceberg/blob/master/api/src/main/java/org/apache/iceberg/expressions/Literals.java

We want to refactor the current o

[2022-03-01 20:07] dramaticlly commented on #4250
hey @jun-he , I can help this task. But in the mean time, can you share a bit more in detail on what's the success criteria of this task? It might help both assignee and reviewer

[2022-03-01 21:45] jun-he commented on #4250
@dramaticlly  Thanks for taking it. Added some details to the description based on the offline discussion. Please let me know if you have any additional questions.

[2022-03-02 02:01] openinx commented on #3968
@qq240035000 @luohaifang I did not try the flink + iceberg on Minio environment, but as Minio is an AWS S3 compatible storage  file system,  so I think you can follow the AWS flink document to try your demo. The difference is:  the catalog I think we will need to use HiveCatalog, right ? ( Minio don't has any DynamicDB service to provide the table lock service).

[2022-03-02 05:41] felixYyu commented on #4249
I want to try to realize it.

[2022-03-02 07:23] yittg opened #4251 "Proposal: Support partition with transform for Flink SQL"
For now, only the `identity` partition transform is supported with flink SQL. To support other generic transforms, it is expected that Flink SQL supports defining partitions with transform. It depends on the support of Flink engine and the corresponding transformers. Here proposes another way to support partition with transform by composing the computed columns and partition list in flink.

The ba

[2022-03-02 14:18] qq240035000 commented on #3968
0.13.0 Release Notes

[2022-03-02 14:19] qq240035000 commented on #3968
0.13.0 Release Notes

[2022-03-02 14:30] qq240035000 commented on #3968
0.13.0 Release Notes
Any S3-compatible storage (e.g. MinIO) can now be accessed through AWS S3FileIO with custom endpoint and credential configurations [[#3656](https://github.com/apache/iceberg/pull/3656)] [[#3658](https://github.com/apache/iceberg/pull/3658)]

I do not know how to configure the credential configurations and use S3FileIO. The AWS flink document do not show with detail. @openinx

[2022-03-02 16:25] melin opened #4253 "[SUPPORT]Add snapshot,  send event notification, user can customize listener"
Hive MetaStore provides the Event notification mechanism, but snapshot information is not stored in HMS. Therefore, change notifications cannot be obtained in real time

There is a need. The upstream system periodically writes Hudi data to the object storage. The downstream system needs to know the changes of Hudi data. Currently, the upstream system can only periodically query Hudi snapshot infor

[2022-03-02 21:27] vikrambohra commented on #2456
any ideas @rdblue ?

[2022-03-03 02:10] sumeetgajjar opened #4257 "Implement FileIO for Azure"

[2022-03-03 02:10] sumeetgajjar commented on #4257
I am working on this, will publish a PR soon :)

[2022-03-03 06:09] #3272 closed

[2022-03-04 00:10] aokolnychyi commented on #4139
Okay, it seems we are in agreement to add these two tables:
- DELETE_FILES
- ALL_DELETE_FILES

I also think we need to do something about `files`. Right now, it is inconsistent. I see two options:
- Option 1: Add an alias `data_files` and treat `data_files` as `files`.
- Option 2: Show both data and delete files in `files` and add a separate `data_files` table.

While Option 2 seems more consisten

[2022-03-04 00:43] rdblue commented on #4139
I would expect that `files` produces all data and delete files. I would go with option 2 since it makes the most sense. That said, if we can think of a case where adding delete files to `files` may cause a problem then we should probably not do it. But I think it is more likely that there is confusion that it does _not_ include delete files currently.

[2022-03-04 01:02] aokolnychyi commented on #4139
I believe only Flink heavily uses v2 tables at this point. Since we just added proper support for writing delete files in Spark and still have some gaps in maintenance, I think it should be safe. Let me know if anyone has any concerns.

cc @RussellSpitzer @flyrain @szehon-ho @pvary @rymurr @openinx @stevenzwu

[2022-03-04 01:03] aokolnychyi commented on #4139
The current plan:
- Add DELETE_FILES
- Add ALL_DELETE_FILES
- Make FILES report both data and delete files
- Add DATA_FILES

[2022-03-04 01:18] wypoon commented on #4217
I have done some experiments along this line too. The way I created the Iceberg tables from the TPD-DS Hive tables is using the snapshot procedure to create them in a different database:
[code]
This creates Iceberg tables backed by the same underlying data. As we're not writing to the tables, this does not create any problems.
For the same value of `spark.sql.autoBroadcastJoinThreshold` Spark will

[2022-03-04 01:40] wypoon commented on #4144
This is a bug introduced in 0.13.0. It is fixed by https://github.com/apache/iceberg/pull/4135 in the 0.13.x branch, and if we release a 0.13.2, it will be there. In master, it is fixed by https://github.com/apache/iceberg/pull/4089.

[2022-03-04 04:38] AlexLY123 commented on #4225
thanks , now we use the iceberg of 0.12.0. We will test the rewrite_data_files by using the master brach.

[2022-03-04 04:47] AlexLY123 commented on #4225
Now we user the iceberg with 0.12.0. In this release of 0.12.0, there isn't the compaction function to merge the delete files.
We think we should add the action to merge the delete file as major compact.  After compacting we can merge the data files.

[2022-03-04 05:26] KarlManong opened #4265 "`DeleteOrphanFiles` didn't check the owned table, may case meta missed"
Once two tables pointed the save location. Call DeleteOrphanFiles on one of these tables, will delete the other's meta files.

[2022-03-04 12:45] pvary commented on #4139
I am fin with having the new metadata tables.

[2022-03-04 15:54] cccs-mjs commented on #3546
In the Iceberg docs for Spark Configuration (https://iceberg.apache.org/docs/latest/spark-configuration/#using-catalog-specific-hadoop-configuration-values) it shows using a Hadoop catalog with s3.  Is that configuration also not recommended for production usage?

[2022-03-04 18:21] szehon-ho commented on #4159
This is an interesting idea I also considered at one point, having the option to provide the whole listing for S3-based storage bucket, filter out for all locations owned by known tables, and run remove orphans on those locations?  If you know ahead of time your 'bucket' is majority files iceberg tables, might be less expensive overall (though this sounds like a single monster job if we are bottle

[2022-03-04 18:55] szehon-ho commented on #4139
Makes sense to me, thanks guys.  (or welcome to more opinions).

For completeness, I think we could also have ALL_FILES at some point (for user to conveniently see total reachability graph of Iceberg)

[2022-03-04 19:17] rdblue commented on #4139
I think `all_files` makes sense.

Unrelated but similar is that we should think about how to manage the reachability set as we add new structures. I think that we may want to have TableMetadata report a reachable set of files that are referenced there. Then we'd only need to union that with all_manifests and all_files.

[2022-03-04 21:30] RussellSpitzer commented on #4139
Do we have to do a deprecation warning for FILES? or is it ok to just switch the behavior in 0.14

[2022-03-05 00:14] szehon-ho opened #4271 "Partition Filter Pushdown for Files Metadata Table always takes current partition spec to evaluate manifest"
From : https://github.com/apache/iceberg/pull/4243/files#r819331312

Seems like this line:  https://github.com/apache/iceberg/blob/apache-iceberg-0.13.1/core/src/main/java/org/apache/iceberg/DataFilesTable.java#L114 is wrong and we should take the manifest file's spec.

[2022-03-05 00:24] aokolnychyi commented on #4139
Adding `ALL_FILES` makes sense to me too.

@rdblue, do you mean other json files reported by `previousFiles` in `TableMetadata`?

I don't think we will mark FILES as deprecated. I'd just add delete files to it, which I consider rather a fix than a behavior change. We should give a warning in the release notes, though.

[2022-03-06 03:51] ConeyLiu commented on #4159
drop or purge thinks should be the same mean for the path-based tables. In traditional database, the drop will move the table into the recycle bin and could restore the table with some command. However, purge will clean all data and cannot restore it. Maybe we should refer to such a design?

[2022-03-07 19:51] shiyancao opened #4281 "Support Avro Schema Field with Default Value to Iceberg Optional Column during Schema Conversion"
### Issue

Hello,

Is it possible to support Avro Schema field with default value to Iceberg optional column for schema conversion? In Avro, field with default value is treated as optional. Adding or removing optional field is supported in [full transitive](https://docs.confluent.io/platform/current/schema-registry/avro.html#summary) Avro schema revolution mode.

However, when we convert it to Ice

[2022-03-07 21:27] aokolnychyi commented on #3941
Based on Yufei’s design doc and what we discussed during the sync, I’d like to share my thoughts on what can be efficiently supported right now.

### Assumptions

- Changes are consumed per snapshot, rows that are added and removed in the same snapshot can be skipped

Iceberg does not distinguish the order of records within a snapshot. Users may manually deduce this using a data column. However, t

[2022-03-07 22:25] tprelle opened #4282 "Hive : Hive throw a NullPointerException when accessing a null struct inside a map."
If we have a column which is a map of a struct, if the value for the key is null, instead of return null as in spark, hive iceberg will throw a NullPointerException

`[2022-03-07 10:46:07]   Caused by: org.apache.hadoop.hive.ql.metadata.HiveException: Error evaluating struct(_col3,_col2['key'].context).col2
[2022-03-07 10:46:07]       at org.apache.hadoop.hive.ql.exec.SelectOperator.process(Select

[2022-03-07 22:42] Fokko opened #4284 "Add doctest for Python"
I was going through the Python code, and noticed that not all examples are valid. For Python there is Doctest to automatically check the examples in the docstring: https://docs.python.org/3/library/doctest.html This will make sure that our examples are up to date, and that can do simple assertions in the docstring 👍🏻

[2022-03-08 09:25] itaise commented on #4212
@rdblue we will be very grateful to get your input on this. thank you!

[2022-03-08 12:05] igorcalabria opened #4288 "NullPointerException in spark rewrite_manifests procedure"
Using snapshot version `0.13.0-20220307.001124-2`. Spark version 3.2

[code]
I think this may have been introduced in https://github.com/apache/iceberg/pull/4050 From a quick glance at the code it seems that the root cause is that `HadoopMetricsContext#statistics` is a transient variable. If I understood thingas correctly, `HadoopMetricsContext` is initialized in `S3FileIo`:

[code]
Since `FileIO`

[2022-03-08 12:40] ConeyLiu commented on #4217
We also have benchmarked iceberg with TPCDS. And got the following finds:
1. As @wypoon said, spark reading parquet and reading iceberg using different relation size estimation, which leads to the different table plan. Such as BroadcastJoin to SortMergeJoin.
2. Spark reading parquet with vectorized data reading by default. However, we have just enabled it by default in iceberg recently.  You could

[2022-03-08 14:25] cccs-jc opened #4289 "Procedure do not work with comments"
this works
[code]

But this fails
[code]

Tools like dbt add comments to the statements that are executed. The comments are useful for auditing.

[2022-03-08 16:45] szlta opened #4292 "PartitionsTable doesn't take old specs into consideration"
Currently PartitionsTable will be constructed with a schema based on the latest table spec only:
https://github.com/apache/iceberg/blob/master/core%2Fsrc%2Fmain%2Fjava%2Forg%2Fapache%2Ficeberg%2FPartitionsTable.java#L48
Especially with V2, this can result in funny partition table prints when we drop a partition field and create a different one.
E.g:
Table schema: a int, b timestamp
spec0: year(b)

[2022-03-09 03:50] melin opened #4295 "update jackson version"
Many libraries use version 2.12. It's easy because of jackson scala version conflict. It is recommended to learn spark and update the version of the dependent library in time

[2022-03-09 05:43] singhpk234 commented on #4288
As per my understanding since at the time of reading the stream we re-initialize the statistics

[CodePointer](https://github.com/apache/iceberg/blob/master/core%2Fsrc%2Fmain%2Fjava%2Forg%2Fapache%2Ficeberg%2Fhadoop%2FHadoopMetricsContext.java#L121-L124) :
[code]

may be I am missing something as well here.

cc @danielcweeks

[2022-03-09 07:46] tmnd1991 commented on #2788
Hi all, I would love to contribute on this, may I propose a PR only for v2 tables and then we can think about how to go for v1?

[2022-03-09 10:58] andrey-mindrin commented on #4217
I can confirm that iceberg performance on Spark 3.2 is similar to Hive tables. It seems the problem was in Spark 3.1 only.

[2022-03-09 11:36] igorcalabria commented on #4288
I don't think `readObject` is called when using `KyroSerializer`.

You can test this using a local standalone cluster:
`./bin/spark-shell --master spark://localhost:7077 --conf spark.serializer=org.apache.spark.serializer.KryoSerializer --repositories https://repository.apache.org/content/repositories/snapshots  --packages org.apache.iceberg:iceberg-spark-runtime-3.2_2.12:0.13.0-SNAPSHOT`

[code]

[2022-03-09 11:53] singhpk234 commented on #4288
yup I think you are right as per this [SparkCodePointer](https://github.com/apache/spark/blob/master/core%2Fsrc%2Fmain%2Fscala%2Forg%2Fapache%2Fspark%2Fserializer%2FKryoSerializer.scala#L398-L411)

[code]

it's using readClassAndObject rather than readObject, whereas JavaSerializer uses readObject ([CodePointer1](https://github.com/apache/spark/blob/master/core/src/main/scala/org/apache/spark/seri

[2022-03-09 14:40] melin commented on #644
very interested in view.  can provide patch？ thanks

[2022-03-09 18:44] sap1ens opened #4299 "iceberg-flink-runtime 0.13.1 is not available"
It appears that iceberg-flink-runtime 0.13.1 is not available in the [Apache repository](https://repo.maven.apache.org/maven2/org/apache/iceberg/iceberg-flink-runtime/) even a few weeks after the release.

[2022-03-09 19:06] samredai commented on #3217
PR activity around expressions is picking up so I wanted to provide some ordering in terms of dependency that should be helpful. My understanding is this is the order that things need to be implemented (where 2 depends on 1, 3 depends on 2, etc...):

1. Conversions (PR #4263)
2. Literals (PR #4262)
3. Operations
4. Parsers
5. Terms
6. References
7. Predicates
8. Expression visitors

[2022-03-09 19:14] RussellSpitzer opened #4302 "RewriteDataFiles grouping by partition issue with V2 Tables"
After thinking about this for a while I think this is only true for V1 tables and we probably have a bug in V2 tables in our group by partition code in base rewrite action [here](https://github.com/RussellSpitzer/iceberg/blob/c6e68d832113266994c0eb06d342e032fc9cbca3/core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java#L264-L265). Consider

[code]
In this case while the spe

[2022-03-09 23:22] RussellSpitzer commented on #4302
Ok I totally forgot I fixed this already here

https://github.com/apache/iceberg/blob/d6cbca0c2fb3d10083b304bcbdf16bf51e3b586b/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java#L190-L195

It looks like this is only an issue for the older code here

https://github.com/apache/iceberg/blob/c6e68d832113266994c0eb06d342e032fc9cbca3/core/src/main/java/o

[2022-03-10 02:51] openinx commented on #4299
@sap1ens The correct link is here: https://repo.maven.apache.org/maven2/org/apache/iceberg/iceberg-flink-1.14/

Since iceberg 0.13.0,  we supported multiple flink versions in one iceberg branches. So we add the flink version suffix for the deployed artifacts.

I will close this issue,  feel free to reopen it if any further question.

[2022-03-10 02:51] #4299 closed

[2022-03-10 04:05] sap1ens commented on #4299
Ah, got it! Thanks for explaining. I guess [this page](https://iceberg.apache.org/docs/latest/flink/) needs to be updated (it still uses the URL I shared).

[2022-03-10 09:43] renshangtao opened #4305 "Running the same batch task multiple times using the Flink Session pattern causes the linux out of memory"
I have A batch task that inserts 100 million data from table A into table B after the primary key hash. I use Flink mode to execute this task. After several times of executing this task, I find that the Flink TaskManager process occupies more and more memory.  Finally, the Flink TaskManager process is killed when the system runs out of memory.

Manually performing GC memory reclamation after the t

[2022-03-10 19:41] jackye1995 commented on #4288
at first glance my solution would be similar to the solution we use to handle S3 client serialization in S3FileIO, which is to store a function like

[code]

and initialize the transient variable at the first invocation

@singhpk234 let me know if you would like to take this issue

[2022-03-10 19:44] singhpk234 commented on #4288
Thanks @jackye1995, I will pick this up.

[2022-03-10 23:04] aokolnychyi commented on #3941
The problem right now is that there is no update in Iceberg. There are only inserts and deletes. An update is represented as a delete followed by an insert. That being said, there may be a way to construct an update record given delete and insert records. For example, we can shuffle the delete/insert records so that all record types for the same identity columns are next to each.

[code]

In this

[2022-03-10 23:08] aokolnychyi commented on #3941
The algorithm above is not complete and does not cover some edge cases. However, I think it makes sense to explore it and check if we can modify/extend it to cover more use cases.

[2022-03-11 00:37] 1ambda commented on #3295
Still having the same problem with Spark 3.2.1 / Iceberg 0.13.1 (table created from PrestoDB 0.270 Iceberg 0.12)

[code]

[2022-03-11 05:02] aokolnychyi commented on #3941
After thinking more, we may change the assumptions a bit.

### Revisited Assumptions

- Changes are consumed per snapshot

Iceberg does not distinguish the order of records within a snapshot. That's why Iceberg can only report a summary of what changed in a snapshot.

By default, rows added and removed in the same snapshot (e.g. Flink CDC) are not shown in the output. In most cases, we just want t

[2022-03-11 06:27] PiyushHurpadeDremio commented on #3860
Valid set of partition-spec-id's for a snapshot will be right requirement.

[2022-03-11 06:41] coolderli commented on #3941
Just share my thought.

- Output only delete and insert record types by default
Constructing pre/post images may be necessary. If the downstream is an external system that can handle the insert as upsert, the update_before(delete) can be dropped. But if the downstream requires aggregation operation like sum, the update_before can not be dropped.
Because in the current implementation, the records h

[2022-03-11 06:59] Shane-Yu opened #4312 "Flink: Rewrite all data files( upsert mode, v2 table) lead to taskmanager out of memory"
I rewrite small files( whole file) with flink api on un-partitioned table,  got the failed job and error log as follows.

 The environment like this:

      numFiles              717
      numRows             176450547

As we can see from the source code, it seems that the Eq-Delelte file should be loaded into memory when applyEqDeletes with records.  Is that too many  Eq-Delete files lead to task

[2022-03-11 08:46] melin commented on #644
Spark 3.2 Support FunctionCatalog

[2022-03-11 09:49] iam8139 opened #4313 "Issue with Iceberg table read/write using Spark"
Facing "ClassNotFoundException: iceberg.DefaultSource" when I am trying to read/write Iceberg tables using Spark.

Dataset<Row> data = spark.read()
	    	.format("iceberg")
	    	.load("Iceberg_table_Path");

My pom.xml includes following dependencies ->
<dependency>
		    <groupId>org.apache.iceberg</groupId>
		    <artifactId>iceberg-core</artifactId>
		    <version>0.13.1</version>
		</dependen

[2022-03-11 16:21] #3776 closed

[2022-03-11 23:21] #4139 closed

[2022-03-13 08:22] kbendick opened #4317 "Flink - Investigate migrating deprecated usage of `TableSchema` to new `Schema` and `ResolvedSchema` classes"
Flink has deprecated the `TableSchema` class, which we still use in parts of the code base.

There are two classes which replace it, `Schema` and `ResolvedSchema`.

As I understand, `Schema` is used for declaring types etc and `ResolvedSchema` is what is used during program execution after passing through analysis etc. It has the watermark in it, so this would potentially make providing better sup

[2022-03-13 11:43] hililiwei commented on #4317
Hi,@kbendick, thank you so much for bringing it up and explaining it in detail.

I do have a pr https://github.com/apache/iceberg/pull/4246 related to this. It is precisely our team that has started to deprecate the old API and gradually revamped the old tasks.

In that pr, an attempt has been made to use `ResolvedSchema` instead of `TableSchema`in internal framework processes, and added `ResolveS

[2022-03-13 16:35] #4288 closed

[2022-03-14 01:57] felixYyu commented on #3657
can you take a look the patch. cc @jackye1995

[2022-03-14 06:57] ajantha-bhat commented on #4161
@felixYyu : Please add more information while closing the issue. Like, is the issue fixed? (If yes, which PR has fixed it) and why we are closing the issue.  Thanks.

[2022-03-14 12:23] hililiwei commented on #4079
https://github.com/apache/iceberg/pull/4247

[2022-03-15 01:32] kbendick commented on #4317
Cool. Thank you @hililiwei. I will take a look at this PR.

[2022-03-15 15:43] renshangtao commented on #3950
Hi , i got the same question with you.
I use flink session mode to run some job，and after several jobs finished , i used top command to see the memory of linux，i foud the memory is only a little left，and the taskmanager will be kill by the Linux because of oom

But i get what you have modify, and test again, the question is also here.

I see the code
HeapBytesCompressor(CompressionCodecName codecN

[2022-03-15 21:42] #3236 closed

[2022-03-15 23:51] #3886 closed

[2022-03-16 04:31] yittg commented on #4317
I'm also investigating migrating the deprecated usage to move more relative new features forward, and drafting some step changes for Catalog, Source, and Sink before knowing @hililiwei is working on this, :). I am happy to help review #4246 and the following change if needed.

And for partition transforms, i think computed column is the correct way. Actually i issued a proposal #4251 before, thoug

[2022-03-16 10:15] melin opened #4343 "Support undrop table"
https://docs.snowflake.com/en/sql-reference/sql/undrop-table.html

[2022-03-16 17:32] aokolnychyi opened #4346 "Make DeleteOrphanFiles in Spark reliable"
There have been multiple attempts to make our `DeleteOrphanFiles` action more reliable. One such [discussion](https://the-asf.slack.com/archives/CF01LKV9S/p1601663482098100) happened more than a year ago. However, we never reached consensus.

I will try to summarize my current thoughts but I encourage everyone to comment as well.

### Location Generation

There are three location types in Iceberg.

[2022-03-16 17:40] aokolnychyi commented on #4346
A few recent issues reported by the community: #4194, #4161. I know there were more issues and a few PRs too. Feel free to link anything that may be related.

[2022-03-16 18:57] szehon-ho commented on #2326
Closing as one fix was merged, can make a new one if more options open up

[2022-03-16 18:57] #2326 closed

[2022-03-16 20:07] rdblue commented on #4346
I think about this problem slightly differently. Rather than thinking about it as lacking normalization, the underlying file store may have multiple ways to refer to the same file. That's a bit more broad and covers the cases like schemes that mean the same thing (s3 and s3a) and authority issues.

I think it's reasonable to have some way to normalize both sets of paths before comparing them. It i

[2022-03-16 21:03] aokolnychyi commented on #4346
This is mainly because we use Hadoop `FileSystem` for listing. If we use proprietary logic to normalize paths, this may lead to handling edge cases differently. Normalization mostly solves cosmetic issues in the path part of URIs, it does not solve the scheme and authority mismatch.

I am happy to consider alternatives. In the future, we can customize `DeleteOrphanFiles` so that listing via `FileS

[2022-03-17 00:20] szehon-ho commented on #3086
Closing this issue as the first problem has been addressed in #4349.  The second is still kind of annoying to have to do , maybe we can still add the flag if there is interest to default the write-object-store-path to table's location

[2022-03-17 00:20] #3086 closed

[2022-03-17 05:53] anuragmantri commented on #4346
Thanks for reviving this issue @aokolnychyi. I've been thinking if having relative paths will help in this case. In my [relative paths change](https://github.com/apache/iceberg/pull/2658), I have separated out table location into a prefix and a location. For example

[code]
Similarly, location is also split into prefix and location in the catalog with the ability to switch prefix with an API.

Wou

[2022-03-17 06:12] anuragmantri commented on #4346
Thinking about the relative paths more, I can see some issues
- It will not work for existing tables that do not use relative paths.
- Relative paths itself is designed to be optional.

So this will not work in all cases.

[2022-03-17 07:36] renshangtao commented on #4305
Install jemalloc on the every node of flink cluster can solve this problem

1、install jemalloc

2、Add the configuration below in /etc/profile
export LD_PRELOAD=/usr/local/lib/libjemalloc.so
#export MALLOC_CONF="prof:true,prof_prefix:/home/bigdata/jeprof.out,lg_prof_interval:30,lg_prof_sample:20"

3、The source /etc/profile

4、And Then start flink cluster

5、execute the batch jobs

I install jemallo

[2022-03-17 08:02] flyrain commented on #4346
Not sure if we've already used crc file. I'd think it can increase the comparison reliability. Here is the reason:
1. We can NOT tell two files are identical if their crc values are the same due to the high collision rate of crc. But we can tell two files are different if their crc are different, which is still useful. For example, we've known the crc values of valid file a, b, c under a dir. We t

[2022-03-17 08:38] openinx commented on #4305
I think the core reason is:  we have set the primary keys in iceberg table for flink DDL,  so the flink write job will think that we are trying to write all those results into an iceberg format v2 table.  see the following code piece:

https://github.com/apache/iceberg/blob/master/flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java#L62-L72

Do you want to write all those

[2022-03-17 15:36] BiuBiu2323 opened #4353 "Can I overwrite only once commit data?"
I try to using iceberg write some file's data to dell ecs, succeeded. But some problem occurred:
If I upload the data of multiple files to Dell ECS, but now I want to update the data of only one file which has been uploaded, how could I do?

[2022-03-17 15:36] BiuBiu2323 opened #4354 "Can I overwrite only once commit data?"
I try to using iceberg write some file's data to dell ecs, succeeded. But some problem occurred:
If I upload the data of multiple files to Dell ECS, but now I want to update the data of only one file which has been uploaded, how could I do?

[2022-03-17 19:09] szehon-ho opened #4356 "SparkTables metadata only delete should throw ValidationException instead of IllegalArgumentException"
https://github.com/apache/iceberg/blob/apache-iceberg-0.13.1/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java#L271

As per #4258. seems like IllegalArgumentException is for argument checking only.

[2022-03-17 19:09] szehon-ho commented on #4356
is it ok to change exception type here?  cc @aokolnychyi

[2022-03-18 02:19] renshangtao commented on #4305
First thanks a lot for  your reply, It was I who didn't describe the scene clearly

1、This is my source table:
 create table hive_catalog.iceberg_db.sourceTable (
    step_id string,
    param_id string,
    wafer_id string,
    chip_id string,
    product_id1 string,
    product_id2 string,
    product_id3 string,
    product_id4 string,
    product_id5 string,
    num_item1 double,
    num_item2

[2022-03-18 20:00] szehon-ho opened #4362 "Expose human-readable metrics in metadata tables"
To improve Iceberg UX, we could expose iceberg Metrics as human-readable fields in metadata tables.

**Problem**

Currently there are the following fields in files_table:
[code]

but is hard to use:

- these are all maps requiring knowledge of the field-id.
- the value of bounds are not readable except if converted by ```Conversions.fromByteBuffer(type, value)```

**Options for Metadata Tables**

[2022-03-18 20:54] krisvaz opened #4363 "DataFrameWriterV2 doesn't create partitions when using partitionedBy"
When I try using the DataFrameWriterV2 to create an Iceberg table, the partitioning columns seem to get ignored (thereby not partitioned) even though they are specified.

Spark version: 3.1.2
Iceberg version: 0.13.0

Note: The application is written in python.

[code]

Using Spark SQL to describe the table using this way shows this:
[code]

The workaround for creating the tables with the appropria

[2022-03-18 21:43] RussellSpitzer commented on #4363
Looks right to me, and the code looks fine on the Spark Side

https://github.com/apache/spark/blob/v3.1.2/sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriterV2.scala#L83-L126

Probably need to debug this later to find out exactly what is going wrong

[2022-03-19 03:12] hililiwei commented on #4317
@yittg Thank you for your feedback. Could you elaborate on what new features you would like to add? Maybe we can discuss it.

[2022-03-19 03:16] hililiwei commented on #4051
hi, guys, i have raised a PR for this. If you have available, could you please help to review? thx.

[2022-03-19 05:17] hililiwei commented on #4363
@krisvaz I debugged it locally and it works as expected, can you share more information? Like your test data?

[2022-03-19 05:25] hililiwei commented on #4362
This is a real problem in use, so we've even built a gadget that reads these values and converts them into a human-readable format. +1 for this issuse

[2022-03-19 12:09] #4253 closed

[2022-03-19 12:16] melin opened #4365 "[SUPPORT] Add AS OF syntax support"
Use sql to query the specified version data
[code]

[2022-03-19 14:33] renshangtao commented on #4305
i find an article an solve this problem

https://github.com/prestodb/presto/issues/8993

[2022-03-21 03:43] Zhangg7723 commented on #4312
The same problem in Spark when rewrite V2 table, we fixed this problem locally by bloomfilter in parquet files，our code will be committed after the bloomfilter feature be merged.

[2022-03-21 03:51] yittg commented on #4353
Looks like it can be done with overwrite, IIUC, you can check out the example in UT https://github.com/apache/iceberg/blob/0f3e7c7badf47bd0e2178591082886cd47d94a1b/core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java#L227-L242

[2022-03-21 09:34] openinx commented on #4354
CC @wang-x-xia

[2022-03-21 10:02] felixYyu opened #4368 "Core: find first existent previous metadata need FIFO or LIFO of ReachableFileUtil class"
in BaseDeleteOrphanFilesSparkAction to buildValidMetadataFileDF->BaseSparkAction.buildOtherMetadataFileDF->ReachableFileUtil.metadataFileLocations, the first existent previous metadata need FIFO or LIFO?
[code]

[2022-03-21 10:07] wang-x-xia commented on #4354
@BiuBiu2323
Can you give brief progress of operations? I want to know more details of your scenario.

[2022-03-21 13:53] felixYyu commented on #4368
cc @rdblue @RussellSpitzer

[2022-03-21 15:57] rdblue commented on #4368
I don't think I understand the question. Could you clarify what you mean?

[2022-03-21 16:54] RussellSpitzer commented on #4368
I'm also a bit confused about the question here? I believe the code in question is just trying to find as many possible file locations as can be determined from the history. From most recent to oldest, it reads the metadata files listed in the log, it picks the first one (the most recent) which is readable.

[2022-03-21 17:16] RussellSpitzer commented on #4362
@szehon-ho as another option would it be to just change the output to JSON objects? So instead of map int -> buffer we do int-fieldid -> json representation?

[2022-03-21 17:33] szehon-ho commented on #4362
@RussellSpitzer do you mean like upper_bounds = Map (1 -> { "field-name": "id // or null if not in current schema", "value": "..." } ) ?  It's possible but why not just model as struct in this case for ease of sql?

[2022-03-21 21:40] szehon-ho commented on #4362
Synced with @RussellSpitzer , the proposal was  similar.

Question remains whether we want to change the existing field or not.  I'd prefer to keep existing as the map of field id -> binary may contain some information that the new field would not have (in case the field is removed in current schema), but i'm open.

@rdblue @jackye1995 @aokolnychyi  fyi if you guys have any thoughts

[2022-03-22 02:03] felixYyu commented on #4368
because of list is LIFO,  the method of findFirstExistentPreviousMetadata's first metadata means of oldest I think，but from most recent to oldest@RussellSpitzer，I want to ask find first metadata is the oldest or the recent to oldest?

thanks @rdblue @RussellSpitzer

[2022-03-22 02:11] RussellSpitzer commented on #4368
I could have gotten it wrong, it's whatever the first element of the list is in the metadata.json.

[2022-03-22 02:59] felixYyu commented on #4368
I got it, thanks and close this issue.

[2022-03-22 02:59] #4368 closed

[2022-03-22 06:39] cutiechi opened #4373 "How run benchmarks on k8s?"

[2022-03-22 09:59] wangmiao1002 commented on #3146
I also encountered the same problem. I tried to solve it in this way. At present, the test is successful. I don't know whether it is reasonable or not.

Put iceberg-hive-runtime-0.13.1 jar in hive_ AUX_ JARS_ Path configuration directory;
 Recompile the hive runtime module and modify the dependencies in the project to version 2.1.1

[2022-03-22 13:57] krisvaz commented on #4363
@hililiwei

Here's an example of using the DataFrameWriterV2 to try creating the partitioned table and it's result:
[code]

Here's an example of using spark sql to create the partitioned table and it's result:
[code]

I should note that I am running this within an AWS EMR cluster that's configured as defined [here](https://iceberg.apache.org/docs/latest/aws/#spark).
Instead of starting a spark-sql

[2022-03-22 22:11] #4284 closed

[2022-03-22 23:24] szehon-ho commented on #4346
Found another PR on this:  https://github.com/apache/iceberg/pull/2890

Need to think a bit about CRC.

On first thought, seems the original ignoreScheme/ignoreAuthority proposal can solve the problem.  But if the goal is to make RemoveOrphan safe (ex, not remove all files if we change HDFS authority like today), then both need to default true, and as Ryan says we need to decide the right values f

[2022-03-23 06:29] weichampion commented on #2737
@jhsenjaliya hello, i'm a question :
spark-sql --packages org.apache.iceberg:iceberg-spark3-runtime:0.13.1  --conf spark.sql.catalog.hadoop_prod=org.apache.iceberg.spark.SparkCatalog --conf spark.sql.catalog.hadoop_prod.type=hadoop --conf spark.sql.catalog.hadoop_prod.warehouse=hdfs://10.195.5.62:9001/_iceberg/warehouse

I just run into spark-sql shell, and use merge into command :
MERGE INTO hado

[2022-03-23 13:54] RussellSpitzer commented on #2737
@weichampion

Looks like you are missing
[code]

Please see the docs, https://iceberg.apache.org/docs/latest/getting-started/

[2022-03-23 17:13] wilsonpenha commented on #644
Hello there
When this PR will be merged and we will be able to create and query views from iceberg tables?

[2022-03-23 18:33] aokolnychyi commented on #4292
I agree with your analysis, @szlta. I am surprised `PartitionsTable` does not use `Partitioning$partitionType`.

I'd do the following in separate PRs:
- Rename conflicting columns in old specs in `Partitioning$partitionType` as [discussed](https://github.com/apache/iceberg/pull/3411#discussion_r821845093).
- Use `Partitioning$partitionType` in all metadata tables.
- Consider adding `partition_spec

[2022-03-23 19:50] aokolnychyi commented on #4346
@anuragmantri, I am not sure relative paths will help. They will be optional and we will still need to resolve them somehow to compare with absolute paths we get from listing. I assume we will have the same issues without normalization and with different yet equivalent authorities/schemes.

@flyrain, it is an interesting idea. However, is there an efficient way to compute these values for all file

[2022-03-23 21:45] szehon-ho commented on #4346
Yea actually the idea is same as your original, just that:
- rename the flag
- add the error mode (for information to user that they were going to delete valid files)
-combine the authority/scheme into 'prefix'

Maybe ```delete``` => ```force-delete``` to make it clear they should not do this unless they are sure.

For the algorithm, yea that works.  If we want to further optimize we could even co

[2022-03-23 21:51] szehon-ho commented on #4292
Third point was already done in #3015 for *files_table, though I think not yet Partitions table

[2022-03-24 01:53] yittg commented on #4317
@hililiwei That would be great. For example, supporting of partition transforms.

Is this migrating on the way?

[2022-03-24 02:51] YesOrNo828 commented on #2645
Hello @yeezychao @xinbinhuang, do you have any progress about this ticket ?

[2022-03-24 04:16] szehon-ho opened #4383 "Spark: Random failure in TestCopyOnWriteMerge::testMergeWithSnapshotIsolation"
On Spark 3, hit this error:

[code]

Ref:  https://github.com/apache/iceberg/runs/5669494241

[2022-03-24 04:50] rajarshisarkar commented on #4383
I am also getting this test failure in my recent PRs.

[2022-03-24 05:53] singhpk234 commented on #4383
Looks like this might be causing this issue (Might be wrong here) :
we pass the conf we have HadoopFileIO to HadoopOutputFile :

https://github.com/apache/iceberg/blob/ea8bbe749753e3d1ddc595ce75a88a55a442a67e/core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java#L63-L65

which is modified for ORC write path :

https://github.com/apache/iceberg/blob/ea8bbe749753e3d1ddc595ce75a88a55a442a67e

[2022-03-24 06:31] openinx commented on #4383
Okay, this seems to be caused by this PR:

https://github.com/apache/iceberg/pull/4291/files#diff-34d7fce4c1d9417fa9342247cf5ace0636cd86591efbed0555ae80197f79303dL91

[2022-03-24 09:23] gongjinzz opened #4389 "FLINK:I meet this error when i use DataStream to read hive_catalogTable?"
i want to know whether hive_catalog table can be read by DataStream?

Exception in thread "main" java.lang.IllegalArgumentException: Cannot initialize Catalog implementation org.apache.iceberg.hive.HiveCatalog: Cannot find constructor for interface org.apache.iceberg.catalog.Catalog
	Missing org.apache.iceberg.hive.HiveCatalog [java.lang.NoClassDefFoundError: org/apache/hadoop/hive/metastore/api/U

[2022-03-24 10:30] #4383 closed

[2022-03-24 19:31] kbendick commented on #4289
Hi @cccs-jc! Thanks for reporting this.

Can you please let me know which Iceberg (and Spark) version you have tried this with (just your normal one would be fine, or the latest one you've tried). Also, can you provide me an example (redacted) comment that's more representative of the kind DBT has?

I see some comment handling code in our `IcebergSqlExtensions.g4` file which generates the antlr gr

[2022-03-24 20:04] RussellSpitzer commented on #4289
I think we'd have to modify our grammer, since our parser uses it's own grammar which doesn't have comments. That or finally copy the grammar from the relevant version of spark and start using that instead of our own custom extension. This may be the time now that we separated by version

[2022-03-24 21:42] cccs-jc commented on #4289
dbt issues comments like this before it renders the procedure calls

/* {"app": "dbt", "dbt_version": "1.0.1", "profile_name": "profile1", "target_name": "dev", "node_id": "model.profile1.stg_users"} */

right now I modified my dbt-spark adapter to strip this out but I would rather keep the comments for auditing

[2022-03-24 21:50] kbendick commented on #4289
I think I have found a solution that seems to work for `CALL` statements. The issue is similar to this one, for making the iceberg statements more recognizable: https://github.com/apache/iceberg/pull/2729/files

I will open a draft PR shortly.

[2022-03-24 22:23] kbendick commented on #4289
I matched the admittedly wild regex used there against this test query statement. https://regex101.com/r/9cs1yV/1

Fortunately, this function doesn't modify the query at all, just how the query is determined to be an Iceberg query or not.

We still delegate to the _existing_ antlr parser for processing the query, and only strip comments out when we're checking if this is Iceberg specific DDL. Henc

[2022-03-25 02:39] luckychacha opened #4398 "Insert into iceberg with flink SQL throws an exception: Unable to create a sink for writing table 'hadoop_catalog.iceberg_hadoop_db.iceberg_001'."
Hello, I meet an exception when I execute "INSERT" or "SELECT" on a table.
Here is my code:

[code]
Exception is:

[code]

iceberg version and flink version is:
[code]

[2022-03-25 05:01] molsionmo commented on #4389
You may be missing package hive-metastore-2.3.8.jar(or other version), check hadoop Settings or put the package in the $flink_home/lib directory

[2022-03-25 06:14] Ashish1997 commented on #3585
Thanks, Spark 3.1.3-bin-hadoop3.2 with iceberg-spark-runtime-3.1_2.12:0.13.0 jar also worked for me.

[2022-03-25 07:54] hililiwei commented on #4238
Is your intention to simplify this process and do it with TTL properties?

[2022-03-25 08:42] hililiwei commented on #4190
To summarize, your expectation is to dynamically update Iceberg table schema based on the schema of the data flow when the schema of the data flow does not match the Iceberg table?

[2022-03-25 11:13] #3598 closed

[2022-03-25 11:13] #3936 closed

[2022-03-25 14:15] tprelle opened #4403 "Hive : Tez parquet vectorization throw a ClassCastException when accessing a null struct inside a map"
Following : https://github.com/apache/iceberg/issues/4282

Tez with parquet vectorizedthrow a ClassCastException when accessing a null struct inside a map.

The test is inside mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java on the test testStructMapWithNull introduce by https://github.com/apache/iceberg/pull/4283

To test we can  use mr/src/test/java/org/ap

[2022-03-25 19:02] stevenzwu commented on #4190
I am not sure this would the universally desired behavior. if data stream contains incompatible schema change (like removing a required field), it will break the downstream consumers.

there is a value of automatically syncing input data schema to Iceberg table schema (for compatible schema evolution). Personally, I would like to keep it at the control plane, which would be more natural if there i

[2022-03-25 20:31] RussellSpitzer opened #4406 "HiveCatalog: renameTable recursively lists file status"
While #734 fixes the recursive file status listing for HiveTableOperations, we still trigger this in HiveCatalog.renameTable https://github.com/apache/iceberg/blob/d9296ca2d1b1143e6bbcdd1004962e653400489d/hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java#L211

[2022-03-25 22:11] singhpk234 commented on #4406
based on this discussion https://github.com/apache/iceberg/pull/734#issuecomment-574062407
Looks like passing this env context to the alter table should be sufficient to avoid recursive listing here as well :
[code]

can I pick this up ?

[2022-03-25 22:14] RussellSpitzer commented on #4406
Sure I am way behind on reviews anyway :)

[2022-03-26 02:39] hililiwei commented on #4363
@krisvaz
[code]
[code]

[2022-03-26 06:31] hililiwei commented on #4313
try
[code]
no test

[2022-03-26 22:05] samredai opened #4410 "HadoopFileIO + JdbcCatalog: null pointer when creating table"
When using the `HadoopFileIO` with a `JdbcCatalog`, creating a table runs into a NPE:
[code]
output:
[code]

[2022-03-26 22:10] samredai commented on #4410
I believe this is caused by the HadoopFileIO [no-arg constructor](https://github.com/apache/iceberg/blob/01393a06c284175edab75de34f48b2bfbd606081/core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java#L42) not setting an empty conf. Using the `HadoopFileIO` directly you can use `setConf` to add an empty configuration (when reading local files) and the NPE goes away. Should the no-arg const

[2022-03-26 22:33] samredai commented on #4410
Hah, I made this issue too quickly. Using the `setConf` method on `JdbcCatalog` solves this (I was using the interface type which is why I missed it).
[code]

[2022-03-26 22:33] #4410 closed

[2022-03-28 03:55] #3169 closed

[2022-03-28 06:57] openinx commented on #4398
The correct `iceberg.version` for flink 1.14.x is `0.13.1`, you can take a look at this reference:

https://mvnrepository.com/artifact/org.apache.iceberg/iceberg-flink-1.14

[2022-03-28 07:22] pvary commented on #4403
Parquet vectorization is not supported yet.
In the Hive code we have https://issues.apache.org/jira/browse/HIVE-25902 which fixes the issue.
We need a Hive release to make it available here.

Could you please try out the test without vectorization?

Thanks,
Peter

[2022-03-28 15:15] tprelle commented on #4403
It's working without vectorisation

[2022-03-28 15:33] #3374 closed

[2022-03-28 19:36] #4406 closed

[2022-03-28 20:23] kbendick commented on #4362
I support converting the values when retrieving them for display purposes. This is an issue that I think many people encounter and would be beneficial to support.

I would prefer to do it as a generated column from the metadata that users can select if they so choose. Something that is resolved at runtime. Or as an option to pass to the metadata table when querying it.

As for the stated options:

[2022-03-28 20:35] RussellSpitzer commented on #4362
My suggestion here was to change the metadata table view, not the underlying spec. Ie although the value in binary, it probably has little value to the SparkSQL user to read them in binary so we may want to change them to either strings or the actual types of those columns when we return the values

[2022-03-28 20:52] rdblue commented on #4362
What we did for the metadata tables in Trino was to produce structs, like @szehon-ho suggested. The idea is that you'd get a struct for each column name that contains value_count, null_count, upper_bound, lower_bound, etc. And each of those would have the correct data type.

I think that's generally the right direction. The main challenge is that in Spark we originally didn't have a good way to tr

[2022-03-28 23:14] anuragmantri commented on #4159
Thanks for this thread.

This makes sense but we should define what this list means. There are some questions that come to my mind.
- Do these locations mean a table can have multiple root locations simultaneously?
- How does this work when object store path is used since users may have same object store path bucket for multiple tables?
- In case of DR, the table is replicated to a different locat

[2022-03-29 00:16] aokolnychyi commented on #3941
@flyrain @RussellSpitzer and I chatted a little bit about the design and what a potential implementation can look like. There is a promising idea of using `_deleted` metadata column for building delete records.

I'll summarize my current way of thinking.

**Algorithm (per snapshot)**

* Build insert records
    * Read all data files added in this snapshot and apply any matching position delete fil

[2022-03-29 01:20] felixYyu opened #4424 "Spark: query table's snapshot with snapshotid, Cannot find constructor for interface Catalog"
iceberg 0.13.x
spark 3.2.1

[code]

run error log

[code]

[2022-03-29 05:06] molsionmo commented on #3895
Is it over?

[2022-03-29 09:12] openinx commented on #3431
Closed via https://github.com/apache/iceberg/pull/3240.

[2022-03-29 11:49] felixYyu commented on #4424
cc @pvary @rajarshisarkar @jackye1995

[2022-03-29 12:24] rajarshisarkar commented on #4424
Hi @felixYyu,

Can you please confirm the command you used to build [Iceberg 0.13.x](https://github.com/apache/iceberg/tree/0.13.x)? Also, could you please report your Scala version used?

[2022-03-29 14:06] felixYyu commented on #4424
<scala.version>2.12.10</scala.version>
<spark.version>3.2.1</spark.version>
<iceberg.version>0.13.0</iceberg.version>

[2022-03-29 15:30] RussellSpitzer opened #4426 "Support `rewrite-all` rewrite flag in Binpack"
Currently only the Sort RewriteDataFiles strategy supports triggering a rewrite on all data files [regardless of size](https://github.com/apache/iceberg/blob/61fe9b1ce3ecff4354bb7624c9b5e3f76df2221b/core/src/main/java/org/apache/iceberg/actions/SortStrategy.java#L51-L56). Every once in a while we see a use case where a user wants to trigger a rewrite on every file, regardless of size or other crit

[2022-03-29 15:35] rajarshisarkar commented on #4426
Can I pick this up?

[2022-03-29 15:42] rajarshisarkar commented on #4426
Thanks, for bringing this up. I'm working on this.

[2022-03-29 16:09] anuragmantri commented on #4426
Thanks for creating this issue Russell.

@rajarshisarkar - Feel free to add me to the PR. I will be happy to review.

[2022-03-30 01:28] #4265 closed

[2022-03-30 06:51] cangqing commented on #4190
right

[2022-03-30 08:42] rajarshisarkar commented on #4426
Sure, @anuragmantri.

[2022-03-30 18:15] kbendick commented on #4346
Agreed that making the source of the "actual files" list pluggable is orthogonal.

I would propose, since I know that it's mostly working and that it's rather simple, that we consider the addition of a way to add in a source other than the hadoop list as an additional option. Right now, it's simply another table that the can be referenced that contains the actual files of the file store.

Things l

[2022-03-30 20:55] dramaticlly opened #4435 "[Python] Restructure Literal and Expression"
for context :https://github.com/apache/iceberg/pull/4262#pullrequestreview-899679092

Current python src structure

[code]

@samredai proposed following new structure

[code]

The PR change shall be mechanical refactoring and introduce no logical code change

[2022-03-31 01:56] samredai commented on #4435
Thanks for opening this @dramaticlly, to add more, I think we should section off the ABC classes to a `base.py` file (doesn't have to be the same PR as the general restructuring). Mainly because the expressions module has a pretty gnarly sequence of class inheritance that's hard to follow when the interfaces are scattered among the concrete classes. This also keeps the files with the actual logic

[2022-03-31 05:07] ZhangchengHu0923 commented on #2532
I found this question was shelved for a long time,As it happens，I am a newbie to this projec,I'll pick up this work if u don't mind @itachi-sharingan  @yyanyy @RussellSpitzer ,I am going to do the test by following the steps below, @yyanyy  @RussellSpitzer  could u please take a look to see weather my undertanding about the issue is correct,thx a lot.

step 1:create v1 v2 tables by TestTables
step

[2022-03-31 06:55] felixYyu opened #4447 "How to delete commited logs in new PR?"
Do not delete the self master of fork，How to delete commited logs in new PR?

[2022-03-31 06:56] felixYyu commented on #4447
exp：committed on 1 Dec 2021 commit 6aa419cc0ff2c4526b598418ac1f9e01c1eb3301

[2022-03-31 07:52] KarlManong commented on #1688
I think #3717 can fix this

[2022-03-31 12:37] polaris6 opened #4452 "Docs: format-version doc return 404 not found"
This link returns not found, l fixed it: https://github.com/apache/iceberg/pull/4453, close this issue

<img width="1064" alt="image" src="https://user-images.githubusercontent.com/29967142/161061457-333da0ab-c63c-490b-b247-253238f5b40b.png">

<img width="637" alt="image" src="https://user-images.githubusercontent.com/29967142/161061203-70e90f55-239e-4153-aa7a-e0a859707def.png">

[2022-03-31 13:22] #4452 closed

[2022-03-31 14:09] ZhangchengHu0923 commented on #4447
@felixYyu  u can roll-back the branch u initiated the PR, and recommit the change u like to the same branch. Modifications will be automatically reflected on PR.

ps: remember to back up the code before the roll-back

[2022-03-31 22:55] yeshvantbhavnasi opened #4457 "On iceberg11 getting s3 connection reset error"
Started getting connection reset error on s3 reader stacktrace :

Can anyone navigate to me what could be the issue here?
`22/03/31 22:32:16 WARN TaskSetManager: Lost task 100.0 in stage 0.0 (TID 100, ip-10-26-20-170.prod.dp.box.net, executor 35): org.apache.iceberg.exceptions.RuntimeIOException: javax.net.ssl.SSLException: Connection reset
	at org.apache.iceberg.parquet.ParquetReader$FileIterator

[2022-04-01 05:02] felixYyu commented on #4447
thanks @ZhangchengHu0923

[2022-04-01 05:22] rajarshisarkar commented on #4447
You can rebase your change on top of master and force push the same in your branch for a cleaner history.

[2022-04-01 05:22] rajarshisarkar commented on #4457
Hi, Can you please help me with the issue reproduction steps?

[2022-04-01 08:52] gongjinzz commented on #4389
You are right,thank you!

[2022-04-01 08:53] gongjinzz commented on #4389
You are right,thank you!

[2022-04-01 08:53] #4389 closed

[2022-04-01 15:38] rdblue commented on #4435
That seems like a lot of files to me, and some of them only have a few classes. I'd probably move the classes that are expressions into the base or have one file instead of operation.py, predicate.py, and references.py. Visitors I think should probably be their own thing, but I'd put visitors and evaluators together.

[2022-04-01 18:44] samredai commented on #4435
@rdblue how does this look?

- **literals.py**
  - IntegerLiteral
  - BooleanLiteral
  - DecimalLiteral
  - ...
- **base.py**
  - Literal
  - Expression
  - ExpressionVisitor
  - BoundExpressionVisitor
  - Evaluator
  - Bound
  - Unbound
  - Term
  - Predicate
  - Operation
  - And
  - Or
  - Not
  - TrueExp
  - FalseExp
  - BoundPredicate
  - UnboundPredicate
  - Boundreference
  - UnboundReferen

[2022-04-01 23:44] shiyancao opened #4470 "Python QuickStart - Getting error: option --user not recognized error"
Hello Team,

I am getting `error: option --user not recognized` error when following [Python QuickStart] doc(https://iceberg.apache.org/docs/latest/python-quickstart/#installation). May I know how to get rid of the error?

[code]

[2022-04-02 06:18] idealspark commented on #1690
where can I  find all design documents?
like this
[https://docs.google.com/document/d/1FMKh_SQ6xSUUmoCA8LerTkzIxDUN5JbStQp5Hzot4eo/edit#heading=h.wjf8k8pka3iq](url)

[2022-04-02 06:41] eric666666 opened #4471 "Spark: SparkSQL call procedures blocking(expire_snapshots and delete orphan files)"
Spark version: 3.2.1 or 3.1.2
Spark SQL statements:
` CALL hive_prod.system.expire_snapshots(table => 'test.iceberg_test_col_data_with_dt_02', older_than => timestamp '2022-05-18 19:02:00.595',retain_last => 1);
`
`CALL hive_prod.system.remove_orphan_files(table => 'test.iceberg_test_col_data_with_dt_02', dry_run => true);`
Execute statement may occour spark task blocking(last task of collectAsLis

[2022-04-02 06:56] eric666666 commented on #4471
When we use upon spark sql statements ,we found that Spark job will block on the last task of stage.
![image](https://user-images.githubusercontent.com/51162281/161371008-38f2a2a2-63bd-4bcb-bd1f-4e18156d90c5.png)

We printed full thread information about locks.
`"main" #1 prio=5 os_prio=0 tid=0x0000000002f79800 nid=0x1bd4 waiting on condition [0x0000000002f1c000]
   java.lang.Thread.State: WAITING

[2022-04-02 07:01] eric666666 commented on #4471
As we can see from lock info, The main cause in org.apache.iceberg.spark.actions.BaseExpireSnapshotsSparkAction.doExecute(BaseExpireSnapshotsSparkAction.java:219)
![image](https://user-images.githubusercontent.com/51162281/161371162-88d0a9f8-8c84-45de-b022-3692d3ece544.png)
we can align that DataSet's action operator(#collectAsList) cannot do the last task.

[2022-04-02 07:04] eric666666 commented on #4471
The iceberg version is 0.13.1

[2022-04-02 11:21] MichaelTiemannOSC opened #4472 "Table created with non-existent avro files (metadata sync problem?)"
We are seeing a problem that looks a lot like https://github.com/apache/iceberg/issues/4168

But we are not using Flink (to my knowledge).  We are using S3 and SQLAlchemy (our application is written in Python, and we do inserts via pandas to_sql function with a callable).  Here's a metadata file.  Note that the avro files (such as snap-2224412739198497176-1-5d1a6f7d-eaff-48d9-b932-d6d27b3049eb.avr

[2022-04-02 15:17] RussellSpitzer commented on #4471
What is the issue here? This is the expected behavior of the default action. We want to block until we have the results of which files to remove, then we remove them.

There are proposal to execute deletes in the executors themselves, but we would still block until all the work is complete.

[2022-04-03 03:03] melin opened #4476 "iceberg support branch/tag, what is the difference between nessie and iceberg?"
iceberg support branch/tag, what is the difference between nessie and iceberg?
https://docs.google.com/document/d/1PvxK_0ebEoX3s7nS6-LOJJZdBYr_olTWH9oepNUfJ-A/edit#
iceberg branch support Cross-table transactions?

@nastra  @rdblue @jackye1995

[2022-04-03 14:13] liuchunhua commented on #4363
@krisvaz @hililiwei

https://github.com/apache/spark/blob/v3.1.2/python/pyspark/sql/readwriter.py#L1496-L1525
missing "self._jwriter.partitionedBy(col, cols)"

[2022-04-04 04:25] oaris opened #4486 "Is't possible to use old schema to read old snapshot ?"
In case the schema changed, Is it possible to read previous snapshot using the original schema for that snapshot, without using a  rollback ?

[2022-04-04 04:40] ajantha-bhat commented on #4486
@oaris : Which query engine are you using with Iceberg ?
with Spark it is already supported in Iceberg 0.13.0 release.
https://github.com/apache/iceberg/pull/3722

[2022-04-04 08:35] felixYyu commented on #4447
[code]
Commit history has been Initialized
![image](https://user-images.githubusercontent.com/3785228/161505653-113262aa-2ea8-40fb-9f05-c038f9b69b3e.png)

[2022-04-04 08:39] #4447 closed

[2022-04-04 14:21] polaris6 opened #4490 "Can I reorganize the documentation for the flink section?"
When I read the flink-related documentation in iceberg, I found that the Getting Started section contains many aspects, makes it inconvenient to read, so I want to reorganize the flink-related documents with reference to the spark section, and divide the flink documents into Getting Started, Configuration, DDL, Queries, Writes, and Flink Connector, like this:
<img width="263" alt="image" src="http

[2022-04-04 15:52] #4426 closed

[2022-04-04 19:16] shiyancao commented on #2039
We hit similar issues when converting between Avro Schema and Iceberg Schema due to lack of default value support.

In our case, a default-empty-array array in Avro schema is treated **optional** in Avro but treated inconsistently in Iceberg when adding the column:
1) In catalog.createTable() API, it will create it as a **required** column in Iceberg table. This is inconsistent to Avro.
2) In cata

[2022-04-05 01:49] kbendick commented on #4289
This has been merged in for Spark 3.2. There are open PRs for Spark 3.0 and 3.1 as well. I'm going to close this issue now.

This should be released as part of Iceberg 0.14.0 (or the next non-patch release).

[2022-04-05 01:51] kbendick commented on #4289
@cccs-jc Please open a new issue if there are still problems, and reference this issue (also feel free to ping me in case I miss it) 👍

[2022-04-05 01:51] #4289 closed

[2022-04-05 02:01] felixYyu opened #4498 "Checkstyle: Do need to add the checkstyle rule of static variables?"
In ALL iceberg project，Static variables are directly embedded in the code segment, which is not conducive to maintenance.
Do need to formulate a unified rule?

[code]

[2022-04-05 02:29] felixYyu commented on #4498
cc @rdblue @RussellSpitzer @jackye1995 @aokolnychyi @kbendick @openinx

[2022-04-05 02:42] RussellSpitzer commented on #4498
I'm not sure what you mean

[2022-04-05 03:23] felixYyu commented on #4498
private static final String REWRITE_MANIFESTS = "REWRITE-MANIFESTS";

public RewriteManifests.Result execute() {
    String desc = String.format("Rewriting manifests (staging location=%s) of %s", stagingLocation, table.name());
    // I think static var should instead, Other code should also be used as a constraint
    //JobGroupInfo info = newJobGroupInfo("REWRITE-MANIFESTS", desc);
    JobGroupI

[2022-04-05 09:13] kyle-cx commented on #2532
hey guys:
       I spent some time on this issue, I need some help in order to move forward, could u please give me some guidance, thx.
@RussellSpitzer @yyanyy

here is my questions

  Should I do this testing at a higher abstraction, or am I misunderstanding these metadata tables and iceberg-core provides an implementation that can read metadata records, how do I call it?

[2022-04-05 18:08] samredai commented on #4490
@polaris6 we've been thinking a lot lately about re-organizing the docs to flow more logically with how different personas would navigate. I'm currently working on a proposal for a new structure that we can discuss in the next community sync. That's a good time to add how you'd organize the Flink section!

[2022-04-05 21:30] aokolnychyi commented on #4292
@szlta, would you be interested to work on the steps above? If you don't have time, I may ask someone on our team to do this.

[2022-04-06 01:57] polaris6 commented on #4490
@samredai Thank you for your reply, I am very interested in doing these work, you can call me anytime if you need it!

[2022-04-06 02:55] idealspark opened #4506 "how to load customer Listener on spark"
first I customer a org.apache.iceberg.events.Listener  then package it to a jar, but how to load my listener when spark start?

I need register my Listener on Iceberg Listeners

[2022-04-06 03:19] felixYyu commented on #4506
e.g.

[code]

[2022-04-06 03:51] rizaon opened #4508 "Provide mechanism to cache manifest file content across several planFiles call"
Iceberg planFiles API has benefit of filtering out unnecessary files given a set of filter predicates. During query planning, a query engine might need to call planFiles against the same table multiple times but with slightly different filter predicates for each scan. This lead to repeated manifest files reading over the same table. It is often expensive, especially if it involve remote reads thro

[2022-04-06 04:25] #4486 closed

[2022-04-06 04:52] rajarshisarkar commented on #4508
Thanks, for bringing this up. We also recently noticed this while using S3 as the target file system. The use case was for high throughput streaming jobs with a lot of snapshots.

Do let me know if you would like to collaborate on this work.

[2022-04-06 06:38] idealspark commented on #4506
thank you for reply.
I resolved this by spark listener, after later i will give a example

[2022-04-06 06:38] #4506 closed

[2022-04-06 08:35] kyle-cx commented on #4059
@zjffdu  I think here is what u like, and u can close this

![image](https://user-images.githubusercontent.com/10529123/161932210-5916eaa0-842f-4a64-9138-ca157501e4df.png)

[2022-04-06 08:56] vamen commented on #1949
Is there any updates on this ?
Would be glad contribute to this feature.

[2022-04-06 08:58] itaise opened #4510 "Spark overwrite issue when partition changes"
Hi,
we are writing to iceberg using spark, and when renaming the partition field name, we are getting a validation error:
[code]

It seems like iceberg is referring to the existing table partition field name, which is irrelevant anymore - as there is a new partition field, and the write mode is "overwrite".

Can you please assist?
Thank you!

Here is a minimal reproducible example:

1. create the

[2022-04-06 09:13] szlta commented on #4292
Hi @aokolnychyi sorry for the longer pause here, I was on paternity leave ;)
Before I left, I was looking into how proposal 2 in https://github.com/apache/iceberg/pull/3411#discussion_r823692312 could be implemented in Iceberg. It seemed to be quite tricky, so first I'd jump onto the smaller fixes of the above proposed list.
I'd be happy to take this up and work on a PR that should fix these two p

[2022-04-06 09:22] rajarshisarkar commented on #4510
I can't find the table being altered to introduce the new partition field `some_date_2`. Am I missing something?

[2022-04-06 09:41] zjffdu commented on #4059
Thanks @kyle-cx

[2022-04-06 09:41] #4059 closed

[2022-04-06 09:41] itaise commented on #4510
@rajarshisarkar  the first part is creating the first version, and the second part tries to overwrite it.
Maybe you should change the catalog name to your catalog?

[2022-04-06 09:52] kyle-cx commented on #2532
finally, I found a way to read records from a table, and I'll move forward follow the code below and do the test in iceberg-core, I hope this could reflect the behavior of reading metadata tables in higher abstractions like spark/flink
[code]

[2022-04-06 11:00] vanliu-tx opened #4513 "row delta delete files were dropped in sequential commits after table format updated to v2"
I have one v1 table with some data files, after updating it to v2 and added some row delta deletes, it works fine.

But when I delete some data files to expire data, the row delta delete-files were dropped somehow. This doesn't happen in the first commit, it happens in the second commit as the first commit wrote wrong min data sequence number in manifest.

[2022-04-06 14:45] singhpk234 opened #4515 "Flink : UT testPrimaryKeyEqualToPartitionKey fails probablistcally"
[code]

---

Looks like overwrite is not working properly and hence causing flakyness of this UT

produced locally with my set-up  also sample github run with failure : https://github.com/apache/iceberg/runs/5846777166?check_suite_focus=true

[2022-04-06 21:00] jpugliesi commented on #4144
@wypoon thank you for the explanation - is there any known workaround for this?

[2022-04-06 21:18] rizaon commented on #4508
Hello @rajarshisarkar , thanks for your interest!
I'm happy to collaborate. I filed PR #4518 as a draft for this improvement idea.

[2022-04-06 23:51] wypoon commented on #4144
@jpugliesi there is no workaround for this. However, I believe a 0.13.2 release is planned soon, which will have the fix for this. If you need the fix sooner, you can build Iceberg from the 0.13.x branch yourself.

[2022-04-06 23:58] wypoon commented on #4144
I suppose if you do need to rollback to a snapshot (and the rollback fails because of this bug), you can create a new table by selecting from the original table as of the snapshot you want, and switch to using the new table.

[2022-04-07 01:25] amogh-jahagirdar commented on #4476
Would love to hear other's perspective on this, but Nessie supports other formats such as Delta Lake. There is an ongoing PR for enabling the ability for cross table transactions. https://github.com/apache/iceberg/pull/1849 . As for accomplishing cross-trable txns via branching, similar to what Nessie does if I am not mistaken, I'm not sure that's something needed to be in Iceberg native. Nessie o