[2021-09-24 12:05] markope commented on #2301
Is there any workaround for this? How could I manually fix my HMS?

[2021-09-24 14:08] rajarshisarkar commented on #2991
I was able to locate the `tmp` files.

The `tmp` files look something like this by default (here `System.getProperty("java.io.tmpdir")` is `/mnt1/yarn/usercache/hadoop/appcache/application_1632368478936_0042/container_1632368478936_0042_01_000001/tmp`):

[code]

(or) something like this if `s3fileIoStagingDirectory` is set via `s3.staging-dir` (`/mnt/tmp` for this case):
[code]

Adding a defensive

[2021-09-24 16:49] jackye1995 commented on #3172
Row-level delete requires Spark extensions, have you enabled that? I remember this is used for the default Spark full partition deletion without the need to do copy-on-write rewrite.

[2021-09-24 17:34] Reo-LEI commented on #2918
The `JdbcDynamicTableSink` and `KafkaDynamicSink` will return `OutputFormatProvider` and `SinkFunctionProvider` as `SinkRuntimeProvider`. These `SinkRuntimeProvider` will accept `OutputFormat` or `SinkFunction` and append sink operator to upstream directly. So there is no `Filter` operator between upstream and sink operator.

Therefore, the other sinks haven't the Disorder problem. But Iceberg Fli

[2021-09-24 17:59] szehon-ho commented on #2301
I found it useful to have a small script to unlock manually as well (in case the HMS thread is not configured).  In scala for instance assuming you get a hmsclient:

[code]

[2021-09-26 08:12] openinx commented on #2558
Closed via https://github.com/apache/iceberg/pull/3116.

[2021-09-26 08:12] #2558 closed

[2021-09-26 08:20] liupan664021 opened #3179 "ParallelIterable may cause memory pressure for presto coordinator"
- No limit for split queue
Presto iceberg connector use `BaseTableScan#planTasks()` to generate splits which is processed by a  `ParallelIterable` to plan parallelly. The base logic of `ParallelIterable` is that:  when `hasNext()` is called, plan tasks(each task for each manifest) are submitted to a thread pool to plan data files from each manifest, and the generated `FileScanTask` are stored in a

[2021-09-26 12:47] xingbowu opened #3180 "Aliyun: Configurable TestRule & single bundled iceberg-aliyun jar"
Address Comments from #3067 as mentioned in [link](https://github.com/apache/iceberg/pull/3067#issuecomment-927243226)

1.  translate "/" into special character for object name like "aa/bb/cc.tx"
2.  make this TestRule configurable
3.  package oss sdk and its dependency jar

[2021-09-26 17:21] rdblue commented on #2468
I agree with Russell. The problem here is that there are two copies of `Catalog` in the classpath and two different loaders. It looks like delegation between loaders is not happening correctly.

@openinx or @stevenzwu, can you explain the classloader approach that Flink is taking? Why are there multiple classloaders here and why do they both have copies of `Catalog`?

[2021-09-27 02:12] openinx commented on #2468
@qq564567484 @iQiuyu-0821 @asnowfox @erictan90 ,  I tried to reproduce this issue in my host, by the following command but failed to get the same stacktrace as you said ( it works correctly):

[code]

Could you show me the correct step how to reproduce this class loader issues ?  I'm glad to dig the reason why it breaks.

[2021-09-27 02:36] openinx opened #3183 "Make the travis CI works for both flink 1.12.x and flink 1.13.2"
In this PR : https://github.com/apache/iceberg/pull/3116 ,   we've successfully made the iceberg-flink module to be worked correctly for both flink 1.12.x and flink 1.13.2.  Now the master branch unit tests is built on top of flink 1.13.2,  we think it's necessary to make the travis CI run on both flink 1.12.x and flink 1.13.2, so that we could detect the regression things in time before merging a

[2021-09-27 04:03] asnowfox commented on #2468
in my flink cluster. it runs like this:

Flink SQL> CREATE CATALOG flow_catalog WITH (

2021-09-27 11:56:43,219 WARN  org.apache.hadoop.hdfs.shortcircuit.DomainSocketFactory      [] - The short-circuit local reads feature cannot be used because libhadoop cannot be loaded.
[INFO] Catalog has been created.

Flink SQL> use catalog flow_catalog;

Flink SQL> CREATE DATABASE iceberg_db;
[ERROR] Could no

[2021-09-27 09:52] nastra commented on #3157
@samarthjain since you wrote the original version of the Benchmark, any idea why it requires such a long setup time?

[2021-09-27 13:06] zhangminglei commented on #3139
https://github.com/apache/iceberg/pull/3186

@openinx Hi, I've gave a PR to fix this. Could you please take a review ?

[2021-09-27 14:18] Reo-LEI opened #3187 "Flink: Get NoSuchMethodError when submit flink sql by flink 1.12.x since iceberg upgrade flink dependence to 1.13.2"
Since we upgrade the flink dependence of iceberg from 1.12.1 to 1.13.2(#3116), I trying to submit flink sql job to a flink cluster which flink version is 1.12.0, and I encounter the NoSuchMethodError as follow(the full stack will be attached at the end):
[code]

I reproduce that in my local env, and I found the root cause of this error is flink 1.13 change the return value type of `DynamicTableFac

[2021-09-27 15:38] nastra commented on #3157
I did some bisecting with `./gradlew :iceberg-spark2:jmh -PjmhIncludeRegex=VectorizedReadDictionaryEncodedFlatParquetDataBenchmark -PjmhOutputPath=benchmark/vectorized-read-dict-encoded-flat-parquet-data-996ed979f396f2c7cc12ca824a3fe758f2c486ce.txt` and the commit where `VectorizedReadDictionaryEncodedFlatParquetDataBenchmark` starts to take **>20 mins** for setup is 996ed979.

/cc @rdblue @samart

[2021-09-27 17:37] rdblue commented on #3157
@nastra, can we avoid using Spark 2.4 for this and run the benchmarks in 3.1? I have no idea what might have changed in 2.4.6 that caused this.

[2021-09-27 17:37] rdblue commented on #3157
(Alternatively, we can downgrade to run benchmarks for now?)

[2021-09-27 19:44] aokolnychyi opened #3192 "ORC: support metadata column structs with vectorization"
At this point, we don't support querying the `_partition` metadata column in ORC whenever vectorization is enabled.

See PR #2984 for more info.

[2021-09-27 21:00] rdblue commented on #905
Sure, anyone is welcome to open a PR for this.

[2021-09-27 21:19] nssalian commented on #905
Thanks @rdblue . I'll post back if I have questions.

[2021-09-27 21:58] flyrain commented on #3141
Both https://github.com/apache/spark/pull/34054 and https://github.com/apache/spark/pull/34087 have been merged into Spark. That's all we need from Spark side. To apply change to Iceberg, we need to wait for release of Spark3.3 to get the changes.

[2021-09-27 23:41] rdblue commented on #905
Looks correct to me. Thanks for finding that, @nssalian! I'll close this.

[2021-09-27 23:41] #905 closed

[2021-09-28 03:32] fatjoshua commented on #2627
I also met this exception.
My case is that I want to write the flink cdc data into iceberg, after I updated the table to V2, the update and delete operation in mysql can be wrote into the icegerg table, but when I want to read from this iceberg table using flink sql, the same exception 'java.lang.IllegalArgumentException: Row arity: 5, but serializer arity: 4' would be thrown.
Hope this read upser

[2021-09-28 04:05] openinx commented on #3187
Thanks for the report, @Reo-LEI !   I think this issue was introduced from this [apache flink PR](https://github.com/apache/flink/pull/15316/files#diff-bd276ed951054125b39428ee61de103d9c7832246398f01514a574bb8e51757cR74) and [FLINK-21913](https://issues.apache.org/jira/browse/FLINK-21913),  it just changed the returned data type from `CatalogTable` to `ResolvedCatalogTable` without any compatibili

[2021-09-28 04:20] openinx commented on #3187
In short term,  I don't think the apache flink will release a new version to address the compatibility issue recently. But I think we apache iceberg can still make jar which is built on top of flink 1.13 works fine for both flink1.12 and flink1.13, because we don't introduce any new API when upgrading the flink version from 1.12 to 1.13 in https://github.com/apache/iceberg/pull/3116.

I think we c

[2021-09-28 06:17] jackye1995 commented on #757
@BACtaki @nssalian based on the discussion in the PR opened by @BACtaki , we should document metadata tables for each engine. Based on what currently is in Spark I think we still need the following work if you are interested in picking up:
1. add documentation in Spark for missing metadata tables
2. add Flink metadata table query doc

[2021-09-28 06:42] MartijnVisser commented on #3187
@openinx @Reo-LEI Thanks for the message. As mentioned in the Flink Dev mailing list, I'm going to investigate what happened on our end, share that with you and let's get some learning out of this. I'll get back to you in a couple of days.

[2021-09-28 07:19] openinx commented on #3187
Thanks for the feedback @MartijnVisser !  Looking forward a better journey with flink&iceberg.

[2021-09-28 07:27] nastra commented on #3157
@rdblue the goal is definitely to run those benchmarks for Spark3 but I was rather trying to figure out when `VectorizedReadDictionaryEncodedFlatParquetDataBenchmark` started to take so long for setup (which was 2020-08-06 with 996ed97 when it wasn't possible to run that benchmark with Spark3). The same benchmark for Spark3 was only recently (2021-06-21) introduced with ed0c70284e1f6506331a60d8c9e

[2021-09-28 07:33] openinx commented on #2627
Thanks all for the feedback @xwmr-max , @sfiend , @fatjoshua ,  we will treat this issue as a top priority to get this merge in !

[2021-09-28 08:21] MartijnVisser commented on #3187
For transparency purposes, this is what @twalthr shared with the mailing list on this topic:

[2021-09-28 15:16] nssalian commented on #757
Thanks @jackye1995. I can take up the Spark metadata tables issue. Do we have an open issue for it?

[2021-09-28 21:42] jeff303 commented on #3088
@alex-shchetkov , I think you need `.using("iceberg")` before `.create()` in the first snippet.

[2021-09-29 01:39] zhangminglei commented on #3192
Hi, @aokolnychyi , I think I fixed it here (https://github.com/apache/iceberg/pull/3186). Could you please take a look ?

[2021-09-29 04:04] anew2018 opened #3201 "FLINK:use ROW_NUMBER() over() get error"
hi, I execute sql like:
Flink SQL>

but get some error:
[ERROR] Could not execute SQL statement. Reason:
org.apache.flink.table.api.TableException: OverAggregate doesn't support consuming update changes which is produced by node GroupAggregate(groupBy=[series_2, series_3], select=[series_2, series_3])

I think iceberg table(v2) support update operate , so this is maybe a bug? or how can i solve th

[2021-09-29 05:18] vamosraghava opened #3202 "Write fails with class cast exception."
The example that i am using is under
"hadoop tables" on https://cloud.google.com/dataproc-metastore/docs/apache-iceberg

`df.write.format("iceberg").mode("overwrite").save("gs://blahblah/iceberg_test/dest/");`

I get fat error as below. I am running it on my jupyter notebook on a spylon kernel.

[code]

Exception:

[code]
What could be the problem ? This cluster runs on spark 2.4.X.

[2021-09-29 06:58] joshuarobinson commented on #3122
Not sure if this is the right place for this question -- are there any notes or docs online that discuss the plan going forward for python/iceberg?
thanks

[2021-09-29 16:51] danielcweeks commented on #3122
@joshuarobinson There's a [github project](https://github.com/apache/iceberg/projects/7) tracking the python work and links to various docs and resources are in the project description.

The current focus is restructuring the legacy python packages then adding additional support/features.

[2021-09-29 18:11] krisdas opened #3205 "No metrics from S3FileIO"
I am following https://spark.apache.org/docs/latest/monitoring.html#metrics to emit metrics from [HadoopFileIO](https://github.com/apache/hadoop/blob/trunk/hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/S3AFileSystem.java) and get the metrics successfully. But after switching to [S3FileIO](https://iceberg.apache.org/aws/#s3-fileio), don't get similar metrics from it.

Curious to kn

[2021-09-29 18:55] kekwan opened #3206 "Support ZSTD compression codec for Avro files"
Currently, only SNAPPY and GZIP compression codec are supported for Avro files. Are there plans to support ZSTD? It is several times faster than GZIP.

https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/avro/Avro.java#L77

[2021-09-30 06:37] #3180 closed

[2021-09-30 07:52] xingbowu commented on #3180
only address task 2 in #3197
reopen it for task 1 & 3

[2021-10-01 05:38] szehon-ho opened #3211 "Add Expression filter to RewriteManifest to allow predicate pushdown"
Some tables may end up in a bad state with tens of thousands of ManifestFiles.  RewriteManifests, even with a very restrictive predicate on the Manifests, ends up not being able to finish in a reasonable time.  (Imagine the table is constantly being ingested into, then the critical RewriteManifests is never able to finish).

This is because all Manifests have to be read in order to evaluate the Pr

[2021-10-01 05:40] szehon-ho commented on #3211
@rdblue @RussellSpitzer wondering if this sounds reasonable?

[2021-10-01 06:57] szehon-ho commented on #3211
Never mind, it looks like it is doing the filter properly, sorry for noise, need further investigation.

[2021-10-01 06:57] #3211 closed

[2021-10-01 16:39] smaspe commented on #2765
Hi @kbendick,
We've upgraded to Spark 3.1.2, with no changes.
The concern is that updating rows in multiple partitions in a large table is extremely slow. We've mitigated so far by splitting queries into chunks that target smaller numbers of partitions, but it's far from perfect.

What we don't understand is: how can we tell Iceberg what (hidden) partitions to target specifically, so that it doesn

[2021-10-01 21:05] flyrain commented on #3141
By digging a bit deeper, extending class ColumnarBatch is a dead-end. The way we thought may work is to overload method `ColumnarBatch::rowIterator`, so that we can filter out the deleted rows in a customized iterator. It works for code path without Whole-Stage code gen. But codegen takes a different path, which read rows directly from column vectors of a `ColumnarBatch` object by invoking the pub

[2021-10-01 21:56] flyrain commented on #3141
There are two ways to approach this:
1.  Iterate the `ColumnarBatch` object to filter out deleted rows, and remove or overwrite the deleted rows in correspondent column vectors. Performance is the major concern. We add an additional iteration for each row in the batch, and memory copy may happen. However, we may have to do this anyway for EqualityDelete since there is no way to know if the row is

[2021-10-01 22:42] jackye1995 opened #3212 "Extend DeleteOrphanFiles use cases"
`DeleteOrphanFiles` currently has the following limitations:
1. it assume a single location for all the files, which would not work for tables that stores files in a separated directory
2. it does not work if multiple tables store files under the same root, which would be a common case for people having object storage mode to store all data files at the root bucket to minimize throttling
3. it sti

[2021-10-02 17:37] FounderHy commented on #3172
Thank you for your response, I will try

[2021-10-03 06:49] ashoksri0 opened #3214 "Iceberg Storage format support"
I have a requirement to use parquet, jsonand Avro as storage format so that if I need to get all column I go with Avro format.
what I need to know:

1. will iceberg support Avro format to store table data?
2. it can be read by trino if I store it in Avro format?

[2021-10-04 12:36] #3214 closed

[2021-10-05 15:48] danielcweeks commented on #3122
@jun-he I believe we can close this issue out, right?

[2021-10-05 16:48] danielcweeks commented on #3122
Closing as complete

[2021-10-05 16:48] #3122 closed

[2021-10-05 18:07] jun-he commented on #3122
Thanks.

[2021-10-05 22:58] szehon-ho commented on #3212
Yea I was also thinking about this issue.

For (2.1) and (2.2), maybe we can have a multi-table Action instead of having user pass in path and metadata filter which could be dangerous.  And yes for (2.3), I was thinking this for awhile.

For (3) I think yes we could add FileIO.list and be vigilant in the reviews to not allow listing unless absolutely necessary.

[2021-10-06 04:55] jun-he opened #3216 "[Python] Support all iceberg types in python library"

[2021-10-06 06:19] jun-he opened #3217 "[Python] support iceberg expressions in python library"
- [ ] Literals
- [ ] Operations
- [ ] Terms
- [ ] Boolean Expressions
- [ ] Predicates (bounded and unbounded)
- [ ] Binders
- [ ] Expression Visitors

[2021-10-06 06:19] jun-he opened #3218 "[Python] support iceberg transforms in python library"

[2021-10-06 06:20] jun-he opened #3219 "[Python] support iceberg hive catalog in python library"

[2021-10-06 06:21] jun-he opened #3220 "[Python] support iceberg hadoop catalog in python library"

[2021-10-06 06:22] jun-he opened #3221 "[Python] support iceberg jdbc catalog in python library"

[2021-10-06 06:22] jun-he opened #3222 "[Python] support iceberg aws glue catalog in python library"

[2021-10-06 06:24] jun-he opened #3223 "[Python] support iceberg hadoop file io in python library"

[2021-10-06 06:24] jun-he opened #3224 "[Python] support iceberg s3 file io in python library"

[2021-10-06 06:27] jun-he opened #3225 "[Python] support iceberg avro io in python library"

[2021-10-06 06:27] jun-he opened #3226 "[Python] support parque io in iceberg python library"

[2021-10-06 06:29] jun-he opened #3227 "[Python] support table in iceberg python library"

[2021-10-06 06:30] jun-he opened #3228 "[Python] support partition spec in iceberg python library"

[2021-10-06 06:30] jun-he opened #3229 "[Python] support table scan in iceberg python library"
This task is to implement table scan function in iceberg/python library. There is an implementation in iceberg/python_legacy library. Please review it and then either update it or rewrite it.

[2021-10-06 07:18] nastra commented on #2319
I have to agree that the default caching behavior is unintuitive and rather surprising to users (as can be seen in https://github.com/projectnessie/nessie/issues/2165).
Using the `NessieCatalog` with Spark, one can have a table `X` on branch `dev` and the `CachingCatalog` will eventually cache this table. Users can refer to this table also as `X@dev` and the `NessieCatalog` properly splits this na

[2021-10-06 09:34] nastra commented on #2384
This failed again with the same issue in https://github.com/apache/iceberg/pull/3230/checks?check_run_id=3812504383

[code]

[2021-10-06 13:48] askalik commented on #3229
would this issue be updating the python legacy table scan code in the iceberg/python directory?

[2021-10-06 14:46] nssalian commented on #3221
Can I take this up? I am working on the JdbcCatalog on the Java side as well.

[2021-10-06 15:44] samredai opened #3235 "Update Java API Quickstart to use no-arg constructor for HiveCatalog()"
https://iceberg.apache.org/java-api-quickstart/

[2021-10-06 17:03] RussellSpitzer opened #3236 "Don't consider groups for compaction if they have a single file that cannot be split"
Currently we allow MIN_INPUT_FILES to be any positive number but if we set the value to 1 this means single files will be rewritten.

https://github.com/apache/iceberg/blob/adc6d153b26e7f982d75b427f62002e32f1913fc/core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java#L234-L236

There are two circumstances in my mind when this value is set to 1

1. There is a single file which is too s

[2021-10-06 18:14] askalik commented on #3229
@jun-he could I try and complete this?

Assuming goes well, would likely try taking in some of the others.

Wanting to complete as part of hacktoberfest

[2021-10-07 00:11] jun-he commented on #3229
Hi @askalik, thanks for the help. I assign this task to you.

[2021-10-07 01:44] RussellSpitzer commented on #2972
@netvl yeah, if you manually call "invalidate" on the SparkSessionCatalog object then you are fine. The only issue is with the SQL version.

[2021-10-07 02:00] nssalian commented on #3221
@jun-he  Thanks. Don't see a issue for the base catalog.

[2021-10-07 11:03] joshuarobinson opened #3238 "Enable Python Client to work with non-AWS object stores (endpoint_override)"
Using a non-AWS object store (e.g., Pure FlashBlade, Minio, etc) requires setting an endpoint_url, so that boto3 knows how to find the object store.

Note that Spark, Trino, et al provides these overrides already, so it's just the direct library that needs this support. (Perhaps Java does too need this? I'm only using python at the moment)

[2021-10-07 13:41] tprelle opened #3241 "Issue on Hive 3 vectorization with complex type"
When Hive decides that vectorization it's not possible or partialy desactivated by user using (hive.vectorized.complex.types.enabled) you will have an error :

        at org.apache.hadoop.hive.ql.exec.tez.TezProcessor.initializeAndRunProcessor(TezProcessor.java:330)
        at org.apache.hadoop.hive.ql.exec.tez.TezProcessor.run(TezProcessor.java:266)
        at org.apache.tez.runtime.LogicalIOPro

[2021-10-07 16:19] nastra opened #3243 "Update Nessie to 1.0.0"

[2021-10-08 02:06] openinx commented on #3115
Linked to the [mail list discussion](https://lists.apache.org/x/thread.html/r6adba306a593c6c036ed8cce9af9fb4cde831e2b11e744375ca341ea@%3Cdev.iceberg.apache.org%3E):

keep up to date with the latest supported Flink version. If we want, we
could later go with something similar to what we do for Spark but we’ll see
how it goes and what the Flink community needs. We should probably add a
section to ou

[2021-10-08 06:06] jun-he opened #3245 "[Python] support iceberg base catalog in python library"
Seems we can use ABC for this.

[2021-10-08 06:31] nastra opened #3246 "Add table property to disable snapshot expiration"
For tables tracked by the NessieCatalog it makes sense to always disable snapshot expiration and let Nessie itself take care of when to expire snapshots, thus a new property `history.expire.enabled` in `TableProperties` is required

[2021-10-08 09:28] allendang001 opened #3247 "Is alter table supported or not in iceberg-hive?"
i find that create (external) table and drop table statements are supported in iceberg hive doc, however,
I did not find any introduction about the alter table statement
https://iceberg.apache.org/hive/#ddl-commands
If anyone knows the content, please let me know

[2021-10-08 15:33] samredai opened #3251 "Add tests for no arg constructor/setConf/initialize for HiveCatalog"
Related to [PR-3235](https://github.com/apache/iceberg/issues/3235). Since the quickstart will be updated to use the recommended no-arg constructor/builder pattern, it would be good to add some tests around that part of the source code.

[2021-10-08 16:59] snazy opened #3254 "Pluggable Procedures"
Idea: have a mechanism that allows plugging additional implementations of `org.apache.spark.sql.connector.iceberg.catalog.Procedure` for all users of `SparkCatalog` and `SparkSessionCatalog` by "just dropping an additional jar".

`Procedure`s allow a very flexible way (generic input parameters + result row(s)) to implement additional functionality that is say "too advanced" for everyday use and/or

[2021-10-08 18:54] #2371 closed

[2021-10-08 20:00] rdblue commented on #3115
FYI @samredai

[2021-10-09 01:35] szehon-ho opened #3263 "Spark: Add_files throws IllegalArgumentException when adding Avro files"
Reproduces on master branch:

[code]
Leads to:

[code]

Looks like a bit similar to discussion : https://github.com/apache/iceberg/pull/2494#discussion_r616607521. , but now it seems like not just Metrics problem, but DataFile needs a recordCount.

[2021-10-09 01:36] szehon-ho commented on #3263
I was thinking to explicitly set it to -1 when constructing the DataFile in listAvroPartitions, but I feel its wrong metadata (though it is set to -1 for Metrics..)

Doesn't seem like Avro file has any metadata to quickly get recordCount, I wonder if making a Spark job to read the rows is overkill?  Any thoughts @RussellSpitzer and @aokolnychyi ?

[2021-10-09 02:24] manishmalhotrawork commented on #2934
hi @cccs-br
Very sorry for delay!
I was thinking to take this up, also spend some time initially, and reach to a place where found that:

looks like `org.apache.iceberg.expressions.Literals.from` is the place where `byte[]` or `ByteBuffer` converted to the corresponding literals

[code]

Also discussed with @RussellSpitzer and next step was to check the query plan in spark sql case. That can give

[2021-10-09 05:37] kbendick opened #3265 "Spark streaming source should respect "streaming-skip-delete-snapshots" option for OVERWRITE snapshots"
The Spark microbatch streaming source can currently only handle snapshots that do not mutate or delete any of the existing rows.

This means that it can presently handle two types of snapshots that generate data:
- DataOperations.APPEND - New data files are added to the table.
- DataOperations.REPLACE -  Files are removed and replaced, without changing the data in the table (such as during data fi

[2021-10-09 08:49] Mask0407 opened #3266 "How can Iceberg support automatic compression and automatic merging of small files from Flink SQL?"
I need to use Iceberg from Flink SQL, but I can't find the configuration related to automatic compression and automatic merging of small files from Flink SQL. I hope to get your help, thank you!

[2021-10-09 10:07] kbendick commented on #2788
Hi @SreeramGarlapati,

I was looking into this recently as I was doing some investigation into existing CDC systems. Particularly as Spark has no built in concept of this.

Your proposal seems pretty good. My one concern would be streaming all data from V1 format tables in `OVERWRITE` snapshots by default. If that's a flag people can opt into, I could get behind that. But that's potentially quite

[2021-10-09 21:31] cccs-br commented on #2934
That is awesome @manishmalhotrawork

[2021-10-09 21:35] cccs-br commented on #2934
Close by accident.  Reopening.  Sry about that.

[2021-10-11 00:22] jackye1995 commented on #3246
why not just set `history.expire.max-snapshot-age-ms` to `Long.MAX_VALUE`?

[2021-10-11 10:35] pvary commented on #2301
@zhangminglei:
The code path protected by the lock does this:
[code]

This is 2 HMS calls and some object data update. So this should not take very long. Also the TXN_TIMEOUT is configured to 300s by default.

All that said, you are right, that in extreme scenarios this could be a problem.

[2021-10-11 13:05] pvary opened #3272 "ORC: Add ORC support for write properties"
To be consistent with Parquet, it would be good to introduce write table properties for ORC too.
Also make sure that we have a configuration available for ORC separately.

Discussed here: https://github.com/apache/iceberg/pull/2935#discussion_r682887792

[2021-10-11 18:38] RussellSpitzer commented on #3263
https://github.com/apache/iceberg/issues/2161 -- Another Report of this issue
https://github.com/apache/iceberg/issues/2360 -- Our initial problem with running tests for AVRO and ORC

[2021-10-12 04:19] tuziling opened #3277 "Flink1.12.1 +Iceberg0.12.0 has problems with real-time reading and writing in upsert mode"
### Regarding the research on the real-time reading and writing direction of Flink1.12.1 + Iceberg0.12.0 + S3, I have encountered some questions. Can anyone help me answer them?

        What has been implemented now is the real-time read and write in append mode, that is,the read and write are two programs, one for continuous writing and the other for continuous reading. This is no problem. But w

[2021-10-12 04:54] ajantha-bhat opened #3278 "Update Delete FROM documentation and testcases"
Recently one of the iceberg user was asking about how to delete from for specific scenario.
https://apache-iceberg.slack.com/archives/C025PH0G1D4/p1632236862489200

This confusion was caused as we didn't mention delete from support with subqueries (as joining with another table). This support is coming from SPARK. we can update the document as well and add test cases for the same.

[2021-10-12 06:27] ajantha-bhat commented on #3278
I saw that already test cases are present. Hence it will be just a document update.

[2021-10-12 06:46] ajantha-bhat commented on #3278
Handled document update for 'UPDATE' SQL as well about subqueries.

[2021-10-12 08:28] Mask0407 opened #3280 "When trying to use Flink SQL to operate on Iceberg tables in parallel, tell me that Metadata.json is in a different location from the current metadata."
In the Flink stream processing, I tried to insert the Iceberg table in parallel using SQL, and the result was as follows:

[code]

I hope to get your help.

[2021-10-12 09:10] #3041 closed

[2021-10-12 17:00] netvl opened #3281 "SparkCatalog.alterTable() violates the contract of the TableCatalog interface"
The `alterTable()` method on the `SparkCatalog` class always returns `null`. However, per the [API documentation](https://spark.apache.org/docs/latest/api/java/org/apache/spark/sql/connector/catalog/TableCatalog.html#alterTable-org.apache.spark.sql.connector.catalog.Identifier-org.apache.spark.sql.connector.catalog.TableChange...-) of the `TableCatalog` interface, this method must return the updat

[2021-10-12 17:03] danielcweeks opened #3282 "Python: pre-commit + black + isort + mypy"
Add code infra for python project including pre-commit, black, isort, mypy to enforce standards.

[2021-10-12 17:08] jun-he opened #3283 "[Python] gist examples for iceberg python library"

[2021-10-12 18:44] jackye1995 opened #3285 "Glue catalog namespace cannot set locationUri"
Glue database have a specific field `locationUri` for the `Database` model, similar to Hive. Currently we use this information for default warehouse location (https://github.com/apache/iceberg/blob/master/aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java#L161), but we do not have a way of setting it (https://github.com/apache/iceberg/blob/master/aws/src/main/java/org/apache/iceberg/aw

[2021-10-12 19:08] jackye1995 opened #3286 "Glue catalog namespace cannot set description"
Glue database have a specific field `Description` for the `Database` model, similar to Hive. We should match Hive and map the `comment` field of namespace metadata for the information.

[2021-10-13 08:45] harshm-dev opened #3289 "Include provided catalog impl as known types"
https://iceberg.apache.org/spark-configuration/

`spark.sql.catalog.catalog-name.type` can currently be set to "hadoop/hive", which automatically maps to the underlying iceberg catalog implementation against the type.

The type should be extended to all other types, example - "nessie", where the implementation is mapped to [NessieCatalog](https://github.com/apache/iceberg/blob/master/nessie/src/ma

[2021-10-13 16:24] ChengzhiZhao opened #3290 "How to disable snapshot at table level?"
Hi All, I have a question need some advice here, we want to disable snapshot (time travel) for certain iceberg tables while keep other tables with snapshot still enabled. Any suggestions on how to achieve this?

[2021-10-13 18:35] miR172 opened #3291 "JdbcCatalog should work with any SQL dialect and advanced jdbc-wrappers like Jooq"
1. Create an interface for JdbcCatalog to use a database. This allows implementations to use different SQL dialects and advanced jdbc-driver wrapper (like Jooq, or Spanner).
2. The existing plain text queries will be packed into a default impl because it requires no extra dependency.

[2021-10-15 01:48] openinx commented on #3115
Of course, just assigned to you @narrator0120 !

[2021-10-15 02:26] yujiantao opened #3295 "Can spark operates iceberg table created by hive?"

[2021-10-15 08:37] snazy commented on #3254
@karuppayya @aokolnychyi that would be awesome!

Our use case is to add some procedures that apply only to the `NessieCatalog`. So we would need the `config` passed to `getProcedureBuilders()` and only provide (return) the Nessie specific procedures, if the catalog is a NessieCatalog.

[2021-10-15 14:33] kirandk commented on #2040
I have the issue even in Spark 3.2.0 (same code as in posted in original https://gist.github.com/mehtaashish23/7fccdd8df620cf9fe34dd146441126a9)

Any workaround/alternate?

[2021-10-15 14:59] RussellSpitzer commented on #3290
This is not possible as Iceberg only operates through Snapshots ie, it always makes changes by adding a new snapshot. You could expire snapshots after every write which would effectively disable time travel but this would be manual.

Maybe someone else has a better idea ...

[2021-10-15 15:59] RussellSpitzer opened #3297 "Expose AncestorsOf Snapshot as Spark Procedure"
Currently we have found that there is some utility in being able to get all the snapshot ancestors of a particular snapshot. This information can be obtained using

https://github.com/apache/iceberg/blob/d9ab0babd2de7c5d3dc14e8f458bd1020a14329e/core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java#L77-L89

But there is no way to get this information from SQL directly. I was thinking we may

[2021-10-17 01:32] kbendick commented on #3091
This can be closed as the actual problematic test is resolved. We should make an issue for the test that was closed though so leaving this up until I do that.

[2021-10-17 10:07] ashoksri0 opened #3299 "Table Ingestion with iceberg java not working"
`

    public class SampleIngestion_test {
    private static final Logger logger = LogManager.getLogger(SampleIngestion_test.class);
    public static void main(String[] args) throws IOException {

    final Configuration configuration = new Configuration();
    configuration.set("spark.sql.catalog.spark_catalog","org.apache.iceberg.spark.SparkSessionCatalog");
    configuration.set("spark.sql.ca

[2021-10-17 15:20] RussellSpitzer commented on #3297
I was considering you could pass and arg to get ancestors of another snapshot that is not current. For example if you rolled back

[2021-10-17 15:48] KnightChess commented on #3297
oh, its mean all snapshots find the target id slowly, but pass an arg, the ancestors will be find quickly? I don't know much about rollback for the metadata, but it does not affect the realization of this function. I will confirm the mechanism later.

[2021-10-17 15:59] RussellSpitzer commented on #3297
More like -
Says I have snapshots
[code]
I then roll back to B and add C' and D'

So i have the following live snapshots
[code]

Now I want to know the ancestors of "D".

Basically the default behavior of AcnestorsOf would give you the ancestors of the table's current snapshot, but you can pass in an arguement to get ancestors of another snapshot in the current history, or in a divergent one you r

[2021-10-17 19:31] kbendick commented on #2962
@edgarRd From my investigation, the issue seems to have come up from Parquet version 1.11.0 -> 1.11.1 (which is where the map key_value type change occurred).

Since you're importing tables, can you run parquet-cli meta on the files that are imported and see what parquet version they are? Or try upgrading to Parquet 1.11.1 and see if the issue occurs (using Iceberg 0.12.0 should be fine). I believ

[2021-10-18 10:47] openinx commented on #2914
Closed via https://github.com/apache/iceberg/pull/3250.  Now we've successfully addressed the ORC delete writers issues that troubles us a lot before. Thanks @pvary for the great work !

[2021-10-18 11:01] pvary opened #3303 "ORC: Add support for AppenderFactory delete writer creation"
The following AppenderFactories does not handle ORC delete writer creation:
- GenericAppenderFactory
- FlinkAppenderFactory
- SparkAppenderFactory

We should add ORC for the following methods:
- newEqDeleteWriter()
- newPosDeleteWriter()

[2021-10-18 12:23] ChenLinL opened #3306 "How to fall back the current schema version to the previous one?"
As we know, when we delete a column with Spark SQL, a new schema will be created with a unique incremental shcema-id. Even though we add a new column with the same name as the deleting one, the schema will be a new one, and we cannot see the column data that has been writing to the old schema. How could we fall back to the previous schema or recall this deleting approach?

[2021-10-18 13:58] nastra commented on #3157
For completeness, here's the thread dump:
[code]

[2021-10-18 16:19] nastra commented on #3246
Using the `GC_ENABLED` flag makes probably sense.

[2021-10-18 19:46] kbendick commented on #2962
Thank you @rdblue! It will be good to have this solution in place that doesn't rely on parquet producing the same thing across versions. Great find.

[2021-10-19 05:15] kbendick commented on #3187
I know this is old but thank you for tagging me @Reo-LEI.

I have been out of office for a bit (just getting back this week) but thank you for the summary @openinx and for all of the work on this.

Thank you so much also @MartijnVisser and everybody involved.

I have a new role as an open-source engineer now, in general vs before when my focus was a bit more Spark+Iceberg. So my work is a bit more

[2021-10-19 08:54] shengkui commented on #3079
This issue is caused by the version of hive-metastore. I changed the hive to 2.3.9, then it's ok to create table and insert in flink sql client.

[2021-10-19 12:03] jayfeihe commented on #3096
did you solve this problem? or have other way to avoid it ?

[2021-10-19 16:01] jun-he opened #3318 "[Python] support iceberg table schema in python library"

[2021-10-20 02:40] weimy2018 commented on #3280
+1，
I temporarily circumvented this problem by reducing the parallelism. I guess the root cause is the lack of lock protection during concurrent commit.

[2021-10-20 05:09] jackye1995 opened #3325 "Glue catalog table schema improvement"
In #3048 we added a copy of Iceberg schema to Glue, with information in the comment section for each column.
In fact, Glue supports column parameters (https://docs.aws.amazon.com/glue/latest/webapi/API_Column.html).

Instead of description, here is a proposal to categorize information into the following column parameters for better information presentation purpose:
- `iceberg.content`, can be `col

[2021-10-20 10:26] fengguangyuan commented on #3299
Sorry about my previous reply, `apply()` just returns a BaseSnapshot instance, `commit()` is actually persisting the metadata and data file.

[2021-10-20 12:20] SusurHe opened #3327 "How do I need to merge small files with the new API"
I find the class `org.apache.iceberg.actions.Actions` was deprecated, when i want to use it to merge small files;
Now I find the new class `SparkActions`, but I don't know how to set target files size?

[2021-10-20 13:46] ashoksri0 commented on #3299
I tried with commit I get many versions of metadata and Avro files, not the data, I don't know will I need to get the input from file path from HDFS or from my local

[2021-10-20 14:11] KnightChess commented on #3299
[code]
It only update metadata when you commit it. won't mv parquet file to default data directory.
like: if the parquet file in /usr/data/xxx.parquet,  the metadata manifect file will add datafile uri to /usr/data/xxx.parquet, etc. if the parquet file in /tmp/my/xxx.parquet, the metadata manifect file will add datafile uri to /tmp/my/xxx.parquet. won't mv the parquet file to /user/hive/warehouse/

[2021-10-20 15:00] KnightChess commented on #3297
Hi, @RussellSpitzer  I am newbie to open source, not sure about the rules. Looked other issue, seems to need to assign issue...
this is the pr for this issue, #3317

[2021-10-20 15:08] ashoksri0 commented on #3299
how I will find the latest metadata JSON for the table from java API so that I can add in table properties that helps TRINO to read the table

[2021-10-20 15:51] RussellSpitzer commented on #3297
We have no rules here :) But I can assign you if you like. Honestly we tend to just respect whoever wants to do the work should put up a pr, and then we go from there.

[2021-10-21 03:08] pan3793 commented on #3327
You can find demo from [TestNewRewriteDataFilesAction](https://github.com/apache/iceberg/blob/119d20d22e66655bce1590041e4ba25ae48874fb/spark/v3.0/spark3/src/test/java/org/apache/iceberg/spark/actions/TestNewRewriteDataFilesAction.java)

[2021-10-21 06:16] jun-he commented on #2194
Yes, we are working on it now. The progress is tracked at https://github.com/apache/iceberg/projects/7.

[2021-10-21 07:45] fengguangyuan opened #3336 "Should do the best efforts to release hive table lock"
# What's the problem?
In our practices of overwriting partitions with HiveCatalog, we have more than  `CLIENT_POOL_SIZE_DEFAULT` threads running on `ClientPool`, no doubts the committing snapshot thread may waiting on the client pool, in which it is possible to lead to hive table lock leak, if it's interrupted at this moment.

In such case, we need to have the bests efforts to release the lock.

#

[2021-10-21 09:02] fengguangyuan opened #3340 "Should be synchronized on current()/refresh() overrode in HiveTableOperations?"
# What' the problem?
In our practices, it's sensible for us to have multi threads to access `TableMetadata` through the hive operation, but the current logic of `current()` and `refresh()` is designed for single thread, hence if in parallel scenarios, it's easily to lead to GC issues in the driver/main thread.

# Why the problem ?
Considering the following cases, each `AppendFiles` instance may ho

[2021-10-21 10:29] ashoksri0 opened #3342 "how to peroform record level delete for parquet in java"
I need to delete the records by   where condition clause which I get from  iceberg-data , how do i perform the delete operation from java iceerbg api

[2021-10-21 21:13] ismailsimsek opened #3344 "How to get subfields of Types.NestedField"
what is the correct way to get sub fields of `Types.NestedField` ?
 its type is struct and i cant see any method to get its sub fields. only the rot node/itself is accessible.

i have following schema and need to recursively access each field including  sub fields `i` and `f`
[code]

[2021-10-22 01:59] cvasani opened #3346 "Unable to create table in local environment"
Hi Team,

I have tried to setup a iceberg on my local instance. Spark is local to my machine and tried executing given commands. Now command is throwing errors. Could you please advise ?

Commands :
[code]

Error :
[code]

For NameSpace.
[code]

[2021-10-22 02:25] dailai opened #3347 "StreamingReaderOperator busy lead to checkpoint failed"

[2021-10-22 02:51] RussellSpitzer commented on #3346
What version of spark are you running. We test with spark 3.0, 3.1, and 2.4.7￼ (different runtime jar)

3.2 is in progress

[2021-10-22 02:55] cvasani commented on #3346
I am using spark 3.2. Thank you . let me test with 3.1. Could you please help me find documentation link for certification matrix.

[2021-10-22 03:04] #3346 closed, assigned to nobody

[2021-10-22 12:54] ajantha-bhat opened #3355 "Support CALL procedure for rewrite_datafiles similar to rewrite_manifests"
If we provide this options, It will be easy for user to handle everything from SQL itself.

https://iceberg.apache.org/spark-procedures/#:~:text=by%20this%20command-,Examples,-%C2%B6

[2021-10-22 14:46] deepeye opened #3356 "In upsert mode & PARTITIONED, insert TIMESTAMP value throws java.lang.ArrayIndexOutOfBoundsException"
Flink1.13.2
Iceberg master

iceberg table schma:
[code]

`Flink SQL> INSERT INTO iceberg_part_table_v2_1 VALUES (9, 'test10', LOCALTIMESTAMP, 2021, 9);`

Exceptions:
[code]

[2021-10-22 15:49] #3344 closed, assigned to nobody

[2021-10-22 16:40] cvasani opened #3357 "Append to Iceberg table is not reflecting in another session."
Append to Iceberg table is not reflecting in another session until we start a new session and run below quety.

use-case.
1) First create a table with data (FIRST TERMINAL)
2) connect to pyspark from different window : (SECOND TERMINAL)

[code]
run given query

[code]
Result : 17

3) Append data to same table from first terminal (FIRST TERMINAL)

4) go to second terminal (SECOND TERMINAL)

run giv

[2021-10-23 02:47] #3357 closed, assigned to nobody

[2021-10-23 14:37] ashoksri0 opened #3359 "Manifest file is empty"
I'm using iceberg java core APi to ingest records into hdfs with below code

      public class SampleIngestion_test {
      private static final Logger logger = LogManager.getLogger(SampleIngestion_test.class);
      public static void main(String[] args) throws IOException {

      final Configuration configuration = new Configuration();
      configuration.set("spark.sql.catalog.spark_catalog",

[2021-10-24 03:25] JySongWithZhangCe opened #3361 "Support manually make snapshot base on existing snapshot"
The business requirements take a daily snapshot of the data for each day. Administrators taking snapshots of all data tables at the same point in time can help manage data tables in this scenario.

[2021-10-24 14:14] #3359 closed, assigned to nobody

[2021-10-25 03:41] alexkingli opened #3362 "The tools that hadoopCatalog and hiveCatalog convert to each other"
Sometimes we need to switch the two catalogs . For example, our Iceberg tables are already online with hadoopCatalog, but we found some problems and want to modify it to hivecatalog for easy integration on other platforms。I think the  tools these two catalogs convert to each other is important ， we can adjust the way to the situation we need。

[2021-10-25 04:21] Reo-LEI opened #3363 "Hive: Got NoSuchMethodException when create HiveMetaStoreClient in hive-metastore-2.1.1."
Since https://github.com/apache/iceberg/pull/3099 I encounter the `NoSuchMethodException`  when I submit flink job to flink cluster which hive metastore version is 2.1.1.

I found in #3099, `HiveClientPool` will dynamically call `RetryingMetaStoreClient.getProxy(HiveConf.class, Boolean.TYPE)` methon and the `getProxy` will call `HiveMetaStoreClient(HiveConf.class, Boolean.class)` [constructor](htt

[2021-10-26 04:18] alexkingli opened #3371 "The incremental consumption should keep the order of data"
In the actual environment, we incrementally consume table data and find that the data is not consumed in chronological order of data time or historical snapshots。

[2021-10-26 04:31] wypoon opened #3372 "spark/v3.2 code does not build against Scala 2.13"
It has been proposed to build Spark 3 support -- at least for Spark 3.2 -- against both Scala 2.12 and 2.13.
The code in spark/v3.2 currently does not compile against Scala 2.13.
Some of the sources of source incompatibility are:
- `scala.Predef.conforms` (deprecated since 2.11) has been removed in 2.13.
- `scala.Seq[+A]` in 2.13 is an alias for `scala.collection.immutable.Seq[A]` instead of `scal

[2021-10-26 08:30] jinchengchenghh opened #3374 "select .files and rewrite data files failed after remove partition field"
if update the spec, remove the partition field, then cannot query files, and rewrite data files, expire snapshots will also raise exception

### _Case_
[code]
### _Exception is_
[code]

[2021-10-26 22:42] ismailsimsek opened #3380 "GenericAppenderFactory adding sort order"
does it makes sense to pass sort order to [GenericAppenderFactory](https://github.com/apache/iceberg/blob/master/data/src/main/java/org/apache/iceberg/data/GenericAppenderFactory.java)? seems like its missing? is it writing data sorted?

and does it makes sense to create additional `GenericAppenderFactory` constructor which accepts `Table` as argument? almost all the required arguments are availab

[2021-10-27 01:31] #3303 closed, assigned to nobody

[2021-10-27 10:08] openinx opened #3393 "Hive: Bug when runing SQL with multiple table join"
I encountered an iceberg bug when executing Hive query to iceberg table. I can reproduce this by writing an unit test: https://github.com/apache/iceberg/pull/3392/files#diff-514a9a4a1b39ecf3ed48a4099e0d9335f7eede202cf72adc889f9f75cb810cfdR227

![image](https://user-images.githubusercontent.com/5028729/139045256-b433142e-b68e-413f-a749-0052196778de.png)

I think this bug is related this PR (https:/

[2021-10-27 10:43] maggie-zhu opened #3394 "After deleting some parquet in one partition, then read iceberg will throw out error"
I delete some parquet files in one partition in hdfs directory manually, then I use following command to read iceberg:
val df_temp = spark.read.format("iceberg").load(path)
df_temp.createOrReplaceTempView(s"test")
spark.sql(s"select * from test where arrivedate = '${day}'")

It will fail and then throw out an error like:
 ERROR source.BaseDataReader: Error reading file: /user/../../../../../data/a

[2021-10-27 11:33] xigua88-66 opened #3395 "While I tring to select table1 join table2，if fields of table2 was choosed, error like "java.lang.ArrayIndexOutOfBoundsException: 6" occurred"
**flink : v1.12.1
iceberg : v0.12
iceberg table version: v2**

I have 2 iceberg tables , table01 and table02。
Fields of table01 are a, b, c ;
Fields of table02 are d, e, f ;

SQL like:
SELECT   t2.*   FROM    table01   AS   t1   JOIN   table02   AS  t2   ON  t1.a= t2.d;
or
SELECT  t2.d  FROM   table01   AS   t1   JOIN   table02   AS  t2   ON  t1.a= t2.d;
or
SELECT  t1.c,  t2.d  FROM   table01   AS

[2021-10-27 13:37] ashoksri0 opened #3396 "How to get Data file from a query"
I need to know the parquet data file for a particular record based on the  iceberg query java
CloseableIterable<Record> result;
I will get a set of records from a  query in a result iterator ;

**what I need ?:**

i need to know the records belongs to which parquet data files

[2021-10-27 20:56] puchengy opened #3401 "Outdated object-store-file-layout documentation"
https://iceberg.apache.org/aws/#object-store-file-layout

It seems:

1. write.data.path is not used anymore, but it still appears in the doc
2. formatting issue beginning with "the logic is as follows:"...

[2021-10-28 02:02] flyrain opened #3405 "Spark 3.2 benchmark failed with netty.buffer issue"
It may be related to an older netty version in the classpath. Spark 3.2 updated netty from 4.1.51 to 4.1.63 by https://github.com/apache/spark/pull/32227, due a security problem.
[code]
cc @aokolnychyi @RussellSpitzer

[2021-10-28 02:15] KnightChess opened #3406 "[SPARK] Support show partitions for SparkTable in spark-3.2"
spark has defines the ShowPartitionsExec in spark-3.2, so I want to support show partition.
I think we can implement SupportsPartitionManagement in org.apache.iceberg.spark.source.SparkTable, and only implement  partitionSchema and listPartitionIdentifiers to support show partitions.
Is there any other suggestion?

[2021-10-28 05:33] #3263 closed, assigned to nobody

[2021-10-28 05:34] #3251 closed, assigned to nobody

[2021-10-28 07:39] SongJok opened #3409 "After merging small files, the number of files is still large"
When we successfully write data, the number of small files and the space of small files increase greatly, but after the small file merge on the official website, the number of files does not change, and there is no merge

[2021-10-28 08:04] JadeQin opened #3410 "about table properties"
I clone 0.12 branch code ,in TableProperties class has some properties like this
[code]

But I can not found content about this in https://iceberg.apache.org/configuration/

What about this mean ? What different about upsert and overwrite ?

Thanks

[2021-10-29 05:55] #3325 closed, assigned to nobody

[2021-10-29 09:26] tlchao opened #3417 "commit snap of merge small files and normal java job has complict"
I started a job used java api to generate an iceberg partiton-table. This job append data to table every two minutes, this will lead to lots of small files. I hope to merge small files in another spark job with writing operation parallelly. I have found two operators will generate snap complicit, which leads to writing job meet "snap-xxxx.avro can't be found" when merge job is running. And now the

[2021-10-29 16:49] RussellSpitzer opened #3419 "RTAS/CTAS Copies Partition Spec Internal Details Incorrectly"
Replace Table as Select copies internal implementation details while replacing a table

An example

[code]

 Fails with

[code]

Although this should be impossible since our new replacement table should have no knowledge of the old partitioning spec

This also manifests in a bunch of other odd errors, for example if we start with the replacement table unpartitioned, it still has partition spec det

[2021-10-29 21:26] RussellSpitzer commented on #3419
Fix for the issue with collisions between existing voided partition-spec fields and and partition fields #3421

[2021-10-29 22:09] cabhishek commented on #3282
@samredai Thanks, I opened a PR [here](https://github.com/apache/iceberg/pull/3423).

[2021-10-30 17:08] chulucninh09 commented on #3283
Extending the idea of @fjetter and also being mentioned in https://apache-iceberg.slack.com/archives/C029EE6HQ5D/p1635453723004300, I wrote this gist to describe more about my expected experience using `iceberg`.
https://gist.github.com/chulucninh09/3484445d4cea62096de6e6e3ea684fa2

As a pandas user, I think of iceberg is a kind of IO engine, my main focus is to process the data, while iceberg is

[2021-10-30 19:12] jackye1995 opened #3426 "Website navbar not showing properly on Firefox"
@samredai

Not sure if it's just me, I am seeing the following on Firefox. The same issue does not exist on Chrome and Safari.

![Snip20211030_1](https://user-images.githubusercontent.com/29823233/139555680-1f1b1577-4901-491a-a949-03f719af71de.png)

[2021-10-30 19:32] nssalian commented on #3426
Not hitting the same issue but the landing page didn't load for me as it did in Chrome and Safari.

[2021-11-01 03:06] openinx commented on #3183
Changed this from **TODO** to be **DONE**

[2021-11-01 03:06] #3183 closed

[2021-11-01 07:20] openinx opened #3431 "Flink: Add unit test to guarantee v2/v1 table without any deletes won't project to exclude the meta-columns."
Copied from this [comment](https://github.com/apache/iceberg/pull/3240/files#r736304982)

[2021-11-01 08:54] #2730 closed

[2021-11-01 08:57] openinx commented on #2627
Closed via https://github.com/apache/iceberg/pull/3240.

[2021-11-01 08:57] #2627 closed

[2021-11-01 12:47] openinx opened #3433 "Flink: Support flink 1.14.0 version"
As we've successfully separate the flink 1.12 and flink1.13 in the same apache iceberg official repo, I think it's a good time to add the support for flink 1.14.0 (https://flink.apache.org/news/2021/09/29/release-1.14.0.html).

I will try to publish PR for this.

[2021-11-01 15:53] #3363 closed

[2021-11-01 17:46] ismailsimsek commented on #3426
Got same issue, after cleaning cookies-and-site-data it loaded correctly. also it did load correctly with Firefox incognito mode.

https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox

[2021-11-01 19:53] kbendick commented on #3393
As we've cherry-picked all of the completed PRs for 0.12.1, I'm going to remove this from the 0.12.1 milestone @openinx.

As I mentioned before, if / when we find a fix, we can cut a release if we feel it's urgent. Or if we're close enough to the next major release we can let it go out there.

Maybe add this to the 0.13.0 project so it's still tracked somewhere that's likely to be seen? https://gi

[2021-11-01 20:09] #3405 closed, assigned to nobody

[2021-11-01 20:18] kbendick commented on #3419
@RussellSpitzer I'm going to close this as https://github.com/apache/iceberg/pull/3421 has been mergeed in. Please reopen if you think that was a mistake!

[2021-11-01 20:18] #3419 closed

[2021-11-01 20:18] #3091 closed

[2021-11-01 20:19] kbendick commented on #3091
The test that was closed is a Flink issue. It is resolved as of Flink 1.14 (batch jobs take a final checkpoint so that operators don't necessarily close early).

[2021-11-01 20:21] kbendick opened #3438 "Remove `dev/` from the expensive CI scripts."
When making changes to the dev scripts (eg. shell scripts for checking licenses and source-release.sh), it ran the expnsive Flink / Hive / Spark / Java CI sscripts.

We should exclude those.

[2021-11-01 20:25] kbendick opened #3439 "Make source-release script compatible with macOS"
The script `dev/source-release.sh` doesn't run in its current form on my macbook, which doesn't have `sha512sum` installed.

I found a similar command, which exists on my macbook as well as on a linux box I have access to.

We should update it so that it runs locally.

PR for the fix: https://github.com/apache/iceberg/pull/3436

[2021-11-01 20:28] kbendick commented on #2080
This has been fixed by the workflow found in `.github/workflows/cancel-duplicate-workflow-runs.yml`.

[2021-11-01 20:31] #2080 closed

[2021-11-01 20:56] kbendick commented on #3426
Confirming that it no longer happens for me on Chrome when I opened a new window (presumably the cookies change).

[2021-11-02 01:21] cassiemudan commented on #2825
I have the same problem with @haormj. Are we able to create jdbc catalog using flink sql client? It automatically create the namespace and throws the not supported exception.

[2021-11-02 08:27] #3172 closed

[2021-11-02 08:33] deepeye opened #3447 "In CDC to Iceberg， why data files is still growing rapidly when finished Expire Snapshots & Compact data files"
In 10 hours, the number of data files has increased by four times, and the file size has increased by five times, even though I have performed the operations of expire snapshots & compact data files。
I do not know why？Please help me！

iceberg table case：
[code]

[2021-11-02 10:36] pvary commented on #3363
Thanks @Reo-LEI for reporting and @szehon-ho for fixing the issue!

[2021-11-02 15:30] #3282 closed

[2021-11-02 21:06] kbendick commented on #3439
Closing as #3436 fixes this (at least on my machine).

[2021-11-02 21:06] #3439 closed

[2021-11-02 21:06] #3438 closed

[2021-11-02 21:24] nssalian commented on #2825
@cassiemudan that's being worked on #3275

[2021-11-02 21:26] kbendick commented on #3447
A few things are possible that I can think of. First and foremost, you should check out the docs on:
- table maintenance https://iceberg.apache.org/#maintenance/#table-maintenance
- streaming table maintenance: https://iceberg.apache.org/#spark-structured-streaming/#maintenance-for-streaming-tables

If you're running the expire snapshots operation, keep in mind that there is the option for how man

[2021-11-02 21:46] samredai commented on #3426
Sorry for the noise here, GitHub pages sets a default 10 minute cache but that's persisting in some browsers for some reason. Clearing the cache should work.

[2021-11-02 23:50] kbendick opened #3453 "Importing files from an empty path can throw NumberFormatException"
While testing the 0.12.1 release candidate, I tried running the `add_files` procedure with an ORC table.

I ran it once, so the files were imported. I then dropped the table, created a new table, and tried to reimport from the same path.

I got the following `NumberFormatException` when trying to parse the number of imported files.

[code]

  The path in the HDFS existed, but there were no files t

[2021-11-03 02:23] yyanyy commented on #3401
I think `write.data.path` is a new thing introduced in #3094 but we did not update table property related doc, potentially because this change is currently not in any official release yet

[2021-11-03 06:45] dylzlt commented on #3417
what's the logic of the merge job? Did you expire and clean the old snapshot when your merge job completed?

[2021-11-03 09:11] kingeasternsun commented on #1667
It seems like a Knapsack problem

[2021-11-03 09:24] kingeasternsun commented on #2676
Hello everyone, Is any basic docker-compose file We can try?

[2021-11-03 09:33] deepeye commented on #3447
Thanks for your help！I guess the reason is that when compact data files ， equality deletes are ignored。Please focus on https://github.com/apache/iceberg/pull/2372#issuecomment-845514501
 and https://github.com/apache/iceberg/projects/10 ，
but I am not sure that solved the problem。I will try your suggest，thanks！

[2021-11-03 14:10] RussellSpitzer commented on #1667
We should really get in my Medium Files PR first which would fix the
suggested layout ^ (if the blocks were the right sizes)
https://github.com/apache/iceberg/pull/3292

On Wed, Nov 3, 2021 at 4:11 AM kingeasternsun ***@***.***>
wrote:

[2021-11-03 16:41] #2738 closed

[2021-11-03 16:41] rdblue commented on #2738
This was fixed in #3240.

[2021-11-03 20:57] jackye1995 commented on #3426
Thanks for the investigation! I can confirm the fix works, closing this issue.

[2021-11-03 20:57] #3426 closed

[2021-11-03 23:16] CircArgs opened #3464 "Types + Filesystem - custom implementations VS Arrow"
I've been looking through the python legacy code as well as the new pythonic version and I had a few questions about the python rewrite and the lack of use of existing projects in the ecosystem.

# Types
 in https://github.com/apache/iceberg/blob/master/python/src/iceberg/types.py there are a few primitive types whose comparison requires using the instantiated attributes rather than python built-i

[2021-11-04 01:04] TGooch44 commented on #3464
short answer is that legacy was mostly implemented before pyarrow was v1 and before any datasets API was available.  At Netflix, These things were being delegated to an internal c-lib based off the arrow c-lib that handled low-level scanning and filtering.

Additionally, AFAIK, even in the current pyarrow datasets api there is still some special handling where schema evolution is needed that somew

[2021-11-04 02:19] jun-he commented on #3464
Thanks for the comments on the Types. There are two primitive types not fitting this, e.g. `FixedType`, which depends on instantiating attribute `length`, e.g. `FixedType(16)` and `FixedType(8)` are two different types, (similar to int32 vs int64). I don't see a clean way to provide a singular class for both two.

[2021-11-04 02:30] jackye1995 opened #3465 "Doc: missing Spark doc for some system tables"
We are missing `partitions`, `entries`, `all_data_files`, `all_manifests`, `all_entries` tables in https://github.com/apache/iceberg/blob/master/site/docs/spark-queries.md?plain=1#L130

[2021-11-04 02:55] fennuzhichui opened #3466 ""Manifest is missing" ValidationException when there have Concurrent applications to rewrite manifests"
we concurrently run a lots of sql-shell to overwrite different day's data in iceberg table, and every application end with "CALL spark_catalog.system.rewrite_manifests(table => 'dwm.tableA', use_caching => false)". The applications will rewrite the tableA's manifests concurrently , and throw ValidationException("Manifest is missing: xxx") in validateDeletedManifests method.
`		 diagnostics: User c

[2021-11-04 06:30] KnightChess commented on #3465
I'll supplement this doc this week, please assgin to me.

[2021-11-04 12:24] zhong-yj commented on #417
Is there any progress on this issue? @rdblue @ericsun2 We ran into the same problem as this one, so we want to know about the community’s plan on this issue.

[2021-11-04 17:36] myandpr commented on #3447
Hi, @kbendick ,I have been confused whether this action [RewriteDataFilesAction](https://github.com/apache/iceberg/blob/master/flink/src/main/java/org/apache/iceberg/flink/actions/RewriteDataFilesAction.java) in Flink supports v2 table?I mean that whether this action can rewrite equality delete files and position delete files in 'merge on read' mode.

Could you explain to me？thinks very much!

[2021-11-04 18:13] jackye1995 commented on #3465
@KnightChess thanks! assigned

[2021-11-04 18:40] #3285 closed

[2021-11-04 19:59] CircArgs commented on #3464
@jun-he could you elaborate a little more? It seems these fixed types are just for raw bytes. What prevents a singular type like one having a `length` attribute?

[2021-11-04 20:16] RussellSpitzer commented on #3281
Marking this as another good first issue for anyone who wants to get started on Iceberg :)

[2021-11-05 02:05] jackye1995 opened #3474 "Website: Hive page does not show sections in sidebar"
Unlike Spark and Flink, Hive page does not show the section information in the sidebar. I suspect this is because we only have a single Hive markdown file comparing to Flink and Spark that has multiple so nested contents are displayed. We can either split Hive contents also to multiple files, or is there a way to fix the problem? @samredai

![Snip20211104_5](https://user-images.githubusercontent.c

[2021-11-05 02:09] jackye1995 opened #3475 "Website: spec page does not show subsections in sidebar"
In the spec page, the `specification` section contains the majority of the contents. It is really hard to navigate without the ability to jump across subsections. Should we try to separate this to another independent markdown file? Or is there a way to enable subsections in sidebar? (maybe that will make the sidebar too nested...) @samredai

![Snip20211104_8](https://user-images.githubusercontent.

[2021-11-05 06:26] jun-he commented on #3464
Sure, following your snippet to define fixed type as follows
[code]
which is type with data as well.

But we also need a way to indicate `Fixed(8)` type/class without data for many cases.
I am curious if there is a clean way to provide a singular class for this.

[2021-11-05 15:44] BACtaki commented on #562
Hi @danielcweeks , is anyone working on this?

[2021-11-05 16:21] #3453 closed

[2021-11-05 17:09] TGooch44 commented on #562
The python library as a whole is currently being refactored[1]. Part of the
goal of that effort is to produce a library with that feature.
I'd encourage you to join the sync meeting[2](there is one coming up next
Wednesday 11/10) if you are interested in get more context on the current
progress, or to read the meeting notes[3] if you aren't able to attend

[1]
https://docs.google.com/document/d/17

[2021-11-05 17:10] TGooch44 commented on #562
I should also mention there is a Slack workspace for the project:
https://join.slack.com/t/apache-iceberg/shared_invite/zt-tlv0zjz6-jGJEkHfb1~heMCJA3Uycrg

On Fri, Nov 5, 2021 at 10:09 AM Ted Gooch ***@***.***> wrote:

[2021-11-05 17:38] BACtaki commented on #562
Thanks @TGooch44 ! I'll join the meeting on 11/10 to see how I can get involved.

[2021-11-06 00:43] xinbinhuang commented on #3281
can you assign this to me? :)

[2021-11-06 00:45] xinbinhuang commented on #3117
@openinx  I would like to work on this. Can you assign it to me?

[2021-11-06 01:48] CircArgs commented on #3464
@jun-he thanks a lot for the explanation. I have a good idea of what you're describing I think. I definitely dont want to seem like I'm making an argument for types to be based on dataclasses or anything I just used them to get the more auto implemented methods for free for my example (and I still had to make the decorator to account for the special null behavior I saw in the legacy python impleme

[2021-11-06 02:19] samredai commented on #3475
Agreed there is a lot of information buried within a single sub-section. Although the extra level of nesting under `Spec` does get busy very fast (see the image below).

<img width="1791" alt="Screen Shot 2021-11-05 at 7 13 39 PM" src="https://user-images.githubusercontent.com/43911210/140594439-2f77a16f-a68e-4d7a-a179-eaa3b3965153.png">

How about if we break them out into top sections under Form

[2021-11-06 02:35] samredai commented on #3474
You're exactly right that it doesn't show the section because it's a single file referenced at the top-level section. We could definitely break it up into multiple files but one issue to consider there is that the url links would change and could break links that have been saved/shared/bookmarked.

[2021-11-06 03:02] samredai commented on #3464
One thing I noticed about how types.py is currently is that because the types are a mix of classes (`DecimalType`, `FixedType`, etc) and instances (`BooleanType`, `IntegerType`, etc), checking a type is a little inconsistent. For example:
[code]

If using dataclasses gives us the expected behavior for all relevant dunder methods (or even 90%, we can override any of them), and it allows us to conso

[2021-11-06 04:44] luoyuxia opened #3481 "Doc: Missing type mapping between Iceberg and Flink"
Is there any document about type mapping between Iceberg and Flink in the doc site?
If not, I would like to add it in the document.

[2021-11-06 14:15] #3406 closed

[2021-11-06 19:00] jackye1995 commented on #3475
Thanks for testing it out! I am for the approach of breaking down to the sections you proposed, that is much easier to navigate for readers. For backwards compatibility, users accessing `/spec` can always land in the overview page.

[2021-11-06 19:02] jackye1995 commented on #3474
What about using:

[code]

[2021-11-06 21:38] jackye1995 opened #3483 "Website: PrestoDB and Trino links should open in a new tab"
can be set in https://github.com/apache/iceberg/blob/master/site/docs/theme_customization/nav-item.html#L12-L23

[2021-11-06 21:40] jackye1995 opened #3484 "Infra: add Github template for PRs"
as discussed in dev list, open an issue to add a template for Iceberg PRs

[2021-11-06 21:40] jackye1995 commented on #3484
@samredai @kbendick

[2021-11-06 21:42] jackye1995 opened #3485 "Doc: add documentation for newcomers to reference for code contribution"
as discussed in dev list, open an issue to add documentation that explains aspects like code style, engine versioning practice, etc. in Iceberg for new code contributors.

@samredai @kbendick

[2021-11-06 22:50] xinbinhuang commented on #2645
@openinx want to take a stab at this. Can you assign to me?

[2021-11-06 22:56] xinbinhuang opened #3486 "Flink streaming read from mix snapshot table"
It seems that Flink can streaming read from a table including both `append` and `overwrite` if it doesn't provide a `.startSnapshotId(<snapshot-id>)`.  In this case, the behavior is similar to reading in `batch` mode for all the current snapshots and then switching to `streaming` mode for subsequent reads. Is this an expected behavior?

I'll try to give a reproducible example. later

[2021-11-06 22:58] xinbinhuang commented on #3227
@jun-he I want to take a stab at this if it doesn't have dependencies on other issues. Can you assign it to me?

[2021-11-07 22:11] rdblue commented on #3464
@samredai, I agree. If we can fix the problem that some types are actually instances, that would be great. I'm not sure how to do that though.

[2021-11-08 02:48] felixYyu opened #3494 "set user timezone"
val spark = SparkSession
      .builder()
      .master("local[2]")
      .appName("IcebergAPI")
      .config("spark.sql.catalog.hadoop_prod", "org.apache.iceberg.spark.SparkCatalog")
      .config("spark.sql.catalog.hadoop_prod.type", "hadoop")
      .config("spark.sql.catalog.hadoop_prod.warehouse", "file:///D:\\lake-iceberg")
      .config("spark.sql.extensions", "org.apache.iceberg.spark.exte

[2021-11-08 03:02] felixYyu commented on #3494
spark.sql(
      s"""
        |CREATE TABLE IF NOT EXISTS hadoop_prod.$schemaName.$tableName (
        |    id string,
        |    data string,
        |    jydw_no string,
        |    ts timestamp)
        |USING iceberg
        |--PARTITIONED BY (bucket(12, id), days(ts), truncate(jydw_no, 5))
        |PARTITIONED BY (days(ts))
        |TBLPROPERTIES ('write.distribution-mode'='hash', 'write.m

[2021-11-08 06:14] ajantha-bhat opened #3496 "Enable RemoveSnapshots#cleanExpiredSnapshots from ExpireSnapshots spark action and call procedure ?"
Currently `table.expireSnapshots()` will clean the data files and manifest files using `RemoveSnapshots#cleanExpiredSnapshots`.

But the Spark action `ExpireSnapshots`, always disable `cleanExpiredSnapshots`. we should provide a method to support it and also in the CALL procedure ? Because I think supporting cleaning then and there is more useful than making files orphan and cleaning it by calling

[2021-11-08 06:14] ajantha-bhat commented on #3496
cc: @aokolnychyi , @RussellSpitzer

[2021-11-08 06:33] #3347 closed

[2021-11-08 06:44] pan3793 commented on #2360
Suppose we do not intend to access iceberg internal API in `iceberg-spark`, `iceberg-spark-extension` modules (correct me if I'm wrong), move all test classes to `iceberg-spark-runtime` module should solve this problem.

[2021-11-08 06:46] #1880 closed

[2021-11-08 09:11] felixYyu commented on #3494
cc @rdblue @aokolnychyi @RussellSpitzer  can you help? thanks

[2021-11-08 09:58] ajantha-bhat commented on #3496
I know that we support `deleteWith` method in spark action to collect expired data file, manifest file and manifest list.
But user cannot delete it as it might be referenced by other live snapshots.
So as `RemoveSnapshots#cleanExpiredSnapshots` is already having the logic to find out files that are not referenced by any live snapshots. I think we should support enabling it from actions also.

[2021-11-08 13:35] RussellSpitzer commented on #3496
The default behavior of the Action is to remove the files which are no longer live. The difference between the table api and the action, is that the Action determines the set of files to be removed by using a distributed job while the table api does this calculation locally.

The main reason behind writing the action was that the default api does not scale well for extremely large tables. To prese

[2021-11-08 13:48] RussellSpitzer commented on #3496
It is handled by using the "ALL" versions of the respective metadata tables which check not just the set of live files, but also all files which are currently reachable by any known snapshot.

See

https://github.com/apache/iceberg/blob/9b285d049c094ca6ee717e159249dee36d118894/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java#L119

https://github.com/apache/icebe

[2021-11-08 13:50] ajantha-bhat commented on #3496
got it. Thanks for the clarifications.

[2021-11-08 13:50] #3496 closed

[2021-11-08 13:54] RussellSpitzer commented on #3494
Underlying hidden partitioning is always done based on UTC, we had a few discussion on extending this in the past, but it was decided not to do so.

https://github.com/apache/iceberg/pull/1368
https://github.com/apache/iceberg/pull/1355
https://github.com/apache/iceberg/issues/2947

[2021-11-08 16:26] rdblue commented on #3494
Yes, Russell is correct. The time zone used for partitioning is internal and isn't a good idea to change. You should be able to set the SQL session time zone in Spark and use that just fine, but Iceberg will always partition values in UTC because the partition boundaries shouldn't matter to applications since they are hidden. If you need to ensure that there are partition boundaries in certain pla

[2021-11-08 16:31] aokolnychyi opened #3499 "Split SparkCatalogTestBase and allow running tests with one catalog"
See [here](https://github.com/apache/iceberg/pull/3400#discussion_r744294889) for details.

[2021-11-08 16:32] aokolnychyi commented on #3499
We can probably just offer a new test class with 1 catalog and migrate some tests to use it.

[2021-11-08 20:59] samredai commented on #3464
@CircArgs there is a python sync on Wednesday this week where we will touch on the question of when and where to use pyarrow. As for combing types and literals into single classes with the class itself being passed around as the type, if you can validate that idea against the [existing tests](https://github.com/apache/iceberg/tree/master/python_legacy/tests/api/expressions) for literals and types,

[2021-11-09 01:54] openinx commented on #3117
Of course, assigned to you @xinbinhuang !  Pls enjoy.

[2021-11-09 03:21] felixYyu commented on #3494
thanks very much @RussellSpitzer @rdblue

[2021-11-09 03:21] #3494 closed

[2021-11-09 07:08] ayush-san opened #3507 "java.lang.IllegalArgumentException: schemas must exist in format v2"
While updating iceberg flink runtime version from 0.11.0 to 0.12.1, I am getting the following error

[code]

My iceberg tables were created in v2 format using the following snippet
[code]

[2021-11-09 15:27] samredai commented on #3475
Ok great, I'll get a PR ready for this!

[2021-11-09 15:28] samredai commented on #3474
I'll give that a try and open a PR. Thanks for highlighting this Jack!

[2021-11-10 06:35] wxy7 opened #3518 "Help, Build iceberg project successfully with master or 0.12.x branch, but no flink-runtime directory exists in iceberg-root-directory, why?"
![image](https://user-images.githubusercontent.com/40302376/141062252-e921304c-8124-450b-bd8a-799785626960.png)

Help, Build iceberg project successfully with master or 0.12.x branch, but no flink-runtime directory exists in iceberg-root-directory, why?

[2021-11-10 06:49] jun-he commented on #3227
SG, thanks for the help. BTW, table depends on the partition spec and schema, which are ongoing work.

[2021-11-10 07:10] Initial-neko opened #3521 "In Flink, when we set the PK, the properties cannot be changed"
when a table has PK, alter table xxx set() will throw ***Altering schema is not supported yet*** Exception.
but I only want to change the properties such as format-version or something else

After tracking this comparison code, I found that the table with PK will always throw this Exception because a random name field is compared

1.alterTable：CatalogTable table = toCatalogTable(icebergTable);
2.T

[2021-11-10 07:11] jun-he commented on #3464
@CircArgs This is an interesting idea. IIUC, we actually buffer the FixedType and will
```FixedType[16](string.encode("foo")) and FixedType[16](string.encode("bar")) ``` write to the same object's `value: bytes` field?

@samredai yep, `isinstance(type_2, BooleanType)  # False` is false as BooleanType is actually an instance and ``isinstance(type_2, Type) ` will be true.

In the transforms PR(https

[2021-11-10 07:54] openinx commented on #3518
If you build the master branch, then the iceberg-flink-runtime has been moved into its own specific versioned modules, such as https://github.com/apache/iceberg/tree/master/flink/v1.12 and https://github.com/apache/iceberg/tree/master/flink/v1.13.

If you build the 0.12.x branch, then the iceberg-flink-runtime should be existed in the root iceberg project directory.

[2021-11-10 08:00] xiaotianzhang01 opened #3523 "Set the write order of the table to be case sensitive, use WRITE ORDERED BY? Should the default value be changed to false"
Set the write order of the table to be case sensitive, use WRITE ORDERED BY? Should the default value be changed to false

It is not case-sensitive when creating the table, but it is case-sensitive here

[code]

[2021-11-10 08:01] xiaotianzhang01 commented on #3523
@rdblue  @RussellSpitzer @danielcweeks @aokolnychyi

[2021-11-10 08:05] xiaotianzhang01 commented on #3523
Is it possible to add an externally accessible caseSensitive method in the `SortOrderBuilder`

[2021-11-10 08:53] KarlManong commented on #2554
Drop or recreate  the table in Hive Service. That's the only way I know.

[2021-11-10 09:01] wxy7 commented on #3518
![image](https://user-images.githubusercontent.com/40302376/141079448-37306ec9-3044-4000-9633-e2494e1fa09a.png)

Well, thx for answer!  I've tried to build master branch, like the above pic. The iceberg-flink-runtime has been moved into v1.13/flink-runtime, but not in v1.12/flink-runtime.

And then tried to build 0.12.x branch, it's OK now!

[2021-11-10 09:08] openinx commented on #3112
If only one of the two iceberg pipelines has finished the checkpoint state process (while the another haven't), shouldn't it wait another pipeline to finish its checkpoint ? and once all of them finished then trigger the operator's `notifyCheckpointComplete`.  Finally,  the two pipelines should increment its `numCheckpointsComplete` to the target value in my thought.

So did I miss something or mi

[2021-11-10 09:13] openinx commented on #3518
No we don't just move the iceberg-flink-runtime to v1.13/flink-runtime, instead we create a separate iceberg-flink-runtime for different specified flink version.   When build the iceberg project, we don't get the `iceberg-flink-1.12-runtime-0.13.0-SNAPSHOT.jar` because we don't enable the flink1.12 build by default ( the default flink version is 1.13, you can see https://github.com/apache/iceberg/

[2021-11-10 09:15] openinx commented on #3518
Close this issue now,  feel free to reopen it if have more questions.

[2021-11-10 09:15] #3518 closed

[2021-11-10 09:58] wxy7 commented on #3518
Well Done!!  thx so much! @openinx

[2021-11-10 13:57] #3235 closed, assigned to nobody

[2021-11-10 14:48] ashoksri0 opened #3526 "problem in S3 data reterival"
i'm using hadoop3.x,spark 3.1.2, iceberg 12.0 and trino 364
ingest the parquet with below code

`

        def main(args: Array[String]): Unit = {
    var s3_url="s3a://lwa-dev/"

    val spark = SparkSession
      .builder()
      .master("spark://Ashok:7077")
      .appName("SparkByExample")
      .appName("Spark Hive Example")
      .config("packages","org.apache.iceberg:iceberg-spark3-runtime:

[2021-11-10 16:28] stevenzwu commented on #3112
@openinx  I think the two parts have calculated different values of `checkpointToAwait`. E.g., when one part computed the value as 3 because one checkpoint already completed, while the other part computed it as 2 before checkpoint completed.
[code]

Then we can get into the infinite wait loop because checkpoint #3 will never complete as the other part already finished and no checkpoint can ever su

[2021-11-10 16:31] RussellSpitzer commented on #3526
Error seems to be
```: The specified bucket does not exist (Service: Amazon S3; Status Code: 404; Error Code: NoSuchBucket; Request ID: 7Q5TMG8B3CWVXD2B; S3 Extended Request ID:```

Which suggests to me that the reader most likely does not have the correct auth to read the table ...

Other possibilities are the table was deleted out from under you by another user but credentialing seems more likel

[2021-11-10 16:45] ajantha-bhat opened #3528 "Nessie: Drop table from Nessie catalog is not cleaning the table files."
<img width="904" alt="Screenshot 2021-11-10 at 10 04 50 PM" src="https://user-images.githubusercontent.com/5889404/141155046-a18b3306-ad35-4b46-8af1-5cafad0f0704.png">

Default drop table behaviour in Iceberg is to clean the files. NessieCatalog is not honouring the `purge` flag.

Should have an implementation that queries Nessie and get the reachable snapshots for table@ref and clean the reachabl

[2021-11-10 16:46] ajantha-bhat commented on #3528
please assign this issue to me.
cc: @rymurr

[2021-11-10 18:55] ashoksri0 commented on #3526
I checked if credentials are wrong trino throwing signature mismatch exception so this issue is not because of invalid credentials
i suspect like trino 364 is having 0.11 iceberg version will that makes any issues?

[2021-11-10 21:00] emkornfield commented on #3464
Regarding Arrow, has there been any thought of developing lower level components for iceberg in C++ and have python bindings to them? I'm not sure what the best mode for collaboration but one example of cross project collaboration is the parquet C++ library is still technically under the Parquet PMC governance, but lives in the Arrow repo. At some point Arrow would like to have a C++ implementatio

[2021-11-11 01:06] rdblue commented on #3464
I'd love to see a C++ implementation of Iceberg! But I'm not sure that it is needed for a good python experience. That seems to me like a longer route. Iceberg is a fairly simple format, with most of the complexity in the actual columnar formats. Job planning doesn't usually take that long compared to actually running queries.

[2021-11-11 05:24] hililiwei commented on #3499
May I have a try?

[2021-11-11 05:27] hililiwei commented on #3485
+1

[2021-11-11 06:58] felixYyu commented on #3523
in your struct the 's_city' filed has been setted ?

[2021-11-11 12:00] xiaotianzhang01 commented on #3523
yep, When I create a table, I use 'S_ CITY'

[2021-11-11 14:16] RussellSpitzer commented on #3499
Go for it @hililiwei

[2021-11-11 14:16] #3297 closed

[2021-11-11 14:17] RussellSpitzer commented on #3281
Will do! Feel free to just say you are working on an issue, I don't think we usually use Assignees

[2021-11-11 16:25] RussellSpitzer opened #3532 "Spark: Pushdown Filters / Improve Performance when Importing File Based Tables"
Currently several we rely on several Spark internal classes when attempting to list the contents of file based tables for various of our migrate/add_file functions.

See

https://github.com/apache/iceberg/blob/f5a753791f4dc6aca78569a14f731feda9edf462/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java#L810-L854

The cost of this operation scales directly with the number of file

[2021-11-11 20:14] rdblue commented on #3523
Is your Spark environment case sensitive? Or are you saying that the case sensitivity is turned on for all `WRITE ORDERED BY` statements?

[2021-11-11 23:44] RocMarshal opened #3534 "Improve iceberg site documentation."
A preliminary [plan](https://apache-iceberg.slack.com/archives/C025PH0G1D4/p1636616737430600)(cc @rdblue ) to translate the iceberg site into Chinese as a special edition for iceberg-china developers browsing.
It would be split into two parts simply:

1. Uses mkdocs-static-i18n (recommended by @jackye1995 )  to add tab in the site UI header to switch language edition and construct the mapping mech

[2021-11-12 03:13] Initial-neko opened #3536 "Flink BatchScan bug"
getBatchScan appendsBetween and appendsAfter Instead of returning the real scan, the original scan is returned

so I think it must be scan = scan.appendsBetween(context.startSnapshotId(), context.endSnapshotId()) etc;

[2021-11-12 03:18] xiaotianzhang01 opened #3537 "Does iceberg plan to implement SQL to optimize the layout?"
eg:
[code]

This can be more convenient for verification and use

[code]

[2021-11-12 03:22] Initial-neko commented on #3521
/**
   * skip the AbstractConstraint comparison
   * @param rawSchema
   * @param newSchema
   * @return
   */
  public boolean schemaCompare(TableSchema rawSchema, TableSchema newSchema){
    UniqueConstraint rawPK = rawSchema.getPrimaryKey().get();
    UniqueConstraint newPK = newSchema.getPrimaryKey().get();
    return rawSchema.getTableColumns().equals(newSchema.getTableColumns()) &&

[2021-11-12 05:55] xhtnb opened #3538 "qqw"

[2021-11-12 13:44] pan3793 opened #3541 "Iceberg does not support drop namespace cascade"
The semantic of drop namespace cascade is different between Iceberg and Spark, then run Spark SQL `DROP DATABASE xxx CASCADE` cause failure if the database is not empty.

Iceberg `interface SupportsNamespaces`
[code]

Spark `interface SupportsNamespaces extends CatalogPlugin`
[code]

The `CASCADE` logic is handled by `DropNamespaceExec`
[code]

[2021-11-12 14:02] RussellSpitzer opened #3542 "Add NameMapping to Spec Document"
Currently in the column projection section we have this text

Which while technically true seems to miss the well supported concept of NameMappings which exist in several of the engines already and is explicitly used in Snapshot, Migrate and AddFiles actions. I suggest we fully document NameMapping in the spec so we have less surprises when moving from one engine to another. Something like

[2021-11-12 14:05] RussellSpitzer commented on #3542
@rdblue + @rymurr + @aokolnychyi + @openinx  What do you think?

[2021-11-12 14:09] RussellSpitzer commented on #3537
https://github.com/apache/iceberg/pull/3375

Currently in progress to add procedure support, we could add custom DDL as well but we should probably start first with just the procedure

[2021-11-12 14:54] rymurr commented on #3542
I agree @RussellSpitzer this has caused some confusion here recently and people thought the Spark engine was being cavalier about mappings against the spec. I think it would be good to be more precise and your suggestion looks great to me.

[2021-11-12 21:21] rdblue commented on #3542
Agreed. We should definitely document `NameMapping` behavior in the spec.

[2021-11-12 23:14] RussellSpitzer commented on #3542
OK, I'll write up a PR for the change

[2021-11-13 07:22] xiaotianzhang01 commented on #3523
Some code behaves inconsistently when I set `spark.sql.caseSensitive`  to  `false`. I think it should be configured and unified by the upper-layer engine.  but i can't configure based on the `SortOrderBuilder` class

[2021-11-13 10:44] chulucninh09 opened #3546 "Support for S3FileIO in hadoop catalog"
Hi, I'm using AWS S3 with hadoop catalog for Spark without GlueCatalog.

Then I received an error `org.apache.hadoop.fs.UnsupportedFileSystemException: No FileSystem for scheme "s3"`

Debugging for a while, I noticed that Hadoop Catalog is implement in a way that it will raise unknown s3 scheme exception. The problem will not happen if I use `catalog-impl=GlueCatalog`

1. To my case, I only want t

[2021-11-13 11:05] #3538 closed

[2021-11-13 12:05] ashoksri0 commented on #3526
hive.s3.endpoint is not needed for the aws3 after commenting it its start working,so closing this issue

[2021-11-13 12:05] #3526 closed

[2021-11-13 12:59] ajantha-bhat opened #3547 "Should we support sort order during table creation SQL ?"
In SQL create table syntax, when we create a table, should we support `sort order` in table properties?

I can see that only `ALTER TABLE ... WRITE ORDERED BY` is present and also we can sort files during `RewriteDataFiles`

will it be good to have it in create table as well to avoid calling alter table ?

If yes, please assign this issue to me. I can work on it.

[2021-11-14 02:09] hililiwei commented on #3547
I have a question. If sort is supportted with  creation SQL, will it ensure the order of the whole table or only the current batch data? thank you.

[2021-11-14 02:18] hililiwei commented on #3534
+1, If there are Chinese doc, it will be more friendly to Chinese developers.

[2021-11-14 02:34] ajantha-bhat commented on #3547
It will act as a default sort order for the table. The insert's will use this sort order. However Iceberg also supports sort order evolution. So, when `ALTER TABLE ... WRITE ORDERED BY` it has to change table property also.  When sort oder is changed, it won't impact previous written data. Only new data will follow new sort order.

[2021-11-14 21:14] #3112 closed

[2021-11-15 02:36] jackye1995 commented on #3546
You can use S3FileIO with Hadoop catalog by setting `io-impl` catalog property as `org.apache.iceberg.aws.s3.S3FileIO`, and it will load it instead of `HadoopFileIO`: https://github.com/apache/iceberg/blob/b6ce66112bea752513d5317c0813c77ea980643a/core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java#L104-L105.

Please let me know if this solves your issue, thanks.

[2021-11-15 02:42] jackye1995 commented on #3546
I see, it looks like you want to use Hadoop catalog layout instead of just read and write data files using the s3:// scheme. These are 2 different concepts in Iceberg. The FIleIO concept is specifically used for only reading and writing files. The HadoopCatalog is a catalog implementation that relies on Hadoop file system, so if you want to have that also support s3:// scheme, just register the sc

[2021-11-15 03:05] chulucninh09 commented on #3546
Got it, but I want to try out the new S3FileIO standalone like the doc said.

Since there is no compatible concept & implementation between Hadoop FileSystem and Iceberg, I have to use `S3AFileSystem` instead. Can we use `s3a://` scheme in conjunction with `io-impl` to use S3FileIO?

https://iceberg.apache.org/#aws/#s3-fileio

[2021-11-15 03:25] jackye1995 commented on #3546
You can use any other catalog with S3FileIO standalone, except for HadoopCatalog, since it requires a Hadoop FileSystem initialization.

If you have to use HadoopCatalog, then as long as you register the scheme you want to use it can work, no matter `s3://` or `s3a://`, and they can point to the same implementation class. But I actually don't recommend HadoopCatalog especially on S3, because you w

[2021-11-15 03:39] chulucninh09 commented on #3546
Isn't there is `'write.object-storage.enabled'=true` config to negate S3 throttling problem? Can Hadoop Catalog use that or that only apply to Hive and Glue?

[2021-11-15 04:37] Reo-LEI opened #3551 "Flink: Get KryoException when starting a flink job."
Currently I encounter a `KryoException` when I submit a flink job to flink 1.12.x.
[code]

[2021-11-15 06:42] felixYyu opened #3554 "alter table drop partition can't use [if exists] keyword, why reason?"
ALTER TABLE prod.db.sample DROP [if exists] PARTITION FIELD catalog
![image](https://user-images.githubusercontent.com/3785228/141734233-1b6fdafc-d09b-4d10-8263-47a37869e57e.png)

[2021-11-15 06:44] felixYyu commented on #3554
ALTER TABLE ... ADD if exsits PARTITION FIELD col also

[2021-11-15 06:50] jackye1995 commented on #3546
Hadoop catalog uses the file path as an indicator that a table / namespace exists. This is the internal implementation detail of the Hadoop catalog. This is equivalent to Hive using Hive metastore to store such information.

The object storage mode defines how new data files are stored in Iceberg, this is the same feature across all catalogs.

By the way, another issue with using Hadoop catalog wi

[2021-11-15 06:59] openinx commented on #3551
Looks like we are trying to serialize the `RowDataWrapper` (which we don't guarantee the serialization ability) in some paths.  If we can locate the path,  then we can use the similar approach the PartitionKeySelector used to avoid the kryo serialization issues. https://github.com/apache/iceberg/blob/1d8164383baf0e343ade13b21ed0e4d4d02c56cd/flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/

[2021-11-15 07:20] chulucninh09 commented on #3546
Got it now. I bet this really depends on the actual case and usage commitment.

I only use single writer with batch job style, so I feel safe to use Hadoop & S3 only since Hadoop has the most obvious implementation & layout. In case of strong consistency & atomic for multi-writer, I guess `lock-impl=DynamoDB` is enough

[2021-11-15 07:37] ayush-san commented on #3507
@openinx @stevenzwu Can you please help here

[2021-11-15 07:37] Reo-LEI commented on #3551
Thanks @openinx for step in. I think I encounter this problem on #2898 when flink try to extract the equality fields to distribute the messages. But In #2898 I have been load the RowDataWrapper lazily and still encounter the kryo serialization issues. Maybe there has other reason, but I will trying to reproduce this problem in unittest later.
https://github.com/apache/iceberg/blob/709e0d3501257d13

[2021-11-15 08:34] #2980 closed

[2021-11-15 13:29] SananGuliyev opened #3555 "Does Iceberg support `VIRTUAL_VIEW`?"
I am testing Iceberg with Spark & Hive Metastore. After creating the table I have created view, but it does not find the view, but it works fine with the table itself.

[code]

[2021-11-15 14:10] RussellSpitzer commented on #3554
Those particles are not supported in the Spark SQL extension we use to support partition field modifications

https://github.com/apache/iceberg/blob/master/spark/v3.2/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4#L70-L71

When we switch to using the DataSourceV2 "alterPartition" capability which was recently added to Spark, we will be able

[2021-11-15 21:25] #3555 closed

[2021-11-16 00:57] rdblue commented on #3475
It would be nice to have a ToC similar to the old one, with different section levels shown.

[2021-11-16 02:08] openinx commented on #3507
@ayush-san , I think you use the 0.11.x iceberg release to upgrade the iceberg table from v1 to v2.  The correct way to upgrade the v1 to v2 is using 0.12.x because 0.12.0 is the correct release that we've voted to stablize the v2 format. You can see the mail list: https://lists.apache.org/thread/ws2gg52d124p7bx9jgrn3kctrtfgtltp

In fact,  during the 0.11.x to 0.12.x we've introduced another icebe

[2021-11-16 03:04] felixYyu commented on #3554
Will the spark SQL extension be supported in the future？

[2021-11-16 03:05] RussellSpitzer commented on #3554
Pull requests are welcome :) I think I actually saw someone working on this with "Show Partitions" support which uses the same extension point

[2021-11-16 03:12] felixYyu commented on #3554
I'm well, this PR assigne to me please. thanks Russell.

[2021-11-16 03:14] RussellSpitzer commented on #3554
Sounds good, let's close out this issue and i'll make a new one for the support drop partition.

[2021-11-16 03:14] #3554 closed

[2021-11-16 03:16] RussellSpitzer opened #3558 "Spark: Support alter partition in V2 Catalog SparkCatalog Class"
Following https://github.com/apache/iceberg/pull/3459/files we should have the beginning of SupportsPartitionManagement. This issue is open to provide implementations of ALTER TABLE Partition commands.

This would cause us to no longer rely on the Spark SQL extensions for our ALTER Partition syntax.

This was brought up when discussing #3554

[2021-11-16 03:17] RussellSpitzer commented on #3558
@felixYyu You wanted to take a crack at this?

[2021-11-16 03:21] felixYyu commented on #3558
I want

[2021-11-16 08:46] SaurabhChawla100 opened #3559 "Spark: SparkMergeScan should work on the latest current snapshot"
In SparkMergeScan (for merge and update sql) queries snapshotId is assigned using the below code

[code]
This will work fine if there is single spark job is running and its updating and fetching the records from the table. But In case multiple spark jobs is running (merge / update on the same table).

Scenario -> Multiple Merge command in two Continuous Running spark jobs that are running at the m

[2021-11-16 08:56] SaurabhChawla100 commented on #3559
In Case we are opting for the  table.refresh in the SparkMergeScan  . I have created the Pr for the same https://github.com/apache/iceberg/pull/3560

[2021-11-16 08:57] SaurabhChawla100 commented on #3559
cc @RussellSpitzer @aokolnychyi

[2021-11-16 12:34] andrei-ionescu opened #3564 "Already closed files for partition error when sorting by date due to timezone"
Timezone implementation in Spark 3 leads to `Already closed files for partition` error.

To reproduce follow the next steps...

First, download the source file: [data-dimension-vehicle-20210609T222533Z-4cols-100K.csv](https://github.com/apache/iceberg/files/7546106/data-dimension-vehicle-20210609T222533Z-4cols-100K.csv) and CD where the file was downloaded.

Start Spark 3.1.2 shell setting the tim

[2021-11-16 13:49] RussellSpitzer commented on #3559
Sounds like you just want to disable the Spark Catalog Cache, there are ongoing efforts to change the behavior  #3543

You can disable the cache as well which would be my recommendation here.

[code]

Note that this refresh will not avoid all "found conflicting files" errors, only those caused by a certain timing issues. If two merges happen truly simultaneously and attempt to modified the same fi

[2021-11-16 14:43] SaurabhChawla100 commented on #3559
@RussellSpitzer - Thanks for sharing this conf (spark.sql.catalog.catalog-name.cache-enabled) for refreshing the cache eagerly. For the above use case where merge/update is running  at different time the conf is working fine.

[2021-11-16 22:03] RussellSpitzer commented on #3559
Alright, should we close this issue one out?

[2021-11-16 22:05] RussellSpitzer commented on #3564
I think this basically becomes a moot point in the new Spark 3 code where we can have the data source request the correct distribution. Manual sorting of the input data won't be required and Iceberg will be able to request to correct sorting automatically.

[2021-11-17 04:18] SaurabhChawla100 commented on #3559
Sure will close this issue. Thank you

[2021-11-17 04:18] #3559 closed

[2021-11-17 08:07] kaohaonan6666 opened #3566 "iceberg0.12 support removing duplicate primary key all the partition or one partition?"
we want to remove duplicate primary key in  about 50 partitions in hive, but it only support one partitions to remove

[2021-11-17 16:35] singhpk234 commented on #3483
May I have a try ?

[2021-11-17 17:40] kbendick commented on #3212
For clarification, in (2), by `object storage mode`, do you mean the [`ObjectStorageLocationProvider`](https://github.com/apache/iceberg/blob/12e30ebaeb6dc0ff7e6bb01c0d9f8ae8a5f06ddf/core/src/main/java/org/apache/iceberg/LocationProviders.java#L98)?

[2021-11-17 17:49] jackye1995 commented on #3212
Yes

[2021-11-17 18:45] kbendick commented on #3566
Hi @kaohaonan6666!

First, which engine are you using?

Iceberg has support for row level deletes as well as row level upserts. It possible to have a delete that's based on a key identifier as well (an equality delete, which you can roughly think of as an expression in a SQL where clause like `pk = 'Value'`.

One thing that people often do, for supporting use cases based on primary key, is use Spa

[2021-11-17 20:01] RussellSpitzer commented on #3566
In Iceberg this is done by just issuing a delete command. Under the hood this becomes a metadata only operation.

[2021-11-17 20:06] RussellSpitzer commented on #3483
Task assigned @singhpk234 !

[2021-11-17 20:24] #3542 closed

[2021-11-17 20:55] rdblue commented on #3541
From the code, it looks like returning false is allowed and will result in an error that the namespace can't be dropped because it is not empty.

[2021-11-17 22:43] #3167 closed

[2021-11-17 23:33] kbendick commented on #3541
Hi @pan3793 - Thanks for reporting this!

I spent some time looking into this, and it doesn't seem as though Spark exposes `CASCADE` to the interfaces that external catalogs are supposed to implement.

In fact, their javadocs _do_ say that the default behavior is to `CASCADE`, but `SupportsNamespace` doesn't capture any of the information related to cascading from `DropNamespaceExec`.

Even in the

[2021-11-17 23:44] kbendick commented on #3541
Ok. On further inspection, it seems that the V2SessionCatalog falls back to the V1 definition `DropDatabaseExec`:

https://github.com/apache/spark/blob/8ab9d6327d7db20a4257f9fe6d0b17919576be5e/sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala#L254-L255

So we'd likely have to inject our own analyzer rule, or get that information exposed upstream in Spark (h

[2021-11-18 02:17] pan3793 commented on #3541
Thanks for your reply, the cascade logic is handled by `DropNamespaceExec`, I updated issue description.

[2021-11-18 02:26] kbendick commented on #3541
Appreciate the update.

Unfortunately, there's not really presently a way to access whether or not the user has set CASCADE in the query based on the interfaces that Spark provides.

Spark gives us essentially the same `SupportsNamespaces` interfaces, and `dropNamespace` only provides access to the `Namespace` that the user passed.

Our code (at least in the HiveCatalog) simply implements the inte

[2021-11-18 02:31] pan3793 commented on #3541
Spark already told us the dropNamespace should be act as `CASCADE`

Spark `interface SupportsNamespaces extends CatalogPlugin`
[code]

And in `DropNamespaceExec`, Spark know the `CASCADE` flag, and handled by

[code]

[2021-11-18 02:34] pan3793 commented on #3541
Seems the second `throw QueryExecutionErrors.cannotDropNonemptyNamespaceError(namespace)` doesn't make sense

[2021-11-18 02:40] pan3793 commented on #3541
What if the following change in Iceberg `interface SupportsNamespaces`

[code]

And expose `dropNamespace(namespace, cascade=true)` to SparkCatalog

[2021-11-18 02:47] kbendick commented on #3541
Yeah. That's what I mean.

I know the Spark docs mention it, but they're actually the ones that even throw the exception. I did a pretty deep dive and I can see how Hive tables are able to handle it. They follow an older pathway `DropDatabaseCommand`, which relies on HMS to handle the Cascade.

The problem with the approach that you mentioned is that we still wouldn't have the ability to get the `

[2021-11-18 02:50] kbendick commented on #3541
I can sync up with some people in the Spark community that I know and see if there is a way to get access to whether or not that flag is set.

If I don't get back to you in a few days, feel free to message me on the Iceberg slack 🙂

[2021-11-18 02:53] kbendick commented on #3541
May I ask too, how big of an issue is this for you in practice? What's the workflow that you use that requires Cascade support?

I 100% agree it would be great to support, but it would be helpful to know your specific pain point and how you're using CASCADE in your workflows if you don't mind sharing. Is it in Dev environments to easily stand up and tear things down? Or do you use a namespace perh

[2021-11-18 03:13] pan3793 commented on #3541
I can't agree. Spark already handled the nonempty detection, an exception will throw if drop a nonempty database without CASCADE. Why Iceberg need to know the CASCADE flag?
[code]

[2021-11-18 03:16] pan3793 commented on #3541
I encounter this issue when change the TPCDS test suite from Delta table format to Iceberg. The drop database cascade sql work with delta but failed in iceberg.

https://github.com/apache/incubator-kyuubi/blob/2baabf46cacf745e5ceaf78192f9f2359dc9e477/kyuubi-server/src/test/scala/org/apache/kyuubi/operation/tpcds/OutputSchemaTPCDSSuite.scala#L70

[2021-11-18 03:18] kbendick commented on #3541
Spark has access to that information, but presently it just throws an exception after doing the lists.

So if it was changed on the spark side to list the tables and drop them if `cascade` is used, Iceberg wouldn't need to know at all.

But unfortunately that's not what Spark does. I'll try syncing up with some folks that are more deeply integrated with the core Spark community to see if something

[2021-11-18 03:22] kbendick commented on #3541
If you have further ideas, I'm definitely open to hearing them. As I said, I'll try to reach out to some contacts who might be able to shed more insight.

If Spark even threw a different exception based on Cascade, we could catch it and then delete everything. But the exception is the same whether cascade flag is used or not.

[2021-11-18 03:33] pan3793 commented on #3541
The original PR https://github.com/apache/spark/pull/26476 description shows the design is for performance purpose.

[2021-11-18 03:42] kbendick commented on #3541
Oh cool. This is a bit more promising. I'll try to take a look and see how these tests are working.

I didn't come across these tests surprisingly, even when I opened it up in intellij and did code search etc.

I'd also gladly review a PR if you happen to have time. I'll try to sort through how their `foo` data source is using Cascade, but I won't necessarily have time to implement it if it's comp

[2021-11-18 05:13] kbendick commented on #3541
One last question @pan3793.

Which catalog are you using? It might eventually make a difference so if I can be testing it from that point of view that would be preferable.

[2021-11-18 06:00] pan3793 commented on #3541
`HadoopCatalog`

[2021-11-18 06:26] kbendick commented on #3541
Ok. Well, I think I've mostly figured it out.

So the contract says that things should `CASCADE` by default. Which is why it's not exposed to Iceberg or other connectors.

All of the tests that I've found which use `CASCADE` use the `InMemoryTableCatalog`. The `InMemoryTableCatalog` does in fact list all namespaces and things and drops them by default.
https://github.com/apache/spark/blob/e99fdf96

[2021-11-18 06:37] kbendick commented on #3541
Actually, I started playing around with it and we might get lucky and it might not be as bad as I thought.

If you don't hear from me in the next few days, feel free to reach out on the Iceberg Slack. 🙂

[2021-11-18 06:43] kbendick commented on #3541
Ok, actually I spoke too soon.

I've gotten at least one test to work now. I will follow up with some kind of draft PR in the next few days.

Thanks for your patience and report @pan3793!

[2021-11-18 07:33] kbendick commented on #3541
Appears we might have things working after all, for all catalogs!

Thanks for your continued patience.

I'll push a PR shortly.

[2021-11-18 08:06] kbendick commented on #3541
@pan3793 - Please let me know when you have a completed version of the TPC-DS suite in Kyuubi that works with Iceberg.

I'd love to be able to possibly run that sometimes. I have a version that I can run myself, but it's not very well developed. Your delta one looks decent, so I'd love to see it as an Iceberg implementation if that's what you're working on!

[2021-11-18 08:19] pan3793 commented on #3541
Yea, that's my point.

I realized it when I looked through the codebase.

The suite I show you only do a verification of TPC-DS query result schema.

The most important role of Kyuubi is a gateway of Spark SQL, just like Spark Thrift Server, exposing Spark SQL as a HiveServer2 compatible Service.

Basically, the suite creates all empty tables, then run all TPCDS query on the empty tables and verif

[2021-11-18 09:33] wulei0302 opened #3575 "Parquet: ParquetValueReaders#BytesReader processing bytebuffer will cause the data to be null"
Please help me look at this problem. When I use [ParquetValueReaders](https://github.com/apache/iceberg/blob/d6cbca0c2fb3d10083b304bcbdf16bf51e3b586b/parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java#L333****) to read binary and blob data that can be converted to betybuffer, I found that the first record can read the value normally, but from the second record, betybuffer fi

[2021-11-18 09:39] wulei0302 commented on #3575
Of course I can solve the problem without setting _reuseContainers_ ~~

[2021-11-18 16:31] rdblue commented on #3483
Thanks for volunteering, @singhpk234!

[2021-11-18 16:33] rdblue commented on #3483
Quick reminder: if you want to close a linked issue, you use `Closes #3483` in the description. Github isn't very flexible even if it is clear for readers.

[2021-11-19 00:57] hililiwei commented on #3499
master:419684a9f089cd14628d573399f18af44a1098d5

[2021-11-19 02:16] KarlManong commented on #2435
Can this action fix the problem which accidental deleted partition data files？

[2021-11-19 12:45] szehon-ho commented on #2435
Can you elaborate a bit?

[2021-11-19 14:32] szehon-ho opened #3582 "Delete File Performance in ExpireSnapshots and RemoveOrphans"
For ExpireSnapshotAction and RemoveOrphanFile, if there are a lot of files to remove then the Spark jobs run very slow (can timeout).

I guess current design for driver-side delete is to be prevent throttling or DDOS'ing the storage system, but I wonder if this can be made flexible.

- Could we make a configuration to allow deletion on the Spark executors?
- Could we make a batch deleteObjects() i

[2021-11-19 14:34] szehon-ho commented on #3582
@rdblue @RussellSpitzer @aokolnychyi @jackye1995

Would you guys have any thoughts on either or both of these ideas will be good contributions, or any other ideas?  Appreciate any thoughts

[2021-11-19 15:54] RussellSpitzer commented on #3582
There is a parameter for doing concurrent deletes from the driver, I was working with someone who had this issue and by increasing parallelism they resolved it. RemoveOrphanFiles is missing the parallelism parameter but I believe I made a ticket for it and it is being worked on. I think we should test this out to see if it’s sufficient before distributed deletes since it’s would be much easier to

[2021-11-19 16:48] rdblue commented on #3582
Deleting from Spark executors is usually not a good idea because it is easy to hit S3 too hard and get throttled. Concurrent deletes on the driver makes a lot more sense to me. We'd just need to expose a way to pass a pool for deleting objects.

[2021-11-19 17:08] szehon-ho commented on #3582
Yea makes sense, thanks guys for the reply.  Look forward to having the driver parallelism in RemoveOrphans, let me know if you have the pr / issue.

It may still make sense to introduce a batch mode (the second point) to take advantage of storage-system bulk deletes?    HadoopFileSystem seems like it does not have it, but S3 does: (https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteObjects

[2021-11-19 17:23] cccs-br opened #3585 "Spark 3.2.0 java.lang.IncompatibleClassChangeError when using IcebergSparkSessionExtensions"
Iceberg version: 0.12.0
Spark version: 3.2.0

[code]

..yields

[code]

[2021-11-19 17:25] cccs-br commented on #3585
If a fix for this is already on the roadmap, can you let us know which version of iceberg will address this?

Thanks.

[2021-11-19 23:21] dubeme opened #3586 "Kryo serialization exception when running add_files"
Hey all,

I'm exploring Iceberg `0.12.1` on Azure Synapse Analytics Spark Pools, running `Spark 3.1`. I've created my table:

[code]

Next, I add files (about 15,000 files) for one partition

[code]

This throws an exception - It seems to be complaining about kryo serialization... Any ideas what might be going on? The only other issue I can find is #446

[2021-11-19 23:32] dubeme commented on #3586
cc: @RussellSpitzer

[2021-11-20 07:05] hililiwei commented on #3169
Is there anyone doing this? If not, I'd like to try it, can i?

[2021-11-20 07:39] KnightChess commented on #3585
There is no version support now. But had supported in master branch, you can build by yourself.
#3335

[2021-11-20 17:22] ajantha-bhat opened #3588 "Implement a call procedure for DeleteReachableFiles action"
Currently we don't have call procedure for DeleteReachableFiles.

I can work on this on my free time once my rewrite data files procedure [#3375] PR is merged

[2021-11-21 03:06] KarlManong commented on #2435
我们有一张分区表，存放在hdfs上，里面有一个分区的数据被hdfs client删除了。这个表只要访问了关联到错误分区的数据就直接抛出FileNotFoundException，而且还不能通过delete from table where partition = error_part的方式删除。目前只能通过手工修正meta的方式修复。
------
We have a partition table, which is stored on hdfs, and the data of a partition is deleted by hdfs client. As long as this table accesses the data associated with the error partition, `FileNotFoundException` will be thrown d

[2021-11-21 20:09] rdblue commented on #3117
@openinx, @xinbinhuang, there's no need to assign issues to specific people. Assigning issues almost always prevents work from getting done instead of deconflicting. It is far more likely that someone has an issue assigned and then doesn't have time to work on it, compared to having two people work on an issue at the same time. If you want to work on something, just mention that you plan to do it

[2021-11-21 20:14] rdblue commented on #3044
I opened #3590 to partially address this. That removes the dependency on Hadoop `Configuration` and `Configurable` from `CatalogUtil`. I think it will also require a similar change to `FlinkCatalogFactory` because that class can't be loaded without `Configuration` or Flink's `HadoopUtils`.

[2021-11-21 22:03] rdblue commented on #3586
Looks like we just need to stop using an `ImmutableMap` in `SparkPartition`: https://github.com/apache/iceberg/blob/master/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java#L650

@dubeme would you like to open a PR with the fix and a test that serializes `SparkPartition` using Kryo?

[2021-11-22 00:31] xinbinhuang commented on #3227
Understood, I'm keeping an eye on those

[2021-11-22 04:36] huaxingao commented on #3532
I will give this a try.

[2021-11-22 05:56] xinbinhuang commented on #3117
Makes sense! thanks for the info!

[2021-11-22 07:18] dubeme commented on #3586
@rdblue , I'll give it a go. I'm not familiar with gradle (_more of a maven person_), but I can try working through it.

qq: You point to the Spark 3.2 source, I assume such fix will also apply to the 3.0, 3.1 files?

[2021-11-22 19:11] rdblue commented on #3586
Thanks for working on this! For now, you should update 3.2 and we can port the fix to the other Spark versions after it's in.

[2021-11-23 02:00] #3281 closed

[2021-11-23 05:28] dubeme commented on #3586
Cool... I just created this small PR #3597

[2021-11-23 12:41] KnightChess opened #3598 "[SPARK] Fetch Partition Metadata Table error after drop partition"
[code]

stack info:
[code]

the code in：
[code]
the `Map<StructLikeWrapper, Partition> partitions = Maps.newHashMap()` will store the same partition structLike. When there has hash conflict（two data files in the same partition), HashMap will compare `StructLike key`.

After drop partition,  the partition data type is `timestamp`, not `datetype`, valueClass is `Long`, but the partiton value is Inte

[2021-11-23 14:11] fengsen-neu opened #3599 "Duplicate records with primary key in iceberg 0.12.0 when use flinkSQL"
Flink 1.12.1  iceberg 0.12.0
![image](https://user-images.githubusercontent.com/58256617/143039161-0d9eaf32-e8a9-4086-b357-8a9efd5c0736.png)
![image](https://user-images.githubusercontent.com/58256617/143039409-aea35b22-7cdc-452c-acbc-16ecabd2efbd.png)

I found duplicate records with primary key in iceberg 0.12.0. Does Iceberg currently not support duplicate data removal across snapshots? Is there

[2021-11-24 02:31] Reo-LEI commented on #3599
Is this table created under the Iceberg catalog? From the result, this looks like a normal flink table. Can you post the complete SQL statement? @fengsen-neu

[2021-11-24 05:38] KarlManong commented on #1378
I got the same issue when using version 0.12.1 on spark 3.1.2 executed by kyuubi.

[code]

[2021-11-24 06:35] KarlManong commented on #1378
A very brief Test is here:
[code]

[2021-11-24 06:45] KarlManong commented on #1378
@RussellSpitzer Could you please have a look?

[2021-11-24 11:47] fengsen-neu commented on #3599
![image](https://user-images.githubusercontent.com/58256617/143232615-9e39e61f-11fb-4f7a-89ea-9cca37222cfe.png)
![image](https://user-images.githubusercontent.com/58256617/143232951-6924d868-be78-466f-a4d7-42cf08567110.png)

[2021-11-24 15:19] RussellSpitzer commented on #1378
Should be fixed with https://github.com/apache/iceberg/pull/2953

[2021-11-24 17:26] rdblue commented on #1378
@KarlManong, can you try with the current master?

[2021-11-24 18:18] rdblue commented on #3246
I'm closing this because `GC_ENABLED` already implements what we want.

[2021-11-24 18:19] #3246 closed

[2021-11-25 01:57] fengsen-neu commented on #3599
Don't the primary key contain unique constraints within the same partition or snapshot? if not, what't the primary key used for?

[2021-11-25 02:04] openinx commented on #3599
@fengsen-neu ,  You will need to make sure those PR got merged in your flink-iceberg-runtime libarary [1], [2]. And enable the switch `write.upsert.enabled=true`.   It will recommend to use the apache iceberg master branch to build the runtime library.

[1]. https://github.com/apache/iceberg/pull/3504/files#diff-5620e28d3a7d13259b12e251b9eca2f59c66fd3ab96d6b62c36062f1f5ac0ca1R251
[2]. https://gith

[2021-11-25 02:38] KarlManong commented on #1378
confirmed

[2021-11-25 02:39] KarlManong commented on #1378
confirmed.

Thank U !

[2021-11-25 03:24] zhongyujiang opened #3604 "Parquet: InvalidRecordException when reading Iceberg table migrated from Hive"
I migrated serveral Hive tables with parquet data files to Iceberg, but encountered an InvalidRecordException when reading the migrated Iceberg table. I found the parquet file of source table uses legacy schema, the name of repeatedElement of list type is 'bag'  rather than 'list':
[code]

and Iceberg will ApplyNameMapping for the fileSchame of parquet cause the fileSchame has no field IDs:
[code]

[2021-11-25 03:34] zhongyujiang commented on #3604
In #3605, ApplyNameMapping builds list/map type with the originally name for return, which  solves the conflicts while reading migrated Iceberg table mentioned in this issue, @chenjunjiedada @rdblue  can you help review this pr? Thanks!

[2021-11-25 03:45] #1378 closed

[2021-11-25 04:26] ayush-san commented on #3507
@openinx My tables were already created in v2 format using 0.11.x iceberg version. Now after the release of 0.12.1, I wanted to move my flow to it.

Can you suggest how can I do that now?

[2021-11-25 14:26] fengsen-neu commented on #3599
@openinx Thank you very much, it works.

[2021-11-25 14:30] codejoyan opened #3607 "Merge Into Performance to Iceberg Table"
Hi Team,

Can you suggest me some way to tune a slow running MERGE query. It is taking ~ 20 mins to upsert 1.5 million records.
Sample Merge query:

df.createOrReplaceTempView("source")
df.cache()

MERGE INTO iceberg_hive_cat.iceberg_poc_db.iceberg_tab target
USING (SELECT * FROM source)
ON target.col1 = source.col1 AND target.col2 = target.col2 AND target.col3 = source.col3
WHEN MATCHED AND part_

[2021-11-25 18:56] RussellSpitzer commented on #3607
The match expressions are not pushed down and are only applied to the result of the "ON" join clause. This means any pushdowns you want need to occur in the "ON" clause. So in your case you can just add "part_date_col" predicate  into the "on" restriction and it should push down as you expect.

[2021-11-26 02:37] #3599 closed

[2021-11-26 10:55] redsnow1992 commented on #2456
`coalesce` the nullable field can change to not null
like `coalesce(field, not_null)`

[2021-11-27 12:51] felixYyu opened #3615 "Why use DistributionAndOrderingUtils$ to import?"
in Spark3SortStrategy class file
import org.apache.spark.sql.catalyst.utils.DistributionAndOrderingUtils$;
protected LogicalPlan sortPlan(Distribution distribution, SortOrder[] ordering, LogicalPlan plan, SQLConf conf) {
    return DistributionAndOrderingUtils$.MODULE$.prepareQuery(distribution, ordering, plan, conf);
}
'$' has been used, why
-------------------------------------------------------

[2021-11-27 16:46] samredai opened #3616 "Proposal: Switch docs site from mkdocs to hugo and relocate to a separate iceberg-docs repo"
This is a follow up to PR #3378 which at its core was a mkdocs proposal on how to achieve versioned docs. Since then I've been doing a comparison of other static site frameworks to see if any can provide a significant improvement over mkdocs. I think [hugo](https://gohugo.io/) is a big winner here and I was able to get a hugo version of the site up very quickly with a landing page and versioning,

[2021-11-28 05:44] ajantha-bhat commented on #3616
Regarding this, If we move the docs to separate repo. It may be difficult to synchronise the code PR and doc PR. Merging also is extra effort. Some dev may forget to raise doc PR.

So, Is it possible to keep the docs currently where it is and separate repo will import *.md files from main repo and build site docs from some github actions ?

[2021-11-28 08:09] felixYyu commented on #3615
cc @rdblue @RussellSpitzer

[2021-11-28 09:16] felixYyu commented on #3585
add  .config("spark.sql.sources.partitionOverwriteMode", "dynamic") to try

[2021-11-29 08:13] Initial-neko opened #3617 "can not change nullable via Spark SQL sometimes"
When a field is nullable, SparkSQL cannot change this field to (not null)

refer to this SQL:

[code]

this is an empty table, Moreover, iceberg can support schema changes
I can change this though iceberg API like this：

`table.updateSchema().allowIncompatibleChanges().requireColumn("data").commit();`
can someone know how to use SQL changing this field null property？

[2021-11-29 08:31] TJX2014 opened #3618 "Iceberg support ranger to make access data more safety"
Since iceberg has the db and table like hive,
I think we could integrate with ranger to make access data more safety
Hope to receive feedback from your

Best wished.
xiaoxingstack

[2021-11-29 08:33] TJX2014 opened #3619 "Iceberg support ranger to make access data more safety"
Since iceberg has the db and table like hive,
I think we could integrate with ranger to make access data more safety
Hope to receive feedback from your

Best wished.
xiaoxingstack

[2021-11-29 08:35] #3618 closed

[2021-11-29 11:19] elferherrera commented on #3607
@RussellSpitzer is it possible for you to elaborate a bit more what you mean with pushdown?

Also, based on your suggestion, the merge query should look like this?
[code]

Btw, how does this work with hidden partitions?

[2021-11-29 12:11] racevedoo opened #3620 "Broken dependency resolution in 0.13.0-SNAPSHOT and Spark 3.2"
Hi all!

I'm trying to use iceberg's snapshot release (to make use of the better spark 3.2 support), but I'm getting the following error when running spark-shell (full log [here](https://gist.github.com/racevedoo/3530bce04364629f81217e78dea66071))
[code]

Running with iceberg 0.12.1 works fine:
[code]

From my investigation, slf4j is now a runtime dependency (should be included with spark) since #

[2021-11-29 13:43] findepi opened #3621 "Failure when reading ZSTD-compressed Parquet file: NoSuchMethodError: 'void com.github.luben.zstd.ZstdInputStream.<init>(java.io.InputStream, com.github.luben.zstd.BufferPool)"
I am using `iceberg-spark3-runtime-0.12.jar` (https://repo1.maven.org/maven2/org/apache/iceberg/iceberg-spark3-runtime/0.12.0/iceberg-spark3-runtime-0.12.0.jar) with Spark 3.0.0 (https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz)

When attempting to read ZSTD-compressed Parquet file the query fails
[code]

[2021-11-29 13:44] findepi commented on #3621
Iceberg 0.12 (`iceberg-spark3-runtime-0.12.jar`) bundles shaded version of
Parquet 1.12.

Since
https://github.com/apache/parquet-mr/commit/279255df0c050aa95b5f5eb5963cf7eae5b8d180
(`apache-parquet-1.12.0-rc2` and newer), Parquet requires
`com.github.luben.zstd.ZstdInputStream` to have 2-arg constructor (InputStream,
BufferPool). This is available since
https://github.com/luben/zstd-jni/commit/dd2

[2021-11-29 14:05] rajarshisarkar commented on #3617
Seems like Spark has a validation in `CheckAnalysis` to restrict changing nullable column to non-nullable.

https://github.com/apache/spark/blob/5d45a415f3a29898d92380380cfd82bfc7f579ea/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala#L1009-L1013

[2021-11-29 15:21] findepi commented on #3621
Iceberg 0.12.1 + Spark 3.1.1 seem to work fine.

[2021-11-29 15:22] RussellSpitzer commented on #3607
[code]

It works with hidden partitions as well.

The MERGE INTO is performed by first doing a an join of Target vs Source where (ON CLAUSE)
In the join it can then push the contents of on clause down to both target and source if possible. The join type is dependent on the types of "matched" clauses. For example a "not matched" requires an outer join, a "matched" clause only requires an inner join

[2021-11-29 15:29] RussellSpitzer commented on #3621
Ah yeah we hit this and changed the Spark jni version. @kbendick may remember more?

[2021-11-29 16:15] findepi commented on #3621
@RussellSpitzer thanks for looking into this.

you mean replacing `zstd-jni-1.4.4-3.jar` with a newer version?
this could work too,  as long as version shipping with Iceberg isn't picked (https://github.com/apache/iceberg/pull/3058 doesn't seem to be on 0.12.x branch)

[2021-11-29 17:10] samredai commented on #3616
@ajantha-bhat I covered this a bit in my reply to Jack on the dev mailing list. We definitely could keep the docs as part of the main repo but there's extra effort on that end as well. The main one being that we'd need to align the branching pattern of the source code with the doc site versioning (`0.12.0` and `0.12.1` branches instead of `0.12.x`, for example). If we go with a separate repo, we w

[2021-11-29 18:42] racevedoo commented on #3585
just tried it, got the same error

[2021-11-29 18:46] kbendick commented on #3621
I believe @RussellSpitzer is referring to upgrading the zstd-jni version with a later version. Ideally, it should come from Spark (at least for spark3-runtime) which was the point of #3058

You are right it does appear that #3058 got included in 0.12.1 or 0.12.x branch in general.

0.12.0 was released prior to that PR being merged, and then with the layout changes and only grabbing for bugs it see

[2021-11-29 18:55] kbendick commented on #3621
It might be possible to disable the buffer pool (which would not be great from a performance standpoint, but might be helpful in working around the original issue): https://github.com/apache/parquet-mr/pull/903

The relevant parquet config is `parquet.compression.codec.zstd.bufferPool.enabled`. That might stop it from using that particular constructor.

[2021-11-29 18:57] kishendas commented on #3062
We have also observed this same behavior with Iceberg 0.10 version on Databricks environment, where Input/Output metrics ( bytesRead and bytesWritten) are not showing up.

[2021-11-29 18:59] jackye1995 commented on #3621
I wonder if Trino can hold on  https://github.com/trinodb/trino/pull/10045 to wait for 0.13.0 for the fix given it's just around the corner.

But from correctness perspective I think it's good to have a 0.12.2 for this later.

[2021-11-29 19:46] kbendick commented on #3620
I'm not sure why it's trying to resolve to `working@mymachine`.

For example, when it tries this webpage: https://repo1.maven.org/maven2/org/slf4j/slf4j-api/

It tries https://repo1.maven.org/maven2/org/slf4j/slf4j-api/working@mymachine.

But going to that webpage, they're all a list of versions, such as https://repo1.maven.org/maven2/org/slf4j/slf4j-api/1.7.10/

So what I'm most confused about is

[2021-11-29 19:49] racevedoo commented on #3620
I'm really confused about the `working@mymachine` too, but couldn't find the root cause. Were you able to reproduce @kbendick ?

[2021-11-29 19:49] kbendick commented on #3620
Oh. On further inspection, it looks like it resolves to both 1.7.25 and 1.7.30 for slf4j-core, which is causing the issue.

https://gist.github.com/racevedoo/3530bce04364629f81217e78dea66071#file-spark-shell-log-L371-L375

The `working@mymachine` seems to come from your local classpath of slf4j.

[code]

[2021-11-29 19:53] kbendick commented on #3620
I get a similar issue, though the path is `working@Kyles-Computer`.

Let's try removing some of the glue deps etc and see if maybe that's what's causing the issue?

[2021-11-29 19:56] racevedoo commented on #3620
I got the same issue with no dependencies other than `iceberg-spark-3.2-runtime`
[code]

[2021-11-29 20:00] kbendick commented on #3620
Yeah I did as well. I admittedly havne't used the snapshot dependency pulling it from the snapshot repo.

cc @nastra who setup the SNAPSHOT release process. Wondering if you can reproduce an issue with trying to start a Spark 3.2 shell with iceberg 0.13.0-SNAPSHOT.

[code]

[2021-11-29 20:17] findepi commented on #3621
Trino doesn't the Parquet reader bundled with Iceberg, so it is not affected.

I faced this problem in Trino's compatibility tests against Spark, where the Iceberg+Spark setup we have was failing. I thing I solved this (https://github.com/apache/iceberg/issues/3621#issuecomment-981737185, https://github.com/trinodb/docker-images/pull/119). Will close this issue once i can confirm with the CI.

for

[2021-11-29 20:59] kbendick commented on #3393
@openinx I am following up on this, but wondering if you have any new information on this to add?

[2021-11-29 23:35] jackye1995 commented on #3621
Yes the compatibility test is what I am talking about on Trino side. If that's fixed then it should be fine.

[2021-11-29 23:46] kbendick commented on #3393
I'm marking this as important for 0.13.0.

It seems that this bug only occurs when CBO is on, but I really don't know enough about Hive to be able to say much beyond that.

[2021-11-30 02:02] #3615 closed

[2021-11-30 02:22] Initial-neko commented on #3617
This operation may be unsafe if not used properly，I get answer from slack。

Daniel Weeks ：**This is a bit of an edge case and while you could technically support deeper inspection of the data to allow those modifications, it currently isn't supported.  The API does allow for a workaround, but that can be problematic if used incorrectly.**

[2021-11-30 02:28] openinx commented on #3507
@ayush-san , then I think we will write a simple tool to convert the unstable v2 format from 0.11.x to the stable v2 format like 0.12.1 version. I think the key thing is converting the `schema` changes which was introduced from #2096.

[2021-11-30 03:26] RussellSpitzer commented on #3615
This is one of those fun things about Java Scala interoperability. Scala compiles .scala files into several Java classes depending on their usage. Singleton's and Static methods end up getting placed in a Class$.MODULE$ java class, so if we want to access the methods from a Scala `object` we need to use these weird $'s. I'm not sure if there is a way to make Scala compile it into a singleton with

[2021-11-30 06:29] pvary commented on #3393
I have found this to be a Hive issue, and fixed it in Hive code: apache/hive#2765

[2021-11-30 08:42] nastra commented on #3620
I can reproduce the issue and I don't understand why it is trying to pull a dependency where it contains the local hostname. Also I don't understand why the dependency pattern is `working@hostname`

[2021-11-30 09:46] wulei0302 commented on #3575
@rdblue This seems to have a small bug, please assign me, thank you~

[2021-11-30 15:06] andrei-ionescu commented on #3564
@RussellSpitzer, are you saying that in the future the sorting won't be needed because the distribution (or repartition) will be implemented inside the Iceberg data source (writer)? Did I get that right?

If so, I think there will be other use cases where the sorting will be necessary for other purposes. For example sort in Spark by `col_a`, `col_b` and `col_c` but partition in Iceberg only by `co

[2021-11-30 15:52] RussellSpitzer commented on #3564
@andrei-ionescu, The DatasourceV2 API allows for the underlying datasource (Iceberg) to say what distribution the incoming writes must be in for a successful write.

So an Iceberg Table that is partitioned on some set of columns will always advertise that it requires the data to be sorted using an expression which keeps all the data from a single Iceberg partition gathered together. The Iceberg So

[2021-11-30 17:19] #3621 closed

[2021-11-30 17:19] findepi commented on #3621
thanks for all the comments!

[2021-11-30 18:19] aokolnychyi opened #3628 "Spark: Define connector interfaces for row-level commands"
We need to define connector interfaces for Spark 3.2 merge-on-read and copy-on-write operations.

[2021-11-30 18:20] aokolnychyi opened #3629 "Spark: Implement merge-on-read DELETE"
We need to implement merge-on-read DELETE support.

[2021-11-30 18:21] racevedoo commented on #3620
Apparently Ant defaults to `working@hostname` when the version of a dependency is not specified: https://www.mail-archive.com/ivy-user@ant.apache.org/msg06013.html

[2021-11-30 18:21] aokolnychyi opened #3630 "Spark: Implement merge-on-read UPDATE"
We need to implement merge-on-read UPDATE support.

[2021-11-30 18:22] aokolnychyi opened #3631 "Spark: Implement merge-on-read MERGE"
We need to implement merge-on-read MERGE support.

[2021-11-30 18:28] racevedoo commented on #3620
Looking at `iceberg-spark-3.2-runtime`'s POM, I found that there is no version specified for `slf4j-api`: https://repository.apache.org/content/repositories/snapshots/org/apache/iceberg/iceberg-spark-3.2-runtime/0.13.0-SNAPSHOT/iceberg-spark-3.2-runtime-0.13.0-20211130.000831-33.pom

At the same time, it's a `runtime` dependency, so I'm not sure if it should make a difference

[2021-11-30 18:28] kbendick commented on #3620
Well that solves the name look up thing.

For the record, I'm able to reproduce the issue with just the repository and the package as well.

But the primary issue of why it's not able to resolve an slf4j version isn't solved.

From the logs it looks like it is coming up with multiple dependency versions declared, or maybe conflicting versions declared in different dependencies.

I wonder if we've

[2021-11-30 18:29] kbendick commented on #3620
Yeah we typically expect it to be pulled from a transitive dependency. That's why I'm thinking maybe we have recently added something that isn't excluding it properly.

[2021-11-30 19:55] racevedoo commented on #3620
I may have found a solution (maybe just a workaround). Looking at the `iceberg-spark-3.2` POM, there is a version specification for `slf4j-api` (1.7.30, got from [here](https://repository.apache.org/content/repositories/snapshots/org/apache/iceberg/iceberg-spark-3.2/0.13.0-SNAPSHOT/iceberg-spark-3.2-0.13.0-20211130.000831-33.pom)). With that, we do not need slf4j-api at all in the spark `runtime`

[2021-11-30 21:10] aokolnychyi opened #3634 "Spark: Remove old connector APIs for row-level commands"
We need to remove old connector APIs for row-level commands.

[2021-11-30 21:12] aokolnychyi commented on #3499
Thanks, @hililiwei!

[2021-11-30 21:12] #3499 closed

[2021-11-30 23:40] kbendick commented on #3586
I added the associated PR to the 0.13.0 release as this seems like something we'd want to fix before then.

Given that there is a PR, I'll remove the issue from it.

[2021-12-01 02:09] kbendick commented on #3586
Hi @dubeme! Thanks for the PR. We'd love to include it in the upcoming planned 0.13.0 release.

Please let me know if there's anything I can do to help you complete it.

Looks like it just needs a test. I linked a sample test you can mostly copy from to complete that in the PR.

[2021-12-01 03:26] kbendick commented on #3062
Thank you for the report @fcvr1010 ans @kishendas!

This is not unexpected behavior, depending on which FileIO implementation you're using. I believe S3FileIO doesnt emit the metrics but if one uses HDFS it does.

I am a bit surprised it doesn't come up on databricks but that's only based off of a hunch (not concrete experience). If I could talk to you a bit more @kishendas that would be appreciat

[2021-12-01 05:37] danielcweeks commented on #3062
It's been quite a while since I looked at this (prior to Spark 3), but at the time, spark relied entirely on Hadoop FileSystem metrics for tracking purposes.  I believe we created a shim that pulls IO metrics from the S3FileIO and reports them via the Hadoop FileSystem in order to expose this information.

I think it is possible to create such a shim in the Iceberg Spark project, but we need to be

[2021-12-01 05:39] danielcweeks commented on #3205
You might want to take a look at #3062 which has a little more detail on this subject

[2021-12-01 05:47] wulei0302 commented on #3575
@RussellSpitzer  Hi, After my test, this seems to have a small bug, please assign me, thank you~

[2021-12-01 07:50] nmyphp opened #3636 "BaseDataReader is not properly closed during query by spark sql"
I'm seeing this as well with iceberg 0.12.0 in spark when trying to query a table:
[code]

[2021-12-01 08:26] #3634 closed

[2021-12-01 08:26] kishendas commented on #3062
@kbendick and @danielcweeks Thank you for your responses. Just fyi, we use Azure Databricks, so, it's Azure Data Lake Storage Gen2 and not S3FileIO.

[2021-12-01 08:57] felixYyu commented on #3636
provide a sample execution spark sql code

[2021-12-01 09:43] codejoyan commented on #3607
Thanks @RussellSpitzer this helped. Will close this ticket.

[2021-12-01 09:43] #3607 closed

[2021-12-01 09:53] codejoyan opened #3639 "Regenerate the metadata of an Iceberg table"
If the data files of an iceberg table is intact but the metadata gets corrupt, is there any maintenance procedures to regenerate the metadata?

[2021-12-01 12:02] cccs-eric commented on #1952
I ran into the same issue while trying to run a SQL query using Spark against an Iceberg table.  It crashed with the same error: `IllegalArgumentException: No negation for operation: STARTS_WITH`.  I ran the following query in a Jupyter Notebook:
[code]

If I create a temporary table in Spark using one or some of the table data files and issue the same query, it works.  So it really is when Iceber

[2021-12-01 17:33] szehon-ho commented on #3639
there is an attempt here, https://github.com/apache/iceberg/pull/2608. need some more review and probably update

[2021-12-01 18:28] #3628 closed

[2021-12-01 19:39] racevedoo commented on #3620
Another option is to exclude log4j from the nebula dependency management plugin config (apparently it does not work well with POMs - check [here](https://github.com/nebula-plugins/nebula-dependency-recommender-plugin#8-notes-on-poms-generated-by-gradle-maven-publish)). This is probably a simpler solution that solves the issue as well:

[code]

Took the liberty to change the slf4j version to 1.7.30

[2021-12-01 20:14] rdblue commented on #3575
@wulei0302, you don't need to be assigned to work on an issue. Feel free to open a pull request for it.

We avoid assigning issues because it prevents things from getting fixed more often than it helps people coordinate. It's not uncommon for someone to think they'll have time and never get to an issue and having it assigned deters other people from working on it (which is the point). And we almos

[2021-12-01 21:32] andrei-ionescu commented on #3564
Got it. The sort action in Iceberg will be in fact Spark's sort action.

Will the "Already closed file for partition" check still be present?

Also, the issue is still happening in the current version. What's the ETA for DataSource v2 implementation?

[2021-12-01 21:56] RussellSpitzer commented on #3564
Already Closed files can be ignored as well if you switch to the fan out writer at the cost of potentially writing more files. In the current version It would make sense to just sort using the Iceberg partitioning algorithm rather than the Spark built in. IE Covert to UTC then get the date from that, I think spark does have a to UTC date somewhere...

 I believe we are targeting the distribution r

[2021-12-02 01:13] wulei0302 commented on #3575
Okay, thank you for your reply, I understand, I will open a PR directly

[2021-12-02 10:41] racevedoo opened #3650 "Replace usage of nebula dependency recommender plugin"
Nebula's dependency recommender plugin is on "maintenance mode", as newer gradle versions already provide similar functionality (check [here](https://github.com/nebula-plugins/nebula-dependency-recommender-plugin#maintenance-mode-support))

My suggestion is to replace it with something like https://docs.gradle.org/current/userguide/platforms.html

If that makes sense, I can start working on a PR

[2021-12-02 19:01] kbendick commented on #3393
Thank you @pvary! I tried checking out the PR with the bug report and rebasing off of the latest master, and it still happens when using MR, which I suppose isn't unexpected given that the fix was only recently added upstream.

Is there anything that we need to update within Iceberg's repo? I bumped the `org.apache.hive` version to 2.3.9 (from 2.3.8), but that was still released well before your f

[2021-12-02 19:42] pvary commented on #3393
TBH, this fix is a really interesting story:
- No Iceberg change is needed - this is clearly a Hive issue.
- In Hive master we are phasing out MR, and only Tez is supported (the issue does not happen with Tez)
- Even the tests are lame for the fix as we need to insert the data with Tez (MR is not supported with Iceberg), but the query should be run with MR to find the issue.
- To be correctly back

[2021-12-02 19:59] RussellSpitzer commented on #1601
https://github.com/apache/iceberg/pull/3334

[2021-12-02 21:14] jackye1995 opened #3657 "Add checkstyle rule to prevent using raw HashMap, HashSet, ArrayList"
For project code consistency, we should add checkstyle rules that prevent the use of raw `new HashMap<>`, `new HashSet<>()` and `new ArrayList<>` in favor of `Maps.newHashMap()`, `Sets.newHashSet()` and `Lists.newArrayList()`

[2021-12-02 21:37] stevenzwu commented on #1643
close outdated issue

[2021-12-02 21:37] #1643 closed

[2021-12-03 01:10] hililiwei commented on #3657
I'd like to try it. May I have the ticket?

[2021-12-03 01:23] jackye1995 commented on #3657
assigned!

[2021-12-03 18:34] jackye1995 commented on #3393
Given this is a Hive issue, I am removing this out of the 0.13 milestone. Please let me know if anyone concerns.

[2021-12-03 18:44] kbendick commented on #3393
Thanks for the deep dive @pvary! I think it’s fair to leave as is, and if somebody is really affected they can pick up the issue or apply the necessary patch in their fork.

This also begs the question: should we be running MR in the unit tests in this repo? How many users are using MR vs Tez for the limited amount of functionality that is supported?

It’s also good to remove from the 0.13.0 miles

[2021-12-03 21:56] RussellSpitzer opened #3662 "Split_Offset Information is not Included when Reading Manifests for Planning"
DataTableScan requires the following columns passed to ManifestGroup when reading Manifests to create scan tasks

https://github.com/apache/iceberg/blob/97055c4114d396eeef24d8280006984b1c2cb306/core/src/main/java/org/apache/iceberg/DataTableScan.java#L31-L34

Missing from this is "split_offsets" which means ScanTasks created from these manifest entries will not have any SplitInformation. While I t

[2021-12-03 23:19] jackye1995 commented on #3662
Thanks for investigating this Russell, I think this is a pretty important bug we need to fix before 0.13, please let me know if you have time, if not I can publish the fix. If my understanding is correct, do we add the `split_offsets` to `SCAN_COLUMNS` and also add tests related to this?

[2021-12-03 23:57] nssalian opened #3665 "Adding MergeInto into the Spark Scala API"
Context:
https://iceberg.apache.org/#spark-writes/#merge-into I see that merge into is the recommended writing pattern instead of Insert Overwrite. But there's no Dataframe/ DataSet Scala API equivalent and we have to resort to using SQL via Spark Sql.
It would be great to have it exposed like `append`, `overwrite`.

Possible solution:
This has to be pushed out in the Spark community and an additi

[2021-12-04 00:05] RussellSpitzer commented on #3662
I have the fix and tests, just waiting for internal approval to put it upstream.

[2021-12-04 00:08] RussellSpitzer commented on #3662
Additionally I would like us to fix the other issues in #3292 that I note but i'll leave that for another PR.

1. We allow arbitrary splitting of formats that are splittable if they are missing split information (A parquet file with a single row group can be turned into infinite tasks)
2. We do not allow combining partial scans into a single scan task. For example, if I have 3 files each with 2 ro

[2021-12-04 00:59] RussellSpitzer commented on #3662
@jackye1995 ^ Fix attached

[2021-12-04 01:11] rdblue commented on #3662
@RussellSpitzer, I'm going to review #3292 again this weekend. Thanks for being patient with my reviews on that one!

[2021-12-04 01:15] RussellSpitzer commented on #3662
No rush, I need to fix this first and rebase

Sent from my iPhone

[2021-12-04 04:28] felixYyu opened #3669 "Spark:can't load HadoopTable by path"
iceberg-spark-3.2_2.12

in IcebergSource's head document:
[table = "file:/path/to/table" -&gt; loads a HadoopTable at given path]，but under the gived path can't load the hadoopTable. because the catalog has been used 'hive' DEFAULT_CATALOG_NAME.
[code]

my test code:
[code]

error log:
[code]

[2021-12-04 04:37] felixYyu commented on #3615
thanks Russell replay, I get.

[2021-12-04 04:41] felixYyu commented on #3669
cc @flyrain @szehon-ho @karuppayya @RussellSpitzer @rdblue

[2021-12-04 09:20] felixYyu commented on #3558
I try to edit SparkTable implements SupportsPartitionManagement
`@Override
  public StructType partitionSchema() {
    return (StructType) SparkSchemaUtil.convert(icebergTable.spec().partitionType());
  }

  @Override
  public void createPartition(InternalRow ident, Map<String, String> properties)
          throws PartitionAlreadyExistsException, UnsupportedOperationException {
    if(partitionExi

[2021-12-04 09:27] felixYyu commented on #3558
unit test don't use IcebergSparkSessionExtensions ：
[code]

error log:
[code]

[2021-12-04 09:31] felixYyu commented on #3558
ALTER TABLE support must been usedSQL extensions? I have no good idea, can hou help me. cc @RussellSpitzer

[2021-12-04 09:38] felixYyu commented on #3558
sorry, I suddenly realized，SparkCatalog shoud extends SupportsPartitionManagement, is right? @RussellSpitzer

[2021-12-04 17:09] #3355 closed

[2021-12-04 17:15] RussellSpitzer commented on #3558
Yep! That's what we should be adding to handle this with the new API.

[2021-12-04 19:13] singhpk234 commented on #3236
May I have a try ?

[2021-12-04 19:36] RussellSpitzer commented on #3236
Go for it

[2021-12-05 07:44] #3662 closed

[2021-12-05 20:21] rdblue commented on #3586
Fixed by #3667.

[2021-12-05 20:21] #3586 closed

[2021-12-06 00:19] dubeme commented on #3586
Thanks @kbendick for stepping in, and getting this through... Been out of comissions the past few weeks #OSSFTW

[2021-12-06 08:43] pvary commented on #3393
To be honest I would like to keep the tests here even if the functionality is not widely used. At least the MR version is somewhat working.
Tez functionality not works out of the box with the current Hive versions :( :( :(. We identified several Tez and Hive changes which are needed.

Still we would like to use this as guinea pig for making sure that the basic Hive functionalities are intact. If t

[2021-12-06 12:22] singhpk234 commented on #3236
Thanks @RussellSpitzer .

Can you please help me with some clarification's :) or can point me to some resources :

when it's said groups which have single file you mean to say the packed groups ?
https://github.com/apache/iceberg/blob/adc6d153b26e7f982d75b427f62002e32f1913fc/core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java#L137-L139

Implying an additional condition on filtering

[2021-12-06 22:58] jackye1995 opened #3678 "Add documentation about Iceberg config naming convention"
See #3659 for more details, we should add some guidelines about the config naming conventions.

[2021-12-06 23:13] jackye1995 opened #3679 "Move away from Nebula dependency recommender plugin"
Based on #3620 and #3642 , the nebula plugin has been in maintenance mode (https://github.com/nebula-plugins/nebula-dependency-recommender-plugin#8-notes-on-poms-generated-by-gradle-maven-publish). We should try to move to any other better alternative if exists. Open this issue to track this effort in case similar issues pop up.

[2021-12-06 23:29] jackye1995 commented on #3679
duplicate of #3650

[2021-12-06 23:29] #3679 closed

[2021-12-07 00:20] rdblue commented on #3669
Looks like Hive is missing from your classpath. If you add it, I think it should work.

[2021-12-07 00:23] rdblue commented on #3575
Fixed in #3646.

[2021-12-07 00:47] #3575 closed

[2021-12-07 03:28] felixYyu commented on #3669
I use hadoop catalog，so hive catalog shoudn‘t be finded。the hadoop table  can't load table by path?

[2021-12-07 08:29] xloya opened #3682 "Should the specified number of data be added as the partition transform for data with a large amount of data and that will continue to increase with id as the primary key?"
I have a question with the extremely large amount of data written into Iceberg: we have a scenario where 2 billion data need to be written to Iceberg, and CDC datas need to be consumed through Flink. These data have only Long type auto-increment id as the primary key, and it is likely to swell to 4 billion data in the future.
I took a look at the current partition transforms, and it seems that it

[2021-12-07 08:31] xloya commented on #3682
For example, we can partition with 500,000 pieces of data as a threshold, and write the data corresponding to the id into the corresponding partition.

[2021-12-07 23:25] 1ambda commented on #3295
Hi,

I am trying to read a PrestoDB (0.266 w/ Iceberg 0.12) created iceberg table in Spark (3.2.0 w/ Iceberg 0.13 SNAPSHOT).
- Presto can read Spark created iceberg tables without any errors
- However, Spark throw an error when trying to read Presto created iceberg tables

[code]

Here is DDL and DML for creating iceberg tables used in Presto and inserting data into the table.

[code]

@RussellSpi

[2021-12-08 00:17] RussellSpitzer commented on #3295
That is possible, since a snapshot build isn't necessarily production ready yet. Although we should have no problem with pretty much any released Iceberg version reading Iceberg tables unless they are Iceberg V2 Tables since the spec had not finalized until recently. In this case it looks like somewhere it is returning a Byte value where it expects a string.

[2021-12-08 00:28] 1ambda commented on #3295
Thanks for the quick answer! Will try iceberg 0.12 in Spark too.

[2021-12-08 00:45] 1ambda commented on #3295
Tested in Spark 3.1.2 (Iceberg runtime 0.12.1), But still got same error.

[code]

[2021-12-08 00:53] huaxingao commented on #3665
@nssalian Just for my understanding. Spark has this Merge into table support. Anything else that needs to be implemented on OSS Spark side?

[2021-12-08 01:05] nssalian commented on #3665
@huaxingao  thanks for chiming in. Could you point me to the Dataframe/ DataSource API where the mergeInto is exposed? I was under the impression that only Delta has this implemented. CC @kbendick  if I missed something.

[2021-12-08 01:35] huaxingao commented on #3665
@nssalian There isn't a mergeInto Dataframe/ DataSet API in Spark. The SQL syntax merge into is supported in Spark, though. I am just trying to figure out what exactly needs to be done in Spark to make this work. I might be able to implement that.

[2021-12-08 01:55] nssalian commented on #3665
That's right. The request is the mergeInto Dataframe/ DataSet API in Spark, so that Iceberg could take advantage of it in the API rather than SQL. Not a blocker but would be great to have along side append, overwrite.

[2021-12-08 02:39] jackye1995 commented on #3682
This sounds like you want to have your data range-partitioned. Would `truncate` transform solve the issue?

[2021-12-08 03:26] xloya commented on #3682
Hey jack, thx for reply! I misunderstood the function of truncate transform, it is indeed feasible after actual testing, thanks!

[2021-12-08 03:26] #3682 closed

[2021-12-09 04:38] RussellSpitzer commented on #3236
We are talking about "potential groups" whose contents, if re-written would not create a different file than the groups contents before the rewrite.

So the easy example is:
A group which contains a single file that is unaffected by deletes and which cannot be split into multiple files
A group with a single file that is modified by deletes should be rewritten (if the rewrite deletes filter is on)

[2021-12-09 05:18] felixYyu commented on #3669
try test again.

[2021-12-09 05:18] #3669 closed

[2021-12-09 08:32] moon-fall opened #3695 "When flinkSink job runs on yarn ,the container is killed because physical memory use beyond physical memory limits"
flink version:1.12.1
iceberg version: 0.12.0

When flinkSink job runs on yarn serveral  hours , the container is killed because physical memory use beyond physical memory limits and report errors like this:

Dump of the process-tree for container_e10_1634010428940_125776_01_000003 :
	|- PID PPID PGRPID SESSID CMD_NAME USER_MODE_TIME(MILLIS) SYSTEM_TIME(MILLIS) VMEM_USAGE(BYTES) RSSMEM_USAGE(PAGES)

[2021-12-09 16:01] rajarshisarkar opened #3699 "Spark: We should probably say why we cannot process the snapshot in SparkMicroBatchStream"
We should probably say why we cannot process the snapshot here:

https://github.com/apache/iceberg/blob/cbf56a336531c6b216f8261843d86d4355a5aba9/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java#L201-L209

[2021-12-09 19:40] jackye1995 opened #3700 "Flink cannot restart from checkpoint due to shifted index order in DataFile"
track the issue found in https://github.com/apache/iceberg/pull/3015/files#r753631713 as 0.13 blocker

@stevenzwu @rdblue @RussellSpitzer @szehon-ho

[2021-12-09 19:43] jackye1995 commented on #3700
I am not totally familiar with the PR, after reading it just now, it seems like the quickest fix is to move the `spec_id` column back as the last column, given this is not released yet in past versions. Would that be enough? @rdblue

[2021-12-09 21:38] jackye1995 commented on #3699
@rajarshisarkar would you like to add the documentation?

[2021-12-09 21:59] SinghAsDev commented on #430
@sunchao @rdblue is this still being worked upon?

[2021-12-10 02:00] openinx commented on #3700
I think I missed the previous comment from @stevenzwu  before, sorry for that. recently, I have been busy with some internal affairs from the company and don't have the enough bandwidth to check all the maillist and github notifications.

I don't see the root cause when I initially check the whole flink manifest read/write path, I will need to reproduce this bug in my localhost to locate the root

[2021-12-10 05:23] SinghAsDev commented on #430
Great to e-see you too as well Chao!

On Thu, Dec 9, 2021 at 2:43 PM Chao Sun ***@***.***> wrote:

--
- Ashish

[2021-12-10 06:27] zhaoyunhai1216 opened #3703 "DeleteOrphanFiles or ExpireSnapshots outofmemory"
``
`   Column joinCond = nameEqual.and(actualContains);
     List<String> orphanFiles = actualFileDF.join(validFileDF, joinCond, "leftanti")
        .as(Encoders.STRING())
        .collectAsList();

    Tasks.foreach(orphanFiles)
        .noRetry()
        .suppressFailureWhenFinished()
        .onFailure((file, exc) -> LOG.warn("Failed to delete file: {}", file, exc))
        .run(deleteFunc::acc

[2021-12-10 08:00] homar opened #3704 "Inserts to the table partitioned by 'fixed' column fail"
Simplest way to reproduce:

[code]

The problem is that value of Fixed column is first wrapped in `ByteBuffer` and then `ValueWriters` try to cast it to `GenericData.Fixed` .
Wrapping is done based on the `javaClass` that comes from `PartitionSpec` and in my case `PartitionSpec` is generated by the `BaseTable` . Basically it comes from https://github.com/apache/iceberg/blob/202628df7f914bd184ba492

[2021-12-10 09:57] zhangxia1030 opened #3705 "Explore spark struct streaming write iceberg and synchronize to hive Metastore"
1. **build sparksession**

[code]

2. **use hive catalog**

[code]

error log:
[code]

   **SparkSessionCatalog create table, that sync hive metastore. But report an error. Refer to the above**

3. **use hadoop catalog**

[code]
   **spark struct streaming works normally, but I need to synchronize the meta information to hive metastroe, Is there any way?**

[2021-12-10 13:35] xiaotianzhang01 opened #3707 "Spark: I encountered the following error when writing to the partition table using truncate function"
When writing to the partition table, we need to register the truncate transform function in Spark  to specify it during sort.

In the case of large data, there may be inconsistencies between the sorting of the original column field and the sorting after conversion by the truncate function, resulting in the data may not be organized according to the expected partition.

example:

I encountered the

[2021-12-10 15:32] Kyo91 opened #3709 "Partition Metadata table breaks with a partition column named "partition""
I encountered the following regression when trying to update from iceberg 0.11.1 to 0.12.1:

Create a partitioned table with at least one column named "partition" (assume catalog/namespace already exists in Hive):

[code]

The associated metadata table now has the following schema:
[code]

While this table is empty, operations work as normal

[code]

Then create some sample data to add to the tabl

[2021-12-10 15:44] Kyo91 commented on #3709
Quick update: can confirm that this bug exists within `0.12.0` as well.

[2021-12-10 15:51] prodeezy commented on #3062
After some more investigation we'v tracked this down to Spark DSv2 API issues. Here are the relevant Spark jiras  [SPARK-37578](https://issues.apache.org/jira/browse/SPARK-37578) and [SPARK-37585 ](https://issues.apache.org/jira/browse/SPARK-37585)

[2021-12-10 16:13] RussellSpitzer commented on #3703
We have considered this but we were worried about overwhelming distributed file systems and losing control over the parallelism of the job. That said have you tried just increasing driver memory, we have folks doing some rather large remove orphan and expire snapshot jobs and they just use larger drivers when required (they also usually increase the parallelism of the driver delete process as well

[2021-12-10 17:19] RussellSpitzer opened #3710 "CVE-2021-44228 - Log4j Remote Execution"
https://www.randori.com/blog/cve-2021-44228/
https://github.com/apache/logging-log4j2/pull/608

Currently a few of our runtime platforms use log4j but not in an effected version and we do not actually ship or include these jars. I don't think we need to do anything here since log4j is only a transitive dependency of these provided libraries.

From what I've read danger versions are
`2.0 <= 2.14.1`

[2021-12-10 19:53] rdblue commented on #3700
@jackye1995, a way to "fix" the problem is to move `spec_id` so that the original column ordinals match. The problem with doing that is that we leave a known bug in the codebase. And it's very unlikely that we'll get lucky and have someone catch it before release next time. There was no test that caught this.

Another reason not to is that we state that Iceberg metadata files follow Iceberg schema

[2021-12-10 20:30] rdblue commented on #3707
@xiaotianzhang01, does it work to order by the columns? Using the truncate function should give you the same clustering as sorting by the column itself, I think.

[2021-12-10 22:55] jackye1995 commented on #3700
Had some discussion with Steven and Ryan in Slack, the Flink checkpoint serialization is handled by `FlinkManifestUtil`, which calls the core library for serdes:

[code]

The schema at write time is fixed through `MetadataV1/2` even when we add new fields in `DataFile`, so there should not be any compatibility issue.

I tried the following using 0.12 and 0.13:

In 0.12:

[code]

In 0.13:

[code]

[2021-12-11 01:00] srpraneeth opened #3716 "flink iceberg source reading array types fail with Cast Exception"
I have a stream with iceberg table as a source. I have few columns of array types in the table.

I try to read using iceberg connector.

Flink Version : 1.13.2

Iceberg Flink Version: 0.12.1

I see the error as below.

java.lang.ClassCastException: class org.apache.iceberg.flink.data.FlinkParquetReaders$ReusableArrayData cannot be cast to class org.apache.flink.table.data.ColumnarArrayData (org.ap

[2021-12-11 02:02] jzhuge commented on #3710
Found log4j-core 2.11.2 in `zinc` configuration. Probably ok?
[code]

[2021-12-11 12:58] RussellSpitzer commented on #3710
@jzhuge I think that would only be an issue for folks running CI and using Zinc for incremental compilation if that internal compilation service can receive a request via some outside source and get SBT to log it. So basically you have to run Gradle as a service, have gradle run zinc when you run  the Scala compilation and have zinc open a port to receive external communications. As far as I know

[2021-12-12 23:32] stevenzwu commented on #3700
I also tried to reproduce the issue and wasn't able to reproduce it.
https://gist.github.com/stevenzwu/62198e32b1174f6ea6d093fdc45b161c

Now I realized that our users also reported some other issue with both 0.12
and 0.13 Iceberg jars in the classpath. Maybe that was also the cause of
the exception I reported in
https://github.com/apache/iceberg/pull/3015/files#r753631713.

In summary, this is a n

[2021-12-13 08:34] alexkingli opened #3726 "Slove the problem that failed to remove the data files when using HiveCatalog.dropTable"
When using HiveCatalog.dropTable, we found that dropping successfully  in metastore but failed to remove the data files，it is caused by no permission to delete the hdfs files of iceberg table。Then we use the account with permissions to delete this table again,   it is still failed to delete the HDFS file. We think the reason is that this iceberg table‘s metadata in metastore are deleted successful

[2021-12-13 10:23] shay1bz opened #3731 "Cannot use RewriteDataFiles on Hadoop Tables"
I'm trying to compact Hadoop-based table with Spark, but it fails internally while trying to load HiveCatalog instance.
This is easy to reproduce locally:
[code]

It seems that `rewriteDataFiles` invokes a `spark.read` which in turn initializes the `default_iceberg` catalog:
https://github.com/apache/iceberg/blob/ded95a5435f18db9b6367e7aa4d1c666c77cfaed/spark3/src/main/java/org/apache/iceberg/spar

[2021-12-13 10:31] alexkingli commented on #3726
I make a pull request to fix this problem. https://github.com/apache/iceberg/pull/3730

[2021-12-13 13:37] RussellSpitzer commented on #3731
There are a few approaches here. The key code is that the Spark implementation of the rewrite strategy uses

https://github.com/apache/iceberg/blob/551bda56db428037373efaae2bf8fc6e7b0be95a/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/Spark3BinPackStrategy.java#L64-L68

To read and write to the table, which assumes that the correct catalog identifier is included in the `name` of

[2021-12-13 14:15] rajarshisarkar commented on #3699
Yes, documentation would be better. @RussellSpitzer Any thoughts?

[2021-12-13 18:12] RussellSpitzer commented on #3699
I think we should change the exception and add documentation. Exception should probably be "Cannot process snapshot, Structured Streaming does not support snapshots of type X"

[2021-12-13 18:25] jackye1995 commented on #3700
Thanks Steven for the repro!

[2021-12-13 18:25] #3700 closed

[2021-12-13 19:51] kbendick commented on #3726
Have you tested with a table that hadn't been dropped, where the full permissions were there? Did that work as expected?

For your case, where there were orphaned files from a lack of permissions, we have a spark procedure for that `RemoveReachableFIles`. There's a PR open right now to make it into a Spark SQL `CALL` styled stored procedure.

[2021-12-14 03:48] chenzihao5 opened #3738 "Problem of data overflow when convert Integer to Long"
I met a problem of data overflow when writer a data whose type is java.sql.Time. After debug, I find the root problem that cause by converting Integer to Long In FlinkValueWriters.

before:
![image](https://user-images.githubusercontent.com/38340392/145926044-3db8678e-57cf-4038-b2e7-5ccbc2c79295.png)
after:
![image](https://user-images.githubusercontent.com/38340392/145926109-0bfe16af-2cad-412b-a4

[2021-12-14 06:37] yohengyang opened #3741 "[Improvement] ParallelIterable#hasNext submit reading ManifestFile task slowly with DataTableScan#planTasks"
This Issuse manily to speed up reading `Iterator<FileScanTask>` with planTasks.

### Background
We use trino to query icebergTable,  but same query are sometimes very slow in scheduling stage.
Using Arthas,  finally positioned to `fileScanTasks.hasNext()`  in [`io.trino.plugin.iceberg.IcebergSplitSource#getNextBatch`](https://github.com/trinodb/trino/blob/master/plugin/trino-iceberg/src/main/java/

[2021-12-14 08:33] vajaw commented on #2676
Hello everyone, Is any basic docker-compose file We can try?

[2021-12-14 13:38] chenjunjiedada opened #3744 "How to reduce rewrite manifest conflict after rewrite action?"
Rewrite action can produce manifest with zero added files and some deleted files like following,

[code]

MergingSnapshotProducer will drop manifests without any added data files.  So when performing rewrite manifest action in parallel with data committing,  the rewrite manifest action may fail due to missing the manifest file.  We can retry the rewrite manifest action, but can we ignore validatio

[2021-12-14 13:52] shay1bz commented on #3731
Thank you very much Russel, this explains a lot.
As for option 1, this code does not seem to be released yet so I think I'll go manually like in option 3.

[2021-12-14 20:20] dremio-brock commented on #2676
If you want to test out my docker-compose script here is a link. https://github.com/dremio-brock/IcebergDremio This will spin up hive-metastore, minio, jupyter with spark and dremio. You should be able to use a variety of supported catalogs and storage platforms.

[2021-12-14 22:30] huaxingao commented on #3532
I did some initial changes here https://github.com/apache/iceberg/pull/3745.

[2021-12-15 00:12] #3620 closed

[2021-12-15 01:30] hililiwei commented on #3678
What does this naming convention look like? Which section do we want to add this to?

[2021-12-15 04:31] jackye1995 commented on #3678
The 2 rules mentioned in the linked PR were:
1. `-` is used to link words at the same level, e.g. prefer `access-key-id` over `access.key.id`
2. `.` is used to create sublevels and group similar configs, e.g. `s3.access-key-id`, `s3.secret-access-key`

I think a good place to put it is at https://github.com/apache/iceberg/blob/master/CONTRIBUTING.md

[2021-12-15 06:18] hililiwei opened #3746 "Update iceberg compatibility description"
The Compatibility description of Iceberg with the Flink \ Spark version hasn't been updated for a long time, and we should keep it up to date to make it easier for users to choose the compatible versions.

https://github.com/apache/iceberg/blob/bc3e780effdffa6c2529977fbd477c9dc5699d25/README.md?plain=1#L80-L89

https://github.com/apache/iceberg/blob/bc3e780effdffa6c2529977fbd477c9dc5699d25/site/do

[2021-12-15 07:38] liupan664021 commented on #3741
I met the same problem with you when using iceberg connector in presto. The `ManifestFiles.read()` is executed serially can significantly slow down the plan if manifest file is masssive. And I made similar fix as you but I haven't test the performance improvement yet. I think delaying the `ManifestFiles.read()` to parallel threads is quite reasonable.

[2021-12-15 08:45] fennuzhichui opened #3747 "throw exception : InvalidOperationException(message:The following columns have types incompatible with the existing columns in their respective positions : idd1) when add column"
when add column use sql :  alter table test.czm33 add columns idd1bigint comment 'test2' after age;
it will throw exception.
java.lang.RuntimeException: InvalidOperationException(message:The following columns have types incompatible with the existing columns in their respective positions :
idd)
	at org.apache.iceberg.relocated.com.google.common.base.Throwables.propagate(Throwables.java:241)
	at or

[2021-12-15 10:15] alexkingli commented on #3726
It wil work well if we drop table by using the user with permissions. Now I use the hadoop command to delete these unuseful files first.  It is a good idea to make RemoveReachableFIles into a Spark SQL CALL styled stored procedure. Thanks.

[2021-12-15 11:42] yohengyangyang commented on #3741
@liupan664021 aswome thks for suggestion~ , i make both ManifestFiles.read() and ManifestReader.entries() to parallel threads ，we have use this patch on our online cluster, but

[2021-12-15 13:39] lirui-apache opened #3750 "Some tests are leaking temp folders"
We encountered this issue with 0.11, but thought it might still apply to latest code.
Basically the issue is because test classes try to clean up temp folders by calling `java.io.File.delete`, which won't really delete the folder if it's not empty.

Problematic classes include:
`SparkTestBaseWithCatalog::dropWarehouse`
`TestHiveMetastore::stop`
`TestCatalogTableLoader::dropWarehouse`

[2021-12-15 13:57] RussellSpitzer commented on #3741
I'm confused about the task.next(), issue. From what I can see task.next should be checking the parallel iterable queue which starts by calling hasNext which repopulates the queue if it has any empty slots. It populates these slots with a runnable of the entry in the iterable.

https://github.com/apache/iceberg/blob/f71091539e1fa9e4064cfbc5141fe3e890e1a5f0/core/src/main/java/org/apache/iceberg/uti

[2021-12-15 18:04] ajantha-bhat opened #3756 "In-filter throws exception for rewrite_data_files procedure."
call stack:
[code]

Cause:
sqlParser.parseExpression(where) gives unresolved expression. Most of the filters doesn't need it to be resolved. Some special filter like In-filter needs resolved type because based on datatype it creates HashSet.

Solution:
Use a resolved expression.
I found a hacky sparkish way to achieve it. Will raise a PR for the same.

cc: @RussellSpitzer , @jackye1995

[2021-12-16 11:10] yohengyangyang commented on #3741
@RussellSpitzer add some log
` private <T> Iterable<CloseableIterable<T>> entries(
      BiFunction<ManifestFile, CloseableIterable<ManifestEntry<DataFile>>, CloseableIterable<T>> entryFn) {
    long start = System.currentTimeMillis();
   // ……
    Iterable<CloseableIterable<T>> res = Iterables.transform(
        matchingManifests,
        manifest -> {
          long start2 = System.currentTimeMi

[2021-12-16 11:45] ywww commented on #3127
hive3.1.2  the same proplem

-----------------------------------------

hive> drop table test.hive_iceberg_test1;
OK
Time taken: 2.002 seconds
hive> CREATE TABLE test.hive_iceberg_test1 (

OK
Time taken: 1.229 seconds
hive> insert into table test.hive_iceberg_test1 select 1,'1',1;;
Query ID = root_20211216194143_6388a8d2-9b42-47a5-8685-587d43d0eaaf
Total jobs = 1
Launching Job 1 out of 1
Number of

[2021-12-16 13:42] lirui-apache commented on #3750
I tried deleting these folders with commons-io `FileUtils`, but then tests start to fail with metastore internal errors. I think it's because we didn't clean up some static fields in metastore between different tests.

Such as the thread local TxnStore in HMSHandler: https://github.com/apache/hive/blob/rel/release-2.3.8/metastore/src/java/org/apache/hadoop/hive/metastore/HiveMetaStore.java#L249

a

[2021-12-16 14:47] pvary commented on #3750
@lirui-apache: If I recall correctly we usually start the HMS instance `BeforeClass` and close it in `AfterClass`. So deleting warehouse directories between tests would be counterproductive 😄
`TestHiveMetastore.reset()` tries to drop the extra databases, tables and folders. Is it called between tests?

[2021-12-16 18:32] SinghAsDev opened #3759 "Add backwards compatibility read support for Parquet list"
Add support to read Parquet files written with old 2-level list structures.

This depends on https://github.com/apache/iceberg/pull/3723.

[2021-12-17 04:01] lirui-apache commented on #3750
Hi @pvary , I'm not trying to delete warehouse folders between test methods. I just want to make sure the clean up logic in `AfterClass` really does its job to delete these folders. Or do you mean even `AfterClass` shouldn't do this? Then I wonder where this can be done, because otherwise it slowly eats up the disk space in our CI runners.

I checked `TestHiveMetastore.reset()`, seems it's only ca

[2021-12-17 08:43] pvary commented on #3750
@lirui-apache: You are absolutely right that we should delete the warehouse folders in the `AfterClass`. I am surprised that the directory is not removed as we create it with `java.nio.file.Files.createTempDirectory("hive", asFileAttribute(fromString("rwxrwxrwx"))).toFile()`. From the doc:

Maybe we just have to call after creation?
[code]

As for the `TestHiveMetastore .reset()`, I think it would

[2021-12-17 09:09] KarlManong opened #3762 "current master branch can't run "./gradlew idea", caused by "Cannot infer Scala class path because no Scala library Jar was found. ""
Running "./gradlew idea" failed on master branch commit a2260faa

Execution failed for task ':ideaProject'.

The problem was caused by `apply plugin: 'com.github.alisiikh.scalastyle'` at `baseline.gradle`.

Will you please fix this?

[2021-12-18 04:24] hililiwei commented on #3657
merged master: 2531545e3cd3b97494c9e3c137cfe04f4459a9fb

[2021-12-18 18:30] adiroy05 commented on #3704
i want to do it
pls assign to me

[2021-12-19 13:45] sanyud24 commented on #3678
Hi , I would like to work on this issue !! can I get it assigned

[2021-12-20 04:21] yittg opened #3776 "Flink connector thrown `Trying to access closed classloader`"
Hi, i'm trying to test the unreleased Flink 1.13 connector on a Flink 1.13.1 cluster running on k8s.

The task is simple like `INSERT OVERWRITE a SELECT * FROM b`.

When i submit a task for the first time, it's ok.
But when i submit the task for the second time(run on the same TaskManager with the first time), the following exception is thrown, it's weird.

<details>
<summary>java.lang.IllegalStat

[2021-12-20 12:03] lirui-apache commented on #3750
Thanks @pvary for confirming. Yeah a shutdown hook will do the trick, although we might still want to figure out why follow-up tests are relying on the previous temp folders not being deleted. I guess it indicates some more static fields we need to clear out.

[2021-12-20 14:30] qq240035000 commented on #3131
I do the same steps, but my error is "software.amazon.awssdk.services.dynamodb.model.DynamoDbException: The security token included in the request is invalid", can you help  @jackye1995

software.amazon.awssdk.services.dynamodb.model.DynamoDbException: The security token included in the request is invalid. (Service: DynamoDb, Status Code: 400, Request ID: OGG5KGTLEDSJVMMC3JUVV5514VVV4KQNSO5AEMVJF6

[2021-12-20 18:14] adiroy05 commented on #3105
hey i would like to work on this issue...assign to me

[2021-12-21 00:44] #1952 closed

[2021-12-21 06:13] yittg commented on #3776
After some digging, i find the direct cause is [that](https://github.com/apache/iceberg/blob/5009949ba4377ac5a8572ff7ae70e886c9e33bec/core/src/main/java/org/apache/iceberg/ManifestReader.java?#L100-L102):
when we build a `AvroIterable`, we didn't set the class loader, then the default Thread#getContextClassLoader will be used.

The task is running in a persist shared [thread pool](https://github.c

[2021-12-21 08:08] liangyouze opened #3783 "Cannot set TBLPROPERTIES when using HiveCatalog"
I'm trying to create hive catalog table with Spark and set custom tblproperties:
[code]
but the table properties are not stored in hive-metastore. when I execute sql `show tblproperties hive_prod.db.t1`, I can't see my properties `k1=v1`

[2021-12-21 08:31] hongyonggan commented on #3783
I encountered the same problem too，does anyone pay attention to this matter?

[2021-12-21 12:22] ajantha-bhat commented on #3783
I think the table properties are stored in table metadata file [https://iceberg.apache.org/#spec/#table-metadata-fields] and only reference pointer (location) of table metadata is stored in hive metastore.

can you explain what is the problem you are facing because of this ?

[2021-12-21 14:04] hililiwei commented on #3105
don't have to be assigned. feel free to go on. :)

[2021-12-21 18:35] jackye1995 commented on #3131
This does not seem Iceberg related, looks like you have a misconfiguration of your AWS credentials, e.g. you did not set your session token.

[2021-12-21 18:57] jackye1995 commented on #3678
thanks, assigned!

[2021-12-21 18:57] #3657 closed

[2021-12-22 01:54] moon-fall opened #3788 "flink iceberg catalog support hadoop-conf-dir option to read hadoop conf?"

[2021-12-22 03:15] liangyouze commented on #3783
In our custom hive-metastore, we have made some routing rules for metadata according to tblproperties

[2021-12-22 04:53] ajantha-bhat commented on #3783
Interesting use case. I think it should be possible to support storing table properties in hive metastore aswell. Let's see what others think.

[2021-12-22 07:21] xloya opened #3789 "Add min sequence number of referenced data files in a position-delete file's manifest entry"
Can we support adding the min-sequence-number of referenced data file in the position delete file's manifest entry?
I think there are two benefits:
1. In the case of using startingSequenceNumber, when rewriting, it can judge whether the newly added position delete file has deleted this rewrite and previous data files, and more accurately judge whether the rewrite commit is allowed, otherwise the c

[2021-12-22 08:04] pvary commented on #3783
When creating a table we synchronise the iceberg table properties with the HMS table properties.
See:
https://github.com/apache/iceberg/blob/7fcc71da65a47ca3c9f6eb6e862a238389b8bdc5/hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java#L354-L397

In Hive 2 and Hive 3 there is no way to synchronise the Hive changes back to the Iceberg tables, but we have an upstream Hive pat

[2021-12-22 09:09] liangyouze commented on #3783
oh,it looks good, thanks. we used version 0.11.x, and this feature is not yet available. maybe we can update our version to 0.12

[2021-12-22 09:34] yittg commented on #3776
To be clear, i encountered this issue by putting the iceberg Flink runtime jar into the lib directory as [Flink suggested](https://nightlies.apache.org/flink/flink-docs-release-1.14/docs/ops/debugging/debugging_classloading/#avoiding-dynamic-classloading-for-user-code).

So i tested another scenario next, submit the iceberg jar as user code.
As expected, it can work well for the first several jobs

[2021-12-22 17:50] racevedoo opened #3791 "Deadlock when using CachingCatalog with Iceberg 0.13.0-SNAPSHOT"
Hi all!

When running maintenance procedures with spark sql, namely `expire_snapshots, rewrite_data_files, rewrite_manifests and remove_orphan_files`, I'm getting a deadlock within the caffeine cache in CachingCatalog. This does not happen for every run, but happens for most of them (specifically when running the `rewrite_data_files` procedure).

The blocked threads and their traces are below:
[co

[2021-12-22 17:50] racevedoo commented on #3791
I investigated this a little, and found that in 9c3e340c we added `MetadataTableInvalidatingCacheWriter`. From my understanding, I think it introduces additional writes to the cache in the `tableCache.get` trace called by `loadTable`. This probably violates an assumption made by caffeine's `Cache` class (that `get` calls do not change additional entries) - see javadoc (https://github.com/ben-manes

[2021-12-22 17:54] racevedoo commented on #3791
cc @kbendick could you take a look at this and tell me if it makes sense?

This is probably related to the cache expiration option we introduced recently

[2021-12-22 17:58] racevedoo commented on #3791
also cc @igorcalabria who helped me investigate this

[2021-12-22 18:18] jotarada opened #3792 "Drop managed table after drop data"
If somehow data is deleted from files there is some way to drop table from the metastore?

Using spark or trino to to drop the table always led to this exception:

[code]

Is there any workaround to fix this?

[2021-12-22 18:57] kbendick commented on #3791
Thanks for the detailed report. I will take a look more closely at this this afternoon. The procedures make heavy use of the metadata tables.

For now, if you set `cache.expiration-interval-ms` to -1 on the catalog’s configuration, you’ll get the old behavior if you’d like to continue using the SNAPSHOT to investigate other things.

If you’d like to investigate further, as it might take me a day o

[2021-12-22 18:58] kbendick commented on #3791
Question: we’re you running those procedures sequentially on one table, or on multiple tables?

[2021-12-22 19:00] racevedoo commented on #3791
Multiple tables (4 of them)

[2021-12-22 20:21] kbendick commented on #3791
Ok. And can you describe the tables (are they partitioned, how big are they) and also, how youv'e configured the procedure calls (do they have a filter, do they group commits or do they use the default behavior of committing all at the end)?

I think this can be solved. I've just started researching more, and I am still working on a reproduction case. If you have one you can send or create a gist

[2021-12-22 21:45] #3756 closed

[2021-12-23 05:28] ben-manes commented on #3791
Java's ConcurrentHashMap does not allow for computations to modify the hash map. This may livelock, deadlock, or may throw an exception (Java 9+).

A `CacheWriter` performs its actions under a map computation to be atomic. This has since been deprecated and removed in 3.0. Your use-case of responding to evictions is either served by an `evictionListener` (atomic; notified within the `computeIfPres

[2021-12-23 08:05] yittg commented on #3776
How about fixes this issue simply as #3797 ?

[2021-12-23 13:17] racevedoo commented on #3791
Thanks for the detailed explanation @ben-manes! This helps a lot.

I can try to create a failing test reproducing the two threads. It's quite difficult to reproduce this (as it normally is with deadlocks).

[2021-12-23 13:21] racevedoo commented on #3791
The tables are quite small (~500MB). They are not partitioned.
The procedures are just using the default behavior (except for the file size in `rewrite_data_files`):
[code]

[2021-12-23 14:30] racevedoo commented on #3791
I have a failing test and a fix. I will open the PRs soon

[2021-12-23 16:31] racevedoo commented on #3791
Opened #3798 (failing test) and #3801 (fix)

[2021-12-23 19:58] #3678 closed

[2021-12-23 20:39] rdblue commented on #3738
Fixed by #3740.

[2021-12-23 20:39] #3738 closed

[2021-12-23 23:04] felixYyu commented on #3558
Hi Russell，I test flow：
[code]
Table testhive.default.table does not support partition management. How support partition management? thanks.

[2021-12-24 01:31] yittg commented on #3776
@rdblue Would you help to check this issue?

[2021-12-26 03:29] lipusheng opened #3805 "Document error correction: Partitions Transform 'day' Result type should be int"
Documnet
#### Partition Transforms
Transform name | Description | Source types | Result type
-- | -- | -- | --
day | Extract a date or timestamp day, as days from 1970-01-01 | date, timestamp, timestamptz | date

I think the 'Result type' should be 'int' not 'date'.

[2021-12-26 03:40] lipusheng commented on #3805
This is the pr https://github.com/apache/iceberg/pull/3806

[2021-12-27 01:40] felixYyu commented on #3558
cc @RussellSpitzer

[2021-12-27 08:46] dev-lpq commented on #2976
We have the same issue. ClassCastException is seen with Spark 3.1.x on a wide table. The error occurs in iceberg overwritePartitions. I checked the table schemas is right. I  retry Spark 3.0.x, and work failed. Not all tables have the issue, only a few tables have problems. Please help check the issue, thanks.

 `
 java.lang.ClassCastException: org.apache.spark.sql.catalyst.expressions.GenericInt

[2021-12-27 09:10] Narcasserun commented on #3585
+1 ，I have the same problem

[2021-12-28 02:51] Initial-neko opened #3814 "In flinksql, there is a problem of partial updating of wide table fields"
now:
[code]

insert INTO table（id,data1）values(1,3)

[code]

However, if I want to keep other fields unchanged and just update the specified field, I need to read this row of data.
Can someone give me some advice，How can I read it gracefully? Thanks！
insert INTO table（id,data1）values(1,3)
result like that
[code]

At present, my idea is to build a read request somewhere, but I don't know where to b

[2021-12-28 09:54] shay1bz commented on #2490
Any update on this?
Would a PR for Spark rewrite action be any good or are you looking for a more holistic solution?

[2021-12-28 14:47] RussellSpitzer commented on #2490
The Spark rewrite action already uses SortOrder. The SparkWrite code needed the distribution and ordering changes in Spark 3.2, I think the current snapshot already has this implemented. So it should be done

[2021-12-28 15:26] shay1bz commented on #2490
Thanks @RussellSpitzer . I'm using 0.12.1 so I did not see this addition. Do you have any idea when is the next release? I prefer to use release package rather than custom build.

[2021-12-29 04:46] hililiwei opened #3816 "FlinkInputSplit extends LocatableInputSplit instread of InputSplit"
FlinkInputSplit extends LocatableInputSplit instread of InputSplit, get the location of all files in CombinedScanTask and replace DefaultInputSplitAssigner with LocatableInputSplitAssigner.

[2021-12-29 09:41] hililiwei opened #3818 "Add a unit test to write-read-validate via FlinkParquetWrite/Reader"
Add a unit test to write-read-validate via FlinkParquetWrite/Reader.

[2021-12-29 14:41] fcvr1010 commented on #3062
Thank you @danielcweeks, @prodeezy, @kbendick for the feedback (and sorry for my very late reply but we had to pause our investigation into Iceberg for a bit).

If I understand correctly, [SPARK-37578](https://issues.apache.org/jira/browse/SPARK-37578) is about output metrics and should be fixed in Spark 3.3. I noticed that input metrics were missing too, not sure if this would be covered by [SPAR

[2021-12-29 15:04] fcvr1010 commented on #3055
@rdblue thanks for your feedback and really sorry about my super late reply but we had to pause our Iceberg investigations for a bit. As soon as I get the chance to test this again, I'll let you know.

[2021-12-29 15:23] fcvr1010 commented on #2991
Thanks a lot @jackye1995, @rajarshisarkar! I look forward to trying this out.

[2021-12-29 15:55] andrefranciscol commented on #2181
I'm facing the same problem. same error when launching flink job, and when executing in the flink SQL shell. @Simmyo Did you find any clue about this?

[2021-12-29 20:19] #3791 closed

[2021-12-29 22:07] #3746 closed

[2021-12-30 08:37] SusurHe opened #3821 "Unable to get the columns of the source table correctly when merge into iceberg table"
This error is occasionally encountered when spark execute `merge into`:  `Cannot find column 'xxx' of the target table among...`,
The code that generated the error is in a 'foreachpartition', and the table executes merge into in parallel. The possible reason is that there are insufficient resources;

I can be sure that the columns of the source table and the columns of the target table are the sam

[2021-12-30 08:41] SusurHe commented on #3821
i find the exception happen in `AlignRowLevelOperations`, but I have a question: How did 'assignments' come from

[2021-12-30 09:52] ZhangChaoming commented on #3814
@Initial-neko IMO, set the column value of `data2` to `null` is within expectation. Perhaps you can try like this:
[code]

[2021-12-30 10:14] ZhangChaoming opened #3822 "Improve docs that flink creates table with primary key."
Since we have already supported create table with primary key, docs should be updated.

For example, we can create table like this:

[code]

[2021-12-30 10:32] zeromsi opened #3825 "Need an exmple of java code that uses hive as meta store and s3."
I'm really struggling to get started with Java api's. If anyone got an example code , please share with me!
Thanks

[2021-12-30 11:23] flyxu1991 opened #3826 "Spark merge into iceberg report UPDATE and DELETE can appear at most once in MATCHED clauses err"
Refer to iceberg website, use SparkSql-client test merge into iceberg, there is an err in query: UPDATE and DELETE can appear at most once in MATCHED clauses in a MERGE statement.
Here is my code:
`create table merge_into_test_a (
    name string,
    score int,
    ts string,
    is_valid int,
    valid_time string
) using iceberg
TBLPROPERTIES (
    'format-version' = '1',
    'write.parallelism

[2021-12-30 12:03] RussellSpitzer commented on #3826
Please in the future post the versions of the software you are using, this particular error is a Spark 3.0 error that is solved in Spark 3.1.

Spark 3.0 only supports 2 conditions in a merge statement in the parser and has restrictions on their type while 3.1 supports an unlimited amount.
https://issues.apache.org/jira/browse/SPARK-32030

https://github.com/apache/spark/pull/28875/files#diff-26fe6

[2021-12-30 12:05] RussellSpitzer commented on #3825
What would you like an example of the Java API doing? There are a large number of tests in the repository which I usually use as a fallback when I forget how something works. What specifically are you looking for?

[2021-12-30 16:32] prithvi514 opened #3828 "java.lang.NoSuchMethodError: org.apache.hadoop.util.SemaphoredDelegatingExecutor.<init>(Ljava/util/concurrent/ExecutorService;IZ)V"
Unable to create basic `iceberg` table(stored on S3) with Spark

[code]

I have no issues creating a simple hive table. Can see `student5` folder created in my S3 bucket after this command
[code]

Setup details
1. Spark on kubernetes
2. Spark Iceberg configuration
[code]
3. S3 as storage
4. Remote hive metastore service (mysql backend)
5. Spark pods connect to metastore service via thrift
6. Versi

[2021-12-30 17:04] RussellSpitzer commented on #3828
The error looks like you are missing dependencies of the Hadoop-S3
Filesystem api. Specifically some dep of Hadoop-aws. There is a bug noted
here
https://issues.apache.org/jira/browse/HADOOP-16080 which says that the
issue is fixed as of 3.2.2 so I would double check that your runtime Hadoop
versions are correct.

On Thu, Dec 30, 2021 at 10:32 AM Prithvi D ***@***.***> wrote:

[2021-12-30 17:11] prithvi514 commented on #3828
@RussellSpitzer
That was my initial thought too. But the Hadoop version I am using is 3.2.2 and `CREATE TABLE` without `iceberg` format and `S3` as storage worked out fine.

[2021-12-30 21:07] #3380 closed

[2021-12-30 21:12] andersonad opened #3829 "Spark sql Stored Procedure expire_snapshots fails with AWS S3 FileIO implementation."
When I ran the following code to test the `expire_snapshots` procedure in pyspark, I get a "failed to get file system" for an s3 file, despite using the S3FileIO for the `spark.sql.catalog.{catalog_name}.io-impl`. Is there a way to get around this error in order to execute `expire_snapshots` on AWS s3 iceberg tables?

Note that I do not get this error when using `rewrite_manifests`

[code]

The er

[2021-12-30 23:49] samredai opened #3830 "Docs: Specify the requirement for fs.s3.impl/fs.s3a.impl configuration for remove_orphan_files procedure to work"
The docs should specify the s3 configuration needed for `remove_orphan_files` to work properly (as well as the hadoop aws jars). Thanks @ajreid21 for pointing this out!

[2021-12-30 23:50] samredai opened #3831 "Docs: expire_snapshots documentation should mention or link to `history.expire.max-snapshot-age-ms` and `history.expire.min-snapshots-to-keep` table properties"
Thanks for pointing this out @ajreid21!

[2021-12-30 23:54] samredai opened #3832 "Docs: ('format-version' = '2') option should be described in create table sections"
A recent slack thread ([here](https://apache-iceberg.slack.com/archives/C025PH0G1D4/p1640599048329900)) revealed that the create table DDL docs don't include instructions on how to create a table that uses the v2 Iceberg spec. (Also thanks @ajreid21 for mentioning this). Additionally, I don't think it's clearly specified anywhere that tables are v1 by default.

[2021-12-31 00:09] #3818 closed

[2021-12-31 01:30] #3805 closed

[2021-12-31 01:35] flyxu1991 commented on #3826
Thanks for your help.

[2021-12-31 05:50] zeromsi opened #3833 "Failed to create table"
My code
[code]

### Error:
[code]

[2021-12-31 06:42] felixYyu commented on #3558
1.Spark Sql Alter Table:
[code]
2.Iceberg SparkSqlExtensions Alter Table:
[code]
3.Iceberg supports adding new partition fields to a spec, but spark sql don't support adding **new partition field**, so I think iceberg [ALTER TABLE] SQL extensions commands  is better.

4.about [IF NOT EXISTS] and [IF EXISTS] commands, the method addField of BaseUpdatePartitionSpec has already check,so the [IF NOT E

[2021-12-31 09:30] hililiwei commented on #3762
hi @nastra ,cloud you please take a look?  `'com.github.alisiikh.scalastyle'`  seems to block './gradlew idea'.

[2021-12-31 16:34] choupijiang commented on #3585
scalaVersion := "2.12.10"
sparkVersion := "3.2.0"
"org.apache.iceberg" % "iceberg-spark3-runtime_2.12" % "0.12.1"
+1,  the same problem

[2022-01-01 08:15] zeromsi opened #3835 "Need a working maven dependency"
I'm using hive metastore, s3 , spark to create table. Getting ```NoClassDefFoundError``` again and again. Can anyone help me by providing a working pom.xml file?

[2022-01-01 08:16] zeromsi commented on #3825
@RussellSpitzer  Thanks for your reply. I Need an working maven dependency. Can You help me on that?

[2022-01-01 09:44] RohitR1 opened #3836 "How to use Hilbert curves feature?"
Z-Ordering helps to optimize high cardinality columns by colocating related information in a similar set of files
How to use these features with Iceberg tables?

[2022-01-01 12:48] ajantha-bhat commented on #3836
@RohitR1 :
It is not available in the iceberg yet.
It is in the roadmap.
https://docs.google.com/document/d/1UfGxaB7qlrGzzMk9pBm03oKPOkm-jk-NQVQQvHP-0Bc/edit

[2022-01-01 12:51] ajantha-bhat commented on #3833
looks like something is wrong with your Scala installation. Could you report your Spark environment and Scala version used?

[2022-01-01 12:55] ajantha-bhat commented on #3832
@samredai : few days ago, I have raised PR for the same. Please have a look.
https://github.com/apache/iceberg/pull/3809

[2022-01-01 13:30] nastra commented on #3762
I'm ooo until Jan 10, but will take a look once I'm back

[2022-01-01 13:47] samredai commented on #3832
Thanks @ajantha-bhat ! I'll close this one then.

[2022-01-01 13:47] #3832 closed

[2022-01-01 16:55] ajantha-bhat commented on #3547
@RussellSpitzer . @jackye1995 , @rdblue : Is it better to support sort order in the table properties (reserved property) and deprecate `ALTER TABLE ... WRITE ORDERED BY`?

So, that user can have sort order in the create table and one less custom SQL in Iceberg?

P.s: I am planning to parse the sort order using spark default parser like I did for rewrite_data_files procedure.

[2022-01-03 03:31] zeromsi commented on #3833
Do I need to install Scala. I'm using Java here!

[2022-01-03 16:18] rdblue commented on #3547
No, I don't think so. These aren't table properties and we don't want to rely on hacks like in `rewrite_data_files`. If we want this in DDL, then Spark should support it.

[2022-01-03 17:07] andersonad commented on #3829
Tested this on master with the 0.13.0 snapshot and it works correctly. Closing this issue, sorry.

[2022-01-03 17:07] #3829 closed

[2022-01-03 19:01] jackye1995 commented on #3547
+1

It's definitely achieveable in CREATE TABLE DDL, but I don't think using TBLPROPERTIES is a good idea. The table version upgrade makes sense to use a special property because we want all users in all engines to easily upgrade their tables to a newer version, and table properties is the best way as it exists in all versions of the CREATE TABLE DDL.

For sort order, different engines have differ

[2022-01-03 19:18] #3699 closed

[2022-01-03 19:23] prithvi514 commented on #3828
@RussellSpitzer
Would appreciate any other recommendations. Thanks

[2022-01-03 19:42] GaruGaru commented on #3466
Same issue with paruqet `0.11` and spark `3.1.1`

[2022-01-03 20:54] andersonad opened #3838 "Spark V3.2 : spark-sql extension stored procedure remove_orphan_files fails with S3 IO implementation"
Testing the changes to the spark-sql extension procedures in 0.13.0, it seems that the `remove_orphan_files` stored procedure is not working with S3FileIO, failing with `Caused by: org.apache.hadoop.fs.UnsupportedFileSystemException: No FileSystem for scheme "s3"`

Note that this error is **not** encountered with `rewrite_manifests`, `rewrite_data_files`, or `expire_snapshots`.

To reproduce in py

[2022-01-04 03:33] ajantha-bhat commented on #3547
ok. Thanks for the clarifications. I will close this issue.

[2022-01-04 03:33] #3547 closed

[2022-01-04 06:26] Initial-neko commented on #3814
Thanks！It works

[2022-01-04 12:49] youngxinler commented on #3835
NoClassDefFoundError usually has a class conflict in the project, you can check whether the relevant dependencies of the project are repeatedly introduced.
if no relevant dependencies are introduced, the error that appears is ClassNotFoundException. @zeromsi