[2022-09-26 07:25] zixiao144 commented on #5853
flink ,do it

[2022-09-26 09:34] AHuio opened #5857 "Flink: Rewrite all data files( upsert mode, v2 table) ，no snapshot manifest file is generated."
### Query engine

Flink: 1.13.5
iceberg:0.13.2

### Question

`CREATE TABLE flink_dg (
    id INT,c1 VARCHAR
)
WITH (
    'connector' = 'datagen',
    'rows-per-second' = '100000',
    'fields.c1.length' = '12'
  );

create table iceberg_hive_catalog.dhome_db.test_iceberg(
 id INT,c1 VARCHAR,
 PRIMARY KEY (id) NOT ENFORCED
) with (
 'format-version'='2',
 'write.upsert.enabled'='true',
 'write.met

[2022-09-26 10:41] kingwind94 opened #5858 "Flink version after 1.14.3 failed to pass test cases: TestChangeLogTable.testChangeLogOnDataKey()"
### Apache Iceberg version

0.13.1

### Query engine

Flink

### Please describe the bug 🐞

I'm using version 1.14.5 for my flink cluster, and the 1.14 iceberg-flink connector is 1.14.0. I thought it is not a big deal to upgrade 1.14.0  to 1.14.5  (acutually bugs happened after 1.14.3).  It turned out that iceber-flink confused the Rowkind of rowdata and it gained a wrong result.

Expected :[Recor

[2022-09-26 10:41] kingwind94 commented on #5858
ps. the Iceberg version is tag 0.13.2.

[2022-09-26 16:05] #5587 closed

[2022-09-26 16:05] Hoeze commented on #430
Since these were merged, is this working now in 0.14.1?

[2022-09-26 16:10] #4508 closed

[2022-09-26 17:10] stevenzwu commented on #5803
the jobmanager log doesn't contain any log lines from `org.apache.iceberg`. is the logging level set properly?

[2022-09-26 23:22] aokolnychyi commented on #5739
Sorry, I was off. Let me take a look.

[2022-09-26 23:32] szehon-ho commented on #4362
I'm still working on this (pr still under review)

[2022-09-27 00:20] #4343 closed

[2022-09-27 00:27] zixiao144 commented on #5803
[flink-root-sql-client-violet.log](https://github.com/apache/iceberg/files/9650453/flink-root-sql-client-violet.log)
[jobmanager_log (1).txt](https://github.com/apache/iceberg/files/9650457/jobmanager_log.1.txt)
[flink-root-taskexecutor-0-violet (1).log](https://github.com/apache/iceberg/files/9650458/flink-root-taskexecutor-0-violet.1.log)

[2022-09-27 00:31] zixiao144 commented on #5803
in [flink-root-taskexecutor](https://github.com/apache/iceberg/files/9650458/flink-root-taskexecutor-0-violet.1.log)
 log lines from org.apache.iceberg .

 2022-09-27 00:19:28,670 DEBUG org.apache.flink.streaming.runtime.tasks.StreamTask          [] - Legacy source Source: Iceberg table (iotCatalog.iotdw.test) monitor (1/1)#0 (d77ec0c3c3c1493cb4a6a506b8648be3) skip execution since the task is fini

[2022-09-27 00:43] zixiao144 commented on #5803
![image](https://user-images.githubusercontent.com/21092977/192405038-3a35bcad-0977-4167-9180-a8cde9b034ed.png)
I  opened debug

[2022-09-27 00:49] zixiao144 commented on #5803
2022-09-27 08:19:21,864 INFO  org.apache.flink.api.java.typeutils.TypeExtractor            [] - class org.apache.iceberg.flink.source.FlinkInputSplit does not contain a getter for field task
2022-09-27 08:19:21,864 INFO  org.apache.flink.api.java.typeutils.TypeExtractor            [] - class org.apache.iceberg.flink.source.FlinkInputSplit does not contain a setter for field task
2022-09-27 08:19:2

[2022-09-27 01:52] kingwind94 commented on #5803
Is it working well in flink 1.15.0 instead of 1.15.2?  The default flink version for iceberg 0.14.0 is 1.15.0. And I have another wired issue with 1.14.3 in iceberg 0.13.2. The small version fix might cause a problem. Can some developer answer the question?

[2022-09-27 01:57] yikuanlee commented on #5817
@nastra ,
I think i figured out why, IBM patched Cloudera hive 3.1.3 version with newer ql version which eventually included
 ql/src/java/org/apache/hadoop/hive/ql/metadata/HiveStorageAuthorizationHandler.java
which came from
https://github.com/apache/hive/pull/1960/files#diff-8527b42317c96d8d571df7271740fd2d233ebd14d9b2d71f547525ca2bd3ff9b
Therefore When Hive alter/create event occurred it will t

[2022-09-27 01:57] #5817 closed

[2022-09-27 05:08] stevenzwu commented on #5803
@zixiao144 yes, saw the logs in taskmanager log file. I forgot the the `StreamingMonitorFunction` runs on taskmanagers. Flink streaming read only discovers `append` snapshot. How did you append data to the table? it seems that Flink source see the snapshots but didn't find any splits from snapshots with `append` operation.

Can you run java API to check the snapshot history and the `operation` typ

[2022-09-27 06:04] nastra opened #5861 "Test flakiness: TestManifestCaching > testWeakFileIOReferenceCleanUp"
### Apache Iceberg version

main (development)

### Query engine

_No response_

### Please describe the bug 🐞

The test itself was introduced with #4518 and failed on latest master in https://github.com/apache/iceberg/actions/runs/3129464949/jobs/5078743589:

I've been running `TestManifestCaching` in a loop and this test failed quite often for me locally
[code]

[2022-09-27 06:11] zixiao144 commented on #5803
I use flink cdc  to iceberg ,I test it .before insert, snapshots is 19.
![image](https://user-images.githubusercontent.com/21092977/192446629-21d45f99-4846-4ec6-b653-849e2a772669.png)
and I insert one row ,it is 19.
![image](https://user-images.githubusercontent.com/21092977/192446743-bb3eb2f3-8ab0-4ae0-a190-81c4e9e4388a.png)

[2022-09-27 06:13] zixiao144 commented on #5803
![image](https://user-images.githubusercontent.com/21092977/192446979-6312bb24-f53b-4df1-a7f3-09ed4c6a3984.png)
create table by the way

[2022-09-27 06:25] rizaon commented on #5861
It looks like the assertion in line 182 and 184 might not be true under some corner case scenario (memory pressure). They can be removed since the next assertions in the end of the test is sufficient.

[2022-09-27 06:53] nastra commented on #5861
It looks like even with removing those 2 assertions, the test still fails at `Assert.assertEquals(2, manifestCache.estimatedSize());`

[2022-09-27 08:04] rbalamohan opened #5863 "Optimise StringReader in ParquetValueReaders for DictionaryValuesReader (e.g Positional Deletes)"
### Feature Request / Improvement

When "merge-on-read" is enabled on tables, it creates "positional delete" files. These files contain 2 fields.

[code]

When reading data back from the table, these "positional delete" files are merged.
E.g "select count(*)  from store_sales where ss_ext_discount_amt=0.0" will merge the contents after the table has been updated/deleted.

It spends a lot of time i

[2022-09-27 13:04] arunb2w opened #5867 "Facing error when creating iceberg table in EMR using Glue catalog"
### Apache Iceberg version

0.14.0

### Query engine

EMR

### Please describe the bug 🐞

Facing error when creating iceberg table in EMR using Glue catalog.
spark version : 3.2.1
iceberg version: 0.14.0

**Sample code:**
[code]

**Spark command used to run:**
`spark-submit --deploy-mode cluster--packages org.apache.iceberg:iceberg-spark-runtime-3.2_2.12:0.14.0,software.amazon.awssdk:bundle:2.17.2

[2022-09-27 13:28] singhpk234 commented on #5867
This is because glueCatalog has additonal vaildations on tablename it should only contain lower case alphabets.
https://github.com/apache/iceberg/blob/6d2edd6284ebc5301dbe45376a31ca8316852a77/aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java#L499-L506

can try setting `glue.skip-name-validation` via catalog properties :
https://github.com/apache/iceberg/blob/6d2edd6284ebc5301dbe45376a

[2022-09-27 16:29] stevenzwu commented on #5803
Ah. You are doing CDC write to Iceberg. For the streaming read out of Iceberg CDC table, you want to read rows out with proper row type (like insert, delete, etc.). Then this is expected as the current Flink streaming read doesn't support upsert/row-level deletes.

Anton has been working on supporting CDC reads from Iceberg core and Spark. iceberg-flink can leverage the new APIs in Iceberg-api/cor

[2022-09-27 21:03] calvin-pietersen opened #5871 "Running out of disk space on row level deletes"
### Query engine

EMR 6.7.0
Spark 3.2.1
Iceberg 0.14.0

### Question

Hi,

We are performing row level deletion on an Iceberg table using Spark SQL. Rows need to be deleted across multiple partitions/files.

`delete from data as d where exists ( select id from deletes where d.id = id )`

When deletion runs, our EMR cluster is running out of disk space if a high number of partitions/files are hit.

[2022-09-28 00:21] #3843 closed

[2022-09-28 00:21] #3838 closed

[2022-09-28 00:47] zixiao144 commented on #5803
thanks. cdc doesn't supprot upsert.I disable iceberg's option . it can work.

[2022-09-28 02:43] magus0219 commented on #5652
@ldwnt @stevenzwu
I meet the same issue and hope for the official fix.

[2022-09-28 04:55] stevenzwu commented on #5652
@ldwnt can you create a PR for the weak reference fix?

Regarding the OOM, does your use case have many different read schemas and file schemas?

[2022-09-28 08:00] hunter-cloud09 commented on #2359
Hi @RussellSpitzer . I got the same error using spark3.
`2022-09-28 15:44:52,014 WARN scheduler.TaskSetManager: Lost task 0.0 in stage 0.0 (TID 0) (ldp06.c1.linkcld.com executor 1): org.apache.iceberg.hive.RuntimeMetaException: Failed to connect to Hive Metastore
	at org.apache.iceberg.hive.HiveClientPool.newClient(HiveClientPool.java:72)
	at org.apache.iceberg.hive.HiveClientPool.newClient(HiveCl

[2022-09-28 09:00] Hoeze commented on #5512
Hi, I would like to do (kind of) the same.
Catalogs are very hard to maintain in my use case.

Is it possible to open Iceberg tables like simple Parquet stores in PySpark?
`spark.read.format("iceberg").load(iceberg_path)`

[2022-09-28 09:34] lordk911 opened #5876 "Stage cancelled because SparkContext was shut down"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

spark3.2.1/ iceberg0.14.1
When merge into a table, always got a faild job, which reason is : Stage cancelled because SparkContext was shut down.
But the final state of the spark application is SUCCEEDED

![image](https://user-images.githubusercontent.com/19989300/192744662-fdfb5821-cc7c-4d7

[2022-09-28 09:39] lordk911 commented on #5876
![image](https://user-images.githubusercontent.com/19989300/192745791-ba06ec0b-39df-45ef-b3c6-695d2972fcbb.png)

[2022-09-28 10:09] nastra commented on #5512
Currently you would always have to go through a catalog

[2022-09-28 11:39] huleilei opened #5878 "Core: Serialize the params in Blob"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Using Spark to gen `Blob` for every DataFile,  I meet a problem:
[code]

[2022-09-28 11:51] #5878 closed

[2022-09-28 13:43] Hoeze commented on #5512
@nastra Will this change in the near future?

[2022-09-28 13:48] Hoeze commented on #5512
My aim is to provide people with a large sorted dataset that they can simply download, read and query, while avoiding unnnecessary sort shuffles when reading + joining on it.

Having to setup Spark catalogs makes this impossible or at least very hard.

[2022-09-28 14:28] Hoeze commented on #5512
@nastra How would I register an Iceberg dataset to the in-memory PySpark catalog?

[2022-09-28 15:45] nastra commented on #5512
@Hoeze you would have to create a catalog and then register the tables within that catalog (similar to https://github.com/apache/iceberg/issues/5512#issuecomment-1217163086). However, note that the `registerTable()` functionality from https://github.com/apache/iceberg/pull/5037 has not been part of an official release yet.

[2022-09-28 19:21] asheeshgarg opened #5881 "Iceberg additional field metadata"
### Query engine

Spark

### Question

Is there a capability to store additional meta data for fields. We are trying to have additive schema evolution and if column is deprecated we mark it as deprecated but it will continue to live in our store.
I want to store this information that the field is deprecated somewhere in metadata. I have used description column to store the data but its stored with

[2022-09-28 20:11] #5777 closed

[2022-09-28 22:20] srilman commented on #3220
Is anyone planning to work on this? Would be happy to pick this up!

[2022-09-29 00:55] bartash opened #5882 "Allow SnapshotManager to be created using an existing iceberg transaction"
### Apache Iceberg version

main (development)

### Query engine

_No response_

### Please describe the bug 🐞

SnapshotManager creates its own iceberg transaction which is private. This prevents clients from adding anything to the transaction. An example use case where this is desirable is that some catalog users use additional HMS properties to include version numbers for cache invalidation.  It

[2022-09-29 02:00] lordk911 commented on #5876
the error message is from class DAGScheduler.cleanUpAfterSchedulerStop()

[code]

[2022-09-29 02:42] lordk911 commented on #5876
‘Only one record in the source data can update any given row of the target table, or else an error will be thrown.’
how to understand this description.

[2022-09-29 03:08] moonService opened #5883 "How to combine vertically split tables into one table in iceberg"
### Query engine

flink

### Question

I tried the following:
`CREATE TABLE source_part_1 ( `
`columns...`
`PRIMARY KEY (pk) NOT ENFORCED`
 `) WITH ( `
`connectinfo... `
`);`

`CREATE TABLE source_part_2 (`
`columns...`
`PRIMARY KEY (pk) NOT ENFORCED`
`) WITH (`
`connectinfo...`
`);`

`CREATE TABLE iceberg_table (`
`part_1_columns...`
`part_2_columns...`
`PRIMARY KEY (pk) NOT ENFORCED`
`) WITH (`

[2022-09-29 05:21] pvary commented on #2359
@hunter-cloud09: Could you please check, if the correct hive-metastore jars are on your class path from the org.apache.hive project?

[2022-09-29 08:14] xuzhiwen1255 commented on #5883
I know your problem, for example, you can change SQL, such as JOIN, but this is not a good solution

[2022-09-29 09:28] Heltman opened #5886 "ParallelIterable.close() will not clear queue"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Trino

### Please describe the bug 🐞

When Trino query Iceberg failure in file scan time, it call `fileScanTaskIterable.close()`. However, because the queue in   `ParallelIterable` is not cleared, it will occupy more Coordinator memory, and even cause OOM.

This is a question related to #4596 , this queue may be use too much me

[2022-09-29 11:00] ldwnt commented on #5652
Sure, I'll cerate one.

I have a job writing to around 100 iceberg tables. The table schema barely changes, but snapshots and manifests are continuously generated due to incoming data.

[2022-09-29 13:48] asheeshgarg commented on #5881
Any guidance is appreciated. If we write directly to Parquetmeta data does it have any impact?

[2022-09-29 14:51] gaborkaszab commented on #5882
Let me take a look, @bartash

[2022-09-29 15:16] singhpk234 commented on #5871
I think this would be happening becuase `write.delete.distribution-mode` default is set to `hash` can try setting to `none`

[2022-09-29 19:26] calvin-pietersen commented on #5871
Can confirm this has resolved the issue. Thank you @singhpk234! - sorry will share plans next time.

![image](https://user-images.githubusercontent.com/16835507/193121736-07b69f0c-5b51-4566-8276-bf617d1a30b5.png)

Two more questions
- Why is `write.delete.distribution-mode=hash` by default? Seems like `write.delete.distribution-mode=none` is safer?
- Is the sort unnecessary considering the files s

[2022-09-29 20:28] #5791 closed

[2022-09-30 00:15] sumeetgajjar opened #5892 "Iceberg does not respect the avro properties from TBLPROPERTIES while writing Manifest files"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

Hi,

Iceberg does not respect the Avro properties i.e. `write.avro.compression-codec` and `write.avro.compression-level` from `TBLPROPERTIES` while writing Manifest and Manifest list files.

This is because the table properties are not forwarded to Avro WriteBuilder:
https://github.

[2022-09-30 00:23] #4305 closed

[2022-09-30 00:23] #4051 closed

[2022-09-30 01:19] hunter-cloud09 commented on #2359
thx for your response，after I checked, I found that it was the problem with the package I put

[2022-09-30 18:33] #5646 closed

[2022-09-30 18:36] #5634 closed

[2022-09-30 20:52] stevenzwu commented on #5652
We also have a similar setup internally. We didn't run into OOM issue. Not sure what's the difference here.

Checking your heap dump. The whole map has retained memory of 109 MB, which doesn't seem too much? is that the main cause of the OOM?

[2022-09-30 23:19] #5676 closed

[2022-09-30 23:19] #5399 closed

[2022-10-01 00:22] #3836 closed

[2022-10-01 10:03] djouallah opened #5901 "pip install pyiceberg on windows require C++ to be installed"
### Apache Iceberg version

main (development)

### Query engine

_No response_

### Please describe the bug 🐞

when I tired to install pip install pyiceberg on windows 10, it did complaining about missing C++ files, I was expect a binary distribution not compiling the source myself ? is this by design

[2022-10-01 10:06] djouallah commented on #5801
Looking forward to use it with DuckDB :)

[2022-10-02 00:20] #4312 closed

[2022-10-02 02:08] samredai commented on #2194
Closing this now that pyiceberg has been released.

[2022-10-02 02:08] #2194 closed

[2022-10-02 02:13] samredai commented on #5901
I believe this is because of the pyarrow dependency. In the pyarrow [docs](https://arrow.apache.org/docs/python/install.html#using-pip) they include tips for getting around installation issues on windows.

[2022-10-02 05:44] djouallah commented on #5901
I have pyarrow installed already?

[2022-10-02 19:04] Fokko commented on #5901
@djouallah Thanks for reaching out and creating the issue.

Could you share the command that you use to install PyIceberg? For example, `pip3 install pyiceberg[pyarrow]` would install it with PyArrow support, or `pip3 install pyiceberg[s3fs]` would install it with the s3fs backend. Knowing this would help us to reproduce it.

Could you also share the error that you're seeing? Just the output of th

[2022-10-03 02:40] djouallah commented on #5901
PS C:\Users\mimoune.djouallah\Desktop\TPC-H-SF10> pip3 install pyiceberg[pyarrow]

Collecting pyiceberg[pyarrow]
  Using cached pyiceberg-0.1.0-py3-none-any.whl (276 kB)
Requirement already satisfied: rich<13.0.0,>=12.5.1 in c:\users\mimoune.djouallah\appdata\local\programs\python\python310\lib\site-packages (from pyiceberg[pyarrow]) (12.5.1)
Requirement already satisfied: click<9.0.0,>=8.1.3 in c

[2022-10-03 06:55] Fokko commented on #5901
Thanks @djouallah for sharing. Could you try to install `wheel` (`pip3 install wheel`), and then install PyIceberg?

I noticed this from the log:

This means that it will fall back on installing it from the source, which will mean that it will try to compile the native extension.

[2022-10-03 07:00] djouallah commented on #5901
PS C:\Users\mimoune.djouallah\Desktop\TPC-H-SF10> pip3 install wheel
Requirement already satisfied: wheel in c:\users\mimoune.djouallah\appdata\local\programs\python\python310\lib\site-packages (0.37.1)
PS C:\Users\mimoune.djouallah\Desktop\TPC-H-SF10> pip3 install pyiceberg[pyarrow]
Collecting pyiceberg[pyarrow]
  Using cached pyiceberg-0.1.0-py3-none-any.whl (276 kB)
Collecting mmh3<4.0.0,>=3.0.

[2022-10-03 07:01] djouallah commented on #5901
I think the issue is with mmh3

PS C:\Users\mimoune.djouallah\Desktop\TPC-H-SF10> pip3 install mmh3
Collecting mmh3
  Using cached mmh3-3.0.0.tar.gz (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mmh3
  Building wheel for mmh3 (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code

[2022-10-03 12:29] arunb2w opened #5909 "Partition Pruning not happening as expected"
### Apache Iceberg version

0.14.0

### Query engine

EMR

### Please describe the bug 🐞

spark version : 3.2.1
iceberg version: 0.14.0
Running the below code in EMR with Glue catalog
**Target:**
I have an iceberg table(EPAYMENT) which contains 457M records in it and it is about 89.4G in size.
It is a partitioned table based on the column _CONTEXT_ID_ and it has 18K partitions.
This table resides

[2022-10-04 15:53] Fokko commented on #5901
@djouallah The pre-compiled wheel is not available for Python 3.10. It is available for Python <=3.9. There is a PR available for this: https://github.com/hajimes/mmh3/pull/35 but has yet to be merged.

[2022-10-04 17:09] brucearctor opened #5914 "Add "Good First Issue" suggestion/link in Contributing docs"
### Feature Request / Improvement

Add link / instructions to the contributing page https://iceberg.apache.org/contribute/ informing about "good first issue" tag ( https://github.com/apache/iceberg/labels/good%20first%20issue )

### Query engine

_No response_

[2022-10-05 00:19] #3835 closed

[2022-10-05 00:47] aokolnychyi commented on #5739
Should be resolved by #5679 and #5880. Feel free to reopen if needed, @mohitgargk.

[2022-10-05 00:47] #5739 closed

[2022-10-05 13:25] HannesDS opened #5920 "Multiple timezones within the same spark dataframe"
### Feature Request / Improvement

As I currently understand it when writing a spark dataframe to iceberg file it is automatically converted into a timestamp with timezone information according to the [documentation](https://iceberg.apache.org/docs/latest/spark-writes/#spark-type-to-iceberg-type). But it seems that the timezone you pass to a column doesn't really matter and it is automatically con

[2022-10-05 13:26] zhjwpku commented on #5122
+1 for C++ SDK

[2022-10-05 18:52] Fokko opened #5924 "Python: Fix repr of the Literals"
### Feature Request / Improvement

We instantiate the literals using the `literal` constructor, but the repr is the specific literal. I think we just want to use the literal constructor in the repr as well:

[code]

Would be great if we can override the `__repr__` of each of the literals, and add tests to make sure that they stay correct.

### Query engine

_No response_

[2022-10-06 00:18] #4238 closed

[2022-10-06 07:36] hendrikmakait commented on #5924
I'm concerned about the introduction of ambiguity to the `__repr__` with this change. Namely, the `__repr__` of both a `DoubleLiteral(1.0)` and a `FloatLiteral(1.0)` would become `literal(1.0)`, which in turn evaluates to a `DoubleLiteral(1.0)`. Hence, the `__repr__` becomes ambiguous with respect to the class of the original object and it will not recreate the same object for the case of the `Flo

[2022-10-06 08:43] rbalamohan opened #5927 "Vectorized reading of parquet in an updated table with 'merge-on-read' returns wrong results"
### Apache Iceberg version

0.14.0

### Query engine

Spark

### Please describe the bug 🐞

When reading data from an "updated" table with "merge-on-read" option enabled. This creates positional delete files during update queries. Subsequent select queries return wrong results. It doesn't happen in single split, but consistently happens with >= 2 splits.

Repro steps:
==========
1. Create store_sa

[2022-10-06 22:48] rdblue commented on #5924
@hendrikmakait makes a good point, although I think double and float are the only cases where it may matter. And even then, binding should handle any problems caused by this. Isn't binding the only way to produce `FloatLiteral` anyway?

[2022-10-07 00:21] #4313 closed

[2022-10-07 06:05] Fokko commented on #5924
That's a very good point indeed. I think we have multiple cases where this can happen.

- Using `literal(123)` we will always create a `LongLiteral`, since Python has no distinction between an Integer and a Long.
- Also, when we create a bytes literal `literal(b'\00')` for the `FixedLiteral`:
[code]
We might also need to scale this when we bind it to a FixedLiteral field (binary field, with a fixe

[2022-10-07 06:10] hendrikmakait commented on #5924
@rdblue: My main point is that this change affects debugging, which `__repr__` is intended for (https://docs.python.org/3/reference/datamodel.html#object.__repr__). This will make it more involved to figure out what exact object one is dealing with and to see whether code, e.g., conversions, worked as intended from just glancing at debugger output. For example, the conversion `LongLiteral(1234) ->

[2022-10-07 20:02] ahshahid opened #5935 "Spark : Spark3Util is not setting the spark session being used as active session when executing sensitive functions"
Some of the functions of Spark3Util which are internally invoking the catalog being used by the current SparkSession,  do not get the right Catalog Instance, as the current session is not being set as the active one , in the ThreadLocal of SparkSession. As a result , the catalog instance being retrieved is the wrong one ( of the default spark session which got created first).

The bug shows up if

[2022-10-08 01:28] 95liu commented on #5846
used Flink version 1.13.6 and iceberg version 0.14.0

org.apache.iceberg.exceptions.RuntimeIOException: Failed to write json to file: hdfs://master01-test.cndatacom.com:8020/edata/crop_prod/ods_t_enterprise_investment_1g/metadata/1cf4953b-9a63-4156-b365-a4950b93e1d0.metadata.json

[2022-10-08 01:35] vincentpoon opened #5936 "Manifest partition stats include partition values from deleted files"
### Apache Iceberg version

0.14.0

### Query engine

Trino

### Please describe the bug 🐞

With a simple table partitioned by one identity column, e.g. `partCol int`
Insert 2 rows, where partCol=1 and partCol=2
Now DELETE where partCol=2

The manifest list will show that the new manifest  partition stats for `partCol` are lower=1 upper=2
That is, it incorporates the stats for all files in the man

[2022-10-08 02:45] dennishuo commented on #5512
@Hoeze For your use case is it sufficient to have a "temp view" on your iceberg table that's just available in the spark session that registers it?

Assuming your Iceberg metadata is intact with a `metadata/v#.metadata.json` file under the base Iceberg table path, you should be able to do:

    spark.read.format("iceberg").load(iceberg_path).createOrReplaceTempView("my_view")
    spark.sql("select

[2022-10-08 05:12] pvary commented on #5846
@95liu: OK, I wasn't clear enough. I would like to see the whole stack trace.
Also, in the previous error message was for an avro file, now it is for a json file. Have you checked the health of the HDFS, or any transient error there, or on the network?

[2022-10-08 06:29] moonService commented on #5883
@xuzhiwen1255 Yes, that means I need to manage the state of Flink, which will cause additional resource waste

[2022-10-08 08:14] xuzhiwen1255 commented on #5883
At present, iceberg only achieves row-level update, so it has to get around this problem by other ways

[2022-10-09 00:18] #4403 closed

[2022-10-09 00:18] #4398 closed

[2022-10-09 02:48] #5813 closed

[2022-10-09 02:49] hunter-cloud09 opened #5937 "[FLINK] Update deprecated code in flink"
### Feature Request / Improvement

Update deprecated code in FLIP-164

### Query engine

Flink

[2022-10-09 03:28] alexey-milovidov commented on #5122
We need C++ SDK for [ClickHouse](https://github.com/ClickHouse/ClickHouse/).
Alternatively, we can use a Rust SDK if it will be available.

[2022-10-09 06:33] XBaith commented on #5846
We meet this issue in these two situations:
- No access permission
- write metadata into wrong HDFS location

[2022-10-09 19:50] almogtavor commented on #4977
A nice implementation project at the subject - https://github.com/getindata/kafka-connect-iceberg-sink

[2022-10-10 00:17] #3895 closed

[2022-10-10 07:56] 95liu opened #5945 "Read Iceberg Table Bug(cannot find field start_date from [org.apache.iceberg.mr.hive.serde.objectinspector.IcebergRecordObj)"
### Apache Iceberg version

0.14.0

### Query engine

Hive

### Please describe the bug 🐞

When I join two iceberg tables, an error occurs that a field cannot be found。(0.14.0 version)

cannot find field start_date from [org.apache.iceberg.mr.hive.serde.objectinspector.IcebergRecordObjectInspector$IcebergRecordStructField@ae1143d9, org.apache.iceberg.mr.hive.serde.objectinspector.IcebergRecordObje

[2022-10-10 08:11] 95liu commented on #5945
hive 2.1.0
iceberg 0.14.0

[2022-10-10 08:49] 0xffmeta opened #5946 "Not able to run spark procedure rewrite_data_files"
### Apache Iceberg version

0.13.1

### Query engine

Spark

### Please describe the bug 🐞

When I tried to run spark procedure
[code]
The spark returned error:
[code]

However below procedure ran successfully:
[code]

Is there anything missed here? I have already added conf
[code]

[2022-10-10 10:19] sontt710 opened #5947 "[Hadoop] [Iceberg] How to change hadoop location from iceberg metadata"
### Query engine

_No response_

### Question

Hello,

I'm using Iceberg + Hadoop with Hive Metastore.

After create the table, the location of table will be "location" : "hdfs://xxx.:8020/warehouse/table_01".

I need to sync data of this table to AWS S3 or other Hadoop Cluster. In other environment, We have to change scheme of the location to S3:// other hadoop cluster name hdfs:/yyyy

If anyone

[2022-10-10 17:44] matt-slalom commented on #3044
@tiborkiss, by chance do you have this in GitHub? It seems like there are a number of people struggling with this error and it sounds like you have a workaround.

[2022-10-10 18:38] #5861 closed

[2022-10-10 18:39] brucearctor commented on #5914
merged

[2022-10-10 18:39] #5914 closed

[2022-10-10 23:13] matt-slalom commented on #3044
I found this thread while trying to make Flink, Iceberg, and Glue work together without the Hadoop dependencies, so I'm hoping this is useful for someone else in the future. To answer my own question, this seems to work (@tiborkiss gave me an important clue about the null Hadoop config):
[code]

[2022-10-11 06:53] 95liu commented on #5945
select
        soqte1.org_no
    from
		(select eid
        , credit_no
        , org_no
        , name
        , start_date
        , reg_no
        , province_code
        from ods_t_enterprise_1g
        where province_code = '440000'
        ) soqte1
    join
		(
        select eid                  as eid
            , ''                    as company_name
            , 1                     a

[2022-10-11 07:47] linfey90 opened #5955 "In batch mode, pos delete may trigger oom"
### Feature Request / Improvement

We use a **upsert** table, then write data  with flink **batch** mode. Of course there is no ck, the insertedRowMap
 in BaseTaskWriter.java will be bigger and bigger,and the resource will not be released, so oom might  happen.
method: BaseTaskWriter.write
`PathOffset previous = insertedRowMap.put(copiedKey, pathOffset);`
@openinx@rdblue
any advice can give me?
th

[2022-10-11 09:52] sun-help opened #5956 "#spark场景下 使用SparkActions 的rewriteDataFiles 报错"
### Query engine

spark

### Question

Exception in thread "main" java.lang.IllegalArgumentException: Cannot initialize Catalog implementation org.apache.iceberg.hive.HiveCatalog: Cannot find constructor for interface org.apache.iceberg.catalog.Catalog
	Missing org.apache.iceberg.hive.HiveCatalog [java.lang.NoClassDefFoundError: org/apache/hadoop/hive/metastore/api/NoSuchObjectException]
	at org.a

[2022-10-11 10:49] Hoeze commented on #5512
@dennishuo I am not sure if I understand your suggestion.
Isn't your code snippet equal to mine?
[code]
Now, if `df1` == `df2` it would be absolutely sufficient.

As I said, I just want to send an iceberg store to people and let them load it in PySpark in a single line of code.

[2022-10-11 12:18] youngxinler commented on #5956
"Caused by: java.lang.NoSuchMethodException: Cannot find constructor for interface org.apache.iceberg.catalog.Catalog
Missing org.apache.iceberg.hive.HiveCatalog [java.lang.NoClassDefFoundError"

consider your program dependency is contain the right class or class confict?

[2022-10-11 15:12] 0xNacho opened #5958 "Not able to process hundred of RowData types"
### Query engine

Flink

### Question

Hello!

I have a Flink application that reads arbitrary AVRO data, maps it to RowData and uses  several FlinkSink instances to write data into ICEBERG tables. By arbitrary data I mean that I have 100 types of AVRO message, all of them with a common property "tableName" but containing different columns. I would like to write each of these type of message into

[2022-10-11 16:29] dennishuo commented on #5512
@Hoeze Ah I assumed you were asking about how to access the dataframe from SparkSQL since your later question was how to register to the in-memory PySpark catalog.

Did you have trouble getting the basic `spark.read.format("iceberg").load(iceberg_path)` to work? That command should work fine to read individual Iceberg tables as dataframes, the same way you would read a directory full of Parquet fi

[2022-10-11 16:51] asheeshgarg commented on #5512
@dennishuo  Thanks for this options  spark.read.format("iceberg").load(iceberg_path).createOrReplaceTempView("my_view")
1) I tried this yesterday for my use case but getting version  hint file missing issue. We are using s3 as storage
2) when you write the data back to the iceberg format from view does it work like the metadata will be evolve appropriately

[2022-10-11 17:16] rdblue commented on #5936
I don't think this is a bug. The behavior should be correct, right? Changing this behavior would be a performance improvement?

I'm not sure that we need to do this. I'd rather include a mode where we simply drop files that were deleted rather than keeping references to them. That would achieve the same goal, but would use less space for metadata.

[2022-10-11 17:17] rdblue commented on #5886
@Heltman, would you like to open a PR to clear the queue?

[2022-10-11 18:07] dennishuo commented on #5512
@asheeshgarg Right, unfortunately, as I understand it, mutations on the existing iceberg table would require catalog integration, so the low-level dataframe `load` approach would just be for reads.

When I was using this myself, the missing version-hint error appeared to just be a "warning", and I was still successfully able to use the dataframe by ignoring the error message.

Under the hood, the

[2022-10-11 22:41] harnsit opened #5960 "Unable to get all snapshots in SELECT query"
### Apache Iceberg version

0.13.2

### Query engine

Spark

### Please describe the bug 🐞

We save the snapshot ID in another table and after every update (merge) in an iceberg table, we query the latest snapshot ID for that table. I have observed that although the snapshot is committed, the response of the SELECT query on table.history doesn't return the snapshot ID immediately. After some updat

[2022-10-12 04:03] Heltman commented on #5886
@rdblue Yes, I had

[2022-10-12 05:21] pvary commented on #5945
Could you please try Hive 2.3.8/9?
That is the Hive version the unit tests are using.

Thanks, Peter

[2022-10-12 05:41] singhpk234 commented on #5960
This could be happening due to caching, by default the TTL is `30sec`, can try disabling it via catalog properties.
https://github.com/apache/iceberg/blob/8c6adf6e5e17603025d23b2012aa576c071ff269/core/src/main/java/org/apache/iceberg/CatalogProperties.java#L33-L58

[2022-10-12 05:45] singhpk234 commented on #5955
An interesting PR on similar lines, addressing the issue by @openinx :
- https://github.com/apache/iceberg/pull/2680

[2022-10-12 05:50] sun-help commented on #5956
thinks

[2022-10-12 05:57] Px951213 opened #5963 "Aliyun-OssFileIO: Premature end of Content-Length delimited message body"
### Query engine

Spark 3.1.2 + iceberg 0.14.0

### Question

[code]

sparkConf :
[code]

[2022-10-12 06:00] sun-help opened #5964 "spark 3.2 + iceberg0.13.1 的 ANTLR 脚本问题"
### Query engine

evn：
spark3.2
iceberg0.13.1
jar:
iceberg-runtime:iceberg-spark-runtime-3.2_1.12:0.13.2

### Question

 ANTLR Runtime version 4.8 used for parser compilation does not match the current runtime version 4.7.1ANTLR Runtime version 4.8 used for parser compilation does not match the current runti

[2022-10-12 06:23] linfey90 commented on #5955
thanks, I'll take a look.

[2022-10-12 06:35] Fokko commented on #5964
@sun-help Thanks for opening the issue. Could provide some steps to reproduce this? I would also suggest moving to 0.14.1 as that's the latest release. Thanks!

[2022-10-12 06:51] shay1bz commented on #4889
It seems that Spark ( > 3) does not support creating sorted tables, unless the table is bucketed. Does this mean that the only way to create a sorted Iceberg table (without buckets) is to create it non-sorted, and then apply "WRITE ... ORDERED BY" ?

Currently, we are creating the table with the Java API - not through Spark - with the desired sorting spec, and then writing the DataFrame to the exi

[2022-10-12 06:54] vshel opened #5965 "Iceberg with Glue Catalog updates glue table version on every commit, but there's a maximum of 100,000 versions"
### Query engine

Spark

### Question

Hello, I am trying out Iceberg with aws integration, every time a commit is done the glue table version is incremented, however, there's an aws hard limit of 100,000 versions per glue table.

-- I believe this line of code is responsible for version update: https://github.com/apache/iceberg/blob/3cddc9f28c93b9231060ecb6b90e2d524bd5d160/aws/src/main/java/org/a

[2022-10-12 07:09] singhpk234 commented on #5965
I think we can expire the previous table version when the current version is successfully committed, or you can override glue table level version count default to a big value as per : https://docs.aws.amazon.com/general/latest/gr/glue.html

to get rid of existing version of table via a separate clean-up job you can use this util as well : https://github.com/aws-samples/aws-glue-table-versions-clea

[2022-10-12 07:27] XBaith commented on #5947
Migrate iceberg between different data center:
For version 1 table:  you can just load the data files into Spark dataset and then write into target table.
For version 2 table: config different cluster Spark catalog like this:
[code]
read and write iceberg data by Spark SQL.

[2022-10-12 11:54] vshel commented on #5965
@singhpk234 thank you for responding so quickly. There's a "glue.skip-archive" provided in Iceberg, upon testing I see that it prevents a history of table versions from being available in glue, so no actual version is saved, but the version number is still incremented upon every commit. After further investigation I don't think anything from iceberg explicitly updates the version, it looks like gl

[2022-10-12 12:44] singhpk234 commented on #5965
DynamoLockManager should not be required in this case.

I think it should not be a problem, long has ~2 bil. Let's say u commit per second it would still require ~63 years to hit that.

[2022-10-12 18:01] jornfranke opened #5970 "Spark: Iceberg: java.io.InvalidClassException: org.apache.iceberg.Schema; local class incompatible: stream classdesc serialVersionUID = 3320367012418887609, local class serialVersionUID = -8857144469361102787"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

This happens only since ca. v 0.14.0. It does not happen with v0.13.1 . I deleted the tables before testing each version to make it exactly reproducible.
I execute the following code:
[code]

I get the following error message:
[code]

As said, in 0.13.1 the exact same code works without any

[2022-10-12 20:31] sbernauer commented on #5625
Hi  @dotjdk thanks for bringing this up!
I'm running into the exact same issue (`days(timestamp) ASC NULLS FIRST is not currently supported`) while using the following pyspark structured streaming job.
Spark 3.3.0, Iceberg 0.14.1
[code]

[2022-10-12 20:43] harnsit commented on #5960
Thanks. Setting disabling cache solved the issue

[2022-10-12 22:23] ddrinka opened #5971 "AnonymousAWSCredentialsProvider Should Be Supported"
### Feature Request / Improvement

I'm using Iceberg with PySpark and am aiming to provide access to sample data hosted on S3.  The S3 bucket is publicly accessible, so no Access Key ID or Secret Access Key are required for List and Get requests.

For Hadoop, I provide the following configuration:
[code]

I don't see a way to configure Iceberg to use a particular AWSCredentialsProvider besides the

[2022-10-12 23:08] #5886 closed

[2022-10-13 05:14] Kontinuation opened #5974 "Spark: Query fails with `java.lang.UnsupportedOperationException` when using Kryo serialization"
### Apache Iceberg version

main (development)

### Query engine

Spark

### Please describe the bug 🐞

Spark SQL query (such as `CACHE TABLE <table_name>`) fails when Kryo serialization was enabled. The command to launch spark-sql is:

[code]

Then run `CACHE TABLE demo.db.northwind_order;` to reproduce this problem:

[code]

This problem can be reproduced on latest Iceberg main branch with Apach

[2022-10-13 06:22] Kontinuation commented on #5974
The fix is fairly easy:

[code]

I wonder if we could add a parameterized test case with kryo serializer enabled to the smoke test, so that we can catch similar problems in CI.

[2022-10-13 06:41] singhpk234 commented on #5974
@Kontinuation, Nice catch, how about adding the UT in the https://github.com/apache/iceberg/blob/master/core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java

[2022-10-13 07:21] Kontinuation commented on #5974
I've submitted https://github.com/apache/iceberg/pull/5975 to fix this problem with test added to `TestTableSerialization.java`. You can take a look.

[2022-10-13 09:08] singhpk234 commented on #5909
can u please attach the spark plans (logical & physical) for the same.

[2022-10-13 17:59] RLashofRegas opened #5977 "How to write to a bucket-partitioned table using PySpark?"
### Query engine

Spark

### Question

In the documentation for Spark writes, under the section for [Writing to partitioned tables](https://iceberg.apache.org/docs/latest/spark-writes/#writing-to-partitioned-tables), there are two Spark Jira issues linked that explain why (1) pre-write sort is required ([SPARK-23889](https://issues.apache.org/jira/browse/SPARK-23889)), and (2) manually registering

[2022-10-13 21:43] vincentpoon commented on #5936
@rdblue  Hmm I guess it depends on what "correct" behavior means here, but if the partition stats reflect values that can never be returned in a query (because the files containing those values have been deleted), then that seems incorrect to me.

And changing the behavior would be a perf improvement, particularly when the manifests are quite large, as they are in our use case.  Filtering using th

[2022-10-13 23:03] joao-parana opened #5979 "org.junit.rules.TemporaryFolder doesn't have newFile() method. ArrowReaderTest.java doesn't compile"
### Query engine

Plain Old Java test

### Question

When I try to compile the ArrowReaderTest.java source separately, this error occurs:

[code]

I'm using this JUnit version:

[code]

This version of JUnit must not be correct as it does not have the method with the signature: `newFile();`
[code]

Does anyone have any suggestions?

[2022-10-14 00:14] joao-parana commented on #5979
Sorry, I didn't realize there was another **JUnit** dependency statement with an older version in the `pom.xml` file.

I'm closing this issue.

[2022-10-14 00:14] #5979 closed

[2022-10-14 00:19] #4470 closed

[2022-10-14 04:24] #5974 closed

[2022-10-14 07:04] sun-help commented on #5964
I have solved the problem

[2022-10-14 07:04] #5964 closed, assigned to nobody

[2022-10-14 07:04] #5956 closed

[2022-10-14 08:33] 0xffmeta commented on #5946
To resolve the issue, we need to use the maven shade plugin to consolidate `org.apache.spark.sql.sources.DataSourceRegister` into the fat jar. So that spark can recongnize the iceberg datasource.
[code]

[2022-10-14 08:33] #5946 closed

[2022-10-14 12:44] ajantha-bhat opened #5986 "Flaky test/env? TestFileRewriteCoordinator > testBinPackRewrite"
The below test case (or test env) could be flaky!

org.apache.iceberg.spark.TestFileRewriteCoordinator > testBinPackRewrite[catalogName = testhive

https://github.com/apache/iceberg/actions/runs/3249433325/jobs/5331831494#step:6:293

[code]

[2022-10-14 17:56] pavibhai opened #5988 "Allow configuration of HiveMetastoreClient using Catalog Properties"
### Feature Request / Improvement

Currently Iceberg limits the Hive properties that can be configured onto a catalog to `uri -> hive.metastore.uris` and `warehouse -> hive.metastore.warehouse.dir`.

This limits the ability to configure the metastore client being set up. For example in a secure set up when using delegation tokens we need to configure different values for `hive.metastore.token.sign

[2022-10-14 18:38] dramaticlly opened #5990 "Spark JMH IcebergSourceFlatParquetDataWriteBenchmark failed with AnalysisException"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Running iceberg spark3.3 benchmark and realized issue with date_add expression

executed
[code]

seeing following error
[code]

I believe this is due to `DATE_ADD` expect a smallint or tinyint instead of longCol which is of `bigint`

[2022-10-14 18:39] dramaticlly commented on #5990
hey @aokolnychyi or @szehon-ho , can you help take a look? Shall be straightforward and one line change

[2022-10-15 16:48] amogh-jahagirdar commented on #5965
@singhpk234 If I'm not mistaken, I think @vshel point was on the Glue table version which gets incremented every UpdateTable regardless of glue.skip-archive. In this case, the 100000 limitation the glue table version limit would get exhausted much quicker (~1 day) assuming 1 commit/sec .

But @vshel in the mean time as @singhpk234 mentioned you can try requesting higher limits / setup the Glue tab

[2022-10-15 22:06] robertsont commented on #5728
Hi all, I'd be interested in taking this work on, seems like a good first issue for getting familiar with the iceberg project. If that's fine with you all, I can start by attempting to create a map from underlying library errors to pyiceberg.exceptions classes?

[2022-10-16 00:18] #3833 closed

[2022-10-16 12:16] irshadcc commented on #5881
This might be what you are looking for, https://github.com/apache/iceberg/issues/5631.

[2022-10-16 16:17] mrn-aglic opened #5993 "Quick start docker-compose demo doesn't work"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Here is the docker-compose file that I tried to use:

[code]

There are 2 issues I came across:
1. localhost:8080 and localhost:18080 are not accessible from my web browser (Firefox and Safari)
2. Trying to run the example notebook Iceberg - Getting started, I can run the "spark" cell (the

[2022-10-17 00:19] #3826 closed

[2022-10-17 00:19] #3822 closed

[2022-10-17 05:49] adhithyan-vijayakumar commented on #5993
I am also getting this on following the quickstart.

In addition to the above, I found the following line in traceback
[code]

Docker is not resolving the rest address used to create urls. Iceberg team please help to resolve at the earliest.

[2022-10-17 09:17] sun-help opened #5996 "how to use rewrite datafile"
### Query engine

env:
  SparkActions
                                    .get(spark)
                                    .rewriteDataFiles(table)
                                    .options(pro)
                                    .execute();

### Question

Why must I use hivecatalog：
22/10/17 17:13:25 WARN BaseRewriteDataFilesSparkAction: Failure during rewrite process for group BaseRewriteData

[2022-10-17 09:31] vshel commented on #5965
Thank you for the answers!

[2022-10-17 09:31] #5965 closed

[2022-10-17 09:42] vshel opened #5997 "Iceberg table maintenance/compaction within AWS"
### Query engine

Spark3

### Question

Hello, I have a ~6TB iceberg table with ~10,000 partitions within S3 and I am using Glue catalog, what is the correct way of running compaction on such a table?

From documentation: https://iceberg.apache.org/docs/latest/maintenance/ I can run:
[code]
This is going to execute on a single aws instance, how do I scale this to many instances for the compaction

[2022-10-17 10:12] zhushanwei commented on #5404
create table:
'write.distribution-mode'='hash',
'commit.manifest.min-count-to-merge'='2',
'format-version'='2',
'write.upsert.enable'='true',
'write.metadata.metrics.default'='full',
'write.metadata.delete-after-commit.enabled'='true',
'write.metadata.previous-versions-max'='1'

writer data:
FlinkSink.forRowData(input)
		.writeParallelism(parallelism)
		.tableLoader(tableLoader)
        .overwrite

[2022-10-17 18:48] vshel commented on #5996
@sun-help trough trial and error I figured it out:
if you want to use a different catalog, for example Glue:
[code]
Additionally, when creating your table, which you are supplying to .rewriteDataFiles(table), use the same catalog name - glue_cat.

`CatalogUtil.buildIcebergCatalog("glue_cat", catalogConfiguration, hadoopConfig).loadTable(...`

This is the relevant part in documentation: https://ice

[2022-10-17 20:02] asheeshgarg opened #6003 "Vectorized Read"
### Query engine

Java API

### Question

I am trying to create a API that need to return data using Apache Arrow. The data is stored as Iceberg table I want to filter the data using the Java api to avoid any  heavy compute job. I am able to load and run scan

val namespace = Namespace.of("Test")
catalog.listTables(namespace)
val tableIdentifier = TableIdentifier.of("Test", "Temp")
val table = cat

[2022-10-17 20:03] asheeshgarg commented on #6003
scala>  itr.next().createVectorSchemaRootFromVectors().getRowCount()
java.lang.NullPointerException
  at org.apache.iceberg.arrow.vectorized.GenericArrowVectorAccessorFactory.getPlainVectorAccessor(GenericArrowVectorAccessorFactory.java:199)
  at org.apache.iceberg.arrow.vectorized.GenericArrowVectorAccessorFactory.getVectorAccessor(GenericArrowVectorAccessorFactory.java:99)
  at org.apache.iceber

[2022-10-17 23:03] #5990 closed

[2022-10-18 00:19] #3821 closed

[2022-10-18 01:30] sun-help commented on #5996
At present, I want to use Spark to clear small data files.

[2022-10-18 01:31] sun-help commented on #5996
I don't know if the data file can be rebuilt in parallel with the write operation

[2022-10-18 06:20] weipengfei-sj commented on #5970
Who can help answer the same question

[2022-10-18 13:43] nastra commented on #6003
@asheeshgarg any chance that you could reproduce that issue in the `ArrowReaderTest` maybe?

[2022-10-18 13:45] nastra commented on #5993
@samredai is this something you could have a look at please?

[2022-10-18 15:05] nastra commented on #6003
The spark runtime jar relocates the arrow-related classes to `org.apache.iceberg.shaded.org.apache.arrow`. You probably need to change `org.apache.arrow.vector.VectorSchemaRoot` to `org.apache.iceberg.shaded.org.apache.arrow.vector.VectorSchemaRoot` to pick up the shaded arrow classes

[2022-10-18 15:20] asheeshgarg commented on #6003
@nastra
Thanks for the inputs one thing I see when I call getVector and do a println below code the columns are already deseralized in the print statement I was assuming the vector should be serialized format while reading. The underlying storage is parquet for these files
    import util.control.Breaks._
      val columns = table.schema().columns()
      val itr = new VectorizedTableScanIterable(

[2022-10-18 16:24] nastra commented on #5970
@jornfranke I wonder if this might be caused by version differences around Spark/Scala. Could you share please which Spark & Scala versions you have installed locally? See also https://stackoverflow.com/questions/35485662/local-class-incompatible-exception-when-running-spark-standalone-from-ide for some additional details

[2022-10-18 16:54] nastra commented on #6003
Can you be a bit more specifc when you say you're expecting them to be in the serialized format? It's difficult to tell what this prints. It might also help looking at the `ArrowReaderTest` to see how values are being extracted and such

[2022-10-18 17:44] jornfranke commented on #5970
I thought the same, but this works with 0.13.1 like a charm. Was using Spark 3.2 and Scala 2.12.
It is btw. a Spark cluster on which as said 0.13.1 works without issues.

The version is loaded directly and if I do not specify Apache Iceberg as package then it cannot find iceberg at all, so I would also exclude for now that there is a conflicting Apache Iceberg version on the cluster (not 100% sure

[2022-10-18 21:17] sunchao commented on #430
There are at least the following work need to be done:
- https://github.com/apache/iceberg/pull/2276 (allow Iceberg to combine input splits based on partition boundaries)
- implement `SupportsReportPartitioning` and `HasPartitionKey` from Spark side

Will update here once the feature is fully available.

[2022-10-19 00:18] #3792 closed

[2022-10-19 07:23] nastra commented on #5970
We just released Iceberg 1.0.0 so you might try that as well (but it is basically 0.14.1 with some bug fixes). There was https://github.com/apache/iceberg/pull/5975 but it is rather related to Kryo.

Btw I also noticed that your constructed URL for the jar doesn't work. You might want to change it to `https://repo1.maven.org/maven2/org/apache/iceberg/iceberg-spark-runtime-{spark_version}_{scala_ve

[2022-10-19 16:25] barronw opened #6018 "What is the expected behavior of expireOlderThan for a table with a tag that has not reached max age?"
### Query engine

### Question

Is `expireOlderThan` expected to fail when there is at least 1 tag that has not reached max age?

I get "cannot incrementally clean files for table with more than 1 ref" when I try to run `expireOlderThan` on a table with a tag that has not reached max age.

[2022-10-19 16:44] be1001014rocks commented on #2789
+1, looking forward to feature as it is one of the blocker's for our migration from delta (https://docs.delta.io/2.0.0/delta-streaming.html) to iceberg.

[2022-10-19 18:38] jornfranke commented on #5970
Thanks! 1.0.0 does not work. I suspect that somewhere is an outdated version of Apache Iceberg on the cluster that conflicts with 0.14.1 and 1.0.0. I will need to do more investigation.

About the URL - copy and paste mistake - the original one was the same as you had.

[2022-10-19 20:10] gar3thjon3s commented on #5993
It's a typo in the docker-compose.yml file - I had the same problem:

replace `PYSPARK_PYTON` -> `PYSPARK_PYTHON`

[2022-10-20 00:19] #4476 closed

[2022-10-20 03:20] MrDannyWu opened #6021 "When I use flink sql to synchronize MySQL data to icerberg (hive catalog), an error is reported."
### Query engine

Flink CDC

### Question

[ERROR] Could not execute SQL statement. Reason:
java.lang.IllegalStateException: Equality field columns shouldn't be empty when configuring to use UPSERT data stream.
table properties：
![image](https://user-images.githubusercontent.com/19458048/196848534-b168a11d-ac5f-420e-8a14-857a371098ce.png)

[2022-10-20 03:28] MrDannyWu commented on #6021
I have set the primary key according to the official documentation and set upsert enable;

[2022-10-20 06:54] chenwyi2 commented on #4557
is this solved? i have this problem, too

[2022-10-20 09:28] xuzhiwen1255 commented on #6021
Can you look at your sql?

[2022-10-20 10:27] MrDannyWu commented on #6021
Thank you for your reply and help, I will provide you with my steps.

The background of the problem is that I want to synchronize mysql data to Iceberg (Hive Catalog) through Flink CDC. The default is to write to Iceberg in Append mode. If there is update or delete, there will be duplicate data. If I want to use Upsert mode, there is a problem. In fact, I just want to know how to write Iceberg (Hi

[2022-10-20 11:33] xuzhiwen1255 commented on #6021
I am not sure whether the primary key of a table in hive can be applied to the primary key of a table in flink, because I rarely use hive and I am not familiar with it. I can try the sql client show create table in flink to check whether the table is created with a primary key.

[2022-10-20 14:44] pvary commented on #4557
Do you have a concurrent compaction/cleanup job which removes orphan files?

[2022-10-20 18:51] parisni opened #6024 "can not delete while iceberg sql extention set"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Spark 3.2.1

### Please describe the bug 🐞

I am not able to delete rows in iceberg. find below the way to reproduce
[code]

[code]

[2022-10-20 20:27] parisni commented on #6024
`registerTempTable` is not a way to benefit from delete apparently. This way works fine:
[code]

[2022-10-20 20:27] #6024 closed

[2022-10-21 00:08] #5988 closed

[2022-10-21 00:11] #3854 closed

[2022-10-21 01:14] xuzhiwen1255 commented on #6021
Flink SQL>  CREATE CATALOG hc WITH (

[INFO] Execute statement succeed.

Flink SQL> use hc;
[ERROR] Could not execute SQL statement. Reason:
org.apache.flink.table.catalog.exceptions.CatalogException: A database with name [hc] does not exist in the catalog: [default_catalog].

Flink SQL> use catalog hc;
[INFO] Execute statement succeed.

Flink SQL> create database db1;
[INFO] Execute statement suc

[2022-10-21 03:10] lixiuxiu opened #6027 "metadata location wrong with hadoop HA on multi clusters"
### Query engine

java  -> 1.8
iceberg-> 0.13.1
hive-metastore -> 2.1.1-cdh6.3.0
hadoop -> 3.0.0-cdh6.3.0

### Question

We have two  hadoop clusters named A and B with High availability， config that dfs.nameservices ：nameservice1，when I use my program to create iceberg table on A，it works，and than create table on B，the metadata.json will appear on A cluster , so the table create on B can not be r

[2022-10-21 03:25] chenwyi2 commented on #4557
yes, we have removes orphan files,but only remove files which are older than 3 days

[2022-10-21 07:33] pvary commented on #4557
On HDFS you might have an audit log to check when the files were removed and find out what happend with them based on the timing.
The other thing could be some messed up metadata where the `flink.max-committed-checkpoint-id` is wrong. Out of order commits, or multiple jobs without jobId writing to the same table.

[2022-10-21 09:01] goomhow opened #6028 "rewrite datafile OOM bug"
### Query engine

I use FLINK compact small files
Actions.forTable(table)
                    .rewriteDataFiles()
                    .maxParallelism(maxParallelism)
                    .caseSensitive(false)
                    .filter(Expressions.equal("d_1", d_1))
                    .targetSizeInBytes(512 * 1024 * 1024)
                    .execute();

### Question

even if i set 16G memory to

[2022-10-21 14:51] dimas-b opened #6031 "Nessie: Switch to Nessie API v2"
Project Nessie is introducing API v2: https://github.com/projectnessie/nessie/issues/5112

While that Nessie work is still in progress, it makes sense to update the NessieCatalog in Iceberg to use Nessie API v2 when it is available.

[2022-10-21 17:50] szehon-ho commented on #4127
Note , plan to put a design doc up next week for this.

[2022-10-22 00:18] #3789 closed

[2022-10-22 15:40] djouallah commented on #5901
it is seems mmh3 is not supported, is there an alternative solution please ?

[2022-10-23 17:39] rdblue commented on #5631
@linyanghao, can you bring this up as a discussion on the dev list?

The reason why we haven't done this is that metadata is not part of SQL and is not supported across engines. As a result, operations will drop metadata when people expect it to be carried through:

[code]

Any field metadata in `original` is not present in `copy`. I think that's confusing enough that we have so far chosen to not

[2022-10-24 03:21] linyanghao commented on #5631
Thanks for pointing out the issue. I will bring up a discussion when I have some thoughts on it.

[2022-10-24 16:23] ismailsimsek commented on #5997
@vshel any reason you are not [using Athena to do compaction](https://docs.aws.amazon.com/athena/latest/ug/querying-iceberg-data-optimization.html)?

[2022-10-24 17:48] ahshahid opened #6039 "Spark : Perf enhancement by leveraging Dynamic Partition Pruning rule of spark for non partition columns used as join condition"
Spark has Partition Pruning rule which under right condition can fetch all the join keys of one side of the table,  and pass it as an In Clause filter to other table.

For eg if the query is select * from  Table1 joinTable2  on  Table1. A =  Table2.B where …..

In this case depending upon the stats / cardinality ,  the DPP rule may exeute a query like

select  distinct A from Table1

such that it

[2022-10-24 23:07] szehon-ho opened #6042 "Add delete file information to partitions table"
### Feature Request / Improvement

@ajantha-bhat brought up that Partitions table fields 'file_count' and 'record_count' are not reflecting delete files, and was interested to fix it.

One possibility is to add 'pos_delete_x' and 'eq_delete_x' combinations to these two fields, so:

- file_count
- record_count
- pos_delete_file_count
- pos_delete_record_count
- eq_delete_file_count
- eq_delete_reco

[2022-10-25 00:22] #4549 closed

[2022-10-25 00:22] #4542 closed

[2022-10-25 02:03] ajantha-bhat commented on #6042
@szehon-ho :
Say for `partition-a` I have `record_count`=6 and `file_count`=2. [3 records in each file]
Now, I do position delete which marks 3 records in file1 as deleted for `partition-a`.

So, are you suggesting instead of decrementing `record_count` to 3 and incrementing `file_count` to 3,
increment `pos_delete_record_count`=3, `pos_delete_file_count`=1 ?

In this case, the user has to manuall

[2022-10-25 03:16] szehon-ho commented on #6042
Yea I think , we cant do any arithmetic otherwise it becomes a matter of applying the delete file, which shouldn't be done in metadata table.  This should be coming just from file metadata, in my opinion.

Yea I would say for partitions table, we may choose not to show it or show it like that (up for debate).  Anyway it should be there in the delete_files table.

[2022-10-25 03:44] rbalamohan opened #6044 "Column pruning/projection is not happening in correlated queries (e.g Q94, Q16)"
### Apache Iceberg version

0.14.0

### Query engine

Spark

### Please describe the bug 🐞

Column projection/pruning is not happening in iceberg tables for inner queries.

E.g

Q94: https://github.com/databricks/spark-sql-perf/blob/master/src/main/resources/tpcds_2_4/q94.sql

In this query, "select * from web_sales" should have projected only relevant columns for further processing.

This is not

[2022-10-25 03:55] chenwyi2 commented on #4137
this problem has been solved? i also meet this problem, when iceberg was commited sucessfully but flink flush snapshot state to state backend was failed, then i restart task, it can be failed: FileNotFoundException: File does not exist

[2022-10-25 04:25] ajantha-bhat commented on #6042
for `eq_delete_record_count` we have to apply the filters and compute the actual count of records that are deleted?

[2022-10-25 09:12] chirenwang opened #6050 "Spark3.2.2 rewriteDataFiles task yarn driver Stuck"
### Apache Iceberg version

0.14.0

### Query engine

Spark

### Please describe the bug 🐞

I use SparkActions.rewriteDataFiles to compact my small files, this is my code
        String namespace = "dwm_stk";
        SparkSession sparkSession = SparkSession.builder()
                .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")

[2022-10-25 09:44] vshel commented on #5997
@ismailsimsek I tried running OPTIMIZE with athena on a partition with ~25 000 files totalling 2.6GB (so pretty small dataset), it failed with an internal error after 8 minutes, I created a support ticket for AWS to investigate, but it's not looking promising now, considering whole table dataset is 6TB.

Additionally, after experimenting, Athena read performance is horrible unless I do a compactio

[2022-10-25 09:52] chirenwang commented on #6050
I fix this problem by imporve my spark driver cores and memory ,from 1core 4G to 4cores 16G, by I don't know why

[2022-10-25 16:15] szehon-ho commented on #6042
I was thinking , just number of records in that file, without applying.  Obviously, not sure if eq_delete_record_count and pos_delete_record_count are very useful, but if we want to do this.

[2022-10-25 16:20] ajantha-bhat commented on #6042
Say, for a given partition value I have 1000 records and deleted 500 records, to calculate the effective `record_count`, I think `pos_delete_record_count` and `eq_delete_record_count` will be useful If it represents actual records that will be masked from delete.

[2022-10-26 03:06] simjay commented on #3229
Hi @jun-he, I was on the monthly sync today and heard you might want to revisit this task and I am interested. I want to take a stab at it but if you could give any pointer for me to understand the how you want the refactor to be done, it would be amazing.

For now, I read the legacy_python's DataTableScan implementation and currently trying to understand more on how this repo is structured. Any g

[2022-10-26 05:45] amogh-jahagirdar commented on #6018
This was the case previously, but this will be fixed in the 1.1 release. The [procedure needed to be updated](https://github.com/apache/iceberg/pull/5669) to do a full file reachability analysis in the presence of multiple branches and tags to determine which files are safely removed. The change for the updated procedure is merged in master if you needed it to get unblocked.

[2022-10-26 10:37] ajantha-bhat opened #6060 "Flaky test: TestMergeOnReadDelete > testDeleteWithSnapshotIsolation"
### Apache Iceberg version

main (development)

### Query engine

Spark

### Please describe the bug 🐞

`org.apache.iceberg.spark.extensions.TestMergeOnReadDelete > testDeleteWithSnapshotIsolation[catalogName = spark_catalog, implementation = org.apache.iceberg.spark.SparkSessionCatalog, config = {type=hive, default-namespace=default, clients=1, parquet-enabled=false, cache-enabled=false}, format

[2022-10-26 10:51] thomafred opened #6061 "[Python] Add examples"
### Feature Request / Improvement

The documentation, nor the repo itself, has any examples on how to use pyiceberg.

Having examples would make it a lot easier for noobs such as myself to get started :)

### Query engine

_No response_

[2022-10-26 15:05] donatobarone commented on #3941
Any news on this feature? :) Once again thanks for working on this!

[2022-10-26 16:52] flyrain commented on #3941
Hi @donatobarone, here is the last PR (hopefully) for CDC on COW, https://github.com/apache/iceberg/pull/6012. Any review or feedback is welcome.

[2022-10-26 20:17] sgcowell commented on #6042
From the perspective of estimating scan costs with partition pruning - pos_delete_record_count is definitely useful for calculating the effective record count, eq_delete_record_count/eq_delete_file_count is less useful, but can at least be a signal of there being increased costs for handling those eq deletes, even if the cost estimate becomes much less precise.  Eq delete stats at least would be a

[2022-10-27 01:36] chenwyi2 commented on #4557
what happened if the table metadata has been updated to latest checkpoing and jobid ,but flushing snapshot state to state backend was failed, for examplethe, in the IcebergFilesCommitter calss,  the latest commiting commitOperation has done but snapshotState was failed, what wiil hadppen? this can cause filenotfound ?

[2022-10-27 02:24] singhpk234 commented on #6039
I had a proposal in similar direction :
 * https://github.com/apache/iceberg/issues/4188

It will be really nice to have to this.

[2022-10-27 06:13] chenwyi2 opened #6066 "flink restore failed with filenotfound"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Flink

### Please describe the bug 🐞

We have a flink job that write upsert stream into a partitioned icebergV2 table . When that job get failed, we restart it from the latest checkPoint. But we got that exception: Files does not exists.FileNotFoundException: File does not exist: /rbf/warehouse/cupid_bi.db/ads_qixiao_olap_1min/

[2022-10-27 09:40] eyeryone opened #6067 "exec insert into (hive on spark),no erro log,but table no data"
### Apache Iceberg version

0.14.0

### Query engine

Spark

### Please describe the bug 🐞

exec insert into (hive on spark),no erro log,but table no data. if use  `set hive.execution.engine=mr;` can insert into table!

this is exec log!

0: jdbc:hive2://cdh01:10000> insert into student1 values(10011,'bob','2022-10-27','China');
INFO  : Compiling command(queryId=hive_20221027172719_240518b0-2aac-4

[2022-10-27 09:41] eyeryone commented on #6067
env:cdh6.3.2  hive 2.1.1 spark 2.4

[2022-10-27 09:43] eyeryone commented on #6067
It is normal to insert other types of tables（hive on spark）

[2022-10-27 16:17] stevenzwu commented on #6066
`.avro` might be a manifest file. do you have the complete stack trace? Which Flink version?

I couldn't find this log line in 1.13 (or 1.14 and 1.15).
[code]

1.13 has log line without the part after `Committed in 562 ms`.
https://github.com/apache/iceberg/blob/master/flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java

[2022-10-27 17:58] ahshahid commented on #6039
I have a PR locally ready, doing some perf testing & general testing... will open an upstream PR soon.

[2022-10-27 21:38] #6018 closed

[2022-10-27 22:04] C-h-e-r-r-y commented on #5867
It is very hard to figure out how to set these propertes. Could you please share small example? I have tried `spar.glue.skip-name-validation` or `spark.sql.glue.skip-name-validation` or `spark.sql.catalog.my_catalog.glue.skip-name-validation` and have no luck :-(

[2022-10-27 22:29] wypoon commented on #5927
@rbalamohan this is fixed by #6026 (which is also ported to Spark 3.2 and 3.1).
I'm not able to resolve this issue. Can you do it?

[2022-10-28 01:19] chenwyi2 commented on #6066
it is my mistake, the right log should be
"2022-10-21 16:57:19,188 INFO org.apache.iceberg.flink.sink.IcebergFilesCommitter [] - Committing append with 2 data files and 0 delete files to table icebergCatalog.xxx
2022-10-21 16:57:19,573 INFO org.apache.iceberg.BaseMetastoreTableOperations [] - Successfully committed to table icebergCatalog.xx
2022-10-21 16:57:19,573 INFO org.apache.iceberg.Snapshot

[2022-10-28 02:26] rbalamohan commented on #5927
Thanks @wypoon . Closing this ticket.

[2022-10-28 02:26] #5927 closed

[2022-10-28 04:02] stevenzwu commented on #6066
This happens in `IcebergFilesCommitter#snapshotState`. if checkpoint N didn't complete successfully, the written manifest file for the incomplete checkpoint won't be used because last completed checkpoint is N-1.

[2022-10-28 04:36] lirui-apache opened #6071 "Should ClientPool consider UGI when reusing a connection?"
### Query engine

Spark

### Question

I have a question regarding the ClientPool in HiveCatalog. It seems we don’t consider UGI when reusing a client, does this mean we could perform the operation with an incorrect identity in a multi-tenant scenario?

We have a spark thrift server to run DDLs from different users, and we randomly encounter authorization failures. By checking audit logs, we notic

[2022-10-28 10:03] ConeyLiu commented on #4576
@rdblue @nastra Would you mind taking a look at this issue? This is true should be a bug.

[2022-10-28 10:19] nastra commented on #6071
@pvary is this something that you could potentially help answering?

[2022-10-28 23:43] singhpk234 commented on #6044
Can you please also add spark version you are observing this ?

I tried this with a sample UT below with spark 3.3 I could see schema pruning happening :

UT :

[code]

Spark Plan :
[code]

[2022-10-28 23:53] rbalamohan commented on #6044
It was Spark 3.2.x Prashant.

[2022-10-29 07:28] luoyuxia commented on #3395
It should be fixed by latest Flink.

[2022-10-30 11:52] luoyuxia commented on #6021
Seems the primiary key can't be derived from the iceberg's HiveCatalog even though you have defined it using Hive Cli .

1. you can define with the following using Flink SQL
[code]
Note: it won't create a table, it's just a mapping to the table crated before in Hive
Then write the data using the sql normally.

2. You can use Flink DDL to create the table, the Hive should have the ability to read t

[2022-10-30 16:46] amogh-jahagirdar commented on #5653
We can resolve this now that the reachability analysis PR is merged.

[2022-10-30 16:46] #5653 closed

[2022-10-31 00:15] #4564 closed

[2022-10-31 02:39] luoyuxia commented on #5858
@kingwind94  Could you please explain which test method will fail?

[2022-10-31 02:43] luoyuxia commented on #6028
@goomhow Could you please post the detail stacktrace so that we can track what bring the oom.

[2022-10-31 05:55] MrDannyWu commented on #6021
Ok, so far I have solved this problem. When I created the Iceberg table (Hive Ctatlog) in the Flink SQL Client, I lost the parameters. After carefully reviewing the Iceberg and Flink documents and trying many times, Upsert can be implemented. Thanks to every helper!

### The correct steps are as follows:
1. create catalog
[code]

2. create db
[code]

3. create table
[code]

[2022-10-31 07:14] luoyuxia commented on #5846
Any failover happen? There's antother file not found exception reproted in #6066

[2022-10-31 07:32] kingwind94 opened #6084 "Fix for table upsert mode for Flink 1.12 actually works, the problem is flink itself"
### Apache Iceberg version

0.13.1

### Query engine

Flink

### Please describe the bug 🐞

According to  https://github.com/apache/iceberg/pull/4519, the fix for the issue did not resolve the issue in Flink 1.12: https://github.com/apache/iceberg/pull/4418.  So an error message about correctness issue is logged and nothing fixed.

But acutually, the TestFlinkUpsert test cases not passed is actual

[2022-10-31 07:35] kingwind94 commented on #5858
I figure the problem myself... Set the  table configuration "table.exec.sink.upsert-materialize" to "NONE" will pass the case.

Flink 1.14.3 add an upsert materialize view before the sink, which could cause the problem.

[2022-10-31 07:36] luoyuxia commented on #5623
Do you means [streaming reading](https://iceberg.apache.org/docs/0.13.2/flink/#flink-streaming-read)?  It should support.

[2022-10-31 09:07] luoyuxia commented on #5958
Actually, I don't think there's a more efficient way.  For you job, it does need so much resources since you need to write so many tables.
Is it possible to allocate more resource for Flink cluster or split the whole job into serveral small jobs?

[2022-10-31 09:16] luoyuxia commented on #5623
FYI

https://github.com/apache/iceberg/issues/5803#issuecomment-1259759074

[2022-10-31 09:35] luoyuxia commented on #5145
From the code, I'm afraid of there's no way to set `hive.input.format` currently.
![image](https://user-images.githubusercontent.com/20389154/198977129-5214f9c5-88e1-4cfc-b2f2-cf0a5af514fd.png)

As a work around, you cat create the orc table using Hive Cli or Flink with Hive dialect.

[2022-10-31 11:41] chenjunjiedada opened #6085 "The metadata table returns from Spark query should show human readable string for lower/upper bounds"
### Feature Request / Improvement

When querying `files` table via Spark SQL returns rows that match the `DataFile` schema, which defines `Map<Integer, ByteBuffer>` type for lower/upper bounds. And thus the return lower/upper bounds strings are addresses of `ByteBuffer`. It is better to decode the byte buffer to human-readable strings like what the Presto side did.

### Query engine

Spark

[2022-11-01 00:16] #4589 closed

[2022-11-01 00:52] szehon-ho commented on #6085
Yea I have a pr for awhile for that, waiting review:  https://github.com/apache/iceberg/pull/5376   if you want to take a look.

[2022-11-01 03:23] luoyuxia commented on #5175
The table is with iceberg format which requires special parameters,  but you try to read it as a normal hive table with Flink which miss the required parameters.
You can try to set the property `iceberg.mr.table.identifier`, `iceberg.mr.table.location`  in hive-site.xml, and I think it should work.

[2022-11-01 04:08] luoyuxia commented on #5388
What's the parallelism for reading the data? I think you can increase the TM memory and the parallelism.
Above are  general ways,  the better is to analyze the memory usage using some tools like jmap to  know what's the bottleneck and  try to do optimization case by case.

[2022-11-01 05:42] harini-venkataraman opened #6089 "Issue with Creation of Database using Spark"
### Apache Iceberg version

0.14.1 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

With the configuration, tried to create a database using Hive MetaStore and write it to MinIO.

**Configuration :**
spark.sql.catalog.ibdemo               org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.ibdemo.type          hive
spark.sql.catalog.ibdemo.uri           thrift://hive-m

[2022-11-01 06:17] zhongqiangczq commented on #3127
by using hivecli + mr + insertinto  i also meet the same problem "javax.security.sasl.SaslException: GSS initiate failed [Caused by GSSException: No valid credentials provided (Mechanism level: Failed to find any Kerberos tgt)]
".
but, if use hivecli + tez + insertinto, it will no errors but no datas are insertted into the table

[2022-11-01 06:24] manuzhang commented on #3665
@huaxingao any update from Spark side?

[2022-11-01 07:09] lintingbin2009 commented on #5404
@RussellSpitzer @stevenzwu This should be a bug. Is it possible to solve it by default setting the metrics of the file_path column to full?

[2022-11-01 07:22] chenjunjiedada commented on #5543
@szehon-ho I hit this as well when trying to resolve lower/upper bounds issue, passing `namemapping` can resolve this.

[code]

[2022-11-01 07:27] chenjunjiedada commented on #6085
@szehon-ho Nice, let me take a look.

[2022-11-01 07:42] Fokko commented on #4589
Hey @puchengy I'm seeing this just now. This should be quite straightforward to implement in the new `pyiceberg` library. Let me know if this is something that you want to implement.

[2022-11-01 07:59] luoyuxia commented on #5852
It should be fixed by #4364

[2022-11-01 08:55] #5857 closed

[2022-11-01 09:17] luoyuxia commented on #4970
I think you can just remove `.option()`.

[2022-11-01 10:33] heimohe commented on #4542
how to resolve it ? i meet the same problem

[2022-11-01 11:02] vshinde-medacist commented on #4542
Need to alter table to add new column as mentioned here: https://iceberg.apache.org/docs/latest/spark-ddl/#alter-table--add-column

Delta has inbuilt support for schema evolution with this option `df.write.format("delta").option("mergeSchema", "true").mode("append")`

So we are using Delta now.

[2022-11-01 16:35] puchengy commented on #4589
@Fokko Hey thanks for responding! I don't have a plan to implement it recently due to other priorities. But I am definitely happy to help when available.

[2022-11-01 16:52] rdblue commented on #5626
@vamen, you can just add multiple bucket partitions to bucket by more than one column. We chose to do this rather than hash the fields together so they can be used together or independently.

[2022-11-01 17:29] 245831311 commented on #4550
有什么方法解决这个问题，我也出现了

[2022-11-01 21:04] szehon-ho commented on #5543
Thanks for looking at it!

[2022-11-01 21:30] joao-parana opened #6097 "Partitioning based on the "identity" transform doesn't work in 1.0.0 Java API."
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

Hi folks, I would like to report something that might be a problem with partitioning based on the "identity" transform.

I created a schema like this:

[code]

So I append data in parquet files with 5 different partitions (in five different tables):

1. unpartitioned
2. identity("hot

[2022-11-02 01:40] lintingbin2009 opened #6098 "Execute rewritedata under the BinPackStrategy strategy. In some cases, a group containing three files will be compressed cyclically"
### Apache Iceberg version

0.14.1

### Query engine

Spark

### Please describe the bug 🐞

<img width="1227" alt="image" src="https://user-images.githubusercontent.com/5699014/199373601-b1df1687-266d-4a8f-b2ca-55b9f5469d5d.png">
<img width="1146" alt="image" src="https://user-images.githubusercontent.com/5699014/199373778-54fbf612-2740-4e51-8278-86fe31d006c0.png">
As can be seen from the above fi

[2022-11-02 01:55] deadwind4 commented on #6050
https://github.com/apache/iceberg/issues/4471

[2022-11-02 02:25] heimohe commented on #2040
i meet the same problem, want to write part column to table.
for example:
my dataframe data has 5 columns , but my iceberg table  has 8 columns, it will "org.apache.spark.sql.AnalysisException: Cannot write incompatible data to table 'iceberg.default...."

[2022-11-02 02:47] deadwind4 opened #6099 "Flink: Add support for Flink 1.16"
### Feature Request / Improvement

The Flink 1.16 has been released.
https://nightlies.apache.org/flink/flink-docs-release-1.16/

### Query engine

Flink

[2022-11-02 02:47] deadwind4 commented on #6099
I would like to take this.

[2022-11-02 04:07] GanfengTan opened #6100 "Build iceberg error"
### Apache Iceberg version

0.12.0 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

step1. Import iceberg project to Idea.
step2. Exec './gradlew build'

* What went wrong:
Plugin [id: 'nebula.dependency-recommender', version: '9.0.2'] was not found in any of the following sources:

- Gradle Core Plugins (plugin is not in 'org.gradle' namespace)
- Plugin Repositori

[2022-11-02 04:13] ajantha-bhat commented on #6060
Different error this time. But the same testcase

https://github.com/apache/iceberg/actions/runs/3374426458/jobs/5600033069#step:6:247

[2022-11-02 04:15] ajantha-bhat commented on #6099
Already there is an ongoing work
https://github.com/apache/iceberg/pull/6092

[2022-11-02 06:36] luoyuxia commented on #4961
Agree. And I'm wondering it's just by mistake or by desigin.

[2022-11-02 08:18] nastra commented on #6100
@GanfengTan 0.12.0 is fairly outdated. Are you building the project after checking it out from GitHub or did you download the source tarball and building it from there?

[2022-11-02 10:48] SHuixo opened #6104 "Rewrite iceberg small files with flink succeeds but no snapshot is generated (V2 - upsert model)"
### Apache Iceberg version

0.14.1

### Query engine

Flink

### Please describe the bug 🐞

When using Rewrite files action API **rewriteDataFiles()**, the new compressed file is generated without a corresponding manifest file, I tried iceberg versions 1.13.2 and 1.14.1 which has a similar problem under the iceberg-catalog of Hive and Hadoop.

[code]
[code]
[code]

<img width="1068" alt="result" s

[2022-11-02 10:57] AlvaroNavarroMora opened #6105 "Add tblproperties using alter table with spark"
### Apache Iceberg version

0.13.1

### Query engine

Spark

### Please describe the bug 🐞

We are trying to add the following properties to existing iceberg tables using spark 3.1.2:

[code]

In order to do so we are using the next queries:
[code]

The queries are being executed without any errors, but after reviewing the tables the properties we observe that the properties have not changed.

We

[2022-11-02 15:29] Omega359 opened #6106 "SparkBatchQueryScan logs too much"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

SparkBatchQueryScan has 2 info log lines that can generate enormous log lines.  For example, here is a log line that is generated:

`22/11/02 15:22:56 INFO SparkBatchQueryScan: Trying to filter 2500 files using runtime filter (ref(name="<field name>") in ("020999", "610602", "003585", "00474

[2022-11-02 15:34] #6100 closed

[2022-11-02 22:09] ahshahid commented on #6039
I am still working on perf aspect.. In a limited tpcds test , it turns out that dpp query is way expensive.. But interestingly I noticed, that though the manifest file contains bounds information for non partition column, they are not being read / used ( may be bcox tableContext has boolean colStats as hardcoded false.. still going through the code.
I want to check the impact on perf, if these sta

[2022-11-03 00:14] #4604 closed

[2022-11-03 08:47] Fokko opened #6112 "Add StartsWith and NotStartsWith operator to PyIceberg"
### Feature Request / Improvement

These are missing in Python, would be great to add them:

https://github.com/apache/iceberg/blob/8271791061e72dbf554028e477746e89fca9ec02/api/src/main/java/org/apache/iceberg/expressions/Expression.java#L45-L46

### Query engine

_No response_

[2022-11-03 13:28] luoyuxia commented on #3266
There're some panding pr for auto merge small files like #3213

[2022-11-03 19:57] nicor88 commented on #4582
@rdblue When running on Iceberg `0.14.0` the issue seems fixed for the data folder, but somehow if I have a trailing slash in my location, the trailing slash is kept for the metadata folder.

[2022-11-03 21:49] jlowe opened #6116 "Constant columns created using Spark type incompatible with constant type"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

ColumnVectorWithFilter.forHolder and IcebergArrowColumnVector.forHolder both hardcode the Spark type to IntegerType even if the constant value is not an integer (e.g.: the constant is a UTF8String instead).  This can break code that is examining the reported type of the ColumnVector instance

[2022-11-03 23:54] joao-parana commented on #6097
The error has been fixed. It was not a bug but an error in my program. @rdblue explained to me how to fix it (https://apache-iceberg.slack.com/archives/C03LG1D563F/p1667408382726389?thread_ts=1667163877.313839&cid=C03LG1D563F).

See below what was missing:

[code]

[2022-11-03 23:54] #6097 closed

[2022-11-04 00:14] #4616 closed

[2022-11-04 00:14] #4176 closed

[2022-11-04 06:39] ddrinka opened #6120 "[Python] The structure of a partition definition and partition instance should be consistent"
### Feature Request / Improvement

Consider the `PartitionSummary` in a `ManifestFile`.  The lower and upper bounds can be resolved with `conversions.from_bytes`, resulting in types according to the definitions in `conversions.py`.  For instance, a date of 2022-04-01 results in a `long(19083)`.

Now consider `ManifestEntry.data_file.partition`.  The instance of a partition definition should resolv

[2022-11-04 07:24] Fokko commented on #6120
Hey @ddrinka Thanks for opening the PR. The date is a so-called logical type that most storage formats store internally as the days since 1970-01-01. After reading, this should be converted into a date again. For the PartitionSummary, we convert it into the physical type (int) and compare it with the partition.

It seems that the `DateLiteral` is missing here: https://github.com/apache/iceberg/blo

[2022-11-04 10:27] kamaljit-1991 opened #6122 "IcebergGenerics.read(table) doesn't work as expected"
### Apache Iceberg version

0.13.1

### Query engine

_No response_

### Please describe the bug 🐞

It is little bit of related https://github.com/apache/iceberg/issues/4523 but not quite.

When the order of the columns don't match between the underlying parquet files and the table schema then the IcebergGenerics doesn't work properly while querying the table. But Athena works perfectly fine and i

[2022-11-04 10:33] RussellSpitzer commented on #6122
Are you adding a default name mapping for your table?

[2022-11-04 11:48] harini-venkataraman commented on #6089
**RCA :**
Spark had introduced a new configuration - `spark.sql.warehouse.dir`
 https://issues.apache.org/jira/browse/SPARK-15034
Tried changing this in the configuration file from `spark.sql.catalog.catalog_name.warehouse`  to `spark.sql.catalog.catalog_name.warehouse.dir` and re built the image!
With this new configuration and database creation is working seamlessly.
**PS :** There were previous

[2022-11-04 14:35] code-magician323 commented on #4977
@kbendick Do you think there will be progress at this area soon?

[2022-11-04 15:09] martindurant commented on #5800
cc https://github.com/martindurant/daskberg/issues/1

[2022-11-04 16:58] ahshahid commented on #6039
Some update:
For tpcds query with limited data and enabling stats at manifest level for non partition cols, still does not improve perf.. the cost of dpp query is pretty high, especially for queries 14a, 14b of tpcd.
But there is one thing which I am going to try is:
1) For non partition columns pruning, we do not need exact value of join keys in DPP. So I am going to modify the spark dpp query fo

[2022-11-04 19:10] shahsmit14 commented on #3619
What is the best way to get some traction on this ask? At-least understanding if this ask is something even the community thinks to consider.

[2022-11-04 19:39] singhpk234 commented on #5867
ideally
[code]
should have worked, can you please add the complete spark conf's you are giving and also iceberg version your are trying it with.

Note: this was added in [iceberg 0.14.0](https://github.com/apache/iceberg/commit/5653a0d9c704b22b3b193ae6338af6261833f6e2) release

[2022-11-04 20:50] Fokko opened #6124 "Support Python 3.11"
### Feature Request / Improvement

Python 3.11 has been released. Also, PyArrow has recently added support: https://github.com/apache/arrow/pull/14499

Once there is a new PyArrow release, I think we can add 3.11 support to the CI as well

### Query engine

_No response_

[2022-11-04 21:24] can-sun opened #6125 "Encountered throttling when writting to S3 without repartitioning"
### Apache Iceberg version

0.14.1

### Query engine

Spark

### Please describe the bug 🐞

I am using the following code snippet to batch write data to my S3 bucket and encountered the S3 throttling issue:

[code]

Code snippet:

[code]

`$dataCatalogName.$dataBaseName.$tableName` is the Iceberg table I created in glue and table is partitioned by truncating the column `eventTimeFeatureName`. Besi

[2022-11-04 21:57] ddrinka commented on #6120
Ok @Fokko, check out the PR and let me know what you think.

I think there's still room for improvement on aligning the handling of partitions between `PartitionSummary` and `DataFile.partition` so I propose leaving this feature request open, but having the ability to use Literals to convert between will let me keep toying with this.

[2022-11-04 23:47] szehon-ho opened #6126 "RemoveDanglingDeleteFiles"
### Feature Request / Improvement

With DeleteFiles introduced to Iceberg Spec V2, we need a more comprehensive mechanism to remove them from the current snapshot after they become invalid (ie, stop applying to any data file).  In some situations, invalid Delete Files remain live in current snapshot, taking up storage and potentially affecting performance.

Related issues:

- https://github.com/ap

[2022-11-05 00:11] szehon-ho commented on #4127
Design doc here:  https://github.com/apache/iceberg/issues/6126

[2022-11-05 00:13] #3968 closed

[2022-11-05 18:03] Fokko commented on #3968
I'm just seeing this now, there is an example available here: https://github.com/tabular-io/docker-spark-iceberg

[2022-11-06 00:15] #4523 closed

[2022-11-07 00:10] #6106 closed

[2022-11-07 00:14] #3825 closed

[2022-11-07 00:14] #3788 closed

[2022-11-07 00:28] #6120 closed

[2022-11-07 02:24] luoyuxia commented on #3009
Hi, you can refer to here for [upsert](https://iceberg.apache.org/docs/latest/flink/#upsert)

[2022-11-07 02:42] luoyuxia commented on #3156
It fail when try to serialize `BaseCombinedScanTask`, I guss it may be fixed by #1285

[2022-11-07 03:15] luoyuxia commented on #3124
Have ever a checkpoint been done successfully?

[2022-11-07 07:53] chenwyi2 opened #6136 "if i lost a metadata file, how to recover"
### Query engine

spark: 3.1
iceberg: 0.14.1

### Question

the situation is, i had a table partition by date, and  i deleted a old manifest file from hdfs without moving to trash, and i want to  delete some partitions which are older than 10 days, but i got error: filenotfoundexcaption(that deleted old manifest file), how can i solve this?

[2022-11-07 08:18] XBaith opened #6137 "Only one Iceberg hive catalog in different cluster is available in a job"
### Apache Iceberg version

0.14.1

### Query engine

Spark

### Please describe the bug 🐞

### Backgroud
Migrate Iceberg table to different clusters.
These two HDFS cluster have same `fs.defaultHost`
### issue
I load iceberg hive catalog via `CatalogUtil.buildIcebergCatalog(catalogName, properties, hadoopConf)`, all iceberg operations are available. However, when I want to load another hive catal

[2022-11-07 08:51] lvyanquan opened #6138 "Keep the writing format of the table the same as before migration"
### Feature Request / Improvement

With the procedure of [migrate](https://iceberg.apache.org/docs/latest/spark-procedures/#migrate), we can migrate a Hive table to Iceberg.
However, Iceberg use ['write.format.default'](https://iceberg.apache.org/docs/latest/configuration/#write-properties) to determine write format, and the default value is 'parquet'. We need to add this property if we want to ke

[2022-11-07 09:32] majin1102 commented on #5606
hi, vamen
maybe we could use an UDF to transform custom partition field to meet your needs

cause from my view, transforming extension on sql(flink/spark/trino. etc) could be a heavy option and hard to maintenance and share

[2022-11-07 09:42] majin1102 commented on #5883
It could be done in offline way using MERGE INTO sql

[2022-11-07 10:47] luoyuxia commented on #6104
Seems the files has been compressed, but it fails to to generate snapshot.  Maybe some exception happen when commit.
Is there any error or warning in the log?

[2022-11-07 13:50] pvary commented on #6067
Hive on Spark is not supported/tested
Also Hive 2.1.1 is also not supported/tested
Could you use newer CDH/CDP version?

[2022-11-07 14:34] pvary commented on #6071
Sorry for the delay - I was OOO.

Since we are reusing the HMSClient objects, we can face authorization issues if we are using Catalogs with multi-tenant scenarios. We were briefly considering using custom keys for the `CachedClientPool.clientPoolCache`, but at that time decided against it, since we did not see an immediate benefit/use-case. Spark was not reusing the Catalogs, and Hive was using a

[2022-11-07 14:55] ethan7811 commented on #5963
Is there any progress ？we meet the same problem, we find that it maybe caused by aliyun oss client will auto close connection which no long send or receive data over  1 minute, but we can't find any way to change this timeout

[2022-11-07 16:30] ahshahid commented on #6039
@rdblue @aokolnychyi  is there any particular reason why colStats in TableContext is by default false ? With this flag false, for non partition cols the bounds are not being written in manifest file, which otherwise could be used for pruning at manifest level in case of pushed filters?

[2022-11-07 16:36] ahshahid commented on #6039
I have been given to understand that there is no such mechanism in spark- DataSourceV2 to tell the DataSource to evaluate max/min using stats if available. So I will work part time to get a prototypical change to get the max/min directly from iceberg for dpp in these cases and see its impact on perf..

[2022-11-08 00:15] #4633 closed

[2022-11-08 00:15] #3783 closed

[2022-11-08 01:29] luoyuxia commented on #5963
We also meet the same problem, the 1 minute may be a reason, but I'm pretty sure it not for my case after a long debuging.
after apply a patch, the exception won't be reproduced, but I can't figure out the reason. Others who meet the same problem may apply the patch and see whether it solve the problem.
[code]

[2022-11-08 01:45] djouallah opened #6142 "Provide a binary installation using the latest Master code in Python"
### Feature Request / Improvement

I love to test Python API, it will be nice to have pip install pyiceberg --pre --upgrade, waiting till the next release is not very practical, I don't know how to build from source.

### Query engine

Other

[2022-11-08 01:49] chenwyi2 commented on #6136
if i only want to delete some paritions with corrupted metadata, for example: delete from table where dt < xxx ,is that ok?

[2022-11-08 03:03] chenwyi2 commented on #2435
@KarlManong  how you solved this prpblem ? the only way is putting a metadata file into hdfs?

[2022-11-08 04:00] 0xffmeta commented on #2686
Seems when I created the table, I didn't sepcify `engine.hive.enabled=true` in the table properties. But this seems to be required duirng the table creation, otherwise it will not work with `ALTER TABLE xx set TBLPROPERTIES`.
Is there any workaround for this? Or I need to re-create the table.

[2022-11-08 06:23] luoyuxia commented on #2686
@0xffmeta
Does the following command work?
[code]
There is pr #3539 is for such case, you can refer it for more details.

[2022-11-08 08:17] 0xffmeta commented on #2686
Thanks @luoyuxia. It's working now.

[2022-11-08 08:31] pvary commented on #6071
@lirui-apache: you are correct. Even though the Catalogs should not be shared between sessions, we might end up sharing pools in the same JVM

[2022-11-08 08:36] nastra opened #6144 "Enable revapi on iceberg-core / iceberg-common / iceberg-parquet / iceberg-orc / iceberg-data"
### Feature Request / Improvement

I enabled `revapi` on the `iceberg-core` module to check its current state in terms of API/ABI compatibility with 1.0.0.
Below is the result:

[code]

/cc @rdblue @danielcweeks

### Query engine

_No response_

[2022-11-08 09:01] Fokko commented on #6142
Hey @djouallah thanks for reaching out. You can install it directly from git. Please try:
[code]

[2022-11-08 09:35] lirui-apache commented on #6071
Thanks @pvary. Is this the intended behavior at the moment? IMO it's better to add some more info to the cache key, similar to how Hadoop maintains FileSystem cache.

[2022-11-08 09:43] djouallah commented on #6142
huh, git what is git ?

[2022-11-08 12:02] pvary commented on #6071
As you have a usecase which needs this now, and even at the time of the decision it was clear that it would be needed in the longer term, I would be happy to review the PR if you have time to add this feature.
Thanks,
Peter

[2022-11-08 12:41] luoyuxia commented on #2653
I don't think it should be supported in iceberg , it's too specific and many other catalog implementation will never have udf.
For you case, I'll still advice you to use the hive catalog created in Flink SQL-client.
 Or you can just create a hive catalog in flink way as a dummy catalog, and all table are still stored in the catalog created in iceberg way,
but use the hive catalog as the default ca

[2022-11-08 12:46] luoyuxia commented on #2839
Is the network fine from your IDEA to the hdfs cluster? Can the host `nsdev ` be resolved correctly?

[2022-11-08 13:07] luoyuxia commented on #1995
Flink itself dosen't support column comment.  There is  [FLINK-22936)](https://issues.apache.org/jira/browse/FLINK-22936) for supporting it.

[2022-11-08 14:29] Fokko opened #6148 "PyIceberg: Bump mypy to v0.990"
### Feature Request / Improvement

Bump mypy to the latest version.

This one has support for recursive types: https://mypy-lang.blogspot.com/2022/11/mypy-0990-released.html

This is nice since we use this for our configuration.

### Query engine

_No response_

[2022-11-08 14:40] wobu commented on #3838
still happens with Iceberg 1.0.0 and spark runtime 3.2

[2022-11-08 23:18] rbalamohan opened #6149 "Consider parquet.writer.version=2 for positional delete files"
### Apache Iceberg version

0.14.1

### Query engine

Spark

### Please describe the bug 🐞

Positional delete files contain the file position and the filename. Currently pos (int64) is written in "BIT_PACKED, PLAIN" encoding. It will be good to consider writing it in "parquet.writer.version=2"  which uses "delta encoding". Having it in "DELTA_BINARY_PACKED" reduces the size of the positional delet

[2022-11-09 00:14] #4661 closed

[2022-11-09 00:14] #4647 closed

[2022-11-09 00:14] #4639 closed

[2022-11-09 00:14] #4628 closed

[2022-11-09 01:56] #4576 closed

[2022-11-09 03:17] lirui-apache commented on #6071
OK, I'll work on a PR for this

[2022-11-09 05:13] zhangpengbigdata opened #6153 "I found duplicate records when i was repeatedly exporting records from CDC Stream into iceberg partitioned table"
### Query engine

Iceberg 1.0.0 Flink1.13

### Question

Hi all,
I found duplicate records when i was repeatedly exporting records from CDC Stream into iceberg partitioned table.  Could you please help me ?

Iceberg 1.0.0, Flink1.13
SQL like this:
[code]
Executed flink sql, the result is:
select count(distinct id), count(id),dt from iceberg.test_db.test_cdc group by dt order by dt
<img width="579"

[2022-11-09 08:25] nastra opened #6155 "Remove API deprecations for 1.2.0"
### Feature Request / Improvement

iceberg-api / iceberg-core have a few deprecated methods that we should remove before releasing 1.2.0

### Query engine

_No response_

[2022-11-09 09:01] ethan7811 commented on #5963
maybe the root cause is similar to this ...
https://github.com/apache/hadoop/pull/2692/files

[2022-11-09 09:06] Fokko opened #6156 "Python: Re-enable the typesystem"
### Feature Request / Improvement

https://github.com/apache/iceberg/pull/6139#issuecomment-1307812458

I did notice some funky behavior with the type system. When using a `Reference(UnboundTerm[T])` mypy it is unable to determine the type `T`, since there is no type information. This requires annotating this by hand `Reference[int]("id")`. I think we should only add this type to bound terms or fi

[2022-11-09 09:12] luoyuxia commented on #6153
May the reason is that the key in source is `id`, but the primary key in sink `dt,id`. The primary keys for source and sink aren't equal.
Is possible for the following case?
[code]
And then in the upsert iceberg, `+I['bob', 1, 20221109]`, +U['bob', 1,  20221110]  will  be considered as different records since they has different keys.

You can try to update you sink to
[code]
and see whether the du

[2022-11-09 09:41] zhangpengbigdata commented on #6153
Think you @luoyuxia for your replay.
I just confirmed that the problem is caused by Trino which i used for query, because the result is correct when i use Spark to query.
So this should be a Trino issue?

[2022-11-09 09:50] nastra commented on #5970
@jornfranke were you able to figure out what caused the issue?

[2022-11-09 09:51] nastra commented on #5945
@95liu is this still an issue or can this be closed?

[2022-11-09 09:58] Fokko commented on #6156
For the bound ones, I think the key is in the literal method. Turning:
[code]
Into:
[code]

[2022-11-09 10:01] luoyuxia commented on #6153
I guess it's a problem of trino-iceberg-connector, you can seek for help from the trino community if the connector is maintained by it.

[2022-11-09 12:21] luoyuxia commented on #2650
What's your hive version? You may need to add the dependency:
`<dependency>
			<groupId>org.apache.thrift</groupId>
			<artifactId>libfb303</artifactId>
			<version>0.9.3</version>
		</dependency>
`

[2022-11-09 17:23] aokolnychyi opened #6162 "Respect fileSequenceNumber in RewriteManifestsSparkAction"
### Feature Request / Improvement

The action for rewriting manifest must take into account file sequence numbers.
See [here](https://github.com/apache/iceberg/pull/6002#discussion_r1006106088) for details.

### Query engine

Spark

[2022-11-09 20:47] jornfranke commented on #5970
No, I had other focus. I suspect there is an older version of Iceberg somewhere on the cluster.

[2022-11-09 20:48] joao-parana opened #6164 "The Literals class does not handle literals of type LocalDateTime. This causes errors in expressions involving Timestamp."
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

The `Literals` class of the `org.apache.iceberg.expressions` package does not handle literals of type `LocalDateTime`.

https://github.com/apache/iceberg/blob/master/api/src/main/java/org/apache/iceberg/expressions/Literals.java#L59

So a predicate like the one below, in a filter in

[2022-11-10 00:14] #3731 closed

[2022-11-10 00:34] daksha121 opened #6165 "Support for adding optional column to table identifiers"
### Feature Request / Improvement

We have a scenario in which we need to add a new field to the table and add it to the identifiers as well (Currently the table has only one required column as the identifier). Since identifier fields need to be required fields and there is currently no support for default values for required columns, we cannot model the new column as an identifier.
I'm looking to

[2022-11-10 01:08] kekwan commented on #5970
Hitting similar issue with `java.io.InvalidClassException: org.apache.iceberg.BaseFile; local class incompatible: stream classdesc serialVersionUID = 2686776604825259963, local class serialVersionUID = -655543782470255741`.

FWIW, it appears for me on `0.13.2`, `0.14.1` and `1.0.0`. For my instance, it only occurs when executors are used. If I run my Spark application on local mode, then it never

[2022-11-10 06:43] SHuixo commented on #6104
Think you @luoyuxia for your replay.

Later, I tried again a few times and found that when the cumulative storage of iceberg data small files was relatively small, the flink 1.13.5 compressed file ran normally and could generate snapshot files.

However, when the file volume accumulates a lot, it takes a long time to rewrite the data each time, and it is easy to cause **OOM** exceptions, here are

[2022-11-10 09:17] pvary commented on #6067
I did not see progress on HoS side, and I think the Hive community decided to remove Spark as an execution engine, so I think there is not too much hope there.

OTOH I know that there were plans to support Hive+Iceberg in newer Cloudera distributions, but I am not sure what is the status there.

[2022-11-10 09:49] eyeryone commented on #6067
ok，thinks

[2022-11-10 12:12] luoyuxia commented on #6104
The compaction won't be repeated. I mean during one compaction, some files are compacted to one file. In next compaction, it won't compact these files again. I don't think it's a repeated compression process. From my side, it's still a incremental process.

Back to your problem, actuall, there's a pr #2680 to use disk to avoid OOM. And I think it'll also fix your problem.
I think you can try to
1:

[2022-11-10 15:28] thompson0012 opened #6171 "iceberg cant read parquet after configuration"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

as the official docker image has several problem
i use the pyspark image with the following jars as instead

but when i reading the parquet files, it occurs
[code]

my pyspark configuration as follow:
[code]

it doesn't have any problem when i didn't add any iceberg configuration

[2022-11-10 15:35] nastra commented on #6171
`NoClassDefFoundError` usually indicates that some classes were available during compilation but are not available anymore at runtime.
Also what issue does the Docker image have? Would be good to get that fixed

[2022-11-10 15:41] gaborkaszab commented on #6042
Well, my plan was to keep the existing columns in the partitions metadata table intact and add some delete file related ones on top. Currently, I only dealt with position deletes and my plan was to add 2 counters: # of pos delete files and # of rows within these position delete files.
I haven't given a thought to equality deletes. The # of files might be useful for some extent but I don't know if

[2022-11-10 15:44] thompson0012 commented on #6171
i know there are some issues found in #5993 , so i use this [images](https://hub.docker.com/r/jupyter/pyspark-notebook)
with the following .jars
1. [1.0.0 Spark 3.3_2.12 runtime Jar](https://search.maven.org/remotecontent?filepath=org/apache/iceberg/iceberg-spark-runtime-3.3_2.12/1.0.0/iceberg-spark-runtime-3.3_2.12-1.0.0.jar) – [3.3_2.13](https://search.maven.org/remotecontent?filepath=org/apache

[2022-11-10 20:02] RussellSpitzer commented on #6171
IN your note you seem to be including both Scala 2.12 and 2.13 libraries, this is probably the issue. Usually when I see noClassDef with Scala classes like ```cala/$less$colon$less``` it means multiple scala versions on the classpath.

In almost all cases the only iceberg dependency you should be including with spark is a single instance of the Iceberg-spark-version-runtime.jar, nothing else shoul

[2022-11-10 20:56] RussellSpitzer commented on #6164
Timestamp expressions can be created as in this test case

https://github.com/apache/iceberg/blob/master/core/src/test/java/org/apache/iceberg/expressions/TestExpressionParser.java#L71

```Expressions.equal("ts", "2022-08-14T10:00:00.123456")```

If you look into Literals.java, Translations are available to timestamp from

Long (microseconds from epoch)
https://github.com/apache/iceberg/blob/maste

[2022-11-10 21:01] XAZAD opened #6172 "rewriteDataFiles throws exception in spark 3.2"
### Apache Iceberg version

0.13.0

### Query engine

Spark

### Please describe the bug 🐞

Method rewriteDataFiles throws
`org.apache.spark.sql.connector.catalog.CatalogNotFoundException: Catalog 'ice' plugin class not found: spark.sql.catalog.ice is not defined.`

My code:

[code]

my configuration:
[code]
my previous configuration was:
[code]
error was
`java.lang.RuntimeException: org.apache.sp

[2022-11-11 00:13] dmgcodevil commented on #5675
PR: https://github.com/apache/iceberg/pull/6174

[2022-11-11 00:14] #3025 closed

[2022-11-11 00:14] #3168 closed

[2022-11-11 00:15] #4634 closed

[2022-11-11 00:15] #4631 closed

[2022-11-11 00:15] #4621 closed

[2022-11-11 00:58] aokolnychyi commented on #6162
I looking into this.

[2022-11-11 07:12] V-yg commented on #4065
@zhongyujiang Did you solve that problem? I had the same problem

[2022-11-11 07:39] nastra commented on #6172
The error message mentions `default_iceberg`/`ice` so you'd have to make sure that this catalog is propertly set up: `spark.sql.catalog.(catalog_name): ...`. Addtional details can be found at https://iceberg.apache.org/spark-quickstart/#adding-a-catalog

[2022-11-11 08:20] ConeyLiu commented on #4626
Hi @kbendick @szehon-ho @nastra, hope your guys could help take a look at this issue again, thanks a lot.

[2022-11-11 08:24] XAZAD commented on #6172
As a mentioned before catalogs are configured and working properly

`{ "hive.metastore.uris": "thrift://*****",
"iceberg.engine.hive.enabled": "true",
"spark.sql.extensions": "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions",
"spark.sql.catalog.ice.uri": "thrift://*****",
"spark.sql.catalog.ice": "org.apache.iceberg.spark.SparkCatalog",
 "spark.sql.catalog.ice.type": "hive" }`

[2022-11-11 09:25] zhongyujiang commented on #4065
@V-yg No, I haven't.

[2022-11-11 13:06] XAZAD commented on #6172
some more details:
<img width="1396" alt="image" src="https://user-images.githubusercontent.com/13484463/201346541-cf319f21-dd02-4781-956b-7ba98e64b599.png">
full stack trace:
[code]

[2022-11-11 14:35] nastra commented on #6172
Could you maybe check whether the issue exists on the latest Iceberg version (1.0.0)?

[2022-11-11 14:36] XAZAD commented on #6172
I'll try but it will take some tome cause infrastructure I'm using is huge and it will take time to deploy new version on library even in dev.

[2022-11-11 17:17] aokolnychyi commented on #6162
PR #6176 for Spark 3.3 is out.

[2022-11-11 18:09] ddrinka opened #6177 "Allow setting the Parquet format version for datafile writes"
### Feature Request / Improvement

The Parquet support in Iceberg currently exposes the `writerVersion` in `Parquet.WriteBuilder`, but this configuration should be extended out to a table property.  As #6149 points out, delta encoding can potentially save significant storage space for a column of sequential timestamps (stored as int64), for instance.

### Query engine

Spark

[2022-11-11 18:36] ddrinka commented on #6177
There's some relevant conversation here:
https://github.com/apache/iceberg/pull/2551

[2022-11-12 00:14] #3726 closed

[2022-11-12 18:42] netanelm-upstream commented on #4065
I have the same issue trying to write Iceberg ORC files using the JAVA API with hive metastore as a catalog.
Somehow, it uploads this class: org.apache.orc.storage.ql.exec.vector.VectorizedRowBatch (from hive-metastore-api)
Instead of this class: org.apache.orc.storage.ql.exec.vector.VectorizedRowBatch
Any suggestion how to solve it, will be very appreciated :)

[2022-11-13 10:54] get1boat opened #6180 "can't upsert v2 table by add hint /*+ OPTIONS('upsert-enabled'='true') */"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

Flink

### Please describe the bug 🐞

table DDL:
`
CREATE TABLE hive_catalog.ods_ice.tmp_lkj_kafka2iceberg (
   id varchar NOT NULL,
   create_time timestamp(6),
   user_id bigint
)
WITH (
   format = 'PARQUET',
   format_version = 2,
   location = 'hdfs://eva:8020/user/hive/warehouse/ods_ice.db/tmp_lkj_kafka2iceberg'
)
;
`
with

[2022-11-13 17:16] krvikash commented on #6180
Hi @get1boat,

You are missing the primary key while creating the table.

https://iceberg.apache.org/docs/latest/flink/#upsert

Please try adding a `PRIMARY KEY` while creating the table like below.

`CREATE TABLE hive_catalog.ods_ice.tmp_lkj_kafka2iceberg( id varchar NOT NULL, create_time timestamp(6), user_id bigint, PRIMARY KEY(id) NOT ENFORCED ) WITH ( format = 'PARQUET', format_version = 2, l

[2022-11-13 18:54] Samrose-Ahmed commented on #5997
I would recommend running a Spark job. An AWS Glue job is the easiest to get started but considering you're running this once, it'll likely be cheaper to run on EMR (serverless or provisioned).  Also, Spark/EMR doesn't run on a single instance, it parallelizes across nodes.

In the future, since you're doing streaming appends/inserts I would recommend doing regular table maintenance, so you don't

[2022-11-14 01:56] #4735 closed

[2022-11-14 02:10] get1boat commented on #6180
I created the table in flinksql definitely with the primary key.This DDL was gained by `show create table ` in the Trino.In flink client,this table has a primary key.
The original DDL is blow,and my question remain:
`
create table if not exists hive_catalog.ods_ice.tmp_lkj_kafka2iceberg
(
    `id` STRING
    ,`create_time` timestamp
    ,`user_id` BIGINT
    ,primary key(`id`) not enforced
) comme

[2022-11-14 03:46] V-yg opened #6181 "ORC:ORC VectorizedRowBatch NoSuchMethodError"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

I run test org.apache.iceberg.spark.extensions.TestDelete#testExplain then throw exception:

java.lang.NoSuchMethodError: org.apache.orc.TypeDescription.createRowBatch(I)Lorg/apache/orc/storage/ql/exec/vector/VectorizedRowBatch;
	at org.apache.iceberg.orc.OrcFileAppender.<init>(OrcFileAppend

[2022-11-14 08:34] nastra commented on #6181
@V-yg how are you running the test and did you do any local modifications to it? Since `TestDelete` is an abstract class, are you running `TestCopyOnWriteDelete` or `TestMergeOnReadDelete`? Also is this with Spark 3.3?

The last [CI run](https://github.com/apache/iceberg/actions/workflows/spark-ci.yml?query=branch%3Aapache-iceberg-1.0.0) indicates that the test was passing, so I'm curious what has

[2022-11-14 10:15] nastra commented on #6181
This works for me locally and latest [CI on master](https://github.com/apache/iceberg/actions/workflows/spark-ci.yml?query=branch%3Amaster) also doesn't show any issues. @Fokko could you please double-check if those tests fail for you locally?

[2022-11-14 11:22] nastra commented on #6105
@AlvaroNavarroMora I don't see any reason why those table properties wouldn't be reflected/set. Are you running `SHOW TBLPROPERTIES <tblName>` or something else to describe the table properties?

[2022-11-14 12:57] peter-toth commented on #6044
Let me link https://github.com/apache/spark/pull/38640#issuecomment-1312731989 here as I believe the source of this and other DSv2 (including Iceberg) issues that V2 scans are not (re)created at the right place during Spark optimization.

[2022-11-14 13:56] tbinoy opened #6186 "Iceberg table creation fails in AWS Glue"
### Apache Iceberg version

_No response_

### Query engine

_No response_

### Please describe the bug 🐞

The table create statement from Presto to AWS Glue metastore  fails with below error.

presto> create schema isl_progress with(location='s3://xxxxxx/');
CREATE SCHEMA
presto> create table isl_progress.sprint_details(sprint_id int, sprint_progress_pct varchar);
**Query 20221114_115537_00033_tb

[2022-11-14 22:57] jessiedanwang opened #6188 "Is it possible to partition on effective and expiration date for Iceberg data"
### Query engine

Spark

### Question

I am wondering if it is possible to use both effective and expiration date as partition column for SCD type 2 dimension data. The problem is that the dimension dataset is huge, and we would like to partition the dataset using both effective and expiration date so that we can filter out irrelevant data. Here is an example,

create table mytable (id bigint auto

[2022-11-14 23:39] aokolnychyi commented on #5104
This issue has been resolved by #5860.

[2022-11-14 23:39] #5104 closed

[2022-11-15 00:22] #6144 closed

[2022-11-15 01:54] V-yg commented on #6181
The problem has been solved. It's my local environment. It's fine now @nastra

[2022-11-15 02:47] luoyuxia commented on #6104
Yes, we have to wait it to be merged.

I agree with you, so I think use rocksdb as backend is a better solution

Had a look about your exception log. The reason is the cdc contains a delete row, but the compaction for such case that contains delete files hasn't been supported.

[2022-11-15 05:33] aokolnychyi commented on #6162
The PR for 3.3 is merged. I'll follow up with cherry-picks to 3.2 and 3.1.

[2022-11-15 06:01] aokolnychyi commented on #6162
PR https://github.com/apache/iceberg/pull/6192 for 3.2.
PR https://github.com/apache/iceberg/pull/6193 for 3.1.

[2022-11-15 06:47] 0xffmeta opened #6194 "Spark DDL: upgrade format-version from v1 to v2 is not working"
### Apache Iceberg version

0.14.1

### Query engine

Spark

### Please describe the bug 🐞

I'm running below spark sql to migrate an iceberg table from v1 to v2 format:
[code]

The spark sql can finish with no error, but it still shows `'option.format-version'='1'` while querying form hive `show create table`.

Do I need to use this table property for the foramt upgrade? `option.format-version`

[2022-11-15 07:29] #6181 closed

[2022-11-15 07:30] nastra commented on #6142
@djouallah does the mentioned approach work for you?

[2022-11-15 07:32] djouallah commented on #6142
No, unfortunately.

[2022-11-15 09:35] wsjz opened #6196 "How to use equality delete in Iceberg v2 table"
### Feature Request / Improvement

I want to generate equality delete in EMR spark, but It's all position delete, so how can I use this

### Query engine

Spark

[2022-11-15 10:22] ucasfl commented on #5122
+1 for C++ SDK

[2022-11-15 10:23] chenwyi2 commented on #5404
@Shane-Yu i add 'write.metadata.delete-after-commit.enabled'='true' into table ,and i print the log messae with upper, "upper java.nio.HeapByteBuffer[pos=0 lim=16 cap=16],fromByteBuffer qbfs://online010",  "pos=0 lim=16 cap=16"  is still truncate 16 bit? it doesn't work?

[2022-11-15 17:54] singhpk234 commented on #6196
writing Equality deletes are not supported in spark as of now, I think only flink supports it at the moment

[2022-11-15 19:43] ahshahid opened #6198 "colStats flag in TableContext remains false except in situation where delete files are present"
### Feature Request / Improvement

Enabling this flag would allow  non partition column stats (lower & upper bounds especially) to be available in the Manifest file, which can aid in pruning for range filters pushed down to scan by ManifestEvaluators

Is there a particular reason why this flag is not turned on by default?
There does not appear  any significant cost for writing this data in manifes

[2022-11-15 19:46] RussellSpitzer commented on #6198
What exactly are your commenting on? By default we record all metrics for all columns unless there is a high number of columns.

See https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/MetricsConfig.java

[2022-11-15 21:27] ahshahid commented on #6198
What I noticed was that by default when iceberg format files are generated,  the manifest file  does not contain lower bound/ upper bound info for non-partition columns.
For **non partition** columns it writes empty bytes.

And this behaviour is due to the flag colStats being false by default and gets turned on , only under specific cases ( like presence of delete files).

If colStats flag is true

[2022-11-15 21:31] ahshahid commented on #6198
@RussellSpitzer Pardon my ignorance, I am little new to iceberg, but what I noticed was that because these stats were not present in Manifest file for non-partition-columns, the  range filters pushed at scan level, could not prune in ManifestEvaluator.

[2022-11-15 21:44] RussellSpitzer commented on #6198
Do you have a repo of this?

Here is an example of creating a table without partitions, then reading the upper bounds of the column from the metadata table which only reads manifest data.
[code]

[2022-11-15 22:07] RussellSpitzer commented on #6198
I think I understand what you are asking about, not the Manifests but the ManifestList files. The manifest list files only store metrics for partitions since they contain entries for manifests and not data files. A given manifest contains entries for many data files along with the data metrics for each of those files.

The current thought process there is that a manifest will most likely contain m

[2022-11-15 22:30] ahshahid commented on #6198
@RussellSpitzer . Thanks for responding... Initially I also spent a good time to figure out which data structre was holding entries in ManifestList and which was holding data of Manifest file..
Actually I do mean Manifest file & not List.
The content of Manifest File is represented in memory by a class Implementing interface ContentFile..
I think the concrete class for Manifest conent is GenericDa

[2022-11-15 22:46] ahshahid commented on #6198
"The current thought process there is that a manifest will most likely contain many if not thousands of data file entries but will only contain data files for a few distinct partitions. Because it will include so many datafiles, possibly all of those for a partition, storing metric bounds for non partition columns isn't vary useful since it would be the entire range for that column."

@RussellSpit

[2022-11-15 22:50] ahshahid commented on #6198
"Because it will include so many datafiles, possibly all of those for a partition, storing metric bounds for non partition columns isn't vary useful since it would be the entire range for that column."

But I suppose the bounds would be for each data file,... right?

[2022-11-16 00:10] RussellSpitzer commented on #6198
The manifest contains DataFile entries, each of which contains all upper and lower bounds of the data files which were persisted in the manifest.

[2022-11-16 00:23] RussellSpitzer commented on #6198
To fully go over the path

First you read a manifest list
The manifest contains a list of manifests
The partition filter is compared to each manifests upper and lower partition bounds
Manifest files which pass this filter are then read
Manifest files contain a list of data files
Each data file is compared with all filters provided for all columns
Data files which are pass these filters are then us

[2022-11-16 02:47] wypoon commented on #6042
I'm trying to understand the proposed behavior.
To go back to @ajantha-bhat's example: Suppose you have a partition `{A}` with `record_count`=6 and `file_count`=2 (3 records in each file). Suppose you now delete 3 records in one file. I understand that `pos_delete_file_count` will be 1 and `pos_delete_record_count` will be 3. But what about `record_count` and `file_count`? Will `file_count` be 3 (

[2022-11-16 05:15] ajantha-bhat commented on #6042
record_count and file_count is just be data files record_count and file_count (not the delete files). So, it won't be modified for the delete operation.  (may be we have to rename the columns)

The update is a delete + append operation. So, `<table>.partitions` will show entries for both {B} and {C} I think.

cc: @szehon-ho

[2022-11-16 20:26] Fokko opened #6203 "Python: Add support for `{AboveMin,AboveMax}` for `{int,float,long}` columns"
### Feature Request / Improvement

When we query an integer column that is `EqualTo('float', 3.4028235e38+1)` we convert it into an `AboveMax`. We can use this information to turn the predicate in an `AlwaysFalse` because the value is out of range.

### Query engine

_No response_

[2022-11-16 21:08] joao-parana commented on #6164
Thanks @RussellSpitzer, I made the changes below and it worked. I'm closing the issue.

[code]

[2022-11-16 21:08] #6164 closed

[2022-11-16 22:51] islamismailov opened #6204 "Allow dropping a column used by old SortOrders"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Here's my first go at a [PR for this](https://gist.github.com/islamismailov/49b3e2a9952f5fb86bab522d9aec7019), I did it on top of a 0.9 branch. I am willing to create a proper PR if that approach seems sound.

Repro:

[code]

Exception stack trace:

[code]

[2022-11-17 00:13] #4363 closed

[2022-11-17 03:26] eemario opened #6205 "Using iceberg-parquet and iceberg-spark-runtime throws ClassCastException for MessageType"
### Query engine

Spark

### Question

When I am using iceberg-parquet to perform write to iceberg table in my source code and using iceberg-spark-runtime to validate table content in unit tests, I get this java.lang.ClassCastException: class org.apache.parquet.schema.MessageType cannot be cast to class org.apache.iceberg.shaded.org.apache.parquet.schema.MessageType:
        at org.apache.iceberg.

[2022-11-17 05:49] tbinoy commented on #6186
I am using Presto 0.277 to connect create/ insert iceberg tables in AWS Glue. I am able to run select query for iceberg tables in glue but not able to do insert or table creation.

Below is the stack trace Query 20221116_103709_00002_qie8q failed: Lock is not supported by default
com.facebook.presto.common.NotSupportedException: Lock is not supported by default
        at com.facebook.presto.hive.

[2022-11-17 07:36] Fokko commented on #6204
Thanks for opening this PR @islamismailov. We had something similar for the partition-spec: https://github.com/apache/iceberg/issues/5676 What we did there was only look up the columns of the current partition spec. I think we can do something similar for the sort-order. Would you be interested in fixing this?

[2022-11-17 07:53] nastra commented on #6205
There have been some fixes in the past around Spark + Parquet (https://github.com/apache/iceberg/pull/4667), so would be interesting to know which Iceberg + Spark version you're using.

[2022-11-17 07:58] Fokko commented on #6194
It works fine with Spark:

![image](https://user-images.githubusercontent.com/1134248/202388833-2935c614-634a-4389-9265-4232022f1f46.png)

In Hive, could it be that you need to refresh the table? Using `REFRESH tmp.table`

[2022-11-17 08:00] fortarch commented on #5993
get exception, please resolve that.
`
Caused by: java.net.UnknownHostException: rest: Name or service not known
`

[2022-11-17 08:05] 0xffmeta commented on #6194
Seems I need to use `alter table tmp.table SET TBLPROPERTIES('option.format-version'='2')` to update the format-version. But I'm not very sure why it required prefix `option.`.

[2022-11-17 08:29] nastra commented on #5993
This should be fixed by https://github.com/apache/iceberg-docs/pull/178. Until the docs have been updated on the [website](https://iceberg.apache.org/spark-quickstart/), you could use the following `docker-compose.yml`:

[code]

@fortarch please let me know if that works for you.

[2022-11-17 10:51] itaise commented on #4510
Hi :) any update regarding that?

[2022-11-17 10:58] Gajai opened #6208 "Flink version Support Issue wrt IceBerg"
### Query engine

_No response_

### Question

Latest Flink Version Supported is is 1.11.x only? Do we have any upcoming possibilities for flink 1.16.x version anytime soon?

[2022-11-17 11:24] luoyuxia commented on #6208
The comming iceberg 1.1.0 which is in preparing release will support flink 1.16.x.

[2022-11-17 11:24] nastra commented on #6208
Note that Iceberg 1.0.0 supports Flink 1.15.0. The project is about to ship Iceberg 1.1.0 in the next few days, which will include Flink 1.16.0 support.

[2022-11-17 11:31] nastra commented on #6208
@Gajai I hope that answered your question. Please re-open the issue if not.

[2022-11-17 11:31] #6208 closed

[2022-11-17 13:41] Fokko commented on #6204
@islamismailov I'm just seeing your gist. I think it looks good, except one copy-paste:
[code]

[2022-11-17 13:45] ELHoussineT commented on #6105
@AlvaroNavarroMora Did it work for you?

[2022-11-17 16:37] Fokko commented on #5993
The latest version of the image has been pushed. Please run `docker-compose pull` to fetch the latest images. Let me know if this works 👍🏻

[2022-11-17 16:40] szehon-ho opened #6209 "testDeleteWithSnapshotIsolation is flaky"
### Apache Iceberg version

main (development)

### Query engine

_No response_

### Please describe the bug 🐞

[code]

[2022-11-17 16:58] ajantha-bhat commented on #6209
Duplicate of https://github.com/apache/iceberg/issues/6060

[2022-11-17 17:05] islamismailov commented on #6204
Ok thank you, yes I noticed that problem just before sending it out. Can I send a PR? Or do I need to get on an approved list of committers first?

[2022-11-17 17:28] Fokko commented on #6204
Feel free to open up a PR 👍🏻

[2022-11-17 19:23] alec-heif opened #6210 "pyiceberg BinaryDecoder does not correctly read 4-byte little-endian int values"
### Apache Iceberg version

_No response_

### Query engine

_No response_

### Please describe the bug 🐞

The logic in https://github.com/apache/iceberg/blob/master/python/pyiceberg/avro/decoder.py#L70 appears to be incorrect.

The spec for a binary-encoded `int` in the manifest files is [as follows:](https://iceberg.apache.org/spec/#binary-single-value-serialization)

[code]

so, an example byte

[2022-11-17 19:24] alec-heif commented on #6210
fyi @Fokko since this logic appears to have been introduced by https://github.com/apache/iceberg/pull/4920

[2022-11-17 19:50] islamismailov commented on #6204
Added a PR https://github.com/apache/iceberg/pull/6211

[2022-11-17 19:59] alec-heif commented on #6210
somewhat disturbingly, the [unit test ](https://github.com/apache/iceberg/blob/master/python/tests/avro/test_decoder.py#L166)coverage for this function also verifies the (incorrect) behavior:

[code]

I believe that `0xBC7D0000` should not be 1991-12-27

1. lsb `0xbc == 188`
2. 2nd lsb `0x7d == 125`
3. `(125 * 256) + 188 == 32188` which is 32188 days, or `2058-02-16`

[2022-11-17 20:06] Fokko commented on #6210
Hey @alec-heif Thanks for opening this PR. I think we're mixing up different file types. The decoder that you pointed out in the example, is an Avro decoder that adheres to the [Avro spec](https://avro.apache.org/docs/1.11.1/specification/#primitive-types-1). int and long values are written using [variable-length](https://lucene.apache.org/java/3_5_0/fileformats.html#VInt) [zig-zag](https://code.g

[2022-11-17 20:12] alec-heif commented on #6210
hoooo wow ok that's embarrassing, thanks for correcting!! sorry for the false alarm here, i don't know how i missed this.

[2022-11-17 20:12] #6210 closed

[2022-11-17 20:17] Fokko commented on #6210
No problem at all, happy to help

[2022-11-18 02:02] fortarch commented on #5993
It works. Thanks a lot.

[2022-11-18 04:47] eemario commented on #6205
I think these two dependencies triggered the exception when I call `spark.read().format("iceberg").load(...)` :

<dependency>
            <groupId>org.apache.iceberg</groupId>
            <artifactId>iceberg-parquet</artifactId>
            <version>1.0.0</version>
</dependency>
<dependency>
            <groupId>org.apache.iceberg</groupId>
            <artifactId>iceberg-spark-runtime-3.2_2.12</a

[2022-11-18 04:47] #6205 closed

[2022-11-18 04:49] ajantha-bhat commented on #6205
`iceberg-spark-runtime-3.2_2.12` dependency itself is enough. No need to depend on `iceberg-parquet` explicitly I think.

[2022-11-18 04:58] eemario commented on #6205
Yes, I have tried it too and that is another way to get around this.
But we only use iceberg-spark-runtime to test. It is a bit too big to be included as a whole and so we choose to use `iceberg-parquet` in the source and give `iceberg-spark-runtime` the `test` scope.

[2022-11-18 07:36] nastra commented on #5993
Closing this as it's fixed by https://github.com/apache/iceberg-docs/pull/178

[2022-11-18 07:36] #5993 closed

[2022-11-18 09:27] grbinho opened #6215 "Accessing AWS Glue in different AWS Account"
### Apache Iceberg version

0.14.0

### Query engine

Other

### Please describe the bug 🐞

Hi

We are using AWS Glue Jobs 3.0 (Spark 3.1) with Iceberg 14.0 (through Glue Marketplace connector).

We have a hub and spoke setup for Glue catalog, were we have a central AWS account hosting the catalog and the data and multiple data processing accounts running Glue jobs.
We are doing this by delegating

[2022-11-18 09:52] chenwyi2 opened #6216 "write.metadata.metrics.default how to works?"
### Query engine

spark 3.xx

### Question

i set write.metadata.metrics.default =full to an iceberg table, how can i see if it works? i log the upper and lower message, the object message is : 'java.nio.HeapByteBuffer[pos=0 lim=16 cap=16]', it seems  that write.metadata.metrics.default is truncat(16), so i am a little confused

[2022-11-18 10:15] nastra commented on #6216
You can look at the manifest file and it should contains metrics for `lower_bounds` / `upper_bounds`/ and a few others. Or is your question more specific to using `full` metrics mode?

[2022-11-18 10:18] AlvaroNavarroMora commented on #6105
Hi, after doing some testing we have observed that the properties are being applied to the tables, however it seems to not be working properly. We have tables with those properties applied that have over 4k metadata files.

[2022-11-18 10:24] nastra commented on #6105
The same issue came up in a [Slack discussion](https://apache-iceberg.slack.com/archives/C025PH0G1D4/p1668714478198079?thread_ts=1668645354.671479&cid=C025PH0G1D4) and I've opened https://github.com/apache/iceberg/pull/6217 to address that.

[2022-11-18 10:32] singhpk234 commented on #6215
I think we should add catalogId here as well, went through the [pr](https://github.com/apache/iceberg/pull/1633) which introduced it, can't find any objection to it. please feel free to open a PR to get more feedbacks

[2022-11-18 10:49] ELHoussineT commented on #6105
@AlvaroNavarroMora Interesting, we did as the example you shared in the main thread and we saw that the metadata were deleted. For verification of the deletion of the metadata, we used pyiceberg from this PR https://github.com/apache/iceberg/pull/6034.

Running the following code before and after setting the table properties showed that the old metadata were in fact deleted.

[code]

[2022-11-18 10:50] chenwyi2 commented on #6216
manifest file  can see deleteFile.lowerBounds() ?

[2022-11-18 12:52] rbalamohan opened #6218 "Set COMMIT_MIN_RETRY_WAIT_MS_DEFAULT to 1000 ms instead of 100 ms to avoid too frequent commit exceptions"
### Apache Iceberg version

_No response_

### Query engine

_No response_

### Please describe the bug 🐞

COMMIT_MIN_RETRY_WAIT_MS_DEFAULT has been set to 100ms. Though it has 4 retries, with exponential backoffs, it mostly would be complete within 1-2 seconds.

https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/TableProperties.java#L89

https://github.com/apache/

[2022-11-18 15:05] #4626 closed

[2022-11-19 01:29] #1311 closed

[2022-11-19 07:42] kamaljit-1991 commented on #6122
@RussellSpitzer Sorry for late reply. Could you elaborate your question please, What do you exactly mean by default name mapping ?

[2022-11-19 17:48] maximethebault opened #6224 "Spark: regression / query failure with Iceberg 1.0.0 and UNION"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

After upgrading to Iceberg 1.0.0 & Spark 3.3.1 (from 0.13.x & 3.2.x), some of our SQL queries stopped working.

We suspect it may be a Iceberg-related issue as we couldn't reproduce the issue with Hive tables.

### Stripped-down reproducer

Set-up tables & views
[code]

Run query
[code]

Res

[2022-11-20 02:02] metalshanked opened #6229 "using pyiceberg with kerberized hive metastore"
Hi,
Can anyone share examples of using pyiceberg with a kerberized hive metastore?
Trying for Windows but a Linux example would do as well.

[code]

Thanks!

[2022-11-20 14:32] Fokko opened #6230 "Python: Disallow NaN values in Literals"
### Feature Request / Improvement

We should disallow literals from NaN values: https://github.com/apache/iceberg/pull/6128#discussion_r1022140064

### Query engine

_No response_

[2022-11-20 19:35] Fokko opened #6231 "Python: Consider replacing singledispatchmethod with a single method"
### Feature Request / Improvement

There is an open issue with `singledispatchmethod`: https://bugs.python.org/issue40988 that impacts performance. We could consider replacing this with a single method similar that we have for
`literal()`: https://github.com/apache/iceberg/blob/master/python/pyiceberg/expressions/literals.py#L106-L133

In the extension of this, we could also annotate the Primitive

[2022-11-21 00:13] #3828 closed

[2022-11-21 06:08] leedarHawk opened #6235 "There is no data in the table, when insert data using Hive on Tez."
### Apache Iceberg version

0.14.0

### Query engine

Hive

### Please describe the bug 🐞

When I insert data using Hive with TEZ, the data is stored on HDFS successfully, but the data is not shown when select. If I change the engine to MR, it works, the data is stored/loaded successfully.

hive  version: 3.1.3
tez: 0.10.2
hadoop: Hadoop 3.1.1.3.1.5.0-152

set hive.execution.engine=tez;
add jar /t

[2022-11-21 07:03] XBaith commented on #6137
We need to disable the Hadoop filesystem cache. Otherwise, Iceberg will always return the first Filesystem we load.
[code]

[2022-11-21 07:03] #6137 closed

[2022-11-21 08:03] yuangjiang opened #6236 "Caused by: com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Specified key was too long; max key length is 3072 bytes"
### Apache Iceberg version

main (development)

### Query engine

Spark

### Please describe the bug 🐞

Iceberg spark cannot create a table using jdbc catalog, prompting that catalog initialization failed

Caused by: com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Specified key was too long; max key length is 3072 bytes
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native M

[2022-11-21 08:05] yuangjiang commented on #6236
My submit command is as follows

bin/spark-sql --packages org.apache.iceberg:iceberg-spark-runtime-3.2_2.12:1.0.0 \
    --conf spark.sql.catalog.prod=org.apache.iceberg.spark.SparkCatalog \
    --conf spark.sql.catalog.prod.warehouse=file://tmp/iceberg \
    --conf spark.sql.catalog.prod.catalog-impl=org.apache.iceberg.jdbc.JdbcCatalog \
    --conf spark.sql.catalog.prod.uri=jdbc:mysql://localhost

[2022-11-21 13:48] SHuixo commented on #6104
Good, looking forward to the merger of this rockdb new feature.

This means that in the CDC data that is streaming to Iceberg, don't have a viable data compression scheme for data streams that contain delete operations at this stage?

In order to verify whether the **commit exception** in the flow scenario has a similar problem in the batch scenario, we made the following attempts:

[code]

<img w

[2022-11-21 16:32] asheeshgarg commented on #6003
@nastra
I have removed the spark dependency and just added raw
    <dependency>
      <groupId>org.apache.iceberg</groupId>
      <artifactId>iceberg-common</artifactId>
      <version>1.0.0</version>
    </dependency>
    <dependency>
      <groupId>org.apache.iceberg</groupId>
      <artifactId>iceberg-core</artifactId>
      <version>1.0.0</version>
    </dependency>
    <dependency>
      <gro

[2022-11-21 17:40] asheeshgarg commented on #6003
@nastra
  <dependency>
      <groupId>org.apache.iceberg</groupId>
      <artifactId>iceberg-common</artifactId>
      <version>1.0.0</version>
    </dependency>
    <dependency>
      <groupId>org.apache.iceberg</groupId>
      <artifactId>iceberg-core</artifactId>
      <version>1.0.0</version>
    </dependency>
    <dependency>
      <groupId>org.apache.iceberg</groupId>
      <artifactId>icebe

[2022-11-21 17:53] nastra commented on #6003
NoClassDefFoundError generally means that this dependency existed at compilation time but doesn't exist at runtime, so you're missing the right dependency for that.
Can you provide a full stack trace and all dependencies that you're using? Or is the above list complete?
Or do you have a direct link to this project where this issue happens?

[2022-11-21 17:56] asheeshgarg commented on #6003
@nastra is there a complete list of dependency that I can use for Pure Java API program
above list is complete I have added     <dependency>
      <groupId>org.apache.thrift</groupId>
      <artifactId>libthrift</artifactId>
      <version>0.16.0</version>
    </dependency>
Now getting java.lang.ClassNotFoundException: org.apache.hadoop.hive.metastore.api.UnknownDBException

[2022-11-21 19:18] mderoy opened #6241 "Updating the HiveCatalog Conf with setConf does not also reset FileIO"
### Apache Iceberg version

0.14.0

### Query engine

Java API

### Please describe the bug 🐞

The Iceberg HiveCatalog class lets you set a configuration via
[code]
however doing this does not actually update things in the class which depend on it like the FileIO... our application was working properly until we tried to remove the S3 credential environment variables and switch to passing them prog

[2022-11-21 19:21] mderoy commented on #6241
I understand this is mostly "user error" but I needed to read the source to get to the root of the problem which was not obvious. I'd like it if the interface could enforce this....but in the worst case even if it gets closed, the error message is attached to the ticket and is now searchable for anyone else that may struggle with this for a few days.

[2022-11-21 20:00] Fokko opened #6243 "Python: BoundType and BoundPredicate should match type"
### Feature Request / Improvement

When we bind an unbound expression, we'll convert the literal values to the type of field that it is being bound to. If we instantiate a BoundPredicate, the type should be correct, and we should throw an error otherwise.

### Query engine

_No response_

[2022-11-21 21:38] asheeshgarg commented on #6003
After could of jar iteration able to read the catalog now for reading the data I am getting
Exception in thread "main" java.lang.ExceptionInInitializerError
        at org.apache.arrow.memory.ArrowBuf.setZero(ArrowBuf.java:1161)
        at org.apache.arrow.vector.BaseVariableWidthVector.initOffsetBuffer(BaseVariableWidthVector.java:242)
        at org.apache.arrow.vector.BaseVariableWidthVector.al

[2022-11-22 00:46] emkornfield commented on #644
What is the current state of Views, in general, it seems like there has been development effort here but I didn't see a vote on the mailing list officially adopting the specification (could just be my poor search abilities).  Is the specification formally ratified?  If not, what are the milestones before a vote happens?

[2022-11-22 01:49] luoyuxia commented on #6104
Yes, I'm afraid so.

I think it's possible. From the code, IIUC, the exception happens when you start a compression, but it find delete files before finish compression. And once it won't produce any deletes files between start and finish a compression, there shouldn't throw exception.
But I'm not sure, you can have a try and to see whether it works.

[2022-11-22 02:10] #6104 closed

[2022-11-22 05:27] arunb2w opened #6244 "Iceberg metadata not stored properly"
I tried creating an sample iceberg table with below schema

[code]

Then, inserted around 100 records and then did rewrite files after that so that all the inserted data will be rewritten in a single file.

[code]

After that I tried to query the data_files metadata.

[code]

In this metadata, if you see the lower_bounds and upper_bounds data for the id column which is of type bigint they dont rep

[2022-11-22 06:37] nastra commented on #6003
This problem is specific to Arrow itself when running with JDK9+, because Arrow's `MemoryUtil` requires access to the mentioned Java module. See https://arrow.apache.org/docs/java/install.html#java-compatibility / https://github.com/apache/arrow/commit/0310add1776054a67aacfb1a7bc0f569a19c7628#diff-23f1adfa46ef0fe69d6902b25cd417114b089d692d0c313d3a9a2c8ceff7cd3d on how to resolve this

[2022-11-22 07:10] psnilesh opened #6245 "Fix for issue #2796 is missing from 0.14.1 and 1.0.x releases"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

Same bug as https://github.com/apache/iceberg/issues/2796.  I see it is [already fixed by](https://github.com/apache/iceberg/pull/5282) @jfz  and merged into `master` but I don't see the fix in either `0.14.1` or `1.0.0` branch.  Is it a miss or deliberately not included for some rea

[2022-11-22 07:29] ajantha-bhat commented on #6245
0.14.1 and 1.0.0 release is not from the master branch. It was based on 0.14.0 branch.
The fix that you are expecting will be available in the upcoming 1.1.0 release.

[2022-11-22 07:31] psnilesh commented on #6245
Thank you.  When can I expect 1.1.0 ?

[2022-11-22 07:33] ajantha-bhat commented on #6244
lower bounds and upper bounds are stored as byte arrays in the manifest files. Hence, what you are seeing is the bytearray string representation which is not human readable. But during file pruning these values are converted back to proper data types and compared.

We can enhance these metadata tables to show actual values. I believe @szehon-ho has an open PR for this.

[2022-11-22 07:36] ajantha-bhat commented on #6244
As a workaround, I believe https://github.com/hililiwei/iceberg-tools#manifest2json can convert them and show them.

cc: @hililiwei

[2022-11-22 07:48] Fokko commented on #6204
Thanks for double checking this 👍🏻

[2022-11-22 07:48] #6204 closed

[2022-11-22 08:55] psnilesh commented on #6245
Got it. Closing the issue.

[2022-11-22 08:55] #6245 closed

[2022-11-22 09:10] wxjzlm commented on #4550
频繁因为这个问题，flink作业失败

[2022-11-22 14:32] InvisibleProgrammer opened #6249 "Update Iceberg Hive documentation"
### Feature Request / Improvement

https://iceberg.apache.org/docs/latest/hive/ tracks the documentation of Iceberg features supported by Hive. It currently reflects whatever was released with Hive 4.0.0-alpha-1.

Now with the imminent release of 4.0.0-alpha-2, we have some yet-to-be-documented features such as rollback functionality that we need to amend the upstream doc with.

To document

https

[2022-11-22 15:02] nastra commented on #6236
Given that you're using the `JDBCCatalog` with MySql (`jdbc:mysql://localhost:3306/iceberg`), this is actually a limitation that is imposed by MySql, not Iceberg itself. You would have to increase the limit on mysql

[2022-11-22 15:24] nastra commented on #6218
I'm not sure we would want to increase the default as that would cause things to generally take longer in the case of retries. For large tables I think it would better to selectively increase `commit.retry.num-retries` / `commit.retry.min-wait-ms` for those particular tables.
I'm curious why commits in your case take several seconds to complete. Do you have lots of small data files that are being

[2022-11-22 15:26] nastra commented on #6216
@chenwyi2 could you please rephrase your question so that I can help you better in answering it?

[2022-11-22 15:27] nastra commented on #6196
@singhpk234 is it worth documenting this so that it's clearer for users?

[2022-11-22 17:06] singhpk234 commented on #6196
+1 I think we should document this, have seen this come up quite a number of times in slack discussions.
I think adding a note here https://github.com/apache/iceberg/blob/master/docs/spark-writes.md#spark-writes or https://github.com/apache/iceberg/blob/master/docs/spark-writes.md#delete-from should be sufficient thoughts ?

[2022-11-22 17:13] ajantha-bhat commented on #6196
@singhpk234, @nastra:

I think we need to add it to this. Without mentioning what is row-level-deletes, we can't add the note in spark writes.
https://github.com/apache/iceberg/pull/3432

I pinged @jackye1995 at that time, but he didn't reply. Maybe I can open a new PR by adding him as a co-author.

[2022-11-22 17:41] asheeshgarg commented on #6003
@nastra thanks for the details able to read the data

[2022-11-22 17:43] nastra commented on #6003
@asheeshgarg great that it eventually worked out. Do you maybe want to share how you fixed it so that potentially other users that navigate to this issue know what to do?

[2022-11-22 17:50] asheeshgarg commented on #6003
Adding combination of Jars and Command
`    <dependency>
      <groupId>org.apache.iceberg</groupId>
      <artifactId>iceberg-common</artifactId>
      <version>1.0.0</version>
    </dependency>
    <dependency>
      <groupId>org.apache.iceberg</groupId>
      <artifactId>iceberg-core</artifactId>
      <version>1.0.0</version>
    </dependency>
    <dependency>
      <groupId>org.apache.iceberg

[2022-11-22 17:55] asheeshgarg commented on #6003
@nastra added my configuration above

[2022-11-22 17:59] #6003 closed

[2022-11-23 04:51] dungdm93 commented on #5801
Implemented in #6233

[2022-11-23 05:07] djouallah commented on #5801
@dungdm93 trust me, I made sure every one knows about it :) , please don't close till the python binary is released :)
https://twitter.com/mim_djo/status/1594821677904715776

[2022-11-23 05:57] manuzhang commented on #1026
@rdblue @openinx @chenjunjiedada has this been implemented?

[2022-11-23 09:32] sun-help opened #6255 "Use the Spark engine to delete from the error"
### Query engine

spark

### Question

When deleting, my partition field value is a, but the error is that there is a problem with the parquet file of b

Operator：delete from

Under what circumstances does this place run abnormally

![image](https://user-images.githubusercontent.com/52409450/203512692-49bba666-bf8d-4636-87c0-1bfc02e07daf.png)

Caused by: org.apache.iceberg.exceptions.ValidationExc

[2022-11-23 09:44] gaborkaszab commented on #6194
@0xffmeta I think Hive currently is not using the 'format-version' table property set by Spark and in turn takes another one that is meant to be stored in HMS to check the version of an Iceberg table. I believe there is active work on this to fix.

[2022-11-23 12:56] gaborkaszab commented on #6042
Hi @ajantha-bhat,
In the example described by @wypoon the output of querying the partitions table would be a bit misleading in my opinion as {B} would still be there even though we renamed that partition to {C} before. On the other hand I believe if we rewrite the table to compact the data files with the delete files then {B} would be gone from the output.

I wonder if there is any way to get arou

[2022-11-23 13:14] giqbal commented on #6136
In a similar predicament. I have lost a couple of manifest files for some partitions. Is there way to rebuild the manifest files for those partitions or completely regenerate metadata using the data files?

[2022-11-23 13:58] nastra commented on #5675
@dmgcodevil did you try solving your issue by setting `read.split.planning-lookback`?

[2022-11-23 14:59] gaborkaszab opened #6257 "Partitions metadata table shows old partitions"
### Apache Iceberg version

main (development)

### Query engine

Spark

### Please describe the bug 🐞

I created a simple partitioned table with an integer partition column 'i'. Inserted one row where i=1. Then updated the table to set i=2. When querying the partitions metadata table I see 2 rows as the old one is also there.
Precondition to reproduce this to have a v2 table with merge-on-read up

[2022-11-23 15:03] gaborkaszab commented on #6042
I think the above is a slightly different topic so I created a new issue where we can discuss: https://github.com/apache/iceberg/issues/6257

[2022-11-23 15:03] gaborkaszab commented on #6257
cc @ajantha-bhat @wypoon @szehon-ho

[2022-11-23 15:32] ajantha-bhat commented on #6257
That is because currently delete files are totally ignored by the partitions metadata as mentioned in https://github.com/apache/iceberg/issues/6042

[2022-11-23 15:34] ajantha-bhat commented on #6042
Not an off-topic at all. I was about to point out that V2 update has a similar problem with the existing code itself.
Unless we apply the delete file content and compute the actual live partitions, we can't fix this problem.
But computing the actual live partitions is expensive (@szehon-ho also mentioned the same above)

[2022-11-23 16:02] dmgcodevil commented on #5675
@nastra do you mean [this](https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java#L167) ? What is supposed to do?

[2022-11-23 16:12] nastra commented on #5675
This is the `lookback` parameter that is being passed to `BinPacking.PackingIterable`. According to the docs it is `Number of bins to consider when combining input splits`

[2022-11-23 16:20] dmgcodevil commented on #5675
@nastra oh, right, we tried that. It limits the number of bins while iterating, however, the whole input will be processed anyway.
see https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/util/BinPacking.java#L122-L154

[2022-11-24 01:22] hililiwei commented on #6244
Agree with @ajantha-bhat.

This little toolbox was a try a long time ago. I uploaded a snapshot version. You can try it.

[2022-11-24 02:33] yinshan612 opened #6262 "Does iceberg not support stream reading and updating tables"
### Query engine

Flink

### Question

Read the test table through the iceberg stream, and then update the test. The stream read task will report an error and terminate. Is this a bug or a function not implemented at present

一.sqlclient

 CREATE TABLE test2(
  id BIGINT COMMENT 'unique id',
   data STRING,
  primary key(id) not ENFORCED
 ) WITH (
    'connector'='iceberg',
    'catalog-name'='had

[2022-11-24 05:14] kowshikdremio opened #6263 "Unable to create Iceberg Table using HIVE"
[HiveConfiguration.pdf](https://github.com/apache/iceberg/files/10082239/HiveConfiguration.pdf)
### Apache Iceberg version

_No response_

### Query engine

Hive

### Please describe the bug 🐞

### Environment:
**HIVE:** I am running HIVE with Local storage ( Not HADOOP). Regular HIVE tables are getting created. MariaDB is holding HIVE metastore. Please view the hive-site.xml given below
**Java:**

[2022-11-24 07:35] nastra commented on #6263
It is correct to only add `iceberg-hive-runtime-1.2.0-SNAPSHOT.jar` (if you inspect its content, then it will also contain `org.apache.iceberg.mr.hive.serde.objectinspector.IcebergObjectInspector`). The other two jars should not be necessary. Which Hive version are you running?

[2022-11-24 07:51] kowshikdremio commented on #6263
I am using Hive 3.1.3....

[2022-11-24 09:16] nastra commented on #6262
@yinshan612 could you please attach the error/stacktrace you're seeing in this case?

[2022-11-24 09:23] yinshan612 commented on #6262
The first insert is OK, but the second insert of the same key is the update operation. At this time, the following error will be reported when the stream of iceberg reads the table

error: Found overwrite operation, cannot support incremental data in snapshots (4030445746041511082, 4197372471984049664]

[2022-11-24 09:28] yuangjiang opened #6265 "I created the iceberg table using spark 3.3.1 iceberg hadoop catalog. The following exception message appears when I delete."
### Apache Iceberg version

iceberg-spark-extensions-3.3_2.12-1.0.0

### Query engine

_No response_

### Please describe the bug 🐞

I created the iceberg table using spark 3.3.1 iceberg hadoop catalog. The following exception message appears when I delete.

22/11/24 17:22:29 WARN DFSClient: Failed to connect to /192.168.x.x:1004 for block, add to deadNodes and continue. java.nio.channels.ClosedBy

[2022-11-24 09:30] yuangjiang commented on #6236
Thank you, I try to change mysql. Do you have any information for reference

[2022-11-24 09:39] HannesDS opened #6266 "java.lang.ClassNotFoundException: org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions - using spark structured streaming"
### Apache Iceberg version

1.0.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

**Application**:

We are trying to use spark structured streaming in combination with iceberg. The application is containerised and behind the scenes running on EKS. Spark structured streaming worked well until we tried to add the iceberg extension. We have used iceberg successfully before i

[2022-11-24 09:47] nastra commented on #6262
I don't think it's supported to perform **overwrites** when streaming is enabled. When streaming is enabled, Iceberg will use [Incremental scans](https://github.com/apache/iceberg/blob/master/flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java#L123) and those do not support [overwrites](https://github.com/apache/iceberg/blob/8b8a1038609610873c7d40023b4fc98ba341a5

[2022-11-24 09:57] gaborkaszab commented on #6042
Well, in my opinion if we talk about whether we should apply delete files when we calculate the existing 'file_count' and 'record_count' metrics then it might not worth the extra performance impact as we can always say that these 2 metrics are for the contents of the data files (without applying the delete files).

Showing a partition in the output that has already been renamed is a different stor

[2022-11-24 09:57] yinshan612 commented on #6262
It means that when monitoring a table through the stream read of iceberg, the table can only be append, not update or delete. Am I right in understanding this

[2022-11-24 10:26] nastra commented on #6262
Correct, via SQL + streaming you can only select + append, see also https://iceberg.apache.org/docs/latest/flink/#flink for what's supported currently

[2022-11-24 10:26] #6262 closed

[2022-11-24 11:39] nastra commented on #6265
It seems it can't connect to `Failed to connect to /192.168.x.x:1004`. It would be helpful to know how the catalog was configured

[2022-11-24 11:49] LLsion commented on #859
I want to know whether it is possible to store unstructured data such as pictures or videos through hdfs with iceberg. And it's hard for me to find the relevant API to export the data managed in iceberg. Hope you can answer my questions, thank you.

[2022-11-24 13:36] LLsion commented on #2798
I am currently using iceberg+hdfs, I want to store an image or video in hdfs and manage it via iceberg (via java API, sprak or flink), is this possible?
I have read the development documentation and found no relevant API to store the image, when I deposit the image it does become .parquet format, but I don't know how to read this image out, can you answer this question for me?

[2022-11-24 14:46] brysd commented on #6229
same issue here:

[code]

returns exactly the same error as mentioned above by @metalshanked

pyiceberg configuration (.pyiceberg.yaml):

[code]

our Cloudera environment is also fully kerberized.

Can we set additional logging settings to see more details in the DEBUG level to find the root cause?

[2022-11-24 20:39] pvary commented on #6263
What is the execution engine that you are using?
Could you use Hive 4.0.0 instead? Iceberg is already integrated there, and should work OOB.

[2022-11-25 00:12] #4723 closed

[2022-11-25 01:03] yinshan612 commented on #6262
Will you support this in the future

[2022-11-25 03:26] zhongyujiang commented on #5343
@szehon-ho  FYI: https://issues.apache.org/jira/browse/SPARK-36680, this might be the link you want if you haven't found it yet.

[2022-11-25 05:43] MrDannyWu opened #6269 "I use pyiceberg to read the iceberg table based on the hdfs file system and an exception is thrown"
### Query engine

python + pyiceberg

### Question
catalog = HiveCatalog(HIVE_CATALOG_NAME,  uri=HIVE_METASTORE_FAKE_URL)
table = catalog.load_table(("ods", "table"))

When I use pyiceberg to read the iceberg table based on hdfs file system, the following exception is thrown:
![image](https://user-images.githubusercontent.com/19458048/203909145-43552835-8e37-4a20-a765-695e8fa27361.png)

I want to

[2022-11-25 06:58] nastra commented on #6262
/cc @stevenzwu

[2022-11-25 08:01] Fokko commented on #6269
Thanks for creating the issue @MrDannyWu. PyArrow has support for HDFS: https://arrow.apache.org/docs/python/filesystems.html#hadoop-distributed-file-system-hdfs But it is untested. Would you be interested in contributing support for HDFS?

We aim to update often. We'll do another release in the upcoming weeks after read support has been added.

[2022-11-25 08:03] nastra commented on #6266
Have you tried adding those jars (aws jars + iceberg-spark-runtime jar) directly to the respective spark nodes (under their `jars` folder)?

[2022-11-25 09:33] #2798 closed

[2022-11-25 10:46] djouallah commented on #6142
trying in colab, which give a better experience comparing to Windows, unfortunately, I got this error

[code]

[2022-11-25 12:45] Kirito-Aus opened #6273 "java.sql.SQLException: Access denied for user 'hive'@'hadoopSlave0' (using password: YES)"
### Query engine

### Apache Iceberg version
1.0.0 (latest release)

### Query engine
Hive + Iceberg + MySQL + HDFS

## Please describe the bug 🐞
### Application:
I want to use Hive+Spark to implement queries.

hostName                                 HDFS                                                     YARN
hadoopMaster             NameNode、DataNode              NodeManager、ResourceManager
ha

[2022-11-25 14:11] nastra commented on #6273
@Kirito-Aus I don't think this issue is related to Iceberg itself. Does the `hive` user have the right permissions to do inserts?

[2022-11-25 16:12] stevenzwu commented on #6262
@yinshan612 support for deletes will probably be added in the future. e.g., here is one PR from @Reo-LEI
https://github.com/apache/iceberg/pull/6182/files

[2022-11-25 17:15] Fokko commented on #6142
Coincidentally I also tried it in Colab, unfortunately, we ran into the same. Seems like that Colab is still on Python 3.7

[2022-11-26 00:11] #4762 closed

[2022-11-26 00:11] #4749 closed

[2022-11-26 04:25] yinshan612 commented on #6262
okay, thank you

[2022-11-26 16:14] minjing0824 commented on #4927
It will be appreciated if you can solve the problem when I use zoder to speed query . First I rewrite all file of a table by zorder, then I insert some data to the table, I need to use zorder to rewrite all files or not? I see I can set the option "rewrite-all" to true or false, So I don’t know when to set it true or false.

[2022-11-27 00:13] #4739 closed

[2022-11-27 00:13] #3716 closed

[2022-11-27 00:13] #3710 closed

[2022-11-27 00:13] #3709 closed

[2022-11-27 08:52] MrDannyWu commented on #6269
Thanks for your reply, I may try to test it.

[2022-11-28 08:46] pvary commented on #6273
+1 on @nastra's comment. This seems like an issue with the Hive Metastore trying to write data into the backend mysql.
How are you using Hive? Are you using HiveCli? Are you able to write to a non-Iceberg table? Is using the Hive 4.0.0-alpha-2 release an option for you? It has more throughout and tested Iceberg integration OOB

[2022-11-28 10:18] humengyu2012 opened #6288 "Can not recovery flink job by savepoint"
### Apache Iceberg version

0.13.1

### Query engine

Flink

### Please describe the bug 🐞

1. I have a flink job, flink cdc->iceberg;
2. stop flink job by savepoint;
3. compact file by the following code:
[code]
4. recovery flink job by savepoint, bu exception is thrown:
<img width="1414" alt="bd91c630-3bd5-4d55-80ee-ec671e40cfa7" src="https://user-images.githubusercontent.com/45056332/204252906-

[2022-11-28 11:05] Kirito-Aus commented on #6273
@nastra @pvary I use the HiveCli to operate Hive. Hive can run normally independently, and can perform operations such as adding, deleting, modifying, querying, and creating tables to a non-Iceberg table.  And once I open the local Hive mode, I can operate the Iceberg table without any problem.  I will try the Hive 4.0.0-alpha-2 release and see whether it is applicable.

[2022-11-28 12:43] nastra commented on #6269
Should we close this issue and track support for HDFS in a separate issue? Alternatively we could rename this issue to indicate that we're adding support for HDFS

[2022-11-28 12:58] brysd opened #6290 "Spark SQL support for partition spec?"
Hi, going through all the documentation with respect to partition evolution and metadata I was wondering whether it's possible to retrieve the actual definition of on which column or columns and potential transform(s) a table is partitioned.
(https://iceberg.apache.org/docs/latest/spark-queries/, and https://iceberg.apache.org/spec/)

Using spark SQL the partitions table provides only an insight i

[2022-11-28 13:05] Fokko commented on #2996
This is in https://github.com/apache/iceberg/pull/6034

[2022-11-28 13:05] #2996 closed

[2022-11-28 13:06] Fokko commented on #3222
This is in: https://github.com/apache/iceberg/pull/6034 🥳

[2022-11-28 13:07] Fokko commented on #5811
This is in: https://github.com/apache/iceberg/pull/5845

[2022-11-28 13:07] #5811 closed

[2022-11-28 13:08] Fokko commented on #3229
This is in: https://github.com/apache/iceberg/pull/6233

[2022-11-28 13:08] #3229 closed

[2022-11-28 13:11] Fokko commented on #5801
Since this is in, I'm going to close this to clean up the milestone for the next release. This way we can see what needs to be done before creating the Release Candidate.

[2022-11-28 13:11] #5801 closed

[2022-11-28 13:13] Fokko opened #6291 "Projection by Column IDs"
### Feature Request / Improvement

In the current version Iceberg, we're doing projection based on names, but we need to move this to the column IDs

### Query engine

_No response_

[2022-11-28 13:16] Fokko commented on #6156
This has been done, I'll close this issue.

[2022-11-28 13:16] #6156 closed

[2022-11-28 13:19] Fokko opened #6292 "PyArrow row level filtering"
### Feature Request / Improvement

Currently, we only prune the files based on the Iceberg stats, but we also need to filter the files themselves. We can convert an Iceberg expression to a PyArrow one and use PyArrow to do the filtering.

### Query engine

_No response_

[2022-11-28 13:44] RussellSpitzer commented on #6290
This is probably not necessary unless I am missing something. Unlike systems like Hive, individual partitions are implicit metadata constructs and don't have to be explicitly created or modified through DDL.

The "spec" is the description of how fields are transformed to generate that metadata. So for example something like identity(column a) which allows files to state they have only values for a

[2022-11-28 14:08] cccs-jc commented on #5782
We are working on support for Iceberg in dbt-spark. Since Iceberg does not support `show tables extended` we fall back to `show table` and many `describe table` to determine if a given table is an iceberg table or not.

Normally (for Hudi and Delta) dbt-spark uses the `show tables extended` and parses the information from the `information` column to determine if it's dealing with a Hudi or Delta t

[2022-11-28 14:31] pavibhai commented on #96
I agree that a no hadoop shim is the right answer. In the meantime I have raised the following PR that offers FileIO support on ORC with the existing abstraction around Hadoop FS.

https://github.com/apache/iceberg/pull/6293

[2022-11-28 15:58] sbernauer commented on #5625
Re-tested with Iceberg 1.1.0, the problem does persist

[2022-11-28 16:41] HannesDS commented on #6266
Yes, they are for sure there. If I use the following code to print the extra jars included:
`self.logger.info(f"Spark Jars: {spark.sparkContext._jsc.sc().listJars()}")`
It logs the following:
[code]

Now I added this config:
[code]

[2022-11-28 16:50] RussellSpitzer commented on #6266
In your config above it has the wrong runtime jar version, did you update this? That said the jar is most likely not on the classpath or possibly the jar with the correct name was not properly copied. Also do not include iceberg-spark-extensions, it should be already included and shaded in the runtime jar.

[2022-11-28 16:59] HannesDS commented on #6266
Can you elaborate on the wrong runtime jar, because I am staring but for the love of god I can't see any discrepancy between the jars

[2022-11-28 19:54] cccs-jc commented on #5782
Ha I see. Thanks for looking into this

[2022-11-28 20:15] #6292 closed

[2022-11-28 20:34] shay1bz opened #6302 "How to migrate (metadata only) Hadoop catalog to Hive catalog?"
### Query engine

Spark 3.3.0, Dremio

### Question

Hi,

We have some existing Hadoop tables, and recently deployed HMS as the new catalog for Iceberg. Is there a way to recreate all the required metadata in the metastore based on the Hadoop metadata?

[2022-11-28 21:12] #6203 closed

[2022-11-28 21:55] ahshahid commented on #6198
@RussellSpitzer Its my mistake ... For some reason It appeared to me that lower/upper bounds data was either missing from manifest file for non partition cols and that manifest file was not filtering based on that..
But I was wrong.. I can see that bounds data is present in manifest files for non partition cols & InclusiveMetricsEvaluator is using that stats of manifest file to trim data files.

[2022-11-28 21:55] #6198 closed

[2022-11-28 22:06] stevenzwu opened #6303 "Flink: add more sink shuffling support"
### Feature Request / Improvement

Today, Flink Iceberg sink only supports simple keyBy hash distribution on partition columns. In practice, keyBy shuffle on partition values doesn't work very well.

We can make the following shuffling enhancements in Flink streaming writer. More details can be found in the [design doc](https://docs.google.com/document/d/13N8cMqPi-ZPSKbkXGOBMPOzbv2Fua59j8bIjjtxLWq

[2022-11-28 23:03] stevenzwu commented on #6303
Created a new project as this is a relatively large scope overall: https://github.com/apache/iceberg/projects/27

[2022-11-29 00:49] singhpk234 commented on #6302
you can use register table functionality which basically just registers / add's your metadata.json pointer to your hive metastore.

Here is a sample code (a UT) for migrating Hadoop Catalog to metastore backed tables
https://github.com/apache/iceberg/blob/66fd615cd4cdab2ff76915dc5929d5c93705063e/hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java#L449-L500

[2022-11-29 01:01] MrDannyWu commented on #6269
Okay，thanks！

On Monday, November 28, 2022, Eduard Tudenhöfner ***@***.***>
wrote:

[2022-11-29 01:41] MrDannyWu commented on #6269
Okay，thanks！Sent from my phone-------- Original message --------From: Eduard Tudenhöfner ***@***.***>Date: Mon, Nov 28, 2022, 20:43To: apache/iceberg ***@***.***>Cc: DannyWu ***@***.***>, Mention ***@***.***>Subject: Re: [apache/iceberg] I use pyiceberg to read the iceberg table based on the hdfs file system and an exception is thrown (Issue #6269)
Should we close this issue and track support for

[2022-11-29 02:51] 0xffmeta commented on #6194
Many thanks @gaborkaszab for the information. So I think right now the proper way to check for the table's `format-version` is by checking the `.metadata.json` file?

[2022-11-29 04:31] reh183 opened #6306 "Add ignoreDuplicates option for add_files procedure"
### Feature Request / Improvement

When we use the add_files procedure we would like to pass in a directory which contains some files which have already been added and some new files. We would like the procedure to add the new files to the table and ignore the ones that have already been added.

I believe this was mentioned here on this issue https://github.com/apache/iceberg/issues/2735#issuecomm

[2022-11-29 07:27] #6269 closed

[2022-11-29 09:27] InvisibleProgrammer commented on #6249
https://issues.apache.org/jira/browse/HIVE-26077 - Implement CTAS for Iceberg tables with partition spec - it is already docummented in the following commit: https://github.com/InvisibleProgrammer/iceberg/commit/6e0a952e6dd059e1b9273b3e7dc36ae00cea9671

[2022-11-29 09:49] brysd commented on #6290
Hi, thanks for your feedback.

maybe I'm getting the use case wrong but the intention we have is to create iceberg tables dynamically where the 'user' of the application can configure the partition columns. But this could change of course and we'd like to change the partition columns. Maybe the 'user' also removes the partition columns from the configuration and hence the partition field needs to

[2022-11-29 10:17] SHuixo opened #6307 "OOM issues were encountered while reading and writing iceberg V2 table data to another hive table"
### Query engine

Flink 1.13.5

### Question

First, the data in MySQL is synchronized to the iceberg table by using flink cdc, and the table data written is as follows:

<img width="1069" alt="iceberg_data_file_20221117" src="https://user-images.githubusercontent.com/20868410/204496836-b56825fd-c888-416f-b6fd-a6a40cbce8d7.PNG">

After pausing the writer, I started reading iceberg's v2 table and w

[2022-11-29 16:23] brysd commented on #6290
@RussellSpitzer thanks for the suggestion. Describe will also fit for pyspark so will give it a try. Thanks!

[2022-11-29 20:07] humengyu2012 commented on #4996
My iceberg version is 1.0.0, but the same problem occurs.

[2022-11-29 20:38] RussellSpitzer commented on #6266
You should just check on the Spark UI, and see if the jars are actually listed in the Environment tab

[2022-11-29 23:45] mas-chen opened #6312 "Hive: add Kerberos auth support in HiveCatalog"
### Feature Request / Improvement

Implement Kerberos support for Hive Catalog, the feature could be enabled by a property. Kerberos is required when HMS is kerberized and requires authentication. For Flink in specific, the Kerberos TGT needs to be refreshed since it is a long running job, which can be part of the HiveCatalog.

### Query engine

_No response_

[2022-11-30 00:03] stevenzwu commented on #6312
I work with @mas-chen on the same team. @pvary @rdblue @szehon-ho what do you think about adding Kerberos/auth support to Hive Catalog?

[2022-11-30 00:13] #3707 closed

[2022-11-30 01:25] 0xffmeta commented on #6194
Understood. Thanks for the explanation. @gaborkaszab

[2022-11-30 01:26] #6194 closed

[2022-11-30 02:12] luoyuxia commented on #6307
IIUC, for v2, if it contains delte files, it will read the records to memory to apply the deleta data, which may well OOM.
Fould #2680 which try to keep them in disk.

[2022-11-30 02:38] SHuixo commented on #6307
Think you @luoyuxia for your reply.

The root cause of this problem is the same as the **data compression** in v2 table, and I began to speculate that it was caused by other reasons.

In that case, I'll wait until the new features are merged before testing.

thanks.

[2022-11-30 04:54] tvamsikalyan commented on #5625
one workaround to avoid the problematic code is to set option **use-table-distribution-and-ordering** to **false**.
For example following worked with above repro steps:

`df.writeStream \
.format("iceberg") \
.outputMode("append") \
.trigger(processingTime='5 seconds') \
.option("path", "local.db.table") \
.option("checkpointLocation", "/tmp/warehouse/checkpoints") \
.option("use-table-distributio

[2022-11-30 06:27] luxl6 commented on #2825
[ERROR] Could not execute SQL statement. Reason:
java.lang.UnsupportedOperationException: Cannot create namespace icebergcat_flink: createNamespace is not supported
我也遇到了这个错
CREATE CATALOG my_catalog_2 WITH (

[2022-11-30 07:08] Neuw84 commented on #5977
Hi,

Any hints of this? Stuck on same problem!

Thanks!

[2022-11-30 07:22] HannesDS commented on #6266
@RussellSpitzer  I did, and I saw they were there, only once, and thus no different versions. I did use the same docker and envirnment for a batch job, and it is not working either. So I must be doing something wrong or different. When I find something I will update.

[2022-11-30 07:36] JanKaul opened #6315 "[REST] Design Catalog REST API in a way that enables adding Iceberg Views in the future"
### Feature Request / Improvement

## Background

Table or view references in a SQL statement are typically resolved by looking up the reference in a catalog. Before that the query engine doesn't know whether the reference is a table or a view.

## Expected behavior

When looking up a table/view reference with the REST catalog, the response should return table metadata if the reference is a table

[2022-11-30 07:43] pvary commented on #6312
RetryingMetaStoreClient should take care of refreshing, or `reloginExpiringKeytabUser`. See: https://github.com/apache/hive/blob/master/standalone-metastore/metastore-common/src/main/java/org/apache/hadoop/hive/metastore/RetryingMetaStoreClient.java#L180

Also there is an ongoing effort to use `DelegationToken`-s for Flink which would affect Hive as well in the long run. @gsomogyi knows more about

[2022-11-30 07:49] gaborgsomogyi commented on #6312
One just needs to implement a [delegation token provider](https://github.com/apache/flink/blob/master/flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HadoopDelegationTokenProvider.java) for Hive and all done. This popped up already in the Flink community so sooner or later it will happen. There is already such provider in Spark...

[2022-11-30 08:05] gaborgsomogyi commented on #6312
Just to be crystal clear I see no reason to solve Kerberos authentication in Iceberg.

[2022-11-30 08:40] gaborkaszab opened #6316 "Drop TableProperties.HMS_TABLE_OWNER in 1.3.0"
### Feature Request / Improvement

This field is deprecated in 1.2.0 by https://github.com/apache/iceberg/pull/6314 and should be removed in 1.3.0. The similar one from HiveCatalog should be used instead.

### Query engine

_No response_

[2022-11-30 09:10] tbinoy commented on #6186
I notice  a PR request https://github.com/prestodb/presto/pull/18708 . Will it address this issue ?

[2022-11-30 09:19] HannesDS commented on #6266
Update: I fixed it, I had a mistake in my docker container where I used `wget ... -o ...` This did write a jar but it was empty, I fixed it by using curl. Stupid mistake on my end, thanks for the help anyway.

[2022-11-30 09:19] #6266 closed

[2022-11-30 09:21] camper42 opened #6318 "executor logs ton of `INFO CodecPool: Got brand-new decompressor [.zstd]`"
### Apache Iceberg version

1.1.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

call rewrite_data_files on a zstd+parquet table (feed by stream)

executor logs too many `INFO CodecPool: Got brand-new decompressor [.zstd]` and I have to set log level to `WARN` or my pod log will fill up ephemeral storage

Is this a side effect of #5681 ?

![image](https://user-images.git

[2022-11-30 09:30] rbalamohan opened #6319 "Cache in GenericArrowVectorAccessorFactory causing lot of upfront allocations causing slowness in Vectorized parquet reading"
### Apache Iceberg version

1.1.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Iceberg uses vectorized parquet reader in arrow format. Internally "ColumnBatchLoader" invokes "IcebergArrowColumnVector::forHolder". In that codepath, it uses "GenericArrowVectorAccessorFactory", which caches getDecimal usage.

For cache usage, it creates decimal[] array upfront. This cause

[2022-11-30 09:35] rbalamohan opened #6320 "ArrowBuf boundary checks causing CPU burn and slowness in vectorized parq reading"
### Apache Iceberg version

1.1.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

When running queries like Q27 in iceberg V2 with vectorized parquet reading, it was observed that it is slower than traditional spark+vectorized_parq_reading.  Profile more revealed that cache allocation was causing pressure on JVM which is covered in https://github.com/apache/iceberg/issues

[2022-11-30 09:59] HavAnIdea opened #6321 "Iceberg write by flink perjob too slow!!!!!"
### Query engine

flink

### Question

I used flink API to write data
By flink local mode, the speed is more than 20000 record/s
but i change to flink perjob mode, the speed is under 50 record/s

Same code, only changed submit mode

Code like :

SingleOutputStreamOperator<RowData> map = source.filter(new RichFilterFunction<Record>() {
            @Override
            public boolean filter(Record

[2022-11-30 11:02] shay1bz commented on #6302
Great, thanks a lot!

[2022-11-30 12:10] luoyuxia commented on #6321
@HavAnIdea Is there any difference in the job graph between local mode and per job mode.

[2022-11-30 13:46] john8628 commented on #6316
I will try it , please assign it to me,  thanks

[2022-11-30 14:22] gaborkaszab commented on #6316
@john8628 thanks for the interest! However, we should wait with this ticket for 1.2.0 to go out that will mark this property as deprecated, so that we can drop it in 1.3.0. It's kind of too early to implement it now.

[2022-11-30 20:02] #6288 closed