[2022-06-29 05:32] #5028 closed

[2022-06-29 06:53] sunchao commented on #5132
Yes, Spark is already pushing filters on struct fields at the moment:
[code]

[2022-06-29 09:16] alexjo2144 commented on #5064
https://github.com/apache/iceberg/pull/5157

[2022-06-29 14:48] rdblue commented on #4365
Fixed by #5156

[2022-06-29 14:48] #4365 closed

[2022-06-29 14:48] rdblue commented on #1405
Fixed by #5156

[2022-06-29 14:48] rdblue commented on #2618
Fixed by #5156

[2022-06-29 14:48] #2618 closed

[2022-06-29 16:56] #5002 closed

[2022-06-29 18:28] szehon-ho commented on #5132
@sunchao oh so I was testing out direct struct literal comparison, like "SELECT count(*) FROM foo WHERE s= struct(10, 'bar')"

[2022-06-29 18:30] karuppayya commented on #4930
@RussellSpitzer Does how does Iceberg currently handle dropping a column and add the column with same name again, is this scenario similar?

[2022-06-29 18:34] huaxingao commented on #5132
Spark doesn't push down filter for direct struct literal comparison.

[2022-06-29 18:39] #4794 closed

[2022-06-29 21:55] szehon-ho opened #5163 "Support catalog method to set table metadata"
**Background**:

#3851 and further prs added support to register a new table in catalog pointing to existing metadata.json.  It may be good to support setting an existing table in catalog to another metadata.json.

**Justification**:

There have been instances in the past where such a method would have been welcome, the workaround unfortunately is to manually update the catalog (ie, update Hive Me

[2022-06-29 23:30] RussellSpitzer commented on #5163
Here is the other register PR, I forget where we were discussing the "force" issue https://github.com/apache/iceberg/pull/4810

[2022-06-29 23:58] flyrain commented on #5163
@RussellSpitzer and me had a discussion around #4810 if we want to "update" a table with a metadata.json.

+1 for this idea. I happened to resolve a table corruption case caused by catalog inconsistency. I had to update the table's metadata.json location manually at that time. A force register or update/reset tool will be pretty helpful in that case.

[2022-06-30 05:15] saimigo commented on #5145
how to set hive.input.format in iceberg?

[2022-06-30 05:40] saimigo commented on #5145
when I create iceberg table use ORC format, the default inputformat set as follow:
[code]

My code to create a table. how to set hive.input.format = org.apache.hadoop.hive.ql.io.orc.OrcInputFormat  in SDK? Thanks.

[code]

[2022-06-30 14:20] NeQuissimus opened #5167 "Unclosed input stream when appending files"
This is Iceberg 0.13.1.

We are using `AppendFiles` to add files to our Iceberg tables.
Most of the time this works fine but occasionally `AppendFiles#commit` warns about the following:

[code]

I looked through the code paths and could not find anything jumping out at me.

[2022-07-01 02:30] a49a opened #5173 "Add Flink test for Parquet bloom filter"
Since this PR https://github.com/apache/iceberg/pull/5035 merged, we can add some Flink test cases for the Parquet bloom filter.

[2022-07-01 03:04] jingli430 opened #5174 "MERGE INTO TABLE is not supported temporarily on Spark3.2.0, Scala2.12, Iceberg0.13.1"
Hi, I've seen same issues reported many times here. And I know I should first check three things.
**[1] is spark version, iceberg version and scala version correct?**
yes, I am using Spark3.2.0, Scala2.12, Iceberg0.13.1. And it is running well when I execute some other statements like insert, create, etc.

**[2] did I include spark.sql.extensions?**
yes, below is my spark-sql config
[code]
**[3] i

[2022-07-01 05:41] saimigo opened #5175 "java.lang.IllegalArgumentException: Table identifier not set"
I use Flink Table SDK to select iceberg table. Set hivecatalog to usercatalog, but looks like the default_iceberg catalog is still used.

The error message is as flollows:

[code]

code is :
[code]
The output of `tableEnv.getCurrentCatalog()` is `s3IcebergCatalog`. But it reports `10:42:44,866 INFO  org.apache.iceberg.BaseMetastoreCatalog    [] - Table loaded by catalog: default_iceberg.s3a_flink.

[2022-07-02 15:36] ismailsimsek opened #5182 "Feature: adding constraint validation"
is it possible to create special statement to do constraint validation on a table? for example validating uniqueness of  identifier fields.

a solution like Vertica has could be a low cost way of [enforcing/validating constraints](https://www.vertica.com/docs/12.0.x/HTML/Content/Authoring/SQLReferenceManual/Functions/VerticaFunctions/ANALYZE_CONSTRAINTS.htm) , with ANALYZE_CONSTRAINTS command user

[2022-07-03 13:51] singhpk234 commented on #4713
Resolved via https://github.com/apache/iceberg/pull/5094

[2022-07-03 13:51] #4713 closed

[2022-07-03 16:59] srilman commented on #4921
Perfect! Thats what I was looking for

[2022-07-03 16:59] #4921 closed

[2022-07-03 18:07] shay1bz opened #5183 "Allow to configure Avro block size"
Iceberg allows to configure Parquet and ORC writers, but not Avro. Configuring Avro block size is pretty useful in some cases. Is that a design choice, or just a missing feature?

[2022-07-03 20:21] #4864 closed

[2022-07-04 07:03] itaise commented on #4510
thank you so much @rdblue!

[2022-07-04 07:04] Zhangg7723 commented on #5140
Yes，the current design is coarse-grained, we are working on this point, I can do something for this issue.

[2022-07-04 07:11] Zhangg7723 commented on #5099
what's the value of "write.distribution-mode" property?

[2022-07-05 04:30] huaxingao commented on #5132
I will work on pushing down struct filter on Spark side. Before the support is in, let's not push down struct filter in iceberg for now. Does this sound OK to you? @szehon-ho

[2022-07-05 16:27] szehon-ho commented on #5132
Sure @huaxingao , thanks for spending the time on it.

[2022-07-06 19:10] kbendick commented on #2391
This has been completed thanks to @\huaxingao and others.

See some related PRs:
- https://github.com/apache/iceberg/pull/4938
- https://github.com/apache/iceberg/pull/5035
- https://github.com/apache/iceberg/pull/5172

If there's anything else you'd like to follow up on, please create a new issue (as this one is somewhat old). There are a few open issues for example Flink support etc.

I'm going

[2022-07-06 21:27] #4282 closed

[2022-07-06 22:20] szehon-ho commented on #5132
Closed by #5204 , we can work on the optimizations later.

[2022-07-06 22:20] #5132 closed

[2022-07-07 01:03] cbwn123 opened #5216 "Rewritedatafiles is not work with total-delete-files on Spark 3.2.1, Scala 2.12, Iceberg 0.14.0"
This is snapshot in metadata file which is create by rewrite data files action and rewrite manifests action.
 {
    "sequence-number" : 479,
    "snapshot-id" : 7678743334037913715,
    "parent-snapshot-id" : 704591498781525614,
    "timestamp-ms" : 1657152639626,
    "summary" : {
      "operation" : "replace",
      "manifests-created" : "1",
      "manifests-kept" : "0",
      "manifests-replac

[2022-07-07 01:37] melin opened #5217 "When will 0.14 be released?"

[2022-07-07 01:49] a49a opened #5218 "Support the bloom filter for ORC formats"
Since this Parquet PR merged https://github.com/apache/iceberg/pull/5035 , we can also support ORC.

We could support the following options.
`orc.bloom.filter.columns`
`orc.default.bloom.fpp`

Should we change `orc.bloom.filter.columns` to `write.orc.bloom.filter.columns` for aligning this Parquet PR  https://github.com/apache/iceberg/pull/5035 ?

[2022-07-07 01:58] deadwind4 commented on #5218
I will take this

[2022-07-07 02:03] cbwn123 commented on #5058
I have same problem by using SparkActions.get(ss).rewriteDataFiles function.

[2022-07-07 02:41] samredai commented on #5217
Hi @melin. To keep up with the ongoing efforts around Iceberg, it’s useful to check out the [notes](https://docs.google.com/document/d/1YuGhUdukLP5gGiqCbk0A5_Wifqe2CZWgOd3TbhY3UQg/edit?usp=drive_web) from the community sync. @rdblue is the release manager for 0.14 and pending a few blockers listed in the community notes, we are expecting a release candidate very soon.

[2022-07-07 02:41] #5217 closed

[2022-07-07 03:08] itaise commented on #4212
Thanks you @rdblue, I tried with "iceberg" instead of parquet, and got the same results.
We would like to write the field comments to "timestamp without tz" field, any other suggestion?

[2022-07-07 03:15] szehon-ho commented on #5058
I think the way to do this is to write a Spark job that finds 'dangling' delete files (that is, delete files that don't point to any live data file).  I think once this pr is in:  https://github.com/apache/iceberg/pull/4812, we can implement the new Spark action 'removeDanglingDeleteFile'.  I think this was in the original delete file design doc https://docs.google.com/document/d/1-EyKSfwd_W9iI5jr

[2022-07-07 03:40] lintingbin2009 opened #5219 "The metadata file is too large"
We have a table with thousands of columns. Every time a column is added, all the old columns will be retained in the schemas field of the metadata, and will not be deleted again. In this way, after hundreds of column addition operations, the metadata will have a size of several hundred MB.
Is there any way to clean up the schemas field. Does the metadata need to save all the historical schemas if

[2022-07-07 06:02] pvary commented on #3127
Which execution engine are you using?
Are you still using Iceberg 0.12?

There is a little section on the Hive documentation page describing the supported engines.

We have unit tests for different engines, but not for HiceCli, or Kerberos. We test in-house with Kerberos, Tez, Hive4 and it is working fine. It would be good to have a clear understanding of the versions/engines/environment where you

[2022-07-07 13:08] nastra commented on #5111
fixed by https://github.com/apache/iceberg-docs/pull/95

[2022-07-07 13:08] #5111 closed

[2022-07-07 18:18] dramaticlly opened #5224 "Missing DynamicFileFilter when use iceberg in Spark 3.2"
Hey Iceberg Community:

we recently migrated from using iceberg 13 with Spark 3.1 to Spark 3.2 and realized a some existing SQL delete job are producing a lot more shuffling data than it was in spark 3.1, when explain the SQL statement with logical plan, we realized the https://github.com/apache/iceberg/blob/master/spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logi

[2022-07-08 00:55] RussellSpitzer commented on #5219
I actually wrote something for cleaning up Partition Specs because of a slightly related issue.

https://github.com/apache/iceberg/pull/3462

But we could always extend this to schema's as well. Basically just a "cleanMetadata" function.

[2022-07-08 00:58] dramaticlly commented on #5224
Thank you @aokolnychyi for jumping in quickly, here's detailed explain output I found for spark 3.2

so for this particular delete query we are looking at
[code]

- the table `privacy_dev.ussr_interaction_f_test_spark32` is alias to `tgt` and partitioned by column `request_dateint`
- the secondary table `trigger_speech_ids ` in sub query is not partitioned and it only have single column

I do obse

[2022-07-08 02:02] lintingbin2009 commented on #5219
@RussellSpitzer This sounds like a good idea. However, the iceberg community staff did not express any of their opinions, so your code has not been merged into master.

[2022-07-08 02:07] RussellSpitzer commented on #5219
Yes as I noted, this was something we used internally and I didn't push for it to be merged here because I wasn't sure there was any utility. This also would not cover your specific issue but provides a template for what could be a solution. As for community interest, I'm sure we could get something like this in if it is not solely for fixing our internal issues.

[2022-07-08 07:50] peay commented on #4164
Great, thanks @bryanck @kbendick!

[2022-07-08 07:50] #4164 closed

[2022-07-08 14:57] RussellSpitzer commented on #5216
It does merge data and delete files. Unfortunately the logic for cleaning up delete files is more complicated and we haven't set that up quite yet. The main issue being that just because a delete file is applied to 1 data file doesn't mean it was applied to all relevant data files. Currently the way we do the processing doesn't let us know if a delete file has been completely or only partially mer

[2022-07-08 16:10] samredai commented on #4933
Closing now that PR #5169 was merged.

[2022-07-08 16:10] #4933 closed, assigned to nobody

[2022-07-08 16:41] RussellSpitzer commented on #5140
Glad to hear it, Let us know what you plan to do or if you have a PR for review

[2022-07-08 17:28] aokolnychyi commented on #5224
I see dynamic filtering working correctly:

[code]

The only non-broadcast shuffle happens later to cluster records by `_file`.
You can disable it by setting `write.delete.distribution-mode` to none as you are using broadcast joins otherwise.

[2022-07-08 18:17] dramaticlly commented on #5224
Thank you @aokolnychyi for all of your help, after set `write.delete.distribution-mode` to none instead of default `hash`, our job on spark3.2 /iceberg 13 work as expected, really appreciate your insights!

[2022-07-08 18:17] #5224 closed

[2022-07-08 23:35] varunsrinath opened #5231 "Metadata file always gets created under /user/hive/ dir"
Despite overriding the workdirectory the meta data is alway getting create under /user/hive/  dir

the table gets created at the correct location, only the metadata still points to /user/hive.

unfortunately on Mac we cannot create /user/hive folder..

hive> CREATE TABLE z (i int) STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler';
FAILED: Execution Error, return code 1 from org.apac

[2022-07-09 09:08] singhpk234 commented on #5153
+1 on the above, slightly orthogonal but we can also leverage the GitHub Actions resources from the forked repositories instead of using the resources in ASF organisation at GitHub.

This is what Apache Spark does presently :
  - We create a PR and our repository triggers the workflow. Our PR uses the resources allocated to us for testing.
  - Apache Spark repository finds our workflow, and links

[2022-07-09 11:48] yabola commented on #5163
@szehon-ho @RussellSpitzer
I also have a strong need to call register table on the same table to update meta location.
My background:
We write using hadoop catalog, but need to read from hive catalog for special reasons (for example, we need to create a hive view to read table, hadoop catalog can't create hive view). Hive is read only here.
But in order to update the metadata, we need to update th

[2022-07-10 05:28] KarlManong commented on #5174
see https://github.com/apache/iceberg/issues/2737

I think one of your table is not iceberg format.

You can execute `show create table`.

`org.apache.iceberg.spark.extensions.TestMerge` may be help.

[2022-07-11 00:25] flyrain commented on #5163
@yabola, we can still reuse the method `registerTable`.  For your concern about `doCommit` changing the metadata, it won't happen in the method `registerTable` since we explicitly set the base to null, so that `doCommit` won't write a new metadata, check the details here.
https://github.com/apache/iceberg/blob/08c8764b40fac06836d32d4d886b9f43962c8ee6/hive-metastore/src/main/java/org/apache/iceberg

[2022-07-11 02:32] ebyhr opened #5240 "Add a metadata column for file modified time"
This is an enhancement request for a new metadata column or a new method in `ContentFile` class.
Trino Iceberg connector supports `$file_modified_time` column in  https://github.com/trinodb/trino/pull/13082.

Discussion on Slack is also welcome.
https://apache-iceberg.slack.com/archives/C025PH0G1D4/p1657006270692089

[2022-07-11 02:42] yabola commented on #5163
@flyrain Yes, the existing `registerTable` logic does not modify. The check for METADATA_LOCATION in the `doCommit` method needs to be modified. For example：
https://github.com/apache/iceberg/blob/master/hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java#L239

[2022-07-11 08:13] nashiyue opened #5243 "iceberg + hive4.0"
I use this command to create a iceberg table with hive4.0
[code]
I alter table add columns age, it works

but i use insert into command like: `insert into iceberg_test.test values (1,"1","1", 1);` and can not select; like
![PA25pLVLSR](https://user-images.githubusercontent.com/7080576/178218894-48cbb3cd-b7ad-40d9-af44-763a1bf04f53.jpg)

[2022-07-11 08:54] shidayang opened #5245 "Optimize the performance of MOR on Trino"
I had done a chbenchmark of iceberg on Trino. I found that the performance of MOR is very low when have many delete files. The scale of data is 10 warehouse.  The average duration is less than 10 second when no have delete files, but when I add some delete file to every tables some queries spent over one hour.

Reasons:

1. #5195 The Trino every page will call DeleteFilter#filter, every calling of

[2022-07-11 09:18] findinpath commented on #5245
Please see https://github.com/trinodb/trino/pull/13112 which is very likely related to your problem.

[2022-07-11 11:39] shidayang commented on #5245
@findinpath I think this problem is not only for Trino. Iceberg core should be responsible for delete file loading once

[2022-07-11 14:44] lhofhansl commented on #5245
I think Trino is special here as it operated a page at a time. Spark does not have this problem. And, as state in the PR, caching the filters outright unconditionally could be detrimental on Spark (increase memory usage)

[2022-07-11 18:03] flyrain commented on #5245
Hi @shidayang, how many delete files were there in your test?

I did benchmark multiple delete files, you can see the result here https://github.com/apache/iceberg/pull/3287#issuecomment-960433304.
[code]
The perf doesn’t degrade much with more delete files. Please be ware that non-vectorized read is using the path without caching the filter. I am guessing Trino could be different from Spark in te

[2022-07-11 20:06] malvarezrohena opened #5251 "Discrepancy between partition truncation transform in spec vs code (org.apache.iceberg.transforms.Transform)"
I would like some clarification on wether or not Iceberg officially supports partition truncation transform for Fixed or Binary data types.

The [specification](https://iceberg.apache.org/spec/#partition-transforms) denotes that the only data types supported for truncate transform are: String, Int, Long, and Decimal. Yet the following [code](https://github.com/apache/iceberg/blob/5009949ba4377ac5a

[2022-07-11 21:25] samredai commented on #4805
Closing this now that the hive docs are updated. Thanks everyone!

[2022-07-11 21:25] #4805 closed

[2022-07-11 21:31] samredai commented on #5243
@nashiyue this seems to work for me. Here are the commands I ran, including the ones to run the docker image `kgyrtkirk/hive-dev-box:bazaar` to try this out with.

*Start the docker container*
[code]

*Launch beeline*
[code]

*Create the table*
[code]

*Add the `age` column*
[code]

*Insert a record*
[code]

*Query the table*
[code]

output:
[code]

[2022-07-11 21:48] szehon-ho commented on #5163
@yabola yep that would be great if you want to take a stab!  I haven't looked at the details yet, so @flyrain may help on that.  I was initially thinking it may be cleaner to use a new function, but if it's easier to re-use registerTable than that may be ok too.

On the user-facing side, I was just thinking to add an error check (that may be overriden), that either the new metadata passed in is in

[2022-07-11 21:50] RussellSpitzer commented on #5163
I am kind of in favor of it just being a "force" option on registerTable, since we are in the realm of dangerous operations anyway may as well?

[2022-07-11 21:56] varunsrinath commented on #5231
Not sure why it tried to do a file:// protocol

[2022-07-12 06:38] nastra commented on #5231
@varunsrinath could you please share your catalog configuration that you're using?

[2022-07-12 06:40] shidayang commented on #5245
@flyrain About running 5 minutes TPCC on 10 warehouse of chbenchmark

[2022-07-12 06:52] 20100507 opened #5256 "S3 Unable to execute HTTP request: Timeout waiting for connection from pool"
operating environment：

1. Flink1.12.1
2. Iceberg 0.13.x
3. Hadoop3.2.2
4. S3 storage

`2022-07-12 14:08:06.212 [Source: Iceberg table (s3a://jykj/warehouse/MKJXZYRYGLXT16323793634643071688555102209/person/ps_t_real_result) monitor (1/1)#1] WARN  org.apache.flink.runtime.taskmanager.Task  - Source: Iceberg table (s3a://jykj/warehouse/MKJXZYRYGLXT16323793634643071688555102209/person/ps_t_real_resul

[2022-07-12 10:56] #5256 closed

[2022-07-12 16:54] rdblue commented on #5245
Thanks for working on this, @shidayang! The PRs are all resolved so I'm going to close this now.

[2022-07-12 16:54] #5245 closed

[2022-07-13 09:58] zfno111 opened #5267 "Caused by: java.lang.NoClassDefFoundError: Could not initialize class org.apache.iceberg.mr.hive.serde.objectinspector.IcebergObjectInspector"
hive: 2.3.4
iceberg-hive-metastore-0.11.1.jar

 when i create table like that:
`0: jdbc:hive2://10.0.5.66:10000/default> CREATE EXTERNAL TABLE `iceberg_hive`(
. . . . . . . . . . . . . . . . . . . .>   `id` int,
. . . . . . . . . . . . . . . . . . . .>   `name` string)
. . . . . . . . . . . . . . . . . . . .>   STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler'
. . . . . . . . . . .

[2022-07-13 11:42] nastra commented on #5267
@zfno111 are you potentially missing the [iceberg-hive-runtime.jar](https://search.maven.org/artifact/org.apache.iceberg/iceberg-hive-runtime/0.11.1/jar)? See also https://iceberg.apache.org/docs/latest/hive/#loading-runtime-jar on how to add this

[2022-07-13 14:10] naseerscorpio commented on #5174
Hi, I'm also facing this issue when using iceberg with AWS Glue integration. Here is my classpath and code to reproduce the issue. Strangely, same queries work when run from `spark-shell`

**Classpath**

[code]

[code]

**Error**
[code]

Could you advise if am missing something here ?

[2022-07-13 15:39] RussellSpitzer opened #5269 "[DOC] - Incorrect JavaDoc in SparkCatalog"
https://github.com/apache/iceberg/blob/51a9702367e22aff635ae05f2a313a19c3ba2fb8/spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java#L95-L96

Documents this incorrectly saying that a completely new SparkCatalog must be created for a custom IcebergCatalog impl which can actually be created just by specifying the "catalog-impl" Prop

We can either remove or correct this javadoc.

[2022-07-13 15:41] hrishisd commented on #5269
Do you mind if I pick this one up?

[2022-07-13 17:52] kbendick commented on #5267
+1. NoClassDefFoundError is usually a missing dependency.

It can also occur due to a duplicated  dependency, so when switching to the runtime JAR get rid of any additional Iceberg dependencies you don’t need (according to the doc above).

[2022-07-13 19:04] alexjo2144 opened #5272 "DeleteFilter does not selectively read pos delete files based on row position"
Similarly to https://github.com/apache/iceberg/blob/master/data/src/main/java/org/apache/iceberg/data/DeleteFilter.java#L266

If the creator of a DeleteFilter knows the range of rows being read we should be able to selectively read only the position deletes that are useful for the rows being read.

[2022-07-13 19:54] Fokko commented on #3227
I'll pick this up if that's okay. I'm working on the REST Catalog, and need to implement this anyway

[2022-07-13 21:46] huaxingao opened #5273 "Migrate to Spark DS V2 Filter"
Spark DS V2 Filter was implemented in Spark 3.3 and also a new filter push down interface using DS v2 filter was added [here](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownV2Filters.java):

 One of the major motivations to implement Spark DS V2 filter is to eliminate the unnecessary conversions between Scala types and Cat

[2022-07-13 21:48] huaxingao commented on #5273
cc @rdblue @RussellSpitzer @aokolnychyi
I will start coding if you are OK with this.

[2022-07-13 22:59] rdblue commented on #5273
Thanks, @huaxingao! Please do

[2022-07-14 00:38] jfz commented on #2796
Wondering if this actually helped? These look like settings for AWS SDK V1, but the stack trace seems from AWS SDK V2.

[2022-07-14 01:27] zfno111 commented on #5267
tks for answer,
here is my full code
hive
hive> add jar /mnt/disk1/iceberg/iceberg-hive-runtime-0.11.1.jar ;
Added [/mnt/disk1/iceberg/iceberg-hive-runtime-0.11.1.jar] to class path
Added resources: [/mnt/disk1/iceberg/iceberg-hive-runtime-0.11.1.jar]
hive> add jar   /mnt/disk1/iceberg/libfb303-0.9.3.jar;
Added [/mnt/disk1/iceberg/libfb303-0.9.3.jar] to class path
Added resources: [/mnt/disk1/iceb

[2022-07-14 07:07] nastra commented on #5267
I wonder if you're missing `engine.hive.enabled=true` in your table properties (see also the doc I linked above)

[2022-07-14 08:25] zfno111 commented on #5267
![image](https://user-images.githubusercontent.com/32893310/178937285-d4108bf8-7e22-409f-be18-bc108063d7f3.png)

i have  already  add this one..

[2022-07-14 14:07] cutiechi commented on #4373
It's been three months and no one has responded.

[2022-07-14 16:49] puchengy opened #5279 "Support tagging snapshot during snapshot generation in spark-3.2"
Seems not planned or done in https://github.com/apache/iceberg/projects/4#card-67954222.

Also can you help me link this ticket to the project? thanks.

[2022-07-15 00:12] dramaticlly commented on #4168
Just want to share another incidence of this happening in the our production Flink application last week. This time we added extra instrumentation and collected more data points, but we still failed to get a reproduce of the issue

## Setup
Iceberg 0.13.0 and Flink 13 with S3 fileIO turned on (default config for MPU size and threshold)

## Symptom
- Iceberg committed a broken snapshot `36190335674

[2022-07-15 05:18] jfz commented on #2796
I have a fix for this see PR #5282 for details of root cause and steps to reproduce.

[2022-07-15 07:52] MayankSharma-MS commented on #1422
Hello, i see this is work in progress. Any estimates on when will this be merged to master?

[2022-07-15 14:07] naseerscorpio commented on #5174
This was due to wrong property I had above: `sparl.sql.extensions`. Correcting that fixed the issue and merge works perfectly.

[2022-07-15 15:37] rdblue commented on #4168
Yes. That's why I'm surprised that you ended up with corrupt metadata. The complete failure should have caused a task failure that triggered a retry, rather than producing data. My guess is that there is an issue with error handling in the Flink writer that we should look into.

[2022-07-15 16:53] dramaticlly commented on #4168
Yes the table is partitioned by date and hour

Thanks for the pointer, I will dive into this and check

So here's the log from 1st failed UploadPart call
[code]

and corresponding stacktrace
[code]

[2022-07-15 16:58] amogh-jahagirdar commented on #5279
Hi Puchneg! Thanks for your interest in this area.  Do you mind clarifying the desired behavior "Support tagging snapshot during snapshot generation"?

[2022-07-15 18:34] RussellSpitzer commented on #4581
Yep, currently the Spark code cannot read or write UUID correctly.

[2022-07-15 18:34] dramaticlly commented on #4168
Yes @rdblue and I think we also observed that, and align with what @danielcweeks suggested earlier in https://github.com/apache/iceberg/issues/4168#issuecomment-1123000990. I think rethrow after logging is desired, but subsequent multi-part uploads will also fail due to previous abort. We also attempted to reproduce abort MPU in integration tests , verified we can assert thrown exceptions on close

[2022-07-15 18:34] RussellSpitzer commented on #1422
It is very out of date, we never went forward with finishing it, so my current estimate would be the far future :)

[2022-07-15 23:19] amogh-jahagirdar commented on #5279
I see are you looking for specifically accessing it via Snapshot Summary or is it just for the ability to query the snapshot ID from the ref? There's an ongoing [PR](https://github.com/apache/iceberg/pull/4807/files) for the snapshot ref metadata table. Once that gets merged, then the refs table can be queried to determine the corresponding snapshot id for a given tag.

For actually creating a tag

[2022-07-16 02:57] puchengy commented on #5279
@amogh-jahagirdar thank you! it doesn't need to be done via snapshot summary, ref metadata table is fine. For the tag creation via spark write, looking forward to that, thanks!

[2022-07-17 17:50] lintingbin2009 commented on #3466
@RussellSpitzer We have a flink stream writing data to an iceberg table (the table is set to 'commit.manifest-merge.enabled' = 'false'). When I execute a rewrite manifest task in spark, this error comes up quite often, causing the task to fail. Does it mean that 'commit.manifest-merge.enabled' is not taking effect?

[2022-07-17 18:16] kevinjqliu opened #5290 "Docs missing version dropdown"
I'm really happy to see the "version dropdown" in the Iceberg website. I think it's a great feature to have.

<img width="1494" alt="Screen Shot 2022-07-17 at 11 08 46 AM" src="https://user-images.githubusercontent.com/9057843/179419068-16074732-b50f-4b25-b777-eececa132a97.png">

### Problem
Looks like the version dropdown in the header disappears when I read the actual doc webpage.
For example:
h

[2022-07-17 18:26] samredai commented on #5290
@kevinjqliu thanks for your comments and opening this issue! Yes the new theme will provide the experience you're seeing locally where the top nav bar is fixed and the version drop-down is always available.

We're in the process of deploying the theme to the versioned docs site (each version of the docs site is deployed on its own) so once that's deployed, this will all be live. This should be don

[2022-07-17 21:11] kevinjqliu commented on #5290
awesome! so this is not a bug. I'll close out the issue.

Im curious how you were able to make this work across versions. I really like this feature and want to do the same for other projects docs. like for trino https://github.com/trinodb/trino/issues/13205

[2022-07-17 21:11] #5290 closed

[2022-07-17 22:24] samredai commented on #5290
@kevinjqliu the magic happens in 3 places really. The versions are defined in the [config.toml](https://github.com/apache/iceberg-docs/blob/main/docs/config.toml#L25-L31) file, that list is used to generate the [drop-down](https://github.com/apache/iceberg-docs/blob/main/iceberg-theme/layouts/partials/version-dropdown.html) in the theme, and then the [deployment CI](https://github.com/apache/icebe

[2022-07-18 02:09] #5267 closed

[2022-07-18 02:10] zfno111 commented on #5267
**i think i  have use a bad version**

[2022-07-18 03:21] a49a opened #5293 "Bump Spark version to 3.1.3 and 3.2.2 for vulnerability"
https://lists.apache.org/list?dev@spark.apache.org:lte=1M:CVE-2022-33891
https://github.com/apache/iceberg/pull/5292

[2022-07-18 06:07] pvary commented on #5163
@yabola: It is possible to create Hive external tables where the Catalog is HadoopCatalog. So you can store your Iceberg tables in your desired Iceberg Catalog, and you still can query them from Hive, in the same way as any other table.
See: https://iceberg.apache.org/docs/latest/hive/#catalog-management

Would this help in your use case?

That said, I still agree with the goal for this issue, but

[2022-07-18 07:35] 20100507 opened #5295 "impala and iceberg integration on the official website."
**I recommend put the impala and iceberg document addresses in the left column of the official website document.**

![image](https://user-images.githubusercontent.com/26719001/179464190-68ca1056-aa5a-4e48-a073-7f3527b8b917.png)

I didn't find a place in the code repository where I could modify it and don't know how to contribute.

impala about iceberg address:
https://impala.apache.org/docs/build/

[2022-07-18 08:16] #5295 closed

[2022-07-18 10:57] yabola commented on #5163
@pvary Thanks for your advice. Yes, I can manually create the hive external table, and set the inputFormat to `HiveIcebergInputFormat` and other table properties, hive can access the data.
But it seems the `registerTable` command (by seting `iceberg.engine.hive.enabled`)seems to be more convenient and stable (it is same as manual creation essentially).
I will create a PR recently for a "force" opt

[2022-07-18 18:19] abmo-x commented on #4168
Wanted to also add that we are seeing similar behavior for file which BaseTaskWriter logs as successfully completed and I don't see any errors for s3 upload in the logs around that time frame.

But the data file does not exist on S3, but the below log is logged which then adds the data file to the manifest.

[code]

Our S3 bucket is versioned, no versions exists in s3 for that file.

[2022-07-19 10:03] pvary commented on #5163
Happy to help @yabola! Hive 1.1.0 is really old. 2.3.x, and 3.1.x is supported in some configurations, but if you are able to upgrade Hive 4.0.0-alpha-1 would be your best bet to query Iceberg tables

[2022-07-19 11:04] zinking opened #5307 "restrictions on metadata delete"
when purging data, it is hoped that the delete should go through metadata delete instead of  `replaceData` plan.

for example if my table went through partition evolutions:
1. ts
2. ts, name
3. ts, year, name

ideally if I write delete statements like `delete from table where ts < 2022`, metadata deletes should still work.
but currently it is restricted.

[code]

[2022-07-19 16:34] palaniappa opened #5308 "ManifestGroup entries() reads the manifest 2 times when ignoreDeleted is set. This causes perf issues."
ManifestGroup entries() reads the manifest 2 times when ignoreDeleted is set. Since every manifest is read 2 times, if the table contains more manifest the planFiles time keeps increasing.

[2022-07-19 16:35] nastra commented on #5308
I wonder if this is related to what's being addressed in https://github.com/apache/iceberg/pull/5306

[2022-07-19 18:03] abmo-x opened #5310 "Flink - Data File completed and added to Manifest but data file NotFound in S3 location"
We have seen multi occurrences of this issue in our Flink pipeline where Iceberg Manifest has datafile which was never uploaded to S3.

This could be related to https://github.com/apache/iceberg/issues/4168

[code]

We have seen this for 5-6 data files in various partitions. One common pattern for all these files I found is that snapshot was triggered which triggered the Data File to be completed.

[2022-07-19 18:17] jfz commented on #2796
@jackye1995 can you take a look at the fix?

[2022-07-19 22:41] Hoeze commented on #430
Any updates on this? Storage Partitioned Join landed in Spark v3.3.

[2022-07-20 03:41] sunchao commented on #430
I think this is ongoing - first Iceberg needs to support function catalog which is tracked (partially) by https://github.com/apache/iceberg/pull/5305.

[2022-07-20 09:49] YesOrNo828 opened #5314 "Support precision of TimestampType"
Scenario:
Create an iceberg table that has a timestamp-type column with a precision equal to 0 by Flink SQL.

Using the below DDL to create a watermark definition table like the iceberg table would be failed.
`
create table hadoop_catalog.db.dim (id int, name string, opt timestamp(0), primary key (id) not enforced) ;
`

`create table arctic_dim ( watermark for opt as opt - interval '5' second) lik

[2022-07-20 10:43] pvary commented on #5231
@varunsrinath: Also please share the Hive/Iceberg versions too

[2022-07-20 10:52] pvary commented on #5243
@nashiyue: Which execution engine did you use? Any errors during the insert on the console or in the HS2/HMS logs?

[2022-07-20 11:50] #5269 closed

[2022-07-20 17:27] kbendick commented on #430
I have `truncate` in #5305 and am working on bucket as well for once that is reviewed.

I will open an issue for the FunctionCatalog and link it to this. 👍

[2022-07-20 18:14] #5308 closed

[2022-07-21 05:18] rajan-v commented on #5307
I have verified Deletion through Spark-SQL. It's happening  through metafiles and generating delete files.
Setup:- spark-3.2.1-bin-hadoop3.2   	iceberg-spark-runtime-3.2_2.12-0.13.0.

And yes i can see table().specs().size() > 1)  in iceberg-spark-runtime-3.0 and 3.1
v3.2
https://github.com/apache/iceberg/blob/906ba1b4998f938c4615a96ec90921e4ccd09c4a/spark/v3.2/spark/src/main/java/org/apache/icebe

[2022-07-21 06:54] lipenglin opened #5321 "The error message of 'org.apache.iceberg.util.SnapshotUtil#snapshotIdAsOfTime' can be misleading to users."
https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java#L320

The error message of 'org.apache.iceberg.util.SnapshotUtil#snapshotIdAsOfTime' shows the timestamp in UTC timezone, this can be misleading to users who is in another timezone.

e.g:
When I snapshotIdAsOfTime('2022-06-17 11:00:00'), the error message show me 'Cannot find a snapshot older

[2022-07-21 06:55] luckymeng commented on #5321
您的来信已收到，谢谢。

[2022-07-21 07:59] nastra commented on #5321
I agree that this is confusing. I wonder if we should report back the timestamp in UTC to make this clearer

[2022-07-21 16:07] dhruv-pratap commented on #3227
Hi @Fokko that should be okay, please go ahead. Apologies I couldn't get to this as some work related stuff came up at my end. I'll sync up with you once I circle back to this to see if there are any left overs from this item that I can pick-up. Thanks!

[2022-07-21 17:56] rdblue commented on #5321
Iceberg only works with UTC timestamps. All translation to UTC is done by engines. I think this is the correct behavior for Iceberg, but it may not be the correct behavior for an engine to just pass the timestamp through.

[2022-07-21 18:17] nastra commented on #5321
We're doing https://github.com/apache/iceberg/blob/ffee32c48859eef2136f728438b1da613429fe7e/core/src/main/java/org/apache/iceberg/util/DateTimeUtil.java#L89 (aka reporting back without a time zone).
I wonder if changing this code to `Instant.ofEpochMilli(millis).atOffset(ZoneOffset.UTC).toZonedDateTime().toString()` would be good enough so that the TimeZone is shown in the string

[2022-07-21 21:48] rdblue commented on #5321
Will `toZonedDateTime` always show `+00:00`? I don't think adding `Z` would help much. I think adding the offset for log or error messages would be fine.

[2022-07-22 01:51] zinking commented on #5307
ok seems spark3.1 only issue.

[2022-07-22 01:51] #5307 closed

[2022-07-22 03:03] lipenglin commented on #5321
Thanks for your reply. That's fine, we're currently catching InternalException and converting it to the timezone that the user wants.

[2022-07-22 06:34] a49a opened #5333 "Docs: Add doc of the upsert option"
Currently, there isn't `write.upsert.enabled` in the doc, we need to add it.

[2022-07-22 09:02] #4995 closed

[2022-07-22 09:31] bhanuunrivalled commented on #1766
creating a table as below also does not work . we used format_version 2
[code]

[2022-07-22 10:38] pvary opened #5339 "Adding the same file twice for the same table"
During reviewing #4904 I found the following with a slightly modified `TestIcebergInputFormats.testFilterExp` test:
[code]

The test basically adds the same data file twice for the Iceberg table.
The result is that the table will contain duplicate rows, which is what I would expect if we do not want to prevent this situation in the first place.

I have not tested yet, but based on the specificatio

[2022-07-22 12:47] Spince commented on #5339
Curious what this conversation leads to. I'd expect an error/skipping the file with an option to "force" if desired.

[2022-07-22 17:32] #2796 closed

[2022-07-22 18:16] rdblue commented on #3228
This was added in the PRs above, so I'll close this.

[2022-07-22 18:16] #3228 closed

[2022-07-22 18:17] rdblue commented on #3318
Schemas are working! I'll close this.

[2022-07-22 18:17] #3318 closed

[2022-07-22 20:15] rdblue commented on #3223
I'm going to close this because I think it's unlikely that Hadoop will be used for an IO plugin. Arrow has already been integrated and that covers pretty much all of the same use cases.

[2022-07-22 20:15] #3223 closed

[2022-07-22 20:16] rdblue commented on #3226
This is done. The FileIO interfaces in Python produce streams that can be consumed by Arrow for Parquet reads.

[2022-07-22 20:16] #3226 closed

[2022-07-22 20:16] rdblue commented on #3225
Avro reads have been implemented by @Fokko, so I'll close this.

[2022-07-22 20:16] #3225 closed

[2022-07-22 20:20] rdblue commented on #3238
This is related to #5332. We should make sure this is possible with the new Python lib.

[2022-07-22 20:21] rdblue commented on #3224
This is implemented in #5332.

[2022-07-22 20:23] rdblue commented on #4827
What is the purpose of a TableBuilder API for Python? I think that the current `create` method works well because you can already use named arguments and omit unnecessary metadata.

[2022-07-22 20:24] rdblue commented on #559
In the new library, we're updating LICENSE and NOTICE as we go. I'm going to close this since I think it is covered.

[2022-07-22 20:24] #559 closed

[2022-07-22 22:01] szehon-ho opened #5343 "Allow table read/write options to be configured and/or enforced at catalog level using catalog properties"
**Background:** #4011 allowed table properties to be set on newly-created tables via catalog properties.

**Proposal:** It would be nice to have these propagate to runtime table properties as well for read/write time.

**Problem Solved:**  There are a lot of table properties that should be overriden at runtime, see : https://iceberg.apache.org/docs/latest/configuration/ .  For example, now the del

[2022-07-22 22:26] szehon-ho commented on #5343
@SinghAsDev @RussellSpitzer @rdblue @aokolnychyi @dramaticlly if there's any thoughts on this

[2022-07-22 22:29] rdblue commented on #5343
I'm reluctant to create a broader work-around for this just because Spark can't pass options. What about adding the options in SQL hints to Spark? I think that was discussed earlier, but I don't know where it went.

[2022-07-22 22:30] #5321 closed

[2022-07-22 22:31] szehon-ho commented on #5343
I see, I must have missed that discussion, if anyone has any link?  If there a some issue or proposal there we could definitely take a look at it on spark side, hoping it will be do-able.

[2022-07-22 22:35] szehon-ho commented on #5339
Yea I think there was an old similar discussion here:  https://github.com/apache/iceberg/issues/3064.  I think we can do a per check of all files added in same transaction, but anything beyond that involves an expensive spark call to check for duplicates in the table itself?

[2022-07-22 23:30] hililiwei commented on #5339
Similarly, in Flink, when we write data, we need to find a way to avoid double commits.
We might add a default behavior that does not allow the same file to be submitted twice. In addition to checking the file path, we should also check the file content, such as verifying the MD5, to ensure that the contents of the two files are also consistent.
If we really want to add duplicate files, we can enf

[2022-07-23 05:22] pvary commented on #5339
Thanks @szehon-ho, I was not aware of the old thread. It seems like a reasonable comprise to accept duplicated files, if we do not parse the whole table metadata anyway.
What is the level of the data parsed when we have a `Table` object at hand? Which metadata files do we read when we commit something? Does anyone have a quick answer for this, or shall I check?

Thanks everyone for the answers!

[2022-07-23 06:30] szehon-ho commented on #5339
From my knowledge, when you have a Table object, you usually have in the memory all the ManifestFiles, but that's as far as it goes.  What happens during commit is a bit trickier (can lose a lot of time in that code :).  There are a few cases of reading old manifests and checking their DataFiles, like 1) in delete operation to check if we can delete any DataFile entirely from the delete expression

[2022-07-24 06:33] kbendick opened #5349 "Implement Spark’s FunctionCatalog for Existing Transformations"
We need to implement Spark’s `FunctionCatalog` so that we can use the partition transformation functions in queries.

This allows for using the partition transforms on non-partition columns in generated code.

This is necessary in order to write Catalyst rules which will pass `bucket` So that storage partitioned joins (aka bucketed joins) can be implemented.

See also:
- [FunctionCatalog](https://

[2022-07-24 06:44] kbendick commented on #4646
When this is completed, you’ll be able to achieve this for non-partition columns.

https://github.com/apache/iceberg/issues/5349

For now, you can register the function as a UDF and call it like `iceberg_bucket_12(column)` like in this example (and this test suite in general): https://github.com/apache/iceberg/blob/76fabd8435da891809f72862dce3e4d04e159d7d/spark/v3.2/spark/src/test/java/org/apache/

[2022-07-24 06:48] kbendick commented on #4646
`IcebergSpark` has methods for registering other transforms as UDFs as well outside of bucketing (namely `truncate`). But the FunctionCatalog is the future as it can be integrated into Spark for things like code generation and query planning (that would happen first or most likely only on a partition column for the actual join optimization).

[2022-07-24 06:49] kbendick commented on #4646
But TLDR `IcebergSpark.refisterBucketUDF` Is what you’re looking for right now.

In most likely Iceberg 1.0 (the next non-patch), they’ll be available functions you can use that way.

I’m gonna close this but feel free to reopen if you have any questions still. 👍

[2022-07-24 06:49] #4646 closed

[2022-07-24 07:11] kbendick commented on #5349
This will allow us to make use of Spark’s storage partitioned joins (aka bucket joins which is one subset of possible join optimizations oj transformed columns) https://issues.apache.org/jira/browse/SPARK-37166

[2022-07-25 05:52] felixYyu opened #5351 "Docs：Double click [Docs] menu return 404 Not Found"
![image](https://user-images.githubusercontent.com/3785228/180707238-cca949ab-3d4c-403c-92ff-bc0fe368c505.png)

the error URL:
![image](https://user-images.githubusercontent.com/3785228/180707324-067fb372-8ca8-4892-8f98-b248c76646d0.png)

[2022-07-25 14:25] nastra commented on #5351
@samredai FYI, I confirmed that clicking on the `Docs` link multiple times appends `docs/latest` to the URL

[2022-07-25 14:32] samredai commented on #5351
Ah thanks for catching this. This is quick fix, the docs menu item is supposed to actually be a relative link, similar to the others. So [this](https://github.com/apache/iceberg-docs/blob/main/docs/config.toml#L35) line needs to be changed from:
[code]
to:
[code]
We'll need that change to happen in the `main`, `latest`, `0.14.0`, and `0.13.2` branches.

[2022-07-25 23:57] #5095 closed

[2022-07-26 03:48] czy006 opened #5355 "Bump Flink to 1.15.1"
Now Flink [v1.15](https://github.com/apache/iceberg/tree/master/flink/v1.15) depend is 1.15.0
Flink [1.15.1](https://flink.apache.org/news/2022/07/06/release-1.15.1.html) now is avaliable, upgrade to 1.15.1 fixed more bugs

[2022-07-26 03:49] czy006 commented on #5355
I want to take this ticket,can someone assign me to finish?

[2022-07-26 04:06] pvary commented on #5355
We usually do not assign tickets. Feel free to create a PR.

Thanks, Peter

[2022-07-26 05:58] felixYyu opened #5356 "Actions：API Binary Compatibility Checks #29 BUILD FAILED"
[code]

![image](https://user-images.githubusercontent.com/3785228/180933714-2f0349ab-54b1-4f47-8df2-2d15d99d97f2.png)

[2022-07-26 06:35] nastra commented on #5356
Interesting, this seems to work fine on CI on latest `master` as can be seen in https://github.com/apache/iceberg/runs/7510936323?check_suite_focus=true. I also tried locally and don't see the issue. Did this happen for you after you checked out the project for the first time @felixYyu? Does it fail after you do `git fetch origin --tags`?

[2022-07-26 08:09] felixYyu commented on #5356
@nastra I have forked the master branch at last year, But recently, we often receive **build failed** information

![image](https://user-images.githubusercontent.com/3785228/180956618-9f029718-f3a4-41bc-a3c5-cc01dfb27132.png)

[2022-07-27 01:46] aokolnychyi commented on #4346
This issue has been resolved in #4652 by adding a prefix mismatch mode and ways to provide equal schemes and authorities. I am going to close this one. Please, feel free to re-open if any new issues come up.

Thanks everyone who participated!

[2022-07-27 01:46] #4346 closed

[2022-07-27 01:47] #4161 closed

[2022-07-27 01:49] aokolnychyi commented on #4194
We made the action for deleting orphan files more reliable by introducing prefix mismatch modes in #4652. I am going to close this one. Feel free to re-open if similar issues arise in the future.

[2022-07-27 01:49] #4194 closed

[2022-07-27 02:52] felixYyu commented on #5351
@nastra @samredai    Another minor error:

1.click any one of the bottom buttons
![image](https://user-images.githubusercontent.com/3785228/181149991-70b1b8a1-9e03-4f71-99af-8df05ff94602.png)

2.After returning to the houme page,the main menu is not displayed.
![image](https://user-images.githubusercontent.com/3785228/181150406-81aa554d-11d5-4175-9b67-3d5ac6cba638.png)

[2022-07-27 08:15] deadwind4 commented on #5355
@czy006 you can also bump Flink 1.14 and 1.13.

[2022-07-27 09:29] xuzhiwen1255 opened #5365 "Building iceberg-0.14.0 failed"
After downloading the latest version of iceberg-0.14.0, there is a 'Could not find method gitVersion()'  problem in Building

As shown in the figure below
<img width="1077" alt="image" src="https://user-images.githubusercontent.com/105710753/181212511-236374fd-9226-4a8c-9b9d-edeed1e14b31.png">

I haven't had the same problem building other versions

Java version "1.8.0_333"
Gradle version  "7.4.2"

[2022-07-27 11:06] nastra commented on #5365
@rdblue It looks like the `version.txt` file is missing from the source zip. @xuzhiwen1255 as a workaround you could probably just do `echo "0.14.0" > version.txt` for now.

[2022-07-27 11:19] nastra commented on #5356
@felixYyu it's difficult to tell what exactly is different on your fork. My guess would be that your fork doesn't have the latest tags from Iceberg that have been published, since RevAPI is configured to check API compatibility against `apache-iceberg-0.14.0` (which your fork doesn't have)

[2022-07-27 11:19] xuzhiwen1255 commented on #5365
@nastra  Problem solved, thank you very much for your reply

May I make a suggestion ? I think we can test it before and after release to avoid problems

[2022-07-27 11:22] xuzhiwen1255 commented on #5365
@nastra Problem solved, thank you very much for your reply

Can I help with this problem

[2022-07-27 14:57] Shubham-Jha-GT opened #5369 "Unable to query Iceberg table from PySpark script in AWS Glue"
I'm trying to read data from an iceberg table, the data is in ORC format and partitioned by column. I'm getting this error -

This is my code :
`spark = SparkSession.builder.config("spark.driver.memory", "25g").appName(app_name).getOrCreate()`
`temp_tag_thrshld_data = spark.sql("SELECT * FROM dev_db.temp_tag_thrshld_iceberg")`

If I replace my `spark.sql("Select * from a_normal_athena_table)` the

[2022-07-27 15:24] nastra commented on #5365
It looks like whatever tarball/zip landed on the [GH releases page](https://github.com/apache/iceberg/releases) is different from the tarball we link on the [Iceberg releases page](https://iceberg.apache.org/releases/). The one on the [GH releases page](https://github.com/apache/iceberg/releases) is missing `version.txt` & `iceberg-build.properties`

[2022-07-27 15:26] stevenzwu commented on #5355
I don't believe this is necessary. `iceberg-flink` and `iceberg-flink-runtime` don't pull in any Flink deps. As long as there is no API breakage from Flink for patch version release, you can upgrade without a problem.

[2022-07-27 15:30] Shubham-Jha-GT commented on #2176
Updated the config to this (based on iceberg table configuration):

`spark = SparkSession.builder.config("spark.driver.memory", "25g").config("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkSessionCatalog").config("spark.sql.catalog.spark_catalog.type", "hive").appName(app_name).getOrCreate()`

I'm getting this new error -
`An error occurred while calling o87.sql. Cannot find cat

[2022-07-27 15:46] kris-liheng commented on #5355
The 1.15.1 is a bug fix version for the flink 1.15.x, right ?  In theory, it won't introduce any compatibility issues (just as @stevenzwu said).  But you'd better to upgrade the flink version to 1.15.1 and make sure all the unit tests passed because we are using some `public` flink interfaces which don't gurantee the compability semantic.

[2022-07-27 15:55] Shubham-Jha-GT commented on #5369
Updated the config to this (based on iceberg table configuration):

spark = SparkSession.builder.config("spark.driver.memory", "25g").config("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkSessionCatalog").config("spark.sql.catalog.spark_catalog.type", "hive").appName(app_name).getOrCreate()

I'm getting this new error -
An error occurred while calling o87.sql. Cannot find catalo

[2022-07-27 15:59] rdblue commented on #5365
The GH releases tarball doesn't have build info or the version file. Those are now added as part of the release process, rather than creating a commit. The benefit is that now release tags are on the master branch. You should always use the release tarball, not a github tarball.

[2022-07-27 15:59] #5365 closed

[2022-07-27 18:12] cccs-jc opened #5370 "Interpreting the upper/lower bounds column returned from querying the .files metadata"
Iceberg has functionality to introspect tables. This is very useful for example
to check that a column is properly sorted by checking lower/upper bounds

https://iceberg.apache.org/docs/latest/spark-queries/#files

The return value of this query `SELECT * FROM prod.db.table.files`

Will return an upper_bounds and lower_bounds column. A map of column ID to binary.

https://iceberg.apache.org/spec/#

[2022-07-27 18:40] szehon-ho opened #5371 "Hive: Concurrency Issue for CachedClientPool"
As discovered by @flyrain , sometimes this issue occurs in ClientPool.
[code]

The problem comes from [CachedClientPool](https://github.com/apache/iceberg/blob/master/hive-metastore/src/main/java/org/apache/iceberg/hive/CachedClientPool.java).  There, run() always asks the clientPoolCache (Caffeine) for new clientPool.  But clientPoolCache has been constructed with expireAfterAccess() and removalL

[2022-07-27 18:45] flyrain commented on #5371
Thanks @szehon-ho for filing this. Yes, that's my initial thought based on the fact that the error only happens when there are a lot of client pool requests.

[2022-07-27 18:49] szehon-ho commented on #5371
Yea to sum up, these are the options:

1.  Implement a counter  for each ClientPool, that is incremented at beginning of ClientPool::run() call, and decremented at the end.  The close() thread will block until counter is 0.

2.  Implement a retry mechanism in CachedClientPool::run(), which will call call clientPool() again if we hit a closed client.

[2022-07-27 19:44] szehon-ho commented on #5370
@cccs-jc yea it is a pain, the way I know is via the Iceberg API's, I'm not sure if we can easily write a udf or not.

[code]

im working on this actually : https://github.com/apache/iceberg/issues/4362, I hope to have a first version of pr in next day or so

[2022-07-27 19:57] kbendick commented on #5349
This relates to https://github.com/apache/iceberg/issues/430

[2022-07-27 23:04] AlexMercedCoder opened #5372 "Spark 3.2 Create Branch Error"
To replicate my environment run the following using docker-compose (This is a simple setup I use for quick demonstration, but running into an issue, this setup used to work fine on older versions or spark/iceberg/nessie)

docker-compose.yml
[code]

- run `docker-compose up`
- run ` docker-compose run spark-iceberg /bin/bash`
- then open up SparkSQL with the command below

[code]

- I am able to cr

[2022-07-27 23:50] dimas-b commented on #5372
@AlexMercedCoder : The SQL extension involved in this case is part of the Nessie repo. It might be preferable to move this issue to https://github.com/projectnessie/nessie/issues :)

[2022-07-28 01:53] AlexMercedCoder commented on #5372
oops, that's where I meant to post, lol, will, repost there

[2022-07-28 02:12] sumeet-gajjar commented on #4200
I can on adding this support unless @gustavoatt or @edgarRd has already started working on this :-)

[2022-07-28 02:19] #5372 closed

[2022-07-28 02:21] sumeetgajjar commented on #4200
I can work on adding this support unless @gustavoatt or @edgarRd has already started working on this :-)

[2022-07-28 10:52] cccs-jc commented on #5370
looking forward to the progression of https://github.com/apache/iceberg/issues/4362. Hopefully this will make it easier to use from SQL statements. Which is our main way to interface with Iceberg.

[2022-07-28 12:59] gustavoatt commented on #4200
@sumeetgajjar Feel free to take it over, unfortunately we haven't had any bandwidth to work on this.

Appreciate the help 😄

[2022-07-28 16:48] alexjo2144 commented on #5272
Closing, I was asking about this for Trino but the DeleteFilter API is no longer being used there. https://github.com/trinodb/trino/pull/13219

[2022-07-28 16:48] #5272 closed

[2022-07-28 22:00] szehon-ho commented on #5370
Cool, i put up a pr for review, feel free to take a look and follow.

[2022-07-29 01:56] czy006 commented on #5355
@kris-liheng agree you mind

[2022-07-29 01:57] czy006 commented on #5355
@stevenzwu maybe have some problem seems [kris-liheng](https://github.com/kris-liheng) say that,I think must tests it

[2022-07-29 02:04] jessiedanwang opened #5381 "Problem with assume-role"
We have 2 aws accounts. Account_a has role_a which has permission to assume role (role_b in account_b), where we run EMR using role_a, trying to access Glue catalog in account_b
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "sts:AssumeRole",
            "Resource": [
                "arn:aws:iam::account_b:role/role_b"

[2022-07-29 03:49] Cqz666 opened #5384 "Exception occurred while writing to Iceberg tables by 'INSERT OVERWRITE'"
I used ’ INSERT OVERWRITE’ to writing to Iceberg tables, but Spark ran with the following exception:

Caused by: java.lang.IllegalStateException: Incoming records violate the writer assumption that records are clustered by spec and by partition within each spec. Either cluster the incoming records or switch to fanout writers.
Encountered records that belong to already closed files:
partition 'date

[2022-07-29 04:49] amogh-jahagirdar commented on #5384
An explicit sort is required based on the partition spec per task in Spark before writing to a partitioned table (or for streaming use cases, using the fanout writer is common, but that doesn't look to apply here). I think the example here https://iceberg.apache.org/docs/latest/spark-writes/#writing-to-partitioned-tables should help, but please update the issue if the docs aren't clear!

[2022-07-29 09:23] pvary commented on #5371
@lcspinter, @szlta: You might be interested in this as well

[2022-07-29 10:11] nastra opened #5387 "TestS3OutputStream#testAbortAfterFailedPartUpload fails occassionally on CI"
[code]

[2022-07-29 10:13] nastra commented on #5387
Looks like this test was modified with #5317. @abmo-x is this something you could potentially look at?

[2022-07-29 10:21] jorkzheng opened #5388 "read iceberg table by flink timeout"
when I want read all data by flink batch mode,I always get error.
TimeoutException: Heartbeat of TaskManager with id container_e148_1653747647067_1367745_01_000008(bjtx-hd-data-160.bjtx.keep:8041) timed out.
I guess  some one cotainer load too many data,so the container always execute gc.
My table hava 130 millon datas,storage as parquet+gzip on hdfs,about 3gb.
iceberg version is 0.14,flink veriso

[2022-07-29 11:58] szlta commented on #5371
Hi @szehon-ho, in your example above shouldn't Thread B's get() call reset the counter in the cache?
And if so, then Caffeine should not invoke the removalListener as the object was not removed, so serving the same client pool object should work for Thread B (for another x time duration, 5 mins default AFAIK)

Similarly, if the pool object did time out since the last access (done by Thread A), the

[2022-07-29 17:22] szehon-ho commented on #5371
Yea I think you are right.

We were discussing with @RussellSpitzer , the problem is more related to concurrency issues between eviction thread and operations.  So in a one thread scenario:

- Thread A: calls get()
- Caffeine Thread:  calls remove()
- Caffeine Thread:  listener calls close()
- Thread A: does a Hive client operation and finds the client is closed

So now we are thinking, its a main

[2022-07-29 19:58] szlta commented on #5371
Hm I still don't think this is the full picture of what's happening. In light of the stack trace above...
[code]
... this is how I think things happened:
- inside `HiveTableOperations.doRefresh()` we wanted to do a `getTable()` call on HMS
- so we invoked `CachedClientPool.run`
  - this has called `clientPool()` first to get an instance of the appropriate ClientPoolImpl instance, which in this cas

[2022-07-30 01:59] szehon-ho commented on #5371
Yea you are right, in @flyrain  scenario the eviction time was set to 0, causing the Caffeine eviction + removal_listener thread to spawn immediately and close the client.  It is probably not a common issue if the eviction is set to 5 minutes, unless you have a custom user call run on the pool and waits awhile before using the client.

[2022-07-30 03:05] Initial-neko commented on #5216
@RussellSpitzer mean that this statistical total-delete-files item is not accurate yet, but the query efficiency will not be affected after action done

[2022-07-30 04:53] kbendick commented on #5370
Now that I have implemented `FunctionCatalog`, we can implement many functions with included codegen etc.

This could be a great / efficient use case for this eventually.

My priorities right now are `bucket`, and `zorder` for writing out partition transforms but re we raw a function `system.from_binary(typeID, value)` or something it could be pretty efficiently codegenned.

[2022-07-30 04:54] kbendick commented on #5370
These functions will be useable from SparkSQL without any user registration needed and different function definitions can be made based on the input types (which spark will resolve).

[2022-07-30 04:56] kbendick commented on #5370
But for now, the UDF from https://github.com/apache/iceberg/pull/5377should be potentially implemented as FunctionCatalog only goes back to Spark 3.2 anyways.

[2022-07-30 06:29] szlta commented on #5371
Oh! Well that explains it, I guess all bets are off in that case as JVM's thread scheduling will decide..

Should we perhaps throw an IllegalArgumentException if CachedClientPool is attempted to be configured with 0 eviction time? Or maybe even define a larger minimum, let's say 1 second?

[2022-07-31 03:52] karuppayya opened #5394 "mergeSchema fails with java.lang.IllegalArgumentException: Multiple entries with same key: 1=col1 and 7=col2"

[2022-07-31 04:52] wxjzlm opened #5397 "rewritedatafile: Cannot commit, found new position delete for replaced data"

[2022-07-31 14:03] lvyanquan opened #5399 "Error happened after deleting a partitioned column"
error message:
[code]
json of metadata file contains information of schemas/partition-specs/sort-orders.
But there is no link between schemas and partition-specs, thus deleting a partitioned column will raise error while building history partition-specs, because source-id could not be found in current schema. I think that schema-id should be add to json of partition-specs.
part of metadata file:
[

[2022-07-31 14:37] oaris opened #5400 "Single commit for data and table properties in spark 2"
In spark 3 we could use
`data.writeTo("prod.db.table")
    .tableProperty("custom-data", "random")`

 to commit data and update properties, is there a way to do the same with spark 2.4 ?

[2022-08-01 01:11] Cqz666 commented on #5384
Thanks, It works.

[2022-08-01 01:11] #5384 closed

[2022-08-01 09:45] #4015 closed

[2022-08-01 10:02] zhushanwei opened #5404 "Cannot commit, found new delete for replaced data file"
### Query engine

iceberg-flink-runtime-1.14-0.14.0.jar，help me，Thanks

### Question

org.apache.iceberg.exceptions.ValidationException: Cannot commit, found new delete for replaced data file: GenericDataFile{content=data, file_path=hdfs://dev-001:8020/iceberg/flink_hive_iceberg/flink_hive_db.db/test_repository_1/data/news_postdate=2022-07-31/00002-0-8b3590ea-a593-4734-b84a-a6084a426b95-00093.parq

[2022-08-01 10:04] zhushanwei commented on #5404
I used the upsert mode

[2022-08-01 15:58] ajantha-bhat commented on #5399
@lvyanquan:

Do you have a testcase or sample SQL to reproduce this?
As I want to know when do we build the `history partition-specs`

[2022-08-01 16:35] karuppayya opened #5408 "mergeSchema does not honor spark.sql.caseSensitive"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

When we try to do a write with `merge-schema` enabled and `spark.sql.caseSensitive` set to false,  COL1(from the dataframe being written) is considered different from `col1`(from the schema of iceberg table) ,
and new column `COL1` is created in the Iceberg table.

Also in case of Hive cata

[2022-08-01 19:36] #5394 closed

[2022-08-02 00:16] sfc-gh-pbennes commented on #3958
Bump

[2022-08-02 01:59] lvyanquan commented on #5399
we can reproduce this error using the following sql (spark3.2, iceberg0.13 or 0.14), prod is the name of catalog:
[code]
Even though I deleted this column using JAVA API,  I met NullPointerException when using this table.

[2022-08-02 02:04] lvyanquan commented on #5399
we can reproduce this error using the following sql (spark3.2, iceberg0.13 or 0.14), prod is the name of catalog:

CREATE TABLE prod.db.sample (id bigint, data string, category string) USING iceberg PARTITIONED BY (category) TBLPROPERTIES('format-version' = '2');

ALTER TABLE prod.db.sample DROP PARTITION FIELD category;

ALTER TABLE  prod.db.sample DROP COLUMN category;
Even though I deleted this

[2022-08-02 02:06] jessiedanwang opened #5414 "Problem with createTable"
### Query engine

Spark shell on EMR 6.5

### Question

We run spark-shell on EMR 6.5 in account B, and tried to create table in Glue catalog in account A, and we have grant cross-account access using resource policy on both Glue catalog and S3 bucket in account A.

spark-shell --packages org.apache.iceberg:iceberg-spark-runtime-3.1_2.12:0.14.0,software.amazon.awssdk:bundle:2.17.243,software.amazo

[2022-08-02 03:53] Zhangg7723 opened #5415 "Spark: A simple MERGE INTO statement request"
### Feature Request / Improvement

Spark added support for MERGE INTO statement that provides a flexible approach to update data,  but it's complex in UPSERT case, we can simplify MERGE INTO with default update operation and insert operation like:
[code]
Same semantics as UPSERT, when match the default primary key, update target field with source row.

### Query engine

Spark

[2022-08-02 06:15] singhpk234 commented on #5414
can you please try once with `AssumeRoleAwsClientFactory` and creating cross-account IAM role.
ref : https://iceberg.apache.org/docs/latest/aws/#cross-account-and-cross-region-access
for more details.

[2022-08-02 07:20] hzluting commented on #5404
The reason is Iceberg find some delete files associated with the data file that you want to rewrite.
Can you show me your case?

[2022-08-02 09:16] lintingbin2009 commented on #4190
We have internally implemented modifying columns, adding columns after the last column, and deleting the last column without restarting the flink program. Our processing logic is as follows: DataStream<Map<String, String>> -> map -> DataStream<RowData> -> FlinkSink. In the implementation of map, we will refresh the table schema to generate the latest RowData after each checkpoint is done. At the s

[2022-08-02 10:33] zhushanwei commented on #5404
//writer data
Configuration conf = new Configuration();
Map<String, String> properties = new HashMap<>();
CatalogLoader catalogLoader = CatalogLoader.hive(Constants.CATALOG_NAME, conf, properties);
TableIdentifier tableIdentifier = TableIdentifier.of(Constants.DATABASE_NAME, Constants.TABLE_NAME);
TableLoader tableLoader = TableLoader.fromCatalog(catalogLoader, tableIdentifier);
FlinkSink.forRowDa

[2022-08-02 11:58] hililiwei opened #5418 "Refactoring flink upsert ut test so the table is partitioned by date."
We should consider refactoring these in a follow up PR so the table is partitioned by date.

I've encountered this confusion as well before.

_Originally posted by @kbendick in https://github.com/apache/iceberg/pull/5050#discussion_r933426976_

[2022-08-02 12:07] hililiwei commented on #5418
I think it's friendly to beginners. Of course, if no one wants to take the ticket for a long time, I will work for it.

[2022-08-02 12:59] cccs-jc commented on #5370
@kbendick I'm rather interested in that `zorder` function. Is this `zorder` like the databricks zorder. https://databricks.com/blog/2018/07/31/processing-petabytes-of-data-in-seconds-with-databricks-delta.html

We've implemented such a method to sort IP 5 tuples.

[2022-08-02 16:07] RussellSpitzer commented on #5370
Yep, although I haven't looked at their implementation i'm betting it's pretty similar since the math is pretty old.

[2022-08-02 16:16] kbendick commented on #4002
Closing this as all places where we intended to do this have been done using `additionalProperties`, which is the way to make a string to string map without predefined keys in OpenAPI.

[2022-08-02 16:16] #4002 closed

[2022-08-02 16:16] kbendick commented on #3962
Commenting so this doesn't go stale as I don't believe this is currently possible for normal writes.

[2022-08-02 16:23] kbendick commented on #3928
Commenting on this issue to see if stalebot marks it as unstale based solely on my comment.

[2022-08-02 18:09] cccs-jc commented on #5370
cool, please don't hesitate to reach out for some of our lessons learn etc

[2022-08-02 18:16] kbendick commented on #5370
Cool thank you!

I think we have a traditional Spark UDF you can register already.

You might consider trying it and seeing if to see if they match / any other issues or differences.

The original PR for allowing data to be rewritten on sort using a "zorder" strategy (with example usage from Spark) is here: https://github.com/apache/iceberg/pull/3983

[2022-08-02 18:19] kbendick commented on #5370
And the utility functions to interleave bits from that PR will be used eventually in the function catalog.

I'll reach out to you offline to see your experience as. @cccs-jc

[2022-08-02 22:09] jessiedanwang commented on #5414
thanks for getting back. I have tried cross-account IAM role, and the issue with createTable is gone, however, i am getting the following error when trying to write data to the table using df.writeTo("ns_name.xxxxxx").append()

Do i need to add inputFormat when creating table? Here is how iceberg table is created
scala> val tableProperties = Map(
      "table_type" -> "iceberg",
      "format-vers

[2022-08-03 01:46] hililiwei commented on #4190
I personally look forward to seeing your PR.

[2022-08-03 02:51] jessiedanwang opened #5424 "MERGE INTO TABLE is not supported temporarily"
### Query engine

Spark 3.1.2 on EMR 6.5

### Question

We are running Spark 3.1.2 application on EMR 6.5 in account BBB while writing data to S3 and Glue catalog in account AAA. I would appreciate it any ideas what could be wrong here

Here is what we did,
spark = SparkSession
        .builder()
        .config("spark.sql.legacy.parquet.datetimeRebaseModeInWrite", "CORRECTED")
        .config("sp

[2022-08-03 04:24] stevenzwu commented on #4190
@lintingbin2009 it might be helpful to describe the solution at high-level design in this issue or some doc

[2022-08-03 06:48] lintingbin2009 commented on #4190
@hililiwei @stevenzwu https://github.com/apache/iceberg/pull/5425 This is my PR. Hope to have some suggestions. Now we test in an environment with a parallelism of about 40. The checkpoint time is the same as before the dynamic refresh schema is not added.

[2022-08-03 08:32] ggershinsky commented on #3928
Thanks Kyle, looks like this worked.
We indeed still need this feature; its turn will come after the encryption basics are fully merged.

[2022-08-03 09:34] singhpk234 commented on #5414
I think this is happening because you haven't specified the catalog name in identifier of write to and niether made `my_catalog` as default ....

try doing : `df.writeTo("my_catalog.ns_name.xxxxxx").append()` instead (ref : https://iceberg.apache.org/docs/latest/spark-writes/#appending-data)

ref : A ticket stating similar issue : https://github.com/apache/iceberg/issues/2202#issuecomment-78630193

[2022-08-03 11:52] donatobarone commented on #3941
I see there is a draft PR for this change, but no updates since the 20th of May, is there any approximate timeline on when this will be released?

[2022-08-03 15:21] jessiedanwang commented on #5414
The issue is resolved after specifying the catalog name, thanks a lot!

Now i am getting KyroException when using 'MERGE INTO'

Here is what we did,
df.createOrReplaceGlobalTempView("temp_view")

MERGE INTO my_catalog.ns_name.table_name t
USING (SELECT * FROM global_temp.temp_view) s
ON s.id = t.id
WHEN MATCHED THEN UPDATE SET *
WHEN NOT MATCHED THEN INSERT *

Here is error message
22/08/03 14:29:

[2022-08-03 18:07] flyrain commented on #3941
We've made a lot of progress on that. Here is the page to trace the progress, https://github.com/apache/iceberg/projects/26. There are more PRs merged and PRs in the review. Unfortunately, I don't have the permission to update the page.
We don't have a timeline. I'd guess the CDC feature for copy-on-write will be available in 2 month. cc @aokolnychyi @RussellSpitzer

[2022-08-03 18:20] singhpk234 commented on #5414
at org.apache.iceberg.relocated.com.google.common.collect.ImmutableMap.put(ImmutableMap.java:714)

I think this is happening because Kryo is not able to serialize / de-serialize Immutable map (this comes from `properties` in S3FileIO). (ref : https://groups.google.com/g/kryo-users/c/KP2FiJHFTzs).

possible work-around :
1. use Java serializer.
2. you can use https://github.com/magro/kryo-serialize

[2022-08-04 00:15] kbendick commented on #4040
Closing this as we’re using one now in the OpenAPI validation GH action which is good enough.

[2022-08-04 00:15] #4040 closed

[2022-08-04 00:21] kbendick commented on #5356
I also think that your fork doesn’t have the latest tags and can confirm this is working for me.

If you `git fetch upstream —all` (replacing upstream with apache or whatever you call the Apache GitHub remote repository), you should be good.

Here’s where it’s specified btw: https://github.com/apache/iceberg/blob/1b989c86a3c0da0bbe7d5f385618116cd899bdf2/.palantir/revapi.yml#L2

[2022-08-04 00:25] kbendick commented on #5356
Oh I just noticed you’re trying on 0.12.0. Is that intentional?

Previously, the previous version was determined off of a tag on the master branch `release-base-0.xx.yy` like `release-base-0.13.0`.

If you’re intentionally on 0.12.0, then revapi shouldn’t be run there at all and I’d love to find out how that happened. If it’s just stating `release-base-0.12.0`, then that’s the last “release-base”

[2022-08-04 02:39] jessiedanwang commented on #5414
Thanks for getting back to me quickly. I am still getting the same error after adding the following, do i miss anything here?

val sparkConf = new SparkConf().setAppName(appName).registerKryoClasses(Array(classOf[com.google.common.collect.ImmutableList[Any]], classOf[com.google.common.collect.ImmutableMap[Any, Any]]))

spark = SparkSession
        .builder()
        .config("spark.sql.legacy.parqu

[2022-08-04 05:10] singhpk234 commented on #5387
fixed via :
- https://github.com/apache/iceberg/pull/5366

cc @nastra

[2022-08-04 05:50] nastra commented on #5387
thanks for fixing this @singhpk234

[2022-08-04 05:50] #5387 closed

[2022-08-04 06:21] singhpk234 commented on #5414
I see now, why this would not work basically in iceberg we have relocated guava, from `com.google.common.collect.ImmutableMap` to `org.apache.iceberg.relocated.com.google.common.collect.ImmutableMap`

the serializer for guava in https://github.com/magro/kryo-serializers, won't work now as they are trying to make obj of `com.google.common.collect.ImmutableMap` during deserialization ref [CP](https:

[2022-08-04 06:28] singhpk234 commented on #5414
We have faced similar issues before, for ex : https://github.com/apache/iceberg/pull/549/files

I think the  fix was to use to use java collection instead https://github.com/apache/iceberg/pull/546, which needs to be made at iceberg end.

will try attempting a fix for it.

cc @rdblue @kbendick @jzhuge

[2022-08-04 12:53] jessiedanwang commented on #5414
thanks for looking into this, do i have to wait for the fix at iceberg end? Or i can create a custom serializer for org.apache.iceberg.relocated.com.google.common.collect.ImmutableMap using the code you provided above?

[2022-08-04 15:57] singhpk234 commented on #5414
I think attempting custom serializer as temp workaround  should be fair, iceberg has point releases as well, please keep an eye for 0.14.1, there are also snapshots for present master published in maven as well (not a recommended approach) once this is in.

[2022-08-04 17:23] jessiedanwang commented on #5414
thanks a lot, will keep an eye for 0.14.1. In the meantime, i am trying to create custom serializer as follows, but got compilation error for newHashMap, looks like it does not work with relocated immutableMap?

overloaded method value newHashMap with alternatives:
  [K, V](x$1: java.util.Map[_ <: K, _ <: V])java.util.HashMap[K,V] <and>
  [K, V]()java.util.HashMap[K,V]
 cannot be applied to (org.a

[2022-08-04 20:39] alexjo2144 opened #5442 "Transaction with multiple statements clear table history"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

If a Transaction has multiple changes that it applies the table history is cleared and `TableManifest.snapshotLog` is cleared.

Here's a test case, adopted from `TestTransaction#testMultipleOperationTransaction`

[code]

[2022-08-05 02:44] jessiedanwang commented on #5414
where is the source for org.apache.iceberg.relocated.com.google.common.collect.ImmutableMap? Can not seem to find it in the apache iceberg repo?

[2022-08-05 19:08] jessiedanwang commented on #5414
i have change it to java to work around the compilation error, but i am still seeing the same kryo serialization issue on ImmutableMap
Caused by: java.lang.UnsupportedOperationException
	at org.apache.iceberg.relocated.com.google.common.collect.ImmutableMap.put(ImmutableMap.java:714)

Here is the code change I have made, do i miss anything?

Add spark config
  .config("spark.kryo.registrator", "xx

[2022-08-05 19:48] kbendick commented on #5442
Does this still hapoen if the table is refreshed?

[2022-08-05 20:04] kbendick commented on #5442
Oh this seems intentional based on the comment above `newSnapshotLog.clear()` below.

Though there's possibly a better way of handling the intermediate history states that never actually existed vs simply clearing the whole history log.

I think the `snapshots` metadata table would still have all the snapshot data, but ideally just the entries that need to be trimmed from the history log are remov

[2022-08-05 20:46] kbendick commented on #5442
I tried this with `refresh` and it doesn't make a difference.

I think the logic for `intermediateSnapshotIdSet` needs to possibly be updated, but I'm still looking through the comment about time-travel queries.

If anybody else has any ideas, feel free to chime in 😅

[2022-08-05 21:31] rdblue commented on #5414
Thanks for pinging me, @singhpk234. Looks like we need to convert the properties map over to a HashMap rather than an immutable map. Good catch!

[2022-08-06 02:13] jessiedanwang commented on #5414
Just wondering you have an estimation for when the changes can be released? Let me know, thanks

[2022-08-06 03:26] zsvoboda opened #5453 "Issue after migrating to Spark 3.3.0 and Iceberg 14.0"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

I'm migrating my solution from Spark 3.2.1 and Iceberg 0.13.2 to Spark 3.3.0 and Iceberg 0.14.0. I get exception from pyspark code

[code]

Here is the exception:

[code]

[2022-08-07 20:08] puchengy commented on #4997
@RussellSpitzer @kbendick Hey just to follow up on the potential suggestion here. I wonder do you have any suggestion on how to fix this? Our users are hitting this issue more often and we have to keep educate them which slow down the Iceberg adoption, it will be great if we can resolve it from the engine level.

@RussellSpitzer do you see it is doable to add what we are seeing in this optimizer a

[2022-08-07 20:19] mrendi29 commented on #5122
+1  for rust sdk

[2022-08-07 22:38] RussellSpitzer commented on #4997
It's a spark limitation, it's only able to pass filter expressions to external Datasources which previously just included basic predicates, although with V2 expressions we probably will have more latitude here.

[2022-08-08 00:43] dramaticlly commented on #4012
Wire S3 batch deletion for snapshot expiration can be found in #5412

[2022-08-08 01:35] kbendick commented on #5453
The stack trace reads like there's an S3 request timeout.

Can you provide the following infirmation?

1. The exact Iceberg runtime jar dependency used (ensure that you're using the spark 3.3 iceberg bundle
2. The catalog are you using (eg hadoop, hive, DynamoDB, etc).
3. The Spark configuration used, including configuration settings for initializing the Iceberg catalog plus any non-default Spark

[2022-08-08 01:57] kbendick commented on #5453
To get around the issue, assuming you're using `S3FileIO` (which it seems like you are), you might consider increasing the number of multipart upload threads if the issue is indeed just a plain S3 upload timeout:
- https://iceberg.apache.org/docs/latest/aws/#progressive-multipart-upload

Other things that might help would be allowing Spark to sort the arrays without using the UDFs, but instead usi

[2022-08-08 02:45] Gs928 opened #5461 "FAILED: Execution Error, return code 2 from org.apache.hadoop.hive.ql.exec.mr.MapRedTask"
### Apache Iceberg version

0.12.1

### Query engine

Hive

### Please describe the bug 🐞

hive> insert into test_iceberg_tbl1 values (1,"ggs",18,"20211212");

WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20220807223635_9a12c716-f280-4a76-a76c-1f

[2022-08-08 04:53] puchengy commented on #4997
@RussellSpitzer is it possible to add similar support as what https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/UnwrapCastInBinaryComparison.scala has done?

[2022-08-08 05:14] yqf1991 commented on #5104
+1 ,i meet the same thing

[2022-08-08 16:11] sunchao commented on #4997
@puchengy it seems so, that rule currently only handles casts between numeric types, but seems it also be extended to handle casts between date and string (although we should be conservative there and do not allow any invalid case to slip through). Feel free to raise a PR in Spark if you want to work on it.

[2022-08-08 18:45] kbendick commented on #5461
The `Number of reduce tasks is set to 0 since there's no reduce operator` is something you can ignore. That's just saying that this is a map only job.

What about this here?
[code]

Did you try `set hive.exec.mode.local.auto=true;` and did that work?

Also, can you provide the Iceberg related configuration for the table and for the job / session? Did you run the `add jar` command and the other ste

[2022-08-08 18:49] kbendick commented on #5461
To be more precise, the 0.12.1 Iceberg docs on Hive are here: https://iceberg.apache.org/docs/0.12.1/hive/

If there's anymore error stack trace, that would be helpful. As well as the configuration and set up.

You also have to set `engine.hive.enabled` on the table that's being written to. See the docs linked above for more info on all of the steps that need to be run such as session properties t

[2022-08-08 18:53] kbendick commented on #5453
Based on the expanded output of the Python stack trace (I didn't scroll over), it seems like _maybe_ one of your tasks is `yield`-ing empty data in your "dagster" library. That might lead to the unexpected EOF error (either writing data or reading it back into the JVM from Python - I suspect the second).

Maybe check that that yield statement isn't returning empty data when trying to coerce to an

[2022-08-08 20:22] jessiedanwang commented on #5414
@singhpk234 i have specified java serializer, but still getting the same kryo exception?

.config("spark.serializer", "org.apache.spark.serializer.JavaSerializer")

22/08/08 20:19:23 WARN TaskSetManager: Lost task 4.0 in stage 15.0 (TID 1037) (ip-10-158-77-88.cmhemr.indeed.net executor 4): java.io.IOException: com.esotericsoftware.kryo.KryoException: java.lang.UnsupportedOperationException
Seriali

[2022-08-08 20:36] Fokko opened #5468 "Python: Re-assign IDs in when creating a table"
### Feature Request / Improvement

Re-assign the IDs when creating a new table. For more information, please refer to the comment: https://github.com/apache/iceberg/pull/5447#discussion_r940543443

How we do this in Java: https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/TableMetadata.java#L88-L133

### Query engine

Other

[2022-08-08 22:49] szehon-ho commented on #2542
Was chatting with @dramaticlly about it, cc if you want to look at it.

[2022-08-09 03:27] a49a opened #5477 "Docs: Add build of particular compute engine versions"
### Feature Request / Improvement

Add `/gradlew build -DsparkVersions=3.2,3.3 -DflinkVersions=1.14` to the docs.

### Query engine

_No response_

[2022-08-09 06:28] singhpk234 commented on #5414
@jessiedanwang I am not sure how kryo serializer comes to play here, are your spark confs overriden somewhere else ?

Ideally if you don't specify any serializer by default i think spark uses java serializer.

Note : I tried it with both with specifying `spark.serializer=org.apache.spark.serializer.JavaSerializer` and without specifying any serializer and can confirm it worked for me .. here is a

[2022-08-09 12:11] Kontinuation commented on #5027
`NAMESPACE_PROPERTY_KEY` [was defined as `VARCHAR(5500)`](https://github.com/apache/iceberg/blob/apache-iceberg-0.14.0/core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java#L91), it may not have to be that long. Some value less than 500 is good enough I guess?

[2022-08-09 16:47] kbendick commented on #5477
Technically there's `-DsparkVersions`, `-DflinkVersions`, `-DhiveVersions` and `-DscalaVersion`, as we can see from `dev/stage-binaries.sh`.

So maybe we just document that each of those exists? Some things like `scalaVersion` only affect certain packages (namely Spark related ones).

For reference, the complete build steps at present:

https://github.com/apache/iceberg/blob/b1ab35d66c8f19c9107094

[2022-08-09 17:07] jessiedanwang commented on #5414
thanks for getting back to me. I cleaned up the existing database created previously, and now JavaSerializer works. However, kryo serialization is still generating the same error even after i have changed the class name to org.apache.iceberg.relocated.com.google.common.collect.SingletonImmutableBiMap for some reason, which is puzzling. I noticed that the change you made is on spark 3.3 branch, and

[2022-08-09 18:27] kbendick commented on #5477
Ideally this could be documented either:
1. generically, so we don't have to update it - possibly linking to the `dev/stage-binaries.sh` script to show the complete set of options (though this could create confusion).
2. pulled from the repository somehow so that the versioned docs always have the complete set of commands. But we'd want to emphasize when is it important to use certain ones (like t

[2022-08-09 18:36] kbendick commented on #5381
I work at Tabular and as such don't use the Glue catalog super regularly in my day to day, but the error message mentions that the assumed role, `role_a`, is not authorized to perform `glue:GetUserDefinedFunctions` on ` arn:aws:glue:us-east-2:account_b:catalog` because there's no resource policy on ` arn:aws:glue:us-east-2:account_b:catalog` that allows anything to access that.

I think this is on

[2022-08-09 18:40] kbendick commented on #5381
TLDR - In the role that lists resources, I think you're missing a resource arn similiar to the following: `"arn:aws:glue:us-east-1:123456789012:userDefinedFunction/` - specifically referencing `userDefinedFunction`. As `GetUserDefinedFunction` action is what it's trying to do and is not successfully able to.

See that `userDefinedFunction` is the one resource arn type not listed in your policy abo

[2022-08-09 20:34] pvary commented on #5461
As @kbendick mentioned, there should be an exception in the logs for the application. It would be great to check the application log for `job_1659792265699_0058`.

Also it would be great to have the exact Hive version as well.

Thanks,
Peter

[2022-08-10 03:17] lvyanquan commented on #5418
Thank you for providing this opportunity, I will try it.

[2022-08-10 03:39] hililiwei commented on #5418
Good luck.

[2022-08-10 04:48] lvyanquan opened #5480 "Docs: failed to jump to Unit Testing from flink-getting-started.md"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Flink

### Please describe the bug 🐞

web page of '[unit test](https://github.com/apache/iceberg/blob/master/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java).' from https://iceberg.apache.org/docs/latest/flink/#appending-data was expired, we should update to new page address.

[2022-08-10 05:38] nastra commented on #5480
thanks for spotting this. should be fixed by https://github.com/apache/iceberg/pull/5482

[2022-08-10 08:06] lvyanquan commented on #5480
update: should be fixed by https://github.com/apache/iceberg/pull/5484

[2022-08-10 08:36] lvyanquan commented on #5418
should be fixed by https://github.com/apache/iceberg/pull/5486

[2022-08-10 08:44] SusurHe opened #5487 "Spark3.2 and spark3.3 Dynamic partition pruning is not enabled"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

when i test Merge Into table with spark-3.2 and spark-3.3, i find Dynamic partition pruning is not enabled;
For example, when i set `spark.sql.adaptive.coalescePartitions.initialPartitionNum=1024`, it well generate 1024 small files after executing `MERGE INTO`;

![image](https://user-images

[2022-08-10 09:45] singhpk234 commented on #5414
yup, i also don't think it should make difference. Just to be double sure, I applied this [patch](https://gist.github.com/singhpk234/5e570b04a8f8145846e1019a820eaef7) to 3.1 directory and can confirm it worked for me.

[2022-08-10 13:11] openinx commented on #3916
Close via https://github.com/apache/iceberg/pull/3784.

[2022-08-10 13:11] #3916 closed

[2022-08-10 14:13] #5480 closed

[2022-08-10 21:28] jessiedanwang commented on #5414
thanks for getting back. I have tried both spark 3.1 and spark 3.2 with SingletonImmutableBiMap as follows, still same error, i guess we will have to work with JavaSerializer for now

Add spark config
.config("spark.kryo.registrator", "xxx.CustomKryoRegistrator")

import com.esotericsoftware.kryo.Kryo;
import org.apache.iceberg.relocated.com.google.common.collect.ImmutableMap;
import org.apache.sp

[2022-08-11 13:19] alexjo2144 commented on #5442
@rdblue or @danielcweeks either of you have any thoughts on this one? We reverted the changes in Trino that hit this case, but it would be nice to be able to put them back at some point.

[2022-08-11 14:42] szlta opened #5507 "SnapshotManager can't handle rollback calls that would pick the current snapshot as target snapshot."
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

Example test case for `TestSnapshotManager.java`:
[code]
The above case fails with
[code]
I think in such cases the API should still return without errors, even if the request turned out to be a no-op.
This was working well in 0.13.0, but since 0.14.0 it is failing due to the refact

[2022-08-11 15:48] kpe commented on #3665
@huaxingao - wow, having a `Merge` in the `DataFrameWriterV2` would be great - is this already tracked by the Spark folks, jira or issue we can monitor?

[2022-08-11 20:45] kbendick commented on #5487
Can you please provide a sample `MERGE INTO` query @SusurHe?

When I think of dynamic partition pruning, I think of the ability to filter out specific partitions from the input table during a query based on some kind of `WHERE` clause, not necessarily the results of adaptive query execution.

The dynamic partition pruning I'm thinking of is controlled by the `SupportsRuntimeFiltering` interface, w

[2022-08-12 00:06] #5240 closed

[2022-08-12 01:55] Cqz666 opened #5509 "The configuration of 'table.exec.iceberg.use-flip27-source' doesn't work"
### Query engine

Flink

### Question

Hi team,
  I tried using the new version of the Source API, and I set this configuration 'table.exec.iceberg.use-flip27-source'  to true, from the Flink Web UI, you can see that the configuration is set up successfully, but from the execution graph, it doesn't seem to go the right way.
![image](https://user-images.githubusercontent.com/50294123/184269344-96e0

[2022-08-12 08:35] Shane-Yu commented on #5404
I also met this probelm in the same case.  It's not  "some delete files associated with the data file" casue this problem.  Add log in the  tail of https://github.com/apache/iceberg/blob/5a15efc070ab59eeda6343998aa065c0c9892c5c/core/src/main/java/org/apache/iceberg/DeleteFileIndex.java#L151  to print the data file path, delete file path, lower and upper. And you can see the upper and lower filepat

[2022-08-12 09:05] hzluting commented on #5404
Yes, you are right! I'm wondering why I can't reproduce this problem.
But the property key is write.metadata.metrics.default

[2022-08-12 15:30] #5349 closed

[2022-08-12 17:19] asheeshgarg opened #5512 "Accessing Iceberg tables without catalog"
### Query engine

Spark

### Question

I have a scenario where in I have loss access to catalog data. But I have access to iceberg metastore metadata and data. Is the a way to access the tables without catalog.

Do I need to create external tables in some other catalogs and point it to the location of warehouse?

[2022-08-12 18:34] pvary commented on #5509
@Cqz666: The new config is added by this [commit](https://github.com/apache/iceberg/commit/41570a1877bb0f7dd4b2a91addbbca08b3721588). I think this is not part of the 0.14 Iceberg release yet. If it is possible for you, you can try out the feature using Iceberg compiled from the master branch.

Thanks,
Peter

[2022-08-12 18:42] kbendick commented on #5507
Since the above refactoring has a transaction being used, it seems like we need to discard the changes and/or commit the transaction (possibly as a no-op).

This does seem like something that should be allowed to proceed though, unless there's a reason not to allow it.

[2022-08-12 19:25] amogh-jahagirdar commented on #5507
Yeah I think it makes sense to commit the SetSnapshotOperation. I remember a discussion around this came up in https://github.com/apache/iceberg/pull/4071#discussion_r837008625  for updating snapshot references. We commit the operation even if there are no changes.

Another way I was thinking was in BaseTransaction we https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceb

[2022-08-13 03:58] yabola commented on #5273
@huaxingao Do you start doing this, can I get involved? I'm learning about this part recently~

[2022-08-13 05:35] huaxingao commented on #5273
@yabola I have finished implementing this. I have split the implementation into two PRs so it's easier to review. The first PR is [here](https://github.com/apache/iceberg/pull/5302). Please help to review if you have time. Thanks!

[2022-08-13 11:43] VasilyMelnik opened #5515 ""Table not found" error while using rewriteDataFiles"
### Query engine

Spark 3.1.1, Iceberg 0.13.1

### Question

Hi all.
I created iceberg table from spark-shell like this:

[code]

I see my_table in Hive metastore and all SQL queries via Spark-shell work fine.
But when i try to use Java API:
[code]
i get an error:

Table object is valid: i can get location and currentSnapshot with it.
What is the problem?

[2022-08-15 03:01] SusurHe commented on #5487
@kbendick  Just a basic SQL statement,  like:
[code]
I think it should be because this code in `extendeddistributionandorderingutils` leads to get `initialpartitionnum` for partitioning; So, we should crop `finalnumpartitions` here;

[code]

[2022-08-15 08:41] justusrk opened #5527 "Access Control in Iceberg"
### Query engine

Spark

### Question

I see that Iceberg is designed to be invisible. But I wanted to clarify this.

Thinking about Access Control features - like users being allowed to access tables, columns, and rows.
These features would be useful for GDPR Audits or maybe understanding data lineage.

Should Iceberg ideally care about this? Or should this be handled by something else?

If somet

[2022-08-15 11:22] #3939 closed

[2022-08-15 11:27] xuzhiwen1255 commented on #5388
@jorkzheng
I am not sure about your specific configuration, such as the memory size and timeout time of taskManager. If it is allowed, you can try to increase the TM memory and timeout time to see if it works
This is a personal experience of mine

[2022-08-15 11:39] xuzhiwen1255 commented on #5069
@rdblue Maybe we can add it through options in Spark SQL
Such as this
{
The create table t1 (...). The options (pk = 'col)
}

[2022-08-15 12:41] szlta commented on #5507
Thanks all for the feedback here. I think [as referenced] since `UpdateSnapshotReferenceOperation` is comitting empty operations in a similar way already, we should make `SetSnapshotOperation` behave the same way. I think the empty commit in such cases will not cause noticeable performance degradation, and other than that I don't see a good reason why to keep that early `return` statement.

I've o

[2022-08-15 13:55] kris-sea commented on #5069
I guess @felixYyu is trying to create an iceberg table by executing flink SQL `PRIMARY KEY(col) NOT ENFORCED`, and trying to add few records into the iceberg table by spark SQL, right ?

In this case,  the current `PRIMARY KEY` definitions from flink sql just add the equality keys into the iceberg table metadata.  And for iceberg table's equality key fields,   the engines won't enforce the uniquen

[2022-08-15 14:23] nastra commented on #5527
Generally speaking, access control is something that engines should be implementing on top of Iceberg. Every engine has its own way of defining access control rules and enforcing them (even beyond Iceberg tables), so I think handling this in Iceberg across all engines might be quite difficult to achieve

[2022-08-15 16:52] kbendick commented on #5515
You mentioned that you can get the location and the `currentSnapshot`.

I think there isn't anything wrong with your table. If you look at the error message, it says that one of the file set groups failed to be rewritten. This _usually_ happens when there's a concurrent write or other operation on the table that prevents the data rewrite from proceeding (if it would break ACID compliance).

Howeve

[2022-08-15 16:52] kbendick commented on #5515
But TLDR:

If the table object is valid, I think that your spark session is not 100% correctly initialized.

[2022-08-15 17:00] kbendick opened #5538 "SparkMicroBatchStream doesn't respect `start-snapshot-id` or `end-snapshot-id`"
### Feature Request / Improvement

Currently, the SparkReadConf can be used with `start-snapshot-id` and `end-snapshot-id` options to read just a specific chunk of the table.

These options are not respected when `SparkMicroBatchStream` is initialized, i.e. using the following will silently ignore these options.

[code]

We should implement support for more than jsut timestamp based incremental re

[2022-08-15 17:15] kbendick commented on #5512
If I understand correctly, you have lost your catalog data (e.g. the data in HMS or in your dynamodb table). Is that correct?

There's a [`RegisterTableProcedure`](https://github.com/apache/iceberg/blob/master/spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RegisterTableProcedure.java) that can be used to register an existing table into a catalog.

I'm not sure if the procedure

[2022-08-15 17:44] kbendick opened #5540 "Structured Streaming Iceberg Source Silently Ignores Options It Cannot Process"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

When using `SparkMicroBatchStream`, i.e. when using iceberg as a soruce for structured streaming, certain options from the read configuration, i.e. `SparkReadConf`, are not supported.

Until these options are supported (or if they're never supported for options that might not make sense), w

[2022-08-15 18:29] asheeshgarg commented on #5512
@kbendick  yeah I lost access to HMS. But I have access to the warehouse folder in the s3 with data and metadata folders for all the tables generate by iceberg.  Just looking at the ways to recreate the tables as well how to read the data correctly using the information available in the warehouse directory.

[2022-08-15 19:41] rdblue commented on #5507
It seems reasonable to set `lastOperationCommitted` in the path where we skip an actual commit. Should we try that and see if it fixes it?

[2022-08-15 19:45] rdblue commented on #5507
I just merged PR #5536 to fix this. That fix makes sense to me because we can always avoid swapping identical metadata in `TableOperations` rather than not calling `commit`.

[2022-08-15 19:45] #5507 closed

[2022-08-16 00:15] #4000 closed

[2022-08-16 00:15] #3995 closed

[2022-08-16 00:15] #3963 closed

[2022-08-16 06:02] szehon-ho opened #5543 "Imported parquet tables may have wrong metrics"
### Apache Iceberg version

main (development)

### Query engine

Spark

### Please describe the bug 🐞

I found this problem while doing https://github.com/apache/iceberg/pull/5376#discussion_r934960703, which now attempts to convert metrics to readable ones for "files" metadata table and encountered an exception trying to do so in an existing test case.  So just reporting the problem.

**Early An

[2022-08-16 07:23] VasilyMelnik commented on #5515
Thanks a lot!
Problem was in wrong catalog properties. I changed to
[code]
and now everything is fine!

[2022-08-16 13:52] kunal-nandwana opened #5548 "Schema Evolution"
### Query engine

Spark

### Question

Hi Team.
Currently I am using Iceberg in my project, so I am having one doubt in that.

My Current Scenario:

1. I have loaded the data into my Iceberg table using spark data frame(this is my doing through spark job)

**df.writeTo("catalog.my.test2").using("iceberg").create()**

2. Now From source side I have added two colums and started the Job which is doin

[2022-08-16 18:44] kbendick opened #5553 "More Aggressively Skip Duplicate Workflows & Cancel Workflow Runs if One Test in The Group Fails To Speed Up CI"
### Feature Request / Improvement

Right now, we depend on the workflow itself to cancel duplicates, using the built-in features of the github actions via the `concurrency_group`.

https://github.com/apache/iceberg/blob/c965af5d489b4acdaef9267fd98fa845393f23bc/.github/workflows/flink-ci.yml#L52-L54

While this is good enough, it requires each individual run to start and then notice that it is canc

[2022-08-16 19:58] kbendick commented on #5548
For the schema evolution, normally you should run the `ALTER TABLE ... ADD COLUMN` commands: https://iceberg.apache.org/docs/latest/spark-ddl/#alter-table--add-column

If you want to have the schema updated during `merge into` without specifying it, you can use the `.option("mergeSchema", true)` when writing to the table.

However, I'm not sure if that option is possible to use from SQL at the mom

[2022-08-16 20:00] kbendick commented on #5442
I'm planning on bringing this up with Ryan tomorrow in a meeting. Thanks guys for reporting.

[2022-08-16 21:04] asheeshgarg commented on #5512
Icreated a local catalog and trying to  register a table I get not supported error
I am on spak 3.3 and iceberg 0.14
spark.sql("CALL local.system.register_table('table','s3a://test/')").show()
java.lang.UnsupportedOperationException: Registering tables is not supported
  at org.apache.iceberg.catalog.Catalog.registerTable(Catalog.java:363)
  at org.apache.iceberg.CachingCatalog.registerTable(Cachi

[2022-08-16 21:35] #5310 closed

[2022-08-17 00:12] #3960 closed

[2022-08-17 00:12] #3932 closed

[2022-08-17 00:25] lgbaeza commented on #5369
That error seems to be due to not having the dependencies for iceberg. Have you configured your glue job with the iceberg connector from marketplace? Here you can find how https://aws.amazon.com/es/blogs/big-data/implement-a-cdc-based-upsert-in-a-data-lake-using-apache-iceberg-and-aws-glue/

[2022-08-17 04:52] kunal-nandwana opened #5556 "Feature Request: Support mergeSchema option when using Spark MERGE INTO"
### Feature Request / Improvement

Hi Team,
I am using Iceberg in my project and I found a big thing which is missing from Iceberg which is easily available in Apache Hudi and Deltalake that is "merge schema". If possible this feature need to added into the Iceberg. I am attaching my last ticket which is explaining the problem that I am facing.Please find the below ticket for the refrence.
[https:

[2022-08-17 04:54] kunal-nandwana commented on #5548
@kbendick  thanks for replying.. I have raised the new feature request.. I hope I get any positive response for that..

[2022-08-17 08:29] hunter-cloud09 opened #5557 "Support Lifecycle keyword"
### Query engine

Spark

### Question

Now we use spark to create iceberg tables through hms, but found that the lifecycle keyword is not supported when creating tables. Does the community plan to support it? Or can you give some guidance on how to do this?
 thx！

[2022-08-17 09:00] YesOrNo828 opened #5560 "[Flink] Avoiding submitting too many empty snapshots"
### Feature Request / Improvement

**Motivation:**
Avoid submitting too many empty snapshots.
`IcebergStreamWriter` would emit an empty WriteResult to the committer operator, and the writeResult's dataFiles, deleteFiles and referencedDataFiles are empty.

### Query engine

Flink

[2022-08-17 14:12] t0ma-sz opened #5565 "[Spark] Cannot append to Glue table - StorageDescriptor#InputFormat cannot be null for table"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Hello,

I'm trying to test Iceberg on AWS Glue (Glue version 3.0, Spark 3.1).

I was able to create new table, however when I want to append dataframe to the table, I'm receiving following error:
`"Exception in User Class: org.apache.spark.sql.AnalysisException : org.apache.hadoop.hive.ql.m

[2022-08-17 17:11] karuppayya commented on #5543
I think we should be looking up the destination table to assign ids.
Also if we are new ids I think we should be starting from highest id of the  destination table.

[2022-08-17 18:17] kbendick commented on #5548
May I close this issue then @kunal-nandwana (assuming that your question has been answered and the feature request links back to it if need be)?

[2022-08-17 18:18] kbendick commented on #5556
For reference, the issue here is that the user wants to be able to use `mergeScherma` option when writing via `MERGE INTO`.

I'm not sure of a way to support that presently. If somebody does know, please comment 🙂

[2022-08-17 18:19] kbendick commented on #5548
I'm going to proactively close this issue as https://github.com/apache/iceberg/issues/5556 seems to have taken over it, but _please_ feel free to reopen if need be or you'd like to keep it open longer @kunal-nandwana. I'm not the arbiter of issues by any means, just trying to do some housekeeping 🙂

[2022-08-17 18:19] #5548 closed

[2022-08-17 18:25] singhpk234 commented on #5565
I think this is happening because you haven't specified the catalog name in identifier of write to and neither made my_catalog as default ....

can you please try once with 3 part identifier here i.e sparkSession.catalog.tableExists(s"$catalog.$dbName.$tableName")

ref : A ticket stating similar issue : https://github.com/apache/iceberg/issues/2202#issuecomment-786301938

[2022-08-17 19:34] szehon-ho commented on #5543
Yea im not too famililar with the code, but it sounds resaonable to me.

[2022-08-17 20:48] t0ma-sz commented on #5565
Thanks for your input. This line is not creating the issue, it is caused by DataFrameWriterV2.append() method.
`df.writeTo(s"$catalog.dbName.$tableName")
        .append`

Anyway I changed the line you asked, including catalog name in the tableExists method, but I received another error. The error is not there, when I downgraded to Iceberg 0.13.0

Error trace, when I used iceberg 0.14.0 and includ

[2022-08-17 23:14] chajath commented on #3010
I'm seeing the same issue, especially when running spark's thrift server. If I instead use a custom catalog name, it works fine.

[2022-08-18 00:12] #4035 closed

[2022-08-18 00:12] #3920 closed

[2022-08-18 03:21] hililiwei commented on #5557
What is the purpose of using the `Lifecycle keyword`?

[2022-08-18 03:28] hunter-cloud09 commented on #5557
The life cycle of the table can be customized, in order to better manage cold data

[2022-08-18 04:36] singhpk234 commented on #5565
Thanks for getting back.

I think i found the issue here :

wouldn't this be :
 i.e **$dbName** rather than **dbName** in your if tableExists branch

[code]

it should be this right ?

[code]
since you haven't added $ in dbName it is treating it as a string implying your fully qualified name =
"glue_catalog.dbName.mytable" but I think you created "glue_catalog.mydb.mytable" ...

Can you please try

[2022-08-18 04:52] puchengy commented on #4583
@rdblue Hi I want to share some findings after trying to figure out the way to support this based on today's Iceberg community sync https://docs.google.com/document/d/1YuGhUdukLP5gGiqCbk0A5_Wifqe2CZWgOd3TbhY3UQg/edit# So to recap, we agreed that:
- we want to deprecate `metadataFileLocation` method in `TableOperations` interface
- we want to provide a new method in LocationProvider interface (mayb

[2022-08-18 05:51] kunal-nandwana commented on #5556
It would be great help if someone could help in achieving this functionality.. We are struggling to do this thing manually...

[2022-08-18 05:56] kbendick commented on #5556
Just an FYI but I would update the title to be `Feature Request: Support mergeSchema option when using Spark MERGE INTO`. This is more explicit and gets to the heart of what it is you need.

The hints might not be something we can add without changing Spark, but the core of the idea is that you need `mergeSchema` to work with MERGE INTO (which is currently SQL only).

Removing the implementation c

[2022-08-18 05:59] kbendick commented on #5556
Also, what about a table property? Does the table experience writes where you explicitly _do not_ want `mergeSchema`?

Generally, I think `mergeSchem` is safer as a per-query option and is somewhat unsafe as a table level configuration. But Spark makes it somehat hard to support that as there’s no Dataframe support for `MERGE INTO` currently.

For the long run, I’m going to bring up adding a merge

[2022-08-18 06:08] kunal-nandwana commented on #5556
@kbendick... I got your point that Implementing this feature would require spark change... but I see in Iceberg has two steps for create table and then upsert(Merge)... But In case of Hudi.. we can use "Upsert" to work with everthing... But Cataloging in most cool feature in Iceberg really..

Can you suggest me how can I achieve it manually?

I am thinking of this below logic..
1. I have Nested sc

[2022-08-18 08:45] kristoffSC commented on #5101
Hi,
shouldn't this be fixed by
https://github.com/apache/iceberg/issues/3776 ?

[2022-08-18 09:00] t0ma-sz commented on #5565
Hello, thanks for your help. I fixed typo errors (it came when I masked script to hide actual values).

Unfortunately append operation is still not working on Glue environment, I also tried using DataFrameWriter (V1), but the error is the same: `"Exception in User Class: org.apache.spark.sql.AnalysisException : org.apache.hadoop.hive.ql.metadata.HiveException: Unable to fetch table mytable. Storag

[2022-08-18 09:36] ja-michel opened #5567 "[Spark] How do I configure the client factory to ensure it is using the DefaultCredentialsProvider"
### Query engine

Spark 3.3.1 stand-alone
Iceberg 0.14.0
iceberg-spark-runtime-3.3_2.12 0.14.0

[code]

### Question

I'm running a simple spark application in a standalone pod inside and EKS cluster. The pods have a service account associated and the environment variables set:
[code]
This is my Spark configuration (relevant to Iceberg):
[code]
When the spark context starts and the `DefaultAwsClie

[2022-08-18 09:49] nastra commented on #5567
/cc @amogh-jahagirdar is this something you could potentially help out with?

[2022-08-18 11:10] hililiwei commented on #5557
Do you want to use the `Lifecycle keyword` to delete or migrate data automatically?

[2022-08-18 17:06] kbendick commented on #5442
@alexjo2144 @findepi This has been reviewed and a solution seems to be coming: https://github.com/apache/iceberg/pull/5568/files#r949392983

[2022-08-18 19:07] rdblue commented on #5442
Fixed! Thanks for reporting this, @alexjo2144. I've also marked this to be included in the next patch release.

[2022-08-18 20:41] alexjo2144 commented on #5442
Thank you both!

[2022-08-19 00:14] #3913 closed

[2022-08-19 01:15] jessiedanwang opened #5579 "Problem with registerBucketUDF"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark 3.1

spark-shell --packages org.apache.iceberg:iceberg-spark-runtime-3.1_2.12:0.14.0,software.amazon.awssdk:bundle:2.17.243,software.amazon.awssdk:url-connection-client:2.17.243 --conf spark.sql.catalog.my_catalog=org.apache.iceberg.spark.SparkCatalog --conf spark.sql.catalog.my_catalog.warehouse=s3://my_bucket/prefix/ —c

[2022-08-19 01:38] hunter-cloud09 commented on #5557
yep, it seems like that

[2022-08-19 08:26] gaborkaszab opened #5584 "Table remains in HMS when using HiveCatalog.dropTable() after dropping the files of the table from HDFS"
### Apache Iceberg version

0.13.1

### Query engine

Impala

### Please describe the bug 🐞

When you delete the files of a table from HDFS and then call HiveCatalog.dropTable() then TableOperations.current() throws an uncaught NotFoundException and as a result the table won't be erased from HMS as HiveCatalog.dropTable() will exit before running the code to erase the table from HMS.
https://githu

[2022-08-19 09:03] nastra commented on #5584
@gaborkaszab is this potentially related to https://github.com/apache/iceberg/pull/5510?

[2022-08-19 09:59] nastra commented on #5512
The `registerTable()` functionality from https://github.com/apache/iceberg/pull/5037 didn't make it into 0.14.0. However, we do publish nightly snapshot versions off of master (`0.15.0-SNAPSHOT`) so as a workaround you could try and use that version. Otherwise you might have to wait for the next version to be released with this functionality.

[2022-08-19 10:08] ja-michel commented on #5567
I can test different configurations if you can point me in some direction. I tried using the AssumeRole factory, described in the docs [here](https://iceberg.apache.org/docs/latest/aws/#aws-client-customization) and it did try to assume the role but the node role doesn't have permissions to do that.

I also tested a simple python scrip to read the glue databases using boto3 which works as expected

[2022-08-19 10:51] gaborkaszab commented on #5584
Thanks for the pointer, @nastra! Indeed this is a duplicate of #5510

[2022-08-19 11:05] nastra commented on #5584
let's leave this issue open until #5510 fixes this

[2022-08-19 13:06] t0ma-sz commented on #5565
Hello again @singhpk234 ,

I was able to fix the issue by rewriting all the code based on official AWS docs, append function started to working again.
I was not able to fix the `sparkSession.catalog.tableExists(s"$catalog.$dbName.$tableName")`, so I did a workaround that is working as expected:

[code]

Thanks for your help

[2022-08-19 13:06] #5565 closed

[2022-08-19 13:47] asheeshgarg commented on #5512
not able to find the artifactory  location for nightly build. Could you please point me to that.

[2022-08-19 14:02] nastra commented on #5512
You need to use the snapshot repository mentioned in https://infra.apache.org/repository-faq.html. The artifacts themselves are under https://repository.apache.org/content/groups/snapshots/org/apache/iceberg/

[2022-08-19 15:50] danielcweeks opened #5587 "JDBCCatalog does not check for namespace existence on table create"
### Feature Request / Improvement

The JDBCCatalog silently creates namespaces if used in a create statement.  This is non-standard and can result in surprising behavior due to simple typos in create statements.

### Query engine

_No response_

[2022-08-19 20:17] igorcalabria opened #5590 "Support for incremental reads using Spark SQL proposal"
### Feature Request / Improvement

Hi everyone,

I asked around in slack and @singhpk234 pointed me towards https://github.com/apache/spark/pull/34072 where spark rejected the idea of passing DataFrame options via hints, which was a reasonable decision(in my option). The funny thing is that in that thread a user proposed using [table valued functions](https://spark.apache.org/docs/latest/sql-ref-s

[2022-08-19 22:05] rdblue commented on #5587
It should be easy to add a flag to do this check. The default behavior is this way because this was implemented without namespace support initially.

[2022-08-19 22:11] ebyhr opened #5591 "Incorrect table definition after executing rollback_to_snapshot procedure"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Spark returns the latest table definition even after executing `rollback_to_snapshot` procedure.

Steps to reproduce
[code]

The result is same even after I executed `REFRESH TABLE iceberg_test.default.test` after `rollback_to_snapshot`.

Relates to https://apache-iceberg.slack.com/archives

[2022-08-20 00:11] #3909 closed

[2022-08-20 19:53] a-agmon opened #5593 "Reading records inserted using Athena throws UOE exception when read using Spark (AWS)"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

**Description**

1. An Iceberg table has been created and populated in a Spark job (using GlueCatalog)
2. Additional data has been inserted to the table using Athena console or API
3. When I attempt to read new data from the table using Spark  the following exception is thrown

[code]
This

[2022-08-21 00:13] #3903 closed

[2022-08-21 04:49] a-agmon commented on #2692
Hi,
Please see an example for this here - #5593  - would be for your advice
It happens when data is inserted to an Iceberg table via AWS Athena, _even though the table was created via Spark_.
Also - disabling via `config("spark.sql.parquet.enableVectorizedReader", "false")` doesnt seem to work.

[2022-08-21 06:26] singhpk234 commented on #5593
iceberg doesn't uses spark's vectorized reader, the conf above will not work if you are trying to disable vectorized reads.
Can you please try with setting this table property to false.
`read.parquet.vectorization.enabled`, ref [PR](https://github.com/apache/iceberg/pull/4196/files)

[code]

As per this [PR](https://github.com/apache/iceberg/pull/2749#issue-932081813) looks like this is a know iss

[2022-08-21 06:31] kbendick commented on #5593
It seems like you’re encountering this issue, regarding Parquet V2 (Athena is a variant of Trino / PrestoSQL): https://github.com/trinodb/trino/issues/7953

I think that @singhpk234’s solution should work.

If not, I would see if Athena has the ability to disable PARQUET_2_0 format (the parquet v2 writer format specification).

But again, @singhpk234’s solution should hopefully resolve this issue.

[2022-08-21 06:53] a-agmon commented on #5593
confirming that the solution proposed by @singhpk234 works.
creating the table as follows within Spark does not generate the issue and records now can be inserted from Athena and read by Spark.

[code]
Thank you very much!

Is there a way to create a table with this property enabled using Athena?  (more accurately using a python client - with AWS this is usually done via AWS wrangler that uses Ath

[2022-08-21 07:28] #5593 closed

[2022-08-22 00:13] #4068 closed

[2022-08-22 00:13] #4065 closed

[2022-08-22 01:29] Cqz666 commented on #5509
@pvary Thanks, your are right. I will close the issue

[2022-08-22 01:30] #5509 closed

[2022-08-22 07:26] vamen commented on #5584
We also face this issue
A lot of our team mates delete data file in hdfs or s3 because they got used to hadoop catalog based iceberg tables.
when we switched to glue catalog based iceberg table. we used to face this issue.

[2022-08-22 07:32] vamen opened #5604 "Delete table entry from Glue data catalog if corresponding table metadata files are deleted in s3"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

For iceberg table entry in glue catalog.
if table metadata file is already deleted in s3 then we get EntityNotFoundException exception when call drop table command. we then have to manually delete the table entry in GlueCatalog using glue apis.
can we update the drop table behavior

[2022-08-22 07:45] vamen opened #5605 "Add validation in HiveCatalog class on table name and table length such that table name should be in small case and should be less then 128 chars."
Apache Iceberg version
0.14.0 (latest release)

Query engine
No response

Please describe the bug 🐞
In HMS all tables are created  with smaller case.
even when we call create table statement with table in upper case.
Hence should we add validation in HIveCatalog , similar to validation in Glue catalog that hive catalog based table names should all be in smaller case ?.

This will help to keep the

[2022-08-22 08:09] Fokko commented on #5591
I'm able to reproduce it and it looks like the data is rolebacked, but the schema isn't.

[code]

    SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
    SLF4J: Defaulting to no-operation (NOP) logger implementation
    SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

<table>
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
    </t

[2022-08-22 08:29] vamen opened #5606 "Support to write a custom partition transforms in iceberg"
### Feature Request / Improvement

Some times we often need to partition the column based on  transforms that are not  one among the already defined Partition Transforms[ 🔗](https://iceberg.apache.org/spec/#partition-transforms).

It would be great if there is a way to create custom partition transform by extending some base transform class and plug in the custom transform class in the spark confi

[2022-08-22 09:44] vamen opened #5607 "Add an API to pessimistically lock and unlock the iceberg table in catalog."
### Feature Request / Improvement

Though it is rare, but it often happens that spark gets shut down when the iceberg table write is still in progress and dangling lock is left in hive_locks table and subsequent run gets failed because of lock present in hive_lockcs table. I bet this issue happen occasionally in other tables which are used for locking.
In such cases we manually unlock the table us

[2022-08-22 12:17] chajath opened #5608 "Use DefaultAWSCredentialsProviderChain for AWS credentials"
### Feature Request / Improvement

[DefaultAWSCredentialsProviderChain](https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/DefaultAWSCredentialsProviderChain.html) is preferred way of getting the AWS credentials and it works around the problem of for example instance-based credentials overriding service account based credentials on k8s. Inconsistency in AWS credential resolut

[2022-08-22 13:44] Fokko commented on #5591
@ebyhr Thanks for reporting this, this looks like a bug 🐛  I've created a PR to fix this, but I would love to get some input from other maintainers.

[2022-08-22 14:33] jessiedanwang commented on #5579
@singhpk234 do you know what might be wrong here? thanks for looking into it

[2022-08-22 15:01] chajath opened #5611 "S3FileIO fails with java.lang.NoSuchMethodError: 'void software.amazon.awssdk.utils.IoUtils.closeQuietly(java.lang.AutoCloseable, software.amazon.awssdk.thirdparty.org.slf4j.Logger)'"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Installed these packages as per the doc:
[code]

When using S3FileIO:

[code]

I get the exception:

[code]

[2022-08-22 15:23] chajath commented on #5611
Changing aws sdk version to `2.17.257` seems to have fixed the issue. Could this be a bug from AWS SDK's bundling?

[2022-08-22 15:32] rdblue commented on #5591
This isn't a bug. Metadata and data updates are intended to be separate, although I can see why there are cases where you'd assume that they are not.

If you update the schema and commit data in a single job, then it isn't unreasonable to assume the schema change would be rolled back. But if I concurrently add a column while someone else commits, then a rollback should be independent. Expectations

[2022-08-22 16:28] Fokko commented on #5591
@rdblue thanks for the background information. I see the point.

One question, are there situations where it is possible to do a rollback, but still have additional data being written? I would expect that the rollback would cause a conflict on a concurrent write. And then it would fail because of a schema mismatch.

[2022-08-22 18:07] Fokko commented on #5611
Thanks for raising this @chajath. 0.14.0 builds with 0.14.0:

https://github.com/apache/iceberg/blob/0.14.x/versions.props#L27

I tested locally, and also it runs fine with `2.17.257` so not sure where this comes from. Do you have any steps to reproduce this?

[2022-08-22 18:18] flyrain commented on #4046
This is not fixed yet AFAIK. We need it to be open. I don't have the permission to add/change a label.
cc @aokolnychyi @rdblue

[2022-08-22 18:49] stevenzwu opened #5613 "Flink: throttle FLIP-27 source enumerator for split discovery when Flink job is falling behind in streaming execution"
### Feature Request / Improvement

Right now, FLIP-27 source eagerly discover all available splits from Iceberg table using incremental append scan. If the Flink job is falling behind with a lot of snapshots and data files, eagerly discovering all available splits can overwhelm enumerator with too many pending splits. It can increase memory pressure and enumerator checkpoint size. There is really

[2022-08-22 18:59] rdblue commented on #4046
@flyrain, commenting will keep the issue alive.

[2022-08-22 19:26] rdblue commented on #5591
Schema evolution rules allow always being able to write with an older schema, so that there is no need to check whether the schema a writer is using is allowed. That cuts down on commit conflicts, but it also means that schemas should always be rolled forward and never backward. I don't think that we want to start adding extra validation to support a case where we roll back a schema.

[2022-08-22 21:26] stevenzwu commented on #2108
There are generally two ways. Interesting to get inputs from the community.

* Publish Flink watermark as a snapshot metadata field or table property
    * Pro: reuse Flink watermark concept. might seems more natural.
    * Con: Is the Flink watermark always a good completion signal for the Iceberg table?
* Extract watermark signal using min-max column stats for the timestamp column that is used t

[2022-08-22 22:41] chajath commented on #5611
If it helps finding the bug, it sometimes works ok for me if I'm running it locally, as well. But when I deploy the pipeline and run it on k8s, there I saw the problem.

[2022-08-23 02:32] xuzhiwen1255 opened #5614 "Flink : Writing iceberg data through Flink is inaccurate"
### Apache Iceberg version

0.13.1

### Query engine

Flink

### Please describe the bug 🐞

versions
 flink : 1.14.5
 iceberg : 0.13.1 and master

### Problem description
I wrote 500 million data by Flink `datagen` collector to Iceberg. When I `selecte count(*) from t`, I found that the actual data exceeded 500 million

### Operation steps

[code]

#### Problems that arise
<img width="606" alt="im

[2022-08-23 03:17] owencwl commented on #4550
内部有重试机制，以下文件有可能存在(某一个)：
snap-3945735870507280368-2-da80199a-d69d-4617-8033-824d5c01ee57.avro
snap-3945735870507280368-3-da80199a-d69d-4617-8033-824d5c01ee57.avro

我也出现过此问题：
当hive-metastore或者内部的mysql,重启、挂掉、宕机时，然后继续向iceberg写数据时，就会出现snap-xxxx-x-xxx.avro找不到文件，可能iceberg在生成minifastList文件和commit时存在bug

[2022-08-23 05:08] joan38 commented on #179
Hi, Is this solved with https://github.com/apache/iceberg/pull/2660?

[2022-08-23 09:22] allenhaozi opened #5620 "Can use HadoopCatalog to create Iceberg on S3?"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

_No response_

### Please describe the bug 🐞

like the following code:
[code]

[2022-08-23 09:29] Fokko commented on #5620
Hey @allenhaozi You can, but it is highly discouraged. The HadoopCatalog relies on atomic renames that HDFS provides, and this isn't supported by object storage like S3. Therefore using a catalog is the recommended way of doing this.

[2022-08-23 10:50] chajath commented on #5611
Even with the latest `2.17.257` I see the issue:

[code]

It doesn't happen always, so its hard to tell how to reliably reproduce the issue. But I saw it especially in a long-running job (say >10 hr-ish)

[2022-08-23 12:14] allenhaozi commented on #5620
thank you @Fokko

Is there a sample code for Java here? I am new to Java.

[2022-08-23 12:17] #3905 closed

[2022-08-23 12:31] Fokko commented on #5620
Depends on what you're trying to achieve. In the case you're new to Java, you could create Iceberg tables using Spark SQL: https://iceberg.apache.org/docs/latest/getting-started/

[2022-08-23 16:57] chajath commented on #5611
Looking at it a bit further, I see that `url-connection-client` depends on the `utils` package, which has un-shaded function signatures. Depending on class load order, can this overrule shaded functions we find in the bundle package, thereby causing no such method issues? I would advise against using bundle at all and just import individual aws packages.

[2022-08-23 22:14] stevenzwu commented on #1698
@rdblue @pvary I updated the description with some high-level thoughts on how this can potentially achieved. Can you please share your thoughts?

[2022-08-23 23:47] rdblue commented on #1698
@stevenzwu, I think that we should introduce a JSON format and parser for these tasks. The information in a `FileScanTask` has been stable for a really long time so it wouldn't be a problem to maintain it. And we've had other projects ask for this before as well, since it is more common to use JSON to serialize in some settings. Trino uses JSON for RPC and we've also recently discussed adding job

[2022-08-24 00:13] #4086 closed

[2022-08-24 00:13] #4074 closed

[2022-08-24 00:13] #3951 closed

[2022-08-24 00:37] stevenzwu commented on #1698
@rdblue JSON would work, although it is less efficient in terms of space and serialization. But I see the benefit that it can be useful in some other scenarios.

[2022-08-24 01:48] xuzhiwen1255 commented on #5614
@nastra @kbendick Take a look at this problem. I have tested it many times, and the result is still the same.Each time, it was more data than I expected

[2022-08-24 02:26] allenhaozi commented on #5620
got it, thank you @Fokko

[2022-08-24 02:26] #5620 closed

[2022-08-24 02:36] xujiangfeng001 opened #5623 "[Question] Flink SQL read upsert data from iceberg"
### Query engine

Flink 1.14.4

### Question

In the "iceberg 0.13.2" version, does it support streaming Flink SQL to read upsert data？

[2022-08-24 02:58] stevenzwu commented on #1698
@aokolnychyi would also like to get your input. With the recent changelog scan, we may also need to document the JSON format for those changelog scan tasks in the future. not needed right now especially as we are still iterating on those interfaces.

[2022-08-24 07:06] JanKaul commented on #5122
+1 for rust SDK

[2022-08-24 07:28] spancer commented on #4550
anyway to reproduce this issue?

[2022-08-24 09:22] dotjdk opened #5625 "Structured Streaming writes to iceberg table with non-identity partition spec breaks with spark extensions enabled"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

I am running a spark structured streaming job reading data from Kafka and writing to an Iceberg table partitioned by `days(timestamp)`.

When `IcebergSparkSessionExtensions` are enabled, my job fails with `org.apache.spark.sql.AnalysisException: days(timestamp) ASC NULLS FIRST is not curren

[2022-08-24 11:05] vamen opened #5626 "Support bucket transform on multiple data columns"
### Feature Request / Improvement

Currently (iceberg 0.14.1)  iceberg supports bucketing on only one data column. i.e. bucket(N, col).

Bucketing is a very important feature in Iceberg. Bucketing helps in filtering and narrowing down the files required to answer the query. As we know, querying on primary key is the major pattern. Hence bucketing on primary key speeds up the primary key based quer

[2022-08-25 02:15] calvin-pietersen commented on #5414
Also having issues with kryo serialization of `ImmutableMap` for `S3FileIO`. Was trying to register a customer serializer for `org.apache.iceberg.relocated.com.google.common.collect.SingletonImmutableBiMap` as suggested above, however I was still getting kryo exceptions.  Turns out, there are other concrete implementations of ImmutableMap that could potentially fail to serialize. So I just seriali

[2022-08-25 10:06] 95liu opened #5630 "Failed to start the Flink task (write iceberg)"
### Apache Iceberg version

_No response_

### Query engine

_No response_

### Please describe the bug 🐞

use iceberg-flink-runtime:jar:0.12.1

`Caused by: java.lang.IllegalStateException: org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.SI
        at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.LocalCacheFactory.newBoundedLocalCache(LocalCacheFactory.java:101)

[2022-08-25 10:47] Fokko commented on #5630
Hey @95liu, thanks for opening a ticket. Which version of Flink are you using? Please note that you're using a rather old version of Iceberg, I would recommend updating that as well 👍🏻

[2022-08-25 11:01] idealspark commented on #4472
we have the same problem
avro files does not exist in the location, but the JSON file referencing them does

how do you resolve this problem , what is mean CL2 ?

[2022-08-25 12:09] linyanghao opened #5631 "API/Core: Add metadata field to NestedField"
### Feature Request / Improvement

In ML scenarios, we may want Iceberg schemas to include additional information about a field. For example:
For an integer field representing a feature, we need information indicating whether the feature is continuous or categorical:
[code]
For a list field representing multiple features, we may want information on some of the features:
[code]
For a binary field r

[2022-08-25 12:34] MichaelTiemannOSC commented on #4472
@idealspark CL2 is the name of a specific instance of Trino/Iceberg that we use at OS-Climate.  I should have mentioned it only in the os_c_data_commons issue listed above, not in this apache/iceberg thread.  My advice would be to open a fresh issue here with the details of your problem, and maybe you can get that solved.

[2022-08-25 18:56] sumeetgajjar opened #5634 "jmh benchmarks under org.apache.iceberg.spark.data.parquet package are failing"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

The jmh benchmarks under `org.apache.iceberg.spark.data.parquet` package are failing due to `IllegalArgumentException`.

The `ParquetToSparkSchemaConverter` class in Spark3.3 expects `SQLConf.CASE_SENSITIVE` in the `Configuration`.
However, the above config is not specified while instantiat

[2022-08-25 18:57] sumeetgajjar commented on #5634
I'm working on the fix, will publish a PR soon.

[2022-08-25 19:53] jasondavindev opened #5637 "Unsupported partition transform"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Athena

### Please describe the bug 🐞

In the below scenarios Athena returns `GENERIC_INTERNAL_ERROR: Unsupported partition transform: 1000`

- Write dataset using overwrite mode
- Changes table partition fields

I have a table partitioned by the `date` column and after I changed the partition field to `months(date)` Athena can

[2022-08-26 00:13] #4063 closed

[2022-08-26 02:33] zhushanwei commented on #5404
The following property are used when create tables，but the same error occurred：

'write.distribution-mode'='hash',
'format-version'='2',
'write.upsert.enable'='true',
'write.metadata.metrics.default'='full',
'write.metadata.delete-after-commit.enabled'='true',
'write.metadata.previous-versions-max'='5'

[2022-08-26 06:42] singhpk234 commented on #5637
As per this doc, Athena  only supports Iceberg V2 Tables. : https://docs.aws.amazon.com/athena/latest/ug/querying-iceberg.html

"_**Iceberg v2 tables – Athena only creates and operates on Iceberg v2 tables. For the difference between v1 and v2 tables, see [Format version changes](https://iceberg.apache.org/spec/#appendix-e-format-version-changes) in the Apache Iceberg documentation.**_"

By defaul

[2022-08-26 08:10] dotjdk opened #5641 "Core: Metadata min/max stats nulled after updating partition spec and rewriting manifests"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

If we create a table with `format-version = 2` and replace the partition spec after table creation, we are unable to read data from the table after executing a `rewrite_manifests`

If we look in the metadata after the manifest rewrite, the min/max stats for the partition has been nulled in

[2022-08-26 08:16] Fokko commented on #5641
I'm able to reproduce it on my side:

## Works with V1:

[code]

<table>
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

[code]

<table>
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

[code]

    22/08/26 07:33:13 WARN BaseTransaction: Failed to load metadata for a committed snapshot, skipping clean-up

<table>
    <the

[2022-08-26 08:18] dotjdk commented on #5641
Yes, v1 doesn't have the issue. And v2 doesn't have the issue if the partition spec was specified on table creation and not modified after.

[2022-08-26 08:30] Fokko commented on #5641
## Broken V2
[code]

## Working V1

[code]

[code]

[code]

[2022-08-26 23:39] sumeetgajjar opened #5646 "Documented drop table behavior for Spark is outdated."
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

#3056 added support for `PURGE` flag to Spark.
However, the corresponding `DROP TABLE` doc is outdated: https://iceberg.apache.org/docs/latest/spark-ddl/#drop-table

[2022-08-28 00:16] #4093 closed

[2022-08-28 00:50] szehon-ho opened #5649 "Error projecting nested structs from manifests table"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Found this issue while adding tests for https://github.com/apache/iceberg/pull/5376, realized its not supported for other metadata tables as well where it's possible to do nested projection

Example: Following query hits an exception:

[code]

[2022-08-28 10:06] ldwnt opened #5652 "DecoderResolver may lead to OOM of flink jobs writing to iceberg tables"
### Apache Iceberg version

0.13.1

### Query engine

Flink

### Please describe the bug 🐞

I have a flink job writing to iceberg tables. When the job runs for several days, an OOM occurs. The reason is described below:

The DecoderResolver holds a ThreadLocal variable of a two-layer map:
[code]

The outer map has a weak key while the inner map has a strong one. As the inner map holds a reference

[2022-08-28 16:18] amogh-jahagirdar opened #5653 "Performing file deletion in ExpireSnapshots with Branching and Tagging"
### Performing file deletion in ExpireSnapshots with Branching and Tagging

After the change in https://github.com/apache/iceberg/pull/4578 for updating the expire snapshots procedure to respect retention policies for branching and tagging, one significant limitation is that incremental file deletion as part of the procedure cannot be performed. The procedure will fail if cleaning expired files is

[2022-08-28 23:49] rbalamohan opened #5658 "Request to change default parquet compression from gzip to snappy"
### Apache Iceberg version

0.13.0

### Query engine

_No response_

### Please describe the bug 🐞

GZIP has been the default compression for parquet files written via iceberg. "write.parquet.compression-codec" defaults to gzip. Snappy has been widely used for faster compression/decompression and has been the default in many engines (e.g Spark defaults to snappy compression). It will be nice to ha

[2022-08-29 00:13] #4131 closed

[2022-08-29 09:17] Fokko commented on #5641
Found the root issue:
![image](https://user-images.githubusercontent.com/1134248/187167760-7342b309-5d79-4c4a-b3a1-73a895e4e902.png)

It turns out that we select all the partition fields (the old and new ones), but we only update the statistics on the current partition keys, and this one is null. PR follows.

[2022-08-29 09:19] dotjdk commented on #5625
I have created a PR with the patch applied (slightly modified) https://github.com/apache/iceberg/pull/5660

[2022-08-29 12:17] xuzhiwen1255 opened #5663 "Support for z-order range mapping sort"
### Feature Request / Improvement

Current sorting method, if the prefix is the same, such as URL: https://www. First or other contents, then the sorting effect of taking the first few bits is meaningless

Range is mapped as follows:
1. Sample the data, partition all the data according to the sampled data, and then use the partition number of the data as the Z value of the data
2. Cross the Z valu

[2022-08-29 12:29] xuzhiwen1255 opened #5664 "Flink: Metric can be selectively enabled or disabled"
### Feature Request / Improvement

After the test, the writing efficiency will be affected after the Metric is enabled. Can we selectively enable the Metric? Because some scenarios do not need or users do not need the Metric, disabling the Metric can improve the performance to a certain extent

CC: @rdblue @jackye1995 @namrathamyske @aokolnychyi @rdblue @kbendick @szehon-ho @nastra

### Query engi

[2022-08-29 22:01] flyrain commented on #2311
According to the way Iceberg handles the partition, we probably never support a command to add/remove/rename a partition. We can still support the `Show partitions`, that's basically a call to metadata table https://iceberg.apache.org/docs/latest/spark-queries/#partitions.
[code]

[2022-08-30 11:53] Shane-Yu opened #5671 "The upsert mode can query the historical version of the data under certain conditions"
### Apache Iceberg version

0.13.2

### Query engine

Hive

### Please describe the bug 🐞

   In Iceberg upsert mode, create v2 table like this：

  Write data to iceberg with Flink like the code below:

And send  data to like this:

![image](https://user-images.githubusercontent.com/26053387/187426590-57fc1d33-e07e-4892-b148-96253eebf786.png)

 Finally, using hive and spark both got the following

[2022-08-30 11:57] Shane-Yu commented on #5671
@rdblue @openinx @stevenzwu @kbendick   Can you guys take some time to look at this？

[2022-08-30 13:33] rajan-v opened #5673 "Support for new offset based deletion interface deleteOffsetFromDataFile in DeleteFiles"
### Feature Request / Improvement

Support for another interface in DeleteFiles
_DeleteFiles  deleteOffsetFromDataFile(Map<String, String> dataFileAndOffsetFileMap)_
https://iceberg.apache.org/javadoc/master/org/apache/iceberg/DeleteFiles.html

**Context**:
If we process datafile directly and derive that for a datafile we need to delete records at certain offsets, then we need some interface from

[2022-08-30 14:55] msb1 commented on #5630
If you are using gradle and creating shadow jar; do not use minimize()... Was doing build with
      shadowJar {
          minimize()
          zip64 true
      }
in build.gradle. Had identical error message to what is shown in first post above.

Changed to
      shadowJar {
          zip64 true
      }
in build.gradle and error is gone. Appears that minimize() was removing shaded caffeine from fa

[2022-08-31 04:08] dmgcodevil opened #5675 "Limit the number of files for rewrite/compaction action"
### Query engine

Flink

### Question

We have a streaming Flink job that continously consumes records from Kafka and stores them into Iceberg.
The [RewriteDataFilesAction](https://github.com/apache/iceberg/blob/master/flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/actions/RewriteDataFilesAction.java) is getting slower over time and `TaskManager` is starting to fail with OOM. Is it possi

[2022-08-31 06:04] dotjdk opened #5676 "Core: Dropping an old partition column causes NPE (and corrupt metadata on v2 tables)"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

On a format version 2 table, dropping an old partition column on an iceberg table causes a `NullPointerException` in `PartitionSpecBuilder`, and every subsequent operation on the table throws the same exception.

[code]

On a v1 table, the table is still accessible after, but the `ALTER TAB

[2022-08-31 06:46] tongwei opened #5677 "Why spark data locality is disable by default when FileSystem scheme is not hdfs"
### Query engine

spark

### Question

When I test iceberg with alluxio and spark, I notice that locality is disable by default when FileSystem scheme is not hdfs. To enable this I can only use `spark.read.option("locality",true).table("table_name")` to make spark use locality. Why disable locality  when FileSystem scheme is not hdfs. Can we enable this by default.

[2022-08-31 06:48] tongwei commented on #5677
[
![UvqGOmq3fK](https://user-images.githubusercontent.com/32157039/187612031-89a21480-9dda-4981-9d2b-4d0a9b2dda6d.jpg)
](url)

[2022-08-31 12:00] openinx commented on #5671
Do you mean:  it should see empty row set when execute the following SQL ?

[code]

[2022-08-31 12:25] zlzhang0122 opened #5678 "Add ribbon filter policy option for Parquet formats"
### Feature Request / Improvement

Ribbon filter can efficiently enhance the read and reduce the disk and memory usage, maybe iceberg can also support it.(more details about ribbon filter can see http://rocksdb.org/blog/2021/12/29/ribbon-filter.html)

### Query engine

_No response_

[2022-08-31 17:28] #5468 closed

[2022-08-31 22:37] #5637 closed

[2022-09-01 06:45] kbendick commented on #5676
I think you're supposed to use `DROP PARTITION FIELD days(ts)`. Or dropping the column directly.

Here's some examples from the tests: https://github.com/apache/iceberg/blob/84f40cff9b98ee15b706289e551078355bb8a7a5/spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java#L397-L422

I'm wondering if that's a correct usage of `REPLACE PARTITION

[2022-09-01 06:48] kbendick commented on #5676
All of the examples of `REPLACE PARTITION FIELD` seem to be a transform of the same type:

Here's the actual SQL definition:
[code]

But here's the examples I could find:
[code]

But this does seem like a bug. Did this still happen if the table was refreshed in between alter table statements?

[2022-09-01 06:49] kbendick commented on #5676
I think it needs to still use `DROP PARTITION FIELD days_of_ts` in order to properly clean up the data, as that column is still a partition field in older snapshots. But again, this does seem like a bug.

[2022-09-01 08:00] dotjdk commented on #5676
Yes, it still happens with `REFRESH TABLE` in between.

The last two examples you posted from the `TestAlterTablePartitionFields` testcase looks like exactly what I am doing, except the I drop the old field from the table afterwards.

[2022-09-01 08:02] dotjdk commented on #5676
I expected `REPLACE PARTITION FIELD` to be a single snapshot operation version of `DROP` and `CREATE`, but that may be wrong. I haven`t tested this doing it in two operations. I will try that when I have a free moment and report back.

[2022-09-01 08:13] dotjdk commented on #5676
I couldn't wait, so I just tried it.

Same result using `DROP` and `ADD`

[code]

[2022-09-01 08:50] singhpk234 commented on #5676
As per my understanding, I think the issue here is that we are trying to bind all partition specs to to current schema which will always not be possible.

For ex : we find current schema and assign this to local var `schema`

https://github.com/apache/iceberg/blob/84f40cff9b98ee15b706289e551078355bb8a7a5/core/src/main/java/org/apache/iceberg/TableMetadataParser.java#L344-L351

we bind all partitio

[2022-09-01 09:30] Fokko commented on #5676
@kbendick The tests are different, it doesn't drop the source column.

I did some digging around in the code, and we bind the partition spec right away because we need the column type for the transform. There is a PR https://github.com/apache/iceberg/pull/5601 that will decouple this, and then we can also solve this issue.

A simple test reproduces this behavior:
[code]
I think this should be quit

[2022-09-01 09:34] #3224 closed

[2022-09-01 13:35] #4222 closed

[2022-09-01 19:48] #5604 closed

[2022-09-01 19:50] rdblue commented on #5584
Merged #5510, so I'll close this. Thanks, @yabola!

[2022-09-01 22:38] #5584 closed

[2022-09-02 03:11] ebyhr commented on #5591
Could you please document the behavior? I believe the current behavior isn't intuitive and I saw some other people said "it's a bug".

[2022-09-02 06:00] #5404 closed

[2022-09-02 06:22] Fokko commented on #5641
This has been fixed in https://github.com/apache/iceberg/pull/5691, thanks @rdblue. And thanks @dotjdk for reporting, much appreciated. Otherwise we wouldn't have caught this 🐛

[2022-09-02 06:22] #5641 closed

[2022-09-02 08:04] linyanghao opened #5692 "Spark: Check for hive support when using SparkSessionCatalog"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

If hive support is not enabled for SparkSession, Spark will use in-memory catalog for its built-in catalog. This leads to Iceberg's SparkSessionCatalog delegating requests to the in-memory catalog, which can be confusing since user expects requests to be handled by hive catalog.
For example

[2022-09-02 22:18] snth commented on #5122
+1 for Rust SDK

[2022-09-03 00:12] #3901 closed

[2022-09-04 03:31] trymeok commented on #4281
We are still waiting on this

[2022-09-05 00:15] #3900 closed

[2022-09-05 08:34] manuzhang opened #5706 "Not dropping stats when scanning all columns caused Spark driver exceeding GC limit"
### Apache Iceberg version

0.13.1

### Query engine

Spark

### Please describe the bug 🐞

We recently migrated a Spark parquet table to Iceberg table. With the same query scanning all columns and return 10 rows, the Spark job after migration failed due to driver exceeding GC limit.

[code]

The driver memory is set to 4g. After dumping the driver memory, I find it's most taken up by the stats li

[2022-09-05 09:06] manuzhang commented on #5706
@rdblue @yyanyy Do you know why we not drop stats for `ManifestReader.ALL_COLUMNS`?

[2022-09-05 11:10] findepi commented on #5591
From end-user perspective, there is a difference between

1. querying table state at given snapshot -- at least in Trino, this uses the "schema current at that time", so includes columns that have been dropped since then

2. query table state after rollback_to_snapshot -- if this uses current schema, this doesn't include columns that have been dropped since the snapshot

Now consider example

[cod

[2022-09-05 11:43] Fokko commented on #5515
Thanks for letting us know that it works @VasilyMelnik 👍🏻

[2022-09-05 11:43] #5515 closed

[2022-09-05 11:51] Fokko commented on #5676
Created a PR: https://github.com/apache/iceberg/pull/5707

[2022-09-05 11:52] Shane-Yu commented on #5671
Yeah, the result should be empty. This seems to be the problem of this PR https://github.com/apache/iceberg/pull/4316#issuecomment-1066097462, but this phenomenon only occurs for parquet files and 'write.metadata.metrics.default'='full'. When putting 'write.metadata.metrics.default'='count', the problem goes away.

[2022-09-05 13:44] #5658 closed

[2022-09-06 01:54] openinx commented on #5122
For more discussion about introducing C++ SDK & Rust SDK, please see the original mail list: https://lists.apache.org/thread/lf8gw4yk9c6l580o6k7mobg2y91rpjvp

[2022-09-06 08:56] ymZhao1001 opened #5711 "Core：Collect filesizeinbytes to the manifest"
### Feature Request / Improvement

we can collect datafile filesizeinbytes like :
TableScan scan = table.newScan();
Iterable<CombinedScanTask> result = scan .planTasks();
CombinedScanTask task = result.iterator().next();
DataFile dataFile = task.files().iterator().next().file();

on the other way wce can retrieve the additional information by reading manifests.
In order to read filesizeinbytes in

[2022-09-06 14:01] yohengyang commented on #3741
long time no see, https://github.com/apache/iceberg/pull/5206

[2022-09-06 18:04] szehon-ho commented on #5664
Metrics are able to be selectively enabled: https://iceberg.apache.org/docs/latest/configuration/#write-properties.  see "write.metadata.metrics.column.col1"

[2022-09-06 19:22] snth commented on #5122
@openinx Thanks for the link but that discussion is also a few months old and I didn't really see a conclusion.

My mostly uninformed opinion is that there currently is a battle in this space for the predominant table format between Iceberg and Delta. From what I've seen Iceberg looks like the better format but is less well supported. Delta has good Rust support. I'd like to set up a small scale D

[2022-09-06 20:18] JanKaul commented on #5122
I'm currently trying to extend the existing https://github.com/oliverdaff/iceberg-rs repo to get a working rust iceberg implementation. If anyone wants to contribute, it would be awesome. Just getting some input on the architecture would be helpful.

[2022-09-07 00:12] #4209 closed

[2022-09-07 00:12] #4204 closed

[2022-09-07 00:12] #4137 closed

[2022-09-07 02:14] stevenzwu commented on #5652
@ldwnt while your analysis on the inner map makes send to me, I have a couple of questions.

- shouldn't `DecoderResolver` only be used by reader (not writer)?
- I assume you confirmed the memory issue from a heap dump?

[2022-09-07 02:44] hunter-cloud09 opened #5714 "docs: Hyperlink jump error"
### Feature Request / Improvement

Hyperlink jump error in docs/flink/flink-getting-started.md

### Query engine

Flink

[2022-09-07 02:45] hunter-cloud09 commented on #5714
I also make a pr

[2022-09-07 02:48] openinx commented on #5122
@snth I'd like to see what's the scenario that you want to access iceberg table by non-jvm tools (if you don't mind).

I agree that it's great thing to support iceberg in rust or other native languages.   From the current discussion, I see [risingwave](https://github.com/risingwavelabs/risingwave) and [starrocks](https://github.com/StarRocks/starrocks)  are requiring to integrate into iceberg data

[2022-09-07 13:06] cccs-eric opened #5719 "Avro invalid sync since upgrade to Spark 3.3.0 and Iceberg 0.14"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

I have a Spark job that used to run fine until I upgraded my stack to Spark 3.3.0/Iceberg 0.14.  The job has been running flawlessly and since the upgrade, I get an error (`org.apache.iceberg.shaded.org.apache.avro.AvroRuntimeException: java.io.IOException: Invalid sync!`) ~80% of the time.

[2022-09-07 13:18] nastra commented on #5719
@cccs-eric can you please share which version of Iceberg and Spark you were previously using where things were working?

[2022-09-07 13:28] cccs-eric commented on #5719
@nastra Spark 3.2.1 and Iceberg 0.13.2.  And we also upgraded to Java 11 (from Java 8).

[2022-09-07 14:57] mrendi29 opened #5721 "Registering BucketUDF on PySpark"
### Query engine

Apache Spark (PySpark)

### Question

On https://iceberg.apache.org/docs/latest/spark-writes/#writing-to-partitioned-tables if you need to register the bucket UDF you can do so by:

[code]
How would we do this in PySpark? Does the method below work or is there another suggested method?

[code]

[2022-09-07 16:57] cccs-eric commented on #5719
Not that I'm aware of.  It seems like this workload is the only one that has this problem, and we have many others that do `rewrite_data_files`.  So maybe this job does something different.  When a `rewrite_data_files` using bin packing occurs, is Iceberg concatenating Avro files (manifests)?  In my case, data is in parquet and metadata is in Avro.

[2022-09-07 19:34] shiyancao commented on #2039
hi @wmoustafa - could we have a summary where we stand on this issue? It is a very important feature for us.

[2022-09-07 20:47] stevenzwu commented on #5675
@dmgcodevil not quite following option 1 that you described. that will skip some files for compaction, right?

seems like the `lookback` is the right knob for your problem.

[2022-09-08 00:15] #4226 closed

[2022-09-08 00:15] #4224 closed

[2022-09-08 10:01] Fokko opened #5728 "Catch internal exceptions"
### Feature Request / Improvement

For PyIceberg, we want to catch the exceptions thrown by s3fs/pyarrow/etc and turn them into a pyiceberg exception:

[code]

This makes it easier for the end-user to handle the exceptions, and doesn't have to care about the implementation details

### Query engine

Other

[2022-09-08 15:04] aokolnychyi commented on #1698
I am also +1 on trying to come up with a reasonable JSON representation. Handling job planning via the REST catalog is something I'd be interested to see.

[2022-09-08 16:06] stevenzwu commented on #1698
Anton, thanks a lot for the input. Looks like we have a direction moving forward.

[2022-09-08 23:21] #4168 closed

[2022-09-08 23:21] rdblue commented on #4168
The fix for this was released in 0.14.1

[2022-09-09 00:14] #3899 closed

[2022-09-09 03:19] Kontinuation commented on #3950
It was fixed by https://github.com/apache/iceberg/pull/5126 I believe, maybe we can close this issue.

[2022-09-09 05:19] manuzhang commented on #5706
@rdblue Thanks for pointing out that it's manifest columns being projected. Also, with `rowFilter` being `true` `dropStats` is `false` regardless of the columns. Disabling parallel planning only has made it slower but not solved the memory issue.

After more debugging, I find [all stats are read from manifest file](https://github.com/apache/iceberg/blob/apache-iceberg-0.13.1/core/src/main/java/org

[2022-09-09 05:43] KarlManong opened #5732 "iceberg's spark-runtime version 0.14 jar contains scala classes rather than 0.13 may cause ClassCastException"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Other

### Please describe the bug 🐞

When using [kyuubi](https://kyuubi.readthedocs.io/en/latest/), I got an exception:

<img width="1428" alt="企业微信截图_7d656f74-2b0f-416d-b643-1816c8973e38" src="https://user-images.githubusercontent.com/2627662/189279089-a47ad23a-324b-47a1-a115-9d4585f52128.png">

After compared version 0.13.2

[2022-09-09 22:23] mohitgargk opened #5739 "unresolved operator 'ReplaceData when mergeInto involves not null join keys"
spark 3.1.2 + iceberg 0.14.1 has been running successfully.
spark 3.2.0 + iceberg 0.14.1 results in following error

**Command**
`./bin/spark-shell --packages org.apache.iceberg:iceberg-spark-runtime-3.2_2.12:0.14.1    --conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions     --conf spark.sql.catalog.spark_catalog=org.apache.iceberg.spark.SparkSessionCatalog

[2022-09-10 00:14] #3898 closed

[2022-09-10 00:35] meyergin opened #5741 "Spark + HMS + Minio(S3) missing slash at uri path when just using bucket-name"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞
hive-metastore: 3.1.3
hadoop: 3.3.4

the spark catalog configure as follow:
[code]
when I tried to ```create database test``` at Spark-SQL, it throws error:
java.lang.IllegalArgumentException: java.net.URISyntaxException: Relative path in absolute URI: s3a://warehousetest
seems that the spar

[2022-09-10 12:51] manuzhang commented on #5706
I also did a heap dump which proved it's stats like `valueCount` from `GenericDataFile` that took up so much memory.

<img width="1396" alt="CleanShot 2022-09-09 at 15 39 30@2x" src="https://user-images.githubusercontent.com/1191767/189484086-00add250-83ad-41fa-b6f8-71e6a67fd418.png">

![image](https://user-images.githubusercontent.com/1191767/189484099-d394bb91-aac0-4f5e-9f09-af23265c1950.png)

[2022-09-11 06:16] Fokko commented on #5741
Hey @meyergin thanks for raising this. I ran into the same issue and pushed a fix here: https://github.com/apache/iceberg/pull/5405

This has been merged and is in the codebase. Unfortunately, this hasn't been released yet. This should be part of the upcoming 1.0 release. I'm going to close this, for now, feel free to reopen it if you have any further questions.

[2022-09-11 06:16] #5741 closed

[2022-09-11 07:11] Fokko commented on #5739
I can confirm this bug. Created a slightly modified script to reproduce this:
[code]

[code]

[2022-09-11 07:29] Fokko commented on #5739
@aokolnychyi would you have any time to dig into this?

[2022-09-11 07:30] Fokko commented on #5732
@KarlManong do you have more information on the Spark version and the version of Iceberg JARs that you are using?

[2022-09-11 10:24] meyergin commented on #5741
have seen the commit, thanks for your reply.

[2022-09-11 16:58] Fokko commented on #5739
From Slack, @singhpk234 has a PR for this for COW: https://github.com/apache/iceberg/pull/5679 MOR is still being worked on.

[2022-09-11 19:20] blackmani commented on #5267
I face the same problem too!
hive> add jar hdfs://sserver1:9000/spark/jars/iceberg-hive-runtime-0.14.0.jar;
Added [/tmp/27d8cc24-d1c9-4286-a2be-a3dcb6993fe7_resources/iceberg-hive-runtime-0.14.0.jar] to class path
Added resources: [hdfs://sserver1:9000/spark/jars/iceberg-hive-runtime-0.14.0.jar]
hive> use default;
OK
Time taken: 0.51 seconds
hive> create EXTERNAL table test_iceberg_tbl2(

FAILED:

[2022-09-12 14:23] ajantha-bhat commented on #5732
<img width="813" alt="image" src="https://user-images.githubusercontent.com/5889404/189678815-8a89f2f1-cf8a-426b-9032-b0ea2949f9ac.png">

I do see a scala folder in 0.14.0 when I compare spark-3.2 Iceberg runtime jars from  0.13.2 and 0.14.0

[2022-09-12 14:25] jotarada commented on #5732
I have a collision problem when doing assembly on spark 3.2.1, scala 2.12.12 when moving from iceberg runtime 0.13.2 to  0.14.0 or 0.14.1

[2022-09-12 14:38] ajantha-bhat commented on #5732
I see only two commits that modifies the runtime jars gradle files after 0.13.2

1) https://github.com/apache/iceberg/commit/4d7837093bd19a42237446a9b656a248e106b789#diff-b15dc25a696e6961c7612efe266e5cb1b999a530ad91e5c552ca8105dd7cbc1a

2) https://github.com/apache/iceberg/commit/8752e778573c5bb528ecfdd3f8af7fa0bb4a3cad

Might have to manually revert and check.

[2022-09-12 15:48] ajantha-bhat commented on #5732
@KarlManong : What are the steps to reproduce the issue?

@jotarada mentioned "in my case is doing sbt assembly, as it tries to build a fat jar with all the dependencies.  Trying to add scala with existing scala in iceberg crashes"

[2022-09-12 22:41] rdblue commented on #5706
@manuzhang, it sounds like the problem is that dropStats is false for some reason. Do you know why that's happening?

[2022-09-12 23:54] liqinrae opened #5752 "Missing iceberg manifest list file after Trino throws CommitFailedException"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Trino

### Please describe the bug 🐞

Hey folks, we are running Trino 385 and Iceberg 0.14.0 on self-managed EKS cluster on AWS and have been seeing missing manifest list file issue frequently in the event of HMS read timeout.

`"message":"java.sql.SQLException: Query failed (#20220830_200538_00217_v3bfb): Failed to get status

[2022-09-13 00:14] #3897 closed

[2022-09-13 01:09] manuzhang commented on #5706
@rdblue It's because `rowFilter == true` in the following function.

[code]

[2022-09-13 03:53] Kontinuation commented on #5752
This seems to be an issue of [trino-iceberg plugin](https://github.com/trinodb/trino/blob/385/plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/HiveMetastoreTableOperations.java#L92-L98), which throws `CommitFailedException` on an inappropriate occasion.

Commit of transactions takes roughly 2 steps:

1. Write metadata of the new snapshot to file storage;
2. Update the catalog

[2022-09-13 08:00] KarlManong commented on #5732
The key point is setting "spark.executor.userClassPathFirst" to  true.

@Fokko @ajantha-bhat  I have uploaded files to https://gist.github.com/KarlManong/cb30a80624788f4f7804c232dc2f743c.

Septs:
1. please change the metastore uri at file '[spark-defaults.conf](https://gist.github.com/KarlManong/cb30a80624788f4f7804c232dc2f743c#file-spark-defaults-conf)'
2. run `docker build`
3. run `docker run -i

[2022-09-13 11:11] Initial-neko opened #5753 "How to delete iceberg table completely in flinkSQL"
### Query engine

Flink1.13.1

### Question

How can I delete my iceberg table completely in flicksql? At present, I call droptable (table, true), which can delete all files but leave an empty directory

[2022-09-13 11:40] ajantha-bhat commented on #5732
It finally mapped down to https://github.com/apache/iceberg/pull/4009

this adds dependency on `scala.collection.compat` which brings scala code to the runtime jars (and also other spark iceberg jars)

[2022-09-13 13:00] amogh-jahagirdar commented on #5653
Last week I raised this [PR](https://github.com/apache/iceberg/pull/5669) to address this.

[2022-09-13 13:57] ajantha-bhat commented on #5732
@KarlManong , @jotarada : Can you please build a runtime jar from this PR (#5754) and confirm whether the issue is resolved?

[2022-09-13 16:49] liqinrae commented on #5752
@Kontinuation Thanks for your detailed explanation! As you pointed out, this is due to the trino-iceberg connector throwing a 'CommitFailedException.' on an inappropriate occasion. A PR was sent to resolve the issue. I'll close this one.

[2022-09-13 16:49] #5752 closed

[2022-09-14 00:15] #4188 closed

[2022-09-14 12:41] KarlManong commented on #5732
@ajantha-bhat verified, Thank You! Will this patch backport to branch-0.14?

[2022-09-14 13:52] EralpB opened #5764 "Accessing bucket value (aka hash function) while SELECT'ing data"
### Query engine

trino (maybe spark)

### Question

Hello pardon my ignorance, I wasn't sure if this is trino or iceberg question.

I'm trying to insert 200 million rows which have random uuids to a target table which bucket partitions this into 4 buckets.

my insert performance is 2 minutes with NO bucketing, and up to 2 hours with 4 buckets.

I assume it's because of the hashing function jumps

[2022-09-14 14:19] ldwnt commented on #5652
I'm not familiar with Iceberg source code, but are meta files (manifest list/manifest) read during writing and that involves DecoderResolver?

Yes, please refer to the snapshot below:
![image](https://user-images.githubusercontent.com/7655486/190180075-aa92912f-fc2c-4bf6-84ae-5aaed85fcb1e.png)

[2022-09-15 00:14] #4257 closed

[2022-09-15 00:14] #4225 closed

[2022-09-15 05:37] pvary commented on #5590
Incremental read is fine when you have append only tables, but starts to get tricky for tables with deletes. @marton-bod did some experimentation with it in Hive, but we did not continued with it after we saw the complexity caused by the deletes and the SQL specification of such reads.

[2022-09-15 08:47] can-sun opened #5768 "Spark cannot skip glue table name validation when creating ICEBERG tabel"
### Apache Iceberg version

0.13.0

### Query engine

Spark

### Please describe the bug 🐞

iceberg-spark3-runtime version: 0.13.0

I attempted to skip the glut table name validation by setting **glue.skip-name-validation** to true. However none of the following spark sql was successful.

iceberg catalog properties:

[code]

spark sql queries tried so far

[code]

Error Stack trace:
[code]

Beside

[2022-09-15 10:19] igorcalabria commented on #5590
Hi, I'm sorry but I'm not really sure if I understood your comment. Iceberg already supports incremental reads (https://iceberg.apache.org/docs/latest/spark-queries/#incremental-read) and it only works on append only tables:

The proposal here is about exposing the functionality that's already there to the SQL syntax, not expanding it with support for more operations.

[2022-09-15 12:31] cccs-eric commented on #5719
@nastra I have been troubleshooting this issue and I now know more about what is going on.  Here are the latest facts:

1. `{catalog}.system.expire_snapshots` is the problematic call, not `{catalog}.system.rewrite_data_files`.  I can reproduce the problem by only calling `expire_snapshots` in a loop.  So the take away here is that the manifest files are not changing between runs.  My test calls `e

[2022-09-15 14:09] singhpk234 commented on #5768
`glue.skip-name-validation` was introduced via https://github.com/apache/iceberg/commit/5653a0d9c704b22b3b193ae6338af6261833f6e2 which would be available iceberg version >= 0.14.0

based on above i think it's expected not be supported on 0.13

[2022-09-15 14:21] marton-bod commented on #5590
Yep, the work we did was exactly that, to expose this existing Iceberg functionality via SQL syntax. See PR: https://github.com/apache/hive/pull/3222

It was ultimately abandoned, because we wanted to reuse the SQL standard `FOR SYSTEM TIME BETWEEN ... AND ....`, but the semantics of what Iceberg returns (appends that happened during this time period) is different than the semantics of the SQL sta

[2022-09-15 14:48] XBaith opened #5769 "Why is region not set in AwsClientFactories"
### Query engine

Java API

### Question

In `AwsClientFactories`, the region is not set in the `s3()` and `glue()` functions. This causes some exceptions when using the Java API. So is it necessary to append the region in the relevant builder?
[code]

[code]

[2022-09-15 16:11] igorcalabria commented on #5590
@marton-bod That makes sense now, thanks!

In my case, we're not really adding new syntax(table functions are already part of spark's SQL). Depending on the approach it might not even be specific to incremental reads either, it's just a mechanism to pass read options to the data source.

[2022-09-15 18:10] #5732 closed

[2022-09-15 18:11] Fokko commented on #5732
@KarlManong You could give it a try using the development snapshot: https://github.com/apache/iceberg-docs/pull/162

[2022-09-15 18:30] can-sun commented on #5768
Thanks! I saw the latest version released for spark3-runtime is **0.13.2**. Any plan for the release  of >= 0.14.0?

[code]

The above code snippet is from documentation https://iceberg.apache.org/docs/latest/aws/

spark3-runtime 0.14.0 is used however I believed it was somehow to released yet.

[2022-09-15 18:38] singhpk234 commented on #5768
iceberg 0.14.0 and 0.14.1 both are already released :) !!

https://iceberg.apache.org/releases/

[2022-09-15 18:48] singhpk234 commented on #5768
Though I think documentation is a bit outdated ...
0.14.0 & 0.14.1 spark runtime jars should be of pattern : `iceberg-spark-runtime-{spark-version}_{scala_version}-{iceberg-version}`

for ex : iceberg version 0.14.1 with spark 3.3 and scala 2.1.2 should be

`iceberg-spark-runtime-3.3_2.1.2-0.14.1`

[2022-09-15 18:55] can-sun commented on #5768
Gotcha, you are right, I just noticed that for >= 0.14.0 the jar was released based on different version of spark. Does this mean I have to use a specific version of the iceberg-runtime jar according to the version of scala and spark? Just wondered if there would be any incompatibility issues.

Let me try 0.14.0 first and see if I can make it : ) Thanks for your help, will update this open issue i

[2022-09-15 18:58] singhpk234 commented on #5768
Yup would have to use spark & scala version according to what the platform provides.

[2022-09-15 20:19] pvary commented on #5590
@igorcalabria: Let’s wait for the Spark team members to chime in then.

[2022-09-15 20:33] asheeshgarg commented on #5512
Thanks I was able to test it out one issue is if I move the data backed by s3 bucket in a DR location and try to recreate it the s3 buckets has different names are there any tools to fix the locations references used in metadata with the new locations.

[2022-09-15 20:56] can-sun commented on #5768
Thanks a lot! I just tried 0.14.1 and it works. Glue table can be created successfully and data insert also succeeded! I am closing this issue : )

[2022-09-15 20:56] #5768 closed

[2022-09-16 09:14] joshuarobinson commented on #3238
This will be fixed by https://github.com/apache/iceberg/pull/5747

[2022-09-16 16:57] Fokko commented on #5732
I also added 0.14.2 as a discussion point for the upcoming sync: https://docs.google.com/document/d/1YuGhUdukLP5gGiqCbk0A5_Wifqe2CZWgOd3TbhY3UQg/edit#

[2022-09-16 18:37] pavibhai opened #5777 "ORCFileAppender should fetch the stripe offsets from the Writer instead of opening the written file"
### Feature Request / Improvement

Currently the ORCFileAppender opens a written ORC file just to derive the Stripe offsets

[code]
Starting with ORC 1.7 we have added a public API to retrieve offset information from the writer. This when called after close gives the complete stripe information that is written out to the file. With this we can avoid opening the written file.

### Query engine

_No

[2022-09-16 19:22] asheeshgarg opened #5779 "Update Iceberg metadata in case of DR"
### Query engine

Spark

### Question

Lets say  we have a DR Situation where we like to up the iceberg metadata and data copied to DR location. Since s3 buckets are global namespaces we will have different bucket names in DR locations.
How to rename the metadata so that it start pointing to the correct location of the DR s3 location? Do we have any util or spark procedure for it?

[2022-09-16 19:38] asheeshgarg commented on #5779
Just seen this thread https://github.com/apache/iceberg/issues/1617

[2022-09-17 01:46] meyergin opened #5782 "show table extended not supported for v2 table."
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Spark

### Please describe the bug 🐞

Spark + Hive Metastore
When I query ```show table extended in SCHEMA_NAME like '*';```  at Spark-SQL, it throws error:
[code]

[2022-09-19 03:18] amogh-jahagirdar commented on #5769
The exposed way currently is for allowing an endpoint override (which can be used for essentially setting another region) for each of these, the default aws client factory and assume role client factories leverage those. For example, check out https://github.com/apache/iceberg/blob/master/aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java#L152.

I do agree though it would be nice to have

[2022-09-19 08:20] allenzhg opened #5790 "Exception in thread "main" java.lang.NoSuchMethodError: scala.Function1.$init$(Lscala/Function1;"
### Query engine

spark

### Question

i use sparkstreaming write iceberg ,  has a issue about Exception in thread "main" java.lang.NoSuchMethodError: scala.Function1.$init$(Lscala/Function1;
my spark version is 2.4.0-cdh6.3.2 in pom, but iceberg 's spark version is 3.2
Is the problem caused by version inconsistency?

[2022-09-19 08:34] lordk911 opened #5791 "run SmokeTest with ClassNotFoundException"
### Query engine

spark

### Question

I clone the iceberg project to idea , when trying to run spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java

I got some test faild with  `java.lang.ClassNotFoundException: scala.jdk.CollectionConverters$` error

I want to know how can I run the test, thanks.

[2022-09-19 13:37] #3238 closed, assigned to nobody

[2022-09-19 15:08] asheeshgarg commented on #5779
Can we use migrate_table procedure for this to specify the s3 path that points to the destination location

[2022-09-19 16:15] singhpk234 commented on #5779
@asheeshgarg, will [s3 access-points for iceberg](https://iceberg.apache.org/docs/latest/aws/#s3-access-points), work for your use case ?

[2022-09-19 16:36] flyrain commented on #1617
@asheeshgarg, no, the procedure is mainly for migrating existing Hive or Spark tables to Iceberg, https://iceberg.apache.org/docs/latest/spark-procedures/#table-migration.

[2022-09-19 17:00] asheeshgarg commented on #5779
@singhpk234  s3 access points are still region specific Access point ARNs use the format arn:aws:s3:region:account-id:accesspoint/resource
For DR we have a different region. If we set use-arn-region-enabled catalog property to true does it not consider the region as part of arn?

[2022-09-19 17:31] singhpk234 commented on #5779
@asheeshgarg

The metadata files will still be pointing to my-bucket1 (actual s3 path) but while making s3 request via Iceberg (GET + PUT) the [my-bucket1 path will be replaced by access-point](https://github.com/apache/iceberg/pull/4334/files#diff-d07cc67581f20b5cc32bca11aad5f04ac98259729ecebc176909955bc3af03d7R80). Now access point will take care of replication across buckets configured and choo

[2022-09-19 18:01] asheeshgarg commented on #5779
@singhpk234 so jus to understand it correctly we will define two buckets for cross region
--conf spark.sql.catalog.test.s3.access-points.my-bucket1=arn:aws-reigon1
--conf spark.sql.catalog.test.s3.access-points.my-bucket2=arn:aws:s3-reigon2

and iceberg take care of replicating it across region and we just need to start the metastore in new region and it will work. Is this correct understanding

[2022-09-19 18:20] rdblue commented on #5706
I just did some digging and I think that the reason for checking whether the row filter is always true is to match the logic when we add stats columns. We only add stats columns if the row filter is non-trivial (not always true) so we probably carried that over when removing stats columns. If tests are passing without this, then I think it would be safe to drop that requirement.

[2022-09-20 00:18] #4302 closed

[2022-09-20 00:18] #4295 closed

[2022-09-20 05:55] Fokko commented on #2996
I know that @JonasJ-ap is also looking into this 👍🏻

I created a first draft in https://github.com/apache/iceberg/pull/5569

[2022-09-20 05:59] Fokko commented on #3219
Resolved in https://github.com/apache/iceberg/pull/5391

[2022-09-20 05:59] #3219 closed

[2022-09-20 06:10] Fokko commented on #4827
I believe we can close this one: https://github.com/apache/iceberg/blob/master/python/pyiceberg/catalog/__init__.py#L136-L161

[2022-09-20 06:10] #4827 closed

[2022-09-20 06:11] Fokko commented on #3245
You've [completed this task a while](https://github.com/apache/iceberg/blob/master/python/pyiceberg/catalog/__init__.py#L115) ago @dhruv-pratap Thanks for working on this! 👍🏻

[2022-09-20 06:11] #3245 closed

[2022-09-20 06:16] Fokko commented on #3218
I think we can close this one as well: https://github.com/apache/iceberg/blob/master/python/pyiceberg/transforms.py

[2022-09-20 06:16] #3218 closed

[2022-09-20 06:19] Fokko commented on #363
https://github.com/apache/iceberg/pull/5727 will create a separate subsite for pyiceberg, which we can then link to pyiceberg.apache.org.

[2022-09-20 07:29] singhpk234 commented on #5779
yes, if you map both the bucket (present in different region) to a multi-region access-point.

can ref to this slack thread as well, where this idea originated : https://apache-iceberg.slack.com/archives/C025PH0G1D4/p1645066803099319

Region2 meta data will be replaced by mybuket2 actual pointer of s3 in metadata

No, Let's say your table path is  under `mybucket1` so both mybucket1 in region1  an

[2022-09-20 07:49] Fokko commented on #4435
@dramaticlly I think this one is not relevant anymore. We changed the package name to `pyiceberg`, and removed the src class. Next, the base.py is merged into each module's `__init__.py`. I'm closing this one if that's okay with you. Feel free to re-open if you want to reiterate the structure. Thanks!

[2022-09-20 07:49] #4435 closed

[2022-09-20 07:54] Fokko opened #5800 "Integrate pyiceberg with Dask"
### Feature Request / Improvement

It would be awesome to integrate pyiceberg with Dask to allow reading in data from iceberg tables into Dask.

### Query engine

Other

[2022-09-20 07:56] Fokko opened #5801 "Read iceberg table into a PyArrow Dataset"
### Feature Request / Improvement

Convert an Iceberg table into a PyArrow dataset. This would unlock all the users that use Arrow and Pandas. This way users can read data that fits into memory from a huge iceberg table, and iterate on it quickly.

### Query engine

Other

[2022-09-20 09:26] zixiao144 opened #5803 "flink1.15.2 or 1.15.1 stream read ,it is pending"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Flink

### Please describe the bug 🐞

SET execution.runtime-mode = streaming;
select * from  test /*+ OPTIONS('streaming'='true', 'monitor-interval'='1s')*/

no result,it  is always pending,  bath is normal

[2022-09-20 09:29] zixiao144 commented on #5803
![image](https://user-images.githubusercontent.com/21092977/191221949-f47d6871-12a3-4282-8eac-91c427bd7b71.png)
 it is always pending, no result

[2022-09-20 13:21] zixiao144 commented on #5803
2022-09-20 21:15:43,205 INFO  org.apache.flink.api.java.typeutils.TypeExtractor            [] - class org.apache.iceberg.flink.source.FlinkInputSplit does not contain a getter for field task 2022-09-20 21:15:43,206 INFO  org.apache.flink.api.java.typeutil

[2022-09-20 15:21] stevenzwu commented on #5803
@zixiao144 maybe a dumb question. is there any snapshots after the startSnapshotId?

also can you enable DEBUG level logging for `StreamingMonitorFunction` class? then we can see the split discovery logs. e.g.

[code]

[2022-09-20 15:57] stevenzwu commented on #5803
BTW, the FLIP-27 Flink Iceberg source is also merged in the master branch. it is available in 0.14.0 (except for the SQL connector commit and a metrics fix commit). If you are interested in giving it a try, you can refer to the usage in the [unit test code](https://github.com/apache/iceberg/blob/master/flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java

[2022-09-20 18:45] Fokko opened #5811 "Python: Implement evaluators"
### Feature Request / Improvement

Working on the ManifestEvaluators to filter the manifests

### Query engine

Other

[2022-09-21 00:38] zixiao144 commented on #5803
@stevenzwu
I use flink1.15.2's  sqlclient.sh  .Do simple test.
SET execution.runtime-mode = streaming;
SET table.dynamic-table-options.enabled=true;
or (SET table.exec.iceberg.use-flip27-source = true;)

select * from  test /*+ OPTIONS('streaming'='true', 'monitor-interval'='1s')*/ ;

streaming result:
![image](https://user-images.githubusercontent.com/21092977/191388640-e3c461df-ff87-4836-89fb-a3

[2022-09-21 01:28] zixiao144 commented on #5803
I must be use sql，I use pyflink。How to do deal with it. Thanks

[2022-09-21 03:16] stevenzwu commented on #5803
@zixiao144 stream read will discover new snapshots with data files appended. if you launch a Flink SQL job with streaming read, you would need to insert new rows to the stable for the streaming SQL jobs to discover. By default, the streaming read starts from the latest snapshot.

[2022-09-21 03:36] hunter-cloud09 opened #5813 "Override obsolete methods in flink"
### Feature Request / Improvement

In Flink Sink, some classes are still using methods that have been abandoned in flink, such as Table Schema. I think this method should be overridden, change Table Schema to Schema, and use Schema.from Resolved Schema or Table Schema.to Schema replace

### Query engine

Flink

[2022-09-21 04:09] zixiao144 commented on #5803
thanks @stevenzwu  I use hadoop catelog .
step1  stream read
step2 appended data
not work,no result.

[2022-09-21 04:12] zixiao144 commented on #5803
begin ：
![image](https://user-images.githubusercontent.com/21092977/191412497-b2cd9994-89e6-4dcd-aaa5-cd771316c8c6.png)
![image](https://user-images.githubusercontent.com/21092977/191412570-24962e96-985d-40cb-9946-73352da7f74e.png)

 and

![image](https://user-images.githubusercontent.com/21092977/191412654-7719b07d-8201-43a2-8798-c6d9ffbec9a2.png)
![image](https://user-images.githubusercontent.co

[2022-09-21 05:22] hunter-cloud09 commented on #5813
![image](https://user-images.githubusercontent.com/53144338/191420801-c9545762-643c-422d-af8c-aac591d4e0af.png)

[2022-09-21 05:55] ajantha-bhat commented on #5399
Update:
Just a different exception in the latest code. But the problem still exist

[code]

[2022-09-21 07:35] rizaon opened #5814 "Improve manifest caching to be read-through instead of read-ahead"
### Feature Request / Improvement

PR #4518 implement manifest content caching by reading the InputFile's stream ahead, loading it to cache, and serve the cached `List<ByteBuffers>` to reader. If this is merged, we can improve it further by making it read-through instead of read-ahead so that reader is not blocked initially to load the cache.

### Query engine

_No response_

[2022-09-21 10:39] nastra commented on #5399
just fyi that we're tracking the same issue in https://github.com/apache/iceberg/issues/5676

[2022-09-21 12:51] Fokko commented on #5399
Hey all, I have a PR ready: https://github.com/apache/iceberg/pull/5707 This doesn't lookup the historical columns anymore.

[2022-09-21 12:59] ja-michel commented on #5782
The error seems to be thrown [here](https://github.com/apache/spark/blob/v3.3.0/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala#L160-L162 ) so I wonder if the conversion (as per the comment in the code) should be done somewhere in iceberg. Maybe the catalog?

[2022-09-21 13:06] ja-michel commented on #5782
Looking at the full stack trace, iceberg not involved?
[code]

[2022-09-21 13:17] manuzhang commented on #5706
@rdblue thanks for checking. I opened #5815 to fix it. Please help review.

[2022-09-21 15:34] yikuanlee opened #5817 "Create iceberg table throw exception when Hive Ranger is enabled"
### Apache Iceberg version

0.14.0 (latest release)

### Query engine

Hive

### Please describe the bug 🐞

Using iceberg hive runtime 0.14 on Hive 3.X from Cloudera
Run command
[code]
Get exception
[code]
It seems like very similar to issue reported in Hive 4 which iceberg integrated.
https://issues.apache.org/jira/browse/HIVE-25964

[2022-09-21 15:38] nastra commented on #5817
@yikuanlee could you attach the full stack trace of the error please?

[2022-09-21 15:49] nastra commented on #5791
I can confirm that those are actually failing when running `./gradlew :iceberg-spark:iceberg-spark-runtime-3.3_2.12:integrationTest`

[2022-09-21 16:40] yikuanlee commented on #5817
[code]

[2022-09-21 19:30] #363 closed

[2022-09-21 19:30] #3283 closed

[2022-09-21 19:34] Fokko commented on #3217
I think most of the above-mentioned [are in](https://github.com/apache/iceberg/blob/master/python/pyiceberg/expressions/base.py) or are being worked on ([expression visitors](https://github.com/apache/iceberg/pull/5303)). I'll take the liberty of closing this now, and we can create new (smaller) tickets for follow-up functionality.

[2022-09-21 19:34] #3217 closed

[2022-09-21 19:35] Fokko commented on #3227
@dhruv-pratap 👍🏻  I think we can close this, we have a table structure: https://github.com/apache/iceberg/blob/master/python/pyiceberg/table/__init__.py#L32

[2022-09-21 19:35] #3227 closed

[2022-09-21 19:36] Fokko commented on #3229
I'll bump this to the next release 👍🏻

[2022-09-22 01:27] purefunctions commented on #5122
@JanKaul Just got linked to this conversation from apache arrow discord chat! I just (today) created my own project https://github.com/trust-in-rust/rustberg with a modest goal of support a small subset of iceberg operations through the datafusion project. The iceberg-rs library that you linked was the first one that I saw, but it only supports metadata files for now, like you discovered. I also f

[2022-09-22 05:48] pvary commented on #5817
@szlta, @lcspinter any thoughts?

[2022-09-22 07:34] joshuarobinson opened #5825 "Python: Add CLI support for adding existing parquet file to table."
### Feature Request / Improvement

The request is for the CLI to be able to add a parquet file (created by another tool) to an existing Iceberg table. The closest equivalent functionality would be the [add_files](https://iceberg.apache.org/docs/latest/spark-procedures/#add_files) Spark procedure.

The idea is that some/any other tool can write a parquet file to a location in the table directory an

[2022-09-22 07:52] nastra commented on #5791
@lordk911 can you please re-try running the smoke test with the fix proposed in https://github.com/apache/iceberg/pull/5819?

[2022-09-22 08:15] JanKaul commented on #5122
Hey @purefunctions, it's cool to hear that you are also working on a rust iceberg implementation. In the meantime I extended the iceberg-rs repo with a catalog trait, a [postgres catalog](https://github.com/JanKaul/iceberg-catalog-postgres), reading of manifest and manifest_list files. And I'm currently also working on a reader for datafusion. You can find the source at my fork of iceberg-rs: http

[2022-09-22 08:23] chenwyi2 commented on #4996
we use cdc mode, the data is always changing, even if we use strategy to auto-retry,  rewritedatafile will always be failed

[2022-09-22 09:22] chenwyi2 commented on #5404
Is this problem solved? i met the same error

[2022-09-22 10:41] #5719 closed

[2022-09-22 14:20] yikuanlee commented on #5817
Not sure it related, the table created successfully had InputFormat and OutputFormat properties
[code]

but failed one those properties were null
[code]

[2022-09-22 16:07] purefunctions commented on #5122
Hi @JanKaul I like the idea of pooling resources and focus on one implementation. I work for a company that's new to open source and wants me to get approval for personal contributions to open source as well. I've started that process for my repo. So, I'd have a slight preference to use that repo. This, however, is not a deal breaker.

I'd like to understand where our goals align so that the combi

[2022-09-22 16:11] byongwu opened #5831 "Does Iceberg support Iceberg-based joined table of other Iceberg tables?"
### Feature Request / Improvement

Does Iceberg support Iceberg-based joined table of other Iceberg tables?

### Background
* We want to make transactional data lake with AWS Glue + Iceberg + AWS S3.
  * Let's call that as L1 (layer 1 S3 bucket)
* L0 (layer 0) data is from AWS DMS (full load + CDC)
* It will be L0 -> Glue + Iceberg -> L1
* There will be more than hundreds of tables in L1.

### Que

[2022-09-22 16:19] byongwu commented on #5831
I assume that there is no such support yet. So I raised this question in Feature Request.

[2022-09-22 17:02] JanKaul commented on #5122
Sounds great. I guess the best places to discuss further topics are the Iceberg or Datafusion slack channels.

Regarding which repo to use, I would use the most feature complete repo and start from there. But I don't really mind. I hope that eventually the repo will become governed by apache.

[2022-09-22 17:45] swapna267 opened #5832 "Iceberg Table properties not replaced when DataFrameWriterV2 replace() is used"
Based on Replace() documentation , Table properties should be replaced with the one's associated with the data frame.

"The existing table's schema, partition layout, properties, and other configuration will be replaced with the contents of the data frame and the configuration set on this writer."
https://spark.apache.org/docs/3.2.0/api/java/org/apache/spark/sql/DataFrameWriterV2.html#replace--

h

[2022-09-22 17:47] karuppayya commented on #5832
https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/TableMetadata.java#L655
Is there any specific reason for updating it than replacing it?
@rdblue @aokolnychyi @RussellSpitzer @flyrain @szehon-ho

[2022-09-22 17:55] yikuanlee commented on #5817
Also, Hive metastore reported that iceberg table report
AllRequestedHiveResources={db2iuser/t32_iceberg; null://null; }
not sure why iceberg won't return full hdfs directory but  null://null instead.
[code]

[2022-09-22 18:02] flyrain commented on #5832
Not aware of the reason of the original decision, but replacing makes more sense to me.

[2022-09-22 18:48] rdblue commented on #5832
The new properties should be merged, not replaced. There are many properties that should live with the table across versions. For instance, the compression codec is based on the data in the table and should not be dropped because the operation replacing the table's data doesn't specify one. Instead, properties should be respected by always merged with the existing ones.

[2022-09-22 19:21] dmarlyson opened #5833 "How can I merge DMS CDC?"
### Query engine

Spark

### Question

Hello,

I have a process in AWS DMS that genarate some parquet file in my S3, I need thats datas be quering in Athena in one row. I saw a example that Iceberg connector can do it but im my table I dont have a date column to use like parameter, exists some way for group this datas?

Then example: https://aws.amazon.com/pt/blogs/big-data/implement-a-cdc-based-u

[2022-09-22 21:10] rdblue commented on #5825
This would be great! I think it's a little ways out since we can't yet write metadata files. But I think this should be an early target because it is basically the append path.

[2022-09-22 21:22] #5706 closed

[2022-09-22 21:37] yikuanlee commented on #5817
Finally, i think i featured out the root caused from metastore log
it seems like same as https://issues.apache.org/jira/browse/HIVE-25964|
which iceberg 0.14 did not implement getURIForAuth() method.

[code]

[2022-09-23 00:16] #4249 closed

[2022-09-23 00:16] #3894 closed

[2022-09-23 00:16] #3860 closed

[2022-09-23 08:52] nastra commented on #5817
@yikuanlee it seems that [https://issues.apache.org/jira/browse/HIVE-25964](https://issues.apache.org/jira/browse/HIVE-25964%7C) was fixed in Hive 4.0.0 but Iceberg currently works with Hive 3.1.3

[2022-09-23 15:34] yikuanlee commented on #5817
i am going to add getURIForAuth() method to HiveIcebergStorageHandler.java 0.14 and test on Ranger.
If it works ( can create an iceberg table with Ranger policy ) . i am going to create a PR against main branch.

[2022-09-24 00:17] #3850 closed

[2022-09-24 00:51] mrendi29 commented on #5104
+1 facing similar issue when trying to re-write manifests.
`Caused by: java.lang.ClassCastException: class java.time.LocalDate cannot be cast to class java.sql.Date (java.time.LocalDate is in module java.base of loader 'bootstrap'; java.sql.Date is in module java.sql of loader 'platform')`

[2022-09-24 04:09] 95liu opened #5846 "Flink write iceberg bug(org.apache.iceberg.exceptions.NotFoundException)"
### Apache Iceberg version

0.14.0

### Query engine

Flink

### Please describe the bug 🐞

When I use flink datastream api to write to iceberg, I sometimes report an error
eg:
org.apache.iceberg.exceptions.NotFoundException: Failed to open input stream for file: hdfs://master01-test.cndatacom.com:8020/edata/crop_prod/ods_t_history_regist_capis_1g/metadata/snap-8702477485757278341-1-b7bbce1a-6459-

[2022-09-25 09:40] EMCP commented on #3526
I hope you deleted those S3 credentials you pasted... @ashoksri0

[2022-09-26 00:16] #4079 closed

[2022-09-26 03:01] ldwnt opened #5852 "Overwritten row data is read from Iceberg table with where clause on value-changed field"
### Apache Iceberg version

0.13.0

### Query engine

write: Flink
read: Flink/Spark

### Please describe the bug 🐞

I use iceberg flink sink with upsert mode and equality id fields in flink connector. When one row is modified from source side, the new value is expected to read from iceberg target table. However, when where clause is used on this modified column, the old value is read instead.

Pr

[2022-09-26 05:10] stevenzwu commented on #5803
Can you provide the log file for Flink jobmanager with DEBUG enabled for `org.apache.iceberg.flink.source.StreamingMonitorFunction`? Then we can check the periodical split discovery for the streaming execution.

For FLIP-27 source, SQL is not available in 0.14.1. Did you try it with build from master branch? If yes, we also need jobmanager log file (with INFO level) to investigate.

[2022-09-26 05:47] pvary commented on #5846
Could you please share the full Exception, and the Flink version what is used in your case?
Thanks, Peter

[2022-09-26 06:26] rbalamohan opened #5853 "Add support to set "use-table-distribution-and-ordering" in table level or session level"
### Feature Request / Improvement

Iceberg adds "sort" before writing out partitioned dataset.

"use-table-distribution-and-ordering" determines if sorting can be added or not in SparkWriteBuilder/SparkWriteConf.

If user uses dataframe, he can explicitly set these options. It will be helpful to expose this option for SQL users as well via session conf or table conf.

### Query engine

Spark

[2022-09-26 07:02] zixiao144 commented on #5803
[jobmanager_log.txt](https://github.com/apache/iceberg/files/9643722/jobmanager_log.txt)
[flink-root-taskexecutor-0-violet.log](https://github.com/apache/iceberg/files/9643725/flink-root-taskexecutor-0-violet.log)
[flink--sql-client-violet.log](https://github.com/apache/iceberg/files/9643728/flink--sql-client-violet.log)
[taskmanager_localhost_44203-b19935_log.txt](https://github.com/apache/iceber

[2022-09-26 07:22] zixiao144 opened #5855 "How to use hadoopcatelog in python?"
### Feature Request / Improvement

How to use hadoopcatelog in python?
Now, iceberg have hive and rest catelog,but it do't have hadoop catelog .how to do it if I use hadoop catelog in python.

### Query engine

Flink