[2020-10-11 02:59] kbendick commented on #1451
Closing this issue as this has been fixed.

[2020-10-11 02:59] #1451 closed

[2020-10-11 03:53] openinx commented on #1578
Storing a map as a list of key/value pairs will introduce another problem:  its avro schema type is `array` while its real data type in `GenericData.Record` is `Map`, so we could not compare those records by using the default `GenericData.Record` comparator because it will use the `array` type from avro schema to parse the Map object.

That seems to be OK, we can fallback to compare the `toString`

[2020-10-11 21:36] stevenzwu commented on #1383
regarding `TableScan.appendsBetween`, we might need more flexibility of fine-grained control. E.g. if Flink job is lagging behind or bootstrap from an old snapshot, we probably don't want to eagerly plan all the unconsumed `FileScanTask`. That might blow up Flink checkpoint state if the enumerated list of `FileScanTask` is too big.

I am thinking about two level of enumerations to keep the enumera

[2020-10-11 23:44] kbendick opened #1583 "Probot autolabeler has stopped labeling PRs"
The PRs are no longer being autolabeled by the probot autolabeler.

It seems for us that the last time labels were applied was about 12 days ago. I tried [applying a PR in my local fork](https://github.com/kbendick/iceberg/pull/19), where I have full control over the access rights of probot, but labels were not added there either when previously they were.

Additionally, I checked the apache spark

[2020-10-12 03:52] liukun4515 opened #1584 "build iceberg failed: can't resolve dependency (ORC-1.6.5)"
Could not determine the dependencies of task ':iceberg-flink-runtime:shadowJar'.

     Required by:
         project :iceberg-flink-runtime > project :iceberg-flink > project :iceberg-orc

[2020-10-12 03:55] HeartSaVioR commented on #1584
Could you please post the error message? Looks like Orc 1.6.5 is released and available in maven central.
https://search.maven.org/artifact/org.apache.orc/orc/1.6.5/pom

[2020-10-12 03:58] liukun4515 commented on #1584
cc @HeartSaVioR

[2020-10-12 04:05] liukun4515 commented on #1584
The issue is about my firewall and will be closed

[2020-10-12 04:05] #1584 closed

[2020-10-12 04:06] simonsssu commented on #1567
@rdblue Hi Ryan, thanks for pointing out to use GuavaClasses, I've misunderstood what bundled-guava does. I will close the related pr.

[2020-10-12 05:31] #1567 closed

[2020-10-12 08:49] openinx commented on #1383
@stevenzwu ,  what is the maximum size of a table in your production environment ?  I'm thinking whether it's worth to implement the two-phase enumerators in the first version.

If we have 1PB data and each file have the size 128MB, then it will have 8388608 files.  If every `FileScanTask` consume 1KB , then its state is ~ 8GB.  That should be acceptable for the flink state backend.

[2020-10-12 09:22] JingsongLi commented on #1383
Hi @stevenzwu , about `TableScan.appendsBetween`, we can limit the snapshot number of scan, even scan only one at a time. Because `TableScan.appendsBetween` seems to be just a combination of single incremental snapshots, we can handle only one snapshot at a time.

- For FLIP-27 Source, it is easy to do, because tasks came to ask for splits, the only problem is that within the coordinator, the coor

[2020-10-12 13:13] openinx commented on #1437
I think this [comment] is the right direction to resolve this issue, will create a pull request for it.

[2020-10-12 16:36] stevenzwu commented on #1383
I am mainly talking about in the context of FLIP-27 source where enumerator runs in jobmanager and needs to track the unconsumed splits.

@openinx note that this is not keyed state (like after keyBy user_id) etc. 8 GB operator state can be problematic. I vaguely remember RocksDB can't handle a list larger than 1 GB. the bigger the list, the slower it gets.

@JingsongLi  how would the enumerator/co

[2020-10-12 18:46] aokolnychyi opened #1588 "Don't evaluate IN predicates when it is too expensive"
When the number of elements inside IN expressions is huge, evaluating them may actually degrade the performance.

[2020-10-12 22:47] rdblue commented on #1578
If you needed to register a logical type, then you must be using Avro's `DatumReader` instead of an Iceberg `DatumReader`. Iceberg has a set of readers for objection construction that produce Avro generics that are used by internals, in `GenericAvroReader`.

I think this is also used by default for `IcebergDecoder` and `IcebergEncoder`, which use Iceberg schemas and write Avro's single-message enc

[2020-10-12 22:48] aokolnychyi opened #1589 "Spark SQL Extensions: Introduce spark3-extensions module"
Introduce a new module and set up parsing logic for Spark SQL extensions.

[2020-10-12 22:49] aokolnychyi commented on #1589
This one is on me.

[2020-10-12 22:58] aokolnychyi opened #1590 "Spark SQL Extensions: SNAPSHOT command"
If you have an existing Spark or Hive table that complies with the standard Hive table format, you should be able to use the SNAPSHOT command to safely test out your workloads on top of Iceberg without affecting the original table. The SNAPSHOT command should use the definition (including the schema and partition spec) of the original table to create a new Iceberg table that contains metadata for

[2020-10-12 22:58] aokolnychyi commented on #1590
@RussellSpitzer is working on this.

[2020-10-12 23:05] aokolnychyi opened #1591 "Spark SQL Extensions: MIGRATE command"
One should be able to use the MIGRATE command to migrate existing tables to Iceberg. Similar to SNAPSHOT, it should use the existing table definition to create a new Iceberg table and generate metadata for existing files. Apart from that, it should either swap the table pointer in the original catalog or rename the original table to a backup table (depending on circumstances, let's discuss). Once

[2020-10-12 23:05] aokolnychyi commented on #1591
@RussellSpitzer is looking into that.

[2020-10-12 23:09] aokolnychyi opened #1592 "Spark SQL Extensions: Rollback to snapshot id"
[code]

The command can return `previous_current_snapshot_id` and `current_snapshot_id`.

[2020-10-12 23:09] aokolnychyi commented on #1592
This one is on me.

[2020-10-12 23:10] aokolnychyi opened #1593 "Spark SQL Extensions: API for stored procedures"
Introduce an API to plugin stored procedures.

[2020-10-12 23:10] aokolnychyi commented on #1593
This one is on me.

[2020-10-12 23:12] aokolnychyi opened #1594 "Spark SQL Extensions: Rollback to timestamp"
[code]

The command can return `previous_current_snapshot_id` and `current_snapshot_id`.

[2020-10-12 23:13] aokolnychyi opened #1595 "Spark SQL Extensions: Cherrypick snapshot"
[code]

The command can return `source_snapshot_id` and `current_snapshot_id`.

[2020-10-12 23:15] aokolnychyi opened #1596 "Spark SQL Extensions: Set current snapshot"
[code]

The command can return `previous_current_snapshot_id` and `current_snapshot_id`.

[2020-10-12 23:15] aokolnychyi commented on #1596
This one is on me.

[2020-10-12 23:16] aokolnychyi commented on #1595
This one is on me.

[2020-10-12 23:16] aokolnychyi commented on #1594
This one is on me.

[2020-10-12 23:18] aokolnychyi opened #1597 "Spark SQL Extensions: Expire snapshots"
Until we have a proper VACUUM command, we can expose a stored procedure for expiring snapshots.

[code]

The output from this command may include the number of deleted data, manifest, manifest list files.

I think we should make the older_than and retain_last args optional and require at least one to be present. It seems Presto recently added support for optional args in procedures.

Then we can e

[2020-10-12 23:19] aokolnychyi commented on #1597
@liukun4515 has expressed interest in working on this.

[2020-10-12 23:38] aokolnychyi opened #1598 "Spark SQL Extensions: Rewrite manifests"
[code]

The command can return the produced snapshot id, the number of deleted and added manifests, the number of records we rewrote metadata for.

It can work as follows:

- Iterate through the list of manifests and find out what manifest files are not optimal from the size perspective. We have the target manifest size in table properties and the stored procedure can accept allowed deviations (wi

[2020-10-12 23:39] aokolnychyi commented on #1598
I have a prototype for this.

[2020-10-12 23:43] aokolnychyi opened #1599 "Spark SQL Extensions: Remove orphan files"
We can define the following stored procedure for removing orphan files.

[code]

The stored procedure should return a list of file locations that are considered orphan.

It can be called with an interval:

[code]

Or with a given timestamp:

[code]

**Note**: we must validate `older_than` is large enough. We should either force it to be at least 1 day old or allow users to configure the min interv

[2020-10-12 23:43] aokolnychyi commented on #1599
Let me know if anybody is interested in working on this.

[2020-10-13 00:13] RussellSpitzer commented on #1599
@jbirtman You may want to check this out, once the Procedure API is finalized this should be a pretty straightforward task

[2020-10-13 01:34] zhangjun0x01 commented on #1589
I think we should extract some common functions when designing the code, because we should also do flink sql extension in the future

[2020-10-13 01:53] kbendick commented on #1488
I got another one of those Broken Pipe ones in CI.

Here are the CI logs: https://travis-ci.org/github/apache/iceberg/builds/735138861

[2020-10-13 02:12] JingsongLi commented on #1383
NIT: I think we still need use `appendsBetween(snapshot-1, snapshot)` since we want to get incremental data.
True, I think this is easy to do.

[2020-10-13 03:08] liukun4515 commented on #1597
@aokolnychyi
[code]
In the `expire snapshot` API, if we only give the `retain last num` for a table, the commit action is invalid.

the apply code is:
[code]
if the `expireOlderThan` is not set, the `retain last num` or `idsToRetain` is invalid.

[2020-10-13 03:18] liukun4515 commented on #1599
Can I take this task?

[2020-10-13 03:41] openinx commented on #1578
Yes, you're right.  Here is the code: https://github.com/apache/iceberg/pull/1477/files#diff-863fca4ad067cd7dd66730275ed9dcb29fa4468b5b474461934bda9372f73280R72. It just use the GenericAvroReader to decode the datum.   I see the `IcebergDecoder` & `IcebergEncoder` could only encode/decode the iceberg `Record`,  while `ManifestFile` is a `IndexedRecord`,  in theory we should define the `AvroDecoder

[2020-10-13 03:46] kbendick commented on #1544
ok I also tried `tbl.toString` and `tbl().toString`.

finally I said screw it and also tried `t.toString` and `t().toString`. It was a decent amount to read, but I cant think of any other names that people might have named a Table variable. Can anybody think of any other names of variables people might have assigned tables to? I'm tempted just to look at the hundreds of usages of Table and then th

[2020-10-13 03:54] RussellSpitzer commented on #1544
You should in intellij be able to search for method usages I think

On Mon, Oct 12, 2020, 10:46 PM Kyle Bendickson <notifications@github.com>
wrote:

[2020-10-13 05:23] aokolnychyi commented on #1589
@zhangjun0x01 Does Flink support stored procedures or being able to plugin extensions like Spark?

[2020-10-13 05:27] aokolnychyi commented on #1597
I'd make both `older_than` and `retain_last` optional and require at least one to be present. If only `retain_last` is present, I'd default `timestamp` to the current timestamp.

The following would keep only 100 last snapshots, for example.

[code]

[2020-10-13 05:29] aokolnychyi opened #1601 "Spark SQL Extensions: Document all stored procedures"
We should update publics docs once stored procedures are implemented.

[2020-10-13 05:35] aokolnychyi commented on #1544
I am going to resolve this as it done. Thanks, @kbendick!

[2020-10-13 05:35] #1544 closed

[2020-10-13 05:58] liukun4515 commented on #1597
I agree with the default timestamp (current time) for `older_than`, but what's the default time zone?

[2020-10-13 06:57] liukun4515 commented on #1597
please assign the issue to me!

[2020-10-13 08:09] zhangjun0x01 opened #1602 "flink module of master branch unit test failed, TestIcebergFilesCommitter throws an exception"
The flink module of master branch  unit test failed, TestIcebergFilesCommitter throws an exception

`org.apache.iceberg.flink.sink.TestIcebergFilesCommitter > testOrderedEventsBetweenCheckpoints[format = parquet] FAILED
    org.apache.iceberg.exceptions.NoSuchTableException: Table does not exist at location: /var/folders/v8/q314pqp92q10pw_4v6513b800000gp/T/junit8719731320363441530/junit52418780409

[2020-10-13 08:33] liukun4515 commented on #1597
In the procedure SQL：
[code]
if the `expire snapshot sql` lacks the two parameters `retain_last` and `older_than`, how to tell the user where the error occurred?

[2020-10-13 09:23] waterlx opened #1603 "Importing Hive table is blocked by"

[2020-10-13 09:28] waterlx opened #1604 "Importing Hive table (using ORC) is blocked by "ORC schema does not contain Iceberg IDs""
I am trying to use SparkTableUtil.importSparkTable to import a Hive table (file format is ORC) as an Iceberg table, it is blocked by the following error:
[code]
As the ORC data file is created by Hive, it does not have the Iceberg ID, so it is rejected by #1140. Am I getting it right?

[2020-10-13 09:35] wg1026688210 opened #1605 "Flink iceberg hive catalog don't load hive config"
Caused by: java.lang.IllegalArgumentException: Can not create a Path from a null string
	at org.apache.hadoop.fs.Path.checkPathArg(Path.java:122) ~[hadoop-common-2.7.2.jar:?]
	at org.apache.hadoop.fs.Path.<init>(Path.java:134) ~[hadoop-common-2.7.2.jar:?]
	at org.apache.hadoop.fs.Path.<init>(Path.java:88) ~[hadoop-common-2.7.2.jar:?]
	at org.apache.iceberg.hive.HiveCatalog.convertToDatabase(HiveCa

[2020-10-13 09:39] wg1026688210 commented on #1605
HiveCatalog will find the option  'hive.metastore.warehouse.dir'  which  should exist  in hive-site.xml config

[2020-10-13 10:42] zhangjun0x01 commented on #1602
Local unit test needs to remove HADOOP_HOME

[2020-10-13 10:42] #1602 closed

[2020-10-13 11:38] #1603 closed

[2020-10-13 11:38] waterlx commented on #1603
Opened by mistake. Close it.

[2020-10-13 11:58] chenjunjiedada commented on #1488
Another one: https://travis-ci.org/github/apache/iceberg/jobs/735326468.

[2020-10-13 12:48] waterlx commented on #1604
Ready to close this issue as it is fixed by PR #1399 , I am not using the latest code so #1399 is not picked up.

[2020-10-13 12:48] #1604 closed

[2020-10-13 13:34] pvary commented on #1488
Are these tests after @marton-bod's last PR? #1585. That contained some memory upgrade for the tests

[2020-10-13 15:48] wg1026688210 commented on #1605
environment:
centos 7
jdk8
hadoop2.7

code
[code]

[2020-10-13 15:56] aokolnychyi commented on #1597
Can we just use `System.currentTimeMillis`? Spark returns us `java.sql.Timestamp` that is time zone agnostic, I guess.

[2020-10-13 18:00] aokolnychyi commented on #1549
@holdenk, would you have time to look into this? Not urgent.

[2020-10-13 18:00] aokolnychyi commented on #1548
@holdenk, would you have time to look into this? Not urgent.

[2020-10-13 18:41] jackye1995 commented on #1468
I just sent out a PR for AWS Glue support. With this update you can use `HiveCatalog` without the need to set up any Hive infrastructure and build your data lake on top of S3. #1608

[2020-10-13 22:05] HeartSaVioR commented on #1560
I figured out as Spark bug which may exist only on Spark 3. Filed https://issues.apache.org/jira/browse/SPARK-33136 and will submit a PR on Spark repo.

[2020-10-14 01:37] zhangjun0x01 commented on #1605
This is a known issue and I am working on it，You can follow https://github.com/apache/iceberg/pull/1558

[2020-10-14 02:12] wg1026688210 commented on #1605
lgtm

[2020-10-14 02:12] #1605 closed

[2020-10-14 02:24] liukun4515 commented on #1597
The `system.currenttimestamp` is the absolute time which does need to consider the time zone.

[2020-10-14 02:42] zhangjun0x01 opened #1610 "Add a rewrite datafile action for flink"
I think we should add a rewrite datafile action for flink so that we can use flink batch jobs to merge small files. I see that there are some common functions in RewriteDataFilesAction of spark. We can extract some common functions to iceberg-core so that both flink and spark can be used to avoid duplication of code.

[2020-10-14 03:17] simonsssu commented on #1610
That's a good use cases. For Flink Users who wants to do a DataFile compaction, they don't need to use a spark. Currently we have implement the RewriteDataFile operator append to IcebergCommitter. It's make sense to extract the common logical if we want to implement a Batch Flink Job to do this.

[2020-10-14 03:29] simonsssu commented on #1610
I think we can refactor the spark rewrite action first and then add Flink Batch Job.

[2020-10-14 03:40] liukun4515 commented on #1599
I am working on this issue.

[2020-10-14 03:55] zhangjun0x01 commented on #1589
hi,@aokolnychyi
I don't know whether flink supports stored procedures, but I see that the source code of flink has a related sqlnode extension interface. I think we should be able to do sql extension by implementing this interface.

https://github.com/apache/flink/blob/master/flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ExtendedSqlNode.java

[2020-10-14 04:12] aokolnychyi commented on #1599
We can probably skip `ignore_scheme` and `ignore_authority` for now since we haven't agreed on this yet.

[2020-10-14 20:44] fbocse commented on #1496
@pvary thank you for following up on this - I think that the solution you are considering reproduces the behaviour we are seeing for the server-side implementation of `create(overwrite=true)` used by Iceberg to override the `version-hint.txt` file. I don't think that in our particular case this is necessarily going to be a benefit at the "expense" of a couple of more hdfs requests.

However your t

[2020-10-15 02:08] openinx commented on #1610
@simonsssu  we have discussion about the flink compaction policy, and I know you are doing the PoC for it,  maybe you could open a WIP PR for this to show your work if you don't mind.

[2020-10-15 02:36] simonsssu commented on #1610
@openinx Thanks, I will open a WIP PR later.

[2020-10-15 06:09] zhangjun0x01 commented on #1610
I implemented a RewriteDataFilesAction for flink myself. My idea is that we can also extract some common functions and put them in iceberg-core when implementing RewriteDataFilesAction of flink, and then use the commcon functions to refactor spark RewriteDataFilesAction.

We can also do some iceberg management functions in the future（iceberg admin client or sql  extension）, which can trigger compr

[2020-10-15 06:22] simonsssu commented on #1610
@zhangjun0x01 Thanks ZhangJun,  I totally agree with you to refactor the current Rewrite Part. If you have implemented this, maybe you can open a PR. That's quite useful for Flink Users.

[2020-10-15 06:25] zhangjun0x01 commented on #1610
@simonsssu
I am doing test for it, after finishing I will open a PR

[2020-10-15 06:49] SteNicholas commented on #1548
@aokolnychyi IMO, `MetricsConfig` could add `validateProperties` method to check metrics config references columns in schema, and the method should be called in `createTable()`.   Is this similar with your point?

[2020-10-15 06:58] HeartSaVioR commented on #1560
The PR for SPARK-33136 is merged and will be shipped to Spark 3.0.2 / 3.1.0. Shall we close this, or would someone like to build the Spark on branch-3.0 and verify on their end?

[2020-10-15 07:35] openinx commented on #1556
@elkhand  we're responsible for maintaining the apache flink iceberg sink connector.   Just curious : did you have any log message such as the following ?

[code]

or

[code]

Is it possible that we've provided a non-existing table identifier ?

[2020-10-15 11:26] NJordan72 commented on #1560
I think it is safe to close.  I haven't been able to confirm with the patch, but using some casts I was able to match the nullability and I can confirm that fixed the problem.

[2020-10-15 20:49] holdenk commented on #1549
Sure I can try :)

[2020-10-15 21:22] pavibhai opened #1617 "Support relative paths in Table Metadata"
## Background <a id="Background"></a>
[Iceberg specification][spec] captures file references for the following:
* Table metadata references `location` that determines the base location of the table.
* Snapshot references `manifests` and `manifest-list` to determining the manifests that make up the snapshot.
* Manifest list references `manifest_path` that identifies the location of a manifest file.

[2020-10-16 02:41] HeartSaVioR commented on #1560
Thanks @NJordan72 for confirming! Could you please close this issue, @cccs-dm ?

[2020-10-16 03:16] openinx commented on #567
Since we've merged the flink sink connector, it's time to close this issue now.

[2020-10-16 03:16] #567 closed

[2020-10-16 15:47] Lindayangyy opened #1621 "Iceberg table via Parquet files on S3 implementation"
is it possible to create Iceberg table as parquet files on S3 Implementation without dependency on HDFS and/or Hive.

[2020-10-16 16:18] cccs-dm commented on #1560
Sure thing! Thanks for fixing it so quickly.

[2020-10-16 16:19] #1560 closed

[2020-10-17 00:44] jastisatya opened #1622 "class not found exception emr 6.1.0, iceberg-spark-0.9.1,iceberg-spark-runtime-0.9.1 java.lang.ClassNotFoundException: org.apache.spark.sql.sources.v2.DataSourceV2"
java.lang.ClassNotFoundException: org.apache.spark.sql.sources.v2.DataSourceV2
when I try to use iceberg-spark-0.9.1 in EMR 6.1.0 which comes with spark 3.0.
I don't see the DataSourceV2 present in java.lang.ClassNotFoundException: org.apache.spark.sql.sources.v2 package.
it is under

java.lang.NoClassDefFoundError: org/apache/spark/sql/sources/v2/DataSourceV2
  at java.lang.ClassLoader.defineClas

[2020-10-18 22:34] stevenzwu opened #1626 "Implements the Flink source based on the new FLIP-27 interface"
Flink 1.11 release included a new source interface ([FLIP-27](https://cwiki.apache.org/confluence/display/FLINK/FLIP-27%3A+Refactor+Source+Interface)) that works better with Iceberg

It has two logical components

- A split enumerator that runs on the jobmanager (driver)
- Parallel readers that run on the taskmanagers (workers).

Here are some benefits of the new source interface

- It is a unifie

[2020-10-19 06:20] kbendick opened #1628 "Implement Initial Spark Structured Streaming Source"
We currently cannot use Spark Structured Streaming for reading from an Iceberg table. This seems like a very common need.

We were previously discussing the issue quite a lot back in February, but discussion on the topic has slowed down quite a lot.

Some of the code that was discussed has been merged in and I'd like to revisit this.

The original PR which has become inactive: https://github.com/a

[2020-10-19 06:53] openinx commented on #1626
Looking forward to the draft PR or Poc patch, Thanks for the work @stevenzwu .

[2020-10-19 11:30] massdosage opened #1630 "Hive 3 classes present in hive-iceberg-runtime.jar breaks running on Hive 2"
If you try deploy the version of `iceberg-hive-runtime` in master on Hive 2 one gets exceptions like this:
[code]
This is because the Hive3 object inspector classes are present in the runtime jar:
[code]
which means it attempts to load these object inspectors which in turn fails as the required Hive 3 classes aren't on the classpath.

I'm pretty sure this issue started happening after the changes

[2020-10-19 11:31] massdosage commented on #1630
@marton-bod could you look at the above? I haven't had time to try come up with a solution but my first guess would be that we're going to need a `hive2-runtime` jar and a `hive3-runtime` jar.

[2020-10-19 11:41] marton-bod commented on #1630
Thanks @massdosage. I think we can avoid having to create a different runtime jar for Hive2, we'll just have to use `MetastoreUtil.hive3PresentOnClasspath()` to select the correct object inspector at runtime. I'll post a fix as soon as I can.

[2020-10-19 11:42] pvary commented on #1496
Thanks @fbocse for the review!

Actually @lcspinter is the one who is working on this 😄

I think this should not be a problem as we use version-hint.txt only as a hint and in [HadoopTableOperations.refresh()](https://github.com/apache/iceberg/blob/96959ece9faeb795757388908274cfd0ff1856ca/core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java#L108-L113) we iterate through on the po

[2020-10-19 13:28] massdosage commented on #1630
OK, yes, sounds like a good option.

[2020-10-19 17:16] kbendick commented on #1628
cc @jerryshao as you've been working on and off on the original PR. Wondering where you are in currently working on it or if you'd be looking for assistance if you're currently busy?

[2020-10-19 17:31] kbendick opened #1634 "Create JDBC-based Catalog"
I've been working on a docker-compose based demo.

One thing that I've wanted to avoid is having to have too many dependencies on the classpath just to set up the metastore.

When talking to @rdblue about it, he suggested that we might implement a JDBC Catalog. Ryan suggested to create a single table with an entry for each Iceberg table.

Especially as we are adding other Catalogs at the moment, t

[2020-10-19 17:31] kbendick commented on #1634
I'll work on this.

[2020-10-19 19:33] #1630 closed

[2020-10-19 22:16] RussellSpitzer opened #1635 "[Bug] Metric filtering skips row groups incorrectly on older Parquet files"
When older files are read with Iceberg the metrics are improperly evaluated. We incorrectly assumes that there are 0 nonNull values in every row group which leads to the reader skipping all row groups.

https://github.com/RussellSpitzer/iceberg/blob/4d1fc91d6528db88548c506a0b110b50121d67ff/parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java#L299-L302

In a Parquet 1.

[2020-10-19 22:24] RussellSpitzer commented on #1635
I *think* the right thing to do here is to not rely on hasNonNullValues and also check if rowCount > numNull. I'll check other readers tomorrow to see how they deal with the issue

[2020-10-19 23:16] rdblue commented on #1635
Are there non-null values in the row group?

[2020-10-19 23:30] RussellSpitzer commented on #1635
Yes, there are only non null values in the row group

[2020-10-20 01:06] kbendick commented on #1628
Actually as I understand it @jerryshao is still somewhat working on this. I'm waiting to hear back but I'm likely to close this ticket.

[2020-10-20 01:08] kbendick commented on #1635
I can take a stab at this if you dont have time @RussellSpitzer

[2020-10-20 01:43] kbendick commented on #1635
Do you know if there's a version number at which this is fixed? Are we able to tell which version the files were written with and possibly check that? I imagine not, as they usually say the writer type and I don't think parquet files usually have the parquet version in them, more the spark version etc. But a thought.

[2020-10-20 02:13] jerryshao commented on #1628
Hi @kbendick , thanks for your bringing out of this thing. Yes, I'm still working on this. Currently the left comments are mostly style or refactoring issues, so I didn't update the PR actively. I was waiting (for a long while) to see if any committer could check and approve the overall implementations, based on this I could start to change the details and make progress

[2020-10-20 02:37] tangchenyang commented on #1533
Hi akkinenivijay @akkinenivijay.
I had the same problem with hive-2.3.7 and spark-3.0.1-hadoop-2.7.
Is there a solution to this problem?
Thanks.

[2020-10-20 02:40] RussellSpitzer commented on #1635
All I know for sure is we had a user with 1.5.0-Cloudera build of Parquet
Files. I haven't actually explored past the point where we figured out this
was the issue. I know in 1.11 there is no problem since when I initially
tried to repo this issue by just faking their data it was fine. The issue
only repo'd when I took an actual file they had and imported them into a
new Iceberg table.

On Mon, Oc

[2020-10-20 06:49] HeartSaVioR commented on #1622
Could you please double check you're adding "iceberg-spark3-runtime" only for Iceberg?

[2020-10-20 14:34] RussellSpitzer commented on #1635
The issue is "hasNonNull" was only added in 1.7
https://github.com/apache/parquet-mr/commit/4bf9be34a87b51d07e0b0c9e74831bbcdbce0f74

Prior to this "isEmpty" had a different definition as well

https://github.com/apache/parquet-mr/blame/d70fdbc40195077057a1edb14ccd16a26435d007/parquet-column/src/main/java/parquet/column/statistics/Statistics.java#L222-L224

So I think out best thing to do is again

[2020-10-20 15:03] RussellSpitzer commented on #1635
Ok just fixing the nonnull check is not sufficient because the min and max values cannot be serialized correctly either. I wrote a quick test to just manual check for nonnull s and when you do that it crashes attempting to check the min and max bounds

[2020-10-20 17:12] RussellSpitzer commented on #1635
@kbendick I think it's probably best I take this one since I have the active repo, Should be ready soon.

[2020-10-20 18:45] RussellSpitzer commented on #1635
Ok I can get repos on Hive 1.Latest and Hadoop 2.Latest. The default config there produces Parquet-mr 1.6 which has the same issue.

[2020-10-20 20:53] kbendick commented on #1628
Thanks for letting me know @jerryshao. For your own update, a lot of things in that PR seem to have been somewhat merged in.

Possibly try forking off of your current branch and merging in master to check the diff. A number of files might go away.

For example, if you check this PR (which I thought I linked to this issue but somehow the link didn't show), you'll see that the `Microbatches` class t

[2020-10-20 21:17] RussellSpitzer commented on #1635
So this is a bit more complicated. This bug only effects files made by parquet versions not effected by

https://github.com/apache/parquet-mr/pull/197/files

And also made after 1.7

This means it should only effect Parquet Files made by Cloudera Parquet builds since they are the only pre 1.7.0 builds which also have valid statistics which can be read

[2020-10-20 23:49] johnclara opened #1637 "Spark Reads of Duplicate Datafiles"
When there are duplicate data files in a table, spark reads fail. This happens for us when we retry a successful commit to a table. Is it safe to change from ImmutableMap in the BaseDataReader to a map which allows duplicates?

The exception:
[code]

The bad files:
[code]

The snapshots when files are added:
[code]

[2020-10-21 02:13] RussellSpitzer commented on #1635
PR up https://github.com/apache/iceberg/pull/1638

[2020-10-21 06:50] openinx opened #1639 "Flink: write the CDC records into apache iceberg tables."
Currently,  we apache iceberg have implemented the equality-deletes and position-delete internally,  but we still lack the ability to work with different engines.  In this PR https://github.com/apache/iceberg/pull/1444 ,  we spark could read the records by merging delete files and data files,  this PR https://github.com/apache/iceberg/pull/1517 give flink the similar ability to read delete records

[2020-10-21 07:33] paulzanmei commented on #1639
When do you plan to complete the Flink CDC integration? We also have this requirement

[2020-10-21 07:35] zhangdove commented on #1230
When Analyzing Iceberg's Catalog, I find that There is still an issue left here, and I have made some new discoveries:

`spark.read.format("iceberg").load("hdfs://nn:8020/path/to/table")` By this way, Iceberg table loading does not use the Iceberg Catalog. Of course, Iceberg's metadata information will not be cached. Instead, Iceberg Table will be obtained directly by using `IcebergSource.findTabl

[2020-10-21 07:35] zhangdove commented on #1230
At least I can close the current issue now.

[2020-10-21 07:35] #1230 closed

[2020-10-21 07:44] openinx commented on #1639
@paulzanmei ,  I think it will be available in the next 0.12.0 release, but I am not sure what's the precise release time, maybe two months later.

[2020-10-21 07:54] paulzanmei commented on #1639
@openinx   Thank you for your reply, I will continue to follow

[2020-10-21 14:14] akkinenivijay commented on #1533
@tangchenyang I am still having this issue. I could only get iceberg to work with hadoop not with Hive and S3 using spark.

[2020-10-21 23:47] johnclara commented on #1637
I ended up overriding `planFiles` in the DataTableScan to deduplicate FileScanTasks based on the file path

[2020-10-22 00:53] shangxinli commented on #1413
EncryptionPropertiesFactory/DecryptionPropertiesFactory help you build up the FileEncryptionProperties/FileDecryptionProperties. There is an open PR(https://github.com/apache/parquet-mr/pull/808) about how to use them.

[2020-10-22 03:03] QiAnXinCodeSafe opened #1642 "There is a vulnerability in spotless-plugin-gradle 3.14.0 ,upgrade recommended"
https://github.com/apache/iceberg/blob/997f571273509270904f4ce7490af0cbe9262190/build.gradle#L29-L36

https://github.com/apache/iceberg/blob/997f571273509270904f4ce7490af0cbe9262190/build.gradle#L32

CVE-2019-9843
Recommended upgrade version：3.20.0

[2020-10-22 03:53] stevenzwu opened #1643 "Flink RowDataIterator should support reuseObject flag"
While debugging unit test failure for the FLIP-27 source PoC code, I realized that `RowDataIterator` always reuse and return the same `GenericRowData` object. It seems to expect caller to clone or convert the object. `TestFlinkInputFormat` was using `TestHelpers.copyRowData` to do it. I guess Flink SQL convert RowData to Row.

This behavior makes it difficult for the SplitReader to use the iterato

[2020-10-22 08:21] openinx commented on #1643
In most flink cases,  the `FlinkInputFormat` will read a record and emit it to the downstream operator,  that means  it will serialize the `RowData` and then sends bytes to next operator,  so I think it's right to set `reuse=true` by default, that saves lots of object allocation from JVM.

In your batch-read case,  the ideal way should be :  allocating a fixed-size array which should be reused in

[2020-10-22 09:33] chenjunjiedada commented on #1502
This also happens when the catalog is expired by catalog cache but the table is still in use. Currently, we expire the catalog after 10 minutes of last access. While actions like a rewrite or merge into might spend more time than it. @aokolnychyi, Did you encounter this?

[2020-10-22 10:12] skambha commented on #1410
@rdblue , Thanks so much for the detailed explanation and sharing the use case.
For now, I have updated the doc to highlight the existing behavior.

[2020-10-22 17:13] elkhand commented on #1556
I did retry with a clean table.
I confirm the drop table worked as expected, and removed all the data.
Thanks.

[2020-10-22 17:13] #1556 closed

[2020-10-22 18:47] jacques-n opened #1647 "Outline approach for extending APIs to support cross table operations"
Right now Iceberg is focused on operations against a single table. This issue is to come up with a sketch of how we could present multi-table operations within the Iceberg APIs to support catalog implementations such as Nessie that support this paradigm.

[2020-10-22 18:47] jacques-n commented on #1647
@rdblue can you assign this to me for now?

[2020-10-22 19:06] stevenzwu commented on #1643
Let's look at the nextRecord contract from the `InputFormat`. reuse or not is controlled by the caller of `nextRecord(OT reuse)`.
[code]

If the input `reuse` arg is null, there is no reuse. Otherwise, input arg should be used for deserialization. That is how `BinaryInputFormat` implemented.
[code]

`CloseableIterable<T>` interface is just a good fit for InputFormat interface. Now the `FlinkInputF

[2020-10-22 19:54] kbendick opened #1649 "Rewrite PR labeler using standard Github Action as Probot Labeler is EOL"
There's a relatively standard github action for labeling PRs.

As discussed in the group meetup yesterday, we were going to try to migrate to GH actions. We can consider migrating the PR labeler as I've not heard back about the current one, which is broken both here and in Spark.

The author of our current autolabeler has deprecated it and it's no longer working and recommends we migrate off of it

[2020-10-22 20:00] kbendick commented on #1583
This is closed. In my the above linked issue, Github user [at]mithro said that they were not able to upgrade the bot to use the new API. I've opened a new issue to upgrade. https://github.com/apache/iceberg/issues/1583

[2020-10-22 20:00] #1583 closed

[2020-10-22 20:04] kbendick commented on #1649
Here's the closed issue indicating that the old autolabeler will not be coming back, so we should definitely upgrade both us and then Spark: https://github.com/apache/iceberg/issues/1583

I will do so in the next few days, working it out with the asf infra team.

[2020-10-22 20:05] kbendick commented on #1649
This is the "standard" labeler action, but if anybody else has any specific suggestions I'm open to them: https://github.com/actions/labeler

[2020-10-22 20:13] kbendick commented on #1649
I'll also reach out to ASF Infra to ensure that the permissions that the old Probot Autolabeler requested from any of our repos has been turned off as the developer confirmed they won't be maintaining.

[2020-10-22 20:21] kbendick commented on #1626
Thanks @stevenzwu. I'm looking forward to this as well. The new source interface allows OSS to once again chain AsyncWait tasks which has been a pain point, so thank you!

[2020-10-22 23:12] stevenzwu commented on #1643
Regarding copying RowData from iterator to a fixed-size array by the `IcebergSourceSplitReader<T>`, let's first discuss some of the implementation details.

- How would `IcebergSourceSplitReader<T>` know how to create a reuseable empty object array for a generic type T?
- How would `IcebergSourceSplitReader<T>` know how to clone the generic type T returned by DataIterator.next()? Both Flink RowDat

[2020-10-23 02:52] stevenzwu commented on #1643
- How would IcebergSourceSplitReader<T> know how to create a reuseable empty object array for a generic type T?
- How would IcebergSourceSplitReader<T> know how to clone the generic type T returned by DataIterator.next()?

We already added a `DataIteratorFactory` on how to create an iterator from split. I think we can extend the interface on how create and clone objects.
[code]

The unclear questi

[2020-10-23 03:21] openinx commented on #1643
I read the  [DataSourceTask](https://github.com/apache/flink/blob/master/flink-runtime/src/main/java/org/apache/flink/runtime/operators/DataSourceTask.java#L181) code,  there's a `objectReuse` ( default value is false)  from `ExecutionConfig` to indicate whether we should enable object reuse.   I also checked the [RecordWriter](https://github.com/apache/flink/blob/master/flink-runtime/src/main/jav

[2020-10-23 03:37] openinx commented on #1643
I think we have reached an agreement that it's useful to reuse objects in the  row data iterators,  the current problem is :  how to reuse it  ?

Now we  `RichInputFormat#nextRecord(T reuse)`  have provided  the `reuse` instance for reusing,  but our parquet, orc, avro have an internal object reuse mechanism. Unless we change the `Iteratable` interface to accept the `reuse` from `RichInputFormat`,

[2020-10-23 03:39] stevenzwu commented on #1643
We actually enable `objectReuse` by default so that chained operators can avoid the serialization and deserialization cost, which is huge for embarrassingly parallel DAGs.

I guess `RecordWriter` is used for network shuffle (like keyBy). so it probably doesn't affect the discussion on object reuse in source emitted records.

BTW, Iceberg's `ParquetAvroValueReaders` returns a new Avro GenericRecord

[2020-10-23 03:47] stevenzwu commented on #1643
regarding how to create and clone instance, we can extend the new [DataIteratorFactory](https://github.com/stevenzwu/iceberg/blob/flip27IcebergSource/flink/src/main/java/org/apache/iceberg/flink/source/reader/DataIteratorFactory.java) interface in the flip-27 source poc code. So that is doable
[code]

[2020-10-23 03:52] stevenzwu commented on #1643
Yeah. I am fine either way. My main question is for the records emitted by Iceberg source (FLIP-27) should reuse objects or not.

[2020-10-23 03:55] openinx commented on #1643
I'd love to comment the patch if you plan to update it and propose a new one for the reuse idea.

[2020-10-23 05:05] stevenzwu commented on #1643
@openinx I updated [the patch](https://github.com/stevenzwu/iceberg/pull/1/files). You can find the iterator factory change [here](https://github.com/stevenzwu/iceberg/blob/flip27IcebergSource/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java#L93-L100). Right now, it is just doing simple clone if iterator returns reused object. for Avro iterator (which alread

[2020-10-23 05:52] liukun4515 opened #1652 "Spark Action: `table` with the catalog will get the exception `Invalid table identifier`"
If load the iceberg table from the spark catalog, the `toString` of the spark table will have the catalog name.
For example, `spark_catalog.default.tablename`, the catalog name is `spark_catalog`.
But executing the spark action will producer error.

[code]

[2020-10-23 06:00] HeartSaVioR commented on #1652
It's a known issue and we've documented into Iceberg-Spark guide doc.
https://iceberg.apache.org/spark/#inspecting-tables

[2020-10-23 06:16] JingsongLi commented on #1643
I think a file like connector like iceberg can use an interface like `BulkFormat`:
https://github.com/apache/flink/blob/2da55b8f841ba93e1aa7c56de31e6c5632d725ba/flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/reader/BulkFormat.java

Here is a parquet format example:
https://github.com/apache/flink/blob/8da968e8d0b1bb13e79d227236f814db69eb31a7/flink-formats/

[2020-10-23 06:21] JingsongLi commented on #1643
For the row-based reader, can `RowDataIteratorFactory` just provide a `createIterator(...., boolean objectReuse)`? Is this enough?

[2020-10-23 09:31] HeartSaVioR commented on #1652
Could you please provide the query you ran, and how you provide the configuration to setup catalog?

[2020-10-23 09:53] liukun4515 commented on #1652
I implement the spark sql extension (remove orphan files) using the spark action.
The pr is [sql remove orphan files](https://github.com/apache/iceberg/issues/1652)

When running the test, the corresponding error will be generated.

The configuration is :
![image](https://user-images.githubusercontent.com/7450163/96989614-8a81cd80-1558-11eb-9f85-0c41bd5aca24.png)

The exception is
[code]

[2020-10-23 09:58] liukun4515 commented on #1652
The code is
[code]
if the table is loaded by spark catalog, the format of the table name is `catalog.database.tablename`.
[inspect by DF](https://iceberg.apache.org/spark/#inspecting-with-dataframes)

[2020-10-23 10:47] liukun4515 commented on #1652
@HeartSaVioR

[2020-10-23 15:59] stevenzwu commented on #1643
@JingsongLi I really like the suggestion, which hides the reuse behavior within the iterator. It is a better abstraction that doesn't leak the reuse/clone logic to the caller or factory.

[2020-10-23 17:11] rdblue commented on #1502
I think that the lifecycle of a catalog should be tied to the lifecycle of a SQL session, which addresses the problem because the catalog is not closed unless the session is.

I'm not aware of a catalog cache anywhere. Is that something you have added?

[2020-10-23 18:24] #1410 closed

[2020-10-23 22:51] stevenzwu commented on #1626
@openinx @kbendick  you can find the PoC code [here](https://github.com/stevenzwu/iceberg/pull/1/files). Right now, the `TestIcebergSource` all passes. I still need to spend more time to make the `TestIcebergSourceReaderDeletes` work.

@kbendick can you elaborate more on what is the pain point with chaining AsyncWait tasks and why FLIP-27 source interface helps? Just interested to learn.

[2020-10-24 00:23] wg1026688210 opened #1653 "How to excute checktyle in interllij-idea"
I found  file   '.baseline/idea/intellij-java-palantir-style.xml' in project ,but I don't know how to use it in idea.

[2020-10-24 00:51] #1653 closed

[2020-10-24 01:09] RussellSpitzer commented on #1653
I'll write up some docs for this if you haven't figured it out yet, also you want to use .baseline/checkstyle/checkstyle.xml

[2020-10-24 01:58] HeartSaVioR commented on #1652
Ah OK, I thought you're asking about "actual usage", but you seem to share the issue on Iceberg development.

One thing you need to be aware is, if you use DataFrameReader API or deal with Iceberg code, you no longer use Spark's catalog functionality. Spark would provide table identifier "without catalog name" when calling methods in catalog, but I'm not aware of how Spark extension would work, so

[2020-10-24 04:47] stevenzwu commented on #1643
I took a look at the BulkFormat interface. It does make sense for the Flink reader to use `BulkFormat` abstraction (than the `CloseableIterable`). I will update the FLIP-27 source PoC code to try out the `ParquetVectorizedInputFormat`.

[2020-10-24 19:58] mickjermsurawong-stripe opened #1654 "Reading manifest Avro hangs when S3A inputstream returns less bytes than requested"
**Observation**: Spark job intermittently hangs with driver thread stuck in reading avro file with S3A inputstream, according to Thread dump here.
[code]
**Affected code**: `DataFileReader.openReader`
https://github.com/apache/iceberg/blob/f17879c426c2e3c5fa40f17dfe58633bc866f1c9/core/src/main/java/org/apache/iceberg/avro/AvroIterable.java#L98-L105
**Root cause**: Avro reader checking header has i

[2020-10-25 09:50] gallushi opened #1655 "Extend HadoopTableOperations to also work with other FS guarantees"
Currently, `HadoopTableOperations` requires atomic rename from the underlying FS.
however, other guarantees such as atomic write can also suffice. this will allow other storage systems (for example, [IBM Cloud Object Storage](https://www.ibm.com/cloud/object-storage), which supports atomic write) to be used.

[2020-10-25 13:15] waterlx commented on #1502
@rdblue I think what Junjie talked about is HiveCatalogs. It calles close() of HiveCatalog when the cache entry is removed. And the corresponding HiveClientPool is closed as a result.

[2020-10-26 03:51] liukun4515 commented on #1652
@rdblue @RussellSpitzer
I have a question about the implementation of the spark actions.
If I want to use the customer catalog(the catalog name is `test_catalog`) to do some spark actions, the spark dataframev1 not support the customer catalog.

[2020-10-26 06:12] wg1026688210 commented on #1639
LGTM, We also have this requirement

[2020-10-26 07:35] zhangjun0x01 opened #1660 "Add max parallelism for RewriteDataFilesAction"
The current default parallelism of RewriteDataFilesAction is the number of CombinedScanTask tasks, but if there is a lot of data in the  partition, the task size will be very large, which will occupy a lot of system resources and affect the running tasks. I think we should set The max parallelism of RewriteDataFilesAction to avoid taking up too much system resources

[2020-10-26 07:45] zhangjun0x01 opened #1661 "Repeated rewrite datafile in RewriteDataFilesAction"
The default targetSizeInBytes of RewriteDataFilesAction is 128M, but when there are three 120M files in the partition and execute the rewrite action, three new datafiles of the same size as the original files will be regenerated. I think it is unnecessary and will waste the system resources

[2020-10-26 08:35] liukun4515 opened #1662 "Action: support spark3 and customer catalog"
In the spark2.4, the action uses the interface `spark.read().format("iceberg").load(table)` to load the table as the dataset.
But It just can load the default spark catalog(`spark_catalog`) table, and the `table` is `db.tablename`.
If I want to use the action to handle some tables which are in the other iceberg customer catalog, there will throw an exception referred to the #1652.

[2020-10-26 09:13] fbocse commented on #1496
@pvary ah yes, I think you are right, there's no dead-lock on account of out-of-order writes from committer to metadata version files (snapshots) or version-hint text file based on that code snippet.
Regardless of the version hint the code will try to detect the most recent snapshot by incrementally traversing snapshot files, right?
So worst case is what? Version hint is a bit behind from recent s

[2020-10-26 13:06] HeartSaVioR commented on #1662
When you deal with DataFrameWriterV1 you may want to "forget about" catalog, and also want to "double-check about" how the "path" is interpreted for the format (data source).

Btw what's the use case we would like to touch some tables in other catalog?

[2020-10-26 14:18] RussellSpitzer commented on #1662
I thought you could still load it directly from the path (ignoring the other catalogs?)

[2020-10-26 14:20] RussellSpitzer commented on #1652
@liukun4515 since we can't read the Metadata table through the catalog you'll have to not use the "hive identifier" or "spark identifier" to lookup the table. I think we may need to set it to always use the table location or split out the logic in Base action.

[2020-10-26 21:26] RussellSpitzer commented on #1662
I think I understand the point now,

We want to invoke an action on a table whose identifier cannot be read using the current logic in BaseAction to generate metadata tables.

[2020-10-27 02:49] liukun4515 commented on #1662
@RussellSpitzer

I'm working on the SQL extension(remove orphan files), and want to use the spark action to implement it.
But the current actions just support spark2.

[2020-10-27 05:51] zhangjun0x01 opened #1666 "the fileSizeInBytes of orc and parquet are inconsistent"
I found that the value stored in the variable fileSizeInBytes of DataFile, orc and parquet format are inconsistent. The orc format stores the deserialized data size, while the parquet stores the file size.

This will cause a problem. In RewriteDataFilesAction, the default value of the targetSizeInBytes is 128M，if it is  orc format, , after rewrite action,the size of the datafile is only 10M. Becau

[2020-10-27 06:15] zhangjun0x01 opened #1667 "Optimize generation of CombinedScanTask for RewriteDataFilesAction"
In RewriteDataFilesAction, the default value of targetSizeInBytes is 128M, if there are the following data files: 20M, 20M, 20M, 70M, 100M,The current logic is to scan these data file in turn until the sum of the data file sizes  <= targetSizeInBytes,
So three CombinedScanTask tasks will be generated, (20M, 20M, 20M), (70M), (100M).

Obviously, it is more appropriate to generate two CombinedScanTa

[2020-10-27 07:25] openinx opened #1668 "Do we need to provide a more detailed document for HIVE ?"
I tried to write few records into an iceberg table which is in a hive catalog by apache flink  ([document](https://github.com/apache/iceberg/blob/master/site/docs/flink.md)).  And then I tried to query the table by apache hive ( document is [here](https://github.com/apache/iceberg/blob/master/site/docs/hive.md).

I found that there's only a section described how to query hadoop tables in HIVE.  So

[2020-10-27 07:26] openinx commented on #1668
@massdosage

[2020-10-27 07:57] 1272870698 commented on #1668
我尝试在hive shell 中 创建一个表查询 由 flink 生成的iceberg表但是失败了
我的操作步骤如下:
`add jar iceberg-hive-runtime-apache-iceberg-0.9.0-rc4-238-g779dafd.dirty.jar;
set iceberg.mr.catalog=hive;
set hive.metastore.uris=thrift://....;
CREATE EXTERNAL TABLE iceberg_db_01.iceberg_001(
userid int,
f_random_str string
)
STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler'
LOCATION 'hdfs://nameservice1/user/hive/wareh

[2020-10-27 09:23] waterlx commented on #1591
Is this issue addressed by PR #1525? @aokolnychyi @RussellSpitzer

[2020-10-27 14:12] RussellSpitzer commented on #1591
I will be making a subsequent PR that acknowledge adds the SQL but that PR is going to be the programmatic api which the command will use

[2020-10-27 14:13] RussellSpitzer commented on #1662
Yep we'll have to make some modifications. I think probably a first step is just only making the extensions work for the default catalog. But otherwise we need to start extending some of the methods in the base class so they properly handle multi-part identifiers and we determine how to load up metadata tables properly for tables in other catalogs.

[2020-10-27 21:12] cccs-jc opened #1671 "Support timestamp partition using truncate"
It's possible to partition timestamps using the built-in functions
year, month, day, hour

However you cannot partition for every quarter of hour.

Using the truncate function you can truncate the value of int, long, decimal, string. However not date or timestamp.

If that were possible you could partition timestamps by quarter hour ( 15min x 60seconds = 900seconds )

`truncate(timestamp, 900)`

A

[2020-10-27 23:23] rdblue commented on #1502
Thanks, @waterlx! That explains it. I agree, we should remove the expiration from that catalog cache.

[2020-10-28 03:00] zhangdove commented on #1671
In most scenarios, I think the time partition to hour should be enough. If timestamp is used to partition for 15 minutes, the following phenomena may occur:
1. There will be more file directories
2. There will also be more small files than other partitions (hour/day/month/year)
3. In a production system, is it common to divide time into minute granularity?

The above is just my opinion, welcome mo

[2020-10-28 11:51] #1635 closed

[2020-10-28 17:25] aokolnychyi commented on #1548
@SteNicholas, yeah, that's something I had in mind.

[2020-10-28 22:57] #1588 closed

[2020-10-28 23:10] #1502 closed

[2020-10-28 23:17] rdblue commented on #1637
It should be safe to update the map to one that allows replacement, but keep in mind that committing the same files twice will lead to duplicate data, not just a problem reading. So you may want the existing behavior.

Can you avoid committing duplicates to your table?

[2020-10-28 23:25] rdblue commented on #1655
@gallushi, can you describe what you're suggesting in a bit more detail? How would you use atomic write instead? And how would you detect whether to use atomic write or atomic rename?

In general, I would not recommend using a file system for this guarantee. It's better to use a database transaction for the atomic update operation. That's why we want to have support for a variety of catalog plugin

[2020-10-28 23:27] rdblue commented on #1666
@shardulm94, can you take a look at the ORC file size metric? It looks like it may be incorrect, which would affect scan planning.

[2020-10-28 23:27] johnclara commented on #1637
@rdblue our pipeline is:
kafka topic -> akka streams service -> ingestion iceberg table -> spark compaction job -> compacted iceberg table

the akka streams service only provides at least once delivery guarantees so we have to be okay with duplicate data anyways in the ingestion table

the way we implemented our metastore's manifest rename actually fails a lot due to DynamoDB rate limiting so we h

[2020-10-28 23:28] rdblue commented on #1667
What alternative algorithm would you suggest? The current algorithm is simple and I'm sure could be improved.

[2020-10-28 23:31] rdblue commented on #1671
The set of partition transforms needs to be a standard set so that they are portable across implementations of the table format. So far, we haven't had any use cases that required more than hourly partitioning. We can add more partition transforms.

[2020-10-28 23:33] rdblue commented on #1668
Yes, we do need more documentation for Hive. I think this is something I'll work on after the 0.10.0 release candidate is out.

[2020-10-28 23:35] rdblue commented on #873
I think we should clean up data files like this, but I don't think this needs to be part of the sink milestone, which is otherwise finished. I'm removing the milestone from this and will close it.

[2020-10-28 23:35] rdblue commented on #873
@openinx, is this still a problem for the Flink sink?

[2020-10-28 23:36] rdblue commented on #317
This was implemented in #1373.

[2020-10-28 23:36] #317 closed

[2020-10-28 23:37] rdblue commented on #361
This was done in #1499.

[2020-10-28 23:37] #361 closed

[2020-10-28 23:37] rdblue commented on #360
The spec was updated with equality delete files in #1499.

[2020-10-28 23:37] #360 closed

[2020-10-28 23:38] rdblue commented on #1018
This is done, closing.

[2020-10-28 23:38] #1018 closed

[2020-10-28 23:38] rdblue commented on #1017
This is done, closing.

[2020-10-28 23:38] #1017 closed

[2020-10-29 00:52] rdblue opened #1680 "Spec: document partition transforms for timestamps before 1970"
The Java implementation uses `ChronoUnit.between` to calculate years, months, days, and hours transforms for timestamp and date types. For dates and timestamps before 1970, the values are off by 1 because units are rounded down.

For example, 1969-12-31 23:59:59.000000 is -1,000,000 in microseconds. When that value is converted to hours by dividing by 3,600,000,000 microseconds per hour, the value

[2020-10-29 01:00] rdblue commented on #1637
Okay, sounds like you're already handling deduplication so this should be okay for you. I think the approach you mentioned will work. Would you like to open a PR?

[2020-10-29 01:01] zhangjun0x01 commented on #1667
My idea is to use the dynamic programming algorithm to get an optimal result, but I haven't implemented this algorithm yet. I will think about how to do it and do a test later

[2020-10-29 01:27] zhangjun0x01 commented on #1666
hi,@rdblue,@shardulm94:
I read the source code. I found that when constructing the DataFile in the BaseTaskWriter.RollingFileWriter#closeCurrent method, we get the fileSizeInBytes by the length() method of the currentAppender, and the OrcFileAppender uses the getRawDataSize() method of the ORC Writer to get the length. I read the comments of this method. It use the deserialized data size.

[code]

[2020-10-29 04:45] kbendick commented on #1649
Ok. I've added a github action in my personal fork. The asf infra team might have to allow Github Actions on this repo, but it's possible they already have allowed GH Actions on all repos in `apache`. If that's the case, their intervention won't be required (though I'm still going to cut a ticket to have them remove the permissions for the old PR labeler).

I'm now running some tests where I've al

[2020-10-29 04:45] JingsongLi commented on #1643
Under developing.

https://issues.apache.org/jira/browse/FLINK-19799 After refactored on `FileSource`.
I think `HiveSource` based on `FileSource` will make the implementation clear. We can do similar `IcebergSource`.

[2020-10-29 04:46] kbendick commented on #1649
Check if a file added directly beneath the root of the flink directory is labeled as flink: https://github.com/kbendick/iceberg/pull/30 ✅

[2020-10-29 04:53] kbendick commented on #1649
Check if a file by exact name (in the repo root) matches: https://github.com/kbendick/iceberg/pull/31 ✅

[2020-10-29 04:55] kbendick commented on #1649
Check if a file in a nested subdirectory matches: https://github.com/kbendick/iceberg/pull/32 ✅

This test is necessary as there are multiple glob pattern matches listed for files in a directory and files in a subdirectory of a directory, but it appears to make no difference so we can keep the config cleaner.

[2020-10-29 04:56] kbendick commented on #1649
The only thing left to add back on and check afaik is that we previously matched on any file that matched the substring `gradle`. I think I know how to get that back into the labeler.

[2020-10-29 05:01] kbendick commented on #1649
Check if a file that has `gradle` in the name matches in the repo root: https://github.com/kbendick/iceberg/pull/33 ✅

[2020-10-29 05:25] kbendick commented on #1649
I've simplified the `gradle` substring match to combine checking subdirectories and top level directories in my forked branch of this repo, which made the following test pass and also allowed the previous test to pass as well.

Check if a file that has `gradle` in the name at all matches in a subdirectory of the repo: https://github.com/kbendick/iceberg/pull/34 ✅

[2020-10-29 05:26] kbendick commented on #1649
I will put up a PR for the labeler in this repo, as well as email the dev spark list about opening an issue to change their autolabeler, this evening now that I've run all of my tests.

[2020-10-29 05:36] kbendick commented on #1643
So I understand why we'd want to enable object reuse, but is there any concern that end users who use Iceberg in their job graphs might get confused as object reuse is not the default flink behavior?

I don't think this should be a blocker anywhere, but if we merge this, we should definitely be sure to document it. I know at my work we don't enable object reuse by default because of scenarios like

[2020-10-29 05:44] paulzanmei opened #1684 "Iceberg table hive and Flink cannot read or write to each other?"
I tried to create a table on flink to write data into it, and use hive to re-read the table and it was empty; I created a table on hive, but I couldn’t write to it using flink.

Metadata uses HiveCatalog

Is there any solution？

[2020-10-29 05:46] kbendick commented on #1649
Can somebody assign this issue to me? I'm going to reach out to ASF infra as well as on the spark dev emailing list, and I won't to ensure that everything looks correct to any outside observers that might be double checking for security concerns really quickly or something (e.g. the asf infra team). cc @rdblue @aokolnychyi

I will submit a patch for this tonight, but I'll need to folllow up with t

[2020-10-29 06:35] kbendick commented on #1649
I force pushed the current master to my personal fork, so if the tests aren't showing up correctly now that's why. However, the labels that they applied are still in the open PRs.

[2020-10-29 07:02] kbendick commented on #1649
I've opened a JIRA ticket with the infra team to have them disable the probot labeler and revoke its permissions: https://issues.apache.org/jira/browse/INFRA-21048

[2020-10-29 08:22] liukun4515 commented on #1662
There are pull requests about the modifications?

[2020-10-29 08:24] liukun4515 commented on #1591
I think  #1525 just modify the action to support spark3( multi catalog).

[2020-10-29 11:12] wg1026688210 opened #1688 "iceberg flink sink job can't restart due to metadata location not found"
### flink sink job fail
##### we found job fail due to hive metastore  server  timeout
[code]

### error log  in hive
[code]

### job can not restart from checkpoint

and  then  job  can't restart  from checkpoint automatically   due to metadata location not found when hive  catalog loads iceberg table

[code]

We found metadatafile will be deleted when  alter hms table  operation  throwed excepti

[2020-10-29 11:33] wg1026688210 commented on #1653
hi~ @RussellSpitzer  I have resolved it ,  I think it's a good idea to add some docs for somebody  who want to join iceberg community

[2020-10-29 12:15] cccs-jc commented on #1671
For many years we have been partitioning our RDBMS into 15min. Because of ever growing dataset sizes we are transitioning to a mixed architecture where most of the data will reside in a datalake and some curated datasets will be stored into RDBMS. Ideally we would like the partitioning of our datalake to mirror the partitioning of our RDBMS.

I agree that dividing time into minute granularity is t

[2020-10-29 12:19] chenjunjiedada opened #1689 "Master build fails on my local develop machine"
[code]

[2020-10-29 14:00] #1689 closed

[2020-10-29 14:33] RussellSpitzer commented on #1662
Not yet, but obviously we will need to make some :)

[2020-10-29 15:11] liujinhui1994 opened #1690 "Where can I find the design documents? For example, support java to write iceberg"
Where can I find the design documents? For example, support java to write iceberg？

[2020-10-29 16:31] #1649 closed

[2020-10-29 16:48] RussellSpitzer commented on #1684
Could you explain step by step what you did and what you expected to have happen? For example how you created the table and then how you attempted to read from it, what tools were you using etc?

[2020-10-29 17:24] kbendick commented on #1690
There's the main website: https://iceberg.apache.org/

[2020-10-29 18:31] aokolnychyi opened #1693 "Fix validateCurrentSnapshot in SnapshotManager"
See [here](https://github.com/apache/iceberg/pull/1677#discussion_r514097825) for details.

[2020-10-30 01:07] liujinhui1994 commented on #1690
The official website does not seem to exist? What I want to find is similar to RFC, or design documents described in google document
@kbendick

[2020-10-30 01:59] openinx commented on #1690
@liujinhui1994  which part you want to read about the design document ?  flink sink connector ? we don't have a page to collect all those documents,  but I think I can provide the design context  or some link about the discussion if you really need to read.

[2020-10-30 02:01] openinx commented on #1684
Yeah,  I think we need more context ( such as how did you test those cases step by step ) to help find out what's wrong. Thanks.

[2020-10-30 04:21] stevenzwu commented on #1643
@kbendick agree with your concern. I will look into the BulkFormat abstraction that Jingsong mentioned. Potentially, we can use the BulkFormat interface with the existing `DataIterator`.

[2020-10-30 05:22] paulzanmei commented on #1684
@RussellSpitzer   @openinx
My expectation is to use hive to create an iceberg table, use flink to write data, and then use hive and Presto to query and analyze the data

Operation steps:

hive:
1.  add jar /path/to/iceberg-hive-runtime.jar
2. CREATE EXTERNAL TABLE customers
STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler'
TBLPROPERTIES ('iceberg.mr.table.schema'='{"type":"struct","

[2020-10-30 09:19] liukun4515 commented on #1662
Is this #1525 pr is about supporting spark3 action?
@RussellSpitzer

[2020-11-01 19:20] #1666 closed

[2020-11-01 19:51] rdblue commented on #1688
I think a fix for this needs to happen during commit, not during read. Otherwise there is a correctness error that can only be resolved by a human. Please see my comment on #1687 for more detail.

[2020-11-01 20:19] #1419 closed

[2020-11-01 22:02] stevenzwu opened #1698 "Add a serializer for FileScanTask"
For batch/bounded mode, Java Serializable works well as there is no concern of schema evolution. If we are going to support the streaming read with long-running jobs, we need to consider schema evolution for checkpoint state. Otherwise, change in the code might break the Java serialization and ability to restore from checkpoint.

Here are some high-level thoughts.

* Move most of the schema define

[2020-11-02 02:11] aokolnychyi commented on #1142
Yes, this has been resolved. Thanks!

[2020-11-02 02:11] #1142 closed

[2020-11-02 02:12] qphien opened #1699 "Failed to select decimal value with hive when scale in filter is different with hive DDL schema"
Related to issue: https://github.com/apache/iceberg/pull/1326
[code]

With 100.1 cast as decimal(7, 2), hive still throws the same exception.

[code]

[2020-11-02 02:35] openinx opened #1700 "Create a bash script to verify the apache iceberg release tarball automatically"
It's good to write a script to do all the steps for verifying the release https://lists.apache.org/thread.html/rd5e6b1656ac80252a9a7d473b36b6227da91d07d86d4ba4bee10df66@%3Cdev.iceberg.apache.org%3E,  so that people from the community don't have to test those by handle.

[2020-11-02 02:38] chenjunjiedada commented on #1438
The original issue turns out a cluster deployment issue. The concern of checkpoint serialization was resolved by https://github.com/apache/iceberg/pull/1477.

[2020-11-02 02:38] #1438 closed

[2020-11-02 06:10] paulzanmei commented on #1684
1. hive create table
CREATE EXTERNAL TABLE customers
STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler'
LOCATION '/data/iceberg_catalog/test/customers'
TBLPROPERTIES ('iceberg.mr.table.schema'='{"type":"struct","fields":[{"id":1,"name":"customer_id","required":true,"type":"long"},{"id":2,"name":"first_name","required":true,"type":"string"}]}');

2. flink operation table
tableEnv.exec

[2020-11-02 06:56] openinx commented on #1684
The approach looks strange about the test steps,  you created a hive external table by hive firstly,   then created hive catalog in flink, finally you tried to query the table which created in `hive shell` by `flink SQL`  ?   The flink `TableEnvironment` won't know there's a created table named `customers` unless you register this table to `TableEnvironment` explicitly,  while I saw that  it will

[2020-11-02 07:05] paulzanmei commented on #1684
Create a table in the flink sql shell, the data in the table cannot be read through select in the hive sql shell, and the number of returned data is 0.
My ultimate goal is to write data in through flink sql shell, and then query the data through hive and presto, but currently the tables created and written data through flink sql shell cannot be queried through hive and presto

@openinx

[2020-11-02 07:31] JingsongLi commented on #1700
I doubt it slightly.
I think it's better to keep manual validation to cover all kinds of situations.

I think we can add documents to describe how to verify.

[2020-11-02 07:42] HeartSaVioR commented on #1700
FYI I had been using similar verification script to verify release candidates for Apache Storm, and I'm sure it would help much on the steps everyone will do the same. The steps which script will cover would be the "minimum" steps of verification. Ideally every releases should be tested with manual workloads individual would have, which will not be covered by the automation script. That said, the

[2020-11-02 08:00] zhangdove opened #1702 "Table refresh missing metadata file."
### Use Case:

We have a Spark service on Zeppelin for others to look up Iceberg data online.

1. At time T1, query `prod.db.tb`.(Record version number)`(select * from prod.db.tb limit 1 )`
2. At time T2, the second query is made on `prod.db.tb`.

The time between T1 and T2 may be a day or a month or more. During this time, we have an asynchronous operation to clear the small files of `prod.db.tb`

[2020-11-02 08:01] zhangdove commented on #1702
I will try to add a PR to fix this issue

[2020-11-02 09:06] openinx commented on #1684
Hi @paulzanmei

I tried your case on my local host,  I did not query the hive catalog table ( which is created in flink sql) in hive sql successfully,   but I did the similar thing successfully for hadoop table.  Say the following steps would work:

Step#1 :  Create a hadoop catalog/database/table in flink sql and then write one record:

[code]

Step#2:   Create an external hive table in hive shel

[2020-11-02 09:35] paulzanmei commented on #1684
Hi @openinx   Thank you, the usage you provided can indeed.

I have a question, write data in flink sql, produce source through datagen connector, write to iceberg table

1. Flink creates CATALOG as hive type and can be written successfully

2. Flink creates CATALOG as the hadoop type, and the datagen connector is inserted into the iceberg table. The program keeps running, and hive can't query the

[2020-11-02 09:43] openinx commented on #1684
Could you pls check that whether it did commit the iceberg transaction successfully ?  If we did not commit the transaction, then hive won't see the results.  As we transaction commitment happened when flink checkpoint occur, so it's better to check the checkpoint configurations (such as checkpoint interval, disable or enable ? )

[2020-11-02 09:57] paulzanmei commented on #1684
Hi @openinx

flink checkpoint is not turned on

If flink uses hive CATALOG, data can be written normally, and the datagen connector data is generated, the process will automatically end;
hadoop CATALOG does not end the process of writing data

[2020-11-02 11:31] openinx commented on #1684
Could you help to dump the stack trace for the hadoop catalog case ?

[2020-11-02 11:31] marton-bod opened #1708 "Setting global conf in HiveIcebergStorageHandler breaks queries with multiple tables"
Setting the table schema in the global job conf in`HiveIcebergStorageHandler#configureJobConf()` - see #1557 - introduced a problem: whichever table calls this function last, ends up having its schema stored in the global conf (overwriting all the previous ones).

This leads to issues when using multiple tables (joins) in Tez: in `HiveIcebergSerde#initialize()`, the schema is taken from the conf w

[2020-11-02 15:29] massdosage commented on #1668
Yes, it's actually on my list to do this as the next addition to the Hive documentation. I have a set of integration tests that I'm writing that create tables using each of the possible methods (Hadoop Tables, Hive Catalog, Custom Catalog etc.) and then query them from Hive. Once I have a complete path working I've been documenting it as I'm then sure it works end to end. I've only managed to get

[2020-11-02 17:46] mickjermsurawong-stripe commented on #1654
The Avro fix https://github.com/apache/avro/pull/969 has been merged and it's in version 1.10.
Ideally the fix is back-ported to older versions too. I've sent a note to Avro dev to get a sense of how pressing is this problem to others.

If this would help others, we made a patch to our internal Iceberg to avoid the hang instead. Specifically, we re-implemented the thin logic of checking the Avro h

[2020-11-02 18:19] HotSushi commented on #1708
+1

The reason why the error in https://github.com/apache/iceberg/pull/1557 doesn't show up in the integration test [here](https://github.com/ExpediaGroup/iceberg/blob/master/mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerBaseTest.java#L145),  is because Hive2 overwrites properties set in `configureInputJobProperties()` on top of `configureJobConf()`.

We found that, Hive2 di

[2020-11-02 21:55] rdblue commented on #1708
@HotSushi, could you open a PR with the fix?

[2020-11-02 21:56] RussellSpitzer commented on #1652
@liukun4515 I went over this a bit more with @aokolnychyi , we saw that the catalog name is being appended like you saw but this should be a valid identifier for the table. Can you provide me with a bit more info about where things are going wrong and the test you have which is failing?

From what we went over the main issue (if there is one) should be with metadata names from catalogs that start

[2020-11-03 00:47] rdblue commented on #1702
@zhangdove, from the description, it looks like the current metadata file for the table was deleted, is that right? If so, then the table was corrupted and this should result in the exception that was thrown. Reading an old metadata file instead of the current one would be incorrect and would roll back changes in the missing metadata file.

[2020-11-03 01:20] zhangdove commented on #1702
@rdblue Yes, just as you described.

There is a parameter `write.metadata.previous-versions-max` control the number of metadata, when another process using `actions.RemoveOrphanFiles()` to clean orphan files, the older of metadata files will be deleted, and SparkSession still old cache metadata file information.

[2020-11-03 01:44] rdblue commented on #1702
Are you saying that the version that was deleted wasn't the current version? This failed because a session was kept open for a long time?

If so, why didn't refresh on its own work?

[2020-11-03 02:08] zhangdove commented on #1702
We have a Spark service on Zeppelin, it's a long service SparkSession.

When a table that has already been queried is re-queried after some time, it will throw out that the manifestfiles do not exist.

So, we executor `spark.sql("refresh table prod.db.tb")`.However, when do refresh, because the old version value is kept in`HadoopTableOperations`, the metadata file is searched using the old version

[2020-11-03 03:19] liukun4515 commented on #1652
The multi catalog is supported in the spark3, when the name of the catalog is not "hadoop" or "hive".
In sql extension pr [remove orphan file](https://github.com/aokolnychyi/incubator-iceberg/pull/2/files), if the name of the catalog is `testhive`, the test will fail with the exception.

[2020-11-03 04:02] aokolnychyi opened #1710 "NOT IN with nulls should be treated as false"
Right now, we remove nulls from IN predicates while translating Spark filters to Iceberg. Due to that, we don't handle NOT IN with nulls in an optimal way. NOT IN with nulls should match nothing.

[2020-11-03 04:59] RussellSpitzer commented on #1652
I don't see why it should fail with that name, can you give an example
test? If that is the name of a registered spark catalog it should work.

On Mon, Nov 2, 2020, 9:19 PM Kun Liu <notifications@github.com> wrote:

[2020-11-03 06:48] liukun4515 commented on #1652
the conf of spark catalog is:
[code]
The identifier of spark table is `testhive.default.tablename`, the interface of spark2 just can load file_path or default table name.

![Uploading image.png…]()

[2020-11-03 07:04] liukun4515 commented on #1652
@RussellSpitzer you can load spark table from customer catalog where the name is neither `hadoop` nor `hive` and execute the `RemoveOrphanFilesAction`  action.

[2020-11-03 08:08] JingsongLi commented on #1684
According to https://github.com/apache/iceberg/blob/master/site/docs/hive.md
Hive reader only supports read a existed Hadoop table...

[2020-11-03 14:08] skambha opened #1711 "Publish an incremental scan event during planning"
There is a todo in the `IncrementalDataTableScan` to publish a incremental scan event.

I can take a look into this.
Incremental scan has a ‘from’ and ‘to’ snapshot that needs to be passed to the event as well.

- We can add a new `IncrementalScanEvent` that has the ‘from’ and ‘to’ snapshot information as well in addition to the projection, filter and tablename info.  _Or_
- We could enhance the `

[2020-11-03 14:58] RussellSpitzer commented on #1652
Ah so the error is that the current code uses the non-catalog based Spark
dataframe pathway through spark.read.format.load. Which triggers
IcebergSource as a datasource register which can't handle catalogs since it
is the "non-catalog" path.

On Tue, Nov 3, 2020 at 1:04 AM Kun Liu <notifications@github.com> wrote:

[2020-11-03 15:05] RussellSpitzer commented on #1652
Ok I can put up a PR for this, the answer is when using Spark3 we should be calling

    return spark.table(allManifestsMetadataTable).selectExpr("path as file_path");

Instead of spark.load..blahblah, I need to think for a second if this breaks compatibility with anything ...

[2020-11-03 16:49] marton-bod commented on #1699
Thanks for flagging this issue @qphien . I've started investigating it.

[2020-11-03 17:49] rdblue commented on #1702
Okay, if I understand correctly, you keep a table around for several days. It starts on some version, like 3175. Then when you call refresh, it tries to look up the next version and fails because both 3175 and 3176 have been deleted already. So it tries to use 3175 and fails.

It seems to me that the problem is keeping a table reference around for that long. Why not drop the cached reference and r

[2020-11-03 18:28] rdblue commented on #1710
I don't think this is going to be easy. You're right about the behavior, but NOT IN is passed as `not(in(...))` and it works because `not(null)` is `null`. We could inspect the child expression in `not` and look for `in` with a null, but replacing with `alwaysFalse` at that point isn't correct because negating further up the expression tree should still result in `null`, but negating `alwaysFalse`

[2020-11-03 20:13] rdblue commented on #1711
I think we should maintain compatibility in `ScanEvent` since it is part of the API. I think I favor the first option, to add an `IncrementalScanEvent`.

[2020-11-03 20:43] dmgcodevil opened #1713 "Query by `day` doesn't work"
I have two partitions created using transformation functions: `day` and `bucket`.

Schema:

[code]

i.e. `struct: struct<1000: frontdoor_timestamp_day: optional date, 1001: security_id_bucket: optional int>`

I'd like to query by day:

[code]

Getting the following error:

[code]

What am I doing wrong?

Also tried: `scan.filter(Expressions.equal(Expressions.day[Int]("frontdoor_timestamp"), 20))`,

[2020-11-04 01:54] zhangdove commented on #1713
As the data type of your `frontdoor_timestamp` field is timestamp, you can express `frontdoor_timestamp = '2020-10-20'` by using the following method

[code]

Maybe there's a better way to write it, and hopefully that helps you.

[2020-11-04 02:31] zhangdove commented on #1702
Right! We can disable the cache of the catalog by using the `cache-enabled` parameter, but we still want to use the cache to ensure the consistency of the results before and after the data analysis in a short time.

In addition, I'm not sure whether agree with the modified of the #1703  from the community's point of view. At least in the current case it will not work.

[2020-11-04 08:19] paulzanmei commented on #1684
Hi @openinx  @JingsongLi  Thank you for your help. The problem has been solved

Checkpoint needs to be configured to write data successfully

[2020-11-04 08:19] #1684 closed

[2020-11-04 08:25] paulzanmei opened #1717 "How does iceberg delete by primary key or conditional row level ?"
I want to use table.newRowDelta() .addDeletes(eqDeletes) api to complete row-level deletion. Is there any case?

Whether to create DeleteFile object through Parquet.writeDeletes(OutputFile file) api. I have a question, how to create and use OutputFile file object?

Storage uses HDFS

[2020-11-04 10:00] qphien opened #1718 "Failed to create hive table with hadoopCatalog"
Related to https://github.com/apache/iceberg/pull/1495
[code]

[code]

HadoopCatalogTableBuilder only support null location

[2020-11-04 10:02] HeChuanXUPT opened #1719 "NoClassDefFoundError: org/apache/iceberg/relocated/com/google/common/collect/Maps"
env:
- flink-1.11.2-bin-scala_2.12
- apache-hive-3.1.2-bin
- apache-iceberg-0.10.0-rc0

ref: https://github.com/apache/iceberg/blob/master/site/docs/flink.md

I build iceberg-flink-0.10.0.jar from tag apache-iceberg-0.10.0-rc0
sql-client crashed with iceberg-flink-0.10.0.jar when create catalog, then I try the jar build from master branch, display the same error message

CREATE CATALOG hive_catalo

[2020-11-04 11:33] skambha commented on #1711
sounds good. I went ahead and created a pr using the first option.

[2020-11-04 11:35] openinx commented on #1719
I think you've loaded the wrong iceberg-flink jar,   iceberg-flink-runtime-0.10.0 is the correct one.

[2020-11-04 16:36] dmgcodevil commented on #1713
@zhangdove thanks for the reply, so it's not possible to use a transformation function on queried fields, am I getting this right?
Also, I've noticed that I need to multiply my timestamp by 1000 otherwise I'm getting wrong results. Why do we need to do that?
For example in iceberg parquet file frontdoor_timestamp = 1603411200404000, however Timestamp.valueOf("2020-10-20").getTime = 1603411200404

[2020-11-05 00:04] rdblue commented on #1702
The fix in #1703 doesn't seem like the right one to me because it will hide problems with broken tables, where the current metadata file is actually missing. For your use case, maybe you should clear out the cache every so often to avoid having this happen, or refresh all of the tables in the cache periodically. Refreshing periodically would make sense to me.

[2020-11-05 00:54] zhangdove commented on #1702
Are there any relevant parameters to refresh periodically(If it exists)? Or, we need to manually trigger Refresh all of the Table on a regular basis?

[2020-11-05 01:22] zhangjun0x01 commented on #1660
we had add the max parallelism on #1623 ,close this issue

[2020-11-05 01:22] #1660 closed

[2020-11-05 01:55] zhangdove commented on #1713
I can't guarantee I can explain the cleanup, so I suggest you take a look at the test case here
https://github.com/apache/iceberg/blob/master/api/src/test/java/org/apache/iceberg/transforms/TestTimestampsProjection.java

[2020-11-05 03:13] HeChuanXUPT commented on #1719
My fault 😞

[2020-11-05 03:13] #1719 closed

[2020-11-05 07:48] paulzanmei opened #1724 "The row-level deletion is complete, and the conditional filter query null pointer exception"
I call the row-level delete API to delete a single record, and a null pointer exception occurs when calling the filter condition query API

Step#1: Delete data based on conditions

[code]
execution succeed

Step#2:  Conditional query failed

[code]

[code]

If query without conditions:

[code]
Can query all data and filter the deleted data

May I ask what is the problem, am I using it wrong?

[2020-11-05 08:00] HeartSaVioR commented on #1690
If you're trying to find Java API, https://iceberg.apache.org/api/ & https://iceberg.apache.org/javadoc/

If you're trying to find the internal details, https://iceberg.apache.org/spec/

[2020-11-05 08:14] HeartSaVioR commented on #1713
https://iceberg.apache.org/spec/#primitive-types

Once you're dealing with Iceberg core API directly, you need to understand the Iceberg types. According to spec, Iceberg stores timestamp via microsecond precision, which is different than java.sql.Timestamp (probably you meant this) which getTime would provide millisecond precision.

[2020-11-05 09:06] HeartSaVioR commented on #1713
Also the one of major advantages in Iceberg is that you really don't need to specify the partition explicitly. You can apply filter on origin column, and Iceberg will automatically prune the partitions based on the condition.

I don't know whether Iceberg supports explicit partition filtering, but the automatic pruning really works well.

[2020-11-05 15:29] dmgcodevil commented on #1713
@zhangdove  thanks for the link

@HeartSaVioR I thought if `Expressions` has `day` function I can do `filter(Expressions.equal(Expressions.day[String]("frontdoor_timestamp"), "2020-10-20"))` instead of `between`

closing this issue

[2020-11-05 15:29] #1713 closed

[2020-11-06 01:02] #1693 closed

[2020-11-06 01:43] #1724 closed

[2020-11-06 01:45] paulzanmei commented on #1717
Use #1724 this case to write and delete files

[2020-11-06 01:45] #1717 closed

[2020-11-06 17:46] RussellSpitzer opened #1735 "Exceptions thrown when column pruning metadata tables from older iceberg tables"
A table created with Iceberg 0.8~ has issues when the metadata table is read using column pruning in Spark with Iceberg 0.9.1 or 0.9.0.

[code]

This does not occur if you make the table within the same Iceberg Version (0.9.0 or 0.9.1). A different error occurs if you attempt to prune within the data_file construct itself.

[code]

Selecting just the data_file is fine
[code]

[2020-11-06 18:16] RussellSpitzer commented on #1735
Attached is a sample table I made which reproduces the issue
[oldicebergtable.zip](https://github.com/apache/iceberg/files/5502839/oldicebergtable.zip)

[2020-11-06 18:36] rdblue commented on #1702
That's not a feature that's been implemented.

[2020-11-06 18:41] stevenzwu commented on #1698
@openinx @JingsongLi @rdblue any comment?

[2020-11-06 19:02] RussellSpitzer commented on #1735
Ok these are two Separate issues.

The "status" issue only happens when dealing with old tables.

The "data_file.subfield" issue happens with new tables as well

[2020-11-06 20:55] RussellSpitzer commented on #1735
Ok both of these issues seem to be related to trying to file an impossible projection with the AvroReader.

For the "Status" issue on the old table an empty projection is given,
For the "subfield" issue the projection is given as if looking for a top level field which seems not to work

[2020-11-06 22:53] RussellSpitzer commented on #1735
The Status issue is caused by a BuildAvroProjection call,
The empty projection note above is turned into a full manifest entry spec request including data_file as a required field. The actual records present in the "Record" call in BuildAvroProjection have a schema like

[code]

This doesn't have the data_file field which causes the projection to fail with "No field data_file" found

[2020-11-07 01:31] RussellSpitzer commented on #1735
Pretty sure the specific error is here

[code]

Given an expected schema
[code]

The code returns
[code]

So our pruned schema looks like
   Schema prunedSchema = AvroSchemaUtil.pruneColumns(newFileSchema, projectedIds, nameMapping);
[code]

Missing the requested data_file column

This all seems to happen on the executors, and since we shouldn't be reading those other columns in the first place it

[2020-11-07 02:00] RussellSpitzer commented on #1735
From what I can tell this actually shouldn't be working on 0.9.1 but works because of a fluke.

When running through prune Columns we check whether or not our field posses a selected ID

[code]

In the 0.9.1 table this correctly also passes through selected field ID's of 0,1,3

We still get the field.pos() on data_file of 2 so it doesn't match. BUT
fields.get(2) returns the Partition schema in "r2

[2020-11-07 21:29] johnclara commented on #1637
@rdblue https://github.com/apache/iceberg/pull/1514 this pull request seems to have fixed the issue by deduping the files by path before creating the immutable map

[2020-11-07 21:30] #1637 closed

[2020-11-07 22:51] johnclara commented on #1637
@rdblue opened pr #1739 with what we added to get around this. it's a pretty bad patch and we'll probably get rid of it

[2020-11-08 03:35] aokolnychyi commented on #1589
Done in #1728.

[2020-11-08 03:35] #1589 closed

[2020-11-09 02:02] zhangdove commented on #1702
Thanks for your reply!

[2020-11-09 02:02] #1702 closed

[2020-11-09 06:44] pvary commented on #1718
The `

[2020-11-09 13:32] RussellSpitzer commented on #1735
Ok! I'm finally going less crazy, this isn't an issue with old tables, this is broken on new tables as well, any Partitioned table is broken regardless of when it was made. My 0.9.X table I was testing before is also broken if it is partitioned, the key difference was between partitioned and not.

[2020-11-09 13:50] RussellSpitzer commented on #1735
Repo

[code]

[2020-11-09 14:38] RussellSpitzer commented on #1735
A more complete view.

We call pruneColumns with ```{0 : status,1 : snapshot, 3: sequence_number}``` as our selected ID's on a second pass (still not sure why we hit this twice or why we request these 3 columns seems like this is a bug too)

These selectedIds are passed in with the fileSchema correctly but there is a slightly strange behavior within the pruning code

https://github.com/apache/iceb

[2020-11-10 01:04] XuQianJin-Stars opened #1746 "Implement spark fanout writer"
Changes involved in this PR:
1. Move the `PartitionedFanoutWriter` of flink to `core/src/main/java/org/apache/iceberg/io` package.
2. Implement immobile writers for spark2 and spark3 modules respectively.
3. User can turn it on according to the parameter `write.partitioned.fanout.enabled= true` in the setting table. The default is false and can also set spark option `partitioned.fanout.enabled` to

[2020-11-10 01:11] HeartSaVioR commented on #1746
Could you please elaborate this with details?

[2020-11-10 02:35] XuQianJin-Stars commented on #1746
hi @HeartSaVioR well, I will verify the implementation of this function to supplement this isuses.

[2020-11-10 03:28] HeartSaVioR commented on #1746
I meant, what is the use case, and what is the goal of the issue, and what would be your approach to deal with this if you'd like to work on this. I guess this is essential information to construct as rationalization when adding a new feature.

[2020-11-11 11:23] zanmeipaul opened #1750 "iceberg-bundled-guava module shadowJar relocate use questions ask"
The iceberg-bundled-guava module uses shadowJar relocate to change the package name. What plug-ins need to be added for Eclipse and IDEA to prevent the development tool from reporting errors?

![image](https://user-images.githubusercontent.com/20592867/98805886-4137e600-2453-11eb-8fc4-864a9c18a61d.png)

[2020-11-11 18:47] jackye1995 commented on #1617
I remember we discussed this use case some time ago in a sync up meeting, and the related issue was  #1531. The general feedback was that it is better to expose this as a Spark procedure, and rewrite the manifests with new file path URIs to reflect new location after replication or backup. This avoids the trouble of redefining the Iceberg spec. Any thoughts?

[2020-11-11 18:52] #1593 closed

[2020-11-11 19:15] RussellSpitzer commented on #1735
Overview of bugs found:

**Example of Bug 1**
[code]

**Example of Bug 2**
[code]

In combination these sometimes negate each other ~ kinda
**Example of interaction of bugs**
[code]

[2020-11-11 20:01] RussellSpitzer commented on #1750
I find that Intellij correctly locates these if you just run the full build
once, once the shadow jar has been made if you refresh the project it will
find the shaded classes.

On Wed, Nov 11, 2020 at 5:23 AM Paul Zhong <notifications@github.com> wrote:

[2020-11-12 02:22] johnclara commented on #1398
Hi @davseitsev, we're also using s3a (version 2.8.4) and I'm wondering if you see this frequently or within a single operation? We're starting to have an issue which we can't identify within a single create() but it sounds like this happens from a create() and then open()?

[2020-11-12 06:57] qphien commented on #1718
Yes, `/hive/default.db/iceberg_table` is not in HadoopCatalog table path format `hadoopCatalogWarehouse/db/table`. #1612 solves location setting problem but we need to set `iceberg.mr.catalog.hadoop.warehouse.location` if table location prefix is inconsistent with `fs.defaultFs/iceberg/warehouse`. Is there any way to skipping setting `iceberg.mr.catalog.hadoop.warehouse.location`?

[2020-11-12 08:15] jackye1995 commented on #1750
I usually run `./gradlew :iceberg-bundled-guava:build`, and it will automatically refresh the dependency.
If not, there is a button to force refresh:

![Snip20201112_3](https://user-images.githubusercontent.com/29823233/98913354-1dd56100-247c-11eb-988e-756cba9e2d54.png)

[2020-11-12 08:20] johnclara opened #1755 "Learnings from S3FileIO"
Hi @danielcweeks ,

I tested out switching from S3A hadoop 2.8.4 to the new iceberg-aws with our local tests.

Most things worked out of the box. The differences were:
- instead of things getting wrapped in a org.apache.hadoop.fs.s3a.AWSClientIOException, the raw exception s3 exception is thrown back up
- switched from aws sdk1 to sdk2 which pulled in a new jackson version and other things that ha

[2020-11-12 08:21] #1755 closed

[2020-11-12 11:47] chaiyuan2046 opened #1756 "iceberg is not a valid Spark SQL Data Source"
spark : spark-3.0.1-bin-hadoop2.7
iceberg : iceberg-spark3-runtime-0.9.1.jar

==============================================
**Step one:**
 bin/spark-sql \
--conf spark.sql.warehouse.dir=hdfs://xxxx:8020/user/iceberg

**Step two:**
 CREATE TABLE ib_test(id bigint, data string) USING iceberg;  --success

**Step three:**
 select * from ib_test;  --The error blow happens：

Caused by: org.apache.spark

[2020-11-12 13:20] RussellSpitzer commented on #1756
This occurs because of a bad error message in Spark. What it really means
is that you attempted to read the table using a datasource v1 read path
when the datasource in question is a v2 one. This is occuring because you
are using the native spark session catalog rather than the iceberg v2
replacement session catalog.

So from here you have a two options I think,

You can override the session catal

[2020-11-13 00:18] yyanyy opened #1761 "Update evaluators to consider NaN for evaluating upper/lower bounds"
See [discussion and the test case](https://github.com/apache/iceberg/pull/1641/files#r521660283), due to the comparison implementation of ORC stats, for float/double columns in ORC files, if the first value in a file is NaN, metrics of this file will report NaN for both upper and lower bound despite that the column could contain non-NaN data. This means that today we may unexpectedly skip includin

[2020-11-13 02:09] jackye1995 opened #1763 "Support multipart upload in S3FileIO"
This issue is created to discuss about supporting multipart upload for S3FileIO. Traditionally people use [S3 TransferManager](https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/examples-s3-transfermanager.html) to do multipart upload. However, there are a few reasons against using it:
1. we are using AWS SDK v2, where the transfer manager is not available yet. The [related Github Issue](

[2020-11-13 05:17] wypb opened #1764 "When using hiveCatalog.dropTable(identifier, true), the table directory is not completely removed"
When using hiveCatalog.dropTable(identifier, true) to drop a Iceberg table, the table directory is not completely removed. eg. before deleting the table, the data directory of the table is as follows:
[code]
after drop table, the data directory of the table is as follows:
[code]
I think the other two meta files should also be deleted, because these files are actually useless, the `ts_year=2020/id_

[2020-11-13 12:17] ismailsimsek opened #1766 "Reading iceberg table using Amazon Athena"
is it possible to read iceberg table using Amazon Athena, will that be possible after  "AWS Glue catalog and table operations"  #1633 ?

[2020-11-13 13:09] zanmeipaul commented on #1750
hi @RussellSpitzer  @jackye1995 , Thank you for your answer. I guess it's my question about using eclipse

[2020-11-13 17:29] danielcweeks commented on #1763
I have an initial implementation the I can post today to discuss as a starting point.  I believe it covers most of the features, but I think there are still a number of open questions about the implementation.

I'll try to get it into a reasonable state so that you can take a look and then we can iterate on addressing any outstanding implementation details.

[2020-11-13 17:45] jackye1995 commented on #1763
Sounds good!

[2020-11-13 18:06] jackye1995 commented on #1766
Hi this is Jack from AWS Athena. Currently we do not have support for this. We are in the progress of adding support, but we have to wait until this Glue catalog is officially released in Iceberg, which will most likely happen in 0.11.0. Before this happens, you can use EMR (version >= 6.0.0) to create Spark 3 cluster and run all the Iceberg queries through that.

[2020-11-13 19:20] ismailsimsek commented on #1766
thank you @jackye1995

[2020-11-13 19:28] aokolnychyi commented on #1592
Done in #1759.

[2020-11-13 19:28] #1592 closed

[2020-11-13 19:29] aokolnychyi opened #1768 "Spark SQL Extensions: Handle concurrent modifications on same table instance"
See [here](https://github.com/apache/iceberg/pull/1759#discussion_r523057898) for more info.

[2020-11-13 23:55] #1595 closed

[2020-11-14 01:06] #1596 closed

[2020-11-14 01:49] #1594 closed

[2020-11-15 06:28] XuQianJin-Stars commented on #1746
hi @HeartSaVioR  This the [PR](https://github.com/apache/iceberg/pull/1774)

[2020-11-16 02:25] hzfanxinxin opened #1775 "The releases page should be updated since 0.10.0 release"
The releases page http://iceberg.incubator.apache.org/releases/ should add 0.10.0

[2020-11-16 22:53] aokolnychyi commented on #1775
@rdblue was kind enough to look into the docs for 0.10.0. I am holding the announcement email till then.

[2020-11-17 00:16] rdblue commented on #1775
#1777 includes the update.

[2020-11-17 00:16] #1775 closed

[2020-11-17 08:09] qphien commented on #1699
This issuse has been fixed by #1742. Close this issue

[2020-11-17 08:09] #1699 closed

[2020-11-17 19:23] mehtaashish23 opened #1779 "Support for UPSERTs in Spark engine"
As part of "Row-level Delete" milestone, we need to support SQL like Merge Into/Update/Delete to use DeleteFile in Spark engine.

[2020-11-17 19:23] mehtaashish23 commented on #1779
@rdblue , @aokolnychyi : can you move this to the appropriate milestone.

[2020-11-17 20:48] rdblue commented on #1654
@mickjermsurawong-stripe, what does the Iceberg patch look like?

[2020-11-17 21:44] mickjermsurawong-stripe commented on #1654
Hi ryan, it's really not a great patch we made. From the original static method [`openReader`](https://github.com/apache/avro/blob/master/lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java#L54) which originally does two things:
- header checking (where the bug is)
- using public constructors for corresponding avro versions found

We simply change any invocation in Iceberg for `D

[2020-11-18 01:23] rdblue commented on #1617
I don't think it is a good idea in general to use relative paths. We recently had an issue where using a `hdfs` location without authority caused a user's data to be deleted by the `RemoveOrphanFiles` action because the resolution of the table root changed. The main problem is that places in Iceberg would need to have some idea of "equivalent" paths and path resolution. Full URIs are much easier t

[2020-11-18 01:32] #1711 closed

[2020-11-18 02:51] kukuzidian opened #1780 "hive cli execute sql query hadoopcatalog table occurred timestamp type cast exception"
1.  use spark stream api create hadoopcatalog tableA .  tableA has 5 culumns ，one is TimestampType.withoutZone .
    I set this value create by TimestampData.fromEpochMillis(System.currentTimeMills()) .
2. I use hive command  line  client , test sql 'select * from tableA' ,this sql execute is OK. but test 'select count(*) from tableA' occurred exception .   eg :  java.lang.ClassCastException: java

[2020-11-19 00:53] johnclara commented on #1654
@mickjermsurawong-stripe we just added a less clean version of the patch and it immediately fixed our dev ingestion service

[2020-11-19 17:26] pavibhai commented on #1617
@jackye1995 and @rdblue
Thanks for your feedback.

Our current thought process is as follows:
1. Only the Table Path be an absolute path, with all other paths in the metadata files being relative paths
2. The relative path should not be visible outside of the metadata component i.e. the relative path should be translated to an absolute path using the table path for other areas of Iceberg to consum

[2020-11-19 17:34] omalley commented on #1617
Relative paths would help us too. We certainly need to have support for a federated namespace with a virtual file system. We're moving to HDFS federation and moving our tables to be located in a virtual filesystem (eg: gridfs://cluster1/table ) so that we can move the data around without changing all of the metadata. The challenge here is that we need to make sure that the manifests don't contain

[2020-11-20 08:49] zhangjun0x01 opened #1791 "add list partitions for flinkcatalog"
show partitions of table is very common required,I think we should add the funtions.

[2020-11-20 12:42] openinx commented on #1791
Sounds good to me, we might need to implement those methods in `FlinkCatalog`:

[code]

[2020-11-20 20:57] aokolnychyi opened #1797 "Add SparkBatchScanContext with common params"
See [here](https://github.com/apache/iceberg/pull/1782/files#r527888051) for more details.

[2020-11-21 12:03] STTianXiang opened #1804 "Does Iceberg have a slack community?"
Does Iceberg have a slack community?
  Because for China, there is almost no information on iceberg. For how to install and use, and use cases, almost all depends on guessing.
Although I am very sorry to say that, iceberg's official website http://iceberg.apache.org/ is really bad.

[2020-11-21 12:53] RussellSpitzer commented on #1804
Join my Slack workspace!
https://join.slack.com/t/the-asf/shared_invite/zt-ei391t4y-47FbOeNfu8SVA8BmSrtm8A

There is an ASF slack channel above, and of course if you have any specific
problems with the docs or ideas for improvement please submit an issue or
pull request.

On Sat, Nov 21, 2020, 6:03 AM STTianXiang <notifications@github.com> wrote:

[2020-11-21 18:01] #1763 closed

[2020-11-21 20:55] johnclara opened #1805 "AWS: Client Side Encryption Support"
TLDR: Do you all want to split out an aws-java-sdk-1 variant or is there no plans to support sdk1?

Not sure if you all already discussed this: The aws java sdk2 doesn't support client side encryption:
https://github.com/aws/aws-encryption-sdk-java/issues/58
https://github.com/aws/aws-sdk-java-v2/issues/34

Current tables with client side encryption wouldn't be able to flip over to this.

One idea

[2020-11-21 21:57] jackye1995 commented on #1805
I remember based on the last discussion, the conclusion is to stick with the v2 client and not split out another v1 client to have a clean dependency, please let me know if we would like the v1 client discussion to be back on the table.

I briefly considered client side encryption when starting the aws module, and the existing Iceberg encryption interface looks good enough for implementing the fea

[2020-11-21 22:40] johnclara commented on #1805
@jackye1995 I think our usecase is still in flux so I was more wondering what the current plan was. I think we were planning on using the AmazonS3EncryptionV2 in certain areas.

[2020-11-22 02:03] jackye1995 commented on #1804
Do we have any plan to have an independent slack workspace outside ASF? I think ASF blocks using non-apache email to join, so it is hard for people to join through the website link without an invite.

[2020-11-22 03:57] RussellSpitzer commented on #1804
It does not block you without an apache email address. I can confirm this
because I do not have an Apache email and I joined :)

On Sat, Nov 21, 2020 at 8:04 PM Jack Ye <notifications@github.com> wrote:

[2020-11-22 04:28] jackye1995 commented on #1804
I don't know if it's a bug of ASF or something else, but I have multiple colleagues tried and some people can join and some cannot and must be invited. I just tried with another email and cannot join or create account, see the screenshots attached.

![Snip20201121_1](https://user-images.githubusercontent.com/29823233/99894324-f464c400-2c37-11eb-9ee4-994dde9c58e8.png)

![Snip20201121_2](https://use

[2020-11-22 04:40] RussellSpitzer commented on #1804
They must have locked it down recently, I've had several folks join without
explicitly inviting them, just sharing the link (as well as me joining
without an email).

On Sat, Nov 21, 2020 at 10:28 PM Jack Ye <notifications@github.com> wrote:

[2020-11-23 19:28] rymurr opened #1808 "SQL extensions for Nessie catalog"
Currently when using Nessie and Iceberg the only way to perform operations on branches is to use the [CLI ](https://projectnessie.org/tools/cli/) as per the example in the [demo](https://github.com/projectnessie/nessie/tree/main/python/demo). Now that Iceberg supports custom SQL extensions it would be good to add some commands to allow manipulation of branches from Iceberg/Spark directly.

The ope

[2020-11-23 20:42] aokolnychyi commented on #1306
I think the current plan is to support loading path-based tables in all Spark catalogs by using HadoopTables.

[2020-11-24 04:24] johnclara opened #1812 "Manifest List is a LinkedList Indexed during Write"
ManifestLists are stored as linked lists:
https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/ManifestLists.java#L46

But with Manifest V1/V2 split, they're getting wrapped and indexed by individual tasks:
https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/SnapshotProducer.java#L180

Any reason why the manifest list should stay as a

[2020-11-24 05:08] #1805 closed

[2020-11-24 08:34] zhangdove commented on #1780
The environment:
[code]

1. Spark Conf
[code]
2. Spark Create Table:
[code]
3. Spark write data
[code]

4. Hive Client Query:
[code]

I have done a test here, and there is no problem. Is your TimestampData customized? Perhaps you can provide more detailed operation?

Good Luck!

[2020-11-24 09:13] zhangjun0x01 commented on #1791
In the first PR, I currently only implement the first method `listPartitions(ObjectPath tablePath)`.

 the `listPartitions(ObjectPath tablePath, CatalogPartitionSpec partitionSpec)` method requires a CatalogPartitionSpec parameter, and the type of the `CatalogPartitionSpec#partitionSpec `  is Map<String, String>. I tested it, the filter in iceberg needs to match the value and type.
For example, if

[2020-11-24 10:13] zhangdove commented on #1764
Can you share your Iceberg version and how it works? I have tested locally that using `Spark.sql (" drop table hadoop_prod.db.tb ")` can delete table directories.

[2020-11-24 10:28] zhangjun0x01 opened #1816 "Flink: add limit push down for IcebergTableSource"
I think we can  add limit push down for IcebergTableSource to improve query performance

[2020-11-24 11:00] pvary opened #1817 "Hive: Flaky test testScanTable[fileFormat=AVRO, engine=tez] org.apache.iceberg.mr.hive.TestHiveIcebergStorageHandlerWithCustomCatalog"
The tez tests are [failing](https://github.com/apache/iceberg/pull/1801/checks?check_run_id=1445046942) from time to time with the following exception:
[code]

[2020-11-24 11:22] gallushi commented on #1655
Hi @rdblue

Currently, when using hadoop tables, `HadoopTableOperations` assumes atomic rename guarantees, and (when committing) proceeds to rename the temp snapshot object from its temp name to the snapshot object name.
However - atomic write can also be used - instead of using the temp object, we can directly (and atomically) write the snapshot object. the write will succeed iff the object did n

[2020-11-24 13:38] STTianXiang commented on #1804
![Uploading image.png…]()

[2020-11-24 16:24] RussellSpitzer commented on #1804
@STTianXiang if you are having trouble just shoot me an email, Russell.spitzer@gmail.com with the email you want invited and I'll add you manually

[2020-11-24 17:58] rdblue commented on #1812
Those two code sections aren't very related. The write is using an array because the manifests are processed in parallel. That happens to ensure that each manifest has metadata. If the `ManifestFile` that will be written doesn't already have metadata about its contents, then it will be scanned to generate that metadata.

On the read side, all of the `ManifestFile` instances in the manifest list ar

[2020-11-24 18:00] rdblue commented on #1655
@gallushi, that sounds good to me. As long as the file commit is atomic, I think we can work with it.

[2020-11-24 19:10] johnclara commented on #1812
Not worth changing

[2020-11-24 19:10] #1812 closed

[2020-11-24 19:16] johnclara commented on #1812
`manifests.get(index)` this section of line 180 in the snapshot producer was the indexing part in the linked list, not the filling of the array.

[2020-11-24 19:24] rdblue commented on #1812
Oh, I see. We could change that to an `ArrayList`. Maybe that would be faster?

[2020-11-25 03:21] zhangjun0x01 commented on #1610
done

[2020-11-25 03:21] #1610 closed

[2020-11-25 14:27] kukuzidian commented on #1780
1.  in iceberg 0.10.0 branch  IcebergTimestampObjectInspector.java  line 75 :
 public Object copyObject(Object o) {
    if (o == null) {
      return null;
    }

    Timestamp ts = (Timestamp) o;
    Timestamp copy = new Timestamp(ts.getTime());
    copy.setNanos(ts.getNanos());
    return copy;
  }

2. but in iceberg master  branch  IcebergTimestampObjectInspector.java  line 75 :
public Object c

[2020-11-25 14:36] kukuzidian commented on #1780
because in my company the network can not connect to the internet . so I can't  copy the full exception message.  and  this issues can't  upload pictures .  I find it difficult to new a issues.  @zhangdove

[2020-11-25 14:48] pvary commented on #1780
@kukuzidian: I think #1740 created by @lcspinter fixes the issue. It did not make it into 0.10.0 😢, so you have to build iceberg yourself until we have another release.

[2020-11-25 15:13] pvary opened #1826 "Hive: TestHiveIcebergStorageHandler should be slimmed down"
On #1607 @rdblue suggested that we should put the Hive specific test to an integration suit like @jackye1995 did with Glue, so if there are changes only in spark or flink code then we do not have to run the whole Hive suite to test the changes.

My understanding of @jackye1995's solution is that we should create a new source folder for the integration tests to separate out the ones we do not want

[2020-11-25 19:53] rdblue commented on #1617
I'll add this as a discussion topic for the next Iceberg sync.

[2020-11-25 22:55] rdblue commented on #1826
I think that we would want to create a new GitHub action that runs Hive integration tests separately and for just one JVM profile. That way, we have an action for JDK8 unit tests, an action for JDK11 unit tests, and a Hive integration test action that runs in parallel with those. That would save overall time by running in parallel, and would save resources by running the expensive tests just once.

[2020-11-26 01:52] 397090770 commented on #1764
Hi @zhangdove, `Spark.sql (" drop table hadoop_prod.db.tb ")` can delete table directories, but `catalog.dropTable(name)`  cannot completely delete table directories.

[2020-11-26 06:57] zhangjun0x01 opened #1830 "listTables method of HiveCatalog should only return iceberg tables"
listTables method of HiveCatalog  return all hive table and iceberg table ,I think the method should only return iceberg table.

[2020-11-26 07:20] zhangdove opened #1831 "Hive: create and write iceberg by hive catalog using Spark, Hive client read no data"
1. Environment
[code]
2. SparkSession configuration
[code]
3. Create database `db` by hive client
[code]
3. Create iceberg table by hiveCatalog using Spark (Link: https://iceberg.apache.org/hive/#using-hive-catalog)
[code]
4. Query iceberg table by hive client
[code]
5. Write data by hive Catalog using Spark
[code]

6. Query iceberg table by hive client
[code]
After writing the data, no data is re

[2020-11-26 07:27] zhangdove commented on #1764
Yes, here's what I tested:
1.drop iceberg table by hive catalog, left some table directories.
2.drop iceberg table by hadoop catalog, it's normal(the directory will be deleted).

[2020-11-26 07:34] 397090770 commented on #1764
Thanks for your reply, I will submit an RP to make these behaviors consistent.

[2020-11-26 08:42] vvellanki opened #1832 "Finalise the proposal for including Partition stats for Iceberg tables"
This ticket is to come up with a final spec for including partition index for Iceberg tables

[2020-11-26 08:43] vvellanki opened #1833 "Make changes to write a Partition stats"
This is dependent on https://github.com/apache/iceberg/issues/1832 and is created to track writing a Partition Index file

[2020-11-26 08:44] vvellanki commented on #1833
This change should also include changes to read the contents of a Partition Index

[2020-11-26 08:49] jxeditor opened #1834 "Why are there few methods for hive/flinkcatalog?"

[2020-11-26 09:05] zhangdove commented on #1764
@rdblue I was wondering if the community, in its initial design #350 , kept the directory of data and metadata as an external data source, not allowing Iceberg or Hive's API to directly delete the directory files, in the same way as Hive's external attributes?

[2020-11-26 11:54] kukuzidian commented on #1780
@pvary  @zhangdove OK , Thanks , now I close this issues .

[2020-11-26 11:54] #1780 closed

[2020-11-26 12:29] #1791 closed

[2020-11-26 17:36] rymurr commented on #1306
Just a heads up, I have picked this up and have a partial impl which I hope to publish a draft PR of soon.

As per https://github.com/apache/iceberg/issues/1306#issuecomment-671627947 it is not clear to me how this will work for filesystems that don't offer atomic primitives. Should we check the uri schema and reject if it isn't supported?

[2020-11-26 19:12] pvary commented on #1831
@zhangdove: Could you please share the HiveServer2 logs for the `SELECT * FROM db.tb` query? Maybe even DEBUG level logs, if possible. Also the results of the `DESCRIBE FORMATTED db.tb` command from BeeLine might help?
Thanks, Peter

[2020-11-27 01:54] openinx commented on #1834
@jxeditor What is your unmet requirement ?   Could you provide more details ? Thanks.

[2020-11-27 03:42] zhangdove commented on #1831
@pvary The DEBUG log information of HiveServer2 is quite large, so I haven't found any useful logs yet. I will make a further investigation later.

And there is `DESCRIBE FORMATTED db.tb`
[code]

[2020-11-27 05:53] liudi1184 opened #1838 "Hive client cannot read the datetime type of Hadoop table in MapReduce phase"
When I use the table created by haoop catalog and read it with hive client, the data can be read without MapReduce. Once MapReduce occurs, the data cannot be read.

Here's the exception：

Error: java.lang.RuntimeException: org.apache.hadoop.hive.ql.metadata.HiveException: Hive Runtime Error while processing row
        at org.apache.hadoop.hive.ql.exec.mr.ExecMapper.map(ExecMapper.java:163)

[2020-11-27 06:34] zhangdove commented on #1831
[code]

[2020-11-27 06:34] zhangdove commented on #1831
@pvary Start HiveServer2 by `bin/hiveserver2 --hiveconf hive.root.logger=DEBUG,console`, and the above information is the log information when 'select * from db.tb' is made.

I'm not sure if I configured the environment the wrong way, I didn't find the information I wanted from this pile of logs.

[2020-11-27 07:04] zhangdove commented on #1831
@pvary And the strange thing is that In this [issue-comment](https://github.com/apache/iceberg/issues/1780#issuecomment-732741938), I used the HadoopCatalog to create a table, write data, and then read it in the way of Hive external table, and the result could be returned normally.

[2020-11-27 08:42] pvary commented on #1831
@zhangdove: The main problem is this:
[code]
Somehow the SerDe is not set.
We should find out why the following line is not working:
[code]

[2020-11-27 09:07] pvary commented on #1831
There might be some issue with the table properties:
[code]
Could we check the metadata value for `TableProperties.ENGINE_HIVE_ENABLED`?

Thanks,
Peter

[2020-11-27 09:47] pvary commented on #1838
@liudi1184: Thanks for reporting this!
@lcspinter found the issue and fixed it. See: Hive: Fix casting bugs in Tez joins (#1740)

You might want to build your own Iceberg until we can release a version which contains the fix 😢

[2020-11-27 10:37] zhangdove commented on #1831
@pvary Thank you for the information you provided. Based on the information you provided, I made a survey and found the following.

Iceberg table is created using the Hive Catalog. The properties of the table are normal:
[code]

However, when I write data to Iceberg, as follows, the SerDe properties of the table have been modified.
[code]

I am still learning this module of Hive, so I am not famil

[2020-11-27 10:44] pvary commented on #1831
Could it be that the `iceberg.engine.hive.enabled` is only changed in the config at creation time? It it is not set when we overwrite the data then the new snapshot might remove these values.
If we set it on the table properties then it might help

[2020-11-29 07:21] jun-he opened #1846 "iceberg gradlew build fails because JVM heap space is exhausted"
## What is the issue
While running `./gradlew clean build`, the gradle build fails with an error
[code]
This happened with the following build setting
[code]
Tried a few different heap size settings and the build succeeded with the following setting (or larger heap size).

[code]

[2020-12-01 01:17] rdblue commented on #1831
I think @pvary is right: the property may not be set when the write happens and that causes the serde to get reset to the generic one. I think the right thing to do is to configure either hive-site.xml (or make sure the config is consistent in Spark) or to set the table property, which will ensure Hive support is always enabled.

[2020-12-01 01:18] rdblue commented on #1817
Fixed by #1824

[2020-12-01 01:18] #1817 closed

[2020-12-01 10:08] liudi1184 commented on #1838
Thank you. It's done

[2020-12-01 10:08] #1838 closed

[2020-12-01 16:49] RussellSpitzer opened #1855 "Parse errors for "CALL" always state CALL doesn't exist"
Since we delegate back to the Spark parser on parsing errors, any errors on our extended methods will error out stating the command doesn't exist.

For example

[code]

When we should instead be reporting the parse specific error if we correctly parse the beginning.

[2020-12-01 17:09] RussellSpitzer opened #1856 "Add "Help" command for CALL methods"
Currently there is no way for a user to get usage information for a procedure provided by Iceberg. It would be great if a user could do something like "CALL method HELP" or something like that so that they can get usage information from an SQL context.

[2020-12-01 22:17] rdblue commented on #1764
@zhangdove, there is no requirement in Iceberg that a table "owns" its location. The intent of not recursively deleting was to avoid dropping other data in the same prefix. I think it would be fine to drop the location recursively in some cases. Maybe that should be a catalog option?

[2020-12-02 19:17] rdblue commented on #1808
I would add `SHOW CATALOG REFERENCE` or some form of `git status` to let users know where they are as well.

[2020-12-02 19:20] rdblue commented on #1808
I'm not sure that I would use `ALTER CATALOG`, since that seems to imply that the catalog config is being altered, not that the catalog reference is changing. I would probably opt for simpler commands, like `DROP CATALOG BRANCH some_branch` or `CREATE CATALOG TAG new_name`.

I'm also curious about what `MERGE` means. Is that like rebasing another branch's changes onto the current? If not rebase, w

[2020-12-03 00:35] #1855 closed

[2020-12-03 06:31] jshmchenxi opened #1865 "Add support for building runtime jars containing the sources"
It will be easier to debug locally if the runtime jars (eg. iceberg-flink-runtime/iceberg-spark-runtime) contain sources.
Just like the [flink-shaded](https://github.com/apache/flink-shaded) project, it supports command `mvn package -Dshade-sources` to build source jar for shaded resources.
I'm new to gradle and currently have no idea how to achieve this.
It will be appreciated if anyone could hel

[2020-12-03 07:30] openinx commented on #1865
The published `iceberg-flink-runtime` should not contains sources code, because it's for production purpose.  If you really want to debug the runtime code, you might need to rebuild the project to get a new runtime jar with sources attached.  For most cases, I don't use the IDE debug directly,  I will read the stactrace and read the code base to see what's wong, if it indeed a potential bug, I wil

[2020-12-03 09:11] aokolnychyi commented on #1319
@rdblue @zhangjun0x01 @rdsr is this same as #1830? Can we resolve it? PR #1835 added extra calls like @jerryshao mentioned. I am ok with that.

[2020-12-03 10:10] rymurr commented on #1808
Excellent idea. I've also been toying with the idea of showing history as a table. eg `SHOW LOG [ref]` should show a table equivalent of `git log`. I would like to be able to select from it though... eg `SELECT * FROM catalog._meta_.log WHERE commitTime < timestamp and committer = 'rymurr'`. I am not sure how to match these two ideas up.

[2020-12-03 10:50] rymurr commented on #1808
Thats correct, merge is probably closest to a fast forward rebase except history isn't re-written. If you had
[code]
Then merging the right branch into the left would give:
[code]
Merge always looks for a common ancestor and transplants commits across. It doesn't create a merge commit with multiple parents like git would. Nessie always keeps a linear history.

If there is no common ancestor or the

[2020-12-03 14:53] aokolnychyi commented on #1856
Do we have any syntax examples from other systems that support stored procedures?

[2020-12-04 00:11] rdblue commented on #1319
I think it is the same. I'll close this.

[2020-12-04 00:11] #1319 closed

[2020-12-04 01:28] zhangjun0x01 commented on #1830
done

[2020-12-04 01:28] #1830 closed

[2020-12-04 01:29] zhangjun0x01 commented on #1319
I think it is same,I closed #1830

[2020-12-04 10:09] #1599 closed

[2020-12-04 10:12] aokolnychyi commented on #1599
Thanks for working on this one, @liukun4515!

Unfortunately, GitHub did not pick the commit annotation.

[code]

[2020-12-04 10:13] aokolnychyi commented on #1598
We have merged a simple version. I'll probably keep this one for a while until we refine the approach.

[2020-12-04 21:06] #1597 closed

[2020-12-04 22:14] kbendick commented on #1634
Ahhh my bad. I've been really busy with other things and have let this sit. I have an implementation that works with Spark that I was going to open up this weekend or early next week after cleaning it up, but it seems you've beaen me to it @ismailsimsek

[2020-12-04 23:05] rdblue commented on #1634
Yeah, please help with reviews, @kbendick! This happens, but we can all benefit from taking the best of the two approaches.

[2020-12-04 23:10] #1846 closed

[2020-12-05 06:25] #1746 closed

[2020-12-05 10:25] ismailsimsek commented on #1634
@kbendick I thought this will be good feature to learn iceberg and implement. I'm ok to continue whichever implementain looks good to you? Is it possible to combine best from both?

[2020-12-06 03:42] pan3793 commented on #1865
Also +1 for attaching `shade-sources`.
We use `iceberg-*-runtime` directly in `pom.xml` to avoid conflicting with exist cdh6 dependencies. For example, cdh6 use `hive-2.1.1` which bundled `hive-orc` instead of `apache-orc`, but with same package path, the new `apache-orc` will break the build.

[2020-12-06 14:54] kesavkolla commented on #1470
I also have very similar requirement. I'm not using hadoop or spark I just want to interact with the S3 and HiveMetaStore. Currently there is no way to use HiveMetaStoreClient and use iceberg. Any idea when will this be implemented?

[2020-12-06 15:54] pan3793 opened #1880 "Flink IcebergCatalog(HadoopCatalog) should support store Flink generic tables"
As said in Flink doc, we can store flink generic tables in HiveCatalog.

As I understand, IcebergCatalog is an alternative of HiveCatalog, it also should support this feature. When I am trying to create a Kafka stream table in IcebergCatalog(HadoopCatalog), create success, but seem Flink treat it an iceberg table instead of a Kafka stream table.

Is this expected behavior by design? Or a bug shoul

[2020-12-06 21:33] pvary opened #1881 "UUID write requires different record in Parquet and ORC/Avro"
When writing UUID:
- Parquet expects that the field value is byte[]
- ORC/Avro expect UUID object.

Fixing this might be incompatible for some of the clients.

Could be tested by this `org.apache.iceberg.TestUUID`:
[code]

[2020-12-07 09:22] zuoyebushiwo opened #1883 "hive query flink sql insert data,but error."
this my step:
CREATE CATALOG hive_catalog WITH (
  'type'='iceberg',
  'catalog-type'='hive',
  'uri'='thrift://hd-node-3-41.wakedata.com:9083',
  'clients'='5',
  'property-version'='1',
  'warehouse'='hdfs://HDFSCluster/warehouse'
);

CREATE DATABASE iceberg_db;

use CATALOG hive_catalog;
use iceberg_db;

CREATE TABLE hive_catalog.iceberg_db.sample (
    id BIGINT COMMENT 'unique id',
    data S

[2020-12-07 09:31] zuoyebushiwo opened #1884 "hive document example is not work!"
CREATE EXTERNAL TABLE table_a (id BIGINT, data STRING)
STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler'
LOCATION 'hdfs://HDFSCluster/warehouse/iceberg_db.db/table_a';

Error:
Error: Error while processing statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. java.lang.RuntimeException: MetaException(message:org.apache.hadoop.hive.serde2.SerD

[2020-12-07 09:47] zhangjun0x01 commented on #1883
try use hadoop catalog instead of hive catalog to create the  catalog

[code]

[2020-12-07 11:10] pan3793 opened #1885 "Flink Iceberg Usage"
We use Avro schema as unified ETL schema management solution. when I'm trying to write data into Iceberg using Flink, I found there are so many terms in Flink to represent data types, such as `TypeInformation`, `LogicalType`, `RowType`, `TableSchema`, `DataType `... I can't figure out the relationship between them and how to convert each other.

Specifically,  my question is *How can I write `Data

[2020-12-07 11:13] aokolnychyi commented on #1319
Thanks for working on this, @zhangjun0x01!

[2020-12-07 11:21] pan3793 commented on #1885
@JingsongLi @openinx Could you please have a look on this question? Thx.

[2020-12-07 13:25] XuQianJin-Stars opened #1886 "The database deletion operation was performed, but the hdfs file directory was not deleted."
The database deletion operation was performed, but the hdfs file directory was not deleted.
hi everyone, I found that I used the hive catalog to delete the database, but did not delete the hdfs file catalog. Look from the
code
[code]
Delete data are set false. What is the purpose and reason for this setting?Or is this a point that needs to be optimized, do you need to open this parameter to users

[2020-12-07 14:10] openinx commented on #1885
@pan3793 , the iceberg flink sink underlying will write  `RowData` into avro/parquet/orc files , no matter which data types you    are writing. So we provided the `MapFunction<T, RowData> mapper` to convert your own data type into `RowData`. So you might need to provide a function to convert `GenericRecord` to `RowData`.   The `TypeInformation<RowData>`  specify your data type for inputstream .

W

[2020-12-07 14:34] pan3793 commented on #1885
@openinx Thanks for your response.

That's definitely what I'm trying to do. My question is, as I already have avro `GenericRecord` and `Schema`, how to write a  generic `MapFunction` to handle all `GenericRecord` properly, convert `GenericRecord` to `RowData` and convert `Schema` to `TypeInformation<RowData>`.

[2020-12-07 15:24] pan3793 commented on #1885
I think I found the solution:
[code]

[2020-12-07 16:04] pvary commented on #1470
@kesavkolla: This should not be that complicated. Currently I am focusing on other parts of the code, but if you want to try out yourself and contribute the code, I would be happy to review your change.

Thanks,
Peter

[2020-12-07 16:18] shangshengtung commented on #1808
Great thought.  Is USE CATALOG BRANCH clearer If only branches are mutable (and USE CATALOG REFERENCE for tag or hash)?

[2020-12-07 16:25] shangshengtung commented on #1808
Does it need a LIST CATALOG REFERENCE (some form of git branch)?

[2020-12-07 19:58] RussellSpitzer commented on #1884
Did you create the Iceberg table first?

[2020-12-07 21:47] jackye1995 opened #1887 "Standardize the way to ship new catalogs"
This issue is opened to discuss about a standardized way to ship new catalogs, as we plan to ship `GlueCatalog` and `NessieCatalog` in upcoming release, and new catalogs like JDBC is also in progress to be added.

In the last community sync meeting, we discussed 2 ways:
1. for each new catalog (if in a new module), add a new runtime module that bundles all additional dependencies.
2. directly add

[2020-12-07 21:56] jacques-n commented on #1887
Per my comments in the sync, I think a good standard approach would be:

- <=X, include directly in the base distribution jar
- &gt;X, separate jar for this catalog modules

My vote would be to start with X == 1mb.

[2020-12-07 23:04] stevenzwu commented on #1626
My colleague (@sundargates) and I worked on this design doc: https://docs.google.com/document/d/1q6xaBxUPFwYsW9aXWxYUh7die6O7rDeAPFQcTAMQ0GM/edit#heading=h.z2xhib39g0nm. We would love to get feedbacks from the community. cc @openinx @JingsongLi @kbendick

Regarding the implementation, we are still waiting for the 1.11.3 release, as we need some of the API changes back-ported from 1.12 branch. Even

[2020-12-08 00:28] wangmiao1981 commented on #1832
Trying to log an issue for supporting secondary index (https://docs.google.com/document/d/1E1ofBQoKRnX04bWT3utgyHQGaHZoelgXosk_UNsTUuQ/edit). This may be related to the index support.

@rdblue  please advise if I need to open a new issue.

[2020-12-08 02:00] XuQianJin-Stars commented on #1884
hi @zuoyebushiwo  You need to specify the schema information and perform the following operations to successfully create the table.
`
CREATE EXTERNAL TABLE customers STORED BY 'org.apache.iceberg.mr.hive.HiveIcebergStorageHandler' LOCATION 'hdfs://namenode:8020/cs/table_a' TBLPROPERTIES ('iceberg.mr.table.schema'='{"type":"struct","fields":[{"id":1,"name":"customer_id","required":false,"type":"lon

[2020-12-08 02:19] XuQianJin-Stars commented on #1884
hi @RussellSpitzer  Regarding this point, I think the document needs to be updated to further explain in detail.

[2020-12-08 03:14] zuoyebushiwo commented on #1883
i think it should create by catalog-type=hive
and it should query by hive engine by  add jar hdfs://HDFSCluster/user/flink/iceberg-hive-runtime-0.10.0.jar in hive shell command;
how can id dot?

[2020-12-08 03:28] zuoyebushiwo commented on #1884
think very much! it help me a lot

[2020-12-08 03:28] #1884 closed

[2020-12-08 03:35] zuoyebushiwo commented on #1883
i see!  this can do this with create hive external table for hive engine query.

[2020-12-08 03:35] #1883 closed

[2020-12-08 09:15] vvellanki commented on #1832
@wangmiao1981 I was referring to the [following](https://docs.google.com/document/d/1G6GeOXkGSiSTcu0lDS6VA1FtJ_uz9FO4tF2Pffmx9LU/edit#heading=h.48c09kgpva06) when I refer to Partition Index.

Reading your document, these two appear to be quite different:
- The partition index proposal is at the table scope; while secondary indexes are per-file, per-column scope
- The secondary indexes themselves a

[2020-12-08 13:33] rymurr commented on #1887
My initial experiment with the Nessie catalog increased the runtime jar size by 500kb as almost all of its dependencies are already included in Spark. I think that is a reasonable increase (<3%) and I would agree w/ @jacques-n  that a small increase in jar size is acceptable if it means we can ship more features to the user.

@jackye1995 is the Glue catalog small enough if included w/o dependencie

[2020-12-08 14:49] aokolnychyi opened #1889 "Spark SQL Extensions: Add proper logging"
We should add proper logging to our procedures so that we can debug what went wrong.

[2020-12-08 21:41] jackye1995 commented on #1887
Yeah that's actually a good way to go, basically mark all the AWS dependencies as provided. In that case the added jar size will only be the `iceberg-aws` itself which is 53KB.

So the user experience would be something like:

[code]

which looks good to me.

I will put up a PR for this after #1823 and #1844 are merged to change dependencies to `compileOnly`.

[2020-12-09 02:00] openinx commented on #1885
Will it work if the schema has a nested field ?  I think we may need a `converter` which just like the flink's `DataFormatConverters.RowConverter` to convert the avro `GenericRecord` to `RowData` ?

[2020-12-09 02:00] openinx commented on #1885
I will try to provide an unit test to show how it work if I have time, Thanks.

[2020-12-09 02:22] pan3793 commented on #1885
@openinx Thanks for following up this issue, I haven't test nested field, but found another issue about Logical Types. Our ETL build on CDH-6.3.1 with Avro 1.8.2, which not support generate Java 8 time because of AVRO-2079, and without `converter`, Flink can't handle joda time properly.

We really need that `converter`. All of our ETL job input and output data structures are present by Avro `Gener

[2020-12-09 07:31] island-lonely opened #1894 "Spark writes the Iceberg dual partition table to report an error"
When I write data to the table using the spark to the iceberg ,  table partition is time partition + bucket, the spark an error: Java. Lang. An IllegalStateException: Already closed files for partition: p_time_month = 2020-08 / vehicle_bucket = 0

spark version:2.4.0
Data write code：

[code]

Error message：
java.lang.IllegalStateException (Already closed files for partition: p_time_month=2020-08/v

[2020-12-09 07:31] GintokiYs commented on #1831
The property engine.hive.enabled needs to be set to true and added to the table properties when creating the Iceberg table.
`    Map<String, String> tableProperties = new HashMap<String, String>();
    tableProperties.put(TableProperties.ENGINE_HIVE_ENABLED, "true"); //engine.hive.enabled=true
    catalog.createTable(tableId, schema, spec, tableProperties);
`
You can refer to the Using Hive Catalo

[2020-12-09 07:32] GintokiYs commented on #1831
The property engine.hive.enabled needs to be set to true and added to the table properties when creating the Iceberg table.
`Map<String, String> tableProperties = new HashMap<String, String>(); tableProperties.put(TableProperties.ENGINE_HIVE_ENABLED, "true"); //engine.hive.enabled=true
catalog.createTable(tableId, schema, spec, tableProperties);`
You can refer to the Using Hive Catalog module of t

[2020-12-09 07:34] GintokiYs commented on #1831
The property engine.hive.enabled needs to be set to true and added to the table properties when creating the Iceberg table.
`
Map<String, String> tableProperties = new HashMap<String, String>(); tableProperties.put(TableProperties.ENGINE_HIVE_ENABLED, "true"); //engine.hive.enabled=true
catalog.createTable(tableId, schema, spec, tableProperties);
`
You may can refer to the Using Hive Catalog modul

[2020-12-09 07:34] GintokiYs commented on #1831
The property engine.hive.enabled needs to be set to true and added to the table properties when creating the Iceberg table.
`Map<String, String> tableProperties = new HashMap<String, String>(); tableProperties.put(TableProperties.ENGINE_HIVE_ENABLED, "true"); //engine.hive.enabled=true
catalog.createTable(tableId, schema, spec, tableProperties);`
You may can refer to the Using Hive Catalog module

[2020-12-09 07:35] GintokiYs commented on #1831
The property engine.hive.enabled needs to be set to true and added to the table properties when creating the Iceberg table.
[code]
You may can refer to the Using Hive Catalog module of this article.
https://iceberg.apache.org/hive/#using-hive-catalog

[2020-12-09 07:36] GintokiYs commented on #1831
The property engine.hive.enabled needs to be set to true and added to the table properties when creating the Iceberg table.
[code]
You may can refer to the Using Hive Catalog module of this article.
https://iceberg.apache.org/hive/#using-hive-catalog

[2020-12-09 10:29] rymurr commented on #1887
I think it would be useful to try and catch any errors that may pop up if a user doesn't have the right classpath setup. I think clearly indicating that you have to add the aws bundle is a lot better than exploding (or worse silently swallowing). This is coming from someone who has spent entirely too much time trying to figure out why my spark job is failing ;-)

[2020-12-09 15:10] islandgit opened #1898 "Hive read iceberg table ERROR"
I added iceberg-hive- Runtime-0.10.0. jar in the Lib patch of hive.  after starting Hive  ‘set iceberg.mr.catalog=hive’

I can running
select * from table limit 10,
but Can't running
select * from table where id = 100

The error message is:
20/12/09 22:50:28 ERROR exec.TaskRunner: Error in executeTask
java.lang.NoSuchMethodError: org.apache.hadoop.hive.ql.io.sarg.ConvertAstToSearchArg.create(Lorg/

[2020-12-09 15:48] pvary commented on #1898
@islandgit: Could you please tell us which version of Hive were you using?
Also could you please provide the output of the `SHOW CREATE TABLE` output for the table mentioned above?
Thanks,
Peter

[2020-12-09 16:03] islandgit commented on #1898
Thanks for your answer

my hive version is  **_2.1.1-cdh6.3.2_**

SHOW CREATE TABLE is:
+----------------------------------------------------+
|                   createtab_stmt                   |
+----------------------------------------------------+
| CREATE EXTERNAL TABLE `sinoiov_original_data`(     |
|   `gtime` bigint COMMENT '',                                          |
|   `stime` bigint

[2020-12-09 16:16] pvary commented on #1898
@islandgit: I can not see any colum named `id`. Could you please send the exact query as well?

Thanks, Peter

[2020-12-09 16:28] islandgit commented on #1898
@pvary
sorry  ， select * from table where id =  100 is just an example.

The actual SQL
**_select * from sinoiov_original_data where vehicle = 'AP3068';_**

**This is the query information for Beeline，The error message above is the 'hive' query**
INFO  : Compiling command(queryId=hive_20201210002100_62b991d1-d5a6-40e1-835d-10f157291e0e): select * from sinoiov_original_data where vehicle = 'AP3068'

[2020-12-09 17:49] pvary commented on #1898
@islandgit: The method was introduced by [HIVE-15269](https://issues.apache.org/jira/browse/HIVE-15269). This is only in Hive 2.2. Iceberg supports Hive 2.3.7(?), and Hive 3.1.2. The CDH version you have mentioned is using Hive 2.1.1, and it does not contain HIVE-15269. 😢

[2020-12-09 22:28] rdblue commented on #1887
I agree with what appears to be the consensus here, to add both Nessie and Glue to the existing runtime Jars and omit the AWS dependency because it is large.

I agree with @rymurr that if we have an opportunity to detect that AWS is missing and improve the error message, then that would be ideal.

Also, can we check to see if the AWS SDK is needed when running with the hadoop-aws module? That shou

[2020-12-10 06:17] zhangdove commented on #1831
Thanks for all reply. Modify the usage to work properly.

[2020-12-10 06:17] #1831 closed

[2020-12-10 13:33] aokolnychyi opened #1904 "Make sure unlock is always called in HiveTableOperations"
We have the following logic in `HiveTableOperations`:

[code]

If `deleteFile` throws an exception, unlock will not be called. I think that is dangerous and should be fixed.

[2020-12-10 13:34] aokolnychyi commented on #1904
Internally, we have a utility method like this:

[code]

I think we need a similar variant in Java in Iceberg.

[2020-12-10 13:35] aokolnychyi commented on #1904
@rdblue @RussellSpitzer, thoughts? I think we can leverage it other places too.

[2020-12-11 00:16] jackye1995 opened #1908 "Circular dependency when FileIO depends on table properties"
In Iceberg, FileIO is a part of the `Table` and `TableOperations` interfaces, and used for both data and metadata. This works fine when people store both data and metadata using the same IO. However, if people want to have customized FileIO features for data based on metadata information, it creates a circular dependency. For example, in `TableOperations`:
1. user calls `TableOperations.io()` to g

[2020-12-11 00:52] rdblue commented on #1904
This doesn't interact well with checked exceptions. I think that's the primary reason for using the `threw` boolean in Java. If you have a checked exception but don't know what it is, then you can't really declare that a method may throw it. We can get around that with tricks like parameterizing `throws`, but that gets a bit ugly when you have multiple exceptions. Let me see if I can recreate this

[2020-12-11 02:07] rdblue commented on #1904
@aokolnychyi, @RussellSpitzer, I opened a PR with an implementation that I think works well: https://github.com/apache/iceberg/pull/1909/files#diff-05514568d4022f3fbd510618bdf1ff14b32271158d385e07879a3181d0b9baaaR40-R46

Lambdas really help here because the classes get ugly. It supports up to 3 checked exceptions. The classes must be passed as arguments, but otherwise it looks roughly the same. Th

[2020-12-11 02:35] jacques-n commented on #1904
For the original comment from @aokolnychyi , I've generally tried to address this using try-with-resources, which does a much better job of handling multiple exception cases natively then trying to build something functional. For example, we created [AutoCloseableLock](https://github.com/dremio/dremio-oss/blob/master/common/src/main/java/com/dremio/common/concurrent/AutoCloseableLock.java) to mana

[2020-12-11 08:08] txdong-sz opened #1911 "iceberg data file name shouldnot starts with partitionId"
output file starts with partitionId  like file is starts with 00000  ,  in iceberg on cos scene , cos file name shouldnot begin with the same prefix

The cloud maintains the key values of buckets and objects as indexes in each service area of object storage. Object keys are stored in multiple partitions of the index in UTF-8 binary order. For a large number of key values, for example, using timest

[2020-12-11 08:37] borislitvak opened #1912 "Concurrent writes from multiple Spark drivers to S3 support"
Can we perform concurrent writes from multiple Spark drivers to S3 with Iceberg without data loss/corruption?

Background:

- Delta.io [s3 documentation states](https://docs.delta.io/latest/delta-storage.html) that
"Concurrent writes to the same Delta table from multiple Spark drivers can lead to data loss."
- With AWS announcement on [S3 consistency](https://aws.amazon.com/blogs/aws/amazon-s3-upd

[2020-12-11 08:53] 172403678 commented on #1911
https://github.com/apache/iceberg/pull/1913/commits

[2020-12-11 09:09] openinx commented on #1911
@172403678  Sorry, I did not quite understand your concern actually.  All data files are maintained in apache iceberg's manifests,  so when planing a scan job, it will load the iceberg's manifests and get the correct data file paths for each task.  For each task,  it just GET the data from specific data file.    Which step will hurt the performance you mean ?

[2020-12-11 09:12] 172403678 commented on #1911
in write the data file to cos
![image](https://user-images.githubusercontent.com/5066512/101884659-06e97200-3bd4-11eb-8c1a-b715bca5894c.png)

[2020-12-11 09:27] openinx commented on #1911
OK,  got your point.   You mean now we are creating so many objects with the same prefix ( here is `partitionId`)  in the same bucket when bulk loading data into a new iceberg table.  In that case,  the metadata service of tencent could storage will hit the hot-spot issue, that sounds reasonable.

[2020-12-11 09:28] jerryshao commented on #1911
The key problem is that Iceberg's data file sequential name policy will somehow hit the COS (Tencent Cloud Object Store) hotspot and introduce the performance issue. The suggestion is to add salt on the file name to distribute the load.

[2020-12-11 09:35] openinx commented on #1911
@rdblue ,   Did you encounter the same issue when loading Netflix data into aws s3 bucket ?  The salt approach (from @jerryshao ) will need to create a customized `OutputFileFactory` I think ?

[2020-12-11 09:43] openinx commented on #1626
Thanks for the great work, @stevenzwu !  I will take a look in these days.

[2020-12-11 10:34] aokolnychyi commented on #1912
Iceberg avoiding listing and renames by design and does not have this limitation as long as you use Iceberg [Hive catalog](http://iceberg.apache.org/java-api-quickstart/#using-a-hive-catalog).

[2020-12-11 11:59] txdong-sz opened #1914 "Flink Table Without Timestamp Cannot Query By Spark"
select count() from prod.iceberg_db.bofangzt;
20/12/11 19:56:02 ERROR thriftserver.SparkSQLDriver: Failed in [select count() from prod.iceberg_db.bofangzt]
java.lang.UnsupportedOperationException: Spark does not support timestamp without time zone fields
at org.apache.iceberg.spark.TypeToSparkType.primitive(TypeToSparkType.java:111)
at org.apache.iceberg.spark.TypeToSparkType.primitive(TypeToSpark

[2020-12-11 12:08] 172403678 commented on #1914
https://iceberg.apache.org/schemas/

iceberg schemas should support timestamp without zoneid

[2020-12-11 12:09] borislitvak commented on #1912
For future visitors looking to compare s3 ACID data lake solutions, this scenario over S3 is not supported in Hudi/Delta and there does not seem to be a path for such a support.
So Iceberg is a clear winner in this regard!

Sources:
[Delta.io](https://github.com/delta-io/delta/issues/564)
[Hudi](https://github.com/apache/hudi/issues/2330)

How did you accomplish this, @aokolnychyi ?

[2020-12-11 12:11] txdong-sz opened #1915 "Flink 1.11.1 Not Supoort timestamptz"
Flink Not Support Timestampz
![image](https://user-images.githubusercontent.com/5066512/101902034-f5609400-3bec-11eb-892c-c38561342633.png)

[2020-12-11 12:15] txdong-sz opened #1916 "Spark Table With Timestamp Cannot Query By Flink"
Exception in thread "main" org.apache.flink.table.client.SqlClientException: Unexpected exception. This is a bug. Please consider filing an issue.
        at org.apache.flink.table.client.SqlClient.main(SqlClient.java:213)
Caused by: org.apache.flink.table.api.TableException: Unsupported conversion from data type 'TIMESTAMP(6) WITH LOCAL TIME ZONE' (conversion class: java.time.Instant) to type inf

[2020-12-11 12:21] 172403678 commented on #1916
table like this

CREATE TABLE prod.iceberg_db.bofangzt3(
ftime timestamp,
extinfo string
)
USING iceberg
PARTITIONED BY (hours(ftime))

[2020-12-11 12:55] HeartSaVioR commented on #1914
https://iceberg.apache.org/spark/#type-compatibility

Iceberg Spark doc explains the type compatibility between Iceberg and Spark - supported types are dependent on engine, hence if you're trying to use Iceberg with cross-engines, the table schema should be designed as taking "greatest common factor".

[2020-12-11 13:30] HeartSaVioR commented on #1914
Probably my comment would explain all your other issues - though I don't see type compatibility documentation for other engines yet.

[2020-12-11 13:44] HeartSaVioR commented on #1911
I agree that it should be ideal to customize the file name format so that it could be customized against the internal of filesystem or external storage. Though it's unfortunately against my expectation for the object store that the physical location is somehow related to the object key.

[2020-12-11 14:11] rymurr commented on #1808
I think thats a good idea @shangshengtung. Any thoughts about the rest? I am starting to like `CREATE/DROP BRANCH/TAG` more over the `ALTER` syntax

[2020-12-11 15:42] vinothchandar commented on #1912
FWIW the answers I gave are for Hudi are for the case that does not need an external server like Hive. So its not quite apples-apples.

[2020-12-11 17:47] rdblue commented on #1911
Iceberg supports a `LocationProvider` implementation so that tables can customize the file layout. We already have a [`LocationProvider` that hashes to distribute files](https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/LocationProviders.java#L91-L131) and avoid this problem that you can enable by setting [`write.object-storage.enabled=true`](https://github.com/ap

[2020-12-11 21:21] rdblue commented on #1904
@jacques-n, I think this is a bit simpler case. The problem here is that cleanup is being done in `finally` to avoid modifying the throwables that might be caught, and to ensure that the cleanup is always done, even if the `catch` cases change over time. Catching `Exception` means that it is annoyingly difficult thanks to checked exceptions to throw the exception that was caught.

The PR I opened

[2020-12-12 06:49] wg1026688210 commented on #1904
hi~ @rdblue  Shall we consider this situation  that  Process shut down when commit action hold the lock of hive table .

[2020-12-12 08:10] pvary commented on #1904
How often could this happen? Asking because Hive have cleaner methods in place which will remove the stale locks which did not receive heartbeat for a given period. So we should clean up the locks as much as possible, but we do not have to consider super rare situations.

[2020-12-12 08:11] pvary opened #1921 "Hive: Schema conversion should convert field comments"
Currently the Field comments are not converted during the Hive/Iceberg schema conversion.
We should add  this to the conversion and check what happens during table creation through Hive (the comments might get overwritten by the default `from deserializer` string)

Follow-up from #1842

[2020-12-12 09:18] pvary opened #1922 "Hive: Schema conversion should convert NOT NULL/required fields"
Currently the `HiveSchemaUtil` converts every Hive field to an `optional` NestedField. We should convert `NOT NULL` fields to `required` and in the other directions we should convert `required` Iceberg NestedFileds to `NOT NULL`

[2020-12-12 09:22] pvary opened #1923 "Hive: Schema conversion should be used in ObjectInspector creation"
Currently we are converting Iceberg schema in `HiveSchemaUtil.convert` to Hive schema. But also converting Iceberg schema to ObjectInspector hierarchy which Hive later converts to Hive schema. It could be hard to remember to change them synchronously. We should find a way to use only a single mapping instead of implementing them in 2 places

[2020-12-12 09:35] pvary opened #1924 "Hive: TestHiveIcebergStorageHandler should not run all of the tests in every combination"
TestHiveIcebergStorageHandler currently runs the full matrix of:
- FileFormats - Avro, ORC, Parquet
- Execution engines - mr, tez
- Catalog types - Hive, Hadoop Catalog, Hadoop Table, Custom catalog

Currently there are 32 test cases in the class, this means we have 768 test cases, and in some cases we do not even use the parameters in the tests.

We should separate this test at least 3 classes:
-

[2020-12-12 09:43] pvary commented on #1826
Formerly: Find a way to skip Hive test runs if the changes are spark/flink specific

Renamed so it will be easier to find it next year. We should pick this up after #1924

[2020-12-12 12:37] pvary opened #1925 "Hive: Schema conversion handle Time type"
After the decision of 1-on-1 mapping of Iceberg and Hive schemas we have to implement the serializing/deserializing of every Iceberg type. At least we have to be able to read/write by string parsing.

This one is for the Time type

[2020-12-12 12:38] pvary opened #1926 "Hive: Schema conversion handle UUID type"
After the decision of 1-on-1 mapping of Iceberg and Hive schemas we have to implement the serializing/deserializing of every Iceberg type. At least we have to be able to read/write by string parsing.

This one is for the UUID type

[2020-12-12 12:39] pvary opened #1927 "Hive: Schema conversion handle Fixed type"
After the decision of 1-on-1 mapping of Iceberg and Hive schemas we have to implement the serializing/deserializing of every Iceberg type. Maybe mapping Fixed to Hive binary?

This one is for the Fixed type

[2020-12-12 14:20] txdong-sz commented on #1911
@rdblue  i donnot think that config write.object-storage.path will meet my need .    write.object-storage.path can ensuer table with the different perfix  but our case is one table with huge data.
our problem is that we write about we need to store all origin data to cos with iceberg format, one table is very huge and so we need to improve the write performance to cos .  from the cos architecture

[2020-12-12 14:31] txdong-sz commented on #1911
@HeartSaVioR  i think that iceberg is Works with any cloud store and reduces NN congestion when in HDFS, by avoiding listing and renames
so iceberg should take storage compatibility into consideration.   iceberg storge with cloud is advantage, but store with hdfs is also supoort   the two  storage facility is different

[2020-12-12 21:32] rdblue commented on #1911
@txdong-sz, if you need to modify the file name, you can do that by building your own `LocationProvider`.

I think that the object storage feature would work because it adds a hash of the file name (or file name and partition) just after the object storage path. That should work for this case because the data would be sharded across many different paths. Again, if you want to customize then you sh

[2020-12-13 02:11] johnclara opened #1928 "BaseMetastoreCatalog's Base Metadata Tables use Data Table's Operations and EncryptionManager"
During loadMetadataTable in the BaseMetastoreCatalog, the loaded metadata table uses the data table's table operations instead of its own.

This causes issues for the HistoryTable which will plan IO tasks for the metadata files and then wrap them using the Data Table Operation's EncryptionManager. This breaks for some implementations since the EncryptionManager was not used for the metadata table

[2020-12-14 01:39] txdong-sz commented on #1911
@rdblue   get ObjectStoreLocationProvider may meet the need  thanks.

[2020-12-14 01:49] txdong-sz commented on #1914
@HeartSaVioR  yes  i think that compatibility  is very importtant， we need to write table in flink  but query by hive or spark is more convenient .  because flink sql client is standalone  so cannot run huge querys.
the schema is very basic information for a table . so   "greatest common factor"    should implement by other engines

[2020-12-14 05:14] XuQianJin-Stars commented on #1915
hi @txdong-sz This type is supported since the version of flink1.9, you can use `TIMESTAMP WITH LOCAL TIME ZONE` or `TIMESTAMP WITH TIME ZONE`.
The ddl statement can be:
[code]

[2020-12-14 06:45] HeartSaVioR commented on #1914
Engines' features are out of control from Iceberg. As you see the doc I linked, not every types of Iceberg are supported in Spark, and I expect the same for other engines. The greatest common factor is not something we can expect engines to implement. Unfortunately that's something end users may need to figure out according to the usages, and apply to the table schema.

[2020-12-14 09:35] txdong-sz commented on #1914
@HeartSaVioR  the reson why i need to use spark and flink  is that
1. flink is not support by partition by hour
![image](https://user-images.githubusercontent.com/5066512/102064596-765c9d00-3e32-11eb-8f7e-081d42afeadb.png)
and my table is very huge .  that is not a good parctice
2. flink sql is standalone .  my table is huge ,so  i need more resource to run sql   and choose spark

we use flink to

[2020-12-14 18:32] #1911 closed

[2020-12-14 18:52] shangshengtung commented on #1808
How do you think on the time travel syntax of sql statements like (AT|BEFORE, AS OF) to refer a past time?

[2020-12-14 19:07] rdblue commented on #1808
I really prefer this because the engine is responsible for converting the given timestamp into a specific instant. That's much easier than Iceberg trying to match the same behavior in each engine. It is less important for `AS OF VERSION` because that gets passed directly without modification, but `AS OF TIMESTAMP` support in Spark would be great.

[2020-12-14 19:16] rymurr commented on #1808
I agree. One thing to watch out for: if the catalog is a nessie catalog timetravel is via the nessie branching and in Hive/Hadoop catalogs its via snapshot ids. We just have to make sure the same syntax works for both and is not surprising

[2020-12-14 22:00] cccs-jc opened #1931 "expire snapshot does not remove snap-*.avro files"
I ran this command to remove snapshots

table.expireSnapshots().expireOlderThan(tsToExpire).commit()

I can see that the snapshot are removed from spark.table('iceberg.test.table1.snapshots').show()

however when I go on the blob file system there are a lot of snap-*.avro files in the table1/metadata folder

is there a way to remove unused snapshot files?

[2020-12-14 23:08] HeartSaVioR commented on #1914
I don't know much about Flink support on Iceberg. Probably @openinx can give more information here.

From Spark 3.0+ you can set up custom catalog for Iceberg and execute create table against the catalog, and partitioned by hours is supported in create table syntax. I don't know Flink will include this as a part of create table syntax though. The ability to write to the partitioned table is comple

[2020-12-14 23:53] rdblue commented on #1908
I'm not sure I consider those use cases valid.

Does this require a different `FileIO` and not different key metadata? Would the actual encryption scheme be different or just the keys? If so, isn't that a problem with the `EncryptionManager` and not the `FileIO`?

This seems suspicious to me. Is this a scheme where the Iceberg library decides not to read a file because it doesn't  authorize itself

[2020-12-15 01:47] txdong-sz commented on #1911
@rdblue    the reson why we use iceberg is that iceberg is cloud native.
Works with any cloud store and reduces NN congestion when in HDFS, by avoiding listing and renames

i think that we need to consider everything about cloud object storeing

we have one table with 30TB data  stilll small data in our business

![image](https://user-images.githubusercontent.com/5066512/102157109-dc403780-3eb9-11

[2020-12-15 01:58] shiyi23 commented on #35
Has this issue been fied yet?

[2020-12-15 02:09] HeartSaVioR commented on #1911
I wouldn't rather say any specific project should take all existing cloud providers into account. You can expect the smoother AWS support in Iceberg project due to the nature of where Iceberg project came from, and even more, AWS engineers are around here to contribute. The project has both contributors and heavy users for AWS, which is quite essential to lead the actual improvements.

It seems th

[2020-12-15 02:54] txdong-sz opened #1934 "remove a list .metadata.json in HadoopCatalog"
![image](https://user-images.githubusercontent.com/5066512/102161744-d4d15c00-3ec2-11eb-9be1-bf04edce51e7.png)

in hadoop cos scene  this list status may cost a lot of time  if there are many files in cos metadata.
and we spend about 10s  to list tables .

if we remove (fs.listStatus(metadataPath, TABLE_FILTER).length >= 1) or  find a better way to list file like
![image](https://user-images.githu

[2020-12-15 03:03] shiyi23 commented on #1628
/assign @shiyi23

[2020-12-15 03:28] jacques-n commented on #1934
I'm guessing that FileSystem.listStatusIterator() could be faster since you only need to check if it is greater than 1 and it doesn't require a full traversal. @txdong-sz do you want to propose a patch? You'd need to implement the filter outside the call since I believe that call doesn't support filters.

[2020-12-15 05:12] txdong-sz commented on #1915
what is the different of  TIMESTAMP(3) WITH LOCAL TIME ZONE  and   TIMESTAMP(6) WITH LOCAL TIME ZONE

[2020-12-15 05:32] zhangdove commented on #1931
Could you provide the version numbers of Spark and Iceberg? And more detailed steps and information?

[2020-12-15 17:35] cccs-jc commented on #1931
Iceberg 0.9.0
spark 3.0.0

Steps to reproduce

[code]

[code]
21 snapshots

[code]
2 manifests

Listing metadata directory shows 65 files in total, 21 of which are snap-*.avro files

Running expire snapshot (up to last minute)
[code]

In my example table the expire Action removed the snapshot and manifest files.

Listing metadata directory now shows 6 files in total, 1 of which are snap-*.avro fil

[2020-12-16 01:59] txdong-sz commented on #1934
@jacques-n
i also think that it is not need to check metadata.json
if namespace with metadata folder in   so we can just consider that is a table
or eles
check if that metadata folder have a version-hint.text   file in it

[2020-12-16 02:16] scanry opened #1938 "Absolute address can be optimized to relative address in file(*.metadata.json.)？"
for example:
hdfs://127.0.0.1:8020/xxx1      ->   /xxx1
hdfs://127.0.0.1:8020/xxx2      ->  /xxx2
{
  "format-version" : 1,
  "table-uuid" : "1e5ef490-ac9f-4339-9da5-b53b5c63c392",
  "location" : "hdfs://127.0.0.1:8020/xxx1",
  "last-updated-ms" : 1588297651079,
  "last-column-id" : 8,
  "schema" : {
  },
  "partition-spec" : [ ],
  "default-spec-id" : 0,
  "partition-specs" : [ {
    "spec-id" :

[2020-12-16 10:15] thirdparty-core opened #1940 "Hadoop catalog can't consume kafka data on iceberg 0.10.0 ,flink 1.11.2"
Hi!
I use iceberg-flink to consume kafka data like http://iceberg.apache.org/flink/,
but it can't normal consumption without any exceptions.

code:
[code]

my iceberg version is 0.10.0,flink version is 1.11.2

where i am wrong?

[2020-12-16 15:31] cccs-jc opened #1941 "Support for role based access of HadoopCatalog table listing"
We are using the HadoopCatalog. We find this approach much simpler than the Hive based catalog.

Using the HadoopCatalog all information is on disk which means we can also leverage the role based access of the storage for users that access files directly or via iceberg tables.

However the HadoopCatalog listTables method assumes that all folders in a catalog are accessible by the user/client and t

[2020-12-16 17:56] holdenk commented on #1548
Rocking, I've finally got a bit of time for next week, I'll pick this up :)

[2020-12-16 20:42] johnclara opened #1944 "Catalogs Do Not Easily Support Full State Rollback"
One of our table's TableMetadata was referencing a missing ManifestList somehow. We're still root causing how the corrupt state occurred.

Because of the corrupt state, we thought we shouldn't use the normal Table level rollback. It looks like it will commit snapshots and that will keep the corrupt snapshot in snapshot history. (We're not 100% sure on the code path for this).
https://github.com/ap

[2020-12-16 23:39] mehtaashish23 opened #1949 "Read options to read append and delete with overwrite snapshots in Incremental reads"
Currently, the IncrementalDataScan doesn't support IncrementalReads on Overwrite snapshot [here], but as a client, I should be able to read just append data or delete data explicitly and construct an incremental reader at the application level.
For instance: A client doing updates based on the primary key can potentially be able to construct back CDC by reading append data and delete data in separ

[2020-12-16 23:41] mehtaashish23 commented on #1949
@rdblue , @aokolnychyi Let me know your thoughts on it. We would like to contribute this to community ASAP, since we are looking to use copy-on-write mode with Delete/MergeInto (before switching to "merge on read" implementation)

cc: @dilipbiswal

[2020-12-17 01:19] zhangjun0x01 commented on #1940
donot create the kafka table on iceberg catalog , on the default catalog

[2020-12-17 01:35] zhangjun0x01 commented on #1914
1. you can  create an iceberg table with flink sql
[code]

and write into the iceberg table with flink streaming sql :

[code]

2. flink sql client can use standalone cluster and yarn session cluster , you can start a yarn session cluster first ,and then submit the flink sql job to the session cluster .
3.
and set the parallelism for every flink sql job by the command:
[code]

[2020-12-17 02:00] zhangjun0x01 commented on #1938
you can trace the pr https://github.com/apache/iceberg/issues/1617

[2020-12-17 02:04] scanry commented on #1938
thanks

[2020-12-17 02:05] rdblue commented on #1949
Can you give us a clearer example of what you're trying to support here? I'm trying to understand the use case for ignoring the deletes in an overwrite.

[2020-12-17 02:06] zhangjun0x01 commented on #1816
done

[2020-12-17 02:06] #1816 closed

[2020-12-17 02:51] thirdparty-core commented on #1940
According to your tips, it's working.
Thank you very much.

[2020-12-17 02:51] #1940 closed

[2020-12-17 07:08] zhangjun0x01 opened #1951 "Flink : Add support for flink 1.12"
now flink 1.12 has released ,I think we should add the support for flink 1.12

https://flink.apache.org/news/2020/12/10/release-1.12.0.html

[2020-12-17 11:20] shardulm94 opened #1952 "Failure evaluating expressions for NOT + STARTS_WITH predicate"
[code]

There are multiple places in Iceberg which call `RewriteNot` on the user provided filters ([1](https://github.com/apache/iceberg/blob/425a45f8acec0496d77e070c07fb209de92ab2c1/api/src/main/java/org/apache/iceberg/expressions/Projections.java#L153), [2](https://github.com/apache/iceberg/blob/425a45f8acec0496d77e070c07fb209de92ab2c1/api/src/main/java/org/apache/iceberg/expressions/InclusiveMe

[2020-12-17 12:14] sshkvar commented on #1914
We have the same issue, Spark can't read iceberg tables which were created by Presto.
Presto connector and Iceberg supports timestamp without timezone.
Is it possible to add support of timestamp without timezone to iceber-spark-runtime?

[2020-12-17 19:01] rdblue commented on #1952
Yes, I think we will need a `NotStartsWith` to handle this.

We can't keep the `Not` after rewriting because some evaluation doesn't support negation. For example, when lower and upper bounds are used to evaluate whether to read a file, the result may be true to indicate that the value may be contained in the file. That should not be negated because it does not confirm that the value is definitely

[2020-12-17 21:22] shardulm94 opened #1954 "Avro: Schema conversions should preserve docs"
In Avro schema conversions referenced below, we should copy field level documentation between Iceberg and Avro schemas. https://github.com/apache/iceberg/blob/9f727cb366103ea8fed10c1d578a88aa7fbd704f/core/src/main/java/org/apache/iceberg/avro/SchemaToType.java#L31 and https://github.com/apache/iceberg/blob/9f727cb366103ea8fed10c1d578a88aa7fbd704f/core/src/main/java/org/apache/iceberg/avro/TypeToSc

[2020-12-18 00:05] mickjermsurawong-stripe commented on #1654
Thanks @johnclara for confirming the problem here. We have also been running more smoothly after our internal patch.

Just would like to bump this if upgrading avro to version 1.10.1 (to include this [patch](https://issues.apache.org/jira/browse/AVRO-2944)) should be cosidered for next iceberg release. One complication could be that hadoop still uses avro 1.7 (iceberg currently uses avro 1.9)

cc

[2020-12-18 04:36] stevenzwu commented on #1951
As part of working on the FLIP-27 Flink source, I updated the code with Flink 1.12.0 version. Here is the PR.
https://github.com/apache/iceberg/pull/1956

[2020-12-18 04:38] stevenzwu commented on #1951
But we probably should discuss when to merge though. maybe after Flink 1.12.1 released?

[2020-12-18 06:01] zhangjun0x01 commented on #1951
I think that the changes between minor versions have little impact. Generally, minor version changes are usually optimizations or bug fixes, and no major changes or api modifications will be made.

[2020-12-18 09:40] openinx opened #1959 "Flink: Commit the existing manifests to iceberg txn in IcebergFilesCommitter."
Currently,    the flink's IcebergFilesCommitter will persist the recieved data files to flink manifests under a customized directory path ( in `snapshotState`),  and then read all data files from the persist flink manifests to commit the iceberg txn ( in `notifyCheckpointComplete` ).

![image](https://user-images.githubusercontent.com/5028729/102599481-7e7d4b00-4158-11eb-852b-249e0fd50a71.png)

(

[2020-12-18 15:31] pan3793 commented on #1951
Both Iceberg and Flink are changing rapidly, is there necessary to introduce `FlinkShim` which like `HiveShim` to support multiple Flink version?

[2020-12-18 16:21] stevenzwu commented on #1951
pasting my comment from the PR here. let's consolidate the discussion in this issue. I guess both @zhangjun0x01 and @pan3793 was suggesting the shim layer approach. It definitely adds some significant complexity.
------------------------
Are you suggesting that we have a module for each Flink minor version release (like 1.11 and 1.12)? I am worried that It can quickly grow out of control, as Flink

[2020-12-18 16:29] mehtaashish23 commented on #1949
@rdblue started an email thread for this, will summarize the details here as it concludes, but here is the detail.

For us, our main use case is primary key based dataSets (like MySQL bin log export) where the DELETE and MERGE always
update records based on the primary key. Considering that I know the primary key and this fixed use case of primary key-
based updates, I can easily construct back CD

[2020-12-18 17:09] pan3793 commented on #1951
@stevenzwu I think we have a different understanding of `Shim`, what I mean is some like:
https://github.com/apache/spark/blob/master/sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveShim.scala , so there is no need to maintain each version in a separate module.

And I think the situation of `flink-kafka-connector` is quite different. Firstly, kafka provide a light `kafka-clients` to c

[2020-12-18 17:53] rdblue commented on #1959
I think it is a good idea to commit the manifests directly, but I would want a flag to tell Iceberg whether it should rewrite them. In some cases, manifests are correctly written into the metadata directory. But it should be possible to write a manifest in a different location. For example, we write manifests in a bucket in the local region and rewrite in the committer to create a manifest in the

[2020-12-18 18:36] stevenzwu commented on #1951
Definitely see the benefit of supporting multiple Flink versions via a shim layer, which does add some complexity and maintenance overhead. Wondering how the spark2/3 modules handle the minor version upgrade in Spark.

@rdblue @openinx @JingsongLi

[2020-12-20 07:40] jun-he opened #1964 "Local build failed due to test testDeserializeEverySupportedType failure"
`testDeserializeEverySupportedType` test failed in a local build, where system clock was not in UTC timezone.
It seems to be related to `IcebergTimestampWithZoneObjectInspector` class, which cast a timestamp to localDateTime with UTC offset.

[2020-12-20 22:39] #1964 closed

[2020-12-21 04:12] openinx commented on #1951
I toke a look at the https://github.com/apache/iceberg/pull/1956/files,  I don't think `spark`'s `Shim` policy will resolve all flink's incompatibility problem, because not all the incompatibility issues are happen in a single interface (or a separate services).  Currently, we iceberg flink module depends on few `internal` interfaces (such as `RowDataTypeInfo`, it was removed in flink 1.12.0), whi

[2020-12-21 17:23] aokolnychyi commented on #1549
@karuppayya here is the item we talked about. I think Holden will be busy with some Spark tasks and the create table validation so it would be great if you could pick it up.

[2020-12-21 19:46] holdenk commented on #1894
Do you have a full stack trace?

[2020-12-21 19:46] holdenk commented on #1889
This is logging for both when it "succeeds" as well as detected failures right?

[2020-12-21 19:47] holdenk commented on #1797
I could take this on if no one is currently working on it.

[2020-12-22 03:42] EricJoy2048 opened #1973 "Can we compact data files by some partition?"
For example:
My table partition by month(time),day(time)，Now Iceberg will generate a file a day. But in order to optimize query performance, I hope that the files from 1 month ago can be one file per month. Does Iceberg support？

[2020-12-23 05:23] txdong-sz opened #1976 "FlinkOrcWriter case must have a default case"
FlinkOrcWriter case must have a default case

![image](https://user-images.githubusercontent.com/5066512/102962461-e39ebb00-4521-11eb-9003-2b9d82fcd85c.png)
![image](https://user-images.githubusercontent.com/5066512/102962526-0630d400-4522-11eb-812a-93b5adf3b9df.png)

[2020-12-23 06:43] openinx commented on #1976
@txdong-sz I guess you are using a different checkstyle.xml  which is not the iceberg's [checkstyle](https://github.com/apache/iceberg/blob/master/.baseline/checkstyle/checkstyle.xml) guide.    If the code violate the checkstyle, the build process would be failure.

[2020-12-23 06:54] openinx commented on #1973
Currently, the RewriteDataFilesAction does not support compacting in a single partition directly, but provided a row [filter](https://github.com/apache/iceberg/blob/da9a0b24f21a4390a5270d94c576b62f3b49caec/core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java#L188)  option to filter those data files that need to compact.  If you have a column `ts` and partitioned by `day(ts

[2020-12-23 07:05] gaojun2048 commented on #1973
Thank you, In my case I want to merge all data files of `2020-11-01 <= ts <= 2020-11-30` into one file. But I see `Partition values for a data file must be the same for all records stored in the data file` in the Iceberg document . I don`t know if an error will be reported if there are multiple partition values in one data file.

[2020-12-23 14:33] #1976 closed

[2020-12-23 18:30] dmgcodevil opened #1980 "Spark Iceberg manifest reports wrong parquet file sizes."
We are using spark iceberg and some iceberg manifest files report the wrong data file (parquet)  size, it's ~ 2x  larger than the actual parquet file size. The issue was found while investigating Presto Iceberg [iss6369](https://github.com/prestosql/presto/issues/6369)

the problem might be in `ParquetWriter#length()`, method

[code]

maybe that's why a parquet file size in manifest > actual file

[2020-12-23 23:42] dmgcodevil commented on #1980
Quick update: I've reproduced the issue. will update the ticked as soon as I have the details

[2020-12-24 03:24] zhangjun0x01 opened #1983 "Flink : query large iceberg tables slowly"
when I use flink to query large iceberg table , I found that it is query slowly, it need a few minutes.

the table is partitioned table, the daily data is about 700 million , and the sql is like this `select * from mytable where d = 20201224 limit 1`.

I only want to select one data to validate the data , but I found that the query is slowly ，even though we have push down the limit

[2020-12-24 06:21] dmgcodevil commented on #1980
Ok, based on my debugging research the _problem_ in this [line](https://github.com/apache/iceberg/blob/1b66bdfc084ac73fe999299d041aa2e5677f43c9/parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java#L130)

i.e. `writer.getPos() ` returns the corrent size of the actual parquet file saved on disk, but `writeStore.isColumnFlushNeeded()` returns true and adds extra bytes.

In my case, the

[2020-12-24 07:35] openinx commented on #1983
Could you pls dump the stacktrace when executing the `SELECT` query  ?   I will check what's the reason that hung the query.

[2020-12-24 12:36] openinx commented on #1914
@txdong-sz  `PARTITIONED BY (HOURS(time))`  is actually the feature that we named it `hidden partition`,  apache iceberg support hidden partition,  but flink SQL does not support it now.  We are planning to file issue to apache flink for supporting it ( I'm not quite sure what's the priority for the apache flink community now,  but will to discuss with them).

@zhangjun0x01  provides a temporary w

[2020-12-24 19:32] dmgcodevil commented on #1980
UPDATE: I did some testing: 739578885 total rows, 900 parquet files, 1953 manifest files. No errors found.
The fix might be not ideal but I can confirm the now manifest files contain the correct data file sizes

[2020-12-24 21:00] rdblue commented on #1980
Sounds like you have a fix. Could you open a PR with it? Thanks!

[2020-12-25 03:19] zhangjun0x01 commented on #1983
I checked the log and found that the log is not comprehensive and does not have more useful information,
so I want to add some logs to print the execution time of each process

[2020-12-26 08:42] liubo1022126 commented on #1724
I have a test like Step#1, but get exception : IllegalArgumentException: Cannot write delete files in a v1 table.

I look over https://iceberg.apache.org/spec/#table-metadata for format-version, it said that An integer version number for the format. Currently, this is always 1. Implementations must throw an exception if a table’s version is higher than the supported version. so what can i do to te

[2020-12-27 23:23] kbendick commented on #1954
@shardulm94 @RussellSpitzer I can take this one.

[2020-12-28 00:43] kbendick commented on #1954
It seems my patch has inadvertently broken a different test (more info in the PR summary).

AFAIK I am unable to revert my PR to a draft as I don't have commit rights in this repo.

I've updated the PR to have [WIP] instead while I investigate.

[2020-12-28 04:47] bowenli86 opened #1992 "no 0.10.0 for iceberg-hive"
Hello, why isn't there a 0.10.0 for https://mvnrepository.com/artifact/org.apache.iceberg/iceberg-hive?

[2020-12-28 06:11] zhangjun0x01 commented on #1983
I tested it ,found that `limit push down` is invalid for partitioned tables

[2020-12-28 06:16] kbendick commented on #1954
I figured out why the test needed to be updated (slight increase in manifest file size due to the field docs appearing in their header). Given the increase is many orders of magnitude less than the default target manifest file size (698 bytes increase per GenericManifestFile according to my debugger from this patch), I personally don't think it's an issue.

This PR is no longer considered WIP.

[2020-12-28 06:24] openinx commented on #1983
Could you provide more details ?  This is limited by apache flink,  Or bugs from iceberg integration work ?

[2020-12-28 06:38] kbendick commented on #1992
Hi @bowenli86, there is no 0.10.0 version of that artifact as the iceberg hive code has been broken up into a few modules. Likely the one that you want is [https://mvnrepository.com/artifact/org.apache.iceberg/iceberg-hive-runtime](https://mvnrepository.com/artifact/org.apache.iceberg/iceberg-hive-runtime) if you're looking to run hive jobs.

Feel free to close this issue if that sorts out your pr

[2020-12-28 07:28] zhangjun0x01 commented on #1983
I did a detail test, if we add a query condition in `where`, for example `select * from mytable where d = 20201224 limit 1 ` the limit push down will fail , both partitioned table and unpartitioned table.

I test `HiveTableSource` in flink,it has the same problem. (Except the condition is the partition field)

I am not sure whether this is a bug for flink

[2020-12-28 07:40] Jecarm opened #1994 "Failed to connect Hive Metastore using Hive client pool"
### Backgroud
we have started two Hive Metastore servers named _Server1_ and _Server2_, and the Iceberg-0.9.1 config set is
* spark.sql.catalog.hive_prod = org.apache.iceberg.spark.SparkCatalog
* spark.sql.catalog.hive_prod.type = hive
* spark.sql.catalog.hive_prod.uri = thrift://_Server1_, thrift://_Server2_
* spark.sql.catalog.hive_prod.clients=1

It is assume that the current thread pool has al

[2020-12-28 08:51] vvellanki commented on #1832
@rdblue @wangmiao1981 Piyush from my team has uploaded a PR for partition-stats. I am of the opinion that the secondary indexes work that @wangmiao1981 is doing is quite different from what we are proposing.

Can you guys take a look and comment?

[2020-12-28 09:21] zhangjun0x01 opened #1995 "Flink : table column comment missing"
When we create an iceberg table by flink (hive catalog mode), the field comment is missing, so we cannot view the column comment on hive or flink.

[2020-12-28 19:47] #1541 closed

[2020-12-28 19:47] rdblue commented on #1541
Fixed by #1984.

[2020-12-28 20:35] kbendick commented on #1995
This is possibly somewhat related to the loss of field level docs when converting between iceberg schemas and avro schemas, as mentioned here: https://github.com/apache/iceberg/issues/1954

I submitted a patch which merged this morning. You might see if that resolves the issue? If I have time I can add a test to check if this is still the case (or just test manually), but from memory the flink cod

[2020-12-28 20:49] kbendick commented on #1995
For reference, the associated PR that retains the avro field docs (which I'm pretty sure is where the loss is happening) is https://github.com/apache/iceberg/pull/1991.

It's possible that the field comments have been lost given that you cannot view the comments in either hive or flink. You could inspect one of the more recent table manifest files for the header to get the schema. If the comments

[2020-12-29 02:03] dmgcodevil commented on #1980
@rdblue [PR](https://github.com/apache/iceberg/pull/2001) The fix fork, but I believe that there is a better way to fix it

[2020-12-29 11:50] aokolnychyi commented on #1904
I think this one was resolved in PR #1998. Thanks, @jackye1995!

[2020-12-29 11:50] #1904 closed

[2020-12-29 20:02] rdblue commented on #1680
I started working on this and realized that it is simpler to account for the bad values produced by version 0.10.0 and older.

Testing showed that the date transform didn't have the bug, so documenting the behavior would be more complicated in the spec. In addition, adding new transforms to the spec would be a much larger addition than adding example test cases and noting old versions that were af

[2020-12-30 02:20] zhangjun0x01 commented on #1995
@kbendick I tested it use iceberg master branch , the comment is still missing,I will look up the reason later

[2020-12-30 02:36] zhangjun0x01 commented on #1983
I look up the flink source code ,I found the comment. [here](https://github.com/apache/flink/blob/master/flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushLimitIntoTableSourceScanRule.java#L64)

[code]

I think it may be a flink bug ,I create a [flink issue](https://issues.apache.org/jira/browse/FLINK-20809) to trace this

[2020-12-30 04:16] zhangjun0x01 opened #2006 "flink can not view the new column which added by spark sql"
when I use spark sql `ALTER TABLE ... ADD COLUMN` to add a new column for an exist iceberg table(hive catalog mode), then I can not view the new column by flink sql `desc table_name`.
spark sql and hive sql is normal.

[2020-12-30 04:23] zhangjun0x01 commented on #2006
I look up the source code , I found that flink  use the `metadata_location`  to gerarate the table schema， maybe spark do not update the schema when add a new column

[2020-12-30 09:00] liudi1184 opened #2008 "Exception using Actions"
When I use the following API

                  `Actions
                            .forTable(table)
                            .rewriteDataFiles()
                            .execute();`
my Flink task always has the following exception

java.lang.IllegalStateException: MiniCluster is not yet running or has already been shut down.
	at org.apache.flink.util.Preconditions.checkState(Preconditions

[2020-12-30 09:15] zhangjun0x01 commented on #2008
check  it whether other flink programs are started on your computer, such as  started by executing the main method or `start-cluster.sh`, close them, and try to execute the Actions again. I guess it maybe some conflicts  .

[2020-12-30 09:19] liudi1184 commented on #2008
My Flink task runs in the yarn cluster

[2020-12-30 09:23] zhangjun0x01 commented on #2008
use the Actions like this;
[code]

[2020-12-30 11:25] #1885 closed

[2020-12-31 05:31] kbendick commented on #1952
Is anybody working on this? If not, I've started working on this a bit and would be happy to take this issue.

[2020-12-31 09:10] masonone opened #2014 "master branch souce code not incloud this relocated package ?"
[code]
The code I pulled from the master branch.
Why is this part of the source code not included in my source code?

[2020-12-31 09:53] #1661 closed

[2020-12-31 10:27] masonone opened #2015 "I got this error using iceberg, I want to know what caused it."
[code]
version:
flink 1.11.3
hive 3.1.2
iceberg-flink-runtime-0.10.0

description:
I got this error using iceberg, I want to know what caused it.

[2020-12-31 21:45] rdblue commented on #1952
I'm not. Go for it!

[2021-01-01 08:29] masonone commented on #2014
I have solved this problem

[2021-01-01 08:29] #2014 closed

[2021-01-02 06:28] kbendick opened #2019 "Add Python Operation for STARTS_WITH"
While working on this issue for adding a NOT_STARTS_WITH operation, I noticed that there does not seem to be a Python equivalent to the Java STARTS_WITH operation.

We should add this in.

[2021-01-02 06:29] kbendick commented on #2019
I can try to handle this while I'm working on adding the NOT_STARTS_WITH operator, though if anybody else has interest in it, please let me know and I'll let you know where I'm at and if you can take it over 👍

[2021-01-04 06:09] liudi1184 commented on #2008
I tried to use it like this, but the following exception occurred

`Caused by: java.io.IOException: Failed to deserialize an element from the source. If you are using user-defined serialization (Value and Writable types), check the serialization functions.
Serializer is org.apache.flink.api.java.typeutils.runtime.kryo.KryoSerializer@1af6329f
        at org.apache.flink.streaming.api.functions.sour

[2021-01-04 08:12] zhangjun0x01 commented on #2008
there are some data cannot be serialized, please check  whether it meets the requirements of flink serialization

https://ci.apache.org/projects/flink/flink-docs-stable/dev/types_serialization.html

[2021-01-04 09:37] sunzheng1002 opened #2023 "Flink : The Iceberg metadata is not updated after the SavePoint recovery task"
My task logic is to consume Kafka data and write to HDFS.
I stopped the task through the flink stop command, generated savePoint, and then resumed the task according to savePoint. After starting the task,checkpoint is submitted normally, and the data file on HDFS is generated normally. However, iceberg's metadata is not updated, so I cannot search the recovered data.

[2021-01-04 10:14] openinx commented on #2023
What do you mean about `iceberg's metadata is not updated`  ?  You mean the iceberg did not commit the txn successfully then you can read the latest data files ?

[2021-01-04 11:20] sunzheng1002 commented on #2023
Yes, the Iceberg txn is not submitted properly and I can't read the new data.

[2021-01-04 13:10] pvary commented on #1992
Hi @bowenli86,

Was iceberg-hive-runtime.jar what you were looking for?

Thanks,
Peter

[2021-01-04 13:20] pvary commented on #1994
Writing checks on exception message strings seem like bad practice to me.

Maybe liveliness check for the connections would be a better solution, where we could check whether the HMS is active or not, by calling a specific low cost method which is not plagued with the exception wrapping you have found above?

What do you think @Jecarm?

Thanks,
Peter

[2021-01-04 16:46] massdosage commented on #280
Is this done now? Just curious as it mentions closed and merged PRs.

[2021-01-04 16:46] massdosage commented on #281
Is this done now? Just curious as it mentions closed and merged PRs.

[2021-01-04 17:15] rdblue commented on #280
Yes, it is done. I'll close this. Thanks!

[2021-01-04 17:15] #280 closed

[2021-01-04 17:16] rdblue commented on #281
Yes. I'll close it. Thanks!

[2021-01-04 17:16] #281 closed

[2021-01-04 20:31] kbendick opened #2026 "Missing documentation on MetricMode options"
I noticed that on the icenberg website, there doesn't appear to be any mention of the possible metric modes or the metrics configuration.

The values that need documentation are  in core, found in `org.apache.iceberg.MetricsModes`:
https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/MetricsModes.java
https://github.com/apache/iceberg/blob/master/core/src/main/java/o

[2021-01-04 20:34] kbendick commented on #2026
I'll look more closely at the spec / website docs and update accordingly once I've made more progress on that task. If anybody feels like documenting them before that, please feel free to take this issue. Otherwise, I will handle it after the above issue is complete at my earliest possible time.

[2021-01-04 20:36] kbendick commented on #2019
This issue was found while I was working on a PR for this issue, supporting not starts_with, and should be linked. https://github.com/apache/iceberg/issues/1952

[2021-01-05 04:52] #2008 closed

[2021-01-05 05:00] liudi1184 opened #2028 "The data generated by Actions cannot be serialized"
I want to use the following method to merge small files with Actions in the Flink task:

` StreamExecutionEnvironment env = StreamExecutionEnvironment.getExecutionEnvironment();
        env.setParallelism(1);
        env.setMaxParallelism(1);
        //registerSerializer();
        HadoopCatalog hadoopCatalog = HadoopCatalogHolder.getHadoopCatalog();
        List<Namespace> namespaces = hadoopCata

[2021-01-05 06:47] kbendick commented on #2026
I actually found plenty of documentation for this. I don't think it needs any more and will close this issue, we can reopen if we think there's a need for further documentation.

[2021-01-05 06:49] kbendick commented on #2026
I found the values documented here, https://iceberg.apache.org/configuration/#write-properties, but it might be a good idea to include more of a discussion in the format section about what these various metric configurations accomplish, given that metrics are discussed there a good amount. I'll close this issue for now though 👍

[2021-01-05 06:49] #2026 closed

[2021-01-05 12:57] aokolnychyi commented on #1258
Done in PR #1525

[2021-01-05 12:57] #1258 closed

[2021-01-05 12:58] aokolnychyi commented on #1590
This was done in PR #1906.

[2021-01-05 12:58] #1590 closed

[2021-01-05 12:58] aokolnychyi commented on #1591
This was done in PR #1906.

[2021-01-05 12:58] #1591 closed

[2021-01-05 14:03] aokolnychyi commented on #1889
Yep, exactly, @holdenk.

[2021-01-05 14:33] yutaoChina commented on #1992
iceberg will support hive1.x

[2021-01-05 22:33] dmgcodevil commented on #1980
@rdblue do you know when a new release will be cut off?

[2021-01-05 23:26] elkhand opened #2033 "Iceberg specific files (manifest files, manifest list file, metadata file) are not created, only Flink specific manifest file is created"
**[ Update on the issue - an updated description which describes the problem more accurately: Jan 12, 2021 ]**

Hello, Iceberg community,

I'm facing an issue with metadata files in S3 for the Iceberg table. After the job was running for a while, and few times suspended via savepoints and started again, Flink only creates Flink specific manifest files, and Iceberg specific files are not created. O

[2021-01-06 00:07] rdblue commented on #1980
We should have a release sometime this month.

[2021-01-06 02:47] wg1026688210 commented on #1904
hi~@pvary  i did not encounter this situation，i just have a guess .   could the period of no receive heartbeat   be config at hive metastore

[2021-01-06 04:19] openinx commented on #2033
@elkhand ,  the manifests file is actually not the iceberg's metadata ,  it's a manifest file that was designed for flink (Pls see [here](https://github.com/apache/iceberg/blob/master/flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java#L53)).  When committing the iceberg transaction during completing checkpoint,  the iceberg-files-committer will read all data files fro

[2021-01-06 06:47] pvary commented on #1904
The config is called [hive.txn.timeout](https://cwiki.apache.org/confluence/plugins/servlet/mobile?contentId=40509723#ConfigurationProperties-Transactions). The default is 300s. Hope this help.

[2021-01-06 07:25] Jecarm commented on #1994
A problem occurs when the client pool has established multiple client connections. The liveliness checking, calling a specific low cost method which is not be wrapped by MetaException, may return OK when connecting to other active HMS connection.
How to ensure that the activity detection keeps the same connection with the previous request  @pvary ?

[2021-01-06 09:45] dixingxing0 opened #2037 "Flink should push down filter to iceberg"
Currently IcebergTableSource did not implement FilterableTableSource interface, so the filter can not push down to iceberg.
I found a related issue https://github.com/apache/iceberg/issues/1983

[2021-01-06 12:14] pvary commented on #1898
@islandgit: May I close this issue?

Thanks,
Peter

[2021-01-06 13:13] aokolnychyi commented on #1980
@rdblue @dmgcodevil does this problem happen all the time or only in given cases? Shall we create a repair action that would fix the metadata by checking the fs?

[2021-01-06 14:28] pvary commented on #1994
Should we run the liveliness test on every established HMS Client? That would ensure that the working clients will not be restarted but the ones connected to a stopped HMS will be stopped and the connection will be reestablished.

[2021-01-06 15:38] dmgcodevil commented on #1980
@aokolnychyi I'd suggest creating a repair action. This is what we are about to do with our data.

[2021-01-06 15:43] islandgit commented on #1898
@pvary
Thank you very much
you can close it

[2021-01-06 16:24] rdblue commented on #1980
Why repair this? Is it causing problems with split planning?

[2021-01-06 16:58] dmgcodevil commented on #1980
@rdblue if you are using prestosql >= 348 you will face this [problem](https://github.com/trinodb/trino/issues/6369)

[2021-01-06 19:12] rdblue commented on #1980
Thanks for the context, @dmgcodevil. That's is definitely a problem. I think we will want to have a Trino fix for it, with the ability to fix metadata as a work-around until that is released. If you have a utility to share that fixes the metadata, I think that would be useful for other people. Thanks!

[2021-01-07 01:36] wmoustafa opened #2039 "Support default value semantics in Iceberg"
Hive tables written in Avro file format face a challenge when they are migrated to Iceberg due to the lack of support of `default` value semantics in Iceberg. If a field is assigned a default value, users get a `null` if the field is optional and get an exception (shown below) if the field is required, compared to getting a non-null default value when the default value in the Avro schema is non-nu

[2021-01-07 02:08] openinx commented on #2037
There's a PR addressing this issue https://github.com/apache/iceberg/pull/1893,  but it's still being reviewing.  I think it will be merged before 0.11.0 release.

[2021-01-07 02:14] #2037 closed

[2021-01-07 02:15] dixingxing0 commented on #2037
Ok， i will close it.

[2021-01-07 03:22] shardulm94 commented on #1954
@kbendick Saw that your PR was merged. Thanks for working on this!

[2021-01-07 03:22] #1954 closed

[2021-01-07 05:43] mehtaashish23 opened #2040 "Partial data ingestion to Iceberg in failing with Spark 3.0.x"
GIST: https://gist.github.com/mehtaashish23/7fccdd8df620cf9fe34dd146441126a9

If you have a table with 3 fields (Example: f1, f2, f3) but you create dataFrame with field f1,f2 (partial data) and write it to Iceberg, it fails with following exception on Spark 3.0.x. GIST to reproduce this is mentioned above.

[code]

[2021-01-07 06:03] mehtaashish23 commented on #2040
@rdblue : I tried to debug this, it seems in V2WriteCommand in Spark 3.0.x (not the latest master) gets the table (NamedRelation) with 3 columns [here] in output, whereas in Spark 3.2.x (latest master) we are able to write partial data, because we are getting 2 columns there (not sure what major things have changed, and if they are intended)

NOTE: If I try to insert data using insert SQL in Spark

[2021-01-07 07:10] mehtaashish23 opened #2041 "Out of order fields are corrupting data with Insert Into SQL on Spark 3.0"
GIST: https://gist.github.com/mehtaashish23/232dda586040a8e9038b61f3553dde76

While doing INSERT INTO on Iceberg table to append data, the order of fields being commited are wrong, and hence corrupting the table. Checkout the GIST for the code, but if the table has field "f1,f2,f3" and I insert the data using the following code, then it gets the wrong data (out of order fields) into the table. NOT

[2021-01-07 08:12] pvary commented on #1898
@islandgit: I just realized I can not 😢. Could you please close this?

Thanks,
Peter

[2021-01-07 10:30] openinx commented on #1698
Thanks @stevenzwu for bringing this up.   It's indeed an problem for flink streaming reader because it depends on the java serialization in [StreamingReaderOperator](https://github.com/apache/iceberg/pull/1793/files#diff-22513db68a66d835391d1dad5b0b95ed776dbcc3df7c8df7df5450930f367893R67) now,  it's easy to crash when we upgrade iceberg lib version (which changes the CombinedScanTask classes) and

[2021-01-07 11:05] boroknagyz opened #2043 "Partition data to path, and path to data conversions are not consistent with each other"
PartitionSpec.partitionToPath() method creates a human-readable partition path:
https://github.com/apache/iceberg/blob/083e70bd0e9be39c25170aee2ddb7e084527fed6/api/src/main/java/org/apache/iceberg/PartitionSpec.java#L173

However, DataFiles.fillFromPath() invokes Conversions.fromPartitionString()
https://github.com/apache/iceberg/blob/083e70bd0e9be39c25170aee2ddb7e084527fed6/core/src/main/java/org