[2019-10-15 14:08] rdsr commented on #510
The data will not be read. It will only be a metadata operation. We'd have to read Parquet footer to load the metrics only.

[2019-10-15 16:36] #446 closed

[2019-10-16 16:22] aokolnychyi opened #552 "Metadata tables don't show wap snapshots if there are no other snapshots"
Steps to reproduce:

- Create an empty table with wap enabled
- Produce a new wap snapshot
- Ensure the data is not yet accessible
- Query the snapshots table

I would still expect to see the created snapshot.

[2019-10-16 20:37] aokolnychyi opened #553 "Spark ReadTask is expensive to serialize"
In some Spark jobs, we see a substantial scheduler delay. I assume it happens in `TaskSetManager` when Spark serializes Iceberg `ReadTask`. The latter contains a couple of large strings (if you have a lot of columns) and an instance of `FileIO` (which can contain a full Hadoop conf).

[2019-10-17 12:25] aokolnychyi commented on #553
I can confirm the issue is resolved if we avoid serializing `FileIO`. The main question is how to achieve that with minimum changes.

[2019-10-17 14:08] andrei-ionescu commented on #510
@rdsr Given two different locations of data (`hdfs://host_1/input/data/` and `hdfs://host_2/input/data/`), how would you move the `day=2019-06-01` partition from **host_1** to **host_2** applying some transformations (host_1 data is parquet format, host_2 data is iceberg format)?

[2019-10-17 14:25] aokolnychyi commented on #553
As a short-term solution, we can broadcast `EncryptionManager` and `FileIO` in `IcebergSource`. Then `Reader` and `ReadTask` can store references to the broadcasted values and fetch actual ones in `createPartitionReader` while creating `TaskDataReader`.

@rdblue thoughts?

[2019-10-17 17:20] jzhuge commented on #446
@aokolnychyi @shardulm94 @rdsr please take a look at a custom Spark Kryo registrator for Iceberg in #549.

[2019-10-17 20:00] goldentriangle opened #555 "Iceberg tables should allow for automatic table creation when writing if table not exists already"
I think this is a special case for https://github.com/apache/incubator-iceberg/issues/540.

When writing a spark dataframe into iceberg table, if the table doesn't exist, iceberg should create the table/schema automatically/implicitly

[2019-10-18 00:19] rdblue commented on #555
We are planning on adding support for the new logical plans in Spark 3.0. That will include support fro common SQL statements, like `CREATE TABLE ... AS SELECT ...` as well as `REPLACE TABLE ... AS SELECT ...`. It will also include support for the new [DataFrameWriterV2](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriterV2.scala) API that can b

[2019-10-18 00:19] #555 closed

[2019-10-18 00:19] rdblue commented on #553
Using a broadcast sounds good to me for now.

Can you open a PR for this?

[2019-10-18 08:56] aokolnychyi commented on #553
Will open a PR today

[2019-10-18 19:41] TGooch44 opened #559 "[python] Document License info for source code"
For apache release, all non-original code sources must be documented and be of a compatible license.  The python license needs to reflect this where applicable.

[2019-10-18 19:46] TGooch44 opened #561 "[python] Provide an implementation for combining FileScanTask into an arrow table"
One of the primary way of consuming data in python is expected to be by returning a combined arrow table that is the result of reading from all of the FileScanTasks generated from a TableScan.plan_tasks().

[2019-10-18 19:49] TGooch44 opened #562 "[python] Add implementation for converting a TableScan into a pandas DF"
One of the primary way of consuming data in python is expected to be by returning a pandas dataframe  that is the result of reading from all of the FileScanTasks generated from a TableScan.plan_tasks().

[2019-10-18 19:50] TGooch44 opened #563 "[python] Update site docs to have a CustomCatalog page for python"
There should be a similar page to for python as the one that already exists for Java:
https://iceberg.apache.org/custom-catalog/

[2019-10-18 19:51] TGooch44 opened #564 "[python] Provide an implementation for BaseMetastoreTables.create"
Given a schema, spec and identifier create an iceberg table.

[2019-10-18 22:02] TGooch44 opened #565 "[python] update DataTableScan.plan_files to only read non_empty manifests"
See https://github.com/apache/incubator-iceberg/blob/master/core/src/main/java/org/apache/iceberg/DataTableScan.java#L78-L79

Prevents reading manifests that only contain deleted files

[2019-10-19 00:15] bowenli86 opened #567 "Iceberg sink for Apache Flink"
Users should be able to have their Flink apps write into Iceberg directly via a sink to leverage Iceberg  as the table format for their near-real-time or even real time data lake/warehouse.

Background: Apache Flink is the most popular and powerful stream processing engine nowadays, and has been widely adopted in companies like Uber, Lyft, Netflix, etc.

[2019-10-19 00:29] bowenli86 commented on #567
Hi @rdblue , I wonder if this is something that the iceberg community will consider?

[2019-10-19 00:33] rdblue commented on #567
Yeah, we (Netflix) have a prototype sink from Flink to Iceberg that we use. I think it's a great idea to add an open one; we've been meaning to clean up ours if we can to get it upstream. Would you want to add a sink in Flink or in Iceberg?

[2019-10-19 00:43] bowenli86 commented on #567
I'd like to do it in Iceberg first. When it and the Iceberg project matures, I can help evaluate merging it back to Flink.

Would you prefer to use your internal one, or develop a new one from scratch (which I can help with)? Either way, it would be great if you can share some code snippets of the prototype sink early to gather some feedback and ideas.

[2019-10-21 08:53] waterlx commented on #317
Hi @aokolnychyi are you still working on the PR?
By the way, regarding

In terms of "changing sort order", do we only support adding new sort order, while it is prohibited to change existing sort orders (especially when they are tied by some data files).
If it is allowed to change an existing sort order, we could run into problems when visiting the old data files tied to it, right?

[2019-10-21 13:01] aokolnychyi commented on #317
@waterlx I have started working on this, but then got distracted by our internal milestones. I hope to submit a PR by the end of this week.

I think it makes sense to follow the same approach as we currently follow for partition spec evolution: we can keep a list of sort orders with their ids in the metadata and files will be annotated with `sort_order_id`. That way, we can always reconstruct the

[2019-10-21 18:22] aokolnychyi opened #568 "Document release candidate validation process"
I think we need to document [steps required to validate a release candidate](http://mail-archives.apache.org/mod_mbox/iceberg-dev/201910.mbox/%3cCAO4re1kCSRLF1AZwQ0efshammE+xxdB275_Z9wvLv1hDzSyYKw@mail.gmail.com%3e) somewhere on the website.

[2019-10-21 19:05] rdsr commented on #568
This seems ripe for automation. Maybe check this ticket to create a script for validation of a release?

[2019-10-21 20:24] aokolnychyi commented on #568
@rdsr I think having a script is a great idea!

[2019-10-22 03:13] rdsr opened #570 "Make field access by name work for Avro schema and record apis in Avro generics module"
#207 introduced a change where fields name in a schema can change resulting in field access by name breaking. The detailed issue [with potential solutions] is described [here](https://github.com/apache/incubator-iceberg/pull/207#discussion_r337276240) by @rdblue

One potential solution is to figure out how to pass a slightly different schema when building the [resolving decoder](https://github.com

[2019-10-22 03:23] rdsr opened #571 "Make field access by name work for Avro schema and record apis in Iceberg generics module"
Details in #570

[2019-10-22 03:24] rdsr opened #572 "Make field access by name work for Avro schema and record apis in Spark module"
Relates to #570 and #571. Details in #570

[2019-10-22 05:37] jzhuge commented on #545
@arina-ielchiieva Thanks for reporting the issue. Duplicate of #557 that has been fixed.

[2019-10-22 17:47] #40 closed

[2019-10-22 18:17] #155 closed

[2019-10-22 18:59] rdblue commented on #567
I don't think that it makes sense to keep code in one repository or another based on incubation status. I'm wondering how difficult it would be to maintain the code here vs in Flink. Does Flink have a stable connector API for plugging in sinks?

[2019-10-23 02:33] rdsr commented on #528
@rdblue I was looking at how `ParquetReader` chooses to assign fallback ids . I think it assigns fallback ids if at least one column does not have id. The behavior is described here `org.apache.iceberg.parquet.ParquetSchemaUtil#hasIds()`

With point 3 above, your approach is slightly different where if at least one column has an id we do not infer the table mapping.

Should we maintain the same be

[2019-10-23 06:21] waterlx commented on #317
@aokolnychyi , thanks for sharing the progress!
I did not make myself clear. Yes, we could change the sort order for partitions. But regarding the individual sort order in the list of sort order in the metadata, is it allowed to change one of them? Say we have a sort order with id =1, sorting on source_column_id = 1 with ascending order, is it supported that it is updated to descending order? Shal

[2019-10-23 23:17] bowenli86 commented on #567
Sorry for the confusion. I was not suggesting incubating/graduating as an argument, but only an arbitrary time in the future to reevaluate the situation.

I think we better do it in iceberg at least for now because 1) lt potentially can take longer time (google pubsub connector took ~a year, pulsar connector took ~1.5 y and hasn't get in yet) in Flink to reach consensus, write FLIP (Flink improvem

[2019-10-24 02:18] jerryshao commented on #567
Just curious about the status of Flink connector. Iceberg requires lots of things exposed from connector, so that Iceberg could leverage it.

[2019-10-24 12:37] andrei-ionescu opened #575 "After writing Iceberg dataset with nested partitions it cannot be read anymore"
After writing an Iceberg dataset with nested partitions at read time the following error is encountered:

[code]

The steps are:

1. Have a schema and its json data
2. Add a simple partition and a nested partition (both `identity`)
3. Write the data in iceberg format using Iceberg data frame writer
4. Read the data into a new Iceberg dataset

The last step fails with the error above.

Here is some

[2019-10-25 23:21] Fokko opened #578 "Make Iceberg work with Java11"
Since more and more projects are offering support for JDK11, it would be great to have the ability to build and test Iceberg under JDK11 as well. Right now this isn't supported: https://github.com/apache/incubator-iceberg/pull/577

[2019-10-27 19:25] rdsr opened #582 "Update jackson databind to 2.10.0"
2.9.10 has a vulnerability https://www.cvedetails.com/cve/CVE-2019-16943 . Our internal tools is not allowing us to import the latest changes because of this.

[2019-10-27 21:06] #159 closed

[2019-10-28 01:35] melin opened #584 "support the Spark sql to create the iceerg table?"
support the Spark sql to create the iceerg table

[2019-10-28 13:44] #582 closed

[2019-10-28 13:53] aokolnychyi commented on #545
@arina-ielchiieva I am going to close this one as the issue should be fixed by #557, as @jzhuge noted. Feel free to reopen if that PR didn't solve the problem.

[2019-10-28 13:53] #545 closed

[2019-10-28 13:56] aokolnychyi commented on #584
@melin Iceberg will have full SQL support in Spark 3.0 as noted [here](http://iceberg.incubator.apache.org/spark/).

[2019-10-28 14:07] aokolnychyi commented on #504
@chenjunjiedada, sorry, I missed your comment.

I think data files should optionally inherit the snapshot id and we still want to keep a way to explicitly annotate files with snapshot ids in manifests. For example, it is safe to inherit the snapshot id while appending files but we still want to annotate different files with their respective snapshot ids while compacting manifests, for example.

[2019-10-28 14:10] aokolnychyi commented on #504
I am actually thinking to rename this issue into something more generic. Let me see if we can have a common way to inherit some metadata.

[2019-10-28 15:48] rdblue commented on #575
Can you give us more information about what happened here? What is the configuration of the table you're writing to? Looks like you're reading Avro files. Does this also happen with Parquet?

[2019-10-28 15:54] rdsr opened #586 "Fix Parquet's fallback field id assignment"
As discussed in #580, we need to fix how Parquet assigns fallback ids. Today, it checks if the schema has at least one id missing, it assigns fallback ids to all fields, but as pointed out by @rdblue it should check if  any id is set, we should not use fallback assignment.

[2019-10-28 16:00] rdblue commented on #586
For context, I think the idea was to catch when fallback was needed as quickly as possible. That works for cases where the schema either has IDs for every field or has no IDs, as in our environment when I wrote the logic. But that isn't necessarily the case for all data files, so we should update the logic to be more careful.

[2019-10-29 06:17] chenjunjiedada commented on #504
@aokolnychyi, Thanks for your explanation.

I think I didn't understand the use case you mentioned.  I thought a new manifest should always have a new snapshot ID whatever entries it takes.  While you were considering the checkpoint or compacting thing so that the manifest should contain the same snapshot as its original manifest. Do I understand correctly now?

[2019-10-29 15:34] andrei-ionescu commented on #575
I updated the issue description too so it would be easier to understand.

[2019-10-29 15:44] aokolnychyi commented on #317
@waterlx I agree that sort orders should be immutable. If we change the sort order for a table, we should produce a new sort order with a fresh id.

[2019-10-30 02:07] stevenzwu commented on #567
As for open sourcing Flink Iceberg sink that @rdblue mentioned, it seems that we probably can only get to it on later Q1 or early Q2 due to resource constrains. Need to figure out how to untangle the Netflix specific logics. Goal is to make the open-source Flink sink connector generic and extensible

[2019-10-30 07:13] lxynov commented on #459
@aokolnychyi @rdblue Thanks for the review on #467 . I've created another PR #591 which finishes the decoupling work.

[2019-10-30 15:01] aokolnychyi opened #592 "Consider using SessionCatalog in SparkTableUtil"
I think it would be better to rely on `SessionCatalog` in `SparkTableUtil` to get a list of partitions. That way, we can support the in-memory catalog as well.

[2019-10-30 15:02] aokolnychyi commented on #592
@rdblue is there a particular reason to use the Hive client directly in `SparkTableUtil`?
What about this?

[code]

[2019-10-30 16:36] rdblue commented on #592
Sounds good to me!

[2019-10-30 18:04] aokolnychyi commented on #592
@rdblue, we are also constructing a `DataFrame` in `partitionDF`. What about using a simple case class as we have for manifests and data files? For example, we can have:

[code]

[2019-10-30 20:40] rdblue commented on #592
Is it possible to use our own HiveCatalog for this instead of using Spark? It would be great to avoid using non-public Spark classes.

[2019-10-30 20:59] #528 closed

[2019-10-30 21:02] aokolnychyi commented on #592
Could you elaborate a bit? Not sure I got.

I am proposing to move to `SessionCatalog` in order to get rid of Hive hacks we currently use. In addition, we will get support for the in-memory catalog for free. It also seems reasonable to introduce a case class `TablePartition` like we have `SparkDataFile` as most of the operations in `SparkTableUtil` use typed `Dataset`s. That way, calling `listPart

[2019-10-30 21:14] rdblue commented on #592
Yeah, those changes make sense to me.

What I was suggesting is maybe to try updating to use the Iceberg HiveCatalog instead of SessionCatalog. Then we wouldn't be relying on an internal API that is not public in Spark (SessionState to get the external catalog).

[2019-10-30 22:44] aokolnychyi commented on #592
I hope we won't be using any internal Spark classes to import existing tables at some point. However, that will mean implementing more logic in Iceberg. Also, there are a lot of users who don't use HMS to track partitions. We will also need to cover that use case as well, I believe.

My suggestion is to update `SparkTableUtil` as an intermediate step and create issues to move from internal Spark c

[2019-10-30 22:46] rdblue commented on #592
That sounds good to me. I just though it might be a good time to take a look if you're changing that area. Thanks for looking into it!

[2019-10-31 09:27] aokolnychyi opened #595 "Don't use internal Spark classes to migrate existing tables to Iceberg"
I think it is worth estimating the amount of work it would require us to move away from internal Spark classes for migrating existing tables. We should support HMS and non-HMS cases.

See #592 for context.

[2019-10-31 14:08] aokolnychyi opened #597 "Clean up staged manifests generated by SparkTableUtil"
I think we should delete staged manifests produced by `SparkTableUtil` while importing tables.

[2019-10-31 15:48] chenjunjiedada opened #598 "Support recognizing the column represented with an array of fields"
Some engines may express columns with an array of fields, such as `TableChange` API in Spark 3.0. We may need to consider supporting adding an API in `Schema`, e.g. `findField(String[] fields)`.

@rdblue, Does that make sense?

[2019-10-31 18:00] rdblue commented on #598
Right now, we use a column key to do this to avoid traversing the schema. The field name array should be converted to dot notation: `["a", "b.c"]` gets converted to `"a.b.c"` and that key is looked up in the field index.

I don't think we need to add an array version. There isn't much value and that makes the API more confusing. For example, users may think it is better to use the array version an

[2019-10-31 19:58] rdblue commented on #39
Merged #594. Thanks @jun-he!

[2019-10-31 23:35] chenjunjiedada commented on #598
The concern is if we convert array to dot notation, different column keys may have the same result. For example: `["a", "b.c"], ["a", "b", "c"]` as well as other variants. How can we distinguish them?

[2019-10-31 23:54] rdblue commented on #598
Iceberg doesn't allow conflicting names that have the same dot notation. You can have `["a", "b.c"]` or `["a", "b", "c"]`, but not both. I think this is a reasonable restriction because people never create schemas that are so hard for humans to understand because "a.b.c" could mean two different fields.

[2019-11-01 03:50] chenjunjiedada commented on #598
It makes sense if Iceberg has the restriction. I checked that when adding a column, the restriction works. While I can still define a SCHEMA like below and use it to create a table:
[code]
Do we need a validator for schema? Though I think no one would intend to define schema like this. Or I may miss some checks.

[2019-11-01 08:45] #584 closed

[2019-11-01 16:18] rdblue commented on #598
It's always a good idea to improve error messages. If you can create a schema like this and don't get an error or get a strange error message, we should fix it and throw an exception while creating the instance.

[2019-11-03 21:45] shardulm94 opened #603 "Running jmh tests fails with `error: plug-in not found: ErrorProne`"
JMH tests fails for latest master (d705aa8ccb3aaca4c4eb0fef74658fed1cac3e83)
[code]

I found a relevant comment regarding interaction of errorprone and jmh at https://github.com/tbroyer/gradle-errorprone-plugin/issues/3#issuecomment-388853116

Should we disable error-prone for jmh generated classes? This can be done using
[code]

[2019-11-04 02:16] shardulm94 opened #604 "Allow reading Avro enums as strings"
We have many datasets in our org which have Avro enum types. Although Iceberg does not support enums directly, can we allow reading existing Avro enums as strings in Iceberg?

[2019-11-04 03:05] shardulm94 opened #605 "Error reading Avro files containing array of struct with 2 fields"
Stacktrace:
[code]

The input dataset has a field with type `array<struct<a: string, b: string>>`. At https://github.com/apache/incubator-iceberg/blob/d705aa8ccb3aaca4c4eb0fef74658fed1cac3e83/core/src/main/java/org/apache/iceberg/avro/PruneColumns.java#L124 the `OR` makes it think that the schema is a map when it is not and eventually tries to deference the fields `key` and `value` from the struct

[2019-11-04 08:20] aokolnychyi commented on #603
Sounds good to me, @shardulm94! I remember I had this issue at some point as well. Would you like to submit a PR?

[2019-11-04 11:29] aokolnychyi opened #607 "Use a proper MetricsConfig while importing data from existing tables"
I think `SparkTableUtil` has to build a correct `MetricsConfig` and use it while importing existing tables.

[2019-11-04 11:34] aokolnychyi commented on #607
I'll fix together with #597.

[2019-11-05 05:43] rdsr commented on #605
I have a fix for this. Will post it by tomorrow

[2019-11-05 14:57] aokolnychyi opened #617 "Codahale instrumentation"
I think it makes sense to consider using a metrics lib to measure things like commit time, job planning time, time to connect to the metastore, etc. Codahale seems to be a very popular option for this.

There are a couple of design decisions we need to make:

- Should Iceberg be independent of query engines when it comes to metrics? For example, Spark has `MetricsSystem` with its own sources and s

[2019-11-05 18:56] aokolnychyi commented on #617
I know @raptond has done some thinking. Could you share your thoughts?

[2019-11-06 09:21] #603 closed

[2019-11-06 21:59] asheeshgarg opened #621 "Broadcast Join Failure"
I am trying to do a join for the two dataframe size of the dataframes are roughly 30MB and 40MB for  30 days.

I am able to load the raw parquet and able to perform join.
But as soon as I do the same join using the same spark cluster with iceberg format I am getting
[code]

[2019-11-07 08:17] aokolnychyi commented on #621
@asheeshgarg, could you provide more details on how you created Iceberg tables and what are your table configs? A small snippet to reproduce the issue without business logic would be extremely helpful.

[2019-11-08 01:24] prodeezy commented on #522
@anjalinorwood i'm thinking of taking this up.

[2019-11-08 02:21] shardulm94 commented on #604
@rdblue Thoughts on this?

[2019-11-08 08:07] jerryshao opened #623 "Consider adding list table support to Iceberg Catalog"
Current Iceberg catalog doesn't have a method to list all the identifiers under the same namespace. This is required to support Spark's DSv2 catalog plugin, I think we should add this feature in Iceberg.

[2019-11-08 15:46] anjalinorwood commented on #522
Great @prodeezy. @samarthjain , can you please sync with Gautam to avoid any duplicate work? Thank you both.

[2019-11-08 17:37] rdblue commented on #604
Sounds reasonable to me. Want to work on a PR?

[2019-11-09 01:21] #604 closed

[2019-11-09 01:24] #605 closed

[2019-11-09 01:25] chenjunjiedada opened #626 "Consider to support namespace in HiveCatalog"
Currently, HiveCatalog uses the first level of the namespace. Do we want to support multiple namespace levels in HiveCatalog? If not, we may need to update the document in the condition check.

[2019-11-11 15:14] asheeshgarg commented on #621
def writeData(dataFrame: DataFrame, path: String, format: String, mode: SaveMode): Unit = {
  val tables = new HadoopTables(spark.sparkContext.hadoopConfiguration)
  val schema = SparkSchemaUtil.convert(dataFrame.schema)
  val partitionSpec = PartitionSpec.builderFor(SparkSchemaUtil.convert(dataFrame.schema)).build()
  tables.create(schema, partitionSpec, path)
  dataFrame
    .write
    .format(f

[2019-11-11 19:53] rdblue opened #629 "Add cherry-pick operation"
Iceberg supports the WAP pattern, where a new commit can be staged instead of replacing the current table snapshot. But the only way to apply these changes currently is to use a rollback operation to set the current snapshot to the staged one.

This would be much more flexible and support concurrent writers if Iceberg supported a way to pick changes from one snapshot and apply them to another, lik

[2019-11-11 19:55] rdblue commented on #626
No, the `HiveCatalog` in Iceberg should follow the conventions of Hive, and Hive only supports one namespace level, called "database".

[2019-11-11 19:56] rdblue commented on #623
Sounds good to me.

[2019-11-12 07:30] manishmalhotrawork commented on #480
@aokolnychyi trying to understand the problem and thinking loud for solution.

so, would the fix be to group manifests by partition spec before cluster by `clusterFunction`.
so for group of each partition spec's manifest files, the cluster by logic will be applied, where currently its applied for every manifests irrespective of the underlying manifests partition spec.

[code]
Manifest files groupe

[2019-11-12 18:04] aokolnychyi commented on #607
This was fixed in #624

[2019-11-12 18:04] #607 closed

[2019-11-12 18:04] aokolnychyi commented on #597
This was fixed in #624

[2019-11-12 18:04] #597 closed

[2019-11-13 00:15] chenjunjiedada commented on #626
I see. Thanks

[2019-11-13 01:39] #510 closed

[2019-11-13 14:17] aokolnychyi opened #636 "Avoid using spark.sparkContext.hadoopConfiguration"
I think we should avoid using `spark.sparkContext.hadoopConfiguration` and rely on `newHadoopConf` in `spark.sessionState` instead. That way, all Hadoop configs set in the Spark session config will be taken into account.

[2019-11-13 15:08] aokolnychyi commented on #636
I'll fix it

[2019-11-13 15:57] aokolnychyi opened #638 "Remove gradle/wrapper/gradle-wrapper.jar from repo"
It seems we accidentally added  `gradle/wrapper/gradle-wrapper.jar` in PR #610.

[2019-11-13 16:02] aokolnychyi commented on #638
@Fokko did we deliberately add `gradle/wrapper/gradle-wrapper.jar`?

[2019-11-13 16:18] aokolnychyi commented on #638
It seems it should be downloaded according to [this](https://github.com/apache/incubator-iceberg/commit/789eba39012b7a18076e09662af7624101b0e060#diff-eb34851cc3b98933dbb0a257c9b7b097) commit.

[2019-11-13 16:30] Fokko commented on #638
Oops! My mistake. This jar should not be part of the repo. I've created a PR: https://github.com/apache/incubator-iceberg/pull/639

[2019-11-13 17:22] #638 closed

[2019-11-13 20:59] #636 closed

[2019-11-13 21:55] asheeshgarg opened #643 "Python Data Read Example"
I had created few test Iceberg Table using local spark. I am able to read table metadata using the following operations
from iceberg.core.filesystem import FilesystemTables
location='/data/iceberg_lake/create'
tables = FilesystemTables()
table=tables.load(location)
table.current_snapshot()
In order to load the data do we need to pass the table location to pyarrow and load it. Not able to figure ou

[2019-11-14 03:43] #626 closed

[2019-11-14 18:10] asheeshgarg commented on #643
I see the pull request https://github.com/apache/incubator-iceberg/pull/544 for loading the data. closing the issue

[2019-11-14 18:10] #643 closed

[2019-11-14 18:13] asheeshgarg opened #644 "Views on top of Iceberg tables"
Is there a support/plan to create views on top of multiple tables?

[2019-11-14 19:23] aokolnychyi commented on #592
This was resolved in #624

[2019-11-14 19:23] #592 closed

[2019-11-14 19:28] aokolnychyi commented on #494
This was fixed in #641. @holdenk, please reopen if the fix wasn't sufficient.

[2019-11-14 19:28] #494 closed

[2019-11-14 19:36] aokolnychyi commented on #480
@manishmalhotrawork, I think you got the problem correctly. We need to take into account that there might be multiple partition specs in a table. We can get a map of partition specs from `Table` and use that to correctly initialize `ManifestWriter`.

[2019-11-14 19:40] aokolnychyi commented on #480
@manishmalhotrawork, do you want to submit a PR?

[2019-11-14 22:19] samarthjain opened #645 "Add support to fallback to non-vectorized read path"
We need to add support to fallback to the non-vectorized read path for the following reasons:

1) Provide operators an option to turn on/off vectorized read path for iceberg. This would be a config driven decision.

2) Since spark doesn't support vectorized read path for complex data types, and till iceberg adds support for the same(https://github.com/apache/incubator-iceberg/issues/521), we would

[2019-11-14 22:24] samarthjain opened #646 "Shade Arrow to decouple Iceberg from the Arrow version used by Spark"
Spark 2.4.4 uses Arrow 0.10.1. However, there are a few configuration options available in later releases of Arrow (0.14+) that significantly help improve performance.

In general, it would be good for Iceberg to use it's own Arrow version so that we can update it faster as opposed to relying on Spark.

[2019-11-14 22:25] samarthjain commented on #522
@prodeezy - #311 looks like a duplicate of this one.

[2019-11-14 22:27] samarthjain commented on #518
Support for dictionary encoded data was merged to the vectorized_read branch.
https://github.com/apache/incubator-iceberg/pull/634

[2019-11-14 22:35] samarthjain opened #647 "Prefetch parquet data pages"
While doing a hot spot analysis of the benchmark runs we have for vectorized read path, reading and decompressing of the parquet data pages stood out as one of the major hot spots.

We can significantly improve performance if we can take out this read/decompress from the hot code path by prefetching the next data page asynchronously. Preliminary benchmark runs showed up to 60% performance gains wh

[2019-11-14 22:49] #311 closed

[2019-11-14 22:50] prodeezy commented on #311
this duplicates https://github.com/apache/incubator-iceberg/issues/522

[2019-11-15 00:31] prodeezy commented on #520
@samarthjain  https://github.com/apache/incubator-iceberg/issues/645 duplicates this?

[2019-11-15 00:36] prodeezy commented on #520
Added goal in this is to merge the two readers (vectorized and non-vectorized) into one and make that reader handle enabling vectorization accordingly. Enabling should depend on override config and projection schema (revert to row-oriented if schema has complex types)

[2019-11-15 00:42] prodeezy opened #648 "Separate Glue code for Spark ColumnVector from Iceberg arrow"

[2019-11-15 08:10] jerryshao commented on #623
Thanks @rdblue for your comments, I will work on this.

[2019-11-15 18:54] asheeshgarg commented on #621
Ran the spark with debug logging and I have following observations

19/11/15 15:59:36 INFO Executor: Starting executor ID driver on host localhost
19/11/15 15:59:36 INFO Utils: Successfully started service 'org.apache.spark.network.netty.NettyBlockTransferService' on port 45811.
19/11/15 15:59:36 INFO NettyBlockTransferService: Server created on 100.80.47.20:45811
19/11/15 15:59:36 INFO BlockManag

[2019-11-15 19:05] asheeshgarg commented on #621
Following is the code generated from spark
DEBUG CodeGenerator:
/* 001 */ public Object generate(Object[] references) {
/* 002 */   return new GeneratedIteratorForCodegenStage1(references);
/* 003 */ }
/* 004 */
/* 005 */ // codegenStageId=1
/* 006 */ final class GeneratedIteratorForCodegenStage1 extends org.apache.spark.sql.execution.BufferedRowIterator {
/* 007 */   private Object[] references;

[2019-11-15 19:27] asheeshgarg commented on #621
Also if I disable spark.sql.autoBroadcastJoinThreshold=-1 it works fine as well

[2019-11-16 04:45] manishmalhotrawork commented on #480
@aokolnychyi yes, let me submit PR. thanks.

[2019-11-16 07:20] #645 closed

[2019-11-16 07:20] samarthjain commented on #645
Duplicate of #520

[2019-11-16 19:18] aokolnychyi commented on #179
I haven't heard from anyone for a while. I would like to pick this up myself unless someone has a prototype to share.

Here are my thoughts:
- When we start a stream, we should be able to stream out all currently present data in addition to what will arrive later.
- As we might start a stream on a table with a lot of content, we should be able to split data into multiple batches either based on th

[2019-11-18 09:13] jerryshao opened #658 "Consider add friendly name() method in Iceberg Table Interface"
Current Iceberg `Table` lacks an api to get table name, and relies on `toString` to get table name, this seems fragile. Also to align with Spark DSv2 `Table` interface, which requires a `name` method, so it would be nice to add a `name` method in Iceberg `Table` interface.

[2019-11-19 13:45] aokolnychyi opened #659 "Refactor metadata table tests in Spark to share the logic"
Right now, `TestIcebergSourceHadoopTables` and `TestIcebergSourceHiveTables` share the logic for metadata table tests. I think it would be a good idea to refactor it into a common parent class.

[2019-11-19 19:29] aokolnychyi commented on #422
I just had the chance to go through our implementation done in #529. Seems reasonable. Thanks, @chenjunjiedada! I am closing this issue.

[2019-11-19 19:29] #422 closed

[2019-11-19 19:32] rdblue commented on #422
Thanks for updating the issue!

[2019-11-19 20:26] rdblue commented on #179
Agreed, but I think it would be easier to start from a particular snapshot for now, and add the ability to process all existing data as a follow-up.

Yes. To start with, I'd recommend ordering partition tuples and processing a partition at a time. Partitions are often time-based and correlated with the write pattern, so this approach will probably provide a smooth transition to from partitions to

[2019-11-20 00:32] prodeezy opened #660 "Fix Filter and Projection unit tests on vectorized-read branch"
Following tests fail on `vectorized-read` branch ..

[code]

[2019-11-20 01:09] samarthjain opened #661 "Use uncompressed page size to set initial size for Arrow data buffers"
This is primarily needed for variable width data types.

[2019-11-20 01:40] #623 closed

[2019-11-20 12:05] aokolnychyi commented on #39
@rdblue @jun-he can we close this one?

[2019-11-20 12:06] aokolnychyi commented on #629
Does this duplicate #42? Shall we close that one?

[2019-11-20 12:07] aokolnychyi commented on #65
I think we can close this one as we had the first Apache release and our publishing is configured.

[2019-11-20 12:11] aokolnychyi commented on #457
I am going to close this one as I think #514 fixed it. Feel free to reopen if needed, @waterlx.

[2019-11-20 12:11] #457 closed

[2019-11-20 12:13] aokolnychyi commented on #567
[Here](https://lists.apache.org/thread.html/73585fdfc740a63041eb60ccd71c80b9d6c34c97cfe16a871bc93983@%3Cdev.iceberg.apache.org%3E) is a relevant thread on the dev list.

[2019-11-20 16:47] #39 closed

[2019-11-20 17:48] #459 closed

[2019-11-20 23:59] #598 closed

[2019-11-25 15:41] prodeezy commented on #520
@anjalinorwood We can close this issue as the related PR was merged.

[2019-11-26 03:32] jerryshao opened #672 "Add namespace support in Iceberg Catalog"
To better adapt Spark's DSv2 namespace interface, Iceberg should add namespace related API support in Catalog.

[2019-11-26 12:44] aokolnychyi commented on #672
@jerryshao, do you mean methods that will be needed to implement `SupportsNamespaces`?

[2019-11-26 13:45] jerryshao commented on #672
Yes, that's what I mean.

[2019-11-26 15:05] aokolnychyi commented on #672
Sounds like a good idea to me!

[2019-12-04 07:01] shawnding opened #680 "while the namespace and table name is 'metadata' cannot list it"
create a table like this `createTable('db.metadata.metadata');`
While use the `listTables()` in `HadoopCatalog `, cannot list it.

[2019-12-04 17:51] rdblue opened #682 "Add Parquet user-defined predicate to push down StartsWith"
Parquet cannot currently push down startsWith predicates because it doesn't have a built-in implementation. Iceberg should add a user-defined predicate to push it down.

[2019-12-04 17:52] rdblue opened #683 "Add Parquet user-defined predicates to push down IN and NOT_IN"
Parquet cannot currently push down IN and NOT_IN predicates because it has no built-in support. Iceberg should include a user-defined predicate that implements these so they can be pushed down.

[2019-12-04 17:54] rdblue opened #684 "Support Decimal in Parquet predicates"
Parquet predicates currently do not support push-down on Decimal columns.

This will require detecting the decimal storage and building the correct predicate that uses an integer, long, or binary value.

[2019-12-06 00:45] samarthjain opened #691 "Remove dependency on spark in iceberg-parquet."
iceberg-parquet shouldn't be dependent on spark. This includes moving out the ColumnarBatchReaders class out of iceberg-parquet.

[2019-12-06 01:12] #520 closed

[2019-12-06 01:12] rdblue commented on #520
I closed it. Sorry that's not something contributors can do!

[2019-12-06 17:07] asheeshgarg opened #692 "Partition Spec Performance"
I have two timeseriers intra day data fro multiple days. The ticktime is in seconds. I had added a partition spec .identity("DATE").hour("TICKTIME")to both dataset
After the write I see both data get partition in Date and hourly buckets.
I am trying to query where one of the data ticktime is less than the other data timeseries for the same day.
I ran through the same example without any external p

[2019-12-06 21:15] bowenli86 commented on #567
@stevenzwu look forward to that. Thanks!

[2019-12-07 00:38] rominparekh commented on #629
@prodeezy and I are working on an initial implementation to get community feedback. Thanks.

[2019-12-07 17:39] ChethanUK opened #693 "Support for Apache Beam I/O"
Is Apache Beam I/O in the roadmap?

Having Beam I/O can help us integrate Iceberg directly with beam pipelines.

IcebergIO like AvroIO(https://beam.apache.org/documentation/io/built-in/) can help a lot.

[2019-12-09 18:25] #553 closed

[2019-12-10 09:43] prodeezy commented on #629
Added an initial PR for review .. https://github.com/apache/incubator-iceberg/pull/695

[2019-12-10 12:39] aokolnychyi commented on #684
@rdblue, we do support row group skipping for predicates on decimal columns, don't we?

[2019-12-12 06:53] jerryshao opened #697 "[Spark-3] Add PreferredLocations support for ReadTask"

[2019-12-12 06:55] jerryshao opened #698 "[Spark-3] Add missing abortStagedChanges support for StagedSparkTable"

[2019-12-13 00:51] rdblue commented on #684
Iceberg doesn't currently support pushing down predicates because it can't translate from BigDecimal into predicates on Parquet primitives.

Parquet stats were also incorrect for decimals stored as Binary, but in that case the stats are suppressed so it is safe to push down the predicates. I think we just need to add the translation for int and long decimal storage, and a comparator for binary dec

[2019-12-13 12:09] pprudhvi opened #700 "Dropping a partition column throws NPE"
`table.updateSchema().deleteColumn(col1).commit()` throws NPE if the table is partitioned by `col1`
Stacktrace:
`Caused By (java.lang.NullPointerException) null
    org.apache.iceberg.PartitionSpec.checkCompatibility():485
    org.apache.iceberg.TableMetadata.updateSchema():285
    org.apache.iceberg.SchemaUpdate.commit():209`

[2019-12-16 12:10] jerryshao commented on #700
@pprudhvi would you please provide a simple reproducible code, thanks.

[2019-12-16 16:42] pprudhvi commented on #700
`public static void main(String... args) {
    IcebergTableOperations tableOperations = new IcebergTableOperations(new Path("/tmp/student"), new Configuration());
    Schema schema = new Schema(Types.NestedField.required(1, "id", Types.IntegerType.get()),
        Types.NestedField.required(2, "name", Types.IntegerType.get()));
    PartitionSpec partitionSpec = PartitionSpec.builderFor(schema).iden

[2019-12-18 17:17] prodeezy commented on #522
https://github.com/apache/incubator-iceberg/issues/311 and https://github.com/apache/incubator-iceberg/pull/702 address this issue. Can close this? @rdblue @samarthjain @anjalinorwood

[2019-12-18 17:22] rdblue commented on #522
Closing. Thanks @prodeezy and @samarthjain!

[2019-12-18 17:22] #522 closed

[2019-12-18 21:37] rdblue commented on #697
I'm not sure that we will want to do this. Iceberg doesn't currently support this because it doesn't get locality information before planning splits. Split planning is handled entirely with Iceberg metadata.

We could add locality by looking up the locality of files in a split, or by providing a method that lazily loads locality information. But both of those options will require remote calls to H

[2019-12-18 21:38] rdblue commented on #693
I'm not sure what Beam I/O is because I'm not familiar with Beam. Can you explain what it is? Sounds like integration; should that be located in Beam instead of Iceberg?

[2019-12-18 21:43] rdblue commented on #692
It's difficult to understand what you're trying to do from the information provided. I recommend looking at logs to find out what predicates were applied to your table scans.

[2019-12-18 21:43] rdblue commented on #692
It's difficult to understand what you're trying to do from the information provided. I recommend looking at logs to find out what predicates were applied to your table scans.

[2019-12-18 21:45] rdblue commented on #680
Fixed by #681.

[2019-12-18 21:45] #680 closed

[2019-12-18 21:46] rdblue commented on #700
Looks like `checkCompatibility` needs to be updated to throw an exception with a better error message when a column is not present. @pprudhvi, would you like to submit a PR to fix this?

[2019-12-18 21:52] rdblue commented on #621
Looks like the actual cause is missing from the originally reported stack trace. The later trace with the block fetch failure might be the problem, but it's hard to tell what's going on there.

[2019-12-19 02:30] jerryshao commented on #697
What we did internally is to trigger RPC calls to get block information. Yes, there's overhead to trigger RPC calls, but I think this is a trade-off between locality and split planning. In object store like S3, locality may not be so important and to get block information has big overhead, but for HDFS, it may not be so big. So I think we may provide a conf to report locality information or not, a

[2019-12-19 05:55] pprudhvi commented on #700
yes, I can submit a patch but it won't fix the issue with dropping a partition colum. Or do we need to follow a different path to drop such columns - update partition spec first and then call deleteColumn ?

[2019-12-23 07:32] shawnding opened #711 "while find the hive table , must strip the character "`""
when use the spark API Identifier tableIdentifier = Identifier.of(Namespace.of("db").levels(), "table") get a table idenfifier.
while save data to the table use `save(tableIdentifier.toString());`
The method `tableIdentifier.toString()` transform the dbName and tableName like this _["\`db\`\", \"\`table\`\"]_.
In the hiveMetaStore it will be cannot find _"\`db\`.\`table\`",_ so must be strip the t

[2019-12-23 09:18] waterlx opened #713 "Path in IcebergSource#findTable() could cause ambiguity"
When using IcebergSource#getTable(), path is the key to identify table in Iceberg in findTable(). Currently, the table is identified based on whether "path" contains "/", as:
[code]
When using source like ”parquet", I could specify "path" as "test", and it is treated as a relative path to working directory. But when trying to specify "path" as "test" against Iceberg, it might cause ambiguity. Curr

[2019-12-23 09:20] XiaokunDing opened #714 "While alter table drop partition column, the error message is not friendly."
now while drop a partition column, the error message is: `Cannot find source column for partition field: %s"`

[2019-12-23 09:29] waterlx commented on #713
@rdblue Would you please share your opinions here at your mot convenience?

[2019-12-23 12:35] yujiantao opened #715 "Convert error while query imported spark table"
We use SparkTableUtil.importSparkTable to create an iceberg table on parquet data files. The iceberg table schema is built from spark table schema, and the metrics is built from parquet schema and persisted in manifest file. If the two schemas are not same,  when we query the table, the id of the filtered field in iceberg table schema is used to get upper bound from metrics, then we get wrong uppe

[2019-12-23 19:46] rdblue commented on #713
Would using `./test` work to clarify?

I think that the current behavior is correct. Hive tables should be the default when there is a conflict because there are easy ways to modify the path to indicate a Hadoop table (like `./test`).

[2019-12-24 03:59] living42 opened #717 "Write stream of unordered rows into partitioned table causes "Already closed files for partition""
I'am trying to use Structured Streaming to move data from Kafka to Iceberg table. some time, the data is out of order according to the partition spec, then i got a exception like below:

[code]

I wish i can use `sortWithinPartitions` operation on streaming, but Spark won't let me do that.

[2019-12-24 09:55] jerryshao commented on #698
By revisiting the code, I found that most of the operations has cleanup methods `cleanUncommitted`, `cleanAll`, so seems there's no need to implement `abortStagedChanges`, what's your opinion @rdblue?

[2019-12-25 06:54] jerryshao commented on #179
@aokolnychyi are you currently working on this feature, IIUC this seems depends on #315 .

[2019-12-26 03:37] waterlx commented on #713
Hi @rdblue, thanks for sharing your idea!
How about making it more strict: when the path prefixes with "/", "./", "../", or [a hierarchical URI](https://docs.oracle.com/javase/8/docs/api/java/net/URI.html), it routes to Hadoop table, otherwise, it is routed to Hive table. Make sense to you? An initial PR is submitted as https://github.com/apache/incubator-iceberg/pull/719

[2019-12-27 23:18] rdblue commented on #697
@jerryshao, are you looking up each file status individually? Is there a bulk API that we can use?

I'm +1 for having a flag to turn it on and off. We can also default based on a white list of locality file systems, like HDFS.

[2019-12-27 23:20] rdblue commented on #700
@pprudhvi, I think #716 is going to add a nice error message for this. #532 added a check to the validation, but that error message was confusing.

[2019-12-27 23:21] rdblue commented on #700
#714 tracks the error message, and #532 fixed the NPE this reported so I'm going to close this.

[2019-12-27 23:21] #700 closed

[2019-12-27 23:22] rdblue commented on #717
Yes, `sortWithinPartitions` won't work, but you should be able to `repartition` by your partition columns, right?

@aokolnychyi and I have also talked about relaxing this constraint for Spark streaming and keeping multiple files open.

[2019-12-27 23:25] rdblue commented on #715
@yujiantao, the current fallback strategy for assigning IDs assumes that your data has not had any columns removed. We've talked about adding support for `NameMapping` to Parquet so that it will fall back to name-based resolution. We've built this for Avro since Avro only supports name-based resolution (Parquet supports both name-based and position-based in some systems).

Would you like to work o

[2019-12-27 23:34] rdblue commented on #698
@jerryshao, I think that we do need to implement the abort method. The abort is called if there is any failure with the final commit (see https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala#L494).

That commit happens after the write operation has committed to the transaction, so Spark is no longer responsi

[2019-12-28 04:35] living42 commented on #717
Yes, repartition works, but it feels like it’s a extra work to workaround the constraint.

[2019-12-30 02:12] jerryshao commented on #697
Currently we're looking up each file status individually, I'm not sure if there's bulk APIs we can use, let me search it.

[2020-01-06 05:51] meetchandan commented on #659
Should this be closed?

[2020-01-06 07:17] aokolnychyi commented on #659
I could miss something but I still see duplicate logic in those classes for metadata table tests.

[2020-01-06 07:33] yujiantao commented on #715
@rdblue We will try to resolve this issue, and if it works well, we will push it back to community.

[2020-01-07 18:25] Voltir commented on #245
@rdblue I know this issue appears to be closed, but I noticed that we run into this problem when trying to use the iceberg artifact published on maven with spark 2.4.4. Is there a downside to "relocating" google commons in iceberg?

[2020-01-07 18:26] rdblue commented on #245
@Voltir, that sounds fine to me. I don't think I saw this issue when it was open so I didn't realize there was a conflict. Would you like to open a PR to relocate Guava?

[2020-01-07 18:33] #480 closed

[2020-01-07 18:46] aokolnychyi opened #726 "Improve multi-threading in BaseRewriteManifests"
I think we should revisit multi-threading logic in `BaseRewriteManifests` as we are using a thread pool but all methods in `WriterWrapper` are synchronized.

[2020-01-07 19:01] Voltir commented on #245
@rdblue Sure, I will open a PR shortly.

[2020-01-08 01:36] shawnding commented on #683
HI @rdblue : Is this means implements the IN and NOT_IN predicates into `ParquetMetricsRowGroupFilter` and `ParquetDictionaryRowGroupFilter`?

[2020-01-08 01:45] rdblue commented on #683
@shawnding, Sorry, this was implemented in #600. I'll close this.

Thanks to @jun-he for fixing this one!

[2020-01-08 02:20] shawnding commented on #683
OK

[2020-01-09 05:07] shawnding opened #729 "SparkBatchWrite partition write should correctly row grouped"
While create a table use this statement:
`CREATE TABLE test(id Int, data String) PARTITIONED BY (data)`

When use the SparkBatchWrite write the data into iceberg like that:
[code]
The  String `Base` cannot guarantee `data` grouped,  so iceberg throw a `IllegalStateException` in this code:

[code]

[2020-01-09 15:19] hustnn opened #730 "Upsert support"
Is there any new update on the discussion ?http://mail-archives.apache.org/mod_mbox/iceberg-dev/201906.mbox/%3C3F562440-63AE-4F62-8A59-C02EF01DDF6C@apple.com%3E

[2020-01-09 20:15] rdsr opened #731 "[Incremental Scan] Expose an API in Spark to read incremental data"
Once #315 gets pushed we should expose a Spark API for the same
@rdblue  had thoughts  on how to expose such an API in #315

[2020-01-10 01:10] waterlx opened #732 "[DISCUSS] Update metadata serially"
When trying to append data to a table in parallel, I see all the commits eventually wait in a queue and update the metadata one after another. I know that is to guarantee an atomic swap and get a linear history of changes. But it acts as we put a table-level lock on all the updates and if we would like to read the latest data of a table, we have to wait until all the swaps of the metadata are done

[2020-01-10 17:44] aokolnychyi opened #733 "Collect additional metadata while writing manifets"
In order to avoid reading manifests to get stats in #675, we need to collect additional metadata when writing manifests. The minimum required information (num added/deleted records) can be gathered easily. The main question is how to store it.

**Option 1**

We can store the new metadata as we store the number of added/deleted/existing files.

Benefits:
- We can always retrieve the additional info

[2020-01-10 17:47] aokolnychyi commented on #733
@rdblue, how did you envision future extensions when you wrote `GenericManifestFile`?

[2020-01-14 03:31] waterlx commented on #732
@rdblue @aokolnychyi Really appreciate it if you could share your ideas about that at your most convenience

[2020-01-14 03:38] shawnding commented on #729
OK I close this issue

[2020-01-14 03:38] #729 closed

[2020-01-14 03:48] waterlx commented on #713
Close this issue due to the discussion in PR #719

[2020-01-14 03:48] #713 closed

[2020-01-14 05:18] chenjunjiedada commented on #684
@rdblue, I 'm trying to understand this, please correct me if I'm wrong.

Currently, `ParquetFilters#getParquetPrimitive` doesn't handle the BigDecimal case, we should add branches to translate decimal literal to int, long (, and binary?) according to its precision. So that `ParquetFilter@predicate` can return a matched `pred` correctly. Also because DecimalLiteral uses a default comparator (null

[2020-01-14 06:20] #711 closed

[2020-01-14 06:34] #501 closed

[2020-01-14 09:04] waterlx commented on #399
Working on this. Will submit a PR.

[2020-01-15 01:01] rdblue commented on #732
Commits don't wait in a queue. Committers write out metadata optimistically and will retry if another process commits first. The location swap must be done to get a linear history, but we try to make the remainder of the commit a light-weight operation by caching changes are reusing them.

For example, an append will create a new manifest file. When an append retries, it doesn't rewrite the manife

[2020-01-15 19:06] rdblue commented on #733
Does it make sense for `ManifestFile` to have stats like row-count, added-row-count, and deleted-row-count? I think those are the main ones that we care about that are not available because manifests already have file counts. I think it may make sense to add those to `ManifestFile`. 3 more longs aren't going to be a ton of space in the manifest list.

[2020-01-16 00:39] chenjunjiedada commented on #684
@rdblue , Any comment on this? Thanks in advance!

[2020-01-16 14:15] massdosage opened #740 "AvroSchemaUtil returns shaded Avro classes"
When trying to use the `AvroSchemaUtil` in an external project to convert an Iceberg Schema to an Avro schema we run into a problem where the type of the Avro schema objects being returned is `org.apache.iceberg.shaded.org.apache.avro.Schema` instead of `org.apache.avro.Schema` which in turn means they can't be used in any classes which expect the original Avro type. Here is some sample code which

[2020-01-16 17:26] rdsr commented on #740
@massdosage I see it that Avro is not part of the public API of Iceberg. There are two ways around this - both of which have issues.
1. Use thin artifacts [iceberg-api, iceberg-core] instead of the shaded artifacts, where Avro will be unshaded.  This can have potential class-path conflicts if you use these  instead of the shaded runtime artifacts in compute engines Spark, Pig, Presto etc.
1. You c

[2020-01-16 20:22] rdblue commented on #684
@chenjunjiedada, I think I was wrong about this issue. I was referring to the note here, where we are converting Iceberg filters to Parquet filters: https://github.com/apache/incubator-iceberg/blob/master/parquet/src/main/java/org/apache/iceberg/parquet/ParquetFilters.java#L207

But that code path is only used when reading Parquet files with a Parquet `ReadSupport`. We don't do that for Spark, we

[2020-01-16 20:51] aokolnychyi commented on #684
I also tested a simple query with row group skipping and it worked, that's why the confusion in [my earlier comment](https://github.com/apache/incubator-iceberg/issues/684#issuecomment-564014720).

[2020-01-16 21:10] rdblue commented on #684
Sorry, that was my mistake.

[2020-01-16 21:10] #684 closed

[2020-01-17 02:33] chenjunjiedada commented on #684
Thanks for your explanation.

[2020-01-17 02:47] waterlx commented on #399
@aokolnychyi Would you please help to close this issue as PR #736 is merged?

[2020-01-17 02:54] waterlx commented on #682
Hi @rdblue has this issue addressed by PR #327 ? Could you please close this issue?

[2020-01-17 02:55] waterlx commented on #35
I think we could close this issue. Shall we?

[2020-01-17 02:57] waterlx commented on #683
@rdblue Would you please help to close this issue? It seems that I can not help to close the issues that are not opened by me 8-）

[2020-01-17 07:59] aokolnychyi commented on #399
Thanks for fixing it, @waterlx!

[2020-01-17 07:59] #399 closed

[2020-01-17 08:05] aokolnychyi commented on #682
I think #327 provided a basis and #398 implemented `startsWith` in our dictionary and metrics filters in Parquet. @rdblue, is this what you mean by this issue?

[2020-01-17 17:04] #683 closed

[2020-01-17 17:38] maqroll commented on #682
Sorry to jump in but maybe this issue refers to handle STARTS_WITH case with an UserDefinedPredicate [here](https://github.com/apache/incubator-iceberg/blob/542c0b3d49518b5105d4f9a30c65f474ea62fd97/parquet/src/main/java/org/apache/iceberg/parquet/ParquetFilters.java#L177).

[2020-01-17 18:07] rdblue commented on #682
When I opened this issue, I was thinking about the old read path. That's the one that @maqroll correctly pointed to. But we now use the new read path and the row group filters are [`ParquetMetricsRowGroupFilter`](https://github.com/apache/incubator-iceberg/blob/master/parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java) and [`ParquetDictionaryRowGroupFilter`](https:/

[2020-01-17 18:10] rdblue commented on #682
I'm going to close this one since I think it covers a case that we don't really need to worry about.

[2020-01-17 21:45] ravichinoy opened #741 "Spark DataFrame write fails if input dataframe has columns in different order than iceberg schema"
For this test case, https://github.com/apache/incubator-iceberg/blob/6f28abfa62838d531be4faa93273965665af933d/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java

if I replace https://github.com/apache/incubator-iceberg/blob/6f28abfa62838d531be4faa93273965665af933d/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java#L135 with

df.select("data", "id

[2020-01-19 04:19] waterlx commented on #732
@rdblue Got your idea, thank! I am reading the code to get a full understanding of your idea.
Ready to close this issue.

[2020-01-19 11:28] jerryshao commented on #179
@aokolnychyi are you currently working on this issue, if not I'd like to take a shot on it.

[2020-01-19 12:11] chenjunjiedada commented on #358
I would like to restart this job by myself upon https://github.com/apache/incubator-iceberg/pull/588.

Next step are adding sequence number for manifest file in the manifest list and modifying the manifest reader.

[2020-01-20 14:36] massdosage commented on #740
Thanks for the information on those options @rdsr. For now I've gone with option 1. - depending on `iceberg-core` instead of `iceberg-spark-runtime`. For this particular usage I don't need any of the Spark classes so it's fine. There are other issues with the spark-runtime module related to versions of Hive but this is probably a bigger issue than what I was reporting here. I guess we can close th

[2020-01-21 08:37] aokolnychyi commented on #179
@jerryshao, sorry for the delay. I am still not up to speed after holidays.

I've started thinking about it and it would be great to leverage #315. However, the last time I checked that PR (a long time ago) I didn't see a way to split a large batch commit into multiple output streaming micro-batches. For example, if a batch job inserts a couple of TBs, you might not want to stream this out of your

[2020-01-21 08:45] jerryshao commented on #179
@aokolnychyi I've already started a simple workable version of streaming read, hopes that I can share it soon.

About batch size control, what I did currently is to control the number of files read per batch, and record them as a Spark `Offset`, so that Spark could continue from restart. I haven't sorted out all the details, I would start building a simple version first, and then refine all the de

[2020-01-21 11:21] aokolnychyi commented on #179
@jerryshao, that's great. Looking forward to it.

[2020-01-21 11:40] aokolnychyi commented on #179
@jerryshao, a quick question on the comment above. Spark `Offset` has to be serialized to JSON. Are you storing files directly in that offset JSON file?

[2020-01-21 11:50] jerryshao commented on #179
No, I will not store files directly in the offset json file, what I currently do is to store file paths, like what spark did to FileStreamSource, when the offset is loaded in, I will compare and filter out the files which are already processed. I'm currently still in prototyping, the content of `Offset` may be changed.

[2020-01-21 18:55] mehtaashish23 opened #744 "ExpireSnapshots break on top of PR https://github.com/apache/incubator-iceberg/pull/695"
Apart from cleaning up deleted dataFiles while expiring snapshot, the current ExpireSnapshots [code here] tries to delete underlying files added by dangling snapshots i.e. that is not parent of anybody.

With cherrypick feature with WAP, the approach is to generate a new snapshot with dataFiles of underlying WAP snapshot, and commit it on top of latest/current snapshot. This makes the WAP snapshot

[2020-01-22 10:20] aokolnychyi commented on #732
To add to the @rdblue's comment, Iceberg also looks at file level stats in some operations to decide if two commits are in conflict. Combined with caching of the work and cheap metadata retries, it allows us to commit concurrent changes to the same partition quickly (if operations are not in conflict).

[2020-01-23 17:37] rdblue commented on #740
I'll close this. Thanks for the good discussion, @massdosage! Can you also report the other issues you've run into?

[2020-01-23 17:37] #740 closed

[2020-01-23 17:41] massdosage commented on #740
If/when we find more we'll be sure to report them ;) Thanks all!

[2020-01-23 18:06] rdblue commented on #697
Merged #721. Thanks @jerryshao!

[2020-01-23 18:06] #697 closed

[2020-01-23 18:12] rdblue commented on #744
Good catch, @mehtaashish23!

The snapshot expiration code will need to detect picked snapshots and ignore them. @prodeezy, do we keep the picked snapshot ID in the summary metadata? If not, we should add it for this purpose.

[2020-01-23 21:10] prodeezy commented on #744
right .. we should add it in the published snapshot's summary for other operations like ExpireSnapshots to lookup.

[2020-01-23 21:24] mehtaashish23 commented on #744
+1, I was trying to come up with a fix, but noticed, that we do track `published-wap-id` in cherrypick commit, but don't currently track the WAP's original snapshotId.

[2020-01-23 21:40] prodeezy commented on #744
@mehtaashish23  do you have a preference on what the summary property should be called?  For instance: `source-snapshot-id` ?

[2020-01-23 21:44] mehtaashish23 commented on #744
@prodeezy I was thinking about `cherrypick-snapshot-id`, but I wonder `source-snapshot-id` is better and extendable name. I would go with `source-snapshot-id` if no-one has any concern.

[2020-01-23 22:47] rdblue commented on #744
Either one sounds good to me!

[2020-01-24 00:46] bachar84 commented on #682
In my humble opinion, issue #327 is the roots of persecution

[2020-01-24 00:55] bachar84 commented on #744
Re-write

[2020-01-24 00:56] bachar84 commented on #744
Re-write

[2020-01-24 00:58] rdblue commented on #682
I'm not sure I understand you. What do you mean?

[2020-01-24 10:33] aokolnychyi commented on #682
I think `SparkFilters` already converts startsWith correctly. However, we need to update it to use new expressions for IN as it still rewrites it.

[2020-01-24 16:52] rdblue opened #748 "Convert Spark filters to IN and NOT_IN"
Now that IN and NOT_IN expressions are supported, we should update SparkFilters to convert to them instead of rewriting to a tree of OR and equality filters.

[2020-01-24 16:53] rdblue commented on #682
I agree. I opened #748 to track updating `SparkFilters`.

[2020-01-24 16:53] #682 closed

[2020-01-24 18:46] mehtaashish23 commented on #744
I was planning to do code changes for this, and the approach will be following

1. If you are expiring a stagedSnapshot, then a) if its referred by a snapshot, which is part of ancestor list of current table, then the underlying data isn't deleted. b) If not then its deleted.
2. If you are expiring a snapshot (say S1) which refer to another snapshot via property `source-snapshot-id` (say B1) then

[2020-01-24 23:04] rdblue commented on #744
@mehtaashish23, I think it is a little simpler than that because we know that snapshots will only reference older snapshots.

Say I have snapshots A <- B <- C and my current table state is B. If I pick C on top of B to create D(C), then I know D must have come after D. If we also assume that the changes in C are identical to D, but with a different parent, then we can handle expiration fairly easi

[2020-01-26 07:43] jun-he commented on #748
@rdblue  I have created a PR to update `SparkFilters`.

[2020-01-26 16:35] waterlx opened #751 "Add an option to decide whether to delete data files in Catalog.dropTable()"
I would like to propose to modify Catalog.dropTable() to add an option to decide whether to delete data files when dropping the table, like:
[code]
The proposal above is trying to meet the following requirement:
We are in process of implementing update and delete. A staging table is introduced and its data files are referenced by the base table's manifest. When dropping the staging table (as the l

[2020-01-26 16:57] waterlx commented on #751
@rdblue does it make any sense to you?

[2020-01-27 18:31] mehtaashish23 commented on #744
Thanks @rdblue for explaining. Correct me if I am wrong but, IIUC there is an API [expireSnapshotId here], which can expire any snapshot by id. So my above cases is to handle if someone uses that API to expire snapshot. For example. in your scenario, if someone used this expireSnapshotId then
1) If C is marked expired, then no dataFiles are deleted, since its in some other's `source-snapshot-id`
2

[2020-01-27 22:37] aokolnychyi commented on #733
This was done.

[2020-01-27 22:37] #733 closed

[2020-01-28 10:35] aokolnychyi opened #757 "Document all metadata tables"
We should document our entries metadata table that shows all manifest entries.

[2020-01-28 18:29] rominparekh opened #758 "Add retry framework to Hadoop table load"
When we have concurrent writes being committed to a Hadoop table, there is a possibility we might not be able to load the table. One example, would be if we are committing too frequently, we might not be able to find `version-hint.txt` file, resulting in an NPE.

[code]

[2020-01-28 18:40] mehtaashish23 commented on #744
Raised PR https://github.com/rominparekh/incubator-iceberg/pull/3 on top of feature being currently build out by @prodeezy , @rominparekh

[2020-01-28 19:00] prodeezy commented on #758
For more context: The file system we use doesn't provide atomicity garuntees on file rename. So when version-hint.txt is being re-written by writers, readers or other concurrent writers could see an empty version-hint file and fail with above error. To get around this the writer and readers have to retry outside of iceberg. We feel, Iceberg should be resilient on this and refresh table state and r

[2020-01-28 19:14] rominparekh commented on #758
We use ADLS file system that does not share atomic guarantees with when `overwrite = TRUE`. Here's the documentation - https://hadoop.apache.org/docs/current3/api/org/apache/hadoop/fs/adl/AdlFileSystem.html#rename-org.apache.hadoop.fs.Path-org.apache.hadoop.fs.Path-org.apache.hadoop.fs.Options.Rename...-

This is where atomic guarantees are not honored - https://github.com/apache/incubator-iceberg

[2020-01-28 21:35] rdblue commented on #758
A retry framework may help you avoid problems like this one, but it does not fundamentally change the fact that using Hadoop tables on a file system without atomic rename is not safe.

The recommended solution when using a file system without atomic rename is to use a metastore catalog, like we have available in the Hive integration.

[2020-01-28 22:49] rdblue commented on #744
@mehtaashish23, you're right about the need to find a fix given that snapshots can be specifically expired. I'm thinking about it and will update here when I have a clearer picture of what we need to do in my head. I at least agree with your point 1, but I'm not sure that point 2 is sufficient.

[2020-01-29 15:14] arina-ielchiieva opened #760 "Operators In / Not In are not implemented for Residuals"
Example of the unit tests in `org.apache.iceberg.transforms.TestResiduals` which should pass:

[code]
Now both unit tests fail. Example of the exception:
[code]

I think https://github.com/apache/incubator-iceberg/pull/600 did not add these operators to all visitors, in particular `ResidualVisitor` was omitted.

[2020-01-29 15:15] arina-ielchiieva commented on #760
FYI @jun-he

[2020-01-29 18:48] mehtaashish23 commented on #758
Guys, correct me if I am wrong, I feel this doesn't look like problem with rename guarantee, its about guarantees while reading the `version-hint.text` file during read time operation (according to above stack trace) in a environment where there are many writers trying to update the table, in sequence or parallel.

IIUC after doing the `rename` from `GUID.metadata.json` to `version.metadata.json`,

[2020-01-29 23:49] prodeezy commented on #758
@mehtaashish23  Right , the `create(path, overwrite=true)` not being atomic in ADLS is the real issue and a retry framework can help alleviate this (which we have added in to our writer/reader wrappers) but as Ryan said a retry framework won't fix things for us. We need a way to build an atomic commit.

[2020-01-30 02:36] ramkumarkb opened #761 "Suggestion for newbie getting started guide"
Hello,

I am a newbie with Iceberg and was going thru the documentation and table format specs. I was wondering if there is a more simpler way to get started w/o Spark or Presto. Specifically, can one do the following:

1. Install local S3 Object Store with MinIO - https://min.io/ - rather straightforward
2. Java app to create tables - is it https://iceberg.apache.org/api-quickstart/#using-hadoop-

[2020-01-31 13:49] aokolnychyi opened #763 "Consider using GenericDataFile in SparkTableUtil"
As per [discussion](https://github.com/apache/incubator-iceberg/pull/675/files#r352221398), we can consider using `GenericDataFile` instead of `SparkDataFile` in our Spark util.

[2020-01-31 21:05] sudssf opened #764 "make org.apache.iceberg. PartitionData public"
PartitionData.java is using default classifier for defining class which makes it inaccessible from any other package.
we need this class to be public so that external code and perform operations such as append to table, add files  etc for partitioned table.

[2020-02-01 08:50] jun-he commented on #760
Thanks @arina-ielchiieva.
I will add them to `ResidualVisitor` and double check other visitors.

[2020-02-01 18:47] rdsr opened #765 "[Incremental Scan] Follow ups for #315"
There are 3 follow-ups which need to be addressed in #315
 Caching residual evaluators by spec ID
Comment from #315

Refinement and validation for `appendsBetween` api
Comment from #315

Use a single manifestgroup for doing planning in a single run
Comment from #315

[2020-02-02 21:46] jun-he commented on #760
@arina-ielchiieva I have submitted a PR to address this issue. Thanks.

[2020-02-02 22:21] rdblue commented on #764
I don't think that this necessarily needs to be public. It's an internal implementation that is not part of the public API. What are you trying to do? Can you pass `StructLike` instead?

[2020-02-02 22:23] rdblue commented on #761
Hadoop tables cannot be used with a file system that doesn't support atomic rename. They should only be used with HDFS or a local FS, not with S3. For S3, you should be using a metastore, like Hive.

You're right that IcebergGenerics is the recommended way to read a table directly, without using an engine like Spark or Presto.

If you want to write up some documentation, that would be great! Pleas

[2020-02-02 22:25] rdblue commented on #751
I think you're saying you want a purge option that deletes metadata, but not data?

I'm very reluctant to add cases like this to the API. We want to keep the API small, and I think this may be specific to your use case. What about doing this in the application that creates the staging tables instead? You'd set purge=false when dropping the table and then clean up the metadata using your own code.

[2020-02-03 02:49] edgarRd commented on #213
Closing this issue since it was fixed in #227

[2020-02-03 02:49] #213 closed

[2020-02-03 03:06] edgarRd opened #767 "Clarify / Document metrics contract"
The metrics contract is a bit unclear, from the implementation. Since it's not defined in the spec, having the only fully implemented metrics for Parquet, and while I'm working on ORC metrics it's not very clear what is the contract expected since file formats seem to implement this differently, for instance:

* `Map<Integer, Long> valueCounts()` - it's not clear whether this method includes non-n

[2020-02-03 12:19] arina-ielchiieva commented on #760
@jun-he thanks!

[2020-02-03 18:10] sudssf commented on #764
Thanks @rdblue  for reply. in one of our ingestion flow, we are writing files directly to iceberg table using java API. when we build location string and datafiles I am not sure how to pass partition information using `StructLike` as its interface.

for now I am using following API when creating data files
` new DataFiles.Builder(table.spec).withPartition(partLike)`

there is helper method which r

[2020-02-03 20:06] rdsr commented on #764
@sudssf you should be able to implement `StructLike`  e.g
[code]

What's your concern?

[2020-02-03 20:13] CarreauClement opened #771 "Can't register table to Hive"
I'm using Spark 2.4.x so I built Iceberg from the master branch and moved the resulting jar (iceberg-spark-runtime-905637d9.jar) to $SPARK_HOME/jars/.

Here is the code I'm trying to run (using ./spark-shell) :

[code]

This code returns the following exception :

This is weird because hive.metastore.warehouse.dir is deprecated since Spark 2.0 and when I try to set it when running the spark-shell

[2020-02-03 20:58] sudssf commented on #764
@rdsr yes interface can be implemented which code would you prefer implementing `StructLike` or  reusing boilerplate from `PartitionData`?
also partition logic is much cleaner using `PartitionSpec`.

[2020-02-03 21:08] rdblue commented on #764
We don't want to open up `PartitionData` because it includes quite a bit that we don't want to make part of our public API. For example, it implements Avro's `IndexedRecord` API that we may not support indefinitely. The guarantee we provide is `StructLike`.

But, you should be able to use [`GenericRecord`](https://github.com/apache/incubator-iceberg/blob/master/data/src/main/java/org/apache/iceber

[2020-02-03 22:18] sudssf commented on #764
thanks @rdblue  I test using `GenericRecord `

[2020-02-03 22:18] #764 closed

[2020-02-03 22:39] aokolnychyi opened #772 "Make GenericManifestFile compatible with Kryo"
We should make `GenericManifestFile` compatible with Kryo after #675.

[2020-02-03 22:53] #504 closed

[2020-02-03 23:09] aokolnychyi opened #773 "Accumulate requirements for format compatibility v2"
We need to keep track of all changes related to format compatibility so that we can adjust the spec accordingly.

[2020-02-03 23:10] aokolnychyi commented on #773
The first such change is snapshot id inheritance done in #675.

[2020-02-04 18:43] aokolnychyi commented on #767
I think the spec partially mentions this (i.e. while describing `data_file` struct) but I agree we should reiterate.

It seems we used to have `distinct_counts` but it is deprecated now. @rdblue, do you remember why?

[2020-02-04 19:13] aokolnychyi commented on #767
I actually missed #768.

[2020-02-04 19:25] aokolnychyi commented on #771
The last snippet you have does not actually use Iceberg. Instead, it uses the default data source in Spark.

[The user docs](https://iceberg.apache.org/spark/) contain a few examples on how to use Iceberg with Spark 2.4. First of all, you need to decide whether you will be using `HadoopTables` or `HiveCatalog` in Iceberg based on the underlying storage. Depending on that, you should use one of the

[2020-02-04 19:36] CarreauClement commented on #771
I know the last snippet does not use Iceberg. It was to show my spark is working when not using Iceberg.

I'm trying to create a table, not reading a table like in the code you provide.

Thanks

[2020-02-04 19:42] aokolnychyi commented on #771
You will have to specify the table location directly while calling `catalog$createTable` because `hive.metastore.warehouse.dir` is not set in your Hadoop conf.

[2020-02-04 20:00] CarreauClement commented on #771
I'm trying to add the path :

[code]

Now I get the following error :

Note that the path is correct. It works when not using iceberg.

[2020-02-04 21:09] aokolnychyi commented on #771
It looks like an issue with the HMS setup but the error message is not descriptive. I would advise to check the logs to see what caused `InvalidObjectException`.

In general, there might be issues if you are using the embedded Spark metastore in Iceberg as the embedded metastore only allows one client at a time.

[2020-02-04 21:12] CarreauClement commented on #771
Thank you for your help.
I'm not using the embedded metastore. I'm using an external Hive metastore.

[2020-02-04 21:15] #772 closed

[2020-02-05 01:05] rdblue commented on #767
Yes, value counts includes null values. I think Anton wrote good tests to validate the behavior here.

We deprecated `distinct_counts` because it wasn't useful. It doesn't do much good to know how many distinct values are in a single file unless you can combine that across files. To do that, we need more information than just the distinct count. We need a data sketch.

[2020-02-05 18:37] prodeezy commented on #629
We can close this now @rdblue?

[2020-02-05 18:41] rdblue commented on #42
Implemented for appends in #695.

[2020-02-05 18:41] #42 closed

[2020-02-05 18:41] rdblue commented on #629
Yes, and I closed #42 as Anton pointed out.

[2020-02-05 18:41] #629 closed

[2020-02-06 11:23] ramkumarkb commented on #761
Ryan,

Thank you for your reply.

As per the MinIO docs - https://docs.minio.io/docs/distributed-minio-quickstart-guide.html

With this, a Hive Metastore is still needed?

[2020-02-06 16:10] rdblue commented on #761
@ramkumarkb, it isn't clear from that alone. Iceberg's Hadoop table implementation requires atomic rename for correctness.

[2020-02-07 07:15] jun-he commented on #760
Can we close it as the change is merged? Thanks.

[2020-02-07 08:26] jun-he commented on #726
@aokolnychyi  Here, the thread pool used in `performRewrite` seems to be a shared one (https://github.com/apache/incubator-iceberg/blob/master/core/src/main/java/org/apache/iceberg/util/ThreadPools.java#L60).

If the same BaseRewriteManifests object's `apply` method was called twice at the same time, it is possible that the same WriterWrapper object was accessed by two different threads in this sh

[2020-02-07 17:18] aokolnychyi commented on #760
@jun-he, thanks for fixing this!

[2020-02-07 17:18] #760 closed

[2020-02-07 19:20] shardulm94 opened #787 "Iceberg ORC should push down predicates to the ORC reader"
When we create the ORC file reader options in [link](https://github.com/apache/incubator-iceberg/blob/e965d41648df3361cfb323563dec6d21c216fa51/orc/src/main/java/org/apache/iceberg/orc/OrcIterable.java#L74) we should push down predicates using [`Reader.Options.setSearchArgument`](https://orc.apache.org/api/orc-core/org/apache/orc/Reader.Options.html#searchArgument-org.apache.hadoop.hive.ql.io.sarg.

[2020-02-10 11:38] openinx opened #788 "Integrate the Apache Flink into Apache Iceberg"
@rdblue we've had some discussion about integrating the apache flink into apache iceberg,  Thanks for your helpful information.
Here I written the background, Flink requirement and designs in the document [1], please take a look.

Also FYI @aokolnychyi , Thanks.

[1].https://docs.google.com/document/d/1idTjQCubhOCea8LkKJ_5aMTV4V_Wf1n0aYhabGsLQZc/edit?usp=sharing

[2020-02-11 00:51] #765 closed

[2020-02-11 07:12] openinx commented on #788
@aokolnychyi  How do you think about the document  ? I mean, would the flink's necessary incremental consumption and low latency violate iceberg's roadmap ? If not so, I can provide the more detailed design and make this work forward,  the iceberg would be the first data lake product which support apache flink.

[2020-02-11 21:39] figo10203 opened #791 "java.lang.RuntimeException: Metastore operation failed error reason"
Hi guys, I'm new to apache iceberg.
When I want to create a table with hive like below.

val catalog = new HiveCatalog(spark.sessionState.newHadoopConf())

  val name = TableIdentifier.of("default", "logs")
  val schema = new Schema(
    NestedField.required(1, "level", StringType.get()),
    NestedField.required(2, "event_time", DateType.get()),
    NestedField.required(3, "message", StringType.g

[2020-02-11 21:53] sudssf opened #792 "AvroSchemaUtil.toIceberg does not process logicalType during schema conversion"
Following is sample test which shows that schema conversion from avro does not reflect logical type from avro schema.

debugging shows that logical type is set in to props variable but is not set to `logicalType` instance veriable which is used by `SchemaToType`:165. `logicalType` is null while processing schema.

do we need to add code to check logical type from props?
[code]

[2020-02-12 05:37] rdsr commented on #792
I tried out the above example. I think it is not working because there's a typo. The `logicalType` field should be under the `type` field, like so
[code]

[2020-02-12 05:59] rdsr commented on #791
@figo10203, there could be an exception in your Metastore logs. We should also check that for clues.

[2020-02-12 06:21] rdsr commented on #771
@CarreauClement  for the line

I'd double check if HiveCatalog is getting the write configuration object which has the right hive properties to talk to the Metastore

[2020-02-12 11:45] openinx commented on #788
@rdblue Thanks for your roadmap confirmation,  so the next thing to do would be how will we design and implement it.  Indeed, I didn't consider much about the s3 storage,  the readers might could not see the unclosed appending log(although it's not a problem in HDFS). it might be the biggest obstacle I guess,  the log would also introduce the coordinating issues as you said. Yeah, I have to admit

[2020-02-12 16:20] waterlx commented on #751
@rdblue got your idea. Thanks!
I might need to check with you about the expected behavior of dropTable, especially when purge = false.
Catalog # dropTable() defines the behavior to handle metadata and data when purge = true explicity, as
[code]
But what about purge = false?
(1) keep both data and metadata
or
(2) keep data and delete metadata

(1) is the current behavior of Iceberg. But is it the e

[2020-02-12 18:04] sudssf commented on #792
Thank you @rdsr  changes you suggested are correct way to write schema. I will close this issue as its not real issue. thanks again for quick reply.

[2020-02-12 18:04] #792 closed

[2020-02-12 18:50] rdblue commented on #751
I think that keeping both data and metadata is the correct behavior. That way, drop removes a reference to the table, but the table itself is still readable should you wish to recover it. If Iceberg were to drop metadata, then it would be extremely difficult to actually use the data files that are left if you wanted to recover the table.

[2020-02-13 08:54] waterlx commented on #751
@rdblue got your idea. Thanks!

[2020-02-13 09:40] waterlx commented on #732
Thanks for sharing your insight! It is of great help for us.
I made some tests regarding the "metadata retries" based on Hive Catalog. It seems that it is not "cheap" 8-）

The report is as below:
**1. Environment**
(1) Linux, 8 core + 16G mem, *1
(2) Mac,  6 core + 16G mem, *1

**2. Iceberg table**
Partitioned by identity(field_a), 10,000 partitions. Each partition only contains 1 row.

**3. Workl

[2020-02-13 09:50] jerryshao commented on #179
I just submitted an initial workable version of streaming read, I would like see the comments about the current solution, if this is a feasible solution, what should be changed.

[2020-02-13 15:42] adamkennedy opened #797 "Consider removing the use of Guava"
The use of Guava in Iceberg does not appear to be excessive or highly critical at this time. The use of Guava in projects in the Hadoop/Spark ecosystem almost always seems to cause trouble eventually, due to it's "god package" all-in-one nature and dependency maintenance troubles.

Beyond relocating, we should consider removing it entirely

[2020-02-13 17:37] rdblue commented on #732
I don't think that this test workload is representative of real use cases. Iceberg is an analytic store, not a transactional store. 50 concurrent processes deleting a single row isn't something that we would expect to run. I'm not sure that 10 concurrent deletes is something we would expect, either, because we expect these to be grouped into larger operations. An operation in Iceberg is a change t

[2020-02-13 20:47] figo10203 commented on #791
thank you. @rdsr can I know what's the location of Metastore logs in linux system?

[2020-02-13 22:43] figo10203 commented on #791
Hi @rdsr, I found an underlying error in hive.log which is below:

![image](https://user-images.githubusercontent.com/12635964/74485209-19d5cd80-4e6f-11ea-8122-2f26a007c390.png)

So why it happend. there is no "hl_agent_info" column in my hive table. why iceberg check it?

[2020-02-14 01:59] rdsr commented on #797
Hi Adam,  Is relocation not a good solution here? Iceberg does provide different shaded runtime jars for Spark, Pig etc, where Iceberg's internal Guava will never conflict with the one provided by the engine/platform.

Guava does provide some nice apis which Iceberg makes use of - Iterables, preconditions, immutable collections etc.

[2020-02-14 02:15] rdsr commented on #791
I think that error is coming from the under DB backing the Metastore.  I'd check to see if your Hive setup is operational as is even before using Iceberg

[2020-02-14 05:27] figo10203 commented on #791
hi @rdsr , I am using EMR. hive can work for other query. How can I check then?

[2020-02-14 07:24] figo10203 commented on #791
hi @rdsr, still not clear what do you mean by "backing" the metastore?

[2020-02-14 19:33] #726 closed

[2020-02-16 07:49] figo10203 opened #798 "can not create iceberg table by hive catalog in emr with maridb"
Hi everyone,
when I use HiveCatalog to create hive table in EMR 5.29.

val catalog = new **HiveCatalog**(spark.sessionState.newHadoopConf())
val schema = SparkSchemaUtil.convert(spark.table("agg_user_retention_weekly_500GB_table").schema)

  val up_iceberg_path = "s3://nikebi-managed/prod/dcu-dev/iceberg/iceberg_500g"
  **val table = catalog.create(schema, null, up_iceberg_path)**

 It keeps going

[2020-02-16 22:08] rdblue commented on #748
This was done by #749. I'm closing this. Thanks @jun-he!

[2020-02-16 22:08] #748 closed

[2020-02-17 21:17] #767 closed

[2020-02-18 00:44] rdsr opened #809 "InclusiveMetricsEvaluator should not filter out files with negative row counts"
`SparkTableUtil` sets row counts to -1 for avro files. This can filter out files with valid data by `InclusiveMetricsEvaluator`  as it  removes files with negative or 0 row counts. We should update the check in `InclusiveMetricsEvaluator` to only check for `rowCount == 0`  to support existing tables which were imported with `SparkTableUtil`

[2020-02-18 00:55] rdsr commented on #809
This issue was discussed in this PR https://github.com/apache/incubator-iceberg/pull/786#discussion_r379925255

[2020-02-18 17:37] #809 closed

[2020-02-19 17:17] #763 closed

[2020-02-19 20:03] adamkennedy commented on #797
Since effectively every project needs to relocate Java to use it safely, that means every package using Guava adds 2.8MB of dependency bloat into jars and assemblies. And Guava itself has another 6 dependencies now in the latest versions.

Many of the things in Guava have similar equivalents in the Apache Commons ecosystem, which are much more incremental dependencies and have much stronger backwa

[2020-02-20 06:42] XiaokunDing opened #813 "OOM in vectorized reader."
I find that, in spark-shell just allocation but not deallocation Arrow's buffer memory. So while repeated execute a same command it will response an OOM exception.

spark-2.4.4
iceberg vectorized-read branch

[code]

[2020-02-20 12:57] openinx commented on #788
@rdblue @aokolnychyi  @rdsr I've shared a [document](https://docs.google.com/document/d/1GmPM2R-ZRF4MDnHUlMAYegr-_NEm2Hz9okq6P13_ffQ/edit?usp=sharing) about the flink integration work,  please take a look, thanks in advance.

[2020-02-21 06:12] chenjunjiedada commented on #715
@rdblue, Do we still need to add this base on rencent NameMapping changes? If there is no on going effort on this, I 'd like to take this to get familiar with schema things.

[2020-02-21 16:05] aokolnychyi commented on #552
Closing as it was addressed in #803.

[2020-02-21 16:05] #552 closed

[2020-02-21 16:57] aokolnychyi opened #817 "Consider configurable split size for metadata tables"
Right now, splits in our metadata tables are hardcoded as 32MB. I think it makes sense to make them configurable.

[2020-02-21 17:40] aokolnychyi commented on #757
In addition, we should document new metadata tables added in #805.

[2020-02-21 18:43] rdblue commented on #715
@chenjunjiedada, I think we could use some work here if you're interested.

The basic problem is what to do when there are data files without IDs. Right now, we have a fallback strategy for Parquet that uses column position because we use position-based resolution in our tables. But another valid strategy is to use a `NameMapping` for people that use name-based column resolution. Implementing the

[2020-02-22 05:18] rdsr commented on #170
@guilload, do you plan to work on this? We are planning to do some work for Hive read support using these MR apis. Let us know if you need any help with this, or we can even build on top of your work.

[2020-02-22 15:08] rdsr opened #820 "HadoopTables vs HadoopCatalog"
Today we have both these APIs to work with HDFS tables.  It seems all functionality of HadoopTables  is supported by HadoopCatalog, with one exception. HadoopCatalog expects all its tables under a common root dir.  @aokolnychyi , @rdblue , what do u think. Should should we replace usage of `HadoopTables` with `HadoopCatalog` and remove `HadoopTables` and its parent interface `Tables`?

[2020-02-25 01:34] jerryshao commented on #820
I think these are two different scenarios, especially in Spark. Catalog (both hadoop and hive catalog) can be plugged into Spark's multi-catalog interface, which will benefit the SQL scenario, as well as DataFrame of course; whereas `HadoopTables` I think the main scenario is DataFrame API, where we don't require a catalog necessarily.

[2020-02-25 20:22] mehtaashish23 opened #822 "File leaking in RemoveSnapshots API"
While using feature of Expire/RemoveSnapshots, I saw that the clean up operation of files happens, after successful commit (see below) of snapshot list and update to `version-hint.text`, which means that in case of intermittent/IOException from underlying store, we might end up leaving the files on disk, without any reference in table's latest version/snapshot list.You can see [this] to see the sc

[2020-02-25 20:58] mehtaashish23 commented on #822
Since this is compliance related, one of the way is to put the onus of file deletion on client by providing callback API hooks on file deletion, and API hooks on transaction, so that client clean up the files for transactions, that are committed.

[2020-02-26 04:27] xabriel commented on #820
Agree that they are two different use cases.

In our use case, we have a decoupled Catalog that has minimal knowledge about Iceberg. Thus we use the `HadoopTables` implementation.

[2020-02-26 15:44] chenjunjiedada commented on #715
@rdblue , thanks for the explanation, I will take this.

[2020-02-26 15:50] chenjunjiedada commented on #359
What format do we want for the delete files? Avro?

We need to read through the filtered parquet to construct the delete files, right?

[2020-02-27 04:03] rdsr commented on #820
This makes sense to me. I'll close this ticket. Thks everyone!

[2020-02-27 04:03] #820 closed

[2020-02-27 09:07] chenjunjiedada opened #824 "Add file_type to DataFile structure"
Per the merge on read design doc: https://docs.google.com/document/d/1FMKh_SQ6xSUUmoCA8LerTkzIxDUN5JbStQp5Hzot4eo/edit, In order to support row-level delete, we need to add a deletion type to DataFile structure.

[2020-03-02 02:56] chenjunjiedada opened #825 "Spec: define meta columns for row-level deletes"
In order to support the row-level delete, we may need to add some meta columns to the table schema, such as file name, row index and key.

[2020-03-02 16:27] asheeshgarg commented on #644
I have created a hive view using spark.sql on top of two iceberg tables?
The view get created but while querying the data on the view not able to read the data.

I tried Presto client and able to create the view and able to read the data using Presto. But the same view is not queryable using spark.
I tried loading the data using spark.read.format("iceberg") but it fails as it doesn't have the iceb

[2020-03-02 23:46] rdblue commented on #822
I'm re-posting my reply from the dev list here:

The section of code that you point out is _mostly_ correct, but there is a case that we should fix. The reason I say "mostly correct" is that it has correct behavior and has error handling to ensure that as much of the work is done as possible.

Even if not all of the data is cleaned up, the behavior must be to throw an exception if and only if the

[2020-03-02 23:48] rdblue commented on #825
I don't think we need to add columns to schemas, although we can make additional columns available. We've discussed this in the Spark community and the plan was to allow Spark to project additional metadata columns when pruning.

[2020-03-03 03:24] chenjunjiedada commented on #825
Thanks for the explanation. Do you mean that spark will pass schema with metadata columns and Iceberg doesn't need to add additional columns by itself? If Iceberg doesn't contain the separated logic for meta column handling, other engines will need to contain logic like what spark will do. Does those things we want to?

BTW, do we have any jira or doc about the discussion? Many thanks if you could

[2020-03-03 14:17] rdsr commented on #170
fyi, I'm taking this patch up and working on an initial version using @guilload patch as base

[2020-03-03 15:33] chenjunjiedada commented on #359
Just for information and answer questions myself. I did some POC to generate delete files in Parquet format with additional meta columns. The approach is to generate dataframe according to filters and then extend the internal row with metadata. It works fine but looks a bit strange that we spawn spark tasks in a table format, which means it has some write amplification when deleting by filters. Bu

[2020-03-03 16:06] massdosage commented on #170
Hey there, along with @teabot and @cmathiesen we've started working on this and have managed to get the read path working from Hive on an Iceberg table using an InputFormat. We had to make quite a few changes to the original patch as it was using a different Hive API to that one that appears to be in use in Hive 2.x. Maybe it was targetting Hive 3.x? We have run into a number of issues with versio

[2020-03-03 17:17] rdsr commented on #170
@massdosage that's great to hear.

Which patch is this ? @guilload  patch was only for MR input format AFAIK.

My take would be that the MR API patches should go into the iceberg-mr module.   The Hive StorageHandler API can possibly go into iceberg-hive, but I guess you may be using a different version of Hive then Iceberg. This can be a non-issue if the StorageHandler API has not changed across d

[2020-03-03 17:42] massdosage commented on #170
Yes, the InputFormat in the other patch was using `org.apache.hadoop.mapreduce.InputFormat;` but in order to get this working with Hive 2.3.x we had to use `org.apache.hadoop.mapred.InputFormat`. We can get the code up onto GitHub to show and then you could pull the parts you want into Iceberg if it looks useful. We'll try get that done in a day or two.

Our other attempt at it was in an iceberg-m

[2020-03-03 19:22] rdblue commented on #170
Is an update to Hive 2.3 the main blocker for getting this into the Apache repo? If so, maybe we should look at upgrading Hive earlier.

[2020-03-04 09:07] colinmjj commented on #170
hi, @rdsr @massdosage @rdblue
I also did some investigation on Hive integrate with Iceberg, the target of investigation is to integrate Hive with possible plugin,eg, HiveStorageHandler, but got some block issues:
1. file/folder of data has different organization,
in Hive, there is:
warehouse
    |- dbname.db
          |- table
              |- partition
                    |- datafile
in Iceberg,

[2020-03-04 14:05] jerryshao commented on #170
@teabot @massdosage do you have a public WIP branch for this Hive support, I would like to know how you achieve the Hive support.

[2020-03-04 14:24] massdosage commented on #170
@jerryshao Yes, you can take a look at it here: https://github.com/ExpediaGroup/hiveberg

[2020-03-04 14:28] massdosage commented on #170
It's not just that, the problem is that Hive 2.3 relies on versions of Guava and Avro that are older than the versions in Iceberg. So if you run the InputFormat using Hive's libraries there are all kinds of "method not found" and other exceptions thrown. As I said, we couldn't get Gradle to allow us to override and shadow things properly within Iceberg itself which is why we created the above proj

[2020-03-04 14:36] colinmjj commented on #170
Thanks for sharing @teabot

[2020-03-04 14:51] rdsr commented on #170
@massdosage
I think it would be good if we can break this up into multiple tasks
1st would be to get the InputFormat working and get that checked in. I glanced at the your patch, currently its in-memory record representation/container is tied to Avro. We should try to make it generic. There's a discussion on this above.  Happy to help review this if you'd like to take this up, or else I can even t

[2020-03-05 02:48] golammott commented on #659
Hi @aokolnychyi, first time contributor attempting to help with this one. Ive submitted PR above let me know if this wasn't exactly what you had in mind and I can make the necessary changes.

[2020-03-05 08:29] jerryshao commented on #731
Current Spark uses option `snapshot-id` to specify which snapshot to read. May be an easy way to introduce incremental scan in Spark is to use options like `start-snapshot-id`, `end-snapshot-id`.

[2020-03-05 09:12] jerryshao commented on #170
Seems like we're focusing on read path currently.

I have a question about write path, are we also targeting the write path? For the write path, I'm curious how do we pass the metadata operations to Iceberg, like create DDL, I'm not sure if Hive has a similar catalog plugin like Spark.

[2020-03-05 09:40] massdosage commented on #170
Yes, our focus currently is on the read path. We would like to work on the write path next but it will probably be quite a bit more complicated.

[2020-03-05 12:51] jerryshao commented on #170
Sorry I still have several questions about the implementation of read path, would like know how you think about this.

1. Are we going to implement as a storage handler (non-native table) or just input/output format? From what I understanding, seems like `HiveStorageHandler` is more suitable.
2. How do we get filter expressions from Hive and map to Iceberg' internal ones, also to push the expressi

[2020-03-05 19:55] rdblue commented on #731
Good idea, @jerryshao!

Since this one is finished, I'm going to close it. Could you open a new issue or PR for incremental scan properties?

[2020-03-05 19:55] #731 closed

[2020-03-06 01:34] jerryshao commented on #731
Sure, will do.

[2020-03-06 11:44] waterlx commented on #567
Working on porting/moving the code provided as [nfflink-connector-iceberg](https://github.com/Netflix-Skunkworks/nfflink-connector-iceberg) to master. Hopefully could make it done and upload a PR in the middle of next week. It might be useful if anyone would like to get a simple working version of Flink Iceberg sink for PoC. @stevenzwu @bowenli86  FYI

[2020-03-07 01:21] bowenli86 commented on #567
@waterlx awesome, thanks! Let us know if you need any help.

[2020-03-07 02:11] rdsr commented on #170
Thanks @teabot @massdosage . Let me know if you guys need any help and if I can pick up a something. This is on our roadmap as well

[2020-03-08 15:17] chenjunjiedada opened #831 "SchemaVisitor should use thread safe structure for fieldIds"
When creating Iceberg Schema from Parquet Message in ReadConf.java, it throws exception like below some times. The `fieldIds` access is wrong due to multithread. So we should change to use `ConcurrentLinkedDeque`  instead. It hasn't throw exception after changing to `ConcurrentLinkedDeque`.

[code]

[2020-03-09 07:10] openinx commented on #567
Thanks @waterlx for your work, would take a look if the PR is prepared.

[2020-03-09 09:39] jerryshao opened #832 "Consider upgrading built-in Hive version to 2.3.x"
I would like to bring out the discussion about upgrading the built-in Hive support version from 1.2.1 to 2.3.x. The reason for this upgrading is:

1. The community is working on Hive Iceberg support, and there's some potential version problems (https://github.com/apache/incubator-iceberg/issues/170#issuecomment-594122562).
2. The version 1.2.1 is quite old, most of the frameworks now move on to 2.

[2020-03-09 16:33] rdblue commented on #832
The reason for using 1.2.1 is that's the version Spark uses. When we update to Spark that depends on something other than 1.2.1-spark2, I think we all agree we should update.

I also thought that it was safer to depend on 1.2.1, so that we don't use any new APIs that are incompatible with that version. But it should be safe to update to 2.3.x as long as we test the spark-runtime Jar with 2.4.x ver

[2020-03-10 01:15] jerryshao commented on #832
I think it should be worked when upgrading to Hive 2.3.x, I will take a try on this.

[2020-03-10 23:31] samarthjain opened #834 "Vectorized reads - explore replacing DateDayVector and TimestampMicroTZVector with IntVector and BigIntVector respectively"

[2020-03-10 23:32] samarthjain opened #835 "Vectorized reads- eagerly decode parquet dictionary encoded data for fixed width types"

[2020-03-12 11:42] chenjunjiedada opened #836 "Create a table API for partition evolution"
Currently, we are able to build multiple partition spec against a table through PartitionSpec Builder and commit through `updatePartitionSpec` from TableMetadata class. While we still don't have an explicit way to commit the partition evolution AFAIK.  I think we can create a `UpdateParittionSpec` interface and a Table API `updateParitionSpec` to do the job. What do you think?

[2020-03-12 17:26] maqroll opened #837 "AvroFileAppender doesn't report column-level stats"
As a side effect Iceberg can't determine that the file only contains matching data rows and can be deleted (when overwrite operation hits the same partition).

[2020-03-12 18:11] samarthjain opened #838 "Vectorized reads - enable vectorized reads when projecting identity partition columns"

[2020-03-13 03:54] jerryshao commented on #170
I've create a PR to build Iceberg against Hive 2.3.6 #841 , I think with this we don't have to maintain Hive support out of Iceberg, the work here could be moved to Iceberg.

[2020-03-13 16:11] #831 closed

[2020-03-16 03:23] chenjunjiedada opened #844 "Unclosed input stream when reading manifestFile"
I encountered the warning when adding manifestFile reading logic in ManifestGroup.java. The code logic is to build a combined scan with base file and deletion files, something like below:

[code]
The unit tests passed but I 'd like to confirm whether it is the correct way to iterate manifest entries.

[2020-03-16 04:00] openinx commented on #844
I did the check,  you're right.   we'd better to wrap the reader as:
[code]
Thanks.

[2020-03-16 05:54] chenjunjiedada commented on #844
@openinx , Thanks. I got it.

[2020-03-16 05:54] #844 closed

[2020-03-16 15:04] rdsr opened #846 "Hive Support - Implement StorageHandler API to read Iceberg tables"
This requires #170 [only InputFormat] to be completed.

[2020-03-16 15:06] rdsr opened #847 "Pig should not rely on it own implementation of InputFormat"
Once #170 is completed, we should drop Pig's own implementation of InputFormat.

[2020-03-17 05:13] aokolnychyi commented on #788
@openinx, sorry for the late reply. I think the Iceberg community would love to have a public Flink integration and use cases with a reasonably low latency should be properly supported. I went through the docs and saw a lot of great discussion. I am also glad that Netflix shared their implementation as an example. I'll need to go though that.

[2020-03-17 15:38] waterlx commented on #567
Just would like to share some progress:

I have moved the source code part of [nfflink-connector-iceberg](https://github.com/Netflix-Skunkworks/nfflink-connector-iceberg) into a dedicate project (iceberg-flink) under Iceberg, also made some corrections and improvements, as well as made most of the checkstyle issues cleaned.

It works (DataFiles generated and commit made as expected) but is still a

[2020-03-17 19:47] aokolnychyi commented on #659
@golammott, sorry I was out for a while. Thanks for contributing this!

[2020-03-17 19:47] #659 closed

[2020-03-17 22:08] rdsr opened #848 "IcebergGenerics should support ORC format"
If we see `org.apache.iceberg.data.TableScanIterable#open` api , there's support for reading Avro and Parquet data files. We should add support for ORC as well

[2020-03-17 22:10] rdsr opened #849 "Add support for reading Avro and ORC data files in Iceberg Pig"

[2020-03-18 01:52] openinx commented on #788
Currently, @waterlx is working on the code integration, the progress is here. https://github.com/apache/incubator-iceberg/issues/567.  FYI @aokolnychyi

[2020-03-18 02:04] openinx commented on #567
@waterlx , I think the first pull request version don't have to be so perfect, can put the rough patch to review and see what's the feedback from community, and create the following issues to address them :-)

[2020-03-18 14:13] #832 closed

[2020-03-18 14:16] rdsr opened #852 "[Hive Support] Implement mapred Mrv1 API for Iceberg"
We are doing some work on support Mrv2 API. This API is will eventually be used by Pig and standalone MR.  There are other MR based frameworks which have not moved away from the older MRv1 api e.g Hive. Also AFAIK both apis are stable and neither has been marked deprecated.

We should provide support for Mrv1 API.  There are libraries which provide an automatic conversion from Mrv2 to Mrv1, e.g se

[2020-03-19 19:55] rdsr opened #855 "Enable ORC Writer for Spark"
We already have the Spark ORC writer written - `org.apache.iceberg.spark.data.SparkOrcWriter` . We need to hook this up in Spark Datasource

[2020-03-20 17:02] waterlx commented on #567
Here comes the WIP PR for Flink Iceberg sink: https://github.com/apache/incubator-iceberg/pull/856.
@bowenli86 @openinx @aokolnychyi @chenjunjiedada @jerryshao @stevenzwu
It is a workable versio, and needs to be improved and polished.
I will sum up a users' guide and the to-do list later.

[2020-03-21 13:33] leoluan2009 opened #858 "Code style check for better code quality"
Should we add a code style check by maven-checkstyle-plugin? We can do it one by one for all sub modules.

[2020-03-21 22:56] rdsr opened #859 "[Proposal] An iceberg-unstructured module"
I think an Iceberg unstructured module would be great to have.  This is useful for datasets which do not have proper schema evolution rules [e.g csv] or are completely binary e.g ML models, but still can use Iceberg feature sets like snapshot isolation and partitioning.

This, of-course cannot be supported by any compute engine, this would be more of a standalone API like Iceberg generics module.

[2020-03-22 10:27] yiguolei opened #860 "Does iceberg support copy on write or merge on read?"

[2020-03-22 11:20] openinx commented on #860
@yiguolei , I think you may want to read this message :-)  https://lists.apache.org/thread.html/r9ad6fccf6bdeb48b5471ba079271163c7cdb2a9bda810bfa3fdb84a4%40%3Cdev.iceberg.apache.org%3E

[2020-03-23 06:58] openinx commented on #825
@rdblue , from the perspective of flink, the iceberg update/delete feature should not depend on any spark-binded feature I think.  Any detail about the spark addition meta columns projection ?  I would see whether it work in flink, Thanks.

[2020-03-23 10:00] jerryshao commented on #859
I like this idea. The features like snapshot isolation are quite useful in different areas.

[2020-03-23 10:01] jerryshao commented on #858
We already support this in Gradle.

[2020-03-23 15:32] waterlx commented on #567
The design doc extracted as well as future work (still being collected) and sample code is attached [here](https://docs.google.com/document/d/19M-sP6FlTVm7BV7MM4Om1n_MVo1xCy7GyDl_9ZAjVNQ/edit?usp=sharing), in case you are interested.

[2020-03-23 22:51] rdblue commented on #825
@openinx, what I have working in Spark could be implemented in Flink as well. I've just updated Spark to be able to request additional columns, which I've currently named `_file` and `_pos`. The columns that can be requested are "metadata columns" so that `select *` doesn't show them.

The same code used to provide the metadata values to Spark could be used for Flink.

[2020-03-24 01:42] waterlx commented on #567
Updated the design doc authority to allow comments, thanks for the reminder Ryan!

[2020-03-24 03:18] openinx commented on #788
All the process are tracked in issue #567 , let's close this issue.

[2020-03-24 03:18] #788 closed

[2020-03-24 07:07] emerson-zhao opened #864 "HadoopTableOperations.commit is not an atomic operation"
When distributed concurrent commits, renameToFinal and writeVersionHint are not guaranteed in an atomic operation，an older version may be stored in version-hint .

[2020-03-24 12:17] leoluan2009 commented on #858
Thanks, @jerryshao, I close this issue.

[2020-03-24 12:17] #858 closed

[2020-03-24 19:49] rdsr opened #865 "[InputFormat Followup] InputFiles should be created using FileIO and Encryption manager"
We should serialize the FileIO class so that we can use it to construct InputFiles in our Record Reader . Encryption manager should also be enabled . See comment https://github.com/apache/incubator-iceberg/pull/843#discussion_r396159037

[2020-03-24 20:00] rdsr opened #866 "[InputFormat Followup] Add residual evaluation for Iceberg generics"
For standalone MR applications where the in memory data model is Iceberg Generics, we can add residual evaluation, like how we do it in `TableScanIterable`. See `org.apache.iceberg.data.TableScanIterable.ScanIterator#hasNext`

[2020-03-25 02:11] chenjunjiedada commented on #836
I found it is addressed by this PR: https://github.com/apache/incubator-iceberg/pull/845.

[2020-03-25 02:56] waterlx opened #867 "Remove Metacat and use Catalog interface instead"
Metacat is Netflix metastore, specific to Netflix. Should be removed and use Iceberg Catalog interface instead

[2020-03-25 02:59] waterlx opened #868 "Unify code path to support both HiveCatalog and HadoopCatalog"
Current code path supports db.table, and HiveCatalog.
Should be improved to use a unified path to support HadoopCatalog (mainly namespace with multiple levels) as well

[2020-03-25 03:04] waterlx opened #869 "Remove VTTS"
VTTS (Valid Through TimeStamp) is specific to Netflix

[2020-03-25 03:24] waterlx opened #870 "Use Iceberg generic record to replace Avro IndexedRecord and add a translation to/from data type in Flink"
Current implementation uses Avro as the intermediate fomat, as:
`Input as Java Map, serialized to Avro IndexRecord (as the intermediate format), then call Parquet.write(Iceberg API) to write into Parquet file.`

1. We need to remove that dependency and use Iceberg generic record/built-in types (maps with non-string keys, decimals, date/time types...) as the input
- Remove AvroSerializer and its im

[2020-03-25 03:40] waterlx opened #871 "Remove Spectator"
[Spectator](https://github.com/Netflix/spectator) is the lib for metrics collecting offered by Netflix. Need to remove the dependency on it.

[2020-03-25 04:10] waterlx opened #872 "Use FileIO to replace S3 and AWS SDK"
Current implementation is specific to S3 and AWS SDK, as well as some related configurations, like region of AWS

1. Change to use FileIO for file operation
2. Remove S3 specific operations and configurations
3. Remove the dpendency on AWS SDK

[2020-03-25 07:36] waterlx opened #873 "Clean orphan data files"
When the Flink program fails and restarts from the last successful checkpoint, the uncommitted DataFiles are abandoned as garbage. Need a cleaner here

[2020-03-25 18:16] rdblue commented on #869
It is valid-through timestamp.

[2020-03-25 22:52] rdblue commented on #825
Here's the Spark PR that adds metadata columns: https://github.com/apache/spark/pull/28027

I just ported that over from our internal branch, where we have it working and can project `_file` from Iceberg tables. I still need to add unit tests for it.

[2020-03-26 01:08] venkata91 commented on #855
@shawnding are you working on this issue?

[2020-03-26 01:51] shawnding commented on #855
Yes, I am working on this. now

[2020-03-26 01:51] shawnding commented on #855
@venkata91 Yes I am working on this.

[2020-03-26 02:19] chenjunjiedada commented on #359
Just FYI, I did an early PoC based on file and position deletion files [here](https://github.com/chenjunjiedada/incubator-iceberg/tree/row-level-delete). Since the file name should be most same so I store it as parquet file for dictionary encoding.  I will submit a PR for this soon.

[2020-03-26 03:26] jerryshao commented on #825
@rdblue I have a question about metadata columns defined in Spark. IIUC, if we want to merge base file and delete file, the file needs to be sorted by metadata column, this should be done by compute framework, shall we require metadata columns to be sorted? If not, how do we merge the base file and delete files?

[2020-03-26 04:20] rdsr opened #874 "RemoveSnapshot makes use of io.netty.util.internal.ConcurrentSet"
To me this seems like a typo. Should we change this to use the Java concurrent hash set as described here https://stackoverflow.com/questions/6992608/why-there-is-no-concurrenthashset-against-concurrenthashmap ?

[2020-03-26 20:42] rdblue commented on #825
Metadata columns are a way to project extra fields on read. That allows us to attach identifying information to each row: the data file and the row's position in that file. There is no need to sort this on read. But when writing out a set of rows to delete, we want Spark to cluster the data by file and order by position, ascending. This is where we would use Anton's proposal to request a sort orde

[2020-03-26 22:08] rdblue commented on #359
I think the delete file format (Avro, Parquet, ORC) should be up to the implementation. I would use the table's default format. That is normally Parquet, but ORC users would probably want both data and delete files to be ORC. Similarly, Avro doesn't require additional modules, so if a table sets its format to Avro then it makes sense to also use Avro for deletes.

Looking forward to a read/writer

[2020-03-27 01:22] shawnding commented on #859
Awesome. In ML area, user could save the  multiple versions embedded data to Iceberg.

[2020-03-27 01:50] jerryshao commented on #825
Yes, that's actually what I asked. Adding metadata columns may not be enough for the readers to merge the base and diff files efficiently. I saw @aokolnychyi 's proposal about this, was thinking that proposal should be related to this thing.

[2020-03-27 02:32] chenjunjiedada commented on #825
I was thinking to abstract the left join logic to handle both sorted case and unsorted case according to the column's sort property. In the case of unsorted one or small deletion files, we could do the hash join.

[2020-03-27 05:21] chenjunjiedada commented on #359
Make sense. Thanks!

[2020-03-27 05:43] chenjunjiedada commented on #824
@openinx FYI, Just change the title for naming since the deletion file is a data file too, so using `file_type` would be more clear.

And it should be defined as optional since there may be existing data files in the table. The actual stored value of `file_type` could be:

- null: normal data file that has the defined table schema,
- 0: normal data file that has the defined table schema, the defau

[2020-03-27 06:11] openinx commented on #824
+1

[2020-03-27 08:02] openinx commented on #360
Let me link this issue to the `file_type` [specification](https://github.com/apache/incubator-iceberg/issues/824).  Discussed with @chenjunjiedada , for a table with columns (a,b,c,d) (the field_ids of a,b,c,d are 0,1,2,3) , we may have the delete query:

[code]

for the delete differential file, we will have two columns : 1. field_ids ; 2. values.  so the row-delete operations can be encoded as f

[2020-03-27 16:58] aokolnychyi commented on #859
There was a similar proposal described in #118.

I think it is reasonable to support unstructured data in Iceberg with some limitations (e.g. schema evolution). If we do so, I believe it should be a complete implementation so that people using Spark CSV/JSON sources can migrate to it.

[2020-03-30 16:32] chenjunjiedada commented on #359
Hi @rdblue , I 'd like to confirm a couple of things to continue:

1. For the write path, before we have spark [interfaces ](https://docs.google.com/document/d/1X0NsQSryvNmXBY9kcvfINeYyKC-AahZarUqg3nS1GQs/edit#)and [SortOrder](https://github.com/apache/incubator-iceberg/issues/317), my idea is to build a filtered and sorted data frame and save it to staging table, append the added files and then d

[2020-03-30 16:34] #874 closed

[2020-03-30 17:31] sudssf opened #881 "spark writer: task failure because s3 eventual consistency during HadoopInputFile.getStat"
We see few tasks failures for large tables because of s3 eventual consistency as getStatus us called immediately after creating file.
after checking s3 , file does exists. we have observed this issue in non-spark client as well.
one possible solution here is to use writer.length to get file size instead of calling getStatus

workaround (https://github.com/apache/incubator-iceberg/blob/master/spark

[2020-03-30 18:37] sudssf commented on #881
submitted https://github.com/apache/incubator-iceberg/pull/882

[2020-03-30 21:57] rdblue commented on #359
@chenjunjiedada, I'm not sure I understand.

This issue tracks updates to the spec that detail how to write file/position delete files. That boils down to things like this:

* The files must be a supported Iceberg format and are valid Iceberg data files, just like all Iceberg metadata files
* The schema of the file/position files; probably string file path and long position in a file. Maybe that s

[2020-03-31 05:18] jun-he commented on #817
Can we close this issue?

[2020-03-31 13:36] chenjunjiedada commented on #359
I put an early [PR](https://github.com/apache/incubator-iceberg/pull/885) for the spec.

It uses integer for the position, that should be enough for most cases unless we have files that larger than 8G (roughly 2^31 rows of integer). But there may exist very special cases like files with most same rows and that could be dictionary and RLE encoded.

For the sorting requirement, I prefer to sort with

[2020-03-31 14:20] aokolnychyi commented on #817
Yep, thanks @jun-he!

[2020-03-31 14:20] #817 closed

[2020-03-31 16:51] rdblue commented on #359
I don't understand what #885 has to do with the spec. That updates `DataFile`. The spec is [this document](http://iceberg.apache.org/spec) that details the Iceberg at-rest format. Maybe you used the wrong branch?

For position, I think we should use a long after all. That's what `DataFile` uses to encode the number of rows, and I've seen Parquet files with more than 2 billion rows before.

I agree

[2020-04-01 06:15] mehtaashish23 opened #886 "Out of order fields commit fails in Iceberg"
Currently writing to the Iceberg table requires the input data to be ordered the same way it's ordered in the table's schema. For instance in gist below, table has field `f1, f2` registered, and if I try to write a data frame having field as `f2,f1` then it fails with below error. This becomes more complex when you have complex Nested fields, where the order of child fields can be anything.

In so

[2020-04-01 07:55] waterlx commented on #871
Addressed by [this commit](https://github.com/apache/incubator-iceberg/pull/856/commits/10e49357ee2f93a3abcf6ec262570692fe11eecc)

[2020-04-01 07:55] waterlx commented on #871
Ready to close this issue

[2020-04-01 07:55] #871 closed

[2020-04-01 15:48] chenjunjiedada commented on #359
Sorry for the confusion,  I just open https://github.com/apache/incubator-iceberg/pull/887.

No matter what column it sort with, we all need a processing engine to handle it, don't we? I 'm thinking of the case of the Spark `SupportsDelete` interface, with the given filter we have to call the spark to build the dataframe for deletion file. But Iceberg may have some generic APIs such as deleting ro

[2020-04-01 18:37] rdblue commented on #359
`SupportsDelete` won't be used to create delete files because Iceberg should not call into Spark's API as you describe. Instead, Spark should attempt the metadata-level delete and fall back to a merge-based delete.

[2020-04-02 03:59] dannyhnu commented on #417
ran into the same problem here, now I had to generate a new field for partitioning:  cast(timestamp_Long as timestamp) as timestamp_Timestatmp. for user experience, please reconsider supporting partitioning on long column type

[2020-04-02 06:56] wangmiao1981 commented on #475
@rdblue Just hit the same issue. In TypeToMessageType.java,
https://github.com/apache/incubator-iceberg/blob/master/parquet/src/main/java/org/apache/iceberg/parquet/TypeToMessageType.java#L82, calls https://github.com/apache/incubator-iceberg/blob/master/parquet/src/main/java/org/apache/iceberg/parquet/TypeToMessageType.java#L133
It can't store the `shouldAdjustToUTC ` field.  This is the reason i

[2020-04-02 09:27] waterlx commented on #867
Addressed by [this commit](https://github.com/waterlx/incubator-iceberg/commit/198c19003cde8dc2874a47101ab4b3ba990895ad). Ready to close.

[2020-04-02 09:27] #867 closed

[2020-04-02 09:30] waterlx commented on #868
Addressed by [this commit](https://github.com/waterlx/incubator-iceberg/commit/198c19003cde8dc2874a47101ab4b3ba990895ad). Ready to close.

[2020-04-02 09:30] #868 closed

[2020-04-02 18:32] stevenzwu commented on #567
@waterlx sorry for being late. didn't get any notification email from github. I will try to comment in the individual jiras to provide more context.

[2020-04-02 18:43] stevenzwu commented on #873
@waterlx current code does try to clean up uncommitted files after closing and uploading the files. We just swallow all exceptions if the deletion failed and rely on S3 bucket retention to purge garbage.
https://github.com/Netflix-Skunkworks/nfflink-connector-iceberg/blob/master/nfflink-connector-iceberg/src/main/java/com/netflix/spaas/nfflink/connector/iceberg/sink/IcebergWriter.java#L301-L313

@

[2020-04-02 18:51] stevenzwu commented on #870
I 100% agree that we need to support Iceberg GenericRecord or Flink native formats. We probably need some generic serializer interface. We use Avro quite extensively in the streaming pipeline. It would be nice if we can avoid the format conversion and write Avro directly.

[2020-04-02 18:54] stevenzwu commented on #869
we should totally remove VTTS. but I do find the `low` and `high` watermark/timestamp metadata useful. I am actually thinking about adding  another `avg` watermark/timestamp to help us publish end-to-end latency (min, max, avg) after commit is successful.

[2020-04-03 00:07] rdblue commented on #873
@stevenzwu, this isn't the responsibility of the appender. When writing a file, the write should invoke close to clean up resources whether or not the write was successful. If the write was successful, then the writer can move on. Otherwise, it is the writer's responsibility to delete the file.

The case you're talking about is specific to our internal S3 file system. When you don't know the inter

[2020-04-03 02:31] rdsr opened #890 "Add an iceberg-mr-runtime module"
Have a properly shaded mr-runtime module to prevent issues like https://github.com/apache/incubator-iceberg/pull/843#discussion_r402699228

[2020-04-03 20:42] wangmiao1981 commented on #886
https://github.com/apache/incubator-iceberg/pull/745

It seems resolved. Taking a close look to the above PR.

[2020-04-03 22:09] rdblue commented on #475
I just took a look and it wasn't too bad to fix it by adding support for Parquet's new logical type annotations, which came out in 1.11.0 and store `isAdjustedToUTC`. Now, places that assumed the type was `timestamptz` can correctly distinguish between the two timestamp types. The PR is #891. We may need to add support in a few more places, I didn't have time to look very thoroughly.

[2020-04-04 00:03] #855 closed

[2020-04-04 21:04] mehtaashish23 commented on #886
Thanks @wangmiao1981! I didn't use that config in my GIST, and it's working fine with it. We are yet to test complex scenarios of re-ordering in StructType, Array(Struct), Map[String, StructType] but will follow back via other issues.

Closing this for now.

[2020-04-04 21:04] #886 closed

[2020-04-04 23:43] wangmiao1981 commented on #475
+1 to add logical type. Will take a look the PR above. Just started reading source code. I may give a try.

Thanks!

[2020-04-06 09:06] ghost opened #893 "upsertion/deletion for tables with primary key"
I wrote two proposals about upsertion/deletion for tables with primary key:

1. [dealing mutable data with primary key in iceberg](https://docs.google.com/document/d/1FlTTJTiCMKMCapJBE7iOaEm13QlkSQdSfIGSfm34tXA/edit?usp=sharing)
2. [Write conficts in upserting/deleteing situation of iceberg](https://docs.google.com/document/d/17wO3b0WEW1oC2EIFnIAfTidMYsAwC7IxHf9SQKI3dO0/edit?usp=sharing)

the firs

[2020-04-06 22:08] rdblue commented on #575
I submitted #896 with the required Avro updates.

[2020-04-06 22:13] rdblue opened #897 "ORC: Support partition values from a constant map"
Identity partition values should be added to materialized records using values from a file's partition data. The initial implementation for Spark used a `JoinedRow` to join the partition values to each row read from a format, but this had a few problems:

* Only top-level fields could be set this way, not nested fields
* Values were not added in place and would require a projection in Spark
* No s

[2020-04-06 22:13] rdblue commented on #897
This is the ORC part of #585.

[2020-04-06 22:43] rdblue commented on #360
@openinx, what is the motivating use case for a format like that one?

The use cases that we've been considering for equality deletes mostly have a stable column set that will be used for deletes. For example, a CDC use case typically uses the primary key of the table that is changing. In that case, it's easier if the schema of the delete file is a data file with just the primary key columns. So i

[2020-04-08 00:15] nikshepsvn opened #902 "Any easier/beginner friendly issues I can work on?"
Hi all, I'm a university student who has a little too much free time during the quarantine and thought I'd help out with the project. I would really appreciate if someone could point me towards some easier issues/resources I can start with to build familiarity with how everything works!

some context: I've interned on data teams previously and definitely think this project will do a lot to fix som

[2020-04-08 05:51] prodeezy commented on #317
@aokolnychyi good stuff!

Should we also add an API for sort order evolution ? like `UpdateSortOrder`? So that changes to sort order can be controlled/audited within this API.  This API can be accessed using `Table.updateSortOrder()` maybe?

[2020-04-08 23:57] aokolnychyi opened #904 "Use null-safe locations in metadata tables"
Right now, different metadata tables have different logic in `location()`. I think it makes to standardize and ensure we use only null-safe locations. For example, `ops.current().location()` seems a good candidate. Currently, we can hit a NPE when querying metadata tables.

[2020-04-09 00:05] aokolnychyi opened #905 "Metadata tables should include data for WAP snapshots when currentSnapshot is null"
Appropriate metadata tables should report data for WAP snapshots when currentSnapshot is null.

See [here](https://github.com/apache/incubator-iceberg/pull/894#discussion_r405877714) for more details.

[2020-04-09 00:08] aokolnychyi commented on #905
One specific case is `all_data_files` and `all_manifest_files`.

[2020-04-09 05:31] nikshepsvn commented on #904
Hey Anton! I'd love to help with this (: Would you mind pointing me at some resources/giving me some context so I can get started?

[2020-04-09 06:53] prodeezy commented on #902
@nikshepsvn Welcome to the community. I'm just a contributor myself so take my advise as coming from that capacity and nothing more :-)

My two cents,
To familiarize yourself I'd suggest starting with going through the spec [0] and the api [1]. Python related resources are here [2].

In general, adding tests is a good way to start with both familiarizing yourself and adding value without requiring

[2020-04-09 15:26] aokolnychyi commented on #904
@nikshepsvn, that'd great. Seems like @shawnding has a change already. @shawnding, could you confirm?

@nikshepsvn, feel free to pick any other issue that you feel comfortable with.

[2020-04-09 15:35] #904 closed

[2020-04-09 15:40] aokolnychyi commented on #864
I think `version-hint` is just a hint. The rename operation is the actual atomic commit. Whenever Iceberg refreshes a table, it uses the version in `version-hint` as a starting point and tries to find any new versions.

[2020-04-09 15:47] #813 closed

[2020-04-09 19:19] rdblue commented on #848
I'm closing this because it was implemented in #851.

[2020-04-09 19:19] #848 closed

[2020-04-09 19:21] rdblue commented on #847
This will require a little work because the InputFormat added in #843 assumes that there is only one read in a MR job, but Pig may run multiple. To avoid configuration collisions, Pig has a system for isolating the config for a scan, so we'll need to override some parts of the input format to store config differently.

[2020-04-09 19:30] rdblue commented on #859
Sounds like a good idea to me to extract the parts that can be used to track non-table datasets with atomic changes.

I think #118 is slightly different from my discussions with Matt. The idea there is to define an interface for file formats so you can plug in your own. Those interfaces will define capabilities that Iceberg would enforce. So if you use CSV or TSV, then Iceberg would only allow app

[2020-04-09 19:32] rdblue commented on #864
Hadoop tables use an atomic rename to commit metadata. That is atomic as long as the file system supports it.

The version hint is just a hint. You can recover the actual state by making a series of `exists` calls without it. Because it is a hint, it doesn't matter if it is up to date.

[2020-04-09 19:32] #864 closed

[2020-04-09 19:33] rdblue commented on #881
Closing this, fixed by #882.

[2020-04-09 19:33] #881 closed

[2020-04-09 19:34] rdblue commented on #860
Iceberg has support for implementing copy-on-write right now and we are working on formats for row-level delete that use a merge-on-read approach.

[2020-04-09 19:34] #860 closed

[2020-04-09 19:38] rdblue commented on #902
I think #837 might be a good starter issue to tackle.

Avro doesn't keep track of column-level stats, so we can't currently do additional filtering on Avro files. To enable that filtering, we need to build a pass-through `FileAppender` that inspects records and keeps track of null count, total value count, lower bound, upper bound, and count of NaN values.

Doing this for Avro generics is a good p

[2020-04-10 02:04] rdsr commented on #847
Yea, Pig is really bad at isolating per InputFormat configurations. This does seem like a Pig problem though and not an InputFormat problem. I hope this can be solved at Pig layer.

[2020-04-10 19:00] rdblue commented on #902
I'm going to close this since we don't need to track it as an issue.

[2020-04-10 19:00] #902 closed

[2020-04-10 19:01] rdblue commented on #797
I'd love to remove guava. The main blocker is replacing Guava's collections. We use ImmutableMap and ImmutableList quite a bit, and I don't know of a good alternative.

[2020-04-11 02:26] TisonKun opened #915 "Document Java version should be exact 1.8"
https://github.com/apache/incubator-iceberg/blob/720b240a3e6a32b6f01173ebcc448c2c6e32e13a/build.gradle#L43-L44

https://github.com/apache/incubator-iceberg/blob/720b240a3e6a32b6f01173ebcc448c2c6e32e13a/build.gradle#L82-L83

When I build with Java 13 environment it fails. We should document it at least in `README.md`.

[2020-04-11 15:51] #575 closed

[2020-04-13 04:52] rdsr opened #920 "Implement Schema visitors for ORC value readers"
I wanted to see if I could implement #897 for ORC.  Given how ORC value readers are implemented for Iceberg-generics and Iceberg-spark, we have to do extra work. We will have to traverse Iceberg schema in `SparkOrcReader` just like we currently do in `GenericOrcReader` This traversal with Iceberg schema is duplicate work which can probably be abstracted in a visitor just as we do for `AvroSchemaWi

[2020-04-13 10:02] chenjunjiedada commented on #359
Hi @rdblue , I'm working on the reader and writer for delete files. As for the reader, the input and output are clear as the delete files would be extracted from `FileScanTask` and the output would be iterable of `InternalRow` or `GenericRecord`. While for the writer, I 'm not very sure since how metadata-level delete will be implemented. For the spark engine, I could imagine two possible ways:

-

[2020-04-13 16:16] rdblue commented on #920
I think it's a good idea to add ORC schema visitors. I've found them helpful for Avro and Parquet because the recursive traversal is abstracted from the logic of each visitor. It's been easy to build new visitors. So I'm +1.

I also want to point out that this doesn't have to be one big refactor. We can keep the current code as it is and just use the visitors for new things, and slowly convert ove

[2020-04-13 23:05] prodeezy commented on #822
I believe Anton's latest work to cleanup orphan files [1] helps this case coz any dangling files would not show up in `all_data_files`. Although there is still handling to be done here. Will take this up to address pending issues.

[1] - https://github.com/apache/incubator-iceberg/pull/894

[2020-04-13 23:35] rdblue commented on #822
Thanks @prodeezy! It would be great to fix the problem where a failure while reading manifests causes this problem.

[2020-04-14 11:20] chenjunjiedada commented on #866
Hi @rdsr , Will you take these follow-ups?

[2020-04-14 18:02] rdsr commented on #866
Hi @chenjunjiedada, I may not be able to get to it soon. At least not for the next couple of weeks.
If somebody else wants to take it up, I can definitely help review.

[2020-04-14 19:46] rdblue commented on #359
The object model used by these files can be swapped out just like any Avro file. If we want to pass this information to Spark, then we would use the Spark reader classes. For most internals, we build classes that implement `IndexedRecord`.

[2020-04-15 08:04] waterlx commented on #872
Mainly addressed by https://github.com/apache/incubator-iceberg/pull/856/commits/123f11ced216f627c08c3800abb49838c150f408

Ready to close this issue

[2020-04-15 08:04] #872 closed

[2020-04-15 20:44] rdsr opened #926 "Support notification on table writes"
We have notifications when scanning tables. I think we also need notifications when a table is appended to, or updated etc. basically to support notifications on writes.

[2020-04-15 22:05] prodeezy commented on #822
Put up a PR with manifest-list failure handling : https://github.com/apache/incubator-iceberg/pull/928

[2020-04-16 01:52] chenjunjiedada commented on #836
This is now addressed by https://github.com/apache/incubator-iceberg/pull/922.

[2020-04-16 12:20] yujiantao opened #932 "Support for AWS Glue as an alternative Hive metastore implementation"
It is an old issue from https://github.com/Netflix/iceberg/issues/112.
Do we have any plan/progress on this?

[2020-04-16 19:25] rdblue commented on #932
Glue doesn't support Hive table locking, so there is no atomic operation we can use for the metadata update. If that's changed, then we would gladly add a Glue metastore. I recommend talking to your AWS point of contact if you want this.

[2020-04-16 19:25] #932 closed

[2020-04-16 20:46] rdblue commented on #915
Sounds good. Could you open a PR?

[2020-04-17 05:05] rdsr opened #934 "We should publish a shaded version of problematic dependencies to use in Iceberg"
As discussed in our meetup, we should have a shaded version of guava. There are two ways of doing this
- Add a Gradle module, which will be an empty module with only the problematic dependencies- guava, jackson etc. This will work fine for Gradle build, but has 2 main downsides
   - Intellij does not understand it well. In my experience there will be class-path conflicts when working from within I

[2020-04-17 15:37] chenjunjiedada commented on #359
@rdblue , I don't quite follow the last comment. Do you mean the object model for delete files could be Avro in-memory data model so that it could be used by other engines as well?

[2020-04-17 22:19] rdblue commented on #359
Whatever is consuming the file can use its own object model. When Iceberg loads metadata files, we use classes that extend `IndexedRecord` so that Avro can construct them directly like a specific record. An example of this is `GenericDataFile`.

However, there are cases where the metadata files are read by engines, like the metadata tables. When you read the `entries` metadata table, Iceberg creat

[2020-04-18 01:42] rdsr commented on #926
My idea is  update the `PendingUpdate<T>` interface and add a default method there
[code]
Each update implementation will extend this interface and provide implementation of updateEvent.
`SnapshotProducer` will execute the listener code.

[2020-04-18 02:12] aokolnychyi commented on #934
@rdsr, I've missed the sync. Is this needed for people who depend on `core`?

[2020-04-18 03:04] rdsr commented on #934
Hi @aokolnychyi , @massdosage and team are working on a HiveStorageHandler which would go in `iceberg-hive` module. I think they have faced class-path issues relying on iceberg core modules together with hive artifacts in `iceberg-hive`

I too faced an issue with Guava where I was unable to run Mini HDFS to test iceberg-mr because of guava conflicts.

[2020-04-18 03:07] rdsr commented on #926
One minor issue I see now is that there's no table and db name in the update classes, which would be very helpful to add it to the update event

[2020-04-18 03:20] TisonKun commented on #915
@rdblue Yep. I will open a PR a bit later.

[2020-04-18 05:21] rdsr commented on #926
`tableIdentifier()` may not make sense for `HadoopTableOperations`, maybe be can provide a `tablePath` api which both Hadoop and MetastoreOperations can implement?

[2020-04-19 12:52] shardulm94 commented on #787
Planning to take this up next week unless someone is working on it

[2020-04-20 06:21] rdsr commented on #920
Thanks @rdblue . I'm taking this up as part of #897

[2020-04-20 09:52] massdosage commented on #934
Yes, `iceberg-hive` depends on `iceberg-core`, `iceberg-api`, `iceberg-common` and `iceberg-mr` so all of these jar files will need to go on Hive's classpath when you use any of the classes inside iceberg-hive. Due to Guava version conflicts with the version of Guava used by Hive all usages of Guava inside Iceberg's classes need to be shaded and reolcated otherwise there are runtime version confli

[2020-04-20 13:21] whoAbhishekSah commented on #757
@aokolnychyi can you assign this issue to me?
I am new to this repository and would like to contribute.

[2020-04-20 13:40] chenjunjiedada commented on #359
So for the reader side, we want to load delete files into memory as Avro in-memory model so that engines are able to convert them to their own data model. Basically we need

1. The data access mode for delete files.
[code]
2. Format related value readers for ```IndexedRecord```
[code]
3. Engine specific file readers.

Please help to correct me if my understanding isn't correct.

[2020-04-20 16:35] TisonKun commented on #915
Hi @rdblue I've created a PR. Could you have a look?

[2020-04-20 20:52] prodeezy commented on #757
I also noticed that https://iceberg.apache.org/spark/ only documents metadata tables exposed by catalog like `db.table.files` , `db.table.snapshots`, etc. and not using location based tables e.g. `hdfs://${basePath}#files` ,  `hdfs://${basePath}#snapshots` , etc. Would be good to add these as well.

[2020-04-21 06:59] waterlx opened #943 "Bypass the conversion to/from intermediate format if not needed"
For Flink Iceberg sink, we used GenericRecord/Record as the intermediate format between input and writing to DataFile.
But this conversion is not needed when the input format is Avro IndexedRecord, and we are also writing to a DataFile with Avro format.
See [this](https://github.com/apache/incubator-iceberg/issues/870#issuecomment-608041202) comment.
FileWriter#write() also needs to be type parame

[2020-04-21 07:03] waterlx commented on #943
Seems need some help to include this issue to the milestone of "Flink Sink"

[2020-04-21 07:04] waterlx commented on #870
@stevenzwu Thanks for the comments and sorry for my late response~~

Regarding:

Yes, I rename "AvroSerializer" into "RecordSerializer" as the generic serializer interface to transform from any input format to Iceberg **Record**

Regarding:

Got your idea. Opened a new issue as https://github.com/apache/incubator-iceberg/issues/943

[2020-04-21 16:42] #915 closed

[2020-04-21 21:20] aokolnychyi opened #948 "Consider reducing the number of shuffle partitions in Spark tests"
I think we need to consider reducing the number of shuffle partitions in Spark tests in order to reduce the execution time wherever it makes sense.

[2020-04-22 02:11] jerryshao commented on #934
Apache Ratis uses another repo to manage all the shaded artifacts and publish again to the maven central repo. That's the second way mentioned by @rdsr https://github.com/apache/incubator-ratis-thirdparty/

[2020-04-22 03:57] yujiantao commented on #932
@rdblue Got it, thanks!

[2020-04-22 07:56] yiguolei opened #949 "Garbage collection after writer collapsed and is there any logic to deal with small files?"
If the writer thread writes many files and crashed before commit. How does iceberg deal with the left files?

[2020-04-22 13:15] openinx commented on #949
@yiguolei   we've provided a spark tool to remove the orphan files, please take a look :-) https://github.com/apache/incubator-iceberg/pull/894

[2020-04-23 09:52] lcaaaat opened #954 "Default warehouse location of a table should be a subdirectory in database location"
After creating a iceberg table by HiveCatalog, I found that the metadata_location is  '/user/warehouse/db.db/tbl/metadata/00000-c5c9edfa-86f6-4b0e-9a5c-13f90a56f676.metadata.json' while the location of the database db is '/user/xxx/db.db'.
In my opinion, the location of a table should be a subdirectory of database's location. So, the behavior of the method `defaultWarehouseLocation` in `org.apache

[2020-04-23 14:44] rdsr opened #956 "SnapshotpId() in SnapshotProducer is invalid in certain cases"
E.g with cherrypick or rollback. The snapshotId() does not reflect the snapshot which is to be committed.  The PR #955 reflects that bug. Many testcases related to cherrypick/rollback fail.

This was discovered when working on #939

[2020-04-24 06:31] adamkennedy commented on #797
The new version of commons collections is using generic now?

https://commons.apache.org/proper/commons-collections/apidocs/org/apache/commons/collections4/map/UnmodifiableMap.html

[2020-04-24 07:03] shardulm94 opened #961 "BuildORCProjection does not support evolved schemas with added optional container types with required fields inside"
If a table evolves to add a new optional container type i.e. struct, map, list with a required field inside of it, `OrcSchemaUtil.buildOrcProjection` fails with saying the the nested child field was required but not found in file. Iceberg supports such an evolution and so this should not fail.
e.g.
[code]

[code]

[2020-04-24 07:38] shardulm94 opened #962 "BuildORCProjection does not preserve field ids for container types"
[code]
Output:
[code]
The mapped ids from BuildORCProjection will be useful for predicate pushdown to help figure out the ORC column name for a given Iceberg ID

[2020-04-24 18:37] aokolnychyi opened #964 "TestDataFrameWrites fails due to OOM errors with ORC"
After we enabled ORC in `TestDataFrameWrites`, I started seeing OOM errors while building the project locally. I think we need to double-check that everything is correct and then increase the heap size in Spark tests.

[2020-04-26 05:52] #949 closed

[2020-04-26 05:52] yiguolei commented on #949
got it

[2020-04-26 11:58] waterlx commented on #870
Ready to close this issue as Avro and IndexedRecord are removed, by the folllowing commits:
- https://github.com/apache/incubator-iceberg/pull/856/commits/7ed7583fca49252abdcd587716fc6e3de5c55423
- https://github.com/apache/incubator-iceberg/pull/856/commits/01f66bac827407f5fbcc6ef1d8f37b042dc9de8a

[2020-04-26 11:58] #870 closed

[2020-04-26 12:34] waterlx commented on #869
VTTS is removed literally but all "watermark"  related logic is kept as they are.

[2020-04-26 12:45] vanliu-tx opened #969 "TimestampType support in GenericParquetReaders/GenericParquetWriter is different"
GenericParquetReaders support TimestampType with zone and without zone.

![image](https://user-images.githubusercontent.com/64360028/80307923-c1239900-87fe-11ea-807c-f1aedb46555e.png)

GenericParquetWriter only support Timestamp with zone.

![image](https://user-images.githubusercontent.com/64360028/80307930-d0a2e200-87fe-11ea-9aa4-cb58d010488c.png)

[2020-04-26 12:57] chenjunjiedada commented on #969
@vanliu-tx , There is a PR: https://github.com/apache/incubator-iceberg/pull/891 for this. Also, we are using `SparkParquetReader` and `SparkParquetWriter` for spark engine.

[2020-04-26 13:06] vanliu-tx opened #970 "Writing HadoopTable concurrently leading to losing data"
Here I have wrote some test to write one HadoopTable concurrently.

In the first case, there are 30 threads in one java process to write a HadoopTable, each thread commit 100000 then sleep a while. I found in the last meta file, the total records is less then what I committed.

After dig around, I found this issue is addressed by https://github.com/apache/incubator-iceberg/pull/754

However, when

[2020-04-26 13:07] #869 closed

[2020-04-26 13:08] waterlx commented on #869
@stevenzwu Got your idea.

[2020-04-26 14:13] chenjunjiedada commented on #359
@rdblue , I 'm still confusing about this, could you please help me to understand why we need this? Every engine should have its data model that means it could build the filter based on its data model. For example, the spark engine could build the filter on `InternalRow` that from base file and delete file. Thanks in advance.

I also create a draft PR: https://github.com/apache/incubator-iceberg/p

[2020-04-26 21:20] rdblue commented on #181
Regular cleanup was added in #631, and #873 added the ability to clean orphan data files for any that were missed. I'm going to close this.

[2020-04-26 21:20] #181 closed

[2020-04-27 01:52] vanliu-tx commented on #969
@chenjunjiedada in my case we don't use any engine to read/write iceberg table, we want to minimize the resource used.

[2020-04-27 01:59] chenjunjiedada commented on #969
@vanliu-tx , Does PR: https://github.com/apache/incubator-iceberg/pull/891 works for you? I think that fixes the issue.

[2020-04-27 02:31] waterlx commented on #969
@vanliu-tx If you need an engine-independent fix, would you please take a look at #965 ? It is dedicated to address your issue so it is shorter than #891.
But I might need to know your Parquet version. Both of #965 and #891 depend on Parquet 1.11, with "logical type annotation". Based on that, we could build a flag which helps to distingish between timestamp with and without zone. In Parquet 1.10,

[2020-04-27 02:40] waterlx commented on #969
This issue is a dup of #965 or #475. All of them would be addressed by #891 thoroughly

[2020-04-27 03:51] vanliu-tx commented on #969
ok, close it as duplicate with https://github.com/apache/incubator-iceberg/pull/965

[2020-04-27 03:51] #969 closed

[2020-04-27 04:17] vanliu-tx opened #972 "Filtering records with timestamp doesn't work in IcebergGenerics"
Filtering records with timestamp field by IcebergGenerics leading to IllegalStateException.

In this test I got a iceberg table schema and partition below:

    Schema schema = new Schema(
            required(1, "ts", Types.TimestampType.withZone()),
            required(2, "bank_balance", Types.LongType.get()),
            required(3, "salary", Types.IntegerType.get()),
            optional(4, "

[2020-04-27 21:16] rdblue commented on #972
Thanks for reporting this, @vanliu-tx! Looks like the accessors used in generics should be converting date and timestamp values before returning them to the evaluator.

[2020-04-27 21:16] aokolnychyi commented on #970
@vanliu-tx, are you testing this on your local file system? What properties does a rename operation have in your environment?

[2020-04-27 21:22] aokolnychyi opened #976 "Implement the split logic in DataTask"
Our entries and files metadata tables are using `DataTask` that does not split files.

[2020-04-27 22:38] jun-ma-0 opened #978 "lower_bounds and upper_bounds are not collected for columns in map type"
In DataFile, stats are collected for each column to help with file level filtering. Seeing lower_bounds and upper_bounds are not collected for key and value column in map type. Here is an example.
For schema with one id column and one map type column:
[code]
This is one data file in the table. lower_bound & upper_bound is only collected for the id column:
[code]

[2020-04-27 23:12] prodeezy commented on #956
@rdsr  is there a sample gist or way I can reproduce this issue?

[2020-04-27 23:57] prodeezy commented on #956
Nvm, i see your explanation in https://github.com/apache/incubator-iceberg/pull/955

[2020-04-28 01:58] vanliu-tx commented on #970
@aokolnychyi, I'm testing on hadoop-2.6.0-cdh5.4.1 deployed on 6 linux (2.6.32.43 kernel) hosts.

[2020-04-28 08:03] chenjunjiedada commented on #972
I will fix this.

[2020-04-28 11:20] chenjunjiedada commented on #972
@vanliu-tx , I reproduced your issue and fixed locally. This PR: https://github.com/apache/incubator-iceberg/pull/983 should fix it, could you please have a try with it?

[2020-04-28 12:05] vanliu-tx commented on #972
@chenjunjiedada the fix works, thank you!

[2020-04-28 18:21] rdsr commented on #962
I also hit this bug when implementing  #897 and #920

[2020-04-28 18:22] rdsr commented on #920
I plan to work on this this week together with #897 .

[2020-04-29 12:21] chenjunjiedada opened #984 "Transform.day does not produce DateType value"
Transform.day was expected to produce date type, see: https://github.com/apache/incubator-iceberg/issues/279. It does produce the date type but not date value. Actually it produces the integer value. I think we should add a real date transform `Transform<T, DateType>`.

[2020-04-29 12:24] jerryshao commented on #852
Any progress on this @rdsr @massdosage , I saw this PR #933 has an implementation from scratch, should we refactor based on the current work?

[2020-04-29 12:38] massdosage commented on #852
We are working on this via #933 but in turn have discovered that we are first going to need #935 so it's dependent on that. What are you proposing gets refactored?

[2020-04-29 12:48] jerryshao commented on #852
What implemented in #933 are mostly addressed in #843 , like mentioned here, we could have a library to covert from MRv2 to MRv1, no need to implement he same logic again. That's what I mean about the refactoring. I don't think this work is blocked by guava thing.

[2020-04-29 13:19] massdosage commented on #852
Yes, we plan to try re-use as much code from #843 in #933 as possible, it's being discussed on the related WIP PR. Unfortunately this *is* blocked by Guava because when you try actually use the InputFormat in Hive it fails due to Hive having a different version of Guava on its classpath which leads to runtime exceptions with method signatures that have changed etc. So one can't actually use the In

[2020-04-29 17:49] rdblue commented on #970
@vanliu-tx, are you sure that there weren't any commit failures? With so many concurrent writes, I wouldn't be surprised if commits exceeded the maximum number of retries and failed. Do you have logs to check this?

[2020-04-29 17:51] rdblue commented on #970
Another thing you can do is turn up the [number of retries](https://iceberg.apache.org/configuration/#table-behavior-properties) on the table and re-running:

[code]

[2020-04-30 00:31] aokolnychyi commented on #970
I'd also check if all commits were successful as Ryan said. This can be done by checking the number of snapshots before and after the test. Then we can be sure that we committed the expected number of snapshots. It may also make sense to tune other retry configs such as min/max wait to improve the performance.

[2020-04-30 05:28] rdsr opened #988 "New warnings when building Iceberg"
I see the following set of new warnings when building the project, but mostly from the Spark module

[code]

[2020-04-30 07:00] vanliu-tx commented on #970
@rdblue,  In my test case I have modified the default reties to 20 to avoid some threads failed to commit data. One process has 20 threads to commit data, and each thread commit 10 times, the other process has 15 threads, also commit 10 times for each thread. So there are total 350 data commits in my test, which matches the vX.metadata.json(v1~v351, v1 is for creating table) file count in the meta

[2020-04-30 07:03] vanliu-tx commented on #970
the zip file 0423_meta.zip is in the first post just below the picture.

[2020-04-30 17:20] rdblue commented on #970
@vanliu-tx, can you try the PR I just posted?

[2020-05-01 16:51] waterlx opened #994 "WrappedPositionAccessor is not generated but Position2Accessor"
When trying to partition on a field of StringType within a NestedType,
[code]
the following exception is thrown when writing to Iceberg:
[code]
The accessor seems not generated corretly. WrappedPositionAccessor is expected to be used to access that String field but Position2Accessor is generated instead.

**Suspect:**
In PartitionKey#newAccessor():
[code]
All sub-classes of PositionAccessor (such

[2020-05-01 17:06] waterlx commented on #994
To fix that, do we need to be more strict to exclude the sub-class of PositionAccessor when routing to build Position2Accessor?
Accessors and #983 seems have the same issue?

[2020-05-01 17:10] waterlx commented on #994
@rdblue Does it make sense to you?

[2020-05-01 19:49] rdblue commented on #994
Yes, I think you're right. One solution is to not wrap the specialized accessors. We may also be able to keep a transform function so that it is applied by the outer-most accessor. That would keep the two concerns separate.

[2020-05-04 16:00] #970 closed

[2020-05-04 16:20] rdsr opened #997 "[Update notification follow up] Add remaining events for SnapshotManager"
#939 added update events for 'create snapshots' .  We should consider publishing events such as rollback, fast-forward, and set current snapshot from SnapshotManager
See this comment for details: https://github.com/apache/incubator-iceberg/pull/939#discussion_r419548700

[2020-05-04 16:23] rdsr opened #998 "[Update notification follow up] We should publish update events only when a transaction succeeds"
In #939 update events are fired for individual operations within a transaction. It is much better to suppress events for individual operations and publish events once the transaction commits.
See this comment for details: https://github.com/apache/incubator-iceberg/pull/939#issuecomment-623557860

[2020-05-06 02:18] vanliu-tx commented on #970
I was on vacation in last five days, will test it today and let you know the result.

[2020-05-06 03:30] kaidata opened #1005 "sparksql can not create table(base on examples)"
version infos:
spark, 2.4.5
iceberg, 0.7

demo code:
[code]

error infos:
[code]

[2020-05-06 07:21] newroyker opened #1006 "TestSparkTableUtil test fail on re-run"
#### Repro steps:
* run `./gradlew clean build`
* local directory gets created: `spark/spark-warehouse/`
* re-run `./gradlew clean build`
* 3 `TestSparkTableUtil` tests fail viz. `testImportPartitionedTable`, `testImportUnpartitionedTable`, and  `testImportAsHiveTable`

#### Root cause:
`org.apache.spark.sql.AnalysisException: Can not create the managed table('`...`'). The associated location('...

[2020-05-06 12:28] vanliu-tx commented on #970
@rdblue I just run my test case (one process with 50 threads commit data files concurrently) with the lastest main branch, however, it failed.

Some commits are lost as there were 500 commits in total, but only 485 metadata files. See the attached metadata folder zip file.
[050605_metadata.zip](https://github.com/apache/incubator-iceberg/files/4586652/050605_metadata.zip)

There are some NPE in th

[2020-05-06 17:39] #1006 closed

[2020-05-06 18:34] waterlx commented on #1005
@kaidata Seems something wrong here 8-)
[code]

You might need to provide "hive.metastore.uris" into conf when `new HiveCatalog`

[2020-05-06 21:50] adamkennedy commented on #797
Alternatively, generating your own ImmutableMap by doing a repeated inheritance inlining of the commons collections classes would be fairly straight forwards as well, if the licenses are compatible.

[2020-05-07 02:13] kaidata opened #1009 "official site none offer get start and in action document"
1. [official site](https://iceberg.apache.org/) can not use
2. no get start or in action document offer

[2020-05-07 02:20] kaidata commented on #1005
@waterlx ths your reply;
1. my scenario(environment) is just on spark(spark-sql), no hive metastore service;
2. can your introduce some reference files to me that i can read or write iceberg table(all flow), so i can analysis(or debug the deep logical) the metadata and data of iceberg

[2020-05-07 07:07] waterlx commented on #1005
@kaidata
Regarding:

Got that. But the code you are using is to new a Hive catalog. Hive Catalog is backed by a Hive MetaStore. You can download Hive 2.3.6 package and launch a local Hive MetaStore (using embedded mode).
Or you can use HadoopTables to create the table. You only need to specify a path on file sytem. No extra service (like Hive MetaStore) is needed.

Regarding:

The following 2 page

[2020-05-07 07:34] waterlx commented on #1009
Hi @kaidata, thanks for bringing those issues to the community ^_^

The  offical website could be accessed. I met only a few times when the website could not be accessed or responded slowly. Please try to refresh it and that always works.

We do have "get started" pages, like:
(1) http://iceberg.apache.org/java-api-quickstart/
(2) http://iceberg.apache.org/spark/
I know they are not perfect and ne

[2020-05-07 09:46] zachary124 opened #1010 "sql query not work when i used spark3.0-preview2"

[2020-05-07 09:56] zachary124 commented on #1010
hello，I want to use sparkSQL query iceberg hive table just like I query other hive table。I had build iceberg branch spark-3 and can create table and query table use spark。 but when I query the hive table use sql， it returned an error :
`java.lang.RuntimeException: java.lang.InstantiationException
	at org.apache.hadoop.util.ReflectionUtils.newInstance(ReflectionUtils.java:134)
	at org.apache.spark.

[2020-05-07 10:00] zachary124 commented on #1010
I tried it on spark2.4.4, and the problem was the same, so I switched to spark3 and tried again

[2020-05-07 18:57] aokolnychyi commented on #757
I agree with @prodeezy that documenting those will be helpful.

@whoAbhishekSah, sorry for the late reply. Please feel free to pick this up and contribute!

[2020-05-07 23:02] kaidata commented on #1005
@waterlx
thx your replay,
1. hadoop table, i have done; but when dataframe append save to location(table)，metadata is right，data have no change(no new parquet generate)
2. hive table, use hive metastore service, i am doing now;

[code]
yes, this is a good way(remote debug, when i write plugin of DataX); but i always debug in local ide environment As much as possible (just config hadoop_home(ddl) o

[2020-05-08 03:33] waterlx commented on #1005
@kaidata  I used remote debug to debug local Spark and Iceberg too. Not sure if it could work for you.

[2020-05-08 08:30] vanliu-tx opened #1014 "Concurrent commit issue for HadoopTable"
I found that there are still some problem when commit data files to HadoopTable concurrently with the latest main branch which contains this PR (https://github.com/apache/incubator-iceberg/pull/990). @rdblue, could you help to take a look?

Here is my test code, there are 50 threads, each commit 1,000,000 records (in 10 loops) to a HadoopTable, but the final records in this table is less than expe

[2020-05-08 12:28] kaidata commented on #1009
@waterlx
i very sorry about this；
i hava test on my own laptop, it is normal;
it should be problem of my company network;

[2020-05-08 12:37] kaidata commented on #1009
about get started(or code examples), i think it should declare the pre condition, eg:
(i think the perfect opensource tech for develop is spark(examples(project model code))) and hbase(reference guide)
1. maven dependency(version)
2. it can run(debug)
3. out dependency(hive metastore(version?))
4. it can and not()
5. architect
6. roadmap

[2020-05-08 16:07] rdblue commented on #1014
The exception you posted is a warning. Are you sure that all of the commits were successful?

[2020-05-08 17:15] rdblue commented on #359
I'm going to close this because the spec part is done. We can track the reader in #971, or open another issue for it in the milestone.

[2020-05-08 17:15] #359 closed

[2020-05-08 17:21] rdblue opened #1017 "Add reader and writer implementations for equality delete files"
Equality delete files (defined for #360) should have a reader and writer for engines to use when encoding deletes.

The writer should accept either a row of values to be written to the file, or a row from which the values are extracted.

[2020-05-08 17:22] rdblue opened #1018 "Add reader and writer implementations for position-based delete files"

[2020-05-08 17:30] rdblue opened #1019 "Add _file and _pos metadata columns to Avro readers"
Position-based delete files encode row deletes as a file and ordinal row position within that file. To write position-based delete files for Avro, Iceberg should produce the file and position for a given row as metadata columns.

The file metadata column is a constant and can reuse the id-to-constant map that sets identity-partition values.

The position metadata column will need to keep a counter

[2020-05-08 17:32] rdblue opened #1020 "Add _file and _pos metadata columns to Parquet readers"
Position-based delete files encode row deletes as a file and ordinal row position within that file. To write position-based delete files for Parquet, Iceberg should produce the file and position for a given row as metadata columns.

The file metadata column is a constant and can reuse the id-to-constant map that sets identity-partition values.

The position metadata column will require tracking th

[2020-05-08 17:33] rdblue opened #1021 "Add _file and _pos metadata columns to ORC readers"
Position-based delete files encode row deletes as a file and ordinal row position within that file. To write position-based delete files for ORC, Iceberg should produce the file and position for a given row as metadata columns.

The file metadata column is a constant and can reuse the id-to-constant map that sets identity-partition values.

The position metadata column will require tracking the st

[2020-05-08 17:35] rdblue commented on #1018
@chenjunjiedada has started work on this in #971.

[2020-05-08 17:44] rdblue opened #1022 "Add a row filter implementation for position-based deletes"
Position-based delete files will be applied using a row filter. The filter should bind to a record schema using accessors, like expression evaluators. Because position-based delete files are required to be sorted, the filter should use a merge strategy instead of loading deletes for a file into memory.

[2020-05-08 17:51] rdblue opened #1023 "Add a row filter implementation for equality deletes"
Equality deletes will be applied in row-based reads using a row filter. The filter should bind to the projected record schema using accessors, like expression evaluators. Because the order in an equality delete file is not guaranteed to match the order of incoming rows, the most generic filter should build a hash set of rows from equality delete files and filter out data file rows that produce a "

[2020-05-08 17:53] rdblue opened #1024 "Add a merge-based row filter for equality deletes"
When Iceberg tracks the sort order of data and delete files, a merge-based strategy can be used to filter rows instead of a set-based strategy (#1023) when the order of a delete file matches the order of a data file.

[2020-05-08 17:58] rdblue opened #1025 "Spec: Document field-id requirements for partition specs"
In format v2, partition fields are required to have unique field IDs to support partition spec evolution. This should be documented in the spec, along with notes about handling tables without partition field IDs.

[2020-05-08 17:58] rdblue commented on #956
Should we close this because we aren't going to fix it?

[2020-05-08 17:59] rdblue commented on #984
`Transform.day` produces the internal value for a date, the number of days from the unix epoch. Iceberg uses that representation, not a Java date type.

[2020-05-08 17:59] #984 closed

[2020-05-08 18:11] rdblue commented on #1010
Looks like you're trying to load an Iceberg table without going through an Iceberg catalog. Iceberg stores table references in the Hive metastore, but non-Iceberg catalogs cannot read the tables.

In Spark 2.4.4, you need to use the Dataset API and register your table as a temporary view to use SQL. That's documented on our [Getting Started page](https://iceberg.apache.org/getting-started/#reading

[2020-05-08 19:38] rdblue opened #1026 "Add an action to rewrite equality deletes as position deletes"
Equality deletes are more expensive because they are not targeted at a specific data file and cannot necessarily be used to filter rows using a merge strategy (if sort order doesn't match). Iceberg should provide an action that can rewrite equality deletes as position deletes.

[2020-05-08 19:42] rdblue opened #1027 "Add an action to compact delete files"
Tables with slowly changing data may have many small delete files, with only a small portion of the data affected. In that case, it may not be worth rewriting data files to remove rows. Iceberg should provide an action to compact delete files to minimize delete files in a task that need to be read and to keep the number of files in memory during job planning lower.

[2020-05-08 19:44] rdblue opened #1028 "Add an action to rewrite data files and remove deleted rows"
Tables will eventually need to apply deletes to data files and remove deleted rows. Iceberg should provide an action to do this.

[2020-05-08 19:46] rdsr commented on #956
+1

[2020-05-08 19:46] #956 closed

[2020-05-08 19:49] rdblue commented on #1027
This may not need to run in a processing engine. Since position delete files are already sorted, they can be merged together without using much memory. Using an engine like Spark could make it faster, but it isn't necessarily required.

[2020-05-08 20:10] rdblue opened #1029 "Spec: Add schema IDs, schema list, and associate each Snapshot with a schema"
Replacing an entire table is a supported action that replaces the schema of a table along with all of the data. The use case is reporting tables, where the data completely changes from day to day and it makes little sense to maintain the schema using DDL when the report is generated using a CTAS or RTAS query. For these tables, each snapshot may have its own schema and reading an older snapshot sh

[2020-05-09 11:56] vanliu-tx commented on #1014
@rdblue the commit was successful as the log messages said so.
"Committed snapshot 3954230755295370661 (MergeAppend) (org.apache.iceberg.SnapshotProducer:274)"

However, when I looked into the final metadata file, this snapshot was not there.

![issue01](https://user-images.githubusercontent.com/64360028/81472969-1e234400-922e-11ea-8a2d-c1c8352d3556.png)

![issue02](https://user-images.githubuserc

[2020-05-10 06:32] pranaydharmale commented on #502
submitted PR 1031 for this fix

[2020-05-12 08:15] zachary124 commented on #1010
@rdblue Thank you for your reply，I get it

[2020-05-12 08:15] #1010 closed

[2020-05-13 06:22] yujiantao opened #1039 "[SPARK-3] Extend iceberg Catalog interface with namespace operations"
It is a little weird that iceberg catalog delegates namespace operation to other catalog implementation, which means namespace definitions should be shared between the two catalogs . I think iceberg catalog should have the capability of managing namespaces. If it is ok, I will work on this.

[2020-05-18 02:30] sudssf commented on #189
@rdsr submitted proof of concept for union schema support
https://github.com/apache/incubator-iceberg/pull/1046
will add spark test if these changes look good
I will need help from avro experts to make sure this is not breaking change.

[2020-05-19 02:52] lohao commented on #370
How to reject using Iceberg data source?

[2020-05-19 08:12] hk-lrzy opened #1050 "[Question]How iceberg read data from metadata, has any paper introduce it？"
And i also want to know how iceberg manager `snapshot-log` property, i see the source code the new metadata file will be created in every commit and will included all history metadata version, if we use iceberg in streaming application, i think the metadata file will be grew fast, how iceberg read it fast?

[2020-05-20 00:53] rdblue commented on #1014
I should be able to take a look at this tomorrow.

[2020-05-20 16:24] geota commented on #540
Databricks recently released support for automatic schema evolution in merge operations:
https://databricks.com/blog/2020/05/19/schema-evolution-in-merge-operations-and-operational-metrics-in-delta-lake.html

[2020-05-20 16:32] rdblue commented on #540
@geota, in Spark, "automatic schema evolution" usually means not validating the schema on write and merging schemas together on read to find what the table schema actually is. This is how the v1 DataFrame APIs work. Calling it "automatic" makes it sound more like a feature and less like a bug.

That said, I think it's fine to add this to Iceberg as a real feature -- where we detect the changes and

[2020-05-20 19:39] rdblue commented on #1014
@vanliu-tx, the `UpdateEvent` problem is happening because the snapshot is missing. Just after the commit, the snapshot is loaded to clean up uncommitted files and to send the update event. Both of those tasks are failing to load the committed snapshot. Note the log just above the NPE:

[code]

I think the problem is that the local FS doesn't provide an atomic rename. From [`man rename(2)`](https:

[2020-05-21 11:46] yiguolei opened #1053 "Does iceberg already support spark 3.0?"

[2020-05-21 11:55] chenjunjiedada commented on #1053
@yiguolei , Currently, Iceberg has a spark-3 branch that already supports spark 3.0-preview2, but it is a bit lag behind the current master.

[2020-05-21 19:59] #502 closed

[2020-05-22 02:31] yiguolei commented on #1053
@chenjunjiedada Does it support SQL DDL and DML command?

[2020-05-22 12:38] vanliu-tx commented on #1014
@rdblue thank you for looking into this. I ran the test code with HDFS (50 threads in one process), by checking the final metadata file, the records count and committed snapshots count were as expected.

[v501.metadata.json.txt](https://github.com/apache/incubator-iceberg/files/4667881/v501.metadata.json.txt)

Also tested with two processes (each has 50 threads) to commit data concurrently, the fi

[2020-05-22 16:25] rdsr opened #1054 "Refactor OrcGenericReader to use OrcValueReaders"
ORC GenericReader relies on its on Converter interface to convert Iceberg orc data to Iceberg data. Once #989 is committed, there's opportunity to reuse a lot of code similar to Avro Value Readers

[2020-05-22 16:27] rdsr opened #1055 "ORC should not assign column ids for missing fields"
See https://github.com/apache/incubator-iceberg/pull/989#discussion_r420996718

[2020-05-22 16:29] rdsr opened #1056 "Use ConstantReaders for identity partition columns in OrcValueReader"
See https://github.com/apache/incubator-iceberg/pull/989#discussion_r421665455

[2020-05-22 16:32] rdsr opened #1057 "Adding an attribute in ORC TypeDescription causes failures."
Details here: https://github.com/apache/incubator-iceberg/pull/989#discussion_r421384789

[2020-05-22 16:33] rdsr opened #1058 "Support container reuse in SparkOrcValueReader"
#989  does not support container reuse for SparkOrcReader.  There was partial work done in that PR but was later reverted to contain the amount of changes.

[2020-05-22 18:41] #897 closed

[2020-05-22 19:08] rdblue commented on #1014
@vanliu-tx, is it okay to close this, then? I think the problem is that a local POSIX FS doesn't satisfy the requirements for Hadoop tables.

[2020-05-22 19:24] aokolnychyi commented on #1014
The local file system does not have the needed guarantee for `HadoopTableOperations`. That's the reason why we don't have a concurrency test for Hadoop tables in unit tests.

[2020-05-25 04:01] jerryshao opened #1061 "Add DataFile rewrite support to compact small data files"
Iceberg will potentially generate large amount of small data files, especially when using streaming mode (Structured Streaming Write/Flink Sink). So we should have a mechanism to compact the small data files into large ones.

In Iceberg we already have `RewriteManifestsAction` and `RemoveOrphanFilesAction`, maybe we could add a new action to compact the data files.

Any thoughts on it? @rdblue @ao

[2020-05-25 06:09] chenjunjiedada commented on #824
This is resolved by https://github.com/apache/incubator-iceberg/pull/1030.

[2020-05-25 06:09] #824 closed

[2020-05-25 16:52] rdblue commented on #1061
Sounds great! I'd love to see more actions to maintain table data and metadata.

[2020-05-25 16:53] rdblue commented on #1053
Yes, the Spark 3 branch supports both SQL DDL and DML.

[2020-05-25 17:15] #787 closed

[2020-05-26 02:29] waterlx commented on #994
I am about to close this issue as PR #1013 is merged into master

[2020-05-26 02:29] #994 closed

[2020-05-26 16:34] mehtaashish23 opened #1065 "Unable to read Iceberg table with hadoop conf passed in as options"
We use spark options to send hadoop configurations (specifically mentioned below), to read/write to Iceberg table. These options have helped in reading/writing when we have multiple SparkSession (which shares hadoop configuration on Global spark Context), each belonging to a tenant, and each tenant can potentially have different creds (have different ACLs as well).

There is multi tenant configura

[2020-05-26 16:42] #972 closed

[2020-05-26 19:25] mehtaashish23 commented on #1065
PR https://github.com/apache/incubator-iceberg/pull/1066

[2020-05-27 01:38] shardulm94 commented on #1057
@rdsr This should have been fixed already by https://issues.apache.org/jira/browse/ORC-556. Are you sure your local copy was using ORC >= 1.6.3 when you tested this?

[2020-05-27 10:25] massdosage commented on #934
Can we close this now since https://github.com/apache/incubator-iceberg/pull/935 has been merged? We can always open more specific tickets for other issues we find going forward but I think the main objective has been achieved for Guava.

[2020-05-27 14:25] #934 closed

[2020-05-27 20:10] mehtaashish23 commented on #1065
Fixed by the mentioned PR!

[2020-05-27 20:10] #1065 closed

[2020-05-27 22:40] rdsr commented on #1057
Most likely. I'll try this again and check.

[2020-05-28 03:04] yiguolei opened #1074 "Does iceberg have a plan to support Multi-Statement and Multi-Table Transactions ?"

[2020-05-28 09:22] shardulm94 commented on #189
I have been thinking about the use case to allow reading data files written with non-Iceberg writers which may contain union types. I have tried to jot down my thoughts in https://docs.google.com/document/d/1Go2NrOoeCKfrDJw8MAZnsMYbE2KZbso1zkSY8cpLzaQ/edit#heading=h.gd2qof50gbzs. The motivation of #1046 seems somewhat different though, so we may want to discuss this use case outside of #1046.

cc:

[2020-05-28 15:38] #961 closed

[2020-05-28 17:19] #1054 closed

[2020-05-28 21:59] feng-tao opened #1075 "Is python version official supported ?"
What is the feature parity between python and java for iceberg?
Any reason that there are no release for python to pypi for iceberg python?

[2020-05-29 02:21] #1053 closed

[2020-05-29 16:31] asheeshgarg opened #1078 "Storing Lot of Sparse Columns"
I have around 40 K columns in a spark dataframe lot of them have null values. While storing the data to iceberg table it takes lot of time though the final data in parquet in 20-25 Mbs. Is the sparse row dataframe to iceberg persist is supported?

[2020-05-29 17:47] edgarRd commented on #920
@rdsr we can probably close this issue since the visitors are implemented in https://github.com/apache/iceberg/pull/989 - right?

[2020-05-29 20:20] rdblue commented on #1078
What support are you referring to?

[2020-05-29 20:22] rdblue commented on #1075
The Python version is still under development. The next step is to get the read path working in #544. That was blocked for a while waiting for an Arrow release.

There has not been an official Apache release of the Python implementation.

[2020-05-29 20:23] rdblue commented on #1074
This should be possible, but as far as I know, no processing engines support it. Until then, it doesn't make much sense to worry about it for Iceberg.

[2020-05-29 21:46] asheeshgarg commented on #1078
Just like we have in Spark MLLib Sparse and dense representation.
Another thing if we don't store the values if its null while reading the data it will return the default values.

[2020-05-29 22:17] rdsr commented on #920
Yea. I think we can close this. There are a few more visitors we could implement, but we'd take that up when required

[2020-05-29 22:17] #920 closed

[2020-05-30 09:52] Jiayi-Liao opened #1081 "Add docker demo for iceberg starters"
As far as I know, currently, users can only work with iceberg on an existing hadoop / hdfs / hive / spark cluster or deploying a new one. It's not very friendly to starters, especially those who want to know more about iceberg but don't have an available environment to make iceberg work well. I believe there're many users like me in situations like:

* users that cannot try iceberg because of limi

[2020-05-31 07:47] tonyqus commented on #1081
+1

[2020-06-01 03:07] vanliu-tx commented on #1014
close this issue

[2020-06-01 03:07] #1014 closed

[2020-06-01 03:24] yiguolei commented on #1074
Why does it relate with processing engines?

[2020-06-01 03:35] felixYyu opened #1082 "Error referring PartitionSpec to the google.common class library"
import org.apache.iceberg.relocated.com.google.common.base.Preconditions;
import org.apache.iceberg.relocated.com.google.common.collect.ImmutableList;
import org.apache.iceberg.relocated.com.google.common.collect.ListMultimap;
import org.apache.iceberg.relocated.com.google.common.collect.Lists;
import org.apache.iceberg.relocated.com.google.common.collect.Maps;
import org.apache.iceberg.relocated.

[2020-06-01 16:49] rdblue commented on #1082
Can you be more clear? What is the problem?

[2020-06-02 01:34] felixYyu commented on #1082
<img width="950" alt="微信图片_20200602092626" src="https://user-images.githubusercontent.com/3785228/83469993-a5717980-a4b3-11ea-9240-ed9461f7e644.png">

referring google.common class is ok? GenericRecord.java and Bucket.java have the same problem.

[2020-06-02 01:44] felixYyu commented on #1082
Reference the Google class in PartitionSpec.java file via "import org.apache.iceberg.relocated.com.google.common.base.Preconditions",GenericRecord.java and Bucket.java have the same problem,Isn't that the right way "import com.google.common.base.Objects".Can you explain it for me,thanks.

[2020-06-02 16:31] rdblue commented on #1082
#1068 added a shaded guava module to avoid classpath conflicts in other projects, so this is expected.

[2020-06-02 16:31] #1082 closed

[2020-06-02 16:33] rdblue commented on #1078
I'm not familiar with what you're referring to, so a link would help give context.

Iceberg uses columnar formats that help, but doesn't automatically convert to a sparse representation if that's what you're referring to.

[2020-06-02 16:34] rdblue commented on #1074
The primary way to work with Iceberg tables is through a processing engine like Presto or Spark. Without cross-table transaction support in those, there would be no way to use it besides going directly to the API.

[2020-06-02 23:20] edgarRd commented on #197
We can close this, fixed in #199.

[2020-06-03 00:42] rdblue opened #1088 "Remove Scala from the build"
[`SparkTableUtil`](https://github.com/apache/iceberg/blob/master/spark/src/main/scala/org/apache/iceberg/spark/SparkTableUtil.scala) was written in Scala so that it could use case classes, but this over-complicates the build and ties Iceberg to a Scala version (2.11 or 2.12). We should rewrite these methods in Java and remove Scala from the build completely.

[2020-06-03 00:43] rdblue commented on #1081
I think it would be great to have an easy demo. I can help review if you want to create one!

[2020-06-03 01:20] chenjunjiedada opened #1090 "CI does not trigger automatically."
I found CI didn't trigger for recent PR recently, we need to close and open PR to trigger it. It may need someone to take a look.

[2020-06-03 12:13] hzfanxinxin opened #1091 "Why didn't interface org.apache.iceberg.Table provide function updatePartitionSpec(newSpec)？"

[2020-06-03 12:13] hzfanxinxin commented on #1091
how to update partitionSpec in iceberg?

[2020-06-03 12:31] vanliu-tx opened #1092 "Delete column in iceberg table with hive catalog throws exception"
In iceberg-hive module, I found that, when I delete a column which is just before another column with different type, the operation failed with a RuntimeException. @rdblue @aokolnychyi

I added some code in HiveTableTest#testExistingTableUpdate() to demonstrate this issue:

[code]

you can see that delete a string field before long/integer field failed, delete a long field before string field also

[2020-06-03 13:30] asheeshgarg commented on #1078
Thanks Ryan
Iceberg uses columnar formats that help, but doesn't automatically convert to a sparse representation if that's what you're referring to. -> Yes

So currently what is happening I have 32K records of 40K columns in this case 80% of columns have a null value.
if I persist this spark dataframe as csv roughly data comes out to 4 gb and it takes 4 min to persist the data in s3 bucket.
if I

[2020-06-03 17:19] rdblue commented on #1091
We're working on adding this feature in #922, but it isn't complete yet.

[2020-06-03 17:20] rdblue commented on #1090
I'm not sure what's happening, but everything is configured correctly. It looks like Travis CI picking up changes from Github is flaky.

[2020-06-03 20:05] rdblue commented on #1092
It looks like you're hitting a Hive check that is done because `hive.metastore.disallow.incompatible.col.type.changes` is enabled. Can you disable that on your metastore and see if it fixes the problem? Also note that you might not be able to fix it in your metastore because of [HIVE-17832](https://issues.apache.org/jira/browse/HIVE-17832).

[2020-06-04 02:30] vanliu-tx commented on #1092
thanks @rdblue , I added this line to org.apache.iceberg.hive.TestHiveMetastore#newHiveConf() and it worked.
[code]

I think we should update the test cases to cover this issue, what's your opinion? If you think so, I can do that.

[2020-06-04 02:56] #197 closed

[2020-06-04 05:55] feng-tao commented on #1075
thx

[2020-06-04 05:55] #1075 closed

[2020-06-04 08:08] hzfanxinxin opened #1093 "Add HadoopCatalog example to create/load tables in the Iceberg User docs"
In the Spark API Quickstart(http://iceberg.apache.org/api-quickstart/) and Java API Quickstart(http://iceberg.apache.org/java-api-quickstart/)，there are only HiveCatalog and HadoopTables example to create a table，maybe we should also add HadoopCatalog example.

Any thoughts on it? @rdblue

[2020-06-04 10:45] #1091 closed

[2020-06-04 16:50] rdblue commented on #1093
Sounds good to me! Would you like to open a pull request?

[2020-06-04 17:28] rdblue commented on #1092
That sounds good to me, @vanliu-tx. Thank you!

[2020-06-05 00:51] hzfanxinxin commented on #1093
Thanks for quick response. Yes, i will open a pull request to add HadoopCatalog example。

[2020-06-06 04:13] sarangshinde commented on #260
Getting same error in 0.8.0(latest as of today) version as well.

[2020-06-06 16:16] Jiayi-Liao commented on #1081
@rdblue I think the initial version is almost done and I'd like to discuss more details. Let's move the discussion to https://github.com/apache/iceberg/pull/1100. Thanks for your time!

[2020-06-09 09:11] davseitsev commented on #717
We also got into this restriction when write data from Kafka to iceberg and partition it by date.
We would like to have a way avoid the restriction, write data as is and then compact small files in background.

[2020-06-09 21:10] raptond commented on #1088
Let me take care of this, if no one is looking into this. Thanks.

[2020-06-09 21:23] aokolnychyi commented on #1088
@raptond, I think we can use some of the work we did in Spark actions as an example.

[2020-06-10 13:02] vanliu-tx opened #1106 "[Question] Is there a way to add a commit message to Snapshot?"
In our use case, we are reading messages from Kafka, and periodic writing to iceberg tables. Now we need a very complex logic to keep the exactly-once semantic, as we have to store the last Kafka message offset, which has been committed to iceberg table, in external storage, and make this operation atomic with iceberg table commit.

If there is a way to add a commit message to a snapshot, I can pu

[2020-06-11 06:34] vanliu-tx commented on #1092
done

[2020-06-11 06:34] #1092 closed

[2020-06-11 06:53] shardulm94 commented on #1106
You can use [`SnapshotUpdate#set()`](https://github.com/apache/iceberg/blob/736c68da7c0c8558a06d2d30a78940172653ab86/api/src/main/java/org/apache/iceberg/SnapshotUpdate.java#L38) to set key value properties for a snapshot, these properties would then be accessible using [`Snapshot#summary()`](https://github.com/apache/iceberg/blob/736c68da7c0c8558a06d2d30a78940172653ab86/api/src/main/java/org/apac

[2020-06-11 19:12] rdsr opened #1109 "TableMetadata#lastUpdatedMillis can end up with lower timestamp value compared to the existing previous metadata-log entries"
In our environment, expiry of snapshots and table updates are happening from multiple machines. Recently we saw the following exception
[code]
On checking the current metadata.json file, we see that `TableMetadata#lastUpdatedMillis` has `last-updated-ms: 1591804947492`, whereas the latest entry in the `metadata-log` has `timestamp-ms : 1591804951286` . It seems to me that the when calling `TableMe

[2020-06-11 19:16] rdsr commented on #1109
One idea I'm thinking of fixing this is to check that the latest computed `lastUpdatedMillis` passed in thee constructor should also be checked  and made sure that it is strictly greater than the latest entry in the `previousFiles` or throw exception otherwise. In this scenario, the application code can retry with a delay and will never commit an invalid metadata.json file

[2020-06-11 19:16] rdsr commented on #1109
@rdblue Thoughts?

[2020-06-11 20:28] rdblue commented on #1109
Yeah, unfortunately this can happen for a number of reasons.

I considered the option of modifying `lastUpdatedMillis` so that it is always strictly increasing, but that could lead to some really bad behaviors. For example, if a node is misconfigured and its timestamp is a year in the future, we don't want to either make up a timestamp like `max(lastUpdated+1, now)` because that perpetuates the pr

[2020-06-11 20:39] rdsr commented on #1109
Also, the latest lastUpdatedMillis can be lower from the metadata log entry timestamps. That should also be checked.
In our case the clock skew was around 3 secs

Side question, if we always check that the lastUpdatedMillis field is >= the latest previous log entry with a tolerance,  We don't need to check all the log entries every time we create a TableMetadata instance

[2020-06-11 20:58] rdblue commented on #1109
I'm fine making it configurable, but I prefer avoiding configuration if it isn't needed. We could do something as big as 1 minute, I just want to catch cases where clocks are significantly off.

We'll also have to remove the [ordering done when we read from metadata files](https://github.com/apache/iceberg/blob/master/core/src/main/java/org/apache/iceberg/TableMetadataParser.java#L296) if we allow

[2020-06-11 22:06] rdsr commented on #1109
I see that you pointed to `SnapshotLogEntry` .  Do you want to address SnapshotLog also as part of this?

[2020-06-12 11:28] shardulm94 opened #1111 "Reading partitions metadata table for unpartitioned tables in Spark results in a cryptic error message"
Created an unpartitioned table `test.unpartitioned_table`
[code]

I was able to find a Spark Jira https://issues.apache.org/jira/browse/SPARK-20193 which suggests that it is due to Spark not fully supporting empty structs. Perhaps we should consider throwing a better error message when reading partitions metadata table for unpartitioned tables since the partition field will be an empty struct in s

[2020-06-12 18:55] rdblue commented on #1109
I think we need to update both the snapshot and metadata logs.

I think the metadata log could still have out of order entries if other writers are incorrect compared to the local system time. And there could also be writers that are not the Java Iceberg implementation.

[2020-06-14 07:07] vanliu-tx commented on #1106
Thank you, @shardulm94 ! That works for me.

[2020-06-14 07:07] #1106 closed

[2020-06-15 13:36] massdosage opened #1113 "TestLocalScan.testFilterWithDateAndTimestamp failing in Europe/London Timezone for ORC"
Steps to reproduce (on Ubuntu Linux):

1. Set timezone to Europe/London (test may fail in other timezones, just noticed it in this one):
`sudo timedatectl set-timezone Europe/London`
2. Run the tests
`./gradlew :iceberg-data:clean  :iceberg-data:test --tests org.apache.iceberg.data.TestLocalScan.testFilterWithDateAndTimestamp[1]`

This fails with output like so:
[code]
3. Set the timezone to Ameri

[2020-06-15 13:46] massdosage commented on #1113
Possibly related PR: #983

[2020-06-15 16:33] vvysotskyi opened #1114 "Add support for spark-sql INSERT INTO command"
The current version of the Iceberg project successfully queries the data using spark-sql functionality. But it fails when running `insert into` queries.

The following test
[code]
fails with the error:
[code]

[2020-06-15 16:52] massdosage commented on #1113
From some debugging the failure appears to happen when the expected record has a date of "2337-10-05"...

[2020-06-15 22:33] #1109 closed

[2020-06-16 04:09] chenjunjiedada opened #1116 "Master build failed on local"
The current master failed to build on my local machine while it passes the CI. I found it breaks after commit 260bfa0a33aebc25d07e9a3add46fb7ba0eeca43 gets in.

Task :iceberg-data:test

[2020-06-16 06:07] hzfanxinxin opened #1117 "NullPointerException is throwed when function GenericParquetReaders.primitive is called and the parameter 'expected' is null"
[code]

if parameter `expected` is null, the function will throw java.lang.NullPointerException.

[2020-06-16 06:11] hzfanxinxin commented on #1117
The null judgment is found in SparkParquetReaders.primitive :

[code]

[2020-06-16 08:03] prodeezy commented on #617
cc @mehtaashish23 @rominparekh

[2020-06-17 03:56] chenjunjiedada commented on #1113
I also found this issue, see #1116.

[2020-06-17 03:58] chenjunjiedada commented on #1116
This should be duplicated to #1113. @shardulm94 @edgarRd FYI.

[2020-06-17 06:24] chenjunjiedada opened #1118 "Add iceberg slack channel to README and Iceberg website"
Iceberg has a slack channel under ASF slack, we could use that slack channel for discussion.

https://cwiki.apache.org/confluence/display/ISIS/Signing+up+to+Slack

[2020-06-17 07:37] openinx commented on #360
Take the GDPR user case as example, such as a user with many properties, and there're few deletions which need to delete several properties combination, such as `(a,b)`, `(a,b,c)`, `(a,b)`.

Think about the design again, assume the CDC case that we have a table with (id, a) two columns, and `id` is primary key. and the CDC events come as the orders in an iceberg transaction:

[code]
As you said, w

[2020-06-17 07:38] edgarRd commented on #1116
I'm able to reproduce the failure on `org.apache.iceberg.data.TestLocalScan testFilterWithDateAndTimestamp[1]` - not the one in `org.apache.iceberg.orc.TestOrcMetrics > testMetricsForTopLevelFields` but I assume the latter is result a change decreasing min by `-1` in date lower bounds, right?

[2020-06-17 14:35] chenjunjiedada opened #1121 "Apply avro name mapping unit tests to parquet"
This is a follow-up for https://github.com/apache/iceberg/pull/830#discussion_r441014869.

[2020-06-17 15:53] chenjunjiedada commented on #1116
@edgarRd , I guess you could reproduce this by setting time zone to `Asia/shanghai`, in ubuntu you could use the following command:

`sudo timedatectl set-timezone Asia/Shanghai`

The following statement return 1499.
[code]

The workaround for ORC seems depends on the time zone.

[2020-06-17 16:57] #715 closed

[2020-06-17 19:05] prodeezy commented on #617
Looks like @fbocse and @rdblue had discussed metrics library integration on this thread [1] in which this was the last thing suggested:

we want to time happen just a few times in a job and are specific to a
table.

That is dependent on how large the table is and what filters were applied.
That's why we've added a way to register listeners that can log those scan
events for later analysis.

librar

[2020-06-17 19:22] prodeezy commented on #617
Seems like we still need a way to emit non-timing metrics like #snapshots, #planfiles, #plantasks, #manifests, partition distribution across manifests.

[2020-06-17 19:36] rdblue commented on #617
@prodeezy, when do you want to emit those metrics? At commit time?

This seems a bit related to the [`CreateSnapshotEvent`](https://github.com/apache/iceberg/blob/f3c54a810ad06ab2ad7c42ca63eb5d8607690d0a/core/src/main/java/org/apache/iceberg/events/CreateSnapshotEvent.java#L24) that @rdsr added recently. That could be updated to have commit timing information.

The other fields, like number of sna

[2020-06-17 20:36] prodeezy commented on #617
Yes, and that makes sense to me. I'l look into bubbling up more stats. We have some more metrics we want to bubble up but from what I can see either `CreateSnapshot` or `ScanEvent` should cover them (if they don't already).

Having said that, I'l let  @aokolnychyi and @raptond chime in as well as they have done some work around metrics reporting on their end and might have additional thoughts. Add

[2020-06-17 21:48] edgarRd commented on #1116
Thanks @chenjunjiedada, I was able to reproduce.

I've been looking into this and I think https://github.com/apache/iceberg/commit/bca6380c56469c01f4eb02cb91f905dd57ad03d3 seems to fix both test cases as they are.

However, I added a test case https://github.com/apache/iceberg/commit/e61cc6187c6a13b7913f66f548f4be9d05d2a717 for multiple timezones on `TestLocalScan testFilterWithDateAndTimestamp` a

[2020-06-17 23:27] #1118 closed

[2020-06-17 23:36] edgarRd commented on #1116
I think the failures in my test above are coming from the residual filters, after adding `TypeID.DATE` in https://github.com/apache/iceberg/blob/master/orc/src/main/java/org/apache/iceberg/orc/ExpressionToSearchArgument.java#L62 the tests pass.

[2020-06-18 00:24] rdblue commented on #358
I think this is complete enough to close.

[2020-06-18 00:24] #358 closed

[2020-06-18 06:16] chenjunjiedada commented on #1116
@edgarRd, so would you add it to the unsupported list? Or do we have some way to fix this?

[2020-06-18 06:55] shardulm94 commented on #1116
One interesting thing to note is that in the tests added by @edgarRd, if we run the test for each timezone individually, they work just fine. Only when the tests are run one after the other does it fail. I haven't debugged this deeply, but my best guess is that ORC uses ThreadLocals to store the local timezone (I have seen these). And these ThreadLocals are not getting reset across tests which cau

[2020-06-18 08:02] edgarRd commented on #1116
@shardulm94 right, I did notice that the tests pass individually. I think this seems to point to an ORC bug failing to update a TimeZone.

To make the tests pass locally from master for folks in other time zones I can add the DATE to unsupported for now and push my PR if folks are okay with those fixes?

[2020-06-18 08:37] shardulm94 commented on #1116
@edgarRd Yes, that should be okay. I am not sure though if it is reasonable to expect ORC to function with multiple timezones within the same thread. So wondering if we should file an issue against ORC.

[2020-06-18 20:10] edgarRd commented on #1116
@shardulm94 I think the behavior should be the same regardless of the timezone and thread state running - like parquet and avro behave in the tests - hence I do think this should probably be a bug as it leads to unexpected results and would pretty much prevent us from having tests on DATE for multiple timezones.

[2020-06-21 15:07] GrigorievNick opened #1131 "Question: Does it possible `Concurrent write operations` over s3?"
Hi ICBQm community please help me to understand how icbq grant commits consistency on s3 for concurrent writes.
From [icbq documentation ](https://iceberg.apache.org/reliability/#concurrent-write-operations)
[code]
But Lest image situation:
User one writes data to the table and then commits a new snapshot. But commit where? To **file**(Valid snapshots in an Iceberg table are stored the table metad